[2021-07-15 12:34] wawltor commented on #756
我在自己的机器上没有复现这个问题，请问一下，您的环境是windows环境吗？

[2021-07-15 13:05] Junshuai-Song commented on #756
我是linux环境，CentOS 7.2

[2021-07-15 14:15] wawltor commented on #756
麻烦再提供一下PaddlePaddle的版本

[2021-07-15 15:14] thunder95 commented on #741
@wawltor 训练cspider总是不成功， 请教下什么原因？ 运行的命令是
`bash ./train.sh 10 output/cspider_baseline --config conf/text2sql_cspider.jsonnet --data-root data/CSpider/preproc`

报错信息如下：

![8LY$4KUD)WMN{~}~2T%JH`D](https://user-images.githubusercontent.com/22673612/125812313-e8f816f7-901b-4ec9-9c0b-ca9938d95a86.png)

在conf里设置预训练模型后：
`        init_model_params: 'data/trained_model/cspider.pdparams',`
又报了另外的错：
[code]

[2021-07-16 01:07] #654 closed, assigned to joey12300

[2021-07-16 01:08] #659 closed, assigned to wawltor

[2021-07-16 01:10] #731 closed, assigned to joey12300

[2021-07-16 03:55] Junshuai-Song commented on #756
paddlepaddle-gpu==2.1.1.post101

[2021-07-16 04:06] wawltor commented on #756
抱歉 我们这边在内部的多个机器上和云上的机器都没有复现您的问题，可能还是和设备的网络连接有一定的关系

[2021-07-16 06:01] Junshuai-Song commented on #756
好的  暂时的解决方式就是先单卡运行一遍保证数据已下载。
那我先close，感谢回复！

[2021-07-16 06:01] #756 closed, assigned to wawltor

[2021-07-16 06:32] kjf4096 opened #759 "文本相似度问题"
请问一下：“超过历史最高分的选手可额外获得大奖：小度在家” 和 “超过历史最高分且是新榜首的选手可额外获得大奖：小度在家”，这两句话语义是一样的吗？

我认为：
第1句话表达的意思应该是：不管本次成绩是第几名，只要是本次成绩超过历史成绩（不含本次成绩）最高分的选手，都可以获得小度在家。
第2句话表达的意思是：只有本次成绩是第1名，并且本次成绩超过历史成绩（不含本次成绩）最高分的选手，才可以获得小度在家。

但是有飞桨工作人员认为两句话表达的意思是一样的。

我想知道，这两句话表达的语义是一样的吗？我理解错了吗？

[2021-07-16 07:24] wawltor opened #760 "PaddleNLP DataLoader支持原始文本输出"

[2021-07-16 08:10] jack-zhen opened #761 "BiLSTM模型转onnx后推断结果和在paddle里不一致"
paddlepaddle-gpu_2.1.0.post101
cuda 10.1
cudnn 7.6.5
paddleNLP 2.0

模型是paddleNLP中示例模型 examples/model_compression/distill_lstm/small.py 中BiLSTM模型，蒸馏后转为onnx模型，使用onnxrumtime(python) 推理结果和paddle中推理结果相差很大，逐层排查发先self.lstm返回值不一致，lstm返回 (y, (h, c))其中y是一致的，h，c不一致，且相差很大，不是精度损失。

请各位大神帮忙看看！！！

模型代码：
[code]

转onnx代码：
[code]

[2021-07-16 09:09] ZeqiangWangAI opened #762 "CRF-前向计算错误"
环境：
paddlehub              2.0.4
paddlenlp              2.0.5
paddlepaddle-gpu       2.0.2.post101
代码：

训练代码
for epoch in range(10):
        for token_ids, lengths, label_ids in train_loader:
            loss = model(token_ids, lengths, label_ids)
            loss = loss.mean()
            loss.backward()
            optimizer.step()
            optimizer.clear_grad()
            step += 1

[2021-07-16 09:23] wawltor commented on #762
辛苦升级一下PaddlePaddle的版本

[2021-07-16 09:41] wawltor commented on #761
有点奇怪，因为Y是相同的，Y的计算需要H和C的，如果H和C不一样，Y应该是错误的
可以先判断一下H和C的shape，与onnx的H，C的shape是否一致？

[2021-07-16 10:30] ZeqiangWangAI commented on #762
更新到最新的paddle版本之后可以了 谢谢

[2021-07-16 17:14] littletomatodonkey opened #763 "model和tokenizer怎么指定文件夹"
把模型和字典拷贝到当前目录，运行下面的命令，无法成功构建tokenizer和model
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")
model = BertModel.from_pretrained("bert-base-uncased")

提示：

[code]

文件夹中包含`bert-base-uncased-vocab.txt`和`bert-base-uncased.pdparams`

[2021-07-17 04:30] yulangz opened #764 "unified_transformer中文输入退格导致UnicodeDecodeError"
在使用PaddleNLP/examples/dialogue/unified_transformer/interaction.py人机交互模式时，输入中文后使用退格键删除会导致UnicodeDecodeError，目前可以确定是因为utf-8下一个汉字占3个字节，退格键一次只会删除1个字节，解决方法是按3次退格，但是会导致屏幕中显示异常。不知道能不能从代码层面修改，或许也可以在Readme中提示一下。

[2021-07-17 07:12] linjieccc commented on #763
您好，无需把模型和字典拷贝到当前目录
执行
[code]
会自动下载`bert-base-uncased-vocab.txt`和`bert-base-uncased.pdparams`文件到`$HOME/.paddlenlp/models/bert-base-uncased`路径下并完成tokenizer和model的加载

[2021-07-17 07:55] littletomatodonkey commented on #763
目前我是希望可以加载自己训练的bert模型，然后发现指定本地文件夹会报错来着，目前是不支持指定本地文件夹路径的加载嘛还是？

[2021-07-17 09:54] linjieccc commented on #763
目前加载自己的tokenizer和model需要配置config file (`tokenizer_config.json`和`model_config.json`)
如果自己训练的模型是通过`save_pretrained()`接口保存的，便可以通过
[code]
来加载tokenizer和model

[2021-07-17 12:17] littletomatodonkey commented on #763
不是通过这个接口来保存的，只是将torch的模型转化过来了，bert的config file在哪里呢？我在repo和~/.paddlenlp目录里没找到

[2021-07-17 13:07] linjieccc commented on #763
加载`bert-base-uncased`的tokenizer和model
[code]
通过`save_pretrained()`保存到`./trained_model`，`./trained_model`包含`model_config.json`，`model_state.pdparams`，`tokenizer_config.json`，`vocab.txt`
[code]
从包含config file，模型和vocab的路径加载tokenizer和model
[code]

[2021-07-18 04:56] littletomatodonkey commented on #763
好的，感谢回复，可以work了~

[2021-07-18 04:56] #763 closed, assigned to linjieccc

[2021-07-18 08:07] #762 closed, assigned to wawltor

[2021-07-19 01:49] LangDaoAI commented on #742
已经确认还是容器环境问题，关闭

[2021-07-19 01:49] #742 closed, assigned to wawltor

[2021-07-19 02:15] jack-zhen commented on #761
好的，我修改模型直接使用y了，谢谢

[2021-07-19 02:15] #761 closed, assigned to LiuChiachi

[2021-07-19 07:50] littletomatodonkey opened #768 "关于torch bert和paddle bert diff的疑问"
你好，想问下paddle的bert word embedding这块，padding index参数为None，torch bert的word embedding的padding index参数为0，二者是否对齐过呢？

paddle的实现

https://github.com/PaddlePaddle/PaddleNLP/blob/6552a580218f0839897dbc64277d1be718449103/paddlenlp/transformers/bert/modeling.py#L47

torch的实现

https://github.com/huggingface/transformers/blob/6989264963d1f8871404889243d2f15de198ee42/src/transformers/models/bert/modeling_bert.py

[2021-07-19 07:51] littletomatodonkey commented on #768
理解来看的话，torch的去除pad token id的梯度的理解似乎更合适一些

[2021-07-19 11:10] littletomatodonkey commented on #768
另外，attention mask的构建方式与torch也稍有diff

paddle：
https://github.com/PaddlePaddle/PaddleNLP/blob/6552a580218f0839897dbc64277d1be718449103/paddlenlp/transformers/bert/modeling.py#L401

torch：需要指定attention mask的话，必须在model.forward中传入，否则和paddle的行为不一致

[2021-07-20 02:37] wawltor commented on #768
![image](https://user-images.githubusercontent.com/16698950/126253480-da884912-edae-420c-ace2-da9998f5e9fb.png)
您好，我们在处理Label的loss的时候就会把padding token相对应的label就不会回传梯度

[2021-07-20 02:41] wawltor commented on #768
<img width="703" alt="图片" src="https://user-images.githubusercontent.com/16698950/126253653-c7dcb97b-35c3-4345-8411-6e35c1404f4e.png">

不太明白您的意思，我们在forward里面也是可以传入attention_mask, 同时我们设计模型的结构的时候，并没有和HF去做对齐了，所以模型结构上可能会有区别

[2021-07-20 02:55] littletomatodonkey commented on #768
嗯嗯好的，我以为是和torch对齐了来着~感谢你的回复，多谢啦

[2021-07-20 02:55] #768 closed, assigned to wawltor

[2021-07-20 03:10] LangDaoAI opened #772 "text_classification\pretrained_models\train.py训练出现异常"
请Team看一下，当使用train.py训练时候出现如下异常， 使用的数据集是chnsenticorp

![image](https://user-images.githubusercontent.com/83859417/126256038-3eb93c78-31e3-4199-8286-320ace807bc4.png)

[2021-07-20 03:12] LangDaoAI commented on #772
我是修改了源码，变更为ernie-gram-zh预训练模型

![image](https://user-images.githubusercontent.com/83859417/126256248-c1dd527b-a2cd-4600-bc58-06028d385e6b.png)

[2021-07-20 03:28] LangDaoAI commented on #772
![image](https://user-images.githubusercontent.com/83859417/126257489-916be018-dec3-4ebf-8797-7eba53e57b69.png)

![image](https://user-images.githubusercontent.com/83859417/126257511-f4aee796-222a-4ae4-b603-24d81a53f0f0.png)

[2021-07-20 03:29] LangDaoAI commented on #772
我设置了batch是16，max length是256

[2021-07-20 03:41] linjieccc commented on #772
您好，可以换成ppnlp.transformers.ErnieGramForSequenceClassification再试下

[2021-07-20 03:41] KinvenW commented on #722
你好，请问你的问题解决了吗，我也遇到了同样的问题

[2021-07-20 04:28] #759 closed, assigned to nobody

[2021-07-20 04:29] ZeyuChen commented on #751
@timohaha 请clone下最新代码尝试下，我们解决了一些windows不兼容的问题。

[2021-07-20 05:05] ZeqiangWangAI commented on #722
解决了 您可以看一个关于BERT+LSTM+CRF的issue，通过设置ignore_label解决的这一问题

[2021-07-20 05:35] LangDaoAI commented on #772
![image](https://user-images.githubusercontent.com/83859417/126267183-4e97eea6-93cd-4aa6-9a9d-830c9f86238e.png)

换了之后，出现上面错误

[2021-07-20 05:39] LangDaoAI commented on #772
我是从以下地址下载了新的ernie_gram_zh模型，放到了$HOME/paddlenlp/models/ernie_gram_zh目录下面，

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie_gram/modeling.py#L106

[2021-07-20 06:12] timohaha commented on #751
谢谢，程序复现成功。

[2021-07-20 06:12] #751 closed, assigned to smallv0221

[2021-07-20 07:49] limin2021 opened #775 "paddlenlp安装问题"
请问，如何使用setup.py的方式源码安装paddlenlp？

[2021-07-20 08:19] limin2021 commented on #775
已解决：python setup.py install

[2021-07-20 08:19] #775 closed, assigned to nobody

[2021-07-20 12:13] cucumberpieces opened #777 "请问目前有支持基于ernie-2.0版本的静态图转动态图的工具吗"

[2021-07-20 12:14] cucumberpieces commented on #777
请问目前有支持基于ernie-2.0版本的静态图转动态图的工具吗

[2021-07-21 03:25] Steffy-zxf commented on #777
你好！可以参考这里的参数转换脚本：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/paddlenlp/transformers/ernie/static_to_dygraph_params

首先，需要将静态图参数保存成ndarray数据，之后将静态图参数名和对应动态图参数名对应上，之后保存成动态图参数即可。

[2021-07-21 03:38] EquationPro opened #780 "可以使用java调用ernie-matching来进行文本匹配吗"
可以使用java调用ernie-matching来进行文本匹配吗，有合适的部署方式吗

[2021-07-21 10:36] tianxin1860 commented on #780
你好，我们近期会支持 python 接口的预测部署能力，欢迎关注~

[2021-07-21 10:50] livingbody opened #782 "PaddleNLP参加比赛都有哪些调优技巧？"
各位大佬们，PaddleNLP参加比赛都有哪些调优技巧？

[2021-07-21 17:02] #782 closed, assigned to nobody

[2021-07-22 02:51] chenxi00a1 opened #785 "做信息抽取，根据官方提示 预训练模型由"ernie-1.0"更换为"roberta-wwm-ext-large"， 开始训练还是正常的，然后f1 recall 一直都是0"
模型训练情况：
![M@UI2T UOTFOG{WV@{T3~GT](https://user-images.githubusercontent.com/49149464/126583532-6ec5663f-8cb9-44f9-adb5-af19c7349d1f.png)
模型改变代码：
![NFBAUB7`OQYQP53(737EZGK](https://user-images.githubusercontent.com/49149464/126583666-5695653d-0424-4f70-aeb9-83f61b59a9d2.png)
同时，还有一个线程问题。这个报错在启动训练过程中，时有时无：
![36e4b29e98d577a43248bfd31afddc8](https://user-images.githubusercontent.com/49149464/1265837

[2021-07-22 03:19] smallv0221 commented on #764
Interaction,py is just a demo, not a qualified application. Thanks for reporting this constraint. We have added this to our README. #774

[2021-07-22 04:31] lao-xu opened #786 "Ernie+dnn训练不收敛"
在ErnieModel后面接dnn，但是训练不收敛，或者说看起来没有在训练，不知道哪里错了？
class NLPDNNModel(nn.Layer):
    def __init__(self,  num_classes,  model):
        super().__init__()
        self.model = model
        self.fc1 = nn.Linear(768, num_classes)
    def forward(self, x):
        sequence_output，pool_output = self.model(x)
        y = self.fc1(pool_output)
        return y
model = NLPDNNModel(num_classes=30, model=ErnieM

[2021-07-22 06:44] Steffy-zxf commented on #785
你好！使用的是什么数据？代码参考的哪里的代码？建议参考：https://aistudio.baidu.com/aistudio/projectdetail/1639963?channelType=0&channel=0

[2021-07-22 08:22] wawltor commented on #786
目前的learning_rate多少了

[2021-07-22 09:15] lao-xu commented on #786
0.0001， 0.001都试过

[2021-07-23 01:28] wawltor commented on #786
如果方便的话 可以提供一份数据给我们 我们来调试看看 因为不同的数据表现不一样

[2021-07-23 03:20] lao-xu commented on #786
好的，请问如何给你们

[2021-07-23 03:41] joey12300 commented on #786
@lao-xu 您好，可以放在百度云盘或者发到我的个人邮箱136876878@qq.com

[2021-07-23 06:53] AI-Mart opened #789 "PaddleNLP/examples/dialogue/unified_transformer/ 预训练模型改成plato-mini后报错"
Epoch 1/3
WARNING:root:DataLoader reader thread raised an exception.
Traceback (most recent call last):
  File "D:/captura_record/paddle_基于深度学习的自然语言处理/84_dialogue_competition/dialogue/Chatbot/paddlenlp_wechaty/train_chat.py", line 155, in <module>
    train(args)
  File "D:/captura_record/paddle_基于深度学习的自然语言处理/84_dialogue_competition/dialogue/Chatbot/paddlenlp_wechaty/train_chat.py", line 96, in tr

[2021-07-23 15:12] lao-xu commented on #786
已发，谢谢

[2021-07-24 06:11] LangDaoAI commented on #772
已经解决了，关闭问题

[2021-07-24 06:11] #772 closed, assigned to linjieccc

[2021-07-24 06:12] LangDaoAI opened #790 "关于多任务学习"
Team,

有没有多任务学习的案例可以参考一下，比如，既分类，又输出情感，希望一个模型同时两个或多个任务，重用中间学习能力，避免多个模型节省线上GPU资源和维护成本。

[2021-07-24 06:38] LangDaoAI commented on #790
有一个疑惑： 看到 https://github.com/PaddlePaddle/PALM/tree/master/examples/classification  也就是paddle palm是做多任务学习， 该repository是否已经out of date， 后面要全部移植到paddlenlp中， 还是说以后多任务的case也要集成在paddlenlp repo中并且使用paddle palm做多任务学习呢？

[2021-07-24 07:34] LangDaoAI commented on #760
+1， 已经实际遇到了这个问题， 虽然可以最终做索引对齐处理

[2021-07-24 14:02] lao-xu commented on #786
已解决，谢谢

[2021-07-25 03:41] LangDaoAI opened #791 "关于few shot模型中的样本不均衡性"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/few_shot/efl/data.py 中有一个ToDo，关于样本不均衡性处理， 想知道应该如何去做这样处理， 目前代码并没有这样去考虑，可以提供一些建议吗，谢谢！

![image](https://user-images.githubusercontent.com/83859417/126886987-5964b48f-82f5-4319-992e-8f6093da7370.png)

[2021-07-25 09:09] Steffy-zxf commented on #791
你好！关于数据类别分布不均衡的问题，可以采用以下方法解决：
1）欠采样，即去除一些多数类中的样本使得正例、反例数目接近，然后再进行学习。
2）过采样，即增加一些少数类样本使得正、反例数目接近，然后再进行学习。
3）修改分类阈值，因为数据集存在类别不均衡的情况，所以直接训练分类器会使得模型在预测时更偏向于多数类，所以不再以0.5为分类阈值，而是针对少数类在模型仅有较小把握时就将样本归为少数类。
4）使用Focal loss计算损失函数值。Focal loss是一个能较好适应类别不均衡的损失函数。

以上方法仅供参考，需要结合具体数据和任务解决问题。

[2021-07-25 10:00] LangDaoAI commented on #791
好的感谢！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Steffy-zxf ***@***.***>
Sent: Sunday, July 25, 2021 5:09:39 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 关于few shot模型中的样本不均衡性 (#791)

你好！关于数据类别分布不均衡的问题，可以采用以下方法解决：
1）欠采样，即去除一些多数类中的样本使得正例、反例数目接近，然后再进行学习。
2）过采样，即增加一些少数类样本使得正

[2021-07-26 03:30] tianxin1860 commented on #791
此处的样本不均衡是指 `EFL` 策略2分类任务中: 正、负样本的不均衡，经实验验证: 负样本的采样数量在类别数较大的条件下对模型效果影响较大，您使用过程中仅需要对负样本采样数量 `neg_num` 这个超参数多跑几组实验，挑选最合适的 `neg_num` 即可。

[2021-07-26 03:40] LangDaoAI commented on #791
是的，你说的很正确， 我的场景是14类， 然后有一半近7个类别的样本是很少的，那么在这种情况下， neg_num增大的策略是随机增大吗， 或者说这种情况下EFL依然针对这7个类别有识别能力吗， 我一方面会调整采样的策略，尽可能针对性地包含这7个类别，同时，再想想办法弥补稀疏地负样本。

[2021-07-26 06:54] tianxin1860 commented on #791
14 个类别的话，建议 `neg_num` 超参数分别选取 1, 7, 13 跑 3 组实验先明确在你的场景下 `neg_num` 对实验效果的影响以及实验效果如何，EFL 策略对所有 14 个类都具有识别能力；如果想进一步验证调整类别间样本平衡对模型性能的影响: 建议可以把样本数很少的 7 个类别训练数据多 copy 几份即可。

[2021-07-26 08:17] w5688414 opened #799 "AttributeError: 'bool' object has no attribute 'astype'"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlepaddle-gpu       2.1.0.post101
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本

ai studio

- 复现信息：如为报错，请给出复现环境、复现步骤
pip install paddlenlp --upgrade

[code]

[code]

[2021-07-26 09:31] LangDaoAI commented on #791
好的感谢！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: tianxin ***@***.***>
Sent: Monday, July 26, 2021 2:54:46 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 关于few shot模型中的样本不均衡性 (#791)

此处的样本不均衡是指 EFL 策略2分类任务中: 正、负样本的不均衡，经实验验证: 负样本的采样数量在类别数较大的条件下对模型效果影响较大，您使用过程中仅需要对负样本采样数量 neg

[2021-07-26 10:51] libertatis commented on #799
我简单做了一下实验，发现 `tokenizer` 返回的 `input_ids` 和 `token_type_ids` 都是一个列表。
[code]
输出：
[code]
而当 `attention_mask` 为 `None`，我们在构建 `attention_mask` 时，执行如下代码：
[code]
输出结果为 `bool` 值 `False`。对于这个例子，我们预期得到的应该是和 `input_ids` 长度相同，元素全为 `False` 的列表或 `Tensor` 才对。
我将 `input_ids` 转换为 `Tensor` 后，就比较符合预期了。
[code]
输出：
[code]
再执行：
[code]
输出结果如下：
[code]
所以我猜测这里创建 `attention_mask` 时是不是没有考虑到 `input_ids` 是一个列表，而是直接把它当成一个 `Ten

[2021-07-26 10:59] tianxin1860 commented on #799
`tokenizer` 返回的切词结果为 python 的 `list` 数据类型,  模型 `model` 接受的输入是 paddle `Tensor 类型`,  使用 `paddle.to_tensor` 接口将 `list` 转换为 `Tensor` 即可

[2021-07-26 11:18] libertatis commented on #799
一段本文字符串，经过 `tokenizer` 后，最先被转化为 `list`，在到达模型输入前，它还经历了组 `batch`，构建 `DataLoader` 等一系列流程，我想一般我们写代码时没有显示将 `input_ids` 转换为 `Tensor`，而代码还能正常运行，应该是在这一系列处理的过程中已经隐式的转换为模型需要的 `Tensor`了~

[2021-07-26 11:30] tianxin1860 commented on #799
是的，就是这个逻辑.

[2021-07-26 17:17] AlinLaw opened #800 "BERT Compression Based on PaddleSlim 导出不同depth子模型问题"
import argparse
import logging
import os
import random
import time
import json
from functools import partial

import numpy as np
import paddle
import paddle.nn as nn
import paddle.nn.functional as F

from paddlenlp.transformers import BertModel, BertForSequenceClassification, BertTokenizer
from paddlenlp.utils.log import logger
from paddleslim.nas.ofa import OFA, utils
from paddleslim.nas.ofa.conv

[2021-07-27 03:38] smallv0221 commented on #789
请问运行的是finetune.py么

[2021-07-27 03:39] AI-Mart commented on #789
是的 训练模型的时候报错

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 中午11:38
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2021-07-27 03:55] smallv0221 commented on #789
不好意思我们的readme写的不太准确。plato-mini是不能用于任务型对话任务的。

[2021-07-27 03:57] AI-Mart commented on #789
那你们的文档要更新下，另外我要怎么微调plato-mini呢，我想融入自己的数据集

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 中午11:56
***@***.***&gt;;
***

[2021-07-27 04:17] smallv0221 commented on #789
您可以把utils.py中第66行的task_type改为None试试

[2021-07-27 05:13] JunnYu opened #801 "Bert分词无法识别特殊标记[MASK]等字符。"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.0.6，PaddlePaddle2.1.1
2）系统环境：Windows，python3.7
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]
其中[MASK]特殊标记被拆成了 '[', '[UNK]', ']'，我想要的结果是['今', '天', '[MASK]', '非', '常', '好', '!']。
Huggingface仓库中的tokenizer分词正常。

[2021-07-27 06:39] AI-Mart commented on #789
谢谢，改了确实运行没有报错，但是不知道这样更改会不会对训练效果有影响呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 中午12:17
***@***.***&gt;;
***@***.

[2021-07-27 07:59] smallv0221 commented on #789
我觉得应该没有影响，但我们确实不太推荐对plato-mini继续训练

[2021-07-27 08:01] AI-Mart commented on #789
我想引入自己的数据集呢，就是日常对话的数据偏我的数据集那样的回复，在这上面增量训练，你们不推荐的原因是什么呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 下午3:59
***@***.

[2021-07-27 08:03] smallv0221 commented on #789
我们不推荐的原因是这个模型已经在大规模语料上finetune好了，继续finetune可能会有模型退化这种不可知的影响。当然也可能不会。

[2021-07-27 08:05] AI-Mart commented on #789
那如果我要定制闲聊的机器人应该如何操作呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 下午4:03
***@***.***&gt;;
***@***.******@***.***&gt

[2021-07-27 08:27] smallv0221 commented on #789
您可以训练plato-mini试试，也可以尝试把模型换成`unified_transformer-12L-cn`，然后把task_type设成“chitchat”

[2021-07-27 08:29] AI-Mart commented on #789
好的，不过unified_transformer-12L-cn是千万级数据集训练得出来的，词的语义表示会不会plato更准确呢，毕竟plato训练的数据集是过亿的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021

[2021-07-27 08:30] smallv0221 commented on #789
这就看您自己数据集的质量了，如果不大的话可能效果会不如直接使用plato-mini

[2021-07-27 08:32] AI-Mart commented on #789
了解了 谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月27日(星期二) 下午4:30
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re

[2021-07-27 08:32] smallv0221 commented on #789
不客气

[2021-07-27 10:59] leerumor opened #805 "调用WordTag报错：No module named 'paddle.io'"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
[code]

2）系统环境：
[code]

- 复现信息：
安装paddlenlp
[code]
运行官方代码：
[code]
报错：
[code]

[2021-07-27 11:02] wawltor commented on #805
辛苦升级PaddlePaddle到最新的版本

[2021-07-27 11:58] LangDaoAI opened #806 "关于few-shot learning的EFL模型中的max_seq_length"
由于EFL是用蕴涵语句拼接原来的输入sentence， 因此，如果我的原来的输入sentence的语句长度已经超过了max_seq_length（512）,那么，该模型是从拼接后的语句（sentence1+sentence2)截断 还是 先截断sentence1然后拼接sentence2？ 如果是从拼接后的语句（sentence1+sentence2)截断，我就要在做数据的时候考虑样本的长度了，否则，把蕴涵语句截了那就出问题了。

希望能够得到回复，谢谢！

[2021-07-27 12:35] leerumor commented on #805
解决了！谢谢

[2021-07-27 12:35] #805 closed, assigned to nobody

[2021-07-27 12:40] tianxin1860 commented on #806
先截断 sentence1 然后拼接 sentence2，不存在你担心的问题.

[2021-07-27 12:51] LangDaoAI commented on #806
感谢！

[2021-07-27 12:51] #806 closed, assigned to tianxin1860

[2021-07-27 13:42] ZeyuChen commented on #790
@LangDaoAI PALM当前尚未升级到paddle 2.0.
我门后续评估新增多任务学习的example，但多任务学习并不是太通用，根据实际情况调参技巧会比较高，打比赛比较使用。工业实践不一定有单业务单模型实用。

[2021-07-27 13:45] LangDaoAI commented on #790
噢， 感谢回复，后面期待example出来。

[2021-07-28 02:50] geekChinaMaster opened #809 "paddlenlp使用ernie-tiny训练NER效果不如paddehub训练效果"
paddlenlp版本：2.0.5
paddlehub版本：2.1.0
paddlepaddle版本：paddlepaddle-gpu 2.0.2.post110
系统：centos
问题描述：
**使用自建命名实体识别数据集训练集，数据量为7万多条，同样的学习率，进行NER训练，使用paddlenlp和paddlehub训练出来的指标差别很大，paddehub训练出来的模型在测试集上的的f1有0.95，paddlenlp训练出来的模型在测试集上的f1只有0.7，请问什么原因导致的，之前使用paddlenlp也有过这种情况，希望可以解答一下**
**首先是paddlenlp使用ernie-tiny进行训练代码如下：训练10个epoch，最终的f1只有0.7**
[code]
**换了paddlehub进行训练，同样加载ernie-tiny，同样的数据，训练10个epoch，f1为0.95，

[2021-07-28 04:08] joey12300 commented on #809
@geekChinaMaster 你好，方便提供数据复现代码吗？

[2021-07-28 04:48] libertatis commented on #801
刚才试了一下，`PaddleNLP` 的 `tokenizer` 在对一个字符串分词的时候，并没有把字符串中的特殊标记 `['[UNK]', '[PAD]', '[SEP]', '[MASK]', '[CLS]']` 当作一个整体看待，而是都分成了 `'[', '[UNK]', ']'`。感觉这样做不太合理~

[2021-07-28 05:48] wuxiaobo opened #810 "RuntimeError: thread constructor failed: Resource temporarily unavailable"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/paddlenlp/taskflow/text2knowledge.py", line 513, in _run_model
    for batch

[2021-07-28 05:49] wuxiaobo commented on #810
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp ==2.0.6
paddlepaddle==2.1.1
2）系统环境：MacOS/，python3.7

[2021-07-28 06:02] geekChinaMaster commented on #809
这是我们自己的数据，如果需要的话我可以私发给你，留一个地址吧

[2021-07-28 06:14] joey12300 commented on #809
@geekChinaMaster 谢谢您！邮箱：zhoushunjie1993@gmail.com

[2021-07-28 06:37] geekChinaMaster commented on #809
已经发送，请查收~

[2021-07-28 06:40] JunnYu commented on #801
我看huggingface实现的时候，他们好像是用句子中的特殊标记分割句子。
举个例子：
（1）`"今天[MASK]非常好!"` -> chunk_list = ["今天","非常好！"]
（2）然后分别对chunk_list中每个句子再进行tokenizer：
`“今天”->[“今”，“天”]`
`"非常好！"->["非"，“常”，“好”，“！”]`
（3）最后组合：
`[“今”，“天”] + ["[MASK]"] + ["非"，“常”，“好”，“！”]`

[2021-07-28 07:26] joey12300 commented on #809
@geekChinaMaster 已收到，感谢

[2021-07-28 07:37] smallv0221 commented on #801
Our tokenizer design is different from HF. It is more like google's Bert tokenizer. You can add special tokens like `[MASK]` after using `tokenizer.tokenize()`.

[2021-07-28 08:13] LangDaoAI commented on #791
我修改了EFL的模型代码， 在命令行加入指定的负采样类别， 显式对这些极少类做采样， 比如以下命令：

python train.py --task_name "honorcrisis" --save_dir ./checkpoints --sample_negative_classes "1|2|3|4"，

然后代码中对data.py做负采样增强如下：

![image](https://user-images.githubusercontent.com/83859417/127288075-f6c1c893-415b-432a-8bb8-1e8d4620af3e.png)

这样的话，保证每次蕴涵模板可以采样到这些少类的样本，做语言训练的增强。

[2021-07-28 08:27] wawltor commented on #810
目前PaddlePaddle 2.1.1的版本在mac os系统DataLoader有点问题，你可以参考这个PR  https://github.com/PaddlePaddle/Paddle/pull/34301/files  把paddle相应的代码删除处理一下

[2021-07-28 16:26] #801 closed, assigned to smallv0221, Steffy-zxf

[2021-07-29 06:24] Desperado-Jia opened #813 "paddlenlp.taskflow.Taskflow("text2knowledge", "wordtag")模型数据推断线程爆炸"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.6，PaddlePaddle2.1.0
2）系统环境：MacOS，python3.7

model = Taskflow("text2knowledge", "wordtag")
for sample in samples_list:
    result = model(sample)

进行全量数据推断时，执行到约1000条样本时出现线程爆炸的问题，报错：can't start new thread

[2021-07-29 08:31] tim20112017 opened #815 "做快递单提取时，采用高级api modle.fit 训练 与 ChunkEvaluator 时报错"
paddlepaddle 2.1.0
paddlenlp 2.0.2

代码：
metric = ChunkEvaluator(label_list=label_vocab.keys(), suffix=True)
input_ids = InputSpec((-1, -1), dtype="int64", name="input_ids")
input_token_type = InputSpec((-1, -1), dtype="int64", name="input_token_type")
# seq_len = InputSpec((-1, -1), dtype="int64", name="seq_len")
labels = InputSpec((-1, -1), dtype="int64", name="labels")
model = paddle.Model(pre_m

[2021-07-29 08:49] wawltor commented on #813
1. 修复PaddlePaddle的版本的问题，如果是PaddlePaddle 2.1.1或者PaddlePaddle 2.1.2的版本，通过https://github.com/PaddlePaddle/Paddle/pull/34301/files 来修复DataLoader的问题
2. 拉取最特定PaddleNLP分支(未合入)，https://github.com/PaddlePaddle/PaddleNLP/pull/817，或者PR的修改加入自己的paddlenlp包中

[2021-07-29 09:30] #813 closed, assigned to wawltor

[2021-07-29 09:30] Desperado-Jia commented on #813
done

[2021-07-29 09:31] tim20112017 commented on #815
paddlepaddle 2.1.0
paddlenlp 2.0.2

[2021-07-30 06:31] wawltor commented on #815
这个主要是因为目前paddle的高阶API的要求Loss和Metric的输入是一致的，这个依赖于框架的修复。目前的状态，是不太建议在快递单抽取上使用高阶API了。

[2021-07-30 07:05] joey12300 commented on #809
针对该问题，PaddleHub在计算F1指标，要求标签是前缀形式（即B-XXX, I-XXX），而用户@geekChinaMaster 提供的数据集的标签均是后缀形式（XXX-B, XXX-I）。这样的结果会导致PaddleHub计算F1的时候出现bug，导致结果偏大。该bug将在日后的版本进行修复，目前F1值应该以PaddleNLP的结果为准。

[2021-07-30 07:15] geekChinaMaster commented on #809
好的，明白了，谢谢~

[2021-07-30 07:15] #809 closed, assigned to joey12300

[2021-07-30 08:48] Desperado-Jia opened #822 "wordtag模型如何自定义添加命名实体及对应词类"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.7，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如MacOS，python3.7版本

问题背景：现有算子未正确识别出很多影视作品名称，e.g., 小兵张嘎，现有算子识别结果是：(小兵，张嘎)；风犬少年的天空情非得已第几集，现有算子识别结果是：（风犬少年的天空情非得已，第几集），应当识别结果为：（风犬少年的天空，情非得已，第几集）
需求描述：
需要自定义添加实体及对应wordtag_label

[2021-07-30 10:13] tim20112017 commented on #815
了解了，谢谢。

[2021-07-30 10:49] dlkht opened #824 "tansformer translation服务器部署时怎么利用tensorRT加速？"
目前能利用吗？怎么用呢？谢谢！

[2021-07-30 12:35] wawltor commented on #824
您好，目前我们在tansformer类的模型上，使用tensorrt的精度还有问题，还不能利用tesnorrt做加速。精度的问题我们正在测试，有结论反馈给您！

[2021-07-31 01:33] dlkht commented on #824
谢谢！

[2021-08-01 02:40] guoshengCS commented on #824
如果是希望加速的话也可以试下PaddleNLP中集成的FasterTransformer https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer/faster_transformer

[2021-08-01 10:39] linghaolu opened #825 "安装完成后直接把paddle环境破坏了"
python 3.6.0
paddle1.8.5
按照说明安装完成 paddlenlp，导致paddle包无法正常加载

/home/work/opt/python3.6/lib/python3.6/site-packages/paddle/fluid/core.py:194: UserWarning: Load /usr/lib64/libgomp.so.1 failed
  warnings.warn("Load {} failed".format(dso_absolute_path))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/work/opt/python3.6/lib/python3.6/site-packages/paddle/__init__.p

[2021-08-01 12:26] ZeyuChen commented on #825
@linghaolu 请使用paddlepaddle 2.1.0以上版本。
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/windows-conda.html
请参考安装文档

[2021-08-02 03:46] wawltor commented on #822
这个依赖于二次构造数据来进行finetune，同时要更新termtree信息。wordtag分为两个步骤
1）通过BIOES体系进行分词
2）将分词后的信息和TermTree进行匹配
因此需要做以下两个事情
1）需要分词正确，这里可能依赖于wordtag的finetune数据，来让分词正确
2）wordtag里面也需要把分词正确后term打上相应的知识信息

finetune的部分可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/ernie-ctm

[2021-08-02 05:17] LangDaoAI opened #827 "few shot EFL模型推理部署后， 出现DataType of equal Op's duplicable Variable Y must be consistent的异常"
few shot EFL模型推理部署后， 出现DataType of equal Op's duplicable Variable Y must be consistent的异常：

![image](https://user-images.githubusercontent.com/83859417/127807559-d4667a41-571d-4c83-a29f-0f39fd5754ac.png)

我使用的部署推理脚本如下：

![image](https://user-images.githubusercontent.com/83859417/127807608-6d4f39ac-5b68-4390-b47d-3a4f09a42b62.png)

请求Team验证， 比较急， 感谢！

[2021-08-02 07:34] LangDaoAI commented on #827
以下是我这边客户端：

# coding='utf-8'
import json
import traceback
from functools import partial

import paddle
from flask import Flask, request, Response
import numpy as np
import paddlenlp as ppnlp
from paddlenlp.data import Tuple, Pad
from paddle import inference
import paddle.nn.functional as F
from gevent.pywsgi import WSGIServer

from data import processor_dict
from task_label_description import TASK

[2021-08-02 13:20] LangDaoAI opened #831 "【Bug】EFL模型训练代码中output_dir创建失败"
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
100.0%
[2021-08-02 13:16:42,623] [    INFO] - Already cached /root/.paddlenlp/models/ernie-1.0/ernie_v1_chn_base.pdparams
W0802 13:16:42.624711 18335 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.2, Runtime API Version: 11.2
W0802 13:16:42.631032 18335 device_context.cc:422

[2021-08-02 13:20] LangDaoAI commented on #831
正确修补如下：

 output_dir = os.path.join(args.output_dir)
        if not os.path.exists(output_dir):
            os.makedirs(output_dir)
        output_file = os.path.join(args.output_dir,
                                   str(epoch) + predict_file[args.task_name])

[2021-08-02 14:00] LangDaoAI commented on #827
【更新】
我用2.0.7 版本的原生EFL代码也复现了， 我马上贴一下新做的客户端和导出static的脚本：

![image](https://user-images.githubusercontent.com/83859417/127873657-a028a52a-68f7-4b82-a98c-e1b17cf5f5d2.png)

[2021-08-02 14:01] LangDaoAI commented on #827
【efl_client.py】如下：
# coding='utf-8'
import json
import traceback
from functools import partial

import paddle
from flask import Flask, request, Response
import numpy as np
import paddlenlp as ppnlp
from paddlenlp.data import Tuple, Pad
from paddle import inference
import paddle.nn.functional as F
from gevent.pywsgi import WSGIServer

from data import create_dataloader, convert_example, processor_d

[2021-08-02 14:02] LangDaoAI commented on #827
【export静态模型脚本】如下：

import argparse
import os

import paddle
from paddlenlp.transformers import ErnieForSequenceClassification

parser = argparse.ArgumentParser()
parser.add_argument("--params_path", type=str,
    default='./checkpoints/model_150/model_state.pdparams',
    help="The path to model parameters to be loaded.")
parser.add_argument("--output_path", type=str, default='./static_graph/stati

[2021-08-02 14:55] tianxin1860 commented on #827
收到，基于静态图的部署方案我们正在进行中。

[2021-08-02 16:29] #825 closed, assigned to ZeyuChen

[2021-08-03 02:36] #815 closed, assigned to joey12300

[2021-08-03 03:10] geekChinaMaster opened #835 "paddlenlp使用预训练模型实现快递单信息抽取中CrossEntropyLoss()指定weight报错"
- 版本、环境信息
1）**PaddleNLP和PaddlePaddle版本：paddlenlp==2.0.7 paddlepaddle-gpu==2.1.0.post101**

2）系统环境：aistudio
**paddlenlp使用预训练模型实现快递单信息抽取中CrossEntropyLoss()指定weight，出现报错**
损失函数为：paddle.nn.loss.CrossEntropyLoss(weight=weight)
其中的weight为：
Tensor(shape=[13], dtype=float64, place=CUDAPlace(0), stop_gradient=True,
       [0.20000000, 0.20000000, 0.10000000, 0.10000000, 0.10000000, 0.10000000, 0.10000000,

[2021-08-03 04:50] ceci3 commented on #800
抱歉，稍后我提供一个示例哈~

[2021-08-03 06:04] LangDaoAI commented on #827
感谢 @tianxin1860 以及百度NLP团队协力定位问题， 问题已经确认， 我这边修改客户端以及再次确认后就关闭问题

[2021-08-03 06:10] LiuChiachi commented on #800
十分抱歉，回复有些晚了。参数文件是一个dict，深度裁剪可以直接用对这个dict进行随意操作就可以了。欢迎继续交流：）

[2021-08-03 06:20] LangDaoAI commented on #827
![image](https://user-images.githubusercontent.com/83859417/127967328-7c78c27f-956c-48b1-b812-c9e5bad72047.png)
![image](https://user-images.githubusercontent.com/83859417/127967481-7cb05ef5-692a-49f8-a17a-c3629456fe20.png)

修改了客户端HTTP接口，已经确认通过了！

[2021-08-03 06:20] #827 closed, assigned to tianxin1860

[2021-08-03 07:18] joey12300 commented on #835
@geekChinaMaster 您好，目前CrossEntropyLoss不支持含有ignore_index的label序列进行weight设置。目前一个解决方案是：
1. 将ignore_label设为len(label_list)，即13。
2. 将weight的长度从13改为14，第14个weight设为0

[code]

[2021-08-03 08:07] geekChinaMaster commented on #835
有两个问题：
1. 这块如果ignore_label如果设为13，也就是还代表是’O‘标签是吗
2. 就是如果我想正常运行的话要同时将ignore_label设为13，将weight的长度从13改为14，第14个weight设为0，是吗，这样修改模型的效果会不会收到影响

[2021-08-03 08:14] joey12300 commented on #835
1. 不是。'O'标签应该是12吧，因为是从0开始的。所以13就是label表以外的数了。
2. 不会，因为13这个label的weight设为0，不参与loss计算，反向不会更新相对应的embedding，不影响模型效果

[2021-08-03 08:20] geekChinaMaster commented on #835
好的，谢谢你啊~

[2021-08-03 10:06] geekChinaMaster commented on #835
刚才试了一下
按照上面所说，将ignore_label设为了13
将weight设为了weight = paddle.to_tensor(np.array([0.2,0.2,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.0],dtype='float64'))
运行代码报错：
[code]

[2021-08-03 12:52] tianxin1860 commented on #831
已提 PR 修复: https://github.com/PaddlePaddle/PaddleNLP/pull/840/files， 感谢指出，也欢迎向我们提交 PR ~

[2021-08-03 12:53] #831 closed, assigned to tianxin1860

[2021-08-04 11:55] ColaFei opened #848 "动态图参数导出为静态图参数时报错numpy.AxisError: axis 0 is out of bounds for array of dimension 0"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
-

[2021-08-04 11:56] wawltor commented on #741
修复上述 cspider的bug https://github.com/PaddlePaddle/PaddleNLP/pull/828

[2021-08-04 12:02] ColaFei commented on #848
paddle 版本：v2.1.0
paddlenlp：develop  147a943383efe23593c20d1d104a6c3591bd628b
模型：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis
![image](https://user-images.githubusercontent.com/37499167/128177302-f7367770-9971-4917-bce3-3118fbec5597.png)

[2021-08-04 12:06] LangDaoAI opened #849 "文心等预训练模型以及下游任务的可解释性"
paddlenlp支撑的预训练模型以及相关下游任务， 迫切需要可解释性作为工业落地的另一个支撑， 比如基于预训练的多分类模型， paddle是否提供了分类的可解释性， 看到https://github.com/PaddlePaddle/InterpretDL 似乎是这样一个目标，但是与paddlenlp并没有集成， 请给与一些建议，谢谢！

[2021-08-04 12:15] ColaFei commented on #848
主要的修改是：paddle.reverse算子转paddlelite时候不支持，所以我自己重写了reverse函数，先把tensor转成numpy，flip之后再转成tensor
![image](https://user-images.githubusercontent.com/37499167/128179049-1f809aa2-e8fa-41a6-a434-97d5c412cf5d.png)

[2021-08-04 12:18] LangDaoAI commented on #849
刚刚调查了一下，使用LIME去做分类的可解释性应该是可以的， LIME并关注内部的模型是否是基于预训练，https://github.com/marcotcr/lime/issues/356

[2021-08-04 12:37] joey12300 commented on #835
@geekChinaMaster 看看完整代码？是不是前面pad_val没有设置13

[2021-08-04 12:41] joey12300 commented on #848
@ColaFei 您好，动转静要求模型代码里面不能调用numpy的api。理论上你可以试试[paddle.flip](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/flip_cn.html#flip)，看看能不能解决您的问题

[2021-08-04 12:55] ColaFei commented on #848
@joey12300 就是想重写paddle.flip，不能调用这个算子

[2021-08-04 12:56] zhoukaiwei66 opened #850 "导入paddlenlp后无法进入debug"
在python3.6，paddlenlp2.0.7环境下，当import paddlenlp后，无法进入debug，报错(<class 'ModuleNotFoundError'>, ModuleNotFoundError("No module named 'cv2'",), <traceback object at `0x000001DEA74F2B88>)，环境内没有安装也用不到opencv
代码为：
[code]
望知道原因的的大哥们能指教一下

[2021-08-04 13:16] LangDaoAI commented on #849
再次看了一下interpretdl， https://github.com/PaddlePaddle/InterpretDL/blob/master/tutorials/lime_tutorial_nlp_ERNIE.ipynb  应该解决了我的问题

[2021-08-04 14:00] wawltor commented on #850
你好，是如何进行debug的？

[2021-08-04 14:27] zhoukaiwei66 commented on #850
我是在使用pddlenlp做情感分析的时候，发现打断点不能进debug的，然后就写了上面的几行代码，在model处打上断点，发现进不了断点。

[2021-08-05 02:32] wawltor commented on #850
具体是用了什么工具打了断点了，以及具体的PaddlePaddle的版本是什么？ 我这边尝试用了pdb之后是有没有这个问题的

[2021-08-05 02:56] joey12300 commented on #848
@ColaFei 您好，请问您在什么平台上部署呢？paddlelite最近在develop合入了新的pr，支持reverse api，您试试使用develop分支能否成功部署？ PR：https://github.com/PaddlePaddle/Paddle-Lite/pull/6556

[2021-08-05 05:58] ceci3 commented on #800
https://github.com/PaddlePaddle/PaddleNLP/pull/853  可以用这份脚本导出深度和宽度的模型哈~

[2021-08-05 06:00] AlinLaw commented on #800
感谢！太感谢了！> https://github.com/PaddlePaddle/PaddleNLP/pull/853  可以用这份脚本导出深度和宽度的模型哈~

[2021-08-05 06:08] #800 closed, assigned to LiuChiachi, ceci3

[2021-08-05 06:51] ColaFei commented on #848
@joey12300 请问下：paddle.jit.save报这个错是什么原因啊？ValueError: Incompatible return values of true_fn and false_fn in cond: true_fn returns non-None while false_fn returns None

[2021-08-05 07:01] joey12300 commented on #848
辛苦贴出可复现的代码或者关键的代码片段。

[2021-08-05 07:02] ColaFei commented on #848
@joey12300 代码训练时重写了paddle.reverse
![image](https://user-images.githubusercontent.com/37499167/128306119-01cb282f-caf9-4267-9dc2-59c7dfdd2651.png)

[2021-08-05 07:09] joey12300 commented on #848
@ColaFei `if len(s) > axis` 假如这个分支条件不成立就返回了None值，无法进行动转静。尝试在else的时候返回一个out。

目前paddlelite在develop分支上已经支持reverse api，你可以试试使用paddlelite的develop版本看看能不能直接解决你的问题。

[2021-08-05 07:12] ColaFei commented on #848
@joey12300  现在是支持reverse，但是部署会有空指针的报错

[2021-08-05 07:23] joey12300 commented on #848
嗯嗯，你可以先试试自己实现的版本是否能解决你的问题。

另外，可以详细讲一下运行环境吗（硬件、操作系统（arm或者其他））？我将这个问题报给相关的人员排期解决。感谢反馈！

[2021-08-05 08:25] ColaFei commented on #848
@joey12300 你好，再请教下哈，我把BiGruCrf中Gru换成lstm之后导出为静态图还是报错，麻烦帮忙看看啥原因呗，多谢！
![image](https://user-images.githubusercontent.com/37499167/128317595-0df49ca4-8d38-4ad5-a403-881249ebf15c.png)

[2021-08-05 08:29] zhoukaiwei66 commented on #850
很奇怪，我给opencv安装上居然就好了，但是我没有用到opencv，不知道哪里出了问题，用的pycharm打的断点，paddlepaddle版本为2.1.0，但是总归是解决了，多谢大哥

[2021-08-05 09:45] geekChinaMaster commented on #835
谢谢您的解答，问题解决了~
确实，除了修改pad_val的修改和weight的修改，还需要在tag文件里面的最后加我们需要的pad_val值，这样就可以正确运行了

[2021-08-05 09:45] #835 closed, assigned to joey12300

[2021-08-05 11:18] guoshengCS commented on #638
这个问题已经在 https://github.com/PaddlePaddle/Paddle/pull/34140 中修复，还请升级到 paddle 2.1.2 版本试下。带来不便，还望见谅

[2021-08-05 12:05] kobe24o commented on #638
好的，多谢大佬们辛苦修复！

[2021-08-06 01:17] Avalon244 opened #855 "text_summarization文本摘要算法分布式训练错误"
- 版本、环境信息
1）PaddleNLP 2.0.3，PaddlePaddle2.1.0
2）系统环境：请您描述系统类型，例如Linux，python版本3.7.5
- 复现信息：在docker容器里使用text_summarization的train.py进行分布式训练，指令为python -m paddle.distributed.launch --gpus=0,1 train.py，,在log文件中生成的workerlog.1中报错：(Unimplemented) Place CUDAPlace(0) is not supported. Please check that your paddle compiles WITH_GPU, WITH_XPU or WITH_ASCEND_CL option or check that your train process set the

[2021-08-06 02:40] #850 closed, assigned to wawltor

[2021-08-06 03:54] wawltor commented on #855
看起来你安装的版本是一个cpu的版本，可以尝试安装一下GPU版本

[2021-08-06 04:36] Avalon244 commented on #855
版本没写清楚，是paddlepadfle-gpu2.1.0post101

[2021-08-06 09:03] #822 closed, assigned to wawltor

[2021-08-06 09:03] Desperado-Jia commented on #822
done

[2021-08-06 10:12] gongel commented on #855
1. 麻烦看一下你的cuda版本，参照官网安装PaddlePaddle：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html
2. 另外麻烦你单卡试试看，并提供完整的错误截图。

[2021-08-06 11:15] ImComingyo opened #860 "run_ernie_crf.py最新代码训练过程中loss变为0了"
All required modules installed.
[TRAIN] Epoch:0 - Step:1 - Loss: 77.990662
[TRAIN] Epoch:0 - Step:2 - Loss: 85.036980
[TRAIN] Epoch:0 - Step:3 - Loss: 75.353294
[TRAIN] Epoch:0 - Step:4 - Loss: 77.342087
[TRAIN] Epoch:0 - Step:5 - Loss: 62.213589
[TRAIN] Epoch:0 - Step:6 - Loss: 54.894947
[TRAIN] Epoch:0 - Step:7 - Loss: 52.430214
[TRAIN] Epoch:0 - Step:8 - Loss: 50.360401
[TRAIN] Epoch:0 - Step:9

[2021-08-06 12:05] thunder95 commented on #741
@wawltor 我简单制作了一份单表的训练数据，希望基于nl2sql模型进行finetune，  preproc这一步已顺利完成， 但是始终在训练时报错，希望大佬帮忙指点一下。 使用的是Research代码。

[code]

[2021-08-07 02:54] Avalon244 commented on #855
![e82b0d610c69a0d0455e37c8988ff3b](https://user-images.githubusercontent.com/54314261/128585676-875ecc23-1e45-47ec-b88c-b3209036f48f.jpg)
![9ba6d920f493d4d913cc5fb22dcba5f](https://user-images.githubusercontent.com/54314261/128585682-6efce625-e738-408a-80f2-391b58987abb.jpg)

[2021-08-07 08:47] chenxiaozeng commented on #824
您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱Paddle-better@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-08-07 09:13] #786 closed, assigned to wawltor

[2021-08-07 09:20] #764 closed, assigned to smallv0221

[2021-08-07 09:26] joey12300 commented on #860
@ImComingyo 您好，请问是哪个项目？

[2021-08-07 09:35] #729 closed, assigned to linjieccc

[2021-08-07 09:54] chenxiaozeng commented on #689
@justiceeem 您好，不知道您是否找到了合适的方案，方便的话可以留下您的联系方式，或者邮件联系我们Paddle-better@baidu.com，我们可以 1 对 1 沟通下，以便更好得解答您的问题。谢谢！

[2021-08-07 09:55] chenxiaozeng commented on #685
如果是文件大小限制，可以回到AI Studio项目页面，点击“修改”，添加数据集。

[2021-08-07 10:02] chenxiaozeng commented on #799
@libertatis 您好呀，关注到您活跃在PaddleNLP社区，不知道您是否有深入的技术交流或项目合作等需求，欢迎留下您的联系方式，或者邮件联系我们Paddle-better@baidu.com，期待进一步交流！

[2021-08-07 10:06] #679 closed, assigned to Steffy-zxf

[2021-08-07 10:17] chenxiaozeng commented on #658
#662

[2021-08-07 10:22] #651 closed, assigned to ZeyuChen

[2021-08-07 10:22] #650 closed, assigned to chenxiaozeng

[2021-08-09 01:13] ImComingyo commented on #860
https://github.com/PaddlePaddle/PaddleNLP/tree/28a95901ea107a65bdf3bf5d5d2c37998ee8f7e9/examples/information_extraction/waybill_ie
是这个，麻烦帮看看吧

[2021-08-09 02:30] joey12300 commented on #860
您好，请问您的paddle版本以及paddlenlp版本是多少？我这边复现的环境是：
[code]

我运行的命令为：`python run_ernie_crf.py`，从结果来看loss和F1值都挺正常的。

日志如下：
[code]

[2021-08-09 06:01] adeagle opened #883 "LAC训练数据集在哪里可以下载呢"

[2021-08-09 06:09] joey12300 commented on #883
@adeagle 您好，有关2.0版本的LAC模型可以参考该链接：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis

[2021-08-09 06:51] adeagle commented on #883
这只是部分数据集吧 我想训练一个跟你们精度一样的模型  去哪里下载数据集呢

[2021-08-09 06:58] joey12300 commented on #883
这里只提供样例数据，完整的数据集是不开源的~

[2021-08-09 07:40] adeagle commented on #883
好的 谢谢啊

[2021-08-09 08:34] SOVLOOKUP commented on #822
@wawltor 看了您的回答后理解了，但是还没完全理解，希望能再向您请教一些问题：

#### 自定义词项的流程是这样的吗?

1. 纠正 wordtag 结果给出正确的分词
2. 给这些分词打上知识信息
3. 将这些分词补充到知识树上
4. 重新运行 wordtag 得到正确结果

**其中有一些细节问题：**

1. 下面 wordtag 结果的每个字段的含义具体是什么？如果 wordtag 给出的结果是错误的，按什么标准纠正其结果？

[code]

2. 如何给 term 打上知识信息？

wordtag 的结果是这样的：

[code]

知识树上的一个词条是这样的，如何进行转换呢？

[code]

3. 补充知识树具体是如何实施的？可以在 python 中动态补充知识树吗？
4. 如何定义知识树中知识的树状层级关系？是在 subterms 字段中定义吗？

[2021-08-09 09:37] Tellyang7 opened #865 "ADE和DGU模型能否提供预训练模型"
您好，请问对话系统 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/legacy/dialogue_system
中的ADE和DGU模型是否有可供直接进行预测的预训练模型进行验证或使用，目前无法找到中文数据集进行自主训练啊。

[2021-08-09 09:38] AI-Mart opened #866 "https://gitee.com/paddlepaddle/PaddleNLP/tree/develop/examples/semantic_indexing 转静态模型报错"
batch_neg_v1.0 | margin:0.2 scale:30 epoch:3 lr:5E-5 bs:128 max_len:64 | 单卡v100-16g | da1bb1487bd3fd6a53b8ef95c278f3e6
hardest_neg_v1.0 | margin:0.2 epoch:3 lr:5E-5 bs:128 max_len:64 | 单卡v100-16g | b535d890110ea608c8562c525a0b84b5

batch_neg_v1.0 转换成静态模型时报错，转换代码如下：
``def main():
    # Constructs the newtork.
    # Load pretrained semantic model
    pretrained_model = ppnlp.transformers.ErnieModel.

[2021-08-09 09:59] Tellyang7 commented on #865
在 ./ade/prepare_data_and_model.py `找到了

`DATA_MODEL_PATH = {
    "DATA_PATH":
    "https://baidu-nlp.bj.bcebos.com/auto_dialogue_evaluation_dataset-1.0.0.tar.gz",
    "TRAINED_MODEL":
    "https://baidu-nlp.bj.bcebos.com/auto_dialogue_evaluation_models.3.0.0.tar.gz"
}`

请问，这个就是可直接下载使用的PTM吗？

[2021-08-09 12:28] ZeyuChen opened #867 "AutoTokenizer & AutoModel"
Since the number of transformer pre-trained model in PaddleNLP is growing so fast, so we need similar function of AutoToknizer and AutoModel like HuggingFace.
We can think about a easier way to call model and tokenizer.

[2021-08-10 03:43] gongel commented on #855
你好，目前已确认，train.py目前没有实现多卡训练。如需多卡，模型层面需要加`paddle.DataParallel`，可参考：[here](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/simultaneous_translation/stacl/train.py#L100)，数据层面batch sampler需要加`shard`，可参考：[here](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/simultaneous_translation/stacl/reader.py#L110)

[2021-08-10 04:44] tianxin1860 commented on #866
加载 `BatchNeg` 模型的时候应该用这个类
 `
model = SemanticIndexBatchNeg(
        pretrained_model,
        margin=args.margin,
        scale=args.scale,
        output_emb_size=args.output_emb_size)
`

[2021-08-10 09:00] Tellyang7 commented on #865
请问，提供的Aistudio的Demo中的 [IPython Notebook demo](https://aistudio.baidu.com/aistudio/projectDetail/122301) 预处理部分的文件，能够提供下载吗？

[2021-08-11 02:50] smallv0221 commented on #865
Sorry. `/legacy/dialogue_system` has been deprecated. Please see https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/dgu for the new DGU example.

[2021-08-11 08:54] Tellyang7 commented on #865
Thanks for your kindly reply, but the aims of DGU and [ADEM](https://github.com/PaddlePaddle/models/tree/release/1.7/PaddleNLP/dialogue_system/auto_dialogue_evaluation) (Auto Dialogue Evaluation Model) are not same, is there a better alternative projects?

Besides, what has confused me is the data format described in the [IPython Notebook demo](https://aistudio.baidu.com/aistudio/projectDetail/122

[2021-08-11 14:34] JunnYu opened #875 "offset_mapping 偏移错误"
# paddlenlp代码
[code]
# 结果
[code]
# huggingface 代码
[code]
# 结果正确
[code]

[2021-08-11 15:09] JunnYu commented on #875
发现是井号`#`造成的

[2021-08-12 05:32] qhpeklh5959 commented on #822
目前的方式是只能按照格式修改源文件和termtype体系，把term挂接到特定的termtype下面，挂接正确且wordtag标注正确的情况下可以完成linking。近期我们会开发一个termtree相关接口，辅助进行定制化知识整合、结构校验等功能

[2021-08-12 06:44] SOVLOOKUP commented on #822
期待～加油！

[2021-08-13 03:56] Zengpr opened #895 "ernie-develop本地数据预训练后效果变差"
请问ernie-develop按照说明进行本地数据预训练后效果变差，训练越久效果越差是什么原因呢？不管是字粒度还是词粒度都是

[2021-08-13 04:01] #875 closed, assigned to smallv0221, yingyibiao

[2021-08-13 06:31] JunnYu opened #880 "offset_mapping 偏移错误【错误原因2】"
错误原因：`where`跟`is`中间有2个空格，空格导致的偏移，使用basic_tokenizer后把空格都去掉了。
#
[code]
# 错误结果
[code]

[2021-08-13 08:54] JunnYu commented on #880
还有一个错误原因，带有重音符号导致offset错位。
`maɐ̯tiːn`中的`ɐ̯`

[code]

[2021-08-13 20:06] luckysheep861 opened #881 "用户自定义添加新token"
PaddleNLP有没有类似transformers中的add_special_tokens方法？

需求：添加某些特殊token，如<title>,<chunk>等，让tokenizer在tokenize时自动将新的token识别成新的token id

[2021-08-15 08:33] AI-Mart opened #886 "ERNIE-Doc只开源了静态图的版本吗，有没有开源最新的动态度的版本"
English | 简体中文

** 欢迎试用动态图实现的ERNIE，请checkout 分支:dygraph **

官方reademe这个分支名字没找到，能否告知下，最新版本，谢谢

[2021-08-15 11:48] AI-Mart opened #885 "ERNIE-Doc 官方源代码在aistudio运行失败，也不报错"
运行 sh scripts/run_imdb.sh

提示以下信息，但是没有进入训练，直接退出了。
current_node_ip: 172.29.180.233
node_id: 0
node_ips: 172.29.180.233
nproc_per_node: 2
print_config: True
selected_gpus: 0,1
split_log_path: log
training_script: ./run_classifier.py
training_script_args: ['--use_cuda', 'true', '--is_distributed', 'true', '--use_fast_executor', 'true', '--tokenizer', 'BPETokenizer', '--use_amp', 'False', '--do_train'

[2021-08-15 12:24] smallv0221 commented on #881
Sorry we don't have such function for now. Maybe we would add this in a future version.

[2021-08-15 12:32] smallv0221 commented on #865
Sorry for the delay. The project in `aistudio` is an old PaddlePaddle implementation. In PaddleNLP, we now have `Dialogue Evaluation` such as BLEU4 and Distinct in unified_transformer example. https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer
Is this what you are looking for?

[2021-08-15 13:41] #883 closed, assigned to nobody

[2021-08-15 13:59] ZeyuChen commented on #886
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc

请手动安装paddlenlp develop版本然后尝试哈

[2021-08-15 14:00] ZeyuChen commented on #885
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc

请手动安装paddlenlp develop版本（python setup.py install) 然后再尝试下，这是paddlenlp对应的ernie-doc动态图版本。

[2021-08-16 02:10] AI-Mart commented on #885
ernie-doc我可以在你这边提供的最新的目录找到最新的模型，其他的几个ernie相关的模型能否也提供下最新动态图模型案例呢？
包括ernie-gram ernie-unimo ernie-gen ernie-vil等

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***

[2021-08-16 02:16] AI-Mart commented on #885
ernie-doc我可以在你这边提供的最新的目录找到最新的模型，其他的几个ernie相关的模型能否也提供下最新动态图模型案例呢？
包括ernie-gram ernie-unimo ernie-gen ernie-vil等

[2021-08-16 02:33] AI-Mart commented on #886
下载这个路径后在aistudio运行还是报错了

***@***.***:~/77_language_model/ernie-doc$ python run_classifier.py --batch_size 8 --model_name_or_path ernie-doc-base-en

报错信息：

Traceback (most recent call last):
&nbsp; File "run_classifier.py", line 29, in <module&gt;
&nbsp; &nbsp; from paddlenlp.transformers import ErnieDocModel
ImportError: cannot import name 'ErnieDocModel' from 'paddlenlp.transformers' (/opt/conda/

[2021-08-16 02:41] joey12300 commented on #886
@AI-Mart 需要先执行以下步骤安装相关依赖包：

1. 手动安装PaddleNLP

[code]

2. 按照[readme](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc)下载相关依赖

[code]

[2021-08-16 02:52] AI-Mart commented on #886
还是报错 aistudio@jupyter-271421-2286718:~/PaddleNLP/examples/language_model/ernie-doc$ python run_classifier.py --batch_size 8 --model_name_or_path ernie-doc-base-en
Traceback (most recent call last):
  File "run_classifier.py", line 29, in <module>
    from paddlenlp.transformers import ErnieDocModel
ImportError: cannot import name 'ErnieDocModel' from 'paddlenlp.transformers' (/opt/conda/envs/pytho

[2021-08-16 03:57] joey12300 commented on #886
你先更新最新版基于develop分支的PaddleNLP，然后安装。或者你提供一下aistudio的项目吧

[2021-08-16 06:25] AI-Mart commented on #886
是直接把最新版的下载，然后按你说的步骤做的，还是报错，这边由于aistudio的限制生成不了版本，不能设置公共项目。你那边能否直接git clone到aistuidio试下看

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbs

[2021-08-16 10:52] AI-Mart commented on #886
![image](https://user-images.githubusercontent.com/63343847/129552744-0ab147d5-337c-46c9-bb34-24ad05901472.png)
![image](https://user-images.githubusercontent.com/63343847/129552766-ad5c0754-51d9-481e-915b-428f5fc73299.png)
是直接把最新版的下载，然后按你说的步骤做的，还是报错，这边由于aistudio文件数量的限制生成不了版本，不能设置公共项目。你那边能否直接git clone到aistuidio试下看

[2021-08-16 12:07] AI-Mart opened #890 "PaddleNLP/examples/language_model/transformer-xl/gen_data.sh 下载数据太慢"
![image](https://user-images.githubusercontent.com/63343847/129561107-029d14a1-c06d-42c5-9610-bfeb82000a3e.png)
运行gen_data.sh下载数据集，提示需要2天才能下载完，想运行tansformer-xl，有没有其他便捷的方式获取数据集。

[2021-08-17 02:43] AI-Mart commented on #886
按照大佬的提示卸载aistudio底层的安装包，重新安装，可以运行了，谢谢

[2021-08-17 03:33] FrostML commented on #890
这是官方的下载源，国内下载可能会慢一点，可以使用代理。
或者看看能否提供下邮箱什么的，我直接发您。

[2021-08-17 03:36] AI-Mart commented on #890
***@***.*** 这是我邮箱，麻烦我发下，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月17日(星期二) 中午11:33
***@***.***&gt;;
***@***.******@***

[2021-08-17 06:08] ZeyuChen commented on #885
Issues Solved

会陆陆续续提供的，stay tuned.

[2021-08-17 06:08] #885 closed, assigned to joey12300

[2021-08-17 06:09] ZeyuChen commented on #886
Issues Solved.

[2021-08-17 06:09] #886 closed, assigned to joey12300

[2021-08-17 06:09] #849 closed, assigned to ZeyuChen

[2021-08-17 15:25] ZeyuChen commented on #895
@ZHUI 提供下ERNIE-1.0版本的预训练流程代码 @Zengpr 试试PaddleNLP下的ernie预训练流程。

[2021-08-18 01:22] ZHUI commented on #895
你好，我们PaddleNLP这边提供了新版的数据处理流程+预训练流程。https://github.com/PaddlePaddle/PaddleNLP/pull/816 目前文档还是不是很完善，欢迎试用，有问题随时反馈给我 @Zengpr

[2021-08-18 10:24] shmonly opened #899 "做数字训练的图像。在把检测和识别串起来的时候，识别出来的为什么是中文？"
自己训练数字模型，用到检测和识别，在转inference模型前，识别的是数字。但将检测和识别串联的时候，为什么识别出来的是中文？

[2021-08-18 12:54] wawltor commented on #899
这里是一个OCR的任务？

[2021-08-18 13:03] shmonly commented on #899
是的，paddleOCR

[2021-08-19 03:41] FrostML commented on #890
![image](https://user-images.githubusercontent.com/7160927/130002930-37e0b8cf-9076-431c-ad30-f2179288aa3c.png)
邮箱信息似乎是被屏蔽了

[2021-08-20 01:59] AI-Mart commented on #890
1955521136@qq.com这是我邮箱.另外我想咨询下大佬，一般的NLP相关任务的数据集去哪里下载呢，有没有一个通用的网站包含了大部分是NLP相关的数据集，就是论文里面经常拿来做实验的数据，通过这个网站我们可以便捷的找到，能否提供下相关的数据集下载网址

[2021-08-20 02:43] ZeyuChen commented on #890
没有的哈，多搜索搜索，多看点综述。

[2021-08-20 02:43] #890 closed, assigned to FrostML

[2021-08-20 06:39] 44show opened #908 "export_model失败"
'2.1.1'

'2.0.7'
paddlenlp的同学，你们好。
自定义训练数据，模型训练完毕，GPU环境下导出报错，把模型拷到本地CPU导出不报错，但是即便用训练集去评测也是效果很差跟随机差不多，GPU导出时错误如下：
root@9cda29d248ff:/opt/worker/pp/PaddleNLP/examples/information_extraction# python3 waybill_ie/export_model.py --params_path ernie_crf_ckpt/model_21780
[2021-08-20 06:31:16,795] [    INFO] - Already cached /root/.paddlenlp/models/ernie-1.0/ernie_v1_chn_base.pdparams
W0820 06:31:16.79662

[2021-08-20 07:27] AI-Mart opened #910 "PaddleNLP/examples/text_matching/question_matching/ 竞赛网址链接无效，数据集没法下载"
数据准备
本项目使用竞赛提供的 LCQMC、BQ、OPPO 这 3 个数据集的训练集合集作为训练集，使用这 3 个数据集的验证集合集作为验证集。

运行如下命令生成本项目所使用的训练集和验证集，您在参赛过程中可以探索采取其它的训练集和验证集组合，不需要和基线方案完全一致。

cat ./data/train/LCQMC/train ./data/train/BQ/train ./data/train/OPPO/train > train.txt
cat ./data/train/LCQMC/dev ./data/train/BQ/dev ./data/train/OPPO/dev > dev.txt

竞赛网址链接无效，以上数据集没法下载，能否提供下正确的数据集下载网址

[2021-08-20 08:49] 44show opened #911 "ErnieCrfForTokenClassification 模型的导出问题"
基于 waybill_ie run_ernie_crf.py 训练的模型，应该怎么导出呢？demo中的export_model只支持“ErnieForTokenClassification”
我修改为：
model = ppnlp.transformers.ErnieForTokenClassification.from_pretrained(
        "ernie-1.0", num_classes=len(label_vocab))
    model = ErnieCrfForTokenClassification(model)
报错：
Traceback (most recent call last):
  File "/Users/DF-WS/WS/Work4/pp/PaddleNLP/examples/information_extraction/waybill_ie/

[2021-08-20 09:22] 44show commented on #911
import paddle
import paddlenlp
paddle.version
'2.1.2'
paddlenlp.version
'2.0.7'

[2021-08-20 09:33] 44show commented on #908
升级paddle 2.1.1 -> 2.1.2 就能过了。

[2021-08-20 09:33] #908 closed, assigned to joey12300

[2021-08-20 09:33] AI-Mart commented on #890
@ FrostML  发我邮箱了吗，谢谢

[2021-08-21 08:49] jeffzhengye opened #913 "解语text_to_knowledge/wordtag/ 中是否可以自定义词的termtree_type"
比如有新的手机品牌，该如何加入到词典。

[2021-08-22 03:08] wawltor commented on #913
这个我们正在开发中， 预计在两周内发布适配的功能

[2021-08-23 09:27] joey12300 commented on #911
@44show 您好，由于examples中所示的是`ErnieForTokenClassification`，其forward的参数与`ErnieCrfForTokenClassification`不同，需要在export_model.py的InputSpec中添加参数声明。

## ErnieForTokenClassification
[code]

**经过修改后：**

## ErnieCrfForTokenClassification
[code]

[2021-08-23 23:38] cheeryoung79 opened #917 "'dict' object is not callable"
我用model=paddle.load('ernie_result/model_380.pdparams')加载模型，结果预测报错：

---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)<ipython-input-9-4e4d9f987eba> in <module>
      1 #模型预测
----> 2 preds = predict(model, test_loader, test_ds, label_vocab)
      3 print(preds[0:10])
      4 file_path = "ernie_resul

[2021-08-24 02:04] guoshengCS commented on #917
`model=paddle.load('ernie_result/model_380.pdparams')` 会返回一个以模型参数名为key、参数值为value的dict，并非直接load进来一个模型，需要重新创建一个模型对象并通过`model.set_dict`方法来载入刚才load的参数来进行预测

[2021-08-24 02:38] 44show commented on #911
问题解决了，谢谢。

[2021-08-24 02:38] #911 closed, assigned to joey12300

[2021-08-24 05:02] cheeryoung79 commented on #917
谢谢。按这个方法好用了。

[2021-08-24 06:11] tianxin1860 commented on #910
此竞赛暂未正式开始，正式开始前会于近期发布数据集，感谢关注~

[2021-08-24 09:35] 44show opened #919 "run_ernie.py 训练自有数据 loss NAN"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
import paddle
import paddlenlp
paddle.version
'2.1.1'
paddlenlp.version
'2.0.7'
Linux python3.6

paddlenlp的同学，你们好。
发现一个奇怪的现象：用自有数据训练 run_ernie.py 训一训 loss 就NAN 然后

[2021-08-24 13:19] guoshengCS commented on #919
可否使用develop版本的Paddle，参考这里 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/flags/check_nan_inf_cn.html 使用check nan inf工具来检查下呢

[2021-08-24 13:33] wawltor commented on #919
能提供一下训练脚本的位置吗？

[2021-08-25 06:21] 44show commented on #919
在waybill_ie例子下面。
PaddleNLP/examples/information_extraction/waybill_ie

[2021-08-25 06:56] 44show commented on #919
@guoshengCS 具体要怎么操作呢，我paddle是通过，pip安装的，现在是需要clone源码 然后切换到dev分支，源码编译安装，才能使用“FLAGS_check_nan_inf” 是吧？

[2021-08-25 07:08] 44show commented on #919
@wawltor 我现在是把batch_size设置为1和2 是不会出现nan.

[2021-08-25 08:51] guoshengCS commented on #919
也可以从Paddle官网选择dev的whl包安装
![image](https://user-images.githubusercontent.com/14105589/130759890-6bf38f4d-df8b-4b8b-b1bf-396f1c65a0c4.png)

[2021-08-25 08:55] duchengyao opened #922 "[GPT pretrain] gpt: create_pretraining_data 速度慢。"
正在处理 openwebtext 数据，执行到 create_pretraining_data 时需要处理 8013769 个文件，大约250个小时。

请问有提速的办法吗？
或者是否有Megatron的npz转paddle npz的方法？
十分感谢。

[2021-08-25 10:07] xialei2821212670 opened #923 "waybill_ie,信息提取可以输入内容进行预测？"
导出模型后，预测部署的示例是加载test.txt中数据，数据是已经处理过的

[2021-08-25 11:14] ZHUI commented on #922
等我的PR，预计明天更新。
最新版本的数据流程已经大大优化了速度 https://github.com/PaddlePaddle/PaddleNLP/pull/816 。可以用这个PR的最新数据流先处理数据，https://github.com/ZHUI/PaddleNLP/blob/pretraining_data/examples/language_model/data_tools/README.md

等这个PR  https://github.com/PaddlePaddle/PaddleNLP/pull/816 合入了，我再提一个适配GPT到新版数据流的PR，就可以用GPT训练最新格式的数据了。

[2021-08-26 02:02] duchengyao commented on #922
谢谢大佬！

[2021-08-26 02:42] ZTurboX opened #927 "wordtag 问题"
- 版本、环境信息
PaddleNLP 2.0.8，PaddlePaddle2.1.1
win10
python3.7

- 复现信息：如为报错，请给出复现环境、复现步骤
使用wordtag中predict.py脚本，输出Process finished with exit code -1073741819 (0xC0000005)，不返回预测结果

[2021-08-26 03:16] wawltor commented on #927
from paddlenlp.taskflow import TaskFlow
task = TaskFlow("text2knowledge", model="wordtag")
task(["热梅茶是一道以梅子为主要原料制作的茶饮",
      "《孤女》是2010年九州出版社出版的小说，作者是余兼羽"])
task("热梅茶是一道以梅子为主要原料制作的茶饮")

@zhentaoCoding  可以尝试使用taskflow API 后续我们会将predict脚本用taskflow api替换
如有问题，麻烦再反馈

[2021-08-26 03:22] ZTurboX commented on #927
也是同样的问题

[2021-08-26 03:26] joey12300 commented on #923
@xialei2821212670 您好， 预测部署的示例暂时要求按照\002的格式分割token，这个之后会考虑优化升级。

[2021-08-26 04:49] wawltor commented on #927
麻烦提供一下内存，GPU型号和显存配置

如果只是有CPU的机器 看起来是内存不足导致的

[2021-08-26 07:19] smallv0221 commented on #880
Thanks for your contribution. #882

[2021-08-26 07:19] #880 closed, assigned to smallv0221

[2021-08-26 09:46] xialei2821212670 commented on #923
好的

[2021-08-26 15:04] mawenjie8731 opened #931 "⭐️⭐️ PaddleNLP SIG 兴趣小组纳新啦！"
❤️ 飞桨社区特殊兴趣小组（PPSIG）❤️ 旨在通过开放的社区形式与全球的开发者共同构建一个开放、多元和架构包容的生态体系，以开源理念和技术实践为驱动，让全球开发者更紧密的协作起来，构建更好的开源世界。自2020年9月启动以来，目前已有多个方向的SIG展开了活跃的开源协作。

PaddleNLP覆盖了多场景的模型库、简洁易用的全流程API与动静统一的高性能分布式训练能力，是飞桨框架2.0在NLP领域的最佳实践。旨在提升文本领域建模效率，共享前沿技术能力。

我们致力于打造一个富有活力的NLP社区，将定期邀请业内技术大牛分享前沿技术，共同建设NLP能力，以开源精神将NLP技术推广创新。如果您对NLP技术有兴趣，认可开源理念，乐于学习、分享和贡献，欢迎加入PaddleNLP特殊兴趣小组（PaddleNLP SIG）。

⭐️  ⭐️  PaddleNLP SIG协作内容示例：
1. 参与文档

[2021-08-26 18:19] dengyie opened #932 "无法初始化自定义ernie-gru-crf模型"
初始化已解决，原因在于如使用ErnieModel需要初始化vocab_length参数，直接使用预训练模型可解决
[code]
现问题在于crf层正向计算出现参数类型不适问题

[2021-08-27 01:45] JunnYu commented on #932
这个要继承自ErniePretrainedModel

[2021-08-27 03:47] ZHUI commented on #922
新版GPT数据流程来了 https://github.com/PaddlePaddle/PaddleNLP/pull/930
我这边自测，使用 https://openwebtext2.readthedocs.io/en/latest/index.html 的 Download Plug and Play Version 版本openwebtext2 数据：
[code]
预处理速度约20MB/s，总共约耗时1小时左右。

[2021-08-27 05:59] #913 closed, assigned to wawltor

[2021-08-27 06:58] duchengyao commented on #922
牛啊牛啊

[2021-08-27 06:58] #922 closed, assigned to ZHUI

[2021-08-27 10:35] dengyie commented on #932
嗯嗯，已经可以初始化了但是之后前向传播中计算logits = model(input_ids, token_type_ids, lengths=seq_lens)，会报错详细代码如下：
[code]

错误是
[code]

谢谢您的回复

[2021-08-28 16:54] iamqiz opened #938 "examples代码疑似错误"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/DuIE/data_loader.py
这个文件152-164行这段代码 语法很奇怪(如下), 162-164这几行看不懂,else和if 不是同一列,还有164行的break 也看懵逼了
而且更奇怪的是,我模仿写了类似的代码,居然没有报错

[code]

[2021-08-28 17:19] iamqiz commented on #932
你应该用代码块来发代码的,如下,避免缩进消失,避免python注释#xxx 变成markdown的一级标题
[code]
编辑完发布前点击上方的"Preview"来预览效果
看了下代码,forward里 的labels 你没有定义吧? 建议发整个文件,放在代码块里

[2021-08-28 17:22] libertatis commented on #938
代码没有错，这是 `Python3` 的语法：
[https://docs.python.org/3/tutorial/controlflow.html#break-and-continue-statements-and-else-clauses-on-loops](https://docs.python.org/3/tutorial/controlflow.html#break-and-continue-statements-and-else-clauses-on-loops)
`for/while ... else` ，其中 `for/while` 为正常的循环语句，后面的 `else` 子句，当 `for` 循环正常迭代完毕，或 `while` 循环条件为假时执行，当 `for/while` 循环是由 `beak` 语句跳出，`else` 语句则不执行。 如果这里不使用 `else`

[2021-08-28 17:31] iamqiz commented on #938
啊 卧槽, _(:з」∠)_这样啊, 谢谢你 ~
python3语法变化好大呀,前几天遇到一个关于dict元素顺序的问题,结果有人告诉我py3的字典元素是有顺序的, 当时也震惊了
再次感谢, 老铁早点休息~

[2021-08-28 17:31] iamqiz commented on #938
啊 卧槽, _(:з」∠)_这样啊, 谢谢你 ~
python3语法变化好大呀,前几天遇到一个关于dict元素顺序的问题,结果有人告诉我py3的字典元素是有顺序的, 当时也震惊了
再次感谢, 老铁早点休息~

[2021-08-28 18:51] emmmmme commented on #932
好的感谢回复，我重写下问题：

其中我改写的ernie-gru-crf模型代码为：
`class Model(ErnieModel):
    def __init__(self, ernie, num_classes=2, d
    ropout=None, gru_hidden_size=128):
        super(Model, self).__init__(vocab_size=50000)
        self.num_classes = num_classes
        # allow ernie to be config
        self.ernie = ernie
        self.dropout = nn.Dropout(dropout if dropout is not None else

[2021-08-28 19:07] dengyie commented on #932
#### 感谢您的指点和回复
为了便于沟通我把aistudio项目连接于此   https://aistudio.baidu.com/aistudio/projectdetail/2288735
#### 定义模型的代码块：
[code]
#### 训练模型代码块
[code]

#### 错误信息：
[code]
@iamqiz 请您过目

[2021-08-29 02:24] iamqiz commented on #932
错误信息是说max_seq_len 应该是int或None,但实际是Tensor ,
这个和序列长度seq_lens有关, 你在
        loss = paddle.mean(model(input_ids, token_type_ids, lengths=seq_lens, labels=labels))
前面打印seq_lens.shape 看看是不是 [batch_size]

另外上面代码的model(xxx)的输出也就是model.forward的输出是个 4元素或2元素的元组, 不是loss

最后官方的demo (https://aistudio.baidu.com/aistudio/projectdetail/1639964) 你跑了有问题吗

[2021-08-29 02:52] sherlcok314159 opened #943 "ERNIE-Doc讯飞长文本分类的数据集缺少，是否提供样式？"

[2021-08-29 03:41] dengyie commented on #932
官方的demo是没有问题的，已经用ErnieForTokenClassification模型完成了任务。
#### 关于loss返回值是元组问题，代码修改：
_model.forward()直接返回loss_
[code]
#### 关于上个问题中的seq_lens.shape
执行代码
[code]
结果为：
[code]
错误代码行是`for i, logit in enumerate(inputs_t[:max_seq_len]):`，其中错误在于max_seq_len不能为tensor，源码中paddlenlp.layers.ViterbiDecoder参数lengths必须为None或者Tensor，但执行源码中max_seq_len数据流为：
[code]
这样造成max_seq_len类型也成为了tensor，很疑惑，请您过目，期待您回复

[2021-08-29 04:34] #938 closed, assigned to nobody

[2021-08-29 12:43] iamqiz commented on #932
我测了一下,ViterbiDecoder里面max_seq_len可以是tensor,
那就奇怪了
我aistudio版本如下
paddlenlp              2.0.0rc7
paddlepaddle-gpu       2.0.2.post101
tb-paddle              0.3.6

win10机子版本如下
paddlenlp              2.0.7
paddlepaddle-gpu       2.1.2.post112

你试试我的代码吧, 我这个没有这个问题, 但是 backward时会报错..
[code]

[2021-08-30 06:29] shaitaiyangmie opened #940 "您好，请问ernie预训练相关问题请您讲解。"
您好，请问在ernie预训练过程中，如果不采用sop任务，在pretraining_ds_mlm.py文件中，sample_negative负采样的目的是什么呢？为何还要采用build_pair操作呢？还请您指点一二，感谢！

[2021-08-30 07:36] AntikaSmith opened #944 "ernie-doc的演示脚本读取数据格式不对路径不对跑不起来"
在自己下载了iflytek的数据并放到data下之后，运行sh scripts/run_iflytek.sh 日志里显示
`
Traceback (most recent call last):
  File "./run_classifier.py", line 306, in <module>
    main(args)
  File "./run_classifier.py", line 128, in main
    phase="train")
  File "/data/hanzhang/ernie/ERNIE/ernie-doc/reader/task_reader.py", line 243, in data_generator
    examples = self._read_tsv(input_file)
  File "/data/hanzhang/ernie/

[2021-08-30 07:58] ZeyuChen commented on #943
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc
请试用下paddlenlp的这个版本。

[2021-08-30 07:58] ZeyuChen commented on #944
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc
请试用下paddlenlp的这个版本。@AntikaSmith

[2021-08-31 02:43] duchengyao opened #946 "[GPT pretrain] RuntimeError: std::future_error: No associated state"
运行gpt数小时后，出现以下错误，是什么原因呢。

[code]

[code]

[2021-08-31 03:43] ZHUI commented on #946
https://github.com/PaddlePaddle/PaddleNLP/pull/939 十分抱歉，昨天修复了一个小bug，可能是这个bug。你修改试试

[2021-08-31 03:46] ZHUI commented on #946
如果你需要重启训练，可以参考 ernie1.0 的脚本，重checkpoint处，恢复数据集。

[2021-08-31 06:38] duchengyao commented on #946
刚想问您这个问题，谢谢啦～

[2021-08-31 06:46] ZHUI commented on #940
应该是为了中间 插入sep，形成 [cls, sentence_a,  sep, sentence_b, seq] 的输入格式。

[2021-08-31 06:49] ZHUI commented on #946
主要是计算 consumed_samples 传入进去
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/ernie-1.0/run_pretrain_static.py#L126
另外lr_scheduler也需要重启
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/ernie-1.0/run_pretrain_static.py#L434

[2021-08-31 06:50] ZHUI commented on #946
后续，我们会将GPT重启训练这一块的功能完善下来。

[2021-09-01 02:30] shaitaiyangmie commented on #940
谢谢您，我想再请问您一下，代码数据格式是什么呢？doc和doc_seg分别指代什么含义呢？

[2021-09-01 03:17] ZHUI commented on #940
应该是 doc文本 和 doc断句信息，如果想研究ernie预训练，可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0

目前 language_model/ernie/ 这套代码，后续将不再维护。language_model/ernie-1.0/ 这一套是我们最新维护的预训练版本。

[2021-09-01 04:16] shaitaiyangmie commented on #940
好的好的，谢谢您了。

[2021-09-01 06:30] duchengyao commented on #946
merge 了新分支后貌似问题解决了。如果问题复现会重新开启这个issue ^_^

[2021-09-01 06:30] #946 closed, assigned to ZHUI

[2021-09-01 08:23] Clearloveplus7 opened #953 "请问paddlenlp中如何实现文本多标签分类，没有看到样例"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-09-01 09:41] linjieccc commented on #953
你好！多标签文本分类用例请参考这里
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/multi_label

[2021-09-01 10:36] ZeyuChen commented on #953
@linjieccc 更新下主页README进行引导。

[2021-09-01 11:00] linjieccc commented on #953
好的

[2021-09-02 04:40] akari0216 opened #961 "文档增加tokenizer类别及样例建议"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
paddle版本2.0.8 paddlenlp版本2.1.0
建议，能否在paddlenlp文档中，整理列出各个模型的tokenizer是基于什么类别的based，如bert tokenizer是word piece的，xlnet tokenizer是sentence piece的，以及对应的输入输出样例

[2021-09-02 04:46] yingyibiao commented on #961
感谢您的建议，这块我们会补上的！

[2021-09-03 02:04] linjieccc commented on #953
PR: https://github.com/PaddlePaddle/PaddleNLP/pull/955  已更新多标签文本分类至范例清单

[2021-09-03 05:27] wht0948 opened #967 "unified_transformer有英文版本的吗？"
如题，我想试一下英文对话的效果，但是没找到英文版的
用这个函数的时候UnifiedTransformerLMHeadModel.from_pretrained('unified_transformer-12L')得到了下面的报错
ValueError: Calling UnifiedTransformerLMHeadModel.from_pretrained() with a model identifier or the path to a directory instead. The supported model identifiers are as follows: dict_keys(['unified_transformer-12L-cn', 'unified_transformer-12L-cn-luge'])

[2021-09-03 10:52] thunder95 opened #970 "vocab加载失败"
加载vocab文件:  "https://huggingface.co/google/mobilebert-uncased/blob/main/vocab.txt"
使用最新的develop分支

Traceback (most recent call last):
  File "/f/pd_match/papers_reproduce/PaddleNLP/tokenizer_test.py", line 4, in <module>
    tokenizer = MobileBertTokenizer('/home/hl/.paddlenlp/models/mobilebert-uncased/vocab.txt', do_lower_case=True)
  File "/f/pd_match/papers_reproduce/PaddleNLP/paddlenlp/transfo

[2021-09-03 12:48] ZeyuChen commented on #967
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/plato-2
英文的对话模型可以试试PLATO-2 @wanghaotian233

[2021-09-03 12:50] ZeyuChen commented on #953
@Clearloveplus7 Issue solved.

[2021-09-03 12:50] #953 closed, assigned to linjieccc

[2021-09-04 07:35] songzy12 commented on #222
我刚才研究了一下，这里是一些结果：

1. demo 使用的字典是 `data/demo_config/vocab.txt` [1].
2. 具体到截图中的示例，其 id 化前的明文可以在 `data/demo_wiki_tokens.txt` [2] 中找到：
`龙 江 ic （ 平 假 名 ： ） 是 位 于 长 野 县 饭 田 市 的 三 远 南 信 自 动 车 道 之 交 流 道 。	现 时 还 未 启 用 。`
3. 通过解压缩 id 化后的文件 `data/train/demo_wiki_train.gz` [3] 并查看其内容我们可以发现：
id 化后每一句的都是以`1`开头，以`2`结尾。原因应该和 tokenization 的具体实现有关。

至于所要求的 create_train_data.py, 应该就是 train.py [4] 和 tokenization.py

[2021-09-04 07:38] songzy12 commented on #220
如果这个问题已经得到了解决（使用 bash 而不是 sh），可以关闭这个 issue?

[2021-09-04 07:51] songzy12 commented on #127
https://github.com/PaddlePaddle/models/pull/4790 解决了这个问题，应该可以关闭当前 issue？

[2021-09-04 08:04] #127 closed

[2021-09-05 07:25] #970 closed, assigned to smallv0221

[2021-09-05 07:34] mostShadowless opened #972 "找不到ppnlp.dataset里面的数据集（chnsenticorp）"
加载 chnsenticorp 数据集失败，下午2点的时候还是可以正常加载的，现在就不行了，请问这个数据集被删除了吗
![image](https://user-images.githubusercontent.com/43037642/132119144-c99a3d83-0e0a-42c1-9ee4-28e40ef659d9.png)

![image](https://user-images.githubusercontent.com/43037642/132119164-6200cb78-c49e-4cb8-b04d-429eb9409c27.png)

[2021-09-05 13:13] ZeyuChen commented on #972
@mostShadowless 请升级paddlenlp到最新版本，这种错误是paddlenlp不是最新版本导致的。

[2021-09-06 06:36] d049 opened #976 "请问如何使用多核cpu进行推理"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-09-06 07:40] #943 closed, assigned to joey12300

[2021-09-07 01:35] FrostML commented on #976
请问应用场景是什么？Paddle Inference，PaddleLite 或是...？

[2021-09-08 04:43] CCZGG opened #983 "使用paddleinference部署，推理时间反而比动态图推理时间长"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

<img width="906" alt="cab6d47c79b8090c81c66a7b6aa0e52" src="https://user-images.githubusercontent.com/44726956/132447587-37082b4f-0c9a-4d33-a685-bab5a39580ca.png

[2021-09-08 07:13] zhoukaiwei66 opened #987 "example里面的例子代码"
PaddleNLP/examples/language_model/bert/run_pretrain.py 文件里的第336行的train_data_loader在do_train函数里面在该行之前没有定义，反而在后面定义了，代码会显示该变量未定义。环境windows paddlenlp版本为2.0.7，paddelpaddle版本为2.1.2。麻烦查看一下呢

[2021-09-08 11:22] wawltor commented on #983
这个问题的原因是在动转静的过程中会将很多动态图的for if这样的控制流转成op的方式来执行，在CRF里面又大量存在这样的控制流操作，导致动转静之后速度会有问题，这个问题我们在推动PaddlePaddle框架来解决。

[2021-09-08 13:50] guoshengCS commented on #987
好的，我们这边修复下，感谢指出~

[2021-09-09 01:51] CCZGG commented on #983
感谢解疑

[2021-09-09 02:31] CCZGG commented on #983
还有个问题是，转化为静态图后，原本在动态图抽取正确的数据，在静态图抽取结果会出错。

[2021-09-09 02:45] CCZGG commented on #983
paddleinference代码如下：

`import os
import paddle
from functools import partial
from paddlenlp.datasets import MapDataset
from paddlenlp.data import Stack, Tuple, Pad
from data import load_dict
import argparse
import paddle.inference as paddle_infer
import numpy as np

parser = argparse.ArgumentParser(__doc__)
parser.add_argument("--model_dir", type=str, default='./output/',
                    help=

[2021-09-09 02:46] CCZGG commented on #983
代码如下：

`
import os
import paddle
from functools import partial
from paddlenlp.datasets import MapDataset
from paddlenlp.data import Stack, Tuple, Pad
from data import load_dict
import argparse
import paddle.inference as paddle_infer
import numpy as np

parser = argparse.ArgumentParser(__doc__)
parser.add_argument("--model_dir", type=str, default='./output/',
                    help="The path of m

[2021-09-09 02:53] cfy42584125 opened #994 "快递单信息抽取预测都是用test数据集，如果用未标注数据来预测这个预测代码该怎么改呢？？"
preds = predict(model, test_loader, test_ds, label_vocab)
file_path = "ernie_results.txt"
with open(file_path, "w", encoding="utf8") as fout:
    fout.write("\n".join(preds))
# Print some examples
print(
    "The results have been saved in the file: %s, some examples are shown below: "
    % file_path)
print("\n".join(preds[:10]))

用未标注数据俩预测这个代码怎么改呢？？

[2021-09-09 02:58] joey12300 commented on #994
你好，快递单信息抽取暂无预测未标注数据。可以暂时先参考lac的预测代码：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/deploy/predict.py

[2021-09-09 03:31] wawltor commented on #983
想问一下 是不是静态图的预测的结果比动态图少一个token？

[2021-09-09 05:19] sneaxiy opened #996 "GPT3 hang when mp_degree > 1"
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.0.8, PaddlePaddle develop
2）系统环境：Linux，Python 3.8
直接跑 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/gpt-3/static/run_static.sh 这个脚本就会hang。

[2021-09-09 06:56] BaiEJi opened #998 "请问哪个api可以代替Keras中的Tokenizer"
请问哪个api可以代替Keras中的Tokenizer

[2021-09-09 06:59] ZeyuChen commented on #998
@BaiEJi 可否具体给一下你使用Keras中的Tokenizer API文档？

[2021-09-09 08:54] CCZGG opened #1002 "paddleinference推理ernie-tiny文本分类模型 batch_size大于4时报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

版本：paddlepaddle-gpu==0.0.0.post112 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

代码：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examp

[2021-09-09 08:56] CCZGG commented on #983
少一个token的现象遇到了，更新了版本后解决了。现在不少了。出错是个别抽取会出错

[2021-09-09 09:32] CCZGG commented on #1002
不是显存不足的问题，3090显卡，24G显存。

[2021-09-09 13:16] linjieccc commented on #1002
你好，麻烦换成paddlepaddle-gpu的release版本再试下呢？

[2021-09-09 14:15] #998 closed, assigned to Steffy-zxf

[2021-09-10 01:27] CCZGG commented on #1002
怎么操作？你说的是这个吗？

<img width="1134" alt="1631237259(1)" src="https://user-images.githubusercontent.com/44726956/132784021-dc5e7fdf-104d-48bd-bae1-801ce08d4f87.png">

[2021-09-10 01:40] CCZGG commented on #1002
更换稳定版后，batch_size问题没有了，但是tensorRT报错：

ValueError: (InvalidArgument) Pass tensorrt_subgraph_pass has not been registered. Please use the paddle inference library compiled with tensorrt or disable the tensorrt engine in inference configuration!

[2021-09-10 03:40] myboyliu opened #1004 "BartModel"
BartForConditionalGeneration的详细的使用例子有没有，我搜索了整个仓库都没有。麻烦能否提供一个。

[2021-09-10 07:54] linjieccc commented on #1002
打开`use_tensorrt`开关需要带tensorrt的paddle运行环境，详情请参考这里：
https://paddle-inference.readthedocs.io/en/latest/optimize/paddle_trt.html#id2

[2021-09-10 08:19] JiaojiaoYe1994 commented on #996
遇到了一样的问题。请问你的gpt3可以运行了吗？

[2021-09-10 10:00] ZHUI commented on #996
嗯嗯，目前看sharding 和 mp 遇到了一些兼容性问题。可以先设置 mp_degree=1，不使用mp。

[2021-09-11 02:03] gongel commented on #1004
你好，由于最近Encoder-decoder生成式api刚完善，后续会放出更多的例子。目前先给出一个Mask Filling的例子，需要先参照这个PR修改tokenizer: #1000
[code]

[2021-09-11 08:22] AQA6666 opened #1008 "Where is the whole entity and phrase mask method for Ernie pretrain data?"
Does anyone know where could find it?,it is import for me,thank you.

[2021-09-11 08:41] ZeyuChen commented on #1008
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0 Please try this one @AQA6666

[2021-09-11 13:36] WenmuZhou opened #1010 "xlnet的get_offset_mapping方法支持"
目前get_offset_mapping只支持了bert模型，但是我们在复现多模态方法的时候需要使用xlnet的get_offset_mapping方法，请求支持一下

[2021-09-12 16:49] ZeyuChen commented on #1010
@WenmuZhou 只是XLNet吗？现在的模型选型多模态这里是否有开源的参考？我们评估下是否需要整体来添加。

[2021-09-13 06:32] JiaojiaoYe1994 commented on #996
好的，我再试试～

[2021-09-13 08:11] Clearloveplus7 opened #1012 "xpu服务器对应的paddlepaddle是cpu版本还是gpu版本呢"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-09-13 08:15] yuanjie-ai opened #1013 "支持ernie-2.0预训练模型吗"
支持ernie-2.0预训练模型吗

[2021-09-13 09:37] libertatis commented on #1013
[PaddleNLP Transformer预训练模型汇总](https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers.html#transformer)
`PaddleNLP` 官方文档里写的有，`ernie-2.0` 目前只支持英文版预训练模型 `ernie-2.0-en` 和 `ernie-2.0-large-en`，还不支持中文版预训练模型~

[2021-09-13 11:38] wawltor commented on #1012
https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/xpu_docs/paddle_install_cn.html

你好，xpu有特定的安装方式，具体安装如上。

[2021-09-13 11:57] cypqyc opened #1015 "快递单提取模型预测 deploy/python/predict.py中 test.txt 文件必须是已经打过标签的吗?如果 可以预测没有没有标注的数据吗?"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-09-13 12:02] joey12300 commented on #1015
@cypqyc 你好，快递单信息抽取暂无预测未标注数据。可以暂时先参考lac的预测代码：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/deploy/predict.py

[2021-09-13 16:48] ZeyuChen commented on #1012
XPU指的是昆仑芯片版本，属于ASIC芯片。@Clearloveplus7

[2021-09-13 16:52] ZeyuChen commented on #1013
![image](https://user-images.githubusercontent.com/1371212/133124787-512d6dee-b695-4f79-b40a-2321c8e8a939.png)

@Jie-Yuan 可以尝试下ERNIE-Gram，在中文benchmark上比ernie-2.0中文效果要更好。
https://arxiv.org/pdf/2010.12148.pdf

[2021-09-14 02:49] myboyliu opened #1027 "bart-base模型精度问题"
在复现Pegasus时候，我参考了bart,这2个模型很相似。但是对齐bart精度时候，发现误差很大。麻烦你看看。
mean difference: tensor(1.0486, grad_fn=<MeanBackward0>)
max difference: tensor(11.2015, grad_fn=<MaxBackward1>)
huggingface facebook/bart-base vs paddle bart-base
----------------------------------------------------------
from paddlenlp.transformers import BartTokenizer as PDBartTokenizer, BartModel as PDBartModel
from transformers import

[2021-09-14 04:42] lvjiujin commented on #642
这个PaddleNLP内置的MSRA-NER数据集，不是MSRA原始的NER数据集，原始的MSRA-NER数据集有26个类别。不要动辄就用原始的两个字，它代表了原创和最早，ok不？

[2021-09-14 08:37] BaiEJi opened #1020 "有没有可以代替keras中的Tokenizer进行字符级标记的API"
在keras中的代码如下所示，其中author_A与author_B是两段文本
[code]
请问paddleNLP中有没有可以代替Keras中Tokenizer的fit_on_texts与texts_to_sequences方法的API

[2021-09-14 14:28] ZeyuChen commented on #1020
当前的PaddleNLP版本需要手动来实现这一功能，我们计划在2.2版本实现类似Keras Tokenizer的功能。 @BaiEJi
目前您这类API通常用于实现哪些模型呢？

[2021-09-15 02:53] myboyliu commented on #1027
`from paddlenlp.transformers import BartTokenizer as PDBartTokenizer, BartModel as PDBartModel
from transformers import BartTokenizer, BartModel as PTBartModel
import paddle
import torch
import os,sys
base_dir=os.path.dirname(__file__)

# sys.path.append(os.path.join(base_dir,'paddlenlp'))  #临时修改环境变量
paddle.set_device("cpu")

model_list = [
    ("facebook/bart-base", "bart-base")
    # ("google/Ba

[2021-09-15 03:47] Zengpr opened #1025 "paddlenlp git下来后pip install ./报这个错了，请问是什么原因呢"
paddlenlp git下来后pip install ./报这个错了，请问是什么原因呢
![1631677652](https://user-images.githubusercontent.com/22451062/133367499-6f148758-a830-4df4-8868-a80ebe951eb4.png)

[2021-09-15 06:34] BaiEJi commented on #1020
感谢您的回答，我现在是想要把手头上的一些其他框架的文本处理+深度学习小例子改写为Paddle实现，对于这个API的使用是在进行文本分类的问题上

[2021-09-15 07:08] HuimengZhang opened #1026 "ErnieModel 报错"
运行代码发现是paddlenlp的erniemodel报错
抠出代码后错误可复现
跑例子可以，但是跑下面的x 会报错
paddle版本 gpu 2.1.2 paddlenlp 版本2.0.8

import paddle
import numpy as np
from paddlenlp.transformers import ErnieTokenizer, ErnieModel
tokenizer = ErnieTokenizer.from_pretrained('ernie-1.0')
text = tokenizer('aaa')
model = ErnieModel.from_pretrained('ernie-1.0')

y = paddle.to_tensor([text['input_ids']])
sequence_output, pooled_output = mode

[2021-09-15 08:27] gongel commented on #1027
已和用户确认是自身环境问题。暂时先关闭issue，有需要后续可以再开启。

[2021-09-15 08:27] #1027 closed, assigned to gongel

[2021-09-15 10:43] wawltor commented on #1026
辛苦提供一下用的GPU的型号和cuda版本，cudnn版本

[2021-09-16 01:45] AI-Mart opened #1032 "PaddleNLP/examples/language_model/ernie-doc/ 能否提供predict代码和deploy代码"
PaddleNLP/examples/language_model/ernie-doc/ 能否提供predict代码和deploy代码，想要训练好的模型进行预测和部署，试下效果，能否把这部分代码增加上，谢谢。

[2021-09-16 07:48] joey12300 commented on #1032
@AI-Mart 您好，感谢您的建议，目前已经开始对predict和deploy的代码开发工作进行排期。

[2021-09-16 07:50] AI-Mart commented on #1032
大概什么时候能开发完呢，等着用哈

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年9月16日(星期四) 下午3:48
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2021-09-16 09:54] crrongyan opened #1039 "No module named 'data_tools.helpers"
PaddleNLP==2.0.0
PaddlePaddle-gpu==2.1.3
ubuntu

根据此示例预训练ERNIE运行：

![屏幕截图 2021-09-16 180125](https://user-images.githubusercontent.com/46481479/133593204-b6250049-52b1-4ad2-93be-5a46810a5609.png)

报错：

![屏幕截图 2021-09-16 180125](https://user-images.githubusercontent.com/46481479/133592919-4b0f1554-de94-4b64-b09c-d0094f221c13.png)

我尝试了一下午，没能定位造成此问题的原因，能否帮忙看一下？

[2021-09-16 10:23] libertatis commented on #1039
`data_tools` 在这儿 [https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/data_tools](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/data_tools)

[2021-09-16 10:53] neqkir opened #1040 "text_generation/vae-seq2seq can't launch training on gpu"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_generation/vae-seq2seq

Using Python3.6, OS Ubuntu 3.8, system with 2 AMD GPUs

I do

`root@mymachine:/root/vae/paddle-vae# export HIP_VISIBLE_DEVICES=0,1
`
then

[code]

I tried the other multigpu commandlines with no success, since the flag --gpus is not recognized

[code]

gives

[code]

[2021-09-16 10:58] ZeyuChen commented on #1040
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/guides/09_hardware_support/rocm_docs/paddle_install_cn.html
You should install ROCM version GPU and try again. BTW this is still experimental version.
It would be better to try it on NVIDIA GPU with CUDA support.
@neqkir

[2021-09-16 11:06] neqkir commented on #1040
thanks! anything more up to date..?

[code]

[2021-09-16 11:10] neqkir commented on #1040
this is i guess ?

[code]

yet
[code]

[2021-09-16 11:23] ZeyuChen commented on #1040
@neqkir https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/guides/09_hardware_support/rocm_docs/paddle_install_cn.html
You can try to install according to this document. As for the version it depends on your machine.

[2021-09-16 11:27] ZeyuChen commented on #1040
We recommend you to run this code on a NVIDIA GPU device.

[2021-09-16 11:28] ZeyuChen commented on #1039
@crrongyan 更新下paddlenlp到最新版本2.0.8

[2021-09-16 11:31] ZeyuChen commented on #1025
已线下解决。Issue Close.

[2021-09-16 11:31] #1025 closed, assigned to nobody

[2021-09-16 11:33] ZeyuChen commented on #220
问题已解决。

[2021-09-16 11:33] #220 closed

[2021-09-16 11:57] ZHUI commented on #1039
应该是 helpers 编译失败了。可以参考，分析解决

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/data_tools#c%E4%BB%A3%E7%A0%81%E7%BC%96%E8%AF%91%E5%A4%B1%E8%B4%A5%E6%80%8E%E4%B9%88%E5%8A%9E

[2021-09-16 15:31] crrongyan commented on #1039
确实是g++环境的问题，我换到AI Studio里执行 则把这个地方给跑过了，感谢您~
![屏幕截图 2021-09-16 232812](https://user-images.githubusercontent.com/46481479/133641187-10f81344-ada1-4d1b-9ca2-c7423e0bc329.png)

[2021-09-16 15:32] #1039 closed, assigned to ZHUI

[2021-09-17 02:46] FeixLiu commented on #996
最新develop分支已经可以运行了

[2021-09-17 03:32] ZHUI commented on #996
经验证，可以运行，loss 正常下降。 @sneaxiy

[2021-09-17 05:13] JunnYu opened #1043 "SentencePiece和 Byte-Pair-Encoding类型tokenizer的get_offset_mapping方法实现"
## 个人想了下这两种类型的tokenizer的get_offset_mapping。
XLNetTokenizer（SentencePiece）和GPTTokenizer的（byte-level Byte-Pair-Encoding）`get_offset_mapping`方法实现
[code]
## 测试
[code]
# 注：
- xlnet和gpt2有关空格的offset mapping，本方法与huggingface略有不同。
- 可能存在其他问题，仅供参考~

[2021-09-17 06:21] ZeyuChen commented on #996
Issue resolved.

[2021-09-17 06:21] #996 closed, assigned to wangxicoding, ZHUI

[2021-09-17 10:13] wa3926 opened #1049 "请教几个问题"
paddle2.0 以上版本
1.paddlenlp 有类似paddleclas 利用配置 训练的例子吗？
2 我现在使用的是 ernie-tiny 模型 训练自己数据集   请问下 如果acc 想使用 top K  改怎么改？
3. 可以使用 worker_num 吗 linux 训练  我试了一下没找到办法

[2021-09-17 12:34] wawltor commented on #1049
你好，
1. paddlenlp目前不支持通过配置化的方式来进行训练，我们Readme上提供相应的python执行方式，写成bash脚本应该不难
2. https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/accuracy_cn.html#accuracy  acc的topk 可以看上面的api
3. 这里的worker_num是指DataLoader还是只多卡训练了？

[2021-09-17 13:39] yuanjie-ai opened #1052 "PaddleNLP里的预训练模型下载好慢，有没有办法全部打包下载"
PaddleNLP里的预训练模型下载好慢，有没有办法全部打包下载

[2021-09-17 15:38] ZeyuChen commented on #1052
目前没有提供全部打包下载的功能，模型存在在国内服务器，理论上在国内网络下载速度还是比较快的。

[2021-09-17 15:38] #1052 closed, assigned to nobody

[2021-09-17 15:39] yuanjie-ai commented on #1052
怎么获取所有下载链接

yuanjie
***@***.***

小米互三
算法工程师

------------------ 原始邮件 ------------------
发件人: Zeyu Chen ***@***.***&gt;
发送时间: 2021年9月17日 23:38
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: Betterme ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleNLP] PaddleNLP里的预训练模型下载好慢，有没有办法全部打包下载 (#1052)

[2021-09-18 03:12] Tellyang7 opened #1054 "wordtag实例运行，无法导入TaskFlow"
运行：
`from paddlenlp.taskflow import TaskFlow
task = TaskFlow("text2knowledge", model="wordtag")
task(["热梅茶是一道以梅子为主要原料制作的茶饮",
      "《孤女》是2010年九州出版社出版的小说，作者是余兼羽"])
# Support the input text directly
task("热梅茶是一道以梅子为主要原料制作的茶饮")`

报错：
ImportError                               Traceback (most recent call last)
<ipython-input-1-ccf486dee422> in <module>
----> 1 from paddlenlp.taskflow import TaskFlow

[2021-09-18 03:23] wawltor commented on #1054
from paddlenlp.taskflow import TaskFlow 替换成 from paddlenlp  import TaskFlow
我们更新一下文档

[2021-09-18 03:32] Tellyang7 commented on #1054
多谢，导入没问题了。
我想问一下，可以通过本地路径读入这个文件嘛：：/models/transformers/ernie_ctm/termtree_type.csv

[2021-09-18 03:34] yingyibiao commented on #1043
感谢你的建议！

[2021-09-18 04:21] wawltor commented on #1054
Taskflow这里是一键式预测的，所以目前提供这样的接口来自定义TermTree，不过你可以尝试替换  ~/.paddlenlp/taskflow/text2knowledge/wordtag/这里的termtree_type.csv文件

[2021-09-18 07:14] Tellyang7 commented on #1054
感谢！
我觉得判断一下文件是否存在也可以啊，不用每次都下载，自己加了句：
` term_schema_path = os.path.join(self._task_path,"termtree_type.csv")
        if not os.path.exists(term_schema_path):
....`

[2021-09-18 07:19] geekchen007 opened #1057 "怎样打开TermTreeV1.0试用版文件？"
PaddleNLP/examples/text_to_knowledge/termtree at develop · PaddlePaddle/PaddleNLP
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/termtree
 这个文件用什么工具可以打开？以及修改、维护

[2021-09-18 07:37] wawltor commented on #1054
目前代码逻辑已经做了处理，不会每次都会下载，应该是md5值发生了变化，所以又下载了一次

[2021-09-18 07:48] kobe24o commented on #546
[code]
我也遇到这样的问题。ner项目，180个 epochs 训练没问题的, linux , py 3.8.10, ppnlp 2.0.8, paddle 2.1.2

[code]

caltrainPRF(model, tokenizer, "./data/origin_dev.txt", label_vocab, trans_func)
calNamePRF_ernie(model, tokenizer, "./data/origin_dev.txt", label_vocab)

单独运行这两个函数也没有报错，难道是 for 循环了就报错？求大佬解答！多谢啦！

[2021-09-18 08:06] kobe24o commented on #546
大佬帮忙看看 [https://github.com/PaddlePaddle/PaddleNLP/issues/546#issuecomment-922235132](https://github.com/PaddlePaddle/PaddleNLP/issues/546#issuecomment-922235132)

[2021-09-18 08:46] wa3926 opened #1058 "不知道是不是版本问题"
paddlenlp 使用的是最新的版本
利用 ernie-tiny   在服务器 python3.7  paddle 2.0.2  GPU 训练好的 模型   在服务器预测cpu和GPU都是一样的

接着在本地调试的时候   本地环境是python3.6.5  paddle  2.1.1  cpu环境    同样的代码预测发现和服务器不一致  而且每次预测出来的数据 结果尽然还不一样 预测代码
![image](https://user-images.githubusercontent.com/53547082/133883130-98a18963-f95a-42fa-8b60-b0479556df7c.png)

[2021-09-18 09:05] kobe24o commented on #546
自己解决问题了，预测的时候的一个参数开关忘记打开，数据格式不对，多了 label 参数，打扰了！

[2021-09-18 10:00] Tellyang7 commented on #1054
救命，没有其他问题了，但是就是跑失败了，只有这个信息：

[2021-09-18 17:57:38,033] [    INFO] - Already cached XXX\models\wordtag\vocab.txt
[2021-09-18 17:57:38,046] [    INFO] - Already cached XXX\models\wordtag\wordtag_pos.pdparams

Process finished with exit code -1073741819 (0xC0000005)

有什么头绪吗？

[2021-09-20 09:00] ZeyuChen commented on #1058
请尝试使用paddlenlp和paddle最新版本再验证一下。

[2021-09-20 09:09] chenkangyang opened #1059 "【论文复现】数据加载DataLoader内存泄漏问题"
[关联ISSUE](https://github.com/PaddlePaddle/Paddle/issues/35749#issue-996638344)

环境
[code]

随着训练，内存不断增大，内存占满后程序中断
给了两种模式下的不同数据预处理方式下的对比；`main_nlp_wo_leak` 未产生内存泄漏，`main_nlp_w_leak`  在下一轮 `Dataloader`遍历中存在内存未被回收的情况
手动增加内存的代码如下，为example新增内容：
[code]

例子如下：
[code]

程序输出结果如下：
[code]
可以看到`main_nlp_w_leak`在100次循环过程中，多出300M内存
`main_nlp_wo_leak`无论在多少次循环后，内存占用稳定较低

欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您

[2021-09-20 09:38] ZeyuChen commented on #1059
请升级paddle至最新版本>2.1.2后再尝试，paddle框架有个小版本修复了dataloader的泄漏问题。

[2021-09-20 13:22] chenkangyang commented on #1059
谢谢，已升级`paddlepaddle-gpu==2.1.3`，`main_nlp_w_leak`仍然存在内存泄漏

[2021-09-20 15:01] whitecloud6688 opened #1060 "复杂关系抽取问题"
您好！
       我仔细研究了[千言数据集：信息抽取](https://aistudio.baidu.com/aistudio/competition/detail/46)，发现并不能解决复杂关系抽取的问题，关系示例如下：
        关系：
        张三  --(年龄)--> 23岁
        张三  --(组织)-->大华
        李四  --(年龄)--> 24岁
        李四  --(组织)-->海康
    图1种方法不能找出对应关系，图2种方法可以但可能还有王五，即每种关系类型的头实体和尾实体的数量不确定情况。请教类似情况应该怎么编码呢？谢谢

![4{IHZ2{ )F63MVBD~ U} @X](https://user-images.githubusercontent.com/91076765/134023693-4487b22e-23

[2021-09-22 01:32] wawltor commented on #1054
是不是内存不足？

[2021-09-22 02:59] Tellyang7 commented on #1054
虽然我觉得很可能是内存问题，但是32G应该不存在不够用的情况啊，还是说只适配了GPU环境？电脑没GPU倒是。。。
![image](https://user-images.githubusercontent.com/24445133/134276582-2f95d22e-db48-4dea-85e6-5c6a6b097d94.png)

[2021-09-22 03:10] wawltor commented on #1054
更新到最新develop版本，

from paddlenlp import TasKflow
task = TaskFlow("text2knowledge", model="wordtag"， device_id=-1) # 支持cpu运行

[2021-09-22 06:33] Tellyang7 commented on #1054
救命，还是报这个错误啊。。

![image](https://user-images.githubusercontent.com/24445133/134294084-26867def-6538-4879-a4eb-680f36c51ce7.png)

[2021-09-22 07:55] wangruduo commented on #1015
PaddleNLP 2.0.2，PaddlePaddle2.1.2
windows或者linux python3.7
快递单提取模型预测 deploy/python/predict.py中 test.txt 文件必须是已经打过标签的吗?如果 可以预测没有没有标注的数据吗?

[2021-09-22 11:20] wawltor commented on #1054
我们在本地机器尝试后  cpu版本是可以的，要不再check一下机器

[2021-09-22 11:47] wawltor commented on #1057
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/wordtag  这块有具体的使用方法，
<img width="600" alt="图片" src="https://user-images.githubusercontent.com/16698950/134337747-12a59a9e-82fe-4e00-887c-1353615c9a5d.png">

对于如何对TremTree进行修改以及维护，我们这块还没有放出API , 有兴趣的话可以看一下这块的代码，这里涉及TremTree的生成 https://github.com/PaddlePaddle/PaddleNLP/blob/499cbe4553d92c26ee2d7ac3a098b80fd1d6b27d/padd

[2021-09-22 11:49] wawltor commented on #1054
我们查了一下 应该是taskflow任务在windows环境下导入csv文件出错，已经提了PR修复 https://github.com/PaddlePaddle/PaddleNLP/pull/1062/files  如果比较急的话，可以根据PR做相应的修改

[2021-09-22 12:22] wht0948 opened #1063 "-"

[2021-09-22 12:58] #1063 closed, assigned to nobody

[2021-09-22 13:09] qhpeklh5959 commented on #1057
可以使用paddlenlp.taskflow.utils.TermTree类来进行加载、增加、保存操作，因为涉及到数据结构整体性和一致性，暂不支持删除和修改操作。
建议使用离线配置表来维护自有数据，而非在线修改覆盖，这样有较高的容错能力，否则回退操作成本比较大。
这部分的特性刚刚更新，还没形成示例文档，后续会更新示例及文档，谢谢。

[2021-09-23 01:57] Tellyang7 commented on #1054
在我的环境中，这样修改也运行不了，我修改的方式是这样的：
![image](https://user-images.githubusercontent.com/24445133/134444015-114df3d1-386a-4db0-9a8a-392ef755d3e8.png)
即，编码格式应该是utf-8-sig，还要去掉delimiter

但是这个应该和我的问题无关，因为报错出现在数据内容导入之后。在执行任务语句
`task("热梅茶是一道以梅子为主要原料制作的茶饮")`
出错。。即无结果输出同时异常结束。。
麻烦再看看。。orz

[2021-09-23 02:45] wawltor commented on #1054
因为没有您的环境不太好复现问题，您看再确认一下下面的代码，这里的row是否为空
<img width="637" alt="图片" src="https://user-images.githubusercontent.com/16698950/134447730-10d446e2-270b-47ea-b488-2df50c52c9c2.png">

[2021-09-23 04:06] Magic-Fy opened #1067 "text_classification/pretrained_models/train.py error or my way was wrong"
Version: PaddleNLP==2.0.8, PaddlePaddle==2.1.3
Env: Linux Ubuntu 18.04 , GPU

examples/text_classification/pretrained_models/train.py
The original file is:

[code]

I modified by:

[code]

And the error is:

Was my way wrong?

[2021-09-23 06:20] Tellyang7 commented on #1054
我这边按照源码直接读取文件，打印出row结果是：
`ROW: {'type-1,type-2,type-3,说明,主要对应词性,subtype示例(可扩展的开放集合),src(C表示cb基础概念库、E表示eb基础实体库)': '角色,,,角色类概念和实体,n/普通名词;nr/人名,群体,C/E'}`
去掉delimiter后，结果是：
`ROW: {'type-1': '角色', 'type-2': '', 'type-3': '', '说明': '角色类概念和实体', '主要对应词性': 'n/普通名词;nr/人名', 'subtype示例(可扩展的开放集合)': '群体', 'src(C表示cb基础概念库、E表示eb基础实体库)': 'C/E'}`
所以我去掉后可以正常读入数据。。。

而且直接使用“utf-8”后，读取结果中，会加上字符“\ufeff”，所以我是用的“utf-8-si

[2021-09-23 08:41] TCChenlong opened #1073 "【PaddlePaddle Hackathon】57、在 PaddleNLP 中完善XLNet模型下游任务代码，新增DistilBert预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：完善GPT模型下游任务代码，新增GPT预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的XLNet模型代码中，新增 XLNetLMHeadModel，XLNetForMultipleChoice 和 XLNetForQuestionAnswering **这三个类**。参考 https://github.com/huggingface/transformers/blob/master/src/transformers/mod

[2021-09-23 08:41] TCChenlong opened #1074 "【PaddlePaddle Hackathon】56、在 PaddleNLP 中完善GPT模型下游任务代码，新增GPT预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：完善GPT模型下游任务代码，新增GPT预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的GPT模型代码中，新增 GPTForTokenClassification 和 GPTForSequenceClassification **这两个类**。参考 https://github.com/huggingface/transformers/blob/master/src/transformers/models/gpt2/mode

[2021-09-23 08:41] TCChenlong opened #1075 "【PaddlePaddle Hackathon】55、在 PaddleNLP 中完善Roberta模型下游任务代码，新增Roberta预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：完善Roberta模型下游任务代码，新增Roberta预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的Roberta模型代码中，新增 RobertaForMultipleChoice，RobertaForMaskedLM 和 RobertaForCausalLM**这三个类**。参考 https://github.com/huggingface/transformers/blob/master/src/transforme

[2021-09-23 08:42] TCChenlong opened #1076 "【PaddlePaddle Hackathon】54、在 PaddleNLP 中完善Electra模型下游任务代码，新增Electra预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：完善Electra模型下游任务代码，新增Electra预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的Electra模型代码中，新增 ElectraForMultipleChoice，ElectraForQuestionAnswering 和 ElectraForMaskedLM

**这三个类**。参考 https://github.com/huggingface/transformers/blob/master/src

[2021-09-23 08:42] TCChenlong opened #1077 "【PaddlePaddle Hackathon】53、在 PaddleNLP 中完善BigBird模型下游任务代码"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

任务标题：完善BigBird模型下游任务代码

技术标签：深度学习框架，预训练语言模型

任务难度：中等

详细描述：

在PaddleNLP的BigBird模型代码中，新增 BigBirdForQuestionAnswering，BigBirdForTokenClassification，BigBirdForMultipleChoice，BigBirdForCausalLM 和 BigBirdForMaskedLM **这五个类**。参考 https://github.com/huggingface/transf

[2021-09-23 08:43] TCChenlong opened #1078 "【PaddlePaddle Hackathon】52、在 PaddleNLP 中完善Bert模型下游任务代码，新增Bert预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：完善Bert模型下游任务代码，新增Bert预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的Bert模型代码中，新增 BertForMultipleChoice 和 BertForMaskedLM **这两个类**。参考 https://github.com/huggingface/transformers/blob/master/src/transformers/models/bert/modeling_bert.py
2

[2021-09-23 08:43] TCChenlong opened #1079 "【PaddlePaddle Hackathon】51、在 PaddleNLP 中新增 BertJapaneseTokenizer，新增Bert Japanese模型预训练权重"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：新增BertJapaneseTokenizer，新增Bert Japanese模型预训练权重

- 技术标签：深度学习框架，预训练语言模型

- 任务难度：中等

- 详细描述：

1. 在PaddleNLP的Bert代码中，新增 BertJapaneseTokenizer。参考 https://github.com/huggingface/transformers/blob/master/src/transformers/models/bert_japanese/tokenization_bert_

[2021-09-23 08:44] TCChenlong opened #1080 "【PaddlePaddle Hackathon】50、基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练

- 技术标签：python、语义索引

- 任务难度：困难

- 详细描述：语义索引模型的效果受 batch_size 影响很大，一般 batch_size 越大模型效果越好，但是受限于 GPU 显存大小，batch_size 在普通硬件上往往无法开到很大；这篇 paper(Paper: https://arxiv.org/pdf/2101.06983.pdf) 提出的 Gradien

[2021-09-23 09:24] wa3926 commented on #1058
@ZeyuChen  我不太清楚这个和训练模型的版本是否有关系   模型是用paddle 2.04 训练的    本地推理paddlenlp
 和paddle 都升级到最新的还是不一致

[2021-09-23 09:41] wa3926 opened #1081 "请教WebService 文本分类写法例子"
请教一下 文本分类有 使用 WebService
类似
uci_service.prepare_pipeline_config("config.yml")  这样启动服务的例子吗 （在服务端处理参数）  请问下哪里能找到例子
我用的模型是使用 ernie-tiny 训练好的

[2021-09-23 09:41] TCChenlong opened #1082 "【PaddlePaddle Hackathon】PaddleNLP 任务合集"
# 【PaddlePaddle Hackathon】PaddleNLP 任务合集

hi，大家好，非常高兴的告诉大家，首届 PaddlePaddle Hackathon 开始啦。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle。本次共有四大方向（PaddlePaddle、Paddle Family、Paddle Friends、Paddle Anything）四大方向，共计100个任务共大家完成。详细信息可以参考 [PaddlePaddle Hackathon 说明](https://www.paddlepaddle.org.cn/contributionguide?docPath=hackathon_cn)。大家是否已经迫不及待了呢~

本 ISSUE 是 Paddle Family 专区 PaddleN

[2021-09-23 10:23] linjieccc commented on #1067
Please modify `num_class=len(train_ds.label_list)` to `num_classes=len(train_ds.label_list)`.
Sorry for the mistake, the wrong comment will be updated by https://github.com/PaddlePaddle/PaddleNLP/pull/1083

[2021-09-23 11:39] LangDaoAI opened #1084 "[生产Bug]uwsgi多进程方式触发paddlenlp生产问题"
当使用uwsgi多进程方式部署paddlenlp模型时， 所有worker被kill， 检查log时发现，当多个process同时发现'/root/.paddlenlp/datasets' 不存在时，去创建该目录时出现错误。

----------------------
\n
\n2   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()
\n1   paddle::framework::SignalHandle(char const*, int)
\n0   paddle::memory::allocation::MemoryMapFdSet::Clear()
\n  [TimeInfo: *** Aborted at 1632395519 (unix time) try "date -d @1632395519" if y

[2021-09-23 11:39] LangDaoAI commented on #1084
与https://github.com/PaddlePaddle/VisualDL/issues/943 类似

[2021-09-23 11:51] LangDaoAI commented on #1084
import paddlenlp as ppnlp
\nTraceback (most recent call last):
  File "crisis_cls_client.py", line 10, in <module>
  File "crisis_cls_client.py", line 10, in <module>
  File "crisis_cls_client.py", line 10, in <module>
    import paddlenlp as ppnlp
\nTraceback (most recent call last):
\n  File "/usr/local/lib/python3.7/dist-packages/paddlenlp/__init__.py", line 19, in <module>
\n    import paddlen

[2021-09-23 11:51] LangDaoAI commented on #1084
'/root/.paddlenlp/models/embeddings'  同样也是这个问题

[2021-09-24 03:01] Magic-Fy commented on #1067
Ok, it works. Thanks a lot. 👍

[2021-09-24 03:01] #1067 closed, assigned to linjieccc

[2021-09-24 04:16] wawltor commented on #1081
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models  可以使用下面的例子
<img width="1157" alt="图片" src="https://user-images.githubusercontent.com/16698950/134617357-20aa003b-11a0-475e-a02f-41f08b391e91.png">

[2021-09-24 07:52] #1020 closed, assigned to Steffy-zxf

[2021-09-25 06:51] hl123-123 opened #1089 "ernie_gram 这个源码是不是有点问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
网址 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie_gram/modeling.py
287行   attention_mask = paddle.unsqueeze(

[2021-09-25 08:07] libertatis commented on #799
不好意思，刚看到。首先非常感谢！目前我在做一个将PyTorch的NLP库改写成Paddle版的个人NLP项目。未来如果有需要的话，再请官方予以支持！最后，再次表示感谢！

[2021-09-25 08:17] stronger123-boa opened #1090 "albert-chinese-tiny 模型保存出现错误"
1.我是按照官网的案例来写的

`
model = paddlenlp.transformers.ErnieForSequenceClassification.from_pretrained(
    MODEL_NAME, num_classes=len(label_list))
tokenizer = paddlenlp.transformers.ErnieTokenizer.from_pretrained(MODEL_NAME)
`

这样子执行模型训练是没有问题的，并且模型保存在指定的文件夹上

2.但是我改成albert模型就出错了

`
MODEL_NAME = "albert-chinese-tiny"
model = AlbertForSequenceClassification.from_pretrained(MODEL_NAME, num_classes=2)
toke

[2021-09-25 08:56] libertatis commented on #799
[code]

[2021-09-25 08:57] libertatis commented on #1089
请参考 [https://github.com/PaddlePaddle/PaddleNLP/issues/799](https://github.com/PaddlePaddle/PaddleNLP/issues/799)

[2021-09-26 02:58] Steffy-zxf commented on #1089
@hl123-123 你好！你的输入数据是什么样的？请给出最小复现代码。

[2021-09-26 06:04] LangDaoAI opened #1092 "关于多个任务的预训练模型的迁移学习"
Hi Team，

当有多个下游任务需要fine-tuning并且都使用ernie-gram时，预训练+下游任务模型一起调优时， 相同的预训练模型会或多或少发生变化， 这样当保存模型或者部署的时候将都需要同时保存或部署， 那么有没有一种方式可以只保存变化的部分呢， 看到下图有一种adapter的迁移学习模式（Parameter-Efficient Transfer Learning for NLP  https://arxiv.org/abs/1902.00751）似乎在解决这样的问题， 那么我的问题是，当前paddlenlp有提供这样的能力吗？

Thanks!

![image](https://user-images.githubusercontent.com/83859417/134795500-684ea857-b4b4-41ba-9738-073c2fb54c5b.png)

[2021-09-26 08:56] cypqyc opened #1093 "快递单提取模型run_ernie.py中predict方法 和 deploy/python/predict.py 中预测结果差别很大，为什么呢？前者结果很好，后者结果很不好"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-09-26 09:37] Junshuai-Song opened #1094 "文本相似度模型Simnet和“AI开放平台-短文本相似度”问题"
PaddleNLP开发者你们好，请问：
1. AI开放平台公布的接口是你们支持的吗？
2. 为什么不考虑补充上BERT、ERNIE相关模型，效果上不是显著好很多？
3. 请问AI开放接口中LSTM、CNN、BOW相关模型精度和这里给出的Simnet结果类似吗？使用开放接口优势在哪？（虽然模型一致，但内部有更多未公开的数据用于训练，所以开放接口性能更好？）

[2021-09-26 09:38] joey12300 commented on #1093
您好，请问是否可以提供最小测试代码？以及提供Paddle、PaddleNLP版本。可以先检查一下这两者是否加载同一套模型参数，示例中deploy是读取80轮的参数（`ernie_ckpt/model_80.pdparams`），并不是最终参数。

[2021-09-26 12:18] hl123-123 commented on #1089
谢谢，我忽视了这个list转tensor的问题，== tensor运算符重载我没想到，不好意思打扰了。
https://github.com/PaddlePaddle/PaddleNLP/issues/799

[2021-09-26 19:16] flydragon2018 opened #1095 "AttributeError: module 'paddlenlp' has no attribute 'losses'"
/example/text_matching/question_mathing

Traceback (most recent call last):
  File "train.py", line 218, in <module>
    do_train()
  File "train.py", line 142, in do_train
    model = QuestionMatching(pretrained_model, rdrop_coef=args.rdrop_coef)
  File "/home/aistudio/model.py", line 31, in __init__
    self.rdrop_loss = ppnlp.losses.RDropLoss()
AttributeError: module 'paddlenlp' has no attribut

[2021-09-26 19:28] flydragon2018 commented on #1095
my bad.  need to upgrade paddlenlp version to 2.08.

[2021-09-26 19:28] #1095 closed, assigned to nobody

[2021-09-27 02:18] Junshuai-Song commented on #1094
<img width="1140" alt="截屏2021-09-27 上午10 17 17" src="https://user-images.githubusercontent.com/11649517/134836132-a81daa85-270e-4a01-826d-6e25459d9041.png">

来源：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/simnet

[2021-09-27 04:08] wawltor commented on #1094
1. AI开放平台目前不是我们提供的
2. Simnet是一种模型结构，基于非transformer的模型构建的；在text_matching目录有关于BERT/ERNIE相关的匹配模型。
3. AI开放接口模型的实现细节不太了解

[2021-09-27 05:10] #1094 closed, assigned to nobody

[2021-09-27 05:10] Junshuai-Song commented on #1094
thx!

[2021-09-28 02:53] thunder95 opened #1101 "【论文复现】lstm无法与torch对齐"
在torch中:
rnn = nn.LSTM(n_in, n_out, 1, batch_first=True, bidirectional=False)

输出的权重keys：
**odict_keys(['weight_ih_l0', 'weight_hh_l0', 'bias_ih_l0', 'bias_hh_l0'])**

在paddle中：
rnn = nn.LSTM(n_in, n_out, 1, time_major=False, direction="forward")

输出的权重keys：

**odict_keys(['weight_ih_l0', 'weight_hh_l0', 'bias_ih_l0', 'bias_hh_l0', '0.cell.weight_ih', '0.cell.weight_hh', '0.cell.bias_ih', '0.cell.

[2021-09-28 03:16] joey12300 commented on #1101
您好，请问您在复现哪一个模型呢？目前多出来的0.cell权重是为了保证兼容性，weight_ih_l0也会包含这部分权重，实际上并不影响正常的运行结果

[2021-09-28 03:23] thunder95 commented on #1101
您好，谢谢回复。 我在复现66号论文， 因为在尝试对齐检查，所以在排查问题。

[2021-09-28 09:27] yingyibiao commented on #1090
#1102

[2021-09-28 09:28] yingyibiao commented on #1090
感谢反馈，该问题已提PR修复

[2021-09-28 12:17] Junshuai-Song opened #1103 "Bert预训练模型如何设置'test'模式？"
对于这里的匹配任务，
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/sentence_transformers

使用Bert预训练模型fine-tune后，在同一个程序中多次预测同一组结果差距较大，请问如何设置为预测模式？想关闭Bert模型中本身dropout等带来的随机影响。
[code]

当前设置xxx.ptm.mode='test'不起作用

[2021-09-28 14:43] #1090 closed, assigned to yingyibiao

[2021-09-28 16:33] loujie0822 opened #1106 "UnifiedTransformer框架现在可以兼容ernie模型吗？"
UnifiedTransformer框架现在可以兼容ernie模型吗？
或者UnifiedTransformer模型有直接从ernie模型转化的参数吗（包含LMHead参数）？

[2021-09-29 02:17] wawltor commented on #1103
您好，可以设置eval状态来屏蔽一些随机性的影响，同时可以设置no_grad来避免反向变量的生成，来减少显存开销
https://github.com/PaddlePaddle/PaddleNLP/blob/a88382d94043b2d6dc0d9ebcae90885a4dcaab01/examples/language_model/bert/run_glue.py#L186
https://github.com/PaddlePaddle/PaddleNLP/blob/a88382d94043b2d6dc0d9ebcae90885a4dcaab01/examples/language_model/bert/run_glue.py#L188
可以具体看这里

[2021-09-29 03:14] Clearloveplus7 opened #1107 "关于阅读理解dureader_robust训练，训练损失不降低"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
关于阅读理解dureader_robust训练，训练损失不降低是怎么回事

[2021-09-29 08:43] #1103 closed, assigned to nobody

[2021-09-29 08:43] Junshuai-Song commented on #1103
thx!

[2021-09-29 10:53] JunnYu opened #1108 "generate添加RepetitionPenaltyLogitsProcessor"
需求：
添加`RepetitionPenaltyLogitsProcessor`,目前只实现了`MinLengthLogitsProcessor`.
[code]
# 供参考的实现方法。
- 方法1使用了for循环，速度较慢。
- 方法2方法速度较快。
[code]

[2021-09-30 01:45] fly2 opened #1110 "预训练模型推断报错"
在使用paddlenlp的预训练模型进行推断时报错：
InvalidArgumentError: The DataType of equal Op's duplicable Variable Y must be consistent. The current variable type is (int64_t), but the previous variable type is (int). (at /paddle/paddle/fluid/framework/operator.cc:1579)

欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp              2.0.8
paddlepaddle-gpu

[2021-09-30 01:57] JunnYu commented on #1110
`
InvalidArgumentError: The DataType of equal Op's duplicable Variable Y must be consistent. The current variable type is (int64_t), but the previous variable type is (int). (at /paddle/paddle/fluid/framework/operator.cc:1579)
`
问题很明显，所需的是int64_t，而你的输入是int。
试试改成下面的代码看看。
[code]

[2021-09-30 02:24] fly2 commented on #1110
没有用，感觉是erine模型中输出的问题，报错说的是Variable Y的类型不匹配
File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/dygraph_to_static/convert_operators.py", line 210, in convert_ifelse
      return _run_py_ifelse(pred, true_fn, false_fn, true_args, false_args)
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/dygraph_to_static/co

[2021-09-30 03:35] JunnYu commented on #1110
https://github.com/PaddlePaddle/PaddleNLP/blob/7419d2546b91fda848df77828451b614dfcd15e9/paddlenlp/transformers/ernie/modeling.py#L366-L370
`The DataType of equal Op's duplicable Variable Y must be consistent`
那我猜测就是`input_ids == self.pad_token_id`这里出错了，input_ids是tensor，self.pad_token_id不是tensor。可以试试把代码里面的self.pad_token_id改成paddle.to_tensor(self.pad_token_id,dtype="int64")

[2021-09-30 07:03] fly2 commented on #1110
将代码修改为(input_ids == paddle.to_tensor(self.pad_token_id,dtype="int64")).astype(self.pooler.dense.weight.dtype) * -1e9,，还是和之前报错一样。完整报错信息如下：
ValueError: In user code:

    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/runpy.py", line 193, in _run_module_as_main
      "__main__", mod_spec)
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/runpy.py", line 85, in _run_code

[2021-09-30 09:44] JunnYu commented on #1110
下面这个代码可以运行成功
[code]

[2021-09-30 09:49] JunnYu commented on #1110
@fly2 我终于知道是什么问题导致的了，输入必须是`numpy`，不能是`paddle.Tensor`
[code]

[2021-10-03 13:47] cypqyc commented on #1093
代码除了参数之外没有改动，deploy参数也已修改 选取的是我最后一轮模型（ernie_ckpt/model_3125.pdparams）
deploy参数代码如下：
# yapf: disable
parser = argparse.ArgumentParser(__doc__)
parser.add_argument("--model_dir", type=str, default='./output', help="The path to parameters in static graph.")
parser.add_argument("--data_dir", type=str, default="./waybill_ie/data", help="The folder where the dataset is located.")
parser.add_argument("--

[2021-10-05 10:38] Atu-maker opened #1117 "Paddlenlp中基于bert的NER无法复现"
相同代码，跑两次无法复现，结果具有差异性，已经固定了paddle.seed等随机种子

[2021-10-08 01:21] fly2 commented on #1110
可以跑通了，感谢！

[2021-10-08 01:21] #1110 closed, assigned to nobody

[2021-10-08 01:42] joey12300 commented on #1117
你好，请问具体是哪个任务？麻烦请提供最小可复现代码和数据，谢谢~

[2021-10-08 04:43] ZeyuChen commented on #1106
参数结构有一点点不一样。你可以使用ERNIE-Gen这个结构来适配ernie模型。
请问您具体是哪些什么应用场景呢？

[2021-10-08 04:47] ZeyuChen commented on #1092
目前还未提供这样的功能，因为这种场景目前精度会比单任务下降，而且控制只finetune上层对bert这类模型的效果会打较大折扣，我们后续会继续调研下，如果有看到同样模型的开源版本也欢迎分享给我们。

[2021-10-08 07:05] smallv0221 commented on #1107
![image](https://user-images.githubusercontent.com/33639025/136512802-74a11e64-1031-437e-95e3-d2839e983d52.png)
I'm using the newest PaddlePaddle and PaddleNLP package in Linux with python3.7. The loss decreases as expected.

[2021-10-08 13:41] taingload opened #1119 "AttributeError: module 'paddlenlp' has no attribute 'losses' #1095"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
版本：
packaging              20.9
paddlehub              2.0.4
paddlenlp              2.0.8
paddlepaddle-gpu       2.1.2.post101

系统环境：
BML CodeLab 单卡版本

我把所有的代码贴到j

[2021-10-08 14:55] tianxin1860 commented on #1119
请首先检查一下使用的 paddlenlp 版本是否为 2.0.8，如果是 2.0.8 请在检查 losses 模块是否存在于 `${YOUT_PYTHON_PATH}/lib/python3.7/site-packages/paddlenlp/` 模块下？

[2021-10-09 04:25] taingload commented on #1119
你好，loss文件夹不存在于您说的目录下，我的目录的位置是
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/

--更新
你好，我换了个方式，卸载了之前的paddlenlp（2.0.7）再重新安装2.0.8版本，发现在路径下面有了losses文件，重新启用内核之后错误消失了。
谢谢

[2021-10-09 08:34] LangDaoAI commented on #1092
感谢回复！

[2021-10-09 08:37] LangDaoAI opened #1127 "【Request】请求FP16"
Hi Team，

迫切需求FP16压缩模型size增强推理速度，以及利用GPU显存等。

希望Team能够给一下时间，谢谢！

[2021-10-09 08:54] ZeyuChen commented on #1127
是Fewshot的模型，还是普通的文本分类模型呢？

[2021-10-09 08:56] LangDaoAI commented on #1127
Fewshot和普通文本分类模型，也就是涉及到底层预训练模型都需要

[2021-10-09 12:59] LiuChiachi commented on #1127
您好，我先验证下，今天晚些回复您～

[2021-10-09 14:10] JunnYu commented on #1117
问题跟这个类似https://github.com/PaddlePaddle/Paddle/issues/36305

[2021-10-09 16:24] LiuChiachi commented on #1127
您好，下周一给您回复时间。感谢关注～

[2021-10-10 02:00] LangDaoAI commented on #1127
感谢！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jiaqi Liu ***@***.***>
Sent: Sunday, October 10, 2021 12:24:22 AM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 【Request】请求FP16 (#1127)

您好，目前利用Paddle-Inference的FP16预测速度还不符合预期，下周一我会与预测团队的同学请教一下，下周一给您回复时间。感谢关注～

―
You are receivi

[2021-10-10 08:38] #1119 closed, assigned to tianxin1860

[2021-10-10 15:32] FleetCommander004 opened #1132 "试图下载并且调用paddlenlp的skep_ernie_1.0_large_ch安装包，却出现了问题"
最近我在试图下载paddlenlp的skep_ernie_1.0_large_ch安装包。
我的paddlenlp版本是2.0.8.
paddlepaddle版本是2.1.3.
我安装的时候似乎中途中断了一下，导致一些东西下载的不够顺畅。当我试图调用skep_ernie_1.0_large_ch的时候，出现了如下问题：
Traceback (most recent call last):
  File "C:\Users\karlf\Anaconda3\envs\paddle_env\lib\site-packages\paddle\framework\io.py", line 855, in load
    load_result = pickle.load(f) if six.PY2 else pickle.load(
_pickle.UnpicklingError: pickle

[2021-10-10 15:50] ZeyuChen commented on #1132
`C:\Users\karlf.paddlenlp\models\`
可以试试删除你本地用户目录下的这个文件夹后再重新尝试。

[2021-10-10 15:52] ZeyuChen commented on #1117
FLAGS_cudnn_deterministic=True
@Atu-maker 试试加上这个开关后再试试。
结果波动大吗？

[2021-10-10 16:13] FleetCommander004 commented on #1132
谢谢!下载成功了。

[2021-10-11 05:38] cypqyc opened #1137 "快递单提取模型run_ernie.py中predict方法 和 deploy/python/predict.py 中预测结果差别很大，前者结果很好，后者结果很不好"
模型部署参数也修改了 params_path ernie_ckpt/model_80.pdparams 将model_80换成了迭代的最后一轮model_3125
deploy/python/predict.py 文件中只有batch_size 调整了 和 run_ernie中保持了一致  其他代码都没动
求解 🙏

[2021-10-11 09:25] LangDaoAI opened #1141 "readme 2.1版本发布？"
![image](https://user-images.githubusercontent.com/83859417/136766438-6ab2f049-5cb8-4656-93b0-da27fa5eac32.png)

tag分支并未看到2.1, 想确认一下，谢谢！

[2021-10-11 10:45] yingyibiao commented on #1141
今晚发布～

[2021-10-11 14:07] joey12300 commented on #1137
@cypqyc 您好，经检查发现是README写错了。导出模型的时候应该是`python export_model.py --params_path ernie_ckpt/model_80/model_state.pdparams --output_path=./output`，导出时出现下图红框所示，即表示成功导入参数
![image](https://user-images.githubusercontent.com/10826371/136804142-d7b53ff3-18f0-49fc-9e2f-6420980e4800.png)

[2021-10-11 14:25] LiuChiachi commented on #1127
HI @LangDaoAI 您好～
FP16下更快的推理加速功能预计在paddle 2.2正式版发布，在11月初。
感谢关注:)

[2021-10-11 14:59] #1137 closed, assigned to joey12300

[2021-10-11 15:52] ZeyuChen commented on #1141
@LangDaoAI 2.1 pypi包已发，ReleaseNote待会更新。

[2021-10-11 15:52] #1141 closed, assigned to nobody

[2021-10-11 16:17] LangDaoAI commented on #1127
好的，期待！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jiaqi Liu ***@***.***>
Sent: Monday, October 11, 2021 10:26:01 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 【Request】请求FP16 (#1127)

HI @LangDaoAI<https://github.com/LangDaoAI> 您好～
FP16下更快的推理加速功能预计在paddle 2.2正式版发布，在11月初。

[2021-10-12 02:49] joey12300 commented on #1117
@Atu-maker 可以参考ErniePretrainedModel里init_weights的设置：
[code]
然后在模型__init__函数中调用self.apply(self.init_weights)，可保证初始化模型时参数保持一致。

[2021-10-12 06:46] JKsang opened #1152 "Cublas error, `CUBLAS_STATUS_INTERNAL_ERROR`"
请问一下用官方的代码跑文本分类，这个报错是啥原因？[『NLP经典项目集』02：使用预训练模型ERNIE优化情感分析](https://aistudio.baidu.com/aistudio/projectdetail/1294333)
- 版本、环境信息
1）PaddleNLP==2.1.0，PaddlePaddle==2.0.2
2）系统环境：Linux, python==3.7.4
![image](https://user-images.githubusercontent.com/48127870/136905177-457168db-173e-40c8-9f8a-f00849b5cb29.png)
![image](https://user-images.githubusercontent.com/48127870/136905232-963d7207-8065-4b87-9e3a

[2021-10-12 08:01] wawltor commented on #1152
麻烦提供一下GPU型号以及CUDA，CUDNN版本

[2021-10-12 08:17] #1108 closed, assigned to nobody

[2021-10-12 08:34] JKsang commented on #1152
找到问题了，模型定义的类别数目和数据的类别没对上，但是为啥CrossEntropyLoss不提示错误，反而cuda报错呢？
Cuda compilation tools, release 10.1, V10.1.243
cudnn==7.3.1

[2021-10-12 08:51] wawltor commented on #1152
看起来cudnn的版本也是比较低，可以升级cudnn版本到7.6再看看报错正常？

也可以提供一下CrossEntropyLoss的具体出错的shape，我们也排查一下是否op的报错有问题

[2021-10-12 09:00] JKsang commented on #1152
CrossEntropyLoss输入logits的shape是（32，88），label的shape是（32， 1），但是label中有大于等于88的数值。

[2021-10-12 09:50] wawltor commented on #1152
![image](https://user-images.githubusercontent.com/16698950/136933694-545ba075-4ee0-4829-9b06-d22a3ec83a93.png)
在即将发布的paddlepaddle 2.2 rc版本中，我们将在前端python拦截这个问题

[2021-10-12 14:44] #1132 closed, assigned to ZeyuChen

[2021-10-12 15:05] JKsang commented on #1152
好的，谢谢！

[2021-10-13 02:15] tianchiguaixia opened #1156 "如何提高ernie-tiny在cpu上生成向量的速度"
1.可以使用paddle-inference来做？有案例？
2.有其他更好的方法？

[2021-10-13 02:46] LiuChiachi commented on #1156
您好～
可以使用paddle-inference来做，可以参考PaddleNLP里BERT预测的[案例](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert)，可以先查看README中的**预测**部分的教程，把模型替换成ernie-tiny即可。
- BERT导出模型使用的脚本：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/export_model.py
- BERT预测使用的脚本：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/pre

[2021-10-13 02:57] #1152 closed, assigned to wawltor

[2021-10-13 03:23] LangDaoAI commented on #1127
想问一下FasterTransformer 集成进来后， 是不是后面ERNIE系列的模型的底层都会做优化提供FasterTransformer 的支持，进而可以做高速推理？

[2021-10-13 03:24] tianchiguaixia commented on #1156
有paddle-inferenc对ernie-tiny加速的脚本？

[2021-10-13 03:30] LiuChiachi commented on #1156
上面的链接，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert
这个里面的predict.p和predict_glue.py就是，参数model_type传ernie就可以了

[2021-10-13 05:23] tianchiguaixia commented on #1156
我本来使用的就是ernie-tiny。我是想在erine-tiny的基础上提速，不是在bert上提速。

[2021-10-13 05:25] LiuChiachi commented on #1156
明白你的意思，这个脚本是通用的，是可以给ernie-tiny模型使用的。

[2021-10-13 05:36] tianchiguaixia commented on #1156
使用这个，ernie-tiny会变快？生成句向量

[2021-10-13 06:48] LiuChiachi commented on #1127
是的，ERNIE系列模型需要用到的高性能推理API之后会开放～

[2021-10-13 08:39] LangDaoAI commented on #1127
好的

[2021-10-14 00:41] ZTurboX opened #1161 "ernie-csc的qps"
请问ernie-csc的qps能达到多少

[2021-10-14 02:07] joey12300 commented on #1161
@zhentaoCoding 你好，请问你是指这里的模型吗？https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_correction/ernie-csc

[2021-10-14 02:12] wawltor opened #1162 "如何离线使用Taskflow任务"
### PaddleNLP安装
   pip install --upgrade paddlenlp
   如果离线机器没有pip安装paddlenlp，可以尝试在有网络的机器上安装好paddlenlp，然后把python包迁移到离线机器上或者根据源码来安装paddlenlp

### 离线使用Taskflow
#### 创建任务目录
根据任务名和模型名创建本地目录，例如任务是word_segmentation任务，模型名lac，因此需要创建以下目录：
     **~/.paddlenlp/taskflow/word_segmentation/lac/**
具体的任务名和模型之间的关系可以参考  https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/taskflow.py

#### 根据模型名

[2021-10-14 02:13] ZTurboX commented on #1161
是的

[2021-10-14 02:17] di-osc opened #1163 "关于文本纠错"
paddlenlp 2.1.0

[2021-10-14 02:25] di-osc commented on #1163
1 论文中的例子目前taskflow里面的文本纠错都不能实现
![image](https://user-images.githubusercontent.com/73778524/137239552-500e61ca-e407-444d-bc99-8deba9fc98d2.png)
他们的吵翻很不错,再说他们做的咖喱鸡也好吃!
结果:
吵 -> 炒
翻 ->  番
论文里面说的是:
吵 -> 炒
翻 -> 饭

2 文本比较长的时候会报错

paddlenlp和paddle都是最新版本

[2021-10-14 02:47] joey12300 commented on #1163
@Ddream-ai   你好，论文中提到了两个提高纠错能力的方法：
1. 纠错模型结构中通过soft mask方式加入字音特征。
2. 在预训练阶段加入字音特征，提升预训练模型对同音字的召回能力。

论文中MLM-phonetics模型是在ERNIE基础上，加上字音特征在大规模无监督数据进行二次预训练，然后在纠错数据集上进行finetune得到的。目前由于论文中暂未开源该模型参数，所以TaskFlow提供的文本纠错模型是直接基于ERNIE-1.0的预训练模型进行finetune的（对应表格中ERNIE一行）。

[2021-10-14 08:18] LangDaoAI opened #1167 "[Feture Request]Taskflow dependency parsing task 追加已分词后解析语法树能力"
原DDParser功能中可以通过输入已分词来做语法树解析，请看下图：

![image](https://user-images.githubusercontent.com/83859417/137278053-d4d66691-97fe-4d63-9d79-a9c9f9b5c4f6.png)

当前taskflow/dependency_parsing.py 初始化时强制要求安装LAC， 如下图，

![image](https://user-images.githubusercontent.com/83859417/137278364-aa379b1f-f90c-48a0-8dbb-bc87c659217d.png)

我们实际测试中发现LAC有一些粒度分地有点大， 相反用jieba更好（也是在一些场景下或者用户自己的喜好），所以我们会先用jieba分好词之后再使用DDParser进行

[2021-10-14 08:23] Never-up opened #1168 "分词错误"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.1，PaddlePaddle2.0
2）系统环境：Linux     python版本3.7
错误：因为运行Taskflow分词报错
![20211014161513](https://user-images.githubusercontent.com/58769713/137279432-b08294cf-bf43-4d7b-9ec8-ffa6e7463b18.jpg)

[2021-10-14 08:28] joey12300 commented on #1168
@Never-up 你好，根据您提供的信息，应该是paddle版本过旧引起的，请更新paddle至最新版本。

以下是我的测试结果
![image](https://user-images.githubusercontent.com/10826371/137280387-b3d15c4f-3a9b-483c-9d11-5c63696567eb.png)

[2021-10-14 10:19] ZeyuChen commented on #1167
@LangDaoAI 收到，我们评估下接口优化工作。

[2021-10-14 11:49] Stave604671 opened #1169 "保存unimo-text静态图模型时，报错AttributeError: 'tuple' object has no attribute 'dtype'"
两个问题：
1、想要保存unimo-text的静态图模型，使用以下代码执行的时候报错。
2、如何保存unimo-text的结构信息然后可视化模型结构，visualdl无法读取，
![image](https://user-images.githubusercontent.com/59908449/137311603-0d16aa2e-349a-4ed3-bfad-a996fe5c84fd.png)

![image](https://user-images.githubusercontent.com/59908449/137311528-b5b081cf-408e-4388-8a22-372254e507bf.png)

- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.0.8，PaddlePaddle-gpu==2.1.0
2）系统环境：

[2021-10-14 13:44] HuStanding opened #1170 "taskflow函数加载错误"
系统：Linux Ubuntu

环境：
paddlenlp        2.1.0
paddlepaddle     2.1.0

问题：使用教程加载下面的代码时出现错误
[code]

[code]

请问这个是版本号的问题吗？是不是没有对应上？

[2021-10-15 01:18] tianya092 commented on #1170
2.1.0 paddle 中 目前只有，paddle.is_compiled_with_cuda(  paddle.is_compiled_with_npu(   paddle.is_compiled_with_xpu ，还有看到is_compiled_with_rocm方法，不知道他们咋发布的，都不测试的吗？

[2021-10-15 02:22] wawltor commented on #1170
最新发版的Taskflow依赖于最新的版本PaddlePaddle，可以更新一下PaddlePaddle

[2021-10-15 06:22] HuStanding commented on #1170
我卸了PaddlePaddle2.1.0安装了PaddlePaddle2.1.3解决了，官方还是在README里面明确说明一下吧，按照README里面的>=2.1版本不太准确。

[2021-10-15 06:37] wawltor commented on #1170
OK  我们在Taskflow的文档中加一下这个注释

[2021-10-15 07:46] shaitaiyangmie opened #1174 "分布式训练相关问题"
您好，请问在设置多卡训练后，报错：
assert self.sharding_degree > 1, "by now we only support five kind of hybrid dp: sharding_hybrid_dp, mp_sharding_hybrid_dp, pp_hybrid_dp, mp_sharding_pp_hybrid_dp, sharding_pp_hybrid_dp."
AssertionError: by now we only support five kind of hybrid dp: sharding_hybrid_dp, mp_sharding_hybrid_dp, pp_hybrid_dp, mp_sharding_pp_hybrid_dp, sharding_pp_hybrid_dp.
请问您知道这是什么原因吗？等待您的讲解，谢谢您！

[2021-10-15 09:46] smallv0221 commented on #1169
This is caused by a bug of `paddle.jit.to_static`. We are working on it. Sorry for the inconvenience.

[2021-10-16 00:36] tianrking opened #1177 "AttributeError: module 'paddlenlp' has no attribute 'losses'"
AttributeError: module 'paddlenlp' has no attribute 'losses'

[code]

[2021-10-16 08:39] ZeyuChen commented on #1177
请确定PaddleNLP使用的是2.0.8以上的版本。@tianrking

[2021-10-16 09:45] ZeyuChen opened #1178 "Taskflow 情感分析任务缺少模型score概率值输出"
RT.

情感分析任务的score值对开发者的后续的使用有比较大的作用，需要新增这一返回。

[2021-10-16 10:18] Chenfei-Kang opened #1179 "显存随着训练步数不断上升"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP=2.1.0 PaddlePaddle=2.1.1-gpu
2）系统环境：Windows ，python =3.7  和 AI studio jupyter 高级版(两个都试了)
- 复现信息：如为报错，请给出复现环境、复现步骤

**报错信息**
Out of memory error on GPU 0. Cannot allocate 16.781494MB memory on GPU 0, 7.993042GB memory has been allocated and available memory is only 7.125000MB.
详细描述：
刚开始跑的时候，模型加数据大约在 5.7GB 显存左右，然后跑着跑着

[2021-10-16 12:01] AI-Mart opened #1180 "PaddleNLP/examples/semantic_indexing/"
这里面的predict都是直接基于动态图做推理加载，实际的工业落地场景，这里是否要转换成静态图集合paddle inference才合理？假如只需要得出输入句子的向量表示，如果需要转换，是不是以下代码就可以？

[code]

[2021-10-17 15:59] growvv opened #1182 "PaddleNLP将训练结果保存到checkpoint, 为什么每次推理结果不一样？？"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlepaddle-gpu 2.1.3、paddlenlp 2.1.0
2）系统环境：Ubuntu 18.04
- 复现信息：
1) Example中的例子Sentence_transformer: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/sentence_transformers
2) 训练命令:
python  train.py --device gpu --save_dir ./checkpoint
3) 预测命令
python  predict.py --device gpu --params_path checkpoints/model_9900/model_state.pdparams

[2021-10-18 02:11] AI-Mart opened #1183 "PaddleNLP/examples/text_classification/pretrained_models/train.py 评价的时候如何输出 精确率、召回率和F1值"
以下函数，目前只有准确率，评价的时候如何增加输出 精确率、召回率和F1值，具体增加什么代码？

[code]

[2021-10-18 02:16] growvv commented on #1182
发现了，前后路径不一致，checkpoints多写了个s
路径写错了竟然还不会报错hhh

[2021-10-18 02:16] #1182 closed, assigned to Steffy-zxf

[2021-10-18 02:51] ZHUI commented on #1174
可以设置脚本 use_sharding=False 试一下？

[2021-10-18 02:53] ZHUI commented on #1174
龙哥看一下，use_sharding 这个静态图配置，是否要支持一下，纯dp，不用sharding的情况。  cc @sandyhouse

[2021-10-18 03:01] sandyhouse commented on #1174
sharding optimizer里面不太建议增加纯dp功能的支持，理由如下：
1. 在sharding_optimizer里面支持dp功能会进一步增加sharding_optimizer的复杂度、可读性和可维护性；
2. dp功能是目前最常用的分布式训练方法，使用方法也比较简单，把常用功能放入到一个非常用里面功能里面，不太符合逻辑，且增加了使用的负责度；
3. 导致同一功能多套代码，比如对dp功能做了优化（如梯度fuse），就需要考虑是否需要对sharding里面的dp代码也同步修改，否则用户使用时会存在性能等方面差异，导致用户无所适从。

综上，最好还是采用松耦合的方式。

[2021-10-18 03:37] ZHUI commented on #1174
了解了，谢谢啦

我大概说一下我这边从使用的角度看到的部分问题哈

1.  只用dp，sharding_degree=1 的情况下，使用mp，pp，目前都是不合法的。功能完备性是有缺失的。如上述理由，存在一定技术上的困难。
2. 可能主要问题，是没有将 sharding 和 mp pp 解耦。或者说，目前sharding是一份不完备的dp的复制，维护成本也很大。

针对1的话，paddlenlp可以在训练参数配置中，屏蔽部分不合法的配置，不暴露use_sharding选项，并给用户参数提示、建议。
针对2的话，分布式这边可以长期看怎么样设计比较好，可否有更优的方案。

[2021-10-18 03:44] linjieccc commented on #1183
你好，可以使用PaddleNLP内置Metrics API中的`paddlenlp.metrics.AccuracyAndF1`，具体示例如下

metric替换为`paddlenlp.metrics.AccuracyAndF1`：
[code]

`evaluate`函数修改如下：
[code]

[2021-10-18 03:47] sandyhouse commented on #1174
是的。所以，我们近期会把文档集中优化一波，在文档中把常见并行模式的使用方法解释清楚。
易用性提升也是我们持续在做的事情，最近我们也会收集易用性方面的反馈，来整体考量后面怎么整体优化分布式使用体验。

[2021-10-18 03:50] AI-Mart commented on #1183
，谢谢大佬， 刚才挨个搜了下，找到glue的metric做参考，也是差不多这么写的，已经在跑了
有个疑问的是res = metric.accumulate()是不是要放到for循环外面，做评估是针对所有的评估数据然后取平均吧，放里面是每个batch一个评估

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-10-18 03:52] ZHUI commented on #1174
期待！

[2021-10-18 03:53] AI-Mart commented on #1183
另外一个问题假如要作为保存最佳模型的判别指标，是不是针对2分类问题，F1指标是最佳判断指标

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Lincoln"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月18日(星期一) 中午11:50
***@***.******@***.***&gt;;
**

[2021-10-18 06:39] linjieccc commented on #1183
Accuracy在分类问题中是评估模型好坏的经典评估指标，但它对数据集的样本分布要求较高。

如果是在数据集分布不均衡等情况下可以选择F1值（trade off Precision VS Recall）作为模型好坏的评判标准。

[2021-10-18 06:40] linjieccc commented on #1183
感谢指出，我们修复一下，谢谢！

[2021-10-18 06:41] linjieccc commented on #1183
感谢指出，我们修复下，谢谢！

[2021-10-18 06:41] AI-Mart commented on #1183
好的，谢谢，样本情况有些确实未知，那还是选F1保险

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月18日(星期一) 下午2:39
***@***.***&gt;;
***@***.******@***.

[2021-10-18 06:41] AI-Mart commented on #1183
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月18日(星期一) 下午2:40
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Padd

[2021-10-18 07:38] Chenfei-Kang commented on #1179
已解决，不过建议增加一个手动回收显存的API，thanks

[2021-10-18 07:40] andrew-begain opened #1187 "麻烦问下，生成式对话是理解上下文的吗？怎样利用自己的数据集进行训练呢？谢谢"

[2021-10-18 08:15] tianxin1860 commented on #1180
你好，动转静示例请参考: https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/few_shot/efl/export_model.py， 语义索引模型的产业级预测部署能力我们正在支持当中，预计将在 PaddleNLP 2.2.0 版本发布，欢迎关注~

[2021-10-18 08:17] AI-Mart commented on #1180
支持飞桨，好的，期待你们的发布

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月18日(星期一) 下午4:15
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2021-10-18 08:19] tianxin1860 commented on #1187
你好，当前基于预训练模型的生成式对话解决方案都是对上下文进行理解建模的。基于自己的数据集进行训练可以参考 PaddleNLP 的对话示例: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer

[2021-10-18 09:32] SkipAngel commented on #1169
请问一下能把unimo转成动态图弄成onnx模型吗

[2021-10-18 09:50] AI-Mart commented on #1180
另外请教大佬个问题，paddlenlp的ernie模型部署到cpu服务器了，如何加速呢，现在感觉有些慢，并且运行的时候占用cpu资源挺高，调用一次模型基本占用100%的服务器cpu
如何优化，加快推理速度并且减小占用cpu资源

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-10-18 10:13] Lanme commented on #723
你好，方便提供下FGM修改后的代码么

[2021-10-18 10:54] HuStanding opened #1188 "paddlenlp使用GPU版本的时候出现问题"
系统：Ubuntu16.04
环境：paddlepaddle-gpu==2.0.2
paddlenlp==2.1

输入代码：
[code]

报错信息：
[code]

所以paddlenlp不支持GPU版本吗？还是说paddlepaddle版本号不对？我试过最新的paddle版本，直接提示导入错误了

[2021-10-18 10:58] #1188 closed, assigned to nobody

[2021-10-18 12:14] nlper-77 opened #1189 "ERNIE-Doc可能写的有问题"
运行分类用例的shell脚本 在 run_classifier.py 中增加了visualdl日志（记录acc和loss）
[code]

训练过程指标如下图（左侧loss，右侧acc， 蓝线代表train, 绿线代表valid）看起来很奇怪。。。：
![image](https://user-images.githubusercontent.com/90759398/137724806-6e1ad963-4241-400f-a7ef-b7e384876759.png)

在我把ERNIE-doc用到我自己的数据上（新闻情感分类，长文本占比53%）上时，也得到类似的曲线。

此外 data.py 中 ClassifierIterator类的_get_samples()方法，直接截断（实现的太过粗暴）,对于长文档无法像论文中说的那样，用到全文
[code]
@ZeyuChen

[2021-10-18 13:32] joey12300 commented on #1189
@nlper-77 您好，针对两个问题：
1. 应针对不同的数据集设置不同的学习率。可以参考论文的参数设置，如下（如果无法设置论文中提到的batch_size，可以减少batch_size 大小，并减少lr大小。epoch也是一个重要参数，训练时会影响lr的变化，应严格按照论文提供的超参进行设置）：
![image](https://user-images.githubusercontent.com/10826371/137740348-070b1a81-60a5-4e8e-a438-f94b296d4ca8.png)

2. 每个span是一个batch。 假如当前batch有三个doc，分别是[doc_0, doc_1, doc_2]，长度分别是[2, 3, 4]个span。那么第一个batch将是[doc_0_0, doc_1_0, doc_2_0]，第二个batch将是[doc_0

[2021-10-19 01:16] andrew-begain commented on #1187
非常感谢，我仔细看下，谢谢

[2021-10-19 01:36] nlper-77 commented on #1189
@joey12300 谢谢您及时的回复  我再仔细看下 非常感谢！

[2021-10-19 02:33] tianxin1860 commented on #1180
对于 CPU 来说预训练模型的计算复杂度很高， ERNIE 模型部署到 CPU 打满计算资源是符合预期的；建议基于 GPU 进行快速推理，如果必须基于 CPU 做预测的话，为了提高预测速度，可以考虑进行模型压缩，通过小型化模型提高推理速度。

[2021-10-19 02:37] AI-Mart commented on #1180
模型压缩一般哪种比较合适呢，直接用压缩后的预训练模型，比如ernie-tiny，进行微调训练。
还是直接用大预训练模型，比如ernie，进行微调训练，然后再压缩。
一般而言以上两种方式哪种会比较好呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt

[2021-10-19 03:10] Macxy2018 opened #1192 "Taskflow可以多核CPU预测吗？"
- 版本、环境信息
1）PaddleNLP 2.1.0，PaddlePaddle2.1.3
2）CentOS 7，python 3.6.5
3）64核CPU，无GPU，内存16G
- 复现信息
Taskflow(
    'knowledge_mining',
    model='wordtag',
    batch_size=1,
    max_seq_length=128,
    linking=True)
- 业务上需要单个模型实例(内存限制，没法开多个模型实例)，单条语句输入(batch=1)，用CPU进行预测，发现只使用单核CPU，请问有办法修改配置调用多核吗？

[2021-10-19 03:20] SkipAngel commented on #1169
dev_ds = load_dataset(
        'advertisegen', splits='dev', data_files="./phvm/phvm_test.jsonl")
    model = UNIMOLMHeadModel.from_pretrained("./table_log/checkpoints/model_15000")
    tokenizer = UNIMOTokenizer.from_pretrained("./table_log/checkpoints/model_15000")
    resource_files_names = "./table_log/checkpoints/model_15000/model_state.pdparams"
    dev_ds, dev_data_loader = create_data_load

[2021-10-19 03:27] wawltor commented on #1192
export OMP_NUM_THREADS=10 可以尝试打开这样开关，这个是一个多线程加速的方式

[2021-10-19 03:40] Macxy2018 commented on #1192
输入export OMP_NUM_THREADS=10后可以用多核了

[2021-10-19 03:55] ZHANG-GuiGui opened #1193 "Cuda error(700), an illegal memory access was encountered"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）paddlenlp 2.0.8 paddlepaddle-gpu 2.1.3
2）系统环境：Linux python 3.6.3

将 https://github.com/PaddlePaddle/PaddleNLP/tree/v2.0.8/examples/text_generation/unimo-text 基线中的模型改成`unimo-text-1.0-large`之后，出现如题错误。但是`unimo-text-1.0`可以正常运行。
详细报错如下：
[code]

[2021-10-19 05:45] Yanxing-Shi commented on #987
hi，请问这个问题修复好了吗？

[2021-10-19 06:10] ZHANG-GuiGui commented on #1193
根据在CPU上运行的报错发现是由于tokenizer读取错误导致的。vocab文件在转换encoding类型的时候可能发生了一些错误，导致`pad_token_id`变成了12088，超过了`position_embedding`的张量大小。重新下载vocab文件之后可以正常运行。

[2021-10-19 06:10] #1193 closed, assigned to smallv0221

[2021-10-19 06:58] Yanxing-Shi commented on #987
你好，请问这个问题修复好了吗？

[2021-10-19 07:01] Stave604671 commented on #1169
感谢您的回复，但是我在windows和aistudio上都试了一下您的代码，还是在报那个错，，详细日志如下：
aistudio python3.7
paddle2onnx            0.8.2
paddlefsl              1.0.0
paddlehub              2.0.4
paddlenlp              2.1.0
paddlepaddle-gpu       2.1.2.post101
Traceback (most recent call last):
  File "toonnx.py", line 278, in <module>
    run(args)
  File "toonnx.py", line 155, in run
    paddle.onnx.export(model, "./onnx_model",

[2021-10-19 07:03] smallv0221 commented on #1169
paddle2onnx also use something like paddle.jit.to_static inside. So they encountered the same bug.

[2021-10-19 07:05] SkipAngel commented on #1169
https://gitee.com/paddlepaddle/Paddle2ONNX/blob/develop/examples/tutorial.ipynb   试试这个看看行不行。

[2021-10-19 07:16] wawltor opened #1195 "Taskflow的纠错任务支持ernie-tiny模型"

[2021-10-19 08:47] FleetCommander004 opened #1196 "关于如何解读paddlenlp中文模型预测结果的问题"
最近我在训练并使用paddlenlp的skep_ernie_1.0_large_ch模型。**我的paddlenlp版本是2.1.0，paddlepaddle-gpu版本是2.1.3.**
我发现最终模型预测出来的结果是这个格式的：
[[-3.4302268 ,  7.814872  , -3.0930223 ],
       [-3.8110301 ,  6.4573817 , -2.0783448 ],
       。。。
       [-2.7968476 ,  6.406624  , -2.7197244 ],
       [-3.7131455 ,  6.922563  , -2.263939  ]]
**我做的是一个三分类的模型，现在我在试图把这些数字转化为每一类的对应的概率。**
我用的部分代码如下：
[【参考https://aistudio.baidu.com/ai

[2021-10-19 09:30] gongel commented on #1196
你好，可以加一个`paddle.nn.functional.softmax`进行归一化。

[2021-10-19 10:49] shaitaiyangmie commented on #1174
您好，我把use_sharding设置成了false，并且pretrain.sh中mp dp pp sharding均设置为1，topo = Topology( )中的参数num mp报错，请问这是为什么呢？如果我只想单纯使用多卡训练而并不使用sharding，则应该做什么修改呢？谢谢您指点。

[2021-10-19 12:30] AI-Mart opened #1197 "paddlenlp大预训练模型比如ernie如何通过paddleslim量化加速后部署到cpu，有没有相关的案例或者代码介绍"
paddlenlp大预训练模型比如ernie如何通过paddleslim量化加速后部署到cpu，有没有相关的案例或者代码介绍

[2021-10-20 01:31] ZHUI commented on #1174
具体是哪一个 模型的训练代码呢？能给一个报错截图吗？

[2021-10-20 01:59] ZZHHogan opened #1199 "TypeError: download_file() takes from 3 to 4 positional arguments but 5 were given 请问如何解决呢"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlefsl               1.0.0
paddlenlp               2.1.0
paddlepaddle            2.1.3
使用的python是3.8.1

2）系统环境：请您描述系统类型：
Linux version 3.10.0-1160.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC) ) #1 SMP Mon Oct 19 16:18:59 UTC 2020
- 复现信息：
![imag

[2021-10-20 02:04] FleetCommander004 commented on #1196
您好，非常感谢您的回复，我会尽快尝试的。

[2021-10-20 02:26] #1178 closed, assigned to linjieccc

[2021-10-20 02:26] wawltor commented on #1199
请问一下 是使用最新的develop版本吗？

[2021-10-20 02:58] ZZHHogan commented on #1199
是的，NLP是使用最新的develop版本

[2021-10-20 02:58] wawltor commented on #1199
可以拉取最新的develop版本，再试一下

[2021-10-20 03:02] shaitaiyangmie commented on #1174
您好，是language model里面的ernie预训练代码，现在好像没有了，我之前下载到本地用的。
<img width="946" alt="多卡报错1" src="https://user-images.githubusercontent.com/73834112/138021090-ce41d996-7429-4bb8-be37-cd96287cf7ae.png">
<img width="1099" alt="多卡报错2" src="https://user-images.githubusercontent.com/73834112/138021097-383d7439-ceee-477c-af24-46a6387c6d55.png">

[2021-10-20 03:06] wawltor commented on #1170
https://github.com/PaddlePaddle/PaddleNLP/pull/1190  更新已合入

[2021-10-20 03:22] ZHUI commented on #1174
我明白了。这套代码比较老了，不再推荐用户使用，已经放到了。
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/experimental

建议使用 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0 这一份代码去训练。

[2021-10-20 03:38] ZZHHogan commented on #1199
好的，我是早上九点多拉取的develop，你们这边刚刚是更新了是吗，然后再重新拉取？

[2021-10-20 03:42] wawltor commented on #1199
嗯呢 重新拉取 之前我们修复PR一直没有合入到develop版本上

[2021-10-20 06:24] AI-Mart commented on #1180
这是ernie-tiny的结果：f1_score=0.577903, precision=0.501267, recall=0.682202
这是ernie-gram的结果：&nbsp;f1_score=0.955794, precision=0.955121, recall=0.956468
效果相差太大了，在实体识别的任务是

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-10-20 06:28] FleetCommander004 commented on #1196
试验过了，效果很好。非常感谢。

[2021-10-20 06:47] LiuChiachi commented on #1197
您好～11月底我们会发布PaddleNLP2.2版本。我们计划在2.2开放BERT通过paddleslim量化加速后部署到cpu/gpu的案例～

[2021-10-20 07:34] AI-Mart commented on #1197
https://gitee.com/AI-Mart/PaddleNLP/tree/develop/examples/model_compression/ofa
这个是不是就是BERT通过paddleslim量化加速的案列呢？但是上面有说明说仅支持bert模型，能不能支持其他模型比如ernie-gram

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-10-20 07:37] LiuChiachi commented on #1197
这个链接是利用裁剪+蒸馏的策略对BERT进行压缩的一个例子，不包含量化。ernie-gram我们还没有测试过，但是和BERT网络结构类似，可以尝试把bert改成ernie-gram试一下～包含量化的例子也是近期会发布

[2021-10-20 07:39] AI-Mart commented on #1197
明白，希望这方面paddlenlp能加大力度，因为真正的产业落地，这些是必须要考虑，又要准，又要快。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月20日(星期三) 下午3:38
***@***.***

[2021-10-20 07:52] LiuChiachi commented on #1197
感谢关注！这一块会持续补充完整，有任何建议都欢迎反馈～:)

[2021-10-20 08:45] ZZHHogan opened #1202 "请问有提供SimCSE的模型吗？"
请问有提供SimCSE的模型吗？目前这边的机器训练不了，所以想先使用SImCSE的模型进行推理测试，不知道官方哪里有提供？

[2021-10-20 08:57] wht0948 opened #1203 "OSError: (External) Cublas error, `CUBLAS_STATUS_INVALID_VALUE`."
重装了一个2.1.3的paddle版本之后就加载不了模型了，请问是什么原因

import paddle
import paddle.nn.functional as F
import paddle.nn as nn
from paddle.optimizer.lr import NoamDecay
from paddle.optimizer import AdamW
from paddle.io import DataLoader
from paddlenlp.transformers import UnifiedTransformerLMHeadModel, UnifiedTransformerTokenizer

model_name_or_path = 'unified_transformer-12L-cn'
model = UnifiedTransformerLMHeadMode

[2021-10-20 09:02] AI-Mart commented on #1197
https://gitee.com/AI-Mart/PaddleNLP/tree/develop/examples/model_compression/ofa

我想问下这个模型压缩案例是针对分类任务的，如果要改成实体识别的任务比如MSRA_NER&nbsp;代码应该怎么更改
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-10-20 09:17] wawltor commented on #1203
辛苦提供一下 机器的Cuda版本和GPU的型号，可能是新安装的PaddlePaddle的cuda版本不对

[2021-10-20 09:21] #1199 closed, assigned to wawltor

[2021-10-20 12:05] lingyongyan opened #1204 "Wrong cross_entropy_loss computation in the text_matching example"
开发者你好，
我在参考你们的example代码的时候，发现text_matching的示例中，cross entropy loss的计算有点问题。
按照官网的介绍，paddle.nn.CrossEntropyLoss的输入应当是logits和label，但是示例中给的是probs。
我在ernie_matching 和sentence_transformers 两个示例中均发现了这个问题。

https://github.com/PaddlePaddle/PaddleNLP/blob/27917453b598dec9791f692b0a72395a19ba95fe/examples/text_matching/ernie_matching/model.py#L40

https://github.com/PaddlePaddle/PaddleNLP/blob/27917453b598dec

[2021-10-21 01:35] LangDaoAI commented on #1202
这个问题是否延展到examples所有模型能够提供训练好的模型？

[2021-10-21 02:06] ZZHHogan commented on #1202
应该不需要，我现在只想试试这个效果

[2021-10-21 02:50] ZZHHogan commented on #1199
你好，拉取之后好像并没有解决。
![image](https://user-images.githubusercontent.com/40531744/138202888-0019bafb-3aec-4d85-9c59-17b04efcdd53.png)
拉取后也更新了paddlenlp，请问怎么解决呢？
paddlefsl               1.0.0
paddlenlp               2.1.1
paddlepaddle            2.1.3

以下是代码内容：
![image](https://user-images.githubusercontent.com/40531744/138203034-9a0436dd-bfe3-4408-a774-9ed1c7327a40.png)

[2021-10-21 03:00] shaitaiyangmie opened #1208 "ernie-1.0报错，make相关问题求助。"
您好，在进行ernie-1.0预训练过程中，出现ModuleNotFoundError: No module named 'data_tools.helpers'的情况，请问是否是make失败？检查了makefile中的CPPFLAGS和LIBEXT，python路径设置没问题，并且pybind11包已安装，g++、make工具正常，请问应该如何解决呢？具体报错和makefile设置情况如下图所示，感谢您的帮助。
<img width="995" alt="ernie-1 0报错" src="https://user-images.githubusercontent.com/73834112/138203852-1a58dfb9-b712-4068-9ec1-c01e11e6e947.png">
<img width="821" alt="ernie-1 0make设置" src="htt

[2021-10-21 03:28] LangDaoAI opened #1209 "[Ask]关于对话上下文中的意图理解和槽位填充"
Hi, Team，

想确认一下关于对话上下文中的意图理解和槽位填充这两个领域， 有没有相关的模型实现参考，谢谢！

[2021-10-21 03:35] AI-Mart opened #1210 "https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa实体识别案例咨询"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa 目前这个案例是针对文本分类的，有没有这个类似针对实体识别的案例，如果要改成实体识别应该怎么更改？

[2021-10-21 03:55] LangDaoAI opened #1211 "关于LIC 2021对话比赛baseline的数据集"
Hi Team,

LIC 2021对话比赛baseline的数据集没有开放， 该比赛已经结束了几个月， 是不能集成到paddlenlp还是其他原因， 没有数据集， 这个示例没有办法参考，

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/lic2021_baseline

另外千言站点也没有公开该数据集

[2021-10-21 06:42] TTGeek opened #1213 "ernie lexical_analysis报变量没有初始化错误"
导出inference_model代码如下
infer_program = fluid.Program()
    infer_startup = fluid.Program()
    with fluid.program_guard(infer_program, infer_startup):
        with fluid.unique_name.guard():
            infer_ret = creator.create_ernie_model(args, ernie_config, mode='infer')

            # infer_ret = creator.create_model(
            #     args, dataset.vocab_size, dataset.num_labels, mode='infer'

[2021-10-21 07:33] ZHUI commented on #1208
[code]

这里的Makefile，上面的`CPPFLAGS` 的`python3`路径修改是对的，下面`LIBEXT`应该是`python3-config`而不是`python3`

[2021-10-21 07:46] shaitaiyangmie commented on #1208
您好，感谢您的回复，我将LIBEXT 后面改为了home/map/tools/paddle_release_home/paddle_gpu211_py37_gcc82/bin/python-config，报错显示home/map/tools/paddle_release_home/paddle_gpu211_py37_gcc82/bin/python-config: Command not found，结果仍然是make: Nothing to be done for 'default'.请问python3那里就是用which python查找到的当前应用的python的路径吧？

[2021-10-21 08:07] ZHUI commented on #1208
`whereis python`, 找一下`python-config`的位置，这个是我的结果
![image](https://user-images.githubusercontent.com/16911935/138237150-6377b992-85c4-4c93-9250-ca62bcbac3b4.png)

[2021-10-21 08:14] joey12300 commented on #1213
@TTGeek 在代码前加一句 `paddle.enable_static()`试试？可以试试动态图版本词法分析样例代码：https://github.com/PaddlePaddle/PaddleNLP/tree/release/2.1/examples/lexical_analysis

[2021-10-21 09:49] #635 closed, assigned to Steffy-zxf

[2021-10-21 09:51] #331 closed, assigned to wawltor, Steffy-zxf

[2021-10-21 10:15] rela0426 opened #1215 "ai studio平台跑程序时，报错OSError: (External) Cublas error"
环境：
paddlepaddle：2.0.2
paddlenlp：2.0.1
python：3.7
aistudio地址：https://aistudio.baidu.com/studio/project/partial/verify/2501132/1a94a18324fc4a01833aea8993d5d4db

在aistudio平台上，之前程序一直正常，后来环境突然没了，按照程序依赖的环境重新搭建好以后，就出问题了。
程序执行到`!bash run_duee_1.sh trigger_train`时，报以下错误：
[code]

后来将paddlenlp更新到了2.0.2版本，就开始报另外一个错误，如下：
[code]
能帮我看下吗，谢谢~

[2021-10-21 11:45] LiuChiachi commented on #1210
建议你先简单看下readme了解一下大致流程，二者是类似的问题，都是下游任务，把分类相关的换成实体识别的就行了。比如用到的class替换成实体识别的class，数据集替换成实体识别的数据集，teacher模型也需要训一个实体识别的模型。

[2021-10-21 11:47] AI-Mart commented on #1210
好的，谢谢，只是换成实体的模型，底层包都是支持的那就好

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月21日(星期四) 晚上7:46
***@***.***&gt;;
***@***.******@**

[2021-10-21 11:48] LiuChiachi commented on #1197
Duplicate of #1210

[2021-10-21 15:00] ZeyuChen commented on #1202
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/simcse @hhhhhhogan

[2021-10-21 15:05] ZeyuChen commented on #1215
试试将paddle和paddlenlp都升级到最新的2.1.3和2.1.1版本看看是否还有此错误。@rela0426

[2021-10-21 15:08] ZeyuChen commented on #1211
https://aistudio.baidu.com/aistudio/competition/detail/48/0/datasets
你在千言的那个比赛上报名一下，就能获得数据。数据暂时对报名选手公开。
![image](https://user-images.githubusercontent.com/1371212/138306087-8d676bb2-9531-45c9-bdd6-c26b7dd364d9.png)

[2021-10-21 15:13] ZeyuChen commented on #1209
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/dgu
可以看看这个repo，基本都是基于预训练的finetune来完成。@LangDaoAI

[2021-10-22 01:46] wht0948 commented on #1203
不好意思回复晚了，Cuda版本:11.0，GPU型号:2080ti，paddle安装版本:paddlepaddle-gpu==2.1.3.post110 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

[2021-10-22 01:55] shaitaiyangmie commented on #1208
谢谢您！

[2021-10-22 02:27] wawltor commented on #1203
cudnn的版本是8.x吗？

[2021-10-22 02:31] wht0948 commented on #1203
torch.backends.cudnn.version()：7605

[2021-10-22 02:48] ZHUI commented on #1208
不客气哈

[2021-10-22 03:35] mymoongit opened #1217 "[AICA5] ernie_doc 如何使用长文本微调，有没有具体的示例"
- 版本、环境信息
1）PaddleNLP 2.1.0，PaddlePaddle2.1.3
2）系统环境：Windows10，python 3.7
- inputs = tokenizer("欢迎使用百度飞桨！")
ernie_doc 怎样处理长文本输入，如输入长度3000+的文本，

[2021-10-22 03:38] #728 closed, assigned to yingyibiao

[2021-10-22 03:40] wawltor commented on #1203
可以尝试提升一下cudnn的版本

[2021-10-22 03:42] wht0948 commented on #1203
这个不太方便，我的机器上能满足的最高版本paddle的安装命令能发一下吗？感谢

[2021-10-22 05:09] wawltor commented on #1203
可以尝试用conda来安装相应的环境，这个相对比较方便
<img width="797" alt="图片" src="https://user-images.githubusercontent.com/16698950/138396516-d163e6fd-ee95-4ea7-8e00-67a24f1dc68d.png">
https://www.paddlepaddle.org.cn/

[2021-10-22 06:04] wawltor commented on #1217
您好，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc 这里目录下有一些关于文本分类，信息抽取，文本匹配相关的长文本finetune的示例，可以了解一下

[2021-10-22 06:19] wht0948 commented on #1203
你发我的这个cuda版本和我机器不一样也可以装吗？我选cuda11.0上面显示conda不支持

[2021-10-22 06:54] rela0426 commented on #1215
嗯嗯，按照您的要求升级以后，这个错误完美解决了，但是程序跑起来以后，训练过程中，一直报下面这个错误
[code]
目前bach_size=2，epoch=2，训练集也不大，只有650条。
帮忙看下吧，多谢~

[2021-10-22 06:58] wawltor commented on #1203
您好，可以使用的，上面的方式在指定的conda环境中去安装一个cuda版本，同时也不会干扰其他的python环境，按照我的截图安装即可。不过建议新增一个conda环境哈，避免干扰其他环境。

[2021-10-22 11:53] max123ios opened #1221 "paddlenlp/taskflow/text_correction.py 代码好像不对"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
paddlenlp的version是2.0.0

报错： name 'max_seq_length' is not defined
opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/taskflow/text_correc

[2021-10-22 12:41] joey12300 commented on #1217
@mymoongit ERNIE-Doc在不同任务下对原始数据的预处理也不同，详细可参考该数据处理脚本https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/ernie-doc/data.py

[2021-10-23 09:03] wht0948 opened #1222 "预训练加入layer_norm层后模型参数变为nan"
在使用plato-2进行预训练时，发现模型参数变为了nan，调试后发现lm_head层中只要一加入layer_norm层，模型第一次反向传播之后参数就会变成nan，如下图红框所示，如果注释掉就可以正常训练，请问是什么原因？
![image](https://user-images.githubusercontent.com/32132519/138550170-c25e7d82-4106-4404-b847-cefd5bc1929d.png)

[2021-10-24 03:13] tianxin1860 commented on #1202
如果只想走推理测试效果的话，建议可以先使用语义索引模型来计算相似度，模型原理和 SimCSE 类似，这里发布了训练好的语义索引模型: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing

[2021-10-24 04:53] tianxin1860 commented on #1204
感谢指出这个问题，非常欢迎提 PR 参与 PaddleNLP 的建设，这个问题我们会尽快修复，请关注~

[2021-10-24 09:01] #1204 closed, assigned to tianxin1860

[2021-10-24 09:31] mymoongit commented on #1217
@wawltor ernie-doc 分类中，
logits, memories = model(input_ids, memories, token_type_ids, position_ids, attn_mask)

memories 放在不同的batch 循环，具体作用是什么；上一批样本的memories 跟当前的样本有什么关系呢

[2021-10-24 09:56] joey12300 commented on #1217
@mymoongit ernie-doc是一种基于循环机制的transformer，会将一个长文本分割成若干个等长、有序的短文本，然后依次读入这些短文本。为了关联起不同批次的短文本，当前批次的训练除了读入当前批次的输入（input_ids）以外，还要融入上一批次的输出信息（memories）。

更多细节可参考文章：ERNIE-Doc: A Retrospective Long-Document Modeling Transformer

[2021-10-24 15:36] zhoucz97 opened #1224 "【论文复现】paddlenlp.transformers.BertModel中的attention_mask"
文档中是这么说的：
*It is a tensor with shape broadcasted to `[batch_size, num_attention_heads, sequence_length, sequence_length]`. Defaults to `None`, which means nothing needed to be prevented attention to.*

看完这句话以为输入维度要 `[batch_size, num_attention_heads, sequence_length, sequence_length]`才行。

然而看了源码发现如果不给出`attention_mask`，那么模型初始化的`attention_mask`维度是`[batch_size, 1, 1, sequence_length]`，如下面代码：

[code]

[2021-10-25 01:05] LangDaoAI commented on #1209
我确认一下dgu是否有这两个场景

[2021-10-25 01:06] LangDaoAI commented on #1211
好的，希望能够尽快把数据整合进来

[2021-10-25 01:06] LangDaoAI commented on #1211
好的，希望能够尽快把数据整合进来

[2021-10-25 01:40] yingyibiao commented on #1224
您好，感谢您的问题。这里的意思是attention_mask参数支持广播(broadcasting)机制：只要能够通过广播机制后得到形状为 [batch_size, num_attention_heads, sequence_length, sequence_length] 的tensor就支持传给attention_mask。
例如上述的 [batch_size, 1, 1, sequence_length] 可以通过广播机制后得到 [batch_size, num_attention_heads, sequence_length, sequence_length] 。
广播机制介绍可以参考： https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/01_paddle2.0_introduction/basic_conce

[2021-10-25 01:46] ZZHHogan commented on #1202
好的，目前就在测试semantic_indexing，感谢回复！

[2021-10-25 02:11] zhoucz97 commented on #1224
明白了，我英文水平的问题hhh，没读懂那句话的意思。个人建议官方的BERT使用例子可以给一些带attention_mask的。
个人建议，仅供参考
非常感谢回复~~

[2021-10-25 02:21] joey12300 commented on #1221
@max123ios 目前已经提了一个修复的PR：https://github.com/PaddlePaddle/PaddleNLP/pull/1225。除了提供bug信息以外，非常欢迎您给PaddleNLP贡献bug修复代码~

[2021-10-25 02:26] yingyibiao commented on #1224
好的，感谢您的建议，我们补上例子～

[2021-10-25 04:06] #1221 closed, assigned to joey12300

[2021-10-25 07:12] caixu23 opened #1230 "Out of memory error on GPU 0"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

PaddlePaddle2.1  , windows ,py3.7
执行
poetry = Taskflow("poetry_generation")
poetry("林密不见人")

显存充足，但是任然报:

Out of memory error on GPU 0. Cannot allocate 100.00024

[2021-10-25 09:35] Macxy2018 commented on #1192
按照export OMP_NUM_THREADS=10多线程加速后，运行时看确实是出现了多线程调度，但是预测速度却并没有啥明显的提升……

[2021-10-25 10:26] wawltor commented on #1230
您好，poetry_generation这个模型相对比较大，需要16G的内存和显存的，辛苦check一下机器的内存、显存情况了

[2021-10-25 17:49] zhoucz97 opened #1231 "BertTokenizer处理[MASK]问题"
您好，在使用过程中我发现`paddlenlp.BertTokenizer` 好像没有办法处理`[MASK]`, 下面是`BertTokenizer.__init__`中的三行代码，经测试发现，`self.basic_tokenizer`会把`[MASK]`切成`[`,`MASK`,`]`三部分，`self.wordpiece_tokenizer`会进一步切成`[`,`MA`, `##S`, `##K`,`]`五部分，即使`self.vocab`中有`[MASK]`.

_self.vocab = self.load_vocabulary(vocab_file, unk_token=unk_token)
self.basic_tokenizer = BasicTokenizer(do_lower_case=do_lower_case)
self.wordpiece_tokenizer = W

[2021-10-26 00:49] Macxy2018 opened #1232 "TaskFlow在paddle的CPU版上可以多核预测吗？"
版本、环境信息
1）PaddleNLP 2.1.0，PaddlePaddle2.1.3
2）CentOS 7，python 3.6.5
3）64核CPU，无GPU，内存16G
复现信息
Taskflow(
'knowledge_mining',
model='wordtag',
batch_size=1,
max_seq_length=128,
linking=True)
业务上需要单个模型实例(内存限制，没法开多个模型实例)，单条语句输入(batch=1)，用CPU进行预测，发现只使用单核CPU，请问有办法修改配置调用多核吗？
之前提到过export OMP_NUM_THREADS=10开启多线程加速，但是实际预测效果上速度并没有提升，和单核单线程在1000条生产数据上的测试时间基本没有差距，基本在1.2s/条。

[2021-10-26 00:49] #1192 closed, assigned to wawltor

[2021-10-26 02:13] wawltor commented on #1232
您好，目前Taskflow还不支持多进程或者多线程预测，我们觉得Taskflow支持多核预测是一个很好建议，我们会考虑在下一个版本支持这个功能。如果目前想支持Taskflow支持多核预测，可能自己先用multiprocess库来封装一下Taskflow接口进行多核预测

[2021-10-26 04:05] lemonliu1992 opened #1236 "paddle ErnieForGeneration 离线加载预训练模型"
import paddlenlp
from paddlenlp.transformers import ErnieForGeneration

model = ErnieForGeneration.from_pretrained("/Users/liumengyue01/Downloads/model")

![image](https://user-images.githubusercontent.com/31071704/138806840-1f9501eb-a878-4120-8a80-5bbb081c90d2.png)

debug之后发现file_id 这个是来自字典resource_files 的keys，file_id='model_config_file' ，但是这个在      model_config_file = resolved_resource_files.pop

[2021-10-26 08:11] TTGeek commented on #1213
paddle.enable_static()这一句默认已经添加了，结果还是一样报错，您给的https://github.com/PaddlePaddle/PaddleNLP/tree/release/2.1/examples/lexical_analysis这个例子是没有transformer相关的预训练模型的，这个模型非常顺利完成部署了
在https://github.com/PaddlePaddle/PaddleNLP/pretrain_language_models/BERT文件夹下面用同样的代码导出BERT的相关模型就没有报错
很奇怪BERT的layer_norm没有报错，ernie的layer_norm报错了
@joey12300

[2021-10-26 08:43] Macxy2018 commented on #1232
好的

[2021-10-26 08:43] #1232 closed, assigned to wawltor

[2021-10-26 09:08] mymoongit commented on #1217
老师您好，感谢回复！

ernie-doc 数据预处理，过于复杂；我想用它处理长文本分类；

data.py 跟踪每个批次的qid
for batch_records in self._prepare_batch_data(sample_batch):
    print(np.array(batch_records[5]).flatten())
    print()
    yield batch_records

显示每批次的qid如下：
[0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

[20 21  2 22 23 24  6 25 26  9 27 11 12 13 28 29 30 31 18 19]

[32 33  2 22 34 24  6 35 36  9 27 11 37 13 28 38 3

[2021-10-26 12:19] JunnYu commented on #1231
我看`BartTokenizer`支持了特殊字符的识别。第186行左右
https://github.com/PaddlePaddle/PaddleNLP/blob/f59de0f1b3646b027ce64f7e7c2959110f788a1f/paddlenlp/transformers/bart/tokenizer.py#L176-L202
感觉可以抄一抄改一改

[2021-10-26 12:38] rela0426 opened #1238 "训练过程中常报错OSError: (External) Cuda error(700), an illegal memory access was encountered."
环境信息：
paddlepaddle2.1.2
paddlenlp2.1.1
python3.7
linux环境

描述：
程序可以运行起来，但是在训练到一半时，常报以下错误，尤其是修改了batch_size的值。目前batch_size=1，只要修改这个值一定会报错误。有时修改别的参数，比如epoch也会报错，但有时也可以正常运行。GPU没有被占用，内存利用率也不高。我想知道是代码的问题、环境的问题还是服务器的问题，这个问题困扰我很久了，每次训练到一半都会被强制终止。
能否帮忙看一下，谢谢~
[code]

[2021-10-26 13:07] smallv0221 commented on #1222
您好，报错信息需要复现代码，请提供最小可复现代码和环境信息，我们复现后会尽快回复您～

[2021-10-26 15:55] orlando1986 commented on #724
我也碰到了相同的问题，我用的是
PaddlePaddle 2.1.2
paddlenlp 2.1.1

[2021-10-27 02:20] #1170 closed, assigned to wawltor

[2021-10-27 02:38] ZHUI commented on #724
是否有更多报错信息？

[2021-10-27 02:54] ZHUI commented on #1236
这里的model的话，是怎么save下来的？能看一下这个文件夹的大概目录结构吗？

[2021-10-27 03:20] orlando1986 commented on #724
Traceback (most recent call last):
  File "/home/aistudio/work/ernie_gen/train.py", line 271, in <module>
    train()
  File "/home/aistudio/work/ernie_gen/train.py", line 252, in train
    optimizer.step()
  File "<decorator-gen-198>", line 2, in step
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/base.py", line 276, in __impl__
    return func(*ar

[2021-10-27 03:25] orlando1986 commented on #724
我设置了max encode length和max decode length都是512，batch=8，在186步的时候就报错了。把max encode length和max decode length都设500，batch=8，在604步报错

[2021-10-27 03:36] shaitaiyangmie opened #1239 "whole word mask相关问题请求讲解。"
您好，请问ernie-1.0代码中的，在对数据进行whole word mask时，需要调用data tool中的data utils.py的create_masked_lm_predictions函数，我想请问，对中文文本而言源码中如何判断分词的词头信息呢？vocab_id_to_token_dict中的中文token若不是词头，是以##开始的吗？
期待您的回复，感谢。

[2021-10-27 03:49] wawltor commented on #1238
可以尝试把PaddlePaddle的版本升级一下，最好能升级到最新的版本

[2021-10-27 03:52] ZHUI commented on #1238
可以尝试使用 `cuda-memcheck python xxx.py` 来定位具体问题。不过这个跑起来很慢，最好是较少steps就能复现问题。

[2021-10-27 03:59] ZHUI commented on #1239
对的，是这样判断的。https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/data_tools/dataset_utils.py#L217
这里中文文本也是这样判断。

可以看 ernie-1.0 的vocab也是这么设计的。
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/tokenizer.py#L77

[2021-10-27 06:37] AI-Mart opened #1240 "PaddleNLP/examples/model_compression/ofa/run_glue_ofa_depth.py 这个文件在readme没有说明，是干嘛的"
PaddleNLP/examples/model_compression/ofa/run_glue_ofa_depth.py 这个文件在readme没有说明，是干嘛的

[2021-10-27 07:25] joey12300 commented on #1217
@mymoongit 感谢你的提问！ ernie_doc的循环Transformer机制最早是由TransformerXL提出的。TransformerXL开源的代码存在你所说的跨qid的memories传递，即`memories 一直在循环中，也就是上一批次的输出会作为下一批次的输入，
但不同批次间对应的qid可能是不一样的`。作者为了方便对比ernie_doc和TransformerXL之间的效果，也直接复用了TransformerXL的跨qid的memories传递方法。

[2021-10-27 08:19] mymoongit commented on #1217
@joey12300 感谢回答，了解了，批处理中大多qid是一致的，少部分不同，作为引入的噪声或是其他考虑；
但，qid 一致的话也是可行的，是吧；如遇到qid与当前不一致的地方，对应memory 可以阻断或替换为初始memory,

[2021-10-27 08:49] JunnYu opened #1242 "GPTChineseTokenizer加载失败"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.1.0，PaddlePaddle2.1.1
2）系统环境：Aistudio
- 复现信息：如为报错，请给出复现环境、复现步骤
[code]
问题：
- `SentencePieceProcessor`加载代码问题。
- `_tokenize` 出错 self.sp没有encode。
- `convert_ids_to_string` 出错 self.sp没有decode。

[2021-10-27 08:49] #1217 closed, assigned to joey12300

[2021-10-27 09:06] LiuChiachi commented on #1240
这个文件比起`run_glue_ofa.py`对增加了对深度进行压缩的部分，实验结果有待补充所以还在README中没有说明。

[2021-10-27 09:26] coder-yuzhiwei opened #1243 "调用预训练模型RoBERTa时报错 TypeError: sequence item 0: expected str instance, RobertaModel found"
PaddleNLP和PaddlePaddle版本
![image](https://user-images.githubusercontent.com/45504684/139038224-30907b6c-f0fd-4ecf-a49e-ad65ef3f680c.png)
系统环境：
Python 3.8.12
cuda11.2

代码只有两行：
[code]
经过下载预训练模型后，就报了如下错误：
[code]

[2021-10-27 11:02] zhoucz97 commented on #1231
好滴，感谢~~

[2021-10-27 11:06] zhoucz97 opened #1245 "[菁英计划第16篇Splinter]"
- Hugginface的Transformers2.9.0版本的`PretrainedTokenizer`类中的`encode()`方法，有参数`add_special_tokens`, 最新版本改成了参数`skip_special_tokens`，该参数可以自行选择是否为token添加[SEP]和[CLS]。而`paddlenlp.transformers`中的对应类的对应方法，并未发现此参数，只能默认为`token`添加`special_tokens`。
- paddnlp.transformers里，未发现BertTokenizer有以下方法：
[code]

[2021-10-27 11:32] liucongg opened #1528 "ernie-doc转onnx报错"
使用paddle.onnx.export将ernie-doc模型转成onnx时报错！！！不知道是什么问题？有大佬可以帮忙看一下吗？
是ernie-doc不支持onnx的部分操作，还是我写的有问题！！
报错：
ValueError: In transformed code:

    File "/home/aistudio/work/model.py", line 32, in forward (* user code *)
        sequence_output, _, _ = self.ernie_doc(input_ids, memories, token_type_ids, position_ids, attention_mask)
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-pac

[2021-10-27 11:40] ZHUI commented on #724
能否 `cuda-memcheck python xxx.py` 跑一下程序试试，这个对于cuda的内存访问会严格check。或者开启 https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/flags/others_cn.html#flags-benchmark 试一试？

[2021-10-27 13:02] ZHUI commented on #1242
看起来像是 `sentencepiece` 版本的问题，可以提供一下 `sentencepiece` 版本吗？

[2021-10-27 13:03] JunnYu commented on #1242
sentencepiece   0.1.96

[2021-10-27 13:19] tanhanzhuo opened #1247 "[功能需求]多分类任务的F1计算（confusion matrix）"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddlePaddle2.1.3
2）系统环境：无

问题描述：
目前版本好像只支持二分类任务的precision recall f1计算，缺少原生的多分类confusion matrix计算：
![cae18394024dca1f533cf555088a8d59](https://user-images.githubusercontent.com/92439758/139073447-41ef0adc-6cb0-496e-bfbf-be2d1b59d5f5.png)
![0e6520fad8d62251f9ee77f675b9254a](https://user-images.githubusercontent.com/92439758/13

[2021-10-27 14:04] ZHUI commented on #1242
我本地也是`0.1.96`，看起来是有 `model_file` 参数的。你可以尝试重新安装一下`sentencepiece`。
[code]
![image](https://user-images.githubusercontent.com/16911935/139081161-51f93968-fae7-408a-840c-2547246c334e.png)

[2021-10-27 14:41] JunnYu commented on #1242
我使用aistudio自带的0.1.85版本运行会报错，安装最新版本的就不会报错了。个人感觉应该需要检查包的版本

[2021-10-27 15:58] orlando1986 commented on #724
打的log比较多，我这只取了最后一段
Traceback (most recent call last):
  File "/home/aistudio/work/ernie_gen/train.py", line 271, in <module>
    train()
  File "/home/aistudio/work/ernie_gen/train.py", line 242, in train
    tgt_labels, tgt_pos)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/dygraph/layers.py", line 902, in __call__
    outputs = self.forward(*inputs, **kw

[2021-10-28 02:33] ZHUI commented on #1242
感谢反馈，https://github.com/PaddlePaddle/PaddleNLP/pull/1248 给GPT的readme添加了版本要求

[2021-10-28 02:47] ZHUI commented on #724
具体到这里报错的：
[code]
对应代码是取embeding的index出现了问题
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/input.py#L200

再看：
[code]
这里的sent_ids，看起来是有问题的
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie_gen/modeling.py#L558

sent_emb的大小是`type_vocab_size=4`，你可以检查一些是不是出现`sent_ids`出现了`>=4`的情况。
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pa

[2021-10-28 02:49] coder-yuzhiwei commented on #1243
NeZhaPretrainedModel也报同样的错误
![image](https://user-images.githubusercontent.com/45504684/139177645-3f8199e6-b7fd-4549-a51a-3a5a54d9b0a7.png)

[2021-10-28 03:08] AI-Mart commented on #1240
for width_mult in args.width_mult_list:
    # Step8: Broadcast supernet config from width_mult,
    # and use this config in supernet training.
    net_config = utils.dynabert_config(ofa_model, width_mult)
    ofa_model.set_net_config(net_config)
    logits, teacher_logits = ofa_model(
        input_ids, segment_ids, attention_mask=[None, None])
    rep_loss = ofa_model.calc_distill_loss()
    if

[2021-10-28 03:16] orlando1986 commented on #724
多谢指点。
我这边用的是咱们PADDLENLP/examples里的代码，直接copy过来的，外面只是调用。调用方式为：
!python /home/aistudio/work/ernie_gen/train.py --model_name_or_path="ernie-1.0" --train_data_path="/home/aistudio/data/data113203/chinese-news-title/train_data.json" --test_data_path="/home/aistudio/data/data113203/chinese-news-title/test_data.json" --output_dir="/home/aistudio/work/checkpoint/" --max_encode_len=512 --max_decode_len=512

[2021-10-28 04:55] yingyibiao commented on #1243
您好，非常感谢您的提问。调用预训练模型RoBERTa的正确加载方式是
import paddlenlp as ppnlp
pretrained_model = ppnlp.transformers.RobertaModel.from_pretrained('roberta-wwm-ext-large')

RobertaPretrainedModel这个类是RoBERTa模型的抽象类，我们不直接使用这个类进行加载，而是使用对应的具体的类进行加载，比如RobertaModel，RobertaForSequenceClassification等。

[2021-10-28 06:24] coder-yuzhiwei commented on #1243
感谢你的解答，原来每个预训练模型都有举例。[paddlenlp transformer](https://paddlenlp.readthedocs.io/zh/latest/source/paddlenlp.transformers.html)

[2021-10-28 08:16] #1242 closed, assigned to ZHUI

[2021-10-28 08:39] AI-Mart opened #1250 "PaddleNLP/examples/model_compression/ofa/run_glue_ofa.py / 代码疑问以及训练结果没有达到压缩模型效果"
for width_mult in args.width_mult_list:
    # Step8: Broadcast supernet config from width_mult,
    # and use this config in supernet training.
    net_config = utils.dynabert_config(ofa_model, width_mult)
    ofa_model.set_net_config(net_config)
    logits, teacher_logits = ofa_model(
        input_ids, segment_ids, attention_mask=[None, None])
    rep_loss = ofa_model.calc_distill_loss()
    if

[2021-10-28 10:42] hl123-123 commented on #724
这个我现在在搞CV GAN 先停了nlp训练，这个代码我忘了，很尴尬

[2021-10-28 10:43] hl123-123 commented on #724
这个问题对大家有帮助就好

[2021-10-28 12:03] nghuyong commented on #1163
@joey12300  您好，看到论文中提到了一个300万的预训练语料，这部分数据可以开源吗？或者有没有开源MLM-phonetics模型参数的计划？非常感谢！

[2021-10-29 00:11] ZeyuChen commented on #1528
@liucongg 请问导onnx格式是为了什么需求？部署吗？

[2021-10-29 01:10] liucongg commented on #1528
是的，并且我在ernie1.0上尝试过，onnx要比paddle动态图推理速度更快。不知道是ernie-doc的内部节点不支持转换，还是我这边的问题。所以提出了问题，报错我依然没有解决。

[2021-10-29 02:34] ZHUI commented on #724
这个是我的账户地址
https://aistudio.baidu.com/aistudio/personalcenter/thirdview/301792

[2021-10-29 03:12] liucongg commented on #1528
并且我发现，从动态图转成静态图，也会报一样的错误。
报错如下：
[code]

[2021-10-29 04:39] orlando1986 opened #1252 "PaddleNLP/examples/text_generation/ernie-gen/训练出错"
在使用example训练的时候出现崩溃

PaddlePaddle 2.1.2
paddlenlp 2.1.1

我设置了max encode length和max decode length都是512，batch=8，在186步的时候就报错了。把max encode length和max decode length都设500，batch=8，在604步报错

用aistudio上的教学代码就没问题，https://aistudio.baidu.com/aistudio/projectdetail/1339888
所以应该不是数据集的问题，请看一下github上的example是不是用不了？

我的aistudio项目在https://aistudio.baidu.com/aistudio/projectdetail/2510297?contributionType=1&shared=1

[2021-10-29 04:42] orlando1986 commented on #724
在aistudio上没法给你留言和分享，我又提了一个issue来跟踪吧，不在人家下面发问了
https://github.com/PaddlePaddle/PaddleNLP/issues/1252

[2021-10-29 07:27] ZHUI commented on #1252
![image](https://user-images.githubusercontent.com/16911935/139393593-cced0ca2-b728-4ed9-a397-4b369d94c1b7.png)
要不QQ交流一下？

[2021-10-29 07:34] mymoongit opened #1253 "ernie-doc 分类模型 静态保存出错问题"
1）PaddleNLP 2.1.0，PaddlePaddle2.1.3
2）Windows10，python3.7
- 保存静态模型代码：
    input_specs = [
                    InputSpec(shape=[None, 128, 1], dtype='int64', name='input_ids'),
                    [InputSpec(shape=[None, 128, 768], dtype='float32', name='memories')] * 12,
                    InputSpec(shape=[None, 128, 1], dtype='int64', name='token_type_ids'),
                    InputSpec(shape=[

[2021-10-29 11:35] EternalAlloy commented on #1059
请问问题现在解决了吗

[2021-10-30 11:03] rela0426 opened #1257 "错误提示：Could not load library libcudnn_adv_train.so.8."
paddlepaddle：2.1.3
paddlenlp：2.1.1
python3.7
Driver API Version: 11.2, Runtime API Version: 11.2
cuDNN Version: 8.2.10

linux服务器之前是cuda10.1，前几天系统更新，变为cuda11.2，无奈只能重新安装适应cuda11.2的paddlepaddle。环境参数如上，配好环境，启动程序训练，训练刚启动就报错：
[code]
提示`Could not load library libcudnn_adv_train.so.8. Error: `，`Please make sure libcudnn_adv_train.so.8 is in your library path!`。都是关于cudnn的错误。

关于cudnn，我用`conda list`命令，查到的是

[2021-10-30 12:45] pygongnlp opened #1259 "训练问题"
ernie-csc任务中model eval和save是根据train step不是epoch
发现在某个train step eval的时候突然高了10个点然后存了一个best model，但之后就没有这么高过
![](https://user-images.githubusercontent.com/26688099/139533336-8ea86204-d530-46ca-ac6b-b6a8a86d87e4.png)
也就是如果不存step而是epoch，可能得到一个63-64的值？？（手动检查了最后几个epoch，结果都在这个范畴）
Ps  test结果和readme一致

[2021-10-31 04:24] #1257 closed, assigned to nobody

[2021-10-31 04:30] rela0426 commented on #1257
已解决

[2021-10-31 05:16] allurelzh commented on #1238
遇到同样的问题，请问解决了吗？

[2021-10-31 05:29] rela0426 commented on #1238
没彻底解决呢！按照上面的办法，尝试了升级最新版本，也尝试使用cuda-memcheck，自己能力有限，没找到问题所在。昨天程序跑了一天，竟然奇迹般的没出任何问题。今天一早又重启跑了一下，就在刚才，又出现这个问题了，偶发性的，也没法贴代码复现。

[2021-10-31 05:40] rela0426 commented on #1238
目前不清楚是paddle的问题，还是代码的问题。如果你找到原因，拜托一定要告诉我一下，多谢多谢~

[2021-10-31 06:52] allurelzh commented on #1238
发现问题，解决办法：https://github.com/PaddlePaddle/PaddleNLP/issues/743

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月31日(星期天) 中午1:40

[2021-11-01 06:30] ZHUI commented on #1238
或者你加`FLAGS_benchmark=True`跑，应该比`cuda-memcheck`要快。偶发性问题，比较难定位。

[2021-11-01 06:34] ZHUI commented on #1238
@rela0426 可以说一下你使用的具体代码模型。一些输入的不合法都可能导致这种问题，可能跟上一位同学不是同一个问题。

[2021-11-01 07:46] shaitaiyangmie opened #1261 "ernie-1.0 分布式训练策略、fleet相关问题求助。"
您好，有几个sharding和fleet相关问题想请教，望指点一二，感激不尽！
1、请问fleet.worker_num和fleet.worker_index分别指的是什么呢？是总gpu个数和当前gpu索引还是总机器数和当前机器的索引呢？
2、请问在分布式训练中，当pp和mp均设置为1，只考虑dp和sharding时，是否是将全量数据先分成dp_num份放入不同主机，再将不同主机当中的数据分成sharding_num份，放入同一个主机下的不同显卡呢？倘若采用单机多卡的话，数据将如何分配？
3、在数据采样时，通过data_info.rank的不同，将数据采样生成data_info.size生成个生成器放入不同gpu，其中data_info.rank和dp_rank\sharding_rank相关，请问dp_rank， sharding_rank又和device_rank(fleet.work

[2021-11-01 07:51] orlando1986 commented on #1252
加了群了，但是不知道哪个是你，提问了也没人回答

[2021-11-01 08:43] #1259 closed, assigned to joey12300

[2021-11-01 09:17] rela0426 commented on #1238
paddlepaddle2.1.2
paddlenlp2.1.1
python3.7
batch_size=2

https://aistudio.baidu.com/studio/project/partial/verify/2538118/a466449d1ea141149090ede017178d1e

以上是aistudio地址，进入文件夹后的命令为
第一步：bash run_duee_1.sh data_prepare这一步没有问题

第二步：执行bash run_duee_1.sh trigger_train时，训练到step到几百的时候，报错cuda700。有时候代码执行好好的，有时候就一直报上面的错误。所以很困扰，不知道该从哪里查起。不知道能不能复现，帮忙看一下吧，多谢~~

[2021-11-01 09:25] nghuyong opened #1262 "关于 csc-ernie 预训练"
您好，感谢开源了csc-ernie，根据readme的指引也确实可以复现readme中的结果

但是该工作非常重要的一点就是预训练模型MLM-phonetics，readme中提到不开源预训练好的MLM-phonetics参数，可以理解。请问是否可以开源，预训练部分的代码，训练参数，以及预训练数据的构建脚本？

另外，观察到在detect和correct均算了一个bert，这样计算量是不是相当于传统bert模型的一倍了？

再次感谢，期待您的回复

@joey12300 @ZeyuChen

[2021-11-01 10:11] joey12300 commented on #1262
您好，感谢关注ernie-csc！针对预训练流程开源的问题，目前团队暂无计划开源预训练部分的代码，一旦开源会第一时间通知您；第二个问题，detect和correct均调用了ernie的`encoder部分`，并非整个ernie，所以计算量是比传统transformer模型大一点，但不到一倍。

[2021-11-01 11:40] nghuyong commented on #1262
感谢回复！！

[2021-11-01 12:57] ZHUI commented on #1261
1. `fleet.worker_num, fleet.worker_index` 两者都是全局的。比如四台8卡机器，`worker_num=32 (4*8)`, `worker_index=0,1,2,...,31`. 这里的 `worker_index` 相当于每张卡的唯一编号。
2. 对于数据流，你可以看成`dp、sharding`是一样的，总共`dp*sharding`路数据，可以看作`dp=dp*sharding`全部数据并行。数据是全局的，根据`data_info.rank`去获取数据。
3. 多机多卡指定ip配置，`worker_index`每次都是一样的。其实不一样也没关系，因为数据是全局的，只要`worker_index`相同，这张卡上的数据就和之前一样。
4. 对的`global_batch_size  = num_sharding * num_dp * micro_b

[2021-11-02 01:55] shaitaiyangmie commented on #1261
非常感谢您的解答，给您添麻烦了！

[2021-11-02 03:53] ZHUI commented on #1261
嗯，不客气。这里面分布式策略比较多。后续我们还要加强一下README说明文档。

[2021-11-02 08:41] yht4work commented on #250
[code]

[2021-11-02 09:50] nghuyong commented on #1262
@joey12300
您好，论文中训练数据sighan14有6000+，但是实际应该只有3000+；请问你们使用的sighan是官网的数据集吗
![image](https://user-images.githubusercontent.com/16462374/139824370-99678543-2e7b-4989-9620-109230de35b1.png)

[2021-11-02 09:56] joey12300 commented on #1262
你好，请问你是在什么地方看到3000+呢？我们是用sighan官网的数据，转成简体字版本的

[2021-11-02 10:02] nghuyong commented on #1262
[Chunk-based Chinese Spelling Check with Global Optimization](https://aclanthology.org/2020.findings-emnlp.184.pdf)
[Read, Listen, and See: Leveraging Multimodal Information Helps Chinese Spell Checking](https://aclanthology.org/2021.findings-acl.64.pdf)

以上论文都是3000+，并且我实际从官网下载了sighan14的数据也是3000+，官网地址 http://ir.itc.ntnu.edu.tw/lre/clp14csc.html

@joey12300

[2021-11-02 17:35] nghuyong commented on #1262
@joey12300
再请教您一个问题，在预训练阶段，loss仅仅计算被mask/修改/替换成拼音的部分（类似MLM），还是整个句子（类似纠错）？
![image](https://user-images.githubusercontent.com/16462374/139916491-34195f23-cb64-4f8f-971b-f2e2ada0ad3c.png)

[2021-11-03 05:00] joey12300 commented on #1262
@nghuyong 预训练loss实际上跟ERNIE的预训练的loss是一样的，区别只在于使用了除`[MASK]`以外的token进行mask（混淆字token、拼音token），修改mask策略只为了使预训练任务与Finetune任务更接近一些，提高Finetune模型的纠错能力

[2021-11-03 06:07] nghuyong commented on #1262
@joey12300 ERNIE的预训练的loss是仅仅计算MASK部分的loss，这里也是吗？还是计算全部token的loss，因为这里有替换的操作了

[2021-11-03 06:44] ceci3 commented on #1250
保存的模型是超网络的模型参数，每达到一定的step都会保存一次，所以训练过程中保存的模型参数不会比teacher少，调用export_model.py导出子模型的参数才是最终的子模型的模型参数。

[2021-11-04 02:32] AI-Mart commented on #1250
好的，感谢，也就是说导出的时候，需要参考模型压缩训练时候的日志，选择日志里面效果最佳的那个子模型，然后导出来，是这样吧

[2021-11-04 02:52] LangDaoAI opened #1272 "[Ask]跨语言的预训练模型"
Hi team，

想确认一下目前是否有类似https://arxiv.org/pdf/2001.08210v2.pdf 的跨语言的预训练模型， 我们有比较强的海外NLP场景。

谢谢！

[2021-11-04 03:06] LangDaoAI commented on #1272
http://research.baidu.com/Blog/index-view?id=151  是否已经公开

[2021-11-04 03:13] ZeyuChen commented on #1272
预计月底会发布，Stay tune. @LangDaoAI

[2021-11-04 03:22] LangDaoAI commented on #1272
Great News!

[2021-11-04 14:32] orlando1986 commented on #1252
大佬，你的项目能分享我一下吗，我看看和我的有什么不同，为什么你跑的就没问题我的就不行

[2021-11-05 01:41] lightCraft2020 opened #1274 "Bi-GRU+CRF中的模型 model.fit出错"
[『NLP经典项目集』09 ：基于Bi-GRU+CRF的快递单信息抽取](https://aistudio.baidu.com/aistudio/projectdetail/1317771)
其中，

model.fit(train_data=train_loader,
              eval_data=dev_loader,
              epochs=1,
              save_dir='./results',
              log_freq=1)
[运行到上面的代码出错，具体如下，也可参见[网址](https://aistudio.baidu.com/aistudio/projectdetail/1317771)的评论部分，好多人都遇到了。](https://aistudio.baidu.com/aistudio/projec

[2021-11-05 05:07] HuStanding opened #1277 "TaskFlow的NER任务输出的tag有解释说明吗？"
TaskFlow的NER任务输出的tag有解释说明吗？，我看有些输出的结果感觉有点模糊，可以具体说明下每个tag的含义吗？

[2021-11-05 07:39] wawltor commented on #1277
输出的Tag主要是我们通过对百度百科树的一些归纳得到一个这样的Tag体系，具体的Tag体系标准可以参考 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_to_knowledge/termtree/termtree_type.csv

[2021-11-05 07:43] HuStanding commented on #1277
非常感谢~

[2021-11-05 07:54] skpig commented on #1247
@ZeyuChen 我愿意尝试实现多分类指标计算，但是这个feature需要直接在paddlenlp.metrics中实现，还是在paddle.metrics中实现呢？

[2021-11-05 08:01] ZeyuChen commented on #1247
@skpig 可以在paddlenlp.metrics中实现即可，期待你的开源贡献 :)

[2021-11-05 15:41] ceci3 commented on #1250
是这样的

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: AI-Mart ***@***.***&gt;
发送时间: 2021年11月4日 10:32
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: ceci3 ***@***.***&gt;, Assign ***@***.***&gt;
主题: 回复：[PaddlePaddle/PaddleNLP] PaddleNLP/examples/model_compression/ofa/run_glue_ofa.py / 代码疑问以及训练结果没有达到压缩模型效果 (Issue #1250)

好的，感谢，也就是说导出的时候，需要参考模型压缩训练时候的日志，选择日志里面效果最佳的那个子模型，然后导出来，是这样吧

—
You

[2021-11-06 02:54] skpig commented on #1247
@ZeyuChen 您好，paddlenlp是否有提供CONTRIBUTING.md之类的贡献指南呢，我好像在README中没有看到详细的说明。

[2021-11-06 13:00] shguan2018 opened #1281 "调用 语义索引模型来计算两个文本的相对度，多线程耗时特别长!啥原因?"
if __name__ == '__main__':

    text_list, text2similar_text,two_list = gen_text_file('./data/same_semantic.tsv')
    print(len(two_list))
    flags = ["********","############"]
    for query_text in two_list:
        query_array = query_text.split(',')
        #print(query_text)
        '''
                    启动 10个线程访问
        '''
        for i in range(10):
            #threadid=random.randin

[2021-11-08 09:45] shguan2018 opened #1286 "能否做一个 semantic_index 生成的语义模型,然后在 paddle serving 上部署的例子"
能否做一个 semantic_index 生成的语义模型,然后在  paddle serving 上部署的例子

[2021-11-09 03:44] tianxin1860 commented on #1281
您好，请问是基于 CPU 在做预测吗？

[2021-11-09 03:46] tianxin1860 commented on #1286
您好，语义索引模型的工业级部署能力我们正在开发中，后续会开放出来，欢迎关注。

[2021-11-09 03:47] shguan2018 commented on #1281
谢谢, 使用 GPU 也不快，如果用一个线程耗时还可以接受,如果开启多个线程,耗时就成倍增加,没法用了,

[2021-11-09 04:00] shguan2018 commented on #1286
谢谢,希望尽快能用到

[2021-11-09 06:59] XiepengLi opened #1287 "taskflow sentiment"
[code]

[2021-11-09 08:36] chenxiaozeng commented on #722
可参考这里解决~https://github.com/PaddlePaddle/PaddleNLP/issues/743

[2021-11-09 08:37] #722 closed, assigned to wawltor

[2021-11-09 09:31] chenxiaozeng commented on #761
@jack-zhen 您好，看到您正在使用PaddleNLP，我们想进一步和您沟通下需求背景以及使用场景，以便打磨更优秀的产品，更好得支持您的项目。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-09 09:36] #777 closed, assigned to Steffy-zxf

[2021-11-09 09:39] #785 closed, assigned to Steffy-zxf

[2021-11-09 09:46] chenxiaozeng commented on #855
@Avalon244 您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-09 09:58] chenxiaozeng commented on #946
@duchengyao 您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-09 10:08] chenxiaozeng commented on #910
竞赛地址：https://aistudio.baidu.com/aistudio/competition/detail/116/0/introduction

[2021-11-09 10:08] #910 closed, assigned to tianxin1860

[2021-11-09 10:21] chenxiaozeng commented on #1039
@crrongyan 您好，看到您正在使用PaddleNLP，我们想进一步和您沟通下需求背景以及使用场景，以便打磨更优秀的产品，更好得支持您的项目。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-09 10:32] chenxiaozeng commented on #1012
Issue Close. If you have other questions, please feel free to reopen it.

[2021-11-09 10:32] #1012 closed, assigned to wawltor

[2021-11-09 10:32] chenxiaozeng commented on #1013
Issue Close. If you have other questions, please feel free to reopen it.

[2021-11-09 10:32] #1013 closed, assigned to ZeyuChen

[2021-11-09 10:34] chenxiaozeng commented on #1008
Issue Close. If you have other questions, please feel free to reopen it.

[2021-11-09 10:34] #1008 closed, assigned to ZHUI

[2021-11-09 10:36] chenxiaozeng commented on #1004
refer to：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_summarization/bart

Issue Close. If you have other questions, please feel free to reopen it.

[2021-11-09 10:36] #1004 closed, assigned to gongel

[2021-11-09 10:38] chenxiaozeng commented on #1002
@CCZGG 您好，看到您正在使用PaddleNLP，我们想进一步和您沟通下需求背景以及使用场景，以便打磨更优秀的产品，更好得支持您的项目。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-09 11:28] chenxiaozeng commented on #1093
https://github.com/PaddlePaddle/PaddleNLP/issues/1137
Issue resolved. If you have other questions, please feel free to reopen it.

[2021-11-09 11:28] #1093 closed, assigned to joey12300

[2021-11-09 11:48] chenxiaozeng commented on #1211
Issue close. If you have other questions, please feel free to reopen it.

[2021-11-09 11:48] #1211 closed, assigned to ZeyuChen

[2021-11-09 12:15] chenxiaozeng commented on #1196
Issue resolved. If you have other questions, please feel free to reopen it.

[2021-11-09 12:15] #1196 closed, assigned to nobody

[2021-11-09 12:45] chenxiaozeng commented on #1262
@nghuyong 您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢！

[2021-11-10 02:28] linjieccc commented on #1287
您好，辛苦提供下版本和环境信息

[2021-11-10 02:42] joey12300 commented on #1274
@lightCraft2020 这应该是paddle版本问题，请更新paddle 2.1版本以上

[2021-11-10 09:36] tianxin1860 commented on #1281
看你的代码是在 1 张 GPU 卡上用多线程？建议采用多卡多进程的方式来提升预测速度。

[2021-11-11 01:08] lightCraft2020 commented on #1274
嗯，现在正常了

[2021-11-11 01:08] #1274 closed, assigned to joey12300

[2021-11-11 07:42] wangqianyi2017 opened #1296 "PaddleNLP的模型压缩，MiniLMv2，可以自定义教师模型和学生模型吗？在哪可以看到相关文档？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-11-11 08:02] LiuChiachi commented on #1296
您好～
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/minilmv2，
这里的readme有对参数的释义：
![image](https://user-images.githubusercontent.com/26483581/141260124-ca495aa6-a924-491e-ba28-e608f47f0097.png)
这里的教师、学生模型，都可以是模型名（如`bert-base-chinese`）或者自己的模型路径，不过现在代码里还不支持选择除了bert、tinybert之外的model_type，如果有需要，可以在这里仿照bert添加更多的model_type即可：https://github.com/PaddlePaddle/PaddleNLP/blob/

[2021-11-11 08:06] tianxin1860 commented on #1281
看你的代码是在 1 张 GPU 卡上用多线程？建议采用每张 GPU 卡启动1个进程的方式来提升预测速度。

[2021-11-11 08:08] shguan2018 commented on #1281
谢谢，我测试一下

[2021-11-12 14:59] wj-Mcat opened #1305 "Bug Report: NameError: name 'TestElectraForSequenceClassification' is not defined"
## Introduction

* paddle version: `2.2.0`
* macos
* python3.9
* ide: vscode
* test plugin: [Python Test Explorer for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=LittleFoxTeam.vscode-python-test-adapter)

## Error Message

[code]
## Reproduce

This is the abvious error which does't need to reproduce it: there is no `TestElectraForSequenceClassification` importing in `te

[2021-11-13 03:58] ZeyuChen commented on #1305
@wj-Mcat Thanks for your feedbacks!

[2021-11-13 08:39] AI-Mart commented on #1250
这上面是每种子网络都计算损失，然后这个损失把梯度计算出来后没有更新梯度，到for循环结束，梯度更新，这个更新的梯度是以所有子网络累计的梯度来更新吗？这么做的原因是什么？

[2021-11-13 15:17] ZeyuChen commented on #1305
Resolve by #1306

[2021-11-13 15:17] #1305 closed, assigned to nobody

[2021-11-13 15:17] ZeyuChen commented on #1247
Resolved by #1282

[2021-11-13 15:17] #1247 closed, assigned to skpig

[2021-11-13 17:30] changaolee opened #1311 "Taskflow 情感分析官方例子报错"
## 版本、环境信息

1. PaddleNLP 和 PaddlePaddle版本：PaddleNLP 2.1.1，PaddlePaddle 2.2.0
2. 系统环境：MacOS 12.0.1，python 3.7

## 报错代码

[code]

## 报错信息

[code]

[2021-11-13 17:34] changaolee commented on #1311
补充：PaddleNlp 2.0.x 是可以跑通的，但由于需要 score 值做进一步处理，因此必须用 2.1.x 才可以

[2021-11-14 03:48] AI-Mart opened #1312 "PaddleNLP/examples/model_compression/ofa/export_model.py / 原始官方代码，运行报错"
Traceback (most recent call last):
  File "./export_model_ofa.py", line 371, in <module>
    do_train(args)
  File "./export_model_ofa.py", line 299, in do_train
    mapping_name = name.replace('.'+str(idx)+'.', '.'+str(kept_layers_index[idx])+'.')
UnboundLocalError: local variable 'kept_layers_index' referenced before assignment

原始官方代码，运行报错，报错信息如上，请核查原始代码是否有问题

`python -u ./export_model_ofa.py -

[2021-11-14 05:59] linjieccc commented on #1311
您好，这里应该是用到了2.0.x版本的情感分析静态图模型参数，
可以先删除`$HOME/.paddlenlp/taskflow/sentiment_analysis/bilstm/static`目录，
然后使用PaddleNLP 2.1.1重新初始化任务
[code]

[2021-11-14 06:13] changaolee commented on #1311
确实是这个问题，正常运行啦~

[2021-11-14 06:14] #1311 closed, assigned to linjieccc

[2021-11-16 06:02] supercoderhawk opened #1316 "PaddleNLP特定领域分词不准确问题"
PaddleNLP: 2.1.1
PaddlePaddle: 2.1.3

[code]

`[('短效', 'n'), ('GLP-1', 'nz'), ('受体', 'n'), ('激动剂', 'n'), ('有', 'v'), ('阿斯利康', 'ORG'), ('的', 'u'), ('艾塞', 'PER'), ('那', 'r'), ('肽', 'n'), ('、', 'w'), ('诺和', 'n'), ('诺德', 'PER'), ('的', 'u'), ('利拉鲁肽', 'nz'), ('、', 'w'), ('赛诺菲', 'ORG'), ('的', 'u'), ('利司', 'n'), ('那', 'r'), ('肽', 'n'), ('和', 'c'), ('上海仁', 'ORG'), ('会', 'v'), ('生物', 'n'), ('的', 'u'), ('贝',

[2021-11-16 06:33] ZeyuChen commented on #1316
@supercoderhawk 你试试综合下Taskflow('ner')这个解语模型的结果看看，可能一些生物类的准确率会高不少。

[2021-11-16 06:34] ZeyuChen commented on #1287
@lixiepeng 请升级下paddle和paddlenlp至最新版本后再试试，如有问题请reopen issues。

[2021-11-16 06:34] #1287 closed, assigned to linjieccc

[2021-11-16 06:52] EnHuiPug commented on #1179
请问如何解决的。。。谢谢🙏

[2021-11-16 06:57] Chenfei-Kang commented on #1179
这个bug应该是在循环或者条件语句下创建的临时变量显存不会自动回收，需要自己手动删除，用下面两个语句。
1. 先`import gc`，在训练的过程中创建了变量a，然后在一轮循环时 `del a`， 然后在之后立马`gc.collect()`
2. 建议升级到paddle2.2.0，用语句paddle.device.cuda.empty_cache()语句回收。

代码示例：
[code]

[2021-11-16 06:57] #1179 closed, assigned to tianxin1860

[2021-11-16 07:54] supercoderhawk commented on #1316
恩, 是准了不少, 但是还是有一个错误的. `艾塞那肽` 还是没有识别出来. 我先用ner这个好了

[2021-11-16 08:15] ZeyuChen commented on #1316
@supercoderhawk 您是学生还是企业开发者呢？您的这个场景用于解决什么问题，可否交流下。

[2021-11-16 13:05] supercoderhawk commented on #1316
企业开发者, 我们开发的新产品需要, 具体可以通过邮箱讨论, supercoderhawk@gmail.com

[2021-11-17 03:34] conquer66666 opened #1323 "PaddleNLP/examples/dialogue/dgu/中对话状态管理dst和意图识别和槽填充如何结合？"
请问对话状态管理和意图槽位等怎么结合使用？map_tag_id中值表示意图，槽位的一个名称还是什么？请帮解释一下，谢谢

[2021-11-17 03:49] shguan2018 opened #1325 "model 中的 forward 方法的返回值问题, PaddleNLP\examples\text_matching\ernie_matching\model.py"
###########################################################
class PointwiseMatching(nn.Layer):
    def __init__(self, pretrained_model, dropout=None):
        super().__init__()
        self.ptm = pretrained_model
        self.dropout = nn.Dropout(dropout if dropout is not None else 0.1)

        # num_labels = 2 (similar or dissimilar)
        self.classifier = nn.Linear(self.ptm.config["hidden_s

[2021-11-17 05:11] LiuChiachi commented on #1312
您好！
目前已经在develop分支修复了这个bug，感谢您指出错误！
目前这份导出代码只支持bert，如果需要支持bert以外的模型，需要自己重新定义你的模型（例如ErnieModel）的forward函数：
- 需要在原有的XXModel的forward增加这一行，https://github.com/PaddlePaddle/PaddleNLP/blob/54bef3dd03c1295f1befc2e57f2d0929086daadb/examples/model_compression/ofa/export_model.py#L44
- 并且后面需要用到wtype：https://github.com/PaddlePaddle/PaddleNLP/blob/54bef3dd03c1295f1befc2e57f2d0929086daadb/examples/model_compres

[2021-11-17 06:37] AI-Mart commented on #1312
好的，感谢，我验证下。为了支持PaddleNlp我其实是用ernie-gram训练的分类模型是实体识别模型，但是部署上效率需要做优化，想到模型压缩，所以参考了这个ofa框架，但是目前这个框架只支持BERT，我也就把之前的预训练模型改成BERT重新训练了一遍分类模型和实体识别模型。
用其他的预训练模型，这个需要重新自定义forward函数感觉比较麻烦，毕竟自带的预训练模型这个forwar函数都是底层配置好了，希望后面这个框架能做成兼容就好了，可以在现有的框架下，替换个预训练模型改个名字就能跑起来。

[2021-11-17 11:04] tanhanzhuo opened #1328 "Tokenizer和multiprocessing兼容性问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
PaddleNLP 2.1，PaddlePaddle2.2.0 develop
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
Ubuntu 18
python 3.7.12
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]

报错：
`AttributeError: Can't pickle local object 'Vocab.__init__.<locals>.<lambda>'`

Tokenizer无法在multiprocessing的pool中传递，上述代码去掉tokenizer可以正常运行（token_test需要适

[2021-11-17 11:36] tanhanzhuo commented on #1328
使用multiprocess（不是multiprocessing）可以解决这个问题。
另外可以用paddlenlp的Dataset类的map方法，支持多线程，传入数据处理函数就行

[2021-11-17 11:36] #1328 closed, assigned to nobody

[2021-11-18 04:56] #1060 closed, assigned to nobody

[2021-11-18 05:34] funwoo0415 opened #1331 "nptag报错：The model name:nptag is not in task:[knowledge_mining]"
![image](https://user-images.githubusercontent.com/75667328/142357558-9ae15d56-7eaa-4833-8372-16e9ec456a7f.png)
windows，

另外，说明文档里是不是写错了？
![image](https://user-images.githubusercontent.com/75667328/142357779-edf0c50f-fb82-447d-a346-c96e8a80af2c.png)

[2021-11-18 07:23] wawltor commented on #1331
这个需要手动安装一下最新的develop PaddleNLP版本

[2021-11-18 07:28] ZeyuChen commented on #1316
@supercoderhawk 好的。@chenxiaozeng 请跟进下

[2021-11-18 07:32] linjieccc commented on #1331
@funwoo0415 感谢指出，我们修改下

[2021-11-18 07:38] linjieccc commented on #1331
Taskflow NPTag会在PaddleNLP2.1.2正式发布，预计是在这个月月底

[2021-11-18 07:47] ZeyuChen commented on #1331
月底是PaddleNLP 2.2哈

[2021-11-18 08:13] AI-Mart opened #1332 "PaddleNLP/examples/information_extraction/DuIE/官方F1只有69.42的原因"
在训练过程中，模型保存在当前目录checkpoints文件夹下。同时在训练的同时使用官方评测脚本进行评估，输出P/R/F1指标。 在验证集上F1可以达到69.42。

官方源码，是把关系抽取模型转换为多标签的分类模型，正常的分类模型官方的F1值只有69.42的原因是什么？为何会这么低呢，一般普通的分类模型，随便一个预训练模型都能达到90以上，这个关系抽取转换的分类模型F1这么低的原因，能详细说下吗？

[2021-11-18 10:14] Xuanfang1121 opened #1334 "text-to-sql 多卡训练报错"
您好，在使用text-sql的代码训练nl2sql数据集，使用了多卡，在conf/text2sql_nl2sql.jsonnet中的use_data_parallel 设置为true,报错如下：
![4088288C-85B9-41b6-92B6-52AA37476B5A](https://user-images.githubusercontent.com/33194029/142395422-e6ca271f-e768-4ee3-b173-3db4cdfae9a3.png)

1）PaddleNLP和PaddlePaddle版本：PaddleNLP==2.1.0，paddlepaddle-gpu==2.1.3.post112
2）系统环境：ubuntuUbuntu 16.04.7 ，python==3.7，
      显卡型号为2080Ti 和3080Ti， cuda==11.2
代码

[2021-11-18 11:31] HUAWilliam opened #1335 "NameError: name 'BertForMaskedLM' is not defined"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.1.1，PaddlePaddle 2.1.3
2）系统环境：windows & linux 均有这个bug
-
- Traceback (most recent call last):
  File "d:/Objects/temp/NER/main.py", line 19, in <module>
    from model import *
  File "d:\Objects\temp\NER\model.py", line 3, in <module>
    class BertMaskedModel(BertForMaskedLM):
 NameError:

[2021-11-18 12:04] ZeyuChen commented on #1334
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_sql/RAT-SQL

试试这个版本的代码？

[2021-11-18 12:06] ZeyuChen commented on #1335
试试头部加一下from paddlenlp.transformers import BertForMaskedLM

[2021-11-18 12:09] HUAWilliam commented on #1335
Traceback (most recent call last):
&nbsp; File "d:/Objects/temp/NER/main.py", line 19, in <module&gt;
&nbsp; &nbsp; from model import *
&nbsp; File "d:\Objects\temp\NER\model.py", line 2, in <module&gt;
&nbsp; &nbsp; from paddlenlp.transformers import BertForMaskedLM
ImportError: cannot import name 'BertForMaskedLM' from 'paddlenlp.transformers' (C:\Users\William\miniconda3\envs\paddle\lib\site-pa

[2021-11-18 12:18] HUAWilliam commented on #1335
加了也不好使啊
- Traceback (most recent call last):
  File "d:/Objects/temp/NER/main.py", line 19, in <module>
    from model import *
  File "d:\Objects\temp\NER\model.py", line 2, in <module>
    from paddlenlp.transformers import BertForMaskedLM
ImportError: cannot import name 'BertForMaskedLM' from 'paddlenlp.transformers' (C:\Users\William\miniconda3\envs\paddle\lib\site-packages\paddlenlp\transform

[2021-11-18 12:40] HUAWilliam commented on #1335
加了也不好使啊

- Traceback (most recent call last):
File "d:/Objects/temp/NER/main.py", line 19, in
from model import *
File "d:\Objects\temp\NER\model.py", line 2, in
from paddlenlp.transformers import BertForMaskedLM
ImportError: cannot import name 'BertForMaskedLM' from 'paddlenlp.transformers' (C:\Users\William\miniconda3\envs\paddle\lib\site-packages\paddlenlp\transformers_init_.py)
- 而且这个bug在AIstu

[2021-11-18 12:56] yingyibiao commented on #1335
您好，感谢您的issue，BertForMaskedLM这个类是最近新增的，目前PaddleNLP还没有发布包含这个类的release版本。如果您需要使用BertForMaskedLM，那么需要下载PaddleNLP源码进行安装。

[2021-11-18 14:36] Xuanfang1121 commented on #1334
好的，我先试试

[2021-11-19 01:39] ZeyuChen commented on #1335
请尝试clone paddlenlp最新代码，本地执行setup.py安装即可解决该问题。@HUAWilliam

[2021-11-19 01:39] #1335 closed, assigned to yingyibiao

[2021-11-19 01:40] ZeyuChen commented on #1332
这个数据任务难度比较大，还是比较复杂的。

[2021-11-19 01:43] funwoo0415 commented on #1331
感谢各位的解答，还想请教一个问题：
nptag和ner的分词结果有什么不同吗？是将ner中的名词都挑出来，再精细化一下？ @ZeyuChen @wawltor  @linjieccc

[2021-11-19 02:15] tianxin1860 commented on #1325
您好，预测是直接调用当前的 forward 方法会返回1个 2 维向量，分别表示 [不相似得分、相似度得分], 你可以取出向量的第2个元素作为2个文本的相似度即可。或者如果需要归一化，也可以在输出的 logits 基础上加上 softmax 进行归一化。
[code]

[2021-11-19 02:16] linjieccc commented on #1331
@funwoo0415 NPTag是专门针对名词短语的标注工具，包含2000+的细粒度名词短语类别。
NPTag不会对输入文本进行分词，而是直接预测其类别。
所以从输入角度看，NPTag要求输入是完整的名词短语，而ner任务的输入则是一个完整的中文句子了。

[2021-11-19 02:21] shguan2018 commented on #1325
谢谢，我测试一下

[2021-11-19 03:26] Xuanfang1121 opened #1337 "text-to-sql中的max-seq-len问题"
您好，在使用text-to-sql中的RAT-SQL代码，数据集为NL2SQL，其中为conf/text2sql_nl2sql.jsonnet中的max_seq_len由原来的510修改为254或者其他长度，并且修改了text2sql/dataproc/dataloader.py中的第45行 if orig_input.value_indexes[-1] > 510: 将510修改为254或者其他长度，与max_seq_len保持一致，代码会报错，报错如下：
Error: /paddle/paddle/fluid/operators/gather.cu.h:62 Assertion `index_value >= 0 && index_value < input_dims[j]` failed. The index is out of bounds, please check whethe

[2021-11-19 03:35] AI-Mart commented on #1332
要提升准确率的话，是要换模型方案吗？

[2021-11-19 03:47] Xuanfang1121 commented on #1334
您好，使用了https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_sql/RAT-SQL的代码，在text2sql下的global_config.py中设置--use-data-parallel设置为True，多卡训练报错如下
![image](https://user-images.githubusercontent.com/33194029/142561141-27058abd-7019-4d31-bd2c-e77ce9a9a46e.png)

如果在text2sql_main.py中添加指定显卡的代码
os.environ['FLAGS_eager_delete_tensor_gb'] = "0.0"
os.environ["CUDA_VISIBLE_DEVICES"] = '0,1'
模型训练

[2021-11-19 07:41] Clearloveplus7 opened #1339 "关系抽取模型不全面"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

能否提供一个好一点的关系抽取模型，这个demo的无法解决真正的带有关系的判别

[2021-11-19 07:50] tanhanzhuo opened #1340 "[功能需求]DataCollatorForLanguageModeling（动态masking）"
大数据训练模型时，huggingface的transformers预训练采取的是DataCollatorForLanguageModeling进行动态masking（训练过程中mask数据）。目前examples/language_model/bert/采取的是静态masking（提前计算masking然后储存），examples/language_model/ernie-1.0/采取的动态masking，但代码调用的函数和库很复杂，不容易定制。是否可以增加huggingface对应的DataCollatorForLanguageModeling系列函数（比如DataCollatorForWholeWordMask对应ernie1.0的masking机制）？

DataCollatorForLanguageModeling will pad, mask, add_special_token

[2021-11-19 07:55] wawltor commented on #1334
![图片](https://user-images.githubusercontent.com/16698950/142586108-acfa563d-cbc8-4119-ab84-5dd63e44787a.png)
这里需要设置一下并发数

[2021-11-19 08:03] m3ngyang opened #1341 "`compare_version` 未发布"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号

- PaddleNLP 2.1.1
- PaddlePaddle2.1.1

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

`compare_version` 函数未发布, 跑 demo https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/waybill_ie 会报错
[code]

[2021-11-19 08:12] wawltor commented on #1341
抱歉，compare_version需要使用最新的develop版本才支持，麻烦拉取一下最新的develop版本的代码，然后 python setup.py install 一下

[2021-11-19 08:49] wawltor commented on #1337
想问一下，训练到多少epoch的时候会有这个问题了？

[2021-11-19 09:07] Xuanfang1121 commented on #1334
您好，我设置了并发为2 ，执行命令如下：bash ./train.sh 2 output/ --config conf/text2sql_nl2sql.jsonnet --data-root data/NL2SQL/preproc
显卡使用如下：
![image](https://user-images.githubusercontent.com/33194029/142595533-81ea5fdf-b42c-4522-afc9-f03d23900b79.png)

如果修改conf/text2sql_nl2sql.jsonnet 中的**use_data_parallel: true**, 执行命令为bash ./train.sh 2 output/ --config conf/text2sql_nl2sql.jsonnet --data-root data/NL2SQL/prepro

[2021-11-19 09:33] han508 opened #1342 "paddlenlp enie-csc问题"
paddlenlp2.1 paddlepaddle 2.1.2
您好，感谢开源，我在运行paddlenlp在运行train文件的时候刚训练了1个batch，他就提示开始报错，我用的数据是自己的数据集，我的数据与样例数据最大的区别就是我的数据集中有很长的句子大概length=300，我的数据集按照github给的案例数据集格式改的（raw \t correct \n）我经过不断的调试，发现我把--max_seq_length调大没用， 调节到50以下就会在第30epoch以后才报错，但是错误信息是一样的，请问把--max_seq_length 这个参数调小对结果有什么影响？怎么处理报错问题？
更详细的信息请参考我的aistudio：https://aistudio.baidu.com/aistudio/projectdetail/2793019?contributionType=1&shar

[2021-11-19 09:55] wawltor commented on #1337
您好，排查了你的配置修改和代码中max_seq_len要对齐，因为配置中是254，则需要把 if orig_input.value_indexes[-1] > 252（你的代码是254），才可以，因为后面后有2个特殊字符进行Concat  @Xuanfang1121

[2021-11-21 05:48] han508 commented on #1342
有人吗

[2021-11-22 02:15] joey12300 commented on #1342
你好，可以把出错的那个batch的logits和labels都打印出来吗？

[2021-11-22 08:57] smallv0221 commented on #1323
The tags in `map_tag_id` means the current state of current conversation. They are cumulative during the conversation. DST and intents are both parts of a pipline dialogue system. You can see the lecture here for more information. https://www.bilibili.com/video/BV1fB4y1M7A3?p=19

[2021-11-22 09:11] Xuanfang1121 commented on #1337
嗯嗯，收到，修改为512是可以进行训练的，谢谢您的回复，非常感谢

[2021-11-22 09:11] #1337 closed, assigned to wawltor

[2021-11-22 09:30] LangDaoAI opened #1346 "[Ask]关于中长文本的相似度模型"
Hi Team，

想问一下关于中长文本的相似度模型目前有提供吗？

不是短文本。

谢谢！

[2021-11-22 09:55] cypqyc opened #1347 "多标签文本分类任务"
多标签文本分类支持中文吗？我看示例数据是英文

[2021-11-22 11:31] linjieccc commented on #1347
您好，中文多标签文本分类可以参考这个案例：
https://aistudio.baidu.com/aistudio/projectdetail/2540472?contributionType=1

[2021-11-23 02:59] conquer66666 commented on #1323
谢谢，我再研究一下

[2021-11-23 03:32] LangDaoAI commented on #1272
@ZeyuChen 目前发布计划有确定吗？

[2021-11-23 03:32] nghuyong opened #1350 "word_segmentation加载自定义词典"
请教一下，针对分词的任务
`seg = Taskflow("word_segmentation")`
如何加载自定义的词典

[2021-11-23 04:09] linjieccc commented on #1350
您好，分词任务自定义词典功能我们会在这周更新

[2021-11-23 06:12] nghuyong commented on #1350
👍👍👍

[2021-11-23 06:41] cypqyc commented on #1347
我看了这个案例  它可以支持文章多标签分类吗？类似于新闻那种长篇的   示例里是短文本

[2021-11-23 06:59] nghuyong commented on #1350
word_segmentation, pos_tagging, ner
这三个task都能进行分词，分词粒度一致吗？我需要识别出一句话中的人名，需要用ner ？

[2021-11-23 07:11] xuxiaobo-666 opened #1352 "在龙芯的服务器上对ernie-gen模型进行预测的时候报下面的错误，这是因为源码编译的spaddlepaddle或paddlenlp有问题吗"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![1Y$A~3XN2@N~NUOC48L2NIH](https://user-images.githubusercontent.com/64080571/142983255-5ce1b11d-d06d-449e-85f7-db43b43bd9b5.png)

[2021-11-23 07:12] xuxiaobo-666 commented on #1352
系统是loongarch64

[2021-11-23 07:16] nghuyong commented on #1350
word_segmentation 性能貌似特别慢，均在在50-100ms，远高于LAC，jieba这种类似的分词，有加速的方法吗？

[2021-11-23 07:17] xuxiaobo-666 commented on #1352
paddlepaddle==2.1.1，paddlenlp==2.0.8，python==3.8.2

[2021-11-23 07:18] linjieccc commented on #1350
1.分词粒度
word_segmentation和pos_tagging使用的是同一个模型（BiGRUCRF），分词粒度一致
ner任务我们提供的是基于解语框架的方案，包含更丰富的专名类别标签，同样在实体词的切分粒度会更稳定

2.人名识别
pos_tagging和ner都可以实现人名的识别，不过ner除了识别人名实体词，还能识别人物相关的概念词
示例：
[code]

[2021-11-23 07:21] nghuyong commented on #1350
pos_tagging 对应的人名的label是什么？

[2021-11-23 07:55] linjieccc commented on #1347
建议文本长度不超过512，如果超过可能在效果上会有影响

[2021-11-23 08:39] cypqyc commented on #1347
也就是不会报错  但是训练效果可能会不好  因为篇幅太长了 ？

[2021-11-23 08:58] linjieccc commented on #1347
是的，模型本身在预训练阶段就不会用到过长的文本

[2021-11-23 08:59] ZeyuChen commented on #1272
因为发布会时间推迟了，所以模型发布时间相应推迟了两周，如无意外会在12.12之前发布会。@LangDaoAI
@gongel  FYI

[2021-11-23 09:22] wawltor commented on #1352
建议升级一下PaddlePaddle的版本，然后看看是否有问题；目前看是PaddlePaddle在Transpose Op上面有问题，如果升级版本之后建议去PaddlePaddle github提出相应的问题，有相关的同学进行解决。

[2021-11-23 09:28] cypqyc commented on #1347
我篇章级别的文本放进去  模型会自己把超出规定长度的字符截断吗？或者 咱们这个模型对字符的长度有要求吗？

[2021-11-23 09:31] wawltor commented on #1350
<img width="649" alt="图片" src="https://user-images.githubusercontent.com/16698950/143000008-b00207ae-8935-47e7-8bf4-3cf77b209fbe.png">

您好，上面是对应的pos_tagging对应label关系

[2021-11-23 09:44] linjieccc commented on #1347
示例中使用的ERNIE-1.0模型默认的文本最大长度是512，超过之后会进行截断哈

[2021-11-23 09:47] cypqyc commented on #1347
好 多谢

[2021-11-23 15:02] tianxin1860 commented on #1346
请问这里的`中长`文本大概是多长？

[2021-11-24 03:59] LangDaoAI commented on #1272
好的，感谢！再问一下，目前这个模型相比之前paper发布时，是否有新的能力追加， 从最新XTREME cross-lingual understanding benchmark看， 文心-M似乎掉了一些，：）

[2021-11-24 07:26] cooljsz opened #1357 "ernie-ctm训练后不释放资源"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）paddlepaddle-gpu   2.2.0 ，paddlenlp是2021-11-24的develop分支
2）windows python3.7.9
- 复现信息：无错误信息，控制台最后输出信息如下
[2021-11-24 15:24:20,528] [    INFO] - global step 355, epoch: 3, loss: 21.74998, speed: 0.71 step/s
[2021-11-24 15:24:27,639] [    INFO] - global step 360, epoch: 3, loss: 20.96136, speed: 1.15 step/s
[2021-11-24 15:24:34,

[2021-11-24 07:31] cooljsz commented on #1357
训练脚本使用的是工程中examples/text_to_knowledge/ernie-ctm/train.py，准备好dev.txt,tags.txt,train.txt后直接执行__main__方法

[2021-11-24 13:01] linjieccc commented on #1357
请问时手动中断任务后，显存没有释放吗？

[2021-11-24 13:05] cooljsz commented on #1357
是训练完毕后没有自动释放。手动中断任务后显存会被释放。

[2021-11-24 17:24] LuckyyySTA opened #1358 "ernie-1.0 sh run_static.sh报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

根据Ernie-1.0 预训练官方文档进行预训练时，首先根据data-tools生成训练数据，从『下载原始数据』到『原始数据转换 jsonl 格式』再到『数据ID化』一直都能成功运行，在ERNIR预训练时运行run_static.sh脚本时出现报错
1）PaddleNLP 2.0.4，PaddlePaddle2.1.1

[2021-11-25 03:35] LangDaoAI commented on #1346
稍等，我们统计一下平均文本size后反馈，田老师

[2021-11-25 03:36] LangDaoAI opened #1359 "[Ask] 关于wordtag paper"
![image](https://user-images.githubusercontent.com/83859417/143375387-51f6cd8a-3452-4306-81d8-9f3a14a2fb32.png)

Hi team，

wordtag这篇paper找不到， 希望可以共享一下address，谢谢！

-Tang

[2021-11-25 05:52] wawltor commented on #1359
您好，目前WordTag这块还没有相关的Paper。

[2021-11-25 07:05] linjieccc commented on #1357
您好，我们按照提供的环境信息配置后执行，显存是正常释放的。
可以尝试在其他任务上测试下看会不会有同样的问题

[2021-11-25 07:19] cooljsz commented on #1357
我在训练其他模型的时候是可以自动释放的，例如yolo-v3。训练完毕ernie-ctm能否加一些自定义结束语进行提示呢？这样就算不自动释放的时候，也可以安心关闭了。

[2021-11-25 07:20] safehumeng opened #1360 "关于PretrainedTokenizer.batch_encode的问题"
您好，提个建议可否：在PretrainedTokenizer.batch_encode中提供一下padding到batch最大长度的方法
代码在paddlenlp/transformers/tokenizer_utils.py:1086行
1）PaddlePaddle版本：无影响，PaddleNLP版本：2.1.1
2）系统环境：无影响

[2021-11-25 09:39] LangDaoAI commented on #1359
OK

[2021-11-25 09:39] #1359 closed, assigned to nobody

[2021-11-25 09:48] wawltor commented on #1358
您好，确认一下了目前PaddlePaddle 发布的版本还不支持多核多进程训练，但是目前多核单进程训练是有的，具体可以看这个API  https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/ParallelExecutor_cn.html#parallelexecutor 目前多进程训练的工作正在进行中。

[2021-11-25 11:44] LangDaoAI commented on #1346
统计了我们中长文本长度小于512，以512为考虑的长度，田老师

[2021-11-28 01:31] anbo724 opened #1527 "ERINE-health is released?"
Is the ERINE-health PLM will be released ?

[2021-11-28 15:35] nghuyong commented on #1350
@linjieccc
您好，如果仓库已更新，可以支持加载自定义词典，辛苦同步一下;
另外发现`seg = Taskflow("word_segmentation")`的性能比LAC，jieba分词器慢了很多，应该如何提高性能？

[2021-11-29 02:31] ZHUI commented on #1358
如之前所述，目前放出了的版本是linux上、gpu的版本，暂时不支持cpu。我们将在readme给用户更明确的说明。

祝好！

[2021-11-29 12:44] hermitgreen opened #1372 "AlbertTokenizer Pad的id是否正确？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
PaddleNLP 2.1.1 PaddlePaddle-GPU 2.2.0
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
Linux Python 3.8.11
- 复现信息：如为报错，请给出复现环境、复现步骤

在使用albert_tokenizer时：设置如下代码
[code]

得到的部分输出如下：
[code]

可以看到Pad的值为100，而albert doc中有如下描述：
[code]

请问Pad的

[2021-11-29 12:46] hermitgreen commented on #1372
我在调整batch_size的大小时，发现不同的batch_size得到了截然不同的结果

[2021-11-29 12:58] yingyibiao commented on #1372
可以给出具体的代码吗？

[2021-11-29 12:59] smallv0221 commented on #1360
当前的paddlenlp.data.Pad已经包含此功能，因此在tokenizer里就不加相同的功能了

[2021-11-29 13:03] yingyibiao commented on #1372
我刚刚试了一下pad_token_id=0

[2021-11-29 13:10] hermitgreen commented on #1372
测试代码
[code]

测试样例
[code]

输出
[code]

[2021-11-29 13:13] hermitgreen commented on #1372
查阅词表发现，[PAD]对应的id应该是0才对，这里的100是否是有错误的？

[2021-11-29 13:39] yingyibiao commented on #1372
这里确实有问题，感谢指出～

[2021-11-30 16:49] han508 commented on #1342
您好，之前在期中考试，这个问题被耽搁了，十分抱歉，我打印了print(corr_logits, corr_labels)这两个变量，是这样的
Tensor(shape=[32, 266, 18000], dtype=float32, place=CUDAPlace(0), stop_gradient=False,
       [[[-0.28014067, -0.09436500,  0.00859556, ..., -0.26180422,  0.03938470, -0.19187395],
         [-0.13715141, -0.18962234,  0.23461692, ...,  0.06818749, -0.25959399, -0.03632923],
         [-0.35479656, -0.32098797,  0.15350105, ...,

[2021-11-30 16:51] han508 commented on #1342
dataset 是这样
曾几何时，港口设备老旧、衰败不堪。	曾几何时，港口设备老旧、衰败不堪。
13时许，刘某被警方抓抓获。	13时许，刘某被警方抓获。
联合演练现场，6家省内物业企业代表队展示了义务消防队力量、紧急救护技能6项内容。	联合演练现场，6家省内物业企业代表队展示了义务消防队力量、紧急救护技能等6项内容。
天元街道白鹤社区的党员代表参观完记念馆说。	天元街道白鹤社区的党员代表参观完纪念馆说。
一名网友对此吐槽到。	一名网友对此吐槽道。

[2021-12-01 04:09] BlueSkyBubble opened #1377 "模型推理结果不稳定"
在paddle模型预测过程中，虽然使用了model.eval()，但每次模型的推理结果仍然不相同，比如PaddleNLP/examples/text_matching/ernie_matching/predict_pairwise.py，训练好模型后，通过如下命令每次执行这个predict.py文件得到的结果都不相同。
[code]
请问这是哪里的问题？

[2021-12-01 09:44] tanhanzhuo opened #1379 "[功能需求]int类型tensor使用同大小bool类型tensor索引"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

float类型的tensor可以使用同大小的bool tensor进行索引，但int类型的tensor会报错：

[code]

报错：
TypeError: Only support float and double tensor for bool index, but received paddle.in

[2021-12-01 09:48] #1379 closed, assigned to nobody

[2021-12-01 09:52] tanhanzhuo opened #1380 "tokenier的get_special_tokens_mask"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

https://paddlenlp.readthedocs.io/zh/latest/_modules/paddlenlp/transformers/tokenizer_utils.html#PretrainedTokenizer.get_special_tokens_mask
该函数应该返回special to

[2021-12-01 11:11] #867 closed, assigned to yingyibiao

[2021-12-01 11:17] hermitgreen commented on #1377
我在使用ernie1.0的时候发现了同样的问题，大概在小数点5位以后出现精度不对齐情况

[2021-12-01 11:24] smallv0221 commented on #1380
This method is a symbolic method. The actual implementation of this method should be in `tokenizer.py` of specific model.