[2020-07-16 13:05] waywaywayw opened #222 "models的PaddleNLP的bert，自有数据训练，生成训练数据。字典不匹配？？"
https://github.com/PaddlePaddle/models/tree/release/1.8/PaddleNLP/pretrain_language_models/BERT
数据预处理部分
![image](https://user-images.githubusercontent.com/26199465/87673833-b5b18f80-c7a7-11ea-8569-1f70127def5f.png)
id化的例子 第一个token的id是1？你们用的是啥字典啊。
bert-base 的字典，cls是102，sep是103才对吧

或者你们能不能放出对应的create_train_data.py的代码，这也不麻烦吧

[2020-08-25 03:02] xbc0112 opened #221 "怎么使用LAC扩展实体识别标签"
请问对于特定领域的命名实体识别任务，怎么训练模型使其针对人名地名机构名时间之外的类别标签呢？尝试修改了tag.dic和训练数据进行非增量的训练，但是模型训练的时候P/R/F1一直是0。

[2020-09-29 03:24] Adrian-Yan16 opened #220 "paddleNLP lexical_analysis的使用问题"

[2020-10-20 08:48] ly303550688 opened #219 "simnet的预训练模型支持迁移学习吗"
有一些专业词汇不在词典里，导致某些短语匹配的效果差点，用已有数据全新训练的效果不好，怎么用预训练的模型训练呢

[2020-10-30 07:25] barry2025 opened #128 "simnet mmdnn报错"
paddle版本1.8.0
simnet 采用模型config/mmdnn_pointwise.json
使用pointwise模型，数据格式为：text_a text_b label形式

模型报错：
![image](https://user-images.githubusercontent.com/20043808/97671834-f4075c00-1ac3-11eb-8f43-fb09ae220d98.png)

[2020-11-01 09:04] Twinkle123321 opened #126 "paddleNLP模型运行次数多以后，打印的日志相互矛盾"
2020-11-01 05:27:32,566-WARNING: ./Good_models/step_5600/.pdparams not found, try to load model file saved with [ save_params, save_persistables, save_vars ]
2020-11-01 05:27:32,567-WARNING: variable file [ ./Good_models/step_5600/checkpoint.pdopt ./Good_models/step_5600/checkpoint.pdparams ./Good_models/step_5600/checkpoint.pdmodel ] not used
2020-11-01 05:27:32,567-WARNING: variable file [ ./Goo

[2020-11-02 12:24] JoyeeL opened #125 "bert模型可以用cpu训练吗？"

[2020-11-09 07:42] liuchenbaidu opened #124 "文本情感分类，为什么没有三分类的预训练模型"
在实际中大部分都是三分类吧，积极中性消极？sentiment_classfiy都是积极和消极两个分类，也就是比如说一句话要么积极要么消极，在现实或者工业中不实际吧，请问是怎么考虑的。或者单纯是没有这样的语料？

[2020-11-11 07:34] zhangxuanaj opened #127 "ernie_pyreader数据维度和padding方式不一致"
ernie_pyreader读取数据要求batch内均为max_seq_len长，但是调用的padding.py是按照batch内最大长度进行padding的。

ernie_pyreader： PaddleNLP/shared_modules/models/representation/ernie.py
padding.py：PaddleNLP/shared_modules/preprocess/padding.py

[2020-11-17 11:13] zhangxuanaj opened #123 "emotion_detection 运行ernie evaluate报错"
models/PaddleNLP/emotion_detection/run_ernie.sh   train完成后，运行eval报错，看报错信息，应该是在fluid.load(main_program, init_checkpoint_path, exe) 的时候出错了，error信息：

Error: When calling this method, the Tensor's numel must be equal or larger than zero. Please check Tensor::dims, or Tensor::Resize has been called first. The Tensor's shape is [-1, 768] now
  [Hint: Expected numel() >= 0, but received numel():-768 < 0:

[2020-12-29 03:29] yizhipipixia opened #121 "使用文本分类任务时自己的准备的样本在加载时被替换成官方样本(train.tsv, dev.tsv, dev.tev)怎么破,求指导"
项目链接:https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/rnn

加载的时候是从train.py的这里进去的(但是里面调的类有点复杂,就不知道怎么改了)
    train_ds, dev_ds, test_ds = ChnSentiCorp.get_datasets(
        ['train', 'dev', 'test'])

![11](https://user-images.githubusercontent.com/65219051/103256610-d7ef4080-49c8-11eb-8a4f-a30256b4ef0f.png)

[2020-12-30 02:55] yizhipipixia opened #122 "使用自己制作的tsv数据集进行文本分类,训练的过程中得到如下报错,怎么破,"
项目链接:https://github.com/PaddlePaddle/models/tree/4d87afd6480737b64b5974c9c40a5b1c5a4600b3/PaddleNLP/examples/text_classification/rnn

训练命令:python train.py  --use_gpu=False --network=bilstm --lr=5e-4 --batch_size=64 --epochs=5 --save_dir='./checkpoints'

将C:\Users\Administrator\.paddlenlp\datasets\chnsenticorp目录下的train.tsv 与dev.tsv和test.tsv进行了替换,然后进行训练
训练了3步,然后就报错了,报错信息如下
step   10/4050 - loss: 0.6

[2020-12-30 11:08] stopit opened #120 "lac 模型fine-tune"
一、现状
目前使用lac模型提取文本中ORG信息作为公司或机构的名称返回给上层应用。
对于一般的机构信息，模型可以正常识别，但是我们的文本中存在很多非标准的公司/机构数据，例如：“包店镇手机大卖场”、“李梅种子专营店”等，lac就很难正常识别。
目前我们想到的办法是整理了大概10w条类似的数据：小勇手机专营店 /ORG 百姓大药房/ORG ....... 准备利用lac进行fine-tune
二、问题

目前按照这个思路操作的过程中，lac训练出来的模型最终将很多非ORG的数据识别成了ORG，准确率反而降低了很多。我们也观查到一个现象就是：一个句子的开头几个词很容易被识别为ORG，我们猜想这可能是训练样本中只含有ORG导致模型认为开头的词由很大概率是ORG，所以导致了误判（问题1：这个猜想是否合理/正确）。

目前在思考一个解决思路（问题2）：是否需要在训练集中混入一些其他非ORG样本，或

[2021-01-03 13:26] Vvegetables opened #119 "sh run_ernie.sh train 无法完成"
换了自己只有几条数据的train.tsv，就卡着不动了，过了2小时了
![image](https://user-images.githubusercontent.com/9248572/103479622-ee066200-4e09-11eb-96fd-6388a5f55283.png)

[2021-01-07 09:13] xiaosheng123XIAO opened #218 "models-release-1.7/PaddleNLP/emotion_detection模型"
将开源ernie模型进行sh run_ernie train微调，源码报错，这个修改了ernie函数中的fluid.data，改成fluid.layers.data就能成功进行train。可在进行sh run_ernie.sh infer时，出现如下错误，这个是哪里有问题呢

Traceback (most recent call last):
  File "run_ernie_classifier.py", line 402, in <module>
    main(args)
  File "run_ernie_classifier.py", line 303, in main
    main_program=test_prog)
  File "/data/yuting/models-release-1.7/PaddleNLP/emotion_detection/utils.p

[2021-01-14 06:29] millywang516 opened #118 "怎么把自己的数据集换成paddleNLP内置的数据集格式"
~
原项目在这https://aistudio.baidu.com/aistudio/projectdetail/1294333?channelType=0&channel=0

问题：我自己的数据集应该是什么格式的？

例子中的数据集是PaddleNLP内置该数据集：

train_ds, dev_ds, test_ds = ppnlp.datasets.ChnSentiCorp.get_datasets(['train', 'dev', 'test'])

train_ds是'ChnSentiCorp' object
长下面这样

![image](https://user-images.githubusercontent.com/62973945/104553024-e26e3300-5674-11eb-88d4-82888f4534e7.png)

train_ds需要apply

[2021-01-22 17:13] Minjuner-97 opened #117 "恳请大佬大神们赐教：如何使用自己的数据集训练MRC？"
本人小白，想用Dureader robust的MRC训练一套自己的中文数据集，但是我没有id，只有 问句和文本。
请问我改如何更改源数据集呢？
恳请大佬大神们赐教

[2021-02-05 08:56] geekChinaMaster opened #115 "paddlenlp实体识别模型服务器部署问题"
paddlenlp训练的模型只能通过save_pretrained保存，通过from_pretrained来加载吗？
这样的话工业化部署，只有cpu的情况下很慢，请问如何工业化如果部署，性能怎么提升？

[2021-02-07 03:55] geekChinaMaster commented on #115
ok，谢谢
那用paddlehub训练出来的模型也建议导出为inference模型进行推理部署吗，可以不可以参照您发的上一个文档

[2021-02-07 05:38] MissPenguin commented on #115
对的，paddlehub训练的模型本质是一样的，要进行更快速的推理部署也需要转inference模型，具体操作有疑问可以在paddlehub项目下提issue~ https://github.com/PaddlePaddle/PaddleHub

[2021-02-07 06:13] geekChinaMaster commented on #115
好的，谢谢

[2021-02-10 01:09] xiaomeng654321 opened #19 "the format of the predict text"
thanks for all of this, could the predict text be showed without lables

[2021-02-18 00:47] #19 closed, assigned to nobody

[2021-02-20 11:37] loujie0822 opened #24 "paddlenlp==2.0.0rc 木有封装 LinearDecayWithWarmup"
既然是中文Readme，我就直接写中文了。如题。

[2021-02-21 13:21] ZeyuChen commented on #115
https://github.com/PaddlePaddle/PaddleNLP
@geekChinaMaster 欢迎关注下我们的新repo
欢迎后续在PaddleNLP repo上提相关issues，关于部署这一功能我们后续会晚上下高性能版本的部署教程，预计在3月份内发布。

[2021-02-22 02:45] LiuChiachi commented on #24
hello，`LinearDecayWithWarmup`是上次发包后合入的API
为了支持后面补充的API，刚才更新发布了rc2版本的新包，可以使用`pip install paddlenlp==2.0.0rc2`更新一下，会支持` LinearDecayWithWarmup`这类API

[2021-02-23 09:03] wjunneng opened #32 "examples样例中的 DuReader-yesno 出现小问题"
run_du.py 第 94 行代码
`tokens_raw = [tokenizer(l) for l in example]`出现如下问题：
[code]

原因：[https://github.com/PaddlePaddle/PaddleNLP/commit/e67c2c554043edae36e76f25e8bbcecfc29dd8cf](url) 提交删除了 tokenizer.py 文件中 BertTokenizer 类的 __call__() 方法，更改为了 tokenize() 。

因此，建议修改为`tokens_raw = [tokenizer.tokenize(l) for l in example]`问题可解。

[2021-02-23 10:13] smallv0221 commented on #32
感谢提出，已修复

[2021-02-24 05:06] HaodaY opened #116 "在lstm语言模型中为什么要先把全部数据读进来？"
https://github.com/PaddlePaddle/models/blob/release/1.7/PaddleNLP/language_model/train.py 文件第212行，直接在reader.get_data_iter()里边读文件边yield感觉也可以吧？

[2021-02-24 11:06] geekChinaMaster opened #114 "使用paddlenlp训练模型后使用paddle.jit.save()保存模型，使用paddle.jit.load()加载后无法使用"
### 使用paddlenlp训练模型后使用paddle.jit.save()保存模型，使用paddle.jit.load()加载后无法使用
在使用PaddleNLP语义预训练模型ERNIE完成快递单信息抽取的项目中，使用自定义数据集训练模型并保存，加载后无法使用：
环境：ai studio，paddlenlp2.0b
代码如下：
`
from utils import evaluate
import paddle
global_step = 0
for epoch in range(1, epochs+1):
    for step, (input_ids, segment_ids, seq_lens, labels) in enumerate(train_loader, start=1):
        logits = model(input_ids, segment_ids)

[2021-02-24 14:31] jeff41404 commented on #114
看issue中的报错截图，是 x = paddle.randn([1, 768], 'int64') 写错了，如果要用int64，应该改成 x = paddle.randint(low=0, high=255, shape=[1, 768], dtype='int64') 这种形式（注意这里low和high的数字是示例，请根据实际情况修改）
![image](https://user-images.githubusercontent.com/8555991/109015200-d784d480-76ef-11eb-8787-7e66694f64ac.png)

[2021-02-25 06:46] xiaomeng654321 opened #38 "express_ner中，在数据预测部分出现SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception"
单独做预测代码，报错SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
更改的代码，在数据加载部分，更改 ExpressDataset类，变为无标签预测
变更的代码：
class ExpressDatasettest(paddle.io.Dataset):
    def __init__(self, data_path):
        self.word_vocab = load_dict('./conf/word.dic')
        self.label_vocab = load_dict('./conf/tag.dic')
        self.word_ids = []
        self.label_ids = []

[2021-02-25 09:31] wawltor commented on #38
稍等 我们排查一下

[2021-02-25 10:14] geekChinaMaster commented on #114
这里修改了之后还是有报错
![图片](https://user-images.githubusercontent.com/44657953/109138191-0f922300-7795-11eb-8f4e-ed51c85d008b.png)

[2021-02-25 10:25] wawltor commented on #38
![image](https://user-images.githubusercontent.com/16698950/109139656-b6c38a00-7796-11eb-8e98-dca0976d3042.png)
麻烦对应着把batchify_fn函数改一下，之前是对三个field进行batch化组合，现在只有2个，因此注释一下。
经过实验，您最好load一份已经训练好的参数，这样不会进行出错。

[2021-02-25 12:34] xiaomeng654321 commented on #38
好的，非常感谢，但在预测的时候，总是出现keyerror的报错， 如下是主函数部分代码：
paddle.set_device('gpu')

    data = "./data/userinput.txt"

    modelparams = "./modelspath/final.pdparams"

    train_ds_word_num = 20941
    train_ds_label_num = 13

    label_keys = ['P-B', 'P-I', 'T-B', 'T-I', 'A1-B', 'A1-I', 'A2-B', 'A2-I', 'A3-B', 'A3-I', 'A4-B', 'A4-I', 'O']

    data_ds = ExpressDatasettest(data)

    batchify_fn = lambda sampl

[2021-02-26 02:43] wawltor commented on #38
嗯嗯 这个问题是需要加载一个训练好的参数即可，这样就不会出现上诉的问题；出现上诉的问题报错确实代码报错风格不好，我们会优化。

1. 先不改动示例代码（记得保存之前的已经改动的代码），先训练一个最好的模型出来，模型地址 results/final.pdparams
2. 加上如下图片所示代码
![image](https://user-images.githubusercontent.com/16698950/109247659-414fcc00-781f-11eb-892e-7842718bc62e.png)
3. 开始预测

我们内部讨论一下，看看是否需要加一下预测代码，后续反馈给您

[2021-02-26 05:38] xiaomeng654321 commented on #38
好的，已成功，谢谢

[2021-03-01 10:02] vForce825 opened #46 "文本分类Demo因读入Dataset训练时未对batch做padding引起Blocking queue is killed because the data reader raises an exception"
最小复现代码：
import paddle
import paddlehub as hub
model = hub.Module(name='roberta-wwm-ext-large', task='seq-cls', num_classes=2)
train_dataset = hub.datasets.ChnSentiCorp(
    tokenizer=model.get_tokenizer(), max_seq_len=128, mode='train')
dev_dataset = hub.datasets.ChnSentiCorp(
    tokenizer=model.get_tokenizer(), max_seq_len=128, mode='dev')
optimizer = paddle.optimizer.Adam(learning_rate=5e-5, pa

[2021-03-01 10:03] #46 closed, assigned to nobody

[2021-03-02 07:16] Ryan906k9 opened #52 "如何载入保存训练好的模型？"
使用了预训练模型进行 finetune：
[code]

训练完成后：

[code]

请问训练完成后应该如何加载保存的模型？

[2021-03-02 07:21] guoshengCS commented on #52
和`model.save_pretrained('./checkpoint')`及`tokenizer.save_pretrained('./checkpoint')`对应，使用`model.from_pretrained('./checkpoint')`及`tokenizer.from_pretrained('./checkpoint')`就可以了

[2021-03-02 07:38] guoshengCS commented on #52
`model.from_pretrained`和`tokenizer.from_pretrained`是支持按照`bert-base-uncased`这种模型名称或者本地训练模型的路径来导入模型的

[2021-03-02 08:13] guoshengCS commented on #52
另外通过
[code]
保存下来的内容（如下）中的`model_state.pdparams`是通过Paddle原生的[save接口](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/framework/io/save_cn.html#save)保存的，也可以使用Paddle原生的[load接口](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/framework/io/load_cn.html#load)来加载
[code]

[2021-03-02 11:37] Ryan906k9 commented on #52
谢谢！

[2021-03-02 11:37] #52 closed, assigned to guoshengCS

[2021-03-03 10:01] wdhxek opened #61 "词性标注多卡训练报错"
paddle gpu 2.0.0
paddlenlp 2.0.0rc5
cuda 10.1
cudnn: 7.6.5
nccl 2.7.3

按照[文档教程](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis)进行多卡训练报错
$ python train.py         --data_dir ./lexical_analysis_dataset_tiny         --model_save_dir ./save_dir         --epochs 10         --batch_size 32         --n_gpu 2
-----------------------------------------------

W0303 17:54:08

[2021-03-03 10:05] wdhxek commented on #61
单卡训练无问题。

[2021-03-03 11:01] ZeyuChen commented on #32
Issue Solved.

[2021-03-03 11:01] #32 closed, assigned to smallv0221

[2021-03-03 11:14] ZeyuChen commented on #116
可以的。
推荐参考最新PaddleNLP 2.0的版本，有动态图的API会更加简洁。
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/rnnlm
@HaodaY

[2021-03-04 05:48] ZeyuChen opened #65 "Upgrade machine translation model seq2seq to GNMT model"
Currently our Seq2Seq model is not a clear name and classical structure in machine translation domain.
Upgrade to GNMT will be more authoritative.

[2021-03-04 05:50] ZeyuChen commented on #24
Issues solved, please try the latest version of PaddleNLP.Thanks for your feedback.
@loujie0822

[2021-03-04 05:50] #24 closed, assigned to LiuChiachi

[2021-03-04 06:06] l99500 opened #66 "变量名错误"
发现一个小错误
PaddleNLP/examples/text_matching/sentence_transformers/train.py /
上面的line40 parser.add_argument里面是warmup_proption，下面line237是args.warmup_proportion。

[2021-03-04 11:28] Steffy-zxf commented on #66
你好！感谢反馈！该问题将在 pr：https://github.com/PaddlePaddle/PaddleNLP/pull/54/commits/56ade3bb8808ae94974bc6cb7f9d483b6e484e9d 修复

[2021-03-04 12:27] kinghuin commented on #61
Hi，欢迎使用PaddleNLP，感谢您反馈问题~

我们已在最新使用示例中修复了多卡训练问题，请使用[最新代码](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis)启动训练、评估、预测。

[2021-03-04 14:26] ZeyuChen commented on #66
Latest code solve this issues. @l99500

[2021-03-04 14:26] #66 closed, assigned to Steffy-zxf

[2021-03-08 23:11] bbbxixixixi opened #84 "paddlenlp有没有处理加密文本的一套方案？"
原始文本已经转为了数字，要从头训练模型，有没有处理这类问题的相关教程？

[2021-03-09 13:09] chenxiaozeng opened #96 "[PaddleNLP SIG] 🔥🔥🔥 PPSIG征集令 | 欢迎广大开发者加入PaddleNLP SIG"
飞桨社区特殊兴趣小组（PPSIG）旨在通过开放的社区形式与全球的开发者共同构建一个开放、多元和架构包容的生态体系，以开源理念和技术实践为驱动，让全球开发者更紧密的协作起来，构建更好的开源世界。自2020年9月启动以来，目前已有多个方向的SIG展开了活跃的开源协作。

PaddleNLP覆盖了多场景的模型库、简洁易用的全流程API与动静统一的高性能分布式训练能力，是飞桨框架2.0在NLP领域的最佳实践。旨在提升文本领域建模效率，共享前沿技术能力。

我们致力于打造一个富有活力的NLP社区，将定期邀请业内技术大牛分享前沿技术，共同建设NLP能力，以开源精神将NLP技术推广创新。如果您对NLP技术有兴趣，认可开源理念，乐于学习、分享和贡献，欢迎加入PaddleNLP特殊兴趣小组（PaddleNLP SIG）。

扫码填写问卷，通过技术评估后即刻加入哦。记得添加飞桨小哥哥微信（见问卷内容）回复Pa

[2021-03-09 15:42] ZeyuChen commented on #84
@bbbxixixixi 请问是那种NLP任务，文本分类还是文本匹配或者序列标注？

[2021-03-09 22:33] bbbxixixixi commented on #84
文本语义匹配和文本分类

[2021-03-10 12:06] Maybewuss opened #105 "请问这个框架是哪个团队在维护呀？"
是paddle团队还是nlp团队？

[2021-03-11 04:25] yingyibiao commented on #105
我们是paddle部门的paddlenlp团队～

[2021-03-11 06:14] ZeyuChen commented on #84
https://aistudio.baidu.com/aistudio/projectdetail/1283423
@bbbxixixixi 可以了解下这个教程，里头有关于数据Pipeline的使用教程。
也可以使用ERNIE和BERT等预训练模型，这种方式建议使用明文的方式来输入，效果更好，无需考虑太多切词的复杂流程。
具体可以参考这个教程：https://aistudio.baidu.com/aistudio/projectdetail/1294333

[2021-03-11 08:06] #105 closed, assigned to nobody

[2021-03-12 03:08] #84 closed, assigned to ZeyuChen

[2021-03-12 07:40] #117 closed

[2021-03-15 06:59] Quantum-Cheese opened #141 "DuReader_robust阅读理解，传入自定义数据路径报错"
其实是两个问题：
1. 完成训练后是否能用训练好的模型在无答案的数据集上预测
 跑示例DuReader_robust的时候发现，好像只能用 fine-tuning 训练模型，然后用 dev 数据集测试，输出测评结果。但如果把 load_dataset 的split参数从 ‘dev’ 改成 ‘test’ 以后就会报错 KeyError: 'answers'，应该是因为test数据里没有‘answers’，不知道如果要在这种数据上跑是否需要修改代码。
2. 传入自定义数据的路径就会报错
还有在使用 - - predict_file 后面加文件路径会报错：AssertionError: `data_files` should be a string or a dictionary whose key is split name ande value is a path of data file.

[2021-03-15 08:08] smallv0221 commented on #141
https://github.com/PaddlePaddle/PaddleNLP/pull/142
你提到的两个问题在这个pr中修复了，可以先参照这个pr修改dureader_robust.py 和args.py中的代码，就能在自己的数据集上进行预测了。

[2021-03-16 03:32] ghost opened #151 "有没有ernieSAGE节点分类的例子？"

[2021-03-16 03:55] ZHUI commented on #151
您好！

因 ErnieSAGE 节点分类场景使用较少，本repo暂未将节点分类的例子迁移。
由于目前PGL的 ErnieSAGE节点分类的例子暂时移除了。您可以参考下面的PR，来修改适配节点分类任务。
https://github.com/PaddlePaddle/PGL/pull/116/files

主要需要修改的点，是数据
https://github.com/PaddlePaddle/PGL/pull/116/files#diff-c8e8737ec50e6d7af7b3228e18fcd9c67a6d43e447870b1e8904f7496af4ce24R128
和 模型
https://github.com/PaddlePaddle/PGL/pull/116/files#diff-562552ce495899a7dba6b0891cd6a49d3f8fd495a2da6e6

[2021-03-17 01:48] Minjuner-97 opened #216 "球各位大佬帮忙解答一下，关于MRC的问题。使用自己的数据集，预测结果出现单个字的情况？"
球各位大佬帮忙解答一下~
在使用paddlepaddle的MRC代码的时候，出现以下迷惑情况。
之前使用自带数据集，预测结果是正常的；使用自己的数据集（2151个），也是正常的，预测结果还不错的；
正常结果如下：
    "1612": "张国荣",
    "1206": "张火丁",
    "2025": "罗密欧",
    "372": "刘霓娜",
    "2885": "中井贵惠",
    "2768": "鲁桓公",
    "1969": "也遂皇后",
    "4026": "钱韵玲",
    "1451": "蒋友青",

后来使用自己的另外一个数据集（17199个），出现了一下情况：
    "0": "唐",
    "1": "作",
    "2": "丁",
    "3": "诺",
    "4": "令",
    "5": "沙",

[2021-03-17 01:50] Minjuner-97 opened #153 "球各位大佬帮忙解答一下，关于MRC的问题。使用自己的数据集，预测结果出现单个字的情况？"
球各位大佬帮忙解答一下~
在使用paddlepaddle的MRC代码的时候，出现以下迷惑情况。
之前使用自带数据集，预测结果是正常的；使用自己的数据集（2151个），也是正常的，预测结果还不错的；
正常结果如下：
"1612": "张国荣",
"1206": "张火丁",
"2025": "罗密欧",
"372": "刘霓娜",
"2885": "中井贵惠",
"2768": "鲁桓公",
"1969": "也遂皇后",
"4026": "钱韵玲",
"1451": "蒋友青",

后来使用自己的另外一个数据集（17199个），出现了一下情况：
"0": "唐",
"1": "作",
"2": "丁",
"3": "诺",
"4": "令",
"5": "沙",
"6": "穆",
"7": "周",
"8": "唐",
"9": "弟",

但其实，预测的是不对的，应该是正常的人名，且训

[2021-03-17 02:53] bbbxixixixi opened #154 "AttributeError: 'TSVDataset' object has no attribute 'map'"
用simnet做一个语义匹配，自定义数据集，数据里元素已转为数字
仿造PaddleNLP/examples/text_matching/simnet/train.py写
数据读取使用
from paddlenlp.datasets import TSVDataset
ds = TSVDataset('xxx.tsv')
vocab = Vocab.load_vocabulary('mysimnet_vocab.txt', unk_token='[UNK]', pad_token='[PAD]')

def convert_example(example, vocab, is_test=False):
    text_a, text_b = example[0], example[1]
    a_ids = np.array(vocab.to_indices(text_a.split('

[2021-03-17 03:12] smallv0221 commented on #154
您好，现在paddlenlp最新版不推荐使用TSVDataset了。自定义数据集的写法请参考快递单的例子（69行的function）
https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.0-rc/examples/information_extraction/waybill_ie/run_bigru_crf.py
之后的版本会移除TSVDataset。

[2021-03-17 03:17] smallv0221 commented on #153
请问你用的是哪个代码，Dureader-robust的么，还有你使用的数据集确定格式正确么。

[2021-03-17 03:42] Minjuner-97 commented on #153
代码路径：paddlenlp -->example -->machine_reading_comprehension-->DuReader-robust
使用的数据已经和源数据保持一致，但是因为我的任务和Dureader的任务不太一样， 我没有Question_id，故我使用的是每个样本的id作为questionid（可能会存在一个问题对应多个文本的情况，但是每个样本不一样）；并已经可以输入到模型当中。

[2021-03-17 05:07] smallv0221 commented on #153
训练和预测都是用的自己的数据集么

[2021-03-17 05:20] smallv0221 commented on #153
另外能给一下你使用的样例数据集么

[2021-03-17 05:23] ZeyuChen commented on #154
@bbbxixixixi 可以了解下https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/experimental/dataset.py
MapStyle Dataset和Iterable Style Dataset的用法，目前推荐使用这两种dataset，在自定义拓展上会更加方便。
@smallv0221 正在补充更多文档说明，欢迎持续反馈。

[2021-03-17 09:07] ghost commented on #151
你好，感谢你的回复。我在你发的https://github.com/WeiyueSu/PGL/tree/main/examples  的库里发现了unsup_graphsage，但是与一般的unsup_graphsage不同的是此版本没有提供节点的初始特征，请问应该在哪部分初始化自己的节点特征？

[2021-03-17 09:35] #151 closed, assigned to ZHUI

[2021-03-17 09:37] ZHUI commented on #151
此处unsup_graphsage，使用了可学习的 embeding参数作为特征， https://github.com/PaddlePaddle/PGL/blob/main/legacy/examples/unsup_graphsage/train.py#L104
如果想加入节点的特征，可以在此处将 embedding 特征和 节点初始特征相加。

节点初始特征，可以加入图结构中，然后到 graph_wrapper中去取出来。

[2021-03-18 03:47] gongshaojie12 opened #167 "information_extraction DuEE 中训练模型时vocab_path=./conf/vocab.dict指的是什么？"
information_extraction DuEE 中训练模型时vocab_path=./conf/vocab.dict指的是什么？在哪里获取？谢谢

[2021-03-18 15:18] bbbxixixixi opened #170 "paddle.Model.fit在eval阶段不打印传入的metrics结果，最优结果的保存似乎也没有"
用SimNet做了个语义判断的程序
model = ppnlp.models.SimNet(
        network='gru',
        emb_dim=256,
        vocab_size=len(vocab),
        num_classes=3)
model = paddle.Model(model)
optimizer = paddle.optimizer.AdamW(
        parameters=model.parameters(), learning_rate=0.001)
criterion = paddle.nn.CrossEntropyLoss()
metric = paddle.metric.Accuracy()
model.prepare(optimizer, criterion, metric)
model.fit(

[2021-03-18 22:15] nilobud opened #171 "ACL2019-ARNOR dataset"
Hi, the dataset for Baidu's paper: "ARNOR: Attention Regularization based Noise Reduction for Distant Supervision Relation Classification" was originally stored at: https://github.com/PaddlePaddle/models/tree/develop/PaddleNLP/Research/ACL2019-ARNOR. But it has gone for some reason. Could you please point to the correct link for this dataset? Many thanks.

[2021-03-19 01:58] zhengya01 commented on #171
Please give us the page link  with this sentence "ARNOR: Attention Regularization based Noise Reduction for Distant Supervision Relation Classification".  Then we fix it.

[2021-03-19 02:18] Steffy-zxf commented on #170
你好！`paddle.Model.fit`在eval阶段会打印eval data的评价指标。并且打印的指标是从一个累积的数值。同时`paddle.Model.fit`可以指定`save_freq`参数，间隔epoch数之后保存模型参数，参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/hapi/model/Model_cn.html#model

simnet训练示例代码参考：https://github.com/PaddlePaddle/PaddleNLP/tree/release/2.0-rc/examples/text_matching/simnet

[2021-03-19 02:25] Steffy-zxf commented on #167
你好！感谢反馈！`vocab_path=./conf/vocab.dict`是多余无关的数据，请忽略。我们会删除这个数据， 修复pr： #172

[2021-03-19 02:37] ZeyuChen commented on #171
@nilobud https://github.com/PaddlePaddle/Research/tree/master/NLP/ACL2019-ARNOR
Please refer to this link.

[2021-03-19 10:36] xueeinstein opened #173 "How to download wikicorpus_en dataset in HDF5 format?"
I noticed that the Bert benchmark requires the wikicorpus_en dataset in HDF5 format. But I only have [raw text data](https://www.cs.upc.edu/~nlp/wikicorpus/). How to download this dataset or convert it from raw text?

[2021-03-19 15:09] ZeyuChen commented on #167
Problem solve，please check the PR #172 , it has merged into develop branch.

[2021-03-19 15:09] #167 closed, assigned to Steffy-zxf

[2021-03-20 15:48] wawltor commented on #173
You could use the python script to convert the raw wiki text file to HDF5 file, the script url is https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/create_pretraining_data.py, more message is in doc of bert directory.  And we will support the script that convert the raw chinese text file to HDF5 file later.

[2021-03-20 15:52] #38 closed, assigned to wawltor

[2021-03-20 17:24] bbbxixixixi opened #175 "examples中的electra支持中文的预训练吗？"
仿造bert的预训练，生成了一个中文的训练文本，每行一个句子，字符以空格分隔，启动命令
python -u run_pretrain.py \
    --model_type electra \
    --model_name_or_path chinese-electra-base \
    --input_dir /home/aistudio/work \
    --output_dir /home/aistudio/work/pretrained_models/ \
    --train_batch_size 64 \
    --learning_rate 5e-4 \
    --max_seq_length 320 \
    --weight_decay 1e-2 \
    --adam_epsilon 1e-6 \
    --warmup_steps 1000

[2021-03-21 05:12] stronger123-boa opened #176 "paddlenlp 如何实现 自定义数据集+预训练 完成情感分析"
我将《使用预训练模型ERNIE优化情感分析》的预训练模型和《快来选一顿好吃的年夜饭》的自定义数据集整合一起完成自定义数据集+预训练。但是总是在报错。请问自定义数据集的类需要做什么调整吗？

[2021-03-22 02:18] Steffy-zxf commented on #176
你好！自定义数据集参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/data_prepare/dataset_self_defined.rst

[2021-03-22 03:58] bbbxixixixi opened #177 "paddlenlp examples/language_model/bert/run_pretrain.py加载中途保存模型异常"
由于一些原因，中途训练断开了，最后一个保存的路径在model_240000中，有如下一些文件
model_config.json
model_state.pdparams
tokenizer_config.json
vocab.txt
model_state.pdopt

然后用run_pretrain.py加载继续训练，参数--model_name_or_path 无论是加载路径还是pdparams都不行

加载路径--model_name_or_path /home/aistudio/work/pretrained_models/model_240000的异常如下
Traceback (most recent call last):
  File "/home/aistudio/PaddleNLP-release-2.0-rc/examples/language_model/bert/

[2021-03-22 07:46] gongshaojie12 commented on #167
好的，谢谢

[2021-03-22 12:30] stronger123-boa opened #181 "如何实现自定义数据集+finetune完成情感分析呢？"
使用自定义数据集，构建data_loader.

[2021-03-22 12:35] stronger123-boa commented on #181
使用自定义数据集，构建data_loader《使用PaddleNLP语义预训练模型ERNIE优化情感分析》的create_dataloader。报错：没有.map()功能。改成用《快来选一顿好吃的年夜饭》的create_dataloader，报错：SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.  请问有什么好的案例推荐吗

[2021-03-22 13:15] wawltor commented on #177
您好，上诉的问题是我们的一处代码所致，目前已经修复合入最新的develop版本，抱歉给您使用的过程中带来困扰，具体的修复PR https://github.com/PaddlePaddle/PaddleNLP/pull/180 。您可以通过拉取最新的bert的示例代码即可修复上诉的问题。

[2021-03-22 16:42] Steffy-zxf commented on #181
你好！请升级PaddleNLP为最新版本
[code]

自定义数据集参考文档：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/data_prepare/dataset_self_defined.rst

另外，方便贴下错误信息以及代码吗？
提供以上信息可以帮助分析问题。

[2021-03-22 18:20] bbbxixixixi commented on #177
这个稍微有点小问题，当加载某个保存路径下的模型，如果不存在.paddlenlp/models/xxx/xxx-vocab.txt的时候，还是会报异常

我重新进入aistudio，这时候的环境是初始状态，用--model_name_or_path /home/aistudio/work/pretrained_models/model_240000/加载模型，异常如下
Traceback (most recent call last):
  File "/home/aistudio/PaddleNLP-develop/examples/language_model/bert/run_pretrain.py", line 439, in <module>
    do_train(args)
  File "/home/aistudio/PaddleNLP-develop/examples/l

[2021-03-23 00:59] wawltor commented on #177
嗯嗯 谢谢反馈这个问题， 我们内部如何处理这个问题，问题解决后再反馈给您！

[2021-03-23 02:29] Nicole1983 opened #182 "PaddleNLP训练模型如何转推理模型"
使用ernie-tiny进行训练，得到训练模型如下：
checkpoints/
├── model_100
│   ├── model_config.json
│   ├── model_state.pdparams
│   ├── tokenizer_config.json
│   └── vocab.txt
└── ...
怎么才能把训练模型转成推理模型呢？
最终目的是想把训练过的NLP模型部署到Paddle Serving上，该怎么操作呢？

[2021-03-23 04:13] stronger123-boa opened #184 "自定义数据集 读取报错：(Fatal) Blocking queue is killed because the data reader raises an exception."
# 自定义数据
[code]
# 加载模型：
[code]
# 创建data_loader
[code]

# 数据读入
[code]
# 设置Fine-Tune优化策略，接入评价指标：
[code]
# 数据情况：
[code]
['Swapped session [{0}] is invalid', '0']
['DirectoryNotEmptyException', '0']
['# Kitchen master teaches cooking # Cake shop buys cakes for his girlfriend? NO NO NO~ is weak [Squeezing] Today, our kitchen master teaches you to make cakes by yourself, without using an oven,~ It is sin

[2021-03-23 08:03] wawltor commented on #184
您好，能不能麻烦提供一份完整的示例代码和示例数据了？

[2021-03-23 08:28] guoshengCS commented on #175
这个目前代码中确实是还不支持，`KeyError: 'chinese-electra-base-generator'`报错是因为目前electra预训练没有添加中文的配置支持，fine-tune是添加了中文的配置支持的。

进行中文预训练的话应该也可以临时先直接在 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/electra/modeling.py#L525 这里参考英文模型electra-base-generator和electra-base-discriminator的配置加下chinese-electra-base-generator和chinese-electra-base-discriminator的配置试下，也请 @jeff41404  看下

[2021-03-23 08:33] guoshengCS commented on #182
训练模型转成推理模型可以参考这里 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert#预测 。Paddle Serving等更多预测相关内容暂时还未合入，可以先参考这个PR https://github.com/PaddlePaddle/PaddleNLP/pull/164

[2021-03-23 09:51] guoshengCS commented on #177
现在这个问题已经修复了哈 https://github.com/PaddlePaddle/PaddleNLP/pull/106

[2021-03-23 12:14] stronger123-boa commented on #184
谢谢您的答复，我自己刚刚解决了

[2021-03-24 02:15] wawltor commented on #184
嗯嗯 好的

[2021-03-24 02:15] #184 closed, assigned to wawltor

[2021-03-24 02:29] bbbxixixixi commented on #177
还有一个有问题的地方，今早去看训练情况，发现global step不是承接上次中断的地方一起的，上次从240000steps处继续，今早最后保存的是200000。不太确定lr之类的是不是也从0步开始计算了，建议在log中打印一下

[2021-03-24 02:40] Nicole1983 commented on #182
参照该样例，已经转成推理模型了，非常感谢！！

[2021-03-24 02:41] #182 closed, assigned to nobody

[2021-03-24 07:35] Nicole1983 opened #189 "ernie_tiny部署paddle serving后，curl返回 request that this server could not understand"
paddler serving部署文本匹配的ernie_tiny后，curl -H "Content-Type:application/json" -X POST -d '{"Data":[['世界上什么东西最小', '世界上什么东西最小？']] , "fetch":["prediction"]}' http://172.0.0.1:9292/ernie/prediction，返回
  400 Bad Request
  Bad Request
  The browser (or proxy) sent a request that this server could not understand.

请问是传入参数格式不对吗？还是操作步骤不正确呢？谢谢！
完整的操作步骤如下：
1. 获取docker 镜像 registry.baidubce.com/paddlepaddle/servin

[2021-03-25 08:19] #61 closed, assigned to kinghuin

[2021-03-25 08:24] wdhxek opened #193 "paddleNLP对百度的DDparser的支持？"
感谢paddleNLP的开源工作!
想问下，百度自家发布的依存句法分析树 DDParser这个工具，后续是否计划融合到paddlenlp中？
[DDparser](https://github.com/baidu/DDParser/), 目前DDparser还不支持paddlepaddle2.0，后续各个工具版本之间融合和同步，是否会统一到PaddleNLP中？

祝好！

[2021-03-25 09:27] wawltor commented on #193
您好，目前我们正在对PaddleNLP的句法分析模块正进行升级，DDparser也在计划中，后续有进度反馈给您！

[2021-03-28 08:58] TeslaZhao commented on #189
您好，根据您的报错判断，错误原因webserver端口没有开启。

请参考Paddle Serving的web server示例可以参考python/examples/下bert和lac示例，webserver启动采用run_web_service()方法，在bert示例服务启动方法(https://github.com/PaddlePaddle/Serving/blob/develop/python/examples/bert/bert_web_service.py)，打开web端口为int(9500)

bert_service.run_web_service()

[2021-03-29 14:30] lylyone opened #198 "example中的lexical_analysis工程训练train.py在训练报错。"
错误：
The loss value printed in the log is the current step, and the metric is the average value of previous step.
Epoch 1/10
Traceback (most recent call last):
  File "train.py", line 118, in <module>
    train(args)
  File "train.py", line 110, in train
    callbacks=callbacks)
  File "D:\Datalearn\lib\site-packages\paddle\hapi\model.py", line 1495, in fit
    logs = self._run_one_epoch(train_load

[2021-03-29 14:33] lylyone commented on #198
基于gru+lstm+crf的网络结构的训练。

[2021-03-30 06:15] kinghuin commented on #198
您好，我这边没能复现出这一问题。请问运行的paddlepaddle，paddlenlp版本号是多少呢？是在CPU环境下运行的吗？这个报错是偶现还是必现的呢？

[2021-03-30 12:48] Nicole1983 commented on #189
已经好用了，谢谢

[2021-03-30 12:48] #189 closed, assigned to nobody

[2021-03-30 13:42] lylyone commented on #198
paddlenlp版本 是2.0.0rc14，paddlepaddle 版本是 2.0.1，在windows10，windows7，cpu环境下跑都报这个错误，应该是必现，我在aistudio跑通了。不知道怎么解决。我在model.fit(train_data=train_loader,
              eval_data=test_loader,
              batch_size=args.batch_size,
              epochs=args.epochs,
              eval_freq=1,
              log_freq=10,
              save_dir=args.model_save_dir,
              save_freq=1,
              shu

[2021-03-31 02:29] kinghuin commented on #198
您好，这可能是windows、linux对lengths变量的类型的处理不同导致的，类似：
https://github.com/PaddlePaddle/PaddleHub/pull/905/files#diff-378c03fe05a16640b08416826987722bc8c56beac28ad70e09b0b1913b09cf2dL374
我将在近日修复这一问题，如您着急可以尝试上面的修复方式（如您顺利解决这一问题，欢迎向我们提交PR）或者在windows平台使用WSL2

[2021-03-31 03:43] ghost commented on #151
[code]

用同一批次中的其他样本作为负样本，会不会导致正样本作为负样本训练？

[2021-03-31 04:02] ZHUI commented on #151
[code]
这里把对角线上的正样本权重设置为0了。

[2021-03-31 08:35] zcp789 opened #207 "中文阅读理解竞赛，run_squad.py，提示TypeError: map() got an unexpected keyword argument 'batched'"
raceback (most recent call last):
  File "./run_squad.py", line 351, in <module>
    run(args)
  File "./run_squad.py", line 210, in run
    train_ds.map(prepare_train_features, batched=True)
TypeError: map() got an unexpected keyword argument 'batched'
我下载文件后可一丝未改，怎么回事呢？

[2021-04-01 03:13] smallv0221 commented on #207
您好，这个问题可能是您的PaddleNLP版本问题。建议您升级到最新版本的PaddleNLP。

[2021-04-01 03:47] wangzhe0912 opened #210 "本地先通过Pre-training任务得到的一个预训练的模型，然后在Fine-tuning任务中加载自己生成的预训练模型的时候，模型加载失败"
在跑bert的benchmark的任务时候，先是通过Pre-training任务得到的一个预训练的模型，然后在Fine-tuning任务中加载自己生成的预训练模型的时候，模型加载失败了。
简单看了一下原因，应该是Pre-training任务保存的模型目录下没有model_state.pdparams这个文件，而Fine-tuning任务加载模型的时候找不到这个文件，所以启动失败了。
Traceback (most recent call last):
  File "./run_glue.py", line 413, in <module>
    do_train(args)
  File "./run_glue.py", line 331, in do_train
    args.model_name_or_path, num_classes=num_class)
  File "/

[2021-04-01 03:48] wangzhe0912 commented on #210
模型地址如下:
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/benchmark/bert

[2021-04-01 23:06] cocoa0409 opened #217 "NER教程中发现bug"
hi,
https://aistudio.baidu.com/aistudio/projectdetail/1317771
在这个NER任务中，主模型代码
`
class BiGRUWithCRF2(nn.Layer):
    def __init__(self, emb_size, hidden_size, word_num, label_num):
        super(BiGRUWithCRF2, self).__init__()
        self.word_emb = TokenEmbedding(extended_vocab_path='./conf/word.dic', unknown_token='OOV') #EMB
`
TokenEmbedding的利用有误

我查看了源码，extended_vocab_path的参数会作为读取字典，经过_read_voc

[2021-04-02 03:26] kinghuin commented on #217
@cocoa0409 Hi, 感谢反馈，这个bug已经在https://github.com/PaddlePaddle/models/pull/5270/files 中修复，请使用最新版的aistudio代码运行

[2021-04-02 04:06] #216 closed, assigned to nobody

[2021-04-02 06:05] #221 closed

[2021-04-02 07:18] zhunipingan opened #301 "distinct评价指标 的合理范围"
引用了您的distinct的计算方式，得到的inter distinct2的值大约在0.24 inter distinct1大约在0.08， 请问这种值是正确且有意义的吗，因为与一些论文里的值有一些不同

[2021-04-02 09:40] #126 closed

[2021-04-02 09:42] #125 closed

[2021-04-02 09:43] #124 closed

[2021-04-02 09:45] chenxiaozeng commented on #123
升级最新版本PaddleNLP即可～

[2021-04-02 09:45] #123 closed

[2021-04-02 09:46] chenxiaozeng commented on #121
你好，请问这个问题，解决了吗？

[2021-04-02 09:46] chenxiaozeng commented on #121
@yizhipipixia 您好，请问这个问题，解决了吗

[2021-04-02 09:51] #116 closed, assigned to ZeyuChen

[2021-04-04 02:49] Minjuner-97 opened #225 "请问基于Dureader的阅读理解任务使用的模型原文可以提供吗"

[2021-04-05 11:18] Minjuner-97 commented on #225
请问可以输出“没有答案”这种结果吗？

[2021-04-05 13:22] smallv0221 commented on #225
请问模型原文是什么意思。Dureader-robust对没有答案的输出是 ""

[2021-04-05 14:01] Minjuner-97 commented on #225
谢谢，因为我想知道这个模型具体是怎么写的，想看下模型图，或者有没有解释的相关文档呢？

如果理解为，  基于BERT的阅读理解模型，输入为【CLS】+ 问句+【SEP】+文本，经过BERT编码，输出是两个起始位置、结束位置的分类器，损失函数是两个分类器的损失函数的平均， 这样对吗？
另外，对于没有答案这种类型的输出，具体是怎么做到的呢？

[2021-04-05 14:07] smallv0221 commented on #225
您说的输入和loss设计是对的。对于没有答案的输出，是通过score-diff判断的，具体实现可以参见paddlenlp/metrics/squad.py  中的compute_prediction函数

[2021-04-05 14:20] Minjuner-97 commented on #225
好的 感谢~

[2021-04-06 04:52] wht0948 opened #227 "加载模型报错：OSError: [operator < uniform_random > error]"
from paddlenlp.transformers import UnifiedTransformerLMHeadModel, UnifiedTransformerTokenizer
model_name_or_path = 'unified_transformer-12L-cn'

model = UnifiedTransformerLMHeadModel.from_pretrained(model_name_or_path)
tokenizer = UnifiedTransformerTokenizer.from_pretrained(model_name_or_path)

报错：OSError:   [operator < uniform_random > error]

环境：
paddle：2.0.1
CUDA：11.0
CUDNN：10.0.130

[2021-04-06 05:15] guoshengCS commented on #227
麻烦还请附下更为完整的报错信息，也请 @xiemoyuan 帮忙看下

[2021-04-06 06:21] wht0948 commented on #227
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-1-dd859799c34a> in <module>
      6 model_name_or_path = 'unified_transformer-12L-cn'
      7
----> 8 model = UnifiedTransformerLMHeadModel.from_pretrained(model_name_or_path)
      9 tokenizer = UnifiedTransformerTokenizer.from_pret

[2021-04-06 06:43] xiemoyuan commented on #227
请问paddlenlp是哪个版本呢？
指定GPU可以在运行python程序前设置环境变量进行设置：export CUDA_VISIBLE_DEVICES=0

[2021-04-06 07:21] wht0948 commented on #227
感谢您的回复，我之前的服务器好像不能指定使用第几张卡，我把0号卡的显存清空了就加载成功了，现在遇到了另一个问题，我在另一台服务器上安装paddle时  !python -m pip install paddlepaddle-gpu==2.0.1 -i https://mirror.baidu.com/pypi/simple 遇到了一个报错
Collecting decorator (from paddlepaddle-gpu==2.0.1)
  Downloading https://mirror.baidu.com/pypi/packages/71/bd/042e63027bea950da4e6f5545eb59b973868da854ab30a18128d3b884104/decorator-5.0.2.tar.gz
    Complete output from command p

[2021-04-06 07:47] xiemoyuan commented on #227
安装paddle请参考 https://www.paddlepaddle.org.cn/install/quick ，选择相应的操作系统以及cuda版本等选项，按给定的安装命令再尝试一下。

[2021-04-06 08:19] qili93 commented on #301
您好，请问下您这里的distinct评价指标具体是指哪个模型和哪篇论文的复现呢？

[2021-04-07 06:07] zhangyan-833 opened #232 "cudnn版本问题"
![image](https://user-images.githubusercontent.com/57338670/113818431-561e6880-97aa-11eb-99d2-c8f83b96d06c.png)

cudnn安装了7.6，但是说我的cudnn是5.0，有冲突，这要怎么解决

[2021-04-07 07:56] ZeyuChen commented on #232
升级cudnn至7+版本以上，建议使用conda方式安装，https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/linux-conda.html
conda创建独立环境安装conda会根据cuda版本自动适配最佳的cudnn环境。

[2021-04-07 07:56] ZeyuChen commented on #232
同时也检查下cudnn的环境变量设置是否有误。

[2021-04-07 08:01] zhangyan-833 commented on #232
谢谢，已解决！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月7日(星期三) 下午3:56
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re

[2021-04-07 14:03] 2017040264 opened #237 "GRU内存过大"
我使用相同的代码，在AI STUDIO上跑的时候，GRU占用的内存非常大，导致项目根本跑不通。而在自己电脑上跑的时候，GRU占用的内存很小。所有我怀疑是平台出现了某个bug.
代码：

`
import paddle

class Seq2SeqEncoder(paddle.nn.Layer):
    def __init__(self, vocab_size, embed_dim, hidden_size):
        super(Seq2SeqEncoder, self).__init__()
        self.embedder = paddle.nn.Embedding(vocab_size, embed_dim)
        self.lstm = paddle.nn.LSTM(input_size=embed_dim,hidden_size=hidden_si

[2021-04-07 14:15] Pzoom522 opened #238 "Please release Pointer Generator implementation"
Hi,

[Pointer Generator](https://arxiv.org/abs/1704.04368) is one of the most popular baseline in text summarisation studies. It also serves as the building block of several very competitive models. Therefore, if Pointer Summariser can be included into your model zoo, it will greatly encourage the development of Paddle-based summarisation systems:wink:

Many thanks!

[2021-04-07 14:15] #238 closed

[2021-04-07 14:17] ZeyuChen commented on #232
Issues solved.

[2021-04-07 14:17] #232 closed, assigned to ZeyuChen

[2021-04-08 02:05] kinghuin commented on #198
Hi，我们已修复这个问题，请使用develop分支example中的最新代码 ：）

[2021-04-08 02:34] nbcc opened #241 "基于 LambdaDecay 实现的 LinearDecayWithWarmup，训练中途挂掉后热启动继续训练，学习率还是按 step = 0 开始迭代"
ci 见 https://github.com/PaddlePaddle/models/commit/fee616e868262a7b791f3801bd0d1380f56d0e36

[2021-04-08 03:04] Nicole1983 opened #239 "PaddleNLP 如何从百万级数据中查找出与给定文本相似的文本集合？"
目前PaddleNLP文本匹配算法ernie_tiny只支持每次输入一对 （query，title)， 但是在实际应用场景中，经常需要从几万甚至百万个title中，寻找和query相似的title，这种场景使用ernie_tiny该如何进行提速呢？或者PaddleNLP有其它算法适用上述场景呢？
请大佬指点一二，感激不尽！

[2021-04-08 05:40] tianxin1860 commented on #239
你的需求是给定 query 在海量 title 库中进行 ANN 检索，可以基于 ERNIE_tiny 或其它预训练模型热启，然后进行 query、title 双塔结构的训练，然后通过对 title 端进行 ANN 建库，就可以满足你的需求。另外，PaddleNLP Q2 计划推出面向语义索引场景的算法，欢迎关注。

[2021-04-08 06:55] joey12300 commented on #237
@2017040264 您好，请问你自己电脑上和AI studio上的Paddle版本分别是多少呢？

[2021-04-08 07:22] joey12300 commented on #237
目前我跑了您提供的程序，是可以正常运行网络前后向。这边分别使用2.0.1和2.1.0.dev版本的paddle进行测试，结果是2.0.1显示很大的显存，而2.1.0.dev显示正常的显存，推测是2.0.1 paddle.summary有bug，显存计算有误。
2.0.1
![image](https://user-images.githubusercontent.com/10826371/113984519-c8ac4880-987d-11eb-8a11-25b596cbdd44.png)
2.1.0.dev
![image](https://user-images.githubusercontent.com/10826371/113984543-cea22980-987d-11eb-927e-5a75f4777854.png)

[2021-04-08 08:10] guoshengCS commented on #241
这个目前是会按step=0迭代的，可以先试下将`LinearDecayWithWarmup`的last_epcoh 参数设置为上次中断的step来恢复，参考文档 https://paddlenlp.readthedocs.io/en/latest/source/paddlenlp.transformers.optimization.html#paddlenlp.transformers.optimization.LinearDecayWithWarmup ，也请 @LiuChiachi  确认下 ， 保存与恢复训练我们后续也会继续完善，感谢~

[2021-04-08 08:22] Nicole1983 commented on #239
感谢回复！
我们在训练阶段也是使用ernie_tiny预训练模型热启动 + 双塔结构进行的训练，title特征已经提前计算好并保存在库中，在预测阶段，需要将query特征和库里面每个title的特征进行相似度计算，最终从库里获取最相似的title。
现在预测阶段的速度非常慢，输入一个query获取相似title需用时13s，当前库里只有170个title的特征，怎样才能提高预测的速度呢？

[2021-04-08 08:26] LiuChiachi commented on #241
你好！如果以后还可能会有这样继续训练的使用场景，可以将lr, optimizer等用`paddle.save(lr_scheduler.state_dict(), "xx")`保存下来，在恢复训练的时候再load：`lr_scheduler.set_state_dict(paddle.load("xx"))`。

[2021-04-08 08:41] tianxin1860 commented on #239
13s 包括计算 query 表示和 用 query 表示去进行 ann 检索所花费的总时间么？建议分别统计这 2 阶段的耗时，先明确性能瓶颈在哪里。

[2021-04-08 09:21] Nicole1983 commented on #239
你好，13s只是用query表示去进行检索所花费的时间。

[2021-04-08 09:55] tianxin1860 commented on #239
ann 检索引擎用的是什么？检查一下用法吧，应该是没用对，170 个 titile 的检索耗时应该非常小(不超过 ms 级别) 才符合预期。

[2021-04-08 10:06] Nicole1983 commented on #239
你好！非常感谢您的回复！
ann检索这部分确实做的不太好，这部分不是很了解，请推荐个性能比较高的ann检索引擎可以吗？如果能给个例子链接就更好了。

[2021-04-08 10:30] tianxin1860 commented on #239
可以了解下 FAISS、Annoy、Milvus, 任意一款都可以。

[2021-04-09 01:58] zhiyongLiu1114 opened #244 "pip 用百度源安装的时候报错"
具体信息如下：更新了pip 和 setuptool 也不行
(paddle) root@7eae298bd17a:/app# pip install --upgrade paddlenlp -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
Collecting paddlenlp
  Downloading https://mirror.baidu.com/pypi/packages/e9/89/812c1f3683f8296114ca91d591601515352741d37d9847114836a9dfa188/paddlenlp-2.0.0rc16-py3-none-any.whl (295 kB)
     |███████████████

[2021-04-09 02:50] zhiyongLiu1114 commented on #244
后来还是报了这个错，但是报错后又继续安装了。。。。

[2021-04-09 02:51] ZeyuChen commented on #244
pip install --upgrade paddlenlp -i https://pypi.org/simple

请尝试使用官方源安装，由于目前paddlenlp还是rc版本，百度源没同步rc版本非正式版的包。

[2021-04-09 05:14] ZeyuChen commented on #244
@zhiyongLiu1114
我细看了下发现百度pypi上是有包的
`ERROR: Could not find a version that satisfies the requirement setuptools_scm
ERROR: No matching distribution found for setuptools_scm`
看上去是环境的这个setuptools_scm有问题，是否有创建个独立的conda环境进行安装

[2021-04-09 07:07] guoshengCS commented on #238
Update: The implementation of Pointer Generator is under review now https://github.com/PaddlePaddle/PaddleNLP/pull/235 .

[2021-04-09 07:09] Pzoom522 commented on #238
Thanks for your hard work! 辛苦了! ☕

[2021-04-09 08:54] zhiyongLiu1114 commented on #244
好的，我试试，谢谢

[2021-04-09 09:23] yujiate opened #247 "paddle复现IGSQL，效果无法打平"
paddle复现IGSQL中，验证了代码编码器和解码器都没有问题，模型无法和torch版本的效果打平，torch原版的学习率为1e-3，paddle需要使用5e-3才能有效训练，而且最终结果也无法达到原版的效果

[2021-04-09 10:01] ZeyuChen commented on #247
可否提供一下你用paddle复现的代码Repo地址，以及对应参考的IGSQL模型官方实现地址？ @yujiate

[2021-04-09 10:15] ZeyuChen commented on #247
另外是否对pytorch和paddle的实现，随机输入tensor，验证过forward出来的结果和pytorch是否有对齐？ @yujiate

[2021-04-12 07:59] hotbaby opened #250 "GPU环境加载ernie-1.0预训练模型报错"
环境：
操作系统：ubuntu 18.04
NVIDIA-SMI 460.39
Driver Version: 460.39
CUDA Version: 11.2

paddlepaddle-gpu: 2.0.1
paddlenlp: 2.0.0rc16

Code

[code]

错误栈帧
[code]

[2021-04-12 08:39] hotbaby commented on #250
[code]

升级paddlepaddle-gpu版本能解决此问题。

[2021-04-12 08:39] #250 closed, assigned to nobody

[2021-04-12 09:46] Nicole1983 commented on #239
感谢指点！我们把ann检索这部分再做一下，谢谢！

[2021-04-12 09:46] #239 closed, assigned to tianxin1860

[2021-04-12 12:55] ghost opened #252 "PaddleNLP动态图中cpu只能使用单核"

[2021-04-13 09:25] deep-rooteddz opened #254 "使用ErnieTiny文本近似度匹配模型转换失败"
我是想在PaddleServing下部署，在模型推理时可以返回两种模式的内容，
因此修改了text_matching/sentence_transformers/model.py的forward()函数，具体如下：

[code]
用export_model.py转换模型，

[code]
但转换时报错：
![image](https://user-images.githubusercontent.com/76727820/114529435-866b7880-9c7c-11eb-80ab-0780868da12f.png)

如果model.py中的判断语句反过来写，可以正常转换，但是部署后并没有如预期那样，分两个不同分支返回正确结果，感觉判断语句并没有奏效。
比如当title_mean.shape为(1,3)时，PaddleServing返回的推理结果仍为probs而不是query_m

[2021-04-13 10:04] stronger123-boa opened #255 "模型存储路径不得不含有中文，怎么解决加载模型不成功的问题"
如果路径含有中文，就找不到模型，从而无法加载。

[2021-04-13 11:09] ZeyuChen commented on #255
是的不要在路径中包含中文，如果是Windows系统建议使用非中文目录。

[2021-04-13 12:34] ZHUI commented on #252
您好！
目前Paddle动态图，暂时还不支持cpu并行计算。正在开发中。

[2021-04-13 13:19] TeslaZhao commented on #254
请问是哪个步骤执行错误？

[2021-04-14 01:48] deep-rooteddz commented on #254
运行python3 export_model.py时，在paddle.jit.save(model, args.output_path)这里报错
[code]

[2021-04-14 03:12] ghost commented on #252
今年有希望吗？

[2021-04-14 04:12] ZeyuChen commented on #254
@deep-rooteddz 为什么你需要分两个分支进行预测？

[2021-04-14 04:16] jeff41404 commented on #254
isinstance(title_mean, paddle.static.InputSpec) 会返回 False，如果要判断title_mean的存在性，最好用 is not None。
第1个paddle.jit.save报错的问题，因如上原因走到else分支返回query_mean，而query_mean的计算过程中没有用到title_mean，所以报错 'title_mean' is not involved in the target_vars calculation.
关于“感觉判断语句并没有奏效。比如当title_mean.shape为(1,3)时，PaddleServing返回的推理结果仍为probs而不是query_mean”的问题，也是因如上原因走到了else分支，能正确转换模型，但不是预期的分支

查看当前最新的代码，forward 已经更新，不用再传入title_m

[2021-04-14 06:40] deep-rooteddz commented on #254
好的，我明白啦，非常感谢~~已经换了思路成功实现了想要的功能

[2021-04-14 06:48] ZHUI commented on #252
有计划的，分布式的同学正在开发中。功能ready后，PaddleNLP会第一时间跟进支持cpu并行。

[2021-04-14 06:53] ZHUI commented on #237
同issues https://github.com/PaddlePaddle/Paddle/issues/32140

目前develop版本已修复。 https://github.com/PaddlePaddle/Paddle/issues/32140#issuecomment-817516098

[2021-04-14 07:04] deep-rooteddz commented on #254
如#239问题所说，想实现以下功能，
“给定 query 在海量 title 库中进行 ANN 检索，先基于 ERNIE_tiny 模型热启，然后进行 query、title 双塔结构的训练，然后通过对 title 端进行 ANN 建库，返回top10的检索结果”
之前的解决方案是
在使用PaddingServing部署时，传入query通过model的第一个分支计算出query_mean，query_mean结合预先计算好的title_mean通过ANN进行近邻检索，得到top10近似结果；最后将query_mean和top10的title_mean通过model的第二个分支计算相似概率probs。

最新的办法是，不分成两个分支去做了，把query_mean和probs都返回，暂时解决了这个问题。
不知道总体的思路有没有什么误区，还望赐教~~

[2021-04-14 07:06] ZeyuChen commented on #254
我们会在下个月底的正式版，新增PaddleNLP语义索引方向的完整最佳实践，Staytune.
@tianxin1860

[2021-04-14 12:08] shanliang1992 opened #262 "no kernel image is available for execution on the device"
使用PaddleNLP中的text_classification/rnn这个demo时报错

路径为PaddleNLP/examples/text_classification/rnn
执行的指令为python3.7 train.py --vocab_path='./senta_word_dict.txt'     --device=gpu     --network=lstm     --lr=5e-4     --batch_size=64     --epochs=10 --save_dir='./checkpoints'

相关包版本为：
paddlenlp (2.0.0rc17)
paddlepaddle (2.0.2)
paddlepaddle-gpu (2.0.2)

GPU型号为A100
Driver Version: 460.32.03    CUDA Version:

[2021-04-15 06:37] cheerser opened #264 "examples里lm预训练数据的创建，这里是不是有问题"
https://github.com/PaddlePaddle/PaddleNLP/blob/0e37041a286be7274e6e2b637767d0b5ad428667/examples/language_model/bert/create_pretraining_data.py#L214

这里的 segment 是一个字典，所以取 len 并没实际的什么意义，返回永远是2。

[2021-04-15 12:14] ZeyuChen commented on #262
有可能是cuda驱动问题。
飞桨框架2.0版本对cuda11.0的支持是experimental的，如果您使用的是非安培架构（A100）的GPU，建议使用CUDA10.2
@shanliang1992
可以看一下官网的安装文档有说明。
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html

[2021-04-16 02:00] Steffy-zxf commented on #264
你好！上述的`segment`应该是一个字符串，表示一个句子。所以取length，是获取当前句子的字数。

[2021-04-16 03:47] logan-siyao-peng commented on #238
Hi @Pzoom522, feel free to use the most current version here. We are still reconstructing the code to better align with the PaddleNLP framework but the current version is sufficient to reproduce the SOTA results in the source paper.
Let us know if you have any questions.

https://github.com/logan-siyao-peng/PaddleNLP/tree/60246220447f598c7a4f2ebed7a548fc83f8f0e7/examples/text_summarization/pointer

[2021-04-16 07:09] 2017040264 commented on #237
好的，感谢。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2021年4月8日(星期四) 下午3:23
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] GRU内存过大 (#237)

目前我跑了您提供的程序，是可以正常运行网络前后向。这边分别使用2.0.1和2.1.0.dev版本的paddle进行测试，结果是2.0.1显示很大的显存，而2.1.0.dev显示正常的显存，推测是2.0.1 paddle.summary有bug，显存计算有误。
 2.0.1

 2.1.0.dev

—
You are receiving this

[2021-04-16 08:17] cheerser commented on #264
您好！感谢回复。我仔细看了一下，segment的含义是一行的分词结果，按理应该是一个列表。也就是156行 `tokens = tokenizer.tokenize(line)` 是正常的。然而被注释掉，改成了第157行 `tokens = tokenizer(line)` 。这种`__call__` 的方式，会返回一个字典，导致出问题。

[2021-04-17 06:18] #255 closed, assigned to ZeyuChen

[2021-04-17 09:42] ZeyuChen commented on #198
This bug has already fixed. Issue close.

[2021-04-17 09:42] #198 closed, assigned to kinghuin

[2021-04-18 02:36] Steffy-zxf commented on #264
感谢反馈！由于tokenizer api后续升级变动导致的，确实应该修改为`tokenizer.tokenize(line)`。

修复pr：https://github.com/PaddlePaddle/PaddleNLP/pull/276/files

[2021-04-18 02:37] Wangyongdi opened #275 "aistudio项目运行到一半莫名终止，对paddle的crf代码有两处疑惑"
项目“『2021语言与智能技术竞赛』- 事件抽取任务基线系统”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1802353/5df64ff3da34404aaad63bf5fa15fea3
论元识别训练部分运行一段时间后会报错。

paddle_crf里面有根据个人理解针对paddle的crf的两处修改，一个为Z的初值问题，一个为求转移得分时转移矩阵是否需要转置的问题，解码部分的代码忽略即可。

[2021-04-18 03:05] Steffy-zxf commented on #275
你好！请问对crf具体的修改代码是什么样的？

只看到了对构建crf网络

![image](https://user-images.githubusercontent.com/48793257/115132802-12dbb980-a036-11eb-8db4-cf554de19808.png)

[2021-04-18 03:07] Wangyongdi commented on #275
paddle_crf里面有的，
这里是初值修改：
if i == 0 and not self.with_start_stop_tag:
    mat = input_exp[:,:,:1]#防止被加num_tags次
这里是转移得分计算时矩阵转置：
  flattened_transition_indices = transition_indices.reshape([-1])
  flattened_transition_params = self.transitions.transpose([1,0]).reshape([-1])#矩阵转置

[2021-04-18 03:15] #225 closed, assigned to smallv0221

[2021-04-18 03:15] Wangyongdi commented on #275
reshape可能重复了，复制的时候没注意，下面自己写的解码有两行写错了复制的时候忘记了修改，所以效果较差，改过来后整体效果在其他模型上跑还是可以的。

[2021-04-18 03:15] #96 closed, assigned to nobody

[2021-04-18 03:20] Steffy-zxf commented on #275
如果不修改crf网络实现，是否还会遇到CuBlas问题呢

[2021-04-18 03:22] Wangyongdi commented on #275
不好意思，转置的地方也写错了，要不我重新生成个版本把，转置应该在矩阵那里转置的，我这临时在别的版本里面复制的，好多东西没注意。

[2021-04-18 03:29] Wangyongdi commented on #275
会的，一样的，我之前用的就是原装的，后来才试的自己改的。
项目“『2021语言与智能技术竞赛』- 事件抽取任务基线系统”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1802353/4c8e1946b6ac4c5f88b717d8e98eee25

[2021-04-18 03:42] Wangyongdi commented on #275
我用自己改的crf接在关系抽取的基线上稍作修改后跑过，没加gru不会出现问题，加gru的没试过，但接在事件抽取的基线上就会出现这种Cublas错误，加不加gru都一样，用paddle原装crf也一样，都是报Cublas这种错误。

[2021-04-18 16:32] Wangyongdi opened #277 "使用Ernietokenizer加载自定义字典时会报错"
from paddlenlp.transformers import ErnieTokenizer
tokenizer = ErnieTokenizer('./vocab.txt')
加载ernie默认使用的vocab同样报错

[2021-04-19 02:01] diandian11 opened #278 "python API模型推理能否增加NLP案例"
在export model 之后，通过infference加载静态图模型，可以增加一个学习的案例吗？

[2021-04-19 03:37] #237 closed, assigned to joey12300

[2021-04-19 03:42] wawltor commented on #277
您好，您上面的用法稍微有点问题，具体的使用方式是这样的
[code]
在model_20的目录下是tokenizer保存下来的文件, 具体的接口如下
[code]
保存下来信息如下：
  1)  vocab.txt  词表
  2)  tokenizer_config.json  tokenizer具体的配置

下面tokenizer_config.json的配置示例：
<img width="1143" alt="图片" src="https://user-images.githubusercontent.com/16698950/115178592-353c0880-a104-11eb-94da-473f8cacfad1.png">

[2021-04-19 03:55] #264 closed, assigned to Steffy-zxf

[2021-04-19 14:52] ZeyuChen commented on #278
@diandian11 这块正在进行中，估计这两天能看到相关教程和代码示例。

[2021-04-20 02:00] ryanfwy opened #286 "AI Studio测试时预训练ernie模型输出不一致"
使用 AI Studio 进行学习时，通过 notebook 的方式加载预训练 ernie 模型，同一句子输出的特征向量不相等。https://aistudio.baidu.com/aistudio/projectdetail/1294333?channelType=0&channel=0

以下是运行代码：
[code]

以下是第一次获取的特征向量：
[code]

以下是第二次获取的特征向量：
[code]

请问是调用方式不正确，还是什么原因呢？

[2021-04-20 02:40] #278 closed, assigned to Steffy-zxf

[2021-04-20 02:41] Steffy-zxf commented on #278
@diandian11 你好！感谢反馈！Paddle Inference预测示例已添加。
pr：https://github.com/PaddlePaddle/PaddleNLP/pull/281

参考：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification
各目录下的deploy/python/predict.py脚本

[2021-04-20 02:54] Steffy-zxf commented on #286
你好！由于继承自`paddle.nn.Layer`的Model 默认的模式是train模型，此时会有dropout等随机因素的存在，所以以上代码运行时由于dropout的作用，每次运行结果不一。想要固定的输出结果，需要将dropout随机因素去除，只需切换`model.eval()`即可。

[2021-04-20 03:27] Wangyongdi commented on #277
好的，我再看看，谢谢大佬

[2021-04-20 03:34] ryanfwy commented on #286
测试了问题解决，加载后调用 `ernie_model.eval()`。感谢～

[2021-04-20 03:34] #286 closed, assigned to Steffy-zxf

[2021-04-21 08:24] #262 closed, assigned to ZeyuChen

[2021-04-21 08:56] ghost opened #293 "PretrainedTokenizer在处理pandas数据时能否并行？"

[2021-04-21 14:14] ZeyuChen commented on #293
@illcat 可否提供下你想使用的例子，目前还不太理解处理padnas并行的使用样例和目的。

[2021-04-21 14:15] ZeyuChen commented on #247
已转为内部跟进中，issues closed.

[2021-04-21 14:15] #247 closed, assigned to ZeyuChen

[2021-04-21 15:55] ghost commented on #293
目前paddlenlp的tokenizer不支持python多线程

[2021-04-22 02:42] ghost opened #297 "ErnieModel 如何冻结梯度"
我的模型中包含一个ernie，我使用self.ernie.stop_gradient = True 貌似无效

[2021-04-22 02:57] wawltor commented on #297
self.ernie是一个module，在module设置stop_gradient是无效的；
如果想冻结参数，最直接的办法的是在optimizer上进行处理，可以过滤一下parameter，不让parameter进行更新，例如下图
<img width="633" alt="图片" src="https://user-images.githubusercontent.com/16698950/115648885-d7ecc500-a358-11eb-8852-34590ea5de76.png">
model.parameters是一个list，可以通过parameters的name进行一定的过滤, 例如
[code]

[2021-04-22 03:29] Quantum-Cheese opened #298 "阅读理解 DuReader-robust 如何使用自定义数据集训练？"
想要用自定义的数据集对模型进行 fine-tuning 训练，自定义数据集的格式已经修改成为与 DuReader-robust数据集格式一致的格式。通过 --train_file传入数据集路径，启动fine-tuning后，程序可以正常运行，无报错。但是没有任何输出（正常情况下应该会打印训练日志），运行完成后也没有保存 checkpoint文件。
请问这是怎么回事呢？

[2021-04-22 03:31] guoshengCS commented on #297
除了上面的方法也可以试下为ernie输出的tensor设置stop_gradient为True试下。可以使用[register_forward_post_hook](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/dygraph/layers/Layer_cn.html#register_forward_post_hook)按照下面的方式试下：

[code]

[2021-04-22 05:14] ZeyuChen commented on #297
这一做法是否要对参数的name有所了解，而在动态图组网中其实不是太清楚这些name的规则？ @wawltor

[2021-04-22 06:11] smallv0221 commented on #298
程序是一点输出都没有么，可以打印一下train_data_loader里的batch看看数据有没有正常读入

[2021-04-22 06:19] wawltor commented on #297
嗯嗯 上诉的方法需要对网络结构的名字需要整体了解一下，因为网络结构的实体名字决定了参数的名字，这个使用方法有一定的门槛

[2021-04-22 06:33] ghost commented on #297
在forward里用paddle.no_grad()包裹一下应该可以吧？ @ZeyuChen @guoshengCS @wawltor
不想搞得太麻烦

[2021-04-22 06:46] guoshengCS commented on #297
可以的，如果要用paddle.no_grad()包裹的话也注意只包裹ernie部分的就好，比如`paddlenlp.transformers.ErnieForSequenceClassification`不能整个都包，如果愿意改包里的代码的话可以简单许多的，比如直接让ernie的forward里给输出的tensor设置stop_gradient为True，上面给的都是在不侵入paddlenlp包中代码情况下的一些方案

[2021-04-22 07:44] #297 closed, assigned to wawltor

[2021-04-22 07:57] guoshengCS commented on #293
目前paddlenlp数据处理部分确实没有对多线程做太多支持，如果是像[这里这样](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/run_glue.py#L267)使用的`dataset.map(lazy=True,)`的话，可以考虑先使用DataLoader的多进程支持，将`num_workers`设置为进程数看下速度呢
<img width="637" alt="image" src="https://user-images.githubusercontent.com/14105589/115677532-26af5480-a383-11eb-9f2b-0a5737e9e4a0.png">

dataset的多线程支持我们也看下，多谢支持与建议~

[2021-04-22 11:42] ghost commented on #293
谢谢，我自己搞了个分词器

[2021-04-22 11:42] #293 closed, assigned to ZeyuChen, smallv0221

[2021-04-23 01:50] xiemoyuan commented on #301
您好，disticnt指标是论文《A Diversity-Promoting Objective Function for Neural Conversation Models》提出的。

[2021-04-23 01:54] xiemoyuan commented on #301
您好，按计算公式，distinct的值在0到1之间。
与论文中的值有一些不同具体是指哪篇论文呢？方便提供一下复现存在差异结果的简单代码示例吗？

[2021-04-25 06:59] #252 closed, assigned to seiriosPlus, ZHUI

[2021-04-26 06:49] justiceeem opened #310 "使用预训练ernie权重进行文本相似性判断，每次结果都不一样。"
使用官方提供的例子，我直接使用提供的ernie预训练权重做预测，每次出来的结果都不一样。
[code]

[2021-04-26 07:54] wawltor commented on #310
您好，因为正常情况下运行的代码是训练模式，其中由一些随机性参与到训练过程中，例如dropout的mask的位置；您可以将运行代码设置eval模式再验证一下效果，ernie_mdoel.eval(), 相关具体信息可以参考 https://github.com/PaddlePaddle/PaddleNLP/issues/286

[2021-04-26 08:06] justiceeem commented on #310
我使用的是官方提供的代码跑的，在predict函数里面将model转化为了eval。后来索性把model里的dropout全部注释掉，出现的结果仍然是不一致的。@wawltor
官方代码地址：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_matching/sentence_transformers/predict.py

[2021-04-26 08:12] wawltor commented on #310
您好，是否能贴上具体代码来供我们来分析吗?

[2021-04-26 08:21] justiceeem commented on #310
@wawltor
predict.py:
[code]
model.py:
[code]

[2021-04-26 08:44] wawltor commented on #310
您好，简单排查了一下，应该是没有导入finetune模型导致的。因为这个SentenceTransformer是需要通过文本匹配任务来进行模型的微调，这样才能提升效果；至于为什么没有两次预测的结果不一样，因为SentenceTransformer有个Linear层，如果这个Linear层在预测的时候没有导入参数就会进行随机初始化，最终导致结果不一致。
<img width="679" alt="图片" src="https://user-images.githubusercontent.com/16698950/116054866-b66c4000-a6ae-11eb-906c-66b233487eac.png">

[2021-04-26 09:01] justiceeem commented on #310
@wawltor 谢谢！！我先预训练一下看看！之前确实没有想到这里来，一心只想跑出测试来（以后切记不能这样）。再次感谢您～

[2021-04-26 09:07] wawltor commented on #310
嗯嗯，可以尝试通过文档中的例子微调一下模型。欢迎使用PaddleNLP，同时希望您在使用PaddleNLP过程中遇到问题后及时反馈给我们！

[2021-04-27 12:52] liu120945561 opened #318 "loss_fct函数报错，请问是什么问题？"
Traceback (most recent call last):
  File "/Users/liudaowen/python/machine learning/PaddleNLP/examples/information_extraction/msra_ner/train.py", line 218, in <module>
    do_train(args)
  File "/Users/liudaowen/python/machine learning/PaddleNLP/examples/information_extraction/msra_ner/train.py", line 198, in do_train
    loss = loss_fct(logits, labels)
  File "/Users/liudaowen/opt/anaconda3/envs/

[2021-04-27 14:21] wawltor commented on #318
您好，看上面的报错看起来softmax_with_cross_entropy 出错，看起来是logits的维度和labels的维度设置有问题，可以尝试将softmax_with_cross_entropy中soft_label设置成False试试，具体的API使用可以参考 https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/fluid/layers/softmax_with_cross_entropy_cn.html#softmax-with-cross-entropy

[2021-04-29 02:01] davidhefan opened #322 "Win10系统下，loss.py报错ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t."
请帮忙看看会是什么问题？
![图像 1](https://user-images.githubusercontent.com/13231750/116493683-ce6fd980-a8d1-11eb-8d24-911d6f786471.png)

[2021-04-29 16:32] #310 closed, assigned to wawltor

[2021-04-29 23:11] wawltor commented on #322
您好，看错误是softmax_with_cross_entropy的输入的labels的数据类型需要是int64, 但是代码中的是int32, 所以您可以选择将数据流中labels的数据类型转为int64, 或者是在 `paddle.mean(criteion(logits, labels.reshape([-1])))` 这行代码之前将labels 进行数据类型转化，具体代码可以参考 `labels = paddle.cast(labels, dtype="int64")`

同时跟您确认一下，这份代码是LiC2021的事件抽取代码，没有经过修改对吗？

[2021-04-30 02:28] Steffy-zxf commented on #322
@davidhefan 你好，具体修改可以参考该修复pr：https://github.com/PaddlePaddle/PaddleNLP/pull/330

[2021-04-30 02:37] davidhefan commented on #322
@wawltor 是LiC2021的事件抽取代码，没有经过修改。只是放在本地win10运行。您给的参考是正确的解决办法。感谢。
@Steffy-zxf 感谢。
这个问题可能是什么原因导致的？liunx和windows的区别吗？我感觉应该不是系统的问题。

[2021-04-30 02:38] #322 closed, assigned to wawltor, Steffy-zxf

[2021-04-30 02:41] Steffy-zxf commented on #322
@davidhefan 是由于windows下，numpy对于int型数据默认的是`int32`类型，而 softmax_with_cross_entropy op要求是`int64`类型，导致不匹配报错。

[2021-04-30 02:44] davidhefan commented on #322
明白了，感谢！

[2021-04-30 02:45] rela0426 opened #331 "事件抽取基线系统，网络修改后，运行报 AttributeError: 'tuple' object has no attribute 'reshape'"
网络的修改按照官网的说明修改的
`
[code]

    def forward(self,
                input_ids,
                token_type_ids=None,
                labels=None,
                position_ids=None,
                attention_mask=None):
        sequence_output, _ = self.ernie(
            input_ids,
            token_type_ids=token_type_ids,
            position_ids=position_ids,
            attention_mask=attention_mas

[2021-05-01 00:52] Newbies2021 opened #334 "《『NLP经典项目集』10：使用预训练模型优化快递单信息抽取》在线的notebook能跑通，但本地机器(Win10 64位、Python 3.79 64位）就不行"
《『NLP经典项目集』10：使用预训练模型优化快递单信息抽取》网址：
[https://aistudio.baidu.com/aistudio/projectdetail/1329361](https://aistudio.baidu.com/aistudio/projectdetail/1329361)

在线的notebook能跑通，但本地机器(Win10 64位、Python 3.79 64位）就不行.
错误提示如下：
——————————————————————————————————————————————
[2021-05-01 08:48:02,678] [    INFO] - Found C:\Users\d\.paddlenlp\models\ernie-1.0\vocab.txt
[2021-05-01 08:48:02,695] [    INFO] - Alrea

[2021-05-01 08:01] zhunipingan commented on #301
def distinct(seqs):
    """ Calculate intra/inter distinct 1/2. """
    batch_size = len(seqs)
    intra_dist1, intra_dist2 = [], []
    unigrams_all, bigrams_all = Counter(), Counter()
    for seq in seqs:
        unigrams = Counter(seq)
        bigrams = Counter(zip(seq, seq[1:]))
        intra_dist1.append((len(unigrams)+1e-12) / (len(seq)+1e-5))
        intra_dist2.append((len(bigrams)+1e-12)

[2021-05-02 13:18] wawltor commented on #334
您好，相应的问题已经修复完成，具体的修复信息可以参考 https://github.com/PaddlePaddle/PaddleNLP/issues/322 ， 您可以下载最新的develop版本，然后进行paddlenlp安装即可解决问题。

[2021-05-02 13:53] Newbies2021 commented on #334
非常感谢！专业！高效！

[2021-05-02 13:53] #334 closed, assigned to wawltor

[2021-05-03 09:21] HanyuCheng opened #335 "XLNet模型无法运行，模型内部报错Tensor reshape时size不对"
您好，我在尝试使用Paddle平台和XLNet模型构建长文本生成任务。
但是我按照模型输入指定的shape传入参数时，会报错。
比如下面这段代码是从 [huggingface](https://huggingface.co/transformers/_modules/transformers/models/xlnet/modeling_xlnet.html#XLNetLMHeadModel)上XLNet的使用demo修改而来的paddle版：
[code]
在`paddle=2.0.1`，`paddlenlp=2.0.0rc20`版本下运行上述代码，会报出下述错误：
[code]
希望得到您的帮助和指点，谢谢！

[2021-05-03 16:45] Biggg888 opened #336 "有关自定义数据集的问题"
---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)<ipython-input-10-b3285e4d9a69> in <module>
     10
     11 # data_path为read()方法的参数
---> 12 map_ds = load_dataset(read, data_path='train.txt')
     13 iter_ds = load_dataset(read, data_path='train.txt')
/opt/conda/envs/python35-paddle120-env/lib/pyth

[2021-05-06 02:33] wawltor commented on #331
model输出的应该有多个输出的，例如label不为None的时候，输出是 loss, lengths, prediction, labels , 例如想对prediction进行reshape，可以参考
[code]

[2021-05-06 08:16] smallv0221 commented on #336
这里需要指定一下lazy参数
map_ds = load_dataset(read, data_path='train.txt',lazy=False)
iter_ds = load_dataset(read, data_path='train.txt',lazy=True)

并且确定安装了最新版本的paddlenlp

[2021-05-07 02:22] xiemoyuan commented on #301
请确认下是否使用的是paddlenlp最新的代码：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/metrics/distinct.py

[2021-05-07 05:27] yingyibiao commented on #335
感谢您的issue，排查发现是我们模型内部shape出问题，修复后会第一时间回复您～

[2021-05-07 12:07] Biggg888 commented on #336
加了也没用  就是 加了没用之后取消掉才发了issues

[2021-05-07 12:28] Biggg888 commented on #336
13 # data_path为read()方法的参数
---> 14 map_ds = load_dataset(read, data_path='train.txt',lazy=False)
     15 iter_ds = load_dataset(read, data_path='train.txt',lazy=True)
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/datasets/experimental/dataset.py in load_dataset(path, name, data_files, splits, lazy, **kwargs)
     60                  lazy=None,
     61

[2021-05-07 15:35] #336 closed, assigned to smallv0221

[2021-05-07 18:27] Biggg888 opened #346 "基于预训练模型的数据处理问题"
https://paddlenlp.readthedocs.io/zh/latest/data_prepare/data_preprocess.html

notebook中paddlenlp已更新至最新版本
按照教程中将batched设为true 但是最后报错

---------------------------------------------------------------------------ValueError                                Traceback (most recent call last)<ipython-input-53-406413e02d0d> in <module>
     13 trans_func = partial(convert_examples, tokenizer=tokenizer)

[2021-05-07 18:28] Biggg888 commented on #346
![image](https://user-images.githubusercontent.com/49727302/117493026-01d2f800-afa5-11eb-8616-35b2e2f988fb.png)

[2021-05-07 18:29] Biggg888 commented on #346
![image](https://user-images.githubusercontent.com/49727302/117493143-2929c500-afa5-11eb-816e-d8ab577e60aa.png)

[2021-05-07 18:31] Biggg888 commented on #346
![image](https://user-images.githubusercontent.com/49727302/117493331-6aba7000-afa5-11eb-8692-a9c1b75d3b9c.png)
数据

[2021-05-08 01:56] white55 commented on #331
您好兄台，该问题解决了嘛？

[2021-05-08 06:11] smallv0221 commented on #336
检查一下paddlenlp版本呢

[2021-05-08 07:00] Biggg888 commented on #336
https://github.com/PaddlePaddle/PaddleNLP/issues/346

大佬可以帮我看一下新提的issue吗&nbsp; paddlenlp已升级到rc21

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;

[2021-05-08 07:08] smallv0221 commented on #346
您好，这里尝试用您的实例数据模拟了一个数据集，设置为batched=True后没有出现问题。
![image](https://user-images.githubusercontent.com/33639025/117530306-f9170c00-b00e-11eb-835d-ecd14d4b1dc8.png)
建议您检查一下您数据集中的数据是否都是格式正确的呢。

[2021-05-08 07:41] Biggg888 commented on #346
您好，这是我的数据集，如果您方便的话，麻烦您帮我看一下，我实在找不出来了
这是ai studio项目链接
项目“zero_ner”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1907688/d9d3b13a09ad4be29dcaf185f09452e7

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2021-05-08 08:50] smallv0221 commented on #346
看了一下，‘tokens’里面有的只有一个空格，空格在tokenize之后变成了一个空的list。会导致报错。
您是要做ner任务吧，建议读取数据的时候不要一个字符就是一条数据，参考一下example里的msra_ner还有dataset里面的msra_ner的数据读取。

[2021-05-08 09:12] AaronsyA commented on #318
您好，我也遇到同样的问题了，试了不同的模型（paddle seg/paddle NLP）,都是这个loss_fct在计算logits和lable的交叉熵出现问题，具体就是loss = loss_fct(logits, labels) 这行。按您说的将soft_label已经设置为false了，还是不行

[2021-05-09 04:25] venzhane opened #347 "关于CNNEncoder的使用方式？"
是菜鸟，想请问一下CNNEncoder是怎么使用的，看教程只有LSTMEncoder的例子，有些看不明白

[2021-05-09 08:11] wawltor commented on #347
您好，能不能提供一下具体教程的地址了？

[2021-05-09 09:17] BlueP0int commented on #250
我试过，不管升级还是降级，结果都是一样的，还是报错parallel_for failed: cudaErrorNoKernelImageForDevice

[2021-05-09 09:26] BlueP0int opened #348 "30系列显卡，CUDA11环境，PaddleNLP加载模型报错"
OS：Ubuntu 20.04
CUDA：11.1
Driver Version: 455.23.04
GPU Compute Capability: 8.6
Driver API Version: 11.1
Runtime API Version: 10.2
cuDNN Version: 7.6.
PaddlePaddle：2.0.2和2.0.1都试过，问题一样

在『2021语言与智能技术竞赛』- 事件抽取任务基线系统 的基线NoteBook中，下载代码到自己机器上运行，运行起来特别慢，而且执行代码时报错：parallel_for failed: cudaErrorNoKernelImageForDevice: no kernel image is available for execution on the device. 有没有大神解释一下什么原因
[code]
line13 为最

[2021-05-10 02:23] Steffy-zxf commented on #347
@venzhane 你好！`CNNEncoder`和`LSTMEncoder`使用方式类似。`CNNEncoder` 具体使用可以参考 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/models/senta.py#L447

[2021-05-10 06:03] wawltor commented on #348
具体的原因没有看出来，麻烦能不能提供一下您的具体的GPU设备的信息，我们来参考设备信息来判断一下

[2021-05-10 06:12] BlueP0int commented on #348
GPU 为NVIDIA GeForce RTX 3090，24G显存
[code]

[2021-05-10 06:30] Qbop981001 opened #352 "XLNet load error"
When I import XLNet pretrained model with the following code:
[code]
I meet this error:
![微信图片_20210510142615](https://user-images.githubusercontent.com/41386411/117615020-bd5d7d00-b19b-11eb-85fc-658ba9ba6fea.png)
However, when I replace XLNet with BertForTokenClassification, the error disappears.
So is this the problem of the XLNet framework?

[2021-05-10 06:30] wawltor commented on #348
看起来是CUDA11驱动导致的，这里有个类似的问题  https://github.com/PaddlePaddle/PaddleNLP/issues/262  ，也可以先用conda尝试安装一下相应的paddle版本

[2021-05-10 07:24] BlueP0int commented on #348
好的，我试试直接安装cuda10.2对应的paddle

[2021-05-10 07:50] rela0426 commented on #331
您好，按照您的建议进行了修改，无论索引是0，1，2，3都报错。其中索引 [0]和索引 [1]报错为
[code]
索引 [2]和索引 [3]报错为
[code]
这个该怎么办？

[2021-05-10 07:51] rela0426 commented on #331
没解决呢

[2021-05-10 08:33] guoshengCS commented on #352
It is because the output of `XLNetForTokenClassification.forward` is a tuple, maybe you can try using `model()[0]` as the input of criterion. Sorry for the confusion of this.

[2021-05-10 08:35] BlueP0int commented on #348
`conda install paddlepaddle-gpu==2.0.2 cudatoolkit=10.2 -c paddle`
直接这样改问题依旧，我没有直接改动cuda版本的权限，CUDA Version: 11.1

[2021-05-10 08:57] ZeyuChen commented on #348
conda install paddlepaddle-gpu==2.0.2 cudatoolkit=11.0
使用cuda11吧，30系显卡不支持cuda10，最低要求11

[2021-05-10 10:26] BlueP0int commented on #348
改为`conda install paddlepaddle-gpu==2.0.2 cudatoolkit=11.0` 依然不行，运行`import paddle `，再输入 `paddle.utils.run_check()` 报同样的错误。
`RuntimeError: parallel_for failed: cudaErrorNoKernelImageForDevice: no kernel image is available for execution on the device`

[2021-05-10 14:59] Biggg888 commented on #346
**工程师很好，值得加薪**

[2021-05-10 14:59] #346 closed, assigned to smallv0221

[2021-05-11 02:23] BlueP0int commented on #348
重新尝试了以下两种配置，终于可以用了！个人猜测问题核心在于安装`paddlepaddle-gpu==2.0.2.post110`，版本号post110不能少，之前用的清华源，找不到该版本，于是就改为`paddlepaddle-gpu==2.0.2`，结果运行不起来。现有配置可能存在多显卡并行不支持的问题`（使用 python 或 python3 进入python解释器，输入import paddle ，再输入 paddle.utils.run_check() ，如果出现PaddlePaddle is installed successfully!，说明您已成功安装。）`，但单块卡总算是能跑通了，感谢各位的耐心支持！
以下方案二选一即可，其他安装请参考`https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/do

[2021-05-11 02:26] ghost commented on #348
清华源 需要在配置文件中添加Paddle通道，而且必须是大写的P（官方通道是小写的p）.

[2021-05-11 02:56] yanzhelee opened #359 "将lexical_analysis模型从动态图转换为静态图失败"
按照 PaddleNLP/examples/lexical_analysis 中提供的demo可以训练网络模型，但是无法将动态图转换为静态图。
目前尝试了 paddle.jit.save, paddle.jit.to_static, TracedLayer.trace 等方法，但是均失败。
报错信息如下：

[code]

[2021-05-11 03:13] wawltor commented on #348
感谢您在该问题上输出的宝贵经验，同时我们会考虑在文档上增加FAQ机制，减少后续的使用难度。

[2021-05-11 03:21] ZeyuChen commented on #352
@guoshengCS We need to unify the output of all the pre-trained models in PaddleNLP.

[2021-05-11 08:47] venzhane commented on #347
谢谢

[2021-05-11 11:50] #176 closed, assigned to ZeyuChen, Steffy-zxf

[2021-05-11 12:15] wawltor commented on #318
您好，刚看到你的问题了，请问一下问题解决了吗？如果没有解决，能不能提供一下以下信息了，有了这些信息我们可以快速排查
1） 运行环境，操作系统，cuda & cudnn版本，以及 PaddlePaddle版本
2）出现的代码

[2021-05-11 12:17] wawltor commented on #210
您好，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert/static  最新的代码已经兼容上面的热启训练

[2021-05-11 12:27] Steffy-zxf commented on #331
@rela0426 是否可以公开aistudio项目代码，我们调试看看。

[2021-05-11 12:35] ZeyuChen commented on #217
This bug has already fixed.

[2021-05-12 03:18] tianxin1860 commented on #239
我们开源了语义索引策略库和模型 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing ，欢迎使用，有问题欢迎反馈。

[2021-05-12 05:35] ruolanyang opened #381 "有关dialogue-plato的metric.py"
想问一下其中intra-distinct和inter-distinct的区别是？

[2021-05-12 07:56] #347 closed, assigned to Steffy-zxf

[2021-05-12 08:24] wawltor commented on #359
您好 这个问题我们正在解决，有结果之后反馈给您！

[2021-05-12 08:58] yanzhelee commented on #359
debug了一下源码，问题应该是出在 ViterbiDecoder上，forward函数中含有 tolist，tensor转numpy的操作。

[2021-05-12 08:59] yanzhelee commented on #359
嗯嗯 是的 to_tensor和一些for循环对动转静都有影响

debug了一下源码，问题应该是出在 ViterbiDecoder上，forward函数中含有 tolist，tensor转numpy的操作。

[2021-05-12 09:49] wawltor commented on #359
嗯嗯 是的，主要是在一些to_tensor 和 for循环之类的转换有问题

[2021-05-12 11:06] #348 closed, assigned to wawltor

[2021-05-12 11:08] #181 closed, assigned to Steffy-zxf

[2021-05-12 17:43] Biggg888 opened #377 "运行一个公开的bert-NER项目出错"
![image](https://user-images.githubusercontent.com/49727302/118019762-ee040900-b38b-11eb-92bc-c4fdd66dd793.png)

![image](https://user-images.githubusercontent.com/49727302/118019899-17bd3000-b38c-11eb-85c5-1277482844af.png)

项目地址：
https://aistudio.baidu.com/aistudio/projectdetail/1925434
from
https://aistudio.baidu.com/aistudio/projectdetail/1477098?channelType=0&channel=0

[2021-05-12 17:45] Biggg888 commented on #377
Thanks for paddle team.

[2021-05-13 02:55] kinghuin commented on #377
Hi, 欢迎反馈问题。您参考的项目是1月份老版本的，现已不再推荐使用，请参考官方最新教程实现：https://aistudio.baidu.com/aistudio/projectdetail/1329361

[2021-05-13 03:53] Biggg888 commented on #377
您好，我已看完并跑通该项目。
但是我想使用自己的数据集

trans_func = partial(convert_example, tokenizer=tokenizer, label_vocab=label_vocab)

在这里 我看不懂这些语句的作用trans_func  在utils.convert_example里面需要做什么修改之类的

[2021-05-13 04:04] kinghuin commented on #377
convert_example的第一个参数会接收load_dataset传来的example（yield words, labels）
除此之外，您可以设置更多的参数用于控制convert_example过程中的max_seq_len等，这些参数的设置需要用partial函数来指定

[2021-05-13 06:13] yanzhelee commented on #359
@ZeyuChen 还有一个问题就是动态图中的LinearChainCrf的参数transitions的shape和静态图中的linear_chain_crf的参数的shape不一致。
在with_start_stop_tag=True的情况下,LinearChainCrf.transitions.shape=[num_labels+2, num_labels+2],
在with_start_stop_tag=False的情况下,LinearChainCrf.transitions.shape=[num_labels, num_labels]，
而 linear_chain_crf.transitions.shape=[num_labels+2, num_label]。
所以将训练好的参数也没有办法统一转换。

[2021-05-13 07:20] Biggg888 commented on #377
请问这个问题要去哪里改参数呢？
SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception.
![image](https://user-images.githubusercontent.com/49727302/118092433-b08c9380-b3fe-11eb-8774-4fd7da81dc0b.png)

[2021-05-13 07:38] Biggg888 commented on #377
@ZeyuChen

[2021-05-13 07:56] Biggg888 commented on #377
@wawltor

[2021-05-13 08:07] xiemoyuan commented on #381
您好，intra-distinct一般是指某个句子的distinct得分，inter-dist 一般是指多个句子的distinct得分。

[2021-05-13 08:48] wawltor commented on #359
嗯嗯 好的，这个问题我们记录下来了，在修复版本中我们会对这个flag的True or False的动转静都进行测试。

[2021-05-13 13:16] wawltor commented on #377
看上面的代码已经做了一些改动导致的，因为DataLoader那块的数据是异步的，因此报错不是特别明显，可以设置export FLAGS_call_stack_level=2 ，看看是否有报错信息；如果方便的话，可以提供代码 我们来看看

[2021-05-13 13:18] Biggg888 commented on #377
我看了历史issue 好像有类似的情况  也是您回复的  但是我不会处理    是我上面没有传入测试集  少了一个数据集  马上贴链接给您看看

[2021-05-13 13:19] Biggg888 commented on #377
项目“CMeEE”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1922853/40b332ddfa8f4fa89d05c61980629632

[2021-05-13 14:17] wawltor commented on #377
您好，您发给我的项目执行不了

[2021-05-13 14:19] Biggg888 commented on #377
额 sorry  我调整一下

[2021-05-13 14:33] Biggg888 commented on #377
劳烦您再试一下

[2021-05-13 14:34] Biggg888 commented on #377
![image](https://user-images.githubusercontent.com/49727302/118140896-637ae280-b43b-11eb-800a-0d0fca8866b0.png)

[2021-05-13 15:04] wawltor commented on #377
<img width="544" alt="图片" src="https://user-images.githubusercontent.com/16698950/118144807-7394c100-b43f-11eb-9668-e2fc8be5305b.png">

[code]
上面的代码改成这样试试

同时下面的代码写在一行
<img width="1070" alt="图片" src="https://user-images.githubusercontent.com/16698950/118145545-4a286500-b440-11eb-8d9a-1edaa741eba8.png">

[2021-05-13 15:17] Biggg888 commented on #377
@wawltor  GOD  这是现存不够用的意思吗？
![image](https://user-images.githubusercontent.com/49727302/118146630-61b41d80-b441-11eb-85b7-ad3e87bfa732.png)

显存不够，可以尝试把batch_size调小，batch_size 改成8之后可以跑起来，具体的batch_size可以根据来调一下

[2021-05-13 15:29] Biggg888 commented on #377
哭了 AI STUDIO 提供的高级版环境我试了batchsize=8 ，和 3 连一个epoch都跑不完就报错了

[2021-05-13 18:55] Biggg888 commented on #377
上面的模型我丢到colab 和另外一台3090的机子上都爆了= =
最低跳到batch_size=8
换了个模型 还没开始跑epoch就爆了

![image](https://user-images.githubusercontent.com/49727302/118172910-84552f00-b45f-11eb-9d3a-197108b9c003.png)

大佬们，这种问题有办法解决吗？ @wawltor @kinghuin @ZeyuChen 感谢

[2021-05-14 02:51] wawltor commented on #377
您好，线下跑了一下你的代码，造成显存爆炸的原因是，您的代码中没有控制输入text文本的长度。需要注意下面两个的使用
1)  在ERNIE 1.0的模型中最大的序列长度是513，因此你需要对你输入的input_ids的长度要进行控制，不然模型的效果会有问题；
2) 显存爆炸的原因，你输入的文本中存在超长文本, 导致局部显存异常增长，最终导致显存不够
<img width="366" alt="图片" src="https://user-images.githubusercontent.com/16698950/118214409-3ca3c700-b4a2-11eb-9547-bda35b9d3abf.png">

因此你需要对输入的文本要做从长度控制
<img width="786" alt="图片" src="https://user-images.githubusercontent.c

[2021-05-14 04:03] ZeyuChen commented on #381
这类通用讨论我们转移到Dicussion板块

[2021-05-14 04:03] #381 closed, assigned to nobody

[2021-05-14 04:04] #301 closed, assigned to xiemoyuan

[2021-05-14 10:07] wawltor commented on #377
@Biggg888 想问一下 问题解决了吗？

[2021-05-14 10:10] Biggg888 commented on #377
工程师，您好。上述问题已经解决，正在陷入下一个问题当中。即我的测试集的答案是空的，所以不知道该如何下手就行。还有自动保存了模型之后，不知道如何进行预测。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月14日(星期五) 晚上6:08
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 运行一个公开的bert-NER项目出错 (#377)

@Biggg888 想问一下 问题解决了吗？

—
You are receiving this because you were mentioned.
Reply to this email

[2021-05-14 10:15] wawltor commented on #377
没有测试集是没有数据进行evaluation吗？预测的问题 可以参考这个  https://github.com/PaddlePaddle/PaddleNLP/pull/382/files
主要是参考文档，export_model.py  predict.py

[2021-05-14 10:18] Biggg888 commented on #377
你好，有测试集的，但是测试集里没有相应的标签，只有待预测的语句。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月14日(星期五) 晚上6:15
***@***.***&gt;;
***@***.*****

[2021-05-14 11:30] kinghuin commented on #377
对于测试集，没有标签的，可以这么处理
读数据：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/data.py#L39
处理数据：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/data.py#L120
跑模型：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/model.py#L94

[2021-05-15 13:37] walkerwu opened #391 "安装paddlenlp报错"
docker环境系统: ubuntu 16.04     python3.7.10
已经安装paddle

pip install --upgrade paddlenlp>=2.0.0rc -i https://pypi.org/simple
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/paddlenlp/
WARNING: Retrying (Retry(total=3, conne

[2021-05-16 11:27] ZeyuChen commented on #391
@walkerwu 这一错误更多可能是您服务期的网络配置，在ssl这方面可能有问题。看是否可以先排查下机器网络环境，或者在干净的conda环境下安装，conda独立环境会更新ssl相关方便的库，可能可以规避这一问题。

[2021-05-17 03:49] 1205469665 opened #395 "询问国产化环境下文本分类模型训练问题"
1. 系统:银河麒麟v10
2. cpu:鲲鹏920
3. 飞桨版本2.0
 执行文本分类训练异常缓慢, 设置多核
os.environ['CPU_NUM'] = str(32)
运行 感觉并没有产生作用，应该如何产生作用

[2021-05-17 04:51] wawltor commented on #395
您好，
目前动态图版本还不支持CPU多核，目前动态图CPU多进程项目已经在开发计划中，有进展我们反馈给您！

[2021-05-17 04:58] 1205469665 commented on #395
以前不是可以吗？ 是升级2.0 不可以了吗？

[2021-05-17 05:02] 1205469665 commented on #395
就是以前不是 动态图版本开发的？ 然后现在是动态图开发的 ，动态图开发的现在还不支持 多核 是吗？ 我以前用的是1.7 版本的

[2021-05-17 05:02] 1205469665 commented on #395
用的是centos ,这个用2.0 版本的是因为要做国产化环境适配

[2021-05-17 05:02] 1205469665 commented on #395
@wawltor

[2021-05-17 05:54] 1205469665 commented on #395
那这个现在不能使用多核, 是不是训练完预测速度也会很慢啊

[2021-05-17 06:15] wawltor commented on #395
您好，PaddleNLP提供的版本均是动态图的版本，在 PaddlePdddle 2.0版本才正式提供了动态图，1.7和1.8版本均是静态图的，静态图的版本是可以对支持多核CPU加速训练的，动态图目前还不支持多核CPU加速。在预测方面的话，PaddleNLP的模型需要进行动转静，将动态图模型转化成可部署的静态图的模型，静态图的话在预测时是支持多核CPU加速的，具体的可以参考文本分类的https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models  预测部署这块
<img width="1258" alt="图片" src="https://user-images.githubusercontent.com/16698950/118440473-4b94

[2021-05-17 06:35] wawltor commented on #395
目前PddleNLP提供的文本分类训练是基于动态图的，动态图是PaddlePaddle 2.0才支持的属性，目前动态图还不支持多核CPU训练加速，在PaddlePaddle 1.7或者1.8版本是基于静态图的，因此是支持多核CPU加速。在预测方面，目前PaddleNLP支持将动态图训练得到的模型转成静态图，这样的话就可以支持预测多核CPU加速，具体的文本分类的静态图预测可以参考  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models
<img width="1149" alt="图片" src="https://user-images.githubusercontent.com/16698950/118442349-0faf1880-b71d

[2021-05-17 13:32] wawltor commented on #359
您好，最新的LAC的动转静的修复PR已经合入了，具体的使用方法可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis  @yanzhelee

<img width="1210" alt="图片" src="https://user-images.githubusercontent.com/16698950/118497306-86690780-b757-11eb-86ef-6b0de06e79a8.png">

[2021-05-18 08:18] 1205469665 commented on #395
您好，那个我咨询一个问题,就是 1.7 版本的不是可以 获取类型的分值每个类型的分值, 这个2.0 版本的为啥我看只有一个类型,有没有一个api 能获取到类型的分值

[2021-05-18 08:34] wawltor commented on #395
您好，请教一下，您具体使用的代码是什么了，是否能提供一下链接地址了？@1205469665

[2021-05-18 08:40] 1205469665 commented on #395
https://github.com/PaddlePaddle/PaddleHub/blob/release/v2.1/demo/text_classification/predict.py
![image](https://user-images.githubusercontent.com/16591941/118619698-6ab53e00-b7f7-11eb-8937-18590d5caee0.png)
 想获得分类类型的分值

[2021-05-18 08:47] Steffy-zxf commented on #395
@1205469665 你好！由于PaddleHub的 ernie tiny module 预测接口predict接口已经对数据分类概率值封装好了，如果想要获取数据分类概率值需要改动module predict接口代码。不过你可以试试 PaddleNLP ERNIE完成文本分类任务，可以直接获取分类概率值，参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models

[此处](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/predict.py#L133)可以获取分类概率值。

[2021-05-18 08:55] 1205469665 commented on #395
您好,
请问这上面那块是可以获取到概率值的 我没太看出来怎么获取
![image](https://user-images.githubusercontent.com/16591941/118622373-d6000f80-b7f9-11eb-90a2-b6cd3fb04b73.png)

[2021-05-18 09:00] Steffy-zxf commented on #395
这一行 代码： https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/predict.py#L133

[2021-05-18 09:22] 1205469665 commented on #395
您好，没看出来这个代码应该怎么取出概率值, 能说一下吗？

[2021-05-18 09:31] 1205469665 commented on #395
![image](https://user-images.githubusercontent.com/16591941/118628054-d18a2580-b7fe-11eb-8efe-d379e218d07d.png)
请问那个吗?

[2021-05-19 08:30] yingyibiao commented on #352
Hi, we have recently unified the output format of XLNet Model with other models (like Bert). You can now replace with XLNet and get the same output format.

[2021-05-19 08:40] yingyibiao commented on #335
您好，该问题已修复，更新PaddleNLP版本可正常使用。后续您使用过程中有任何问题，欢迎继续在issue中提出！

[2021-05-19 08:45] yingyibiao commented on #352
#408

[2021-05-19 08:45] yingyibiao commented on #335
#408

[2021-05-20 01:15] Wakp opened #419 "使用 ernie + crf 进行序列标注任务时，无法使用paddle.jit.save 保存，可能是paddlenlp中的自带的crf代码写法不支持动静转换，请问crf代码这块后续会调整吗，还是直接推荐使用静态版里面的crf"

[2021-05-20 02:16] #335 closed, assigned to yingyibiao

[2021-05-20 02:19] tianxin1860 commented on #254
@deep-rooteddz 可以参考下我们新增的 PaddleNLP [语义索引 ](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing) 解决方案

[2021-05-20 02:28] joey12300 commented on #419
@Wakp 你好，请问一下你的padldenlp的版本是多少呢？方便提供代码吗？

[2021-05-20 06:40] Wakp commented on #419
你好，使用的paddlenlp   2.0.0rc18c
我提供一个demo，经调试我发现可能是这个crf代码里面的一些写法在动态转静态时无法被识别和转换导致的。
比如crf.py文件中的389行： “scores, last_ids = alpha.max(1), alpha.argmax(1).numpy().tolist()”  在被转换时会被误解析成”onvert_call(alpha.argmax)(1).tolist)()“，此外像python 中的常用函数“reversed()”在动转静时均会报错。

———————————————————demo———————————————————

[code]

[2021-05-20 06:53] joey12300 commented on #419
@Wakp 您好，目前CRF已经在最新版（rc25）支持动转静。您的代码`batch_path = list(path.numpy()) + [0] * (seq_len - len(path))`中有numpy()的语法，动转静并不支持，可以直接使用返回的path作为batch_path。
可以尝试`pip install --upgrade paddlenlp -i https://pypi.org/simple`更新paddlenlp。可参考lac的模型导出示例完成动转静，注意InputSpce参数的写法。https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/export_model.py。

[2021-05-20 07:02] Wakp commented on #419
好的，谢谢

[2021-05-20 07:11] joey12300 commented on #419
@Wakp 我刚使用您的代码写了一版，可作参考
[code]

[2021-05-20 14:58] #419 closed, assigned to joey12300

[2021-05-21 00:41] nemon- opened #425 "使用paddle.utils.cpp_extension.cpp_extension.CUDA_HOME前未检查"
非CUDA环境下，引入PaddleNLP，会在 paddlenlp\ops\ext_utils.py的19行报错,
TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType
原因应该是if not os.path.exists(CUDA_HOME):这行直接使用了CUDA_HOME而没有验证值。
查到在14-15行，有：
from paddle.utils.cpp_extension.cpp_extension import (
    CUDA_HOME, CppExtension, BuildExtension as PaddleBuildExtension)
因此CUDA_HOME不是本包内的变量，不建议修改，因此建议修改\ext_utils.py的19行为：
if CUDA

[2021-05-21 04:57] guoshengCS commented on #425
多谢指出，我们进行修改完善~  ext_utils.py的19这里在`paddle.utils.cpp_extension.cpp_extension`返回的`CUDA_HOME `是None的时候应该确实是会有问题的。

另外因为本地没有复现出来也确认了下`paddle.utils.cpp_extension.cpp_extension`返回的CUDA_HOME情况，https://github.com/PaddlePaddle/Paddle/blob/v2.1.0/python/paddle/utils/cpp_extension/extension_utils.py#L566 只有在不为空且不存在且是GPU版本的时候才会是None，对于CPU版本的Paddle应该也不太可能报错。

请问您这里当前报错的环境是怎样的呢，按照上面这样来讲的话应该CPU版本的Paddle应该也不太可能报错

[2021-05-21 05:44] nemon- commented on #425
win7 64位，安装过VC_redist.x64.exe，python 3.7.4，paddle无GPU，paddle.__version__=='2.1.0'，paddlenlp.__version__=='2.0.0'，paddlehub.__version__=='2.1.0'，pip install paddlehub没有报错，但是import paddlehub时出现以下提示：

D:\dev\Python374\lib\site-packages\setuptools\depends.py:2: DeprecationWarning:
the imp module is deprecated in favour of importlib; see the module's documentat
ion for alternative uses
看报错信息最后3条：
    f

[2021-05-21 05:54] guoshengCS commented on #425
了解了，Windows的话可能确实会有些问题，https://github.com/PaddlePaddle/Paddle/blob/v2.1.0/python/paddle/utils/cpp_extension/extension_utils.py#L561 ，这里对于Windows的没有CUDA环境的返回的会是None，这个我们尽快修复下，您那边也可先行通过设置下`CUDA_HOME`或者`CUDA_PATH`环境变量为任意路径先行绕过您遇到的问题使用。

[2021-05-21 09:23] 1205469665 commented on #395
您好,动态图版本的CPU 多进程有大概什么时间开发好吗？

[2021-05-21 12:02] guoshengCS commented on #425
已修复，可以更新使用

[2021-05-22 13:08] #391 closed, assigned to ZeyuChen

[2021-05-22 16:20] nemon- commented on #425
经 pip install paddlenlp --upgrade ，升级到paddlenlp 2.0.1，验证通过。
辛苦各位了！

[2021-05-22 16:20] #425 closed, assigned to guoshengCS

[2021-05-23 09:57] ZeyuChen commented on #352
Issues solved by #408

[2021-05-23 09:57] #352 closed, assigned to guoshengCS

[2021-05-23 09:58] ZeyuChen commented on #359
Issues resolved.

[2021-05-23 09:58] #359 closed, assigned to joey12300, kinghuin

[2021-05-23 10:01] ZeyuChen commented on #118
@millywang516 请参考自定义数据集文档 https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_self_defined.html

[2021-05-23 10:01] #118 closed

[2021-05-24 02:17] joey12300 commented on #275
您好，请重新共享一下项目链接。自己也可以尝试安装最新版的PaddleNLP，并拉取最新版的PaddleNLP代码，再运行。

[2021-05-24 03:32] gzwzzu opened #434 "中文标题分类案例中，有一点小疑问"
https://aistudio.baidu.com/aistudio/projectdetail/1709811?channelType=0&channel=0

在这个新闻标题分类案例中，没有报错。就是有一点没有太明白。
在用paddleNLP定义LSTM时，
class LSTM中的def forward(self, text, seq_len)：
我看前向传播中声明了seq_len参数。但是在使用的过程中始终没有看到这个参数是从哪里传入的
烦请老师帮忙解答一下。谢谢。

[2021-05-24 07:38] Steffy-zxf commented on #434
@gzwzzu 你好！该项目下有一个utils.py脚本，这个脚本里面有一个`convert_example()`函数。这个函数会从Dataset中读取数据，进行数据处理，该函数返回值中有`seq_len`，具体实现可以看`convert_example()`函数。

[2021-05-25 02:50] Wakp opened #438 "调用paddleNLP中内置的crf，将维特比算法写在前向计算中时，在进行反向计算会出现报错"
我本想将viterbi算法解析出的结果做其它模型的输入，然后再求loss做反向传播，但发现当前向计算中加入viterbi后就会报错

环境：
paddlenlp          2.0.1
paddlepaddle       2.1.0

demo代码如下：
[code]

报错信息如下：
[code]

[2021-05-25 03:05] Wakp commented on #438
paddlenlp          2.0.1
paddlepaddle       2.1.0

[2021-05-25 06:50] joey12300 commented on #438
@Wakp 你好，一般来说viterbi解码得到的结果是int类型的label，用于预测场景，并不参与训练时loss的计算。而且Paddle不支持int值的tensor直接进行backward。可将viterbi预测得到的label计算一个loss，再求backward。关于如何使用CRF模型与其他模型组合，可参考https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/waybill_ie/model.py

[2021-05-26 02:16] Wakp commented on #438
感谢您耐心的答复，我想做一个多层次信息抽取，我希望第二层次会参考第一层的结果，所以想可这个写法。由于我对paddlepaddle不是很熟，我又写了一个demo,请您帮忙再看看有没有什么方法可避免该问题。
[code]

[2021-05-26 02:34] justiceeem opened #446 "对semantic indexing进行场景定制训练的问题"
首先，谢谢paddlenlp团队推出的语义索引策略库和模型。这里有些问题想请教一下大佬们。
比如我想对一些特定场景下做语义相似的训练，我想采用的策略是使用paddlenlp团队提供好的训练数据对，然后添加一些自己收集的数据进去，然后采用最基本的方法进行训练。
请问这种做法有什么不妥之处吗，在数据量方面有没有什么限制或是要求呀。
还请各位大佬不吝赐教！

[2021-05-26 07:11] mawenjie8731 opened #447 "[Call for Contribution] Datasets for PaddleNLP（欢迎高质量数据集接入飞桨PaddleNLP ）"
### 1. 目标

PaddleNLP作为飞桨自然语言处理核心库，内置了从数据集、数据处理、到组网建模一系列API，深度适配飞桨新版框架动态图开发模式，旨在为飞桨开发者提升文本领域建模效率，提供基于Paddle 2.0的NLP领域最佳实践。

数据集，可以说是深度学习任务第一站，是推动自然语言处理技术进步的基石。，高质量数据集是模型调优的基础。目前，PaddleNLP中已内置了多个数据集，覆盖信息抽取、分类、匹配、生成到问答、对话、翻译等多个场景。此外，还内置了简洁易用的数据处理API，高效完成NLP任务数据处理通用流程。

我们热切欢迎高质量数据集接入PaddleNLP，在此呼吁广大的飞桨开发者来一起共建我们的数据集，努力为用户提供更加便捷优质的资源，共同打造一条深度学习高速公路。

### 2. 数据清单

目前的许多技术仅关注模型在单一数据集上的效果，然而自然语言处理技术在大规模产

[2021-05-26 07:20] fiyen commented on #447
认领：句子级情感分类，NLPCC14-SC

[2021-05-26 08:04] tianxin1860 commented on #446
1. 建议采用 2 阶段的训练策略: 基于我们 Release 的预训练模型进行热启，然后在自己的业务数据上进行 二阶段训练，这样可以在自己的业务场景下取得最优效果。
2. 数据量问题: 一般数据规模越大，效果越好，建议训练数据规模不要低于 10w 量级；

[2021-05-26 08:18] Darshcg opened #448 "AttributeError: module 'paddlenlp.datasets' has no attribute 'GlueCoLA'"
Hi,

I have installed paddlenlp and while running https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/ofa/bert/run_glue_ofa.py this script, I am getting below error,

Please help me to resolve this issue:

[code]

Thanks,
Darshan

[2021-05-26 09:00] justiceeem commented on #446
@tianxin1860 谢谢！

[2021-05-26 09:18] joey12300 commented on #438
@Wakp 您好，viterbi解码的结果不能参与反向梯度更新，所以要添加一行代码：
`last.stop_gradient=True`。
直接使用label结果作为参数比较奇怪，可以考虑尝试使用viterbi结果中的scores作为参数。

完整代码如下：
[code]

[2021-05-26 15:28] alei76 opened #451 "您好，PaddleNLP/examples/text_classification/rnn/deploy/ 能否提供serving部署示例"
您好，PaddleNLP/examples/text_classification/rnn/deploy/   能否提供serving部署示例,折腾一天的就是不行。
环境：
    win10+Docker Desktop
    PaddleNLP用的 PaddleNLP v2.0.0，Serving 用的是0.6.0版本
    推理模型已经导出成功，服务能正常启动 ,rpc和http都没调用成功
    rpc: python3 -m paddle_serving_server.serve --model Intention_detection_model --thread 2 --port 9292 --use_multilang
    http:python3 -m paddle_serving_server.serve --model Intention_detection_

[2021-05-27 02:41] jiaqianjing opened #452 "示例代码中 self.crf_loss = LinearChainCrfLoss(self.crf) 总是报 `missing 1 required positional argument: 'labels'`"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/waybill_ie/run_ernie_crf.py
请确认一下这个 example 是否有问题。每次在计算前项 loss 的时候，总是报如题所示的问题，我检查过数据，都没有问题，另外，最后我还用你们仓库下的数据跑，依然出现这个问题。

[2021-05-27 02:45] jiaqianjing commented on #452
应该不止用 ernie + CRF 有问题，只要网络后面套了 CRF 的都有问题

[2021-05-27 02:51] joey12300 commented on #452
@jiaqianjing 您好，请问您使用的PaddleNLP的版本是多少？能提供更详细的报错信息吗？

[2021-05-27 02:52] ZeyuChen commented on #448
@Darshcg We are checking this issue, will reply you soon.

[2021-05-27 03:15] mingxu1067 opened #453 "BERT Training encounters loss NaN with AMP and TransformerEncoderLayer.normalize_before=True"
**System information**
-PaddlePaddle: Both 2.1.0 and b8e4ec7de1e04f1a7fcf6c85ce016f9fef37ee8d
-CPU: Intel(R) Xeon(R) CPU E5-2698 v4 @ 2.20GHz
-GPU: V100-SXM2-16GB with CUDA 11.2 and CUDNN 8.1.1
-OS Platform: Ubuntu 18.04
Docker images: Both registry.baidubce.com/paddlepaddle/paddle:2.1.0-gpu-cuda11.2-cudnn8 and  paddlepaddle/paddle:latest-dev-cuda11.2-cudnn8-gcc82
-Paddle Build Comanad: `cmake ..

[2021-05-27 03:19] jiaqianjing commented on #452
pip list 出来的版本是：paddlenlp==2.0.0 , 用的就是 aistudio .
不过我好像找到问题了：
![image](https://user-images.githubusercontent.com/16071449/119760797-41726d00-bedd-11eb-8e46-04cf62023bab.png)
![image](https://user-images.githubusercontent.com/16071449/119760824-50f1b600-bedd-11eb-8d8a-7b4a4ac6ab03.png)
我看你们 github 上的代码不一样，这个 `LinearChainCrfLoss ` 多了一个参数，不知道这是哪个版本的。。。

[2021-05-27 03:27] joey12300 commented on #452
请先卸载您当前版本的paddlenlp：`pip uninstall paddlenlp`。重新安装paddlenlp：`pip install --upgrade paddlenlp -i https://pypi.org/simple`。并更新教程实例，重新跑一遍。

[2021-05-27 03:58] jiaqianjing commented on #452
嗯，现在看起来版本对的上了，不过出现了一个新的错误。
![image](https://user-images.githubusercontent.com/16071449/119763718-a2507400-bee2-11eb-8fc3-3ee98bd481cc.png)
我的训练数据样本不多，就 162 条，我batch_size=128, 这个有什么参数可以 drop 不掉不够 batch_size 数据的参数吗

[2021-05-27 04:14] LiuChiachi commented on #448
Hi,

We recommend you to refer to the demo in [PaddleNLP ofa example](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa), and it's same as the demo you ran before and uses paddlenlp2.0.0.

And we recommend you to  install newest paddleslim following the command below because develop branch fixed a bug just now, and we will release a new version soon:)
[code]

Th

[2021-05-27 04:40] guoshengCS commented on #453
We haven't  do experiments on BERT with `normalize_before=True` and have no clear idea about its convergence yet, while the common practice I have ever seen for using `normalize_before=True` may apply extra layer normalization on the output of encoder layer stack just as what GPT2 and Transformer do https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/transformer.py#L1244 , m

[2021-05-27 04:47] mingxu1067 commented on #453
Thanks for replying.
Are there any scheduled future plans on experiments on `normalize_before=True` training setting?

[2021-05-27 04:47] dyan-dy commented on #447
认领：文本相似度 BQ Corpus

[2021-05-27 05:55] Wakp commented on #438
好的，感谢

[2021-05-27 05:56] jiaqianjing commented on #452
已经可以了，3Q.

[2021-05-27 05:56] #452 closed, assigned to joey12300

[2021-05-27 10:33] Darshcg commented on #448
Hi @LiuChiachi,

Thanks for the reply.
I had followed the same but still did not worked.

[2021-05-27 12:51] Steffy-zxf commented on #451
@alei76 感谢反馈！Server端部署脚本正在开发，预计下周提供。开发完成后，第一时间通知您！同时想了解下 您的具体应用场景是什么样的？

[2021-05-27 13:06] alei76 commented on #451
@Steffy-zxf ，非常感谢，智能客服相关的：客户意图识别、来电原因分类、工单信息提取、升级投诉预测等等，我们是你们合作伙伴，用你们的asr/tts/edp/ngd等,但是客户有些场景需要定制化，需要自己开发一些模型。
examples\text_classification\rnn\train.py
121 行    attention = SelfInteractiveAttention(hidden_size=2 * stm_hidden_size)     stm_hidden_size  少了个字母lstm_hidden_size

[2021-05-27 13:11] LiuChiachi commented on #448
Hello @Darshcg , is the result wrong or the program hangs?  Could you please provide a screenshot of your error report ? Thanks!

[2021-05-27 13:25] Darshcg commented on #448
Hi @LiuChiachi,

Thanks for your support.

I am getting the same error after installing the latest version of paddleslim and changing paddlenlp to 2.0.0:

[code]

Regards,
Darshan

[2021-05-27 13:29] hailong23-jin opened #456 "Feature Request for ERNIE-Gram"
加载的预训练模型地址：https://ernie-github.cdn.bcebos.com/model-ernie-gram-zh.1.tar.gz

完整代码：

[code]

输出结果：

[code]

但是用下面的代码加载没有问题：

[code]

更新，这个预训练模型加载就是一个bug。我按照文档中说的指定模型名，用 “ernie-1.0” 作为参数传入，然后让模型自己下载并加载预训练模型，这个没有报错。但是当我用下载路径指定的时候就报错了。报错跟上面的一样。

[code]

报错如下：

[code]

跟上面一样的错误。 手动指定模型路经有问题。希望尽快改进更新。

[2021-05-27 15:37] ZeyuChen commented on #456
ErnieGram的模型正在接入中，下周会发布，到时可以直接使用。我们会重新验证下本地加载的正确性。

[2021-05-27 17:28] ZeyuChen commented on #448
@Darshcg Please also try PaddleNLP ofa exmaple, and run the code as the link below.
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa

[2021-05-27 17:34] ZeyuChen commented on #448
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression/ofa/run_glue_ofa.py#L294
We use `load_dataset` API the access dataset. the  `datasets.GlueCoLA`  API has deprecated.
You need to clone PaddleNLP repo and try the latest code.

[2021-05-28 06:07] Wakp opened #458 "ERNIE+CRF 模型动转静导出异常"
模型保存时报错，我参考ernie+crf例子，发现还是有问题，请予以帮忙

ValueError:
        We don't support to define layer with parameters in the function decorated by `@declarative`.
        Because that will re-defined parameters every time when you run the function.
        But we found parameter(linear_73.w_0) was created in the decorated function.
        Please define the layer with parameters in `__init__` function.

[cod

[2021-05-28 08:59] AI-Mart opened #460 "window系统运行出现普遍性的报错The current variable type is (int64_t), but the previous variable type is (int)."
InvalidArgumentError: The DataType of greater_than Op's duplicable Variable Y must be consistent. The current variable type is (int64_t), but the previous variable type is (int). (at C:\home\workspace\Paddle_release\paddle\fluid\framework\operator.cc:1574)
  [operator < greater_than > error] 运行PaddleNLP\examples\information_extraction\waybill_ie里面的run_bigru_crf.py出现报错

应该是windows系统运行的原因，这些代码应该要lin

[2021-05-28 09:00] AI-Mart commented on #460
希望解决下

[2021-05-28 19:36] Darshcg commented on #448
Hi @ZeyuChen and @LiuChiachi,

I was able to overcome that issue when I used this: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa

Thank you for your help.

Regards,
Darshan

[2021-05-28 19:36] #448 closed, assigned to LiuChiachi

[2021-05-29 10:56] dyan-dy opened #462 "[Dataset Contrib] BQ Corpus For Text Similarity"

[2021-05-29 14:47] ghost opened #463 "【模型更新】ELECTRA-180g和ELECTRA-ex"
希望能增加ELECTRA-180g和ELECTRA-*-ex两个模型的预训练参数。

模型 | 开发集 | 测试集 | 挑战集 | 参数量
-- | -- | -- | -- | --
BERT-base | 65.5 (64.4) / 84.5 (84.0) | 70.0 (68.7) / 87.0 (86.3) | 18.6 (17.0) / 43.3 (41.3) | 102M
BERT-wwm | 66.3 (65.0) / 85.6 (84.7) | 70.5 (69.1) / 87.4 (86.7) | 21.0 (19.3) / 47.0 (43.9) | 102M
BERT-wwm-ext | 67.1 (65.6) / 85.7 (85.0) | 71.4 (70.0) / 87.7 (87.0) | 24.0 (20.0) / 47.3 (44.6) | 102M
Ro

[2021-05-30 06:51] ZeyuChen commented on #463
@illcat 请问你想要这些模型做哪些问题？也欢迎加入我们特殊兴趣小组SIG，一起参与模型复现 :) 可否加下相关联系方式？

[2021-05-30 07:07] ghost commented on #463
https://github.com/ymcui/Chinese-ELECTRA 提供了ECELTRA的最新进展与TF权重。

已申请加入SIG-QQ讨论群，希望通过下

[2021-05-30 07:22] ZeyuChen commented on #463
留下你的QQ号码或者微信号？我单独加你直接拉群 @illcat

[2021-05-30 07:24] illcat commented on #463
![image](https://user-images.githubusercontent.com/40688514/120095890-1432f280-c15b-11eb-82a4-0a69c398545a.png)

[2021-05-30 10:51] dyan-dy commented on #447
请问如何确定数据集的md5？

[2021-05-31 12:57] #460 closed, assigned to joey12300

[2021-05-31 14:54] joey12300 commented on #460
@AI-Mart 您好，感谢您反馈的bug，目前修复的PR已合入，欢迎继续使用 :)

[2021-06-01 06:20] smallv0221 commented on #447
有很多方法可以确定md5，可以搜一下，linux上可以使用md5sum这个命令

[2021-06-01 07:40] joey12300 commented on #458
@Wakp 您好，我修改了您的代码后可以运行了。凡是 由layer组成的list必须使用nn.LayerList包住才能跑通。
[code]

[2021-06-01 11:33] dyan-dy commented on #447
感谢，问题已经解决了。第一次操作不太熟悉，最开始搜的方式不太对没找到有用的信息。

[2021-06-02 02:35] #446 closed, assigned to tianxin1860

[2021-06-02 02:58] ybc-ybc opened #471 "请问类似BertForSequenceClassification的预训练模型，只能用于处理文本二分类问题么"
训练文本多分类的数据，在train.py中修改num_classes，还是报错
    model = ppnlp.transformers.BertForSequenceClassification.from_pretrained('bert-wwm-ext-chinese', num_class=9)
    tokenizer = ppnlp.transformers.BertTokenizer.from_pretrained('bert-wwm-ext-chinese')

[2021-06-02 03:07] Steffy-zxf commented on #471
你好！具体报错信息是什么？ 代码是什么样的？

[2021-06-02 10:03] justiceeem opened #477 "关于迁移学习的问题"
例子提供的训练脚本里都是给的AdamW以及LinearDecayWithWarmup。
想要请问一下，如果对于数量极少的场景下做迁移学习是否需要修改优化器。
还有就是想要请教下对于这种数据少的情况，有没有什么好的办法呢？

[2021-06-02 10:23] dyan-dy commented on #447
老师们好，我在使用colab进行bq_corpus数据集的接入，在写好bp_corpus.py之后，发现在cell里面输出会出现如下报错。我尝试过sys.path.append()加入路径、把load_dataset()参数改成文件路径，都没有作用，不太知道哪里出了问题，感觉自己这里没有理解清楚，希望老师予以解答，谢谢！
![image](https://user-images.githubusercontent.com/53289454/120463847-e48c2080-c3ce-11eb-9a7e-12d9c6984b1b.png)

[2021-06-02 17:14] ZeyuChen commented on #477
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/few_shot
Few-shot Leanring可以了解下。
方便介绍下你的应用场景吗？数据极少是多少？@justiceeem

[2021-06-02 17:18] ZeyuChen commented on #456
#469 ERNIEGram代码已合入。可以拉最新的代码先进行本地setup安装使用。@medlen

[2021-06-03 00:38] ybc-ybc commented on #471
SystemError: (Fatal) Operator equal raises an thrust::system::system_error exception.
The exception content is
:transform: failed to synchronize: cudaErrorLaunchFailure: unspecified launch failure. (at /paddle/paddle/fluid/imperative/tracer.cc:192)

Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lb

[2021-06-03 02:28] justiceeem commented on #477
场景是做Q-A匹配，将场景常见的语句与一个标准的语句（答案）做匹配，这样做主要是想要实现一个意图的分析来判断某一条语句属于哪一个标准，再进行下一步处理。
数据只有几千条。
训练策略则是加载预训练权重后直接训练这几千条数据。 @ZeyuChen

[2021-06-03 02:31] ZeyuChen commented on #471
检查下数据是否存在越界的情况。

[2021-06-03 02:32] Wakp commented on #458
感谢，我的问题已经得到解决。而且这里没有使用nn.LayerList时，**在训练过程中不会报bug**，一切正常，只是在使用paddle.save()保存时参数时会保存**模型初始化的参数**，而不是经过训练**优化后的参数**，而且全程不报错。用户无感，希望可以给予提示，否则对于小白来说很容易踩坑。感谢

[2021-06-03 02:52] joey12300 commented on #458
嗯，对于使用 list存的layers必须在外层使用nn.LayerList，否则在训练时可以正常执行前向后向，但是无法更新参数。错误提示确实有必要优化，感谢您的建议

[2021-06-03 06:10] smallv0221 commented on #447
load_dataset的时候后面不用加.py，可以看看是不是这个问题。
可以加qq群：758287592，解答问题会更及时一些

[2021-06-03 10:24] justiceeem opened #483 "动态图转静态图做预测时报错的问题"
模型转换代码：
[code]
模型：
[code]
推理部分：
[code]
报错信息：
[code]
想要请教一下这种问题是不是因为模型转换的问题呢？有什么解决思路呢？谢谢！！

[2021-06-03 13:01] wawltor commented on #483
看报错可能是模型路径不对了，
<img width="872" alt="图片" src="https://user-images.githubusercontent.com/16698950/120649011-dca3ad80-c4ae-11eb-9b65-b27d09d74547.png">

[2021-06-04 01:36] justiceeem commented on #483
检查路径过后，能正确加载了。但是出现了新的报错，报错如下：
[code]
@wawltor

[2021-06-04 03:23] Steffy-zxf commented on #483
@justiceeem 你好！`NotImplementedError: (Unimplemented) Invalid dimension to be accessed. Now only supports access to dimension 0 to 9, but received dimension is 32.` 从错误信息看，应该是在数据在组batch的时候 维度出错了。需要具体看下 `convert_example()`函数的代码。

静态图预测参考：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models/deploy/python

[2021-06-04 06:34] justiceeem commented on #483
convert_example代码如下：
[code]
@Steffy-zxf
不知道问题出在哪里...

[2021-06-04 08:39] #451 closed, assigned to Steffy-zxf

[2021-06-04 10:58] Steffy-zxf commented on #483
`convert_example()`返回有误，参考实现 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/deploy/python/predict.py#L37

[2021-06-05 01:55] justiceeem commented on #483
谢谢！ @Steffy-zxf

[2021-06-05 02:20] fiyen opened #495 "[Dataset Contrib] NLPCC14-SC For Sentiment Classification"
NLPCC14-SC数据集集成

[2021-06-06 15:36] tianxin1860 commented on #477
提供 2 个解决思路:
1.  几千条训练数据可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/few_shot 解决方案，针对小样本场景下训练1个 QA 匹配模型
2. 基于我们开源的语义匹配模型热启，在此基础上继续训练 1 个 QA 匹配模型, 参考示例: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/ernie_matching

[2021-06-07 02:01] justiceeem commented on #477
@tianxin1860 谢谢！

[2021-06-07 15:27] ZeyuChen commented on #495
Resolve by #500

[2021-06-07 15:27] #495 closed, assigned to fiyen

[2021-06-08 08:46] zhusy09 opened #519 "运行palto mini 报错"
运行examples中的unified_transformer的interaction这个demo时，载入模型都没问题，在预测时python异常崩溃了，显示故障在msvcp140.dll？本人windows7，paddle版本均为最新。

[2021-06-08 09:22] 15814 opened #520 "对 crf （paddlenlp.layers.LinearChainCrf） 的文档疑问"
[crf文档链接](https://paddlenlp.readthedocs.io/zh/latest/source/paddlenlp.layers.crf.html)

LinearChainCrf(num_labels, crf_lr=0.1, with_start_stop_tag=True) 中的 crf_lr 的含义究竟是什么？比如说 我将这里的 crf层 组成 bilstm-crf 后，optimizer 那里会设置一个全局学习率lr，这里也有一个 crf_lr, 那么 crf layer 参数更新时的学习率是 crf_lr， 还是 lr*crf_lr ?

我看了一下源码，好似更倾向于后者。希望得到开发者的确认，谢谢。建议在文档里对这一参数增加说明以使文档描述更清晰准确。

[2021-06-08 09:23] GetUsernametsy opened #521 "BERT glue任务在windows系统执行错误"
Windows 环境 预训练模型训练后 首先把用export_model.py转换模型

![QQ图片20210608172018](https://user-images.githubusercontent.com/24663912/121159570-df6f1b80-c87d-11eb-8707-3a0c44ea9e76.png)
然后用predict.py 加载模型  报错
![QQ图片20210608171758](https://user-images.githubusercontent.com/24663912/121159759-0cbbc980-c87e-11eb-8b06-cd763e76342b.png)

[2021-06-08 09:54] joey12300 commented on #520
@15814 您好，crf层的学习率是lr*crf_lr。感谢您提供的建议:)

[2021-06-08 11:26] ZeyuChen commented on #519
是否可以提供更多错误截图，以及GPU显存是否足够？

[2021-06-08 13:55] wawltor commented on #521
这是修复PR https://github.com/PaddlePaddle/PaddleNLP/pull/525， 辛苦验证一下效果

[2021-06-09 00:44] meteorjim opened #527 "google_news word embedding can not be loaded in ai studio"
w2v.google_news.target.word-word.dim300.en
在加载过程中 notebook会崩溃并强制重启
![FGSGCKFX{SOP0BG}3N3VI%7](https://user-images.githubusercontent.com/10251260/121275224-c5295200-c8fe-11eb-8b20-c19eba8ce06d.png)
![`7)6_%%2KJQ6{FUPN%MHG@3](https://user-images.githubusercontent.com/10251260/121275229-c78bac00-c8fe-11eb-8a73-32298510199d.png)

[2021-06-09 02:00] joey12300 commented on #527
您好，这个模型比较大，占用显存较多，可参考[Embedding预训练模型](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/embeddings.md#%E6%A8%A1%E5%9E%8B%E4%BF%A1%E6%81%AF)选择较小模型，如`w2v.wiki.target.bigram-char.dim300`。

[2021-06-09 07:30] jiaqianjing opened #530 "DatasetBuilder 对 splits 和 data_files 加个 assert 限制不能同时出现是否会更好？"
https://github.com/PaddlePaddle/PaddleNLP/blob/311bbfb7637c023fd627af2a47ff59db6f238140/paddlenlp/datasets/dataset.py#L474
e.g.
[code]

[2021-06-09 10:58] guoshengCS commented on #530
Resolved by #531. Thanks for your contribution.

[2021-06-09 11:53] smallv0221 commented on #530
Why these two arguements should be exclusive? User may be needing PaddleNLP datasets and local file datasets at the same time. @jiaqianjing

[2021-06-09 12:57] jiaqianjing commented on #530
Yep, but it's kind of weird and not straight forward.  e.g.`train_ds, dev_ds, local_train_ds =   load_dataset("lcqmc", splits=["train", "dev"], data_files="/to/path/xxx.tsv")`. Generally, we use `data_files` for load our dataset. Another reason may be that there is no Internet.

[2021-06-09 13:05] jiaqianjing commented on #530
More importantly, I feel that if I support these two parameters at the same time, users will be confused.  Like me.

[2021-06-09 13:48] smallv0221 commented on #530
I'm not what you were confussing about. Did you think that the splits arguement is for data_files to specific splits?

I think that the situation that someone wants PaddleNLP dataset to train a model then predicts his local dataset is fairly common.

[2021-06-09 15:30] jiaqianjing commented on #530
yes, before I read source code.

[2021-06-09 16:02] livingbody opened #537 "PaddleNLP是否有保存best model的api？"
无敌的陈老师，能不能开发个保存best model的api？

[2021-06-09 17:36] smallv0221 commented on #530
I see... Maybe we should have done more work on documentation. Thanks for bring it. Also thank you for contribution.

[2021-06-10 01:39] jiaqianjing commented on #530
You're welcome. Good luck.

[2021-06-10 01:39] #530 closed, assigned to nobody

[2021-06-10 02:36] jiaqianjing commented on #537
呃呃呃，这个完全可以自己在 train loop 实现吧。。。每一轮 epoch 查一下 metric , 如果比历史的效果好，就覆盖 save_model

[2021-06-10 02:39] yingyibiao commented on #520
感谢您的提问和建议，我们的文档还在持续迭代完善中，欢迎提出更多的意见和建议！

[2021-06-10 14:23] forrestneo opened #546 "SystemError: (Fatal) Blocking queue is killed because the data reader raises an exception."
WARNING:root:DataLoader reader thread raised an exception.
Exception in thread Thread-6:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/con

[2021-06-10 14:50] justiceeem opened #547 "语义索引任务如何评估自己的模型？"
semantic indexing里提供的评估方法——构造一个评估集，然后使用R@10与R@50来评估模型。
请问这个方法适合自己场景下训练的模型吗？是直接使用开源的数据集（比如例子里提供的数据集）还是需要自己收集数据构建此场景下的相似对？
那如果是自己收集不了太多数据的情况下，怎么才能更好的评估自己的模型呢？
我当前的情况是凭感觉，随机写几条语句测试。还望大佬们多多指教！

[2021-06-10 15:11] wawltor commented on #546
<img width="885" alt="图片" src="https://user-images.githubusercontent.com/16698950/121550182-17728c00-ca41-11eb-9710-2075a5cc9e99.png">
您好，看报错上面数据处理部分是有问题的， 可以检查一下上述的代码问题

[2021-06-11 03:01] tianxin1860 commented on #547
因为每个细分场景下的数据分布有很大不同，建议按照 semantic indexing 里的评估方式构造自己场景的评估数据来评估模型效果，如果自己场景的数据量太少，可以考虑先基于我们开源的评估集进行评估，作为一个参考结果。

[2021-06-11 03:24] greathelin opened #551 "No module named 'paddle.utils.cpp_extension'"
Traceback (most recent call last):
  File "D:/HelinFiles/Study/Study-PaddleNLP/code/Text-Similarity-Matching/test/test01.py", line 8, in <module>
    import paddlenlp
  File "D:\ProgramData\Anaconda3\lib\site-packages\paddlenlp\__init__.py", line 20, in <module>
    from . import ops
  File "D:\ProgramData\Anaconda3\lib\site-packages\paddlenlp\ops\__init__.py", line 15, in <module>
    from .trans

[2021-06-11 03:26] guoshengCS commented on #551
这个可能是paddle的版本低了，可以试下使用Paddle 2.1.0 版本

[2021-06-11 03:29] justiceeem commented on #547
谢谢 @tianxin1860

[2021-06-11 08:00] 1084667371 opened #554 "msra_ner数据集（文档问题）"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/data_prepare/dataset_load.rst

![image](https://user-images.githubusercontent.com/50902619/121651896-b04ee900-cacd-11eb-90b5-b7b5c684c863.png)

问题：msra_ner数据集没有dev  只有 train test  这里写错了

![image](https://user-images.githubusercontent.com/50902619/121652322-1c315180-cace-11eb-95ef-dd601ef31b10.png)

[2021-06-11 08:05] smallv0221 commented on #554
已修改，感谢提醒！

[2021-06-11 08:10] 1084667371 commented on #554
okok

[2021-06-11 08:10] #554 closed, assigned to nobody

[2021-06-11 11:56] ZeyuChen commented on #521
Solved by #525

[2021-06-11 11:56] #521 closed, assigned to wawltor

[2021-06-11 14:17] greathelin commented on #551
的确是版本太低的原因，已经从2.0更新到2.1了

[2021-06-12 07:35] turkeymz opened #560 "预训练模型下载地址修改"
建议在readme里面添加预训练模型环境变量地址修改的提示。
我之前遇到过磁盘空间不够，原因就是这个问题
但不是所有人都会debug源码去查看框架读的是哪个系统变量

[2021-06-12 08:06] ZeyuChen commented on #560
很好的建议！
@chenxiaozeng 请将更改数据和模型环境变量作为FAQ文档的一部分。
[code]

[2021-06-12 08:07] #551 closed, assigned to nobody

[2021-06-15 02:03] Wangyongdi commented on #275
不好意思，好久没看这个了。刚试了一下，还是之前的错误，PaddleNLP运行都会安装最新的。
项目“『2021语言与智能技术竞赛』- 事件抽取任务基线系统”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1802353/06c4619206fd4c92a3757c87a9ff374c

[2021-06-15 09:22] lxww302 opened #896 "ernie-doc在对cmrc2018数据集fine-tune时突然训崩了"
![image](https://user-images.githubusercontent.com/68112258/122026909-397f5c00-cdfd-11eb-9347-485976b1cf6d.png)

如图，采用官方的代码fine-tune时，每隔100step评估一次，前两次评估都很正常，第二次评估指标em: 70.146008, f1: 88.630763，已经很好了，但没有达到论文的结果；在第2次与第3次评估之间训练集avg loss突然从0.124285下降到0.001645，第三次评估效果已经炸了。能稳定复现，请问可能是哪里的问题呢

[2021-06-15 11:35] lxsyz opened #568 "英文detokenizer"
使用mosestokenizer中的detokenizer效果不是很好，请问paddlenlp中有对英文做detokenizer的工具代码吗？

[2021-06-16 02:42] wawltor commented on #568
您好，目前PaddleNLP还不支持detokenizer的功能，想问一下，能不能提供有一个具体的需求了，我们会根据需求来评估一下解决方案。

[2021-06-17 04:49] turkeymz opened #578 "显存释放"
训练完的时候，我想立即进行预测。发现32G显存已经不够了。
这里面是否大部分是模型训练时的运行参数？
如果是，建议增加一个显存释放接口，把模型训练时的运行参数释放掉。然后通过加载模型重新获取最新的参数进行预测

案例：『NLP打卡营』实践课5：文本情感分析
参数如下：
# 批量数据大小
batch_size = 32
# 文本序列最大长度
max_seq_length = 256
# 训练轮次
epochs = 10
# 训练过程中保存模型参数的文件夹
ckpt_dir = "skep_ckpt"
# len(train_data_loader)一轮训练所需要的step数
num_training_steps = len(train_data_loader) * epochs
# Adam优化器
optimizer = paddle.optimizer.AdamW(
    learnin

[2021-06-17 04:50] turkeymz commented on #578
使用数据集为ChnSentiCorp

[2021-06-17 06:51] Steffy-zxf commented on #578
@turkeymz 你好！你可以根据实际的显存大小调整batch_size 和 max_seq_len 参数设置。另外预测时遇到显存不足的问题时，可以通过重启aitsudio项目，之后跳过模型训练部分，预测时直接加载之前保存的模型参数进行预测即可。

[2021-06-17 13:36] Chambers1994 opened #585 "please help! can not fine dataset DuReader"
python -m paddle.distributed.launch --gpus "1" run_du.py     --model_type bert     --model_name_or_path bert-base-chinese     --max_seq_length 512     --batch_size 16     --learning_rate 5e-5     --num_train_epochs 4     --logging_steps 1000     --save_steps 1000     --warmup_proportion 0.1     --weight_decay 0.01     --output_dir ./tmp/dureader/     --n_gpu 1 \

-----------  Configuration Argumen

[2021-06-18 03:04] smallv0221 commented on #585
I'm sorry that DuReader dataset is still under progress. You are welcome to use DuReader-Robust, DuReader-Checklist or DuReader-YesNo dataset instead.

[2021-06-18 06:49] jiaqianjing opened #587 "some error at the api reference of paddlenlp"
![991CFED9A5776BF1AD1B37A9CFAE2137](https://user-images.githubusercontent.com/16071449/122518526-e5b28400-d043-11eb-967c-1179721e3d59.jpg)
Mybe that `pooling_type is not None xxxx`

[2021-06-19 14:43] ITerydh opened #589 "AI Studio notebook Memory burst"
When there are more than one training task in a notebook project, the memory occupied by the last task will not be released in time. It needs to be restarted the actuator.I think this needs to be optimized

[2021-06-21 03:34] ZeyuChen commented on #589
You mean run paddlenlp in AIStudio? @ITerydh

[2021-06-21 03:42] Steffy-zxf commented on #587
Thanks for your attention! This docs error will be fix by pr : https://github.com/PaddlePaddle/PaddleNLP/pull/595 .

[2021-06-21 04:19] ITerydh commented on #589
不是，就是跑完一个数据集之后，再跑下一个数据集的时候，就会提示内存超过范围，需要重启一下才可以跑，每次跑一个数据集都需要这样操作一次，我的感觉是跑完一个模型之后他不会及时释放内存。

[2021-06-21 05:15] ykkk2333 opened #596 "bert 静态图训练， finetune 运行pretrained模型"
这边在执行bert静态图训练时，在run_glue.py脚本中使用model.from_pretrained接口来载入pretrained模型时，精度无法像动态图相同操作时那样收敛，使用100globle steps的pretrain模型跑finetune的精度是0.8左右，但是用10000 global steps及更多iter的pretrain模型跑finetune的话精度会掉到0.5，想问下glue的脚本如何正确的载入pretrain 模型，或者有没有别的用pretrained可以跑收敛的办法。

paddlegpu版本 = 2.1.0.post112
paddlenlp 2.0.1

机器：Nvidia A100-PCIE-40GB
Driver：460.71.01
CUDA version: 11.2

系统：Linux 18.04.1-Ubuntu
x86_64

[2021-06-21 07:59] #587 closed, assigned to Steffy-zxf, yingyibiao

[2021-06-21 08:26] BFJL opened #599 "ErnieGramTokenizer tokenizer词表不对应问题 [UNK]对应的id无法转为[UNK]"
![image](https://user-images.githubusercontent.com/46952203/122730693-16492680-d2ad-11eb-94b7-a459567b044d.png)
[UNK]对应的id 18017 无法转为[UNK]

[2021-06-21 09:55] jiaqianjing opened #602 "dead code should be removed"
https://github.com/PaddlePaddle/PaddleNLP/blob/7048bf9dd8ce689bed803cfe6c1dd58ed56aa29d/paddlenlp/datasets/dataset.py#L129

This is the reason.
https://github.com/PaddlePaddle/PaddleNLP/blob/7048bf9dd8ce689bed803cfe6c1dd58ed56aa29d/paddlenlp/datasets/dataset.py#L534

[2021-06-21 10:30] situqingyun opened #603 "文档上这个字是个别字吧"
![image](https://user-images.githubusercontent.com/22349162/122748270-9461f900-d2be-11eb-946c-74e7ced6328a.png)
应该是收获吧

[2021-06-21 10:33] ZeyuChen commented on #603
@situqingyun 是的，欢迎给PaddleNLP提交个Pull Request纠正，参与到社区贡献中来 :)

[2021-06-22 06:01] mingxu1067 opened #604 "Issues of AMP+FP16 training for BERT-base on GLUE [Static Graph]"
I am attempting to apply AMP+fp16 training to BERT GLUE finetuning, but encounter some dtype issues.
- Base script: [run_glue.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/static/run_glue.py)
- How I implemented
1. Added `paddle.static.amp.fp16_guard()` to BertForSequenceClassification
[code]
2. Added optimizer's decorator by `paddle.static.amp.AutoMixedPr

[2021-06-22 07:29] ZeyuChen commented on #604
@guoshengCS Please look into this issues.

[2021-06-22 09:24] guoshengCS commented on #604
Can you try to use `amp.init(test_program=dev_program)` when calling `amp.init`, it seems the program for validation should be provided here. Refer to https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/mixed_precision/decorator.py#L206 . Or whether the same errors occurs when removing the validation `dev_program`.

[2021-06-22 10:16] livingbody opened #606 "PaddleNLP标签设置问题"
PaddleNLP标签设置，只能是从0依次开始。
窃以为，本身都是从文本读取，然后再排列的，没必要卡死文本读取从0开始，可以再Dataset里作转换，而不是直接读取label标签，然后来回映射。

[2021-06-22 14:44] ZeyuChen commented on #602
It's hard to understand through this issues, is it possible to submit a PR? @jiaqianjing

[2021-06-22 14:45] ZeyuChen commented on #596
可否提供更多的脚本信息？ @ykkk2333

[2021-06-22 14:46] ZeyuChen commented on #606
什么任务呢？是否可以提供更多细节信息？@livingbody

[2021-06-23 02:16] BFJL commented on #599
今天看了一下，发现问题出在ernie-gram-zh的vocab.txt上，该vocab.txt文件存在两个 美元$符号。索引从1开始，分别在12085行，18006行。 由于两个相同的字符，构建token_to_idx字典时，token的最大idx，便会比idx_to_token列表的长度大1位，于是抛出错误。

[2021-06-23 02:35] BFJL commented on #599
该vocab.txt两个字符的重复，导致第二个字符后的的idx_to_token与token_to_idx全部错位，考虑提升代码的鲁棒性，根据token_to_idx建立idx_to_token字典是否更好?

[2021-06-23 06:06] ykkk2333 commented on #596
@ZeyuChen
下面是运行finetune的脚本
model_1000是pretrained后保存的模型

export CUDA_VISIBLE_DEVICES=0
  3 export TASK_NAME=SST-2
  4
  5 python3.7 -u ./run_glue.py \
  6     --model_type bert \
  7     --task_name $TASK_NAME \
  8     --max_seq_length 128 \
  9     --batch_size 64   \
 10     --learning_rate 2e-5 \
 11     --num_train_epochs 3 \
 12     --logging_steps 100 \
 13     --save_steps 500 \
 14     --u

[2021-06-23 06:11] guoshengCS commented on #596
您那边试下静态图下的[run_glue.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/bert/static/run_glue.py#L403)这里按照下面改下：

[code]

原始的静态图代码加载本地的模型好像确实会有些问题，这个我们尽快确认修复下。

[2021-06-23 06:19] guoshengCS commented on #596
您上面那个启动命令中的 `--model_name_or_path`还要使用原先的内置模型的名字，直接在上面`paddle.static.load`这里使用您本地保存的模型文件。当前静态图脚本中也不是使用的和`from_pretrained`对应的`save_pretrained`来保存的，直接`from_pretrained`传本地模型可能有些问题。也请 @wawltor  帮忙确认下这里

[2021-06-23 07:11] ZeyuChen commented on #456
Ernie-Gram模型已在2.0.2版本发布。

[2021-06-23 07:11] #456 closed, assigned to Steffy-zxf, yingyibiao

[2021-06-23 14:36] livingbody commented on #606
比如 有的分类，5 分类，1，2，3，4，5标签，我需要设置label的集合来映射，能不能自动映射，或者如同paddlex一样，生成label映射文件。

[2021-06-23 14:40] livingbody commented on #606
比如： https://aistudio.baidu.com/aistudio/projectdetail/2109882

[2021-06-24 01:25] ZhangQuentin opened #611 "训练ernie-1.0 和 ernie-tiny 出现 accu 忽高忽低，epoch 乱序"
eval loss: 0.66868, accu: 0.93750
global step 44110, epoch: 295, batch: 10, loss: 0.00000, accu: 0.99687, speed: 3.07 step/s
global step 44120, epoch: 295, batch: 20, loss: 0.01429, accu: 0.99609, speed: 5.78 step/s
global step 44130, epoch: 295, batch: 30, loss: 0.00000, accu: 0.99635, speed: 5.42 step/s
global step 44140, epoch: 295, batch: 40, loss: 0.00855, accu: 0.99687, speed: 5.91 step/s
ev

[2021-06-24 01:47] ZeyuChen commented on #611
@yingmuying 是否有完整的启动命令？

[2021-06-24 02:06] ZhangQuentin commented on #611
分别修改了 train.py model tokenizer 使用 ernie-tiny ernie-1.0, 其他设置数据集都一样
$ python -m paddle.distributed.launch --gpus "0" train.py --device gpu --save_dir ./checkpoints_ernie-tiny
$ python -m paddle.distributed.launch --gpus "1" train.py --device gpu --save_dir ./checkpoints_ernie-1.0

[2021-06-24 02:09] Steffy-zxf commented on #599
@BFJL 您好，感谢反馈！您是否方便提PR修复该问题呢？

[2021-06-24 02:17] AI-Mart opened #612 "load_dataset()内部格式加载本地数据出错"
load_dataset()内部格式加载本地数据出错
test_ds = load_dataset("cote", "dp", data_files='./data/COTE-BD/test.tsv')

[2021-06-24 02:37] Steffy-zxf commented on #611
@yingmuying 你好！
日志输出乱序，应该是使用分布式同时启动训练，但没有区分日志输出路径导致的。
在同一机器使用`paddle.distributed.launch`分布式训练时，不同进程请使用不同的`log_dir` 设置不同的日志输出路径，如
`python -m paddle.distributed.launch --gpus "0"  --log_dir "test_1" train.py --device gpu --save_dir ./checkpoints_ernie-tiny`
`python -m paddle.distributed.launch --gpus "1"  --log_dir "test_2" train.py --device gpu --save_dir ./checkpoints_ernie-1.0`

关于分布式训练可以参考文档：htt

[2021-06-24 03:07] fiyen opened #614 "强烈建议出一个动态batch_size的数据读取工具"
目前训练一般是针对固定batch_size进行的。而通过paddlenlp中的Pad等工具可以动态适应序列的最长长度，使每批数据的长度是动不一样的。而在批长度很小的情况下，固定的batch_size其实很大程度上浪费了GPU的资源，batch_size的设定其实是多次尝试中调节出来的，但是也不可能最大程度利用GPU。能否将批长度和batch_size的乘积作为一个可调的量来做一个动态batch_size的数据读取器。最大化利用GPU资源，加快训练速度，提高训练效果。

[2021-06-24 03:52] smallv0221 commented on #602
Dead code removed, Thank you!

[2021-06-24 05:12] #611 closed, assigned to Steffy-zxf

[2021-06-24 05:52] xzkzdx opened #616 "Windows10 CPU环境plato-mini运行不出结果直接退出没有报错信息"
- 版本、环境信息:
1）PaddleHub和PaddlePaddle版本：
     (hubchat) D:\paddle\hub_test>pip freeze |findstr pad
      paddle2onnx==0.6
      paddlehub==2.1.0
      paddlenlp==2.0.3
      paddlepaddle==2.0.2
2）系统环境：Windows10 Python3.7 使用workon hubchat 的虚拟环境pip install
- 复现代码：
# -*- coding: utf-8 -*-
# @File  : chat.py
# @Date  : 2021/6/23 16:54
# 交互模式
from collections import deque
import paddlehub as hub
import j

[2021-06-24 06:30] BFJL commented on #599
ok 已经提交PR [https://github.com/PaddlePaddle/PaddleNLP/pull/617](url)

[2021-06-24 07:03] smallv0221 commented on #612
Different splits in cote dataset has different format, and the split of loacl dataset will be set to train if you dont specify.
So the script should be `test_ds = load_dataset("cote", "dp", splits='test', data_files='./data/COTE-BD/test.tsv')` in this case.

[2021-06-24 07:08] AI-Mart commented on #612
以内置数据集格式读取本地数据集

有的时候，我们希望使用数据格式与内置数据集相同的本地数据替换某些内置数据集的数据（例如参加SQuAD竞赛，对训练数据进行了数据增强）。&nbsp;load_dataset()&nbsp;方法提供的&nbsp;data_files&nbsp;参数可以实现这个功能。以&nbsp;SQuAD&nbsp;为例。
&gt;&gt;&gt; from paddlenlp.datasets import load_dataset &gt;&gt;&gt; train_ds, dev_ds = load_dataset("squad", data_files=("my_train_file.json", "my_dev_file.json")) &gt;&gt;&gt; test_ds = load_dataset("squad", data_files="my_test

[2021-06-24 07:40] ZeyuChen commented on #614
Thanks for your feature request! 我们评估后答复您！ :)

[2021-06-24 07:40] ZeyuChen commented on #612
@smallv0221 We can upgrade our documents later. Issues solved.

[2021-06-24 07:40] #612 closed, assigned to smallv0221

[2021-06-24 07:56] yjmm10 opened #620 "PaddleNLP C++部署"
PaddleNLP之后会考虑C++部署吗，或者有没有参考资料可以学习的

[2021-06-24 07:57] ZeyuChen commented on #620
相关Demo正在开发中，会基于预训练模型提供相关C++高性能部署的示意，下个版本产出。

[2021-06-24 07:58] ZeyuChen commented on #614
@fiyen 你是否有在其他框架中看到这种功能？是否可以提供更多参考示例？
因为动态的大小会导致不同卡之间计算进度差距较大，不利于多卡的同步和梯度的稳定性，需要权衡下如何设计更妥当。

[2021-06-24 08:00] fiyen commented on #614
还没有在其他框架看到类似功能，只是一个初步的想法，未来会验证一下这样的做法的可行性。

[2021-06-24 08:04] ZeyuChen commented on #462
Issues solved

[2021-06-24 08:04] #462 closed, assigned to dyan-dy

[2021-06-24 08:05] ZeyuChen commented on #568
@lxsyz 是针对翻译场景的解码需求吗？

[2021-06-24 08:05] #602 closed, assigned to ZeyuChen

[2021-06-24 08:51] EquationPro opened #622 "ernie_matching部署方式？"
ernie_matching怎么部署，可以加入hubserving之类的部署方式吗

[2021-06-24 09:16] ZeyuChen commented on #622
TODO: 新增语义匹配和语义索引的部署文档

[2021-06-24 10:35] kobe24o opened #625 "ErnieGramForSequenceClassification 代码示例报错"
D:\ProgramData\Anaconda3\envs\pp21\Lib\site-packages\paddlenlp\transformers\ernie_gram\modeling.py

line 547 - 560

 Example:
        """

                import paddle
                from paddlenlp.transformers import ErnieGramForSequenceClassification, ErnieGramTokenizer

                tokenizer = ErnieGramTokenizer.from_pretrained('ernie-gram-zh')
                model = ErnieGramForSequence

[2021-06-24 15:13] caigao opened #627 "AttributeError: module 'paddlenlp.transformers' has no attribute 'ErnieGramTokenizer'"
运行：
import paddlenlp
tokenizer = paddlenlp.transformers.ErnieGramTokenizer.from_pretrained('ernie-gram-zh')

报错：
---------------------------------------------------------------------------AttributeError                            Traceback (most recent call last)<ipython-input-3-d653147d4caa> in <module>
      2 # 后续样本转换函数基于 tokenizer 对文本进行切分
      3
----> 4 tokenizer = paddlenlp.transformers.Erni

[2021-06-24 15:17] ZeyuChen commented on #627
请升级至最新版本2.0.3
pip install --upgrade paddlenlp

[2021-06-25 01:07] myboyliu opened #628 "关于一些具体建议"
1.希望可以把底层的api文档再完善一些，比如encoder,decoder，以便于复现一些论文
2.希望可以维护一个pytorch和paddle的api对照一览表，尽量全一些
3.错误日志能否准确一些，有时候datalaoder出的一些错误信息不好定位
4.能否增加使用梯度累加特性，进一步提高batch size

[2021-06-25 02:02] AI-Mart opened #629 "参照上面官方文档，加载本地数据，出现错误"
**以内置数据集格式读取本地数据集
有的时候，我们希望使用数据格式与内置数据集相同的本地数据替换某些内置数据集的数据（例如参加SQuAD竞赛，对训练数据进行了数据增强）。 load_dataset() 方法提供的 data_files 参数可以实现这个功能。以 SQuAD 为例。
from paddlenlp.datasets import load_dataset
train_ds, dev_ds = load_dataset("squad", data_files=("my_train_file.json", "my_dev_file.json"))
test_ds = load_dataset("squad", data_files="my_test_file.json")**

参照上面官方文档，加载本地数据，出现错误
dataset_name = "chnsenticorp"
t

[2021-06-25 02:22] LiuChiachi commented on #628
您好，我先回答其中两个问题吧，2.https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/08_api_mapping/pytorch_api_mapping_cn.html#pytorch-paddlepaddle-api
4.这个据我所知是已经有的功能，您可以多个batch之后更新参数、清空梯度实现提高batch_size。如果使用的是高层API的`hapi.Model.fit`来训练的话，下个版本也会新增梯度累加的特性。

[2021-06-25 02:25] myboyliu commented on #628
nice,paddle越来越强大了

[2021-06-25 02:53] Steffy-zxf commented on #625
@kobe24o 你好！感谢反馈！请按照以下代码示例尝试运行：
[code]

代码示例我们将会修正，再次感谢反馈！

[2021-06-25 02:57] kobe24o commented on #625
多谢大佬！

[2021-06-25 02:57] #625 closed, assigned to Steffy-zxf

[2021-06-25 03:41] AI-Mart opened #632 "paddle数据加载的一些建议"
paddle的案例已经足够丰富，要在业界落地最快的方式，就是把现有的数据集弄成和案列的数据集格式一致，然后本地加载，其他什么都不动直接开始训练，调参就好。尽量不要陷入内部底层的数据预处理中去，各种自定义数据读取，那样的话这些高阶的API集没意义了，大家还是没从数据中解放出来，花更多的时间去调参，模型比对，优化。
比如官方默认加载内置数据集
train_ds, dev_ds = load_dataset('chnsenticorp', splits=["train", "dev"])
换成本地的数据，按内置的格式加载应该如下所示只要添加一行data_files='./data/NLPCC14-SC/train.tsv就可以了，其他什么都不用动，可以完全兼容内置的方式训练，出结果，这样是最便捷的了，能把大家从繁琐的数据预处理中解放出来，花更多的时间去调参，模型比对，优化。目前情况是换成本地的文

[2021-06-25 03:48] ZHUI commented on #628
1. 文档目前的话，确实不太完善。我们也在按计划，持续完善文档中。 @yingyibiao 同学会持续跟进文档问题，可以反馈下哪些文档是比较急需的，我们可以调整优先级，完善文档。
2. 见上面回复
3. DataLoader报错的话，可以尝试打开export FLAGS_call_stack_level=2 ，查看更多报错信息。具体的case，可以单独提issue询问。
4. 同上回复。我下面给出一个简单的例子。 out.backward()产生梯度，如果不运行 optimizer.clear_grad()，梯度会默认累加之前的梯度值，实现梯度累计的效果。
[code]

[2021-06-25 04:55] smallv0221 commented on #629
I used the format of `chnsenticorp` to load NLPCC14-SC dataset as you did. The `load_dataset` func works well. It seems you got this exception from other part of your code.
![image](https://user-images.githubusercontent.com/33639025/123371543-8ceb6a00-d5b4-11eb-802c-e489664bdf31.png)

[2021-06-25 05:02] smallv0221 commented on #632
`train_ds, dev_ds = load_dataset('chnsenticorp', splits=["train", "dev"]， data_files='./data/NLPCC14-SC/train.tsv )`

Sorry the code above didn‘t work. Because that `splits` and 'data_flies' should one-to-one correspondence so that you can specify the format of each file. You can also use default format which is train by not setting `splits`.
The correct code should be `train_ds = load_dataset('ch

[2021-06-25 05:54] shoran-stone opened #633 "AI Studio易用性建议"
1.关于操作:
①对notebook界面放大进入编辑模式，光标指向位置错误，实际输入位置和当前光标所在位置不一。
②建议出一个类似pycharm的编辑工具集成在AI Studio平台。
2.关于代码：
①对于执行后更新参数再执行过程，会丢失执行结果重新执行；只能手动添加断点续训，没有连接上一次执行后参数自动执行操作，建议可以将其添加到代码上更便捷。
②对于分布式训练，建议设置一些代码的参数窗口，对于多卡并行操作更便捷。
希望paddle生态越来越大，代码封装越做越好。

[2021-06-25 06:01] shoran-stone opened #634 "一些建议"
1.关于操作:
①对notebook界面放大进入编辑模式，光标指向位置错误，实际输入位置和当前光标所在位置不一。
②建议出一个类似pycharm的编辑工具集成在AI Studio平台。
2.关于代码：
①对于执行后更新参数再执行过程，会丢失执行结果重新执行；只能手动添加断点续训，没有连接上一次执行后参数自动执行操作，建议可以将其添加到代码上更便捷。
②对于分布式训练，建议设置一些代码的参数窗口，对于多卡并行操作更便捷。
希望paddle生态越来越大，代码封装越做越好。

[2021-06-25 06:02] #634 closed, assigned to nobody

[2021-06-25 06:11] AI-Mart commented on #632
The correct code should be&nbsp;train_ds = load_dataset('chnsenticorp', splits="train"， data_files='./data/NLPCC14-SC/train.tsv )

我可能没描述清楚，这样是可以加载，但是启动训练报错了，我想要表达的是，数据一键加载，直接训练，后面不会报错。

报错
convert_example
text=example["text"], max_seq_len=max_seq_length)
TypeError: tuple indices must be integers or slices, not str
------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-06-25 06:13] AI-Mart commented on #629
是可以加载，但是启动训练直接报错，我想表达的是数据正确加载后，一键启动训练，不要出现其他的错误

PaddleNLP/examples/sentiment_analysis/skep/train_sentence.p
报错
convert_example
text=example["text"], max_seq_len=max_seq_length)
TypeError: tuple indices must be integers or slices, not str

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-06-25 07:42] rela0426 opened #635 "在用ai studio平台跑程序时，一直报错"
Ai studio：https://aistudio.baidu.com/studio/project/partial/verify/2122019/68278d531767461786dff5cf2dd64413

我的代码在ai studio平台运行时，执行到bash run_duee_1.sh trigger_train语句时一直报错。之前训练集为中文时没问题，我换了其他语言的数据集进行训练，就出错了。报错信息如下：
[code]
求帮忙～多谢～

[2021-06-25 07:55] ZeyuChen opened #636 "下载器显示的下载单位不对，应该是KB/s或者MB/s，但显示的是it/s"

[2021-06-25 08:34] smallv0221 commented on #629
I changed train dataset as you did and blocked all the dev code. Didn't see your exception in `convert_example`.
![image](https://user-images.githubusercontent.com/33639025/123395681-0eea8b80-d5d3-11eb-94e3-00cf3f5023d7.png)
![image](https://user-images.githubusercontent.com/33639025/123395706-190c8a00-d5d3-11eb-906a-eb4796c92ad2.png)
![image](https://user-images.githubusercontent.com/33639025/123

[2021-06-25 08:37] AI-Mart commented on #629
我，没有屏蔽dev code，而是把 train_ds 直接赋值给dev_ds了，测试下能否跑通

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月25日(星期五) 下午4:34
***@***.***&gt

[2021-06-25 08:50] smallv0221 commented on #629
My guess is that you used code like `dev_ds=train_ds`, which is a copy instead of deepcopy. So there is only one dataset in memory with two names `train_ds` and `dev_ds`. When the program start to process `dev_ds`, it is actually processing `train_ds` again. That is why `convert_example` raise a exception since the data inside has already changed. The code below works fine.

![image](https://user-

[2021-06-25 08:56] AI-Mart commented on #629
好吧，确实是这样的，应该要深拷贝不能直接赋值，疏忽了，那就是支持的，paddle干得漂亮，希望越来越火越来越完善！
开发手册一定要越详细越好啊，多举一些例子。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6

[2021-06-25 09:36] smallv0221 commented on #629
Thanks! We will do our best.

[2021-06-25 11:17] kobe24o opened #638 "单机双卡GPU训练4000多步后报线程错误"
（省略）
训练步数 4570, epoch: 457, batch: 10, loss: 0.70770, acc: 0.50299, speed: 0.87 step/s
训练步数 4580, epoch: 458, batch: 10, loss: 0.71046, acc: 0.49281, speed: 0.86 step/s

Traceback (most recent call last):
  File "TeachingPlanModel_ErnieGram.py", line 270, in <module>
    model.fit()
  File "TeachingPlanModel_ErnieGram.py", line 133, in fit
    for step, batch in enumerate(train_data_loader, start=

[2021-06-25 13:07] LiuChiachi commented on #638
您好，可以提供更详细的报错信息吗，比如多卡运行时log/worklog.0和worklog.1里的日志。或者可以提供更多的代码吗，比如fit里传入的训练数据以及它的定义，谢谢~
另外比较好奇的问题是，为什么训练步数 4580时 acc才0.5左右呢？

[2021-06-25 13:15] chenyu-2020 opened #640 "机器同传平台测试结果"
按照磊子老师的指导本地实现了机器同传的demo：

[https://github.com/chenyu-2020/PaddleNLP/blob/develop/%E5%90%8C%E4%BC%A01.png](url)

[https://github.com/chenyu-2020/PaddleNLP/blob/develop/%E5%90%8C%E4%BC%A02.png](url)

请老师看看是否有用。

[2021-06-25 14:16] qiningli opened #642 "msra ner数据集test.tsv的句子切分貌似和原数据集不一样"
很多句子切分和原数据集不一样，一般不影响NER任务，但主要是有很多句变成一句的，比如第三句有300多个字，后面还有两千多字一句的，直接做预测就截断了，用来和论文结果比较还需要自己预处理。

[2021-06-25 17:57] libertatis opened #643 "关于tokenizer_utils模块中PretrainedTokenizer类的save_vocabulary方法中的一行代码的疑问"
老师，您好！当我在模型评估后，保存`tokenizer`时，出现了如下异常：
[code]
问题出现在`save_vocabulary`方法保存词汇表的时候，在`f.write(token + '\n')`时，说，`+` 运算符不支持‘int’和‘str’相加，就是说`token`的类型时`int`。正常情况下，保存词汇表时，这里的 `token` 应该是 `str` 类型才对。于是我到`tokenizer_utils.py`中看了一下 `save_vocabulary` 方法的定义：
[code]
其中，我发现 `tokens = vocab.idx_to_token`，也就是说，这里的 `tokens`是 `idx` 到 `token` 的映射/字典，所以在保存词汇表写入文件的那块儿代码 `for token in tokens: f.write(token + '\n')` 中，`t

[2021-06-26 03:45] zhouZhouYUI opened #644 "关于自定义数据集以自定义类方式加载的调用建议"
在参加PaddleNLP课程比赛中需要使用数据集如 ：观点抽取比赛中

`train_ds, test_ds = load_dataset('cote', 'dp', splits=["train", "test"])`

但是官方要求加载的数据集 'cote', 'bd' 和  'cote', 'mfw'  不在默认数据集类中，为了复用标注任务同等格式数据集的数据读取 label生成等功能，笔者对官方数据集中Cote进行继承， 加入了bd，mfw数据集，但是在使用的过程中，发现load_dataset只能支持 函数或字符串 进行加载使用，而且通过字符串加载的类必须是在paddlenlp.datasets 数据集下，**那为什么load_dataset方法不能直接接收类进行初始化呢?**

[code]

希望官方能够通过类来创建数据集，增加API易用性，谢谢。

[2021-06-26 08:06] kobe24o commented on #638
可以的，关于训练 acc 0.5 ，我只输入例如400条自己的训练数据。是不是训练数据太少了。
然后代码之类的还有日志我怎么发给您？

[2021-06-26 13:30] kobe24o commented on #638
代码：
[code]
workerlog.0：
[code]

workerlog.1：
[code]

endpoints.log
[code]

启动命令 python -m paddle.distributed.launch --gpus '0,1'  TeachingPlanModel_ErnieGram.py  &

[2021-06-26 13:38] kobe24o commented on #638
worker0 最后的acc 是 0.73， worker1 最后的acc 却是0.46 ？ 很奇怪啊！

[2021-06-26 14:53] psile opened #647 "关于适合新手入门的一些建议"
或许可以效防Google Cloab的模式，在百度上搜索关键字，出现相关API文档及相关案例，这样无疑会方便一些，也更好上手

[2021-06-27 02:39] guoshengCS commented on #643
感谢指出，这里确实存在些问题，带来不便还望见谅。已提交PR修复 #648 。

[2021-06-27 03:59] #643 closed, assigned to nobody

[2021-06-27 04:24] kobe24o commented on #638
单卡训练模式很多步以后也会出问题。

把上面代码的一行注释掉 # dist.init_parallel_env()  # 初始化并行环境
python xxx.py 启动训练

运行日志如下，最后报错了！

[code]

[2021-06-27 08:04] AI-Mart opened #649 "paddlenlp 2.0.4最新版本bug,升级版本记得测试没问题在发布哈"
运行 PaddleNLP/ examples / text_matching / ernie_matching / train_pointwise.py
报错
![image](https://user-images.githubusercontent.com/63343847/123537294-42f3b700-d761-11eb-906e-6affbd12e83b.png)

paddlenlp降级为2.0.3运行正常

[2021-06-27 09:35] Shuai-GAO opened #650 "AI Studio中Fork的项目如何挂载自定义数据集"
我想基于中英文本自动翻译系统这个公开的项目，挂载自己的数据集，做其他语言的翻译系统。但是发现Fork后无法设置数据集挂载。

于是我重新建立项目，挂载数据集后，又发现无法单独clone Transformer的目录。必须整个将PaddleNLP的repo clone下来，未免有点过于不方便。

希望之后能实现Fork的项目可以自定义设置数据集。

感谢。

[2021-06-27 12:48] ITerydh opened #651 "aistudio checkpoints文件夹打不开问题"
在进行情感分析的任务的时候，生成的checkpoints文件夹点击之后打不开，会弹窗（con`t read property 'length' of undefined），但是在终端使用命令ls是可以看到东西的,并且不影响后续使用，项目见https://aistudio.baidu.com/aistudio/projectdetail/2104045

[2021-06-27 13:37] ITerydh commented on #651
悟了，GT大佬说是，这个checkpoints单词被底层占用了，不过还是希望，声明一下，不然真的不知道是为啥出现这个情况。

[2021-06-27 14:45] livingbody opened #652 "快递单信息抽取本质是一个序列标注任务求解"
快递单信息抽取本质是一个序列标注任务，训练数据是按字标注的，为啥预测结果不按字标注？

[2021-06-27 15:49] libertatis commented on #643
啊！已经关了呀！昨晚还想写点儿自己的想法的，可是一直上不了Github，就去做实验了。昨晚经过泽裕老师的指点，我把paddlenlp的版本退回2.0.3就正常运行了。我开始猜想，在2.0.3版本，保存词汇表的时候，下面的 `if` 条件为假，
[code]
也就是说，`2.0.3` 版本中的这个 `vocab` 不是一个 `Vocab` 实例，而是一个字典，而到了 `2.0.4` 这个 `vocab` 是一个 `Vocab` 实例。可是我看了两个版本的源码，代码都是一样的呀！这个 `vocab` 就是一个 `Vocab` 实例呀？！百思不得其解！可能是我源码看得还不够深。虽然这个 issue 已经关闭了，但是还是恳请老师能够告知导致这个异常发生的真正原因。在下在此拜谢啦！感激不尽~

[2021-06-27 15:56] libertatis commented on #649
我也遇到了这种情况，该异常官方已经提交 `PR` 修复了。暂时先使用 `paddlenlp 2.0.3` 吧。如果你是在 `AIStudio` 运行，那行更新 `paddlenlp` 的代码可替换成 `pip install paddlenlp==2.0.3` 执行~

[2021-06-27 16:02] livingbody commented on #652
比如说训练集：
text_a	label
16620200077宣荣嗣甘肃省白银市会宁县河畔镇十字街金海超市西行50米	T-BT-IT-IT-IT-IT-IT-IT-IT-IT-IT-IP-BP-IP-IA1-BA1-IA1-IA2-BA2-IA2-IA3-BA3-IA3-IA4-BA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-IA4-I
13552664307姜骏炜云南省德宏傣族景颇族自治州盈江县平原镇蜜回路下段	T-BT-IT-IT-IT-IT-IT-IT-IT-IT-IT-IP-BP-I

[2021-06-27 16:39] libertatis commented on #652
预测完以后，后面不是得需要解码吗？比如你对‘广东省’进行标注，我们知道它是一个地名，对它进行标注，它的标签应该是'LOC'，你总不能标注'LOC-B LOC-I LOC-I' 或者'LOC-B LOC-I LOC-E'吧。如果我不事先知道你的编码方案，我怎么知道你这是啥呀。你在模型评估的时候，可以用这个计算它的准确率，召回率和F值，但是，预测完以后，你得告诉我哪个名词的命名实体类型是啥吧。就像你做抽取式阅读理解任务，预测完以后你不能只返回答案在文中的开始和结束位置，你得告诉用户答案是啥！预测阶段不光是计算模型在测试集上的评价指标如何，后续还有一个解码过程~

[2021-06-27 16:57] livingbody opened #653 "停词表stopwords是不是也可以合并进来？"
如题：停词表stopwords是不是也可以合并进来？

[2021-06-27 19:06] libertatis commented on #649
现在 `paddlenlp` 已经升级到 `2.0.5` 版本啦！这个 `bug` 官方已经修复啦！可以放心升级使用啦~

[2021-06-28 01:03] livingbody commented on #652
明白

[2021-06-28 01:03] #652 closed, assigned to nobody

[2021-06-28 01:21] livingbody opened #654 "序列标注模型运行出错"
https://aistudio.baidu.com/aistudio/projectdetail/2050392
大佬们，我训练的模型，预测的时候，第一行第一列，也就是说test数据集第一句话总是掉一个字，要哭死了，但是我找不到出错原因。。。。。。。。

[2021-06-28 01:27] #537 closed, assigned to nobody

[2021-06-28 01:27] livingbody commented on #537
嗯嗯，太漂亮了。其实当初想能做成高层Api那种，一句话启动训练，日志啥的，那就太牛了

[2021-06-28 01:29] livingbody commented on #650
觉得可以自己本地clone，然后单独压缩包上传所需部分

[2021-06-28 01:52] guoshengCS commented on #643
两个版本vocab都是Vocab的实例，只是vocab中的idx_to_token结构在2.0.4中有修改， #617 中改成了dict

[2021-06-28 02:30] wawltor commented on #633
您好，谢谢您对PaddlePaddle的支持！
1. 操作问题主要看起来是在AI Studio， 我们来反馈给AI Studio进行优化。
2. 断点续跑这块确实是个强需求，我们内部讨论一下断点续跑的方案，等有方案后我们反馈给您。
3. 您说的 "建议设置一些代码的参数窗"，没有太明白其中的含义，麻烦详细说明一下了。

@ shoran-stone

[2021-06-28 02:49] wawltor commented on #653
您好，能不能提供一下具体的使用场景或者任务了？

[2021-06-28 03:10] Steffy-zxf commented on #642
@qiningli 你好！你指的`原数据集` 有数据集链接吗？

[2021-06-28 03:11] livingbody commented on #653
比如我要做词频统计，画画词云啥的。

[2021-06-28 03:17] joey12300 commented on #654
你好，可以先看看输出的logits，len是否符合预期，再调试parse_decodes是否遗漏了部分token的解码

[2021-06-28 03:44] libertatis commented on #578
这是notebook的问题，你不主动关闭服务，除非运行出错，它是不会释放资源的。所以特别讨厌实验有师弟师妹用开notebook做实验！嗯，你可以把代码改一下，把训练和预测分开。训练结束后，重启AIStudio，再进行预测~

[2021-06-28 03:47] Steffy-zxf commented on #635
@rela0426 你好！经过调试，发现是label在转id的时候出错，原因是，在读入tag_path文件的时候，没有去掉末尾的空格符号。可以去掉tag_path文件每行末尾的空格符。BTW，可以通过设置export FLAGS_call_stack_level=2打开出错信息堆栈显示。

另外发现目前crf的用法不是最新的用法，最新用法参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/waybill_ie/run_ernie_crf.py
使用CRF时，对label进行padding处理的时候，不要用负值进行padding，用label中的’O‘ tag padding，参考：https://github.com/PaddlePaddle/PaddleNLP/

[2021-06-28 03:48] wawltor commented on #653
您好，意思是说能提供一份通用的停用词表到paddlenlp？

[2021-06-28 04:01] ZeyuChen commented on #649
可以通过`pip install --upgrade paddlenlp`升级到2.0.5版本解决2.0.4引入的问题。感谢反馈！@AI-Mart @libertatis

[2021-06-28 04:01] #649 closed, assigned to ZeyuChen

[2021-06-28 04:02] ZeyuChen commented on #651
@ITerydh 是否可以升级到最新的2.0.5版本后重新运行下试试，然后可否发更详细的错误日志出来？具体到哪行代码？

[2021-06-28 04:05] ITerydh commented on #651
没有，不是代码问题，就是这个词被占用了吧，运行项目后，生成checkpoints这个文件夹之后，点击checkpoints这个文件夹，就会弹窗（con`t read property 'length' of undefined），然后我用的是AIstudio的paddle环境的2.0.2

[2021-06-28 04:06] ITerydh commented on #651
这个问题不影响代码的流程，就是单纯的点击之后无法打开文件夹了，只能去终端用linux命令查看这个文件夹的详情。

[2021-06-28 04:47] chenxiaozeng commented on #650
您好，AI Studio上可以在项目中，启动环境前，点修改，挂数据集

[2021-06-28 04:48] chenxiaozeng commented on #647
感谢您的建议！我们后续会将API文档和案例同步到飞桨官网上，便于检索：https://www.paddlepaddle.org.cn/

[2021-06-28 04:54] chenxiaozeng commented on #640
非常好！可以把搭建demo的心得在论坛上分享出来哦~https://aistudio.baidu.com/paddle/forum/topic/list?boardId=222

[2021-06-28 04:54] ITerydh commented on #651
![错误图片](https://github.com/ITerydh/PaddleNLP-emotion-analysis/blob/main/QQ%E5%9B%BE%E7%89%8720210628125210.png)

[2021-06-28 05:09] livingbody commented on #654
发现只要带 “-” 的都少一个，奇怪，decodes看起来也淡淡无奇的样子。。。。。。
[code]

[2021-06-28 05:09] livingbody commented on #654
···
def parse_decodes(ds, decodes, lens, label_vocab):
    decodes = [x for batch in decodes for x in batch]
    lens = [x for batch in lens for x in batch]
    id_label = dict(zip(label_vocab.values(), label_vocab.keys()))
    tags=[]
    outputs = []
    for idx, end in enumerate(lens):
        sent = ds.data[idx][0][:end]
        tags = [id_label[x] for x in decodes[idx][1:end]]
        sent_ou

[2021-06-28 05:14] livingbody commented on #654
例如：
('朝阳区', 'district')('小关北里', 'district')('000-', 'road')('0', 'road')
('朝阳区', 'district')('惠新东街', 'district')('00', 'road')('号', 'road')
('朝阳区', 'district')('南磨房路', 'district')('与', 'road')('西大望路', 'road')('交口', 'O')('东南角', 'road')
第一条后面有个号，结果就少一个。。。。。。

[2021-06-28 05:19] #547 closed, assigned to tianxin1860

[2021-06-28 05:29] #438 closed, assigned to joey12300

[2021-06-28 05:49] #434 closed, assigned to Steffy-zxf

[2021-06-28 05:53] #377 closed, assigned to kinghuin

[2021-06-28 05:53] #277 closed, assigned to wawltor

[2021-06-28 05:55] #207 closed, assigned to smallv0221

[2021-06-28 06:01] chenxiaozeng commented on #589
您好，感谢您的建议！我们已反馈AI Studio同学，暂时建议您重启环境后运行。相关讨论 #578

[2021-06-28 06:02] ZeyuChen commented on #654
@livingbody 后续还是建议issues标题使用具体的错误类型或者应用场景作为标题，否则这样的问题很难被其他开发者接受。

[2021-06-28 06:05] chenxiaozeng commented on #585
You can also define DuReader dataset according to the doc: https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_self_defined.html

[2021-06-28 06:05] #585 closed, assigned to smallv0221

[2021-06-28 06:32] wawltor commented on #395
抱歉，因为动态图多核CPU的能力依赖于PaddlePaddle主框架，在最新的发版计划中目前还不会支持多核cpu。

[2021-06-28 07:11] qiningli commented on #642
你好，这里有个分词格式的：
https://github.com/buppt/ChineseNER/tree/master/data/MSRA
这里有个conll格式的：
https://drive.google.com/open?id=1mDKkc2-8e4wXAuAnGiZMHI59UgVbl1q4
这两份的测试集切分是一样的。

[2021-06-28 07:23] tom-tangqs opened #657 "LAC模型，增量训练自定义标签LABEL"
模型中只有，PER ORG LOC TIME四种实体类别，我希望在此基础上增加新的自定义标签，比如训练医疗数据集，存在疾病DISEASE，治疗TREATMENT，药物MEDICINE等实体标签，这种可以实现吗？

[2021-06-28 07:24] ZeyuChen commented on #657
可以的，只需要修改下CRF的标签数即可训练。

[2021-06-28 07:25] ZeyuChen commented on #657
更新一下tag.dict文件即可。
https://github.com/PaddlePaddle/PaddleNLP/blob/e9b3ac67c00cff028965a49a8042c89a0c64a281/examples/lexical_analysis/train.py#L77

[2021-06-28 07:35] tom-tangqs commented on #657
就是这个CRF的标签修改，在哪个位置呀，我没有找到呢

[2021-06-28 07:51] tom-tangqs commented on #657
谢谢解答，修改CRF的标签是在哪个文件？我没有找到呢

[2021-06-28 08:21] #657 closed, assigned to ZeyuChen

[2021-06-28 08:22] tom-tangqs opened #658 "LAC增量训练"
你好，我刚才询问关于LAC模型，增量训练自定义标签，修改CRF标签数这个操作是在哪个文件呢，我没有找到呢

[2021-06-28 08:28] wawltor commented on #658
<img width="470" alt="图片" src="https://user-images.githubusercontent.com/16698950/123604627-98959580-d82d-11eb-908f-1a61c4def2c7.png">
https://github.com/PaddlePaddle/PaddleNLP/blob/ccd3557f572bc8150e5f8c13392455a0b2889530/examples/lexical_analysis/train.py#L121

在训练代码中会根据label_vocab的大小自动设置标签数

[2021-06-28 08:32] livingbody commented on #653
嗯嗯，合适不，这个放进来，

[2021-06-28 08:33] livingbody commented on #654
后来认真检查，是遇到“-“这个符号，就会少一个字。。。。。。。

[2021-06-28 08:33] livingbody commented on #654
但是不清楚为啥，代码看了好几遍

[2021-06-28 08:34] livingbody commented on #654
检查发现遇到”-“这个符号，就会出现丢字现象，是不是实体标注把”-“屏蔽了？

[2021-06-28 08:36] wawltor commented on #653
嗯嗯 我们内部讨论一下，有信息后续我们反馈给您 如果需要放进去的话，个人觉得通过一些全局变量方式呈现出来更好，而不是一个文件词表。

[2021-06-28 10:18] ZeyuChen opened #659 "WordTag新增一键预测API"

[2021-06-28 12:27] thunder95 opened #660 "使用文本生成训练的模型无法加载进行预测"
使用ernie-gen脚本训练好模型后，再次加载就会报错

raceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/framework/io.py", line 791, in load
    f, encoding='latin1')
_pickle.UnpicklingError: pickle data was truncated

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/conda/envs/python35-pad

[2021-06-28 15:35] livingbody commented on #654
全文搜索所使用的ernie-1.0中文模型所用到的https://paddlenlp.bj.bcebos.com/models/transformers/ernie/vocab.txt，里面没有“-”字符，是不是这个原因？
如果要用到该怎么做？手动改文件吗？

[2021-06-28 15:40] livingbody commented on #654
跟战歌有关吗？

[2021-06-28 15:40] livingbody commented on #654
和这个有关吗？

[2021-06-28 15:56] LXiaoMiao opened #661 "关于notebook中运行时某些情况是否可以添加输入框的建议"
- 问题背景：对于paddlenlp未内置的数据集需从千言数据集等下载，解压后存入./data目录
- 问题来源：如果notebook重启并重新运行下载该数据集。会出现类似“文件夹已存在，是否替换“的提示信息，但是无法进行选择。具体如下图：
- ![L` _Y{DU4W@(UCU3SUYJ5SB](https://user-images.githubusercontent.com/57809596/123666050-73c01300-d86b-11eb-80e1-7e9866605a98.png)
- 解决建议：是否可以像调用input时出现输入框。具体如下图:
- ![BIZMI%8V6IJQKY{S@)0 27J](https://user-images.githubusercontent.com/57809596/123666928-3c9e3180-d86c-11eb-94c0-

[2021-06-28 18:21] libertatis commented on #661
你把解压的命令改一下：
[code]
`-o` 覆盖已存在的文件且不要求用户确认。

[2021-06-28 18:50] libertatis commented on #654
这个问题出在测试集加载上，下面是你的测试集加载的代码：
[code]
你返回的 `words` 是一个字符串。而字符串直接交给 `tokenizer` 切分，它不一定是按照字符一个一个切分的。以测试集第一个样本为例：
[code]
输出 `encoded['input_ids']` 及其长度的结果为：
[code]
而 `input_ids` 包含了 `[CLS]` 和 `[SEP]` 的编码，所以 `text` 经过切词后，实际长度为 `11`。于是就出现了测试集句子长度和标签长度不一致的问题。
解决办法为，将测试集样本转化为字符列表，而非整个字符串交给 `tokenizer`去切分。
[code]

嗯，还有就是测试集不需要 `labels`，但是你可能需要那个 `id` ，尤其是当测试集中的 `id` 不是连续整数，而是一长串数字的时候，在将预测结果写入提交结果文件时需要~

[2021-06-28 20:47] libertatis commented on #643
非常谢谢老师的回复！原来问题是这么产生的呀！我看到保存词汇表的操作，官方的解决方法似乎是 `save_resources` 方法直接把缓存的 `vocab.txt` 文件直接拷贝到用户设置的保存目录下，而没有调用像之前那样调用 `save_vocabulary` 方法去保存词汇表。那这样做是出于什么样的考量呢？还有这个 `save_vocabulary` 方法以后是不是就废了？嗯，还有在看 `save_resources` 这个方法时，有一个属性 `self.init_config` ，我看注释说它是在 `metaclass`  里设置的，这个在哪儿能找到？我找了半天没找到。我不太了解 `metaclass`，可能还需要继续研究一下。最后再次感谢老师您的回复~

[2021-06-29 02:37] ZHUI commented on #660
您好，请问您的 Paddle 版本是？
加载的参数的paddle版本，跟训练使用的paddle版本是一致的吗？

[2021-06-29 02:49] thunder95 commented on #660
同一个版本,  在aistudio上运行的， 版本是2.1.0，我可以稍后再次确认一下

[2021-06-29 03:00] joey12300 commented on #654
@livingbody @libertatis
您好，对于纯中文而言，使用ErnieTokenizer可以按照字的粒度去切分，能满足正常的序列标注任务。而对于包含数字、英文的语料，则需要先使用特殊字符（如`\002`）去分割每个Token，然后再使用ErnieTokenizer去切分。

如“朝阳区小关北里000-0号”，可先用`\002`分割每个token，变为“朝\002阳\002区\002小\002关\002北\002里\0020\0020\0020\002-\0020\002号”，然后使用tokenizer切分。

序列标注任务可以参考MSAR NER任务：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/msra_ner
其中，有关tokenizer的用法可

[2021-06-29 03:31] tom-tangqs opened #662 "LAC自定义标签训练"
LAC模型识别实体，增加一些新的标签LABEL，更新tag.dic，从重新开始训练了吗，不能使用预训练模型接着训练吗？
重新训练的数据集格式是PER-B  PER-I
增量训练的数据集格式是 姚明/PER
所以新增标签的训练方式要使用哪一种呢？

[2021-06-29 03:41] smallv0221 commented on #644
In PaddleNLP, There are many ways to initialize a dataset other than using `load_dataset`. Please see https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_self_defined.html for more information.
Since you have found the class `Cote` in cote.py, why dont you just add your code to cote.py then you can use `load_dataset('cote', 'mfw', splits=["train", "test"])` to load your own dataset. Fu

[2021-06-29 03:58] libertatis commented on #654
老师您的意思是，需要先对测试集进行预处理吗？比如，先把测试集中的每个样本按字符 `\002` 分割，如：
[code]
然后再重新保存到测试集文件中，加载数据集的时候，每个样本再按照 `\002` 分割：
[code]
请问，老师您是这个意思吗？

[2021-06-29 03:59] Steffy-zxf commented on #642
你好！使用`paddlenlp.datasets.load_dataset("msra_ner", splits=['train', 'test'])`接口返回的数据是原始数据。不清楚上面提到的

是什么意思？

另外，PaddleNLP内置的MSRA-NER原始数据集参考：https://github.com/OYE93/Chinese-NLP-Corpus/tree/master/NER/MSRA

不太清楚上述提到的数据：

https://github.com/buppt/ChineseNER/tree/master/data/MSRA
这里有个conll格式的：
https://drive.google.com/open?id=1mDKkc2-8e4wXAuAnGiZMHI59UgVbl1q4
这两份的测试集切分是一样的。

[2021-06-29 04:03] ZHUI commented on #660
建议下载model_state.pdparams到本地试一下，或者再重新checkpoint试一下。保证paddle版本一致。看报错像是文件解析错误了，可能跟版本会有一些关系。
方便的话，可以给一个 model_state.pdparams 的下载链接，我们这边也试一下

[2021-06-29 04:08] joey12300 commented on #654
@libertatis 是的，切分完后还得用tokenizer处理一下。
[code]

[2021-06-29 04:21] libertatis commented on #654
那预先使用特殊字符 `\002` 分割每个 `token`，保存起来，加载数据集时，再对每个样本使用 `\002` 分割:
[code]
这样做的好处是什么呢？如果我并不对测试集预处理，而在加载数据集时，直接把样本字符串转化为一个字符列表：
[code]
这两种方式最终得到的 `words` 是一样的呀？也就是说送给 `tokenizer` 的输入是一样的呀？那为什么还要预先对样本使用 `\002` 分割预处理，这不是多此一举吗？嗯，这里面还有哪些是我没有考虑到的吗？烦请老师不吝赐教。谢谢啦~

[2021-06-29 04:37] livingbody commented on #654
谢谢各位大佬，我实践实践先，了解了问题所在了。

[2021-06-29 04:43] livingbody commented on #654
我在想各位老师是不打我一顿的心都有了

[2021-06-29 05:15] qiningli commented on #642
@Steffy-zxf 我自己检查了一下我引用的数据集，发现我描述的不准确：
关于第2个问题，其实我也不知道最原始的数据集是哪种，之前下载过另一份conll格式也没有dev set的，所用的句子切分也和上面两份一样，但是忘了哪里下载的了。只有paddle这份不一样，这份test里有85个后引号在下一句开头，我觉得不太像是原始版本：
![image](https://user-images.githubusercontent.com/24477979/123738371-43ae5980-d8d7-11eb-86c5-2b218d98f382.png)

关于第1个问题，句子长度这个我发现不是paddlenlp数据的问题，因为刚发现另一个版本也有2个长句子。最初提出这个问题是因为模型有截断，这个数据集经常要和论文数据比较，必须截成短句子，我看到paddle这份长句子特别多，以为是数据版本不对

[2021-06-29 07:47] zhouxiao-coder opened #664 "复现 FewCLUE 测试集结果"
首先，感谢开发者提供方便的 few shot [实验代码](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/few_shot)。

为了方便研究，能否提供下 FewCLUE  [benchmark](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/few_shot#benchmark) 复现的超参数？

[2021-06-29 08:47] crazydust opened #665 "torch模型转paddle时，paddle中没有对应方法"
总：torch.nn.Parameter()和torch.nn.ModuleDict()两个方法在paddle中无对应的。
1. torch中有Parameter()、ParameterList()、ParameterDict()三个方法，paddle中只有ParameterList()一个，现在想转第一个，不知道怎么转。
2. ModuleDict()在paddle中完全没对应的。

[2021-06-29 13:08] wawltor commented on #665
1. 如果想设置parameter的话，可以通过下面的方式来设置，通过set_value来设置，set_value的参数可以是numpy或者tensor
[code]

2. ModuleDict() 目前确实没有这个API，这个我们反馈给框架同学

[2021-06-30 02:34] joey12300 commented on #662
你好，可以提供部分的新增样例数据吗？并且您所指的重新训练是指在现有的lac数据集上训练后，再加数据以及数据标签，再开始训练吗？

[2021-06-30 02:40] tom-tangqs commented on #662
lac模型现有PER  LOC  ORG  TIME，我们希望增加一些实体的数据标签，比如新增加医疗数据，就会包含疾病DISEASE   药品MEDICINE等标签，这时候我们要更新tag.dic文件的标签，增加一些新标签，然后怎么训练呢，如果使用LAC的预训练模型，那输出的维度就不一样了

[2021-06-30 03:01] tianxin1860 commented on #664
小样本场景下的指标波动比较大，建议按照和我们一样的实验方式进行效果复现,  实验主要调整的超参为:
lr: (2E-5 5E-5 1E-4 5E-4),  bs:(8 16 32),  P-tuning 策略的 p-embedding-num:(1 8 16 32),  EFL 策略的 negative_num,
实验方式为: 对上述超参数进行组合实验，在多组 test_public 结果上取最高作为最终的评估指标. 建议按照这种方式进行复现，这样指标会相对稳定.

[2021-06-30 03:34] joey12300 commented on #662
@tom-tangqs
您的问题主要有两个：
1. 如何添加标签、数据样本。
2. 如何使用预训练模型对新增数据集继续训练。

### 添加标签、数据样本

首先，新增数据集标签必须要使用PER-B这样的格式。比如说你提供的新样本是`肝癌 DISEASE`，要处理成`肝\002癌 DISEASE-B\002DISEASE-I`。

### 训练方法
![image](https://user-images.githubusercontent.com/10826371/123897741-85520980-d996-11eb-989b-40d181d7b8b2.png)

上图为LAC任务中所用的BiGruCrf模型。对于lac任务，实际上是通过BiGRU模型抽取序列特征，再接入FC层和CRF层进行Token分类。与标签数相关的仅仅是FC层和CRF层，而Embedding层和BiGRU层**

[2021-06-30 05:20] thunder95 commented on #660
@ZHUI nlp和paddle都使用最新版本后 重新训练 就没出现这个问题了

[2021-06-30 05:20] #660 closed, assigned to ZHUI

[2021-06-30 05:26] guoshengCS commented on #638
这个报错主要是因为线程创建过多，目前的话每次eval中迭代读数据都会创建读数据的线程，这个线程好像没能及时关闭，您那边可以先试下降低eval的频率。

[2021-06-30 05:30] kobe24o commented on #638
好的，谢谢您，也希望你们尽快优化，再次感谢！

[2021-06-30 06:13] AI-Mart opened #669 "aistudio终端运行.sh文件 PaddleNLP/ examples / information_extraction / DuIE /报错,官方源码什么动没改"
![image](https://user-images.githubusercontent.com/63343847/123910410-fac8d480-d9ac-11eb-9e41-a74bab5daf1b.png)
![image](https://user-images.githubusercontent.com/63343847/123910473-0fa56800-d9ad-11eb-8c18-cf6ddd37ca39.png)
![image](https://user-images.githubusercontent.com/63343847/123910521-2350ce80-d9ad-11eb-8429-e358427f2a96.png)
![image](https://user-images.githubusercontent.com/63343847/1239

[2021-06-30 06:38] tom-tangqs commented on #662
这样我训练是通过examples\lexical_analysis\train.py进行训练吗？我加入新的数据标签后，运行train.py进行训练，这种就不是基于预训练模型进行的训练了。

基于预训练模型的流程介绍里，是加载的lac模型，进行的增量训练
![image](https://user-images.githubusercontent.com/51399899/123913195-81cb7c00-d9b0-11eb-9f52-e3de15944ab7.png)
它是加载预训练模型的fc_0.b_0等文件后继续训练

[2021-06-30 07:21] zhouxiao-coder commented on #664
谢谢回复，我尝试一下这批参数组合。

[2021-06-30 07:21] #664 closed, assigned to tianxin1860

[2021-06-30 07:24] bigvine2 commented on #662
我们看工程里面的训练都是直接加载全部预训练模型的参数，paddle可以有选择地加载预训练模型的指定层的参数吗？

[2021-06-30 07:29] tom-tangqs commented on #662
是啊，纠结的就是这个，如果不能选择性的加载指定层，我现在新增数据标签就用不了预训练模型了，只能修改标签然后从头训练了

[2021-06-30 09:14] joey12300 commented on #662
@tom-tangqs @bigvine2 理解两位意思了。如果是静态图的话，你的参数目录my_lac_model下，应该会有以crf和fc命名的对应的参数文件，删除后加载参数就不会把这两层加载进来了。如果是动态图的话，在使用paddle.load加载参数的state_dict后，把dict对应的crf和fc的items给删掉，就不会加载这两层的参数了。

[2021-06-30 09:14] kobe24o commented on #638
这个问题比较麻烦，在于我需要对数据流实时predict的时候，不是得频繁读取数据么，这个比 eval 频率还高，一会程序就挂了，这样我的model就没法干活了。。。
大佬，你们预计什么时候能修复这个bug，谢谢了！

[2021-06-30 12:50] Steffy-zxf commented on #669
你好！根据以上报错信息，看起来像是，命令当中的空格间距的问题，建议在aistudio平台上可以直接参考PaddleNLP官方关系抽项目：https://aistudio.baidu.com/aistudio/projectdetail/1639963

[2021-06-30 12:52] AI-Mart commented on #669
不是命令行的问题，是.sh文件的格式有问题不能是doc格式，github上的文件格式要调整下。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月30日(星期三) 晚上8:51
***@***.***&gt;

[2021-06-30 12:58] Steffy-zxf commented on #669
不明白doc格式是啥意思？

我在linux上执行没有问题。

[2021-06-30 12:59] AI-Mart commented on #669
https://blog.csdn.net/weixin_42903419/article/details/102842521

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月30日(星期三) 晚上8:58

[2021-06-30 13:05] Steffy-zxf commented on #669
你是指的dos文件格式吧。我这边看了train.sh文件是unix格式。

应该是你在windows下clone 的repo 文件，导致文件编码格式错误。

[2021-06-30 13:13] AI-Mart commented on #669
是的，最好规避下哦，windows很多人都使用

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月30日(星期三) 晚上9:05
***@***.***&gt;;
***@***.******@***.***

[2021-06-30 18:54] libertatis opened #672 "ERNIE-GEN自动写诗教程出现 AssertionError: only one element variable can be converted to float."
在运行项目[『NLP经典项目集』06： 使用预训练模型ERNIE-GEN自动写诗](https://aistudio.baidu.com/aistudio/projectdetail/1339888) 时，出现如下 `AssertionError` 断言错误：
[code]
经过一番 `bug` 排查，发现应该是 `paddle` 版本和 `paddlenlp` 版本不兼容所导致的字符串格式化问题。
该项目使用的 `paddle` 版本为 `2.0.2`，在 `AIStudio` 中执行更新 `paddlenlp` 得到的版本为 `2.0.5`。
经过测试，在 `paddle 2.0.2` 下，使用 `paddlenlp` `2.0.0` 和 `2.0.1` 两个版本，程序正常运行，而当 `paddlenlp` 的版本号 `>= 2.0.2` 时，则会出现上述 `AssertionErro

[2021-06-30 23:21] yanshuai19941224 opened #673 "ERNIE-GEN finetune报错(InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t."
![image](https://user-images.githubusercontent.com/48637582/124043105-4cbd3900-da45-11eb-8f1c-7432f0d015f4.png)
这该怎么解决啊

[2021-07-01 00:15] kobe24o commented on #638
最新测试，只训练，不 eval ，也会报错

[code]

[2021-07-01 01:56] chenyu-2020 commented on #640
已分享。谢谢老师鼓励！
https://aistudio.baidu.com/paddle/forum/topic/show/989124

[2021-07-01 02:12] dingsiyu commented on #896
你好，方便描述一下你的运行设置吗？我们这边复现一下

[2021-07-01 02:14] wawltor commented on #672
好的 我们尽快来修复这个问题

[2021-07-01 02:53] libertatis commented on #672
我还不知道这个bug产生的真正原因，官方查明原因，修复bug后，还望不吝告知~

[2021-07-01 03:02] tom-tangqs commented on #662
![image](https://user-images.githubusercontent.com/51399899/124058321-bcd6b980-da5b-11eb-90e2-d21e896eb111.png)
这样删掉crf和fc的文件吗？这样会报错
![image](https://user-images.githubusercontent.com/51399899/124058359-d1b34d00-da5b-11eb-84a4-8ce7424de09b.png)

[2021-07-01 03:54] ZHUI commented on #673
您好，刚刚在windows上调试了一下。应该是 windows 和 linux 上默认数据类型不一致导致的问题。可以修改下面一行，把输入显式转为int64类型。
https://github.com/PaddlePaddle/PaddleNLP/blob。/develop/examples/text_generation/ernie-gen/encode.py#L43
[code]

[2021-07-01 03:54] wawltor commented on #672
您好，我们已经在最新的教程中做了修复，辛苦使用最新的版本!

上面的问题，在于打印loss tensor的时候，需要对loss tensor进行单个元素float化，在paddle 2.0.2之前版本没有对tensor的元素个数进行判断，在2.0.2进行一个强制判断，判断tensor的元素个数是否为1，防止一些空tensor的情况。
在我们版本迭代过程中，没有对loss进行mean操作，导致loss的元素个数超过1，因此出现了上述的问题，修复的方式见下面的代码
[code]

感谢给我们反馈问题！欢迎给PaddleNLP贡献代码！

[2021-07-01 05:21] libertatis commented on #672
原来如此呀！非常感谢您的赐教！昨天晚上有一瞬间我有想过里面有个值是批量的，注意力光集中到下面的 `lr_scheduler` 去了，发现它不是一个批量值，就错误的转向字符串格式化上去了，从而忽略了那个 `loss`。嗯，真是受教啦，再次表示感谢~

[2021-07-01 06:04] #672 closed, assigned to wawltor

[2021-07-01 07:02] yanshuai19941224 commented on #673
非常感谢解答!终于跑起来了!

[2021-07-01 07:03] yanshuai19941224 commented on #673
非常感谢!终于跑起来了

[2021-07-01 07:32] wawltor commented on #662
您好，看起来你这个使用方式是用了百度开源LAC repo，和PaddleNLP有点差别。
上面使用的方式有点问题，在于load 模型那块，如果你想自定义标签训练的话，有两种方式
1）使用PaddleNLP的lac目录，直接重新利用自己的数据进行训练，这块是没有瓶颈。效果的好坏 在于你的训练数据是否足够
2）使用LAC，这块你可能需要去改一下LAC加载模型那块的逻辑，使用下面的warmup方式
[code]

[2021-07-01 07:35] kjf4096 opened #675 "Paddle2.0不支持 Intel 奔腾双核 E5700等老旧处理器"
Paddle1.x支持 Intel 奔腾双核 E5700等老旧处理器，但升级到2.0以后就不支持了。
发现老电脑可以安装2.0版本的paddle，但是import paddle就会出错，显示如下：
$ python
Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

WARNING: AVX is not support on your machine. Hence, no_avx core will be imported, It has much worse preformance than avx core

[2021-07-01 08:11] wawltor commented on #675
麻烦提供一下具体的PaddlePaddle的版本，目前最新的PaddlePaddle的版本已经是2.1.1，我们需要确定一下PaddlePaddle的版本来反馈一下问题

[2021-07-01 08:12] #673 closed, assigned to ZHUI

[2021-07-01 08:18] kjf4096 commented on #675
从2.0.0开始的所有版本，import paddle都会出错

[2021-07-01 08:25] wawltor commented on #675
收到 我反馈一下问题

[2021-07-01 08:34] wawltor commented on #675
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/pip/windows-pip.html  @kjf4096  可以尝试安装一下no_avx的包
<img width="966" alt="355a158c23a048cedaff8eed53e137a9" src="https://user-images.githubusercontent.com/16698950/124093122-21a90880-da8a-11eb-8a00-a0f8205e410a.png">

[2021-07-01 09:36] kjf4096 commented on #675
OK 安装成功了。
D:\Program Files\cmder_mini
$ pip install decorator==4.4.2
WARNING: Ignoring invalid distribution -addlepaddle (d:\program files\python\lib\site-packages)
WARNING: Ignoring invalid distribution -addlepaddle (d:\program files\python\lib\site-packages)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting decorator==4.4.2
  Downloading https://pypi.tuna.tsinghua.edu.cn/pa

[2021-07-01 09:52] wawltor commented on #675
OK  谢谢反馈问题！

[2021-07-01 11:43] LangDaoAI opened #677 "[急]本地加载chnsenticorp数据集， dev.tsv出现异常"
![image](https://user-images.githubusercontent.com/83859417/124118804-53c76400-daa4-11eb-93a0-c96da9b6a94f.png)

问题发生原因是qid在dev.tsv不存在，解析错误。请看一下

D:\Python\Python39\python.exe D:/VOC评估/PVoc/dataset_test.py
Traceback (most recent call last):
  File "D:\VOC评估\PVoc\dataset_test.py", line 7, in <module>
    dev_ds = load_dataset('chnsenticorp', splits="dev", data_files='./chnsenticorp/dev.tsv')
  File

[2021-07-01 11:44] LangDaoAI commented on #677
![image](https://user-images.githubusercontent.com/83859417/124119156-bc164580-daa4-11eb-8d20-d9682aadf94c.png)
请看一下

[2021-07-01 11:49] LangDaoAI commented on #677
![image](https://user-images.githubusercontent.com/83859417/124119680-62fae180-daa5-11eb-8041-5b83dbcb7f83.png)
临时把split做处理，换成train， 想问一下qid是啥？

[2021-07-01 12:07] LangDaoAI opened #678 "模型 skep_ernie_1.0_large_ch 哪里可以离线下载"
因为公司网络原因，想知道模型  skep_ernie_1.0_large_ch 哪里可以离线下载，然后本地加载模型，谢谢！

[2021-07-01 12:47] Steffy-zxf commented on #678
@LangDaoAI 你好！你可以在联网环境下下载skep_ernie_1.0_large_ch模型，然后找到$HOME/.paddlenlp/models/skep_ernie_1.0_large_ch/文件夹。然后把这个文件夹拷贝到 无网环境的 $HOME/.paddlenlp/models/路径下。这样就可以在无网环境加载SKEP模型了。

[2021-07-01 12:56] Steffy-zxf commented on #677
你好！你是否更换了chnsenticorp原始数据呢？PaddleNLP内置的chnsenticorp数据有qid字段。qid表示这个数据样本编号。

[2021-07-01 14:01] LangDaoAI commented on #678
感谢回复！想进一步确认一下，1 有没有公开的模型仓库下载，而不是通过程序API加载 2 这个本地模型存放的HOME目录能不能换成自定义目录，有例子吗，谢谢！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Steffy-zxf ***@***.***>
Sent: Thursday, July 1, 2021 8:47:54 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 模型 skep_ernie_1.0_large_ch 哪里可以离线下载 (#678)

[2021-07-01 14:02] LangDaoAI commented on #677
我明天上午再确认一下数据集的来源，谢谢

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Steffy-zxf ***@***.***>
Sent: Thursday, July 1, 2021 8:56:56 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] [急]本地加载chnsenticorp数据集， dev.tsv出现异常 (#677)

你好！你是否更换了chnsenticorp原始数据呢？PaddleNLP内置的chnsenticorp数据有qid字

[2021-07-02 00:52] #675 closed, assigned to wawltor

[2021-07-02 01:01] LangDaoAI commented on #677
早上好！ 我是从下图红框地址手动下载的
![image](https://user-images.githubusercontent.com/83859417/124205270-7e9cd100-db13-11eb-901b-a64224449ef1.png)

然后，dev.tsv的内容格式如下图，
![image](https://user-images.githubusercontent.com/83859417/124205355-adb34280-db13-11eb-86ec-cf8fc39dff06.png)

也就是说只有两列，而chnsenticorp.py中的split  'dev' 返回三个结果
![image](https://user-images.githubusercontent.com/83859417/124205421-c3c10300-db13-11e

[2021-07-02 01:04] LangDaoAI commented on #677
做了进一步确认， 代码里面URL是 "https://dataset-bj.cdn.bcebos.com/qianyan/ChnSentiCorp.zip"， 来自千言的， 而https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/sentiment_analysis/skep  readme里面的地址是https://ernie.bj.bcebos.com/task_data_zh.tgz，  问题就是数据集来源不一致，请更新readme， 谢谢！

[2021-07-02 01:10] thunder95 opened #679 "DuIE任务中 predicate2id.json数据是有什么脚本生成吗?"

[2021-07-02 01:30] LangDaoAI commented on #678
我刚刚调试完代码，发现/skep_ernie_1.0_large_ch 的地址是 https://paddlenlp.bj.bcebos.com/models/transformers/skep/skep_ernie_1.0_large_ch.pdparams

[2021-07-02 01:49] ares89 commented on #275
loss值为0，无法bp了

[2021-07-02 02:14] guoshengCS commented on #638
这个可能是和eval一样的原因，看这个epoch到1000+了，可能还是每次迭代数据都创建线程，但gc没有及时释放导致线程过多的问题。您可以先试下创建paddle.io.DataLoader时设置下num_workers=2换成多进程的数据读取（不过这个里面也可能会有一样的问题），或者试下使用ulimit改小下stack size。目前在排查中发现好像只是因为python gc没有及时回收这个数据迭代的对象，我们也还在继续排查中。

[2021-07-02 02:18] Steffy-zxf commented on #677
@LangDaoAI 感谢反馈！你可以通过以下代码加载chnsenticorp数据集

[code]

[2021-07-02 02:51] LangDaoAI commented on #677
是的，这个我知道，我是离线下载数据集，再本地加载， 所以才遇到这个问题了

[2021-07-02 02:55] LangDaoAI commented on #678
@Steffy-zxf 已经确认 SkepForSequenceClassification.from_pretrained 不能指定模型的加载目录，只能从$HOME/.paddlenlp/models/skep_ernie_1.0_large_ch/文件夹， 能不能追加一个模型目录的参数到这个API增加扩展性， 另外  SkepTokenizer.from_pretrained也是一样情况

[2021-07-02 03:26] bigvine2 commented on #662
您给出的加载方式和LAC repo里面的加载方式几乎一样，这样加载还是报一样的错啊

[2021-07-02 06:20] wawltor commented on #678
这个问题我们内部看看能不能支持一下

[2021-07-02 06:20] wawltor commented on #677
这个问题我们提个PR修复了一下，谢谢反馈问题！

[2021-07-02 06:25] kobe24o commented on #638
[code]
我把dataloader中加了参数，num_workers=2，原来没有。
现在报错更早了

[code]

[2021-07-02 06:29] bigvine2 commented on #662
我看了一下代码，模型加载的函数是这样的：
![图片](https://user-images.githubusercontent.com/44392161/124230239-5035ea80-db41-11eb-8bc5-8401fa8c9832.png)
真正从模型路径读取预训练模型参数的地方是用的create_paddle_predictor这个函数，这个函数来自from paddle.fluid.core import create_paddle_predictor，fluid.core的部分看不到create_paddle_predictor函数的代码，应该是来自dll，因此我们无法控制预训练模型的加载，是这样吗？

[2021-07-02 06:37] yanshuai19941224 opened #680 "ernie-gen finetune后的模型安装报错"
明明我已经打包好了呀，模型也在本地保存好了但是没办法hub install，求帮助
![image](https://user-images.githubusercontent.com/48637582/124231457-40bb9f00-db4b-11eb-8d6f-3e190b37aab3.png)

[2021-07-02 06:38] Steffy-zxf commented on #679
@thunder95 你好！这个文件是整个数据集的label文件。这个项目中有predicate2id.json文件，https://aistudio.baidu.com/aistudio/projectdetail/1639963

[2021-07-02 06:46] LangDaoAI commented on #677
Great!

[2021-07-02 06:52] LangDaoAI commented on #678
好的好的，感谢！

[2021-07-02 07:14] Steffy-zxf commented on #678
@LangDaoAI
1. skep_ernie_1.0_large_ch 预训练模型参数：https://paddlenlp.bj.bcebos.com/models/transformers/skep/skep_ernie_1.0_large_ch.pdparams
 skep_ernie_1.0_large_ch 词表：https://paddlenlp.bj.bcebos.com/models/transformers/skep/skep_ernie_1.0_large_ch.vocab.txt
2. 可以通过修改${PPNLP_HOME}环境变量，从而修改 通过paddlenlp接口下载保存文件路径。如 Linux环境下：
[code]
3.`from_pretrained()`接口加载模型，是通过`save_pretrained()`接口保存的模型参数、模型参数设置等。你可以暂

[2021-07-02 07:31] yanshuai19941224 commented on #680
![image](https://user-images.githubusercontent.com/48637582/124237682-bd9e4700-db52-11eb-8c7a-57b55854d963.png)
补一张打包的程序，之前finetune有成功显示 exported

[2021-07-02 07:31] LangDaoAI commented on #678
@Steffy-zxf 感谢提示！ 我的应用场景：公共舆情的情感分析  具体任务是：自定义数据集做情感分类， 模型基于预训练+微调， 模型我们自己后面可能会基于文心，roberta等自己设计， 所以模型HUB可能我们自己会搭建，也就是类似私仓， 那么模型的加载肯定就是自定义加载， 因此才会有以上关心的场景。

[2021-07-02 07:55] LangDaoAI opened #682 "关于from_pretrained方法加载模型的问题"
当通过以下方法加载模型时候，模型加载耗时有点慢，
model = SkepForSequenceClassification.from_pretrained(pretrained_model_name_or_path="skep_ernie_1.0_large_ch", num_classes=len(train_ds.label_list))

我在分析的时候发现主要是paddlenlp\transformers\model_utils.py中两个地方加载慢，1）和2）都会加载

1）base_model = cls.base_model_class(*base_args, **base_kwargs)
2）model = cls(*derived_args, **derived_kwargs)

![image](https://user-images.githubuserconten

[2021-07-02 08:10] YingZiqiang commented on #896
@dingsiyu 你好，我也遇到了相同的问题。
我的设置和原论文设置相同，使用脚本为scripts/run_dureader.sh，我把其中的对应dureader的设置换成了cmrc2018，其余基本不变，然后训练到100~200step时会报错图1。
通过将start_position和end_position的初始值从None替换为0可以解决上述问题，但是会出现和@lxww302相同的错误。
具体原因未找到，期待您的解答。
![image](https://user-images.githubusercontent.com/32240679/124248486-7b2a3980-db55-11eb-9da1-8c86f5166273.png)

[2021-07-02 08:15] KPatr1ck commented on #680
![image](https://user-images.githubusercontent.com/22954146/124243417-72833480-db50-11eb-8739-442227b28eb0.png)

你好，你的路径信息应该是不对的，当前目录下没有`ernie_gen_iro_notrio_creater`这个目录。
对应你截图的路径信息，你还需要`cd .paddlehub`再执行install的命令。

[2021-07-02 08:35] zifeiYv opened #683 "无法从paddlenlp.transformers导入ErnieGramForQuestionAnswering"
我在aistudio中按照说明运行`examples/machine_reading_comprehension/DuReader-robust/run_du.py`，报以下错误：
[code]
请问这是怎么回事。

[2021-07-02 08:55] wawltor commented on #683
麻烦提供一下aistudio中的paddlenlp 版本

[2021-07-02 09:07] wawltor commented on #677
https://github.com/PaddlePaddle/PaddleNLP/issues/677 已合入

[2021-07-02 09:15] LangDaoAI commented on #677
感谢！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: wawltor ***@***.***>
Sent: Friday, July 2, 2021 5:08:01 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] [急]本地加载chnsenticorp数据集， dev.tsv出现异常 (#677)

#677<https://github.com/PaddlePaddle/PaddleNLP/issues/677> 已合入

―
You are rece

[2021-07-02 09:45] yanshuai19941224 commented on #680
感谢感谢。。。是我疏忽了

[2021-07-02 16:41] livingbody commented on #654
各位大佬，比赛跑通了，接下来就是调优了。

[2021-07-03 02:59] libertatis commented on #683
`ernie-gram` 是 `PaddleNLP 2.0.2` 之后才支持的预训练模型。你先检查一下环境中的 `PaddleNLP` 的版本号是否高于 `2.0.2`。如果版本低于 `2.0.2`，请将 `PaddleNLP` 升级到最新版本。嗯，目前最新版的版本号是 `2.0.5`~ 。升级 `PaddleNLP` 的命令为:
[code]

[2021-07-03 05:31] Grant-Rk opened #685 "ai studio无法上传数据集"
![image](https://user-images.githubusercontent.com/75115024/124344004-7c657000-dc02-11eb-8853-f7f724ce6904.png)
数据集为CCKS2021中文地址任务

[2021-07-03 06:50] zifeiYv commented on #683
我的paddlenlp版本是2.0.1，升级后问题已解决。

[2021-07-03 06:50] zifeiYv commented on #683
已解决，感谢

[2021-07-03 06:50] #683 closed, assigned to wawltor

[2021-07-04 16:07] #661 closed, assigned to nobody

[2021-07-05 01:11] LangDaoAI commented on #682
想问一下team这个是问题吗

[2021-07-05 01:46] justiceeem opened #689 "LAC训练词重要性"
请问一下LAC如何增量训练词重要性呢？

[2021-07-05 01:59] wawltor commented on #689
不太理解您说的增量训练词重要性，辛苦解释一下了

[2021-07-05 02:06] justiceeem commented on #689
@wawltor 开源的[lac](https://github.com/baidu/lac)工具，里面提供了词法分析训练和分词训练但是没有词重要性训练的相关内容。所以想请教一下。

[2021-07-05 02:22] wawltor commented on #689
目前PaddleNLP这块确实没有设置词的重要性训练这块，您可以去LAC repo来问一下相关的开发者如何进行训练，我们也跟踪一下这个LAC 词重要性训练这个需求，有相关的调研结论我们会在这个issue回复您

[2021-07-05 02:24] wawltor commented on #689
@joey12300  辛苦调研一下 LAC有关词重要性的相关信息

[2021-07-05 02:35] justiceeem commented on #689
谢谢！！

[2021-07-05 03:11] #677 closed, assigned to Steffy-zxf

[2021-07-05 04:03] wawltor commented on #662
create_paddle_predictor 一般都是在预测的场景才会使用，前面您提到的是要做一个增量训练，感觉前后场景有点不太match了

[2021-07-05 08:27] bigvine2 commented on #662
感谢耐心答复，确实不需要预测部分的代码，将预测部分代码注释掉之后可以顺利训练了

[2021-07-05 09:58] LangDaoAI opened #690 "关于classifier.weight和classifier.bias warning"
在做skep情感分析时候，使用模型加载API ：
model = SkepForSequenceClassification.from_pretrained(pretrained_model_name_or_path="skep_ernie_1.0_large_ch", num_classes=len(train_ds.label_list))

 加载完skep_ernie_1.0_large_ch.pdparams后，出现了以下的两个警告，

![image](https://user-images.githubusercontent.com/83859417/124453585-19b6d480-ddba-11eb-9046-b9d2c375c941.png)

看了一下from_pretrained方法的参数， 可变参数中似乎可以指定weight和bias， 想问一下，

1 这两

[2021-07-05 10:59] wawltor commented on #690
1. 这两个警告对模型的效果没有影响
2. 不需要指定 这个finetune需要训练的参数

在SKEP模型底层依赖于的模型是ERNIE-Gram模型, 保存下来的ERNIE-Gram主要是预训练相关的参数，不会涉及下游finetune参数；classifier.weight和classifier.bias是finetune模型最后的分类器的参数，这个需要通过finetune后才能学习到，因此这两个参数不需要导入。

[2021-07-05 11:02] LangDaoAI commented on #690
感谢回复！

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: wawltor ***@***.***>
Sent: Monday, July 5, 2021 6:59:35 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 关于classifier.weight和classifier.bias warning (#690)

  1.  这两个警告对模型的效果没有影响
  2.  不需要指定 这个finetune需要训练的参数

在SKEP模型底层依赖于的模型

[2021-07-05 11:26] jaiminZhang opened #692 "plato-2 运行报错"
![image](https://user-images.githubusercontent.com/24643210/124464508-dadb4b80-ddc6-11eb-971c-d03d1ac3b2f1.png)
python3.6

[2021-07-05 13:16] #690 closed, assigned to wawltor

[2021-07-06 01:15] wawltor commented on #662
没事 应该的 后续对于这种长时间issue没有回复的话，可以新建一个issue 有时候确实可能遗漏了

[2021-07-06 01:16] #658 closed, assigned to wawltor

[2021-07-06 04:53] smallv0221 commented on #692
PLATO-2 needs python3.7+ to work. Sorry we didn't specify in the readme.

[2021-07-06 05:55] LangDaoAI opened #695 "关于预训练模型"
想问一下skep_ernie_2.0_large_ch还会加入到预训练模型库中吗， 还是说skep_ernie_2.0_large_ch相比skep_ernie_1.0_large_ch效果提升并不是很明显， 另外， 情感分析模型今天看到ernie 3.0直接可以做垂直任务，是不是后面要把ernie 3.0也加入进来， 希望得到team的回复， 感谢！

[2021-07-06 06:09] Steffy-zxf commented on #695
你好！目前ernie 2.0/3.0中文模型还未开源。如果后期开源，将会第一时间告知您，也请同时多多关注PaddleNLP更多中文模型开源信息！

[2021-07-06 06:19] LangDaoAI commented on #695
感谢您的回复！

[2021-07-06 06:19] #695 closed, assigned to Steffy-zxf

[2021-07-06 07:15] LangDaoAI opened #696 "关于Skep模型压缩"
想确认一下Skep模型压缩有示例吗，还是说参考https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/ofa 进行修改？谢谢！

[2021-07-06 07:17] jaiminZhang opened #697 "关于plato2 添加特征值多用户聊天"
Dear all.
现在想使用服务对外提供算力，每个用户在和机器人聊天的时候。机器人根据用户id记录用户属性。在之后的聊天中也能记住这些特征值。
我司在此方面有很强烈的需求，希望能达成一定的合作。
静候佳音。

[2021-07-06 07:17] LangDaoAI opened #698 "PaddleNLP训练好的模型如何部署到服务器"
类似问题https://aistudio.baidu.com/forum/topic/show/983531

推荐的做法请告知一下，谢谢！

[2021-07-06 07:20] LangDaoAI commented on #698
看到https://github.com/PaddlePaddle/PaddleNLP/issues/115 提到了3月份出高性能部署教程， 请告知一下教程地址

[2021-07-06 07:24] wawltor commented on #698
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/electra 您好，这里有个示例包含了动转静，以及最终部署的过程 可以参考这个看看

[2021-07-06 07:33] LangDaoAI commented on #698
感谢感谢！

[2021-07-06 07:33] LangDaoAI commented on #698
这个问题我先open一下， 一旦确认没有问题我将关闭。

[2021-07-06 07:54] Junshuai-Song opened #699 "【文本匹配】与【语义索引中文档匹配】是否可以合并？"
文本匹配：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/simnet
语义索引匹配：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing

感觉语义索引任务中，核心也是文本匹配?

[2021-07-06 07:55] LangDaoAI commented on #682
从训练角度看from_pretrained是能够忍受的， 刚刚看了一下服务端部署，推理的模型加载应该不会使用这个API， 不知道认识是否正确，所以线上部署的话应该不会遇到这个问题吧

[2021-07-06 08:11] wawltor commented on #682
您好，我简单回答一下这个问题。您的想法基本是没有错的，前面from_pretrained相对来说比较耗时，因此需要把较大模型参数load，同时分配给各个参数，但是这种load操作在线上只会有一次，之后预测服务不需要再次load模型了。

[2021-07-06 08:12] tianxin1860 commented on #699
语义索引要解决的核心问题是如何从海量 doc 中通过 ANN 索引的方式快速、准确地找出跟 query 的相关 doc，语义匹配要解决的核心问题是对 query、doc 更精细的语义匹配信息建模.

[2021-07-06 08:19] LiuChiachi commented on #696
您好，基于Skep模型的压缩示例目前没有直接提供，但是您可以对model_compression目录下现有的几个示例（包括ofa）进行修改，把bert改成skep进行实验~

[2021-07-06 08:22] LangDaoAI commented on #682
是的，感谢回复！

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: wawltor ***@***.***>
Sent: Tuesday, July 6, 2021 4:11:55 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 关于from_pretrained方法加载模型的问题 (#682)

从训练角度看from_pretrained是能够忍受的， 刚刚看了一下服务端部署，推理的模型加载应该不会使用这个API， 不知道认识是否正确，所以线上部署的话应该不

[2021-07-06 08:23] LangDaoAI commented on #696
嗯好的，我暂时先开着这个问题

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Jiaqi Liu ***@***.***>
Sent: Tuesday, July 6, 2021 4:19:49 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Author ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 关于Skep模型压缩 (#696)

您好，基于Skep模型的压缩示例目前没有直接提供，但是您可以对model_compression目录下现有的几个示例（包括ofa）进行修改，把bert改成skep进行实验~

―

[2021-07-06 08:41] Junshuai-Song commented on #699
先感谢这么高效的回复！

上述语义索引示例中提供了（1）前沿语义索引策略的训练、（2）语义索引模型的效果评估方案，两大部分内容。
我理解其中第（1）部分的核心是在考虑如何训练一个更好的语义文本匹配模型；第（2）部分则可以基于ANN构建索引进行快速检索。

这里第（1）部分介绍的语义文本匹配模型，和另一个链接给出的文本匹配模型有什么重点上的区别吗？换句话说另一个文本匹配链接中介绍的内容是不是也可以融入到语义索引的索引策略训练部分？

[2021-07-06 09:14] Junshuai-Song commented on #699
@tianxin1860

[2021-07-06 11:16] LangDaoAI opened #700 "是否有基于paddlenlp的 aspect-level sentiment analysis"
目前能够看到的使用paddlenlp都是面向极性判断的sentiment analysis，以及顶会中公开的aspect-level sentiment analysis很多基于pytorch， 是否有基于paddlenlp的 aspect-level sentiment analysis供参考， 或者说有这样的plan来基于paddlenlp来做三元组的情感分析，希望给与一些提示，谢谢！

[2021-07-06 11:43] Steffy-zxf commented on #700
你好！aspect-level sentiment analysis 可以参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/skep/train_aspect.py

[2021-07-06 11:48] portia1026 commented on #697
从描述看，PLATO 应该是可以支持这个需求。如果方便的话，请把联系方式发到我邮箱（baosiqi@baidu.com），后续我们相关同学会联系你。

[2021-07-06 12:54] LangDaoAI commented on #700
是的，几个任务都在https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/sentiment_analysis/skep， 感谢回复！

[2021-07-06 13:25] #700 closed, assigned to Steffy-zxf

[2021-07-06 14:28] #680 closed, assigned to KPatr1ck

[2021-07-06 14:30] wawltor commented on #659
一健预测的API 第一个版本 https://github.com/PaddlePaddle/PaddleNLP/pull/686

[2021-07-07 01:42] tianxin1860 commented on #699
这部分换个角度理解更容易一些: [语义索引](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing)是要解决搜索、推荐场景下的召回问题、而语义匹配是要解决排序问题，两者要解决的问题不同，所采用的方案会有很大不同，但也存在一些共通的技术点，可以互相借鉴.

[2021-07-07 01:43] tianxin1860 commented on #699
这部分换个角度理解更容易一些: [语义索引](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing)是要解决搜索、推荐场景下的召回问题、而语义匹配是要解决排序问题，两者要解决的问题不同，所采用的方案会有很大不同，但也存在一些共通的技术点，可以互相借鉴.

[2021-07-07 02:54] #699 closed, assigned to tianxin1860

[2021-07-07 02:54] Junshuai-Song commented on #699
thx!

[2021-07-07 05:21] wangcn99 opened #702 "Ernie训练自定义数据集时加入字典信息"
在利用Ernie训练自定义模型的时候
有额外的字典信息怎么加入vocab.txt

[2021-07-07 06:10] guoshengCS commented on #702
这里是希望使用额外的字典信息做什么呢，ERNIE这些预训练模型通常使用和预训练阶段一样的字典就可以了，另外直接使用ERNIE的tokenizer会按照字粒度来切分无法产生词。也有另一种方式可以使用这些字典信息，可以将数据中在词典信息中的词进行整体mask进行一个mask language model的二次预训练。

[2021-07-07 06:11] LangDaoAI opened #703 "关于max_seq_length"
Skep模型中max_seq_length默认设置512， 如果训练集中的句子的长度超过512, 目前是做截断处理的， transformer模型的一个问题就是序列长度对时间复杂度的影响，所以做截断是能够理解的，我想问一下的是，有没有其他模型（例如处理超长句子）可以使用，昨天看到了ernie-doc（https://github.com/PaddlePaddle/ERNIE/tree/repro/ernie-doc）可以处理超长文本，例如如下的一个超长句子：

荣耀手机在经过了差不多半年的休整，现在已开始陆续“出招”了！这次的新品是款非常非常轻薄的机型---荣耀Play5。这款机型很有些特点，有幸我提前体验了段时间，下面边看图赏边来聊聊这款荣耀的新机型。    轻薄直角质感｜  荣耀Play5我上手第一感觉就是轻，很轻很薄。采用的是玻璃材质背部直角边框，整体的质感还是挺可以的。我手上这台是

[2021-07-07 06:15] wangcn99 commented on #702
主要是针对医学方面有一些定义好的固定词语 我直觉上认为vocab通过添加这些固定词语作为额外的信息能够引入模型，提高模型的性能：）关于第二种方式有相关的例子或者API文档吗 指（另一种方式可以使用这些字典信息，可以将数据中在词典信息中的词进行整体mask进行一个mask language model的二次预训练。）

[2021-07-07 06:58] guoshengCS commented on #702
可以参考下这里 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/pretraining_data_prepare

[2021-07-07 07:57] LangDaoAI commented on #678
@Steffy-zxf 相关的一个新的问题：我基于skep_ernie_1.0_large_ch.pdparams在chnsenticorp数据集做了一次微调训练，然后保存训练后的模型为skep_ernie_1.0_large_ch_update1.pdparams，然后我拷贝skep_ernie_1.0_large_ch_update1.pdparams到$HOME/.paddlenlp/models/skep_ernie_1.0_large_ch/ 目录下面， 然后准备使用skep_ernie_1.0_large_ch_update1.pdparams做为新的预训练模型，在我新的数据集（我的业务相关数据集）上做二次微调训练，使用了如下API:

 model = SkepForSequenceClassification.from_pretrained(pretrained_model

[2021-07-07 09:25] guoshengCS commented on #703
ERNIE-DOC模型目前还在开发中 https://github.com/PaddlePaddle/PaddleNLP/pull/613 ，合入后我们在这里更新通知。当前已经集成的模型中XLNet和BigBird也可以试下

[2021-07-07 09:37] LangDaoAI commented on #703
Great News! 感谢回复！ 这个问题请保留一下， #613 merge后我将关闭这个issue。

[2021-07-07 11:29] chenxiaozeng commented on #678
您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱Paddle-better@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢啦！

[2021-07-07 11:30] chenxiaozeng commented on #678
@LangDaoAI 您好，根据你提出的需求，我们想进一步和您沟通下需求背景以及使用场景，以便更好得解答您的问题。这是我们的联系方式：邮箱Paddle-better@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下，谢谢啦！

[2021-07-07 13:40] LangDaoAI opened #705 "【急】【需要确认】visualDL使用无效"
visualDL已经安装，命令行我启动visualDL，结果看不到.\vdl_dir\scalar， 我是在CPU环境训练，训练正常结束。

d:\VOC评估\PVoc>python skep_sentiment_classification.py --use_vdl=true --vdl_log_dir=.\vdl_dir\scalar

![image](https://user-images.githubusercontent.com/83859417/124768931-a654c480-df6b-11eb-95cf-d9de1845bebc.png)

![image](https://user-images.githubusercontent.com/83859417/124769094-c84e4700-df6b-11eb-8182-ed74aa972998.png)

确认

[2021-07-07 13:53] LangDaoAI commented on #678
您好！你的邮件地址从我的公司发送失败，向以下收件人或组传递邮件失败:
dltp-pm@baidu.com
由于此组限定只接收经过身份验证的发件人所发送的邮件，无法传递你的邮件。如果问题仍然存在，请与你的电子邮件管理员联系。
dltp-core@baidu.com
由于此组限定只接收经过身份验证的发件人所发送的邮件，无法传递你的邮件。如果问题仍然存在，请与你的电子邮件管理员联系。

方便的话请加一下微信搜索13813896216， 谢谢！

[2021-07-08 02:02] LangDaoAI opened #707 "【咨询】是否有识别水军的模型示例"
场景： 识别出评论区中水军

是否有这样的模型或者paper或者相关示例，希望参考一下，谢谢！

[2021-07-08 02:31] Zjimily opened #709 "动态图转换为静态图后推理结果不一致"
**动态图模型推理结果：**
Data: 这个宾馆比较陈旧了，特价的房间也很一般。总体来说一般       Label: positive
Data: 怀着十分激动的心情放映，可是看着看着发现，在放映完毕后，出现一集米老鼠的动画片     Label: negative
Data: 作为老的四星酒店，房间依然很整洁，相当不错。机场接机服务很好，可以在车上办理入住手续，节省时间。   Label: positive
**静态图推理结果：**
Data: 这个宾馆比较陈旧了，特价的房间也很一般。总体来说一般       Label: positive
Data: 怀着十分激动的心情放映，可是看着看着发现，在放映完毕后，出现一集米老鼠的动画片     Label: positive
Data: 作为老的四星酒店，房间依然很整洁，相当不错。机场接机服务很好，可以在车上办理入住手续，节省时间。

[2021-07-08 02:38] Zjimily commented on #709
发现多次动态图转换为静态图模型后的推理结果也不一致，那我该如何选择合适的静态图模型呢

[2021-07-08 02:57] Steffy-zxf commented on #678
@LangDaoAI

model = SkepForSequenceClassification.from_pretrained(pretrained_model_name_or_path="skep_ernie_1.0_large_ch_update1",
num_classes=len(train_ds.label_list))
结果出现异常， 异常原因是skep_ernie_1.0_large_ch_update1不在预先设置的模型列表中， 解决方案就是我修改模型名字为skep_ernie_1.0_large_ch，然后应该没问题，但是总是希望能够直接加载而不是做替换名字覆盖操作，请看一下。

你好，你的模型参数是通过`save_pretrained()`接口保存的吗? 如果是的话，加载训练保存参数可以直接通过`from_pretrained('/path/to/your/save

[2021-07-08 03:26] LangDaoAI commented on #678
好的好的，我晚上修改确认一下

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Steffy-zxf ***@***.***>
Sent: Thursday, July 8, 2021 10:58:10 AM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 模型 skep_ernie_1.0_large_ch 哪里可以离线下载 (#678)

@LangDaoAI<https://github.com/LangDaoAI>

@Steffy-zxf<https:/

[2021-07-08 03:54] LangDaoAI commented on #705
这个能确认是否有问题吗

[2021-07-08 05:32] ZeyuChen commented on #705
@LangDaoAI 麻烦提供下错误信息？没看出来使用无效的地方在哪？

[2021-07-08 05:49] LangDaoAI commented on #705
就是没有看到错误信息，然后vdl目录也没有产生

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Zeyu Chen ***@***.***>
Sent: Thursday, July 8, 2021 1:33:05 PM
To: PaddlePaddle/PaddleNLP ***@***.***>
Cc: LangDaoAI ***@***.***>; Mention ***@***.***>
Subject: Re: [PaddlePaddle/PaddleNLP] 【急】【需要确认】visualDL使用无效 (#705)

@LangDaoAI<https://github.com/LangDaoAI> 麻烦提供下错误信息？没看出来使用无效的地方在哪？

―

[2021-07-08 06:00] LangDaoAI commented on #705
我想确认一下发起的命令是否正确，python skep_sentiment_classification.py --use_vdl=true --vdl_log_dir=.\vdl_dir\scalar

[2021-07-08 06:04] LangDaoAI opened #713 "请fix model_compression/tinybert/imgs/tinybert.png"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression/tinybert/imgs/tinybert.png 已经丢失，请修补一下

[2021-07-08 07:44] Steffy-zxf commented on #705
@LangDaoAI 你的训练代码脚本是否方便贴出来呢？参考的是哪里的实现呢？

[2021-07-08 08:02] FrostML commented on #713
麻烦 @LiuChiachi 看看

[2021-07-08 08:10] ZeyuChen commented on #713
Solve by #714 .
Thanks for your feedback @LangDaoAI

[2021-07-08 08:10] #713 closed, assigned to LiuChiachi

[2021-07-08 08:28] FrostML commented on #707
目前还没有这样的示例。

[2021-07-08 08:55] LangDaoAI commented on #707
好的，我关闭这个问题。

[2021-07-08 08:55] #707 closed, assigned to nobody

[2021-07-08 08:56] #682 closed, assigned to guoshengCS, yingyibiao

[2021-07-08 09:25] LangDaoAI opened #715 "关于cuda库的问题"
在申请的GPU上训练时，出现以下问题：

# python skep_sentiment_classification.py
{'text': '选择珠江花园的原因就是方便，有电动扶梯直接到达海边，周围餐馆、食廊、商场、超市、摊位一应俱全。酒店装修一般，但还算整洁。 泳池在大堂的屋顶，因此很小，不过女儿倒是喜欢。 包的早餐是西式的，还算丰富。 服务吗，一般', 'label': 1, 'qid': ''}
{'text': '<荐书> 推荐所有喜欢<红楼>的红迷们一定要收藏这本书,要知道当年我听说这本书的时候花很长时间去图书馆找和借都没能如愿,所以这次一看到当当有,马上买了,红迷们也要记得备货哦!', 'label': 1, 'qid': '1'}
{'text': '这个宾馆比较陈旧了，特价的房间也很一般。总体来说一般', 'label': '', 'qid': '0'}
9600
12

[2021-07-08 09:44] Steffy-zxf commented on #709
你好！请问你是怎么转换的静态图模型呢？转换成静态图模型的时候是否加载对了想要的动态图模型参数呢？

[2021-07-08 09:47] Steffy-zxf commented on #705
经线下沟通发现，`skep_sentiment_classification.py`训练脚本未使用vdl接口记录日志数据，导致vdl使用无效。

[2021-07-08 09:50] LangDaoAI commented on #715
我这边主要是运行在容器中，容器镜像预设的是基于pytorch， 所以cuda和cudnn虽然有，但是共享库libcudnn.so确没有， 我在尝试下载安装，同时，paddle最新版本自己有没有镜像我们可以下载内含这些依赖，谢谢！

[2021-07-08 10:17] hl123-123 opened #716 "想问下这个self-attention这个多头注意力最后这个out_reshape后形状不应该是 [batch_size,词语数量，多头*词向量]那么为什么这个out_obj输入的是embedding 而不是embedding*多头数呢"
https://github.com/PaddlePaddle/PaddleNLP/blob/7c76b2f61191b8706802430b2fabf5a8a84c475b/paddlenlp/transformers/gpt/modeling.py#L251
https://github.com/PaddlePaddle/PaddleNLP/blob/7c76b2f61191b8706802430b2fabf5a8a84c475b/paddlenlp/transformers/gpt/modeling.py#L254
            self.out_proj = nn.Linear(
                embed_dim, embed_dim, weight_attr, bias_attr=bias_attr)

[2021-07-08 10:27] hl123-123 opened #717 "想问下这个dropout相加是什么思想，我们一般dropout不是用来增加神经网络各个部分能力的吗"
https://github.com/PaddlePaddle/PaddleNLP/blob/7c76b2f61191b8706802430b2fabf5a8a84c475b/paddlenlp/transformers/gpt/modeling.py#L426
        residual = tgt

        if self.normalize_before:
            tgt = self.norm1(tgt)

        if use_cache is False:
            tgt = self.self_attn(tgt, tgt, tgt, tgt_mask, use_cache, cache)
        else:
            tgt, incremental_cache = self.self_attn(tg

[2021-07-08 11:06] FrostML commented on #715
Paddle 这里的镜像可以在这里找到 [DockerHub](https://hub.docker.com/r/paddlepaddle/paddle/tags/?page=1&ordering=last_updated)

[2021-07-08 11:29] LangDaoAI commented on #715
嗯嗯，感谢！

[2021-07-08 11:29] #715 closed, assigned to nobody

[2021-07-08 13:07] FrostML commented on #716
理论上，out 的 shape 应该是 `[batch size, sequence length, num_head * size_per_head]`，然后这里的 `num_head * size_per_head == hidden_dim` 这里应该可以视作是 `embed_dim`。

[2021-07-08 13:21] FrostML commented on #717
`self_attn` 计算完成之后，过一层 dropout，然后加上的是一个 residual 残差单元。

[2021-07-08 13:30] hl123-123 commented on #716
self.head_dim = embed_dim // num_heads
i know .thank you very much

[2021-07-09 01:12] Zjimily commented on #709
python export_model.py --model_name="skep_ernie_1.0_large_ch" --params_path=./checkpoint/model_900/model_state.pdparams --output_path=./static_graph_params
这样转换的

[2021-07-09 01:20] #716 closed, assigned to nobody

[2021-07-09 02:47] Steffy-zxf commented on #709
我这边再次确认，确定动态图和静态图预测推理结果是一致的。麻烦再尝试重新导出模型，预测。参考文档说明：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/skep/README.md

**注意**：导出模型时，确认加载的模型参数和动态图预测模型参数是否一致。

[2021-07-09 05:37] hl123-123 commented on #717
thank you

[2021-07-09 06:21] Zjimily commented on #709
那好奇怪，我又测试下，确实是不一致。
导出模型的参数model_name，params_path和output_path，预测参数：model_name model_file params_file 和batch_size都指定了，相同参数是一致的

[2021-07-09 07:16] AI-Mart opened #719 "PaddleNLP/ examples / dialogue / unified_transformer / infer.py 在win10,py3.7，paddle相关包都是最新版本，运行报错，原始官方代码"
ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int64_t, but desires to be int.
  [Hint: Expected valid == true, but received valid:0 != true:1.] (at C:\home\workspace\Paddle_release\paddle/fluid/framework/tensor_impl.h:33)
  [operator < concat > error]

[2021-07-09 08:24] #717 closed, assigned to FrostML

[2021-07-09 08:29] Steffy-zxf commented on #709
@Zjimily 是否可以给出复现环境（paddle和paddlenlp版本）和复现代码呢，我复现看看问题？

[2021-07-09 08:59] LiuChiachi commented on #719
已在 #721 中解决，您可以拉取最新的代码再次尝试。十分感谢提出建议~

[2021-07-09 09:05] smallv0221 commented on #719
Sorry for the inconvenience. This bug is caused by `np.asarray()`. This func generates int32 by default in win32.
We fixed this in #721

[2021-07-09 09:27] AI-Mart commented on #719
还是不行，最好验证下再发布哈

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月9日(星期五) 下午5:05
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2021-07-09 10:24] smallv0221 commented on #719
I have tested this on a win32. Did you fetch the newest code in `example/`? And still the same exception?

[2021-07-09 15:31] ZeqiangWangAI opened #722 "Bert+CRF GPU内核启动失败"
版本信息
paddlehub              2.0.4
paddlenlp              2.0.1
paddlepaddle-gpu       2.1.0.post101
错误问题：
在Bert模型上加了一个CRF层
class BertCrfForTokenClassification(nn.Layer):
    def __init__(self, bert, crf_lr=100):
        super().__init__()
        self.num_classes = bert.num_classes
        self.bert = bert  # allow bert to be config
        self.crf = LinearChainCrf(
            self.num_classes,

[2021-07-10 07:25] ZeqiangWangAI opened #723 "paddle对抗训练-FGM"
版本
paddlehub              2.0.4
paddlenlp              2.0.1
paddlepaddle-gpu       2.1.0.post101
FGM代码：
import paddle
class FGM():
    """针对embedding层梯度上升干扰的对抗训练方法,Fast Gradient Method（FGM）"""

    def __init__(self, model):
        self.model = model
        self.backup = {}

    def attack(self, epsilon=1., emb_name='emb'):
        # emb_name这个参数要换成你模型中embedding的参数名
        for name, param in s

[2021-07-10 07:31] hl123-123 opened #724 "利用ernie gen作诗的思路，换了数据集，gpu报错"
该行        optimizer.step()报错
显存才占用20%，运行两个step报错，
好像和batch_size有关，设为1,则运行340个step报错
报错信息：
SystemError: (Fatal) Operator elementwise_max raises an thrust::system::system_error exception.
The exception content is
:transform: failed to synchronize: cudaErrorIllegalAddress: an illegal memory access was encountered. (at /paddle/paddle/fluid/imperative/tracer.cc:192)

[2021-07-11 06:16] wawltor commented on #724
@hl123-123 麻烦提供一下PaddlePaddle的以及PaddleNLP的版本？

[2021-07-11 06:19] wawltor commented on #722
您好 请升级一下PaddleNLP最新的版本，在最新的版本中我们已经修复了问题

[2021-07-11 06:20] wawltor commented on #723
您好，请问一下上述的代码是否是完整的代码，如果是完整的代码，麻烦也提供一下相应的数据给我们，我们来复现一下问题

[2021-07-11 06:43] thunder95 opened #725 "develop分支报错ModuleNotFoundError: No module named 'paddlenlp.taskflow.model'"
需要用到最新的datasets， 但是无论是setup还是直接用，都会报这个错ModuleNotFoundError: No module named 'paddlenlp.taskflow.model'

[2021-07-11 07:53] wawltor commented on #725
紧急修复了一个版本 https://github.com/PaddlePaddle/PaddleNLP/pull/727

[2021-07-11 08:32] thunder95 commented on #725
嗯 注释掉taskflow也解决了

[2021-07-11 08:32] #725 closed, assigned to wawltor

[2021-07-11 09:44] KinvenW opened #728 "ERNIE模型能否返回中间层的输出？"
ERNIE模型只返回最后一层的输出，那要获取中间层的输出呢？

[2021-07-11 10:05] libertatis commented on #723
我参考了你的部分代码和知乎上这篇文章[【炼丹技巧】功守道：NLP中的对抗训练 + PyTorch实现](https://zhuanlan.zhihu.com/p/91269728)的 `PyTorch` 实现，我在抽取式机器阅读理解数据集 `DuReader-robust` 的 `baseline` 上实现了 `PaddlePaddle` 的 `PGD`。中间我也出现了你的这种情况。经过一番 `bug` 排查后，我发现，是因为预训练模型中有两个参数的梯度为 `None` 造成的。这个可以在备份参数的梯度时，打印参数名和参数的梯度类型查看：
[code]
我做的是抽取式机器阅读理解任务，使用的是 `ErnieGramForQuestionAnswering` 这个模型，它里面有个属性 `ernie_gram`, 是 `ErnieGramModel` 的一个实例，它有两个输出，分别是 `seq

[2021-07-11 10:40] libertatis commented on #723
我在你的模型训练命令里看到了你似乎做的是 `NER` 任务，如果是 `NER` 的话，它是一个 `token` 级的分类任务，用的模型应该是 `XXXForTokenClassification` ，它和抽取式机器阅读理解模型 `XXXForQuestionAnswering` 一样，只用到了 `sequence_output`, 没有用到 `pooled_output`~

[2021-07-11 10:50] libertatis commented on #728
`PaddleNLP` 的 `API` 似乎没有提供这样的接口。有一种办法是直接修改 `ERNIE` 的源码，想返回啥，自己看着返回就行了。不过我一直没试过~
[https://github.com/PaddlePaddle/ERNIE/blob/develop/ernie/modeling_ernie.py](https://github.com/PaddlePaddle/ERNIE/blob/develop/ernie/modeling_ernie.py)

[2021-07-11 11:22] libertatis commented on #723
哎呀！我才反应过来，你是 `FGM` 出现的问题，不是 `PGD`！刚才的 `PGD` 还没跑完(跑得贼慢)，跑完我再试一下 `FGM`~

[2021-07-11 11:46] ZeqiangWangAI commented on #723
感谢您的帮助，我昨天晚上后面又弄好了，和您的想法类似。FGM和PGD都有尝试，不过性能提升没有想象中显著：）

[2021-07-11 11:47] ZeqiangWangAI commented on #723
更多是我的代码问题，我这边已经弄好了，谢谢您

[2021-07-11 15:05] liu100286 opened #729 "运行Research/NLP/Text2SQL-BASELINE/ 报错，/PaddleNLP/tree/develop/examples/text_to_sql/RAT-SQL可以"
我在aistudio 上运行了这个项目，报错了。
https://github.com/PaddlePaddle/Research/tree/master/NLP/Text2SQL-BASELINE

在执行 bash data/download_trained_model.sh  这个脚本时，提示

aistudio@jupyter-282755-2175973:~/Text2SQL-BASELINE$ bash data/download_trained_model.sh
--2021-07-11 23:05:11--  https://dataset-bj.cdn.bcebos.com/text2sql/text2sql_trained_model_v1.0.0.tar.gz
Resolving dataset-bj.cdn.bcebos.com (dataset-bj.cdn.bc

[2021-07-11 17:07] ZeyuChen commented on #729
@liu100286 Please try this one https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_sql/RAT-SQL

[2021-07-12 01:59] yingyibiao commented on #728
对的，我们目前的API设计是不保留中间层输出的。
除了修改源码外，我们也可以通过加一个register_forward_post_hook来进行中间层的输出；
参考（https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Layer_cn.html#register_forward_post_hook ） 在hook里把每一层encoder layer的输入存到一个全局的list里。

[2021-07-12 02:18] fiyen commented on #614
我简单实现了这个设想，并做了一些验证。动态batch_size在单卡上可以完成训练，并且可以提高训练速度同时不影响收敛。但是也遇到了训练不稳定的问题。相关实验结果我更新了一个项目，链接：https://aistudio.baidu.com/aistudio/projectdetail/2159272 。以后会跟进相关的进站，如果可能请宇哥进行一些技术指导。

[2021-07-12 06:59] Zjimily commented on #709
重新走了一遍流程，重复测试了几次，目前没有发现问题了。感谢你的回复

[2021-07-12 07:08] tom-tangqs opened #731 "LAC模型识别实体能支撑的量级？"
官方的LAC模型做实体预测，除了一些词性以外，实体有人名，地名，组织机构名，时间这四种，想问一下模型能够识别大约多少种实体，几十种，上百种能行吗？

[2021-07-12 07:47] LangDaoAI opened #732 "skep/deploy/python/predict.py 运行出现异常"
skep/deploy/python/predict.py 运行出现异常，请team帮忙看一下这个问题

Traceback (most recent call last):
  File "D:\PVoc\skep\deploy\python\predict.py", line 195, in <module>
    results = predictor.predict(
  File "D:\PVoc\skep\deploy\python\predict.py", line 168, in predict
    self.predictor.run()
ValueError: In user code:

    File "D:\PVoc\skep\export_model.py", line 59, in <module>
      paddle.jit.save(mode

[2021-07-12 07:58] joey12300 commented on #731
实体类别数取决于训练时提供的label列表的大小。label列表越大，实体类别数越多，就能识别更多的实体。

可参考[词法分析](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis)示例。示例中提供的[数据集](https://paddlenlp.bj.bcebos.com/datasets/lexical_analysis_dataset_tiny.tar.gz)中的`tag.dic`描述了该数据集的实体类别。

[2021-07-12 08:02] Steffy-zxf commented on #732
你好！是否方便提供最小复现代码及环境？我们需要复现，调试看看问题。

[2021-07-12 08:14] tom-tangqs commented on #731
嗯嗯，这个tag.dic文件列出了所有的label，那这个label的数量有上限要求吗，或者label超过一定的数量，会存在模型识别准确率下降的情况吗？

[2021-07-12 08:21] joey12300 commented on #731
@tom-tangqs 理论上对label是没有上限要求的。但是label数越多，为了维持准确率，就需要更大量的样本进行训练。并且label数增多也会加大模型占用的显存，对训练的机器资源有更高的要求。

[2021-07-12 08:28] #709 closed, assigned to Steffy-zxf

[2021-07-12 08:33] LangDaoAI commented on #732
经过线下沟通，可能windows和linux环境差异，我把export_model.py中的导出的数据类型修改为int， 问题解决了， 先关闭问题了，感谢回复。

[2021-07-12 08:33] #732 closed, assigned to nobody

[2021-07-12 08:36] tom-tangqs commented on #731
好的，了解了，感谢

[2021-07-12 11:08] LangDaoAI opened #734 "不理解fetch的含义"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/deploy/serving/client.py中有如下关于fetch的执行语句，
...
fetch_map = client.predict(
            feed={"input_ids": input_ids,
                  "token_type_ids": token_type_ids},
            fetch=["save_infer_model/scale_0.tmp_1"],
            batch=True)
        output_data = np.array(fetch_map["save_infe

[2021-07-12 12:03] ZHUI commented on #734
这个应该都是 tensor 的name。fetch 的对象是tensor，这个是  tensor 的name。

[2021-07-12 12:14] LangDaoAI commented on #734
price怎么会是tensor的name呢，而且fit_a_line代码也没有看到定义tensor的name为price

[2021-07-12 12:15] LangDaoAI opened #735 "关于paddle-serving-app"
想确认一下部署的时候paddle-serving-app需不需要安装， 我安装paddle-serving-client就应该可以了吧， 没有看到paddle-serving-app使用的地方， 所以想请Team确认一下认识是否正确，谢谢！

[2021-07-12 12:38] ZHUI commented on #734
看起来，这里save的时候做了映射
https://github.com/PaddlePaddle/Serving/blob/v0.6.0/python/examples/fit_a_line/local_train.py#L52

[2021-07-12 12:40] LangDaoAI commented on #734
好像是的

[2021-07-12 12:52] LangDaoAI opened #736 "【问题】http接口访问服务端模型失败"
当我部署完模型后，启动客户端程序（flask)，然后用curl访问客户端，出现以下错误：

paddle-jupyter-677f4cfd57-j6zr7 /home/data/pvoc python sentiment_client.py
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
 * Serving Flask app 'sentiment_client' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.

[2021-07-12 12:58] Steffy-zxf commented on #735
你好！需要安装paddle-serving-app。

[2021-07-12 12:58] LangDaoAI commented on #736
这个现在阻塞了客户端正常工作，还请帮忙看一下，谢谢！

[2021-07-12 13:00] LangDaoAI commented on #735
OK

[2021-07-12 13:01] LangDaoAI commented on #736
paddle-serving-app 我先装一下看看

[2021-07-12 13:03] Steffy-zxf commented on #736
建议使用docker进行安装部署，详细参考文档
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models#%E4%BE%9D%E8%B5%96%E5%AE%89%E8%A3%85

[2021-07-12 13:39] #735 closed, assigned to Steffy-zxf

[2021-07-12 13:43] LangDaoAI commented on #734
调查了一下， 当做Serving的模型和配置导出，也就是python -u deploy/serving/export_servable_model.py \
    --inference_model_dir ./ \
    --model_file static_graph_params.pdmodel \
    --params_file static_graph_params.pdiparams

后，serving_client_conf.prototxt中的配置发现了这些name， 当然，price在save的时候做了映射后可能name做了改变（有时间我会做一下进一步确认的）

feed_var {
  name: "input_ids"
  alias_name: "input_ids"
  is_lod_tensor: false
  feed_type: 0
}
fe

[2021-07-12 13:57] LangDaoAI commented on #736
好的，暂时不关闭，明天上午确认后没有问题我就关闭这个issue

[2021-07-12 14:35] Zhangbeibei1991 opened #737 "paddlenlp分词异常，内容无效"

[2021-07-12 14:36] #737 closed, assigned to nobody

[2021-07-13 02:56] LangDaoAI opened #738 "容器部署两端调用失败"
Team，服务端模型已经启动，客户端发起连接调用skep模型， 客户端和服务端都在一个容器里面，连接代码如下：

class Predictor(object):
    def __init__(self, max_seq_length,client_config_file='./serving_client/serving_client_conf.prototxt'):
        self.max_seq_length = max_seq_length

        # initialize client
        self.client = Client()
        self.client.load_client_config(client_config_file)
        self.client.connect(["169.254.30.3:9292

[2021-07-13 03:01] LangDaoAI commented on #738
设置有问题， 关闭

[2021-07-13 03:01] #738 closed, assigned to nobody

[2021-07-13 07:48] jaiminZhang commented on #692
换成 python3.7 正常。多谢

[2021-07-13 07:48] #692 closed, assigned to smallv0221

[2021-07-13 07:49] jaiminZhang commented on #697
多谢。

[2021-07-13 07:49] #697 closed, assigned to portia1026

[2021-07-13 09:54] LangDaoAI commented on #736
已经确定没有问题了

[2021-07-13 09:54] #736 closed, assigned to Steffy-zxf

[2021-07-13 10:07] LangDaoAI commented on #734
先关闭这个问题

[2021-07-13 10:07] #734 closed, assigned to nobody

[2021-07-13 10:22] thunder95 opened #741 "关于textsql的几个问题"
1. 预处理数据的时候出现大量warning， 不知道有没有影响：
`WARNING 2021-07-13 17:51:38,523 dusql_dataset_v2.py:314 * check failed: db_id=baseball_1, question=拥有数量最多的棒球运动员的大学的全名和id是什么？`

2. 预训练模型有大量的网络层权重不匹配
`skip loading for encoder.base......bias, weight not in the provide dict`

3. dusql只是预测推理， 几个小时过去，仍旧只是预测了3000多个iter，请问这种情况正常吗？

[2021-07-13 12:45] wawltor commented on #741
想问一下 能提供一下具体的repo地址吗？ 我们只提供了RAT-SQL IG-SQL 这两个模型

[2021-07-13 13:19] thunder95 commented on #741
@wawltor  你好 我使用的是RAT-SQL， 尝试千言数据集比赛的， 在aistudio上运行， 需要地址吗？

[2021-07-13 14:07] ZeqiangWangAI commented on #722
已经将paddlenlp更新到2.0.5问题还是会出现

[2021-07-13 14:19] LangDaoAI opened #742 "paddlepaddle-gpu 2.1.1.post112在有gpu的容器中未能正确开启"
现象：paddlepaddle-gpu 2.1.1.post112在有gpu的容器中未能正确开启，这台容器的gpu信息如下：

![image](https://user-images.githubusercontent.com/83859417/125467773-2da3ff18-9f04-4efb-a572-f5e933b7eea4.png)

![image](https://user-images.githubusercontent.com/83859417/125467184-8142ea95-b447-49b6-acf1-2987b526a51a.png)

从两边的版本看都是具合的，这台容器是从我的GPU训练机器上克隆出来的， python版本都是3.7.10， 我的训练环境能够正常开启GPU训练。 以下是我训练环境的GPU信息，

![image](https://use

[2021-07-13 14:37] wawltor commented on #741
能不能提供一下aistudio的地址了？

[2021-07-13 15:05] wawltor commented on #742
import paddle
paddle.utils.run_check()

试一下gpu版本是否正确安装

[2021-07-13 15:14] LangDaoAI commented on #742
嗯， 训练机器上正确安装了， 请看一下，推理机器我明早测试一下

![image](https://user-images.githubusercontent.com/83859417/125477774-e9adfcba-e3f5-46de-87d7-e545d08c1afe.png)

[2021-07-13 15:57] ZeqiangWangAI opened #743 "Bert+BiLSTM+CRF报错"
版本：
paddlehub              2.0.4
paddlenlp              2.0.1
paddlepaddle-gpu       2.1.0.post101
环境：
ai studio V100 32G环境
代码

模型代码：
import paddle.nn as nn
from paddlenlp.transformers import BertPretrainedModel
from paddlenlp.layers.crf import LinearChainCrf, ViterbiDecoder, LinearChainCrfLoss

[code]
训练代码：

    tokenizer = BertTokenizer.from_pretrained(args.model_name_or_path)
    #tokenizer = E

[2021-07-13 17:53] libertatis commented on #743
[code]
这个问题出在 `LSTM` 的预期的输入维度和接收的输入维度不匹配。
看了一下你的 `BertLSTMCRF` 模型的实现和训练部分的代码，有两点错误：
其一：
[code]
`LSTM` 的 `input_size` 应该是 `bert` 的 `hidden_size`，不是随便设的。`bert-base` 的 `hidden_size` 是 `768`，`bert-large` 的 `hidden_size` 是 `1024`，正确的写法是：`input_size=self.bert.config['hidden_size']`。
其二：
[code]
嗯，这里不应该用 `BertForTokenClassification`，你不妨看一下它的输出是啥。它的输出是一个分类的 `logits`，不是特征。这里应该用 `BertModel` 才对。即：
[code]
改完这里

[2021-07-13 23:58] thunder95 commented on #741
@wawltor https://aistudio.baidu.com/studio/project/partial/verify/2179149/acf5e5c13b814fa9a25a986d82b1191e 请看下能否打开， 里面所用的步骤都是按照readme来的，不知道是哪里没弄对

[2021-07-14 00:56] timohaha commented on #719
你好，我也在复现这个代码，遇到相同的问题，你的问题解决了么？

[2021-07-14 01:08] timohaha opened #744 "win10复现复现对话系统UnifiedTransforme遇到的问题"
我的环境为win10+python3.6+paddlenlp2.0.5+paddlepaddle-gpu2.1.1.post101
在复现对话系统UnifiedTransformer中finetune.py，代码报错。
`
Epoch 1/3
WARNING: Detect dataset only contains single fileds, return format changed since Paddle 2.1. In Paddle <= 2.0, DataLoader add a list surround output data(e.g. return [data]), and in Paddle >= 2.1, DataLoader return the single filed directly (e.g. return data). For example, in f

[2021-07-14 01:55] ares89 opened #745 "crf 在batchsize=1时，会出错"
### 问题：
crf 在batchsize=1时，会出错，超过1，没出错
### 环境：
paddlenlp==2.0.5
paddlepaddle==2.1.1
### 附件数据：
[err.zip](https://github.com/PaddlePaddle/PaddleNLP/files/6812960/err.zip)

### 错误日志：
[code]
### 代码：
[code]

[2021-07-14 03:43] ZeqiangWangAI commented on #743
版本：
paddlehub              2.0.4
paddlenlp              2.0.5
paddlepaddle-gpu       2.1.1.post101  （在paddle上提了这个问题让我更新版本 现在已经是最新版本）
报错：
Traceback (most recent call last):
  File "./train.py", line 261, in <module>
    do_train(args)
  File "./train.py", line 216, in do_train
    attack(att_fun, model,input_ids, token_type_ids,labels, lengths, True, optimizer)
  File "/home/aistudio/work/bert-ner/

[2021-07-14 03:49] libertatis commented on #743
这个是环境问题，一般重启一下 `AIStudio` 就好了。不行的话，你把你的项目号给我，我看一下~

[2021-07-14 03:51] ZeqiangWangAI commented on #743
我先重启一下试试 谢谢您啦 非常感谢

[2021-07-14 05:24] liu100286 commented on #741
dusql  预测 3300+  iter 结束 .....

[2021-07-14 06:22] wawltor commented on #741
1. 第一个部分这块我没有看到类似的错误，晚点我确认一下
2. 第二个问题是没有关系的，因此在finetune一些任务里面，有自己一些参数，例如一些fc，这些参数没有在预训练模型中出现过，因此不会加载这个参数，但是对结果没有影响
3. 预测的速度 我这边来排查一下  看看能不能优化一下预测速度这块

[2021-07-14 06:44] thunder95 commented on #741
第一个问题只出现在cspider数据集， 出错的代码位置在：

[code]
输出如下：
[code]
是需要在config里面加大着两个配置参数吗？ max_table_num， max_column_num

第二个问题：
也就是说下载的模型不能直接拿来做预测推理，需要基于此预训练模型进行finetune， 也是需要在config里面修init_model_params吗？

[2021-07-14 07:13] #723 closed, assigned to wawltor

[2021-07-14 07:15] #705 closed, assigned to Steffy-zxf

[2021-07-14 07:17] AI-Mart commented on #719
还没有解决呢，我后面直接把代码放在linux上去运行了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月14日(星期三) 上午8:56
***@***.***&gt;;
***@***.******@***

[2021-07-14 07:38] ZeqiangWangAI commented on #743
主要是后面想跑多卡的脚本任务，不知道在脚本机器上会不会有这样的问题
AI studio默认环境：
Built on Sun_Jul_28_19:07:16_PDT_2019
Cuda compilation tools, release 10.1, V10.1.243
安装：
paddlehub 2.0.4
paddlenlp 2.0.1
paddlepaddle-gpu 2.1.0.post101
报错：
Traceback (most recent call last):
  File "./train_crf.py", line 218, in <module>
    do_train(args)
  File "./train_crf.py", line 202, in do_train
    avg_loss.backward()
  File "<decorator-gen

[2021-07-14 07:59] libertatis commented on #743
问题没解决吗？

[2021-07-14 08:00] wawltor commented on #743
可以把PaddleNLP更新到最新的版本

[2021-07-14 08:03] ZeqiangWangAI commented on #743
刚刚更新到2.0.5还是出现类似问题

[2021-07-14 08:05] libertatis commented on #743
你把你的项目地址给我，我来看一下~

[2021-07-14 08:08] ZeqiangWangAI commented on #743
https://aistudio.baidu.com/aistudio/projectdetail/2183659

[2021-07-14 08:10] libertatis commented on #743
你的项目没有公开，看不了~

[2021-07-14 08:13] ZeqiangWangAI commented on #743
稍等哈

[2021-07-14 08:13] wzq-hunau commented on #743
https://aistudio.baidu.com/studio/project/partial/verify/2183659/c3aeb7ef5adc4111beb69d619ceb4128

[2021-07-14 08:14] ZeqiangWangAI commented on #743
https://aistudio.baidu.com/studio/project/partial/verify/2183659/c3aeb7ef5adc4111beb69d619ceb4128

[2021-07-14 08:14] wawltor commented on #741
1. 可以加大这个config中配置试试，不过不要做的太大，不然模型中有些gather的操作，会导致越界的行为
2. 在实际的模型中，预训练模型的参数只是一部分，在下游的模型中还有自己的参数，这些参数需要自己去训练，预训练模型不会x训练下游fc之类的参数，所以这个warn不要管它就行

[2021-07-14 08:21] libertatis commented on #743
项目运行的命令是啥呀？

[2021-07-14 08:23] ZeqiangWangAI commented on #743
python -u ./train_crf.py  --model_name_or_path bert-wwm-ext-chinese  --max_seq_length 128  --learning_rate 2e-5  --num_train_epochs 30 --device gpu

[2021-07-14 08:28] joey12300 commented on #745
@ares89 您好，感谢您提供的bug信息。这边已经修复了该问题，可以暂时先参考该[PR749](https://github.com/PaddlePaddle/PaddleNLP/pull/749/files)对crf.py进行修改，我们将在下个版本更新这个修复。

[2021-07-14 08:38] libertatis commented on #743
有意思，它不是程序不能运行，一开始就报错，而是在第 `6` 个 `step` 的 `loss.backward()` 报的错~

[2021-07-14 08:40] ZeqiangWangAI commented on #743
是的 调小了batch之后会在第六个step出问题 batch大的话 会在大概第二个step出问题

[2021-07-14 08:44] liu100286 commented on #729
感谢，可以了

[2021-07-14 09:06] smallv0221 commented on #744
Sorry for the inconvenience. This bug is caused by np.array(). This func generates int32 by default in win32.
We just fixed this in #747 . You can try again now.

[2021-07-14 09:24] #745 closed, assigned to joey12300

[2021-07-14 11:27] ZeyuChen commented on #744
@timohaha Please clone the latest code and try again, issues solved by #747

[2021-07-14 11:27] #744 closed, assigned to smallv0221

[2021-07-15 01:41] wawltor commented on #743
@joey12300 辛苦关注一下这个问题

[2021-07-15 02:25] libertatis commented on #743
这个问题搞不定！很诡异！我写了个 `notebook` 项目，一开始正常使用 `token` 分类器 `BertForTokenClassification`，项目正常运行，没有任何问题。后来使用 `SkepCrfForTokenClassification`，还没跑多少 `step` 呢，就出现下面这个 `CUBLAS_STATUS_EXECUTION_FAILED` 的问题：
[code]
问题出在 `loss.backward()` 上，不能理解。
如果 `batch_size` 设小一点儿，能跑久一点儿，但还是会出现这个问题。
开始我怀疑是不是 `crf` 的问题，但是官方 `examples` 里信息抽取下的那个 `waybill_ie` 项目，运行 `python run_ernie_crf.py`，并没有任何问题。我直接把示例代码实现的 `ErnieCrfForTokenCl

[2021-07-15 02:40] timohaha opened #751 "PaddleNLP/ examples / dialogue / unified_transformer / interaction.py 在win10,py3.7，paddle相关包都是最新版本，运行报错"
我的环境是win10+python3.7+PaddleNLP 2.0.5，PaddlePaddle2.1.1
在复现问答系统unified_transformer中interaction.py时，代码报错，错误代码如下：
`
[2021-07-15 10:34:09,523] [    INFO] - Already cached C:\Users\Administrator\.paddlenlp\models\plato-mini\plato-mini.pdparams
W0715 10:34:09.525503 13588 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.1, Runtime API Version: 10.1

W071

[2021-07-15 03:21] joey12300 commented on #743
@libertatis @wzq-hunau 感谢两位支持使用PaddleNLP。目前定位到的错误如下：

![image](https://user-images.githubusercontent.com/10826371/125721715-1f725bee-477e-4792-82cf-0f0b167a3757.png)

## 原因
由于计算CRF Loss的时候会根据label值使用paddle.gather取出发射概率。而目前paddle.gather不支持负数index，并且不检查index值，导致假如使用-1去pad label batch时，在gather时候就会出错。

## 结论
目前关于gather的index合法值检查已经在开发中，预计下个版本会修复该问题。两位可先用非负数值去pad label，如
[code]
看看是否能解决目前无法训练的bug。

[2021-07-15 03:25] ZeqiangWangAI commented on #743
这么说我有印象了 在官方的ernie+crf中ignore_label貌似是100 当时还有点好奇怎么不同的版本ignore值不同 谢谢大家的帮助 @libertatis @wawltor @joey12300

[2021-07-15 03:56] libertatis commented on #743
我这个代码是参考【NLP 打卡营 命名实体识别】的教程写的，那个 `label_pad_id` 或者 `ignore_id` 是参照教程设的，当时没考虑那么多。这样困扰了我一晚上的问题终于解决了！看来如果对源码不熟悉，有些 `bug` 连定位都很难做到呀！我还需要多学习，源码还需要多看！今天我再看看源码，重新定位一下 `bug`。今天又学到了一个 `debug` 的思路，非常感谢老师的指教~ @joey12300

[2021-07-15 08:05] AI-Mart commented on #744
还是一样报错哦

[2021-07-15 10:04] LangDaoAI opened #755 "gunicorn 与 paddle不兼容再现"
https://github.com/PaddlePaddle/Paddle/issues/22959  这个问题linux环境以及容器环境再现，gunicorn 生产环境做了很大优化，相比flask， paddle能否兼容gunicorn ，希望Team考虑一下，谢谢！

[2021-07-15 10:07] Junshuai-Song opened #756 "以单机多卡形式运行，from_pretrained出错"
版本：paddlenlp 2.0.5

test_connection.py文件内容：
import paddlenlp as ppnlp
tokenizer = ppnlp.transformers.ErnieTokenizer.from_pretrained('ernie-1.0')

命令：python -m paddle.distributed.launch test_connection.py

报错信息：
[2021-07-15 18:06:21,923] [    INFO] - Downloading vocab.txt from https://paddlenlp.bj.bcebos.com/models/transformers/ernie/vocab.txt
Traceback (most recent call last):
  File "/root/anacon

[2021-07-15 10:58] Junshuai-Song commented on #756
如果有预下载的vocab.txt文件，需要先删除

[2021-07-15 11:42] wawltor commented on #756
请问一下，因为看报错的话是网络有问题，删除vocab.txt就能正常下载？

[2021-07-15 12:16] Junshuai-Song commented on #756
@wawltor
不是 上面说到“删除vocab.txt”只是为了复现我遇到的问题。

我这里本地环境第一次运行上述代码，即需要从网上下载vocab.txt文件时，会报上述错误；如果预先下载的有vocab.txt，默认会跳过download过程，就不会报错了

[2021-07-15 12:19] Junshuai-Song commented on #756
以单机多卡模式运行才会报上述错误，即运行命令为：python -m paddle.distributed.launch test_connection.py

如果直接python test_connection.py，我这里没有报错。

所以猜测可能为单机多卡模式下的问题。