[2022-09-28 03:34] THCNF commented on #3379
![图片](https://user-images.githubusercontent.com/47071679/192681597-9b379433-9cd1-44c0-9545-af19bf5190a2.png)
对应的配置文件图

[2022-09-28 08:05] kg-nlp opened #3380 "[Docs]: PaddleNLP/applications/neural_search/recall/in_batch_negative/"
### 软件环境

[code]

### 详细描述

[code]

[2022-09-28 08:25] guoshengCS opened #3382 "Electra 模型增加对输入 `past_key_values` 和 `inputs_embeds` 的支持"
### Feature request

Electra 模型增加对输入 `past_key_values` 和 `inputs_embeds` 的支持。可以参考 [ERNIE 中对应的代码](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/modeling.py#L890)

### Motivation

通过 `past_key_values` 和 `inputs_embeds` 输入可以支持 Prefix-Tuning、P-Tuning这样一些工作。

[2022-09-28 09:51] w5688414 commented on #3380
请问是哪个地方不一致呢？有详细信息吗？

[2022-09-28 10:56] PanZheng-2021 opened #3383 "在用uie-base-en微调的时候，准确率、召回率和F1都很低，大概是0.1到0.2，但是任务是一个很简单的任务就是方面和观点的抽取，如下图："
### 请提出你的问题

![image](https://user-images.githubusercontent.com/87333406/192758224-61ddcd3f-fe12-4b6a-aaca-1b6f6c34331d.png)

![image](https://user-images.githubusercontent.com/87333406/192761974-6217e893-c205-4904-b488-94665852263b.png)

训练的数据集如下：

{"content": "Breakfast was also was a perfect simple execution with fresh fruit", "result_list": [{"text": "perfect ", "start": 25, "end": 33}], "prom

[2022-09-28 11:08] PanZheng-2021 commented on #3383
这是运行记录

![image](https://user-images.githubusercontent.com/87333406/192764285-666a781c-cc14-4848-bfc4-5961b60d1b08.png)

[2022-09-28 11:28] PanZheng-2021 commented on #3345
在用uie-base-en微调的时候，准确率、召回率和F1都很低，大概是0.1到0.2
![image](https://user-images.githubusercontent.com/87333406/192767551-1924e8a1-46bd-4819-926a-7959599c81c5.png)
![image](https://user-images.githubusercontent.com/87333406/192767579-b7879156-2a49-415b-bedf-a06320bd8f6c.png)

以下是训练数据集：

{"content": "Breakfast was also was a perfect simple execution with fresh fruit", "result_list": [{"text": "perfect ", "

[2022-09-28 11:39] ghost commented on #2957
请问一下，如果使用GPU的话，uie-base 预计会占用多少显存？

我用 **10** 块 NVIDIA Tesla K80 都跑不起来 uie-base，是不是我的操作哪里有问题？

[code]

[2022-09-28 11:40] ghost commented on #2957
请问一下，您使用了几块什么型号的GPU？

[2022-09-28 11:47] linjieccc commented on #3383
从提供的数据来看训练集似乎少了负样本(result_list为空的数据)，另外观点词``Opinion``的拼写有误，可以修改后再试试

[2022-09-28 12:20] ghost opened #3384 "[Question]: 微调uie-base大约需要多少显存，程序启动方式应该是怎样的？"
### 请提出你的问题

你们好，在 Github Issue 里搜索了好多页面，没有我想要的答案。

**Q1：“微调一个 uie-base 模型大约需要多少显存？”**

我使用**10块**Tesla K80 12GB居然无法微调一个uie-base模型！是我搞错了吗？！

**Q2：“多卡微调 uie-base 模型的程序启动方式应该是怎样的？”**

我使用如下命令来启动微调程序，以及我的超参数设置如下：

[code]

但是Paddle框架提示我内存不足！麻烦你们看一下，我应该如何操作才能顺利进行uie-base模型的微调，谢谢！

最后，感谢你们的耐心解答，谢谢！

[2022-09-28 12:38] LemonNoel commented on #3379
参数加载时是按照参数名逐一赋值的，不同模型名字不对应所以会直接跳过不会赋值也不会报错。大致的加载步骤如下：
1. ElectraModel初始化之后打印 discriminator.state_dict().keys()得到各层参数的名称
2. `paddle.load`加载BERT模型后也会得到一个参数的字典，将key逐一替换为ElectraModel对应层的名称
3. 因为BERT和ElectraModel的字典大小不一样，需要处理一下生成一个和ElectraModel `word_embedding`大小相同的参数矩阵，比如拼6个[UNK]向量。
4. 用`set_state_dict`把处理后的字典赋值给ElectraModel

[2022-09-28 12:47] PanZheng-2021 commented on #3383
1、按照您的建议修改了opinion的拼写错误

2、我是用doccano.py按照默认参数分割的训练集，是不是因为我没有relation所以没有负样本呢？

3、重新训练后，情况有所改观，但是还存在一些问题，也就是只能识别opinion，无法识别aspect，图如下：

![image](https://user-images.githubusercontent.com/87333406/192782007-6e6b2a1a-11ab-4bb0-bd33-7981e8c2f912.png)
![image](https://user-images.githubusercontent.com/87333406/192782054-c7ee8964-1e3b-452f-a9fe-da6ec0c85f9b.png)

[2022-09-28 12:55] PanZheng-2021 commented on #3383
这是再次训练的数据集：

{"content": "Breakfast was also was a perfect simple execution with fresh fruit", "result_list": [{"text": "perfect ", "start": 25, "end": 33}], "prompt": "Opinion"}
{"content": "Attentive staff and decent rooms.", "result_list": [{"text": "Attentive", "start": 0, "end": 9}], "prompt": "Opinion"}
{"content": "The lobby was huge, lots of seating, but not cozy.", "result_list": [{"text"

[2022-09-28 13:30] THCNF commented on #3379
我找到了一个方式实现但不知有没有问题：
具体如下：
![image](https://user-images.githubusercontent.com/47071679/192784591-2e01b09e-bc21-4da8-937b-b05d4ca422c3.png)
![image](https://user-images.githubusercontent.com/47071679/192784843-ca36e25b-53e3-4e83-999e-f9d5c099144c.png)
![image](https://user-images.githubusercontent.com/47071679/192787874-64d54f78-13fd-436a-8b4d-26c25d34cd62.png)

我根据代码把ElectraDiscriminator需要的参数由Elect

[2022-09-28 14:47] hnlslyp opened #3386 "UIE infer_gpu时 Type parameter (T) of Optype (Mul) bound to different types (tensor(float16) and tensor(float) in node (p2o.Mul.6)."
### 请提出你的问题

centos 6.3 x86_64
cuda 10.2 cudnn 8
对应 onnxruntime 1.12.1 & onnx 1.12.0

[Paddle2ONNX] Start to parse PaddlePaddle model...
[Paddle2ONNX] Model file path: ./export_gpu/inference.pdmodel
[Paddle2ONNX] Paramters file path: ./export_gpu/inference.pdiparams
[Paddle2ONNX] Start to parsing Paddle model...
[Paddle2ONNX] Use opset_version = 13 for ONNX export.
[Paddle2ONNX] PaddlePaddle model

[2022-09-29 02:02] kevinuserdd opened #3387 "版本变动太大，无缘无故出现bug"
### 请提出你的问题

本地开发的环境，之前一直运行没问题； 今天再跑模型，就出现以下bug，很奇怪，我也没有重新安装新的版本

/lib/python3.8/site-packages/paddle/fluid/dygraph/layers.py", line 914, in __call__
    outputs = self.forward(*inputs, **kwargs)
TypeError: forward() takes 3 positional arguments but 5 were given

[2022-09-29 02:09] guoshengCS commented on #3387
请问是使用的哪个代码，使用的paddlenlp的版本是什么呢，我们复现排查看下。

如果使用代码没变，paddlenlp版本也没变，突然跑不通是有些奇怪的

[2022-09-29 02:23] kevinuserdd commented on #3387
paddlenlp              2.3.4
paddlepaddle           2.2.0
我也搞不懂，之前conda里面的环境都训练没问题，今天再跑一下就报这个错

[2022-09-29 03:08] #3355 closed, assigned to wj-Mcat

[2022-09-29 04:18] THCNF commented on #3379
![image](https://user-images.githubusercontent.com/47071679/192937820-575e1411-7886-4797-a571-ffee2a0d34bc.png)
下载的预训练模型为700多M，立马保存下来只有400M是正常现象吗

[2022-09-29 05:10] yt605155624 opened #3388 "Pillow DeprecationWarning"
### 问题描述

![481cb063567c8ca4fe9dc72977e56990](https://user-images.githubusercontent.com/24568452/192944095-f9112416-ef1e-4d36-a445-2abd8070c48e.png)

[2022-09-29 05:26] guoshengCS commented on #3387
可否也提供下出问题的代码呢，我们复现下

[2022-09-29 05:48] kevinuserdd commented on #3387
finetune.py里面的”            start_prob, end_prob = model(input_ids, token_type_ids, att_mask, pos_ids)“ 这里开始报错的； 因为之前我本地pip 安装的paddle和paddlenlp包，按道理不会自动更新，我没有更新版本； 之前没问题，今天服务器和本地都是这个错，你们复现估计有难度，我这个版本是没问题吧？ paddlenlp=2.3.4,paddle=2.2.0

[2022-09-29 05:53] YoungHector opened #3389 "在同时具备cpu和gpu的环境中，希望支持使用cpu执行Taskflow"
### Feature request

![6E48899D660CF1F74F30EC1847649492](https://user-images.githubusercontent.com/19471295/192949020-321b4879-2448-4e64-843a-6ccbd2d7b377.jpg)
当前使用 get_env_device方法来获取设备，但get_env_device是根据paddle编译方式来获取的，在cuda环境中默认返回gpu. 因此即使存在cpu，也无法人为设置使用cpu运行taskflow.

希望改为在Taskflow当中通过paddle.get_device 方式获取当前任务设置的设备，使Taskflow与当前脚本全局的设备设置兼容.

### Motivation

有关，在开发阶段希望对比cpu和gpu上的运算效率差异等场合，需要Task

[2022-09-29 06:08] linjieccc commented on #3383
方便贴下doccano的执行方式么？另外目前F1能到多少？在评估阶段可以用debug模式看下opinion和aspect的精度

[2022-09-29 06:13] kevinuserdd commented on #3387
而且，我想说，你们的文档能不能准时的更新？ 比如paddlenlp的安装文档里面写的”pip install --upgrade paddlenlp>=2.0.0rc -i https://pypi.org/simple“  这个根本就不能执行，至少安装教程要写的很正确，。。。哎

[2022-09-29 06:23] linjieccc commented on #3389
你好，GPU环境下如果希望使用CPU运行Taskflow可以指定device_id=-1

[code]

[2022-09-29 06:58] PanZheng-2021 commented on #3383
1、doccano的执行方式（doccano.json在附件中）

标注示意：

2、训练参数

3、debug模式的结果

4、请问是因为微调的数据量太小了吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022

[2022-09-29 07:03] PanZheng-2021 commented on #3383
1、doccano的执行方式

![image](https://user-images.githubusercontent.com/87333406/192962083-03bebc4b-45c1-46b2-b061-9abd7b7abd90.png)

标注示意：

![image](https://user-images.githubusercontent.com/87333406/192962123-c9003133-b780-4cff-95a0-cf0e123eba78.png)

doccano.json文件：

{"id":16,"text":"Breakfast was quite good","entities":[{"id":49,"label":"Aspect","start_offset":0,"end_offset":10},{"id":50,"label":"O

[2022-09-29 07:08] linjieccc commented on #3384
@TankAbraham 你好，可以先用单卡看下显存占用情况再启动分布式训练，建议把``batch_size``从小往大调整，另外可以根据你的训练文本长度适当调整``max_seq_len``

[2022-09-29 08:07] gongel commented on #3389
[code]
微信群已沟通解决，如果有问题可重开issue。

[2022-09-29 08:07] #3389 closed, assigned to linjieccc

[2022-09-29 08:11] turkeymz commented on #3360
收到，感谢回复

[2022-09-29 08:11] #3360 closed, assigned to guoshengCS, wawltor

[2022-09-29 09:23] kg-nlp commented on #3380
![image](https://user-images.githubusercontent.com/58376804/192993767-e925f226-01fb-4437-ab09-584043cb8600.png)

命令行参数similar_text_pair 重复，实际源码中train_batch_neg是similar_text_pair_file

[2022-09-29 09:25] kg-nlp commented on #3380
neural_serch/ranking/cross_encoder/deploy/python/web_service.py  第69行
![image](https://user-images.githubusercontent.com/58376804/192994499-5d11a1fa-309b-4426-b4d0-441f6dcdb892.png)
str(sim_score) 应该为 str(sim_score.tolist())

[2022-09-29 10:26] PanZheng-2021 opened #3390 "UIE关系抽取时同一句话存在多个关系怎么构建schema？"
### 请提出你的问题

1、比如一句话：交通很方便，房间小了一点，但是干净整洁，很有香港的特色，性价比较高，推荐一下哦

同时标注：
![image](https://user-images.githubusercontent.com/87333406/193006928-10e932eb-4dfc-47c5-a9dd-fdbf0dfbcffa.png)

分开标注：
![image](https://user-images.githubusercontent.com/87333406/193007200-9745c39a-e418-4ee5-b5f8-f5abffd68081.png)
![image](https://user-images.githubusercontent.com/87333406/193007447-a235c324-9ec9-4d9b-85b2-89fd584

[2022-09-29 10:28] w5688414 commented on #3380
请问您用的是什么环境？为什么需要转list？

[2022-09-29 11:49] FrostML commented on #3334
确实，EB 级别的显存占用不合理。判断是某些数值获取异常导致出现极大，个别 op 计算占用显存激增。

可以定位下 [这里](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/mbart/modeling.py#L203) 是否是执行到这里就发生报错。
或者直接使用
[code]
是否会出现问题。

若是，怀疑可能是环境问题，麻烦再提供下机器环境配置。

也可尝试修改 [这里](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/mbart/modeling.py#L375) 代码为
[code]
看看是否能解决。

[2022-09-30 00:55] kg-nlp commented on #3380
下载的最新版的代码，cross_encoder 模型服务返回的分数类型为numpy,不转成 list,在客户端请求
result = np.array(eval(ret.value[0])) ，ret.value[0] 会报错

[2022-09-30 01:21] gongel commented on #3387
你好，可以提供下复现代码吗？我们更新下对应的文档和版本

[2022-09-30 02:44] mingyao743 opened #3393 "[Question]: UIE 关系抽取和实体抽取是否可以混合标注训练呢"
### 请提出你的问题

关系抽取可能会存在实体缺失的时候，导致只有部分实体词，没有关系词，UIE是否支持这种缺失的情况呢

[2022-09-30 03:29] ghost opened #3394 "　．"

[2022-09-30 03:32] TSAIJK commented on #3345
我的最佳F1 是0.34483，目前思路是增加标注的数量再行实验。

[2022-09-30 03:34] TSAIJK commented on #3345
谢谢 经过实验，一直到finetune并未报错，但是在evaluate阶段出现以下错误，貌似和pretrained model相关？
[2022-09-30 11:27:35,175] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load './checkpoint/model_best'.
Traceback (most recent call last):
  File "evaluate.py", line 117, in <module>
    do_eval()
  File "evaluate.py", line 62, in do_eval
    model = UIEM.from_pretrained(args.model_pat

[2022-09-30 05:24] #3394 closed, assigned to nobody

[2022-09-30 05:55] w5688414 commented on #3380
我在0.9的环境测试没问题，请问您的是什么serving环境：
[code]

[2022-09-30 06:35] tingaicompass opened #3395 "[Question]: 关于PaddleNLP在持续学习这块的迭代期待和相关疑惑？"
### 请提出你的问题

问题背景：
2021-11-29 ：百度ERNIE-Health登顶中文医疗信息处理CBLUE榜单冠军：https://baijiahao.baidu.com/s?id=1717731573139745403&wfr=spider&for=pc
2022-04-13 ：云知声登顶中文医疗信息处理挑战榜CBLUE 2.0：https://baijiahao.baidu.com/s?id=1729960390071520105&wfr=spider&for=pc
2022-05月份： 艾登&清华团队在中文医疗信息处理挑战榜喜创佳绩：https://www.cn-healthcare.com/articlewm/20220606/content-1372998.html

1.可以看到在CBLUE榜单上，ERNIE最先刷榜登顶，后续有一些别的团队再更新刷榜。通过模型对比

[2022-09-30 09:49] datalee opened #3397 "[Question]: 为什么没把ERNIE-Search放进来？"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/13651873/193243922-d17806da-1e13-4ac1-8efb-b94fb438bd08.png)

[2022-09-30 09:50] datalee commented on #3393
这玩意必须可以，本来uie就是多任务训练出来的

[2022-09-30 10:00] ZeyuChen commented on #3397
@datalee 敬请期待，正在路上。

[2022-09-30 10:18] butear opened #3398 "windows环境下pipelines的quesion-answering、semantic-search运行出现Segmentation fault"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

export PIPELINE_YAML_PATH=rest_api/pipeline/dense_qa.yaml
python rest_api/application.py 8891

unset http_proxy && unset https_proxy
export API_ENDPOINT=http://127.0.0.1:8891
python -m streamlit run ui/webapp_question_answering.py --server.port 8502

[2022-09-30 11:04] PanZheng-2021 commented on #3390
还有就是关系数量不确定的时候，该怎么标注数据和构建schema？

[2022-09-30 13:08] w5688414 commented on #3398
看上去是cuda版本不匹配。

Please follow this windows README.md. https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/examples/question-answering/Install_windows.md

and the windows video tutorial, please refer to this link. https://www.bilibili.com/video/BV1DY4y1M7HE/?zw

[2022-09-30 16:22] Amy234543 commented on #3334
import paddle
a = paddle.to_tensor([0], dtype="int32")
paddle.arange(a, a+1, dtype="int64")
执行以上代码会报错，
环境
gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
cuda 11.7   cudnn  8.4
paddlepaddle-gpu              2.3.2
paddlenlp  git clone 下载的最新的 @FrostML

paddle安装是用的pip，我看了下文档cuda 11.7 只能docker安装吗

[2022-10-01 03:52] xiaohangguo opened #3400 "[Question]: 运行example中transformer显示报错"
### 请提出你的问题

系统：Ubuntu22.04
python:3.8
Error: Can not import avx core while this file exists: /home/hang/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/fluid/core_avx.so
Traceback (most recent call last):
  File "train.py", line 25, in <module>
    import paddle
  File "/home/hang/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/__init__.py", line 25, in <module>
    from .framew

[2022-10-01 07:32] sijunhe commented on #3382
Hi @guoshengCS. I'll be happy to take this. Would you assign this to me?

[2022-10-01 09:14] sijunhe commented on #3382
I will break `past_key_values` and `inputs_embeds` into two separate PRs for easy reviews.
The PR for `inputs_embeds` is ready for review at #3401

[2022-10-02 06:41] LemonNoel commented on #3345
请问finetune的时候用的模型是什么类呢，看起来是load的模型结构不一致

[2022-10-03 13:34] TSAIJK commented on #3345
使用的是uie-base-en。在您的提醒后检查中发现一点问题，应该是我理解有误：在参看3227进行修改后的finetune时，重点关注了模型结构，注意到第49-54行，我本次运行的模型叫uie-base-en ，multilingual这里对应是false，而在修改后的readme.md文件中默认是 multilingual，应该是这二者不对应导致错误。现在进行实验 验证这个判断

[2022-10-03 13:41] PanZheng-2021 commented on #3393
那当句子较长的时候，存在多个关系，而UIE只会输出一个概率最大的关系，这个怎么办呢？

[2022-10-06 02:33] ZeyuChen commented on #3395
@dingidng 持续学习的一个前提就是需要有个完整的端到端且数据可回流的系统。
Pipelines流水线设计的理念很大程度就是面向这种场景在设计的的，希望通过一个可用的系统，用户数据回流，进一步二次标注，二次训练，从而形成可持续学习迭代的NLP系统。
欢迎一起贡献联合开发更多Pipelines上的Nodes任务结点

[2022-10-06 02:34] ZeyuChen commented on #3400
应该是paddle框架的安装不太正确，或者匹配的版本不对。
检查下cuda版本匹配等问题或者重新安装试试。
@xiaohangguo

[2022-10-06 10:52] linjieccc commented on #3390
推荐同时标注更高效一些，按照你的标注标签定义对应的schema应该是[{'方面': ['概括描述', '具体描述', '性能描述']}]

[2022-10-06 10:54] linjieccc commented on #3393
可以混合标注训练，参考doccano标注指南里面不同任务的标注方式标注即可，https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md

[2022-10-06 10:56] linjieccc commented on #3393
UIE默认会输出满足关系阈值的所有可能结果，例如这个例子中主办方和承办方这两个关系类别

[code]

[2022-10-06 10:59] PanZheng-2021 commented on #3390
那如果一句话里存在多个相同的关系，最后只会输出一个算法认为概率最大的关系。
能不能把所有可能的关系都提取出来。

比如对于这句话：早餐很好并且房间很干净

我想提取出（早饭，很好）和（房间，很干净）这两个（方面，意见）对。
这怎么操作呢？？

感觉这是个很重要的需求，因为一句话往往很长，会存在多个相同关系。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-10-07 04:15] bigbrother666sh opened #3402 "[Bug]: stable diffusion做set_argument时cudnn报错 "
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

不进行.set_argument，直接生成是成功的，可以出图。

### 稳定复现步骤 & 代码

[code]

[2022-10-07 10:02] jack-gits commented on #3345
使用了多少训练数据？

[2022-10-07 12:14] jeffzhengye commented on #1377
这个bug 解决了没有，我也发现QuestionMatching 里面的inference结果不一样。
LQ那个数据集，test 推理跑了几次，每次acc都不一样。acc: 0.86576  acc: 0.86632, acc: 0.86512
虽然相隔不大

[2022-10-07 14:32] jack-gits opened #3403 "[Question]: UIE finetune Recall和F1始终在10%～20%"
### 请提出你的问题

fine tune uie-base-en 模型， Recall和F1始终在10%～20%； 求大神指教。

![image](https://user-images.githubusercontent.com/30545972/194578488-16e4de4e-bed3-4fa0-a7f8-810667bba23e.png)

[2022-10-08 01:35] wawltor commented on #3402
可以先排查一下是不是显存占用情况

[2022-10-08 03:14] wawltor commented on #3403
是否可以发一些训练数据看看？

[2022-10-08 05:48] jack-gits commented on #3403
{"content": " ZKSMLQPWTBDURXYNF NH658IUL2501JF4 VAUFEROKCSDQX HCSETRPYAFUDKM", "result_list": [{"text": "NH658IUL2501JF4", "start": 19, "end": 34}], "prompt": "vin"}
{"content": " ZKSMLQPWTBDURXYNF  VAUFEROKCSDQX HCSETRPYAFUDKM", "result_list": [], "prompt": "vin"}
{"content": " NIGWPJKCSAYBL ULPDZHJTWANCXFKMV XUCIDKQWZMONYPT D1604MX4C0R72PT90", "result_list": [{"text": "D1604MX4C0R72PT90", "start

[2022-10-08 05:49] jack-gits commented on #3403
@wawltor 都是模拟生成的数据。

[2022-10-08 06:13] wawltor commented on #3403
看起来是数据是没有什么语义信息，如果是这份数据上做信息抽取看起来是很难做到很好的抽取效果；真实的数据也是这种吗？

[2022-10-08 07:29] yangy996 opened #3405 "[Bug]: https://bj.bcebos.com/paddlenlp/models/community/ernie-doc-base-en\vocab.txt failed with code 404!"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

直接在浏览器中访问这个地址报文件不存在：
https://bj.bcebos.com/paddlenlp/models/community/ernie-doc-base-en/vocab.txt

[2022-10-08 08:07] wj-Mcat commented on #3405
### 建议
就像描述中写的，你应该贴上可稳定复现问题的步骤和代码，这样才能够帮你定位问题。

### 分析

通过以下测试代码，是可以正常工作的：

[code]

通过文件名可猜测你是想初始化Tokenizer，所以推荐使用标准写法，而不是使用一些看起来比较tricky的方法。

***

我很**好奇**：
1. 你为什么直接通过url来下载文件呢？
2. 你是如何知道可以通过以上链接可以下载`vocab.txt`？

非常期待你的回复，这样我们就可以不断优化项目使用体验。

[2022-10-08 08:10] yangy996 commented on #3405
下载vocab.txt是PaddleNLP代码里自带的，初始化的时候会检测有没有vocab.txt这个文件，没有会自动下载，自动下载时候发现这个链接已经无法下载到文件了

[2022-10-08 08:13] yangy996 commented on #3405
![image](https://user-images.githubusercontent.com/15188456/194697518-bdcb10db-9e86-44a3-922a-538f6e1d1df1.png)

[2022-10-08 08:22] wj-Mcat commented on #3405
@yangy996 兄弟：**最小可稳定复现代码**，你截这个图还是很难复现你的问题，毕竟上下文太少。

我给你一个可复现代码模板，你用这个来复现你的问题吧：

[code]

[2022-10-08 08:25] yangy996 commented on #3405
复现代码跟你发我的一样，红框截图就是加载Tokenizer的代码
ErnieDocTokenizer.from_pretrained('ernie-doc-base-en')

[2022-10-08 09:06] wj-Mcat commented on #3405
我复现出你的问题了，可并不是你引用的示例代码，而是：

[code]

原因在于：在`ernie-doc-base-en`模型权重下，需要使用`ErnieDocBPETokenizer`，而不是`ErnieDocTokenizer`，前者是针对于英文场景，后者针对于中文场景。

所以，你需要做的调整是：`ErnieDocTokenizer` -> `ErnieDocBPETokenizer`.

[2022-10-08 09:12] yangy996 commented on #3405
多谢大佬，这块文档没有细说，还以为可以混用。再问下，为什么release/2.4分支没有ernie-doc这个目录了

[2022-10-08 10:01] bigbrother666sh commented on #3402
重启后操作依然如故

[2022-10-08 10:27] wj-Mcat commented on #3405
有`model_zoo/ernie-doc`目录啊。

你所说的目录具体是？

[2022-10-08 10:29] yangy996 commented on #3405
好的，找到了，多谢，2.4结构目录变了，我没找到

[2022-10-08 10:36] wj-Mcat commented on #3405
Glad to see that your issue has been fixed.

BTW, if you post your mvp code which can reproduce your issue stably, I believe this small problem can be fixed in less time.    Please feel free to post other issues which you work hard on.

[2022-10-08 13:10] zchengzhong opened #3408 "请问UIE使用的标签库是哪些呢"
### 请提出你的问题

请问UIE 训练所使用的标签库是哪些呢？有文档吗?

类似这些  {'竞赛名称': ['主办方', '承办方', '已举办次数']}  {'地震触发词': ['地震强度', '时间', '震中位置', '震源深度']}   所对应的标签与关系名称
即类似  Doccano 中的  labels 下的  span及 relation

[2022-10-08 14:17] #3405 closed, assigned to wj-Mcat

[2022-10-08 17:33] sijunhe commented on #3382
#3411 ready for review as well

[2022-10-09 01:10] engineer1109 commented on #2738
also 404 for develop branch

[2022-10-09 01:22] engineer1109 opened #3412 "[Bug]: tokenizer_config.json failed with code 404!"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

404

the json file not exists

### 稳定复现步骤 & 代码

[code]

[2022-10-09 02:05] wawltor commented on #3408
UIE 没有限制标签体系，UIE是一个开放域信息抽取，和之前的封闭域信息抽取有区别，对于如何设置标签，只要有语义相关性即可；

[2022-10-09 02:08] JunnYu commented on #3402
你好，这个是显存溢出的问题，768x768的图像需要使用24.5G左右的显存，而3090只有24显存，因此显存超过了，就报错了。
- 您可以尝试生成512x768的图片（需要18.8G显存）。
- 由于模型训练的时候使用了512x512大小的图片，因此在生成其他尺寸的时候效果可能不太好，可以发现下面的图片生成了两只老虎（模型偏向于简单复制老虎）。
- 您可以看一下这个项目（或者将代码复制到本地运行），https://aistudio.baidu.com/aistudio/projectdetail/4459390?contributionType=1 这里调用了taskflow接口，生成了图片。
- 关于优化显存，之后会添加，敬请期待。
[code]
![image](https://user-images.githubusercontent.com/50394665/194734207-

[2022-10-09 02:16] wj-Mcat commented on #3412
这边有几个建议：

1. 通过阅读[README](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/README.md)了解一下`PaddleNLP/model_zoo/ernie-3.0`目录下不同文件的作用，然后如何实现你的功能。`run_seq_cls`是训练脚本，`compress_seq_cls`是压缩脚本，要先训练才能够压缩。
2. 根据你的脚本可以看出，`model_name_or_path`并非是一个model_name，而是一个**best_models**，根据中文语义可分析出，这是你训练之后得到的最好模型，所以你应该朝着：先训练后压缩的思路来实现。
3. 分析思路：建议通过现存资料多分析出潜在的问题，提问时并给出自己的思考，这样才能够更好的帮助你快速解决问题。

Pl

[2022-10-09 02:47] Zengpr opened #3414 "想问下UIE抽取有加速方法吗，现在感觉预测太慢了，能否做并发，我用多进程试了跑不了"
### 请提出你的问题

想问下UIE抽取有加速方法吗，现在感觉预测太慢了，能否做并发，我用多进程试了跑不了

[2022-10-09 02:51] linjieccc commented on #3390
UIE默认会输出所有大于概率阈值的抽取结果

[code]

[2022-10-09 03:41] wawltor commented on #3414
目前使用的是什么方式来做预测的了？是Taskflow来做预测吗？

[2022-10-09 04:30] Zengpr commented on #3414
是的
ie = Taskflow('information_extraction', schema=schema)
res = ie(texts)

[2022-10-09 05:31] jack-gits commented on #3414
taskflow支持多线程吗？

[2022-10-09 05:41] jack-gits opened #3416 "[Bug]: CUBLAS_STATUS_INTERNAL_ERROR"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

None

[2022-10-09 05:54] wawltor commented on #3414
如果是最新版本的Taskflow，已经支持了多线程和MKLDNN 加速了

[2022-10-09 05:56] wawltor commented on #3414
如果速度还不行的话，可以将model设置成更小的模型
<img width="643" alt="image" src="https://user-images.githubusercontent.com/16698950/194740462-6962f341-68ad-4bca-b2a6-ce5317a69b2f.png">

[2022-10-09 06:36] jack-gits commented on #3416
![image](https://user-images.githubusercontent.com/30545972/194741846-22b5e623-2415-4238-878a-43b6574e6b39.png)

[2022-10-09 07:07] suzhou-Second opened #3419 "[Question]: faq_finance requirements依赖需要修改"
### 请提出你的问题

requirements中paddle_serving_server-gpu需要指定0.9.0.post112，不然无法运行

[2022-10-09 07:08] suzhou-Second commented on #3419
docker 镜像registry.baidubce.com/paddlepaddle/paddle:2.3.2-gpu-cuda11.2-cudnn8

[2022-10-09 07:20] tingaicompass commented on #3359
顶楼一下

[2022-10-09 07:41] Zengpr commented on #3414
噢噢，好的，感谢，刚刚试了下是可以了~

[2022-10-09 07:48] tingaicompass opened #3420 "ERNIE-Doc模型关于信息抽取抽取的微调后续会支持开放吗？"
### 问题描述

看到ERNIE-Doc在篇章级数据集表现优秀，

看了文档：https://github.com/PaddlePaddle/ERNIE/blob/repro/ernie-doc/README_zh.md#%E4%BF%A1%E6%81%AF%E6%8A%BD%E5%8F%96

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-doc/README.md

目前开放了开源了中英文分类任务以及中文阅读理解任务的微调代码
`sh script/run_imdb.sh # 英文分类任务
sh script/run_iflytek.sh # 中文分类任务
sh script/run_dureader.sh # 中文阅读理解任务`

![image](https://user-images

[2022-10-09 08:39] huzing2524 commented on #2595
paddle2onnx只能在 3.6<=python<=3.9 的版本安装
https://pypi.org/project/paddle2onnx/1.0.1/#files

![image](https://user-images.githubusercontent.com/39394831/194746544-8f01e2ab-3795-41f1-a65a-2b6a3bc13de2.png)

[2022-10-09 08:43] wawltor commented on #3416
是不是显存爆了
<img width="820" alt="image" src="https://user-images.githubusercontent.com/16698950/194746978-c39ec619-405e-4d43-aa2d-991496da728b.png">

[2022-10-09 08:52] springwings opened #3421 "请问目前paddlenlp schema已经支持的实体关系抽取类型列表清单有吗？"
### 请提出你的问题

请问目前paddlenlp schema已经支持的实体关系抽取类型列表清单有吗？

[2022-10-09 09:52] wawltor commented on #3421
paddlenlp uie的schema相对比较多，目前没有考虑放出来，主要是因为UIE的schema放出来并不会提升zero-shot的效果，咱们不同的文本在同一个schema的效果是不一样的，因此还是需要针对自己文本来进行微调

[2022-10-09 11:38] jack-gits commented on #3416
2022-10-09T06:05:43,981 [INFO ] W-9000-uie-cro_vl_ba_vin_snapshot-2022-10-10-stdout MODEL_LOG - Invoking custom service failed.
2022-10-09T06:05:43,981 [INFO ] W-9000-uie-cro_vl_ba_vin_snapshot-2022-10-10-stdout MODEL_LOG - Traceback (most recent call last):
2022-10-09T06:05:43,982 [INFO ] W-9000-uie-cro_vl_ba_vin_snapshot-2022-10-10-stdout MODEL_LOG -   File "/home/venv/lib/python3.8/site-package

[2022-10-09 11:39] jack-gits commented on #3416
![image](https://user-images.githubusercontent.com/30545972/194754840-7f237960-1fc4-43dd-acf6-c70667eee940.png)

显存降下来后还是报错

[2022-10-09 11:40] jack-gits commented on #3416
paddle-gpu也升级到2.3.0了

paddlenlp                   2.3.0
paddleocr                   2.6         /home/model-server/PaddleOCR
paddlepaddle-gpu            2.3.0

[2022-10-09 12:21] wawltor commented on #3420
目前我们不会ERNIE-DOC来做信息抽取，UIE可以支持的2048的长度，只是从效果上而言UIE对于超长文本的抽取能力效果并不好

[2022-10-09 13:25] lllulll commented on #1342
配置文件中设置的最大预测长度和 模型中默认batch设置的长度不一致。更改head对应py文件的参数就可以了

[2022-10-10 02:16] #3388 closed, assigned to JunnYu

[2022-10-10 02:45] LemonNoel commented on #3379
可以打印下每层参数的均值，看看是否初始化成功。
第三个图是为了将其变为8的倍数，优化AMP训练，具体vocab看config参数。
模型保存是用的哪个API呢？

[2022-10-10 03:02] #3421 closed, assigned to nobody

[2022-10-10 04:44] lesliexufdu opened #3425 "请问Plato-mini模型，遇到对话历史的长度大于512的情况建议怎么处理"
### 请提出你的问题

使用Plato-mini模型，发现官方预训练模型的max_seq_len是512
如果对话历史大于512，将代码中的max_seq_len和模型初始化时侯的max_position_embeddings参数调整后再训练似乎是一个办法
不过这样一来样本占用的显存就会增大，请问你们对于这样的情况建议怎么处理，有没有那种将长对话截断，对每一小段生成一个hidden states，然后再接起来做最终处理的操作？

[2022-10-10 05:27] gongel commented on #2653
PaddleCloud上分布式训练遇到同类问题
[code]

[2022-10-10 06:07] jiangjiajun commented on #2595
我们会尽快发布3.10的版本哈

[2022-10-10 06:45] bigbrother666sh commented on #3402
@JunnYu 了解了，感谢！

[2022-10-10 06:45] #3402 closed, assigned to JunnYu

[2022-10-10 08:53] AI-Mart opened #3427 "UIE关系抽取，用自己的数据微调训练后，有些抽取的关系会乱串"
### 问题描述

找到的核心原因是数据增强的问题，建议官方的数据增强类别需要增加，不单要做同一批次不同样本的增强，还需要做同一样本，不同关系的增强，在转换样本的那个utils.py文件，需要加上这些增强的负样本，即使为空也得加上，这样预测的时候多关系，才不会乱窜，增加的代码如下

[2022-10-10 09:52] AI-Mart commented on #3427
[code]

[2022-10-10 09:57] jack-gits commented on #3416
@wawltor 有什么建议吗？

[2022-10-10 13:32] wj-Mcat commented on #3412
@engineer1109 请问你的问题解决了吗？如果解决了能把你的解决方案分享出来吗？这样其他开发者遇到类似的问题也可以知道如何解决。 非常感谢和期待你的分享。

[2022-10-10 16:20] sijunhe opened #3428 "[Bug]: Data Preprocessing Logic in `examples/pet` has a few bugs"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

1. Wrong results when text contains English characters.
[code]
2. Even without English characters, the code produces wrong results due to a simple off-by-one mistakes
[code]

[2022-10-11 02:13] helloHKTK opened #3429 "[Question]: 基于Paddle Serving的服务化部署，内存不释放的问题"
### 请提出你的问题

参考https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/deploy/paddle_serving的部署方法。通过python service.py --max_seq_length 128 --model_name "ernie-3.0-micro-zh"启动服务后，运行rpc_client.py中的代码（rpc_client.py代码只改了"texts = []"和label_list = []，其中"texts = []"中元素个数为1000），发现运行rpc_client.py后内存占用不释放!
备注：使用CPU预测，config.yml内容如下：
`rpc_port: 18090
http_port: 987

[2022-10-11 02:30] helloHKTK commented on #3429
内存不释放附图：
![图片](https://user-images.githubusercontent.com/28376852/194983552-58e6622d-d186-4b0c-a41e-abaecd36780f.png)

[2022-10-11 02:35] LemonNoel commented on #3428
Thanks for pointing out this bug and we are expecting your contribution!

[2022-10-11 02:50] linjieccc commented on #3427
感谢反馈问题！关于多关系乱窜的情况以及自己标注的正样本数据能否给几个例子看下。

当前UIE关系抽取任务的负例构造主要是包含以下三种形式

1) 反关系负例（如：b的B，b为A的B的抽取结果）

2) 随机替换A负例（如：C的B，C为文本中不包含的实体）

3) 随机替换B负例（如：A的D，D为文本中不包含的实体类型）

[2022-10-11 03:45] guoshengCS commented on #3382
I will break past_key_values and inputs_embeds into two separate PRs for easy reviews.

Good start and no problem !  And sorry for the missing of messages in holidays.

[2022-10-11 06:23] Renxs177 commented on #2987
您好，请问问题解决了吗？我也遇到相同的问题了

[2022-10-11 07:06] #3420 closed, assigned to nobody

[2022-10-11 07:19] PanZheng-2021 commented on #3345
大概手动标注的50条

[2022-10-11 07:21] CodeFrontWang commented on #2221
您好，我还未在用户群中，请问如何加呢？我的v13592886226

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月19日(星期四) 中午12:10
***@***.***&gt;;
***@***.***

[2022-10-11 07:23] ghost commented on #3384
感谢Baidu贡献出PaddleNLP和UIE模型！

自己提的问题自己来答一下吧，成功微调的案例~

显卡：NVIDIA GeForce RTX 3090（24GB） * 1

启动命令：
[code]

显存占用：10761MB / 24265 MB

[2022-10-11 07:23] #3384 closed, assigned to wawltor, linjieccc

[2022-10-11 07:50] BenfengXu opened #3433 "[Question]: 离线环境下（没有git access）如何编译FasterGeneration？"
如题，云端服务器没有git access，编译失败，报错如下：

[code]

是否有work around可以解决？比如我提前下载好FasterTransformer的git repo，并把它手动上传到服务器的某个位置？

[2022-10-11 07:54] LiuChiachi commented on #2987
您好，把报错截图发出来一起看一下吧

[2022-10-11 08:11] AI-Mart commented on #1984
观点词也可以当做实体来对待吧？

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Milen ***@***.***&gt;
发送时间: 2022年4月22日 10:34
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: AI-Mart ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] addleNLP/ applications / sentiment_analysis里面的观点和属性抽取咨询 (Issue #1984)

addleNLP/ applications / sentiment_analysis里面的观点和属性抽取是通过规则组合，会不会有一定的错误率，是不是转换成

[2022-10-11 08:21] xiaohangguo commented on #3400
我本机是cudatoolkit==11.7 按理说 api接口低于11.7都能安装。

@ZeyuChen
不知道paddle是怎么回事，但是我用了这个命令解决了，你们也可以采纳一下
`pip install paddlepaddle==2.4.0rc0`

[2022-10-11 08:30] SongCoder commented on #2442
哥，方便加个联系方式吗？
在2022年6月8日 ***@***.***> 写道：

可以打印一下 代码中 self.rnn 该对象的parameter数据类型 print(self.rnn.parameters()) ， 同时 打印 print(x_data) 数据类型，比对一下 两个对象的数据类型是否一致

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-10-11 08:31] ZeyuChen commented on #2442
https://github.com/PaddlePaddle/PaddleTS
关于时间序列分类问题可以使用PaddleTS开发套件。
@wawltor PaddleNLP这里可以考虑下掉time series examples或者引导到PaddleTS去

[2022-10-11 08:53] Renxs177 commented on #2987
![image](https://user-images.githubusercontent.com/71740060/195044862-16ff564a-4989-483f-8255-c29118c63f35.png)

[2022-10-11 08:54] Renxs177 commented on #2987
我用的是paddleslim的自动压缩，压缩的策略是执行的离线量化。报的类似的错误。
![image](https://user-images.githubusercontent.com/71740060/195045078-b98e8540-0c19-4cc3-a259-bc86ed448dbc.png)

[2022-10-11 09:00] w5688414 commented on #3351
@Ywandung-Lyou  please refer to this pr. https://github.com/PaddlePaddle/PaddleNLP/pull/3432

[2022-10-11 09:06] Fmaj7 commented on #2987
好像没有解决，我后面用的是in-batch-negative，然后做paddle serving部署，没有做压缩了，检索速度还是蛮快的，gpu训练模型，cpu上面跑检索速度0.3s左右

[2022-10-11 09:06] www-Ye commented on #2978
这里的conda安装可以安装cuda11.0的版本的paddle么

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 8, 2022 11:26 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynamic library(libcublas.so) that Paddle depends on is not configured correctly. (error codeis libcublas.so: cannot open

[2022-10-11 09:12] w5688414 commented on #3419
Please refer to this pr https://github.com/PaddlePaddle/PaddleNLP/pull/3430 . Thanks

[2022-10-11 10:03] hezhefly opened #3437 "【Contribution】TaskFlow自定义正则（通配符）词表，用于分词或NER流程"
### 问题描述

业务场景中有实体解析需求要正则解析的，经过调研后，发现[https://github.com/baidu/lac/issues/187](https://github.com/baidu/lac/issues/187)的实现
参考后，整理如下：
[code]

结果：
[code]

[2022-10-11 10:18] PanZheng-2021 commented on #3390
英文的提取能力是弱一点吗？
下面这个好像只能提取出来一个

schema = {'Aspect': 'Opinion'}
my_ie_en = Taskflow(task="information_extraction", schema=schema, model='uie-base-en')
pprint(my_ie_en('The teacher is very nice and lobby was club-like'))

结果：
[{'Aspect': [{'end': 34,
              'probability': 0.37996890862800115,
              'relations': {'Opinion': [{'end': 48,
                                         'probabili

[2022-10-11 11:49] w5688414 commented on #3268
please refer to this pr https://github.com/PaddlePaddle/PaddleNLP/pull/3439

[2022-10-11 11:54] sijunhe opened #3440 "[Bug]: examples/fewshot/pet中的prompt模板和answer模板不匹配"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

1. EPRSTMT任务
[提示模板](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/few_shot/pet/data.py#L310)
[code]
[答案模板](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/few_shot/pet/label_normalized/eprstmt.json)
[code]
[code]
模板拼接后的例子："感觉很很！外包装上有点磨损，试听后感觉不错"

2. OCNLI任务
[提

[2022-10-11 12:33] wawltor commented on #3437
嗯嗯，谢谢你的贡献！上面的方法可以解决正则匹配的工作，很赞！

[2022-10-11 12:35] wawltor commented on #3414
您好，我们将暂时关闭该ISSUE，如有问题后续可以继续打开该ISSUE！

[2022-10-11 12:35] #3414 closed, assigned to nobody

[2022-10-11 13:27] guoshengCS commented on #3433
可以按照以下步骤尝试完成：

1. 下载 FasterTransformer git repo 到 `xxx` 目录，并切换到`nccl_dependent_refine`分支，上传切换分支后的文件夹离线使用

[code]

2. 修改下使用的paddlenlp包中的 `paddlenlp/ops/CMakeLists.txt` 文件，对应github中的[这个](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/CMakeLists.txt)文件，将407行开始的下面代码

[code]

修改为如下代码（新增两行+注释两行）：

[code]

[2022-10-11 13:28] guoshengCS commented on #3433
另外也想请问下您那边是什么任务场景，希望使用哪个模型做加速呢

[2022-10-11 13:34] BenfengXu commented on #3433
感谢回复！

目前做的是prompt learning相关的学术研究，使用的是gpt和opt

[2022-10-11 13:34] #3433 closed, assigned to guoshengCS

[2022-10-11 18:40] hehuang139 opened #3442 "[Question]: PaddleNLP是否能够从复杂的docx文件中直接抽取信息？"
### 请提出你的问题

我是nlp方面的新人，最近要了解信息抽取的方案。
我的需求是要从一个大的docx文件中抽取信息，比如说合同文件，标书文件（比如抽取投标人，投标资质然后在对相对信息做指定的规则校验），这是一个很常见的应用场景。
这个问题应该是属于信息抽取的范畴，但是看了很多关于信息抽取的资料，发现输入都是一段文字，我想知道的paddleNLP的信息抽取能力，是否对文本长度有限制？比如我通过python-docx把整个docx转化成一个字符串，是否支持抽取这样的信息。或者paddleNLP有其他更正确的方式。
关于标书要素提取这块，是否能够使用paddleNLP的信息抽取直接实现？
同时我了解到微软有一个layoutLM，似乎能够做这方面的事情，是否这种富文本只能用类似的模型？

[2022-10-12 02:05] FrostML commented on #3425
可以将历史比较久远的对话内容提取关键词来作为部分对话历史，这样生成 hidden_state 这步还是交给模型本身来完成。
或者其实在多轮对话里面，太久远的对话内容可能也不是继续生成的主要参考，直接截断不作为历史信息来输入也是一种方式。

[2022-10-12 02:18] YYGe01 opened #3443 "[Bug]: paddlenlp debug一致提示找不到cv2模块。"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[code]

[](用pycharm在print处打断点，一致提示未找到cv2模块。虽然可以不用管，不会报错，但是每次调试都会跳出这多余的一步，比较烦。发现和问题[850](https://github.com/PaddlePaddle/PaddleNLP/issues/850) 一样，需要安装opencv-python模块，才不会跳出。不确认这是否是一个bug，建议默认安装opencv库。
![image](https://user-images.githubusercontent.com/45594167/195232806-04d41be9-4429-4280-b35e-d

[2022-10-12 02:40] qdchenxiaoyan opened #3444 "[Question]: 使用预训练模型skep微调不收敛"
你好，想请教下，结合https://aistudio.baidu.com/aistudio/projectdetail/2603746和https://aistudio.baidu.com/aistudio/projectdetail/2110026?channelType=0&channel=0的目标级情感使用说明，使用自己数据对skep模型进行微调，但是loss一直震荡，请问有什么建议么？

数据格式：{"label": 0, "text": "南昌新岚房地产开发有限公司", "text_pair": "海报新闻记者注意到，今年5月，南昌市房管局公示了《行政处罚决定书（洪住建罚决字[2022]第1号）》，该决定书显示，南昌新岚房地产开发有限公司开发的“新力江悦”项目，因存在未将通过赣州银行股份有限公司南昌分行出具保函释放的3900万元预售监管资金(属于商品房预售所得款项)用于有关工程建

[2022-10-12 05:19] wawltor commented on #3442
可以的，我们最新要发布Layout SOTA 模型 ERNIE-Layout，具备一定的抽取能力，以及多模态UIE的也在进行，具体ERNIE-Layout目录可以见 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layoutx

[2022-10-12 05:21] wawltor commented on #3444
具体的数据能分享给我们，我们来测试一下？后者你尝试调整一下学习率，把学习率调小一点试试

[2022-10-12 05:23] wawltor commented on #3443
您好，很高兴您给我提出这个问题。我们解释一下为什么把opencv依赖放到paddlenlp依， paddlenlp在依赖性管理相对比较严格，因为opencv在安装的时候有一定的环境依赖性，依赖安装会导致成本大家安装paddlenlp成本变高，所以对这个处理比较谨慎。

[2022-10-12 05:29] linonetwo commented on #1238
我也遇到了

[code]

[2022-10-12 05:29] linonetwo commented on #1238
我是运行模型的时候，一开始几小时是好的，隔夜就不行了，一开始还以为是系统管理员会定期把GPU挪给别人复用导致的，但看来还是别的问题？

目前先通过每天凌晨重启解决 pm2 restart all --cron-restart="0 0 * * *"

---

这个报错出现很频繁，可能一小时就得重启一次了。

---

 CUDA failure: an illegal memory access was encountered​
​
可能原因：部分服务可能会配置有自动bathching的功能，pad默认一般是未初始化的内存，对于Transformer类模型可能会导致encoder出错。​
解决办法：可以尝试加入环境变量，QS_RUNTIME_PAD_INT_ZERO=1

[2022-10-12 06:15] hehuang139 commented on #3442
太棒了，这块大约什么时候正式发布，是否有提供相关的标注工具，如果没有的标注工具的话，标注要怎么去做
目前这块是否可以用于生产环境，并且如果短期内没有发布的话，是否有替代方案，来做这块的场景，像标书的要素提取

[2022-10-12 06:18] hehuang139 commented on #3442
在咨询个问题，ocr这部分，是否能增加自己的ocr识别，是否提供扩展方式，比如说公章，营业执照的识别

[2022-10-12 06:19] wawltor commented on #3442
预计整个标注方式、微调方式预计在11月份发布

[2022-10-12 06:19] wawltor commented on #3442
可以支持自定义ocr方式

[2022-10-12 06:21] hehuang139 commented on #3442
目前develop分支是否能用于生产环境？

[2022-10-12 06:22] wawltor commented on #3442
可以的

[2022-10-12 06:26] hehuang139 commented on #3442
这块对于标书或者合同这种几百页的文档，是否会有文档大小限制，解析的性能如何，对于我们场景而已，当然也不需要太高的性能，想了解下大致的性能情况

[2022-10-12 06:35] FrostML opened #3446 "[Bug]: import paddlenlp 报错，Pillow 版本问题"
### 软件环境

[code]

### 错误描述

import paddlenlp 报错，Pillow 版本问题。

Paddle 主库本身对 Pillow 版本没有限制，因此在较低版本的 Pillow 环境中使用 Paddle 没有问题，但是使用 PaddleNLP 会报错，是否需要在 PaddleNLP requirements.txt 里面加以限制，或是在具体的代码中，用到相关功能再 import。

修复方式：

[code]

### 稳定复现步骤 & 代码

[code]

[2022-10-12 07:40] linjieccc opened #3448 "PaddleNLP 2.4.1 Release Note Candidate"
# New Features

## ERNIE-Layout

- 新增多语言跨模态文档预训练模型ERNIE-Layout，新增Benchmark及基于ERNIE-Layout的各类下游任务的微调及部署示例。#3183
- 新增DocPrompt文档抽取问答模型，支持Taskflow一键调用。#3183

## Pipelines

- 新增Docker cuda11.2镜像，并提供Docker编译教程。#3315
- 新增Pipelines批量处理数据。 #3432
- 新增一些用户反馈的FAQ和README文档的优化。 #3237
- 新增Milvus2.1的支持。#3283

## Question Generation
- 新增问题生成example，覆盖中文场景和英文场景。#3410
- 新增问题生成taskflow。#3438

## Compression API
- 压缩

[2022-10-12 07:46] wjddd opened #3449 "[Question]: 文本匹配增量训练方法"
之前有一批数据根据
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_matching/sentence_transformers/train.py
这个代码训练了模型，现在希望在原数据基础上增加少量新数据继续训练，但是之前训练的时候并没有保存optimizer的参数，这种情况下还可以实现增量训练吗？

[2022-10-12 08:35] #3443 closed, assigned to nobody

[2022-10-12 09:08] wawltor commented on #3442
不会有文档大小限制，解析的性能和设备相关，同时我们会提供不同尺寸的模型供大家选择

[2022-10-12 09:54] hehuang139 commented on #3442
感谢！

[2022-10-12 09:54] hehuang139 commented on #3442
感谢！

[2022-10-12 09:54] #3442 closed, assigned to nobody

[2022-10-12 11:06] CycloneBoy opened #3451 "[Bug]: ERNIE-LayoutX 按照示例程序运行demo 报错： IndexError: list index out of range"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

改成

[code]

修改后 示例运行无误，结果正确

### 稳定复现步骤 & 代码

[code]
![image](https://user-images.githubusercontent.com/13173452/195325943-fd40a05d-12f7-4c71-a769-dc560cf30384.png)

修改后：
bug原因分析： paddleocr 识别的结果赋值有误
文件： paddlenlp/taskflow/document_intelligence.py  第 106  行 ocr结果取值有些问题
[code]

改成

[code]

修改后 示例运行无误，结果正确

![im

[2022-10-12 11:07] CycloneBoy commented on #3451
![image](https://user-images.githubusercontent.com/13173452/195327154-60bd38c7-6f57-4e93-8693-e4a633a299a3.png)
![image](https://user-images.githubusercontent.com/13173452/195327178-5ad065f9-4213-42d3-8881-6f4f8cac0999.png)

[2022-10-12 11:14] dlkht opened #3452 "transformer 模型用paddle-lite opt工具优化出错"
### 问题描述

paddle=v2.3.2
paddlenlp = v2.3.2
paddle-lite = v2.10  or  v2.11
用https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer/static训练出一个中英翻译模型，Linux环境下python可以推理，结果正确。用paddle lite 工具opt优化时，提示出错信息，如下：
Loading topology data from ./transformer.pdmodel
Loading params data from ./transformer.pdiparams
1. Model is successfully loaded!
[F 10/12 19:13:30.981 .

[2022-10-12 11:52] wawltor commented on #3449
您好，对于optimizer这里的save和load和model的保存是类似的，下面是实例代码你可以尝试看看
[code]

[2022-10-12 12:14] jeffzhengye commented on #3009
@wawltor 已经发布了吗？

[2022-10-12 12:39] lugimzzz commented on #3429
我看这里是服务端还在启动所以占用内存，你运行rpc_client.py后内存会增加吗

[2022-10-12 12:40] helloHKTK commented on #3429
您好：    很高兴收到您的来信，我会尽快阅读并回复您！祝您工作顺利、生活愉快！

[2022-10-12 13:00] hong19860320 commented on #3452
看起来是非法的算子行为，能把 paddle推理模型发上啦吗，我看看是哪里有问题。

[2022-10-12 15:31] hehuang139 opened #3454 "[Question]: layoutX是否支持直接传入原始文档，如docx文件，而不是图片？"
### ernie-layoutx是否支持原始文档，而不是图片

### 环境
* branch  devolops分支
* paddle2onnx           1.0.1
* paddlefsl             1.1.0
* paddleocr             2.6.0.2
* paddlepaddle          2.4.0rc0

如题。

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layoutx  中提供的demo和说明中，入参必须图片或者图片链接，也可以是自己orc解析的结果wordboxes。
我想知道是否支持直接传入docx文件,试过docx路径传入wordboxes报错。因为原始的docx其实在业务中用途更广泛。

以下是我的测试

第一次先

[2022-10-12 18:46] superzhaoyy opened #3455 "pipelines的rest-api里query请求，如何指定index？"
### 请提出你的问题

有这样一个需求：有多个租户，每个租户会维护自己的数据，做法是针对每个租户建立一个index。
看了下pipeline相关源代码，发现insert document的时候是可以指定index的。但是rest-api中的query接口似乎无法指定index？

[2022-10-13 03:05] linjieccc commented on #3451
感谢反馈~paddleocr 新版本（>=2.6.0.2）对输出格式做了更新，我们修复下这个问题

[2022-10-13 03:09] wawltor commented on #3455
curl -X POST -k http://localhost:8891/query -H 'Content-Type: application/json' -d '{"query": "衡量酒水的价格的因素有哪些?","params": {"Retriever": {"top_k": 5,"index":"insurance"}, "Ranker":{"top_k": 5}}}'
可以通过上面的方式来处理

[2022-10-13 03:31] wawltor commented on #3454
不支持docx了，因为模型的输入只能是图片，可以先通过一些工作将docx转成图片然后再做模型预测
后续我们的工作会做智能文档的部署，会支持docx的输入

[2022-10-13 03:37] hehuang139 commented on #3454
我有个思路，直接在docx文档上直接标注，然后使用工具解析出text，text对应的bbox，还有人工标注的信息，最后还要把docx文档转成图片，这样模型训练所需要的数据集就准备完成了。您看这种思路是否是可行的。但是我不确定这种方式对超大文档是否可以支持

[2022-10-13 04:52] zchengzhong opened #3458 "如何将UIE模型转成saved_model模式"
### 请提出你的问题

你好，如何将UIE模型（checkpoint格式）转成saved_model格式？

[2022-10-13 05:29] engineer1109 commented on #3412
[code]

./ 表示当前目录  没有的话 都是指向网络文件

[2022-10-13 05:29] #3412 closed, assigned to wj-Mcat

[2022-10-13 05:42] wjddd commented on #3449
如果要做增量训练的话，是否直接设置init_from_ckpt的路径就可以了？

[2022-10-13 07:58] #3446 closed, assigned to JunnYu

[2022-10-13 08:44] ordin9 opened #3536 "from paddlenlp import Taskflow DLL"
### 请提出你的问题 Please ask your question

Traceback (most recent call last):
  File "G:/Py4e/知识图谱/uie_test.py", line 2, in <module>
    from paddlenlp import Taskflow
  File "G:\anaconda3\lib\site-packages\paddlenlp\__init__.py", line 24, in <module>
    from . import data
  File "G:\anaconda3\lib\site-packages\paddlenlp\data\__init__.py", line 16, in <module>
    from .data_collator import *
  File "

[2022-10-13 09:08] Zengpr commented on #3414
为什么多线程跑的非常不稳定，每次结果都不一样，而且经常会失败，报错
![image](https://user-images.githubusercontent.com/22451062/195554360-6ffe2d01-d3db-4044-bea4-39eafa1fbe94.png)
这是同一批数据跑三次的结果，两次结果不一样，一次失败，是什么原因啊？

[2022-10-13 10:02] FrancisJ7 commented on #3390
你好，请问这个UIE提取模块如何把输入文本的长度限制提升呢？我想改成max_seq_len=512，但没找到api

[2022-10-13 10:40] wawltor commented on #3458
saved_model是说转成inference状态吗？

[2022-10-13 10:43] wawltor commented on #3454
这块还是依赖于标注工具解析能力，目前我们是计划在label studio进行这样的工作，目前看label studio是具备这样的能力

[2022-10-14 01:01] ZTurboX opened #3463 "albert静态图"
### 请提出你的问题

Albert是否支持了静态图导出

[2022-10-14 01:17] zchengzhong commented on #3458
就是说，咱paddleNlp的UIE模型是tensorflow 的checkpoint格式，我想把它整成saved_model格式

[2022-10-14 03:05] kuizhiqing commented on #3536
看报错在
`from scipy.linalg import _flapack`
请先确保 scipy 安装配置正确。
如果还有问题，请提供更多信息。

[2022-10-14 03:06] YYGe01 opened #3464 "[Question]: 请教下UIE 用 flask部署如何多进程？"
### 请提出你的问题

您好:  我用flask部署了uie模型，代码如下：
[code]
服务启动后，我为了测试预测速度，同时请求这个接口好几次，发现都是按顺序等待访问的，很耗时间。
然后我把lock.acquire()和lock.release()去掉，又同时请求，发现只有一个请求成功，其他都报错。

我对并发编程用的不多，问下这个uie能否支持多个用户同时访问，并同时出来结果嘛，谢谢。

我看uie 的taskflow好像支持了并发，但是我对uie内部做了一些改造，所以没法用封装好的taskflow，所以按照 [uie部署教程](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E6%A8%A1%E5%9E%8B%E9%83%A8%E7%BD%B2
) 做了自己的封装，不知道我这种情况应该如何

[2022-10-14 03:13] YYGe01 commented on #3464
不知道是不是需要更新下uie/deploy/python/uie_predictor.py文件，才可以支持并发。

[2022-10-14 03:21] qdchenxiaoyan commented on #3444
感谢回复，不过已经没问题了，可能是我两部分结合的时候出现了问题，直接使用train_aspect.py训练没有问题~😄

[2022-10-14 03:33] FFinchR opened #3466 "[Question]: DataLoader与Gunicorn的gevent模式存在兼容性问题"
### 请提出你的问题

我的项目使用了Gunicorn部署了训练服务。
当将Gunicorn的进程设置为gevent模式时，训练服务会卡死，疑似卡死在train_data_loader的迭代器。
搜索后发现可能是兼容性导致的问题：
[Gunicorn 的使用手册](https://zhuanlan.zhihu.com/p/463699772)

想请问一下这个问题是否确实因DataLoader使用了multiprocess库或相关的原因导致？
是否有满足训练服务要求的情况下又满足高并发需求的解决方案？

[2022-10-14 03:34] dlkht commented on #3452
谢谢回答，下面是模型链接：
链接：https://pan.baidu.com/s/1-C4CF1PV1a9Up9UCxQ24iA
提取码：omfy

[2022-10-14 04:02] #3454 closed, assigned to nobody

[2022-10-14 04:57] zchengzhong commented on #3458
就是说，咱paddleNlp的UIE模型是tensorflow 的checkpoint格式，我想把它整成saved_model格式

[2022-10-14 04:57] zchengzhong commented on #3458
为了部署到推理服务上（比如非paddle相关的推理服务）

[2022-10-14 05:06] wawltor commented on #3458
目前我们提供了onnx的格式做部署，具体的代码可以看   https://github.com/PaddlePaddle/PaddleNLP/blob/a6b46912d26f5cd4688dcb8057936df73c23465c/model_zoo/uie/deploy/python/uie_predictor.py#L44

[2022-10-14 05:21] gongel commented on #3466
你好，Gunicorn和DataLoader的兼容问题可以向[PaddlePaddle](https://github.com/PaddlePaddle/Paddle)的库提个issue看下哈。另外你跑的具体是我们的哪份代码呢?

[2022-10-14 06:05] FFinchR commented on #3466
好的。
我跑的是uie的[finetune](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/finetune.py)代码。

[2022-10-14 06:18] FFinchR commented on #3466
你好，我在官方的API文档下找到了解释，确实暂不支持子进程下运行DataLoader，感谢。
[DataLoader-API文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/DataLoader_cn.html#dataloader)

[2022-10-14 06:18] #3466 closed, assigned to nobody

[2022-10-14 06:55] eikoor11 opened #3467 "[Question]: faq_finance 在启动 Pipeline Server后在哪里修改Tokenizer？另外python web_service.py后会报错，想知道是什么原因"
### 请提出你的问题

运行web_service.py的报错
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\anaconda\lib\multiprocessing\spawn.py", line 116, in spawn_main
    exitcode = _main(fd, parent_sentinel)
  File "D:\anaconda\lib\multiprocessing\spawn.py", line 125, in _main
    prepare(preparation_data)
  File "D:\anaconda\lib\multiprocessing\spawn.py", line 236, in prepare

[2022-10-14 06:55] #3351 closed, assigned to w5688414

[2022-10-14 07:01] eikoor11 commented on #3467
更新成paddle-serving-server-gpu==0.9.0.post112后运行web_service.py的报错
config use_encryption model here None
config use_encryption model here None
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "D:\anaconda\lib\multiprocessing\spawn.py", line 116, in spawn_main
    exitcode = _main(fd, parent_sentinel)
  File "D:\anaconda\lib\multiprocessing\spawn.py", line 125, in _main

[2022-10-14 07:53] w5688414 commented on #3467
请贴一下您的paddle serving的环境，这是我测试的环境，没啥问题

[code]

[2022-10-14 08:12] eikoor11 commented on #3467
python:3.9.12
cuda:10.2
Name: paddlepaddle-gpu Version: 2.3.2
Name: paddle-serving-client Version: 0.8.3
Name: paddle-serving-app Version: 0.8.3
Name: paddle-serving-server Version: 0.8.3
0.9.0好像在3.9.12版本的python里面找不到
另外想问您启动pipelines服务时，服务端运行脚本run_server.sh和客户端界面脚本run_client.sh应该如何修改，我可能pipelines没有成功给本项目启动，十分麻烦您！

[2022-10-14 08:13] eikoor11 commented on #3467
python:3.9.12
cuda:10.2
Name: paddlepaddle-gpu Version: 2.3.2
Name: paddle-serving-client Version: 0.8.3
Name: paddle-serving-app Version: 0.8.3
Name: paddle-serving-server Version: 0.8.3
0.9.0好像在3.9.12版本的python里面找不到
另外想问您启动pipelines服务时，服务端运行脚本run_server.sh和客户端界面脚本run_client.sh应该如何修改，我可能pipelines没有成功给本项目启动，十分麻烦您！

[2022-10-14 08:13] eikoor11 commented on #3467
python:3.9.12
cuda:10.2
Name: paddlepaddle-gpu Version: 2.3.2
Name: paddle-serving-client Version: 0.8.3
Name: paddle-serving-app Version: 0.8.3
Name: paddle-serving-server Version: 0.8.3
0.9.0好像在3.9.12版本的python里面找不到
另外想问您启动pipelines服务时，服务端运行脚本run_server.sh和客户端界面脚本run_client.sh应该如何修改，我可能pipelines没有成功给本项目启动，十分麻烦您！

[2022-10-14 08:19] w5688414 commented on #3467
@eikoor11
这里的pipeline是Paddle Serving的Pipline，不是paddlenlp发布的pipelines哈

另外，我测了0.9版本，没啥问题，0.8.3运行有问题没？

[2022-10-14 09:13] SIKtt opened #3471 "[Question]: Taskflow batch_size question"
### 请提出你的问题

在使用`Taskflow`时对于默认的`batch_size`参数遇到了下面的问题，通过调整参数`batch_size=1`能够避免问题出现。
想问一下这个问题出现是由于什么原因？

[code]

[code]
[code]

[2022-10-14 09:19] yifeizhou980429 commented on #3414
同样的问题，paddlenlp ==2.4.0  paddlepaddle == 2.3.2 python ==3.6.8 ，跑多进程（10个，100个）
if "relations" not in relations[k][i].keys(): 这一行会报错keyerror，这是什么原因啊？

[2022-10-14 09:21] yifeizhou980429 opened #3472 "[Question]: uie 多进程？"
### 请提出你的问题

uie运行多进程报错问题，paddlenlp ==2.4.0 paddlepaddle == 2.3.2 python ==3.6.8 ，跑多进程（10个，100个）
if "relations" not in relations[k][i].keys(): 这一行会报错keyerror，这是什么原因啊？

[2022-10-14 09:46] sxf20220704 opened #3473 "[Bug]: 两个词的词向量结果获取的是一样的"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

from paddlenlp.embeddings import TokenEmbedding

token_embedding = TokenEmbedding()
print(token_embedding.search(['我们去运动','中国人民']))

[2022-10-14 10:44] w5688414 commented on #3473
您好，search会把这两句话解析成相同的token，请输入单词。https://github.com/PaddlePaddle/PaddleNLP/blob/7c06b02e3161bd398e0decd439d47efd15f3feee/paddlenlp/embeddings/token_embedding.py#L238

[code]

[2022-10-14 11:30] wawltor commented on #3471
想问一下，使用的时候 schema是空吗？

[2022-10-14 11:31] wawltor commented on #3472
UIE使用多进程的是需要加锁的，
[code]

[2022-10-14 11:51] eikoor11 commented on #3467
将版本换成了0.9.0版本，还是报一样的错

[2022-10-14 11:52] eikoor11 commented on #3467
@w5688414

将版本升级成0.9版本，还是会报一样的错，不知道咋回事qaq

[2022-10-14 12:36] w5688414 commented on #3467
@eikoor11

请参考这个pr的实现，支持了windows. https://github.com/PaddlePaddle/PaddleNLP/pull/3491

[2022-10-14 13:08] SIKtt commented on #3471
是空的，后面用了`set_schema`方法

[2022-10-14 13:44] superzhaoyy opened #3477 "[Bug]: 安装paddle-pipelines一直失败"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

执行python -m pip install --upgrade paddle-pipelines -i https://pypi.tuna.tsinghua.edu.cn/simple   这个一直失败，提示Polygon3安装补上。

[2022-10-14 14:08] w5688414 commented on #3477
推荐使用miniconda环境安装。 https://mirrors.tuna.tsinghua.edu.cn/anaconda/miniconda/

[2022-10-14 14:32] lichade-son opened #3478 "[Question]: 跑情感分析可解释性评估英文数据集时，一直出现OSError: (External) CUDA error(700), an illegal memory access was encountered."
### 请提出你的问题

![image](https://user-images.githubusercontent.com/65451118/195871440-5d4c9a17-ed2d-4aa0-94da-19c88e777588.png)
跑的时候显存还剩很多，硬件环境如下：
![image](https://user-images.githubusercontent.com/65451118/195871721-9523a18f-f9c6-4f5f-9ab4-c22b21203d0b.png)
cudnn版本信息：
![image](https://user-images.githubusercontent.com/65451118/195871936-ea94acb7-c3a3-48de-82d0-735e3bc2ac50.png)
paddlepaddle用的2.2.2和2

[2022-10-15 03:38] zchengzhong opened #3479 "运行 infer_cpu.py 报错 built-in method enable_padding of Tokenizer object at 0x00000219C9F57130"
### 请提出你的问题

运行PaddleNlp 下的uie模型目录中的 infer_cpu.py 报错  built-in method enable_padding of Tokenizer object at 0x00000219C9F57130

G:\soft\Anaconda3\envs\my_paddlenlp\python.exe G:/myself/future_pro/nlp/PaddleNLP/model_zoo/uie/deploy/python/infer_cpu.py
[2022-10-14 22:48:14,265] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.faster_tokenizer.ErnieFasterTokenizer'> to load 'ernie-3.0-b

[2022-10-15 07:41] TSAIJK opened #3480 "[Question]: 关于使用uie-base-en定制训练长文本的问题"
### 请提出你的问题

您好！
首先感谢https://github.com/PaddlePaddle/PaddleNLP/issues/3345 中的回答。
目前在使用uie-base-en进行【实体识别和关系抽取】定制训练时效果不佳，主要指标为：
Evaluation Precision: 0.40741 | Recall: 0.16418 | F1: 0.23404
主要研判有两部分原因：
一、大部分训练文本超过512，仅有少部分训练文本短于512个字符。不知是否可以通过直接调节 finetune.py运行命令行中的“max_seq_len”参数来直接达到更好的效果？抑或是需要其他的改动？
二 考虑是否能添加用户词典（或其他先验知识），对实体识别的性能进行提升？
或者可能的其他问题（例如标注？）
我的实验数据取出3条附在下面，盼复：
{"id":1,"text":"On kinet

[2022-10-15 08:14] TSAIJK commented on #3480
补充一点，目前将max_seq_len提升为1024则显示显存不足，而调整到768可以运行，且前几个epoch的效果有较大提升

[2022-10-15 08:47] zchengzhong commented on #3458
谢谢

[2022-10-15 08:47] #3458 closed, assigned to linjieccc

[2022-10-16 02:32] zchengzhong commented on #3479
uie_predictor.py  中  下面这段修改成 self._tokenizer = AutoTokenizer.from_pretrained(
            "ernie-3.0-base-zh")

[2022-10-16 02:36] zchengzhong commented on #3408
谢谢

[2022-10-16 02:36] #3408 closed, assigned to nobody

[2022-10-16 17:10] yijunL commented on #1342
可以说的清楚一点吗？ 模型中默认batch设置的长度 是指的什么？ head对应py文件又是什么

[2022-10-17 00:55] wj-Mcat commented on #3479
Glad to see that you have found the solution which not use faster tokenizer.

[2022-10-17 02:13] mingwei-liu opened #3481 "[Question]: 如何在ernie 1.0预训练的时候加入领域实体信息？"
### 请提出你的问题

您好，现在我在针对特定领域训练ernie 1.0模型（英文），然后我有一些特定领域的实体名字列表，但是我不太清楚哪部分代码是和论文中提及的Entity-Level Masking有关？以及我应该如何将这些领域实体信息注入呢？
非常感谢！

[2022-10-17 02:20] linjieccc commented on #3464
您好，paddle inference不是线程安全的，不能被同时调用，所以这里需要加锁

[2022-10-17 02:31] linjieccc commented on #3480
你好~UIE英文版本中关系schema的构造是按照``B + " of " + A``的形式，看下是否把关系的标签改成``receptor``，更符合自然语义的表达；另外看下是否可以将标注数据拆成短句，微调的效果会更好些

[2022-10-17 03:07] we-enjoy-today opened #3482 "[Question]: 希望提供分词、词性标准、NER这些常用功能在GPU条件下的rps测试报告"
### 请提出你的问题

https://mp.weixin.qq.com/s/dZDCaCskUeNQYl7sFfHTQQ
以这篇文章为例，已按照里面的步骤在GPU条件下测试了分词、词性标注、NER，但是测下来qps性能比较低，离上生产有距离：在GPU条件下，qps不到10。
所以希望官方使用Locust之类的性能测试工具，在提供api之余也提供性能测试标杆作为参考
我想知道我这里qps这么低是什么原因，有无办法能够提高？
因为在实际生产过程中，不仅关注精度也关注性能，在GPU条件下的qps性能就意味着成本、意味着从若干种NLP分词工具中如何选择的问题。

[2022-10-17 03:13] ZHUI commented on #3481
你好，这些实体信息，是通过  whole words mask 注入的。只需要动态mask的时候，mask全部实体即可。

[2022-10-17 06:09] KyleWang-Hunter opened #3486 "[Question]: LAC有提供预训练模型的计划吗？"
### 请提出你的问题

想在此基础上训练自己的词法分析模型

[2022-10-17 06:20] MachineSheep opened #3487 "[Question]: uie训练代码中utils.py文件中result变量未定义"
### 请提出你的问题

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/utils.py
第225行，result变量未定义

[2022-10-17 06:21] #3487 closed, assigned to nobody

[2022-10-17 06:21] MachineSheep opened #3488 "[Bug]: uie训练代码中utils.py文件中result变量未定义"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/utils.py
第225行，result变量未定义

[2022-10-17 07:02] wantsjean opened #3489 "[Question]: 为啥感觉ernie-layout的attention实现方式和论文中写的不一样？"
### 为啥感觉ernie-layout的attention实现方式和论文中写的不一样

论文中的 spatial-aware disentangled attention
![image](https://user-images.githubusercontent.com/20296222/196109633-4275ecf0-ea18-44e6-82f1-80c9e0559623.png)
ernie-layout代码中的实现:https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie_layout/modeling.py#L315
这个attention和layoutlmv2一样的吧？

[2022-10-17 07:42] wawltor commented on #3486
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/msra_ner
可以看看这个，这个是定义词法分析模型
不过是建议使用UIE来进行实体抽取的一些工作
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-10-17 07:50] KyleWang-Hunter commented on #3486
但是使用UIE在速度方面确实达不到要求，只有CPU的环境。

[2022-10-17 07:52] wawltor commented on #3486
考虑到速度问题，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/waybill_ie  可以看看这个，底做使用LSTM来encoder

[2022-10-17 07:54] KyleWang-Hunter commented on #3486
感谢

[2022-10-17 08:33] westfish commented on #3488
已修复，见PR：Bug fix uie utils #3490

[2022-10-17 08:34] #3488 closed, assigned to westfish

[2022-10-17 09:46] wawltor commented on #3489
考虑到商用，目前为降级开源，当前开出版本仍旧好于LayoutXLM，后续会适当的时候对外开源spatial-aware disentangled attention版本，如商业有需求请联系https://ai.baidu.com/tech/nlp/Textanalysis

[2022-10-18 06:19] wawltor commented on #3463
您好，2.4.1版本是直接转成静态图导出的

[2022-10-18 07:58] yifeizhou980429 opened #3497 "[Question]: uie，taskflow相关问题"
### 请提出你的问题

您好，在使用taskflow的时候，发现在 taskflow建立一个实例 ie之后，第一遍调用ie("text")所消耗的时间是后续消耗时间的10倍，感到很疑惑，请问是什么原因？是否是因为ie这一步加载了一些参数，是否可以通过提前初始化来避免这个时间差？感谢~

[2022-10-18 08:07] ZTurboX commented on #3463
报错信息
The behavior of expression A + B has been unified with elementwise_add(X, Y, axis=-1) from Paddle 2.0. If your code works well in the older versions but crashes in this version, try to use elementwise_add(X, Y, axis=0) instead of A + B. This transitional warning will be dropped in the future.
  op_type, op_type, EXPRESSION_MAP[method_name]))
Traceback (most recent call last):
  File "G:/proof

[2022-10-18 08:11] ZTurboX commented on #3463
报错信息：

[code]

动转静代码

[code]

[2022-10-18 08:33] wawltor commented on #3497
第一次计算的时候会加载模型，并且首次加载的时候会有加速的操作，因此首次加载会比较慢, 但是第二次加载速度会变快；同时生成一个任务之后，后续继续ie("text") 操作是不会加载模型，这里的耗时主要就是计算耗时了

[2022-10-18 09:21] yifeizhou980429 commented on #3497
了解，那请问是否有办法可以提前加载模型呢？

[2022-10-18 09:27] wawltor commented on #3497
我理解模型加载一次之后就可以一直在内存，你的业务方式是不是通过服务化来部署了，例如开启一个flask + taskflow的服务，这个服务一直在监听请求，这样的话就可以达到你说的提前加载模型的作用

[2022-10-18 09:40] yifeizhou980429 commented on #3497
确实是这样，但是不知道为什么我们把相关服务打包进docker之后，尽管初始化了taskflow的服务，每次请求时感觉model都会重新加载，耗时较长。如果不打包进docker倒是没有这个问题。

[2022-10-18 09:54] Yam0214 opened #3500 "[Bug]: GPTModel.from_pretrained() 加载仅有 config 无权重文件模型 "gpt2-small-en" 报错 FileNotFoundError"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

首先删除本地已有的文件夹

[code]

然后运行以下脚本

[code]

[2022-10-18 09:55] wawltor commented on #3497
可能需要看看docker服务的启动方式了，或者有没有截图可以看看运行server打印的日志，正常逻辑是不会这样的

[2022-10-18 10:12] FrostML commented on #3500
当前 `gpt2-small-en` 模型是一个 CE 随机模型，仅有设置 `pretrained_init_configuration` 而无 `pretrained_resource_files_map`，@guoshengCS @wj-Mcat 看看 `from_pretrained()` 的是否有相关修改删除了这个功能。

[2022-10-18 10:45] MachineSheep opened #3501 "[Question]: UIE Slim 数据蒸馏, 学生模型评估代码"
### 请提出你的问题

UIE Slim 数据蒸馏, 有学生模型评估的代码吗

[2022-10-18 11:21] linjieccc commented on #3501
学生模型的评估代码可以参考这里：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/data_distill/evaluate.py

示例：

[code]

[2022-10-18 11:37] MachineSheep commented on #3501
好的，感谢，可以补充在README里面

[2022-10-18 11:44] linjieccc commented on #3501
感谢指出，也欢迎给我们贡献PR~我们会无比欢迎和外部开发者一起建设

[2022-10-19 03:21] #3398 closed, assigned to w5688414

[2022-10-19 03:27] butear commented on #3398
在以下环境问题解决：
-win10
-python 3.7
-CUDA 11.2
-cudnn 8.2.1
-paddlepaddle-gpu 2.2.2
-paddlenlp 2.4.0

[2022-10-19 04:03] FFinchR opened #3504 "[Bug]: 文本分类few-shot离线部署报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

按照[few-shot](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/few-shot)的步骤进行训练与部署，在离线部署时报错：
指令：
`python infer.py --model_path_prefix checkpoints/export/model --data_dir ./data --batch_size 32 --device gpu --device_id 0`
报错：
[code]

[2022-10-19 06:26] LemonNoel commented on #3504
请问paddle版本是多少呢？可以试下安装`pip install paddlepaddle-gpu==2.4rc`，然后重新导出模型再部署。

[2022-10-19 07:21] livingbody opened #3505 "[Question]: uie-base 的finetune模型来抽取信息，但是同一类多个信息只能抽到一个，一直没思路，解决不掉。"
### 请提出你的问题

各位大佬好，UIE 我遇到问题了，我使用 uie-base 的finetune模型来抽取信息，但是同一类多个信息只能抽到一个，一直没思路，解决不掉。

基于TaskFlow法研杯 LAIC2022 【犯罪事实实体识别】 - 飞桨AI Studio
https://aistudio.baidu.com/aistudio/projectdetail/4821353?contributionType=1

理论上抽取，比如人物，一句话有多个人物，但是只抽到一个，finetune也没用。。。

[2022-10-19 08:06] FFinchR commented on #3504
我更新paddle版本为2.4rc后可以正常部署，感谢。

[2022-10-19 08:13] KyleWang-Hunter opened #3507 "[Question]: 使用BiGRU + CRF训练实体抽取算法，导出静态图之后无法识别结果"
### 请提出你的问题

参照https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/waybill_ie文档，使用BiGRU + CRF训练了中文简历数据实体抽取模型，动态图的预测结果正常，如下图所示：
![image](https://user-images.githubusercontent.com/44918749/196634183-f8e735ee-a9d0-43f6-83ac-3745831c80d8.png)
但是zai在导出为动态图模型之后，无法识别结果，如下图所示：
![image](https://user-images.githubusercontent.com/44918749/196634509-0ce72d5f-734b-435d-8506-8

[2022-10-19 08:29] dlkht opened #3508 "请问paddlenlp 有没有非自回归的语言模型"
### 请提出你的问题

比如做到并行解码的

[2022-10-19 08:41] wawltor commented on #3507
看起来是export_model.py目前只是支持了 ERNIE + CRF这种模型，不支持BIGRU+CRF
 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/waybill_ie/export_model.py

我们看看能不能快速支持一下

[2022-10-19 08:53] KyleWang-Hunter commented on #3507
感谢

[2022-10-19 08:58] helloHKTK commented on #3429
会增加，这个场景很容易复现，只需要修改rpc_client.py中的"texts = []"和label_list = []，其中"texts = []"中元素个数为1000或者更多，这个内存不释放的问题很明显

[2022-10-19 09:03] #3504 closed, assigned to LemonNoel

[2022-10-19 09:24] FFinchR opened #3509 "[Bug]: 文本分类离线部署使用fp16加速报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

尝试按照[multi_class](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class)使用fp16加速进行文本分类预训练模型微调的离线部署时（不使用fp16加速时可正常部署，且我在使用uie时，fp16加速也可正常部署），遇到了这个报错：
指令：
`python infer.py     --device "gpu"     --model_path_prefix "../../export/float32"     --model_

[2022-10-19 09:30] jeffzhengye opened #3510 "[infer 准确率每次都不一样]: 有那些可能的原因？或者bug？"
### 请提出你的问题

每次做eval 结果不一样，同一脚本连续允许，如下：
dev_loss: 0.2723, acc: 0.8886, precision: 0.8474, recall: 0.9480, f1: 0.8949 acc and f1: 0.8918
dev_loss: 0.2602, acc: 0.8925, precision: 0.8584, recall: 0.9400, f1: 0.8974 acc and f1: 0.8949
dev_loss: 0.2688, acc: 0.8895, precision: 0.8528, recall: 0.9416, f1: 0.8950 acc and f1: 0.8923

[code]

[code]

[2022-10-19 09:39] wawltor commented on #3508
能列举一下想要的模型吗？

[2022-10-19 09:50] linjieccc commented on #3505
你好，

1.原始数据转换为doccano数据格式的label字段建议替换成具有具体含义的文本
<img width="1271" alt="image" src="https://user-images.githubusercontent.com/40840292/196657463-004f3007-783d-4074-a822-1f86fbeb5c20.png">

2.可以尝试将训练集直接作为验证集进行微调，看下微调后的模型是否能输出训练集中的多值情况，看下在训练集上的输出是否问题

[2022-10-19 09:56] wawltor commented on #3509
能提供一下onnxconverter-common的版本吗？

[2022-10-19 09:58] FFinchR commented on #3509
onnxconverter-common  1.12.2

[2022-10-19 10:00] wawltor commented on #3509
这个问题应该是某个onnxconverter-common的infer bug，你可以把导出的onnx的模型进行转化一下，并进行替换

你可以根据下面的下面转化一下
[code]

同时我们排查一下具体哪个onnxconverter-common版本可用

[2022-10-19 10:07] wn1652400018 opened #3511 "[Bug]: ValueError: parameter name [conv1_weights] have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter or constructor of dygraph Layers"
### 软件环境

[code]

### 重复问题

- [ ] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

ErnieLayoutForTokenClassification.from_pretrained('ernie-layoutx-base-uncased', num_classes=2)

[2022-10-19 10:12] FFinchR commented on #3509
好的，感谢。

[2022-10-19 10:15] livingbody commented on #3505
以上办法试验过了，还是不好使。

[2022-10-19 11:35] dlkht commented on #3508
比如论文 ACL2021 "Glancing Transformer for Non-Autoregressive Neural Machine Translation"实现的模型

[2022-10-19 12:38] gongel opened #3513 "[Bug]: 多卡训练时，tokenizer下载hang住"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

--

[2022-10-19 12:48] gongel opened #3514 "[Bug]: tokenizer.save_pretrained 报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

-

[2022-10-19 13:06] Heimdall-Nss opened #3515 "ernie_doc关于长文本摘要生成的应用示例"
### 请提出你的问题

请问ernie_doc有关于摘要生成的示例吗，目前应该提供了QA 分类等
或者对于长文本的摘要生成有更好的建议吗。简介中ernie_doc针对长文本的处理比较有意思，而长文本的摘要生成在某些应用场景更加需要，例如新闻稿，论文速览等。
我目前找到的途径是基于预训练模型unimo-text-1.0-summary进行微调 ，不知道此流程下能否导入ernie-doc进行训练和部署

[2022-10-19 13:27] wawltor commented on #3507
相关代码已经提交PR： https://github.com/PaddlePaddle/PaddleNLP/pull/3516

[2022-10-19 13:29] wawltor commented on #3510
是说同一个模型冷启动之后eval的结果不一样？

[2022-10-19 13:31] wawltor commented on #3508
目前在机器模型翻译的模型中我们目前还没有Non-Autoregressive的模型，目前还是依赖于token by token，不过目前这种模型整体而言效果还是比 Non-Autoregressive 效果好点

[2022-10-19 13:35] #3486 closed, assigned to nobody

[2022-10-19 14:34] hehuang139 opened #3517 "[Question]: taskflow('document_intelligence') 和 直接使用预模型ernie-layoutx-base-uncased 做预测有什么区别？"
请问，发现taskflow('document_intelligence')这种方式，是在.cache/下会生成docprompt_params.tar文件，解压后有一个模型文件inference.pdiparams和inference.pdmodel。而使用autoModel，是下载预训练模型。
我想知道是否使用taskflow效果会更好，还是和直接使用预训练模型（没经过ft）进行预测效果一致。两者的训练数据是否是一样，是不是就是一个东西？

[2022-10-19 14:48] jeffzhengye commented on #3510
是已经训练好的模型

[2022-10-19 14:51] jeffzhengye commented on #3510
通过下面代码 load 同一个模型参数 @wawltor

[code]

[2022-10-19 15:42] livingbody commented on #3505
感觉好了

[code]

[2022-10-20 02:01] guoshengCS commented on #3510
请问是多次load同一个模型参数eval吗，还是说load以后连着多次eval呢，我这边找了个BERT的glue例子试了下，连着多次eval结果是一致的。如果是多次load同一个模型参数eval是否是因为存在未加载的参数呢
[code]

[2022-10-20 02:04] KyleWang-Hunter commented on #3507
导出模型时报错，如下图所示：

![image](https://user-images.githubusercontent.com/44918749/196838825-30486456-bfb0-4031-8ba0-3eccc4697585.png)
![image](https://user-images.githubusercontent.com/44918749/196838867-a6613d2c-57ae-4089-bca6-d9a0057e2396.png)

[2022-10-20 02:06] wawltor commented on #3507
你的paddle版本是啥了？

[2022-10-20 02:08] jeffzhengye commented on #3510
理论上这确实是种可能。
那怎么能像Ernie 模型里面这样打印出未加载的参数啊？
`[2022-10-20 09:55:32,266] [    INFO] - Weights from pretrained model not used in ErnieModel: ['cls.predictions.layer_norm.bias', 'cls.predictions.transform.weight', 'cls.predictions.decoder_bias', 'cls.predictions.transform.bias', 'cls.predictions.layer_norm.weight']`

这是ErnieModel 自己打印，怎么在set_dict 过程中也打印出来？

@guoshengCS @wawltor

[2022-10-20 02:08] wawltor commented on #3517
taskflow('document_intelligence') 中的模型是基于ERNIE-Layout模型通过大量文档信息抽取、文档问答相关语料微调之后的模型参数，layoutxlm-base-uncased 是基础的预训练模型

[2022-10-20 02:13] KyleWang-Hunter commented on #3507
2.3.2

[2022-10-20 02:19] wawltor commented on #3507
麻烦把python段报错的信息再截图多一点

[2022-10-20 02:23] wawltor commented on #3507
而且需要使用的是 export_bigru_crf_model.py  脚本，而不是 export_ernie_crf_model.py

[2022-10-20 02:23] wawltor commented on #3507
而且需要使用的是 export_bigru_crf_model.py  脚本，而不是 export_ernie_crf_model.py

[2022-10-20 02:27] hehuang139 commented on #3517
是否可以基于taskflow('document_intelligence') 的模型进行fine-tuning.而不是基于layoutxlm-base-uncased，按您的描述我们自己的小样本微调layoutxlm-base-uncased 达到的效果估计是还不如taskflow('document_intelligence')的模型。

[2022-10-20 02:29] wawltor commented on #3517
taskflow('document_intelligence')的模型是一个静态图部署的模型，目前我们还没有放开静态图微调能力，在11月份我们会放开端到端多模信息抽取相关的微调能力，包括整体数据标注方法、小样本微调、部署相关能力

[2022-10-20 02:38] hehuang139 commented on #3517
这里我有个疑惑，在多模态layout这个场景上，我关注到unilm layoutlm和paddlenlp layoutlm两种方案。我是希望能够使用paddle，因为我认为paddle在中文语料训练做的更好。但是如果无法利用taskflow('document_intelligence') 中的模型的结果，就有点尴尬了。同时关于11月分这个节点能否预估个具体时间，因为我的项目大约在11月初就需要具备demo能力。同时这个端对端微调，是否支持直接输入doc原始文档，而不需要手动转换图片在切割分页，在合并预测结果

[2022-10-20 02:39] KyleWang-Hunter commented on #3507
抱歉，模型路径配置错了，可以导出模型了。但是识别结果还是很差，跟动态图完全不一样。

[2022-10-20 02:47] wawltor commented on #3515
目前我们没有计划使用ERNIE-DOC来做文本摘要，这样的文本摘要偏向于片段抽取，目前在技术方向上我们认为使用生成模型来文本摘要能更好做文本摘要的工作

[2022-10-20 02:49] wawltor commented on #3517
taskflow('document_intelligence') 目前的能力没有办法完全你的业务场景吗？

[2022-10-20 02:52] mingo-doer opened #3519 "uie的base模型和nano模型 结果输出结构会有差异"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

uie中的 taskflow模式

schema = {'评价维度': ['观点词', '情感倾向[正向，负向]']}
ie = Taskflow('information_extraction', schema=schema)
ie.set_schema(schema)

[2022-10-20 02:53] wawltor commented on #3507
确认一下，export_bigru_crf_model.py 执行的输出有没有打印出
[code]
同时确保预测的时候使用的  `predict_bigru_crf.py`

[2022-10-20 03:03] hehuang139 commented on #3517
我现在做法是分页预测在合并结果，现在有发现一个问题，就是如果实体出现多次在一个页上，会出现识别错误的情况，在布局层面
![image](https://user-images.githubusercontent.com/9929843/196846603-06354d04-dd6d-403b-88f1-c4e925ff4ef9.png)

[2022-10-20 03:04] KyleWang-Hunter commented on #3507
![image](https://user-images.githubusercontent.com/44918749/196846525-cb839fb2-eccb-4eca-8d5a-8415311dfcfa.png)
![image](https://user-images.githubusercontent.com/44918749/196846590-63f8719c-bf13-4034-854a-bea22ba8a6d3.png)
![image](https://user-images.githubusercontent.com/44918749/196846681-fbfa3aa2-f44f-4cdb-bb7b-5922edc797be.png)

[2022-10-20 03:05] hehuang139 commented on #3517
而且由于您说的taskflow('document_intelligence') 目前无法微调，万一出现预测错误的情况，我无法通过标记去优化模型

[2022-10-20 03:08] wn1652400018 commented on #3517
要是能提供动态图模型的参数就好了，我也遇到这个问题。我试了静态图转动态图直接就报错了。

[2022-10-20 03:08] wawltor commented on #3519
因为输出结果是通过输出概率控制的，不同的模型输出概率不一样，所以会有这个问题  真正上线的时候UIE需要微调的方式来使概率置信

[2022-10-20 03:09] wn1652400018 commented on #3517
能发布动态图的模型参数吗

[2022-10-20 03:10] hehuang139 commented on #3517
现在就是必须要有微调能力，但是不希望从基础的layoutxlm-base-uncased进行微调，希望能有paddle庞大的语料库

[2022-10-20 03:11] wawltor commented on #3507
如果方便的话 能提供一下数据，我们测试一下吗？

[2022-10-20 03:13] wawltor commented on #3510
set_dict是框架代码，框架代码目前还不能有这样的功能

[2022-10-20 03:14] hehuang139 commented on #3517
这个场景应该还是和具体的业务场景关系比较大，需要微调

[2022-10-20 03:14] KyleWang-Hunter commented on #3507
[data.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9825912/data.zip)

[2022-10-20 03:16] wangz1200 commented on #3517
有没有尝试过ernie-layoutx，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layout

[2022-10-20 03:17] wn1652400018 commented on #3517
是啊，有动态图模型的参数就可以微调了，可以参考UIE。
paddle自己发布了一个静态图模型转动态图，我试用了一下，不能转，不知道是不是我用错了，你看看。
https://aistudio.baidu.com/aistudio/projectdetail/505907

[2022-10-20 03:19] hehuang139 commented on #3517
@wawltor 不好意思，我应该是发错了，不是layoutx-base-uncased ，而是  ernie-layoutx-base-uncased 和 taskflow('document_intelligence')是否是一致的模型

[2022-10-20 03:19] wn1652400018 commented on #3517
这个不就是taskflow('document_intelligence') 的基模型吗，从您上面的答复里面看，taskflow('document_intelligence') 的基模型就是ernie-layout，不知道有没有理解错。

[2022-10-20 03:23] hehuang139 commented on #3517
在application目录下https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/document_intelligence/doc_vqa/Extraction/run_train.sh 这个脚本，上面用的layoutx-base-uncased模型
而https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layout 的训练用的是ernie-layoutx-base-uncased 还是说application下的没有更新？

[2022-10-20 03:26] wangz1200 commented on #3517
我使用ernie-layoutx进行自有训练集cls分类训练，似乎是没效果。

[2022-10-20 03:30] hehuang139 commented on #3517
您是怎么做数据标记的，能参考下吗？我还在处理标记的事情，没开始训练，建议可以打印下模型，确认下是否被冻结了

[2022-10-20 03:30] wangz1200 commented on #3517
我查看了下ernie-layoutx模型下的voc词文档，疑惑是不是要自己组织自己的词。

[2022-10-20 03:30] wn1652400018 commented on #3517
paddle发布的那个taskflow('document_intelligence') 静态模型是在ernie-layoutx-large-uncased 上用大量抽取问答数据做了微调裁剪得到的。而layoutx-base-uncased应该是微软的layoutlm系列模型。taskflow('document_intelligence') 本身也没有限制是哪个模型，两个用起来应该都能跑。

[2022-10-20 03:32] wangz1200 commented on #3517
留个联系方式，细说一下吧。

[2022-10-20 03:35] hehuang139 commented on #3517
862112830 QQ

[2022-10-20 03:45] wawltor commented on #3507
<img width="559" alt="image" src="https://user-images.githubusercontent.com/16698950/196851403-e474add6-b8a3-4895-8008-d8d8142b66c1.png">
用你的数据最终微调的效果看起来f1都是0

[2022-10-20 03:48] KyleWang-Hunter commented on #3507
我是自己构造的数据集，所以在读取数据的时候修改了部分代码
![image](https://user-images.githubusercontent.com/44918749/196851877-071ed38c-6346-4291-867f-bb2cb561aa09.png)

[2022-10-20 03:49] KyleWang-Hunter commented on #3507
我是自己构造的数据集，所以在读取数据的时候需要修改部分代码
![image](https://user-images.githubusercontent.com/44918749/196851972-d0924f54-43c7-4ece-94a5-d575ad77dec9.png)

[2022-10-20 03:49] Heimdall-Nss commented on #3515
谢谢回复，目前有看到基于ernie_gen和UNIMO-Text提供的预训练+微调框架，是利用这个吗

[2022-10-20 03:57] jeffzhengye commented on #3510
@guoshengCS @wawltor
因为save 和 set_dict 都是标准代码，按理来说我写的不可能有bug的，set_dict 部分前面我也贴出来的。
现在对于这个问题的定位，你们有什么建议啊？

下面我也把模型save部分贴出来吧。
这是save部分的
[code]

下面是整个训练部分代码
[code]

[2022-10-20 04:01] wawltor commented on #3507
那是不是在predict的脚本的数据处理也要同步修改？

[2022-10-20 04:23] KyleWang-Hunter commented on #3507
哎，实在抱歉，确实是。现在没问题了，感谢解答。

[2022-10-20 05:07] PhoneixT opened #3520 "同时使用paddlenlp-2.4.0 和 rocketqa-1.1.0时 AttributeError: 'paddle.fluid.core_avx.Tensor' object has no attribute 'numpy'"
### 请提出你的问题

AttributeError: 'paddle.fluid.core_avx.Tensor' object has no attribute 'numpy'
![image](https://user-images.githubusercontent.com/46696725/196861151-ae7c1313-96e7-460a-9711-03c9aa62aba8.png)
![image](https://user-images.githubusercontent.com/46696725/196861170-20d56a32-2a86-4ab4-86e4-ce0c674abfaf.png)

[2022-10-20 05:55] wawltor commented on #3520
这个是因为rocketqa发布的版本是静态图的版本，但是PaddleNLP目前是一个全动态图版本，两者在底层Tensor表示有冲突的，你可以import rocketqa之后切换到静态图了，而Taskflow是动态图的

[2022-10-20 06:15] wawltor commented on #3507
好的 我们暂时关闭该issue，如有疑问 后续可以打开该issue。

[2022-10-20 06:15] #3507 closed, assigned to wawltor

[2022-10-20 06:35] wantsjean commented on #3489
@wawltor 我对比了下整个实现方式，当前版本的ErnieLayout和LayoutLMv2(XLM)似乎只有一个nn.GLEU的区别(加在了visul backbone后面)，其余都一样，这是否说明当前版本是否就是在LayoutXLM基础上增加了个阅读顺序预测的预训练？

[2022-10-20 07:17] wawltor commented on #3515
第一版主要是通过UNIMO-text来进行微调，目前我们正在做中文版本的[Pegasus摘要模型]，这个也是业内比较SOTA的模型

[2022-10-20 07:41] FightingEveryDay0 opened #3522 "[Question]: 中文摘要模型export加速build出错"
中文摘要unimo模型导出静态图模式报错：

W1020 15:15:01.602730 63484 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime API Version: 11.2
W1020 15:15:01.607863 63484 gpu_resources.cc:91] device: 0, cuDNN Version: 8.4.
Namespace(decoding_strategy='beam_search', diversity_rate=0.0, inference_model_dir='./inference_model', max_out_len=64, min_out_len=1, model_na

[2022-10-20 07:47] guoshengCS commented on #3510
那怎么能像Ernie 模型里面这样打印出未加载的参数啊？

这个可以试下对比下 `model.state_dict()` 和 `paddle.load(model.params)`返回的dict的keys。 也可以看看一次load多次eval看看是不是这个是固定的，这个是固定的话估计就是多次load之后的模型参数不一样了

[2022-10-20 07:49] guoshengCS commented on #3522
请问您那边是Windows环境是吗

[2022-10-20 07:50] gongel commented on #3522
你好，windows暂时不支持，目前支持的环境为Linux+CUDA

[2022-10-20 08:04] paulpaul91 commented on #3489
当前版本与LayoutXLM没有直接关系（同为多语言文档预训练模型），我们使用百度自研的ERNIE-M 为文本侧基底https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-m， 图像侧只取了resnet101 前两层，没有使用FPN结构，layout 的embeding 我们采用的是相加的方案并非concat方案，预训练任务为论文中所说的四个。

[2022-10-20 08:04] laosuan commented on #2301
同问，请问有转换格式的工具吗

[2022-10-20 08:25] MachineSheep opened #3523 "[Question]: 使用uie-m-large模型报错"
### 请提出你的问题

**完整的报错信息如下**

RuntimeError                              Traceback (most recent call last)
Input In [7], in <cell line: 2>()
      1 schema = ['Time', "date"]
----> 2 ie2 = Taskflow('information_extraction', schema=schema, model="uie-m-large", schema_lang="en")

File ~/work/202211/event/paddlenlp/taskflow/taskflow.py:543, in Taskflow.__init__(self, task, model, mode, device_id, **kwar

[2022-10-20 08:42] jeffzhengye commented on #3510
keys 都比较过，没有问题。我把所有每个key对于参数的sum都打印出来，也都是一样，model 构造完成origin, 模型load训练后的，set_dict 后的，没发现有任何问题。
刚发现load 好的模型，运行两次evaluate 函数结果不一样。不知道哪里出的问题

[code]

[2022-10-20 08:46] jeffzhengye commented on #3510
我把两次evaluate 的结果打印出来，确实值相隔比较大
感觉像dropout 的影响，但是evaluate( 函数中已经写了 model.eval().

[code]

[2022-10-20 08:48] guoshengCS commented on #3508
如果是说觉得自回归速度慢希望更快的生成的话，PaddleNLP针对GPU环境是有预测加速支持的可以试下

[2022-10-20 09:01] linjieccc commented on #3523
看报错应该是模型文件下载的问题，删除~/.paddlenlp/taskflow/information_extraction重新下载试试

[2022-10-20 09:03] MachineSheep commented on #3523
删除了这个文件夹下的uie-m-large文件夹，然后重新下载，还是报错了

[2022-10-20 09:13] MachineSheep commented on #3523
uie-m-large文件夹内容如下
![image](https://user-images.githubusercontent.com/109952192/196907710-8d8f08d0-6f2b-475d-bef8-24e018e772ea.png)

[2022-10-20 09:24] Heimdall-Nss commented on #3515
UNIMO-text的预训练模型目前好像没法下载了？
报错：
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/transformers/model_utils.py", line 237, in from_pretrained
    file_path, default_root)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/utils/downloader.py", line 168, in get_path_from_url
    fullpath = _downloa

[2022-10-20 09:28] FightingEveryDay0 commented on #3522
对windows环境，好的换成服务器了，在linux环境下执行报错，请问可以帮忙看下是哪里的问题吗，谢谢

[  2%] Building CUDA object fastertransformer/cuda/CMakeFiles/cuda_kernels.dir/cuda_kernels.cu.o
nvcc warning : The -std=c++14 flag is not supported with the configured host compiler. Flag will be ignored.
In file included from /usr/include/c++/4.8.2/array:35:0,
                 from /data/users/wangyiting/.paddlenlp/extensions/ab3fb0c16468d26c

[2022-10-20 09:29] FightingEveryDay0 commented on #3522
/usr/include/c++/4.8.2/bits/c++0x_warning.h:32:2: error: #error This file requires compiler and library support for the ISO C++ 2011 standard. This support is currently experimental, and must be enabled with the -std=c++11 or -std=gnu++11 compiler options.
可能是这里，请问是指什么版本不对吗

[2022-10-20 09:59] KyleWang-Hunter commented on #3507
再请教下，如果是预测自己的没有标签的数据，predictor.predict里面的逻辑应该怎么写？

[2022-10-20 10:03] livingbody opened #3525 "[Question]: ValueError: all input arrays must have the same shape"
### 请提出你的问题

## 1.代码
代码很简单，加载训练好的模型，然后预测，最后一条报错
[code]

## 2.错误信息
前面的预测都好，最后一条报错，但是也不对应自己写的代码。
[code]

[2022-10-20 10:50] livingbody commented on #3525
经排查，发现句子中带[sep] 就报错了。
去掉就好了。

[code]

[code]

[2022-10-20 11:02] linjieccc commented on #3523
large模型比较大，有可能还是下载的问题，或者试试手动下载模型文件到这个目录~/.paddlenlp/taskflow/information_extraction/uie-m-large，链接：https://bj.bcebos.com/paddlenlp/taskflow/information_extraction/uie_m_large_v1.0/model_state.pdparams

[2022-10-20 11:21] wj-Mcat commented on #3514
在`__init__`中传入`lambda` or `function`其实是属于定制化的功能，且只在此tokenizer当中存在，所以在实现层可使用其他实现方式，伪代码如下所示：

[code]

然后在构造函数中根据字符串生成不同的`pre_tokenizer method`。

@gongel @guoshengCS 你们觉得如何？

[2022-10-20 11:26] hehuang139 opened #3526 "[Bug]: ocr_process.py ocr结果处理异常"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]
ocr_res.append({"text": para[1][0], "bbox": para[0]}) 这里有问题，获取的是第二行文本的bbox和第一行文本？明显是有问题的
[code]

[2022-10-20 11:28] hehuang139 commented on #3526
修改方式应该是先遍历图片在遍历段落

[code]

[2022-10-20 11:30] #3526 closed, assigned to nobody

[2022-10-20 11:31] hehuang139 commented on #3526
更新代码不复现

[2022-10-20 12:27] wawltor commented on #3515
你可以提供一下运行代码吗？我们尝试一下

[2022-10-20 13:29] Heimdall-Nss commented on #3515
你好，今晚测试了相同代码发现能下载了

[2022-10-21 01:08] wjddd opened #3528 "[Question]: 安装paddlenlp后import报错"
- 系统环境：Linux Centos7
- 没有使用conda环境，当前无法使用conda环境安装

![image](https://user-images.githubusercontent.com/65559675/197087829-45397951-cce2-4759-99ab-dcba0e7bafee.png)

[2022-10-21 01:37] AI-Mart commented on #3427
你好，比如issue里面举的例子，假如某个时间主体，只有接触者的关系，其他的关系都为空，此时标注工具标注出来的结果只有接触者的关系样本，没有其他关系为空的负样本，此时应该额外通过代码增强，把为空的关系样本补上，如果不补上的话，当一段文本存在多个时间主体的时候，为空的这个时间主体，会从后面不为空的时间主体抽取出来其他关系，而实际情况是没有的，关系也就乱了

[2022-10-21 02:04] #3517 closed, assigned to nobody

[2022-10-21 02:39] jeffzhengye commented on #3510
@guoshengCS @wawltor 有没有思路进一步可以测试到底哪里除了问题没有？

[2022-10-21 02:41] sxf20220704 opened #3529 "[Bug]: 根据官网部署说明，部署多标签分类报错"
### 软件环境

[code]

### 重复问题

- [x] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

官网的 multi_label 代码没有修改过，只是改过 config.yml 文件，模型也是用的官方数据训练出来的

[2022-10-21 02:43] guoshengCS commented on #3510
会不会是数据顺序的影响，要么可以在模型网络中debug看下同一条输入数据运行到哪里第一次出现了diff了

[2022-10-21 02:58] MachineSheep commented on #3523
手动下载之后，windows和linux系统上都还是报最初的错误

[2022-10-21 03:00] MachineSheep commented on #3523
model_state.pdparams详细属性如下
![image](https://user-images.githubusercontent.com/109952192/197101235-50634a0c-4b91-40c8-a2e6-aecdc58b29f9.png)

[2022-10-21 03:46] wawltor commented on #3528
这个看起来是disutils安装有问题，你看看要不要重新安装一下

[2022-10-21 05:27] guoshengCS commented on #3522
可能是gcc/g++版本低了，设置的`-std=c++14`不支持没生效，但是要求的`-std=c++11`  这个没设置，可以换个高版本的gcc/g++试下呢，或者可以试下Paddle官方的docker镜像 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-10-21 06:32] jeffzhengye commented on #3510
@guoshengCS @wawltor   不会，eval 没有shuffle。我做了个web服务，同一条数据，eval 每次都不同。

[code]

代码如下：

[code]

[2022-10-21 06:46] sxf20220704 commented on #3529
config.yml 配置如下所示：

#rpc端口, rpc_port和http_port不允许同时为空。当rpc_port为空且http_port不为空时，会自动将rpc_port设置为http_port+1
rpc_port: 18090

#http端口, rpc_port和http_port不允许同时为空。当rpc_port可用且http_port为空时，不自动生成http_port
http_port: 9878

#worker_num, 最大并发数。
#当build_dag_each_worker=True时, 框架会创建worker_num个进程，每个进程内构建grpcSever和DAG
#当build_dag_each_worker=False时，框架会设置主线程grpc线程池的max_workers=worker_num
worker_num: 1

#build_d

[2022-10-21 07:11] FFinchR opened #3530 "[Bug]: multi-class裁剪报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

参考[multi_class](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class)的裁剪时报错。
指令：
[code]
报错信息：
[code]

[2022-10-21 07:19] jeffzhengye commented on #3510
@guoshengCS @wawltor 我一步一步打印网络没层输出的结果，最终找到是dropout层，每次出来的都不一样。eval 的时候为什么dropuout 每次都不一样啊？ 我代码里已经写了model.eval()，总不可能dropout层有bug吧？

定义dropout：

`self.dropout = nn.Dropout(0.3)`

适用dropout 代码：（其它所有层打印出来都一样，就dropout输出每次都不一样。其实一开始就怀疑，但是paddle 用model.eval() 来解决eval 时dropout的问题啊？）
[code]

[2022-10-21 07:28] wawltor commented on #3525
您好，我们先关闭该issue，如果有问题的话可以再次打开。

[2022-10-21 07:28] #3525 closed, assigned to nobody

[2022-10-21 07:29] wawltor commented on #3515
嗯嗯 收到

[2022-10-21 07:45] Fordacre opened #3531 "[Question]: 使用压缩脚本压缩Ernie-CTM模型，报错operator < reshape2 > error"
### 请提出你的问题

在按照https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/compression.md教程针对Ernie-CTM压缩时，运行报错，v reshape失败。
![image](https://user-images.githubusercontent.com/12699033/197141257-21a483f8-df46-44d2-bcf7-395dfc21b4a4.png)
综合情况，看起来是v的mutil-head数目减少了但是得到的特征没有减少。
比较奇怪的是测试q与k均正常，只是v不行了。
辛苦帮忙看一下。

[2022-10-21 08:38] #3489 closed, assigned to linjieccc

[2022-10-21 09:45] linjieccc commented on #3523
paddlenlp的版本是多少？

[2022-10-21 09:48] MachineSheep commented on #3523
2.4.0

[2022-10-21 09:54] LiuChiachi commented on #3531
您好，请问您的paddlenlp版本是？建议更新到最新版本再重试下。如果还是报错可以在`../paddlenlp/trainer/trainer_compress.py` 的`set_config`调用之前（下面第433行之前）帮忙打印下`print(net_config)`看下嘛

https://github.com/PaddlePaddle/PaddleNLP/blob/fb0cb9b35b94ee90d55e454e3bac4a5d9d4e7c47/paddlenlp/trainer/trainer_compress.py#L430-L433

<img width="656" alt="image" src="https://user-images.githubusercontent.com/26483581/197167532-e81684fd-7eec-4de0-a16d-c

[2022-10-21 10:02] LiuChiachi commented on #3530
您好，感谢您关注。
我这边没有直接复现这样的问题。请问您的paddlepaddle环境和paddlenlp的版本是？如果您跑的是仓库里原本的代码，可能是环境依赖的原因，建议升级试试～

[2022-10-21 10:04] LiuChiachi commented on #3530
您好，请问您对原本的裁减代码有做一些修改吗？您的数据在fine-tuning时是正常的吗？

[2022-10-21 10:11] FFinchR commented on #3530
没有修改，就是直接按multi-class的README.md一步步做下来的，finetune的时候是正常的，想做裁剪的时候出问题了。

[2022-10-21 10:41] LiuChiachi commented on #3530
您好，我使用您提供的版本复现了问题，更新成最新版本的paddleslim可以避免这个问题：
[code]

[2022-10-21 12:02] Fordacre commented on #3531
@LiuChiachi 使用的是2.4版本，但是好像看起来最近有改动，所以又重新拉取了最新的代码，报错的地方变了，但是看起来仍然是一个问题。
![image](https://user-images.githubusercontent.com/12699033/197191211-a43f7800-7de4-4d7b-8604-1373c83ab24e.png)
下面是net_config.
`{'ernie_ctm.embeddings.word_embeddings': {'expand_ratio': 1.0}, 'ernie_ctm.embeddings.position_embeddings': {'expand_ratio': 1.0}, 'ernie_ctm.embeddings.token_type_embeddings': {'expand_ratio': 1.0}, '

[2022-10-21 12:51] LiuChiachi commented on #3531
您好，看了下可能是config这块的生成有bug以至于不能灵活适配所有类似结构的模型

麻烦尝试这样做一下，在`set_net_config`执行之前加上下面几行：
[code]
如果没有解决，欢迎继续反馈，我后面会复现之后做下修复。

[2022-10-23 12:47] TSAIJK commented on #3345
你好，想补充提问一下。对于使用英文进行训练的情况，是否有官方的测试集样例 或者模型的大致表现？想比较一下 看看自己的大致是什么水平。谢谢≧〔゜゜〕≦

[2022-10-23 16:04] ZeyuChen commented on #3482
这个需求会在FastDeploy项目中满足，欢迎关注。

https://github.com/PaddlePaddle/FastDeploy

@we-enjoy-today

[2022-10-24 02:53] wn1652400018 commented on #3511
这个问题还没解决吗

[2022-10-24 03:11] linjieccc commented on #3511
你好，感谢反馈问题

这里因为ResNet组网中固定了参数名，所以在模型重复实例化的时候会有上面这个问题，我们会在下个版本修复这个问题
参考这里：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie_layout/visual_backbone.py#L43

当前版本如果有重复实例化模型的需求，可以在执行
[code]
之前加上这两行代码
[code]

[2022-10-24 03:18] linjieccc commented on #3523
可以尝试看下model_state.pdparams这个文件对应的md5值是否是 75f3989c515f05f6842e314d3f75ee27

[2022-10-24 03:19] gongel commented on #3514
目前我这边是把`pre_tokenizer`移到了构造函数来规避这个问题。但huggingface目前是支持`__init__`中传入`lambda or function`的，我们保存参数的时候是否没有做参数的筛选？

[2022-10-24 03:26] MachineSheep commented on #3523
![image](https://user-images.githubusercontent.com/109952192/197442780-796bd635-f2ad-48b8-82b1-223cc255d105.png)

md5值没有问题

[2022-10-24 07:07] Fordacre commented on #3531
@LiuChiachi 问题已解决，感谢。
但是出现了另外一个问题，embedding层在export的时候报错了，后面通过修改这里得到了解决（将[1,1]改为了[1,8]，请问这样是可以的嘛？
![image](https://user-images.githubusercontent.com/12699033/197461146-88b8d097-040c-4659-b472-c43c444ccb9d.png)
另外请问一下，现在的压缩是不支持depth维度的压缩嘛，看文档好像没有相关介绍。

[2022-10-24 10:35] Fmaj7 commented on #3203
@w5688414 你好，感觉语义召回系统有个问题：有些检索显然是没有结果的，但是系统始终会召回一些结果，例如：
检索语句为：我我要找南方水城，可对嗯水城电话号码。
检索结果：新城水店
这个召回结果存在召回库，但是这个检索语句召回结果显然是不正确的，像这样有什么办法控制召回结果为空或直接输出个查无之类的？

[2022-10-25 02:21] coder-duibai opened #3544 "[Question]: 测试集指的是test.txt还是data.txt?"
### 请提出你的问题

你好，请问测试集指的是test.txt还是data.txt，这两个txt之间有什么区别呢？

[2022-10-25 03:29] lugimzzz commented on #3544
test.txt一般是指带有数据标注的测试数据，文本分类应用中可以用于analysis/evaluate.py 评测模型的效果
data.txt一般是指不具有数据标注待预测的数据，文本分类应用中可以用于predict.py、deploy目录等，预测这些数据的分类结果

[2022-10-25 03:41] wj-Mcat commented on #3514
目前所有的参数都是存放在`init_config`、`init_args`，保存的时候主要是处理`init_args`这个特性。

如果`pre_tokenizer`的实现是固定的，我们可将其设置为字符串；如果灵活性非常高，那就在`PegasusTokenizer`中重写`save_pretrained`函数来实现function的序列化保存，核心逻辑还是：保存function or lambda的code object，反序列化的时候将其翻译成function object，具体可使用：`marshal`。

[2022-10-25 04:13] bruce0210 opened #3547 "[Bug]: webapp_semantic_search前端页面无法正常带出图片显示"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

nodes/file_converter/docx.py

[2022-10-25 04:27] THCNF opened #3548 "数据集寻找求助"
### 问题描述

你好，请问一下我由于研究需要，想要探究文本中一些关键字的谐音字的替换对文本分类准确度的影响。
请问有这样的数据集么，替换了文本中的字为其他谐音字。然后会导致模型输出的判断会失误。我想用这样的数据集来训练一个对谐音字有免疫效果的模型。如有，麻烦推荐一些数据集或者相关项目给我。谢谢！

[2022-10-25 07:00] softpeng opened #3550 "[Bug]: TaskFlow抽取摘要模型报错CUDA error 719"
### 软件环境

[code]

### 重复问题

- [x] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

import paddlenlp

from paddlenlp import Taskflow
summarizer = Taskflow("text_summarization", model='unimo-text-1.0-summary')
text="根据“十个工作日”原则，下轮调价窗口为8月23日24时。卓创资讯分析，原油价格或延续震荡偏弱走势，且新周期的原油变化率仍将负值开局，消息面对国内成品油市场并无提振。受此影响，预计国内成品油批发价格或整体呈现稳中下滑走势，但“金九银十”即将到来，卖方看好后期市场，预计跌幅较为有限。"
result=summarizer(tex

[2022-10-25 08:18] wawltor commented on #3550
可以先看看是不是paddle的安装的问题
[code]
如果check信息显示安装有问题，建议conda安装
https://www.paddlepaddle.org.cn/

[2022-10-25 08:30] softpeng commented on #3550
![image](https://user-images.githubusercontent.com/13324817/197723520-e90ca9d4-217c-4ae4-9c4e-333b30768383.png)
run_check()没有问题。分词和信息抽取都没有问题。目前只发现 text_summarization和text_similarity有问题。

[2022-10-25 08:42] softpeng commented on #3550
![image](https://user-images.githubusercontent.com/13324817/197726711-175d165a-6fe0-4055-a08e-27c0afc7def1.png)
run_check()没有问题。分词和信息抽取都没有问题。目前只发现 text_summarization和text_similarity有问题

[2022-10-25 08:49] wawltor commented on #3550
显存是否有溢出了？

[2022-10-25 09:42] softpeng commented on #3550
没有显存溢出

[2022-10-25 10:19] gongel commented on #3550
你好，我本地没有复现你的问题，看错误提示，应该是Paddle环境的问题。可以重装Paddle试试看：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/windows-conda.html

[2022-10-25 10:24] wj-Mcat opened #3552 "[Bug]: too much cpu memory usage in taskflow"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[code]

运行完之后的情况如下所示：

[code]

[2022-10-25 13:33] FightingEveryDay0 commented on #3522
请问gcc版本要求多少呢？版本太多了不太好配谢谢

[2022-10-25 13:35] FightingEveryDay0 commented on #3522
安装gcc5.1.0，又报了新的错误：

/data/users/wangyiting/.paddlenlp/extensions/ab3fb0c16468d26c231f6e4b0d565ac0/FasterTransformer/build/temp.linux-x86_64-cpython-37/third-party/source/fastertransformer/fastertransformer/cuda/open_decoder.cu(303): warning: specified alignment (2) is different from alignment (4) specified on a previous declaration
          detected during:
            instantiation of "void fas

[2022-10-25 13:37] FightingEveryDay0 commented on #3522
或者可以提供加速后的模型文件供下载吗 感谢

[2022-10-26 01:29] Ramlinbird commented on #3077
Thanks a lot.

[2022-10-26 01:29] #3077 closed, assigned to ZHUI

[2022-10-26 03:09] hehuang139 opened #3554 "[Question]: DocVQA-ZH数据集的preprocess问题"
### 中文字符token vs 句子分词token

请问，DocVQA-ZH的数据集的预处理 model_zoo/ernie-layout/utils.py/Precessor.py/preprocess_mrc中,
DocVQA-ZH数据集的text是单个中文字符（非句子在做分词），并且上面提到的阅读理解的预处理preprocess_mrc也没有先合并句子在做分词，我想知道为什么？我看到其他例子，比如说application/下的智能文档对ocr结果就是先分行在拆分字符，在合并成完成句子，最后做分词。这两种处理方式（句子做分词vs直接用字符作为token）效果是一样的吗？为什么不用词的token而用字符token

[2022-10-26 03:18] paulpaul91 commented on #3554
效果是一样的哈，不用担心

[2022-10-26 03:20] hehuang139 commented on #3554
如果处理效果一样，那确实字符token在构建数据集上会比较方便，对于跨行的token也比词的token要优秀。那很好啊

[2022-10-26 03:42] LiuChiachi commented on #3531
将[1,1]改为了[1,8]是可以的，可以用visualdl或者netron可视化下.pdmodel，结构应该是正常的。
之前 DynaBERT 的 depth 维度的压缩效果不好，掉点比较多，所以暂时没有接入，您有depth压缩的这方面的需求吗？

这里的体验我们会持续优化，感谢您提出的问题：)

[2022-10-26 07:08] bruce0210 opened #3555 "[Bug]: 使用rocketqa-zh-nano-query-encoder后，上传文档数据报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

这是使用rocketqa-zh-nano-query-encoder时的异常
![a8b3717e8d511d33e9675217c0f67c2](https://user-images.githubusercontent.com/100854336/197957754-178a9dc8-d32e-4553-baf6-8dc582f9e189.jpg)

这是继续使用rocketqa-zh-base-query-encoder上传后成功
![0e2adcdd9b3b6d74757355179f85a95](https://user-images.githubusercontent.

[2022-10-26 07:13] Fordacre commented on #3531
是的，模型只是用宽度压缩感觉达不到预期的运行速度需求，所以也在看如何进行深度压缩。期待后续加入类似功能。感谢答疑。

[2022-10-26 07:13] #3531 closed, assigned to LiuChiachi

[2022-10-26 08:34] MARD1NO opened #3556 "[Bug]: Attr name wrong in paddle.sum"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/gpt-3/static/modeling.py#L1123-L1124

[2022-10-26 08:44] xdnjust opened #3557 "运行PaddleNLP/applications/document_intelligence/doc_vqa/中的汽车说明书跨模态智能问答出现问题"
### 请提出你的问题

我在运行OCR检测时（代码位置：PaddleNLP/applications/document_intelligence/doc_vqa/OCR_process/ocr_process.py）出现以下问题，请问是什么原因？

[2022-10-26 16:30:36,060] [    INFO] - Already cached /root/.paddlenlp/models/layoutxlm-base-uncased/sentencepiece.bpe.model
[2022-10-26 16:30:36,584] [    INFO] - tokenizer config file saved in /root/.paddlenlp/models/layoutxlm-base-uncased/tokenizer_config.json
[2022-10-2

[2022-10-26 09:17] MachineSheep opened #3558 "[Question]: uie-base-en英文实体识别效果较差"
### 请提出你的问题

uie-base-en模型zero-shot在国家，城市实体类别上表现效果较差，大佬有什么建议吗？感谢

[2022-10-26 09:29] w5688414 commented on #3555
nano模型的维度是312，请参考这个配置进行修改。https://github.com/PaddlePaddle/PaddleNLP/blob/553ba12211133b78e3f4a4eda98a1334ce5dfaee/pipelines/rest_api/pipeline/semantic_search.yaml#L10

[2022-10-26 09:30] wawltor commented on #3557
看起来是paddlepaddle-gpu安装有问题

[2022-10-26 09:31] wawltor commented on #3557
[code]
你看看是否能跑通，并麻烦截图发到issue

[2022-10-26 09:34] ZHUI commented on #3556
https://github.com/PaddlePaddle/PaddleNLP/pull/3559 提pr修复了

[2022-10-26 09:40] xdnjust commented on #3557
![image](https://user-images.githubusercontent.com/38311101/197992713-c1af1a4e-fb97-433b-a72e-aae25c74756e.png)

[2022-10-26 09:54] xdnjust commented on #3557
你好，上面的截图是paddlepaddle-gpu==2.3.0的结果
我现在更新到2.3.2版本，执行上面的命令，出现如下截图

![image](https://user-images.githubusercontent.com/38311101/197996060-93243e42-dda3-4db7-9136-417dc7ffd177.png)

[2022-10-26 11:16] JunnYu commented on #3557
看输出，感觉现在单卡应该可以正常运行了。

[2022-10-26 11:43] xdnjust commented on #3557
还是不行，出现如下错误：

Traceback (most recent call last):
  File "ocr_process.py", line 287, in <module>
    ocr_results = ocr_preprocess(img_dir)
  File "ocr_process.py", line 275, in ocr_preprocess
    parsing_res = ocr.ocr(img_path, cls=True)
  File "/home/anaconda3/envs/lc_detectron/lib/python3.7/site-packages/paddleocr/paddleocr.py", line 534, in ocr
    dt_boxes, rec_res, _ = self.__call__(img, cls)

[2022-10-26 11:49] linjieccc commented on #3558
@MachineSheep 你好，可以适当标些数据，做下微调试试

[2022-10-26 12:10] JunnYu commented on #3557
建议查看一下系统的cuda版本，cudnn版本，cuda driver版本，当前主要是paddle环境没有安装正确，导致的报错。
可以查看一下对应的文档 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-10-26 12:22] westfish opened #3562 "问题生成"
### 简要描述

❓新增问题生成解决方案，提供基于UNIMO-Text和大规模多领域问题生成数据集训练的**通用问题生成预训练模型**，支持高性能推理，训练推理部署全流程打通。

### 是否已开源

- [X] 已开源
- [ ] 未开源

### 模型详细信息

_No response_

[2022-10-26 12:33] #3562 closed, assigned to nobody

[2022-10-26 12:40] gongel opened #3563 "PaddleNLP 2.4.2 Release Note Candidate"
# New Features

## Text summarization application https://github.com/PaddlePaddle/PaddleNLP/pull/3275

- 新增Pegasus生态模型，打通FasterGeneration；
- 新增Pegasus中文文本摘要应用，支持Taskflow一键调用。

## Question generation
- 新增问题生成解决方案，提供基于UNIMO-Text和大规模多领域问题生成数据集训练的通用问题生成预训练模型，支持高性能推理，训练推理部署全流程打通 add qg example #3410 #3438 #3560
- UNIMO-Text 支持自适应生成 `position_ids`，`token_type_ids`，`attention mask` 等功能 #3349

## Machine

[2022-10-26 12:47] xdnjust commented on #3557
看了下cuda版本为10.2.89，应该对应paddlepaddle-gpu==2.3.2版本吧，不知道为啥安装之后还是有上面的问题

[2022-10-27 02:31] coder-duibai commented on #3544
你好，我有三个问题：
第一个问题是：我看evaluate.py中并未读取test.txt文件，读取的好像是dev.txt才算出的精确率和召回率，是这样的吗？
第二个问题是：predict.py如果读取的是data.txt，那么predict预测的时候没法计算精确率和召回率，这该怎么办呢？
第三个问题是：我想算test.txt文件中的精确率和召回率，那么test.txt实在evaluate.py中读取还是在predict.py中读取呢？

[2022-10-27 02:39] lugimzzz commented on #3544
Q1:因为有些数据集没有test.txt所以evaluate.py默认为'dev.txt',你可以修改参数 --dev_file 'test.txt'
Q2:predict.py针对待预测数据集（也就是没有标签的数据）预测结果，如果你要计算模型精度，请使用 analysis/evaluate.py
Q3:evaluate.py

[2022-10-27 02:49] superzhaoyy opened #3564 "[Bug]: pipelines前端页面会重复上传文件"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

页面测试可以得出

[2022-10-27 02:50] gongel commented on #3522
你好，gcc可以升级到8.2。最好是本机编译通过，机器环境不同，编译出来效果有差别。

[2022-10-27 02:52] coder-duibai commented on #3544
好的，还有一个问题，在训练的时候如果使用early_stop，则参数设置的时候是填True还是False，我看early_stop的默认参数是False，这个False是开启早停还是不开启呢？

[2022-10-27 02:52] #3556 closed, assigned to ZHUI

[2022-10-27 02:58] coder-duibai opened #3565 "[Question]: 使用evaluate评估模型没有结果"
### 请提出你的问题

你好，我在使用evaluate.py评估测试集test.txt的效果时，日志一直停留在以下几行：
`[2022-10-27 10:55:26,113] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.modeling.ErnieForSequenceClassification'> to load './checkpoint'.
W1027 10:55:26.114681 38326 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 11.1
W1027 10:55:26.118435 38326

[2022-10-27 03:00] lugimzzz commented on #3544
如果使用早停方式，则运行时加上--early_stop，不使用则不加。具体可搜索store_true用法
![image](https://user-images.githubusercontent.com/63761690/198180543-c71d374f-9818-4485-96fa-9357aaa86947.png)

[2022-10-27 03:06] coder-duibai commented on #3544
好的谢谢，我现在在使用evaluate.py运行test.txt，但日志一直停留在以下几行：

[2022-10-27 10:55:26,113] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.modeling.ErnieForSequenceClassification'> to load './checkpoint'.
W1027 10:55:26.114681 38326 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 11.0, Runtime API Version: 11.1
W1027 10:55:26.118435 38326 gpu_resources.c

[2022-10-27 03:10] lugimzzz commented on #3544
因为要跑一轮训练集和测试集，请耐心等待

[2022-10-27 03:11] lugimzzz commented on #3565
请耐心等待

[2022-10-27 03:11] #3565 closed, assigned to nobody

[2022-10-27 03:38] coder-duibai commented on #3544
好的，谢谢。
还有一个问题向你请教：我这边是一个评论识别的文本分类任务，目前在使用ERNIE3.0-medium-zh测试效果，并需要作为在线模型进行使用。请问在ERNIE3.0中，选择哪一个模型可以更好的支持在线预测且效果相对不错，我这边qps满足300-500就行。

[2022-10-27 03:41] lugimzzz commented on #3544
这个还是要你去尝试，因为不同任务难度不同。如果特别简单的任务nano和medium效果基本没有差别，具体还是要去测试。

[2022-10-27 03:43] coder-duibai commented on #3544
好的，谢谢

[2022-10-27 04:36] #3544 closed, assigned to lugimzzz

[2022-10-27 05:44] JaylonXiwei commented on #2164
我也遇到问题，请问后来是如何解决的，谢谢

[2022-10-27 06:29] lastrei opened #3567 "[Question]: 端到端文档抽取运行失败"
### 请提出你的问题

版本信息：
paddle-pipelines               0.3.0
paddlenlp                      2.4.1
paddlepaddle-gpu               2.3.1.post112
系统
windows 11

使用example/document-intelligence/docprompt_example.py 能够得到正常的返回值
按readME构建端到端流水线时：
从webui提交图片时出现错误：
webapp_docprompt_gradio.py端错误提示如下：
![image](https://user-images.githubusercontent.com/32331131/198207362-2f23536c-ea49-4c6f-a552-134adb72fd61.png)
r

[2022-10-27 06:32] coder-duibai commented on #3544
你好，我在运行evaluate.py后报了如下错误：
^[[32m[2022-10-27 10:55:28,943] [    INFO]^[[0m - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load './checkpoint'.^[[0m
^[[32m[2022-10-27 13:39:57,670] [    INFO]^[[0m - -----Evaluate model-------^[[0m
^[[32m[2022-10-27 13:39:57,670] [    INFO]^[[0m - Train dataset size: 663232^[[0m
^[[32m[2022-10-27 13:39:57,670] [    INFO]^[[0m - Dev

[2022-10-27 06:36] allurelzh commented on #1990
最新的版本taskflow无法使用,paddlenlp-2.4.0

[2022-10-27 06:37] allurelzh opened #3569 "[Question]: 最新的版本taskflow无法使用,paddlenlp-2.4.1"
### 请提出你的问题

最新的版本taskflow无法使用,paddlenlp-2.4.1

[2022-10-27 06:39] lugimzzz commented on #3567
看起来是后端的问题，你是否在启动后端前在命令行运行：
[code]
看上去启动的不是docprompt yaml

启动完成后运行下面命令检查后端是否成功运行：

curl --request POST --url 'http://0.0.0.0:8891/query_documents' -H "Content-Type: application/json"  --data '{"meta": {"doc": "https://bj.bcebos.com/paddlenlp/taskflow/document_intelligence/images/invoice.jpg", "prompt": ["发票号码是多少?", "校验码是多少?"]}}'

[2022-10-27 06:47] lastrei commented on #3567
解决
问题出在
export PIPELINE_YAML_PATH=rest_api/pipeline/docprompt.yaml
export QUERY_PIPELINE_NAME=query_documents

windows 下使用set PIPELINE_YAML_PATH=rest_api/pipeline/docprompt.yaml 未生效造成启动的不是doc prompt服务
感谢

[2022-10-27 06:47] #3567 closed, assigned to lugimzzz

[2022-10-27 06:51] JaylonXiwei opened #3570 "[Question]: pipeline ip地址访问限制"
### 请提出你的问题

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/ernie_matching

我根据这个文档运行并且部署pipeline server，能够在linux本机使用8089端口号访问。但是我想在别的机器上通过ip访问我本机上的服务无法成功。

请问config_nlp.yml中如何设置ip地址为"0.0.0.0"，这样可以被其他机器访问到？谢谢

[2022-10-27 06:52] coder-duibai opened #3571 "[Question]: ValueError: y should be a 1d array, got an array of shape (221078, 2) instead."
### 请提出你的问题

你好，我在运行evaluate.py中报了如下错误：

^[[32m[2022-10-27 10:55:28,943] [    INFO]^[[0m - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load './checkpoint'.^[[0m
^[[32m[2022-10-27 13:39:57,670] [    INFO]^[[0m - -----Evaluate model-------^[[0m
^[[32m[2022-10-27 13:39:57,670] [    INFO]^[[0m - Train dataset size: 663232^[[0m
^[[32m[2022-10-27 13:39:57,670] [    IN

[2022-10-27 06:59] w5688414 commented on #3564
please refer to this pr. https://github.com/PaddlePaddle/PaddleNLP/pull/3568

[2022-10-27 07:06] #3569 closed, assigned to nobody

[2022-10-27 07:13] MachineSheep opened #3572 "[Question]: uie-m-base模型不能直接用evaluate.py进行评估"
### 请提出你的问题

uie-m-base模型直接用evaluate.py进行评估报下面的错误

AssertionError: pretrained base model should be ErnieModel

该如果对uie-m-base模型进行0-shot评估呢？

[2022-10-27 07:33] lugimzzz commented on #3571
你测试少量数据，打印一下 top_k_accuracy_score 输入labels，probs，list(range(len(label_list)))看看，看起来是输入的问题

[2022-10-27 07:52] hehuang139 opened #3573 "[Question]: 模型微调后怎么使用"
请问
模型ernie_layout，做doc_vqa的模型微调，训练完成后（由于整体的训练时间太长，我就训练了1epoch，看下效果，并且现在是40000的checkpoint），我要怎么用这个微调的模型就行预测？
1. 文档中没有告诉我怎么直接通过微调的模型进行预测，即指定checkpoint进行预测，我只看到do_train的时候可以从checkpoint出重新开始训练，但是do_predict的时候，并不会使用output_dir/checkpoint的模型？如果我指定--do_predict要用什么参数进行预测，需要怎么改，帮忙提供下
2. 是否一定要将动态图转换成静态部署之后才能预测？正常应该不需要吧，但是没有看到文档，是否可以提供下文档说明
3. 同时我也尝试export_model，但是报错
这是我的output_dir，是否一定要训练完成才能export，才能预测？

├─

[2022-10-27 07:58] MSZLean commented on #3147
请问文档级的实体关系抽取后续会支持吗

[2022-10-27 08:00] myloveduoduo0920 opened #3574 "[Question]: Error of Taskflow("question_generation")"
### 请提出你的问题

When I try the example of the question_generation module in Taskflow, there is a error.

![1](https://user-images.githubusercontent.com/29173642/198226119-0295a21a-d6d5-4d01-8647-546b5ecc40ab.PNG)
![2](https://user-images.githubusercontent.com/29173642/198226151-f3e0ec2e-8359-4216-97a0-29eeb9368898.PNG)

How can I solve it?

[2022-10-27 08:32] rGitcy opened #3575 "[Question]:bert static目录下pretrain代码bug"
### 请提出你的问题

您好，
使用https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.4/model_zoo/bert/static/run_pretrain.py做训练时程序会卡在：
![image](https://user-images.githubusercontent.com/8943172/198232705-b4bed714-6bca-49b9-ba50-dd401ebd7811.png)
经debug发现代码有个bug:
![image](https://user-images.githubusercontent.com/8943172/198233022-fffad947-3c97-475c-baa6-3277fbdb7e60.png)
按照此写法两个值都是1，程序不会执行，修改f_start_id+1->

[2022-10-27 08:34] wawltor commented on #3570
ip地址为"0.0.0.0" 是本地地址，你可以把这个地址改成机器的ip地址

[2022-10-27 08:38] hehuang139 commented on #3573
看了下源码，发现每个save_steps会先保存到checkpoint中，checkpoint也是存储模型，也是通过model.save方式保存的，只有最后完成训练后，比较最优才保存到output_dir中。即只有训练完成才能导出模型。

如果想要用checkpoint的模型也是可以的，只要制定下本地模型路径到checkpoint的路径即可

也就是如果想要使用checkpoint的微调模型，参数是要修改的model_name_or_path指向本地的模型checkpoint路径

python3 -u run_mrc.py \
  --model_name_or_path ./ernie-layoutx-base-uncased/models/docvqa_zh/checkpoint-40000 \
  --output_dir ./predict_result \
  --datase

[2022-10-27 08:42] ZzyChris97 opened #3576 "[Question]: ERNIE-Layout模型微调：ZeroDivisionError: float division by zero"
### 请提出你的问题

运行ERNIE—Layout模型报错，命令为[readme页面](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layout#41-key-information-extraction)的命令，原封不动

[code]

错误信息
[code]

[2022-10-27 08:43] ZzyChris97 commented on #3576
另外我想问一下，怎么构建和标注自己的数据集进行微调，有这方面的资料吗？

[2022-10-27 08:45] hehuang139 commented on #3573
通过checkpoint导出也是可以的，就是将model_path指向checkpoint的路径即可

[2022-10-27 08:45] ZzyChris97 commented on #3442
您好，我想请问一下DocPrompt的标注、微调方式也会在11月份发布吗？

[2022-10-27 08:53] wawltor commented on #3574
请升级到最新的PaddleNLP develop版本，或者等到明天也可以，今天晚上我们会发布2.4.2版本  https://github.com/PaddlePaddle/PaddleNLP/issues/3563

[2022-10-27 08:55] Intsigstephon opened #3577 "[Question]: Ernie_layout Docprompt 模型啥时候能支持xpu推理？"
### 请提出你的问题

Ernie_layout Docprompt  模型啥时候能支持xpu推理？

[2022-10-27 08:58] w5688414 commented on #3570
Paddle Serving没有远程访问的限制，请检查一下linux的端口号是否开启，是否有防火墙那些

[2022-10-27 09:47] wawltor commented on #3572
支持ENRIE-M的RP： https://github.com/PaddlePaddle/PaddleNLP/pull/3227/files

[2022-10-27 10:40] wanyuks opened #3579 "[Question]: 使用UIE做data_distill的时候报错"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/38677249/198263590-71204bc7-311b-4695-a120-161b78c44178.png)
这个文件是啥，文档中没看到，也没样例

[2022-10-27 10:49] #3579 closed, assigned to nobody

[2022-10-27 10:52] zcswdt opened #3580 "[Question]: 文图生成"
### 请提出你的问题

1.您好，文图生成的有提供离线模型吗？谢谢

[2022-10-27 11:06] JunnYu commented on #3557
可能还是需要再确定一下环境的安装问题，有问题可以再交流

[2022-10-27 11:15] linjieccc commented on #3576
@ZzyChris97 你好，可以检查下数据集是否正常加载。数据标注目前还没有开源，会在近期开出来，欢迎持续关注

![image](https://user-images.githubusercontent.com/40840292/198270130-0e571063-fea3-4f7b-bf3a-b8bd97b54eba.png)

[2022-10-27 11:58] NextGuido opened #3581 "[Question]: 请问ernie-layout的预训练code会开源吗？"
### 请提出你的问题

请问ernie-layout的预训练code会开源吗？我目前想做阅读顺序检测，想参考一下预训练的代码看看怎么实现

[2022-10-27 12:15] zcswdt opened #3583 "[Question]: 文图生成模块如何运行"
### 请提出你的问题

请问这个地方如何运行啊？我是把这个代码贴到python文件中来执行吗？如果是，放到哪个目录下呢？如果不是，该怎么使用这个代码来实现文图生成功能的呢？谢谢了

![image](https://user-images.githubusercontent.com/43515926/198281625-cc428af2-48cd-4ffe-9702-3fd0bce2b0a9.png)

[2022-10-27 12:16] JunnYu commented on #3580
请问您是需要使用什么模型呢？
如果是当前比较热门的StableDiffusion的话，可以查看一下这个目录 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/ppdiffusers

[2022-10-27 12:21] JunnYu commented on #3583
StableDiffusion模型推荐查看这里的文档。https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/diffusers_paddle
非StableDiffusion模型推荐使用Taskflow快速调用。
详细命令如下：
### 步骤1. 安装依赖
[code]
### 步骤2. 开始使用 (注意删除里面的 >>>)
[code]

[2022-10-27 12:22] linjieccc commented on #3577
如果只是DocPrompt模型可以修改这里源码来支持xpu推理，等后续Taskflow完全支持XPU推理后（目前个别算子还不支持XPU）会进行完整更新

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/task.py#L157

[code]

[2022-10-27 12:38] zcswdt commented on #3583
谢谢大佬回复，还有下列模型在哪里下载呢？
![image](https://user-images.githubusercontent.com/43515926/198286199-967214c0-be74-47c5-8c73-f524fa884f99.png)

[2022-10-27 13:02] JunnYu commented on #3583
您只需要将model中的xxxxxx替换成上面就可以了。
[code]

[2022-10-27 13:06] zcswdt commented on #3583
我看使用默认模型的时候，生成的图片只有256*256，那么如何改变生成图片大小？还有就是其他模型都哪里下载呢？谢谢你

[2022-10-27 14:13] zcswdt opened #3588 "[Question]: stable-diffusion-v1-5"
### 请提出你的问题

请问这个模型是如何下载呢？我去了diffusion官网，是下载如下的模型吗？如果不是，该zen'm怎么下载呢？
![image](https://user-images.githubusercontent.com/43515926/198309264-c41e14cd-4563-4865-a7fb-610758dc9c40.png)

[2022-10-27 23:23] izumedonabe opened #3591 "Diffusers_paddle 是否支持Inpaint功能"
### 请提出你的问题

如题，我想在飞桨中尝试Diffusers0.6.0更新的Inpaint功能，但是Diffusers似乎没有更新，我想问问飞桨有没有支持这项功能和更新Diffusers的计划

[2022-10-28 00:48] #3591 closed, assigned to nobody

[2022-10-28 01:39] MachineSheep commented on #3572
好的，感谢

[2022-10-28 01:39] #3572 closed, assigned to nobody

[2022-10-28 01:40] #3022 closed, assigned to linjieccc

[2022-10-28 02:22] gongel commented on #3563
Thx all😊

[2022-10-28 02:22] #3563 closed, assigned to FrostML, w5688414, ZHUI, westfish, gongel, LiuChiachi, linjieccc, lugimzzz

[2022-10-28 02:41] crackso opened #3593 "[Question]: 关于UIE微调参数问题"
### 关于UIE微调参数问题

老师你好，非常荣幸找到uie模型，我在使用uie当中，有几个问题咨询下。

在CMeEE中表格里面提示bert模型采用的learning_rate 采用4e-5，num_epochs使用5，
在ernie-health模型中num_epochs是2，learning_rate 6e-5，
但在uie中给出的示例num_epochs写了100，然后learning_rate 默认1e-5，具体上这样会有什么区别呢。

我在aistudio上走了4200步左右花了大约8小时，后续由于网络原因中断了。目前还不清楚，这样是否正常，需要调整这些参数么？谢谢

[2022-10-28 02:45] wawltor commented on #3581
目前还没有开源计划，因为预训练模型的训练流程比较复杂，最近还在代码整理的工作，后续看看是否能放开预训练流程。

[2022-10-28 02:49] NextGuido commented on #3581
恩恩，感谢这么棒的项目！期待开源

[2022-10-28 02:49] #3581 closed, assigned to linjieccc

[2022-10-28 02:55] NLPOR opened #3595 "paddlenlp few-shot推理部署报错"
### 请提出你的问题 Please ask your question

在运行paddlenlp中的few-shot小样本分类demo时，前面的训练和模型评估都可以正常运行，但是在执行部署推理时报如下错误：
![微信图片_20221028103050](https://user-images.githubusercontent.com/24563120/198480744-4560df21-9319-4a7b-988f-8c5c33d853de.jpg)

执行命令为：
python infer.py --model_path_prefix checkpoints/export/model --data_dir ./data --batch_size 1 --device gpu --device_id 0

数据推理的数据目录结构如下：
![image](https://user-i

[2022-10-28 03:52] wawltor commented on #3593
不同的模型的学习率、num_epochs、batch_size都是调整的，这里没有一个确定的数据，e-5是一个经验值，在这个范围的学习率训练出来的模型相对稳定，具体的值可以自己调整；UIE可以直接使用默认参数训练

[2022-10-28 05:58] wjddd commented on #3528
已解决，感谢~

[2022-10-28 05:58] #3528 closed, assigned to nobody

[2022-10-28 05:58] #3449 closed, assigned to nobody

[2022-10-28 06:05] LemonNoel commented on #3595
可以把paddle版本升级到2.4rc再导出部署。pip install paddlepaddle-gpu==2.4rc

[2022-10-28 06:08] wjddd opened #3596 "[Question]: ERNIE-Layout推理代码出现InvalidArgumentError"
使用DocPrompt模型进行推理，代码参考的是[PaddleNLP-develop\model_zoo\ernie-layout\deploy\python\infer.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/infer.py)，出现以下报错：

[code]

[2022-10-28 06:33] crackso commented on #3593
感谢老师！
1，目前有关于uie在CMeEE上的表现情况吗？
2，uie模型在除了实体任务外，其他任务的表现如何？如果需要让模型拥有其他类型任务能力的话，可以继续在uie上微调呢还是建议使用别的ernie-base或者ernie-medical模型去微调；

[2022-10-28 06:34] done520 opened #3599 "[Bug]: uie模型部署报错，显示GPU不可用CUDAExecutionProvider，CPU可以用"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

CPU可用：python deploy/python/infer_cpu.py --model_path_prefix export/inference

GPU不可用：python deploy/python/infer_gpu.py --model_path_prefix export/inference

[2022-10-28 06:46] xdnjust commented on #3557
看了下跑的问题，是不是说libnccl.so文件没有配置？这个应该配置到哪里？

    File "./src/train_ce.py", line 392, in <module>
      main(args)
    File "./src/train_ce.py", line 161, in main
      dist_strategy=dist_strategy)
    File "/users_2/d00477216/docvqa/Rerank/src/optimization.py", line 125, in optimization
      _, param_grads = optimizer.minimize(loss)
    File "/home/anaconda3/envs/lc_detectron/lib/python3.7/site-packa

[2022-10-28 07:13] linjieccc commented on #3596
你好，可以参考下Taskflow DocPrompt任务里predictor的构造方法

- 获取静态图参数

https://github.com/PaddlePaddle/PaddleNLP/blob/c8bc4405fc6ed7026887c7c97d6ce1afa32e300f/paddlenlp/taskflow/document_intelligence.py#L78-L80

- predictor构建

https://github.com/PaddlePaddle/PaddleNLP/blob/c8bc4405fc6ed7026887c7c97d6ce1afa32e300f/paddlenlp/taskflow/task.py#L249-L254

[2022-10-28 07:15] linjieccc commented on #3599
@done520 你好，可以尝试安装与驱动CUDA版本对应的paddle再试下

[code]

[2022-10-28 07:21] wjddd commented on #3596
predictor的构建我是沿用 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/predictor.py 这里的，但是出现报错

[2022-10-28 07:31] done520 commented on #3599
你好，我的cuda为10.1，驱动为11.2，按照如上按照后，出现相同的错误：
$ python deploy/python/infer_gpu.py --model_path_prefix export/inference
[2022-10-28 15:30:30,305] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-10-28 15:30:30,305] [    INFO] - Already cached /home/user/.paddlenlp/models/ernie-3.0-base-zh/ernie_3.0_base_zh_vocab.txt
[2022-10-28 1

[2022-10-28 07:33] wawltor commented on #3593
1. CMeEE 我们之前做过实验，效果好于ERNIE-Health效果
2. UIE的效果在关系抽取、观点抽取效果都不错，这个是业务经验，具体的效果和数据、场景有关系；建议uie-base微调

[2022-10-28 07:34] dougzhi commented on #2164
mac m1 同样的问题

[2022-10-28 07:49] linjieccc commented on #3596
从报错信息来看是输入数据类型和 Filter 数据类型不一致导致，方便提供下复现代码进一步定位下问题么

![image](https://user-images.githubusercontent.com/40840292/198531897-08e05502-ea3c-475d-b4a1-1e03e2c1dc3c.png)

[2022-10-28 07:53] linjieccc commented on #3599
检查下环境里面是否已卸载onnxruntime并且安装了onnxruntime-gpu

[2022-10-28 07:56] wjddd commented on #3596
@linjieccc

使用的代码就是https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/predictor.py 和 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/infer.py

其中，predictor.py的
https://github.com/PaddlePaddle/PaddleNLP/blob/c8bc4405fc6ed7026887c7c97d6ce1afa32e300f/model_zoo/ernie-layout/deploy/python/predictor.py#L38-L39
修改为：
[cod

[2022-10-28 07:57] wawltor commented on #3599
cuda版本确保是11.x版本，以及安装的paddle的版本是cuda 11.x版本

[2022-10-28 08:06] done520 commented on #3599
@linjieccc 已卸载onnxruntime并且安装了onnxruntime-gpu，依然gpu无法推理。
@wawltor 驱动是11.2， paddle是paddlepaddle-gpu==2.3.2.post112

请问， 有什么方法解决吗？

[2022-10-28 08:14] wawltor commented on #3599
是怎么安装paddlepaddle-gpu==2.3.2.post112 是pip还是conda ？

[2022-10-28 08:14] JunnYu commented on #3588
你好，你是需要下载原版模型吗？还是要下载paddle版本的模型？
如果是当前paddle版本的话，目前还没有统一的下载方式。
你可以在机器上
[code]

[2022-10-28 08:17] JunnYu commented on #3583
![image](https://user-images.githubusercontent.com/50394665/198539081-c41d5dea-cff1-479e-894f-065157b8aed8.png)
目前部分模型不支持修改图片大小，StableDiffusion支持修改图片大小。
文件下载可能比较复杂，当前没有统一的下载方式。
当前可以使用上述命令自动下载，然后可以查看自动下载所对应的文件目录。

[2022-10-28 08:17] done520 commented on #3599
pip install xxx , 按官方教程

[2022-10-28 08:18] wawltor commented on #3599
<img width="957" alt="image" src="https://user-images.githubusercontent.com/16698950/198539569-2cf1884e-4848-44e4-8ae4-37185b6b9f5f.png">
https://www.paddlepaddle.org.cn/  建议conda方式安装，同时环境最好是一个新的conda环境

[2022-10-28 08:40] done520 commented on #3599
好的，我试一下

[2022-10-28 09:02] xdnjust commented on #3557
这个是不是代表已经安装成功了？

![image](https://user-images.githubusercontent.com/38311101/198548595-11965356-81ab-49ff-8be1-60a671ab3b83.png)

[2022-10-28 09:22] xdnjust commented on #3557
上面截图安装成功了，为啥还是跑出错，错误信息如下：

[2022-10-28 17:02:40,298] [    INFO] - Already cached /root/.paddlenlp/models/layoutxlm-base-uncased/sentencepiece.bpe.model
[2022/10/28 17:02:40] ppocr DEBUG: Namespace(alpha=1.0, benchmark=False, beta=1.0, cls_batch_num=6, cls_image_shape='3, 48, 192', cls_model_dir='/root/.paddleocr/whl/cls/ch_ppocr_mobile_v2.0_cls_infer', cls_thresh=0.9, cpu_threads=10, crop_res_save

[2022-10-28 09:27] JaylonXiwei opened #3603 "[Question]: 排序模型训练数据"
### 请提出你的问题

请问我想训练排序模型的数据（基于ERNIE-Gram训练Pair-wise模型），数据格式如下所示

`个人所得税税务筹划      基于新个税视角下的个人所得税纳税筹划分析新个税;个人所得税;纳税筹划      个人所得税工资薪金税务筹划研究个人所得税,工资薪金,税务筹划`

请问如何理解这个训练的格式，一共有三段文字，是不是意思是第一段和二，三端关联度为1？然后如何才能添加负样本，这个只是正样本的训练数据。

[2022-10-28 09:36] crackso commented on #3593
嗯。感谢。
1，那我是否可以这样理解，其实uie模型在多任务上的效果和其他模型相差不大，尤其实体方面会更优秀一点对吗？
2，另外我目前使用默认参数，在CMeEE的数据层面上做了点优化，训练大约11000步。提交cblue的F1值为56。老师给评价下是否和预期相符合呢？

[2022-10-28 09:42] xdnjust commented on #3557
跑了下PaddleNLP/applications/document_intelligence/doc_vqa/下面的三个模块，发现OCR处理模块可以跑通输出结果。
但是Rerank模块的训练部分无法运行，请帮忙确认一下代码是否可正确运行？我这边一直跑不通

    File "./src/train_ce.py", line 392, in <module>
      main(args)
    File "./src/train_ce.py", line 146, in main
      ernie_config=ernie_config)
    File "/users_2/d00477216/docvqa/Rerank/src/cross_encoder.py", line 112, in create_model
      graph_vars = _model(is

[2022-10-28 09:42] xdnjust commented on #3557
跑了下PaddleNLP/applications/document_intelligence/doc_vqa/下面的三个模块，发现OCR处理模块可以跑通输出结果。
但是Rerank模块的训练部分无法运行，请帮忙确认一下代码是否可正确运行？我这边一直跑不通

    File "./src/train_ce.py", line 392, in <module>
      main(args)
    File "./src/train_ce.py", line 146, in main
      ernie_config=ernie_config)
    File "/users_2/d00477216/docvqa/Rerank/src/cross_encoder.py", line 112, in create_model
      graph_vars = _model(is

[2022-10-28 09:43] ZHUI commented on #3575
此为bug，可以的，这样修改是合理的。

[2022-10-28 09:48] NLPOR commented on #3595
可以了，谢谢

[2022-10-28 09:48] #3595 closed, assigned to LemonNoel, ceci3

[2022-10-28 10:26] done520 commented on #3599
@wawltor 好像GPU还是不行呀

[2022-10-28 10:30] w5688414 commented on #3603
Hi, @JaylonXiwei , 感谢您的反馈， pairwise的训练的数据的格式：query\t positive_title \t negatitle

这个数据集是把用户点击的title当成正样本，把未点击的当成负样本训练得来的，不排除有很多噪声数据。

[2022-10-28 12:54] wawltor commented on #3599
[code]
可以用这里的代码试一下 check paddle是否安装成功

[2022-10-28 13:49] zcswdt commented on #3583
可以发一下实验命令下载的地址吗？我想去下载一下模型，试试效果。

[2022-10-28 16:30] wawltor commented on #3593
1. 实体抽取的效果相对好
2. CMeEE理论上还是提升一点，ERNIE-Health效果可以持平 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-health

[2022-10-29 01:19] JunnYu commented on #3583
你好，只需要有网络，模型会自动加载缓存下来的
[code]
<img width="1084" alt="image" src="https://user-images.githubusercontent.com/50394665/198755353-fbb9e0f5-6224-409e-82f9-adeb333a050b.png">

[2022-10-29 01:19] xdnjust commented on #3557
@wawltor @JunnYu 请帮忙看一下，好像安装成功了，ocr也可以跑通，但是Rerank训练还是有上述问题

[2022-10-29 02:45] crackso commented on #3593
好的，老师。目前我准备了两个方案正在验证，uie这边目前还在训练中，33次，69300步。
best F1 performence has been updated: 0.72082 --> 0.72499
有好消息我在回复老师。

[2022-10-29 02:57] JunnYu commented on #3557
上面表示环境还没有正确安装好，cudnn跟cuda可能配置没有匹配上，建议运行一下这个看一下。
[code]

[2022-10-29 02:59] JunnYu commented on #3557
https://www.paddlepaddle.org.cn/documentation/docs/zh/install/conda/linux-conda.html#anchor-0
建议使用anaconda配置一下环境，
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/50394665/198792109-46fded73-164b-4ed3-b881-1f7c6f0c526a.png">

[2022-10-29 03:00] xdnjust commented on #3557
这个命令我执行过了，截图如下，是不是表示安装好了已经？

![image](https://user-images.githubusercontent.com/38311101/198792582-ea2e5e10-26d3-4369-81bd-44c05336baf6.png)

[2022-10-29 03:24] zcswdt commented on #3583
比如说以下的这些网络呢？也是加载了直接可以下载下来吗？
![image](https://user-images.githubusercontent.com/43515926/198803372-b75419c1-050c-45bc-9d3e-bcf5c7b6eb03.png)

[2022-10-29 08:39] TSAIJK commented on #3480
你好！请教一个有关于标注的问题，同样还是在这个文本。比如”受体实体1“和”细菌实体1“之间的关系为您建议的”receptor“，那么标注时的箭头指向应该是什么呢？
（目前我标注的是”受体实体1“---（receptor）--->”细菌实体1“，想达到的语义是”受体实体1 是 细菌实体1 的受体“）
但是通过阅读验证集，其中出现了”receptor of 某个受体“的prompts，不知道是负例的影响还是我应该调整标注时箭头的方向？

[2022-10-29 16:10] hl123-123 opened #3610 "[Question]: 关于使用ErnieForGeneration的如何生成句子"
### 请提出你的问题

我根据[使用PaddleNLP预训练模型ERNIE-GEN生成诗歌](https://aistudio.baidu.com/aistudio/projectdetail/1339888?channelType=0&channel=0) 这个项目学习的ernie gen的句子生成解码策略，想直接使用预训练权重用ErnieForGeneration 生成句子
 具体详见我这个aistudio项目  ： https://aistudio.baidu.com/aistudio/projectdetail/4923792

就是使用ErnieForGeneration 的例子我除了上面这个写诗歌的我找不到其他的，然后我想问下是你们权重参数的问题，还是我这个解码策略的问题

[2022-10-29 16:14] hl123-123 opened #3611 "[Docs]: 想问下就是关于一些token具体代表的含义"
### 软件环境

[code]

### 详细描述

[code]

[2022-10-30 09:41] wawltor commented on #3611
sep_token 是 分割token，表示上下两句的分隔符，CLS这个是BERT系列的模型结构有关，建议去看一下BERT模型结构

具体的模型结构代码可以看 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/paddlenlp/transformers/ernie
BERT模型结构详解  https://blog.csdn.net/u011412768/article/details/108015783

[2022-10-30 10:20] JunnYu commented on #3557
看这个安装确实成功了，但是使用的时候还是有报错，这就得确定是出什么问题了，建议先检查一下下面的命令能否运行。
[code]

[2022-10-30 11:11] dymyyc commented on #2476
@Chikeke 请问，ace2005关系抽取数据集预处理下来有多少个样本？

[2022-10-31 00:48] rGitcy commented on #3575
非常感谢，我先按这个修改即可对吧？请问官网上会更新修复后的代码吗？

[2022-10-31 01:20] wjddd commented on #3596
@linjieccc 请问这个问题可以定位到吗？

[2022-10-31 02:12] linjieccc commented on #3596
@wjddd ernie-layout中的模型是通过jit.save的方式保存为静态图模型的，这里定义了模型的输入shape和type https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/export_model.py#L42

可以check下是否是因为DocPrompt的输入不一致导致的

[2022-10-31 02:33] done520 commented on #3599
@wawltor 测试显示paddlepaddle-gpu已经可以使用了，但是paddlenlp还是不能使用gpu.

[2022-10-31 03:49] OswaldoBornemann opened #3612 "[Question]: 如何计算单条句子的Perplexity"
### 请提出你的问题

如何计算单条句子的Perplexity？目前的Perplexity好像一定要有Ground truth label

[2022-10-31 05:27] vesper1012 opened #3613 "[Question]: erine-gram作为千言数据集：问题匹配鲁棒性baseline运行时无法下载paddlenlp"
### 请提出你的问题

在paddle里运行2021 CCF BDCI 千言-问题匹配鲁棒性评测Baseline时, 运行至
import paddlenlp as ppnlp报错: TypeError: can't apply this __setattr__ to type object

[2022-10-31 05:28] livingbody opened #3614 "[Question]: RuntimeError: Downloading from https://bj.bcebos.com/paddlenlp/models/community/Salesforce/codegen-350M-mono\vocab.json failed with code 404!"
### 请提出你的问题

## 如下，taskflow下载模型在windows下失败，url拼写错误。

[code]

[2022-10-31 07:12] ghost opened #3615 "求问AutoModelForSequenceClassification类的原理"
在[paddlenlp.transformers.auto.modeling 源代码](https://paddlenlp.readthedocs.io/zh/latest/_modules/paddlenlp/transformers/auto/modeling.html)中，通过AutoModelForSequenceClassification.from_pretrained函数可以直接载入预训练模型并分类。那么，对于[Transformer预训练模型汇总](https://paddlenlp.readthedocs.io/zh/latest/model_zoo/index.html#transformer)中的模型，输入分类器的句向量是在哪里定义的（非BERT类模型不一定有[CLS]向量），所用的网络结构都是直接在句向量之后接单层全连接网络吗？

[2022-10-31 07:35] coder-duibai opened #3616 "[Question]: 如果有不同类型的文本特征，该如何输入到ERNIE3.0中分别获得Embedding？"
### 请提出你的问题

你好，我是一个新闻分类的任务，新闻文本包含标题、正文、摘要等不同类型的特征，请问如何通过ERNIE3.0分别获得标题、正文和摘要的Embedding呢？

[2022-10-31 07:46] xdnjust opened #3617 "关于在paddlepaddle-gpu docker容器中安装新包的问题"
### 请提出你的问题

楼主你好，我使用了官网推荐的“Linux下的Docker安装paddlepaddle-gpu”版本，然后跑代码时候发现需要一些其它的包，比如cv2等等，我直接执行pip install cv2，好像安装不了，请问应该如何操作？

![image](https://user-images.githubusercontent.com/38311101/198957387-e0c0b940-8b72-4bd3-98fa-002dccdb3758.png)

[2022-10-31 07:53] wjddd commented on #3596
应该就是这个问题，感谢~

[2022-10-31 07:53] #3596 closed, assigned to linjieccc

[2022-10-31 07:57] zcswdt opened #3618 "stable-diffusion-v1-4"
### 请提出你的问题

您好，请问这个模型如何下载呢？谢谢

[2022-10-31 07:58] #3580 closed, assigned to JunnYu

[2022-10-31 07:59] #3583 closed, assigned to JunnYu

[2022-10-31 08:13] JaylonXiwei opened #3619 "[Question]: http访问ernie_matching服务"
### 请提出你的问题

我根据这个文档搭建了排序模型，[ernie_matching](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/ernie_matching)

rpc可以访问服务，但是http访问报错”not found“，请问是否有案例，如果使用http来调用改排序模型？
config文件中只写明了端口号，但是没有其他的具体说明了

[2022-10-31 08:29] naginoa opened #3620 "[Docs]: https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E8%AF%A6%E7%BB%86%E4%BD%BF%E7%94%A8"
### 软件环境

[code]

### 详细描述

[code]

[2022-10-31 08:42] wawltor commented on #3612
具体是哪个例子了？

[2022-10-31 08:45] wawltor commented on #3617
这个看起来是网络有问题？ 你看看docker启动容器的时候 你试试桥接模式

[2022-10-31 09:00] zcswdt commented on #3588
您好，运行你这个代码，还是下载不了这个模型，我环境配置都没问题，请问怎么解决呢？或者是方便发给我一份模型吗？谢谢你。
![image](https://user-images.githubusercontent.com/43515926/198970537-496a4c96-33e4-4bc8-bd57-cf63f065e202.png)

[2022-10-31 09:23] #3617 closed, assigned to wawltor

[2022-10-31 09:23] xdnjust commented on #3557
感谢解决了，服务器上有许多版本的cudnn，绕晕了

[2022-10-31 09:23] #3557 closed, assigned to nobody

[2022-10-31 09:29] w5688414 commented on #3619
请把完整的报错信息发一下，可以参考faq-finance的文档，里面有http访问的示例。https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/question_answering/faq_finance

[2022-10-31 09:57] yuwochangzai opened #3623 "[Question]: UIE与ERNIE 3.0 轻量级模型有什么关系？"
### 请提出你的问题

UIE是在ERNIE 3.0的基础上开发的吗？

[2022-10-31 10:09] SOVLOOKUP opened #3625 "文档智能能否提供搜索功能"
### Feature request

现在 [文档智能](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/document_intelligence) 可以提供对单个文件的信息问答。

但我有一堆资料，形式包括文档、文字、图片、音频、视频等等，如何达到以下效果：

[code]

即提出一个问题，先对不确定的多个文档进行信息检索，定位到问题对应文档之后再使用 document_intelligence 进行文档理解回答。

### Motivation

文档智能的场景往往都是需要从一大堆资料中找出需要的内容，如何定位到问题对应的文档其实才是最难最耗时间的，如果能从成千上万的文档中快速地找到我想要的答案在哪个文档里面，就能解决这个痛点了

### Your contribution

先用 docu

[2022-10-31 10:44] w5688414 commented on #3613
请详细说一下您的环境，您是使用的这里的代码吗？

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/question_matching

请确保安装了paddlenlp，并升级最新版本：
[code]

[2022-10-31 10:48] vesper1012 commented on #3613
您好&nbsp;
我是在AIstudio平台里面运行的&nbsp;
https://aistudio.baidu.com/bd-gpu-01/user/2913358/4922366/notebooks/4922366.ipynb

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-10-31 10:50] vesper1012 commented on #3613
您好
我是在AIstudio平台里面运行的
https://aistudio.baidu.com/bd-gpu-01/user/2913358/4922366/notebooks/4922366.ipynb
paddlenlp已经安装好了

运行报错:
---------------------------------------------------------------------------TypeError                                 Traceback (most recent call last)/tmp/ipykernel_145/2093448463.py in <module&gt;      10 import paddle.nn.functional as F      11  ---&gt; 12 import paddlen

[2022-10-31 11:05] wawltor commented on #3623
UIE是ERNIE 3.0系列模型进行微调的

[2022-10-31 11:21] JaylonXiwei commented on #3619
解决了，谢谢

[2022-10-31 11:21] #3619 closed, assigned to w5688414

[2022-10-31 11:34] gongel commented on #3614
你好，我这边linux上测试paddlenlp==2.4.1和2.4.2都没有问题。Windows我们排查下。

[2022-10-31 11:49] linjieccc commented on #3625
你好，可以参考下这里汽车说明书视觉问答的解决方案：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/document_intelligence/doc_vqa
在VQA之前有个排序模块对文档以及问题根据相关性进行排序

[2022-10-31 11:58] w5688414 commented on #3613
@vesper1012 Hi，请把项目分享一下，这个链接我打不开

[2022-10-31 11:59] vesper1012 commented on #3613
您好:
项目地址是这个 不知道您是否可以打开:
https://aistudio.baidu.com/aistudio/projectdetail/4922366?forkThirdPart=1

Vesper
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-10-31 12:02] vesper1012 commented on #3613
是这个比赛的baseline:
https://aistudio.baidu.com/aistudio/competition/detail/130/0/introduction
我点击直接在aistudio里面运行, 进入以后环境正常但是会出现上述报错

Vesper
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-10-31 12:04] JunnYu commented on #3618
建议使用库下载，
`pip install ppdiffusers`
[code]
[code]

[2022-10-31 12:07] wawltor commented on #3625
也可以看看这个目录 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/examples/question-answering

[2022-10-31 12:08] JunnYu commented on #3588
windwos环境下"/"可能跟linux不太一样，所以有问题，
<img width="520" alt="image" src="https://user-images.githubusercontent.com/50394665/199004476-fa88ad97-1066-4835-956f-02daeb9e34d5.png">
你好，我大约知道是什么问题了，我给你个脚本吧，可以下载

[2022-10-31 12:15] zcswdt commented on #3588
好的，脚本怎么给我呢，谢谢了

[2022-10-31 12:16] zcswdt commented on #3588
我邮箱jhsignal@126.com

谢谢谢谢！脚本可以发给我邮箱吗？jhsignal@126.com

[2022-10-31 12:23] zcswdt commented on #3618
我下载了，下载了报错，可以给脚本发给我邮箱吗？谢谢！jhsignal@126.com

[2022-10-31 12:24] lugimzzz commented on #3616
基于目前transformer结构，可以选择三个不同的模型，分别将标题、正文、摘要输入到模型中；或者选择将标题、正文、摘要分别输入到同一个模型中获得

[2022-10-31 12:25] zcswdt commented on #3618
![image](https://user-images.githubusercontent.com/43515926/199007258-211a1cbd-99c2-44d6-aa63-4897a02da394.png)

[2022-10-31 12:33] lugimzzz commented on #3615
推荐阅读源码帮助理解，比如ERNIE（其他模型也同理）
`AutoModelForSequenceClassification.from_pretrained('ernie-3.0-medium-zh')`则会调用`ErnieForSequenceClassification('ernie-3.0-medium-zh')`，那么你关注[ErnieForSequenceClassification](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/modeling.py#L1041)是如何实现。

不是每个模型都支持ForSequenceClassification，具体要看该模型有没有实现对应的ForSequenceClassification模型，大多数情况都是后接全链

[2022-10-31 13:02] JunnYu commented on #3588
[code]

[2022-10-31 13:09] zcswdt commented on #3588
您好，我下载玩模型了，加载模型的这个函数，pipe = StableDiffusionPipeline.from_pretrained("路径")，这“路径”是替换模型的路径吗？

[2022-10-31 13:10] zcswdt commented on #3588
您好，我下载玩模型了，加载模型的这个函数，pipe = StableDiffusionPipeline.from_pretrained("路径")，这“路径”是替换模型的路径吗？

[2022-10-31 13:11] JunnYu commented on #3588
是的，替换成cache_dir = "./stable-diffusion-v1-5"，这个路径，当然你也可以改名字

[2022-10-31 13:14] zcswdt commented on #3588
好的，那谢谢你了！可以加个V吗？如果可以，可以给V发到我邮箱，jhsignal@126.com，我加你，谢谢了！

[2022-10-31 23:41] rGitcy opened #3628 "[Question]: bert fintune时数据下载失败"
### 请提出你的问题

您好，
我运行bert的fintune代码时，屏幕显示下载数据这个过程很慢，而且总是失败！请问找个有什么其他办法吗？
![image](https://user-images.githubusercontent.com/8943172/199129564-8defed98-416f-4d79-aaab-6a4c10f728d6.png)
RuntimeError: Download from https://bj.bcebos.com/dataset/glue/SST.zip failed. Retry limit reached
x谢谢！

[2022-11-01 00:42] ZTurboX opened #3629 "文档智能如何制作自己的数据集"
### 请提出你的问题

文档智能如何制作自己的数据集

[2022-11-01 01:50] JunnYu commented on #3618
同https://github.com/PaddlePaddle/PaddleNLP/issues/3588

[2022-11-01 01:50] #3618 closed, assigned to JunnYu

[2022-11-01 01:57] jxrjlxc02 opened #3630 "[Question]: finetune relation model？遇到问题。"
### 请提出你的问题

目前已有的 finetune.py 模型 为 "class UIE(ErniePretrainedModel)", 该模型NER模型，目标是获取 start_prob, end_prob 概率，
请问目前是否有 关系模型的UIE finetune参考？ 还是需要自己定制化一个呢？

[2022-11-01 02:00] LemonNoel commented on #3628
可以使用 wget https://bj.bcebos.com/dataset/glue/SST.zip 直接下载吗？

[2022-11-01 02:23] yuwochangzai opened #3631 "[Question]: UIE CPU部署后的model.onnx该如何使用？"
### 请提出你的问题

使用命令python deploy/python/infer_cpu.py --model_path_prefix export/inference生成的model.onnx该如何使用？有demo吗？

[2022-11-01 02:33] LemonNoel commented on #3631
infer_cpu.py 就是使用 model.onnx 进行推理的。model.onnx 是在[这步](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py#L34-L38)由静态图模型转换得到的，使用它进行推理的代码可以看 [uie_predictor.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py) 文件。

[2022-11-01 03:17] yuwochangzai commented on #3631
可是我看这个文件只是写入了model.onnx文件，并没有用上它

[2022-11-01 03:18] yuwochangzai commented on #3631
可是我看这个代码只是写入了model.onnx文件，并没有用上它

[2022-11-01 03:45] xyliu-uir opened #3632 "[Question]: 请问什么时候能支持英文事件抽取捏？"
### 请提出你的问题

请问什么时候能支持英文事件抽取捏？

[2022-11-01 03:46] zcswdt opened #3633 "[Question]: 关于模型加载Taskflow"
### 请提出你的问题

您好，我把这个disco_diffusion_ernie_vil-2.0-base-zh模型下载到本地了，例如我存放在“F:\disco_diffusion_ernie_vil-2.0-base-zh”请问在使用Task加载模型的时候如何更改模型路径呢？谢谢。

![image](https://user-images.githubusercontent.com/43515926/199153957-222d7dff-e404-4eb5-8731-5b78599224e3.png)

[2022-11-01 03:48] wawltor commented on #3629
文档智能这块目前还不支持微调的流程，我们预计在这个月中下旬发布UIE-x，来支持多模态信息抽取，支持文档级别的抽取工作，包括怎么标注数据，怎么为微调

[2022-11-01 03:58] wawltor commented on #3630
可以支持关系抽取的微调

1. 按照关系抽取的方式来标注数据
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md
<img width="1138" alt="image" src="https://user-images.githubusercontent.com/16698950/199155563-fe86844b-edbc-4190-8948-8bc325a5a8ff.png">

2. 生成训练数据
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie
<img width="1012" alt="image" src="https://user-images.githubuserconte

[2022-11-01 04:00] wawltor commented on #3632
目前还不支持英文事件抽取，通常情况下我们是建议使用关系抽取来代替事件抽取，事件抽取在很多任务都有局限性，例如一个事件在一个句子没有办法对应两个出发词

[2022-11-01 04:02] wawltor commented on #3633
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md

可以看上面的文档
具体可以设置home_path
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/16698950/199156089-8e07c9dd-2ce9-4d08-85a0-cb9392587014.png">

[2022-11-01 04:05] wawltor commented on #3631
https://github.com/PaddlePaddle/PaddleNLP/blob/bdd659d2660312c75bb62ca47382907378ecfaa5/model_zoo/uie/deploy/python/uie_predictor.py#L63

可以看这里，这里加载了onnx model

[2022-11-01 04:21] shm007g opened #3634 "[Bug]: [question generation] template 3 NameError: name 'tokenizer' is not defined"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

这里代码有问题，template 3 写了一个没定义的tokenizer。unittest要跟进啊百度gg们。
[code]

[2022-11-01 05:17] rGitcy opened #3635 "bert base fintune报错：AttributeError: 'paddle.fluid.core_avx.Tensor' object has no attribute 'astype'"
### 请提出你的问题

使用bert static目录下代码使用官方例子进行fintune。报错：AttributeError: 'paddle.fluid.core_avx.Tensor' object has no attribute 'astype'
![image](https://user-images.githubusercontent.com/8943172/199164013-9a14316f-c59b-4d1b-baa0-7e2a57b2038c.png)

我的运行环境：
python==3.8
paadlepaddle-gpu==2.3.2
paddlenlp==2.4.2

[2022-11-01 05:18] linjieccc commented on #3620
@naginoa 你好，预测的时候会通过字典统一映射到PER、LOC、ORG、TIME这组标签上

[2022-11-01 05:35] zcswdt commented on #3633
您好，我下载玩模型，讲模型路径按照上面文档改了，可是在运行代码还是报错，请问这个怎么解决呢？谢谢！

![image](https://user-images.githubusercontent.com/43515926/199165793-8ea07b74-ff09-4f61-9003-c8b2b19e8d71.png)

这是我的代码：
![image](https://user-images.githubusercontent.com/43515926/199165917-994540b7-f21c-45a1-ace0-36b400da58cc.png)

这是我下载的模型，路径为‘/root/PaddleNLP/text_image/disco_diffusion_ernie_vil-2.0-base-zh’

![image](https://user-images.github

[2022-11-01 06:15] yuwochangzai commented on #3631
这个onnx_model是用静态图转换得到的，我的意思是如何将生成了的model.onnx用起来？

[2022-11-01 06:24] wawltor commented on #3631
<img width="615" alt="image" src="https://user-images.githubusercontent.com/16698950/199171864-047c8495-c806-4420-928e-9377ddb51352.png">
onnx_model 是使用paddle2onnx将静态图参数转成onnx格式，`ort.InferenceSession` 这个表示onnxruntime的backend来调用onnx模型

[2022-11-01 06:24] w5688414 commented on #3613
@vesper1012  Hi, 升级Paddle版本就能解决这个问题。我重新发布了一个升级成2.4版本的项目，请参考。

https://aistudio.baidu.com/aistudio/projectdetail/4942734

[2022-11-01 06:30] wawltor commented on #3633
你的任务名和模型路径不匹配？
<img width="849" alt="image" src="https://user-images.githubusercontent.com/16698950/199172906-3654eb2f-746b-435b-ab22-44165ad13910.png">

[2022-11-01 06:33] rGitcy commented on #3635
i delete the astype in the line 428 of model_utils.py .Now it run successs.
![image](https://user-images.githubusercontent.com/8943172/199173265-dfbd6067-fbb4-446b-a677-b3a8ecda7f5e.png)

[2022-11-01 06:39] zcswdt commented on #3633
我现在将代码改了如下：
![image](https://user-images.githubusercontent.com/43515926/199173915-6b45fa42-0e10-4049-9bc1-b564a912ce9c.png)

运行这个代码还是会产生如下报错，一直叫我去下载东西，可是我模型已经保存在‘/root/PaddleNLP/text_image/disco_diffusion_ernie_vil-2.0-base-zh’这个文件夹下了，烦请帮忙看看，谢谢！

![image](https://user-images.githubusercontent.com/43515926/199173780-e6323edd-62c1-4471-ade3-5071b8fe8c40.png)

[2022-11-01 06:46] yuwochangzai commented on #3631
使用路径加载模型即可：
self.predictor = ort.InferenceSession(float_onnx_file,
                                              sess_options=sess_options,
                                              providers=providers)

[2022-11-01 06:46] #3631 closed, assigned to wawltor

[2022-11-01 06:47] wj-Mcat commented on #3635
glad to see that you have found the trick to fix this issue.

But, this is actually a bug when doing dynamic-to-static, we will try to fix it later.  Thanks for your posting.

[2022-11-01 06:53] yuwochangzai opened #3636 "[Question]: 如何提高UIE使用CPU部署的model.onnx模型的推理性能？"
### 使用的uie_nano预训练模型，但是速度还是很慢
31个schema，80多条数据测试耗时190秒
模型是按照[文档](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E6%A8%A1%E5%9E%8B%E9%83%A8%E7%BD%B2)使用命令：
python deploy/python/infer_cpu.py --model_path_prefix export/inference
生成的，该如何提高推理性能？

[2022-11-01 07:22] LemonNoel commented on #3636
可以根据机器CPU配置，适当调大batch_size参数

[2022-11-01 07:35] coder-duibai commented on #3616
你好，根据你的回答：”基于目前transformer结构，可以选择三个不同的模型，分别将标题、正文、摘要输入到模型中"，请问如何选择三个不同的模型呢？

[2022-11-01 07:38] junshan2009 opened #3637 "few-shot的predict程序增加预测结果输出"
### Feature request

PaddleNLP-develop\applications\text_classification\multi_class\few-shot
这个demo里面有train，有predict，
但是执行完predict只有模型评估效果，没有输出预测集的predict结果
希望，增加一个功能，predict完之后，直接输出结果，方便大家使用。
谢谢！

### Motivation

我自己做efl预测，找到的官方示例
这个示例可以直接做efl预测是吗？
可以的话，希望能输出结果

### Your contribution

唯有感谢

[2022-11-01 07:41] wawltor commented on #3636
https://github.com/PaddlePaddle/PaddleNLP/pull/3496

这里有个LIte的INT8部署的工作，你可以看看自己的cpu是否支持INT8部署

[2022-11-01 08:21] xdnjust opened #3638 "“汽车说明书跨模态智能问答”的结果有问题"
### 请提出你的问题

大佬们，我按照readme命令一行行执行训练和推理，最后发现和文档输出的结果有不同，请看看代码是否有bug？

[2022-11-01 08:24] xdnjust commented on #3638
![image](https://user-images.githubusercontent.com/38311101/199190337-f859c511-c5f2-4133-a240-635d0f7af580.png)

[2022-11-01 08:39] yuwochangzai commented on #3636
没用

[2022-11-01 08:40] yuwochangzai commented on #3636
没用

[2022-11-01 11:14] LemonNoel commented on #3638
是所有测试case都不正确吗？还是个别的case有问题，可以贴一下训练日志

[2022-11-01 12:05] xdnjust commented on #3638
我测了“钥匙怎么充电”，可以正确识别
所以应该是个别case不正确，如上面的“后备箱怎么开”
我看了下，对于“后备箱怎么开”，Rerank模块可以找到正确的图片，但是Extraction模块做阅读理解时出现问题，没法找到正确的答案，是不是代表Extraction模型训练的不充分？（我是按照readme.md来做的，没改动）

[2022-11-01 12:33] #3630 closed, assigned to linjieccc

[2022-11-01 13:46] LemonNoel commented on #3633
默认模型是`pai-painter-painting-base-zh`，如果要加载`disco_diffusion`模型需要定义`model`参数，详情见[示例文档](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#disco-diffusion%E6%A8%A1%E5%9E%8B)，然后再结合`home_path`使用。

[2022-11-01 14:13] LemonNoel commented on #3638
有可能是训练不充分或者是相同参数配置下训练的随机性导致的，可以再调整下参数看看效果

[2022-11-02 00:25] rGitcy commented on #3635
ok. thx!

[2022-11-02 00:26] rGitcy commented on #3628
应该是可以的，请问下载后放到哪个目录？另一方面，经过测试，这个bug和网速有关，可能是官网限速！

[2022-11-02 02:19] guoshengCS commented on #3610
您好，您是希望用ernie gen做其他生成任务，这个暂时没有例子，做的话只要把 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-gen#%E6%95%B0%E6%8D%AE%E5%87%86%E5%A4%87 这里的诗歌数据换成您那边需要的数据就可以了，比如 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_summarization/pegasus#%E6%95%B0%E6%8D%AE%E5%87%86%E5%A4%87 这里的摘要数据转换成和ernie gen里一样的数据格式

只就 `我根据使用PaddleNLP预训练模型ERNIE-GEN生成诗歌这个项目学习的ernie gen的句子生成解码策

[2022-11-02 03:37] ZHUI opened #3643 "非issue"
### 问题描述

图床，暂存图片。
![image](https://user-images.githubusercontent.com/16911935/199389647-b000a7b1-28d1-485e-8ec0-3e7e2c05884a.png)

[2022-11-02 03:56] vesper1012 commented on #3613
您好:
收到 可以run成功了 感谢回复~

Vesper
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年11月1日(星期二) 下午2:24
***@***.***&g

[2022-11-02 04:29] #3643 closed, assigned to nobody

[2022-11-02 04:35] zouhan6806504 opened #3644 "[Question]: 继续预训练ernie3遇到问题"
### 请提出你的问题

仿造这个问题里面的答案继续预训练ernie3，https://github.com/PaddlePaddle/PaddleNLP/issues/3214，已经生成好了数据
启动命令
[code]

报异常
[code]
这个是什么原因啊

[2022-11-02 04:37] ZHUI commented on #3644
`pip install pybind11 tool_helpers` 试试？

[2022-11-02 04:37] zouhan6806504 commented on #3644
生成文件的命令
[code]
获得的两个文件ppp_ids.npy  ppp_idx.npz 已经放到对应路径了

[2022-11-02 04:40] zouhan6806504 commented on #3644
上面的问题过了，我再试试

[2022-11-02 04:40] zouhan6806504 commented on #3644
上面的问题好了，我再试试

[2022-11-02 06:22] #3638 closed, assigned to 1649759610

[2022-11-02 06:29] helloHKTK commented on #2749
你好，我发现使用flask这种部署方法会导致内存持续占用，不释放，模型使用的是：simil = Taskflow("text_similarity", model="simbert-base-chinese", batch_size=32, home_path="simi_model/")

[2022-11-02 06:43] #3644 closed, assigned to nobody

[2022-11-02 06:48] westfish commented on #3634
bug已经修复，请参考#3646

[2022-11-02 06:48] #3634 closed, assigned to westfish

[2022-11-02 08:06] lylcst commented on #3257
遇到类似的问题，降低版本可以解决这个问题，但是又引入了其他错误。。。。

[2022-11-02 08:33] gongel commented on #3614
你好，经测试，确实会存在该问题：Windows平台下载生态模型会存在网址拼接错误的情况，已通过该PR：#3640 修复，感谢你的反馈，我们也同步增加更多的测试。

[2022-11-02 08:53] wjddd opened #3647 "[Question]: 能否将DocPrompt用于问答系统中？"
### 请提出你的问题

输入为纯文本，不需要图像识别步骤的那种？

[2022-11-02 09:23] #3614 closed, assigned to gongel

[2022-11-02 09:26] JaylonXiwei commented on #3603
谢谢解答。请问我自己标注的数据，如果同一个query，有2个positive，1个negative，或者0个，这种情况应该怎么放在训练数据里呢？

[2022-11-02 09:30] tigerbaby1515 opened #3648 "[Question]: 使用Taskflow进行情感分析任务的一键预测的时候报错"
### 请提出你的问题

在执行senta = Taskflow("sentiment_analysis", model="skep_ernie_1.0_large_ch")的时候

[2022-11-02 23:29:39,840] [    INFO] - Downloading model_state.pdparams from https://bj.bcebos.com/paddlenlp/taskflow/sentiment_analysis/skep_ernie_1.0_large_ch/model_state.pdparams
100%|██████████████████████████████████████████████████████████████████| 1.77G/1.77G [22:51<00:00, 1.38MB/s]
[2022-11-02 23:52

[2022-11-02 10:26] omegaholysky opened #3649 "[Question]: 支持novelai文生图吗?"
### 请提出你的问题

请问有novelai的文生图吗

[2022-11-02 10:39] ryanqx opened #3650 "[Bug]: StableDiffusionPipelineAllinOne 的 inpaint 方法报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[code]

第二个init_image.resize((width, height))是错的，上面的代码已经把init_image转成paddle.Tensor了，这个resize应该删掉。

[2022-11-02 10:46] JunnYu commented on #3650
好的，谢谢提醒~

[2022-11-02 10:56] wawltor commented on #3648
1. 删除 ~/.paddlenlp目录
2. 升级到最新的PaddleNLP 2.4.2版本

[2022-11-02 10:58] wawltor commented on #3647
纯文本的QA可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/examples/question-answering
<img width="504" alt="image" src="https://user-images.githubusercontent.com/16698950/199472744-ed9146dd-d0e1-4d9b-a201-6058f7896cc3.png">

[2022-11-02 12:25] westfish opened #3652 "unsupervised qa gif"
### Feature request

![uqa-quick](https://user-images.githubusercontent.com/20476674/199488926-c64d3f4e-8117-475f-afe6-b02088105d09.gif)

### Motivation

quick qua gif

### Your contribution

quick qua gif

[2022-11-02 12:56] tigerbaby1515 commented on #3648
但是现在又出来一个新问题

[2022-11-03 04:08:34,407] [    INFO] - Already cached /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/skep_ernie_1.0_large_ch.vocab.txt
[2022-11-03 04:08:34,412] [    INFO] - tokenizer config file saved in /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/tokenizer_config.json
[2022-11-03 04:08:34,412] [    INFO] - Special tokens file saved in /home/wanghan/.paddlenlp/m

[2022-11-02 13:35] johnsongwx opened #3654 "[Question]: ernie-health-chinese词典相关问题"
老师们好，关注到ernie-health-chinese这个非常优秀的工作。最近我们想基于咱们的模型，进一步做一些探索和尝试。
有如下疑问想请教老师们：
1. ernie-health-chinese的词典（类似于BERT的vocab）是否开源了呢？目前在项目中还没有找到这个文件；
2. 如果我们在您们的词典上进一步扩充（我们人工构造了一个补充进来的sub-word的词典），能否做continual pretrain？还想请教各位老师们，continual pretrain对于语料库的大小和来源是否也需要pretrain from scratch的160GB的体量呢？
新人提问，希望各位老师们百忙之中不吝赐教，谢谢！

[2022-11-02 14:20] Yiheng-Liu opened #3655 "[Question]: stable diffusion模型下载失败"
### 请提出你的问题

使用paddlenlp的stable diffusion功能下载模型时报错：
[code]

paddlenlp版本：2.4.2
paddlepaddle版本：2.3.2
平台：Windows11
python版本：3.10.8

代码示例：
[code]

[2022-11-02 14:33] Heimdall-Nss commented on #3522
我也是这个unimo中文模型，请问下能否不用fastertransformer的方式部署呢（https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_summarization/unimo-text/deploy/paddle_inference） ， 环境是windows+CUDA11.6+cudnn8.4，直接用train里的预测速度太慢了

[2022-11-02 23:05] coolinstar opened #3657 "[Question]: 模型微調 使用英文模型報錯"
### 请提出你的问题

Error msg : finetune.py: error: argument --model: invalid choice: 'uie-base-en' (choose from 'uie-base', 'uie-tiny', 'uie-medium', 'uie-mini', 'uie-micro', 'uie-nano')

請問目前微型微調是否並未支持英文模型?
未來對於英文模型的支持是否有計畫?

According to the error message above, finetune is not working for English model.
Is there any plan for supporting English in the future?

[2022-11-02 23:16] coolinstar commented on #3345
跟隨這篇調整了代碼，運行
python finetune.py --train_path ./data/train.txt --dev_path ./data/dev.txt --save_dir ./checkpoint --learning_rate 1e-5 --batch_size 16 --max_seq_len 512 --num_epochs 20 --model uie-m-base --seed 1000 --logging_steps 10 --valid_steps 100 --device cpu

報錯

[2022-11-02 16:08:44,537] [    INFO] - We are using <class 'paddlenlp.transformers.ernie_m.tokenizer.ErnieMTokenizer'> to load 'uie

[2022-11-03 00:53] rGitcy opened #3658 "bert staric 运行预测脚本无结果输出"
### 请提出你的问题

按照官方脚本对fintune后的模型进行测试，运行预测脚本：
![image](https://user-images.githubusercontent.com/8943172/199628897-75589623-785e-43c1-81b7-8bbd5a6f712e.png)

无输出结果。屏幕截图如下：
![image](https://user-images.githubusercontent.com/8943172/199628824-2bd81b5b-f809-41a0-b938-ec7295cd73bb.png)

[2022-11-03 00:54] wawltor commented on #3648
你的PaddlePaddle是什么版本了？

[2022-11-03 00:57] wawltor commented on #3657
请拉取最新的PaddleNLP UIE的代码，最新的代码支持 uie-base-en

[2022-11-03 01:09] datalee commented on #3647
你这个是基于生成的吧？我想要基于content的文本问答（ machine reading comprehension），类似dureader的形式

[2022-11-03 01:14] tigerbaby1515 commented on #3648
paddle-bfloat      0.1.7
paddle2onnx        1.0.1
paddlefsl          1.1.0
paddlenlp          2.4.2
paddlepaddle-gpu   2.3.2.post112

[2022-11-03 01:50] JunnYu commented on #3655
你好，在windows下，现在这个bug已经修复了 https://github.com/PaddlePaddle/PaddleNLP/pull/3640 。
您可以安装develop版本的paddlenlp，命令如下
[code]

[2022-11-03 01:52] JunnYu commented on #3655
您可以使用 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/ppdiffusers 这里面的ppdiffusers（今天也将发个小版本修复 windows下载链接的问题），或者 在aistudio上快速体验文生图 https://aistudio.baidu.com/aistudio/projectdetail/4905623?channelType=0&channel=0

[2022-11-03 01:53] JunnYu commented on #3649
您可以看一下这个aistudio项目，在这个项目中应该会有您所需要的模型
https://aistudio.baidu.com/aistudio/projectdetail/4905623?channelType=0&channel=0

[2022-11-03 02:13] omegaholysky commented on #3649
找到的实现都是ppdiffusers,novel模型都是分散的,有没有paddlenlp的taskflow能读取的整合模型?或者说有什么办法能把分散的模型合并为一个?

[2022-11-03 02:30] Yiheng-Liu commented on #3655
收到，感谢回复

[2022-11-03 02:52] 471417367 commented on #3596
我也遇到该问题，请问您怎么解决的。我定位到问题原因。
  def infer(self, input_dict: dict):
      # self.input_names：['src_ids', 'sent_ids', 'pos_ids', '2d_pos_ids', 'segment_ids', 'task_ids', 'input_mask_mat', 'super_rel_pos', 'unique_id', 'image']，这几个字段在input_dict中除了image都是[]空的。
     # input_dict的key:['id', 'question_id', 'questions', 'tokens', 'input_ids', 'attention_mask', 'token_type_ids', 'bbox', 'position_ids', 'image

[2022-11-03 03:22] xiaocod commented on #2506
你好，请问如何对下载到本地的ernie3.0-zeus 进行精调？

[2022-11-03 03:30] xiaocod commented on #2506
你好，如何用自己的数据集训练预训练模型比如ERNIE3.0模型？

[2022-11-03 03:31] xiaocod commented on #2506
你好，如何用自己的数据集训练预训练模型比如ERNIE3.0模型？

[2022-11-03 03:34] xiaocod commented on #2506
你好，如何用自己的数据集训练下载到本地的ERNIE3.0预训练模型？可以对下载到本地的ERNIE3.0预训练模型进行自定义的微调或者精调吗？

[2022-11-03 03:35] pfchai opened #3659 "代码中有硬编码的开发者本人开发环境地址，是否有影响？"
### 问题描述

如题。

具体代码见：
https://github.com/PaddlePaddle/PaddleNLP/blob/1fc23a88887aab85b563bb3a9a8e844bc5dca497/applications/text_summarization/pegasus/export_model.py#L107

[2022-11-03 03:37] Anditty opened #3660 "[Question]: 如何把预训练模型转换成inference_model保存下以供推理使用"
### 请提出你的问题

我正在尝试PaddleNLP/examples/code_generation/codegen/中的例子，但是我发现这个模型是通过paddle.save保存的训练模型，但是我想把该codegen模型转换成一个inference mode部署我的推理服务，我不知道如何将该模型转换成inference mode。

[2022-11-03 03:38] xiaocod opened #3661 "如何对下载到本地的ERNIE3.0预训练模型进行进一步的训练或者精调？"
### 问题描述

你好，我将ERNIE3.0预训练模型下载到本地后，如何对其进行进一步的自定义调整呢？

[2022-11-03 05:09] LemonNoel commented on #3654
1. ernie-healht-chinese的词典开源了，可以从[这个地址](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/electra/tokenizer.py#L95)下载
2. 扩充词典可以调用 [resize_token_embeddings](https://github.com/PaddlePaddle/PaddleNLP/blob/v2.4.0/paddlenlp/transformers/model_utils.py#L521) 扩展模型字向量矩阵，调用[add_tokens](https://github.com/PaddlePaddle/PaddleNLP/blob/v2.4.0/paddlenlp/transformers/tokenizer_utils_

[2022-11-03 06:15] shm007g commented on #3655
develop 未收到该bugfix。默认使用的是auto tokenizer，需要对transformers/auto目录下的tokenizer和modeling2个文件进行修改

[2022-11-03 06:51] johnsongwx commented on #3654
感谢LemonNoel老师的耐心解答！
还想进一步请教下，目前tokenizer对于中文是进行单字切分，如果我们想进一步用subword（对中文来说就是多个字符的词语）来改进现在的tokenzier，是否可以进行混合切分呢？例如词表内单词按照整个subword切分，OOV单词按照单字切分这样。
以及，咱们的generator是否有计划开源呢？很多工作在BERT基础上在特定语料库continual pretrain，我们是想参考这样的思路，在咱们的eHealth模型上进一步预训练，冷启感觉可能是不是还是比较困难。倘若可以开源的话，可能也会进一步吸引更多的研究人员使用咱们的模型，能否麻烦各位老师们考虑下～
新人提问，可能有描述不当之处，还望老师海涵！
谢谢老师！

[2022-11-03 07:27] guoshengCS commented on #3661
精调的话可以参考这里 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0

[2022-11-03 07:32] wawltor commented on #3647
不是基于生成的方式，使用的方式使用语义检索的方式来做的

[2022-11-03 07:37] wawltor commented on #3648
麻烦尝试升级paddlepaddle-gpu 到2.4rc0版本

[2022-11-03 08:31] joesong168 opened #3664 "[Bug]: 精调UIE模型报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

python3 /home/aistudio/PaddleNLP/model_zoo/uie/finetune.py  \
    --device gpu \
    --logging_steps 10 \
    --save_steps 100 \
    --eval_steps 100 \
    --seed 42 \
    --model_name_or_path uie-base \
    --output_dir $finetuned_model \
    --train_path data/train.txt \
    --dev_path data/

[2022-11-03 08:55] wawltor commented on #3664
可以加上 --label_names 'start_positions end_positions'   这个参数选项
最近的版本有些改动，我们马上修复一下

[2022-11-03 09:15] pfchai commented on #3664
我也遇到这个问题，加上了参数选项，依旧报相同的错

[2022-11-03 09:15] starryzwh commented on #3664
同样的问题，加上了--label_names 参数，依旧报错

[2022-11-03 09:18] joesong168 commented on #3664
[2022-11-03 17:16:32,036] [    INFO] - ***** Running training *****
[2022-11-03 17:16:32,036] [    INFO] -   Num examples = 9048
[2022-11-03 17:16:32,036] [    INFO] -   Num Epochs = 100
[2022-11-03 17:16:32,036] [    INFO] -   Instantaneous batch size per device = 16
[2022-11-03 17:16:32,036] [    INFO] -   Total train batch size (w. parallel, distributed & accumulation) = 16
[2022-11-03 17:16:32

[2022-11-03 09:18] starryzwh commented on #3664
@pfchai 又试了一下 --label_names 后面不需要''引号，运行正常

[2022-11-03 09:27] wawltor commented on #3664
抱歉，文档已经修复
<img width="763" alt="image" src="https://user-images.githubusercontent.com/16698950/199686467-71fb18bc-eefb-4f2e-a217-87e1e24c630b.png">

[2022-11-03 09:36] joesong168 commented on #3664
export finetuned_model=./checkpoint/model_best

python3 /home/aistudio/PaddleNLP/model_zoo/uie/finetune.py  \
    --device gpu \
    --logging_steps 10 \
    --save_steps 100 \
    --eval_steps 100 \
    --seed 42 \
    --model_name_or_path uie-nano \
    --output_dir $finetuned_model \
    --train_path data/data175474/train.txt \
    --dev_path data/data175474/dev.txt  \
    --max_seq_length 512

[2022-11-03 09:38] joesong168 commented on #3664
[2022-11-03 17:38:19,422] [ WARNING] - evaluation_strategy reset to IntervalStrategy.STEPS for do_eval is True. you can also set evaluation_strategy='epoch'.
[2022-11-03 17:38:19,422] [    INFO] - The default value for the training argument `--report_to` will change in v5 (from all installed integrations to none). In v5, you will need to use `--report_to all` to get the same behavior as now. You s

[2022-11-03 09:55] oyb1125 opened #3666 "paddlenlp怎么构建一个对话系统"
### 请提出你的问题

刚开始接触paddlenlp,想快速搭建一个对话系统，可以加入自己的对话脚本进行对话，有没有大神指路

[2022-11-03 10:00] gongel commented on #3659
你好，这个不影响最终结果，如果本地没有该文件，会自动编译。也同时提了去除的PR：#3667，感谢反馈～

[2022-11-03 10:01] wawltor commented on #3664
1. check paddle是否安装成功
[code]
   如果安装不成功，可以conda来安装 https://www.paddlepaddle.org.cn/

<img width="863" alt="image" src="https://user-images.githubusercontent.com/16698950/199692784-28c450f0-111f-459d-9041-9635a434cb9d.png">

2.  安装成功
     如显示成功安装paddle，看看显存是否溢出， per_device_train_batch_size  可以调整batch_size试试

[2022-11-03 10:03] gongel commented on #3660
你好，推理暂时还没支持，可以先参考这个 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/text_summarization/pegasus/export_model.py， 也欢迎提PR共建。我们近期会安排上，尽情期待。

[2022-11-03 10:10] tigerbaby1515 commented on #3648
[2022-11-03 23:37:04,962] [    INFO] - Already cached /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/skep_ernie_1.0_large_ch.vocab.txt
[2022-11-03 23:37:04,969] [    INFO] - tokenizer config file saved in /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/tokenizer_config.json
[2022-11-03 23:37:04,969] [    INFO] - Special tokens file saved in /home/wanghan/.paddlenlp/models/skep_ern

[2022-11-03 10:33] guoshengCS commented on #3658
你好，看了下当前的这个代码确实是没有输出 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/bert/static/predict_glue.py#L161 ，只算是个示例不是很完善，您可以先按照需要使用这里的返回值 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/bert/static/predict_glue.py#L133

[2022-11-03 11:50] LemonNoel commented on #3654
- 分词：使用`add_tokens`添加`sub_word`即可实现混合切分，对于在词表中的`subword`，tokenizer 默认会按整体切分。
- generator：因为ERNIE-Health在下游只会用到Discriminator，Generator的作用只是用来辅助Discriminator的训练，所以只保留并开源了这部分参数。我们再找找还有没有当时Generator的参数。一种可能的替代方案是固定discriminator的参数先训练generator，收敛到一定程度之后再同时训练这两个模块。

[2022-11-03 11:58] wujianqiangwjq opened #3669 "Pipelines 内存不足"
### 请提出你的问题

智能问答系统, 随着文档增加，当检索所有文档，Pipelines.run 存在内存不足的问题。

[2022-11-03 12:51] JunnYu commented on #3655
@shm007g 好的谢谢，的确忘了这个部分的。

[2022-11-03 13:04] LemonNoel commented on #3654
找到了Generator参数，晚些时间整理好放上来哈。

[2022-11-03 13:33] w5688414 commented on #3669
Hi, @wujianqiangwjq , 请问您是怎么操作的？您的电脑内存是多少？

[2022-11-03 13:48] gongel commented on #3655
你好，已修复 #3670，感谢反馈

[2022-11-03 16:55] prettyprettyboy commented on #3644
启动命令
`set -x
unset CUDA_VISIBLE_DEVICES

rm -rf core.*

# dp8 for 8 worker of data parallel
# gb512 for the global batch size is 512 = 64 * 8
# s1m for max steps is 1 million
task_name="ernie-3.0"
rm -rf output/$task_name/log

python -u  -m paddle.distributed.launch \
    --gpus "0,1,2,4,6,7" \
    --log_dir "output/$task_name/log" \
    run_pretrain.py \
    --model_type "ernie" \
    --model_nam

[2022-11-03 17:05] prettyprettyboy commented on #3644
单卡可以训练，多卡报错
`LAUNCH INFO 2022-11-03 17:02:47,657 Pod failed
INFO 2022-11-03 17:02:47,657 controller.py:109] Pod failed
LAUNCH ERROR 2022-11-03 17:02:47,657 Container failed !!!
Container rank 0 status failed cmd `...
这是什么情况呢？

[2022-11-03 18:34] zouhan6806504 opened #3671 "[Bug]: 继续在自定义数据上预训练ernie3，当中断训练resume后，在save_step时会报找不到vocab.txt"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

resume训练命令，从13000开始训练，结果15000报错的时候，找不到vocab.txt，我去model_last看了看少了这个，于是copy了一份过来，接着继续从14000开始，15000报存正常，然后下一个20000步时又发生了这个问题
[code]

异常信息
[code]
感觉是不是save_steps和checkpoint_steps要设成一致啊？

[2022-11-03 23:39] coolinstar commented on #3657
感謝告知，更新之後，uie-base-en已可實驗。

測試使用 uie-m-base則報錯如下
[2022-11-03 16:36:12,776] [    INFO] - We are using <class 'paddlenlp.transformers.ernie_m.tokenizer.ErnieMTokenizer'> to load 'uie-m-base'.
Traceback (most recent call last):
  File "C:\Users\workspace\vs_workspace\study_zone\paddle\finetune.py", line 287, in <module>
    main()
  File "C:\Users\workspace\vs_workspace\study_zone\paddle\finetune.py"

[2022-11-04 01:45] wjddd commented on #3647
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/document_intelligence.py 这个例子可以改成文本输入而非图片输入吗？

[2022-11-04 02:26] wujianqiangwjq commented on #3669
我电脑内存是8G, 我是按照智能问答系统中的 3.4 构建 Web 可视化问答系统操作的https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/examples/question-answering

[2022-11-04 02:30] wujianqiangwjq commented on #3669
我改了ui/webapp_question_answering.py 中的,top_k_retriever改成1320,然后内存就报内存问题

[2022-11-04 02:46] prettyprettyboy commented on #3214
单卡可以训练，多卡报错
`LAUNCH INFO 2022-11-03 17:02:47,657 Pod failed INFO 2022-11-03 17:02:47,657 controller.py:109] Pod failed LAUNCH ERROR 2022-11-03 17:02:47,657 Container failed !!! Container rank 0 status failed cmd` ...
这是什么情况呢？

[2022-11-04 02:57] #3659 closed, assigned to gongel

[2022-11-04 03:09] w5688414 commented on #3603
对于 negative样本可以构造一些简单的负样本，对于同一个query，有2个positive，1个negative，可以分拆成两条数据，共用同一个负样本。

[2022-11-04 03:10] #3655 closed, assigned to gongel, JunnYu

[2022-11-04 03:17] FFinchR commented on #3530
你好，我按照以上步骤更新了最新版本的paddleslim后，遇到了如下报错：

但是我的paddlepaddle-gpu版本已经是https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html 上能找到的最新版本。

还有更新的版本吗？

[2022-11-04 03:19] LiuChiachi commented on #3530
PaddlePaddle版本应该没有问题，而且这个warning应该不会影响运行。您还遇到其他问题了吗

[2022-11-04 03:34] FFinchR commented on #3530
不好意思，是我之前操作失误，把训练和裁剪放在一个gpu，导致显存不足；
又因使用的gunicorn部署，没有报出显存不足的错误就跳出。
暂时没有其他问题了，谢谢。

[2022-11-04 03:34] #3530 closed, assigned to LiuChiachi

[2022-11-04 03:51] w5688414 commented on #3669
为啥设置那么多，有什么需求吗？一般topk设置成50就可以

[2022-11-04 03:58] guoshengCS commented on #3666
因为对话系统相对庞大，可以先参考RASA这样一些对话系统的repo。PaddleNLP中目前还没有完整的对话系统的案例，有些对话系统子任务的[教程](https://aistudio.baidu.com/aistudio/projectdetail/2017202?channelType=0&channel=0) 可以先参考下，也欢迎持续关注，如果有相关内容更新我们也会及时发布出来

[2022-11-04 05:03] ZHUI commented on #3671
[code]
继续训练的话，这两个参数不用修改为`model_last`。还设置为`ernie-3.0-base-zh`即可。

[2022-11-04 05:04] ZHUI commented on #3644
建议check一下paddle环境`paddle.utils.run_check()`

[2022-11-04 05:22] wujianqiangwjq commented on #3669
我使用updatefile 更新文档（希望能覆盖掉原来的答案），但是更新之后一直搜索不到正确答案，所以改了topk。

[2022-11-04 05:45] oyb1125 commented on #3666
好的谢谢

[2022-11-04 05:55] zchengzhong opened #3672 "使用flask部署uie，多次请求相同文本会卡住"
### 请提出你的问题

使用issue里paddle相关开发人员给出的方案部署了UIE,却发现处理3条文本；
第一波请求【】，3条文本都能识别出对应结果； 【预计每条几秒的速度】
第二波请求【等上面3条文本都处理完，再次发起的请求】，3条文本里面有一条就是一直卡住【等到小时级还是一直无法得到结果，内存正常】，卡在下面的 ie(text)  这个位置 ；
部署方式如下：
https://github.com/PaddlePaddle/PaddleNLP/issues/2863#issuecomment-1193744351

[2022-11-04 06:02] ZHUI commented on #3214
建议check一下paddle环境`paddle.utils.run_check()`

[2022-11-04 06:42] prettyprettyboy commented on #3644
`Running verify PaddlePaddle program ...
W1104 06:40:46.387204 674740 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.7, Runtime API Version: 11.7
W1104 06:40:46.391871 674740 gpu_resources.cc:91] device: 0, cuDNN Version: 8.6.
PaddlePaddle works well on 1 GPU.
/home/yangzhanye/anaconda3/envs/paddle/lib/python3.10/site-packages/paddle/fluid/executor

[2022-11-04 08:07] YYGe01 opened #3674 "[Question]: 文本生成任务模型推荐"
### 请提出你的问题

你好：
        我正在类似机器翻译似的文本生成任务，问下有没有比较好的方案推荐，我看model_zoo中有这个方案：[ernie-gen](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-gen)，这个是不是PaddleNLP库里目前最好的方案呢，并且我看ernie-gen还是用的ernie1.0，问下除了ernie1.0，不知道是否可以选择效果更好的预训练模型嘛，比如ernie2.0，3.0，gpt，t5之类的。

[2022-11-04 08:13] starryzwh opened #3675 "[Question]: 在使用uie进行了finetune之后，按照文档参数再进行模型压缩时报错"
### 请提出你的问题

在使用uie进行了finetune之后，按照文档参数再进行模型压缩时(仍然使用finetune.py)，报错信息ValueError: Some specified arguments are not used by the PdArgumentParser: ['--do_compress'] 没有使用此参数？

[2022-11-04 08:56] yuwochangzai commented on #3675
你这个除了更新UIE最新代码之后，还要更新paddlenlp源码的这三个文件
![image](https://user-images.githubusercontent.com/6983001/199932619-6096824d-6190-4d77-9605-3ee59aa512aa.png)

[2022-11-04 08:58] yuwochangzai opened #3678 "[Question]: UIE压缩到一半报错"
###

使用如下命令压缩：
python finetune.py  \
    --device cpu \
    --logging_steps 10 \
    --save_steps 100 \
    --eval_steps 100 \
    --seed 42 \
    --model_name_or_path  ./checkpoint/model_best \
    --output_dir export \
    --train_path data/train.txt \
    --dev_path data/dev.txt  \
    --max_seq_length 512  \
    --per_device_eval_batch_size 16 \
    --per_device_train_batch_size  1 \
    --num

[2022-11-04 09:07] Heimdall-Nss commented on #3522
换成官方镜像了 cuda11.6 cuDNN8.4 cmake3.16
使用fastertransformer部署时报错：
[  6%] Performing build step for 'extern_fastertransformer'
Scanning dependencies of target topk
[  2%] Building CUDA object fastertransformer/cuda/CMakeFiles/topk.dir/topk_kernels.cu.o
In file included from /usr/local/cuda/include/thrust/system/cuda/config.h:33,
                 from /usr/local/cuda/include/thrust/system/cuda/detail/ex

[2022-11-04 09:11] starryzwh commented on #3675
谢谢，没看到之前的那个更新了，刚经过修改，运行正常

[2022-11-04 09:33] wawltor commented on #3678
显存方面是否有溢出 ？

[2022-11-04 09:46] yuwochangzai commented on #3678
用cpu压缩的

[2022-11-04 10:06] starryzwh commented on #3678
你好，我也遇到了同样的问题，gpu上进行压缩，报了同样的错误，显存并没有溢出，我设定的epoch是100，在最后一个step时报了错
报错前的最后日志信息如下：
[2022-11-04 17:55:29,124] [    INFO] - global step 9690, epoch: 99, batch: 86, loss: 0.000001, speed: 4.03 step/s
[2022-11-04 17:55:31,612] [    INFO] - global step 9700, epoch: 99, batch: 96, loss: 0.000000, speed: 4.04 step/s
[2022-11-04 17:55:36,793] [    INFO] - f1: 0.6990881458966565, precision: 0.732484076433121

[2022-11-04 10:56] Heimdall-Nss commented on #3522
感觉确实是版本问题不好改 我去aistudio看了眼环境是 cuda11.2 cmake3.24.2 重装下环境试试吧

[2022-11-04 11:58] LiuChiachi commented on #3678
您好~由于在我本地环境没有复现，所以二位可以提供更多的环境信息吗，比如paddlepaddle、paddlenlp、python的版本等，还有微调时使用的UIE预训练模型是？@starryzwh 报错信息方便的话也粘贴一下吧

[2022-11-04 12:05] taixiurong opened #3680 "[Question]: gpu 跑chinese_bert 的 xnli, 报错"
### 请提出你的问题

![1372219de945bee36b576379af2853fd](https://user-images.githubusercontent.com/6076976/199968511-1eee5921-e46a-4b80-9c1b-172d4819ebbc.png)
gpu上，跑直接报错。

[2022-11-04 12:37] LouisHeck opened #3681 "[Question]: pegasus模型执行export_model.py在windows和linux环境下，均报错，帮忙看下是啥原因？"
### 请提出你的问题

**1. 问题：pegasus模型执行export_model.py在windows和linux环境下，均报错，在windows和linux环境报错如下：**
**2.1 windows环境报错如下：**

[code]

**2.2 linux环境报错如下：**
[code]
**3. 我看linux环境报错提示，cuda路径可能有问题，所以我单独进入~/.paddlenlp/extensions/d976e2288794ad4441b97e89a8176760/FasterTransformer目录下，执行命令python FasterTransformer_setup.py build，在linux报错如下：**

[code]
请帮忙查看一下问题，感谢大佬！！！

[2022-11-04 12:43] wawltor commented on #3678
看起来升级到2.4rc0的版本可以解决问题
<img width="877" alt="image" src="https://user-images.githubusercontent.com/16698950/199975221-a9eecbeb-e92b-4bec-beb2-05452a68612b.png">

[2022-11-04 12:45] wawltor commented on #3674
我们不太推荐ERNIE-GEN方法，我们比较推荐unimo-text，t5,  具体模型的使用方式可以参考  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/question_generation

[2022-11-04 12:45] #3675 closed, assigned to wawltor

[2022-11-04 12:46] wawltor commented on #3672
方便提供一下您的测试数据和使用代码吗？

[2022-11-05 05:29] joesong168 opened #3682 "[Question]: 请问那么配置paddlenlp到aistudio中的沙盒？"
### 请提出你的问题

使用aistudion对paddlenlp进行了精调，但在部署时被告知，需要配置沙盒。

[2022-11-05 06:54] guoshengCS commented on #3681
这个应该是您上面说的cuda路径的问题，您那边nvcc是能够正常使用的吗，CUDA路径是什么呢

[2022-11-05 07:32] zchengzhong commented on #3672
我上传一个文档，信息都在里面，辛苦你给看下，如果是flash这样部署有问题，辛苦给个别的式。[](url)
[paddleUIE问题.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9943286/paddleUIE.zip)

[2022-11-05 07:57] lx1054331851 opened #3683 "自定义词典中出现空格如何处理？"
### 请提出你的问题

自定义词典中有英文词汇，比如品牌名称，中间是有空格的，如何在自定义词典中进行设置？

[2022-11-05 10:53] 1649759610 commented on #3682
在AiStudio上部署需要配置沙盒环境，可以根据aistudio提示的步骤操作：

1. 选择模型文件
2. 设置模型输入输出
3. 制作输入输出转换器

[2022-11-05 10:57] 1649759610 commented on #3683
可以详细解释下你的需求吗，背景是什么，是想对这些品牌词设置什么？

[2022-11-05 14:49] sijunhe commented on #3666
正如楼上所说，[Rasa](https://github.com/RasaHQ/rasa)是当前比较主流的对话系统开源框架。如果您想在Rasa内使用PaddleNLP的模型，可以尝试了解一下https://github.com/senses-chat/rasa-paddlenlp

[2022-11-05 15:05] sijunhe commented on #3548
@THCNF
您好。如果是想模拟谐音字的话，应使用音近混淆集。这一块比较常用的应该是wang271k数据中的[混淆集](https://github.com/wdimmy/Automatic-Corpus-Generation/blob/master/corpus/confusion.txt). 音近的混淆集也比较容易自己构建，可以利用类似pypinyin这种库，最简单的逻辑大致是`你好 -> ni3 hao3 -> 拟好`

[2022-11-06 03:42] gongel commented on #3681
你好，windows上暂不支持export_model。Linux可以看下cuda环境：输入nvcc -V看看。方便的话也可以直接拉docker构建环境：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[2022-11-06 04:26] coolinstar commented on #3657
@wawltor   敬請知悉如下

運行
python finetune.py --device cpu --logging_steps 10 --save_steps 100 --eval_steps 100 --seed 42
                               --model_name_or_path uie-m-base --output_dir $finetuned_model --train_path data/train.txt
                               --dev_path data/dev.txt --max_seq_length 512 --per_device_eval_batch_size 16
                               --per_device_train_batc

[2022-11-06 04:40] LouisHeck commented on #3681
1. 查看~/.bashrc文件，CUDA路径如下：
[code]
2. /usr/local目录下，有两个cuda配置变量是cuda-11.2这个。
[code]
3. 执行nvcc -V结果：
[code]

[2022-11-06 04:46] LouisHeck commented on #3681
1. nvcc 环境变量我回复上面朋友贴出来了。
2. 我执行了下gcc --version
[code]
3. 我昨天在AIstudio试了下确实可以编译，安装FastTransformer，导出了静态模型文件和参数文件。
4. 我后面再尝试下docker版本的paddlenlp。
5. 有空再帮忙解答下，CUDA_HOME该怎么配置才好呢？能够执行用GPU执行finetune，但导出有问题。如果还需要其他系统环境信息，我再提供？感谢帮助~

[2022-11-06 05:03] joesong168 commented on #3682
具体到如何制作uie_base模型的输入输出转换器，有没有可以参考的例子？

[2022-11-06 05:11] joesong168 opened #3684 "[Question]: 请问PaddleNLP能在arm平台上运行么？"
### 请提出你的问题

有没有相关的例子？谢谢

[2022-11-06 09:34] w0r1dhe110 opened #3686 "[Question]: 使用word_interpret.ipynb试验出现ValueError: zero-dimensional arrays cannot be concatenated错误"
### 请提出你的问题

(https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_label/analysis/word_interpret.ipynb

Start token level interpretion, it will take some time.
输入如下：
[Tensor(shape=[1, 128], dtype=int64, place=Place(gpu:0), stop_gradient=True,
       [[1  , 103, 64 , 104, 236, 12043, 20 , 50 , 128, 305, 403, 252, 128, 90 ,
         290, 586, 59 , 12 , 111, 6

[2022-11-06 12:39] wawltor commented on #3684
只需要编译相应的arm版本的Paddle版本就可以使用PaddleNLP，与其他的芯片的版本使用没有差别

https://www.paddlepaddle.org.cn/documentation/docs/zh/install/Tables.html

这里有一定预编译版本的arm版本，您看看是否可以使用，如果没有相应的Paddle版本，可以到Paddle的提个issue，看看线下编译arm版本

<img width="567" alt="image" src="https://user-images.githubusercontent.com/16698950/200171220-a6ca00a2-abb1-4418-9fbc-91eaef661c69.png">

[2022-11-07 01:11] starryzwh commented on #3678
您好，环境为win11、paddlepaddle-gpu==2.3.2、paddlenlp==2.4.1、 paddleslim==2.3.4、python==3.8
以下是详细报错信息：
`[2022-11-04 17:55:26,605] [    INFO] - global step 9680, epoch: 99, batch: 76, loss: 0.000004, speed: 4.01 step/s
[2022-11-04 17:55:29,124] [    INFO] - global step 9690, epoch: 99, batch: 86, loss: 0.000001, speed: 4.03 step/s
[2022-11-04 17:55:31,612] [    INFO] - global step 9700, epoch: 99, batch: 9

[2022-11-07 01:57] wawltor commented on #3678
升级paddle的版本到最新2.4rc版本

[2022-11-07 02:06] Chikeke commented on #2476
中文有7461条，其中有关系的样本只有4022条

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: douyameiyingyang ***@***.***&gt;
发送时间: 2022年10月30日 19:11
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: Chikeke ***@***.***&gt;, Mention ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

@Chikeke 请问，ace2005关系抽取数据集预处理下来有多少个样本？

—
Reply to this email directly, view it on GitHub, or unsu

[2022-11-07 02:08] dymyyc commented on #2476
好的，请问ACE2005关系抽取英文部分又有多少条样本呢？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年11月7日(周一) 上午10:06
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 中文有7461条，其中有关系的样本只有4022条

 发自我的iPhone

 ------------------ 原始邮件 ------------------
 发件人: douyameiyingyang ***@***.***&amp;gt;
 发送时间: 2022年10月30日 19:11
 收件人: PaddlePaddle/PaddleNLP ***@***.***

[2022-11-07 02:11] Chikeke commented on #2476
英文一共16312条，有关系的有11582条

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: douyameiyingyang ***@***.***&gt;
发送时间: 2022年11月7日 10:08
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: Chikeke ***@***.***&gt;, Mention ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 好的，请问ACE2005关系抽取英文部分又有多少条样本呢？

 ---原始邮件---
 发件人: ***@***.***&amp;gt;
 发送时间: 2022年11月7日(周一) 上午10:06

[2022-11-07 02:17] dymyyc commented on #2476
我处理出来差不多也是这么多，我看到有些论文ACE2005预处理出来有40000多条，感觉是做了数据增强，请问这种情况一般是不是加了一个no_relation来处理的？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年11月7日(周一) 上午10:11
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 英文一共16312条，有关系的有11582条

 发自我的iPhone

 ------------------ 原始邮件 ------------------
 发件人: douyameiyingyang ***@***.***&amp;gt;
 发送时间: 2022年1

[2022-11-07 02:27] ZHUI commented on #3644
你看看还有更多报错吗？没有更多报错信息，我这边也不好判断。看看   `log/worklog.0` 之类的文件？

[2022-11-07 02:57] wj-Mcat commented on #3683
如果问题只是**自定义英文词汇中有空格**的话，其实这是一件非常简单的事情：把这个自定义词典添加到tokenizer当中去就行了。

我将以一段测试代码给出解决方案。

[code]

期待你的回复。

[2022-11-07 03:00] Chikeke commented on #2476
我没有尝试过数据增强，也不知道四万多条是怎么来的，但是ace05里每个实体都有一个head实体，不知道跟这个有没有关系

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: douyameiyingyang ***@***.***&gt;
发送时间: 2022年11月7日 10:17
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: Chikeke ***@***.***&gt;, Mention ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 我处理出来差不多也是这么多，我看到有些论文ACE2005预处理出来有40000多条，感觉是做了数据增强，请问这种情况一般是不是

[2022-11-07 03:04] FFinchR opened #3688 "[Question]: 文本分类，多分类提示学习，评估值过低"
### 请提出你的问题

1. 多分类的提示学习中，[效果展示](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/few-shot#%E6%95%88%E6%9E%9C%E5%B1%95%E7%A4%BA)里使用了240条样本作为训练集，得出评估值为0.5521。
感觉相比其他的场景来说有点过低了，请问可能是什么原因，因为原标签是英文？或标注数据的质量低？
2. 另外，我提高了训练集的样本量至每个分类50，100，150条数据，即共750，1500，2250条数据，训练30轮，得到的评估值如下：
<html>
<body>

数据量/每个分类 | 评估值（Accuracy）
-- | --
50 | 0.5958
100 | 0.6333

[2022-11-07 03:26] wj-Mcat commented on #3683
抛一个问题：文本中本身就出现了空格，这个时候该怎么处理呢？例如：`"你好 啊"`。

通过tokenizer之后的空格会被删除掉的，这个时候该怎么获取到呢？

[2022-11-07 05:06] dymyyc commented on #2476
请问，每个实体都有一个head实体，这是怎么关联起来的？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年11月7日(周一) 中午11:00
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 我没有尝试过数据增强，也不知道四万多条是怎么来的，但是ace05里每个实体都有一个head实体，不知道跟这个有没有关系

 发自我的iPhone

 ------------------ 原始邮件 ------------------
 发件人: douyameiyingyang ***@***.***&amp;gt;
 发送时间: 2022年11月7日 10:17
 收件人: P

[2022-11-07 05:47] LouisHeck commented on #3681
使用paddlepaddle Docker版本环境，可以正常使用。

[2022-11-07 05:47] #3681 closed, assigned to nobody

[2022-11-07 06:37] kq-cheng opened #3690 "ppdiffusers微调text to image模型中的太乙模型时，下载失败，烦请核实模型路径是否错误。"
### 请提出你的问题

[2022-11-07 14:10:50,061] [   ERROR] - Downloading from https://bj.bcebos.com/paddlenlp/models/community/IDEA-CCNL/Taiyi-Stable-Diffusion-1B-Chinese-v0.1/tokenizer/vocab.json failed with code 404!
Traceback (most recent call last):
  File "/opt/conda/envs/paddlenlp/lib/python3.8/site-packages/paddlenlp/transformers/tokenizer_utils_base.py", line 1559, in from_pretrained
    resolved_v

[2022-11-07 06:48] JunnYu commented on #3690
你好，请问你跑的是什么代码？这主要是因为tokenizer使用错了，太乙这个tokenizer用的是bert，bert的词表不是vocab.json而是txt。
然后建议更新一下`pip install -U ppdiffusers`

[2022-11-07 06:54] LemonNoel commented on #3688
1. 这个是因为示例数据集标注质量较低，所以评估指标的值比较低。
2. 这里如果还是 TNEWS 数据，按CLUE榜单的[结果](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/benchmark/clue#clue-%E8%AF%84%E6%B5%8B%E7%BB%93%E6%9E%9C)上万条数据的训练结果也在 Acc 也只在 60 左右。其他任务的话，则需要相应地修改 prompt 和标签映射。
3. 提示学习的模型为 PromptModelForSequenceClassification，所以暂时无法使用 analysis 中的脚本进行评估。但是数据增强脚本仍可以使用。

[2022-11-07 07:04] tigerbaby1515 opened #3691 "[Bug]: 使用Taskflow进行情感分析任务的一键预测的时候报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[2022-11-06 21:18:44,262] [    INFO] - Already cached /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/skep_ernie_1.0_large_ch.vocab.txt
[2022-11-06 21:18:44,268] [    INFO] - tokenizer config file saved in /home/wanghan/.paddlenlp/models/skep_ernie_1.0_large_ch/tokenizer_config.json
[2

[2022-11-07 07:04] kq-cheng commented on #3690
哦哦，收到。

[2022-11-07 07:04] #3690 closed, assigned to nobody

[2022-11-07 07:29] wkw1259 opened #3692 "readme里面提供的DocVQA-ZH数据源下载链接失效"
### 软件环境

[code]

### 详细描述

[code]

[2022-11-07 07:34] #3692 closed, assigned to nobody

[2022-11-07 08:43] starryzwh commented on #3678
您好，按照您说的，用conda install paddle paddlepaddle-gpu安装到了2.4.0rc0版本，在进行finetune模型压缩时，使用gpu，info信息到device，直接退出了，在使用cpu时，info到device时，会往下进行，但是很慢很慢，以下是相关信息
`python .\finetune.py --train_path .\data\train.txt --dev_path .\data\dev.txt --output_dir .\checkpoint\model_best --learning_rate 1e-5 --per_device_eval_batch_size 8 --per_device_train_batch_size 8 --max_seq_len 512 --num_train_epochs 50 --model_name_o

[2022-11-07 09:09] LemonNoel commented on #3654
预训练的完整参数（包括生成器和判别器）可以从[这里](https://bj.bcebos.com/paddlenlp/models/transformers/ernie-health-chinese/pretrained-ernie-health-chinese.tar.gz)下载。

[2022-11-07 13:36] wawltor commented on #3691
需要做PaddlePaddle的更新和PaddleNLP才能解决这个问题

1）Paddle的版本升级2.4.0rc0版本
2）修改PaddleNLP的library文件或者拉取代码最新的develop代码，修复PR https://github.com/PaddlePaddle/PaddleNLP/pull/3695

[2022-11-07 16:42] johnsongwx commented on #3654
太感谢老师们了！！！收到收到，再次感谢！
祝老师们工作顺利，开心常伴！

[2022-11-07 16:42] #3654 closed, assigned to LemonNoel

[2022-11-08 03:07] kehuo opened #3699 "[Docs]: read the docs 文档在国内访问很慢"
### 软件环境

[code]

### 详细描述

[code]

[2022-11-08 03:12] LiuChiachi commented on #3678
你那边gpu进行微调训练是可以的吗@starryzwh

[2022-11-08 03:13] LiuChiachi commented on #3678
@yuwochangzai 更新下paddlepaddle版本到2.4.0rc0再试下呢

[2022-11-08 03:38] YYGe01 commented on #3674
@wawltor 谢谢回复，我看了下uinmo-text，发现主要是有答案的问题生成，也就是输入有两个，我目前的使用场景如下:

[code]
是想通过一句话，生成一个指定规则格式的文本，如上IF THEN SET就是指定的格式，不知道这种场景uinmo-text是否合适，或者有没有其他的方案可以推荐呢，谢谢！

[2022-11-08 04:08] Alone749-i commented on #3664
微调完毕后突然就压缩了并且报错，请问如何解决？

[2022-11-08 04:51] Alone749-i opened #3700 "[Question]: 使用UIE微调按照文档执行报错。"
### 请提出你的问题

Traceback (most recent call last):
  File "finetune.py", line 287, in <module>
    main()
  File "finetune.py", line 255, in main
    if training_args.do_compress:
AttributeError: 'CompressionArguments' object has no attribute 'do_compress'

[2022-11-08 04:52] Alone749-i commented on #3623
请问现在最新微调代码也是使用ERNIE3.0吗？

[2022-11-08 04:56] wawltor commented on #3647
这个不可以的

[2022-11-08 04:56] #3648 closed, assigned to wawltor

[2022-11-08 04:58] wawltor commented on #3657
麻烦安装develop版本的PaddleNLP，同时使用最新的文档命令

[2022-11-08 05:06] wawltor commented on #3700
UIE压缩对设备的要求比较高，可以选择跳过该步骤；

如需要进行UIE压缩，需要升级UIE Paddle到2.4rc0版本，同时安装develop版本PaddleNLP

[2022-11-08 05:11] crackso commented on #3593
训练完成了，花了8天左右，20多w步，训练了2次，感觉分数始终没有什么提高。目前还只是uie-base的上的微调，从cblue上的原始数据中整理出了2份数据（相差5k），少的那份数据集上分数高点，多的反而分数降低了。目前不清楚该从什么方向再去调整。老师帮忙指点下。

[2022-11-08 05:14] starryzwh commented on #3678
微调是可以的，版本也已经更新到2.4.0rc0，刚在另一个issue里看到@wawltor大佬说是paddlenlp需要develop版本的，我整尝试试一下此方法

[2022-11-08 05:26] junphine commented on #2779
File "train/uie/utils.py", line 163, in convert_example
    encoded_inputs = tokenizer(text=[example["prompt"]],
  File "/root/anaconda3/lib/python3.9/site-packages/paddlenlp/transformers/tokenizer_utils_base.py", line 2233, in __call__
    return self.batch_encode(
  File "/root/anaconda3/lib/python3.9/site-packages/paddlenlp/transformers/tokenizer_utils_base.py", line 2439, in batch_encode
    r

[2022-11-08 05:27] junphine commented on #2779
已经是最新版了，也报这个错

[2022-11-08 07:51] QiangzhenZhu commented on #3664
window 平台'start_positions' 'end_positions' 要把外面的引号去掉，可以跑

[2022-11-08 08:32] yuwochangzai opened #3703 "[Question]: 准备自搭paddle环境，目前主要用来做UIE，后续可能会做其他的，有推荐的显卡型号吗？"
用于生产环境的。

[2022-11-08 08:36] yuwochangzai commented on #3678
成功了，谢谢！
![image](https://user-images.githubusercontent.com/6983001/200515001-a3e2dab2-a2de-4588-b358-b4ee45d64c8d.png)

[2022-11-08 08:36] #3678 closed, assigned to LiuChiachi

[2022-11-08 09:12] starryzwh opened #3705 "在使用UIE-nano压缩后的模型int8类型，在进行cpu部署时，发生错误[Question]:"
### 请提出你的问题

您好，在使用压缩后的模型int8类型，在进行cpu部署时，发生错误，似乎时paddle2onnx有些算子不支持的原因，请问是否是版本原因导致的？
环境：paddlepaddle-gpu==2.4.0rc0
onnx==1.12.0
onnxruntime==1.13.1
以下是错误信息：
`python .\app.py --model_path_prefix ../checkpoint/model_best/int8
[2022-11-08 17:07:09,400] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-11-08 17:07:09,400] [

[2022-11-08 09:17] yuwochangzai opened #3706 "[Question]: UIE压缩之后的模型该如何使用呢？有demo吗？"
压缩之后的模型如图：
![image](https://user-images.githubusercontent.com/6983001/200524738-228e50a8-f87d-4302-83ff-f7fc2967bbbb.png)

[2022-11-08 09:46] starryzwh commented on #3706
我也在试这一步，应该是文档中/model前缀换成int8前缀，形如/checkpoint/model_best/int8，你可以试试，我现在遇到了另一个问题

[2022-11-08 10:03] AI-Mart opened #3707 "官方代码https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuUIE 运行报错"
### 问题描述

运行：
python process_data.py preprocess

报错：
`/home/aistudio/work/DuUIE
Building 灾害意外 dataset ...
Traceback (most recent call last):
  File "process_data.py", line 678, in <module>
    options.func(options)
  File "process_data.py", line 614, in preprocess
    data_folder=options.output_folder, schema_folder=options.schema_folder)
  File "process_data.py", line 496, in preprocess_event

[2022-11-08 10:16] w5688414 commented on #3669
Hi, @wujianqiangwjq ,如果nano版本效果不理想，可以选择更大的模型，请参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/API.md

[2022-11-08 11:45] linjieccc commented on #3707
你好，

报名比赛后 https://aistudio.baidu.com/aistudio/competition/detail/436/0/introduction

可以在这里下载对应的数据集

<img width="1335" alt="image" src="https://user-images.githubusercontent.com/40840292/200555842-02779b6c-22d6-4ffa-8182-1840255f0f20.png">

[2022-11-08 12:11] wawltor commented on #3703
这个和预算、使用场景有关系

1）如果预算比较充裕，考虑训练的话可以看看A100，V100相关的机器，如果只是做预测部署，可以考虑一下T4，A10

2）如果预算不是特别充裕，可以考虑一下 3080，3090系列的卡

[2022-11-08 12:18] lugimzzz commented on #3699
感谢你的建议，文档这块我们后续会考虑如何优化体验。

[2022-11-08 12:36] wawltor commented on #3705
能把报错信息提供更多一点吗？

[2022-11-08 12:41] wawltor commented on #3674
可以的，样本足够多的话，可以学习到该范式

[2022-11-08 12:54] LiuChiachi commented on #3706
@yuwochangzai ，按照这里的命令：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/README.md#%E6%A8%A1%E5%9E%8B%E9%83%A8%E7%BD%B2
如 @starryzwh 所说，前缀改成int8即可
[code]

[2022-11-08 13:01] LiuChiachi commented on #3705
您的paddle2onnx的版本是？建议更新到1.0.2
[code]

[2022-11-08 13:05] pfchai commented on #881
这个功能实现了吗？

[2022-11-08 13:09] pfchai commented on #3664
这个问题见 https://github.com/PaddlePaddle/PaddleNLP/issues/3700

[2022-11-08 15:28] vesper1012 commented on #3613
您好:
请问百度的分词工具LAC中有一个model是rank, 用于词重要程度排序, 请问方便提供这个工具的开源代码吗, GitHub上仅有API的调用方式, 没有详细介绍每个词的重要性是如何算的.

Vesper
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-11-09 00:59] lx1054331851 commented on #3683
@wj-Mcat 谢谢您的回复和解决问题的思路，刚发现您应该和微信里回复我消息的老师是同一个人。非常感谢。
paddlenlp给了普通人能够处理nlp领域的入场券，但是我确实是nlp新人，有很多概念不太了解。就像您上面给到的解决问题的方案，再往下走，我还是不懂，尴尬。更别提您提出的新的问题了。

如果您方便的话，那就再请您辛苦指点一下后续的实现，或者指点一下去哪里看看资料可以得到该方面的知识，从头学起nlp有点赶不上现在的业务需求。

[2022-11-09 01:31] xmweijh opened #3709 "[Question]: 使用paddlenlp的一键预测能力 Taskflow API报错 mkdir failed!"
### 请提出你的问题

## 问题描述

使用Taskflow API报错

## 允许代码如下
[code]

## 报错内容
[code]

[2022-11-09 01:56] yuwochangzai commented on #3706
报错了，好像量化后的模型不能用paddle2onnx转换：
python deploy/python/infer_cpu.py --model_path_prefix export/int8
/home/icvip/.local/lib/python3.9/site-packages/paddlenlp/transformers/image_utils.py:213: DeprecationWarning: BILINEAR is deprecated and will be removed in Pillow 10 (2023-07-01). Use Resampling.BILINEAR instead.
  resample=Image.BILINEAR,
/home/icvip/.local/lib/python3.9/site-packages/paddlenlp/transfo

[2022-11-09 01:59] LiuChiachi commented on #3706
paddle2onnx的版本是多少呢？更新到1.0.2是可以的

[2022-11-09 02:01] w5688414 commented on #3613
Hi, @vesper1012 ， LAC的问题建议重新提一个issue，会有专门的人解答

[2022-11-09 02:04] yuwochangzai commented on #3703
好的，多谢！

[2022-11-09 02:04] yuwochangzai commented on #3703
好的，多谢！

[2022-11-09 02:18] yuwochangzai commented on #3706
更新到1.0.2还是报错
![image](https://user-images.githubusercontent.com/6983001/200721261-6513fe30-200d-4748-98fe-775838c3d2fe.png)

[2022-11-09 02:28] #3652 closed, assigned to nobody

[2022-11-09 02:32] starryzwh commented on #3705
您好，按照您的建议，之前版本时1.0.1，更新到1.0.2，还是报上面的错误，相关算子并没有支持

[2022-11-09 02:39] wawltor commented on #3709
麻烦提供一下Paddle和PaddleNLP的版本

[2022-11-09 02:41] xmweijh commented on #3709
paddlenlp                 2.4.2                    pypi_0
paddlepaddle-gpu          2.3.2           py37_gpu_cuda11.2_windows

[2022-11-09 02:42] wawltor commented on #3709
麻烦再尝试一下其他Taskflow的任务是否有问题，还是单独pos_tagging有问题

[2022-11-09 02:46] LiuChiachi commented on #3705
`fake_channel_wise_quantize_dequantize_abs_max`,`fake_quantize_dequantize_moving_average_abs_max`这些算子应该是旧版本的量化op，新版本量化op依赖paddlenlp的develop版本，压缩时onnx_format=True

再检查下`xxx/paddlenlp/trainer/trainer_compress.py`下onnx_format是否为True

https://github.com/PaddlePaddle/PaddleNLP/blob/e97f6704409567196c7542304c8cb36a51495be0/paddlenlp/trainer/trainer_compress.py#L660-L661

[2022-11-09 02:53] xmweijh commented on #3709
测试了其他的任务，全都是报的这个错误。会不会因为是系统用户名是中文啊？

[2022-11-09 02:53] shelleyyyyu commented on #1890
您好，有预计支持的计划吗

[2022-11-09 03:01] wawltor commented on #3709
可以尝试设置一下home_path，这样可以改成英文目录试试，如果不行的话 可以加一下我们的微信群 我们帮忙排查一下
 tag = Taskflow("pos_tagging", home_path="xxxx")

[2022-11-09 03:05] xmweijh commented on #3709
好了。感谢！ 居然真的是中文用户名的原因，win11害人TAT

[2022-11-09 03:14] wawltor commented on #3709
嗯嗯 解决就好

[2022-11-09 03:18] #3709 closed, assigned to nobody

[2022-11-09 03:41] starryzwh commented on #3705
是使用的paddlenlp的develop版本，检查相关代码，onnx_format值是True
[code]

[2022-11-09 06:19] LiuChiachi commented on #3705
麻烦帮忙确认下Paddle环境里的这个文件`Paddle/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py`里`ImperativeQuantAware`类的`save_quantized_model`函数是否有`onnx_format`参数，

https://github.com/PaddlePaddle/Paddle/blob/ccb47076b73dbc12d3408ff786dc31b1769e3084/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py#L301-L304

https://github.com/PaddlePaddle/Paddle/blob/ccb47076b73dbc12d3408ff786dc31b17

[2022-11-09 07:29] LiuChiachi commented on #3706
麻烦帮忙确认下Paddle环境里的这个文件`Paddle/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py`里`ImperativeQuantAware`类的`save_quantized_model`函数是否有`onnx_format`参数，

https://github.com/PaddlePaddle/Paddle/blob/ccb47076b73dbc12d3408ff786dc31b1769e3084/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py#L301-L304

如果还有的话，再在paddlenlp的trainer_compress.py的`_quant_aware_training_dynamic`函数里的这个位

[2022-11-09 07:50] starryzwh commented on #3705
您好，首先谢谢解答，根据您以上提出，Paddle环境里的这个文件Paddle/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py里ImperativeQuantAware类的save_quantized_model函数中没有onnx_format参数，但在ImperativeQuantizeOutputs类中，是有onnx_format参数：`def save_quantized_model(self,
                             model,
                             path,
                             input_spec=None,
                             onnx_format=

[2022-11-09 07:54] yuwochangzai commented on #3706
ImperativeQuantAware类的save_quantized_model函数如下：
![image](https://user-images.githubusercontent.com/6983001/200769891-3a8a1426-bb0e-467b-8fbe-0b98dc35e5df.png)

[2022-11-09 07:58] yuwochangzai commented on #3706
ImperativeQuantAware类的save_quantized_model函数如下：
![image](https://user-images.githubusercontent.com/6983001/200773763-64ff29b8-24b4-4936-820c-f70fa7ed53d3.png)

paddlenlp的trainer_compress.py的_quant_aware_training_dynamic函数没有onnx_format，现已加上，如下：
![image](https://user-images.githubusercontent.com/6983001/200771580-89e59a2f-d6d9-4b7e-a661-25db197a2138.png)

改完之后运行python deploy/python/infer_cpu.py --mo

[2022-11-09 09:02] leiqing1 opened #3713 "【三日部署直播课】UIE、BERT等NLP模型在TensorRT、OpenVINO、ONNX Runtime、RKNN、Paddle Inference、Paddle Lite部署实战。覆盖150+热门模型"
### 问题描述

🔥 全场景部署套件 FastDeploy：
1. 目前支持了150+热门CV、NLP、Speech模型的部署，其中UIE模型支持tensorRT、OpenVINO、ONNX Runtime、Paddle Inference。NLP的端侧能力正在打磨中。
2. 支持TensorRT、OpenVINO、ONNX Runtime、RKNN、Paddle Inference、Paddle lite等。
3. 支持CPU、GPU、Jetson、ARM CPU、瑞芯微NPU、晶晨NPU、恩智浦NPU、飞腾CPU、IPU等九大类硬件，更多硬件能力完善中。
4.  1行代码切换不同后端和硬件。
5.
GitHub地址：https://github.com/PaddlePaddle/FastDeploy

🔥 三日直播课：
【直播分享】2022.11.09 20:30～21:30，《覆盖

[2022-11-09 10:18] tigerbaby1515 opened #3714 "[Question]: 在情感分析任务中，使用predict_sentence.py进行预测时，如何获取模型输出的每个类别的置信度"
### 请提出你的问题

在情感分析任务中，使用predict_sentence.py进行预测时，如何获取每个类别的置信度
    results = predict(model,
                      data,
                      tokenizer,
                      label_map,
                      batch_size=args.batch_size)

    for idx, text in enumerate(data):
        print('Data: {} \t Label: {}'.format(text, results[idx]))
在这results里面存储的是每个句子的标签，现在我想知道每个句子的置信度或者模型输出的概率值，怎么弄呢

[2022-11-09 10:35] Macxy2018 opened #3715 "[Question]: ErnieTokenizer在做NER任务时会将换行符等去除"
### 请提出你的问题

1.环境：系统ubuntu18.04；python3.7；paddlepaddle-gpu 2.3稳定版；paddlenlp 2.4.1
2.模型：ernie-crf模型
3.需求：当前任务为NER任务，数据标注为单个字符标注的BIO类型，语句中包含换行符及特殊字符等
4.现象：使用tokenizer后会丢失换行符，导致crf输出无法与标签匹配，从而停止训练
5.问题：请问有什么办法能够保留换行符等特殊字符？目前使用add_tokens未能解决问题，还有特殊字符，是否需要将所有特殊字符添加进tokens？

[2022-11-09 12:26] kpskylonely commented on #3145
怎么解决的？

[2022-11-10 00:58] #3674 closed, assigned to nobody

[2022-11-10 01:32] yuwochangzai commented on #3706
果然是的，**重新压缩**后再执行python deploy/python/infer_cpu.py --model_path_prefix export/int8命令就好了

[2022-11-10 01:32] #3706 closed, assigned to LiuChiachi

[2022-11-10 02:11] 1649759610 commented on #3714
你好，可以从代码中的probs获取概率值，probs是经过softmax后的数值，表达了样本归属不同情感的概率：

https://github.com/PaddlePaddle/PaddleNLP/blob/7c06b02e3161bd398e0decd439d47efd15f3feee/examples/sentiment_analysis/skep/predict_sentence.py#L124

[2022-11-10 02:23] coolinstar commented on #3657
目前使用anaconda 環境管理版本
根據建議，透過pip 重新安裝paddlenlp
版本為
paddlenlp                 2.4.1.dev0
運算仍然報與上面相同錯

已確認是使用最新UIE目錄下的finetune相關文檔與指令

請問 @wawltor   您所指的develop版本為此? 是否哪裡仍需要更新?

[2022-11-10 02:33] wj-Mcat commented on #3683
@xl
 请问你后续的实现具体是指什么呢？你可以把你的问题描述清楚，我们也可以明确且快速的定位你的问题，从而帮你解决。

[2022-11-10 02:43] wj-Mcat commented on #3715
关于NER任务当中的空格处理，你可以参考：[空格处理解决方案](https://github.com/PaddlePaddle/PaddleNLP/wiki/Best-Practice#%E7%A9%BA%E6%A0%BC%E5%A4%84%E7%90%86)

同时也已经有一个相似的PR  https://github.com/PaddlePaddle/PaddleNLP/issues/3683

相信上面的两个解决方案已经可以帮你解决问题。如果有任何问题，都可以在这里继续说明。

[2022-11-10 03:14] vesper1012 opened #3716 "[Question]: LAC工具里面的rank能否提供具体的实现代码"
### 请提出你的问题

即词重要性是如何计算的而不只是调用方法, 在baidu/lac那边提问没有回答 希望得到回复

[2022-11-10 06:36] LiuChiachi commented on #3705
有新版本发布我们会联系您~感谢您关注~

您也可以按照上面的建议
为paddlenlp的trainer_compress.py的_quant_aware_training_dynamic函数加上onnx_format=True，
<img width="436" alt="image" src="https://user-images.githubusercontent.com/26483581/201017798-80f5fa7c-5c44-4b79-b133-25859deb04ba.png">
重新压缩导，再执行推理即可
参考https://github.com/PaddlePaddle/PaddleNLP/issues/3706#issuecomment-1309646563
有朋友遇到相同的问题，已经成功了

[2022-11-10 07:09] chaiyixuan commented on #3573
请问docvqa_zh这个数据集在哪里下载呢

[2022-11-10 07:11] yangzijiang98 opened #3717 "[Bug]: applications-text_summarization-pegasus使用run_train.py出现问题，环境版本与aistudio一致，无法运行"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

sh run_train.sh

[2022-11-10 07:29] gongel commented on #3717
你好，这个本地环境的问题，可以参考这个更新下：https://github.com/PaddlePaddle/PaddleDetection/issues/4139

[2022-11-10 07:39] starryzwh commented on #3705
非常感谢，按照上面的建议，重新压缩导出，并做推理，成功了！
此刻，还想问一个问题，模型压缩这一步目前是使用paddlepaddle-gpu2.4.0rc0才能进行压缩，后续可以用新发布的稳定版本代替是吧？还有上面推理补充代码paddlenlp的trainer_compress.py的_quant_aware_training_dynamic函数加上onnx_format=True也会在新版本中呈现是吗？

[2022-11-10 07:43] LiuChiachi commented on #3705
现在的这 改动是为了让paddlenlp适配现有的2.4.0rc版本的PaddlePaddle，等2.4.0正式版（新版本）发布之后，就不需要再做这个改动了。
等paddlepaddle新版本发布，您可以继续使用现在改过之后的环境，也可以升级paddlepaddle和paddlenlp至最新版本；

[2022-11-10 08:09] starryzwh commented on #3705
好的，了解了，非常感谢！

[2022-11-10 08:10] #3705 closed, assigned to LiuChiachi

[2022-11-10 08:59] oyb1125 opened #3720 "[Docs]: PaddleNLP/pipelines/examples/FAQ/ README.md文档问题"
### 软件环境

[code]

### 详细描述

[code]

[2022-11-10 09:23] w5688414 commented on #3720
Hi, @oyb1125  Thank you for pointing out the mistakes, this is the pr https://github.com/PaddlePaddle/PaddleNLP/pull/3712

[2022-11-10 13:37] liruixue opened #3722 "[Question]: PaddleNLP Pipelines的数据插入时，除了content和meta中的name字段可以被插入，其他字段内容是怎么被插入的呢"
### 请提出你的问题

在使用用PaddleNLP Pipelines产品时，官文介绍道据更新的方法有两种，第一种使用前面的 utils/offline_ann.py进行数据更新，第二种是使用前端界面的文件上传（在界面的左侧）进行数据更新。对于txt（需要按照空行划分段落），有些场景我不仅需要文本能把检索到，我还需要知道文本的引用出处或者作者或者生产时间等信息，是如何保存的呢？
期待老师的指导，感谢！

[2022-11-10 18:02] sbruckmaier opened #3725 "[Question]: ErnieLayout Inference InvalidArgumentError: The input's dimension and filter's dimension of Op(Conv) should be equal."
### 请提出你的问题

I fine-tuned ErnieLayout on a custom data set, exported the model and now I'm trying to use the exported model for inference as described here: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layout/deploy/python

However, there seems to be an issue with the input dimensions of the image, as I get the following error message when executing infer.py:

[code]

How

[2022-11-11 00:48] #3715 closed, assigned to wj-Mcat

[2022-11-11 02:40] wawltor commented on #3716
词重要性权重，是基于LAC的切词模型输出的 词序列 + 词性 => 打分模型完成计算，打分模型通过词语本身语义、词性 两种种特征进行排序打分。
可以理解在LAC模型之后有一个词语重要性模型来对词语的重要性进行打分，最终有4个等级
<img width="635" alt="482b6b9be0c9f405ac4d5dd355c50486" src="https://user-images.githubusercontent.com/16698950/201250902-a17863dc-fcdd-4ed0-9f82-d084046ebcc4.png">

[2022-11-11 02:53] haojiepan1 opened #3726 "ernie-1.0-large-zh-cw 如何下载"
您好，请问ernie-1.0-large-zh-cw 从哪里下载，尝试了各种方式，下载不下来，是已经不开源了吗？

[2022-11-11 03:03] w5688414 commented on #3722
Hi, @liruixue  Please refer to meta parameters, you can add the data into meta to statisfy your requests,
 https://github.com/PaddlePaddle/PaddleNLP/blob/72cc9e12ad24f6e5dfa01de5f46669b7901d0356/pipelines/pipelines/schema.py#L95

[2022-11-11 03:20] #3726 closed, assigned to nobody

[2022-11-11 03:26] liruixue commented on #3722
了解，感谢快速回复！

[2022-11-11 04:00] wawltor commented on #3725
The `task_type` is correct ？

[2022-11-11 06:19] DamonYangyang opened #3729 "[Question]: docprompt的抽取模型用的什么方法？"
### 请提出你的问题

您好，请问一下docprompt用到的抽取方法是什么，MRC还是LinearCRF，又或是提到的mmlayout

[2022-11-11 07:23] vesper1012 commented on #3716
您好:
感谢回复.
想请教一下, ernie-gram模型对文本中词语的词性、词重要程度有没有感知呢? &nbsp;如果我在Ernie- gram模型中再额外加入lac工具做的词性和词重要程度, 是不是在画蛇添足? 该如何知道模型是否已经学会这些信息了呢?

Vesper
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"

[2022-11-11 08:39] Nomia opened #3734 "做关键信息提取时，训练到RE的时候，精度一直为0"
你好，如题，做关键信息提取时，训练到RE的时候，精度一直为0
![image](https://user-images.githubusercontent.com/1707818/201300115-7d70e569-292e-4ffc-9126-dba2c0d5becb.png)

我用`xfund`数据没有任何问题，
但是用我自己的数据就有问题

我对比了`xfund`的数据结构和我的数据的数据结构，都是一样的
另外，`config`配置的`xml`文件也是一样的，除了train和val的数据路径不完全一致

训练语法也是一致的
`python tools/train.py -c configs/kie/vi_layoutxlm/re_vi_layoutxlm_xxxxxx_zh.yml`

这会是什么问题呢，如果还需要更多信息我可以提供，谢谢

[2022-11-11 11:29] stefanqxb opened #3738 "[Question]: The traning data format for finetuning ernie-layout"
### 请提出你的问题

Hi there,
   Im using the ernie-layout model to do some docVQA tasks, and I have tried with zero-shot one, and figure out need some finetuning, however, when I checked abt how to finetune, I have some uncertainty of the data-format, as in the example, u point to the docvqa_zh, but could someone also provide a skelton abt the dataset format, so I could take as a reference ? Thank you f

[2022-11-11 14:34] #3554 closed, assigned to nobody

[2022-11-11 14:40] hehuang139 commented on #3573
跑阅读理解run_mrc.py就会自动下载，这个机制是paddle的datasets机制的_split_generators（其实和huggingface的datasets一摸一样的，如果你对hf有了解的话），具体数据集代码可以参考paddlenlp/datasets/hf_datasets/docvqa_zh.py这个模块，在这个模块中，你可以看到_split_generators拆分数据集，可以看到通过download_manager 从 _URL = "https://bj.bcebos.com/paddlenlp/datasets/docvqa_zh.tar.gz"。我们没必要自己下载，当然也可以自己下载放到.cache/huggingface**目录下，但是这个下载文件是有hash编码的，我们直接放进去没用

[2022-11-11 14:41] hehuang139 commented on #3573
百度下载速度也很快，不用担心

[2022-11-11 14:41] #3573 closed, assigned to nobody

[2022-11-11 14:52] hehuang139 commented on #3729
很明显啊，从propmt中是qa问题，那肯定是阅读理解mrc，label是start,end。具体的话要确认可以通过DocPromptTask对eval结果start,end可以看出来，

[2022-11-11 15:16] QQR1 opened #3740 "[Question]: text_summarization下载模型报错"
### 请提出你的问题

`from pprint import pprint
from paddlenlp import Taskflow

sum = Taskflow('text_summarization')
pprint(sum("飞桨自然语言处理核心开发库，拥有覆盖多场景的模型库、简洁易用的全流程API与动静统一的高性能分布式训练能力，旨在为飞桨开发者提升文本领域建模效率，并提供基于PaddlePaddle 2.0的NLP领域最佳实践。"))
`
[2022-11-11 23:14:22,241] [    INFO] - Downloading tokenizer_config.json from https://bj.bcebos.com/paddlenlp/models/community/IDEA-CCNL/Randeng-Pegasus-523M-Summary-Ch

[2022-11-11 22:34] coolinstar commented on #3657
@wawltor
目前無論CPU  GPU  透過paddlenlp 2.4.1 dev0  運行最新指令 都是報同一個錯誤。
![image](https://user-images.githubusercontent.com/9428499/201439840-5dd71fe7-09fd-4430-a831-e2e8871cf5da.png)

回報提供參考

[2022-11-12 00:49] wj-Mcat commented on #3657
建议直接用git clone获取最新代码来体验，而不是用pip install。

[2022-11-12 02:56] wawltor commented on #3716
从预训练模型的角度而言，本身在模型有self-attention 注意力机制，模型是可以学习到相关字、词相关的重要性的

[2022-11-12 04:47] coolinstar commented on #3657
.......................

是用git clone 回來之後配置進去的

![image](https://user-images.githubusercontent.com/9428499/201460531-1a8bcc4c-9e8f-4c50-8298-2fb09f3af853.png)

[2022-11-12 06:28] coolinstar commented on #3657
@wawltor   hi，回報測試的進展。

而且追蹤錯誤堆疊，可以看到報錯的位置在paddle 的dygraph裡面，這個部分只有在觸發ERNIEM model的時候才發生，跟paddlenlp關係大嗎??

File "C:\Usersc\anaconda3\envs\padpy39\lib\site-packages\paddle\fluid\dygraph\layers.py", line 915, in _dygraph_call_func
outputs = self.forward(*inputs, **kwargs)
TypeError: forward() got an unexpected keyword argument 'start_positions'

[2022-11-12 06:38] coolinstar commented on #3657
同樣的版本，同樣的指令
改成使用uie-base  訓練中文就不會報錯
回報提供參考

[2022-11-12 09:09] wawltor commented on #3734
这个用PaddleOCR来训练的？ 麻烦可以转到PaddleOCR看看哈

[2022-11-12 09:10] wawltor commented on #3740
这个建议使用最新develop版本下载，目前这个问题已经在develop版本修复

[2022-11-12 09:25] Nomia commented on #3734
好

[2022-11-12 09:25] #3734 closed, assigned to linjieccc

[2022-11-13 02:15] boxiaowave opened #3742 "[Bug]: PretrainedTokenizer的save_vocabulary方法是错误的"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

t = AutoTokenizer.from_pretrained('ernie-3.0-xbase-zh')
t.save_vocabulary(filepath='vocab.txt',vocab=t.vocab)

[2022-11-13 02:55] anyxgit opened #3743 "@beidongjiedeguang 你好，确实是的，Copilot确实是需要先激活。如果不激活的话，可以使用另外一个插件，我们也是支持的，可以看下这个[fauxpilot（注意事项的最后一点）](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/code_generation/codegen/README.md#%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9)"
It don's work. I user fauxpilot extension in vscode, the server side show me error:

INFO:     127.0.0.1:54744 - "POST /v1/engines/codegen/completions HTTP/1.1" 500 Internal Server Error
ERROR:    Exception in ASGI application
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/uvicorn/protocols/http/h11_impl.py", line 366, in run_asgi
……
RuntimeError: (NotFound) Ther

[2022-11-13 02:57] #3743 closed, assigned to nobody

[2022-11-13 02:59] anyxgit commented on #3235
It don't work! When I use fauxpilot extension in vscode, the server said:
INFO:     127.0.0.1:54744 - "POST /v1/engines/codegen/completions HTTP/1.1" 500 Internal Server Error
ERROR:    Exception in ASGI application
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/uvicorn/protocols/http/h11_impl.py", line 366, in run_asgi
……
RuntimeError: (NotFound) There are no ke

[2022-11-13 03:33] zchengzhong opened #3744 "想问下paddleNlp中的UIE模型可以用于不同垂直领域吗"
### 请提出你的问题

1、想问下paddleNlp中的UIE模型可以用于不同垂直领域吗？
比如国防，金融，教育等，
2、要用于这些领域，每个领域通常需要的语料数量多少条【使用doccano】？
3、对语料有什么建议，UIE模型微调貌似有时精确率不升反降？

[2022-11-13 09:39] zchengzhong opened #3745 "paddleNlp中的UIE模型一些适用条件辛苦补充下，有些情况不可用"
### 请提出你的问题

paddleNlp中的UIE模型一些适用条件辛苦补充下，有些情况不可用：
比如默认的模型（base）适配用于哪些领域， 通用一次推理适用多少文本（3000字还是1w字），内存（gpu模式显存多大，cpu下内存要多大），这些适用条件给一下，好让评估能不能上生产。谢谢

[2022-11-13 13:04] lx1054331851 commented on #3683
@wj-Mcat 你好，非常感谢。
这几天看了下tokenizer、token、token_id等概念，终于理解了你上面的方法。

现在的问题是：
能找到的案例中使用user_dict的场景是使用TaskFlow高级API进行user dict的加载，如下：
from paddlenlp import Taskflow
seg = Taskflow("word_segmentation", user_dict="user_dict path")

按你上面的方法，还能用用户自定义词典吗？如何加载？搜索了一番，没找到案例。
还是说把所有的自定义词汇都加到tokenizer里面？

[2022-11-13 14:46] sijunhe opened #3747 "Trainer Compress API evaluation and return arguments"
### Feature request

当前似乎只有dynabert有evaluation, 但是后续的ptq, qat都没有. 能否考虑在所有策略执行完毕后进行统一的evaluation, 然后将关键信息(metrics, export model path, model size (MACs or memory footprint)) log下来并且作为return arguments返回？

### Motivation

trainer.compress应该与trainer.train有类似的API. trainer.train会返还一个TrainOutput, 同时每一次evaluation都有UI显示.

### Your contribution

n/a

[2022-11-14 02:17] wawltor commented on #3744
1、 UIE模型 可以用于不同领域，建议不同领域各个训练一个模型出来
2、主要要看任务难度，如果实体较多、关系较多，至少每个实体要有5条数据覆盖，建议少量数据先微调，然后再加数据继续提升效果
3、模型训练过程中有最好的best model，使用最好模型即可，因为验证集较少，指标有波动也很正常

[2022-11-14 03:05] zxcd opened #3749 "[Question]: GPTTokenizer 未正常加载"
### 请提出你的问题

目前使用paddleNLP中的GPTTokenizer加载gpt2的tokenizer，加载后added_tokens.json的内容未成功加载。

paddlenlp版本为2.4.2
gpt2目录结构中包含added_tokens.json  merges.txt  special_tokens_map.json  tokenizer_config.json  vocab.json
其中，
1、added_tokens.json的内容为：{"<|endoftext|>": 50257}
2、special_tokens_map.json内容为：{"bos_token": "<|endoftext|>", "eos_token": "<|endoftext|>", "unk_token": "<|endoftext|>"}
3、tokenizer_config.j

[2022-11-14 03:32] bannima opened #3750 "Ernie-Layout 在Xfund数据集预处理Text的一维序列化算法"
### 请提出你的问题

**Ernie-Layout 在Xfund数据集预处理Text的一维序列化算法**

Ernie-Layout在做QA任务的时候，如何预处理Xfund数据集，得到text字段的一维序列化算法？这个预处理细节对于我们的推理服务很重要

[2022-11-14 03:42] dahu1 opened #3751 "请问一下paddlenlp有dockerfile吗"
### 请提出你的问题

没找到paddlenlp的dockerfile，可以容器使用paddlenlp吗

[2022-11-14 03:57] stefanqxb commented on #3738
Hi,
    Any updates on this one ??

[2022-11-14 04:21] LiuChiachi commented on #3747
感谢关注和提出的建议～

目前dynabert和 qat在训练的过程中以及训练结束有evaluation信息，目前ptq还没有，之后会增加对伪量化模型（静态图）的evaluation，并且补充出更多的模型相关信息。

[2022-11-14 04:52] wawltor commented on #3751
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines
这里有些镜像可以拉取

<img width="1001" alt="image" src="https://user-images.githubusercontent.com/16698950/201578003-0fd59fed-5094-4487-aed1-3ed6636632fb.png">

[2022-11-14 05:07] dahu1 commented on #3751
如果想要自己编译镜像呢，有dockerfile吗？

[2022-11-14 05:07] dahu1 commented on #3751
如果想要自己编译镜像呢，有 dockerfile 吗？

[2022-11-14 06:00] linjieccc commented on #3738
Hi,

sorry for the late response, you can view the data format by the following code

[code]

[2022-11-14 06:36] Tygors commented on #2892
您好，我也遇到了类似的问题，PET代码未作任何更改，windows系统下运行出错。
\lib\site-packages\paddle\fluid\dygraph\varbase_patch_methods.py", line 293, in backward
    framework._dygraph_tracer())
IndexError: (OutOfRange) The index is out of bounds, please check whether the dimensions of index and input meet the requirements. It should be less than 752, but received 752
  [Hint: Expected index_val < max_index, but received index_

[2022-11-14 06:45] linjieccc commented on #3750
你好，请问是指如何将xfund数据集转换为ERNIE-Layout QA任务推理需要的数据格式吗？

[2022-11-14 06:47] stefanqxb commented on #3738
Hi lin,
     Thanks for the reply, now that I have got the data format, but I run into another issue when trying to fine-tune the model, with the run_mrc.py script,  I got the "Int" object is not iterable which coming from line 480 in the ernie-layout/utils.py when it trys to do the `for qid, question, answers in zip(qas[''question_id], xxxxx)` as the question_id is an int obj, can u help to do id

[2022-11-14 06:48] w5688414 commented on #3751
Hi, @dahu1 , 目前paddlenlp的镜像是拉取的官网的docker镜像编译而来，如果需要编译自己的镜像，请拉取官网的Paddle镜像做少许修改后，使用docker build打包，打包方法请参考链接https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/docker

另外，我搜了一下资料，您看看能否从镜像中获取dockerfile：
https://stackoverflow.com/questions/19104847/how-to-generate-a-dockerfile-from-an-image

[2022-11-14 07:00] linjieccc commented on #3745
@zchengzhong
你好，

1）uie-base模型对抽取场景和领域没有特殊限制，一般在领域数据上通过少量标注+微调即可进行适配。
2）Taskflow内置了对长文本的处理，因此对输入文本的长度没有限制
3）在V100下面base模型（batch_size=1）的显存占用是2.1G左右，CPU推理内存占用大概是1.7G左右

[2022-11-14 07:06] dahu1 commented on #3751
感谢您的细致讲解，您的两个建议都很有用！

[2022-11-14 07:09] wawltor commented on #3716
您好，我们将关闭ISSUE，如有问题可以再次打开ISSUE。

[2022-11-14 07:09] #3716 closed, assigned to linjieccc

[2022-11-14 07:29] linjieccc commented on #3738
@stefanqxb Hi, please check that qas['question_id'] is a list of `int`

[2022-11-14 07:46] stefanqxb commented on #3738
Hi @linjieccc ,  but in my case, my qas['question_id'] is something like 23432, and the qas part of one sample looks like this
[code]
 and this data is the docvqa_zh got from the code u shared with me, so wondering what is wrong here ?

[2022-11-14 08:16] bannima commented on #3750
@linjieccc
您好，更具体点，是在推理服务的时候，如何将二维OCR后的结果转为一维合理的输入Text序列。
举例来说，
如何将【“文务秘书“】【”工作承诺”】两个bounding boxes在转为一维度Text序列时合并为 【“文务秘书工作承诺”】
这样避免做NER任务时产生discontinuous ner问题。
![image](https://user-images.githubusercontent.com/12859455/201608320-52e56d2c-100b-4f23-9ead-3b85816675d0.png)

[2022-11-14 08:20] dahu1 commented on #3751
你好，我看了下这个 pipelines/docker/Dockerfile-GPU，里面还是有from 拉取镜像:
 FROM paddlepaddle/paddlenlp:pipelines-1.0-gpu-cuda10.2-cudnn7

有那种原始的dockerfile 吗？因为1.拉取这个镜像特别慢， 2.可以根据dockerfile 自行安装相关的包。

[2022-11-14 08:22] hehuang139 commented on #3750
建议看下layout的论文，基本的思路就是通过ocr按行（注意这个按行）解析文本text，以及坐标bbox，然后根据文本单字符还是双字符得到每行字符的bbox

[2022-11-14 08:25] hehuang139 commented on #3750
就我了解是不支持阅读顺序的。从ocr解析的角度，文务秘书 -》 机要文件... -> 变更登记 ，会是这样的顺序

[2022-11-14 08:28] hehuang139 opened #3752 "ernie-layout mrc 拒答多答问题[Question]:"
请问，ernie-layout run_mrc 如何处理拒答和多答案？

能否通过数据标注来解决，拒答的label都为0， 多答拆分example

是否支持 A Multi-Type Multi-Span Network for Reading Comprehension that Requires Discrete Reasoning 这种multi-span

[2022-11-14 08:30] hehuang139 commented on #3752
能否通过数据标注来解决，拒答的label都为0， 多答拆分example

[2022-11-14 08:31] westfish opened #3754 "[Bug]: ppdiffusers bug"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

python unconditional_image_generation-score_sde_ve.py

[2022-11-14 08:38] hehuang139 commented on #2850
你看到的是model的input，确实没有image，但是input的text和bbox就可以通过ocr解析得到，并preprocess转换成input

[2022-11-14 08:58] sbruckmaier commented on #3725
Yes I've got a dataset similar to FUNSD (but with different labels) and I want to do key information extraction. I used run_ner.py for finetuning the model and when running infer.py I run it with the parameter `--task_type ner`

[2022-11-14 08:59] sbruckmaier commented on #3725
Yes I've got a dataset similar to FUNSD (but with different labels) and I want to do key information extraction. I used run_ner.py for finetuning the model and when running infer.py I run it with the parameter --task_type ner

[2022-11-14 09:24] stefanqxb opened #3756 "What is the recommended OCR model in paddle for english handwritting recognition"
### 请提出你的问题

Hi there,
     Wondering What is the recommended OCR model in paddle for english handwritting recognition, any suggestions ? :)

[2022-11-14 09:32] sbruckmaier commented on #3725
I also tried transforming the image array into a 4-dimensional array by adding `input_dict['image'] = input_dict['image'][0]` , but then the error message is:

[code]

[2022-11-14 10:26] w5688414 commented on #3751
目前没有提供，paddle的国内镜像都很慢吗？https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/docker#31-%E5%9F%BA%E7%A1%80%E9%95%9C%E5%83%8F

您需要gpu的docker吗？把这个镜像拉下来要多久？
[code]

[2022-11-14 10:36] sbruckmaier commented on #3725
The problem is solved. I had accidentally removed the second return-value (origin_im) of the _str2im() function. After I noticed this, I re-downloaded infer.py and only adjusted my label_dict. Afterwards it worked.

[2022-11-14 10:36] #3725 closed, assigned to linjieccc

[2022-11-14 10:58] LiuChiachi commented on #3664
看下scipy的版本，需要满足 scipy<=1.3.1 & scipy>=1.7.3

[2022-11-14 11:00] dahu1 commented on #3751
@w5688414  好的，我用的还是Dockerfile-GPU 里的paddlepaddle/paddlenlp:pipelines-1.0-gpu-cuda10.2-cudnn7 ，拉取大概花了40多分钟。
请问这个 镜像版本号以及里面对应的内容在哪看呢？
比如 paddlepaddle/paddlenlp:pipelines-1.0-gpu-cuda10.2-cudnn7  和 registry.baidubce.com/paddlepaddle/paddle:2.3.2-gpu-cuda11.2-cudnn8
该选哪个呢。

[2022-11-14 11:09] linjieccc commented on #3738
Hi,

here is an sample, please check whether you load the dataset correctly

![image](https://user-images.githubusercontent.com/40840292/201644459-48b77ca5-b09f-41cf-adf7-d79854ec2f61.png)

[2022-11-14 11:22] zxcd opened #3757 "[Question]: 超过vocab部分index未能成功转为unk_token或none"
### 请提出你的问题

在调用paddlenlp/transformers/tokenizer_utils_base.py中 _decode时，vocab大小为5027。目前paddlenlp版本为2.4.2。

同https://github.com/PaddlePaddle/PaddleNLP/issues/3749

self.tokenizer.decode(token_ids, **kwargs) #token_ids=50364

KeyError: 50364

unk_token_id或NONE

[2022-11-14 11:26] w5688414 commented on #3751
pipelines的镜像是通过paddle镜像打tag得来的，只是加入了pipelines的依赖而已，具体内容参考paddle镜像即可，主要还是paddle官方镜像的一些内容，通过paddle镜像得到pipelines镜像的过程参考：

[code]
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/docker#32-%E4%B8%80%E9%94%AE%E5%90%AF%E5%8A%A8%E9%95%9C%E5%83%8F

[2022-11-14 11:29] zxcd opened #3758 "[Question]: GPTTokenizer加载繁体中文时乱码"
### 请提出你的问题

https://github.com/PaddlePaddle/PaddleNLP/issues/3749

以上环境在加载GPTTokenizer后对繁体中文支持产生乱码。

我認為跑步最重要的就是給我帶來了身體健��

我認為跑步最重要的就是給我帶來了身體健康

[2022-11-14 11:42] MissPenguin commented on #3756
[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR) provides a variety of text recognition models. You can try the English model first, as shown in the second row of the [model list](https://github.com/PaddlePaddle/PaddleOCR#%EF%B8%8F-pp-ocr-series-model-listupdate-on-september-8th), which shows a good performance for printed English text images. If you want to achieve a good effect in the hand

[2022-11-14 14:25] zchengzhong commented on #3745
感谢

[2022-11-14 14:25] #3745 closed, assigned to linjieccc

[2022-11-14 14:32] zchengzhong commented on #3744
感谢回复。
另：微调后的模型，能再拿去训练？还是只能用原来的base模型？ 可以用训练出来的模型继续训练的代码是？

[2022-11-14 15:05] #2850 closed, assigned to nobody

[2022-11-15 00:42] fengyunzaidushi commented on #3257
我也遇到这个问题，
import  paddle 报错

[2022-11-15 01:11] wjddd commented on #3647
了解，感谢答复。

[2022-11-15 01:11] #3647 closed, assigned to wawltor

[2022-11-15 01:26] leejitong opened #3760 "[Question]: uie并发，相同文本答案不一致"
### 请提出你的问题

已知应对uie处理相同文本，想要保持答案一致需要删除静态图文件static
但是删除后：
在非并发时，相同文本给出的答案保持一致
在并发时，相同文本给出的答案不一致