[2022-06-20 02:51] ArtificialZeng commented on #2547
make: 进入目录“/media/reclab/新加卷/nlp_projects/PaddleNLP-develop/PaddleNLP-develop/model_zoo/ernie-1.0/data_tools”
make: 对“default”无需做任何事。
make: 离开目录“/media/reclab/新加卷/nlp_projects/PaddleNLP-develop/PaddleNLP-develop/model_zoo/ernie-1.0/data_tools”
    using uint32 for data mapping...
    using:
     number of documents:            13
     sentences range:                [981, 1033)
     total number o

[2022-06-20 02:51] ArtificialZeng commented on #2557
[code]

[2022-06-20 02:56] ZHUI commented on #2557
你好，您打印一下，这里的 self.dataset 是 None，建议加一个 --split 8,1,1 的参数

[2022-06-20 03:00] ZHUI opened #2571 "[CLUE] CHID 数据集可能存在评估缺失问题"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/benchmark/clue/mrc/run_chid.py#L529-L533
[code]
此处会出现，最后一个 epoch 训练完，没有评估，直接返回结果的问题。

[2022-06-20 03:09] ArtificialZeng opened #2572 "Ernie预训练，报错，用的官方baike.txt数据。 TypeError: object of type 'NoneType' has no len()"
make: 进入目录“/media/reclab/新加卷/nlp_projects/PaddleNLP-develop/PaddleNLP-develop/model_zoo/ernie-1.0/data_tools”
make: 对“default”无需做任何事。
make: 离开目录“/media/reclab/新加卷/nlp_projects/PaddleNLP-develop/PaddleNLP-develop/model_zoo/ernie-1.0/data_tools”
    using uint32 for data mapping...
    using:
     number of documents:            7
     sentences range:                [750, 785)
     total number of

[2022-06-20 03:12] ArtificialZeng commented on #2572
[baike.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8937246/baike.txt)
wget baike那个数据， 处理成npy npz了

[2022-06-20 03:16] ZHUI commented on #2572
你可以就使用一个 issue，不然信息很乱。上个isssue已经回复过你了。建议加一个 --split 8,1,1 的参数

[2022-06-20 03:32] yrg5101 opened #2573 "paddlenlp In-batch Negatives模型预测报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7， pycharm中进行predict

1. 下载PaddleNLP In-batch Negatives 提供的模型
https://bj.bcebos.com/v1/paddlenlp/models/inbatch_model.zip

2.把动态图模型转换为静态图：
python export_model.py --params_path checkpoints/inbatch/model_40/model_state.pdparams --output_path=./output

3.进行预测
然后使用Padd

[2022-06-20 03:35] LiuChiachi commented on #2571
Thanks! https://github.com/PaddlePaddle/PaddleNLP/pull/2574 will solve this bug.

[2022-06-20 03:38] yrg5101 opened #2575 "paddleNLP在simcse的模型基础上训练in_batch_negative模型"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7

现在想法是

1.simcse的训练基于ernie3.0来训练， 下面的from_pretrained都改为ernie-3.0， 然后生成一个simcse的模型

   pretrained_model = ppnlp.transformers.ErnieModel.from_pretrained(
       args.model_name_or_path,
       hidden_dropout_prob=args.dropout,
       attention_probs_dropout_prob=args.dropout

[2022-06-20 03:44] ArtificialZeng commented on #2572
加了此参数能训练了， 那原来预训练是放在 neural_search/recall 里面的却炮不了。 之前是默认用ernie-gram-zh 不知能用起来否？

run_pretrain_static.py

[2022-06-20 03:46] ArtificialZeng commented on #2572
Traceback (most recent call last):
  File "run_pretrain_static.py", line 682, in <module>
    do_train(config)
  File "run_pretrain_static.py", line 394, in do_train
    current_step=global_step)
  File "run_pretrain_static.py", line 86, in create_pretrained_dataset
    dataset_type='ernie')
  File "/media/reclab/新加卷/nlp_projects/PaddleNLP-develop/PaddleNLP-develop/applications/neural_search/recal

[2022-06-20 05:14] sunshineyg2018 commented on #2559
是的

[2022-06-20 05:44] wj-Mcat opened #2577 "ernie-tiny tokenizer can't save the special_tokens_map.json file when it exists"
## Introduciton

when  loading ErnieTinyTokenizer instance `from_pretrained('ernie-tiny')`, and there is already resouce file in cache dir, eg: `special_tokens_map.json`, it will raise the following exception:

[code]

## environment

[code]

## Anaysis

I wanted to test how big the impact with https://github.com/PaddlePaddle/PaddleNLP/pull/2521, so I do some experiments with the following code:

[2022-06-20 06:18] jiweizhangxu opened #2579 "neural search 的milvus，尝试用simcse模型，在插入向量时报错TypeError: cannot unpack non-iterable NoneType object"
报错如下：
![4](https://user-images.githubusercontent.com/88191580/174536752-f11d5830-f47f-4831-a90e-31a6f4d3da49.png)
微信群大佬已经提供解决方案，请后期添加这两个参数到feature-extract.py参数配置模块
![5](https://user-images.githubusercontent.com/88191580/174537122-4ee3e89b-8566-412a-9f67-598c53829057.png)

[2022-06-20 06:48] wj-Mcat commented on #2577
There are some failures shown at above table. So I start to get the reason:

[code]

it will raise the following exception:

[code]

## Conclusion

the vocab_file configured in [code]() doesn't exist.  and all of `rocketqa-v1-marco-query-encoder`, `rocketqa-v1-marco-para-encoder`, `rocketqa-v1-marco-cross-encoder   ` hold the same reason.

files not founding:

* https://bj.bcebos.com/paddlenlp/mod

[2022-06-20 07:29] MARKLIN1000 opened #2580 "BertModel有没有input_embeds的替代参数啊?"
BertModel有没有input_embeds的替代参数啊?

[2022-06-20 07:38] wj-Mcat commented on #2577
I have tested all of tokenzier in paddlenlp with all configured model name to do `from_pretrained`.  you can use the following code to reproduce the issue:

[code]

the result is:

[code]

[2022-06-20 07:43] wj-Mcat commented on #2577
When I use the `paddlenlp` package which don't contains the https://github.com/PaddlePaddle/PaddleNLP/pull/2521 feature, and the result is :

[code]

## Conclusion

there are some tokenizer influenced by https://github.com/PaddlePaddle/PaddleNLP/pull/2521 maaaaay be, and I will do more experiments on it.

[2022-06-20 07:59] wj-Mcat opened #2581 "LukeTokenizer object has no attribute '_entity_file'"
## Introduction

When I try to save pretrained tokenizer, there are some issues described below.

## Simple Code

[code]

here is my error stacktrace info:

[code]

[2022-06-20 08:06] wj-Mcat commented on #2577
XLM requires additional dependency package, so it failured when tested.  you can refer to the [source code](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/xlm/tokenizer.py#L653)

[code]

[2022-06-20 08:18] wj-Mcat opened #2582 "always save vocab file in xlnet tokenizer"
## Introduction

when reading the source code, I find that there is vital bug:

[code]

you can refer to: https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/xlnet/tokenizer.py#L384

from the above code, you can get that xlnet tokenizer **always** save the vocab_file as the differnet resouce file.

[2022-06-20 08:22] guoshengCS commented on #2580
这个暂时还没有，已经在计划之中了 https://github.com/PaddlePaddle/PaddleNLP/issues/2356

[2022-06-20 09:09] #2573 closed, assigned to nobody

[2022-06-20 09:10] yrg5101 commented on #2573
batchify_fn = lambda samples, fn=Tuple(
            Pad(axis=0, pad_val=tokenizer.pad_token_id,dtype="int64"),  # input
            Pad(axis=0, pad_val=tokenizer.pad_token_id,dtype="int64"),  # segment
            Pad(axis=0, pad_val=tokenizer.pad_token_id,dtype="int64"),  # segment
            Pad(axis=0, pad_val=tokenizer.pad_token_id,dtype="int64"),  # segment
        ): fn(samples)

修改增加dtype=

[2022-06-20 09:29] Nelsonlin0321 commented on #2227
Face this issue as well, which cannot be solved by upgrading, Mac M1.

[2022-06-20 09:41] wj-Mcat opened #2584 "ChineseBertTokenizer got an unexpected keyword argument 'tokenizer_class'"
## Introduction

When I init the ChineseBertTokenizer, it raise the exception with the following code:

* reproduction code
[code]

* exception

[code]

[2022-06-20 09:53] ZHUI opened #2585 "[Tokenizer] ERNIE/BERT 中文Tokenizer会将日文、韩文连续字符识别为UNK"
ERNIE/BERT 中文Tokenizer会将日文、韩文连续字符识别为UNK。
如，`天空の城ラピュタ`中的`ラピュタ`被识别为UNK
[code]
实际上，这些字符都在`ernie-3.0-base-zh`词表中出现过。

[2022-06-20 10:21] DeqianBai opened #2586 "输入长度大于512的怎么处理"
关于输入长度有几个疑问：
1、输入超过最大长度时会对输入文本进行自动切分，具体是怎么切分的，直接取前512个字符吗
2、统计准确率的时候是怎么统计的，是用start_id和end_id完全匹配上才算正确，还是对匹配到的内容一致就算正确
3、我的数据很多都是大于512的，平均3-5倍，这种怎么处理呢，怎么统计准确率

[2022-06-20 11:41] #2577 closed, assigned to nobody

[2022-06-20 12:53] tianxin1860 commented on #2575
当前的思路就是我们推荐的最优思路了，很赞。期待反馈效果，有任何问题也欢迎多反馈或者贡献 PR。

[2022-06-20 13:27] w5688414 commented on #2579
https://github.com/PaddlePaddle/PaddleNLP/pull/2588 感谢您的反馈，路径已经统一成inferene.get_pooled_embedding

[2022-06-20 14:48] guoshengCS commented on #2582
Since XLNet only uses `vocab_file` as resource currently, it has no effect actually. Sure it is not good.

[2022-06-20 15:01] yrg5101 opened #2589 "neural_search/ranking/ernie_matching 用ernie-3.0-medium-zh来代替原来的ernie-gram-zh模型报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7

PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/ernie_matching/ 使用这个进行排序，
现在想用ernie-3.0-medium-zh来代替原来的ernie-gram-zh模型， 在export_model.py中进行动态模型导出静态模型，做的修改如下：

原来：
if __name__ == "__main__":
    # If you want to use ernie1.0 model, plesace

[2022-06-20 15:07] yrg5101 commented on #2575
我们用ernie-gram-zh做了排序， 但是发现速度比较慢，我们是32G+4core CPU, 300条样本要用1-2分钟，感觉有点慢，所有有了如下问题

1.对于多核cpu是不是在ernie-gram-zh模型预测层面做提速？怎么做？

2.ernie-gram-zh模型是否可以做剪裁和量化？ 怎么做？安装ernie3.0模型的裁剪和量化来做？
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0

3.对于ernie-gram-zh做排序是否可以换成ernie-3.0-medium-zh来做排序

我们也进行了替换测试，但是报了如下错误：

PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/ern

[2022-06-20 15:34] guoshengCS commented on #2589
ernie-3.0-medium-zh 需要使用 `ErnieModel` 和 `ErnieTokenizer` 来`from_pretrained`创建使用，或者更推荐通过`AutoModel`和`AutoTokenizer` 来使用以减少切换出错的可能

[2022-06-20 15:41] guoshengCS commented on #2581
Maybe we should not allow `getattr(self, "_%s" % name)` to be `None` in https://github.com/PaddlePaddle/PaddleNLP/pull/2578 , and add these not existing attributes. Otherwise, these resource files would not be saved.

[2022-06-20 16:26] guoshengCS commented on #2584
There is some bug to be fixed.

[2022-06-21 01:19] wj-Mcat commented on #2520
Fixed by https://github.com/PaddlePaddle/PaddleNLP/pull/2521

[2022-06-21 01:19] #2520 closed, assigned to nobody

[2022-06-21 02:16] guoshengCS commented on #2586
输入超过指定长度（默认512）会将输入切分成多段 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/information_extraction.py#L240

切分的逻辑是对每条输入按`max_text_len`指定的大小slice切成多段，对应这里的代码 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/task.py#L301

每一段都会进行一次预测，多次预测的结果会进行合并，对应这里的代码
 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/information_extraction.p

[2022-06-21 02:38] guoshengCS commented on #2585
试了下BERTTokenizer使用`'bert-base-uncased'`是可以的`['ラ', '##ヒ', '##ュ', '##タ']` ，并且和HF的一致

[2022-06-21 02:50] linjieccc commented on #2586
是的。补充一下~UIE微调阶段也是按照`max_seq_len`指定的大小进行分段训练和评估，需要注意的是，因为是基于prompt的形式，这里切分后每段的实际文本切分长度需要减去prompt的长度，可以参考这里：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/utils.py#L133。

评估阶段会通过start_id和end_id得到预测的span的位置，只有和GroundTruth完全匹配才算正确，具体可以参考这里的代码实现：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/metrics/span.py

[2022-06-21 03:04] ArtificialZeng opened #2590 "paddlenlp没有早停嘛？看我的训练loss一直都到零了。 什么时候能预训练rocketqa"
global step 770, epoch: 1, batch: 770, loss: 0.00000, speed: 1.35 step/s
global step 780, epoch: 1, batch: 780, loss: 0.00000, speed: 1.36 step/s
global step 790, epoch: 1, batch: 790, loss: 0.00000, speed: 1.36 step/s
global step 800, epoch: 1, batch: 800, loss: 0.00026, speed: 1.35 step/s
global step 810, epoch: 1, batch: 810, loss: 0.00000, speed: 1.36 step/s
global step 820, epoch: 1, batch: 8

[2022-06-21 05:07] linjieccc commented on #2559
理论上抽取结果应该是一致的，请问两边的paddlenlp、paddle版本是否一致，方便给个具体的例子么

[2022-06-21 05:38] Geministudents opened #2592 "缺少模型"
请问文档中不存在的预训练模型是因为没有权重参数无法导入的么
模型是哈工大的 Cino模型
也是中文，少数民族的方言，建议可以转换下权重

[2022-06-21 06:39] MARKLIN1000 opened #2593 "class paddle.nn.Transformer中memory_mask参数怎么获得？"
class paddle.nn.Transformer中memory_mask参数怎么获得？

[2022-06-21 06:55] wawltor commented on #2592
能提供一下具体的模型链接吗？ 我们来评估一下

[2022-06-21 07:53] Geministudents commented on #2592
https://huggingface.co/hfl/cino-base-v2
https://github.com/ymcui/Chinese-Minority-PLM
可以比较好的解决低资源语言的问题

[2022-06-21 08:16] daozhi0921 commented on #2531
您好， 我这边对于plato-mini本地加载有一个问题请教一下~

**- 版本、环境信息**
paddlehub           2.2.0
paddlenlp            2.3.3
paddlepaddle      2.3.0
Linux，python3.6.13

问题：想要将模型放到指定路径并进行加载，目前尝试了以下方式：
（1）指定paddlehup文件夹所在的路径，
         model_1 = hub.Module(directory='C:/Users/Administrator/.paddlehub/modules/plato-mini')  【不会报错，因为路径为之前代码执行过程中模型的默认路径】
         model_2 = hub.Module(directory='C:/Users/**ml_models**/.paddlehu

[2022-06-21 08:25] yuwojiusi opened #2595 "安装paddlenlp报错"
python 3.10.5
pip:22.1.2

已经安装paddle，通过pip安装paddleNLP一直报错，如下：

[code]

[2022-06-21 08:28] heliqi commented on #2541
1. 可能你的机器不匹配那个压缩包，需要从源码编译onnxruntime-backend。 升级到22.04能解决是一样的
2. 代码中确实漏掉了那个1目录， 我等下提个PR增加下这个目录

[2022-06-21 08:32] wawltor commented on #2525
可以更新pandas的版本到1.3.4版本

[2022-06-21 08:33] wawltor commented on #2592
嗯嗯 好的，收到，我们内部评估一下

[2022-06-21 08:58] #2589 closed, assigned to nobody

[2022-06-21 09:01] yrg5101 commented on #2589
谢谢 已经解决

[2022-06-21 09:55] flymushroom opened #2596 "git提供的部署按提示装faster_tokenizers反而报错"
在用uie下方提供的部署方式时（predictor），会提示warning，安装faster_tokenizers,安装之后反而报错，卸掉就又好了。
如下：
[code]

[2022-06-21 10:02] zhuangAnjun commented on #2258
请问这里多线程版本放出来了吗

[2022-06-21 10:02] flymushroom commented on #2481
![Snipaste_2022-06-21_18-01-52](https://user-images.githubusercontent.com/90736820/174773666-0faf4f2d-978c-4d6d-8ca2-44a45146bcde.png)
对不起，中间有事没看见，就是大概这种地方（很多类似的地方），不改类型会报下面红色的错误

[2022-06-21 10:02] #2541 closed, assigned to heliqi

[2022-06-21 10:03] #2433 closed, assigned to guoshengCS

[2022-06-21 10:03] flymushroom commented on #2481
是的，改了就可以运行了

[2022-06-21 10:04] bfgf52 opened #2597 "政务问答检索式 FAQ System项目中，部署预测调用出错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
PaddleNLP版本：paddlenlp-2.3.3
PaddlePaddle版本：2.3.0
paddle-serving-server-0.9.0

系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
Windows docker环境，python版本3.6.0

config

[2022-06-21 10:04] flymushroom commented on #2481
已经贴图，大大们辛苦了。

[2022-06-21 10:08] joey12300 commented on #2596
您好，这里paddlenlp版本是多少呢？可以更新到最新版本的paddlenlp，并且安装faster_tokenizer试试 `pip install faster_tokenizer`

[2022-06-21 10:08] lijiaqi0612 opened #2598 "UIE框架什么时候更新模型压缩和蒸馏的功能？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-06-21 11:00] ArtificialZeng commented on #2589
怎么解决的

[2022-06-21 11:02] ArtificialZeng opened #2599 "怎么训练自己的RocketQA预训练模型? rocketqa-zh-dureader-query-encoder"
怎么训练自己的RocketQA预训练模型? rocketqa-zh-dureader-query-encoder

[2022-06-21 11:04] ArtificialZeng opened #2600 "层次化文本分类有此功能嘛？ 能否用paddleNLP实现"
例如腾讯的Neural Classifier 的类似功能。

[2022-06-21 11:11] FrostML commented on #2595
看这个 log 似乎是在安装 `paddle2onnx` 的 `onnx` 依赖的时候报错，看这个报错信息，`AssertionError: Could not find "cmake" executable!` 可以试试在当前环境下安装一个 `cmake`。

[2022-06-21 11:17] FrostML commented on #2593
可以直接参考 Transformer 这段代码 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/transformer/modeling.py#L806 其实就是 source 和 target 之间的 mask。

[2022-06-21 11:22] tianxin1860 commented on #2599
RocketQA 的训练能力预计 7 月发布，欢迎关注。

[2022-06-21 11:23] tianxin1860 commented on #2590
1. 看看是不是自己的训练集太简单了。
2. RocketQA 的训练能力预计 7 月发布，欢迎关注。

[2022-06-21 11:51] lugimzzz commented on #2600
层次分类模块功能正在开发中，目前处于pr阶段[层次分类PR](https://github.com/PaddlePaddle/PaddleNLP/pull/2501/)。未来PaddleNLP将搭建文本分类应用模块，支持多分类、多标签分类、层次分类的训练、预测和多种部署方式。

[2022-06-21 12:05] wawltor commented on #2598
1. 目前UIE的蒸馏主要是在底座模型，uie的base和tiny模型都是基于ENRIE-3.0蒸馏后的模型，同时最近我们会开源基于更小的蒸馏的UIE模型
2. 模型这块分为两个部分，1）模型裁减这块，后续我们可能排上去 2）量化模型，我们经过测试损点比较验证，目前没有计划开源

[2022-06-21 13:09] yrg5101 opened #2601 "ernie3.0 裁剪量化问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7

场景：给ernie-3.0-medium-zh进行裁剪量化操作。参考ernie-3.0文档
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0

我们的场景是做文本语义相似，所有不属于分类、序列标注、阅读理解三大场景，安装文档我使用了
compress_token_cls.py 进行压缩裁剪操作，但是有几点疑问：

1.我的场景不属于分类、序列标注、阅读理解三大场景， 我可以直接用你们提供的compress_token_c

[2022-06-21 13:21] leon-cas opened #2602 "INVALID_ARGUMENT : Failed to load model with error: Unknown model file format version."
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp 2.3.1, paddlepaddle-gpu 2.3.0.post101, paddlepaddle 2.2.0, onnx 1.6.0, onnxruntime-gpu 1.3.0
2）系统环境：linux, python3, cudnn 7.6, Cuda 10.1.243
- 复现信息：如为报错，请给出复现环境、复现步骤
1. 导出onnx模型成功
2. 但部署模型时，报如下错误信息：
[Paddle2ONNX] Start to parse PaddlePaddle model(model file: ./checkpoint/goods/export/inferen

[2022-06-21 23:33] MARKLIN1000 opened #2605 "在使用正则化L2Decay时,报错"
![image](https://user-images.githubusercontent.com/82072274/174929568-313ba7a8-979e-4166-b3d8-ad6c7262e564.png)
![image](https://user-images.githubusercontent.com/82072274/174929606-a8319bcb-b4f8-4422-8973-dd1573c1dd74.png)

在使用正则化L2Decay时，optimizer=AdamW(weight_dency=L2Deacy（coeff=0.0003）)时报错，说coeff不是float类型或者tensor这是怎么回事啊，我这明明是0.0003啊

[2022-06-22 01:50] ArtificialZeng commented on #2600
能用于 商品同款匹配嘛  https://cloud.tencent.com/developer/article/1063204

[2022-06-22 02:05] jiangix-paper opened #2606 "关于UIE"
您好，如果是篇章级的事件抽取。对于UIE中的事件抽取而言，是直接预测一整篇文档中的事件效果较好呢？还是将文章拆成句子，逐句预测呢？谢谢

[2022-06-22 02:11] tianxin1860 commented on #2575
1. 多核 CPU 提速可以参考 ERNIE3.0 示例中的 CPU 加速预测方式: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0/deploy/python#11-CPU%E7%AB%AF
2. ERNIE-Gram-zh 可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0 示例进行裁剪和量化，不过建议先进行步骤 1 的加速操作，如果性能还不满足预期可以进一步考虑裁剪和量化。
3. ernie-gram-zh 可以换成 ernie-3.0-medium-zh 来做排序，修改代码如下即可:

[code]

[2022-06-22 02:12] wawltor commented on #2606
文章拆成句子，逐句预测的效果会更好，因为UIE在开源模型训练的时候就是单句微调的，因此咱们在自己的数据微调或者预测的时候单句的效果会更好

[2022-06-22 02:14] jiangix-paper commented on #2606
好的，非常感谢

[2022-06-22 02:30] wawltor commented on #2605
<img width="825" alt="image" src="https://user-images.githubusercontent.com/16698950/174930434-e9e8dc06-97d5-4676-b440-ae116e4af7d7.png">

weight_decay=0.0003就可以，在优化器里面已经默认是L2Decay方式
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/optimizer/AdamW_cn.html#adamw

[2022-06-22 03:28] guoxiaoyue111111 commented on #2476
@Chikeke 您好，麻烦问下，您的关系抽取做精调了吗？精调效果相对于基线模型，效果有提升吗？

[2022-06-22 04:50] Chikeke commented on #2476
@guoxiaoyue111111 我做了的，效果和论文中结果差不多，测试集F1=0.76，但这是用经过doccano.py转换的测试集测试的，如果是用输入schema的方式预测的话F1只有0.6左右，我用的数据集是百度的关系抽取数据集，schema一次性输入了很多个，我觉得跟这个有关。

[2022-06-22 05:50] ArtificialZeng commented on #2600
怎么用于 中文， 商品的同款匹配

[2022-06-22 05:58] guoxiaoyue111111 opened #2608 "对通用信息抽取模型uie做精调，精调效果为什么不升反降？"
参考 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md文档 做关系抽取的精调，优化后的效果没有基线模型uie-tiny的效果好，不知道是哪块出现了问题~
具体操作如下：1）使用doccano标注自己的数据40个样例，标注完并导出为jsonl；2）使用doccano.py处理数据，划分为训练集、验证集和测试集；3）使用finetune.py做精调，参数使用官方默认的参数。
结果：1）应该抽取的没抽取出来，2）抽取出来的，抽取内容不对。
麻烦可以指点一二，非常感谢~

- 版本、环境信息
- 1）PaddleNLP ：2.3   PaddlePaddle ：2.3
- 2）系统环境，linux，python：3.7.9

[2022-06-22 06:00] yrg5101 opened #2609 "ernie-3.0-medium-zh和ernie-gram-zh做排序准确度很差"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7

场景：query和title的相似匹配

我们测试了ernie-3.0-medium-zh和ernie-gram-zh做排序， 但是效果都很差，感觉相似度是随机出来的

Data: {'query': '超声波测试仪器', 'title': '磁头飞行中磁盘表面润滑膜变化的观测方法及装置'} 	 prob: [0.3108108]
Data: {'query': '超声波测试仪器', 'title': '微晶硅薄膜生长过程的可视化观测系统及测量方法'} 	 prob: [0.34414124]
Data: {'quer

[2022-06-22 06:01] yrg5101 opened #2610 "ernie-3.0-medium-zh和ernie-gram-zh做排序准备度很差"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0.dev，PaddlePaddle2.3.0
2）系统环境：Windows，python：3.7

场景：query和title的相似匹配

我们测试了ernie-3.0-medium-zh和ernie-gram-zh做排序， 但是效果都很差，感觉相似度是随机出来的

Data: {'query': '超声波测试仪器', 'title': '磁头飞行中磁盘表面润滑膜变化的观测方法及装置'} 	 prob: [0.3108108]
Data: {'query': '超声波测试仪器', 'title': '微晶硅薄膜生长过程的可视化观测系统及测量方法'} 	 prob: [0.34414124]
Data: {'quer

[2022-06-22 06:01] yrg5101 commented on #2610
重复ticket

[2022-06-22 06:01] #2610 closed, assigned to nobody

[2022-06-22 06:21] ArtificialZeng commented on #2600
数据集没给，到哪里下载？ 如果直接运行， 报那个链接404：
ConnectionError: Couldn't reach https://raw.githubusercontent.com/huggingface/datasets/2.2.2/datasets/wos/wos.py (ConnectionError(MaxRetryError("HTTPSConnectionPool(host='raw.githubusercontent.com', port=443): Max retries exceeded with url: /huggingface/datasets/2.2.2/datasets/wos/wos.py (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0

[2022-06-22 06:34] lugimzzz commented on #2600
wos数据集已内置在PaddleNLP中,使用
[code]

[2022-06-22 06:36] hanfeng11 opened #2611 "Ernie-3.0排序问题"
1）PaddleNLP和PaddlePaddle版本： PaddleNLP：2.3.3，PaddlePaddle：2.3.0
2）系统环境：Windows10，python版本：3.9.4
- 复现信息：
- 在applications/neural_search/ranking/ernie_matching/export_model.py中使用 'ernie-3.0-base-zh' 来做 ERNIE-Gram排序模型的 动转静导出。
![1655878763515](https://user-images.githubusercontent.com/47801039/174957259-5fcbb3fd-042d-44b7-9262-8c18fb08edbd.png)
- ERNIE-Gram排序模型用的是
![1655878526938](https://user-images.gi

[2022-06-22 06:37] wawltor commented on #2608
想问一下，微调之后选择最好的模型的F1值指标是多少了？

[2022-06-22 06:43] lugimzzz commented on #2600
本层次文本分类任务目前主要用于对文本片段进行分类，确定文本在不同层次标签中所属的类别。中文商品匹配可以参考application中[语义索引任务](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search)进行搭建

[2022-06-22 06:45] guoxiaoyue111111 commented on #2608
最好的f1得分是0.688

[2022-06-22 07:08] ArtificialZeng commented on #2600
FileNotFoundError: Couldn't find a dataset script at G:\googleDownload\PaddleNLP-hierarchical\PaddleNLP-hierarchical\applications\text_classification\hierarchical_classification\wos\wos.py or any data file in the same directory.

[2022-06-22 07:09] Chikeke opened #2612 "uie导出后的模型预测时如何指定gpu编号？"
uie模型导出后运行infer_gpu.py进行预测时，如何指定gpu编号？

[2022-06-22 07:18] wawltor commented on #2608
微调的数据是多少了，看起来F1值并不是特别高，这样的F1值确实会出现一些badcase

[2022-06-22 07:19] wawltor commented on #2608
微调的数据是多少了，看起来F1值并不是特别高，这样的F1值确实会出现一些badcase

[2022-06-22 07:22] wawltor commented on #2612
在windows机器可以设置一下环境变量， set CUDA_VISIBLE_DEVICES=0   （id号可以自己选）
Linux机器可以设置一下环境变量，export CUDA_VISIBLE_DEVICES=0

同时也可以直接使用Taskflow来进行预测
`my_ie = Taskflow("information_extraction", schema=schema, task_path='./checkpoint/model_best', device_id=0) #device_id可以自己选`

[2022-06-22 07:23] GZ1220 opened #2613 "ernie3.0x性能问题"
![image](https://user-images.githubusercontent.com/90749831/174967825-6880b1d4-a518-49db-8efa-5056a2a1b5ca.png)
请问这两张图的横坐标表示的什么？10个任务的平均时延？如果平均时延的话没有什么意义呀。num_treads=8,batch_size=32时，ernie-3.0-medium-zh的时延在15-20毫秒之间，按15毫秒算的话，吞吐量也才66.67，和下面展示的CPU性能相比差距相当大啊

[2022-06-22 07:54] Chikeke commented on #2612
@wawltor 我是linux机器，在命令行输入export CUDA_VISIBLE_DEVICES=3之后，运行infer_gpu.py，报错信息中依然显示gpu=0，在infer_gpu.py中设置os.environ["CUDA_VISIBLE_DEVICES"] = "3"之后，也不能改变使用的gpu，我在同一个服务器运行着finetune.py，用的是0卡，是否跟这个有关系？

[2022-06-22 07:55] guoxiaoyue111111 commented on #2608
用doccano.py处理后，train有450+，dev有50条。人工将一些样本去掉（因为在负样本的生成中，生成的一些关系和实体的组合，不符合常规的说话逻辑和习惯），最终，用于微调的train有250多条，dev有50条。

[2022-06-22 07:57] ljcljc commented on #2535
我在运行Extration/run_test.sh的时候，还是报错没有这个文件。请问是哪里的问题呢，谢谢

[2022-06-22 15:54:54,698] [    INFO] - Already cached /Users/jiechaoli/.paddlenlp/models/layoutxlm-base-uncased/sentencepiece.bpe.model
100%|██████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 682.11it/s]
***** Running evaluation  *****
  Num examples = 1
  Batch size = 1
Traceback (most recent call

[2022-06-22 08:00] wawltor commented on #2612
好的，我们看看这个问题，如果急着使用可以使用Taskflow的方式，这个也是可以支持半精度的写法，我们先测试一下相关predictor

[2022-06-22 08:04] wawltor commented on #2608
能贴一下你标注的样本吗？

[2022-06-22 08:05] LiuChiachi commented on #2613
您好，感谢关注
横坐标表示的在IFLYTEK任务上的时延，不是平均时延，这里没有表述清楚，抱歉，我们立即修复。

[2022-06-22 08:09] LiuChiachi commented on #2601
文本语义相似可以当成分类任务来解决，您需要使用自己场景的数据参考`compress_seq_cls.py`进行fine tuning微调，先得到下游任务上的模型，然后用您这份业务上的数据集对微调得到的模型进行压缩操作。

不能使用MSRA_NER数据集，因为这个数据集和您的业务场景数据差别可能很大。

[2022-06-22 08:09] flymushroom commented on #2596
昨天现装的，都是最新版

[2022-06-22 08:23] GZ1220 commented on #2613
好的好的，感谢回复

[2022-06-22 08:35] dielianhua opened #2614 "ImportError: cannot import name 'einsum' from 'paddle'"
https://aistudio.baidu.com/aistudio/projectdetail/2461530?channelType=0&channel=0， Paddlepaddle-gpu升级到2.3.0还是报错

[2022-06-22 08:37] linjieccc commented on #2612
@Chikeke 您好，执行以下命令试下呢，可以用`nvidia-smi`观察看看

[code]

[2022-06-22 08:41] jiangjiajun commented on #2602
Hi, @leon-cas

在导出ONNX格式时，使用了最新的IR，而此IR只有最新的ONNXRuntime支持。

看你上面提到是要在GPU上部署， 最新的ONNXRuntime依赖cuda11

因此建议你升级cuda到11.4， 同时升级到最新的onnxruntime

[2022-06-22 08:42] #2597 closed, assigned to w5688414

[2022-06-22 08:49] ljcljc commented on #2535
如何使用doccano来标注我自己的训练数据，请问是否有一些参考文档，谢谢

[2022-06-22 09:04] dielianhua commented on #2614
升级后还有新的错，The third-party dynamic library (libcuda.so) that Paddle depends on is not configured correctly. (error code is /usr/lib/x86_64-linux-gnu/libcuda.so: file too short)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with paddlepaddle you installed.
  2. Configure third-party dynamic library environment variabl

[2022-06-22 09:07] guoxiaoyue111111 commented on #2608
不好意思~可以给我一个您私人的邮箱吗？数据有点不方便发网上~

[2022-06-22 09:11] 1649759610 commented on #2614
同学你好：

请参照一下方式调试一下：
1. 在import paddle之前，更新paddlepaddle至2.3.0（可以在最上边的代码块更新paddle）
2. 如更新后还是报错，重启一下AiStudio的内核

如有问题，欢迎与我们交流。

[2022-06-22 09:11] dielianhua commented on #2614
已收到，辛苦啦

[2022-06-22 09:23] flymushroom opened #2615 "一个小小小小小的建议"
![Snipaste_2022-06-22_17-16-01](https://user-images.githubusercontent.com/90736820/174993910-00b38554-613c-4071-9eeb-9c58c883631d.png)
我在加载uie的predictor时，即使本地有‘ernie-3.0-base-zh’的文件夹，也会默认去下载，加载缓存，除非我把它整个换个名称再把其他uie的token和vocab放进去，才能自动加载本地。有点反直觉，，对无外网的环境不友好，如果不是问题请忽略，打扰了

[2022-06-22 09:35] leon-cas commented on #2602
@jiangjiajun

升级onnx:1.9.0,  onnxruntime-gpu:1.11.1

导出onnx:
W0622 17:32:42.767597 36414 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.4, Runtime API Version: 10.1
W0622 17:32:42.771904 36414 gpu_context.cc:306] device: 0, cuDNN Version: 7.6.

部署onnx:

[Paddle2ONNX] Start to parse PaddlePaddle model(model file: ./checkpoint/goods/export/inference.p

[2022-06-22 09:46] AI-Mart opened #2616 "https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing的模型服务化部署报错"
<img width="558" alt="95df41ea65d63a966e05dbdef969a10" src="https://user-images.githubusercontent.com/63343847/174998596-11d03aa9-7efe-4947-a8ae-0feb994bc5b8.png">
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/semantic_indexing案例里面开源的模型，下载下来后，放到https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative里面，导出模型并做模型服务化部署后报错
<img width=

[2022-06-22 09:57] Chikeke commented on #2612
@linjieccc  感谢，现在可以了！

[2022-06-22 10:06] Chikeke commented on #2612
@linjieccc 另外我还有几个问题想请教，我运行infer_gpu.py时需要预测大量数据，一次性把数据都加入texts中预测会占用很大的显存，需要将max_len调小到128才勉强够用，因此想问下：
1.  在用fp16加速的情况下，uie_predictor.py中的预测过程能否像taskflow预测时一样使用batch_size?
2.  如果可以，使用batch_size会比现在预测速度更快，占用显存更小吗？

[2022-06-22 11:03] wawltor commented on #2615
麻烦提供一下你现在使用的PaddleNLP版本

[2022-06-22 11:06] jiangjiajun commented on #2602
只安装onnxruntime-gpu 无需再安装onnxruntime
两个同时安装会出现覆盖的情况，
[code]
然后
[code]

[2022-06-22 11:18] leon-cas commented on #2602
@jiangjiajun hi, 系统中并未安装onnxruntime。 刚刚也重新尝试了你提到的重新卸载、安装。错误和上面一样，

[Paddle2ONNX] Start to parse PaddlePaddle model(model file: ./checkpoint/goods/export/inference.pdmodel, parameters file: ./checkpoint/goods/export/inference.pdiparams
[Paddle2ONNX] Model loaded, start to converting...
[Paddle2ONNX] Use opset_version = 15 for ONNX export.
[Paddle2ONNX] PaddlePaddle model is exported as ONNX format

[2022-06-22 11:19] ssrssrcode opened #2617 "ERNIR3.0文本生成"
您好，请问一下开源的ERNIE3.0模型是否支持文本生成任务(不是指去调用EasyDL等里面的api)。因为看到给出的ernie3.0 example中并未涉及到生成类型任务

[2022-06-22 11:31] dielianhua commented on #2614
更新成paddle paddle2.3目前cpu的能跑，但是太慢了，gpupaddle paddle2.3更新还是跑不了

---Original---
From: ***@***.***&gt;
Date: Wed, Jun 22, 2022 17:11 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] ImportError: cannot import name 'einsum'from 'paddle' (Issue #2614)

同学你好：

请参照一下方式调试一下：

在import paddle之前，更新paddlepaddle至2.3.0（可以在最上边的代码块更新paddle）

如更新后还是报错，重启一下AiStudio的内核

如有

[2022-06-22 11:55] wawltor commented on #2614
GPU的话建议使用conda来安装

[2022-06-22 11:59] 1649759610 commented on #2616
同学你好：

根据报错提示，你的input为null，请检查你的input是否符合要求。

如有问题，欢迎与我们交流。

[2022-06-22 12:03] dielianhua commented on #2614
你好，我按照上边的方式更新了，也重启内核了，现在不报第一个错了，但是还是跑不过去，我第二行写的错就是更新后在aistudio自带的终端下跑的，在notebook下每次跑到这个位置就断了

[2022-06-22 12:39] wawltor commented on #2614
麻烦贴一下报错信息

[2022-06-22 12:52] 1649759610 commented on #2614
我运行了一下，用GPU跑是没有问题的，试一下这个链接：
https://aistudio.baidu.com/aistudio/projectdetail/4258016?forkThirdPart=1

[2022-06-22 12:54] 1649759610 commented on #2617
同学你好：

目前Ernie3.0 暂未支持文本生成任务

[2022-06-22 13:02] w5688414 commented on #2609
请问是用的什么模型加载的ernie3.0,如果是语义匹配的话，ernie-3.0-medium-zh在语义匹配数据集AFQMC领先于其他模型，可以参考一下。https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/benchmark/clue

[2022-06-22 13:57] AI-Mart commented on #2616
paddleserving服务的trt可能出问题了，把trt模式换成gpu模型，就好了，后面会进一步测试下trt

[2022-06-23 01:04] flymushroom commented on #2615
直接安装的最新版

[2022-06-23 01:47] jiangjiajun commented on #2602
你可以按照这里的命令来执行一下吗
pip uninstall onnxruntime
pip uninstall onnxruntime-gpu

分别执行uninstall

[2022-06-23 02:10] leon-cas commented on #2602
1.卸载onnxruntime: pip uninstall onnxruntime
WARNING: Skipping onnxruntime as it is not installed.

2.卸载onnxruntime-gpu: pip uninstall onnxruntime-gpu
Found existing installation: onnxruntime-gpu 1.11.1
Uninstalling onnxruntime-gpu-1.11.1:
  Would remove:
    /opt/conda/bin/onnxruntime_test
    /opt/conda/lib/python3.7/site-packages/onnxruntime/*
    /opt/conda/lib/python3.7/site-packages/onnxruntim

[2022-06-23 02:19] yrg5101 commented on #2609
参考：PaddleNLP\applications\neural_search\ranking\ernie_matching\deploy\python\predict.py

1.用的ernie-3.0-medium-zh官方模型然后导出静态模型到output目录
在predict.py里面使用tokenizer = AutoTokenizer.from_pretrained("ernie-3.0-medium-zh")， 进行预测的

1.用的ernie-gram-zh官方模型然后导出静态模型到output目录
在predict.py里面使用tokenizer = ppnlp.transformers.ErnieGramTokenizer.from_pretrained(
        'ernie-gram-zh')， 进行预测的

不知道哪里还需要改？ 谢谢

[2022-06-23 02:35] wawltor commented on #2615
微调的时候会在uie-base和uie-tiny的目录下载所需的资源，当训练完毕之后，可以将best_model目录下的  `model_state.pdparams` 替换到 uie-base或者uie-tiny目录下即可

[2022-06-23 02:44] wj-Mcat commented on #2615
Thanks for your great suggestion, we have take it into plan a week before. I believe that these prs will fix your problem:

* https://github.com/PaddlePaddle/PaddleNLP/pull/2521
* https://github.com/PaddlePaddle/PaddleNLP/pull/2578

all you need is to wait for next version of paddlepaddle. please keep eyes on the released info to get the latest info.

Or, you can install it from the source code in

[2022-06-23 02:46] guoxiaoyue111111 commented on #2608
非常开心您能将邮箱给我，标注样本已发送至您邮箱。

另外，在排查问题的过程中，我又发现了两个问题。

问题一：
1）在mac本运行 ie = Taskflow("information_extraction",schema=schema,model="uie-tiny")时，会在uie目录下创建uie-tiny文件夹，并下载2个文件，model_config.json和model_state.pdparams。
2）但是在windows本运行ie = Taskflow("information_extraction",schema=schema,model="uie-tiny")时，会在uie目录下创建uie-tiny文件夹，并下载5个文件，model_config.json和model_state.pdparams之外，还有special_tokens_map.json、tokenize

[2022-06-23 03:05] flymushroom opened #2619 "提问，可以提供一个把uie用paddle serving 部署的方式例子吗"
看官方例子里，是有prototxt等文件的，但现在的uie部署例子里，export_model文件只输出inference等参数文件。
我不清楚是不是我没找到地方，能给提供一个例子吗
谢谢大佬

[2022-06-23 05:08] LiuChiachi commented on #2619
您好，感谢关注

您可以先参考 ERNIE 3.0 服务化部署的 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0/deploy/serving 这个例子，二者是类似的

[2022-06-23 06:15] wawltor commented on #2619
[code]

[2022-06-23 06:31] wawltor commented on #2608
**问题一**
应该是mac和windows机器安装的paddlenlp的版本不一致导致的，最新的版本会下载5个文件，不过两个版本不影响训练效果

**问题二**
1. 传的参数方式可能要检查一下是不是一些换行符导致的
2. 不传入参数的话，会加载uie-base或者uie-tiny模型，`--model` 和这个参数有关

[2022-06-23 06:39] wawltor commented on #2608
我看了一下数据，看起来还挺正常的，想问一下不对负样本过滤的话，训练效果是怎么样的了？因为看这个任务相对比较简单，F1值是0.68有点不太正常，UIE挺适合做该类任务的

[2022-06-23 06:44] ZHUI commented on #2572
如沟通`ernie-gram-zh`预训练暂不支持

[2022-06-23 06:50] xulangping opened #2622 "评论观点抽取打标问题"
您好，请问想用doccano打标评论观点抽取任务的话，要怎么操作呀，感觉是不是不支持呀，[正向，负向]这个好像无法嵌入原文中

[2022-06-23 07:16] guoxiaoyue111111 commented on #2608
除了数据问题，还有其他导致精调效果不好的原因吗？

以上的提问全部为windows精调train 250，dev 50条的结果，f1最优是0.68。不对负样本过滤的实验没做（因为使用cpu，训练特别慢，250条样本训练了3天多。既然您这么问，应该是负样本会有影响，那我接下来也实验一次）。

-----------------------------------------------------------------------------------------------------------------------------------------

以下是我用mac本，基于昨天发您的6条样本，运行doccano.py和finetune.py，最优f1为0.75（未人工过滤负样本）这么看，是否能说明负样本确实会起作用？和官网5-shot的其他领域相比，0.75能否算作正常范围？

[2022-06-23 07:47] jiweizhangxu opened #2623 "ERNIE3.0分类模型，需要270多个类的分类模型，直接训的话，在保存参数的时候直接超出内存的问题"
我现在需要270多个类的分类模型，直接训的话，在保存参数的时候直接超出内存，内存大概32G，咨询了微信群，重新试了试还是一样，挂上就占了23G，参数保存时提高到了23.95G如图：
![1](https://user-images.githubusercontent.com/88191580/175244842-78f9278b-db76-459f-b946-c09319753b76.png)
![3](https://user-images.githubusercontent.com/88191580/175244857-5371d50d-d051-4c81-ae9f-1cbd8d2fdfc7.png)

有什么好办法吗？

[2022-06-23 07:50] jiweizhangxu commented on #2623
代码如下：
import os
import paddle
import paddlenlp
# 自定义数据集
import re
from paddlenlp.transformers import BertForSequenceClassification, BertTokenizer
from paddlenlp.transformers import ErnieForSequenceClassification, ErnieTokenizer
from paddlenlp.datasets import load_dataset
from paddlenlp.transformers import export_model
import argparse

def parse_args():
    parser = argparse.ArgumentParser()

    #

[2022-06-23 08:19] jiangix-paper commented on #2606
再请教两个问题：
（1）如果是金融领域的事件抽取微调，假设我们自定义了100个金融事件，如果微调的话，是否需要每个事件都提供5条左右的样本才会得到比较好的效果？
（2）如果篇章级事件抽取，采用逐句方式来做。是否需要对每个句子的抽取结果做后续的清洗呢？比如：事件去重，事件主体关联等

[2022-06-23 08:40] wawltor commented on #2608
看起来是一个合理值，可以增加一些样本，预计效果还能提升不少，因为本身这个任务看起来并不是特别难

[2022-06-23 08:42] jiangjiajun commented on #2602
可能你先检查下onnxruntime的安装问题哈，这个看起来跟paddlenlp的代码无关。

onnxruntime-gpu最新版本依赖cuda-11，这个也需要满足

[2022-06-23 09:15] Dicksilk opened #2627 "paddlenlp 提示信息 无法使用GPU"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
PaddleNLP 0.0.0.0post （develop版本） PaddlePaddle-gpu 2.3.0post110

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
Windows python3.8

提示信息：
W0623 16:31:42.227226 22028 pybind.cc:2057] Cannot use get_all_custom_device_type because you hav

[2022-06-23 09:24] guoxiaoyue111111 commented on #2608
非常感谢您耐心的回答~~您的回复对我帮助很大，再次感谢~~~

[2022-06-23 09:32] Dicksilk commented on #2627
![image](https://user-images.githubusercontent.com/51978627/175267345-7ec7b169-8884-4551-b7a6-342cf4d8ebc9.png)

[2022-06-23 11:05] cdj0311 opened #2628 "是否支持BeamSearch解码的加速？"
大佬好，
文档中说FasterTransformer不支持GPT BeamSearch解码，请问Beam Search如何加速？

[2022-06-23 11:27] wawltor commented on #2622
docanno的具体使用文档可以见 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/16698950/175288172-ac35261e-644b-44be-9194-68d0d9c63d66.png">

如果需要对评论观点词进行分类
<img width="1082" alt="image" src="https://user-images.githubusercontent.com/16698950/175288272-d8660f0e-cb5f-4c0f-be94-1a77b47fd47b.png">

并在在做数据

[2022-06-23 11:38] wawltor commented on #2627
这个问题可以这个issue有点类似 https://aistudio.baidu.com/paddle/forum/topic/show/1729451

想问一下GPU的型号是啥了？

[2022-06-23 11:38] lugimzzz commented on #2600
目前层次分类任务处于开发阶段，wos层次分类数据集读入方式出现变动，预计本周会重新提交新的pr

[2022-06-23 11:40] jiangjiajun commented on #2595
试下最新的代码，paddle2onnx在0.9.8版本后不再依赖onnx

[2022-06-23 12:25] guoshengCS opened #2630 "Pad token value of `gpt2-medium-en` is not as expected"
ENV：

- PaddlePaddle 2.2.2
- PaddleNLP develop with #2534

Pad token value of  `gpt2-medium-en` is not as expected. Expect `'<|endoftext|>'` but got `None`.

[code]

This is caused by #2534 which fixed the overriding of AddToken settings but the `_has_built_special_tokens` flag to run special token setting only once leaving out some special token settings not provided for `_build_special_tokens_ma

[2022-06-23 12:58] linjieccc opened #2632 "PaddleNLP 2.3.4 Release Note Candidate"
# New Features

## UIE

- 新增uie-mini, uie-micro和uie-nano，支持模型微调及Taskflow一键调用。#2604

## WordTag-IE
- 新增基于中文词类知识的信息抽取工具，支持通过Taskflow一键调用。 #2540

## ERNIE-DOC
- ERNIE-DOC模型在分类任务上添加预测部署流程。#1845

## ERNIE Tiny
- 开源 ERNIE Tiny 预训练模型，效果、精度领先于HFL、UER、Huawei-Noah 同等规模下开源中文模型。

## CLUE Benchmark
- 支持 CLUE 10 个任务的训练、评估、预测，支持用户产出预测结果提交至 CLUE 榜单，并提供 Grid Search 工具供用户一键训练，最终获取最优评估结果。

## 代码生成
- 新增CodeGen代码生成模型。

[2022-06-23 14:46] LiuChiachi commented on #2623
感谢关注:)
23G 不是比 32G小了吗
如果需要进一步减小内存占用，可以使用梯度累计方法用小batch_size模拟大batch_size，可以参考这里的代码
https://github.com/PaddlePaddle/PaddleNLP/blob/0315365dbafa6e3b1c7147121ba85e05884125a5/model_zoo/ernie-3.0/run_seq_cls.py#L287-L288

https://github.com/PaddlePaddle/PaddleNLP/blob/0315365dbafa6e3b1c7147121ba85e05884125a5/model_zoo/ernie-3.0/run_seq_cls.py#L386-L393

[2022-06-23 17:01] BladeSun opened #2634 "question about ernie 1.0 pretrain data creation"
https://github.com/PaddlePaddle/PaddleNLP/blob/0315365dbafa6e3b1c7147121ba85e05884125a5/model_zoo/ernie-1.0/data_tools/create_pretraining_data.py#L268

In this line, the Chinese char started with "##" with be UNK.

[2022-06-24 00:44] Dicksilk commented on #2627
是的 有两个显卡 一个集显一个独显
![image](https://user-images.githubusercontent.com/51978627/175437846-731beda9-b71b-4b25-8d66-ddcbccd65896.png)

[2022-06-24 02:05] wawltor commented on #2627
你看看能不能通过device_id的设置来访问独显

[2022-06-24 02:31] Dicksilk commented on #2627
如果要用taskflow的话，要在哪个位置设置device_id

[2022-06-24 02:34] jiangix-paper commented on #2606
能否帮忙看下这个问题，感谢

[2022-06-24 02:34] jiweizhangxu opened #2635 "问一下有没有能输入一个三四百字的文件，之后模型能抽出文件主要内容的模型？"
最好是训练时能输入文件和人工总结的主要内容，模型能学习到，是不是这块还没有表现很好的模型？

[2022-06-24 03:14] #2630 closed, assigned to joey12300, guoshengCS, ZHUI

[2022-06-24 03:28] jiuwuxiaohun commented on #1914
@FrostML 啥时候支持T5的Fast啊，排个期啊感谢

[2022-06-24 03:55] weihua1379 opened #2636 "DuIE代码运行在evaluate方法的报错，主要显示为生成的predict_eval.json的spo_list为空，请大神帮忙看一下原因？"
paddle版本：paddlenlp 2.3.1
平台：windows10

![image](https://user-images.githubusercontent.com/54572449/175458894-b621067f-cae1-40d7-96e3-c416fb5b9065.png)
在这段代码中，生成spo_list始终为初始的空列表，大家有遇到这样的情况吗？是怎么回事？
100%|██████████| 125/125 [05:35<00:00,  2.68s/it]
Traceback (most recent call last):
  File "K:/项目代码/paddlenlp/examples/information_extraction/DuIE/run_duie.py", line 349, in <module>
    precision, reca

[2022-06-24 03:56] Dicksilk commented on #2627
device_id只能为0 不然会报错
我在环境里输出了一下GPU信息，只有一张GPU
![image](https://user-images.githubusercontent.com/51978627/175459200-f53688b5-946a-4fd8-b1f4-36df23fabf10.png)

[2022-06-24 04:01] weihua1379 commented on #2636
由于生成的predict_eval.json文件中"spo_list": []，导致后面就报错'NoneType' object has no attribute 'group'，而"spo_list": []的主要原因为在decoding函数中生成的list(set(flatten_predictions))只有0和1，帮忙看一下啥问题啊
![image](https://user-images.githubusercontent.com/54572449/175459686-7a0c4b49-9625-4d58-9ab1-013ba789406b.png)

[2022-06-24 04:43] ilovecode2018 commented on #2632
使用pip install paddlenlp==2.3.4，提示找不到这个版本。只有2.3.3

[2022-06-24 04:46] linjieccc commented on #2632
@ilovecode2018 感谢关注，2.3.4版本会在下周发布

[2022-06-24 04:47] ilovecode2018 commented on #2595
我也是遇到安装问题。
win10
python3.10.2
pip:22.1.2
在当前环境下也安装了cmake
但是还是出错。
Building wheels for collected packages: onnx
  Building wheel for onnx (pyproject.toml) ... error
  error: subprocess-exited-with-error

  × Building wheel for onnx (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [98 lines of output]
      fatal: not a git repository (or any of the parent directories): .git
      C:

[2022-06-24 05:13] wj-Mcat commented on #2632
# New Feature

## OPT 大模型

* 新增OPT大模型，并融入到Taskflow中

## 单元测试

* 添加多进程下tokenizer保存数据的单测 https://github.com/PaddlePaddle/PaddleNLP/pull/2620

# BugFix

* 修复PretrainedTokenizer和PretrainedModel 中from_pretrained中的潜在问题
    * https://github.com/PaddlePaddle/PaddleNLP/pull/2521
    * https://github.com/PaddlePaddle/PaddleNLP/pull/2578
    * https://github.com/PaddlePaddle/PaddleNLP/pull/2424
 * 修复LukeToke

[2022-06-24 06:24] wawltor commented on #2635
这个看起来是文本摘要的模型，目前业界还没有非常的文本摘要模型，目前我们也在做一些文本摘要的尝试性工作

[2022-06-24 06:29] wawltor commented on #2627
嗯嗯  因为集显没有想要的版本了，只能用到nvidia的独显那块

[2022-06-24 06:43] jiangjiajun commented on #2595
@ilovecode2018

你好，看起来是在安装onnx的时候出了问题，请按照下面的顺序来安装paddlenlp

1. 安装paddle2onnx  `pip install paddle2onnx==0.9.8`
2. 再安装paddlenlp

[2022-06-24 06:55] ZHUI commented on #2634
It is a problem. In the vocab.txt of `ernie-1.0`, it has chinese char started with `##`.
But there are no chinese char `##` in the vocab of `ernie-3.0`.

For the pre-training  process of ernie, chinese char `##` are never use in the word embedding。For example, `##中` should be treated as `中` .
But for the WWM for chinese char, we still need the additional chinese char `##` to indicate the word segm

[2022-06-24 07:17] Dicksilk commented on #2627
那应该怎么去调整呢

[2022-06-24 07:17] weihua1379 commented on #1716
我和你一样呢，感觉好像是这个代码有点问题，我也发了同样的issue

[2022-06-24 07:22] doubleyuhang commented on #122
ernie-1.0 模型的vacab_size与ernieTokenizer的vacab_size不一致导致embedding时出现lookup error，请问如何解决？

[2022-06-24 07:24] Han-YLun opened #2638 "ModuleNotFoundError: No module named 'paddlenlp'"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlepaddle-gpu==2.3.0
paddlenlp==2.3.2
2）系统环境：
linux
python = 3.9

一直提示paddlenlp不存在

[code]

1.我更新了paddlepaddlegpu和paddlenlp 也不行
2.我卸载paddlenlp ，再安装还是不行

[2022-06-24 07:56] jiangix-paper opened #2639 "UIE问题"
有几个问题请教一下：
（1）如果是金融领域的事件抽取微调，假设我们自定义了100个金融事件，如果微调的话，是否需要每个事件都提供5条左右的样本才会得到比较好的效果？
（2）如果篇章级事件抽取，采用逐句方式来做。是否需要对每个句子的抽取结果做后续的清洗呢？比如：事件去重，事件主体关联等

[2022-06-24 08:07] guoxiaoyue111111 commented on #2608
不好意思，有个奇怪的现象还需要请教您一下~

问题一：模型迁移与系统是否有关
就是我用mac基于6条标注数据精调的模型，f1是0.75，在mac上做测试，抽取效果也不错，这应该是正常的。但是，当我把精调后的模型迁移到windows上做预测时，使用同样的样例句子抽取，结果什么都抽取不出来（这太奇怪了）。我想问下，这种模型迁移和系统有关系吗？

问题二：模型复现问题
然后我又用windows电脑复现mac的精调模型，用同样的6个样本，训练得到的best model的f1是0.89。但是使用精调后的模型抽取样例，本应该抽取出来的结果抽取不出来，即使能抽出来的，抽取结果也是乱七八糟，没有合理的。

另外，想问下，在模型训练或者预测的过程中有没有debug的功能，这样，我可以保证能够跟踪每步的执行情况。之前用pycharm，还有其他更好的方法吗？

[2022-06-24 08:40] wawltor commented on #2638
是使用了notebook？

[2022-06-24 09:11] Han-YLun commented on #2638
没有

[2022-06-24 09:25] wawltor commented on #2638
建议再新的conda环境再试试，看起来和安装有关系

[2022-06-24 09:30] wj-Mcat commented on #2638
We can get the following info from your log:
* you start the web server with gunicorn, and use paddlenlp in your application.
* from package path, you use the system python interpreter which is at: '/usr/local/lib/python3.7/*'

Why can't the application find the paddlenlp, because it's not in sys.path. you can print the `sys.path` in your running application,  paddlenlp is definitely not in any of

[2022-06-24 09:45] leon-cas commented on #2602
@jiangjiajun  谢谢，升级cuda-11后，问题fix了

[2022-06-24 09:45] #2602 closed, assigned to jiangjiajun

[2022-06-24 09:47] wawltor commented on #2639
（1）是的，尽可能让模型看到更多的样本
（2）这里说的事件去重、事件主体关联具体含义可以解释一下吗？

[2022-06-24 09:52] wawltor commented on #2608
问题一：
模型应该是和系统没有关系的
问题二：
你看看在model_best目录下是不是有生成一个static目录，建议在测试的时候把这个目录先删除，然后再测试效果

[2022-06-24 09:56] #2605 closed, assigned to wawltor

[2022-06-24 10:11] wj-Mcat opened #2640 "configurable activation can't work in gpt decoder layer"
## Introduction

After debuging the source code, I found that the `activation` is not working in decoder layer.

* defined in the __init__ function

https://github.com/PaddlePaddle/PaddleNLP/blob/c92810b1ffc6a4becfadf6cc59a7575f2a2bd49a/paddlenlp/transformers/gpt/modeling.py#L363-L366

* but in the decoder layer,  it's never used, you can refer to:

https://github.com/PaddlePaddle/PaddleNLP/blob/c

[2022-06-24 10:23] linjieccc commented on #2612
@Chikeke
1.目前uie_predictor已支持使用batch_size分批预测，可以拉最新的develop分支代码再试下。
2.设置较小的batch_size可以避免显存占用过大的问题，可以结合机器情况适当调整

[2022-06-24 12:11] LemonNoel commented on #2636
``spo_list=[]``可能是模型没有收敛导致没有预测正确的spo。如果``get_precision_recall_f1``函数代码没有修改的话，这里报错应该是[re_official_evaluation.py](https://github.com/PaddlePaddle/PaddleNLP/blob/03dcbeff745fb18f230c5bc07a2e3c0d23b8617a/examples/information_extraction/DuIE/re_official_evaluation.py#L215-L231)中文件读取失败导致的，可以打印下``ret_info``，贴下更多的报错信息吗？

[2022-06-24 12:35] ilovecode2018 commented on #2595
C:\Windows\system32>pip install paddle2onnx==0.9.8
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
ERROR: Could not find a version that satisfies the requirement paddle2onnx==0.9.8 (from versions: 0.3.1, 0.3.2, 0.4, 0.5, 0.5.1, 0.6, 0.7, 0.8, 0.8.1, 0.8.2, 0.9.0, 0.9.1, 0.9.2)
ERROR: No matching distribution found for paddle2onnx==0.9.8
WARNING: There was an error checking the latest

[2022-06-24 18:57] x54-729 opened #2644 "load_dataset 对数据类型的处理存在不一致"
您好！最近我在使用paddlenlp运行官网tutorial的内容，版本为2.3.3，目前遇到了几个问题：
1. 部分数据集没办法正确识别 `load_dataset` 的 `splits` 参数：
[code]
    报错：
[code]
    看了一下源代码似乎是因为没有判断hf_datasets为tuple的情况？
2. 不同数据集加载后得到的dataset.data类型不同
[code]
    输出：
[code]
    这样会产生一个问题，当我试着运行阅读理解任务的tutorial时：
    - 如果我采用 ``dureader_robust`` 数据集，那么会无法运行 ``compute_prediction`` 函数，因为 ``dataloader.dataset.data`` 是一个列表，而 ``compute_prediction`` 函数既要从 ``examp

[2022-06-25 04:54] jiangjiajun commented on #2595
你的系统是Windows 32位系统吗 @ilovecode2018

[2022-06-25 09:43] guoxiaoyue111111 commented on #2608
收到，非常感谢您的回复～～

[2022-06-25 13:44] OleNet opened #2645 "分布式程序产生的 main_shardin* 和 start_sharding* 的作用是什么？可以删除或者隐藏么？"
分布式程序产生的 main_shardin* 和 start_sharding* 的作用是什么？可以删除或者隐藏么？
<img width="232" alt="image" src="https://user-images.githubusercontent.com/3206718/175776251-53f9952d-cf5b-4c40-83c8-a9afa74f3883.png">

[2022-06-26 04:58] joey12300 commented on #2645
请问你运行的是哪个模型的脚本呢

[2022-06-26 09:20] #2584 closed, assigned to guoshengCS

[2022-06-26 13:36] ZeyuChen commented on #2632
![image](https://user-images.githubusercontent.com/1371212/175816733-8ec25eb0-9af3-4380-9218-27c154518258.png)

[2022-06-27 01:57] Chucy2020 opened #2646 "如何多GPU并行训练？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
请问训练时如何使用多卡并行训练？

[2022-06-27 02:03] weihua1379 commented on #2636
但是re_official_evaluation.py返回的是评估信息，而我的生成的predict_eval.json文件已经在上面粘贴出来了，spo_list是[]，也就是出问题应该在之前把，我看了一下代码，好像问题在我第一张截图的地方，生成的flatten_predictions只有[0,1],导致在if 1 < cls_label <= 56 and (cls_label + 55) in flatten_predictions:这里进不去，最后subject_id_list为[],也就spo_list为空了

[2022-06-27 02:08] guoshengCS commented on #2644
dureader_robust 这个数据集当前存在两种使用方式，一种是使用 `datasets` 库来加载，如下：

[code]

一种是使用`paddlenlp.datasets` 来加载，使用的参数会不太一样

[code]

当前更推荐第一种，后面也会主要使用第一种，也在做example的迁移工作，文档相关内容暂时还未迁移完成，抱歉造成困扰

[2022-06-27 02:26] guoshengCS commented on #2644
这个也是因为使用`"PaddlePaddle/dureader_robust"`加载时实际上会使用`datasets`库来加载，而使用`"dureader_robust"`时会使用paddlenlp内的来加载，返回的数据类型会不太一样

[2022-06-27 02:30] wawltor commented on #2646
您好，具体是哪个任务了？ 一般都是python -m paddle.distributed.launch --gpus "0,1,2" xxx.py

[2022-06-27 02:36] Chucy2020 commented on #2646
![Uploading image.png…]()

您好，我的任务是我使用paddlenlp自己写的关于阅读理解方面的任务，当没加python -m paddle.distributed.launch --gpus "0,1,2"这个语句时，会默认第一张卡，使用这个语句时会报上面错误。即没有日志。请问这个日志是怎么回事？该怎么处理？

[2022-06-27 02:41] wawltor commented on #2646
上面的图片展示不出来了

[2022-06-27 02:42] Chucy2020 commented on #2646
![image](https://user-images.githubusercontent.com/73978694/175849942-2baf9b5d-d372-4b6e-9cc3-0166cab23b8a.png)

您好，图片我重新上传了。

[2022-06-27 02:51] wawltor commented on #2646
你看看执行的目录下是不是有个log目录

[2022-06-27 02:57] Chucy2020 commented on #2646
您好，请问您说的执行目录是我xxx.py文件所在目录下，还是报的错误.../fleet/launch_utils.py目录下？我的xxx.py所在目录下是有个log文件，但是是其他py文件生成的。

[2022-06-27 02:58] ZHUI commented on #2645
您好，是厂内用户吗？可以加入如流用户群咨询，5165068

[2022-06-27 03:09] Chucy2020 commented on #2646
![image](https://user-images.githubusercontent.com/73978694/175852690-c5110118-89b9-429d-887f-cd03b2d1bcf1.png)
我删除了我py目录下的log文件，使用python -m paddle.distributed.launch --gpus "0,1,2" xxx.py时出现上面这个问题。请问这个问题是什么方面的问题？

[2022-06-27 03:22] LiuChiachi commented on #2646
xxx.py文件所在目录下的log看下worker.log1文件，看起来是第卡1有报错

[2022-06-27 03:22] weihua1379 commented on #2636
re_official_evaluation.py文件报错信息如下：
Traceback (most recent call last):
  File "K:/项目代码/paddlenlp/examples/information_extraction/DuIE/re_official_evaluation.py", line 286, in <module>
    ret_info = calc_pr(predict_filename, alias_filename, predict_filename)
  File "K:/项目代码/paddlenlp/examples/information_extraction/DuIE/re_official_evaluation.py", line 222, in calc_pr
    ret_code, golden_dict = lo

[2022-06-27 03:29] Chucy2020 commented on #2646
![image](https://user-images.githubusercontent.com/73978694/175854473-077d55a9-5d14-4632-84fc-fa24bf449858.png)
您好，是您说的那个问题，但是我有个疑惑，为什么我不用这个语句，就可以使用第一张卡训练，现在使用了这个语句就会出现这个问题？还有我该怎么解决这个问题？谢谢。

[2022-06-27 03:37] LiuChiachi commented on #2646
unset CUDA_VISIBLE_DEVICES试一下？

[2022-06-27 06:18] BladeSun commented on #2634
Thanks for your reply!
I have another question.
Why in this implementation we prefer to use approach two intead of approach one, which maybe like using the ``segment_info'' logic as in:

https://github.com/PaddlePaddle/ERNIE/blob/26a16918f3110437bcffb012fe1ac1480d3dbdd8/demo/pretrain/pretrain.py#L127

It seems more efficient to the identify the boundary of a chunk using an index list.

[2022-06-27 06:19] NatLee opened #2649 "自定義vocab.txt"
各位先進大家好

想請問預訓練的`ernie-1.0`是否能夠自行擴增`vocab.txt`

例如以下的tokenizer

[code]

我們是否可以再自行新增token？

查詢了一下issue表發現有人問`ErnieGramTokenizer`

https://github.com/PaddlePaddle/PaddleNLP/issues/2022

但不知道`ErnieForSequenceClassification`是不是也無法自行擴增

謝謝！

[2022-06-27 06:31] ZHUI commented on #2634
Yes，the origin Paddle/ERNIE is same as the first approach. But we need additional info to indicate the segment_info.
example:
[code]
If we use extend vocab
[code]

However, the first approach will be more easy to use. We will support it.

[2022-06-27 06:37] ZHUI commented on #2649
ernie-1.0 的词表中，有部分unused 的 token，如果你新加的token不多的话，可以试一试替换 unused

[2022-06-27 06:43] NatLee commented on #2649
@ZHUI 謝謝回覆！

可是`unused`的token只有九十多個，如果超過的話是不是就無法新增了？

[2022-06-27 06:53] ZHUI commented on #2649
需要的话，可以自己 resize 一下 vocab, 这里有一个 resize_position_embeddings 的例子。  https://github.com/PaddlePaddle/PaddleNLP/pull/2513

[2022-06-27 07:02] Chucy2020 commented on #2646
问题已解决，感谢大佬们的热心解答。

[2022-06-27 07:16] NatLee commented on #2649
@ZHUI 謝謝回覆！

那個例子看起來是`resize_position_embeddings`的參數

我看預設的設置內，`init_args`的`vocab_size`只有`18000`

![image](https://user-images.githubusercontent.com/10178964/175881122-ff984189-ea0b-4759-903a-4e60a245cddc.png)

想請問就是如果我取用預訓練模型，我有辦法去更改這個設置嗎？

謝謝！

[2022-06-27 07:34] ZHUI commented on #2649
没有关系的，这里是重新赋值了一遍 embedding

https://github.com/PaddlePaddle/PaddleNLP/blob/c92810b1ffc6a4becfadf6cc59a7575f2a2bd49a/paddlenlp/transformers/layoutlmv2/modeling.py#L825-L834

[2022-06-27 07:44] liveopp commented on #2337
请问目前UIE预训练使用的是什么数据，大概是怎样的预训练任务呢？

[2022-06-27 08:03] NatLee commented on #2649
@ZHUI 這個功能大約什麼時候會被merge進主分支呢？

[2022-06-27 08:26] ZHUI commented on #2649
https://github.com/PaddlePaddle/PaddleNLP/pull/2423
抱歉，好像已经支持了

[2022-06-27 08:28] ZHUI commented on #2649
抱歉，可以试一下这个 https://github.com/PaddlePaddle/PaddleNLP/pull/2423/files
resize_token_embeddings

[2022-06-27 08:39] chinesejunzai12 opened #2653 "bvar is busy at sampling for 2 seconds! 模型训练的时候报这个错误"
bvar is busy at sampling for 2 seconds!
模型训练的时候报这个错误! 使用的是py3.7, paddlepaddle是paddlepaddle-gpu -2.3.0.post112

[2022-06-27 08:41] xuhui1994 opened #2654 "paddleNLP使用在名片抽取任务"
我想paddleNLP使用在名片信息抽取任务上，比如schema = ["姓名","职位","部门","公司","地址","邮箱","手机","电话"]，我也自定义了20条数据微调了一下，效果提升了一点，但是特别是手机，电话号码，邮箱这些抽取时经常出错，请问怎么样能更加提升精度

[2022-06-27 09:41] linjieccc commented on #2654
@xuhui1994 可以在评估阶段通过`debug`模式，分别看下每个类别的精确度和召回率，针对性地增加一些标注数据
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E6%A8%A1%E5%9E%8B%E8%AF%84%E4%BC%B0

[2022-06-27 10:02] lastrei opened #2656 "PET示例中，模型转换为静态图后输出维度与动态图不一致"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlepaddle-gpu               2.2.2.post112
paddlenlp                      2.3.2
2）系统环境：请您描述系统类型
windows 11
python 3.9
PET算法示例中，在测试输入'啊啊啊啊'后
prediction_scores输出维度为[2, 18000]，这个是正确的[lable_length,vocab_size]
https://github.com/PaddlePaddle/PaddleNLP/blob/7e1a4332d543ae40becdc0436b6deab614127fc7/exampl

[2022-06-27 10:14] ZHUI opened #2657 "[AddedToken] 请求速度优化"
本人使用 AddedToken 添加大量 ## 中文字符（大概 20000 左右）。但是遇到了性能问题。

1. 添加时间长，大概12s，勉强可以接受
2. tokenize/converts_tokens_to_ids 速度下降15倍，前后 2.0249 MB/s vs 0.1364 MB/s（无法接受）

[code]

[2022-06-27 10:55] #2550 closed, assigned to gongel

[2022-06-27 11:32] wawltor commented on #2656
你取出来的是第几个结果了，这个模型的输出是有两个输出结果的

[2022-06-27 11:55] lastrei commented on #2656
检查了下静态模型,print(self.predictor.get_output_names())
只有一个返回['tmp_42']呀。。

在模型组网的时候，forward下有两个输出prediction_scores, seq_relationship_score，但是最终返回的只有prediction_scores
转换成静态图之后也就只有1个了

[2022-06-27 13:29] LiuChiachi commented on #2653
跑的代码是？是否有最小可复现代码呢，欢迎提供

[2022-06-28 02:02] guoshengCS opened #2662 "import paddlenlp makes warnings.warn invalid"
ENV:
1）PaddleNLP 2.3.3，PaddlePaddle2.2.2
2）Linux，python 3.7

The following code can not output anything, while if removing `import paddlenlp` it would be ok. Maybe there is logging conflict.

[code]

[2022-06-28 02:36] wawltor commented on #2656
看了一下模型只有一个输出了，你可以在模型上zuo做一下相应的改动
<img width="717" alt="image" src="https://user-images.githubusercontent.com/16698950/176079709-9b32c14e-bf07-48a8-b7ff-2a022f163eb6.png">

[2022-06-28 02:40] NatLee commented on #2649
@ZHUI 這個在develop分支，之後預計會release？

[2022-06-28 02:42] lastrei commented on #2656
您的意思是把forward的输出改为输出prediction_sc和seq_relationship_sc么？..

[2022-06-28 02:45] wawltor commented on #2656
嗯嗯，你可以增加一个输出或者把原本的输出改成你想要的输出也行

[2022-06-28 02:53] ZHUI commented on #2649
本周内应该会有release

[2022-06-28 02:55] wawltor commented on #2646
看问题已经解决，我们将关闭ISSUE，后续有问题可以继续打开该ISSUE。

[2022-06-28 02:55] #2646 closed, assigned to wawltor, LiuChiachi

[2022-06-28 03:19] lastrei commented on #2656
还是有问题 ，这里我加了一个paddle.nn.Softmax() forward输出softmax_fn(prediction_scores)
转换后报维度不对X = [1, 35, 768] and the shape of Y = [2, 768]. Received [35] in X is not equal to [2]
这里的35还是输入的句长而不是label_length

[2022-06-28 03:30] jiweizhangxu opened #2664 "neural_search中召回和排序是独立的，缺一个能连接起来的程序，能否提供一下？"
能将
召回的inference.py
排序的predict_pairwise.py
连接起来的程序，执行一个.py文件就能过召回和排序，直接输出排序结果

[2022-06-28 03:51] lastrei commented on #2656
已经解决了，问题出在定义forward入参的时候，定义了position_ids和mask_attention=None,虽然没有使用到，但是在export到静态图的时候，没有添加这两个入参，造成了在infer的时候position_ids代替了masked_positions，造成了维度不对的问题

所以问问大佬，我导出的时候定义入参paddle.static.InputSpec(
            shape=[None], dtype="int64", name='masked_positions')这样使用了name的

在infer的时候我使用predictor.get_input_names()获取对应的入参名称进行赋值，为什么还是会出现把masked_positions当成了position_ids传值....

[2022-06-28 04:08] lastrei commented on #2656
<img width="463" alt="767b39e810469a303000c81fd4cbef1" src="https://user-images.githubusercontent.com/32331131/176090124-70683995-9980-45e2-8afb-5c798b84f53e.png">
已解决，感谢

[2022-06-28 04:08] #2656 closed, assigned to tianxin1860

[2022-06-28 04:10] guoshengCS opened #2666 "The missing and unexpected parameters in from_pretrained are not as expected."
ENV:
1）PaddleNLP 2.3.3，PaddlePaddle2.2.2
2）Linux，python 3.7

Execute the following code can not print `Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForTokenClassification`

[code]

[2022-06-28 04:40] ilovecode2018 commented on #2595
不是，是64位的。我现在解决了。解决方法是不能用python3.10。要用3.9可以正常安装

[2022-06-28 05:49] terry commented on #2306
请问这个部分测试成功了否？

[2022-06-28 08:14] wj-Mcat commented on #2581
Fixed by merged PR: https://github.com/PaddlePaddle/PaddleNLP/pull/2631, so I will close it.

[2022-06-28 08:14] #2581 closed, assigned to wj-Mcat, guoshengCS

[2022-06-28 09:01] suzhou-Second opened #2672 "faq_finance"
请问faq_finance这个applications是否有考虑升级到ernie-3.0

[2022-06-28 09:08] tianxin1860 commented on #2672
欢迎提交预训练模型改为 ERNIE3.0 的 PR 及模型效果，目前暂时不会升级。

[2022-06-28 09:08] SunYanCN opened #2673 "FasterTokenizer和Tokenizer的兼容问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！

**两个实现的API不兼容**：
1. FasterTokenizer需要用to_tensor转换，建议改到FasterTokenizer内部转换
2. FasterTokenizer 没有.pad 方法，建议两个形式的Tokenizer API对齐，可以一键切换

[2022-06-28 09:19] luxu1220 opened #2674 "faq_system 预训练模型404问题"
执行无监督训练时报错
RuntimeError: Downloading from https://paddlenlp.bj.bcebos.com/models/transformers/community/rocketqa-zh-dureader-query-encoder/model_state.pdparams failed with code 404!

环境是 aistudio

[2022-06-28 11:42] #2632 closed, assigned to tianxin1860, FrostML, joey12300, w5688414, guoshengCS, ZHUI, gongel, LemonNoel, LiuChiachi, 1649759610

[2022-06-28 12:22] LemonNoel commented on #2636
predictions是用argwhere取的下标，并不全是0/1。看报错是文件读取时解码的问题，我这边没有windows系统，可以搜下windows平台下的解决方案看看。

[2022-06-28 12:34] tianxin1860 commented on #2674
可以贴一下具体的 AIStudio 项目地址。

[2022-06-28 12:34] tianxin1860 commented on #2674
请确保 paddlenlp 升级到最新版本 2.3.4

[2022-06-28 13:25] luxu1220 commented on #2674
确实是进项目需要更新paddlenlp的版本

[2022-06-28 13:26] #2674 closed, assigned to tianxin1860, w5688414

[2022-06-29 00:49] sweetboxwwy opened #2676 "为什么文本分类的模型，每次预测的结果都不一样呢"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/predict.py

[2022-06-29 01:42] lbz0920 opened #2680 "使用ERNIE\applications\tasks\text_matching python示例代码测试文本相似度得分问题"
### 请提出你的问题 Please ask your question

两段短文本比较，完全不同的两个文本：
: run_infer.py:50 * 9640 ('在家电脑做什么兼职好呢\t海 尔 全自 动 洗 衣 机', '[0.22760319709777832, 0.7723968029022217]')，
这两个结果字段代表什么意思？有文档说明吗？怎么才能求出文本的相似度得分？

[2022-06-29 02:40] Chucy2020 opened #2677 "重复调用代码和显示"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
Linux
python 3.8
paddle --> 2.3
paddlenlp --> 2.3.3

![image](https://user-images.githubusercontent.com/73978694/176339104-e2ed1f3d-55f3-4193-b0d4-3fa7a8cf6c19.pn

[2022-06-29 02:54] luxu1220 commented on #2164
@w5688414 同样的项目，macos 下也有报错，报错信息如下，麻烦请问该如何解决呢，谢谢

[code]

[2022-06-29 03:03] wawltor commented on #2676
您好，有可能是模型加载不成功，看看路径是否正确，可以通过下面的日志来确认
<img width="487" alt="image" src="https://user-images.githubusercontent.com/16698950/176342178-cad475cf-642c-4335-a3ba-d7ccd6c4090b.png">

[2022-06-29 03:03] wawltor commented on #2677
您好，这个是因为多卡训练，每张卡都要输出自己的日志，日志部分重复是没有问题的，想问一下目前多卡训练存在其他问题吗？

[2022-06-29 03:16] sweetboxwwy commented on #2676
懂啦。我训练用的是bert，但是预测那里用的是ernie。这样即便加载的路径没问题，但是预测一样会有问题，请问预测那里的model怎么修改为bert的呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月29日(星期三) 中午11:03
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 为什么文本分类的模型，每次预测的结果都不一样呢 (Issue #2676)

您好，有可能是模型加载不成功，看看路径是否正确，可以通过下面的日志来确认

—
Reply to this email directly, view it on GitH

[2022-06-29 03:20] sweetboxwwy commented on #2676
谢谢！我训练模型是bert，但是预测模型用的ernie~

[2022-06-29 03:23] luxu1220 commented on #2164
将   is_thread_op 改为 true 后
[code]
报错变为
[code]

[2022-06-29 03:34] Chucy2020 commented on #2677
多卡暂时还没有什么问题，只是有时使用多卡时运行还是在单卡上，后续有问题会及时提issue，请教你们。
另外，为什么我用了四张卡这里只显示两个重复的日志？

[2022-06-29 06:54] chenxiaozeng commented on #2680
你好，可以在ERNIE repo下提个issue，会有相关同学解答。另外也可试试 PaddleNLP的文本相似度功能：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E6%96%87%E6%9C%AC%E7%9B%B8%E4%BC%BC%E5%BA%A6

[2022-06-29 07:20] #2634 closed, assigned to ZHUI

[2022-06-29 07:30] ZHUI commented on #2634
Here is the solution for the second approach. FYI

https://github.com/PaddlePaddle/PaddleNLP/pull/2667

https://github.com/PaddlePaddle/PaddleNLP/blob/70c41894086011f50d7dccc5885860dd4317da10/paddlenlp/transformers/ernie/tokenizer.py#L239-L279

[2022-06-29 07:45] lbz0920 opened #2681 "C++想比较两个文档相似度，准备调用paddle inference+ernie3.0模型(ErnieMatchingSiamesePairwise)，怎么把string转化为input tensor，有c++示例吗？"
有c++示例可以提供吗

[2022-06-30 00:48] ZTurboX opened #2685 "如何安装FasterTokenizer"
如何安装FasterTokenizer，说明文档是空的

[2022-06-30 00:52] ZTurboX opened #2686 "如何安装FasterTokenizer"
如何安装FasterTokenizer，说明文档是空的

[2022-06-30 00:53] tianxin1860 commented on #2681
你好, C++ 的部署示例可以参考这里: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative/deploy/C%2B%2B。但是 ERNIE3.0 模型是预训练模型，不建议直接用来计算相似度。相似度计算的模型可以参考这里:  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/ernie_matching

[2022-06-30 00:56] tianxin1860 commented on #2685
pip install faster_tokenizer

[2022-06-30 00:56] tianxin1860 commented on #2686
pip install faster_tokenizer

[2022-06-30 00:58] tianxin1860 commented on #2676
不建议这样哈，建议训练和预测阶段的模型保值一致。

[2022-06-30 01:00] tianxin1860 commented on #2680
输出的 2 个概率值: 第 1 个概率表示这两个文本语义相似的概率，第 2 个概率值表示这两个文本语义不相似的概率， 2 个概率值求和为 1.0。

[2022-06-30 01:10] sweetboxwwy commented on #2676
好滴谢谢~

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月30日(星期四) 上午8:58
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 为什么文本分类的模型，每次预测的结果都不一样呢 (Issue #2676)

不建议这样哈，建议训练和预测阶段的模型保值一致。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message I

[2022-06-30 01:16] ZTurboX opened #2687 "如何安装FasterTokenizer"
如何安装FasterTokenizer，说明文档是空的

[2022-06-30 01:17] #2686 closed, assigned to nobody

[2022-06-30 01:17] #2687 closed, assigned to nobody

[2022-06-30 01:20] ZTurboX commented on #2685
Looking in indexes: https://mirror.baidu.com/pypi/simple
ERROR: Could not find a version that satisfies the requirement faster_tokenizer (from versions: none)
ERROR: No matching distribution found for faster_tokenizer

[2022-06-30 01:34] lbz0920 commented on #2681
PaddleNLP\applications\neural_search\ranking\ernie_matching和PaddleNLP\examples\text_matching\ernie_matching，代码都差不多，这两个示例有啥区别？这两个示例也需要训练，模型动转静再导出模型，也需要训练呀，和ernie3.0预训练模型有啥区别，不都需要训练导出吗？再c++调用paddle inference库+模型测试，是这样吗？

[2022-06-30 01:53] guoxiaoyue111111 opened #2688 "信息抽取在精调模型中schema的定义问题"
您好，关于在信息抽取的精调中schema的定义，需要请教一个问题~

在实际业务中，schema的定义比较复杂，一个关系抽取的schema可能涵盖十多个甚至更多的关系，但是在抽取文本中，这些关系散落在多个不同的段落。这种情况下，是要调整schema（减少关系对）吗还是调整抽取文本（多段合并在一起）？那么，schema设置为多少个关系对最优呢？

[2022-06-30 01:54] lbz0920 commented on #2680
INFO: 06-30 09:51:47: run_infer.py:50 * 1904 ('海 尔 全 自 动 洗 衣 机 用 着 不错\t海 尔 全 自 动 洗 衣 机 好 用', '[0.033826589584350586, 0.9661734104156494]')
INFO: 06-30 09:51:47: run_infer.py:50 * 1904 ('分 数 混 合 运 算 三\t什 么 方 法 解 酒 最 快', '[0.596703052520752, 0.40329691767692566]')
第1个测试句子：语义一样吧，怎么0.033,第2个句对完全不一样，相似概率0.596,是训练的模型有问题吗？用的ernie_3.0_base_ch

[2022-06-30 02:23] cdj0311 opened #2689 "huggingFace模型转换为paddle"
大佬好！
   paddnlenlp提供了很多直接从huaggingface转换过来的模型，请问这些转换脚本在哪儿呢？

[2022-06-30 02:33] wawltor commented on #2685
你的系统是不是windows系统？windows的faster_tokenizer会在后续的版本发布

[2022-06-30 02:36] ZTurboX commented on #2685
是win系统。“windows的faster_tokenizer会在版本发布“这个什么意思

[2022-06-30 02:37] wawltor commented on #2688
理论上是不要调整schema和调整文本段落的，因为schema的设置会在某在文档都是预测所有的关系，没有关系的置信度太低就不会输出，这个最大的问题是在于预测性能的问题，UIE的性能是和schema的大小有关。
对于性能问题，我们会在后续发布模型蒸馏的功能，逻辑是先用UIE的小样本功能快速得到一个效果不错的模型，然后通过UIE对大量的样本进行打标签，最终我们把打标签的样本在BIO体系的模型上进行训练，得到的模型在预测速度上会大大提升！

[2022-06-30 02:38] wawltor commented on #2685
抱歉，是在后续的版本发布

[2022-06-30 02:40] ZTurboX commented on #2685
好的

[2022-06-30 05:27] 1649759610 commented on #2535
同学你好，

这里没有生成decode_res.json，是因为在执行run_test.sh脚本中的run_docvqa.py命令时出现问题，请按以下操作排查一下，确保python3 run_docvqa.py正确执行完成，正确执行后会生成decode_res.json文件。

1. 确保已经使用paddleOCR正确解析图片，并生成demo_test.json，放于data目录下
2. 可以进一步排查一下run_docvqa.py的输入是否正确

也可以参考AiStudio教程，从上到下依次运行：
https://aistudio.baidu.com/aistudio/projectdetail/4049663?channelType=0&channel=0

[2022-06-30 05:43] 1649759610 commented on #2535
目前没有标注文档，可以参考如下步骤进行标注：
1. 使用paddleOCR解析图片，并结合LayoutXLM的tokenizer将解析的文字进行分词，同时保证每个词具有合适的bbox布局信息，可参考OCR_proecss/ocr_process.py文件
2. 设定问题，和标注对应的答案。在执行完run_test.sh后，会生成data/demo_test.json文件，可参考该文件格式进行标注，请注意标注的主要字段是document，document_bbox, question 和 label

[2022-06-30 06:52] tianxin1860 commented on #2680
没有问题，最开始的回复口误说反了，正确的含义是: 第 1 个概率表示这两个文本语义不相似的概率，第 2 个概率值表示这两个文本语义相似的概率， 2 个概率值求和为 1.0。

[2022-06-30 07:13] liuxiaobei6667 opened #2693 "windowsuie"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-06-30 07:22] lbz0920 commented on #2680
1. ('在家电脑做什么兼职好呢\t海 尔 全自 动 洗 衣 机', '[0.22760319709777832, 0.7723968029022217]')，这两个短文本完全不同，怎么语义相似概率0.77这么高？ 怎么才能求出文本的相似度得分？
 2. c++中对文本相似度比较怎么实现，使用ernie项目(ernie_3.0_base_ch预训练模型训练后的模型)+paddle inference推理库,还是paddlenp项目(ernie_gram模型)+paddle inference库？这样翻案对吗？到底选ernie3.0模型训练还是paddlenlp的ernie_gram模型训练，一直疑惑? 望指教
用ERNIE\applications\tasks\text_matching示例代码：+ErnieMatchingSiamesePairwise模型训练？
还是用PaddleNLP

[2022-06-30 07:41] wawltor commented on #2693
辛苦提供一下更多的信息

[2022-06-30 08:19] #2676 closed, assigned to nobody

[2022-06-30 09:12] linjieccc commented on #2689
您好，这里有个转换脚本可以参考下：
https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.3/community/Langboat/convert_bert.py

[2022-06-30 09:25] guoxiaoyue111111 commented on #2688
收到，非常感谢您的回答~

[2022-06-30 10:17] Macxy2018 opened #2696 "viterbi_decode无法转换成onnx，请问有什么办法处理吗？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
- 使用AIStudio GPU
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，PaddlePaddle 2.2.2.post101
2）系统环境：python3.7.4
- 复现信息：如为报错，请给出复现环境、复现步骤
- 维特比解码无法转换成onnx
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/bin/paddle2onnx", line 8, in <module>
    sys.exit(main())
  File "/opt/conda/envs/python35-paddle1

[2022-06-30 11:11] shukhg opened #2697 "ErnieForGeneration模型如何导出静态图或者ONNX？"
（1）环境
paddlepaddle-gpu=2.2.2.post112
paddlenlp=2.3.3
paddle2onnx=0.9.8
cuda=11.2

（2）问题
ERNIE-GEN 模型输入维度不固定，无法导出静态图。
主要是因为模型的输入数目是不固定的（例如下面的例子 model() 中参数不固定 ）
在这种情况了无法导出静态图、也无法导出 ONNX，请问这种该如何处理？

参考链接：
https://aistudio.baidu.com/aistudio/projectdetail/1339888

链接中相关代码（模型输入参数不固定）：
    _, logits, info = model(q_ids, q_sids)
    d_batch, d_seqlen = q_ids.shape
    seqlen = paddle.sum(paddle.cast(q_i

[2022-06-30 11:12] shukhg opened #2698 "ERNIE-GEN 模型输入维度不固定，无法导出静态图"
（1）环境
paddlepaddle-gpu=2.2.2.post112
paddlenlp=2.3.3
paddle2onnx=0.9.8
cuda=11.2

（2）问题
ERNIE-GEN 模型输入维度不固定，无法导出静态图。
主要是因为模型的输入数目是不固定的（例如下面的例子 model() 中参数不固定 ）
在这种情况了无法导出静态图、也无法导出 ONNX，请问这种该ru'he'chu'li

参考链接：
https://aistudio.baidu.com/aistudio/projectdetail/1339888

链接中相关代码（模型输入参数不固定）：
    _, logits, info = model(q_ids, q_sids)
    d_batch, d_seqlen = q_ids.shape
    seqlen = paddle.sum(paddle.c

[2022-06-30 11:58] cdj0311 commented on #2689
好的，感谢！

[2022-06-30 11:58] #2689 closed, assigned to linjieccc

[2022-06-30 16:30] ZeyuChen commented on #2685
@joey12300 看看是否完善下faster_tokenizer的文档

[2022-06-30 17:00] #1967 closed, assigned to LemonNoel

[2022-07-01 01:49] pengfan7758258 opened #2701 "bvar is busy at sampling for 2 seconds"
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp 2.3.3，paddlepaddle-gpu 2.3.0
2）系统环境：Linux-ubuntu，python 3.8.13

是在uie上做的finetune
运行的命令是复制的官网给的例子
[code]
运行的log
<img width="1092" alt="log" src="https://user-images.githubusercontent.com/62168810/176806590-c736a901-84a4-4565-b101-98f2f704af6d.png">

[2022-07-01 02:40] LemonNoel commented on #2701
当前目录下的``log/workerlog.0``文件里有其他报错信息吗？

没有的话，可以跑下下边命令看看paddle是否安装成功。
[code]
或者把paddlenlp升级到最新版本``pip install paddlenlp==2.3.4``。

[2022-07-01 02:52] joey12300 commented on #2696
@Macxy2018 您好，请问你是在什么场景下使用viterbi_decode呢？如果转ONNX的话，可以使用该接口完成转换：

`from paddlenlp.layers.crf import ViterbiDecoder`

[2022-07-01 03:03] pengfan7758258 commented on #2701
@LemonNoel ，显示如下
<img width="1236" alt="log" src="https://user-images.githubusercontent.com/62168810/176815386-122a3744-0da4-4cc8-a38e-a96f1f7b1f1f.png">

[2022-07-01 03:09] pengfan7758258 commented on #2701
@LemonNoel 补充一下就是我前面在微调的时候，被指定训练的gpu现存已经占用了
<img width="449" alt="log" src="https://user-images.githubusercontent.com/62168810/176815935-88b82ae2-8f3f-4d95-b0a9-3cf68ef276d4.png">

[2022-07-01 03:22] LoveCloud opened #2703 "sentiment_analysis/skep/下的predict_sentence.py文件每次运行的结果不一样"
paddlenlp 版本2.3.3
直接运行predict_sentence.py --params_path D:\doc\package\models\skep_ernie_1.0_large_ch\skep_ernie_1.0_large_ch.pdparams --device cpu

第一次结果
Loaded parameters from D:\doc\package\models\skep_ernie_1.0_large_ch\skep_ernie_1.0_large_ch.pdparams
Data: 这个宾馆比较陈旧了，特价的房间也很一般。总体来说一般 	 Label: negative
Data: 怀着十分激动的心情放映，可是看着看着发现，在放映完毕后，出现一集米老鼠的动画片 	 Label: negative
Data: 作为老的四星酒店，房间依然很整洁，相当不错。

[2022-07-01 03:29] LemonNoel commented on #2701
看起来NCCL安装有问题，可以试下用conda来安装paddlepaddle-gpu，然后再测下看看是否在多卡上安装成功了。

[2022-07-01 03:34] tianxin1860 opened #2704 "语义检索 Pipelines 安装运行报错找不到 faiss"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[code]

报错如下:
![image](https://user-images.githubusercontent.com/6829601/176818396-11b99457-6ab0-4feb-9268-c25fee873855.png)

[2022-07-01 03:35] tianxin1860 commented on #2704
解决方案如下:
pip install faiss-cpu or pip install faiss-gpu 即可

[2022-07-01 03:47] zhiyongLiu1114 opened #2705 "taskflow 中 question_answer 的md5 问题"
每次使用gpt-cpm-large-cn初始化qa模型，都会
Updating static/inference.pdiparams from https://bj.bcebos.com/paddlenlp/taskflow/text_generation/gpt-cpm/gpt-cpm-large-cn_params.tar
查看代码是utils.py文件中有校验md5操作：
if os.path.exists(fullname):
        if md5 and (not md5file(fullname) == md5):
            logger.info("Updating {} from {}".format(filename, url))
            logger.disable()
            get_path_from_url(u

[2022-07-01 04:40] wawltor commented on #2705
谢谢指正，我们快速查对一下！

[2022-07-01 04:49] tianxin1860 opened #2706 "Pipeline 系统示例必须保证系统默认编码为 UTF8, 否则示例会报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

系统默认编码:
![image](https://user-images.githubusercontent.com/6829601/176825502-c24de85c-c190-4ca2-870c-f8b1e87bf4dd.png)

报错如下:
![image](https://user-images.github

[2022-07-01 05:24] tianxin1860 commented on #2706
解决方法: export LANG=zh_CN.UTF-8

[2022-07-01 06:06] Macxy2018 commented on #2696
是在命名实体识别场景下用的，使用的是paddlenlp中快递单信息抽取中的代码，ERNIE + CRF模型，原代码使用的是paddle.text中的维特比解码，我试一下改成paddlenlp中的维特比解码

[2022-07-01 06:16] wawltor commented on #2703
预训练参数只是部分参数，需要微调之后才能加载全部参数

[2022-07-01 06:39] #2688 closed, assigned to wawltor

[2022-07-01 07:05] pengfan7758258 commented on #2701
@LemonNoel
这个NCCL是否需要单独安装，我重新创建了conda的虚拟环境也重新安装了paddlepaddle-gpu也是同样的错误

[2022-07-01 07:08] wawltor commented on #2696
想问一下导出成onnx模型，具体是想部署在什么硬件设备上了？

[2022-07-01 07:36] LemonNoel commented on #2701
是的，NCCL需要重新安装。可以参考下Nvidia的官方文档 https://docs.nvidia.com/deeplearning/nccl/install-guide/index.html ，或者试试用conda安装 https://libraries.io/conda/nccl

[2022-07-01 07:49] yspyhp opened #2708 "生成的模型搜索不准确，而且每次执行的结果都不一致"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）paddlenlp 2.3.3  paddlepaddle-gpu 2.3.0.post101
2）linux python3.9
- 复现信息：如为报错，请给出复现环境、复现步骤
- https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/simcse
根据这个文档操作有些疑问，生成的模型搜索不准确，而且每次执行的结果都不一致，哪位大佬能帮忙看下
![48a50f7f7a9919d6c88f10b717ce4136](https://user-images.githubusercontent.com/23613386/176

[2022-07-01 08:02] w5688414 commented on #2706
https://github.com/PaddlePaddle/PaddleNLP/pull/2709

[2022-07-01 08:02] w5688414 commented on #2704
https://github.com/PaddlePaddle/PaddleNLP/pull/2709

[2022-07-01 08:33] w5688414 commented on #2708
https://github.com/PaddlePaddle/PaddleNLP/pull/2710

[2022-07-01 08:43] wawltor commented on #2697
内部讨论了一下，目前ERNIE-Gen在短期内是很难支持导出静态图或者Onnx，是因为ENRIE-GEN本身模型用了相对相对特殊的解码方式，导致很难导出静态图的模型；
目前PaddleNLP在docoder预测加速主要是集中在FasterGeneration的工作，具体可以看看  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/faster_generation , 这里的unimo-text做文本生成可以看看

[2022-07-01 08:43] Jaybore opened #2711 "如何加载PaddleNLP文档中提及的其它团队的模型？"
诸如这里的一些模型：
(https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers/BERT/contents.html)
其中对于不是百度官方的模型，
通过复制名称的方式会提示没有找到模型。

请问如何才能加载它们？

[2022-07-01 08:49] Macxy2018 commented on #2696
刚刚试了一下paddlenlp中的，也还是不行的。
2022-07-01 16:47:46 [WARNING]   [Deprecated] `paddle2onnx.command.program2onnx` will be deprecated in the future version, the recommended usage is `paddle2onnx.export`
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/onnx/mapping.py:27: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` b

[2022-07-01 08:52] Macxy2018 commented on #2696
是希望部署在华硕的tinker board2s上，目前在板子上使用的docker，在docker(基础镜像是ubuntu 18.04 aarch64)中使用

[2022-07-01 08:53] Jaybore commented on #2529
![image](https://user-images.githubusercontent.com/100829033/176861041-9c85a663-9512-406f-b7a7-e744f01effb2.png)
在修改代码之后出现了如上的报错 请问如何调整？

[2022-07-01 09:30] zltgo opened #2712 "example中的mrc2018报错，看了一下貌似是tokenizer_utils_base.py和chineseberttoken不兼容了"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.0
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
tokenizer_utils_base.py中调用self.batch_encode()时实际调用的是chinesebert的batch_encode,而后者输入参数中没有max_length
导致运行时报错
TypeError: batch_encode() got an unexpected keyword argument 'max_length'

[2022-07-01 09:35] LemonNoel commented on #2711
可以使用``AutoModel``和``AutoTokenizer``来加载，更多模型结构可以参考[源代码](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/auto/modeling.py#L25-L32)

[code]

[2022-07-01 09:42] LemonNoel commented on #2712
辛苦贴下代码的链接

[2022-07-01 10:02] lbz0920 opened #2713 "PaddleNLP\applications\neural_search\ranking\ernie_matching示例测试文本相似度得分问题"
使用该示例+ernie_gram_sort.zip(model_30000)没有训练直接下载后使用ernie_matching\deploy\python\predict.py测试结果：
Data: {'query': '海 尔 全 自 动 洗 衣 机 用 着 不 错', 'title': '海 尔 全 自 动洗 衣 机 好 用'}         prob: [0.97645164]
Data: {'query': '分数混合运算三做完', 'title': '解酒最快的方法吃甘蔗'}   prob: [0.62658757]
Data: {'query': '喝酒醉酒了怎么办', 'title': '吃甘蔗喝醋是解酒的方法'}   prob: [0.74547625]

1.第2个示例得分0.626587,不同句子相似度得分不应该接近于0吗?下载的模型可以直接使用吗?看里面model_

[2022-07-01 10:34] LemonNoel commented on #2712
感谢指正！这里确实存在不兼容的问题，我们修复一下。请问具体跑的哪份代码呢？

[2022-07-01 11:13] w5688414 commented on #2713
1. 排序模型是基于文献检索的日志数据进行训练的哈，并不通用，如果效果不满足要求，推荐您用自己的数据集进行训练。
2. 测试集是单独的，训练集和测试集不需要有交叉。

[2022-07-01 11:46] lbz0920 commented on #2713
PaddleNLP\applications\neural_search\ranking\ernie_matching示例：
可以用ernie_gram_zh_pointwise_matching_model.tar模型吗(我看model_20000步,不用训练了吧,训练时间太长了),有通用的模型可以用吗?
项目ERNIE\applications\tasks\text_matching：用的ernie3.0_base模型可以用PaddleNLP提供的数据集训练吗?可以用lcqmc数据集训练吗？

[2022-07-01 13:57] Jaybore commented on #2711
您好，这种方法确实可以对百度官方发布的模型进行加载，但是在doc里面有提到其他的诸如“uer/chinese-roberta-medium”的模型，使用这种方式进行加载的时候会提示没有对应的模型，请问如何解决？

[2022-07-01 14:03] wawltor commented on #2711
可以看看PaddleNLP的版本，可以先升级一下PaddleNLP的版本，有些模型需要最新的版本才能使用

[2022-07-02 02:19] w5688414 commented on #2713
第一个问题：具体指标没测过，但是ernie_gram_zh_pointwise_matching_model.tar是可以用的。
第二个问题：可以的

[2022-07-02 08:33] tianmafly opened #2714 "ernie-health可不可以用于疾病诊断"
输入一份病历，ernie-health给出疾病种类。
可以做到吗，或者训练少量病历数据，达到输出疾病种类

[2022-07-02 10:02] Jaybore opened #2715 "Albert微调报错：not enough values to unpack (expected 2, got 1)"
继上次的bug之后（https://github.com/PaddlePaddle/PaddleNLP/issues/2529），
在根据提供的方法修改代码后出现了新的报错，报错代码如下
![image](https://user-images.githubusercontent.com/100829033/176995878-e23e1268-5cdc-4b34-acd9-d80f7ffaf100.png)

请问如何解决？

[2022-07-02 11:09] tianmafly commented on #2525
pandas就是1.3.4还是报这个错误。python3.7.4.
一开始的错误是：
 from _lzma import *
ModuleNotFoundError: No module named '_lzma'
![Screenshot from 2022-07-02 19-06-23](https://user-images.githubusercontent.com/38370307/176998131-af83eb75-168f-4b06-ad5b-9b3d12dde0a0.png)
按照网上说的，改了lzma.py文件：
把 from _lzma import *
    from _lzma import _encode_filter_properties, _decode_filter_properties
改成
try:
    from _lzma import *

[2022-07-02 11:09] tianmafly opened #2716 "AttributeError: '_lzma.LZMADecompressor' object has no attribute 'needs_input'"
pandas是1.3.4。python3.7.4.
一开始的错误是：
from _lzma import *
ModuleNotFoundError: No module named '_lzma'

按照网上说的，改了lzma.py文件：
把 from _lzma import *
from _lzma import _encode_filter_properties, _decode_filter_properties
改成
try:
from _lzma import *
from _lzma import _encode_filter_properties, _decode_filter_properties
except:
from backports.lzma import *
from backports.lzma import _encode_filter_properti

[2022-07-02 11:12] tianmafly commented on #2525
@wawltor @ChaohuaZhang 请问解决了吗，怎么解决的？谢谢哈。

[2022-07-02 14:00] wawltor commented on #2714
这个应该就是病例分类，ernie-health可以做病例分类，不过数据量需要根据任务难度来

[2022-07-02 14:25] wawltor commented on #2715
https://github.com/PaddlePaddle/PaddleNLP/blob/f6a8a5a26185c046279c3a3cda744f80c0bf2bf5/paddlenlp/transformers/albert/modeling.py#L1720

<img width="724" alt="image" src="https://user-images.githubusercontent.com/16698950/177004808-4986c139-ebf3-4e86-bb85-6f2c978fcc46.png">

您好，您把 num_or_sections=1 改成  num_or_sections=2试试

[2022-07-02 14:34] wawltor commented on #2716
这个issue可以看看 https://github.com/pytorch/vision/issues/2921

[2022-07-02 14:36] wawltor commented on #2716
然后再不行的话，可以升级python版本到3.8试试

[2022-07-03 02:01] tianmafly commented on #2716
谢谢，换成python3.8后可以了
发现自动安装的pandas的版本是最新的1.4.3，python3.7.4安装不了pandas1.4.3。可能和这个也有关系。

[2022-07-03 02:01] tianmafly commented on #2716
也不用修改lzma.py这个文件了

[2022-07-03 02:15] #2716 closed, assigned to wawltor

[2022-07-03 04:19] ChaohuaZhang commented on #2525
应该是python环境依赖有问题，拉paddlepaddle镜像构建容器运行吧

[2022-07-03 04:23] tianmafly commented on #2525
已解决，python3.7.4改为python3.8就可以了

[2022-07-03 05:47] Jaybore commented on #2715
可以了 非常感谢

[2022-07-03 05:47] #2715 closed, assigned to wawltor

[2022-07-03 05:50] Jaybore opened #2717 "使用微调程序run_qa.py微调RoFormer模型时报错"
同我之前的操作一样，https://github.com/PaddlePaddle/PaddleNLP/issues/2493

使用了https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/run_qa.py
运行ernie模型时可以正常进行微调，之前Bert不能正常微调，但已经修复。

近期在我使用RoFormer模型尝试微调时，在tokenize数据集时出现了同样的报错：substring not found
再次劳烦问下如何解决？

[2022-07-03 05:51] Jaybore commented on #2711
更新后可以使用了，非常感谢

[2022-07-03 05:51] #2711 closed, assigned to wawltor

[2022-07-03 05:52] #2529 closed, assigned to wawltor, LiuChiachi, yingyibiao

[2022-07-03 07:30] tianmafly commented on #2714
@wawltor
请教几个问题哈，我不是算法工程师，所以有些问题比较基础：
1. "PaddleNLP中提供了ERNIE-Health训练好的模型参数。该版本为160G医疗文本数据上的训练结果"。 这个指的是ernie-health-chinese.pdparams模型吗？
2. "数据量应尽可能接近ERNIE-Health论文中训练数据的量级，以获得好的预训练模型效"。这个数据量指的是160G吗？
3. ernie-health的run_pretrain_trainer.py是为了生成预训练模型吗？不是已经有了预训练模型ernie-health-chinese.pdparams？
4. 输入一份病历，ernie-health给出疾病种类。需要用run_pretrain_trainer.py生成预训练模型，还是直接用预训练模型ernie-health-chinese.pdparams就可以

[2022-07-03 13:25] gjr666 opened #2718 "RuntimeError: mkdir failed!"
paddlenlp                 2.3.4
paddlepaddle              2.3.0
python                    3.6.10
在windows 环境下运行示例报错，
![image](https://user-images.githubusercontent.com/56302085/177041793-3e5853e8-e38f-48c8-bc61-ffda5d7eca53.png)
错误如下：
![image](https://user-images.githubusercontent.com/56302085/177041816-bad5ebf2-cfd4-4a49-8eda-cc0c1681c377.png)
![image](https://user-images.githubusercontent.com/56

[2022-07-04 01:29] lbz0920 commented on #2713
使用的LCQMC训练集训练的模型单塔Point-wise语义匹配模型ernie_gram_zh_pointwise_matching_model.tar,是对文本进行2分类任务,只开源了Point-wise语义匹配模型。
1.示例没提供Pair-wise模型，可以作为Pair-wise匹配模型使用吗?这两个模型通用吗？
使用predict_pairwise.py+ernie_gram_zh_pointwise_matching_model预测文本相似度得分存在问题吗?还是必须使用LCQMC+train_pairwise.py训练出pair-wise的模型?

[2022-07-04 01:30] lbz0920 commented on #2713
使用的LCQMC训练集训练的模型单塔Point-wise语义匹配模型ernie_gram_zh_pointwise_matching_model.tar,是对文本进行2分类任务,只开源了Point-wise语义匹配模型。
1.示例没提供Pair-wise模型，可以作为Pair-wise匹配模型使用吗?这两个模型通用吗？
使用predict_pairwise.py+ernie_gram_zh_pointwise_matching_model预测文本相似度得分存在问题吗?还是必须使用LCQMC+train_pairwise.py训练出pair-wise的模型?

[2022-07-04 02:17] wawltor commented on #2714
1. ernie-health-chinese.pdparams 是 160G语料训练的结果
2. 是的
3. 这里的预训练是说用户对自己的场景有更高的要求，可以尝试进行预训练
4. 不需要run_pretrain_trainer.py再次训练，可以ernie-health-chinese.pdparams来进行微调，这里需要加入一些有标签病例种类的样本然后进行微调

[2022-07-04 02:19] wawltor commented on #2718
看看硬盘空间是否足够，同时排查下面的路径是否有文件读写权限
<img width="339" alt="image" src="https://user-images.githubusercontent.com/16698950/177070263-d0ce6c4f-e970-466d-a941-dcaeeaea6e60.png">

[2022-07-04 02:51] joey12300 commented on #2717
@Jaybore 您好，请问可以提供一下复现的代码，命令行参数吗？我这边试着复现一下

[2022-07-04 02:55] lbz0920 commented on #2713
使用PaddleNLP\examples\text_matching\ernie_matching>predict_pairwise.py+ernie_gram_zh_pointwise_matching_model.tar(pointwise语义模型)测试结果相似度得分很低
1.测试结论：pairwise不能直接用pointwise模型，需要train_pairwise.py+LCQMC数据集训练出pairwise的模型，是这样吗？
2.paddle提供有ernie_gram_zh_pairwise_matching_model模型下载吗? 上午发的疑问也是pairwise能调用pointwise模型的疑问，也回答下，谢谢恁！
附示例测试结果：
{'query': '男人和女人哪个更容易出轨？', 'title': '女人和男人哪个更容易出轨', 'pred_prob': 0.24450

[2022-07-04 03:35] zhanghaoie opened #2720 "faster-generation有时候耗时会比较长"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.3.3，PaddlePaddle2.3.0
2）系统环境：系统版本为linux，python 3.8
- 复现信息：
  使用unified-transformer的faster-generation时候,大部分耗时都在30-50ms之间，但是有时候突然就达到了200ms

[2022-07-04 04:03] zhanghaoie commented on #2720
仅仅知识串行请求。

[2022-07-04 04:04] zhanghaoie commented on #2720
仅仅只是串行请求

[2022-07-04 05:27] guoshengCS commented on #2720
请问下 200ms 的时候是否有生成更长的回复内容呢，还是说没有生成更长怀疑是性能波动，可以提供部分测试的数据吗

[2022-07-04 06:04] w5688414 commented on #2664
排序模型的serving的代码已经完成，这是pr。

https://github.com/PaddlePaddle/PaddleNLP/pull/2721

整个流程连接起来正在开发中，serving服务都出来了，您可以尝试一下串联，直接发请求，这个应该不难

[2022-07-04 06:08] zhanghaoie commented on #2720
嗨，我设置的最长长度32，返回10条，看最长长度的时候返回的最长长度是22，但是返回长度是32的时候，耗时是在55ms，输入的长度都是一样的 长度是8

[2022-07-04 06:10] zhanghaoie commented on #2720
嗨，我设置的最长长度32，返回10条，看耗时长的时候（188ms）返回的最长长度是22，但是返回长度是32的时候，有时候耗时是在55ms，输入的长度都是一样的 长度是8

[2022-07-04 06:12] zhanghaoie commented on #2720
由于内部的原因，电脑端不能传照片。对了，在请求的时候，显存在不断增大，怀疑跟拼batch相关 但是可以增加到11g左右

[2022-07-04 06:41] zhanghaoie commented on #2720
使用的v100, driver 418.126.02 cuda 10.1

[2022-07-04 07:58] guoshengCS commented on #2720
这个是稳定复现的吗，可否提供下这个数据来测试下呢

[2022-07-04 08:00] guoshengCS commented on #2720
显存不断增大是会的，使用的是哪个模型多大的模型呢，看下增大的是否合理。另外也想请问下您那边的使用情况，是什么模型做什么任务呢

[2022-07-04 08:07] zhanghaoie commented on #2720
这个是稳定复现的，目前使用的模型是plato-mini，是6层的transformer, 是做生成任务，num_return_sequences=10，使用了top-k sampling， top-k=3

[2022-07-04 08:10] zhanghaoie commented on #2720
测试是使用的单轮， 你知道郑爽吗？ 目前看是稳定复现了，请求几次就会出现。

[2022-07-04 08:15] ssrssrcode opened #2723 "plato-mini tokenizer"
你好，请问一下像plato-mini模型的词表没有预留unused如何添加自定义的特殊字符呢？另外，发现UnifiedTransformerTokenizer对于词表中已有的[MASK],[SEP]等token也无法正确识别，请问是什么原因呢

[2022-07-04 08:26] pengfan7758258 opened #2725 "python -u -m paddle.distributed.launch --gpus "0" finetune.py怎么在IDE添加前面的参数"
python -u -m paddle.distributed.launch --gpus "0" finetune.py
这个前面的-u -m paddle.distributed.launch --gpus "0"这些参数怎么在pycharm或者vscode这些ide里面添加并指定

[2022-07-04 08:59] wawltor commented on #2725
如果你是单卡训练，直接 python  finetune.py即可

[2022-07-04 09:32] guoshengCS commented on #2720
这个输入请求多次里面就会有部分推理时间到200ms的是吧

[2022-07-04 09:36] guoshengCS commented on #2720
这个请 @FrostML  验证看下呢

[2022-07-04 09:55] shukhg opened #2726 "unimo-text-1.0模型FasterTransformer加速cmake报错"
11

[2022-07-04 09:56] shukhg commented on #2726
“按照相似问题修改后” 是按照 “FrostML commented May 6, 2022 Commit” 说到的把 try-catch 去除后看报错信息

[2022-07-04 10:01] gongel commented on #2726
看上去是网络问题，[这个](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/CMakeLists.txt#L377)没下载下来，你看看能手动git clone吗

[2022-07-04 11:03] linjieccc commented on #2705
多谢反馈，已PR修复 #2707

[2022-07-04 11:27] w5688414 commented on #2681
没啥区别，都可以使用，只是neural_search是一个解决方案，ernie_matching只是其中的一部分，examples只是一个示例代码。

[2022-07-04 11:27] w5688414 commented on #2681
没啥区别，都可以使用，只是neural_search是一个解决方案，ernie_matching只是其中的一部分，examples只是一个示例代码。

[2022-07-04 11:34] shukhg commented on #2726
已经解决，git 网络有问题，修复即可。
建议先看看 git 是否可用，如果可用的话则没问题

[2022-07-04 11:34] #2726 closed, assigned to nobody

[2022-07-04 11:35] w5688414 commented on #2680
1.请问您用的是什么模型？有经过训练什么吗？
2.ernie-3.0和ernie_gram只是预训练过程的差别，使用上没什么差别，可以根据情况，哪个效果好就使用哪个
ERNIE\applications\tasks\text_matching
PaddleNLP\applications\neural_search\ranking\ernie_matching
PaddleNLP\examples\text_matching\ernie_matching
这3个都可以使用，优先推荐使用前2个，可以对比一下效果，选择最佳的模型

[2022-07-04 12:52] FrostML commented on #2720
性能测试是如何进行的呢？因 CUDA 是异步执行，是否有使用到 cuda_synchronize 的操作辅助计时？

[2022-07-04 13:21] FrostML commented on #2723
1. 只能说重新构造 embedding，比如现有词表 30001，需要额外增加 100 个特殊字符，只能先 load 模型，将参数 dump 下来，将多的 100 个 embedding 拼接到已有的词表上面，构造新的词表 30101，并在此基础上构造新的模型，重新 load。

2. 可以给段代码看看具体的问题或是报错么？

[2022-07-04 13:30] Jaybore commented on #2717
我使用的就是官方提供的这个代码，只不过更改了模型名称
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/run_qa.py

[2022-07-04 13:46] bruce0210 opened #2729 "semantic-search用CPU跑时出现ValueError: (InvalidArgument) Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 513"
centos：7.5
anaconda->python：3.8.5
PaddlePaddle2.3.0（CPU）

尝试搭建：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/experimental/pipelines/examples/semantic-search中的CPU版本时：
unset CUDA_VISIBLE_DEVICES
python examples/semantic-search/semantic_search_example.py --device cpu，之后，出现如下错误：
![微信截图_20220704214439](https://user-images.githubusercontent.com/100854336/177167449-a3d31416-3886-439

[2022-07-04 14:56] zhanghaoie commented on #2720
我使用了 python streamer起了一个服务，然后手动请求，间歇性的耗时比较搞，没有用到cuda_synchronize

[2022-07-04 14:57] zhanghaoie commented on #2720
目前想把服务迁移到triton-inference-server python backend上部署，两个都有间歇性的超时

[2022-07-04 15:57] FrostML commented on #2729
单看报错信息是因为输入的 id 超过了 embedding 所能表示的词表最大的大小，可以确认下输入的 id 是否都在 embedding 所能表示的 id 范围内。

[2022-07-04 16:08] FrostML commented on #2720
简单解释一下：GPU 上 CUDA 执行是异步的，可以简单理解成，比如是使用 `time.time()` 进行计时，可能到计时的代码的这个位置，之前的代码的底层 CUDA 的部分实际上还没有完成，所以需要加上同步操作 `cuda_synchronize`，同步操作本身会占用一定的时间，但是能确保之前运行在 GPU 上的部分已经结束。

此外，我理解可能 server 引入的性能的不确定性会高些，如果排除 server 的影响，单单仅执行 unified transformer 的 faster generation 部分是否也有波动的情况发生？另外想确认下，是否是同一时间，一张卡仅有一个 unified transformer 的生成的过程在执行呢？因为加速之后，GPU 利用率打满，如果单卡上有多个进程，比较容易造成生成性能上的不确定性。

[2022-07-05 00:54] sweetboxwwy opened #2731 "文本分类任务如果要做四分类的话需要修改哪些地方呢"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/pretrained_models
想要修改chnsenticorp数据集的情感分类二分类任务为四分类任务，应该要修改哪些地方呢

[2022-07-05 01:10] lbz0920 commented on #2680
1。ERNIE\applications\tasks\text_matching：使用推荐的ernie_3.0_base_ch预训练模型:run_train.py+lcqmc数据集训练，lcqmc数据集的train.tsv是lable 0,1，代码要求有neg_title列，这样训练是不是有问题？，是不是修改修改ERNIE\applications\tasks\text_matching代码，把lcqmc数据集test.tsv第3列的lable0,1转化为随机的neg_title，在哪个文件中修改？还是有其他更适合的文本相似度数据集？
2。PaddleNLP\applications\neural_search\ranking\ernie_matching：使用的程序自动下载的预训练模型.paddlenlp\models\ernie-gram-zh(tran_pairwise.py+lcq

[2022-07-05 02:02] #2705 closed, assigned to linjieccc

[2022-07-05 02:27] zhanghaoie commented on #2720
1.仅仅是打印了从输入模型，到输出结果的时间，没有打印底层内部实现的时间，使用的是你们的model.generate的方法。
2.目前卡（32g显存）上有多个其他服务，剩余显存大概26G，但是gpu使用率是0%，目前还有一个问题，gpu显存占用增长的会比较厉害。
3.目前使用faster-transformer 做nsp模型转成torchscript的话，在相同的卡上（有其他服务占用），耗时相对比较稳定，预测25-30条，一般都在20ms左右。

[2022-07-05 02:34] lugimzzz commented on #2731
建议直接使用[文本多分类application](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class)，参考文档中从本地文件创建数据集的方式处理自己的数据集(建议划分成训练集和开发集)就可以直接进行训练了。
按照下面的格式组织数据就可以自定义训练自己的数据，可以见文档
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/16698950/177238820-ac8c1d49-8eaa-4b39-9e59-881273b9f8a7.png">

[2022-07-05 02:45] ssrssrcode commented on #2723
`from paddlenlp.transformers import UnifiedTransformerTokenizer
tokenizer = UnifiedTransformerTokenizer.from_pretrained('plato-mini')
tokenizer._tokenize('A [SEP] B')`
`['▁A', '▁[', 'S', 'E', 'P', ']', '▁B']`
`tokenizer.vocab._token_to_idx['[SEP]']`
`2`

[2022-07-05 03:23] ssrssrcode commented on #2723
[code]

[2022-07-05 03:23] joey12300 commented on #2717
@Jaybore 嗯嗯，请问您具体使用的roformer模型是哪个呢？目前使用jieba作为预切词器的tokenizer是不支持offset mapping功能的，即不支持阅读理解任务。现阶段RoFormer模型中，`roformer-chinese-small`和`roformer-chinese-base`的模型由于使用jieba作为预切词器，所以这两个模型暂时不支持阅读理解任务。后续将会发布功能齐全的高性能切词工具的`faster tokenizer`，支持不同类别的tokenizer offset mapping功能。

[2022-07-05 03:28] jiangix-paper opened #2733 "信息抽取指定模型路径"
您好，在使用taskflow的information_extraction功能时，需要指定模型的路径，是采用如下命令吗？
ie = Taskflow('information_extraction', schema=schema, task_path='../../')

[2022-07-05 03:56] wawltor commented on #2733
可以的，可以按照下面的方式来定制模型路径
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/16698950/177246512-d3efcb6e-c485-4494-8fa9-27ea8ffa332e.png">
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-07-05 06:27] joey12300 commented on #2673
您好，请问您是用的这个吗？https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/experimental/faster_tokenizer.py

您具体在什么场景使用呢？我看看如何升级一下。

[2022-07-05 08:02] FrostML commented on #2720
我举个例子吧
[code]
比如是按照如上方式打印时间，因为 GPU 计算是异步的，到 `end` 计时点的时候，`model.generate()` 的计算可能并没有完成。同理，没有显式同步的话，可能到 `start` 计时点的时候，前一个输入的计算也可能还未完成。这是 GPU 执行方式导致的。
可以通过同步，或是对 `model.generate()` 的输出做一个拷贝来保证当前 batch 的计算是完成了的。
所以其实就是想确认下 30-50ms 这个数字是否其实是小于单个 batch 实际计算时间，200ms 是否其实是大于了单个 batch 实际计算时间这个事情。

其次呢，因为加速的方式是通过提升 GPU 利用率，所以会比普通的前向比较容易收到其他进程的影响。也是想确认下，在仅使用 `model.generate()` 的单测里面，排除卡上有其他服务、server 通信的影响，

[2022-07-05 08:06] zhanghaoie commented on #2720
ok，我们先尝试排除卡的因素以及GPU异步的因素看一下。

[2022-07-05 08:15] sweetboxwwy commented on #2731
请问如果我想使用bert训练的话应该怎么修改model呢

[2022-07-05 08:19] sixyang commented on #1502
我也遇到这个问题，暂时不知道怎么办，而且有时候会出现，但有时候不会……

[2022-07-05 08:48] lugimzzz commented on #2731
可以通过修改参数实现，更多可配置参数参考[文本多分类模型微调](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class#%E6%A8%A1%E5%9E%8B%E5%BE%AE%E8%B0%83)，PaddleNLP已内置了多种bert模型，详情可以参考[BERT模型汇总](https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers/BERT/contents.html)。
[code]
![image](https://user-images.githubusercontent.com/63761690/177284214-70ae69a3-21f3-4d4f-b3f0-309

[2022-07-05 08:48] lugimzzz commented on #2731
对于中文分类任务推荐使用ERNIE3.0系列模型，ERNIE 3.0 在精度和性能上的综合表现已全面领先于其他中文预训练模型，模型效果详见[ERNIE 3.0 模型效果](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0#%E6%A8%A1%E5%9E%8B%E6%95%88%E6%9E%9C)可以根据设备和精度需求选择合适的ERNIE 3.0模型，多分类application默认推荐使用ernie-3.0-base-zh。英文文本分类任务推荐使用ernie-2.0-base-en。

[2022-07-05 09:41] FrostML commented on #2723
了解了，目前无法 tokenize special token，可以先 `tokenizer.dialogue_encode(["A", "B"])`，会自动加上 `[SEP]` 所表示的 id 2。

这个问题我详细定位下。

[2022-07-05 09:41] zhanghaoie commented on #2720
Hi, 我们找到问题了，确实如果gpu上有其他进程对加速效果影响很大，即使进程不消耗gpu。换了一张没有任何服务的卡，目前没有问题了，多谢

[2022-07-05 13:06] jackerlzy opened #2738 "ernie-3.0-medium-zh 模型加载失败"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

paddlepaddle-gpu  2.2.1
paddlenlp 2.2.3
win10
python 3.9.7

报错信息如下：

E:\ProgramData\Anaconda3\envs\tt\lib\site-packages\paddlenlp\transformers\funnel\modeling.py

[2022-07-05 14:30] 1649759610 commented on #2738
请更新paddlenlp至最新版本试试：pip install paddlenlp==2.3.4

[2022-07-06 00:57] sweetboxwwy commented on #2731
谢谢大佬

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年7月5日(星期二) 下午4:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 文本分类任务如果要做四分类的话需要修改哪些地方呢 (Issue #2731)

对于中文分类任务推荐使用ERNIE3.0系列模型，ERNIE 3.0 在精度和性能上的综合表现已全面领先于其他中文预训练模型，模型效果详见ERNIE 3.0 模型效果可以根据设备和精度需求选择合适的ERNIE 3.0模型，多分类application默认推荐使用ernie-3.0-base-zh。英文文本分类任务推

[2022-07-06 03:25] lichenww opened #2739 "端到端智能问答系统 部署streamlit启动后 在服务器访问错误"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，PaddlePaddle2.3.0
2）系统环境：linux ，python版本3.7
- 复现信息：
1、 When I start on the Linux server, the display is normal,
![1](https://user-images.githubusercontent.com/106218007/177461585-14544b22-f21b-46fa-9641-43c1c61d37ad.png)

2、Then test curl on Linux server
![2](https://user-images.github

[2022-07-06 03:26] lichenww commented on #2739
项目代码在application/experimental/pipelines中

[2022-07-06 03:43] gpengzhi opened #2740 "在 Machine Translation 例子中，缺失 数据准备 这一步的教程。"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer
在我们的基于 Transformer 的 Machine Translation 例子中，数据准备这一步奏仅提供了一个预处理好的 WMT14 en-de 数据，并没有告诉读者该怎么处理数据，每一步应该怎么做，可否像 fairseq (https://github.com/facebookresearch/fairseq/tree/main/examples/translation) 一样，将每一个步奏都提供出来。

另外，我们的PaddleNLP数据处理看起来和代码高度耦合。意思就是我每想用新的机器翻译数据训练模型，我需要在PaddleNLP里先写一些支持该数据的新的代码。这从用户的视角看并不是很好用

[2022-07-06 04:59] wawltor commented on #2733
@jiangix-paper 您好 自定义路径上面还有问题吗？

[2022-07-06 05:49] WallE-Chang opened #2741 "RoFormer 不支持输入长度超过512"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddle.__version__ == '2.3.0' ;  paddlenlp.__version__ == '2.3.4'
2）系统环境：linux python3.8
复现代码如下：

import paddle
from paddlenlp.transformers import RoFormerModel, RoFormerTokenizer
tokenizer = RoFormerTokenizer.from_pretrained('roformer-chinese-base')
model = RoFormerModel.from_pretrained('roformer-chi

[2022-07-06 05:52] ZeyuChen commented on #2740
@gpengzhi 感谢反馈！欢迎继续多提建议，我们一起看看怎么优化翻译这里的体验。

[2022-07-06 06:03] ZeyuTeng96 opened #2743 "关于开源的预训练模型plato-xl的疑问"
请问下面链接里，提供给用户下载的plato-xl是中文版的还是英文版的？是适用于中文多轮对话任务还是英文呢？其次就是，为什么plato-xl的vocab_size只有8001，竟然比mini的还小。谢谢大佬回答

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/unified_transformer/modeling.py

[2022-07-06 06:10] ZeyuTeng96 commented on #2731
4分类，直接用ernie_3.0_base_zh与训练模型就好了。然后用下面链接里的ernieForSequenceClassification类即可，使用时记得修改num_classes = 4. 具体使用样例就是：

 import paddle
from paddlenlp.transformers import ErnieForSequenceClassification, ErnieTokenizer

tokenizer = ErnieTokenizer.from_pretrained('ernie-1.0')
model = ErnieForSequenceClassification.from_pretrained('ernie-1.0', num_classes = 4)

Loss就用CrossEntropyLoss即可

https://github.com/Padd

[2022-07-06 06:30] pengfan7758258 commented on #2725
emmm，询问一下多卡

[2022-07-06 07:14] YiTSu opened #2746 "UIE训练时卡在Special tokens file saved in ./checkpoint/model_100/special_tokens_map.json"
UIE使用40W条左右的数据进行模型微调，训练时卡在Special tokens file saved in ./checkpoint/model_100/special_tokens_map.json是什么原因呢？是因为数据量太大还是其他原因呢？
如图所示：
![截屏2022-07-06 15 11 43](https://user-images.githubusercontent.com/16937245/177491594-bb56aed4-6509-450d-9e49-feca2013ec06.png)

[2022-07-06 07:15] YiTSu commented on #2746
之前训练3W条左右数据的时候都是可以正常生成的。

[2022-07-06 07:39] crjhonor opened #2747 "paddlenlp在本地电脑，显存8G，上加载预训练模型（尝试过ernie-1.0和ernie-3.0-nano-zh）后去训练数据，为什么总遇到时GPU内在不足的问题呢？"
错误码如下：
[code]

进程已结束,退出代码1

可以看到 ，在降低batch_size=1后，训练是可以进行的，但是在几百个batch后又报错显示内在不足了。难道不会自动释放内存吗？

以下是代码：（注：代码原自CSDN，感谢原作者。）

[code]
- 版本、环境信息

1）PaddleNLP 2.3.4和PaddlePaddle-gpu 2.3.0
2）系统环境：操作系统deepin20.6,  pycharm pro;

[2022-07-06 07:47] wawltor commented on #2746
这个是保存模型，这个不影响训练效果，可以忽略

[2022-07-06 08:01] wawltor commented on #2747
你可以试试先把显存清空，然后再跑跑试试
<img width="625" alt="image" src="https://user-images.githubusercontent.com/16698950/177500316-0bbe0de9-903c-4043-8055-f682c66c029d.png">
我自己的显存相对比较稳定，对于batch_size=1

如果想增加batch_size, 可以尝试把max_seq_len调小，可以减少到70左右

[2022-07-06 08:41] JDanielWu commented on #2535
没有标注工具，纯人工成本好高啊

[2022-07-06 08:43] nlper-77 opened #2748 "弱弱问下，能否支持下MarkupLM中文版模型，对网页做信息抽取时MarkupLM蛮有用的"
[MarkupLM: Pre-training of Text and Markup Language for Visually Rich Document Understanding](https://arxiv.org/pdf/2110.08518.pdf)

[2022-07-06 08:46] wawltor commented on #2725
如果已经安装了paddlepaddle-gpu的版本，理论上是可以直接 python -u -m paddle.distributed.launch --gpus "0,1 " finetune.py  （--gpus 可以设定卡号）

[2022-07-06 09:18] pengfan7758258 commented on #2725
@wawltor 不是在命令行运行程序，我想点击后运行，譬如下图的红色框
<img width="1557" alt="log" src="https://user-images.githubusercontent.com/62168810/177515997-c47671bb-478f-4a24-90ce-13df4347d604.png">

vscode当中我应该怎么操作或者说加上什么代码能让我用多个gpu

[2022-07-06 09:27] wawltor commented on #2725
多卡执行的方式目前只能通过ide的方式来执行了

[2022-07-06 10:59] chinesejunzai12 commented on #2653
就是实体识别的代码,直接使用的ernie模型, 就是数据量比较大而已

[2022-07-06 11:12] crjhonor commented on #2747
[code]
用nvidia-smi查看，运行训练前只用了不到400MB喔。

[2022-07-06 12:07] YiTSu commented on #2746
但到这一步就卡住了啊🤣 不能继续训练了

[2022-07-06 12:11] crjhonor commented on #2747
I am coming up with the idea to use multiprocessing.pool.Pool, haha. But I am not familiar with that package, I try the p.map function but get no logits return. But the memory was within controlable, although the processing speed is much more slower.

global_step = 0
logits = paddle.Tensor
from multiprocessing import Pool
def fun_model(inputs_ids, segment_ids):
    logits = model(inputs_ids, segme

[2022-07-06 12:32] FrostML commented on #2743
英文版，适用于英文对话。plato-mini 是中文版，词表也会大些。

[2022-07-06 12:32] wawltor commented on #2746
你的验证集是不是特别大

[2022-07-06 12:51] LiuChiachi commented on #2748
如果您感兴趣的话，能否实现然后给我们贡献代码呢:)我们会无比欢迎和外部开发者一起建设~

[2022-07-06 12:56] LiuChiachi commented on #2747
是evaluation之后显存不足的吗？正常训练的时候显存是不是已经快满了呢？
同建议减小一下`--max_seq_length`，可能之前没爆是因为还没有遇到接近`--max_seq_length`长度的数据

[2022-07-06 13:30] linjieccc commented on #2748
UIE多模态版本目前在我们的开发计划中，欢迎持续关注~另外我们也非常欢迎您给我们贡献新的模型，在PaddleNLP信息抽取相关功能体验上也欢迎您给我们多提意见和建议

[2022-07-07 01:31] shuangxunian opened #2749 "文本相似度问题"
环境：Win10
版本：pip下载最新的paddleNLP
code：
from paddlenlp import Taskflow
similarity = Taskflow("text_similarity")

在多次调用（3-4次）之后，有一些句子对准确度会明显错误：
{'text1': '呃', 'text2': '哪位', 'similarity': 0.99999994}
{'text1': '您是在抖音上有留下您的信息', 'text2': '搞错啦', 'similarity': 0.8418089}
{'text1': '哎', 'text2': '我们已经在试用了', 'similarity': 0.8253542}

请问这种情况是什么原因呢，是我这边调用错了吗

[2022-07-07 01:36] nlper-77 commented on #2748
UIE蛮好用的  期待多模态版本

[2022-07-07 01:36] #2748 closed, assigned to linjieccc, yingyibiao

[2022-07-07 02:12] ZeyuTeng96 commented on #2743
请问后续有开放中文版本的较大的plato预训练模型的计划嘛？max_seq_length和position_embedding只到512，个人想尝试更大一点的长度。还有一个问题是plato-xl的vocab_size为什么会只有8001，相比于库里一些英文版本的gpt模型，这个vocab_size是否有点过小了？

[2022-07-07 02:22] pengfan7758258 opened #2750 "环境问题libcuda.so一直检索不到"
1）PaddleNLP和PaddlePaddle版本：例如paddlenlp 2.3.4，paddlepaddle 2.3.0.post112
2）系统环境：Linux-ubuntu20.04，python 3.8.3
<img width="447" alt="log" src="https://user-images.githubusercontent.com/62168810/177675659-75f34924-9b94-4f80-a394-950f5d8787fe.png">
<img width="457" alt="log" src="https://user-images.githubusercontent.com/62168810/177675737-d911fafd-4bb3-4140-ab95-e65887cd6fd3.png">
<img width="399" a

[2022-07-07 02:40] wawltor commented on #2750
这种情况一般都是paddle和cuda安装的问题，建议从以下方式来安装

1. 新建一个conda环境
2. 使用conda来安装paddlepaddle-gpu
<img width="919" alt="image" src="https://user-images.githubusercontent.com/16698950/177678801-f624f517-4ee7-4c5e-90d0-fbf44836758c.png">

https://www.paddlepaddle.org.cn/

[2022-07-07 02:42] pengfan7758258 commented on #2750
@wawltor 就是这样安装的不过选择的是linux下的conda下的CUDA11.2 的命令

[2022-07-07 02:44] pengfan7758258 commented on #2750
@wawltor 并且CUDA10.2的也尝试过，错误都是一样

[2022-07-07 02:47] pengfan7758258 commented on #2750
@wawltor 并且把Anaconda卸载重新装了，然后重新创的虚拟环境后还是一样的错误.............

[2022-07-07 03:15] pergrand opened #2751 "评价观点抽取，模型评估准确率低问题"
评估结果：
Name: 评价维度
 Evaluation Precision: 0.58621 | Recall: 0.42500 | F1: 0.49275
Class Name: 观点词
 Evaluation Precision: 0.54839 | Recall: 0.38636 | F1: 0.45333
环境:
最新的7月6日拉的最新代码
过程：
标注380条数据，模型训练默认的参数；uie-base。训练200轮

数据
{"id":198287,"text":"亲～,哪个水哇,箐纯,水,单独一个水不划算哦,你看看这个套装，超级划算,我霜家里好几个了,只想要水，有单独水的活动么,眼霜我也很多个了,单独水没有呢,水跟精华呢,水和精华一起有活动么,有的,没有呢,这是兑送的货品,积分兑送一瓶水么,嗯,是的,那么贵肯定好用了,[破涕为笑][破涕为笑],套餐不划算,我的亲啊，咋样才划算

[2022-07-07 04:52] wawltor commented on #2750
你可以尝试先把.bashrc的有关cuda的环境给删除，然后再尝试新建conda环境再次安装，因此这个问题就是cuda版本和paddle版本不对齐，只能多尝试一下 ~~

[2022-07-07 06:33] FrostML commented on #2743
这个问题可以移步在 https://github.com/PaddlePaddle/Knover/issues 问下~ 关于较大的 plato 预训练模型计划能得到更详细的解释~

[2022-07-07 07:15] weichen12345 opened #2755 "报错：IndexError: basic_string"
Traceback (most recent call last):
  File "/Users/mac/code/uie/demo.py", line 8, in <module>
    ie = Taskflow('information_extraction', schema=schema)
  File "/Users/mac/opt/anaconda3/envs/paddle/lib/python3.8/site-packages/paddlenlp/taskflow/taskflow.py", line 302, in __init__
    self.task_instance = task_class(
  File "/Users/mac/opt/anaconda3/envs/paddle/lib/python3.8/site-packages/paddlenlp/

[2022-07-07 08:14] yingyibiao commented on #2741
Done

[2022-07-07 08:14] #2741 closed, assigned to yingyibiao

[2022-07-07 08:35] linjieccc commented on #2755
@weichen12345 麻烦提供下paddlenlp和paddlepaddle的版本信息

[2022-07-07 09:00] w5688414 commented on #2749
模型使用的数据集可能不太适合您的场景，定制化的需求可以用数据集重新训练一下。
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/ernie_matching

[2022-07-07 09:05] shuangxunian commented on #2749
emmm
你可能理解错我的意思了 我的意思是明明一样的对话对 重复请求多次后为什么结果会变 同时还会超过1

[2022-07-07 09:06] leon-cas opened #2757 "请问是否有将uie训练好的模型转为trt的示列"
感谢提供的uie示列，目前已把模型训练，转onnx, 以及serving整个流程打通，但由于性能问题，想将onnx转为trt进行部署，请问有具体paddlenlp部署trt的server示列吗?

[2022-07-07 09:20] wawltor commented on #2757
我们测试过onnx的性能是比TRT的性能好的，想问一下你有打开半精度预测吗？

[2022-07-07 09:24] weichen12345 commented on #2755
@linjieccc
mac os 1.1
paddlenlp版本 2.3.0
paddlepaddle版本 2.3.1
python版本 3.8
谢谢了

[2022-07-07 09:34] wawltor commented on #2755
建议更新一下PaddleNLP的版本到最新2.3.4版本，同时把~/.paddlenlp目录删除，再重新尝试一下代码

[2022-07-07 09:40] linjieccc commented on #2749
@shuangxunian
您好，猜测是有多个请求同时调用了一个Taskflow实例。Taskflow目前还不支持多个请求同时调用，您可以通过在服务端加锁的方式来实现交替调用，示例：

[code]

最近我们会提供一个统一的Taskflow任务的服务化部署方式，欢迎持续关注

[2022-07-07 09:54] weichen12345 commented on #2755
删除~/.paddlenlp目录  解决问题了。谢谢！！

[2022-07-07 10:01] leon-cas commented on #2757
没有打开半精度预测，目前预测时长50ms左右，正常吗？。 onnx打开半精度相比trt性能会好多少？。 请问打开半精度后，有评估过预测效果差异吗？对预测准确度影响大吗？

[2022-07-07 11:12] w5688414 commented on #2750
如果还是不行，可以使用docker安装

[2022-07-07 11:20] wawltor commented on #2757
预测效果差距不大，基本没有效果损失；但是性能会有较大的提升，下面是ERNIE-3.0上的一个性能提升指标，可以参考
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/16698950/177761611-71478d89-9e48-416a-b987-becc38a28886.png">

同时也是建议多试试UIE Tiny系列的模型，目前我们发布了不同size的模型，可以尝试
<img width="508" alt="image" src="https://user-images.githubusercontent.com/16698950/177761789-d44834b5-73fa-436b-a583-e1c27a3df892.png">

[2022-07-07 11:30] shuangxunian commented on #2749
十分感谢！目前来看就是这个问题！！！

[2022-07-07 13:37] yuaBing opened #2759 "在序列化时，超出指定的最大长度"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，PaddlePaddle2.3.0
2）系统环境：官网的notobook ，python 3
- 复现信息：如为报错，请给出复现环境、复现步骤
-
![image](https://user-images.githubusercontent.com/51101693/177786525-a77713e0-1dc1-4ce1-9cf9-a1d53d8c54b4.png)
如图，在tokenizer我指定了最大的长度为128，然后填充padding到最大长度max_length.
但最后我输出的时候，有大于128，如图。
![image](https://user-im

[2022-07-07 13:44] w5688414 commented on #2759
请贴一下最小复现代码，方便我们复现和定位原因，不要截图哈

[2022-07-07 13:51] yuaBing commented on #2759
def convert_example(example,tokenizer,label_vocab,max_seq_len=512,is_test=False):
    #测试集没有标签
    if is_test:
        text = example
    else:
        text, label = example
    tokenizer_input = tokenizer.encode(text=text, max_length=128, padding='max_length', return_length=True, return_attention_mask=True)
    input_ids = tokenizer_input["input_ids"]
    token_type_ids = tokenizer_input["token_t

[2022-07-07 13:51] yuaBing commented on #2759
数据集是用的resume

[2022-07-07 14:58] w5688414 commented on #2759
[code]

这是输出：

[code]

[2022-07-07 15:22] janleemark opened #2760 "如何实现中文版本的CTRL算法呢？"
尝试借鉴paddleNLP中的CTRL，如何从头训练一个中文版本的CTRL算法

[2022-07-08 02:39] w5688414 opened #2761 "Pipelines语义索引 ImagetoTextConverter缺失问题和语义索引docdir路径问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/12107462/177905807-322b2b27-fd71-412a-84fd-ccda1d60cceb.png)

![image](https://user-images.githubusercontent.co

[2022-07-08 02:48] wawltor commented on #2755
您好，目前的问题已经解决，我们将关闭issue，如有问题可以继续给我们提issue！

[2022-07-08 02:48] #2755 closed, assigned to linjieccc

[2022-07-08 02:55] leon-cas commented on #2757
谢谢。刚刚试了下使用fp16， 但基于fp16_model.onnx进行推理时，预测没有任何结果。 同样的代码，不使用fp16时，基于model.onnx测试预测结果没问题。

使用fp32, 日志如下
[2022-07-08 11:40:49,510] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-07-08 11:40:49,510] [    INFO] - Already cached /root/.paddlenlp/models/ernie-3.0-base-zh/ernie_3.0_base_zh_vocab.txt

[Paddle2ONNX] Start to parse

[2022-07-08 03:21] #2749 closed, assigned to w5688414, linjieccc

[2022-07-08 04:00] wawltor commented on #2757
能提供一下你具体怎么使用PF16的吗? 以及你的显卡型号

[2022-07-08 04:04] hhxdestiny commented on #1889
@linjieccc Hi，循环跑信息抽取任务时，GPU占用不高，我想充分利用GPU，开多线程效果不佳，然后多进程，也遇到了类似问题，运行环境BML V100单卡，paddlenlp最新版本，复现代码如下：
[code]
日志如下
[code]

[2022-07-08 04:06] wawltor commented on #2757
或者你可以加速试一下Taskflow来加载训练好的模型，Taskflow里面已经集成了FP16加速
1. Taskflow加载微调模型
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/16698950/177914899-819fec17-0072-4789-8108-64d52848a842.png">
2. 使用Taskflow 半精度预测
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E4%BF%A1%E6%81%AF%E6%8A%BD%E5%8F%96
<img width="1079" alt="image" src="https://user-images

[2022-07-08 04:07] HuStanding commented on #1889
你加一个batch_size,调大一点，GPU利用率就上去了

[2022-07-08 06:05] leon-cas commented on #2757
使用fp16方式： 直接使用的infer_gpu代码， 设置use_fp16，只是替换了main函数中的示列，其他的没有任何变化

环境配置如下：
cuda 11.2,  cudnn 8, paddle:2.3.0
onnx                   1.12.0
onnxconverter-common   1.9.0
onnxruntime-gpu        1.11.1
paddle2onnx            0.9.8
paddlenlp              2.3.3
paddlepaddle-gpu       2.3.0.post112

[2022-07-08 06:10] wawltor commented on #2757
你可以先试试Taskflow里面的，试试   我们在很多业务线测试过，FP16是不影响精度的，不确定是不是使用过程中的问题；建议先用Taskflow来加载一下模型，看看半精度是否Work

[2022-07-08 06:48] tianmafly commented on #2714
ernie-health中的cblue的train_classification.py例子中，带有的KUAKE-QIC多分类数据集可达到0.8的准确率。
但使用真实病例数据，两种疾病，batch_size=256，epoch=100，其他的都是默认参数。训练集准确率在0.99左右，验证集准确率在0.5左右。
python -m paddle.distributed.launch --gpus 0 train_classification_cdss.py --dataset CHIP-CDN-2C --batch_size 256 --max_seq_length 32 --learning_rate 3e-5 --epochs 100 --device gpu
两种疾病训练集均为1200份，验证集均为300份。
![Screenshot from 2022-07-08 14-45-35](

[2022-07-08 06:54] Armorhtk opened #2765 "ernie-m 模型问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0，PaddlePaddle2.3.4
2）系统环境：AI studio V100 32G

在使用ernie-m发现两个问题：
1. 在paddlenlp的ernie-m源码中example出现书写错误，第269行和270行的model和tokenizer应该互换一下，不然会报错
![书写错误](https://user-images.githubusercontent.com/68628239/177931528-3eea8f1a-c9f3-4e5b-8890-2f5d400ddf75.jpg)
2. 在使用ernie-m模型时，复现结果无法固定，每次重启kernel运行后得到的分数是不一样的，测试代码和结果图片如

[2022-07-08 07:21] leon-cas commented on #2757
直接使用Taskflow+fp16预测没有问题，gpu为2080，延时30ms;   使用fp32 50ms；

能帮忙评估下使用fp16, onnx的预测无结果的问题吗？

[2022-07-08 07:21] bruce0210 commented on #2761
环境配置为：
2xCPU 16GiB内存
centos7.5
anaconda->python3.8.5
paddlepaddle==2.3.0（cpu）
paddleNLP==2.3.4
----------------------------------
即：按照文档中步骤依次执行到该步骤时，出现下图中报错信息：
![image](https://user-images.githubusercontent.com/100854336/177935558-13b86907-3e3f-4ed4-8351-d49688780c4d.png)
----------------------------------
BTW：
在执行时会先抛出如下提示：
![image](https://user-images.githubusercontent.com/100854336/177937673-e7

[2022-07-08 07:29] bruce0210 commented on #2761
关于下图出现的问题：
![image](https://user-images.githubusercontent.com/100854336/177939441-fae76867-5e44-47b8-93b9-584a0646c65c.png)
我修改了：rest_api/pipeline/semantic_search.yaml中的：index: baike_cities
并注释掉了：
# - name: ImageFileConverter
#   type: ImageToTextConverter
详见下图中位置：
![image](https://user-images.githubusercontent.com/100854336/177939825-f2ab6956-68f8-48ea-b7d2-872088c1f714.png)
然后依次重新启动服务，可正常输出查询结果。

[2022-07-08 07:38] wawltor commented on #2757
这个可能需要提供一下你的代码和模型、测试数据了, 因为我们本地测试自己的模型和数据是没有问题的，您看看是否方便把相关通过邮件发给我们？

[2022-07-08 08:29] leon-cas commented on #2757
请问通过什么方式发送比较方便？

[2022-07-08 08:49] wawltor commented on #2757
980627148@qq.com

[2022-07-08 10:31] w5688414 commented on #2761
![image](https://user-images.githubusercontent.com/12107462/177975495-033c529f-42ff-4b92-beca-99088eaf2bb3.png)
[code]

[2022-07-08 10:37] PengyuanHAN opened #2767 "RuntimeError: Downloading from https://bj.bcebos.com/paddlenlp/models/transformers/community/gpt-cpm-large-cn/vocab.json failed with code 404!"
PaddleNLP 2.2.5，PaddlePaddle2.3.0
Running on BML, how to solve this problem?

[2022-07-08 13:40] wawltor commented on #2767
需要更新一下PaddleNLP的版本到最新的版本

[2022-07-09 08:12] 1689665417 opened #2769 "model_zoo/uie定制训练出现错误AttributeError: 'DataLoader' object has no attribute 'prefetch_factor'"
环境如下：Ubuntu 180.4  python3.6.10
![image](https://user-images.githubusercontent.com/43131195/178097444-5517aa5b-a81c-460c-adde-ecbe401956b3.png)
![image](https://user-images.githubusercontent.com/43131195/178097462-8e0fa125-997a-42d8-86bb-ea68dbd5c59e.png)
![image](https://user-images.githubusercontent.com/43131195/178097472-f8a66d17-fc5b-47e6-9fde-db56e977b7bb.png)
错误提示如下：
![image](https://user-im

[2022-07-09 11:55] abc-w opened #2770 "使用PaddleNLP自定义的本地csv数据集做机器阅读理解，报错，救救我吧"
因为手头有一份数据，格式是csv，使用PaddleNLP自定义的本地csv数据集做机器阅读理解，在map()方法来进行批量数据集处理报错，救救我吧

[2022-07-09 11:58] abc-w commented on #2770
![屏幕截图 2022-07-09 194343](https://user-images.githubusercontent.com/84693075/178104648
![屏幕截图 2022-07-09 194531](https://user-images.githubusercontent.com/84693075/178104655-2a92a6a8-bf69-4cc9-b2bf-4b962bc3e527.png)
-9e36e491-8896-4d9f-b009-51033b67ca0c.png)
![屏幕截图 2022-07-09 194427](https://user-images.githubusercontent.com/84693075/178104651-b6fc9f8e-d37c-4954-b572-5b896a90e285.png)

[2022-07-09 11:59] abc-w commented on #2770
![屏幕截图 2022-07-09 194343](https://user-images.githubusercontent.com/84693075/178104683-2cc26a46-8b3d-433a-af34-8c7ff096e2b6.png)
![屏幕截图 2022-07-09 194427](https://user-images.githubusercont
![屏幕截图 2022-07-09 194531](https://user-images.githubusercontent.com/84693075/178104692-34988df7-a8bf-4583-a69c-dbdcffa7578e.png)
ent.com/84693075/178104689-77292c0c-c620-4f5a-858a-55db8688c6f8.png)

[2022-07-09 12:00] abc-w commented on #2770
![屏幕截图 2022-07-09 194343](https://user-images.githubusercontent.com/84693075/178104713-3eef92a1-5d8c-48a7-9259-12fb2bf4e3ee.png)
![屏幕截图 2022-07-09 194427](https://user-images.githubusercontent.com/84693075/178104718-d710409b-225c-4618-a502-5679dc58e18c.png)
![屏幕截图 2022-07-09 194531](https://user-images.githubusercontent.com/84693075/178104723-b815c58e-8487-4d2b-b66f-7f62caf32470.png)

[2022-07-10 02:32] datalee opened #2771 "onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Unexpected input data type. Actual: (tensor(int32)) , expected: (tensor(int64))"
window cpu环境下，uie转onnx，做推理时，报数据类型不一致，这个要在哪里设置？

[2022-07-10 02:33] datalee commented on #2771
[https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/infer_cpu.py](url)

[2022-07-10 03:12] datalee commented on #2771
在uie_predictor.py的175行，做下类型转换就行了：
`            input_dict = {
                "input_ids": encoded_inputs['input_ids'][l:r].astype('int64'),
                "token_type_ids": encoded_inputs['token_type_ids'][l:r].astype('int64'),
                "pos_ids": encoded_inputs['position_ids'][l:r].astype('int64'),
                "att_mask": encoded_inputs["attention_mask"][l:r].astype('int64')

[2022-07-10 03:13] #2771 closed, assigned to nobody

[2022-07-10 07:45] ZHUI commented on #2770
应该是传人的格式处理问题，可以现在 prepare_train_feature 哪里加入一行打印，看看传入的是啥

[2022-07-10 07:47] ZHUI commented on #2769
`pip install paddlenlp --upgrade` 需要安装最新的  paddlenlp 版本

[2022-07-10 07:52] abc-w commented on #2770
![image](https://user-images.githubusercontent.com/84693075/178136172-556e669c-fbcc-4e62-8608-98d3048733df.png)

[2022-07-10 07:54] abc-w commented on #2770
![image](https://user-images.githubusercontent.com/84693075/178136210-32cc6735-1b6f-4c69-8471-d24ccdeb9b83.png)

[2022-07-10 09:29] abc-w commented on #2770
查不出来啥问题

[2022-07-10 16:57] guoshengCS commented on #2770
如果`.map(batch=True)`的话`train_trans_func`接受的输入会是example的list，这里`train_trans_func`是如何实现的呢

[2022-07-11 01:16] abc-w commented on #2770
是内置的partial()实现的，我照着示例代码改的

[2022-07-11 02:05] moming11 opened #2772 "使用model_zoo/uie训练关系抽取DuIE指标较低"
使用model_zoo/uie下代码finetune数据集DuIE时，指标仅达到 f1 0.7左右，距离该数据集上较好的结果均有很大的差距，模型是基于uie-base 进行finetune的，请问如何提高呢？

[2022-07-11 02:40] ZHUI commented on #2769
你好，问题可以解决了吗？

[2022-07-11 02:44] 1689665417 commented on #2769
昨天试着paddlepaddle-gpu和paddlenlp版本退回到2.3.0，同时取消onnx相关三个依赖的安装，得到解决。你说的方式暂时没有尝试。

[2022-07-11 02:55] 1689665417 commented on #2769
不清楚在保持paddlepaddle-gpu和paddlenlp版本是2.3.1的情况下，取消onnx三个依赖，能否成功。
可能是onnx加速依赖的问题上，pip 一直无法正常安装onnx，随后使用
conda install -c conda-forge numpy protobuf==3.16.0 libprotobuf=3.16.0
conda install -c conda-forge onnx 完成安装，但是运行时得到上述错误。

由于不太清楚哪里出现问题，暂用2.3.0 版本，取消onnx相关三个依赖，解决此问题。

[2022-07-11 03:02] AhriZ08 opened #2773 "使用通用信息抽取模块finetune微调出现ValueError: not enough values to unpack (expected 2, got 1)"
PaddleNLP 2.3.0，PaddlePaddle2.2.2
系统环境：Windows，python3.7.0
按照说明步骤执行
python finetune.py \
    --train_path "./data/train.txt" \
    --dev_path "./data/dev.txt" \
    --save_dir "./checkpoint" \
    --learning_rate 1e-5 \
....
微调训练命令出错
提示
 File "finetune.py", line 105, in do_train
    pos_ids)
ValueError: not enough values to unpack (expected 2, got 1)

[2022-07-11 03:03] wawltor commented on #2757
@leon-cas 想问一下，现在还有疑问吗？

[2022-07-11 03:44] ZHUI commented on #2769
这个错误是已知的，跟 onnx 关系不大。
升级 paddlenlp 或者 降级 paddle版本，都可以解决 DataLoader 报错。

onnx 安装还有问题吗？

[2022-07-11 04:21] 1689665417 commented on #2769
使用conda 可以安装成功。

[2022-07-11 04:34] gongel commented on #2765
你好，
- 1.文档问题我们这边尽快修复；
- 2.固定seed目前无法固定住一些模型训练的loss，这个涉及到底层的某些op，这个我们内部还在排查，有结果了也让你知晓。但seed一般不会影响很大，多次训练的diff基本上都可以接受。

[2022-07-11 05:05] wawltor commented on #2773
你可以先升级一下PaddleNLP的版本到最新的版本试试

[2022-07-11 05:10] guoshengCS commented on #2770
还请提供下train_trans_func的代码或链接看看呢

[2022-07-11 05:39] Shawnc00 opened #2774 "Paddlenlp运行问题"
我每次执行Taskflow函数之后，会出现如下的报错信息，测试时包括4项指标，且这些报错信息重复出现了4次。
但程序在报错后可以正常运行出结果。
e[37m---    fused 0 elementwise_add with relu activatione[0m
e[37m---    fused 0 elementwise_add with tanh activatione[0m
e[37m---    fused 0 elementwise_add with leaky_relu activatione[0m
e[37m---    fused 0 elementwise_add with swish activatione[0m
e[37m---    fused 0 elementwise_add with hardswish activatione[0m
e[37m---

[2022-07-11 06:03] wawltor commented on #2774
您好，这个并不是报错信息，是正常中间日志信息，你可以忽略；同时我们看看能不能把这些日志给隐藏掉，防止干扰！

[2022-07-11 06:13] Shawnc00 commented on #2774
好的，感谢您的回复，解决了一直以来的疑惑~

[2022-07-11 07:21] linjieccc commented on #2772
您好，在doccano.py数据转换阶段可以尝试使用sample_ratio调整下正负样本的比例

[2022-07-11 07:34] moming11 commented on #2772
请问DuIE这个数据集比例用多少比较合适呢？在这个数据集上使用UIE指标一般能达到多少呢？
我自己尝试了1：1效果不好，而且用doccano.py数据转换生成负例速度很慢。

[2022-07-11 07:49] abc-w commented on #2770
https://aistudio.baidu.com/aistudio/projectdetail/4306696?shared=1

[2022-07-12 01:28] WethatVivy opened #2779 "报错You should supply an encoding or a list of encodings to this method that includes input_ids, but you provided []"
PaddleNLP 2.3.3    PaddlePaddle-gpu 2.3.0.post112  win10  python 3.7.13
报错代码：result = ie(textlist)
补充代码：ie = Taskflow('information_extraction', schema=schema,task_path=./checkpoint/model_best)
                  textlist是一个不含空串的字符串列表。
详细情况：ie是用uie_medium增量训练的模型，持续从数据库中拿出文本处理成字符串列表后传入ie，一开始没有问题，运行了一段时间后，在某份数据之后报了You should supply an encoding or a list of encodings to this method that includes input_

[2022-07-12 02:21] linjieccc commented on #2779
@WethatVivy 升级paddlenlp到最新版本再试下

[2022-07-12 02:27] guoshengCS commented on #2770
运行了下，这里的examples是个list
<img width="795" alt="image" src="https://user-images.githubusercontent.com/14105589/178395146-682172a6-059b-48d2-8ef6-124eb623f80a.png">
用str从中取值所以报了这个错，tokenizer处理之后的结果才是dict
<img width="877" alt="image" src="https://user-images.githubusercontent.com/14105589/178395279-6da98188-8286-411b-8f37-0deaa58debbd.png">

[2022-07-12 02:33] #2774 closed, assigned to linjieccc

[2022-07-12 02:50] Otiss-pang opened #2781 "在自定义数据集时出现assert lazy is not None, "lazy can not be None in custom mode.""
准备用paddleNLP的bert实现一个文本二分类任务，在处理自定义数据集时出现了assert lazy is not None, "lazy can not be None in custom mode."的报错，请问这个问题如何解决呢？
具体报错代码如下
[code]
系统为centos，paddlepaddle版本为2.3.1，paddleNLP版本为2.3.4

[2022-07-12 04:28] abc-w commented on #2770
![image](https://user-images.githubusercontent.com/84693075/178408363-44175953-b540-4f85-9f3b-ecdfb160c606.png)
已经加了 tokenizer处理，还是报这个错，有啥解决办法吗，麻烦了
https://aistudio.baidu.com/aistudio/projectdetail/4306696?shared=1

[2022-07-12 06:02] wawltor commented on #2781
能提供一下具体的代码？ 同时在文本分类方向我们做了一个应用工具，可以按照具体的数据格式来组织文本数据就可以训练预测部署，具体可以看 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class

[2022-07-12 06:47] Otiss-pang commented on #2781
谢谢你的回复，问题解决了，在代码中不小心把lazy写为了Lazy。我也会尝试一下这个分类工具，再次感谢QAQ

[2022-07-12 06:47] #2781 closed, assigned to lugimzzz

[2022-07-12 09:30] hanfeng11 opened #2783 "in_batch_negative加载simcse生成的预训练模型地址继续训练报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.3，PaddlePaddle 2.3.0
2）系统环境：win10 ; python3.9
- 复现信息：**in_batch_negative加载simcse生成的预训练模型地址继续训练报错**
- `pretrained_model = ppnlp.transformers.ErnieModel.from_pretrained('./output/model_1200') #这边加载报错`
    `tokenizer = ppnlp.transformers.ErnieTokenizer.from_pretrained('./output/model_1200')

[2022-07-12 09:42] HeziLiu opened #2785 "import paddlenlp 出现 from paddle.nn.layer.transformer import _convert_attention_mask ImportError: cannot import name '_convert_attention_mask'"
- 版本信息
paddle 0.0.0
(在飞腾/鲲鹏下从源码编译的版本,编译过程参考https://www.paddlepaddle.org.cn/documentation/docs/zh/install/compile/arm-compile.html)拉取的是paddle最新develop分支  应该是2.3.1 但因为是develop，所以版本号默认为0.0.0）
paddlenlp 2.3.4
- 系统环境
python3.6.7
gcc 8.2
linux aarch64架构
- 复现步骤
安装完import paddlenlp之后会出现
![image](https://user-images.githubusercontent.com/28861483/178461064-f8600063-bde9-4ef4-9530-0f14803c3f46.png)

[2022-07-12 09:47] tianxin1860 commented on #2785
是出于什么考虑必须从 develop 分支编译 paddle 源码呢？一般推荐安装官方发布的稳定版 paddle 版本: `python -m pip install paddlepaddle-gpu==2.3.1 -i https://mirror.baidu.com/pypi/simple`

[2022-07-12 09:49] HeziLiu commented on #2785
需要适配国产芯片 paddle安装必须源码安装 且官方教程里说是要在develop分支下进行编译https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/install/compile/arm-compile.html
<img width="875" alt="image" src="https://user-images.githubusercontent.com/28861483/178462718-fe9bf44b-798e-4b84-ac96-3ab8fee692bd.png">

[2022-07-12 09:54] HeziLiu commented on #2785
想问一下这个错误的原因 是因为paddlenlp依赖 paddle>=2.2吗？

[2022-07-12 10:02] w5688414 commented on #2783
[code]
这样加载试试

[2022-07-12 12:12] nlper-77 opened #2787 "ernie-3.0-nano-zh 和 ernie-3.0-micro-zh是不是没有发布？"
[2022-07-12 20:11:05,019] [    INFO] - Downloading model_config.json from https://bj.bcebos.com/paddlenlp/models/community/ernie-3.0-nano-zh/model_config.json
[2022-07-12 20:11:05,173] [   ERROR] - Downloading from https://bj.bcebos.com/paddlenlp/models/community/ernie-3.0-nano-zh/model_config.json failed with code 404!
Traceback (most recent call last):
  File "/home/liuts/.conda/envs/liuts/lib/p

[2022-07-12 12:17] ZHUI commented on #2787
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/modeling.py#L470-L471

有的，您升级 paddlenlp 版本试试
[code]

[2022-07-12 12:20] nlper-77 commented on #2787
是的 版本问题 我刚刚也发现了 。。。谢谢

[2022-07-12 12:20] #2787 closed, assigned to nobody

[2022-07-13 04:01] guoshengCS commented on #2770
因为您那边目前使用的是paddlenlp中的`load_dataset`，而不是使用的HF的`load_dataset`和数据集，这两个在使用时会有些差异：

- 下面这种是在使用HF的`load_dataset`和数据集使用的，需要将examples当做dict使用，是dict of list

[code]
<img width="848" alt="image" src="https://user-images.githubusercontent.com/14105589/178645109-f69e9017-d66e-427f-a8b4-788ba9cb2546.png">

- 而您这边因为使用的是paddlenlp中的`load_dataset`和数据集，还是需要原来的（注释中的）这种，需要将examples当做list使用，是list of dict

[code]

[2022-07-13 07:18] abc-w commented on #2770
![image](https://user-images.githubusercontent.com/84693075/178673959-69c8e7ba-b048-4020-8b0f-6d72072ff856.png)
按您的改了还是报错，不太明白该怎么改了，麻烦了
https://aistudio.baidu.com/aistudio/projectdetail/4306696?contributionType=1&shared=1

[2022-07-13 08:14] jiweibo opened #2793 "预训练模型导出预测格式，部分模型导出失败"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

版本信息：
Paddle develop
PaddleNLP 2.3.4
系统：
LInux，python3.9

复现信息：
convert_model.py文件内容如下
[code]

convert.sh文件内容如下：
[code]

多个模型无法导出为预测模型，复现方法  bash convert.sh
![im

[2022-07-13 08:14] nan534582559 opened #2794 "ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log."
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp                      2.3.4
paddlepaddle-gpu       2.2.1.post112
2）系统环境：
Linux version 4.17.11-1.el7.elrepo.x86_64 (mockbuild@Build64R7) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC)) #1 SMP Sat Jul 28 09:33:09 EDT 2018
NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 20

[2022-07-13 08:41] wawltor commented on #2794
你可以看看 logs/下面的具体日志，有错误日志可以发我们看一下

[2022-07-13 10:13] nan534582559 commented on #2794
log 日志没有报错信息
[log.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9101153/log.zip)

[2022-07-13 11:17] wawltor commented on #2794
看日志没有看出明显的错误，你可以尝试一下 执行以下的命令，看看是否有问题？

也可以检查一下硬盘空间是否充足

[code]

[2022-07-14 03:38] lcneyc opened #2796 "Taskflow API调用后无响应"
1）PaddleNLP和PaddlePaddle版本：paddlepaddle-gpu==2.3.0.post112  paddlenlp==2.3.4
2）系统环境：python==3.8.13   CentOS==7.9.2009

[2022-07-14 11:35:11,901] [    INFO] - Downloading model_state.pdparams from https://bj.bcebos.com/paddlenlp/taskflow/lexical_analysis/lac/model_state.pdparams
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████

[2022-07-14 05:00] wawltor commented on #2796
seg = Taskflow("word_segmentation"， device_id='-1') 试试

[2022-07-14 05:05] lcneyc commented on #2796
您好，谢谢解答。
但其实我理解深层是gpu无法调用，但在这之前paddle框架我做ocr的时候是可以使用gpu的，就是在安装paddlenlp后gpu无法调用了。

[2022-07-14 05:08] wawltor commented on #2796
是说执行上面device_id=-1代码就可以是吗？ 想问一下你的设备显存多大了？

[2022-07-14 05:22] lcneyc commented on #2796
您好，谢谢，我之前卸载了paddlenlp，现在重新安装后试验：

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/tjidc/anaconda3/envs/paddle/lib/python3.8/site-packages/paddlenlp/taskflow/taskflow.py", line 319, in __init__
    paddle.set_device(device + ":" + str(device_id))
  File "/home/tjidc/anaconda3/envs/paddle/lib/python3.8/site-packages/paddle/device/__init__.py", line 313, in set_

[2022-07-14 06:00] wawltor commented on #2796
显卡应该是可以用的，seg = Taskflow("word_segmentation"， device_id=-1) 试试， device_id是int类型数据

[2022-07-14 07:06] abc-w opened #2799 "机器阅读理解将官方的baseline里的内置数据集改为本地的数据集报错，改了好久，一直不知道啥问题"
https://aistudio.baidu.com/aistudio/projectdetail/4306696?shared=1
![image](https://user-images.githubusercontent.com/84693075/178921919-e4c16ae9-f3e3-4c42-a470-191f2b5a77c0.png)
![image](https://user-images.githubusercontent.com/84693075/178921966-1c90e13e-e92f-48e5-8f44-47f1b14a9a01.png)
![image](https://user-images.githubusercontent.com/84693075/178922326-2bef3907-9fac-4cdd-8337-2b3b26a28536.pn

[2022-07-14 07:20] nan534582559 commented on #2794
<img width="690" alt="image" src="https://user-images.githubusercontent.com/42995334/178924962-e8bae2c3-831a-4c57-bca5-5dfb804b485e.png">
之前是这个训练方式，现在缺少vocab.json 文件,磁盘空间足够的还有100G 可用

[2022-07-14 07:55] wawltor commented on #2794
方便分享一下aistudio教程吗？

[2022-07-14 08:00] nan534582559 commented on #2794
这个不是在aistudio里面，可以用如流联系吗

[2022-07-14 08:05] lcneyc commented on #2796
device_id=-1之后可用，现在paddlenlp无法调用gpu应该与paddle框架有关，我已经在paddle的issue中提问，如果您知道如何解决更好了
W0714 11:35:41.619335 111111 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0714 11:35:41.625015 111111 gpu_context.cc:306] device: 0, cuDNN Version: 8.1.
run_check()/每次都卡在这里

[2022-07-14 08:08] chenxiaozeng opened #2802 "动转静验证"
- [ ] ERNIE-CTM
- [ ] ERNIE-DOC
- [ ] LayoutLM、LayoutXLM
- [ ] Nezha
- [ ] XLNet

[2022-07-14 08:10] wawltor commented on #2794
你是公司百度内部的同学？ 找方泽阳

[2022-07-14 08:19] wawltor commented on #2796
一般情况下都是paddle版本安装的问题，建议通过conda来安装paddlepaddle-gpu版本，cuda的版本选择11.2版本
<img width="847" alt="image" src="https://user-images.githubusercontent.com/16698950/178936175-0d764714-c941-4b83-aaba-b9bd4453a615.png">
https://www.paddlepaddle.org.cn/

[2022-07-14 08:22] lcneyc commented on #2796
您好，谢谢解答，之前就按照官网conda命令新配了环境，然而问题仍未解决，所以感觉有些奇怪，谢谢！

[2022-07-14 08:31] yrg5101 opened #2803 "paddlenlp中有没有基于ernie3.0在中文STS-B数据上的预训练模型"
paddlenlp中有没有基于ernie3.0在中文STS-B数据上的预训练模型可以直接用的？ 谢谢

[2022-07-14 09:17] wawltor commented on #2796
3090的显卡需要安装cuda11的版本，之前遇到的问题基本是这样解决的

[2022-07-14 09:20] nan534582559 commented on #2794
好的

[2022-07-14 09:30] guoshengCS commented on #2770
这里应该是另一个报错了，之前这个问题应该已经没有了。
<img width="496" alt="image" src="https://user-images.githubusercontent.com/14105589/178951194-b8636006-2988-48f6-b2e0-ea473c712e49.png">

我们这边再看下当前这个问题
<img width="805" alt="image" src="https://user-images.githubusercontent.com/14105589/178951324-aebbf6c5-9c65-45be-89e5-7505ba40a8e9.png">

[2022-07-14 09:52] LemonNoel commented on #2799
尝试运行了一下，现在在prepare_train_features就报错了。看数据格式只有label的部分是不一样的，可以从原有代码改起，着重检查下修改后label的格式。

[2022-07-14 10:12] LemonNoel commented on #2803
这个没有训练好的哈，可以用这个代码跑一下https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/benchmark/glue/run_glue.py

[2022-07-14 12:27] guoshengCS commented on #2770
我这里debug了下，看好像确实有些不是str的输入
<img width="963" alt="image" src="https://user-images.githubusercontent.com/14105589/178981891-f6de1c88-73a8-4698-b2c1-98da3940c883.png">
去看了下csv文件，好像第269条数据有些问题，这个还麻烦确认下呢
<img width="990" alt="image" src="https://user-images.githubusercontent.com/14105589/178982099-6073ea3d-a874-489a-b51c-8e0b6d7231c7.png">

[2022-07-14 13:47] abc-w commented on #2770
我用了另一个baseline把空值删除后，可以了，但是数据缺少‘answer_start’，飞桨内置的数据集都是有的，但是正常的业务里的数据没有这一项，请问一下这块该怎么处理，也没查到相关的代码

[2022-07-14 13:51] lcneyc commented on #2796
您好，谢谢，但我现在确实是cuda11.2 cudnn8.1.1，这个在runcheck时候也体现了
W0714 11:35:41.619335 111111 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.2, Runtime API Version: 11.2
W0714 11:35:41.625015 111111 gpu_context.cc:306] device: 0, cuDNN Version: 8.1.

[2022-07-14 14:40] LemonNoel commented on #2714
验证集准确率最高是0.5左右吗？KUAKE- QIC有将近7000条训练样本，CHIP-CDN-2C更多。这个场景有可能是过拟合了，可以适当减小下valid_steps和epoch再看看效果

[2022-07-15 01:56] yrg5101 commented on #2803
好的谢谢

[2022-07-15 01:56] #2803 closed, assigned to LemonNoel

[2022-07-15 02:01] czcz1024 opened #2806 "关于 信息抽取 功能的一个疑问"
我按照文档上的例子，
`schema = ['时间', '选手', '赛事名称','名次']
ie = Taskflow('information_extraction', schema=schema)
pprint(ie("2月8日上午北京冬奥会自由式滑雪女子大跳台决赛中中国选手谷爱凌以188.25分获得金牌！"))`
增加了抽取名次，但是结果中没有抽取到这个信息。
从人类的角度，信息中有 金牌，那名次是第一名，这个是可以理解的。
请问是我使用的方式不对，还是目前这个模块无法抽取这种信息？

[2022-07-15 02:10] guoshengCS commented on #2770
这个应该是需要在context里查找下answer的位置，然后设置下answer_start

[2022-07-15 02:18] abc-w opened #2807 "请问利用PaddleNLP机器阅读理解时，本地数据不像内置数据有answer_start这一项该怎么做"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
-
请问利用PaddleNLP机器阅读理解时，本地数据不像内置数据有answer_start这一项该怎么做，手动标注吗，没有看到相关的代码

[2022-07-15 02:21] zhangluustb commented on #756
下载数据、pretrain模型等都需要网络连接，没网络的情况下，可以先下载好数据和权重，采用 -o pretrain_weights=your_pdparams 的方式训练

[2022-07-15 02:28] abc-w commented on #2770
是的，不会要手动标注吧，没有找到相关代码

[2022-07-15 02:32] zhanghaoie commented on #2720
Hi, 发现有个问题，我替换成t4部署后，刚开始性能还可以，大概6层的模型20个返回， 可以压到40qps，平均响应时间在160ms，但是随着压测时间的增加，显存会明显增加，当显存在15g左右的时候，吞吐就大幅度下降，平均响应时间在280ms了。

[2022-07-15 02:56] wawltor commented on #2806
您好，你现在使用的模型是一个zero-shot的模型(模型在宽泛的场景能力比较有限)，在具体的应用场景中，需要针对需求来进行微调，UIE的一个特性就是小样本学习能力，通过少量标注数据可以快速提升效果，具体微调的方式
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-07-15 03:06] guoshengCS commented on #2770
不需要手动标注，在代码里字符串匹配下就行

[2022-07-15 03:07] guoshengCS commented on #2807
same as #2770

[2022-07-15 03:07] guoshengCS commented on #2799
same as #2770

[2022-07-15 03:28] Heihaierr opened #2808 "你好，我用uie做100多个实体识别的时候发现特别耗时，看过代码后发现预测是一个类别一个进行预测的，每个都判断一次，所以很耗时，请问是这样吗？原论文的实现方法也是这样吗？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-07-15 03:35] ssrssrcode opened #2809 "Fast Generation生成结果不一致"
你好，我发现使用fast generation进行生成推理时，会出现生成结果明显比不使用要短，而且质量下降。请问其内部原理是否会影响生成结果？

[2022-07-15 04:27] abc-w commented on #2807
![image](https://user-images.githubusercontent.com/84693075/179150160-a9cb082a-3b0a-4a6c-880b-8ea249f25f2b.png)
利用正则表达式re.search()匹配下标，但是有的正常数据会出现匹配不到，有没有其他好的方法

[2022-07-15 04:52] Armorhtk commented on #2765
好滴，谢谢回复，希望尽快修复seed问题，在少样本实验上diff还是有较大差异

[2022-07-15 04:55] gongel commented on #2765
好的，文档问题已修复 #2804，seed我们也在看哈～有进展即时同步出来。

[2022-07-15 05:13] CoinCheung opened #2810 "请问ner支持自己的数据集吗"
https://github.com/PaddlePaddle/PaddleNLP/blob/7745db00b4ae00fd7a02a87cffc4ecd69cbb00fe/examples/information_extraction/msra_ner/train.py#L46

请问在数据格式应该是啥，在哪里指定数据集的目录?

貌似这个repo里面，除了uie之外，都没有说怎么使用自己的数据集做ner任务?

[2022-07-15 05:41] #1875 closed, assigned to nobody

[2022-07-15 05:49] KyleWang-Hunter commented on #2808
cpu无法玩啊，速度太慢了。

[2022-07-15 06:03] abc-w commented on #2807
不用了，已解决，谢谢

[2022-07-15 06:46] #2807 closed, assigned to guoshengCS

[2022-07-15 06:49] wawltor commented on #2810
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/waybill_ie  可以看看这个示例，
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/16698950/179167683-64847d06-c0c9-4776-88c1-9b5c73a74268.png">

[2022-07-15 06:54] CoinCheung commented on #2810
@wawltor 是不是给的脚本里面没有加载自定义数据集的选项呢，只能在下载的数据集基础上来改，是这样吗?

[2022-07-15 07:03] wawltor commented on #2810
嗯嗯，是的 目前你有BIO的数据还是说需要手动标注了？

[2022-07-15 07:43] abc-w commented on #2770
![image](https://user-images.githubusercontent.com/84693075/179176475-c9c6608f-4b8c-4fde-a6e3-7b6c111006f1.png)
https://aistudio.baidu.com/aistudio/projectdetail/4340434?contributionType=1&shared=1
全部改好了，就是最后成测试集预测数据的时候又报错了，完全懵逼了，麻烦帮我看下，很急

[2022-07-15 07:49] abc-w opened #2812 "基于预训练模型结合本地csv数据集训练阅读理解模型，模型输出预测结果报错"
![image](https://user-images.githubusercontent.com/84693075/179177584-c2b50454-d43f-44e1-835d-c0c31804dd03.png)
https://aistudio.baidu.com/aistudio/projectdetail/4340434?contributionType=1&shared=1
麻烦帮忙看下很急

[2022-07-15 07:58] yaleimeng opened #2813 "参照快递单信息抽取，自己训练ernie_crf 导出静态图异常"
我参考waybill_ie快递单信息抽取示例项目构建数据集，按ernie+crf方案训练了序列标注模型，训练过程正常，输出的 ernie_crf_results.txt 文件预测也大部分都是准确的。

但是接下来不知道怎样加载checkpoint模型进行预测。。按readme指引经过export model导出之后，运行部署的predict.py，打印输出的预测结果很多都是错误的，比 ernie_crf_results.txt 里面预测效果差很多。————【经指点，似乎脚本是针对ernie+fc的，所以CRF层没有导出】

补充：尝试使用第二种方案ERNIE + FC训练，整个过程都符合预期了。但偶尔有些标签顺序不合逻辑，例如 xxx-B 后面跟着 yyy-I 。
我想直接加载checkpoint动态图进行一条或多条文本的预测，不知道如何操作？还是希望解决ernie_crf模型的实际预测问

[2022-07-15 08:17] CoinCheung commented on #2810
好的，现在work了，非常感谢!!! 还是建议完善一下这部分，代码还有文档啥的，刚开始看的时候有点懵

[2022-07-15 08:19] #2810 closed, assigned to linjieccc

[2022-07-15 08:19] wawltor commented on #2813
想问一下export_model的时候是不是没有改动代码了？
因为原始export_model.py主要是导出ernie系列的模型，但是没有导出crf的部分，所以可能是结果不一致的原因
<img width="632" alt="image" src="https://user-images.githubusercontent.com/16698950/179182969-2fc4794c-d212-4097-988a-0c2f7c88ab19.png">

run_ernie_crf.py模型里面是结构是ERNIE + CRF
<img width="665" alt="image" src="https://user-images.githubusercontent.com/16698950/179183227-a67e444f-45b0-4819-80a6-50a3fe37fbb3.

[2022-07-15 08:39] yaleimeng commented on #2813
哦，是的。用的原版export代码。。

[2022-07-15 08:43] wawltor commented on #2813
可以把构建模型的地方做一下替换
[code]

[2022-07-15 08:46] yaleimeng commented on #2813
好的，非常感谢！

[2022-07-15 09:03] wawltor commented on #2808
在UIE是一个抽取目标都会计算一次，原论文的实现的方式是一种生成方式，稍有不同，但是都会面临差不多的性能问题；目前我们正在做一个开放域UIE到封闭域模型蒸馏的工作，生成一个UIE模型之后然后通过UIE自动标注，然后将标注的样本自动转成封闭域模型，来缓解性能问题

[2022-07-15 09:06] wawltor commented on #2812
<img width="895" alt="image" src="https://user-images.githubusercontent.com/16698950/179191906-8ee4832b-bec4-42d1-af30-9970aa3004c1.png">
在保存模型结果的时候，传入到json.dumps是一个dict，dict的key不能是int64的类型数据，需要自己转化一下数据，将int64的key转化str对象

[2022-07-15 09:11] yaleimeng commented on #2813
@wawltor    ernie+fc确实是可以正常导出，预测正常的。因为ernie+fc的checkpoint是目录结构，而另外两种则是单个文件。
经过模型定义代码的简单替换，bigru+crf和ernie+crf导出时都报错，依次如下图所示。。
 建议为3个方案分别提供exportmodel.py 或者把三种结构的导出逻辑都写进去，执行时将对应关键词作为参数传递进去。 这样能降低小白探索的门槛。
![image](https://user-images.githubusercontent.com/28124722/179192183-8dd1ee2f-7217-4495-9b29-0d654a7ba3de.png)
![image](https://user-images.githubusercontent.com/28124722/179192009-8486ca4e-0f42-4

[2022-07-15 09:54] wawltor commented on #2794
重启环境后代码执行问题，该issue关闭，后续有问题可以重启issue。

[2022-07-15 09:54] #2794 closed, assigned to wawltor

[2022-07-15 10:16] Wu-Jiayang opened #2814 "plato-mini use_faster失败"
- PaddleNLP 2.2.3
- PaddlePaddle-gpu2.2.1-post112
- Windows10
- 报错：
- Failed to run command: <built-in function compile>, errors: Command 'cd /d C:\Users\Wu Jiayang\AppData\Local\Programs\Python\Python38\Lib\site-packages\paddlenlp\ops\extenstions && C:\Users\Wu Jiayang\AppData\Local\Programs\Python\Python38\python.exe FasterTransformer_setup.py build' returned non-zero exit status 1.
- 手动运行cmd后
!

[2022-07-15 10:53] abc-w commented on #2812
好的，感谢，已解决，已经可以输出了，但我换了个测试集，数据就读不进来了test_ds = load_dataset(read, filename='通讯数据测试集.csv', lazy=False)这行报错
https://aistudio.baidu.com/aistudio/projectdetail/4340434?shared=1
![image](https://user-images.githubusercontent.com/84693075/179209510-ccc5832f-baa0-43d3-b1d0-83f2fa755442.png)

[2022-07-15 11:55] abc-w commented on #2812
不用了，已解决

[2022-07-15 11:56] qiudywzh opened #2815 "使用CPU对UIE进行finetune时只能利用单核"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp==2.3.3
paddlepaddle-gpu==2.3.0
2）系统环境：
Ubuntu 7.5.0-3ubuntu1~18.04
Python 3.7.9
- 复现信息：如为报错，请给出复现环境、复现步骤

查阅了一些issue，是否因为paddle2动态图模式模型训练下无法支持cpu多核？
实测UIE推理是支持的多核CPU的，因为会生成一个inference model。

[2022-07-15 12:33] guoshengCS commented on #2809
请问是哪个模型，使用的生成策略是哪个呢，也可以提供下代码

[2022-07-15 13:08] wawltor commented on #2814
目前faster_toeknizer还不支持windows系统，我们会在下个小版本来做兼容

[2022-07-15 13:09] Wu-Jiayang commented on #2814
哦，好的

[2022-07-15 13:09] Wu-Jiayang commented on #2814
谢谢

[2022-07-15 13:09] wawltor commented on #2815
目前paddle2动态图是在支持多核上功能已经开发完成，功能效果需要验证一下
预测是可以支持多核的，训练的时候需要多核之间有通信，因为训练需要梯度merge；预测的时候多核之间不需要通信，相对来说比较简单

[2022-07-15 13:19] wawltor opened #2816 "CBLUE支持预测"

[2022-07-15 13:25] #2812 closed, assigned to nobody

[2022-07-15 15:45] #2814 closed, assigned to joey12300

[2022-07-17 00:52] CoinCheung opened #2818 "Is this expected behavior?"
https://github.com/PaddlePaddle/PaddleNLP/blob/0a618c70f95eeea29ac084d6cf16d26fad289dd5/model_zoo/uie/utils.py#L345

Given a sample to be converted, if we the original line, the generated line would be something like this:
[code]
But when we change that line into this:
[code]
The generated line woule be:
[code]

Both of the two would work, if we only use uie to train classification task. But the o

[2022-07-17 05:05] qiudywzh commented on #2815
感谢。我试过升级到最新paddlepaddle 2.3.1和paddlenlp 2.3.4发现还没支持，期待更新。

我也试过用to_static方式将UIE改造为静态图，但是目前还没找到读取UIE权重到静态图的方法

[2022-07-17 08:51] DebtVC2022 commented on #1162
请问可以提供UIE模型的下载地址吗 谢谢~

[2022-07-18 01:22] pengaoao opened #2819 "ERNIE 3.0-Base 导出onnx"
请问这个怎么导出onnx呢？ 使用paddle2onnx是需要pdmodel的，但是下载链接貌似只提供了ernie_3.0_base_zh.pdparams

[2022-07-18 01:46] wawltor commented on #1162
<img width="984" alt="image" src="https://user-images.githubusercontent.com/16698950/179434470-7deef201-ee88-4784-9679-a5b95be97105.png">
通过上面的方式即可使用UIE模型，具体的文档  https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E4%BF%A1%E6%81%AF%E6%8A%BD%E5%8F%96

上面的工具会把模型下载到 ~/.paddlenlp/taskflow/information_extraction目录下

[2022-07-18 01:48] guoshengCS commented on #2770
那当前是训练没问题了，测试还有问题是吗

[2022-07-18 01:49] tingaicompass opened #2820 "使用UIE做分类问题遇到的问题"
首先按照开发文档，情感分类是在抽取哪里说明了，但是使用信息提取会报错
schema = '情感倾向[正向，负向]'
few_ie = Taskflow('information_extraction', schema=schema, batch_size=32,task_path='./checkpoint/model_best')
few_ie('这个产品用起来真的很流畅，我非常喜欢')
错误：
  374                 self.input_handles[0].copy_from_cpu(input_ids.numpy())
    375                 self.input_handles[1].copy_from_cpu(token_type_ids.numpy())
--> 376                 self.input_han

[2022-07-18 01:52] abc-w commented on #2770
没有了，已经全部解决了，感谢您的帮助

---原始邮件---
发件人: "Guo ***@***.***&gt;
发送时间: 2022年7月18日(周一) 上午9:48
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 使用PaddleNLP自定义的本地csv数据集做机器阅读理解，报错，救救我吧 (Issue #2770)

那当前是训练没问题了，测试还有问题是吗

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***&gt;

[2022-07-18 02:10] wawltor commented on #2819
具体看一下这个文档，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0/deploy/paddle2onnx

[2022-07-18 02:18] pengaoao commented on #2819
https://bj.bcebos.com/paddlenlp/models/transformers/ernie_3.0/ernie_3.0_base_zh.pdparams  看了，这里下载了pdparams，但是缺少.pdmodel，哪里下载呢， paddle2onnx需要.pdmodel才能导出onnx

[2022-07-18 02:23] ZTurboX opened #2821 "UIE性能"
当UIE模型设置标签数多时，性能会很慢

[2022-07-18 02:24] 1689665417 opened #2822 "机器翻译seq2seq训练loss 出现nan"
系统环境：ubuntu18.04,py36,paddlepaddle-gpu2.3.0,paddlenlp2.3.0

训练代码：位于examples/machine_translation/seq2seq，只是加载的自定义的数据集和修改越南语为中文，其它未做修改，源语言是英文，目标是简体中文

数据集较大：约1500W对英-->中，vocab文件英中各6W词汇，英文是nltp分词的，中文是jieba分词的，分词后均是空格间隔的，已核对平行训练集无误

训练参数：learning_rate0.001，num_layers2，hidden_size512，batch_size32，max_epoch8，max_len64，dropout0.2，init_scale0.1，max_grad_norm5.0，beam_size10

训练过程1到3epoch显示好像是正常的，如图：
![imag

[2022-07-18 02:37] linjieccc commented on #2818
@CoinCheung Hi, can you provide an example of your classification annotation exported from doccano?

[2022-07-18 02:39] CoinCheung commented on #2818
@linjieccc Hi, it is in the original post:
[code]

[2022-07-18 02:42] wawltor commented on #2819
目前动态图转成onnx的模型流程是 动态图模型->静态图模型(.pdmodel) -> onnx模型，不过ernie-3.0模型是一个预训练模型，需要下游任务微调后的模型才具备使用价值。下面是具体的转成静态图模型的代码
[code]

[2022-07-18 02:49] linjieccc commented on #2818
The data format has been converted to train data format of UIE, the original data format exported from doccano is something like:

<img width="832" alt="image" src="https://user-images.githubusercontent.com/40840292/179438354-b5fff838-f942-4193-a425-cbfa5461a7e3.png">

[2022-07-18 02:52] CoinCheung commented on #2818
It is something like this:

[code]

[2022-07-18 02:52] wawltor commented on #2821
目前UIE的模型的特性确实会在较多的标签的时候导致性能变慢，目前我们正在做一个工作就是将UIE的模型转化成封闭域的信息抽取模型(传统BIO体系的模型)，这样的速度会快很多，目前这个工作正在进行中

[2022-07-18 02:53] linjieccc commented on #2820
@dingidng 辛苦贴下微调命令和训练数据示例，从报错来看应该是模型输入没有对上

[2022-07-18 02:58] dingidng commented on #2820
{"id":1286,"text":"這間酒店環境和服務態度亦算不錯,但房間空間太小~~不宣容納太大件行李~~且房間格調還可以~~ 中餐廳的廣東點心不太好吃~~要改善之~~~~但算價錢平宜~~可接受~~ 西餐廳格調都很好~~但吃的味道一般且令人等得太耐了~~要改善之~~\t","label":["正向"]}
{"id":1287,"text":"<荐书> 推荐所有喜欢<红楼>的红迷们一定要收藏这本书,要知道当年我听说这本书的时候花很长时间去图书馆找和借都没能如愿,所以这次一看到当当有,马上买了,红迷们也要记得备货哦!\t","label":["正向"]}

上面是jsonl训练是用的模型，
[2022-07-17 11:33:11,966] [    INFO] - Save 8 examples to ./data/train.txt.
[2022-07-17 11:33:11,967]

[2022-07-18 02:59] dingidng commented on #2820
{"content": "商品的不足暂时还没发现，京东的订单处理速度实在.......周二就打包完成，周五才发货...\t", "result_list": [{"text": "负向", "start": -4, "end": -2}], "prompt": "情感倾向[正向,负向]"}
{"content": "本来想没事的时候翻翻，可惜看不下去，还是和张没法比，他的书能畅销大部分还是受张的影响，对这个男人实在是没好感，不知道怎么买的，后悔\t", "result_list": [{"text": "负向", "start": -7, "end": -5}], "prompt": "情感倾向[负向,正向]"}

[2022-07-18 03:01] dingidng commented on #2820
命令：
!python doccano.py \
    --doccano_file ./data/cla.jsonl \
    --task_type 'cls' \
    --save_dir ./data \
    --splits 0.8 0.1 0.1 \
    --negative_ratio 5 \
    --prompt_prefix "情感倾向" \
    --options "正向" "负向"

!python finetune.py \
    --train_path "./data/train.txt" \
    --dev_path "./data/dev.txt" \
    --save_dir "./checkpoint" \
    --learning_rate 1e-5 \
    --batch_size 16 \
    --ma

[2022-07-18 03:10] linjieccc commented on #2818
Please change it to the following format, the value format of `label` should be list of strings

[code]

[2022-07-18 03:23] linjieccc commented on #2820
我这边试了下应该是可以正常使用，试试把``./checkpoint/model_best``删了clone最新develop分支代码重新训练以及更新下paddlenlp的版本看还有没有问题

[2022-07-18 03:40] tingaicompass commented on #2820
解决了，居然是./checkpoint/model_best删除就好了，可能加载了别的模型导致覆盖了出错，谢谢啦，

[2022-07-18 03:41] #2820 closed, assigned to linjieccc

[2022-07-18 03:53] CoinCheung commented on #2818
OK, I will try.Thanks for replying!!

[2022-07-18 04:10] ZeyuTeng96 opened #2825 "关于文本摘要开源例子的问题"
您好，请问如下链接中开源的3个文本摘要的例子，其中的哪个模型适用于中文的文本摘要任务呢？我记得好像3个开源例子所使用的数据集都是英文数据集。

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_summarization

[2022-07-18 04:47] ssrssrcode commented on #2809
plato-mini 策略是topk采样

[2022-07-18 06:36] charlieliu9999 opened #2827 "如何测试 ernie-health 模型的预测结果？"
ernie-health 模型能否使用 taskflow 提供医学文本 实体关系抽取的任务？
如果不能，采用什么方法实现？

[2022-07-18 06:46] zhanghaoie opened #2828 "faster-generation使用随机batch_size 6-16请求10w次 后续耗时增加"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
PaddleNLP 2.3.3 paddlepaddle 2.3.0.post112
2）系统环境：
- 复现信息：系统Linux nvcr.io/nvidia/tritonserver:20.12-py3 docker环境，python 3.8
   测试数据：
 context = [
        "你好",
        "你好啊，你叫什么名字",
        "我叫李明，你呢？"
    ]
请求batch_size 随机6-16，请求10w次，最开始请求耗时是在50-80ms之间，请求2个小时之后，请求耗时保持在120ms以上。

[2022-07-18 06:46] zhanghaoie commented on #2828
模型使用的plato_mini

[2022-07-18 06:57] zhanghaoie commented on #2828
请求大概50分钟之后，再次可以复现。

[2022-07-18 07:17] guoshengCS commented on #2809
topk的话因为Faster和非加速版本生成随机的方式不太一样，这个确实不保证生成结果的一致。

另外因为Faster版本会使用gelu的近似实现来加速，这个会造成些差异，可以试下将非加速版本也修改为近似的看看是否能缩小两者的差异，方式可以参考这里 https://github.com/PaddlePaddle/PaddleNLP/pull/1288  在init_weights里加下下面的代码：
[code]

之前内部测试UnifiedTransformer使用FasterGeneration的topk生成结果的质量是没有明显下降的

[2022-07-18 07:24] LemonNoel commented on #2827
ernie-health暂时没有放入taskflow，如果需要预测结果可以初步参考下这个[PR](https://github.com/PaddlePaddle/PaddleNLP/pull/2329) ，最终版本这周应该会整理合入。

[2022-07-18 08:09] pengaoao commented on #2819
onnx导出来了，谢谢您，但是https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0/infer.py脚本貌似有问题，237, 238行index写反了？ 导出的onnx的模型第一个输入是input_ids，第二个是token_type_ids； 不修改会报错onnxruntime.capi.onnxruntime_pybind11_state.InvalidArgument: [ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Non-zero status code returned while running Gather                    node. Name:'Gather_2' Status Message: indices el

[2022-07-18 08:50] wawltor commented on #2819
在上面的回复有提过，ernie-3.0的模型是一个预训练模型，需要经过场景数据来微调才能体现出效果，如果直接拿预训练模型直接来分类是不可以的 ，如果需要自己的场景进行分类，可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification

[2022-07-18 08:55] pengaoao commented on #2819
但是我是在clue数据集上运行的，就是将BASE导出onnx， 然后用你们提供的脚本评测了一下，1是出现上面那个错误，需要修改237,238行，2是修改之后acc是0.473

[2022-07-18 08:57] pengaoao commented on #2819
你们提供的CLS是 82.63

[2022-07-18 08:58] wawltor commented on #2819
CLS是 82.63是微调之后的，而不是直接使用ERNIE-3.0任务导出模型来预测的结果
<img width="860" alt="image" src="https://user-images.githubusercontent.com/16698950/179477994-73fa9038-4945-4304-8262-4e678f8a32f4.png">
<img width="976" alt="image" src="https://user-images.githubusercontent.com/16698950/179478080-58de4ea3-4a1f-40eb-a54b-f9641a7987e5.png">

[2022-07-18 11:28] tianxin1860 commented on #2785
可以手动检查下您安装的 paddle 框架  `${your_python_path}/site-packages/paddle/nn/layer/transformer.py` 中是否定义了`_convert_attention_mask` 函数？

[2022-07-18 11:58] LiuChiachi commented on #2822
前3个epoch的训练是否正常呢，loss和perplexity的下降趋势是正常的吗。如果是正常的，可以再使用下第三个epoch保存的文件用一些case尝试预测一下看结果是否正常。
debug的建议：可以load第3个epoch之后保存的模型继续训练，把log_freq设为1，看下是具体哪一步变成nan的，检查这一步的输入输出看有没有问题，看看nan是怎么算出来的，然后再具体排查。

[2022-07-18 12:17] linjieccc commented on #2796
@lcneyc 您好，请问目前问题解决了吗

[2022-07-18 12:18] linjieccc commented on #2773
@AhriZ08 您好，请问目前微调还有问题吗

[2022-07-18 12:19] AhriZ08 commented on #2773
更新版本后还是存在以上问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月18日(星期一) 晚上8:18
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2022-07-18 12:34] linjieccc commented on #2773
可以拉最新的develop分支的代码再试下

[2022-07-18 12:38] gongel commented on #2825
中文可以参考这个哈：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_generation/unimo-text

[2022-07-18 12:39] wawltor commented on #2815
嗯嗯 目前的版本还没有支持多核训练，这个工作还在UIE上验证

[2022-07-18 13:43] AhriZ08 commented on #2773
我换成了使用GPU训练，又报新的错误，我已经降低batch size，并且显卡占用率只有2%。
Out of memory error on GPU 0. Cannot allocate 12.000000MB memory on GPU 0, 5.999512GB memory has been allocated and available memory is only 0.000000B.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNL

[2022-07-18 13:48] linjieccc commented on #2773
可以先用下面的命令训练试试，显存没有溢出的话再逐步调大batch_size

[code]

[2022-07-18 13:58] AhriZ08 commented on #2773
升级到develop版本运行又报这个错误......
'utf-8' codec can't decode bytes in position 325-326: 'utf-8' codec can't decode bytes in position 325-326: invalid continuation byte in field: paddle.framework.proto.OpProto.Attr.comment

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Paddle

[2022-07-18 14:41] xiaojinwhu commented on #2596
同样的问题

[2022-07-19 00:15] ZTurboX commented on #2821
那么也可以是小样本微调吗？

[2022-07-19 01:31] zhanghaoie commented on #2828
测试了paddlenlp paddlecloud/paddlenlp:develop-gpu-cuda10.2-cudnn7-latest的镜像，也存在这个问题。

[2022-07-19 03:11] linjieccc commented on #2773
您的protobuf版本是多少

[2022-07-19 03:18] Christmas-Wong opened #2831 "ernie3.0转onnx以后性能不佳"
# 问题描述
ernie3.0-medium模型转成onnx模型以后推理速度不如pytorch转onnx的速度
同样条件下：
- ernie3.0转onnx后，推理需要0.41s
- pytorch-bert-base转onnx，推理需要0.08s

ps：还有一个小小的疑惑，ernie3.0只有7层，为什么转成onnx以后，相比于bert-base大小并没有减小，仍然有400M

# 环境
[code]
# 转静态模型代码
[code]
# 静态模型转onnx
[code]
# 推理代码
[code]

[2022-07-19 03:28] mingo-doer opened #2832 "使用语义检索系统中的example semantic_search_example.py报错 （已使用最新代码）"
PaddleNLP 2.3.4   ，PaddlePaddle-gpu 2.3.1

使用CPU 运行

问题和https://github.com/PaddlePaddle/PaddleNLP/issues/2198 一致，但是我已拉取最新代码，仍旧报错

 File "/root/anaconda3/envs/paddlenlp/lib/python3.7/site-packages/paddle/nn/functional/input.py", line 206, in embedding
    'remote_prefetch', False, 'padding_idx', padding_idx)
ValueError: (InvalidArgument) Variable value (input) of OP(fluid.layers.embedding) expected

[2022-07-19 03:44] w5688414 commented on #2832
请贴一下您的硬件环境，还有更详细的信息吗？我这里并没有复现您说的问题。

![image](https://user-images.githubusercontent.com/12107462/179661526-17ca04c2-54f1-4faa-86f2-be327eafee2b.png)

[2022-07-19 04:25] ZeyuTeng96 commented on #2825
谢谢您，

请问还有其他模型做文本摘要的例子嘛？还有就是有考虑把您给我的那个链接的例子放到[text_summarization](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_summarization)下吗？或者这个目录下后续再提供一些中文的生成式文本摘要例子？

有这些后续的打算吗？

非常谢谢您

[2022-07-19 04:59] tianxin1860 commented on #2832
请问是使用 cpu 还是 gpu 环境在运行？

[2022-07-19 05:38] mingo-doer commented on #2832
使用cpu环境
GPU 环境可以正常运行
硬件环境：
![image](https://user-images.githubusercontent.com/28819717/179673356-cdf3ff66-75fd-4d54-a025-4ea2f70d1188.png)
gpu： T4

[2022-07-19 06:32] AnitaSherry opened #2833 "uie 部署"
- 版本PaddleNLP 2.3.4 PaddlePaddle-gpu 2.3.1
- 环境信息Windows10
- python版本3.9.6
- 复现信息
TypeError: 'pad_token_type_id' is an invalid keyword argument for this function

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "PaddleNLP-develop\model_zoo\uie\deploy\python\infer_gpu.py", line 102, in <module>
    main()
  File "PaddleNLP-develop\mode

[2022-07-19 06:36] wawltor commented on #2831
最好能提供一下全套的测试代码(paddle和pytorch)给我们，因为之前我和Huggingface的模型也是对比过，测试的结论和您提供的结论差别较大

[2022-07-19 06:48] yeliang2258 commented on #2831
我看你这边是对相同的输入重复计算了10次求均值，麻烦再测试一下，先warmup 100轮，然后计算1000轮的均值？看看耗时怎么样

[2022-07-19 07:06] Christmas-Wong commented on #2831
有没有可能是我这边没有用上GPU？在CPU推理的时候，paddle确实有优势。但是做GPU推理的时候，在代码中我已经配置了CUDAExecutionProvider，代码也成功运行，没有报错。如果可以，能不能提供一个能同时满足paddlenlp训练和onnxruntime-gpu的docker，让再测一下？

[2022-07-19 07:09] gongel commented on #2825
后续这些会在考虑之中哈，有其他的进展会及时同步给你，敬请期待

[2022-07-19 07:32] wawltor commented on #2831
建议上面的方式来测试一下，就是热启动预测100次(这部分耗时不能放在统计里面)，然后再计算1000次后的平均性能，因为Paddle的GPU启动速度相对较慢，docker这块我们没有发布，你可以先测试看看，如果结论还有问题，我们看看能不能提供一下docker出来

[2022-07-19 07:32] wawltor commented on #2831
建议上面的方式来测试一下，就是热启动预测100次(这部分耗时不能放在统计里面)，然后再计算1000次后的平均性能，因为Paddle的GPU启动速度相对较慢，docker这块我们没有发布，你可以先测试看看，如果结论还有问题，我们看看能不能提供一下docker出来

[2022-07-19 07:36] yeliang2258 commented on #2831
生成predictor之后，调用一下predictor.get_providers()，看看里面是否有CUDAExecutionProvider，另外运行起来中后看看显存和GPU利用率

[2022-07-19 07:56] w5688414 commented on #2832
没看出什么问题，重新创建一个虚拟的python环境看看，能不能复现这个cpu的问题

[2022-07-19 07:57] ZeyuTeng96 commented on #2825
谢谢您，

还请问您一下，unimo-text-1.0-large的vocab-size为何会小于unimo-text-1.0呢？是在做预训练任务的时候所见到的数据量少于unimo-text-1.0？还请您指教下。 模型参数链接：

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/unimo/modeling.py

[2022-07-19 08:40] Christmas-Wong commented on #2831
确实没有CUDAExecutionProvider，请问一下
1. cuda10.2应该用哪个版本的onnx配合paddle导出的模型？
2. 导出的时候的onnx版本和推理的时候要保持一致吗？
3. 训练的时候用paddlepaddle-gpu, 推理的时候用paddle可以吗？
4. 有没有qq群或者微信交流群？

[2022-07-19 08:42] Christmas-Wong commented on #2831
跑pytorch导出的onnx模型没有问题，跑paddle的会有如下错误
[code]

[2022-07-19 08:43] linjieccc commented on #2833
@AnitaSherry 您好，Fast Tokenizer目前还不支持windows，

当前windows下执行可以先替换为普通Tokenizer

替换方式：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py#L91
[code]
修改为：
[code]

[2022-07-19 08:48] AnitaSherry commented on #2833
感谢，问题已解决

[2022-07-19 08:48] #2833 closed, assigned to linjieccc

[2022-07-19 08:51] linjieccc commented on #2833
不客气~预计下周我们会发布一个新版本，到时候fast_tokenizer可以适配windows

[2022-07-19 09:17] wawltor commented on #2831
<img width="896" alt="image" src="https://user-images.githubusercontent.com/16698950/179714850-14fbb94c-b671-434b-8122-7e945b32ff23.png">
可以加一下这个微信群

[2022-07-19 09:18] tianxin1860 commented on #2832
在 cpu 环境下运行时时，请确保执行了 `unset CUDA_VISIBLE_DEVICES` 命令。

[2022-07-19 09:19] tianxin1860 commented on #2832
![image](https://user-images.githubusercontent.com/6829601/179715322-1e2ecb07-21e5-49a9-904d-6ce389f084df.png)

[2022-07-19 09:22] allendred opened #2835 "怎么对rocketqa做预训练和fintune呢,根据官方教程,在小数据集上很差,怎么才能固定部分权重训练呢"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
- paddlepaddle-gpu    2.3.1.post112
- cuda 11.2
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-07-19 09:40] HK-13 opened #2837 "关于信息抽取的关系抽取几点问题"
在目前taskflow的关系抽取中对schema的定义如：
[code]
但是，这样的定义不支持对关系名称的定义，例如知识图谱中的**实体 - 关系- 实体**的定义，其关系名称是需要明确定义的。
具体到以上schema可能会变成  **竞赛 - 主办方 - 人**，**竞赛- 承办方-人**。

以上的问题，可能和知识标注场景有点类似，但是知识标注仅支持内置标签类型，对限定域的场景好像支持不足，目前不论知识标注或UIE似乎都没能提供直接的解决方案。

个人更倾向于使用UIE达到我所述场景，请问是否可以提供相关思路。

[2022-07-19 10:23] AhriZ08 commented on #2773
3.20.0

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月19日(星期二) 中午11:11
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;R

[2022-07-19 12:52] linjieccc commented on #2837
@4613 您好，可以参考以下思路来定制UIE模型

**一、schema设计**

结合领域知识图谱及领域数据设计一个定制schema集合

这里关系类型和客体类别需要一一对应，例如**竞赛-主办方-人**，**竞赛-主办方-机构**这种一个关系类型可能对应多个客体类别的情况，可以将关系类别进行拆分，改为**竞赛-主办者-人**，**竞赛-主办机构-机构**。

**二、模型定制（数据标注+模型微调）**

基于步骤一的schema集合，按照预先定义好的关系、实体类别标注数据并进行模型微调，通过Taskflow装载定制模型。

[2022-07-19 12:58] tianxin1860 commented on #2835
请问是基于哪份代码进行 RocketQA 训练发现效果很差？可以贴一下链接

[2022-07-19 14:14] allendred commented on #2835
https://github.com/PaddlePaddle/RocketQA
rocketqa的官方训练样例,可能是因为数据太少了,只有1万多条的训练数据,根据marco v1的权重的生成top8 做的数据集,总共大概8万条数据

[2022-07-20 02:08] HK-13 commented on #2837
非常感谢回复！！！

1. 我指的是官方是否会在后续提供，schema直接定义关系名称的关系抽取能力，目前关系 schema定义其实有点类似属性抽取。
2. 你指的定制schema集合，是否可理解为：
     一、如果是不同关系名称对应相同实体类别，则根据目前的方式直接根据关系名称判定尾实体类别
     二、如果是不同关系名称对应不同实体类型，则建议通过定义可区分的关系名称来解决判断尾实体类别？
    当然，以上方式，需要在官方的schema上二次定制转换
3. 如果可以，希望官方给与相关example针对以上问题

[2022-07-20 02:27] YiTSu opened #2841 "UIE抽取耗时20ms，是否可继续缩短？"
模型训练完毕后，UIE抽取耗时目前稳定在20ms左右。
显卡为16GB，已设置fp16。
是否还有其他方法可使耗时能继续缩短？

[2022-07-20 02:28] YiTSu commented on #2746
是的。。后面把验证集调小后解决了这个问题。

[2022-07-20 03:08] xiaolinpeter commented on #1833
<img width="1262" alt="image" src="https://user-images.githubusercontent.com/27184803/179887505-587c6d6f-0416-4ad4-abc1-aa40a00c61a1.png">
@wawltor 您好，我在cpu运行报上面错误，paddlenlp版本是2.3.3

[2022-07-20 03:37] wawltor commented on #2841
可以使用更小的UIE模型来极速
<img width="206" alt="image" src="https://user-images.githubusercontent.com/16698950/179891209-b13c6104-b907-460d-b088-c35df65797d4.png">

[2022-07-20 04:59] linjieccc commented on #2837
您说的直接定义关系名称的方式可能不行，目前需要按照第二点所述方式结合预先定义的schema和UIE推断用到的schema对关系类别和尾实体类别做下映射。

例如：

预定义schema：
[code]
UIE推断用的schema：
[code]
我们最近有个正在开展的开放域到封闭域模型蒸馏的工作会提供一个相关的例子，欢迎持续关注~

[2022-07-20 07:55] ssrssrcode commented on #2809
好的谢谢。另外请问一下，在部署成服务的时候出现FasterTransformer is not available because CUDA can not be found的问题，但是同一台机器另外测试inference文件却正常，请问有可能是什么情况呢

[2022-07-20 08:08] YiTSu commented on #2841
有没有调参的办法呢。比如调整一些参数使速度更快？
另外，我想了解一下对于不同的模型大小，你们那边的预测速度大概是多少呢？想了解下20ms的速度是否跟你们对齐了。

[2022-07-20 09:12] wawltor commented on #2841
目前比较快的方式就是切换模型到uie更小的模型上，这个相对也是比较方便的；

速度方面是没有办法发布出来的，因为速度和每个应用的schema设计有关系，schema越是复杂则耗时越多，没有办法统一一个耗时

[2022-07-20 09:22] wawltor commented on #2821
可以小样本微调，我们的思路是这样的：
1. 先使用小样本训练一个UIE模型
2. 使用UIE模型来给大量无标签的数据打上标签
3. 使用封闭域模型(预测速度相对UIE快很多)来学习自动标签数据

[2022-07-20 13:38] YiTSu commented on #2841
小模型和大模型的区别在哪里呢？会不会导致抽取能力有差异呢

[2022-07-20 13:42] YiTSu commented on #2841
![截屏2022-07-20 21 42 18](https://user-images.githubusercontent.com/16937245/179997246-26a1f01a-0a95-4e26-b720-8abfeb5c3e6b.png)
为何只能从二者选一个呐

[2022-07-20 14:42] wawltor commented on #2841
需要更新一下paddlenlp的版本，同时拉取最新的finetune.py脚本

[2022-07-21 02:54] YiTSu commented on #2841
OK了解，不过uie-tiny这个也是个小模型吧？应该也可以用哈？

[2022-07-21 03:11] syy-love commented on #2653
大佬这个问题解决了吗 我也遇到了

[2022-07-21 03:15] wawltor commented on #2841
可以的， uie-tiny 和 uie-medium 是同一个模型，新发布的tiny系列模型把命名规范统一了

[2022-07-21 07:12] Macxy2018 opened #2843 "ernie-3.0 序列标注任务 模型压缩样例代码compress_token_cls.py报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp 2.3.4，paddlepaddle-gpu 2.3.1.post101，paddleslim 2.3.2
2）系统环境：AIStudio V100 16GB
- 复现信息：如为报错，请给出复现环境、复现步骤
参照ernie 3.0序列标注任务进行模型压缩报错

-代码目录结构
|-best_msra_ner_model/        # 模型msra_ner数据，run_token_cls训练结果文件夹
|--compress/                          # 压缩结果，目前是空文件夹
|--model_config.json
|--model_sta

[2022-07-21 07:35] YiTSu opened #2844 "模型已经训练完成，如何使用多卡进行信息抽取任务？"
当前机器上有两张16G的显卡，模型已经训练完成，目前进行信息抽取任务时只使用到了一张卡，如何使用两张卡进行信息抽取任务以提升预测速度呢？

[2022-07-21 08:04] wawltor commented on #2844
这个可以启动两个Taskflow任务，Taskflow(device_id) 来控制卡号

[2022-07-21 08:21] YiTSu commented on #2844
有没有利用NCCL使用多卡，然后让单个任务都使用多卡的方法呢。每个任务分别使用一张卡其实没有速度的提升。

[2022-07-21 08:28] wawltor commented on #2844
预测的时候没有办法使用NCCL的，训练NCCL的作用是梯度merge，但是预测时是没有同步梯度的

[2022-07-21 08:37] YiTSu commented on #2844
哦哦好的

[2022-07-21 08:52] wawltor commented on #2843
想问一下PaddleNLP版本的是多少了？

[2022-07-21 08:58] Macxy2018 commented on #2843
paddlenlp版本是2.3.4

[2022-07-21 11:25] CoinCheung commented on #2818
@linjieccc Hi, I think the problem is not solved.
One sample is like this:
[code]
and the generated sample is like this:
[code]

[2022-07-21 12:05] YiTSu opened #2847 "The models name:uie-nano is not in task:[information_extraction]"
The models name:uie-nano is not in task:[information_extraction]
 这是什么原因呢？已经有了nano的模型。
 ![截屏2022-07-21 20 04 54](https://user-images.githubusercontent.com/16937245/180209444-1a12b69a-1834-4f81-9b01-a22acc1d9233.png)

[2022-07-21 12:45] guochongjun opened #2848 "ValueError: Operator "gen_nccl_id" has not been registered."
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/doc_vqa按文档操作报错
![1658407352744](https://user-images.githubusercontent.com/66577364/180216189-a346fb5d-b461-4d5c-bacb-9482a67e25a0.jpg)
![1658407376633](https://user-images.githubusercontent.com/66577364/180216196-c490461c-6171-432d-a95c-6726fd3be3e3.jpg)
![1658407405960](https://user-images.githubusercontent.com/66577364/180216199

[2022-07-21 13:17] pogevip opened #2850 "layoutlm实现没有image吗？代码看起来仅是text+layout"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/layoutlm/modeling.py#L213

[2022-07-21 14:17] xikakera commented on #2844
你好，我使用multiprocessing 的Process 打开两个进程进行计算， 使用两个显卡， 运行一会之后会整个机子卡死。只有鼠标能动，只能重启。
单个显卡运行没有问题， 一起启动就会卡死。显示第二张卡err

一个是 RTX 3060
一个是 GTX 1080Ti
用的是 paddlepaddle-gpu          2.3.1      py38_gpu_cuda11.2_many_linux

[2022-07-22 00:38] JunnYu opened #2852 "DuEE sequence_labeling.py导包错误"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，PaddlePaddle2.1.1
2）系统环境：Linux
- 报错信息：![image](https://user-images.githubusercontent.com/50394665/180337159-dbaf45fd-135e-4169-b8ba-62237bf167e4.png)
- 修改建议：改成`AutoModelForTokenClassification`

https://github.com/PaddlePaddle/PaddleNLP/blob/4d18e4d648fadde639575b6de3e0b3c3a38bb906/exam

[2022-07-22 00:43] wj-Mcat commented on #2852
Great post for this issue, I think you can fire a pr to fix it. How do you think about?

[2022-07-22 01:58] JunnYu commented on #2852
@wj-Mcat  done

[2022-07-22 02:21] linjieccc commented on #2847
@YiTSu 需要确保paddlenlp的版本>=2.3.4

[2022-07-22 02:29] YiTSu commented on #2841
换了小模型后耗时完全没有变化，有什么建议吗。目前耗时20ms的确还是有些长

[2022-07-22 06:01] lightCraft2020 opened #2854 "Taskflow做信息抽取报错：substring not found"
**出错代码**

`from paddlenlp import Taskflow
schema = ['仪器']
ie = Taskflow('information_extraction', schema=schema)
ie.set_schema(schema)
ie('MetertechΣ960 酶标仪(中国台湾Metertech公司)')`

**报错信息：**

` 1137         return batch_outputs
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/transformers/tokenizer_utils.py in _batch_prepare_for_model(self, batch_ids_pairs, add_special_tok

[2022-07-22 06:37] leon-cas commented on #2757
通过taskflow的方式, 用fp16调用生成的onnx模型，调用结果没问题。 谢谢解答

[2022-07-22 06:37] #2757 closed, assigned to linjieccc

[2022-07-22 07:05] usstroot opened #2856 "UIE 模型微调时报错 '_DataLoaderIterSingleProcess' object has no attribute '_shutdown'"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1，在百度飞浆平台运行的
[2022-07-22 15:00:10,628] [    INFO] - Already cached /home/aistudio/.paddlenlp/models/ernie-3.0-base-zh/ernie_3.0_base_zh_vocab.txt
[2022-07-22 15:00:10,655] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.modeling.ErnieModel'> to load 'ernie-3.0-base-zh'.
[2022-07-22 15:00:10,655] [    INFO] - Already cached /home/ais

[2022-07-22 07:29] shiwei0412 commented on #2813
请问题主，现在解决了嘛？遇到了同样的问题

[2022-07-22 07:52] linjieccc commented on #2854
@yingyibiao 辛苦帮忙看下这个问题

[code]

报错如下：
[code]

[2022-07-22 08:43] YYGe01 opened #2858 "关于UIE模型的训练negative_ratio负例比例"
hi，我正在使用UIE模型，标注了一批数据用于做微调，想问下这个negative_ratio负例比例的合理范围大概是什么区间呢，我看默认是5，我这边的数据，最大可以构造20倍的负例数量。
想问下是否negative_ratio可以设置的大点，这样训练数据会多点，但是否会影响模型正例判断呢，谢谢！

[2022-07-22 09:38] ssrssrcode commented on #2809
我又反复测试了一下，至少可以确认，plato-mini在fine-tune后使用fast generation生成效果确实稳定不如使用正常inference。语法问题和复读现象明显加重以及长度明显偏短。

[2022-07-22 12:18] mingo-doer opened #2859 "python utils/offline_ann.py 报错"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/experimental/pipelines/examples/semantic-search
跑这个项目 使用自己的数据集     报错

File "/root/anaconda3/envs/paddlenlp/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/root/anaconda3/envs/paddlenlp/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/root/anaco

[2022-07-22 17:27] YangYu-Li opened #2860 "RuntimeError: C:\Users\**\.paddlenlp mkdir failed!"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
PaddleNlp 2.3.4
Paddle 2.3.1
windows, python3.7
![c8ccfa43acb91c6cca09ff3562283eb](https://user-images.githubusercontent.com/60566349/180492574-7a707c38-ada6-4d71

[2022-07-23 09:07] jiangjiajun commented on #2831
需要将onnxruntime升级到最新

[2022-07-24 00:39] wawltor commented on #2841
应该不会的，换了小模型速度肯定会有提升，你看看是不是静态图的文件是不是没有被删除，static目录

[2022-07-24 00:39] #2844 closed, assigned to nobody

[2022-07-24 00:40] wawltor commented on #2858
我们的经验值5就可以了，当然如果不考虑训练时间的话，可以增加负样本多试试

[2022-07-24 00:45] wawltor commented on #2860
看起来是python环境的版本和windows的版本不太兼容，导致无法生成一个中文的路径，可以尝试以下操作
1. 可以尝试将python版本提升3.8+
2. 不提升python环境，ie = Taskflow('information_extraction', schema=schema, home_path="./") ，可以设置一个home_path来生成一个目录，这个文件目录来存放下载的模型文件

[2022-07-24 02:38] yaleimeng commented on #2813
没法解决。。唯一能用的就是ernie+fc。。但没有CRF又有标签异常的现象。
也不知道是什么风气，官方写的案例经常都有各种问题。。

[2022-07-25 01:47] wawltor commented on #2848
麻烦提供一下PaddlePaddle的版本

[2022-07-25 02:11] linjieccc commented on #2856
@usstroot 辛苦提供下可复现代码或者公开的AIStudio项目地址

[2022-07-25 03:33] wshzd commented on #2848
我也遇到了同样的问题，我的paddlepaddle版本是
paddlenlp             2.3.1
paddleocr             2.5
paddlepaddle          2.3.0

[2022-07-25 06:25] kennyLSN opened #2861 "模型下载的方式"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！

下载预训练模型，只能通过AutoModel.from_pretrained这种方式吗，可以自己到网页上面下载吗

[2022-07-25 07:00] wawltor commented on #2861
可以手动下载模型，https://github.com/PaddlePaddle/PaddleNLP/blob/e568e07329f50a68bb18c95643a8a0a7edd61cf1/paddlenlp/transformers/bert/modeling.py#L379 ，在各个模型的modeling.py提供了相应的下载链接，例如
<img width="929" alt="image" src="https://user-images.githubusercontent.com/16698950/180716878-440ae900-3652-4437-88b8-21bf9cc7caa2.png">

同时也可以从一个目录下来加载模型(例如把模型下载到特定的目录)
[code]

[2022-07-25 07:03] kennyLSN commented on #2861
可以的，谢谢

[2022-07-25 07:29] DuChongyang opened #2862 "ernie-1.0预测后相同predicate相同subject不同object的关系只有第一个subject被标记"
+ 我在使用ernie-1.0时发现，在同一句话中出现的具有相同predicate的同一个subject但对应不同object的关系只有第一个subject被标记
+ 例如：
   + “李白是《静夜思》的作者，杜甫是《登高》的作者，李白写了《将进酒》。”
   + 第二个“李白”在输出的labels中并未标记，我无法准确decode出正确的关系。
+ 请问是什么原因有人知道吗？是我在使用模型时忽略掉了一些参数，还是ernie-1.0本身就是这样的？

[2022-07-25 07:57] wawltor commented on #2862
麻烦提供一下具体执行的什么代码或者代码地址

[2022-07-25 08:16] DuChongyang commented on #2862
代码地址是这个https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuIE

在我用训练好的模型对“李白是《静夜思》的作者，杜甫是《登高》的作者，李白写了《将进酒》。”这句话进行预测时，模型输出的logits只对“**李白**是《**静夜思**》的作者，**杜甫**是《**登高**》的作者，李白写了《**将进酒**》。”（黑体）进行了标记，即找到的实体只有
subjects：静夜思、登高、将进酒，
objects：李白、杜甫，
接下来utils.py中的decode中的：
 for subject_ in subjects:
                    for object_ in objects:
则更加离谱，根本无法得到正确的三元组。

[2022-07-25 08:18] AI-Mart opened #2863 "https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie里面没有做paddleserving服务化部署的案例吗?"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie里面没有做paddleserving服务化部署的案例吗?

[2022-07-25 08:28] wawltor commented on #2863
目前我们的计划是基于FlaskAPI / FastAPI 来建设PaddleNLP的服务化，目前这个工作还在进行，UIE的服务化的代码可以
[code]

[2022-07-25 08:29] #2858 closed, assigned to nobody

[2022-07-25 08:38] AI-Mart commented on #2863
感谢回复，这样设计是出于什么原因呢？flask这样部署的话，模型服务只能这个应用单独使用了，不能给其他应用共享一个模型服务了,另外假如追求效率要C++部署的话，是不是也不行了？

[2022-07-25 08:43] wawltor commented on #2863
目前C++部署比较适用于高QPS的应用场景，对于QPS相对来说比较低的场景Flask这样的API并不会影响它的预测速度，同时考虑到Taskflow这样的使用方式，相对来说偏向于离线或者低QPS的场景，所以Flask相对比较适宜；后续我们也会加上paddle serving这样的服务化的方式

[2022-07-25 08:51] AI-Mart commented on #2863
好的，是的，目前这个偏向于离线服务，在线服务还是需要高可用的，期待你们加上服务化部署的案例

[2022-07-25 10:23] nullgogo commented on #1805
解决了吗  我也遇到了这个问题

[2022-07-25 10:29] nullgogo commented on #1889
我也遇到了这个问题 请问解决了么

[2022-07-25 10:40] shguan2018 commented on #1805
没有, 一直没有给我回信，后来我就用 paddle serving 部署了

[2022-07-25 11:08] linjieccc commented on #1805
https://stackoverflow.com/questions/22950047/cuda-initialization-error-after-fork
cuda使用fork方式多进程有一些问题；可以试下改成PredictorPool的形式来预测，具体可以参考这个例子：https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/python/advanced/multi_thread/threads_demo.py

[2022-07-25 11:10] LemonNoel commented on #2862
- 第二个`李白`的问题是因为在抽取实体的时候使用了集合，因此去重了。https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/DuIE/utils.py#L44
- `utils.py`中的`decode`可以处理的是同一实体对应不同的关系或者实体。对于同一关系下的多实体和多实体间的映射关系确实没有考虑，这个例子有点偏消歧问题，如果实际应用中这种情况较多可以根据数据的特点加以修改限制。

[2022-07-25 11:10] #2861 closed, assigned to wawltor

[2022-07-25 11:13] zhangluoyang opened #2866 "uie_predictor.py 此处有个地方有bug"
# 第196行代码有 bug: input_ids = input_dict['input_ids']，应该是整个循环体的数据。

[2022-07-25 11:19] zhangluoyang commented on #2866
`input_ids = []
for idx in range(0, len(texts), self._batch_size):
    ......
    input_ids.extend(input_dict["input_ids"])
`

[2022-07-25 13:11] linjieccc commented on #2866
多谢指出，已PR修复

[2022-07-25 14:52] zhangluoyang opened #2869 "发现预测的代码都是填充为512的长度，此处是否可以将静态padding改成动态padding"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-07-25 14:52] zhangluoyang opened #2870 "发现预测的代码都是填充为512的长度，此处是否可以将静态padding改成动态padding"
发现预测的代码都是填充为512的长度，此处是否可以将静态padding改成动态padding

[2022-07-25 22:04] laurenceandrews opened #2871 "Few-shot EFL -- ValueError: Invalid name "my_dataset". Should be one of ['bustm', 'chid', 'iflytek', 'tnews', 'eprstmt', 'ocnli', 'csldcp', 'cluewsc', 'csl']."
I have successfully got the example running using several of the FewCLUE datasets via. Google Colab and am now attempting to run the few-shot EFL example using my own dataset. I'm doing this by hosting it locally within the dataset folder, and updating the fewclue.py BUILDER_CONFIGS, data.py Processor methods, task_label_description.py, predict.py and train.py files accordingly. I have ensured my

[2022-07-26 01:55] DuChongyang commented on #2862
+ 起初我也以为是set的原因，但仔细观察传入的predictions：
![image](https://user-images.githubusercontent.com/66300928/180905120-b8fe4942-19b1-4d66-91f9-c63c136f4c6a.png)
‘李白是《静夜思》的作者，杜甫是《登高》的作者，李白写了《将进酒》。’
对照发现确实是第二个`李白`没有标记。

[2022-07-26 02:18] wawltor commented on #2869
辛苦提供一下具体的代码？我们来看看问题

[2022-07-26 02:18] wawltor commented on #2870
issue重复，暂时关闭

[2022-07-26 02:18] #2870 closed, assigned to nobody

[2022-07-26 02:20] wawltor commented on #2863
嗯嗯，这个工作正在增加，谢谢反馈！
我们暂时关闭issue，有问题可以再次打开改issue。

[2022-07-26 02:20] #2863 closed, assigned to nobody

[2022-07-26 02:49] allendred opened #2872 "paddle 文本匹配 sentence-transformers 把缓存的模型放到当前文件夹下面就不能加载了"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

python predict.py --device gpu --params_path checkpoints/model_400/model_state.pdparams
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script

[2022-07-26 02:51] shguan2018 commented on #1805
谢谢，我试试

[2022-07-26 02:57] allendred commented on #2872
paddle2onnx          0.9.8
paddlefsl            1.1.0
paddlenlp            2.2.5 or 2.3.4
paddlepaddle-gpu     2.2.2.post112

[2022-07-26 03:24] syy-love opened #2874 "跑GPT模型时 训练参数如何设置"
地址：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/gpt
文档训练参数：
CUDA_VISIBLE_DEVICES=0 python run_pretrain.py \
    --model_type gpt \
    --model_name_or_path gpt2-en \
    --input_dir "./data"\
    --output_dir "output"\
    --weight_decay 0.01\
    --grad_clip 1.0\
    --max_steps 500000\
    --save_steps 100000\
    --decay_steps 320000\
    --warmup_rate 0.01\
    --micro_batc

[2022-07-26 04:16] w5688414 commented on #2872
使用的那个人predict.py文件。是这个吗？https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_matching/sentence_transformers/predict.py

[2022-07-26 05:24] allendred commented on #2872
是的呢,就是这个,我把模型名称换掉了

[2022-07-26 06:29] tianxin1860 commented on #2871
Please ensure your Class `FewCLUE's` class member  `BUILDER_CONFIGS` in fewclue.py has the key `your dataset_name`. Just like this
<img width="766" alt="image" src="https://user-images.githubusercontent.com/6829601/180938677-38068be8-4d4a-4a0e-92e2-0e88d9f0ac68.png">

[2022-07-26 06:42] FrostML opened #2876 "UNIMO-Text eval failed when use_faster=False"
UNIMO-Text eval failed when use_faster=False. Caused by #2665 .

[2022-07-26 07:04] FrostML commented on #2876
Fixed by #2877

[2022-07-26 07:28] w5688414 commented on #2872
参考这个
[code]
你换成下面这个试试：
[code]

[2022-07-26 07:46] zoeChen119 commented on #1312
我在调用trainer.evaluate(test_ds, batch_size=16)执行我自己的训练数据（长度为512的中文文本，三种label）时，也报了这个错误：

我修改了/paddlenlp/transformers/ernie/modeling.py的ERNIEModel的forward函数后，依然报错。是不是我修改的位置不对？

[2022-07-26 08:22] allendred commented on #2872
我找到原因了 应该把文件夹下面的模型文件名字bert-wwm-ext-chinese.pdparams 改成 model_state.pdparams,就可以了

[2022-07-26 08:22] #2872 closed, assigned to w5688414

[2022-07-26 08:59] ezekielqu opened #2880 "运行ernie3.0压缩后的推理时遇到报错"
文本分类模型，执行 python run_seq_cls.py  --task_name tnews --model_name_or_path ernie-3.0-medium-zh --do_train 对预训练模型进行微调，执行 python compress_seq_cls.py --dataset "clue tnews"  --model_name_or_path best_models/TNEWS  --output_dir ./ 对微调结果进行压缩和剪枝。推理 python infer.py --task_name tnews --model_path best_models/TNEWS/compress/0.75/float --use_trt 遇到报错：

Enable TensorRT is: True
W0726 08:50:51.320725   304 analy

[2022-07-26 09:31] laurenceandrews commented on #2871
Thanks for your reply. I do currently have it shown here, above bustm. Based on the screenshots below, does it look like this is in the correct location? Are BUILDER_CONFIGS set up in any other file?

<img width="656" alt="Screenshot 2022-07-26 at 10 28 25" src="https://user-images.githubusercontent.com/50678009/180973588-c6c7f2c1-3363-4cbf-aa2b-068187eb2903.png">

<img width="502" alt="Screenshot

[2022-07-26 09:39] #2876 closed, assigned to FrostML, guoshengCS

[2022-07-26 09:59] YYGe01 opened #2882 "请教：某种情况下uie如何设计schema"
您好,  我有这么个例子.
[code]
schema为：
[code]

请问这里的‘不小于’和‘大于’，可以怎么设计schema才能提取出来呢？谢谢！

[2022-07-26 11:06] guochongjun commented on #2848
PaddlePaddle2..1

[2022-07-26 11:06] guochongjun commented on #2848
PaddlePaddle2.3.1

[2022-07-26 11:38] wawltor commented on #2880
麻烦提供一下PaddlePaddle和PaddleNLP的版本

[2022-07-26 12:04] wawltor commented on #2882
看起来有两种设计方式，
1. 在数据标注的过程中，将不小于1000m2 作为面积，大于20m作为高度
2. 第二种方式增加一种的新的高度，{'组织': ['范围', '面积, '高度']}  将‘不小于’和‘大于’ 作为范围字段输出

[2022-07-26 12:11] LemonNoel commented on #2862
这里可能是因为在训练集中较少或者没有相似的句式，因此模型抽取效果不够好，如果有需求可以通过数据构造来改进模型。

[2022-07-26 12:14] LemonNoel commented on #2827
部署代码已经合入，对于CBLUE数据集微调的模型可以直接使用。https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-health/cblue/deploy/predictor

[2022-07-26 12:20] LemonNoel commented on #2816
python端的onnxruntime部署已合入。https://github.com/PaddlePaddle/PaddleNLP/pull/2329

[2022-07-26 12:43] MachineSheep opened #2884 "tqdm版本冲突"
![image](https://user-images.githubusercontent.com/109952192/181008429-9ae52616-2308-43e5-892f-e5e5e5cf8161.png)

pip install paddlenlp==2.3.3 报tqdm包版本冲突

[2022-07-26 12:52] LiuChiachi commented on #2880
可以先确保Paddle Inference以及TensorRT是否正确安装了，可以参考官网，https://www.paddlepaddle.org.cn/inference/user_guides/download_lib.html，或者ernie-3.0/deploy的文档～

[2022-07-26 12:56] ZHUI commented on #2874
算token数目。
比如这里的配置 `max_steps * seq_len * batch_size = total_tokens`
`500000 * 1024* 4=2B` 约20亿的token。
假设1w条数据的平均长度是 256，则语料token数为 "10000 * 256 = 256w"

除一下，`500000 * 1024* 4 / (10000 * 256 ) = 800`, 相当于跑了 800个epoch，这个训练量确实算很大，可以设置 5w step试试，只跑80个epoch

[2022-07-26 12:58] LiuChiachi commented on #1312
想请问下您也是在做模型压缩吗，还是只是训练一个分类模型？您是怎样修改 forward 函数的呢？另外请问下您的 paddlenlp 版本是？

[2022-07-26 12:58] LiuChiachi commented on #1312
感谢您的关注，压缩API 即将更新，会有更加简洁和通用的使用体验～

[2022-07-26 13:00] wawltor commented on #2884
可以升级一下tqdm的版本

[2022-07-26 13:09] LiuChiachi commented on #2653
我简单搜了一下，
https://github.com/apache/incubator-brpc/issues/1383，
这个报错可能是机器的原因。如果还是无法解决可以提供代码，我们可以排除下是否是代码的原因。尽管我们这边的模型通常有监控，在看到你的代码之前也不能直接下结论～
如果 @chinesejunzai12 解决问题了，也欢迎分享下解决方案～

[2022-07-26 13:12] LiuChiachi commented on #2843
https://github.com/PaddlePaddle/PaddleNLP/blob/3787da1f158d06629fe8460e99328dfc02f5ea09/model_zoo/ernie-1.0/finetune/token_classification.py#L26
`return_length=False` 改为 `return_length=True`

[2022-07-26 14:41] MachineSheep commented on #2884
是pip安装过程中,版本冲突导致的报错，然后安装进程结束，单独装tqdm最新版之后还是会报错

[2022-07-26 16:09] krodio opened #2886 "CPU环境win10系统运行finetune脚本无报错无结果问题"
doccano标注后，win10CPU环境进行finetune步骤，运行指令： python finetune.py --train_path ./data/train.txt --dev_path ./data/dev.txt --save_dir ./checkpoint --learning_rate 1e-5 --batch_size 2 --max_seq_len 512 --num_epochs 100 --model uie-tiny --seed 1000 --logging_steps 10 --valid_steps 100 --device cpu
- 页面无报错也未能正常提示成功。
- 软件环境：PaddleNLP 2.3.1，PaddlePaddle 2.3.0，win10系统，Python3.8.13。
- 硬件环境：
                Syste

[2022-07-27 01:12] Macxy2018 commented on #2843
好的，我现在是在metric.compute前加了这一行代码临时处理的，我试一下return_length改成True
batch['seq_len'] = [((a != -100) == True).sum()[0] for a in batch['labels']]

[2022-07-27 01:14] MachineSheep commented on #2886
是不是在安装uie-base？如果uie-base已经安装，麻烦贴一下输出的截图

[2022-07-27 01:32] YYGe01 commented on #2882
谢谢指导，第二种方式中，如果新增关系 `范围`，这个例子中，协和医院的范围是：
[code]
一个问题是因为这里是共用一个主体，没法判断`不小于`是和`1000m2` 是一组，我这边能想到的是新增后处理，通过字符距离就近原则分组，虽然是个办法，但感觉模型没有一步到位，有点遗憾。

[2022-07-27 01:40] YYGe01 commented on #2866
这个input_ids 后面是不是没有作用呢？比如：
[code]

这里的 if 循环中 ids 代码后面没有用上

[2022-07-27 02:17] wawltor commented on #2884
更新tqdm的版本是什么版本了？

[2022-07-27 02:20] zoeChen119 commented on #1312
只是分类模型，后来我查看https://paddlenlp.readthedocs.io/zh/latest/model_zoo/index.html
这里的教程顺利完成了微调。
我的paddle版本是2.3.1

[2022-07-27 02:21] wawltor commented on #2882
这里可以继续将范围作为关系抽取的方式来做，例如  {'组织': ['面积':{'范围'}, '高度':{'范围'}]}

[2022-07-27 02:23] qjxjy123 opened #2887 "paddleNLP 机器翻译Demo问题"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/faster_generation/samples/mbart_sample.py
在paddlenlp机器翻译内置权重的使用过程中，当输入纯数字进行英译中的时候，会出现一些异常情况：在预测结果前面加入『小行星』、『號』等文字，在demo里将输入的英文改为纯数字即可复现结果。
![image](https://user-images.githubusercontent.com/38102868/181146624-8988004f-f87e-42c8-8dde-97a3d721057e.png)
![image](https://user-images.githubusercontent.com/38102868/181146636-67cb79a1-6013-455c-aa28-

[2022-07-27 02:24] wawltor commented on #2886
这个可能是cpu训练速度太慢导致的，你可以尝试--logging_steps 10 改成 --logging_steps 1

[2022-07-27 02:26] zoeChen119 opened #2888 "按照API进行下游任务Fine-tuning时，这段代码分开执行没有问题，但在一个jupyter单元块中执行会报错。"
`from functools import partial
import numpy as np

import paddle
from paddlenlp.datasets import load_dataset
from paddlenlp.transformers import AutoModelForSequenceClassification, AutoTokenizer

model = AutoModelForSequenceClassification.from_pretrained("ernie-1.0-base-zh", num_classes=3)

tokenizer = AutoTokenizer.from_pretrained("ernie-1.0-base-zh")

def convert_example(example, tokenizer):

[2022-07-27 03:17] ZEIJIERQIANG opened #2889 "跨模态阅读理解Downloading from https://bj.bcebos.com/paddlenlp/models/community/checkpoints/base_model/model_state.pdparams failed with code 404!"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.4;paddlepaddle 2.3.1
2）ubuntu，python 3.8.5
- 我在复现汽车说明书跨模态智能问答项目的时候，在6.1训练模型的时候出现了如下问题
- [2022-07-27 11:12:10,838] [    INFO] - Already cached /home/idrl/.paddlenlp/models/layoutxlm-base-uncased/sentencepiece.bpe.model
[2022-07-27 11:12:11,459] [    INFO] - tokenizer config file saved in /home/idrl/.paddlenlp/mod

[2022-07-27 04:44] wawltor commented on #2889
可能需要再次确认一下PaddleNLP的版本，需要更新到最新的版本

[2022-07-27 04:53] LemonNoel commented on #2889
使用相对路径的话，改为`./checkpoints/base_model`试一下。

[2022-07-27 04:53] wawltor commented on #2888
看起来你上面使用的模型是ernie-1.0模型，下面使用的是ernie-tiny模型，
能具体提供一下你的数据集、paddlenlp的版本吗？

[2022-07-27 05:02] zoeChen119 commented on #2888
我的paddle版本是2.3.1
嗯，这里是的，不过我有逐个尝试ernie的不同版本，至少在api文档中的前三个ernie版本都是model_names = [ 'ernie-1.0-base-zh', 'ernie-tiny',  'ernie-2.0-base-en']都是如此。
我的数据集是这样的：

坐席:你好请问什么帮您？#客户:你好我看一下我宽带现在怎么回事儿。#坐席:好的，您号码，请您提供一下。#客户:幺五三，五三四九，二七五五。#坐席:二七五五是吗？请您稍等一下，姓名麻烦报一下。#客户:农万星。#坐席:好的，这里没有两条网线竹路还是二线。#客户:应该是主路途中是不是一个月那个。#坐席:我给您看看啊，您刚才说这个地址目前是在哪。#客户:北京颐和俊。#坐席:好的谢谢您，现在通过系统帮您测试中请您稍等一下。#客户:听清。#坐席:系统这边帮您测试了一下显示是线路正常。#客户:一。#

[2022-07-27 06:23] Chucy2020 opened #2890 "from paddlenlp.datasets import load_dataset"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-07-27 06:24] wawltor commented on #2888
可以尝试先升级到paddlenlp 2.3.4吗？如果不行的话，最好能把少量数据和你现在使用的全部代码发给我们，我们来测试一下

[2022-07-27 06:24] JLtwoP opened #2891 "关于UIE中文训练数据集"
“基于ERNIE 3.0知识增强预训练模型，训练并开源了首个中文通用信息抽取模型UIE”

-- 请问UIE（中文）的训练数据是否开源？如果不开源，请问数据源和数据结构是否可以给出介绍？

[2022-07-27 06:31] LemonNoel commented on #2890
辛苦提供更多的信息。

[2022-07-27 06:34] gongel commented on #2825
可以看下对应的论文哈

[2022-07-27 06:40] LemonNoel commented on #2891
UIE训练数据主要是来在于公司内部数据标注，因为数据有一定的数据隐私性，不适合开源；数据结构和微调数据一致，包括了实体抽取、事件抽取、关系抽取、评论观点抽取、情感分类等数据。不同任务的schema构造可以参考下[UIE文档](https://github.com/PaddlePaddle/PaddleNLP/tree/0722c85fedaf2e1ef5e7a172bc53736c24bc6e7a/model_zoo/uie#3-%E5%BC%80%E7%AE%B1%E5%8D%B3%E7%94%A8)。

[2022-07-27 06:43] charlieliu9999 commented on #2827
**非常感谢提供了predictor代码，可在运行时有问题请教下：**

**1、 采用 cblue 训练模型**
` python train_spo.py --batch_size 12 --max_seq_length 300 --learning_rate 6e-5 --epochs 3`
**对模型进行预训练，在Macbook上，用CPU跑，
但 spo_loss 从很大值降到 100多，spo fi: 始终为0，这是正常的吗？**

[code]
**2、我用中间模型输出 静态图做预测，跑的结果出错， 如下：**

` python infer_spo.py --device cpu --dataset CMeIE --model_path_prefix ../../cblue/export_CMeIE/inference
[code]

[2022-07-27 06:49] zoeChen119 commented on #2888
好的，我先试下升级

[2022-07-27 06:52] MachineSheep commented on #2884
你好，是4.62.1

[2022-07-27 06:54] #2884 closed, assigned to nobody

[2022-07-27 07:04] ezekielqu commented on #2880
paddlenlp           2.3.4
paddlepaddle-gpu    2.3.1.post112

paddle的版本是paddle提供的docker中自带的

[2022-07-27 07:09] ZEIJIERQIANG commented on #2889
paddle-bfloat                      0.1.7
paddle2onnx                        0.9.8
paddlefsl                          1.1.0
paddlenlp                          2.3.4
paddleocr                          2.5
paddlepaddle-gpu                   2.3.1.post112

重新卸载paddlenlp，又装了一次，相对路径也改了，还是一样报错

[2022-07-27 07:13] zhiyongLiu1114 opened #2892 "pet.py 执行报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- paddle 2.3.1
- paddlenlp 2.3.4
- cuda version 10.2

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
liunx python3.7
- 复现信息：如为报错，请给出复现环境、复现步骤
- 在PaddleNLP/examples/few_shot/pet目录下执行
python \
    pet.py \
        --task_name "tnews" \
        --device cpu \
    --pattern_id 0 \
        --save_dir ./tnews \
        --index 0 \
        --b

[2022-07-27 08:00] 1649759610 commented on #2889
看起来是当前运行的程序没有正确找到你保存的模型，可以用以下方法排查/修改一下：
  1. 在Extraction下面新建个py文件，在该文件中直接运行导入相关包后，运行以下代码，看是否能功能加载，如果可以，那就是路径的问题，可以进一步排查一下路径问题。LayoutXLMForTokenClassification_with_CRF.from_pretrained("./checkpoints/base_model"）
  2. 也可以尝试改动模型保存代码，模型保存时保存model.state_dict， 然后在使用时：
      a. 新实例化:model=LayoutXLMForTokenClassification_with_CRF，
      b. 加载保存的state_dict： loaded_dict = paddle.load(state_dict_path)

[2022-07-27 08:22] JoewithAmma opened #2895 "UIE文本信息抽取微調問題"
目前有兩個問題
1.目前要進行UIE微調任務，使用Doccano進行標註，從Doccano輸出成jsonl檔案，丟進doccano.py會出現錯誤信息UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa5 in position 37: invalid start byte，需再以人工轉編碼至utf-8

2.標註完以doccano.py進行訓練測試資料及切分，確認裡面不是空的。但丟進fintune.py進行訓練總是跑了1 epoch就不跑了，沒有跑出錯誤信息，使用已跑出model_10來預測新的檔案效果不太好
![1658909857387](https://user-images.githubusercontent.com/44884262/181197835-87dbc1a9-92fc-4a87-8019-0f5a466a80

[2022-07-27 08:32] #2882 closed, assigned to LemonNoel, linjieccc

[2022-07-27 08:52] Chucy2020 opened #2896 "请问这个服务器没有网没法下载，我手动下载的数据应该放在哪里？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/73978694/181205005-b88b47b3-dcd4-4514-90f1-f8f11f1cb4e3.png)

[2022-07-27 09:46] bruce0210 opened #2898 "关于semantic-search上传txt格式文件中，多行换行的问题"
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/experimental/pipelines/pipelines/nodes/file_converter/txt.py
目前全都是手动回车为一个换行后，上传建立索引；
麻烦能否处理成上传txt文档，txt中难免有多个换行的情况，也不会影响数据的索引建立呢？

[2022-07-27 10:34] Chucy2020 opened #2899 "服务器无法联网，load_dataset()数据下载问题。"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

请问DuReader_yesno和DuReader_Robust数据集你们给的代码是由load_dataset()自动调用的，我现在服务器没有网络，请问该怎么处理？

[2022-07-27 10:45] DraymondHIT opened #2900 "The models name: uie-base-en is not in task:[information_extraction]"
环境：PaddleNLP 2.3.4，PaddlePaddle2.3.1，Colab
测试Taskflow API的信息抽取功能：
[code]
报错信息：
[code]

[2022-07-27 11:11] LemonNoel commented on #2896
PaddleNLP内置的数据集，有两种方式手动加载
1. 改为[以内置数据集格式读取本地数据集](https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_load.html#id4)，这时放在任意目录，`datafiles`指向对应数据即可。
2. 放在内置数据集的默认path，一般在用户目录下`~/.paddlenlp/datasets/DuReaderRobust/dureader_robust-data/`.

[2022-07-27 11:15] Chucy2020 commented on #2896
好的，我试下，感谢回复与解答，后续有问题再请教你们。

[2022-07-27 11:18] wawltor commented on #2900
这个是最新的develop版本的功能，需要通过develop版本来安装，我们预计本周发布一个版本出来

[2022-07-27 11:19] LemonNoel commented on #2900
您好，`uie-base-en`暂时还未发版，需要安装下develop版本才可以使用哈。

可参考以下命令安装最新版本
[code]

[2022-07-27 11:24] LemonNoel commented on #2899
可以从原始代码的URL手动下载数据集再传到服务器上。
- [DuReader_Robust URL](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/dureader_robust.py#L34)是https://bj.bcebos.com/paddlenlp/datasets/dureader_robust-data.tar.gz
- [DuReader_yesno URL](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/dureader_yesno.py#L36)是https://bj.bcebos.com/paddlenlp/datasets/dureader_yesno-data.t

[2022-07-27 11:27] Chucy2020 commented on #2899
好的，非常感谢大佬的回复与解答，后续有问题再请教你们。谢谢。

[2022-07-27 11:32] linjieccc commented on #2895
@JoewithAmma 您好，麻烦提供下微调的执行配置以及环境相关信息

[2022-07-27 11:32] DraymondHIT commented on #2900
@LemonNoel 是`pip install -r requirements.txt`吧？

感谢感谢！！！

[2022-07-27 11:32] #2900 closed, assigned to LemonNoel

[2022-07-27 11:37] DraymondHIT commented on #2184
你好，可以加入UIE英文模型的事件抽取（Event Extraction）吗？

[2022-07-27 12:43] Chucy2020 commented on #2896
![image](https://user-images.githubusercontent.com/73978694/181248559-a3ed16fb-2efd-49e0-8084-0dc416d6e102.png)
![image](https://user-images.githubusercontent.com/73978694/181248605-1f7cebd5-abbb-47f2-95f4-b2837c1683c6.png)
你好，采取上述你提到的方式中的第一个，在yesno数据集上可以正常运行，在Robust数据集上运行报错，另外想问下，
![image](https://user-images.githubusercontent.com/73978694/181249290-b1e8dd8b-9b2b-4745-87eb-fb51e7e64dc9.png)

这是什么

[2022-07-27 13:58] tianxin1860 commented on #2892
你好，请问能否稳定复现这个错误？

[2022-07-27 14:37] krodio commented on #2886
uie-base 跟uie-tiny都安装了

[2022-07-27 14:38] krodio commented on #2886
改了运行还是一样的情况：
![image](https://user-images.githubusercontent.com/109476398/181275738-0f2f27c7-9d9a-451a-a3b8-06d5d5e1d3aa.png)

[2022-07-27 14:46] krodio commented on #2886
anyway起码报下错嘛

[2022-07-27 16:13] laurenceandrews commented on #2871
It's very strange, because the order that the datasets are listed in the error message is the same order that the BUILDER_CONFIGS are listed in the fewclue.py file, so presumably that is where it's coming from.

I have the feeling there's another version of this file that's overwriting the correct one for some reason. Perhaps in the "/usr/local/lib/python3.7/dist-packages/paddlenlp/datasets/" path

[2022-07-27 16:16] laurenceandrews commented on #2871
Just realised I didn't quote reply before. Please see my comment above!

It's very strange, because the order that the datasets are listed in the error message is the same order that the BUILDER_CONFIGS are listed in the fewclue.py file, so presumably that is where it's coming from.

I have the feeling there's another version of this file that's overwriting the correct one for some reason. Perhaps

[2022-07-27 22:40] JoewithAmma commented on #2895
您好

我的軟體環境：paddlenlp 2.3.4，paddlepaddle-gpu 2.3.1.post101，win10系统，Python3.8.13，cuda10.1，cudnn7.6.5。

硬體環境：
作業系統:Windows10 家用版64位元
系統型號:ASUS TUF Gaming A15 FA506IU_FA506IU
BIOS:FA506IU.319
處理器: AMD Ryzen 7 4800H with Radeon Graphics (16CPUs),~2.9GHz
記憶體:16384MB RAM
分頁檔案: 使用了14996MB，還有8949MB 可用
DirectX版本: DirectX 12

---------------
Display Devices
---------------
           Card name: AMD Radeon(TM

[2022-07-28 00:06] usstroot opened #2904 "UIE 分类问题咨询"
您好，
1、我尝试用UIE解决一个多分类问题，如 ‘方向[上，下，左，右]' 的时候：
!python doccano.py \
    --prompt_prefix "方向" \
    --options "上" "下" "左" "右"
发现结果中会打乱："prompt":’方向[上，下，左，右]' 或 "prompt":’方向[左，右，上，下]'
最后预测的时候：定义 schema=方向[上，下，左，右]' 或 schema=[’方向[左，右，上，下]' ] 预测同一个句子，得出的结果不一样，请问这是一个bug嘛？
2、如果预测一个多分类问题 如 ‘方向[上，下，左，右]' ，其中某一句子不属于 上，下，左，右任一分类，应如何定义schema 表示出不属于其中的任一分类？

[2022-07-28 00:40] usstroot commented on #2856
比如下面这个项目，微调的时候会报错
https://aistudio.baidu.com/aistudio/projectdetail/4222268?channelType=0&channel=0

[2022-07-28 01:18] zhiyongLiu1114 opened #2905 "tokenizer 和 model 的 vocab_size 不一致如何理解"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
-
![Uploading image.png…]()

[2022-07-28 01:21] zhiyongLiu1114 commented on #2905
![Uploading image.png…]()
如图，
from paddlenlp.transformers.ernie.tokenizer import ErnieTokenizer
from paddlenlp.transformers.ernie.modeling import ErnieForMaskedLM
plm = ErnieForMaskedLM.from_pretrained('ernie-1.0')
tokenizer = ErnieTokenizer.from_pretrained('ernie-1.0')
print(plm.ernie.config)
print(tokenizer.vocab_size)
上述plm 和 tokenizer 的 vocab_size 不一样，前者为18000，后者为17964.
请问下这个如何理解呢？谢谢

[2022-07-28 01:25] zhiyongLiu1114 commented on #2892
你好，可以稳定复现，每次执行都是这样的。我安装了paddnlp 2.3.0.dev 也是这样的

[2022-07-28 01:27] zhiyongLiu1114 commented on #2905
![image](https://user-images.githubusercontent.com/47651345/181400615-7e1dc748-1c4d-419c-82c1-4ae78eab2be1.png)

[2022-07-28 02:22] JLtwoP commented on #2891
请问实体抽取，是传统的几大类，还是更细粒度的实体类别？

[2022-07-28 02:26] linjieccc commented on #2895
请问训练集有多少条数据？可以试试batch_size=1看有没有问题

[2022-07-28 02:26] wawltor commented on #2891
有更细粒度的实体类别

[2022-07-28 02:28] wawltor commented on #2886
是否方便提供一下你的测试数据了，我们来测试一下

[2022-07-28 02:30] wawltor commented on #2905
ERNIE 1.0在设计初期，主要是想vocab的预留了一些位置，如果有想新增一些token进行二次预训练，这个时候不需要进行模型结构的改变

[2022-07-28 02:34] linjieccc commented on #2856
升级paddlenlp的版本到2.3.4再试下呢

[2022-07-28 02:35] zhiyongLiu1114 commented on #2905
收到，谢谢

[2022-07-28 02:35] #2905 closed, assigned to wawltor

[2022-07-28 02:35] wireless911 opened #2906 "关于UIE fintune 之后效果不如zero-shot的问题"
我在医疗实体关系抽取任务中采用了开源数据集对UIE进行了测试（我的评价指标采用的是对spo三元组计算P，R，F1）：

    1. TaskFlow zero-shot  F1：0.2
    2. few-shot  F1：0.19

fintune 之后结果反而更差一点儿，训练阶段在dev开发集（SpanEvaluator）最好的F1值为0.547 ，麻烦帮我看下

版本、环境信息
paddlenlp：2.3.4
paddle：2.3.0
环境：aistudio

[2022-07-28 02:36] JLtwoP commented on #2891
方便透露下，更细粒度的实体类别，是人工设计和标注，还是有参考其他数据资料嘛？

[2022-07-28 02:37] linjieccc commented on #2866
这里确实存在多余的代码，我们修复下，感谢您的反馈

[2022-07-28 02:42] wawltor commented on #2891
在训练的过程中，主要的数据是不同领域的数据，例如互联网、医疗、金融、法律的数据，数据的来源主要是人工标注

[2022-07-28 02:46] JLtwoP commented on #2891
了解，多谢！另有一个问题请教，因为缺乏标注人力，我正在调研无监督或者半监督的实体识别/信息抽取技术，这块您有什么意见？或是推荐的方法？

[2022-07-28 02:47] leon-cas commented on #2854
在使用Taskflow进行information extraction时遇到同样的问题，  ValueError: substring not found

[2022-07-28 02:52] linjieccc commented on #2904
1.分类任务构造prompt的时候会随机打乱各个类别的顺序，否则模型容易对位置顺序过拟合；预测结果不一致可能是模型效果问题，请问您的训练数据有多少呢，一般分类任务需要的训练数据会多一些模型才能学好

2.可以试下增加一个类别，例如 schema=方向[上，下，左，右，未知]

[2022-07-28 02:53] JoewithAmma commented on #2895
總共有47筆標註資料 我是用0.8 0.1 0.1去切分訓練資料集。
batch_size設為1的結果仍然一樣。

[2022-07-28 02:58] gongel opened #2907 "PaddleNLP 2.3.5 Release Note Candidate"
# New Features

## CodeGen
- CodeGen接入Taskflow #2754

## UIE

- 新增UIE英文版本，支持Taskflow一键调用 #2855

## neural search

- 新增排序模型的C++和pipeline的部署。 #2721
- 新增in-batch negatives边训练边评估的功能。 #2663
- 移除ernie 1.0的静态图的预训练过程。#2652

## RGL

- 新增小样本模型RGL的实现。#2651

## Ernie-Health

- 新增微调模型的onnxruntime部署。#2329

## 文本分类

- 新增多分类、多标签application。#2661  #2675
- 数据增强策略 #2805

## DiffCSE
- 新增无监督语义向量模型。 #2643

## FasterTok

[2022-07-28 03:00] charlieliu9999 opened #2908 "**非常感谢提供了predictor代码，可在运行时有问题请教下：**"
**非常感谢提供了predictor代码，可在运行时有问题请教下：**

**1、 采用 cblue 训练模型**
` python train_spo.py --batch_size 12 --max_seq_length 300 --learning_rate 6e-5 --epochs 3`
**对模型进行预训练，在Macbook上，用CPU跑，
但 spo_loss 从很大值降到 100多，spo fi: 始终为0，这是正常的吗？**

[code]
**2、我用中间模型输出 静态图做预测，跑的结果出错， 如下：**

` python infer_spo.py --device cpu --dataset CMeIE --model_path_prefix ../../cblue/export_CMeIE/inference
[code]

_Originally posted

[2022-07-28 03:00] linjieccc commented on #2895
可以试试指定``--device cpu``看能否正常训练，不确定是不是GPU版本PaddlePaddle的安装问题

[2022-07-28 03:09] JoewithAmma commented on #2895
指定--device cpu仍然無法正常訓練global step停在10，epoch只有1。

請問每一次微調訓練完需要將更改什麼文件或刪除那些東西嗎?

我是直接把整個資料夾下載下來在本地端跑

[2022-07-28 03:35] linjieccc commented on #2895
第一次执行需要下载UIE的预训练模型，后面就不需要再更改了

如果方便的话可以提供几条数据和执行命令，我们尝试复现下

[2022-07-28 03:46] wawltor commented on #2891
目前我们的思路还是预训练模型 + 有监督训练的思路，通过不断提升预训练模型的效果和性能来减少模型落地门槛，同时结合有监督继续提升效果

[2022-07-28 03:50] JoewithAmma commented on #2895
不好意思，由於使用的資料比較敏感無法傳送給您
以下是使用的執行命令
python doccano.py --doccano_file 路徑\.jsonl --splits 0.8 0.1 0.1

python finetune_new.py --train_path ./data/train.txt --dev_path ./data/dev.txt --save_dir ./checkpoint --model uie-tiny --learning_rate 1e-5 --batch_size 2 --max_seq_len 512 --num_epochs 10 --seed 1000 --logging_steps 10 --valid_steps 10

請問有可能是在標注資料時出了問題嗎?我的資料來源是法院的判例文件，主要標註是發文機關、債務人、身分證字號、命令內容等

[2022-07-28 04:48] LemonNoel commented on #2896
- Robust数据集用的huggingface的API，加载方式有所区别，应该改为
[code]
- 数据集是`json`格式的，里边会有关键字，您可以`print`出来和数据文件对比一下。
- offset_mapping和overflow_to_sample都是tokenizer调用的时候返回的变量，具体返回值和介绍可以查看这部分注释 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/tokenizer_utils_base.py#L2142-L2170

[2022-07-28 05:00] kztao opened #2909 "执行applications/neural_search/reacall/milvus/scripts/feature_extract.sh 报错"
执行applications/neural_search/reacall/milvus/scripts/feature_extract.sh 报错
OS: windows7
$ python -V
Python 3.8.5

C:\Users\SM-002\anaconda3\lib\site-packages\win32\lib\pywintypes.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp, sys, os

2.3.1

2.3.4

错误信息：
$ bash scripts/feature_extract.sh
e[1me[35m--- R

[2022-07-28 05:03] linjieccc commented on #2895
可以排查下标注结果（抽取片段内容）的长度是否超过了max_seq_len

[2022-07-28 05:05] JoewithAmma commented on #2895
for epoch in range(1, args.num_epochs + 1):
 "原先迴圈內所有內容"
    **epoch=epoch+1**

我嘗試在epoch迴圈內或外加入此行，第一次可以完整運行，但第二次之後仍然只會跑1 epoch，不太清楚問題是出在哪裡。

[2022-07-28 05:17] JoewithAmma commented on #2895
不好意思，不太清楚您的意思，請問標註結果(抽取片段內容)的長度是指在txt檔案裡面一行的文字內容資料嗎。

[2022-07-28 05:50] Chucy2020 commented on #2896
您好，很感谢您的回复和解答，现在按照您提供的方式遇到了一些的问题，想再次请教您。
我的数据放在当前目录的dureader_robust-data文件夹下。下面两种调用(图1)都有下面的错误(图2)，请问这是什么情况？麻烦您有空的时候解答一下，谢谢。
![image](https://user-images.githubusercontent.com/73978694/181430605-d19fe969-1f6f-42c3-882f-a89496f7e418.png)

![image](https://user-images.githubusercontent.com/73978694/181430068-3f545969-e747-4734-8dc4-67395f71382d.png)

[2022-07-28 06:01] linjieccc commented on #2895
您试下执行文档里的默认例子，看下会不会也出现卡住的问题：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E8%AE%AD%E7%BB%83%E5%AE%9A%E5%88%B6

[2022-07-28 06:24] JoewithAmma commented on #2895
執行文檔內默認的例子仍然會出現卡住的問題，執行結果如下

import pandas._libs.testing as _testing
[2022-07-28 14:21:16,263] [    INFO] - Downloading resource files...
[2022-07-28 14:21:16,266] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'uie-base'.
W0728 14:21:16.310019 19452 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 7.5, Driver API Version: 11.7

[2022-07-28 06:27] linjieccc commented on #2906
@wireless911 您好，能否提供下AI Studio的项目地址并设置为公开

[2022-07-28 06:34] w5688414 commented on #2909
看看这样修改能否解决您的问题？https://github.com/PaddlePaddle/PaddleNLP/pull/2911

[2022-07-28 06:35] LemonNoel commented on #2908
- `CMeIE`数据集上收敛速度是比较慢，我这边的经验是4卡训练5000~6000steps之后`F1`值才会从0逐渐增加，训练大概100 epochs才能达到README表格中给出的F1值。
-  预测时用的`export_model.py`是拉的最新代码么，这里的静态图导出的实现也有更新，可以用最新代码导出一版再试一试。

[2022-07-28 06:50] JLtwoP commented on #2891
好的，多谢！

[2022-07-28 06:50] #2891 closed, assigned to wawltor

[2022-07-28 07:04] wireless911 commented on #2906
感谢回复，我的aistudio 的地址：https://aistudio.baidu.com/aistudio/projectdetail/4374394?shared=1

[2022-07-28 07:16] huangdacheng opened #2912 "偶尔正常，偶尔会出现 'cudaErrorInitializationError'. The API call failed because the CUDA driver and runtime could not be initialized"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.0，PaddlePaddle-gpu 2.3.0
2）系统环境：，例如Linux ，python版本 3.7。  GPU是   2080 有 多张卡,   并没有安装NCCL
- 复现信息：如为报错，请给出复现环境、复现步骤
偶尔正常，偶尔会出现
Traceback (most recent call last):
  File "run_seq_cls.py", line 490, in <module>
    do_train(args)
  File "run_seq_cls.py", line 289, in do_train
    paddle.set_device(args.device)
  File "/home/dacheng.hdc/miniconda3/envs/

[2022-07-28 07:20] wawltor commented on #2892
有改变数据集之类的吗？

[2022-07-28 07:24] gongel commented on #2887
你好，我测试过HF的源代码，结果是一致的哈。该模型对数字支持确实不是很好，可以尝试换成`mbart-large-50-many-to-many-mmt`或者做些后处理。

[2022-07-28 07:28] zhiyongLiu1114 commented on #2892
没有，脚本什么的全都没变

[2022-07-28 07:41] w5688414 commented on #2898
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/12107462/181449672-288f831b-ff92-4c33-ad26-8d3ea07ee737.png">

我试了一下，会出现很多空文本，不过影响不大

[2022-07-28 08:06] hanfu opened #2913 "自建问答模型的数据集"
你好 我试图在问答模型中使用自建数据集
数据集训练集为`(context, question, start, end)`, 测试集为`(context, question) `
我尝试了`paddle.io.Dataset`和`paddlenlp.datasets.MapDataset`, 都会在传入`paddle.io.DataLoader`的时候失败
可以提供一个案例么， 从`[(context,question,start,end)...]`列表对开始 步步建立数据集

我找到的教程要么是内置dataset 要么就是其他任务的，主要是视觉任务 我水平有限参考不出来
感谢

[2022-07-28 08:21] charlieliu9999 commented on #2908
更新了 export_model.py 可以跑出来了, 模型训练不够，结果不行

[2022-07-28 08:28] Chucy2020 commented on #2896
采用第一种的方式会有上述的错误，因此采用下载数据到~/.paddlenlp/datasets/DuReaderRobust/dureader_robust-data/
运行Robust的代码还是会有数据下载无法联网的问题，麻烦您有空再解答一下这个paddlehub加载本地数据出现报错的这个问题。

[2022-07-28 08:31] charlieliu9999 commented on #2908
再请教个问题，如果要提取医学SPO实体关系，建议用  ernie-health 训练的模型，还是在 uie 模型上微调 ？
如果 uie , 采用 uie-tiny 还是  uie-medic 哪个效果更好？

[2022-07-28 08:55] Macxy2018 opened #2914 "ernie3量化压缩后的模型可以在ARM上部署CPU预测吗？"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，PaddlePaddle2.3.1(ARM上源码编译)
2）系统环境：CentOS7，python3.7
在X86-64带GPU的机器上训练并量化压缩token_cls模型，在ARM上部署的时候使用CPU预测，报错。

代码为/PaddleNLP/model_zoo/ernie3.0/下的代码。

命令如下：其中模型为已经量化压缩后的模型
python3.7 infer_cpu.py --task_name token_cls --model_path ../model/hist16/int8 --precision_mode int8

报错信息如下：
[2022-07-28 16:45:14,722] [ WARNING] - Can't find the faster_token

[2022-07-28 09:08] zhiyongLiu1114 opened #2915 "想要提交一个prompt learning 的 pr"
您好，可以合并下[pr](https://github.com/PaddlePaddle/PaddleNLP/pull/2875)吗？
我想要提交一个支持prompt learning的pr，但是依赖上述这个方法

[2022-07-28 09:33] kztao commented on #2909
这样修改一下，的确可以了，谢谢，我继续往尝试

[2022-07-28 09:33] #2909 closed, assigned to w5688414

[2022-07-28 09:44] wshzd commented on #2856
paddlenlp2.3.4版本是在哪个镜像下面呢？公司系统直接pip install paddlenlp==2.3.4，网络访问不了

[2022-07-28 09:44] linjieccc commented on #2906
似乎没有数据转换和训练部分的代码，请问您的训练/验证集是通过doccano.py进行构造的么

[2022-07-28 09:49] wawltor commented on #2912
如微信沟通，在新的conda环境下安装paddle之后，问题不再复现。

[2022-07-28 09:51] yeliang2258 commented on #2914
你好，
1.在不支持MKL的机器上，不能开enable_mkldnn_int8
2. 在CPU上部署量化模型，请问你安装的ONNXRuntime版本是？另外dot-product instructions的ARM加速效果比较好，换做ONNXRuntime后具体的报错是？

[2022-07-28 10:00] Macxy2018 commented on #2914
onnxruntime版本是1.12.0，换成onnxruntime后在模型开始加载的时候直接就报Segmentation fault (core dumped)，没有任何其他的提示。
以下是运行后的报错信息：
[2022-07-28 17:59:19,063] [ WARNING] - Can't find the faster_tokenizer package, please ensure install faster_tokenizer correctly. You can install faster_tokenizer by `pip install faster_tokenizer`(Currently only work for linux platform).
[2022-07-28 17:59:19,063] [    INFO] - We are using <cla

[2022-07-28 10:00] linjieccc commented on #2856
试下从这里下载wheel包然后离线安装 https://pypi.org/project/paddlenlp/#files

[2022-07-28 10:04] yeliang2258 commented on #2914
你指的开ONNXRuntime是值在PaddleInference中开启enabel_onnxruntime吗？一开始提示了没有开启成功，你编译paddle的时候没有编译ORT，在arm上infernece暂时不支持开启ORT

[2022-07-28 11:27] yeliang2258 commented on #2914
你如果想要部署量化模型，可以试试Paddle2ONNX先将Paddle的量化模型转换为ONNX，然后再用onnxruntime进行部署

[2022-07-28 11:50] LemonNoel commented on #2908
具体效果取决于实际数据。
- ernie-health对训练数据量要求比较高，比如CMeIE有1.4万条左右，如果实际数据和[CMeIE中抽取的schema](https://tianchi.aliyun.com/dataset/dataDetail?dataId=95414)类似，可以尝试混合训练或者微调好的模型来看看效果。
- uie在SPO设计上相对灵活，可以直接用taskflow调用`uie-base`和`uie-medical`分别试下效果。如果效果不能达到预期，建议在`uie-base`上进行微调，此时也需要一定量的数据标注。

[2022-07-28 12:46] wireless911 commented on #2906
我有一个finetune.ipynb 的文件，你只能看到main.ipynb吗

[2022-07-28 13:45] guoshengCS commented on #2913
请问这个报错是怎样的呢，另外之前有一个自建问答模型的数据集的issue #2770 可以参考下

[2022-07-28 14:20] Amazing-J opened #2995 "从头开始 pre-training"
请问我怎么使用自己的数据 continue training？
不是在下游任务，是 pre-training

[2022-07-29 00:48] JoewithAmma commented on #2895
您好，請問會建議整個環境重裝嗎，還是還有其他測試方式呢?

我最近測試的結果是一天中的第一次訓練會成功執行，但我由於硬體容量不夠，因此我中途就停止了，請問這樣會有影響嗎，第二次後就無法成功訓練，只會跑1epoch。

[2022-07-29 01:04] Macxy2018 commented on #2914
目前是只能转换float32类型的到onnx吗？我在用量化后的int8的模型进行转换的时候遇到这个问题：
[Paddle2ONNX] Start to parse PaddlePaddle model...
[Paddle2ONNX] Model file path: ../model/trained/ernie3_ner/compress/0.75/hist16/int8.pdmodel
[Paddle2ONNX] Paramters file path: ../model/trained/ernie3_ner/compress/0.75/hist16/int8.pdiparams
[Paddle2ONNX] Start to parsing Paddle model...
[Paddle2ONNX] [Info] The Paddle model is a quantized mode

[2022-07-29 01:41] Lavender-SK opened #2919 "UIE 多分类问题咨询"
您好，
我准备用UIE解决一个多分类or多标签问题，但是标签类别特别多，有100多类，如果将prompt构造成：
XX分类[类别1，类别2，类别3，...]，那么整个prompt的长度就会非常长，甚至达到或超过512，不知道有没有好的解决方法

[2022-07-29 02:13] yeliang2258 commented on #2914
量化模型也可以转的，这个是因为量化参数没设置对，要不麻烦你把你生成的Paddle模型发给我们看看是什么原因导致的。

[2022-07-29 02:17] linjieccc commented on #2895
1.环境推荐试试用新的conda环境或者使用docker镜像的方式，详细安装方式可以参考官网安装说明：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/linux-conda.html

2.硬盘容量不够您可以注释掉这部分代码改为只保留最优模型

https://github.com/PaddlePaddle/PaddleNLP/blob/f1f3eb7b5ca75bdb3ed96aa8049552226b8f26ff/model_zoo/uie/finetune.py#L127-L135