[2022-04-29 09:02] zck573693104 commented on #1982
老铁尝试如何了？？？ 想跟你借鉴下

[2022-04-29 09:11] Godlikemandyy opened #2036 "想测试一下信息抽取任务，报错"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlepaddle == 2.2.2；paddlenlp == 2.2.6
2）系统环境：macos，python=3.8
报错信息：
AssertionError: The task name:information_extraction is not in Taskflow list, please check your task name.

貌似是任务流里面没有“信息抽取”，想问一下为什么会没有这个任务流，是版本的问题吗？
多谢！！！

[2022-04-29 11:26] guoshengCS commented on #2031
# New Features

## ERNIE 3.0

- 新增百度自研预训练模型 ERNIE 3.0，包含 ernie-3.0-medium 和 ernie-3.0-base 两个模型权重
- 在 CLUE benchmark 上，

## UIE(Unified Information Extraction)

- 新增百度自研基于统一结构生成的通用开放域信息抽取模型 UIE，单个模型可以支持命名实体识别、关系抽取、事件抽取、情感分析等任务，同时在模型规模上支持base和tiny两种模型
- 新增医疗领域信息抽取模型 UIE-Medical，支持医疗专名识别和医疗关系抽取两大任务
- 支持 Taskflow 一键使用

## PLATO-XL

- 新增百度自研百亿参数（11B）开放域对话预训练模型 PLATO-XL（英文），模型来源于 [PaddlePaddle/Knover](

[2022-04-29 11:56] wawltor commented on #2036
您好，信息抽取的功能刚合入到develop分支上，有需要的话可以通过拉取develop分支，然后安装最新版本的PaddleNLP

[2022-04-29 12:21] guoshengCS commented on #2031
# New Features

## ERNIE 3.0

- 新增百度自研预训练模型 ERNIE 3.0，包含 ernie-3.0-base （12层）和 ernie-3.0-medium（6层）两种模型规模的权重
- 提供了 CLUE benchmark 的结果产出脚本，在  CLUE benchmark 上 base 模型平均分高于 Roberta-wwm-ext 1.94，medium 模型 CLUE 平均分高于 RBT6 2.75，实现了相同规模开源中文预训练模型的最佳效果

## UIE(Unified Information Extraction)

- 新增百度自研基于统一结构生成的通用开放域信息抽取模型 UIE，单个模型可以支持命名实体识别、关系抽取、事件抽取、情感分析等任务，同时在模型规模上支持base和tiny两种模型
- 新增医疗领域信息抽取模型 UIE-Medic

[2022-04-30 07:20] jiuwuxiaohun opened #2044 "使用aistudio的脚本任务的时候，升级了paddlenlp导致import异常"
同样的代码在aistudio的BML Codelab上执行没有问题的。
======================

还原过程为：
https://aistudio.baidu.com/aistudio/usercenter
在这里新建一个脚本任务，python版本为3.7，paddlepaddle2.2.2
———————————
脚本任务里面 run.py 文件的内容为：
[code]
以上代码能正常运行。
———————————
但是因为脚本任务内置的paddlenlp版本太低了，我需要升级到2.2.6的paddlenlp版本。
run.sh 脚本如下：
[code]
———————————
运行该shell后提示版本升级ok了，但现在上上方的python代码就无法执行了，报告错误为：
[code]
所以错误为：2.2.6的paddlenlp版本在aistudio的脚本任务环境无法

[2022-04-30 08:47] ZeyuChen commented on #2044
@jiuwuxiaohun 请尝试下不用使用`python -m paddle.distributed.launch run.py`
使用
[code]
启动脚本即可，看看是否还会有这个错误，可能是个环境问题不支持分布式的启动。

[2022-04-30 10:23] jiuwuxiaohun commented on #2044
我在这里开了一个公开项目，请执行下，谢谢哈。

https://aistudio.baidu.com/aistudio/clusterprojectdetail/3921081/trainTask

同时我也在aistudio论坛发帖了。
https://aistudio.baidu.com/paddle/forum/topic/show/1729292
---------

V100的机器多卡机器一直在排队，所以我用的是最低的配置运行的。

[2022-04-30 11:52] luyaojie commented on #2044
我最近在Aistudio的P40脚本程序中遇到过，可以尝试这样安装对应版本的sklean后解决。

[code]

[2022-04-30 13:56] effort-yq opened #2045 "关于p-tuning中训练loss变为nan"
利用开源的代码，在自己的数据集上跑p-tuning，发现loss变为nan，查了之后模型输出的logit中的数据变为nan，这是什么原因啊，求助。请问有大佬知道吗

[2022-04-30 16:24] guoshengCS commented on #2045
这个可能不一定是NAN首次出现的位置和直接原因，可以先参考下 https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/flags/check_nan_inf_cn.html#check-nan-inf 这里的文档再确认看看NAN或者INF首次出现在哪里

[2022-05-01 00:59] jiuwuxiaohun commented on #2044
@luyaojie 你的方案有效，谢谢。

[2022-05-01 01:46] qishibo opened #2046 "关于保险问答中SimCSE的问题"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/question_answering/faq_finance/model.py#L60-L78
![10fbae41488b36a0aca05f3d615f63a](https://user-images.githubusercontent.com/5136418/166128676-7a9cf1f3-ef97-4e84-abd8-5e746ac1c0f6.png)

ptm预训练模型里面含有dropout的，为什么后面输出又手动dropout了一遍呢？这样不就dropout两遍了么，正常SimCSE应该只利用了Encoder本身的dropout吧

[2022-05-01 11:34] wpfnlp opened #2047 "paddle在GPU上训练保存的模型，如何在CPU上加载推理使用。"
您好，第一次用paddle，有如下问题想问下：
1，在GPU上训练：model.save_pretrained("./checkpoint')导出的模型，如何在CPU上推理使用？
2，在GPU上训练：paddle.save(model.state_dict(), save_param_path)保存的参数，直接在在CPU上初始化模型。直接load参数就可以在CPU上推理使用吧？
3，我现在想把GPU上训练的模型，在保证精度一致的情况下想在GPU或CPU上做模型轻量化、加速推理操作，请问怎么操作呢？有没示例代码？

谢谢！

[2022-05-01 12:21] ZeyuChen commented on #2047
我们将在下个月中v
2.3正式版将这部份文档提供，包含轻量化的cpu gpu部署和服务话部署。 @joey12300 @LiuChiachi @heliqi

[2022-05-01 12:28] wpfnlp commented on #2047
您好，因为我们参加了算法比赛，用的是paddle，我们需要在本月8号之前提交镜像，最终评测要在1，CPU模式下：内存占用和推理速度；2，GPU模式下：内存占用和推理速度。两种模式下的综合指标。

所以需要尽快拿到具体的paddle方案来测试下。谢谢。

[2022-05-01 12:34] ZeyuChen commented on #2047
方便说下是什么比赛吗？以及另外目前你选择的模型是什么？我们看看能不能真好提供匹配模型的cpu gpu推理部署方案。

[2022-05-01 12:47] wpfnlp commented on #2047
https://2022.yingjiesheng.com/youwinUploadSys/#/
类似：model = ppnlp.transformers.RobertaForSequenceClassification.from_pretrained("roberta-wwm-ext-large", num_classes=4) 这个。

[2022-05-01 12:48] wpfnlp commented on #2047
https://2022.yingjiesheng.com/youwinUploadSys/#/
预训练用的这个：model = ppnlp.transformers.RobertaForSequenceClassification.from_pretrained("roberta-wwm-ext-large", num_classes=4) 。

[2022-05-01 14:37] JunnYu opened #2048 "ernie3.0词表问题，出现重复字符。"
在`base`和`medium`版本的`ernie3.0`词表中，发现重复字符。
下标从零开始，第`12084`位置和第`18005`位置的字符重复，都为`$`这个符号。
请问这个词表中，哪个是正确的。

[2022-05-01 14:44] JunnYu opened #2049 "ernie3.0权重问题"
- [base版本](https://bj.bcebos.com/paddlenlp/models/transformers/ernie_3.0/ernie_3.0_base.pdparams)权重文件存在命名错误。
其中`cls.predictions.layer_norm.scale`应改为`cls.predictions.layer_norm.weight`。
- [medium版本](https://bj.bcebos.com/paddlenlp/models/transformers/ernie_3.0/ernie_3.0_medium.pdparams)缺少MLM处`transform`的权重

[code]

[2022-05-01 14:44] qishibo commented on #2046
还有一个问题，计算KL散度这里，两个logits经过了线性层后求得KL散度，Linear为什么要是二分类呢？

![image](https://user-images.githubusercontent.com/5136418/166150999-ad649cdf-ae3a-444e-b4f8-5519bc67a3ba.png)

![image](https://user-images.githubusercontent.com/5136418/166150987-8db3c332-88ac-4a23-b43b-a33f2ed1e75a.png)

[2022-05-02 12:25] wpfnlp commented on #2047
您好， @ZeyuChen 部署方案上有文档可以给到吗？谢谢！

[2022-05-03 00:53] Zhangbeibei1991 opened #2050 "paddlenlp中BERT自动下载存在问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
-
- paddlenlp=2.3.0rc0
-
![image](https://user-images.githubusercontent.com/29685955/166390032-2b8c0855-69fa-431d-8c6f-1623b5c37299.png)
-希望能检查一下
代码：
from paddlen

[2022-05-03 11:35] BaiIIzt opened #2051 "利用paddle inference 预测 在win10 中出现数据类型问题"
环境 win10   paddlenlp  2.2.5

应该是和以下问题出现了相同相同的情况，但是不太清楚他是如何解决的
https://github.com/PaddlePaddle/PaddleNLP/issues/732

代码deploy/python/predict.py 报错 ：
![Uploading image.png…]()

[2022-05-03 11:37] BaiIIzt commented on #732
![image](https://user-images.githubusercontent.com/75989862/166445936-5ba084fb-5d49-4423-a61a-2bb2430267fa.png)
是这里修改为int吗

[2022-05-03 11:37] BaiIIzt commented on #2051
![image](https://user-images.githubusercontent.com/75989862/166446045-a512ac32-3fa4-4d32-b495-0e0c248649a0.png)

[2022-05-03 15:00] JunnYu commented on #2051
windows默认`int`使用的是`int32`，linux环境下默认`int`使用的是`int64`，因此在win环境下指定一下`dtype="int64"`就好了。
比如
np格式
` input_ids = np.array([[1,2,3,4]], dtype="int64")`
paddle格式
` input_ids = paddle.to_tensor([[1,2,3,4]], dtype="int64")`

[2022-05-03 16:05] JaheimLee opened #2052 "ernie3.0结构"
最新的ernie3.0模型结构和2.0，1.0是一样吗？我看model类和config跟之前没什么结构区别。但是3.0论文里使用的时transformer-xl，这次开源的3.0版本跟论文里模型结构不一致是吗？

[2022-05-04 02:49] Nirvana-2021 commented on #1915
更新代码至最新版本，在相同的 10 万条数据上，loss 值变化如下：
global step 10, epoch: 1, batch: 10, loss: 4.23565, speed: 1.33 step/s
global step 20, epoch: 1, batch: 20, loss: 4.19754, speed: 1.67 step/s
global step 30, epoch: 1, batch: 30, loss: 4.21234, speed: 1.65 step/s
global step 40, epoch: 1, batch: 40, loss: 4.17117, speed: 1.57 step/s
global step 50, epoch: 1, batch: 50, loss: 4.22895, speed: 1.70 step/s
global st

[2022-05-04 02:52] Nirvana-2021 commented on #1915
两个问题确认一下：
1. 同样一批数据，为啥大佬们的 loss 的值那么小？
2. 将 10 万数据划分成训练集、测试集、验证集、语料库时，除运行 process.py 外，是否有其他操作？

[2022-05-04 03:07] Nirvana-2021 commented on #1915
再补充一个问题：
3. simcse 运行的依赖环境和第三方库是什么？

[2022-05-04 03:18] w5688414 commented on #1915
[train_unsupervised.csv](https://github.com/PaddlePaddle/PaddleNLP/files/8617698/train_unsupervised.csv)

[2022-05-04 03:46] w5688414 commented on #1915
[code]
@Nirvana-2021

[2022-05-04 06:45] alao556 opened #2053 "ErnieDoc根本无法调用！"
PaddleNLP版本2.2：
（1）ErnieDocModel.from_pretrain(....) 会报错
（2）ErnieDocTokenizer没有英文版本，而ErnieDocModel却有英文版的

[2022-05-04 06:58] joey12300 commented on #2053
@alao556 您好，我在是paddle 2.2.2下运行得到的结果如下：
1）  调用`ErnieDocModel.from_pretrained('ernie-doc-base-zh')`:
![image](https://user-images.githubusercontent.com/10826371/166634804-ee20928a-812a-4060-9d46-966891a580ea.png)

2) ErnieDoc的中文Tokenizer采用wordpiece方式切词，所以使用的是`ErnieDocTokenizer `；而其英文Tokenizer采用BPE的切词方式，所以其使用的是`ErnieDocBPETokenizer`。ErnieDoc的分类任务示例中分别有中英文的语料，均使用不同的模型以及Tokenizer，详细可参考https://github.co

[2022-05-04 07:16] alao556 commented on #2053
谢谢你的回答，但我又出现了另外一个问题，ErnieForMaskedLM.from_pretrained(...)和ErnieDocPretrainedModel.from_pretrained(...)都会以下报错，是因为没有公开ErnieDoc的MLM Head权重？

============================================
RuntimeError: Can't load weights for ernie-doc-base-en.
Please make sure that ernie-doc-base-en is:
- a correct model-identifier of built-in pretrained models,
- or a correct model-identifier of community-contributed

[2022-05-04 07:16] alao556 commented on #2053
谢谢你的回答，但我又出现了另外一个问题，ErnieForMaskedLM.from_pretrained(...)和ErnieDocPretrainedModel.from_pretrained(...)都会以下报错，是因为没有公开ErnieDoc的MLM Head权重？

============================================
RuntimeError: Can't load weights for ernie-doc-base-en.
Please make sure that ernie-doc-base-en is:

a correct model-identifier of built-in pretrained models,
or a correct model-identifier of community-contributed pre

[2022-05-04 07:24] ZeyuChen commented on #2047
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/export_model.py

@wpfnlp 请尝试下这个导出脚本代码进行部署吧，RoBERTa的结构和bert是一样的，这个脚本应该可以使用。

[2022-05-04 08:22] alao556 opened #2054 "为什么没有ErnieDoc的MLM Head可使用？"
没有ErnieDocForMaskedLM，也没ErnieDocForPretraining类调用，网上也没有ErnieDoc的MLM Head权重？

[2022-05-04 09:04] joey12300 commented on #2054
@alao556 你好，请问你目前有什么需求需要使用ErnieDoc？目前ErnieDoc只提供了Finetune的参数，并未提供MLM的参数以及预训练流程

[2022-05-04 09:35] BaiIIzt commented on #2051
还是出现同样报错，我将export_model.py进行了如下修改
![image](https://user-images.githubusercontent.com/75989862/166655956-f9207cf7-1981-4319-b06a-c2b08d069776.png)
可能修改的不全面还是存在相同报错，请问predict.py有需要修改的地方吗，(非nlp方向,不太专业)
![image](https://user-images.githubusercontent.com/75989862/166656431-e4902f36-d15f-4b1f-88be-00e71e7fd0e5.png)

[2022-05-04 09:50] BaiIIzt commented on #2051
报错
![image](https://user-images.githubusercontent.com/75989862/166659574-5df20d10-6022-435a-aed3-4143ebbd6d68.png)

[2022-05-04 10:03] BaiIIzt commented on #2051
![image](https://user-images.githubusercontent.com/75989862/166661485-ef0df187-41c9-4515-81c6-61736e277988.png)

[2022-05-04 12:01] JunnYu commented on #2051
https://github.com/PaddlePaddle/PaddleNLP/blob/793eee08ee3be5ebaacdd11a0a66eee716703b07/examples/text_classification/pretrained_models/deploy/python/predict.py#L130-L133

这个改成 dtype="int64", 主要是为了返回int64类型的numpy
[code]

[2022-05-04 12:08] BaiIIzt commented on #2051
XIEXIE

[2022-05-04 12:48] alao556 commented on #2054
由于我目前在做Prompt tuning的工作，是类似于完形填空的研究，而且还文本较长（超过512），所以需要ErnieDoc的MLM

[2022-05-04 15:46] hchhtc123 commented on #2053
ErnieDoc文档：
[https://paddlenlp.readthedocs.io/zh/latest/source/paddlenlp.transformers.ernie_doc.html](https://paddlenlp.readthedocs.io/zh/latest/source/paddlenlp.transformers.ernie_doc.html)

[2022-05-05 02:54] jackychancjcjcj opened #2058 "保险智能问答"
请问下 这边有保险智能问答的完整数据下载嘛（包括评测集和增强数据集等等）或者构造的脚本

[2022-05-05 03:03] ZeyuChen commented on #2052
是的，这次开源的模型版本和论文的结构不完全一致。
主要是个小的网络结构，考虑普适性做了一些调整，主要体现中文效果上的提升。

[2022-05-05 03:14] ZTurboX opened #2059 "pytorch预训练模型转paddle"
paddle暂不支持的预训练语言模型，用pytorch训练好，如何转成paddle inference版本的？

[2022-05-05 03:55] JaheimLee commented on #2052
了解，3Q

[2022-05-05 03:55] #2052 closed, assigned to ZeyuChen

[2022-05-05 06:25] #2058 closed, assigned to nobody

[2022-05-05 06:25] jackychancjcjcj commented on #2058
11

[2022-05-05 08:31] AI-Mart commented on #1982
还没有呢，最近忙其他的，过几天有空了弄一下，到时可以分享出来

[2022-05-05 08:54] menghonghan opened #2062 "import paddlenlp报错!"
PaddlePaddle 2.2.2
PaddleNLP 2.2.6
MacOS
Python3.7

下好paddlenlp之后 import paddlenlp就会报错 报错如下：

<img width="997" alt="image" src="https://user-images.githubusercontent.com/61367724/166890997-4a4a6a1b-c968-4fed-87ec-dcc87f144732.png">

[2022-05-05 10:49] skywalk163 commented on #1738
项目中使用到了tensorflow代码，如`from tensorflow.core.example import example_pb2`
请问“example_pb2”这个也要复现成飞桨代码吗？

[2022-05-06 01:28] JunnYu opened #2065 "Benchmark中run_clue_classifier.py错误。"
https://github.com/PaddlePaddle/PaddleNLP/blob/fa8fe0ef257a48b6517b01b177513391a6dfa8c2/examples/benchmark/clue/classification/run_clue_classifier.py#L470-L485
![image](https://user-images.githubusercontent.com/50394665/167052063-4fb3017b-41f7-411a-b1d3-eeecf0b62e95.png)

- 这个代码的482行存在错误，idx的范围只是一个batch中的index。不是全局的index，预测时提交到clue排行榜会出现错误。
- 然后预测的结果无法直接提交到clue排行榜，因为有的任务的有2种版本测试集，1.0版本和1.1版本，需要指定版

[2022-05-06 03:10] menghonghan commented on #2062
请问datasets版本要求多少啊？？？？

[2022-05-06 06:08] xixilllll opened #2067 "Taskflow API: word_segmentation 和 ner等 example无法运行"
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.6，PaddlePaddle2.2.2
2）系统环境：Windows，python版本  3.8.8
sentiment_analysis使用正常，但是word_segmentation或者ner任务运行，python自动停止，显示Process finished with exit code -1073741819 (0xC0000005)
![image](https://user-images.githubusercontent.com/40450302/167076011-ecec5f24-e623-4ed1-9ee1-fe3f71d4cb6a.png)

![image](https://user-images.githubusercontent.com/40450302/167076309-64a

[2022-05-06 06:41] ZHUI commented on #2062
您好，单独尝试 `import datasets`试试？

[2022-05-06 06:47] ZHUI commented on #2059
建议使用 x2paddle 进行转换。https://github.com/PaddlePaddle/X2Paddle

或者可以尝试自己使用paddle组网，对齐torch。

[2022-05-06 06:57] lianlipen opened #2068 "预测加速"
在代码中加入  ‘use_faster=True ’时
[code]
报错信息：
FasterGeneration is not available, and the original version would be used instead.

[2022-05-06 07:10] FrostML commented on #2068
是什么模型？有更多的报错信息么？
加速有黑白名单的机制，在检测到不满足一定配置或者是本地环境自动编译加速相关的代码不成功都会有这个提示

[2022-05-06 07:35] lianlipen commented on #2068
模型：unimo-text-1.0

[2022-05-06 07:36] lianlipen commented on #2068
报错信息：
[code]

[2022-05-06 07:39] skywalk163 commented on #2062
好像我也碰到过了，mark一下。
[code]

[2022-05-06 07:43] ZHUI commented on #2062
您好，这个问题是：当前运行目录，刚好有`datasets.py (/home/aistudio/BEiT/datasets.py)`， 此处datasets.py的优先级更高，没调用到 `datasets`这个包。
建议还个目录运行。

[2022-05-06 07:55] FrostML commented on #2068
看上去是当前环境编译加速特性有些问题。
麻烦再提供下当前环境的信息吧，包括但不限于 cmake 版本，gcc 版本，cuda 版本，GPU，paddlenlp 版本，paddle 版本。

可以尝试删除 `/home/ubuntu/.paddlenlp/extensions/` 重新编译看下能否解决。

另外，如果上面的方式不能解决，也可以修改下 `/home/ubuntu/.local/lib/python3.7/site-packages/paddlenlp/transformers/generation_utils.py` 文件里，如下几行代码，再执行一次，看下具体的编译报错是什么：
<img width="831" alt="image" src="https://user-images.githubusercontent.com/7160927/167090634-d8f2957

[2022-05-06 07:58] w5688414 commented on #2046
@qishibo  这是我们在做保险问答过程中想的一个优化方式，即接入一个全连接层，做二分类计算rdrop损失，类似于语义匹配任务。当然这里面还有很多改进的空间，有兴趣可以一起交流合作。

[2022-05-06 08:25] lianlipen commented on #2068
嗯嗯，好的。谢谢！

[2022-05-06 08:29] ZHUI commented on #2059
具体是什么模型呢？我们这边也可提供帮助，可以一起开源，丰富paddlenlp生态。

[2022-05-06 08:31] qishibo commented on #2046
@w5688414 感谢回复，我这也跑了个测试，一个是换成16分类，效果区别不大；另一个就是尺寸不变，直接output_emb_size输出，得分反而降低了，所以问问你们的思路

还有dropout那个问题能解答一下么，为什么dropout两次呢

[2022-05-06 08:43] xixilllll commented on #2067
![image](https://user-images.githubusercontent.com/40450302/167098266-5bdd9bf9-c447-4c9f-a6d1-86bd70b428b0.png)
为什么没有information_extraction这个接口

[2022-05-06 08:46] wawltor commented on #2067
需要最新的版本，pip install paddlenlp==2.3rc0 --upgrade

[2022-05-06 08:57] linjieccc commented on #2067
辛苦提供下内存，GPU显存配置

[2022-05-06 09:01] xixilllll commented on #2067
谢谢，已解决

[2022-05-06 09:02] xixilllll commented on #2067
你好，我在另一个conda环境重新装了一下，现在可以了。只是会有pillow的warning。
![image](https://user-images.githubusercontent.com/40450302/167101374-aa6f8d36-61c9-4fe9-a630-7b0f63c4370e.png)

[2022-05-06 09:23] #2067 closed, assigned to linjieccc

[2022-05-06 10:21] geoyee commented on #1236
@ZHUI  同问，遇到这个问题，使用的paddlenlp 2.3.0rc0，模型是`ErnieForGeneration`，训练是可以训练的，保存使用的`save_pretrained`，结果如下

![image](https://user-images.githubusercontent.com/71769312/167113540-978e946a-bb4e-417b-8b93-d4aa61c5f004.png)

![image](https://user-images.githubusercontent.com/71769312/167113592-5d2c49bc-b6c8-451e-9e6d-7a2180c519ea.png)

然后加载参数，`tokenizer`是能加载的，但是模型就报错

[code]

![image](https://user-images.git

[2022-05-06 14:06] tianxin1860 commented on #2045
小样本场景下模型收敛比较敏感，可以试试调整下 batch_size 看看是否稳定会出现 nan ?

[2022-05-06 14:44] w5688414 commented on #2046
@qishibo  好的，2次有点不准确，额外的dropout不是必须的，可以根据个人的情况添加，因为bert等预训练模型里面已经有dropout（bert里面的dropout不只1处有，可以看源代码，Transformer里面的每一个Encoder都有dropout）。另外，官方的SimCSE是直接使用预训练语言模型的dropout，跟您说的思路一样，可以比较一下差异有多大。

[2022-05-06 15:19] qishibo commented on #2046
好的，我试试看这额外的dropout有什么影响

[2022-05-06 15:35] geoyee opened #2071 "ErnieForGeneration加载训练后的模型报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.0rc0，PaddlePaddle 2.2.2.post101
2）系统环境：AI Studio V100 32GB 版本
- 复现信息：

0. 问题同 #1236

1. 使用ErnieForGeneration模型，可以进行训练。定义模型如下：

[code]

2. 训练完成后使用`model.save_pretrained(output_dir)`和`tokenizer.save_pretrained(output_dir)`保存模型参数与tokenizer的参数，文件夹内结果如下：

![image](https://user-images.githubus

[2022-05-07 01:11] #2045 closed, assigned to nobody

[2022-05-07 07:38] #2002 closed, assigned to linjieccc

[2022-05-07 07:59] AI-Mart commented on #1984
观点词可以当做一个实体来对待吧？如果弄成关系抽取的任务，实体之间不漏检的匹配，准确率应该能大幅度提升

[2022-05-07 08:56] #1857 closed, assigned to joey12300

[2022-05-07 09:05] AI-Mart opened #2074 "PaddleNLP/applications/question_answering/和PaddleNLP/applications/neural_search/咨询"
看官方案例，PaddleNLP/applications/question_answering的相似度检索召回效优于 PaddleNLP/applications/neural_search/的效果。

PaddleNLP/applications/question_answering是否相当于 PaddleNLP/applications/neural_search/的升级，在检索领域假如只有无标注数据的话，是不是推荐用PaddleNLP/applications/question_answering？

[2022-05-07 14:27] w5688414 commented on #2074
@AI-Mart 您好，question_answering里面的检索模型使用的是RocketQA预训练的检索模型，RocketQA本身就是开放领域问答预训练模型，如果业务跟问答相关，并且只有少量的数据，推荐使用question_answering，里面包含了很多优化方法。neural_search的技术栈更完善一点，有召回也有排序，另外，question_answering里面的trick也可以用于neural_search，可能数据量大了之后，neural_search调参调起来不大方便，实际使用的时候需要考虑一下成本代价。

[2022-05-08 02:50] jiuwuxiaohun opened #2078 "测试FasterGeneration，T5模型加速是还没有支持吗？"
2.2.6的版本

测试FasterGeneration，T5模型加速是还没有支持吗？

[2022-05-08 12:51] gongel commented on #2078
你好，暂时还没有哈，内部已经排期了，敬请期待。

[2022-05-09 01:44] AI-Mart commented on #2074
好的，感谢回复，如果针对无监督的召回模型，把RocketQA借鉴过来效果应该会更好

[2022-05-09 03:42] you567 opened #2082 "ERNIE-CSC训练loss下降问题"
您好，在text_correction --> ernie-csc任务中添加Automatic Corpus Generationreadme增强数据后，按照readme中参数 python train.py --batch_size 32 --logging_steps 100 --epochs 10 --learning_rate 5e-5 --model_name_or_path ernie-1.0 --output_dir ./checkpoints/ --extra_train_ds_dir ./extra_train_ds/ --max_seq_length 192,
 执行(我的显存只有11g，将learning_rate 5e-5改为了1.25-5;-batch_size 改为了8)，这是指是在 10个epochs里都采用learning_rate=5e-5？我在第2个ep

[2022-05-09 05:24] jiuwuxiaohun opened #2083 "T5在动转静的时候，报错，"
大概代码如下：
[code]
----------

  File "动态图转换静态图.py", line 37, in <module>
    paddle.jit.save(model, jit_model_path)
  File "<decorator-gen-101>", line 2, in save
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/wrapped_decorator.py", line 25, in __impl__
    return wrapped_func(*args, **kwargs)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-pa

[2022-05-09 06:33] tianxin1860 commented on #2082
1. lr=5E-5 表示在整个训练过程中学习率峰值是 5E-5, 因为训练过程中学习率会随着训练过程进行限行衰减，最终降低为 0。
2. 可以贴一下完整的收敛曲线，我们看下收敛是否符合预期？
3. lr = 1.25E-5 已经比较小了，基本没必要再继续降学习率了。

[2022-05-09 06:41] tianxin1860 commented on #2083
t5_ckpt_model 这个模型从哪里来的？可以贴下链接。

[2022-05-09 06:47] tianxin1860 commented on #2083
这行代码写错了: `paddle.jit.save(model,"ckpt_jit_model")`  -> `paddle.jit.save(jit_model, "ckpt_jit_model")`

[2022-05-09 07:20] ZHUI commented on #2071
有点奇怪, ErnieForGeneration的预训练模型是 ernie_gen, 内置的预训练权重是这些，没有 "ernie-1.0"才对。
https://github.com/PaddlePaddle/PaddleNLP/blob/e728f037d9a110c934ebb9188eee3ea638ac7f56/paddlenlp/transformers/ernie_gen/modeling.py#L268-L276

[2022-05-09 07:47] ZeyuChen commented on #2071
@ZHUI 也支持ernie-1.0， roberta同样结构模型的加载的。可以看看ernie-gen的文档
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_generation/ernie-gen

[2022-05-09 07:50] jiuwuxiaohun commented on #2083
------
# 联网下载
model = T5ForConditionalGeneration.from_pretrained("Langboat/mengzi-t5-base")
tokenizer = T5Tokenizer.from_pretrained("Langboat/mengzi-t5-base")
------
写成save jit_model，也是一样的错误。

[2022-05-09 07:55] geoyee commented on #2071
@ZHUI 我看的就是这个下面的带的AI Studio链接的项目：[https://aistudio.baidu.com/aistudio/projectdetail/1339888](https://aistudio.baidu.com/aistudio/projectdetail/1339888)，这就是加载的"ernie-1.0"

![image](https://user-images.githubusercontent.com/71769312/167365346-9d8d000b-3424-4a0c-ba68-c13ac441d83f.png)

![image](https://user-images.githubusercontent.com/71769312/167365384-91e1ac6e-07b4-4ff0-8391-a1c9346d66bf.png)

[2022-05-09 08:00] tianxin1860 opened #2084 "ann_utils 当 output_emb_size = 0 时报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-09 08:09] ZHUI commented on #2071
嗯嗯，抱歉，这里是针对ernie_gen重写很多 PretrainModel的方法。是我疏忽了。

[2022-05-09 08:13] ZHUI commented on #2071
https://github.com/PaddlePaddle/PaddleNLP/blob/e728f037d9a110c934ebb9188eee3ea638ac7f56/paddlenlp/transformers/ernie_gen/modeling.py#L350-L359

这部分代码应该有问题。`model_config_file`之前就pop了。所以不应该出现。这里应该是判断weight权重的代码。
[code]

[2022-05-09 08:20] ZHUI commented on #2071
@ZeyuChen 这里有点代码hack的意思，大部分模型PretrainedModel的代码都是在`model_utils.py`，可能出现这里ernie_gen单独重写了。可能存在些潜在的兼容风险。
https://github.com/PaddlePaddle/PaddleNLP/blob/e728f037d9a110c934ebb9188eee3ea638ac7f56/paddlenlp/transformers/model_utils.py#L153-L182

https://github.com/PaddlePaddle/PaddleNLP/blob/e728f037d9a110c934ebb9188eee3ea638ac7f56/paddlenlp/transformers/ernie_gen/modeling.py#L299-L309

[2022-05-09 09:41] tianxin1860 commented on #2084
只有当 output_emb_size > 0 的时候，才表示用户自己进行了降维度。
否则，dim 应该设置为预训练模型自身的 hidden_size。
![image](https://user-images.githubusercontent.com/6829601/167383808-c9cc93f3-635a-469e-bcab-1c1e7ad01c04.png)

[2022-05-09 13:15] #2084 closed, assigned to tianxin1860, w5688414

[2022-05-09 14:28] FrostML commented on #2083
辛苦 @yingyibiao 看看

[2022-05-09 16:27] ZeyuChen commented on #2065
@JunnYu 是否可以提供个修改的PR支持可以提交到CLUE的？

[2022-05-10 00:59] datalee commented on #2067
最讨厌的就是这个，天天变版本，谁会长期用？？？

[2022-05-10 01:05] FrostML commented on #2078
same as #1914

[2022-05-10 02:18] AI-Mart commented on #2074
保险问答系统
`  pretrained_model = AutoModel.from_pretrained("ernie-1.0")

    tokenizer = AutoTokenizer.from_pretrained('ernie-1.0')
    model = SimCSE(pretrained_model, output_emb_size=output_emb_size)`

政务系统
`  pretrained_model = ppnlp.transformers.ErnieModel.from_pretrained(
        "ernie-1.0")

    tokenizer = ppnlp.transformers.ErnieTokenizer.from_pretrained('ernie-1.0')
    model = SimCSE(pretra

[2022-05-10 02:20] AI-Mart commented on #2074
RocketQA不管是在无监督还是有监督，效果都都比之前的neural_search提升非常多，很棒的工作，建议大家直接用最优的，faq_finance的版本作为基线。

[2022-05-10 02:22] yingyibiao commented on #2083
您好，我们目前还没有支持T5模型的动转静功能，近期应该会进行支持，到时候会在此处同步～

[2022-05-10 02:43] geoyee commented on #2071
所以这部分我是需要等待修复吗 😃

[2022-05-10 02:50] ZHUI commented on #2071
不是，你这边可以先试一下，可以正常加载吗？

[2022-05-10 03:08] jiuwuxiaohun commented on #2083
谢谢。那就辛苦你们了。

[2022-05-10 03:17] LiuChiachi commented on #2049
感谢指出参数的错误，
`cls.predictions.layer_norm.scale`确实应改为`cls.predictions.layer_norm.weight`。
medium本身不含有MLM权重。

[2022-05-10 03:18] ZHUI commented on #2071
https://github.com/PaddlePaddle/PaddleNLP/pull/2092 可以试一下这个PR

[2022-05-10 03:23] JunnYu commented on #2049
好的，谢谢回复

[2022-05-10 03:23] #2049 closed, assigned to LiuChiachi

[2022-05-10 03:33] tianxin1860 opened #2093 "【情感分析】如何针对包含 `隐藏维度` 的文本进行标注、训练、预测？"
典型 Case:  太酸了，但是挺新鲜的。

[2022-05-10 05:55] you567 commented on #2082
奥奥，好的，谢谢！这是前三轮的loss曲线（训练比较慢，基本上epoch/天），您看正常吗？
另外，是不是用sighan的数据集作为测试指标相对于其他领域(比如政务)的高些，实际领域测试的话可能没有这么高的F1值？
![0-2epoch](https://user-images.githubusercontent.com/35205404/167550132-fb83acff-1b69-4bd9-bf5e-eb828a003d6c.png)
？

[2022-05-10 06:49] tianxin1860 commented on #2082
看整体收敛曲线是正常的，除了`突刺` 可能是因为脏数据引起的以外，其余部分挺正常的。

[2022-05-10 09:19] you567 commented on #2082
奥奥，好的，非常感谢！

[2022-05-10 09:25] geoyee commented on #2071
好的收到，晚上试一下

[2022-05-10 11:29] ZHUI commented on #2071
PR已合入 https://github.com/PaddlePaddle/PaddleNLP/pull/2092

[2022-05-11 01:09] hfy-only opened #2106 "!bash predict1.sh预测出现问题"
采用官网ai studio训练完数据后，然后!bash predict1.sh预测出现问题，下面是所用的版本信息，环境选择是V100 32GB
Name: paddlepaddle-gpu
Version: 2.2.2.post101
Summary: Parallel Distributed Deep Learning
Home-page: UNKNOWN
Author:
Author-email: Paddle-better@baidu.com
License: Apache Software License
Location: /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages
Requires: astor, decorator, numpy, Pillow, protobuf, requests,

[2022-05-11 01:25] hfy-only commented on #2106
![image](https://user-images.githubusercontent.com/31085549/167750219-8e945408-b482-4ccb-8594-fcb6cd1dca88.png)
![image](https://user-images.githubusercontent.com/31085549/167750289-5bbe1d94-425f-49a1-bbc5-3c1767549cf0.png)

[2022-05-11 01:43] hfy-only commented on #2106
还是预测出错
![image](https://user-images.githubusercontent.com/31085549/167751893-2f14be06-e16e-4125-92c1-cf257b9c7495.png)

![image](https://user-images.githubusercontent.com/31085549/167751826-1dca5b66-740e-46d1-9227-5f4eb39b39aa.png)

[2022-05-11 02:11] guoshengCS commented on #2050
在 https://github.com/PaddlePaddle/PaddleNLP/pull/2101 这个PR里进行了修复，抱歉带来困扰

[2022-05-11 02:11] guoshengCS commented on #2050
在 https://github.com/PaddlePaddle/PaddleNLP/pull/2101 这个PR里进行了修复，抱歉带来困扰

[2022-05-11 03:30] LemonNoel commented on #2106
请问有AI Studio的链接吗？具体跑的是哪份代码呢？

[2022-05-11 03:31] hfy-only commented on #2106
就跑!bash predict1.sh这部分代码，链接如下   https://aistudio.baidu.com/aistudio/projectdetail/3975868?shared=1

[2022-05-11 03:55] GMfatcat opened #2112 "ValueError: (InvalidArgument) Tensor holds the wrong type, it holds int, but desires to be int64_t."
看了下issue，發現這個好像是paddleNLP在windows老問題。在Seq2Seq對聯生成的範例中出現這個情況

![image](https://user-images.githubusercontent.com/58526756/167765516-f04e4c8e-3a72-413b-8b05-ebe1d6aa7ddb.png)

Example Code 今天早上剛剛clone下來，paddleNLP版本2.2.6

感覺問題還是出在np array window 默認 int32 非 int64，做了以下改動後還是出現錯誤
![image](https://user-images.githubusercontent.com/58526756/167765954-a2a2bcec-8149-413c-b268-c2d44073c9e5.png)

請問如何解決?

[2022-05-11 06:43] wenjin11 opened #2115 "SimCSE网络构建中int64的问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.2.6，PaddlePaddle2.2.2
2）系统环境：请您描述系统类型，Windows，python3.9
- 复现信息：如为报错，请给出复现环境、复现步骤
-
sequence_output, cls_embedding = self.ptm(input_ids, token_type_ids,
                                                  position_ids, attention_mask)
这里报错InvalidArgumentError:

[2022-05-11 06:45] wenjin11 commented on #2115
具体问题
Traceback (most recent call last):
  File "C:\lab\faq_system\train.py", line 212, in <module>
    do_train()
  File "C:\lab\faq_system\train.py", line 175, in do_train
    loss = model(
  File "C:\Users\666\anaconda3\lib\site-packages\paddle\fluid\dygraph\layers.py", line 917, in __call__
    return self._dygraph_call_func(*inputs, **kwargs)
  File "C:\Users\666\anaconda3\lib\site-packages\pa

[2022-05-11 07:43] SupQi opened #2116 "MemoryError: bad allocation 问题"
paddle，cpu版本，版本号：
paddlepaddle = 2.2.2
paddlenlp = 2.2.6

在使用时出现MemoryError:
![Uploading image.png…]()
![Uploading image.png…]()
求帮助

[2022-05-11 08:06] SupQi commented on #2116
![image](https://user-images.githubusercontent.com/42308450/167797698-40c86d02-e2fd-403d-b275-e114de16feb8.png)

[2022-05-11 08:15] SupQi commented on #2116
![image](https://user-images.githubusercontent.com/42308450/167801978-7371ac23-5793-44a8-8486-71a3491afd1d.png)

[2022-05-11 08:36] LemonNoel commented on #2106
看起来是版本问题，在终端输入``nvidia-smi``检查当前CUDA版本。检查完从 [官网安装文档](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html)复制相应设备上的安装脚本。

<img width="740" alt="截屏2022-05-11 下午4 30 55" src="https://user-images.githubusercontent.com/25607475/167805203-f779fa90-c8f4-4fa9-8ae1-a5a39b8fa20a.png">

我这边测试的V100 32GB是10.1，因此把安装脚本替换为
[code]
之后依次运行代码就没有报错了。

[2022-05-11 10:15] hfy-only commented on #2106
谢谢，说的非常正确，我再试试看

[2022-05-11 10:32] hfy-only commented on #2106
我把batch调到2还是会溢出，环境选择是V100 32GB，所以有什么好办法呢

![1652263395(1)](https://user-images.githubusercontent.com/31085549/167829374-cf5fa836-f974-44f5-b656-8fc7f4053c7d.jpg)

[2022-05-11 10:51] hfy-only commented on #2106
我把batch调到1还是会溢出，环境选择是V100 32GB，所以请教下有什么好办法呢
![image](https://user-images.githubusercontent.com/31085549/167832869-fc47af1d-69f0-462d-8129-837219a317a2.png)

[2022-05-11 15:34] LemonNoel commented on #2106
提示是内存溢出，一般在使用CPU计算时会出现，建议在代码中``print(paddle.device.get_device())``查看运行设备，在运行前用``free -h``查看下可用内存大小。

[2022-05-12 00:54] ZTurboX opened #2122 "MacBERT是否有小型化模型"
macbert有tiny版的吗

[2022-05-12 01:32] hfy-only commented on #2106
这是溢出时的，默认的设置
![image](https://user-images.githubusercontent.com/31085549/167973837-f2821b79-966a-4bfe-afd7-947834975211.png)
![image](https://user-images.githubusercontent.com/31085549/167974121-c796588f-a334-477c-8baa-ad4a2bc6509d.png)

[2022-05-12 02:13] wawltor commented on #2067
因为是新增功能，需要通过发布新版本的方式给大家使用

[2022-05-12 04:08] #2116 closed, assigned to wawltor

[2022-05-12 09:24] joey12300 commented on #2082
实际领域测试的F1可能会低一些。Sighan所有数据集本身也是机器生成的，跟实际数据的分布不太一样。

[2022-05-12 13:45] geoyee commented on #2071
现在需要重新训练吗？之前训练的参数不能用了吗？加载`Tokenizer`时报错

![image](https://user-images.githubusercontent.com/71769312/168089441-611bd597-b71c-411a-981b-de28a63353ca.png)

![image](https://user-images.githubusercontent.com/71769312/168089567-33617234-f578-4192-889f-55bbe55722ae.png)

[2022-05-12 14:26] Sarchpr opened #2128 "信息抽取keyerror错误"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.2.1
2）系统环境：请您描述系统类型，例如Linux/，python3.7
- 复现信息：如为报错，请给出复现环境、复现步骤
复现baseline,训练模型出错：KeyError: 'B-股东减持'
已经查看utils.py和dataprepare.py，读取文件都有utf8编码。

[2022-05-12 14:28] xixilllll opened #2129 "DUEE 事件抽取任务基线系统 aistudio运行报错："
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP 2.3.0，PaddlePaddle2.2.2
2）系统环境：请您描述系统类型，例如aistudio
DUEE这个项目，在aisudio运行出错。https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuEE
![image](https://user-images.githubusercontent.com/40450302/168097848-85a9bc91-6f39-4a06-a0a8-5a75c64163d0.png)

报错信息：
check and create directory
dir ./

[2022-05-12 15:19] wawltor commented on #2128
辛苦发一下具体执行的脚本是哪个吗？

[2022-05-12 15:20] wawltor commented on #2122
您好，没有这个macbert有tiny了，想问一下具体想进行什么样的工作了

[2022-05-13 01:54] Sarchpr commented on #2128
信息抽取-事件抽取任务基线系统-duee

[2022-05-13 02:15] LemonNoel commented on #2106
是在执行到哪一步报错的呢？

[2022-05-13 02:18] ZHUI commented on #2071
权重可以正常加载了吗？`Tokenizer ` 这边我再测试一下

[2022-05-13 02:36] Nirvana-2021 commented on #1915
重新搭建运行环境，更新底层依赖项，问题已解决，版本参考见附件：
[requirements.total.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8683698/requirements.total.txt)

[2022-05-13 02:37] #1915 closed, assigned to tianxin1860, w5688414

[2022-05-13 02:52] w5688414 commented on #2115
@wenjin11  您好，目前没有32位的windows环境，我提供一种修改，先看看是否work。
data.py里面
[code]
改成：

[code]

[2022-05-13 03:51] LemonNoel commented on #2129
数据的路径问题。可以先把``./data/DuEE-fin/duee_fin_event_schema.json``重命名并移动到``./conf/DuEE-Fin/event_schema.json``作为暂时解决方案，包括train.json等文件也需要重命名放在相应目录。

后续我们会提PR来改善这部分的体验。

[2022-05-13 04:10] zhaojingtong1231 opened #2133 "paddlenlp进行interence报错"
- paddlenlp 2.2.6 paddlepaddle 2.2.2
- linux python3.7
- 项目链接
- 项目“ernietiiny_time”共享链接(有效期三天
- 在inference脚本中是部署推理
- savemodel.py是保存模型到model目录下
![image](https://user-images.githubusercontent.com/73507164/168209460-564a26ff-3d70-4ef1-8474-8f42a94141ef.png)

[2022-05-13 05:18] LemonNoel commented on #2106
测试了一下110G内存确实不够，如果要在AIStudio上运行，可以把``max_seq_length``设置为256

[2022-05-13 06:53] guoshengCS commented on #2133
我在note中运行会报不一样的错误，请问可否在终端环境运行看下，也可以提供下能在终端环境运行的python代码，notebook不太方便排查
<img width="948" alt="image" src="https://user-images.githubusercontent.com/14105589/168227553-30db74ca-2c75-4440-ba4b-f9ee2e4894fd.png">

[2022-05-13 06:55] #2133 closed, assigned to nobody

[2022-05-13 07:01] hfy-only commented on #2106
实在抱歉，目前max_seq_length设置小了没有内存溢出了，但是又遇到了新的问题predict1.sh: line 15: --batch_size: command not found
![image](https://user-images.githubusercontent.com/31085549/168228814-27b6a43c-5b8e-4877-8eb4-5cb5d94a0f04.png)

[2022-05-13 09:55] LemonNoel commented on #2128
根据现在的信息我没办法判断。请问PaddleNLP和PaddlePaddle版本分别是多少呢，具体执行哪个路径下的哪个shell脚本，以及报错的截图可以提供一下吗？

[2022-05-13 10:19] Sarchpr commented on #2128
paddlenlp  版本2.2.6      paddle  版本 2.2.1
执行notebook位置:   PaddleNLP-develop\examples\information_extraction\DuEE.   我在这个路径下建的notebook.代码是粘贴的："PaddleNLP实战——LIC2021事件抽取任务基线"  如下图：
![图片](https://user-images.githubusercontent.com/105440801/168262610-8b9b3eca-9ccc-446a-8aaa-d27f0efe4e42.png)

在执行到训练模型的时候，出现错误：  如下图这个cell:
![图片](https://user-images.githubusercontent.com/105440801/168263488-b8c10102-ba24-

[2022-05-14 01:40] Macxy2018 opened #2141 "paddlenlp.layers.crf中LinearChainCrf有办法转成静态图吗？"
版本、环境信息为
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.0.1，PaddlePaddle2.2.2
2）系统环境：centos7，python3.6

[2022-05-14 01:44] GMfatcat commented on #2112
@LiuChiachi 請問問題有解決嗎?

[2022-05-14 03:32] Sarchpr commented on #2128
已解决，谢谢你的关注。

[2022-05-14 03:32] #2128 closed, assigned to LemonNoel, linjieccc

[2022-05-14 04:19] wj-Mcat commented on #2128
@Sarchpr 你能分享一下你的解决方案吗？这样其他遇到这个问题开发者就可以快速找到解决方案了。

非常期待你的分享

[2022-05-14 08:59] badaoxiaojie opened #2143 "TaBERT 与 RAT-SQL的使用问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

你好，我想问一下，你们用的是ERNIE这个模型进行的预训练，如果我换成TABERT这个预训练语言模型，由于paddle它不支持PyTorch，有什么方法能解决嘛？我还有一个疑问，因为你们这个是对RAT-SQL模型的增强，支持多种语言是不是指支持中文和英文的实现？你们还提到了对value的识别能力，是怎么体现的？我还想问一

[2022-05-14 14:55] LiuChiachi commented on #2112
https://github.com/PaddlePaddle/PaddleNLP/blob/a389a72c56e4445e74405b0716a99989cdc5d3a3/examples/text_generation/couplet/data.py#L75

[code]

建议`Pad()`里面指定`dtype`为`int64`这样试一下，另一个非常类似的例子是这样修复的，#1198, #1216

[2022-05-14 14:56] LiuChiachi commented on #2065
Hello，已提 PR #2142 修复所说的这个问题，非常感谢指出错误~

[2022-05-14 15:08] GMfatcat commented on #2112
加上就可以train了

[2022-05-14 15:10] #2112 closed, assigned to LiuChiachi

[2022-05-14 15:56] ZeyuChen commented on #2143
我们目前还没有TaBERT，可以issues这里给我们个feature request，我们的生态开发伙伴可能会将这个模型转进来。
RAT-SQL这个模型你是否跑起来了？以及TaBERT的结构与BERT结构区别大吗？

[2022-05-14 15:57] ZeyuChen commented on #2141
@Macxy2018 可以的，可以参考这个示例
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/lexical_analysis/export_model.py

这里免就包含LinearChainCRF导出成静态图模型进行部署。

[2022-05-14 15:58] ZeyuChen commented on #2122
@zhentaoCoding 可以试试最新的ernie 3.0-medium这个6层的小模型，阅读理解上的效果也是相当好的，如果有轻量级模型需求的话，可以试试这个。

[2022-05-15 03:07] geoyee commented on #2071
还是不行，我clone了paddlenlp然后安装了develop分支，重新训练后，Tokenizer可以加在但是model还是一样的。

![image](https://user-images.githubusercontent.com/71769312/168455408-e0518218-ff96-4af1-bb7c-aade3dc73b87.png)

[2022-05-15 05:10] ZeyuChen commented on #2036
请尝试安装PaddleNLP最新版本2.3并拉取最新代码，即可解决此问题。

[2022-05-15 05:10] #2036 closed, assigned to wawltor

[2022-05-15 05:11] ZeyuChen commented on #2031
@guoshengCS @wawltor @ZHUI @tianxin
请在我comment的地方直接编辑更新一版，并在此处提供准确新Feature使用入口。

[2022-05-15 05:12] ZeyuChen commented on #2031
# New Features

## 通用信息抽取框架 UIE (Universal Information Extraction)

- 新增基于统一结构生成的通用开放域信息抽取框架 [**UIE**](https://arxiv.org/abs/2203.12277)，单个模型可以支持命名实体识别、关系抽取、事件抽取、情感分析等任务，同时在模型规模上支持base和tiny两种结构，满足多种业务场景需求。
- 新增医疗领域信息抽取模型 UIE-Medical，支持医疗专名识别和医疗关系抽取两大任务，并支持小样本学习，预测精度业界领先。
- 支持 Taskflow 一键使用

## 文心NLP大模型升级

- 新增文心大模型[**ERNIE 3.0**轻量级版本](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zo

[2022-05-15 06:55] tianxin1860 opened #2147 "Store Images in this Issue"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-15 06:55] #2147 closed, assigned to nobody

[2022-05-15 07:11] ZeyuChen commented on #2031
@guoshengcs 新增下IPU的支持

[2022-05-15 07:38] #2031 closed, assigned to ZeyuChen

[2022-05-15 15:44] ai-p0lar1s opened #2151 "dist.spawn在多个num_workers下报错"
当采用dist.spawn()时，num_workers大于0会报错
[code]
部分错误日志如下：

[code]

把num_workers设为0时，上述代码不会报错。另外，当改为paddle.distributed.launch方式运行时，不管num_workers是多少都不会报错。不知这是什么原因导致的，正确的做法是？

[2022-05-16 02:18] LemonNoel commented on #2106
可以截图看一下predict1.sh的内容吗？

[2022-05-16 02:19] Macxy2018 commented on #2141
好的，已经参考，并且转换成功

[2022-05-16 02:19] #2141 closed, assigned to joey12300

[2022-05-16 02:21] hfy-only commented on #2106
predict1.sh的内容如下：
![image](https://user-images.githubusercontent.com/31085549/168509172-cc98cc9a-b2c6-4ce0-93c9-b62ebd2bfdcc.png)

[2022-05-16 02:23] snoopy1316 opened #2153 "通用信息抽取 -- 基于UIE的基线系统 相关问题"
环境信息：Windows10 cpu python=3.7 paddlepaddle=2.2.3 paddlenlp=2.2.6
参考文档：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuUIE#quick-start
在进行多任务模型训练时输入命令：python3 run_seq2struct.py   --multi_task_config config/multi-task-duuie.yaml  --negative_keep 1.0   --do_train   --metric_for_best_model=all-task-ave     --model_name_or_path=./uie-char-small   --num_train_epo

[2022-05-16 04:13] luyaojie commented on #2153
您好，可能是 CPU 运行较久，尝试使用使用较小的 --logging_steps=1 ，看是否有输出。

也可以使用在 Aistudio 提供的[基线](https://aistudio.baidu.com/aistudio/projectdetail/3913877)，可以方便运行。

[2022-05-16 04:29] kingkingofall opened #2156 "文本分类数据集运用数据增强"
paddlenlp中有没有工具可以实现文本数据集的数据增强呢

[2022-05-16 04:39] LiuChiachi commented on #2151
paddle.distributed.launch方式运行，不需要`dist.spawn(worker)`这样显示的调用，直接调用`worker()`即可，启动python脚本的时候，python -m paddle.distributed.launch --gpus "0,1,2" xxx.py 就行

[2022-05-16 05:09] ai-p0lar1s commented on #2151
没有这样用的。上面的代码是python xxx.py运行的，dataloader在num_workers大于0的时候会报上述错。如果改成launch运行（把worker和main去掉），不管num_workers是多少，都没有问题。现在就想确认一下如果我要通过dist.spawn()运行，那么怎么才能开多个num_workers。

[2022-05-16 06:10] snoopy1316 commented on #2153
感谢回复，但是目前的情况是输入命令之后就会立刻结束进程，没有训练结果的输出（没有训练）；不是等待好长时间之后没有结果

[2022-05-16 06:57] ZTurboX commented on #2122
ernie 3.0-medium在cpu下预测速度怎么样

[2022-05-16 07:35] luyaojie commented on #2153
原始命令中的 `--gradient_accumulation_steps` 似乎缺少默认的参数，可以在后面添加参数  `--gradient_accumulation_steps 1` 试一下。
另外 cpu 运行需要添加 `--device=cpu` 。

请试一下下面的代码能否正常运行，我在 Windows 11 上测试可以运行到训练部分 (`python3.8` 可以根据实际修改)。

python3.8 run_seq2struct.py --multi_task_config config/multi-task-duuie.yaml --negative_keep 1.0 --do_train --metric_for_best_model=all-task-ave --model_name_or_path=./uie-char-small --num_train_epochs

[2022-05-16 07:46] wenjin11 opened #2164 "pipeline server init error"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.2.6 PaddlePaddle2.2.2
2）系统环境：请您描述系统类型，Windows，python3.9
- 复现信息：如为报错，请给出复现环境、复现步骤
最后Paddle Serving部署时出错pipeline server init error
Traceback (most recent call last):
  File "C:\Users\666\anaconda3\lib\site-packages\paddle_serving_server\pipeline\error_catch.p

[2022-05-16 07:47] #2115 closed, assigned to w5688414

[2022-05-16 07:50] Spico197 opened #2165 "TaskFlow/information_extraction/UIETask 中的 schema tree 被重复构建"
- 版本、环境信息
1）PaddleNLP==2.3.0，paddlepaddle-gpu==2.3.0
2）系统环境：Ubuntu18.04
- 复现信息：如为报错，请给出复现环境、复现步骤

如这里所示，`_run_model`函数中多次调用了`self._build_tree`，而 task 在实例化时，会先调用一次 `self._build_tree`，但是未保存建树的结果。多次建树的步骤十分影响系统预测时的性能。
https://github.com/PaddlePaddle/PaddleNLP/blob/f2085e65d686e6f5369dfa8ff6a43092c95850cb/paddlenlp/taskflow/information_extraction.py#L331-L336

https://github.com/PaddlePaddle/PaddleNLP/

[2022-05-16 08:06] wawltor commented on #2165
您好，我们非常乐意看到个人体检PR哈，欢迎对开源社区贡献力量！

[2022-05-16 08:07] tianxin1860 commented on #2122
ERNIE3.0 系列模型 CPU 上的预测提供了做量化、裁剪等提升性能的方法，具体性能数据可以参考这里: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0#CPU%E6%80%A7%E8%83%BD

[2022-05-16 08:08] snoopy1316 commented on #2153
之前的命令全部都成功执行：生成有 data/DuUIE_pre
按照您这边的输入，还是出现相同的结果（立即结束运行）
![image](https://user-images.githubusercontent.com/94336500/168547689-c6ce301e-e2ea-4b78-8ab7-a8f7c18ac74a.png)

[2022-05-16 08:21] w5688414 commented on #2164
您好，请问是运行什么程序导致的错误？ @wenjin11

[2022-05-16 08:23] wenjin11 commented on #2164
部署服务端运行web_service.py

[2022-05-16 08:25] w5688414 commented on #2156
数据增强有中英文回译，随机插入，随机删除，随机替换，这个可以在数据层面实现。[kingkingofall](https://github.com/kingkingofall)

推荐一个工具：
https://github.com/425776024/nlpcda

[2022-05-16 08:35] wenjin11 commented on #2164
faq_system项目中的

[2022-05-16 09:22] Spico197 commented on #2165
感谢您的回复，我已提交了相关的PR

[2022-05-16 09:37] w5688414 commented on #2164
请问您在哪个群，可以艾特一下，咱们沟通一下？

[2022-05-16 09:37] kingkingofall opened #2171 "文本数据增强后，显存溢出"
关于使用了nlpcda进行数据增强后，出现了显存溢出问题，即使是将batch_size调小也同样会出问题

数据增强部分代码：

from nlpcda import CharPositionExchange, Homophone
smw = CharPositionExchange(create_num=2, change_rate=0.3,char_gram=3,seed=1024)

class MYDataset(paddle.io.Dataset):
    def __init__(self, sents, labels):
        self.sents = sents
        self.labels = labels

    def __getitem__(self, index):

        data = self.sents[index]

[2022-05-16 09:43] wenjin11 commented on #2164
交流三群 我不知道您的群名称或Q名 这是我的2541352748

[2022-05-16 09:48] LemonNoel commented on #2106
报错是因为第15行重复的``batch_size``设置，删掉就可以了，前边脚本是正常运行的。在参数换行的时候需要用``\``来连接，没有``\``下一行会被认为是新的命令，所以这里报错了。

[2022-05-16 10:32] TeslaZhao commented on #2164
这是原生Windows系统上运行吗？

[2022-05-16 10:45] w5688414 commented on #2164
serving目前没有适配windows，可以使用linux或者docker环境

[2022-05-16 11:15] 2627020811 opened #2174 "albertforquestion导入报错"
使用ai studio的jupter book环境导入albertforquestion不成功.
cannot import name 'AlbertForQuestionAnswering' from 'paddlenlp.transformers' (/opt/conda/envs/python35-paddle120-envb/python3.7/site-packages/paddlenlp/transformers/__init__.py)

可是我查看源码是存在这个模型的
同理,xlnetforquestionanswering也导入不了

[2022-05-16 11:36] #2165 closed, assigned to wawltor, linjieccc

[2022-05-16 12:38] jiangix-paper opened #2176 "UIE信息抽取模型中关系抽取的schema定义"
请问UIE信息抽取模型中关系抽取的schema定义是什么样的？

[2022-05-16 12:40] LiuChiachi commented on #2151
您好，咨询了相关同学，这里定义了局部函数`convert_example`用`partial`调用，这个没法pickable，没法传递给子进程，多进程DataLoader的dataset需要继承`paddle.io.Dataset/IterableDataset`通过实现`__getitem__`或者`__iter__`方法来定义

相关文档：

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/distributed/spawn_cn.html#spawn

[code]
- func (function) - 由 spawn 方法启动的进程所调用的目标函数。该目标函数需要能够被 pickled (序列化)，所以目标函数必须定义为模块的一级函数，不能是内部子函数或者类方法。

[2022-05-16 13:02] ZeyuChen commented on #2171
数据增强的时候是否有确保batch size没变？显存溢出大概率是batch size变大了很多

[2022-05-16 14:07] ai-p0lar1s commented on #2151
Hi，我改成`paddle.io.Dataset`试了一下：
[code]

依然报错：
[code]

看起来是tokenzier的问题。试了一下，tokenize需要放在collate_fn里面。
[code]

这样没有问题。但是有没有方法也可以并行tokenize呢？

[2022-05-16 14:09] kingkingofall commented on #2171
是的，区别只有是否注释了数据增强那句

[2022-05-16 14:25] jazzisfuture opened #2178 "erine-m 转换为 onnx 出现错误"
导出ONNX时出现错误
[code]

代码为
[code]

完全报错信息为
[code]

[2022-05-16 14:47] wawltor commented on #2176
具体可以参考 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E4%BF%A1%E6%81%AF%E6%8A%BD%E5%8F%96 这块的文档，
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/16698950/168620161-21b27a69-9cf1-45bd-9c47-0e74bcf7c4bb.png">
用dict的方式来抽取关系，key是实体，value的是relation的集合

[2022-05-17 01:33] ZTurboX commented on #2122
ERNIE3.0 在mask任务上效果如何

[2022-05-17 01:47] xrzlizheng opened #2181 "UIE 在paddle-gpu下无法复线cpu模式下的结果"
- 版本、环境信息
-linux下  python  3.6.1
packaging                          21.0
paddle-bfloat                      0.1.2
paddle2onnx                        0.9.5
paddlefsl                          1.1.0
paddlenlp                          2.3.0
paddlepaddle-gpu                   2.3.0
pandarallel                        1.6.1
`# 实体抽取
from pprint import pprint
from paddlenlp import Taskflow
schema = ['时间',

[2022-05-17 01:56] wjddd opened #2182 "ERNIE 3.0能否用于文本匹配任务中？"
例如这个：
[https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/ernie_matching](url)

[2022-05-17 02:03] mingwei-liu opened #2184 "UIE支持英文吗？"
你好，目前的通用信息抽取模块支持英文吗，比如我的输入语料和schema都是英文的？原始论文似乎是中文英文都有的？

[2022-05-17 02:08] wawltor commented on #2182
可以的，只要把相关模型名称改成ernie-3.0-base-zh 或者ernie-3.0-medium-zh即可

[2022-05-17 02:09] zhangxu999 opened #2185 "PLATO-2 模型文件的来源"
1. paddle2.0版本的 PLATO-2 相关模型文件是基于paddle1.x 模型转化的，还是在paddle2.0上重新训练的？

2.为什么没有发布paddle2.0 版本的用于对话回复排序的NSP模型呢？

[2022-05-17 02:13] wjddd commented on #2182
谢谢，已经测试成功，model_config.json是在https://github.com/PaddlePaddle/PaddleNLP/blob/d0a5ea9691b64e458b747cffa37a3db4cb5ae540/model_zoo/uie/utils.py中找到的

[2022-05-17 02:13] #2182 closed, assigned to LiuChiachi

[2022-05-17 02:15] jiweizhangxu opened #2186 "AssertionError: The task name:information_extraction is not in Taskflow list, please check your task name."
这个是版本问题吗？
Traceback (most recent call last):
  File "/usr/local/zx/uie/my_try/try_1.py", line 5, in <module>
    ie = Taskflow('information_extraction', schema=schema)
  File "/root/anaconda3/envs/ax/lib/python3.6/site-packages/paddlenlp/taskflow/taskflow.py", line 173, in __init__
    task)
AssertionError: The task name:information_extraction is not in Taskflow list, please check your task name.

[2022-05-17 02:17] wawltor commented on #2186
您好，UIE这个功能是2.3版本正式发版的，麻烦升级一下PaddleNLP `pip install paddlenlp --upgrade`

[2022-05-17 02:24] yeliang2258 commented on #2178
用户您好，为了快速解决问题，麻烦将paddle模型上传网盘，然后给我一个下载链接，谢谢

[2022-05-17 02:27] solar2ain commented on #2184
你好，暂时还不支持英文，后续会支持

[2022-05-17 02:31] xrzlizheng commented on #2181
Python 3.6.3 |Anaconda, Inc.| (default, Oct 13 2017, 12:02:49)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

True

[2022-05-17 10:24:19,199] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-05-17 10:24:19,200] [    INFO] - Already cached /home/zli/.paddlenlp/models/ernie-3.0-b

[2022-05-17 02:33] linjieccc commented on #2181
麻烦提供下CUDA、cuDNN版本信息

[2022-05-17 03:00] jazzisfuture commented on #2178
@yeliang2258 链接: https://pan.baidu.com/s/1NJBgaTnIwpisVDaBAeuJiA?pwd=ptdi 提取码: ptdi

谢谢

[2022-05-17 03:12] wawltor commented on #2181
经排查，是安装GPU版本的PaddlePaddle有问题，通过conda安装即可 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/linux-conda.html

[2022-05-17 03:12] #2181 closed, assigned to linjieccc

[2022-05-17 03:16] tianxin1860 commented on #2122
mask 任务具体是指 MLM 任务还是什么具体的下游任务？

[2022-05-17 03:19] ZTurboX commented on #2122
MLM 任务

[2022-05-17 06:31] willqq commented on #2176
同问，想了解哪里可以查询到schema目前内置了哪些定义？ 例如我要抽取“地点”这类信息，scheme = ['地区'(不能设置为'地点')]

[2022-05-17 06:35] willqq commented on #2176
找到了，定义在termtree_type.csv里了

[2022-05-17 06:39] linjieccc commented on #2176
因为是开放域的信息抽取，schema里的类别没有限制，用户可以自己定义。这里`地区`和`地点`都是支持的，也可以针对地点定义更细粒度的类别信息（比如县、区、街道等）。

[2022-05-17 08:54] ZeyuChen commented on #2185
@zhangxu999
1. 是基于1.x模型转换的，不是重新训练的。
2. 未来会有的，但以前的模型可能不会用重复的计算资源换个版本重新训一遍，会有额外的成本。可能会选择把这个成本放在研发新模型上会更好。

[2022-05-17 08:54] FrostML commented on #2185
1. PaddleNLP 这里是基于 1.x 模型转化的
2. 可以看看这里的代码，这里用到的 [`Plato2InferModel `](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/dialogue/plato-2/interaction.py#L57) 包括了 [`nsp`](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/dialogue/plato-2/model.py#L301) 的

[2022-05-17 08:54] ZeyuChen commented on #2178
@jazzisfuture 了解下现在您用onnx的enrie-m用于什么场景呢？是用ernie-m微调后的模型吗？

[2022-05-17 08:55] ZeyuChen commented on #2171
@kingkingofall 我的意思是你的这个函数，可能改变了batch size，导致显存变大。可能需要研究下怎么控制数据增强不改变batch size

[2022-05-17 08:56] jiweizhangxu opened #2193 "linux系统安装 paddlepaddle一直有gcc错误，请问有什么快捷解决方法吗？"
(paddle_fei) [root@czq-gpu uie]# /root/anaconda3/envs/paddle_fei/bin/pip  install --upgrade paddlepaddle==2.3.0 -i https://mirror.baidu.com/pypi/simple
Looking in indexes: https://mirror.baidu.com/pypi/simple
Collecting paddlepaddle==2.3.0
  Using cached https://mirror.baidu.com/pypi/packages/92/25/c4dc9ab8364e4a885580bff95603d9f7a6252662d948cbed2a44ac3916f2/paddlepaddle-2.3.0-cp39-cp39-manylinux1

[2022-05-17 08:59] ZeyuChen commented on #2171
另外就是试一下，把这个数据增强操作，不要放在get item这个环节做。
在训练For循环的过程中，用Data Collator的方式来做。

[2022-05-17 09:00] ZeyuChen commented on #2171
因为你这个操作可能会不断个更改原始数据，导致数据过长活着batch size过大，导致显存溢出。
需要在get item之后的环节处理，确保不篡改了原始的数据。

[2022-05-17 09:04] zhanghaok commented on #1935
你好请问能否将你的Linux下的paddnlp环境打包分享一下啊，我尝试装paddle装了好久一直失败，呜呜呜谢谢了，我的邮箱是3250514239@qq.com

[2022-05-17 09:04] kingkingofall commented on #2171
哦哦，好的，谢谢

[2022-05-17 09:08] zhanghaok commented on #1895
你好请问能将你的paddlenlp的环境打包分享一下啊，我最近一直安装不上呜呜呜，谢谢了求求了，我的邮箱3250514239@qq.com

[2022-05-17 09:59] newbby123 opened #2194 "使用information_extraction进行实体识别，未输出任何结果便退出，退出代码-1073741819 (0xC0000005)"
PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.0，PaddlePaddle 2.2.0
系统环境：Windows10，python3.6

代码：
[code]

控制行输出：
[code]

[2022-05-17 10:35] jazzisfuture commented on #2178
@ZeyuChen 就是原版的我想在转换为onnx试下部署

[2022-05-17 11:06] wawltor commented on #2193
建议使用conda来安装环境
https://www.paddlepaddle.org.cn/
<img width="906" alt="image" src="https://user-images.githubusercontent.com/16698950/168797284-c51902af-d87e-439c-878d-6c6f8e626533.png">

[2022-05-17 11:26] yingyibiao commented on #2174
感谢您的反馈，我们没有在 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/albert/modeling.py#L24 里面添加 AlbertForQuestionAnswering，所以导致无法使用命令 from paddlenlp.transformers import AlbertForQuestionAnswering。
不过您可以使用 from paddlenlp.transformers.albert.modeling import AlbertForQuestionAnswering 进行调用。

[2022-05-17 11:32] yingyibiao commented on #2030
您好，感谢您的反馈。关于您所反馈的差异点：huggingface 是通过 from_pretrained 函数内置 model.eval() 代码进行评估模式的默认设置。关于这个体验的差异我们内部会进行综合评估～
https://github.com/huggingface/transformers/blob/main/src/transformers/modeling_utils.py#L2080

[2022-05-17 11:33] JizxGit commented on #2030
这是来自QQ邮箱的自动回复邮件。 您好，我已收到您的E-mail，会尽快查看，必要时会回复您。

[2022-05-17 11:34] joey12300 commented on #2194
您好，我在最新版本的paddle上运行如下。您可以尝试更新一下最新版本的Paddle，看看还会不会报错？

![image](https://user-images.githubusercontent.com/10826371/168801181-9516fe42-b8a9-4f0f-bfc9-efa033adaee4.png)

[2022-05-17 11:51] #1730 closed, assigned to yingyibiao

[2022-05-17 11:51] yingyibiao commented on #1836
文档已更新。

[2022-05-17 11:51] #1836 closed, assigned to yingyibiao

[2022-05-17 11:52] #2050 closed, assigned to yingyibiao

[2022-05-17 12:17] tianxin1860 commented on #2122
MLM 任务在预训练阶段通过  PPL 来评估的，具体需求是什么呢？是要用 MLM 任务来做完形填空还是？

[2022-05-17 12:34] liuhj2015 opened #2198 "使用语义检索系统中的example semantic_search_example.py报错"
ValueError: (InvalidArgument) Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 513, but got 513. Please check input value.   [Hint: Expected ids[i] < row_number, but received ids[i]:513 >= row_number:513.] (at /home/Paddle/paddle/fluid/operators/lookup_table_v2_op.h:77)   [operator < lookup_table_v2 > error]。
查看代码好像是tokenizer query和paragraph没有设置max_seq_len

[2022-05-17 12:41] tianxin1860 commented on #2198
请问使用的 CPU 环境还是 GPU 环境？

[2022-05-17 12:41] liuhj2015 commented on #2198
cpu

[2022-05-17 13:00] tianxin1860 commented on #2198
因为模型和数据量不小，建议基于 GPU 环境跑哈，目前仅支持 GPU 环境， CPU 环境我们会尽快支持，欢迎关注。

[2022-05-17 13:05] liuhj2015 commented on #2198
ok，我gpu环境上试下，不过看报错好像不是环境问题。

[2022-05-17 14:09] tianxin1860 commented on #2198
我刚提 PR 修复了 CPU 上运行的问题: https://github.com/PaddlePaddle/PaddleNLP/pull/2201

[2022-05-17 14:11] #2198 closed, assigned to nobody

[2022-05-17 14:11] tianxin1860 commented on #2198
这个问题已经修复了，可以拉一下最新的代码哈，CPU 和 GPU 都支持了。

[2022-05-17 15:15] zhangxu999 commented on #2185
@ZeyuChen

感谢解答，不知能否提供下模型转换的代码（或者相应的教程），我想转化一个中文的1.x的NSP模型。
（对paddle的代码还不是很熟，我研究了  [兼容载入旧格式模型](https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/model_convert/load_old_format_model_cn.html) ，但是还是没能搞定，），谢谢！

[2022-05-17 15:17] zhangxu999 commented on #2185
@FrostML
感谢您的解答，我看到了相关代码，但是对应的模型文件只有英文版的，我需要在plato-mini模型后接上一个中文的NSP模型。

[2022-05-17 15:28] liuhj2015 commented on #2198
好的，谢谢～

[2022-05-18 00:14] ZTurboX commented on #2122
做拼写纠错，类似于完型填空

[2022-05-18 01:19] jiweizhangxu commented on #2193
感谢，牛的

[2022-05-18 03:10] wjddd opened #2205 "请问之后会开放下载已经过微调的ERNIE 3.0模型吗？"
像是文本匹配任务中使用LCQMC训练的ERNIE-1.0-Base
[https://github.com/PaddlePaddle/PaddleNLP/tree/e6dff46fc2cfd7838d5da2f81ad767f2d7d56e8a/examples/text_matching/ernie_matching#%E6%A8%A1%E5%9E%8B%E4%B8%8B%E8%BD%BD](url)

[2022-05-18 03:46] LeoMax-Xiong opened #2206 "代码中中文服务导致unicode显示异常"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/utils/downloader.py#L387
代码里面 '~' 是中文服务，导致有下面问题。

[code]

[2022-05-18 05:00] wawltor commented on #2205
您好，这块目前不会开放下载微调的模型哈，因为LCQMC的这个数据集相对来说一个通用数据集，大家可以通过自己的微调的数据来训练，同时该微调后的模型并不是一个通用模型，对于产业落地是比较难的；如果想用相似度判断的模型可以用 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E6%96%87%E6%9C%AC%E7%9B%B8%E4%BC%BC%E5%BA%A6
<img width="1137" alt="image" src="https://user-images.githubusercontent.com/16698950/168960703-7df4c98a-3083-4ef7-be36-d4e364193750.png">

[2022-05-18 05:27] yingyibiao commented on #2206
Python3 默认使用 utf-8 编码，所以是支持 '~' 符号的，这里需要看一下你的环境的编码设置。
可以通过 sys.getdefaultencoding() 查看默认编码方式，另外可以查看一下 LC_ALL、LC_CTYPE、LANG 这三个环境变量有没有额外设置。

[2022-05-18 05:29] tianxin1860 commented on #2122
纠错的话，可以参考下 PaddleNLP 提供的纠错模型: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_correction/ernie-csc

[2022-05-18 06:06] will-wiki opened #2210 "想问下能否将huggingface的bart模型load到paddlenlp仓库的bart模型当中"
如题，想问下有没有办法将huggingface的torch版bart模型load到paddlenlp仓库的bart模型上，主要是考虑到线上inference耗时的问题，目前采用的torch版本bart在输入长度为40的时候推理耗时为0.4s/条，不知道paddlenlp仓库bart模型推理耗时是多少，有没有相应的trt部署方法呢。如果有转换的方法能否提供些指导或例子，十分感谢～

[2022-05-18 06:12] yt605155624 commented on #2206
我们在 paddlespeech/__init__.py 里面加了个
[code]
你们要不也加上？

[2022-05-18 06:12] ZeyuChen commented on #2210
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_summarization/bart

@will-wiki BART在PaddleNLP上已经有了。
请问你要用BART是做生成任务吗？如果是生成任务我们要高性能的加速版本，这块我们可以更近一步对接一下。

[2022-05-18 06:13] ZeyuChen commented on #2210
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/faster_generation

这是我们FasterGeneration的介绍，随时讨论。

[2022-05-18 06:20] yingyibiao commented on #2206
Good suggestion!

[2022-05-18 06:38] 2627020811 commented on #2174
from paddlenlp.transformers.xlnet.modeling import XLNetForQuestionAnswering 我导入Xlnet的问答模型仍然报错，看源码也是有的，望解答，谢谢

[2022-05-18 06:44] will-wiki commented on #2210
感谢回复，是用BART模型做生成任务，就是目前我有一个已经训练好的huggingface的torch版本BART模型，但是inference的速度在bs=1的情况下较慢，是发现了PaddleNLP实现了BART模型，想问下有没有办法加速BART模型的推理速度，是需要把torch模型转成paddle模型才能使用吗

[2022-05-18 06:44] gongel commented on #2210
你好，可以尝试使用我们的FasterGeneration，更多的细节欢迎加微信群来讨论。
![wc](https://user-images.githubusercontent.com/24390500/168974767-3824479d-1436-4cec-943f-86037f8f3bf9.png)

[2022-05-18 06:47] will-wiki commented on #2210
@gongel 按照这个方法的话，想问下有没有办法将现在已经训练好的torch版本的模型转换到paddle版的模型上呢

[2022-05-18 06:50] gongel commented on #2210
可以转换的。

[2022-05-18 06:53] 2627020811 opened #2212 "XLNetForQuestionAnswering导入报错"
from paddlenlp.transformers.xlnet.modeling import XLNetForQuestionAnswering
显示报错：cannot import name 'XLNetForQuestionAnswering' from 'paddlenlp.transformers.xlnet.modeling' (/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/transformers/xlnet/modeling.py)

经查看源码是存在这个模型的

[2022-05-18 06:54] yuanjie-ai opened #2213 "关键词抽取没有"
关键词抽取的功能在哪，有相关文本验证集不

[2022-05-18 06:55] FrostML commented on #2185
目前没有从 1.x 到 2.x 直接的转换教程或是代码，我可以提供一个思路。

首先需要说明是，模型中的参数在框架里面是通过参数本身的名称确定的，需要构建一个名称之间的对应关系。

### PaddlePaddle 1.x
如果您 1.x 的版本是使用的静态图的话，对于某一个参数，可以通过以下方式获取其值：
[code]
`var_name` 其实就是参数的名称，构建一个名称到值的字典，可以 dump 下来：

其次，如果是 1.x 的动态图版本，那么对应某个参数 tensor，只需要：
[code]
即可。

### PaddlePaddle 2.x
对于 2.x 的动态图版本，比如我们已经构造好模型的实例：
[code]

可以基于 state_dict 来获取 tensor 本身或是 tensor 的名称：
[code]

读取之前获取的字典，使用：
[code]
完成赋值。之后可以

[2022-05-18 06:56] yingyibiao commented on #2212
您好，请问您使用的PaddleNLP版本是什么呢？可以更新一下PaddleNLP版本。

[2022-05-18 06:57] 2627020811 commented on #2212
执行更新仍报错呢。。。

[2022-05-18 06:58] yingyibiao commented on #2174
我本地测试是可以的，建议更新一下您的PaddleNLP版本。

[2022-05-18 07:00] taishan1994 commented on #2194
同样遇到了这个问题：windows10 python3.6 paddle2.3.0 paddlenlp2.3.0

[2022-05-18 07:09] ZHUI commented on #2213
您好，请问您使用的是什么版本的PaddleNLP，那个路径下的代码？

[2022-05-18 07:09] yingyibiao commented on #2212
<img width="781" alt="image" src="https://user-images.githubusercontent.com/52000032/168978628-f93e5fca-3287-49c3-acd3-d9382e0009dd.png">
我这边尝试了两种加载方式都是OK的。

[2022-05-18 07:09] 2627020811 commented on #2174
我是在ai studio的在线jupter book环境写代码的，要不您帮我看一下第一部分导入有啥问题，我试了实在不行，而且我挺急的。。。非常抱歉 and 万分感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;202

[2022-05-18 07:17] yingyibiao commented on #2174
! pip install --upgrade paddlenlp
! pip show paddlenlp
在项目开始前先运行着这两行代码～

[2022-05-18 07:22] 2627020811 commented on #2174
报了一个pip的error呢，这个也不知道咋回事
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月18日(星期三) 下午3:17
***@***.***&gt;;
***@***.******@***.***

[2022-05-18 07:23] yingyibiao commented on #2174
可以发个截图，我这边显示乱码了

[2022-05-18 07:26] 2627020811 commented on #2174
这是执行指令后的信息，麻烦您看一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月18日(星期三) 下午3:24
***@***.***&gt;;
***@***.******@***.***&gt;;

[2022-05-18 07:38] yingyibiao commented on #2174
我这边看不到截图

[2022-05-18 07:40] 2627020811 commented on #2174
附件里面没有png格式照片吗？可能qq邮箱太垃圾了吧，我换个网易邮箱给您发一下吧

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月18日(星期三) 下午3:38
***@***.***&gt;;
***@*

[2022-05-18 07:45] 2627020811 commented on #2174
您好，我用网易邮箱重发给您一遍，实在抱歉

| |
zyl2627020811
|
|
***@***.***
|
签名由网易邮箱大师定制

[2022-05-18 07:46] yingyibiao commented on #2174
不要用邮箱回复，你直接在github上添加图片即可。

[2022-05-18 07:47] 2627020811 commented on #2174
收到

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月18日(星期三) 下午3:46
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [P

[2022-05-18 07:50] 2627020811 commented on #2212
<img width="830" alt="pip报错" src="https://user-images.githubusercontent.com/48877760/168986377-7c49a0ac-b3ef-4905-894c-3e0348346b11.png">
按照您给的指令执行之后的结果，pip那里显示有conflict

[2022-05-18 08:04] yingyibiao commented on #2212
你试试能否正常加载

[2022-05-18 08:06] testliu123 opened #2219 "关于命名实体识别问题"
运行代码
str1="小区内有大量空置车位"
ner = Taskflow("ner")
print(ner(str1))
结果：[('小区', '场所类'), ('内', '词汇用语'), ('有', '肯定词'), ('大量', '修饰词'), ('空置', '场景事件'), ('车位', '位置方位')]
其中 “车位”的 WordTag标签有问题？

[2022-05-18 08:10] yaleimeng opened #2220 "ernie-csc 训练数据是否要求原句和目标句必须字数一样？"
如题。表面看来似乎字数必须一样，有明确要求原句和目标句每个字一一对应吗？
能支持零星多字、少字的纠正吗？

[2022-05-18 08:24] wawltor commented on #2219
您好，NER这块的准确率不能保证百分百的了，这种case的话麻烦看看是否可以用我们最新的开源UIE能解决  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-05-18 08:25] 2627020811 commented on #2212
不可以的，唉

[2022-05-18 08:35] taishan1994 commented on #2194
我解决了，将scipy降低至1.3.1，不知道你能不能这样解决。

[2022-05-18 08:39] CodeFrontWang opened #2221 "uie-medical-base似乎权值有问题，uie-base能够正常训练，更换medical后F1一直都是0（医疗数据集）"
您好，我们在使用uie训练时，只将uie-base更换为uie-medical-base，但每次验证时，F1都是0，在uie-base上则没有这个问题，多次测试后，感到疑惑，忘解答~
![image](https://user-images.githubusercontent.com/88528512/168996380-a2416614-0c50-4759-9d22-ebee4fc040f8.png)

[2022-05-18 09:08] LemonNoel commented on #2221
医疗数据集具体是什么任务呢？uie-medical-base是在uie-base的基础上使用医疗NER数据finetune后的模型参数，如果数据类别相差较大，基于uie-base来训练的效果可能更好。

[2022-05-18 09:17] CodeFrontWang commented on #2221
您好，感谢回复，就是NER的任务，在uie-base上训练F1大概是接近60，但是在uie-medical-base上直接变成0了，所以感到很疑惑，
![image](https://user-images.githubusercontent.com/88528512/169004496-f29ee77e-0ba9-4af6-a395-1c6555600803.png)

[2022-05-18 09:19] newbby123 commented on #2194
非常感谢，我把scipy降至1.3.1也解决了

[2022-05-18 09:19] CodeFrontWang commented on #2221
如果是效果好或者不好，那很正常，但我不是很能理解，我只修改了这个参数，parser.add_argument("--model", choices=["uie-base", "uie-tiny", "uie-medical-base"], default="uie-medical-base",  结果F1就变成0了，如果这个参数是uie-base，那么F1都是50+的

[2022-05-18 09:19] #2194 closed, assigned to linjieccc

[2022-05-18 09:50] deathpooool opened #2227 "cannot import name 'Taskflow' from 'paddlenlp'"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.0，PaddlePaddle-gpu2.3.0.post101
2）系统环境：Linux，python版本3.7
-
from paddlenlp import Taskflow

ImportError: cannot import name 'Taskflow' from 'paddlenlp'

初始版本paddlenlp不是2.3.0，根据issue#1990 执行pip install --upgrade paddlenlp后依然存在该问题

[2022-05-18 09:59] ZeyuChen commented on #2227
请确认下是否升级成功，这个现象应该是PaddleNLP没有被正确安装到最新版本。可以尝试Conda创建独立环境重新安装下。

[2022-05-18 10:03] ZeyuChen commented on #2213
@yuanjie-ai 可否完善下Issues内容？

[2022-05-18 10:54] CodeFrontWang commented on #2221
老师您好，我的数据是医疗NER的，在uie-base上训练验证集F1大概为60，但将模型改成uie-medical-base，无论怎么训练，P，R，F1一直都是0，其他参数没有动过，只改了模型。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月18日(周三) 下午5:08
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] uie-medical-base似乎权值有问题，uie-base能够正常训练，更换medical后F1一直都是0（医疗数据集） (Issue #2221)

医疗数据集具体是什么任务呢？uie-medical-base是在uie-base的基础上使用医疗NER数据finetune后的模型参数，如果数据类别相

[2022-05-18 11:27] CodeFrontWang commented on #2221
老师您好，我再次测试了一下，使用CBLUE的CMeEE数据集，还是会有这个问题，在uie-base上能正常训练验证，uie-medical-base上验证的F1就会是0

[2022-05-18 12:06] yeliang2258 commented on #2178
你好，请安装最新版本Paddle2ONNX然后再转换：
[code]

[2022-05-18 12:59] LemonNoel commented on #2221
如果不训练，直接在uie-medical-base上验证F1是多少呢？

[2022-05-18 13:12] LemonNoel commented on #2221
另外PaddleNLP的版本号以及参数配置是多少呢？我这边也尝试复现一下

[2022-05-18 13:44] CodeFrontWang commented on #2221
老师您好，配置为paddlenlp&nbsp; 2.3.0，paddlepaddle-gpu&nbsp; &nbsp;2.2.2.post101，finetune参数为：

直接用代码下载的uie-medical-base验证的结果也是3个0，数据集为天池CBLUE2中的CMeEE。
今天测试了在该数据集下微调uie-base，验证集的F1能达到71，如果不微调，uie-base的直接效果为Evaluation precision: 0.46667, recall: 0.00069, F1: 0.00138。
感谢老师的回复！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年5月18日(星期三) 晚上9:12
收件人: ***@***.***&gt;;
抄送: **

[2022-05-18 13:51] pergrand opened #2232 "UIE 关系抽取 5-shot遇到的问题"
在关系抽取时 进行5-shot finetune时 loss在降 但是F1为0，默认的训练参数100轮之后，没得到想要的效果

[2022-05-18 14:29] solar2ain commented on #2232
麻烦请提供schema，还有一条样例，我们看一下

[2022-05-18 15:04] LemonNoel commented on #2221
paddlenlp 2.3.0版本还没有uie-medical-base的参数，是develop版本吗？还是自己修改加载的呢？另外，现在沟通效率比较低，这是我们的联系方式：邮箱paddlenlp@baidu.com，方便的话可以留下联系方式，我们 1 对 1 沟通下。

[2022-05-18 15:13] CodeFrontWang commented on #2221
***@***.***，我是在AI STUDIO中，安装的2.3.0，那请问我是应该安装2.2.0吗？

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年5月18日(周三) 晚上11:04
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] uie-medical-base似乎权值有问题，uie-base能够正常训练，更换medical后F1一直都是0（医疗数据集） (Issue #2221)

paddlenlp ***@***.***，方便的话可以留下联系方式，我们 1 对 1 沟通下。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You

[2022-05-19 01:40] jiweizhangxu opened #2234 "readme里的doccano的版本的是什么？我觉得有必要写一下"
doccano1.6.0到1.6.3 都有数据集标注完导出后，标注全部消失的bug
doccano1.5.0又没有jsonl(relation)格式
现在怎么选择版本?

[2022-05-19 02:28] qarzhy opened #2236 "老师，为什么我的paddleNLP项目训练loss始终不下降？"
[code]
epoch: 1 - global_step: 50/940 - loss:1535.602539
best F1 performence has been updated: 0.00000 --> 0.73684
evalution result: accuracy:0.60000 F1: 0.73684
epoch: 2 - global_step: 100/940 - loss:1535.651611
best F1 performence has been updated: 0.73684 --> 0.74214
evalution result: accuracy:0.59000 F1: 0.74214
epoch: 2 - global_step: 150/940 - loss:1535.656250
evalution result: accuracy:0.59

[2022-05-19 02:35] linjieccc commented on #2234
您好，UIE标注示例中用到的doccano版本是1.6.2。感谢反馈，我们会尽快补充到文档中。

[2022-05-19 02:36] godlockin opened #2237 "同一个词不支持多种属性"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

env：
paddle 2.2.2
paddleNlp 2.3.0

os:
Mac

python:
3.7.11

在wordtag任务里，我们需要传入一些实体，如：
BESTÅ/产品
贝达/产品
短绒/材质
长绒/材质
纺织品/材质
长方形/filter-shape
标准/filter-shape
标准/filte

[2022-05-19 02:45] jiweizhangxu commented on #2234
不行,1.6.2还是有导出数据集标注全部消失的bug
![微信截图_20220519103852](https://user-images.githubusercontent.com/88191580/169193305-a254a5e7-825b-4a44-9f7f-a5951d1405cb.png)
![微信截图_20220519104337](https://user-images.githubusercontent.com/88191580/169193336-29602b63-b5d9-4509-8261-042f6b840abe.png)
![微信截图_20220519104353](https://user-images.githubusercontent.com/88191580/169193345-4086770f-297f-4469-9097-79262900d0b0.

[2022-05-19 03:42] LemonNoel commented on #2221
还是用2.3.0。可能是过拟合了，可以降低学习率或者减少训练步数。

[2022-05-19 04:10] wawltor commented on #2221
或者您在用户群里面吗？可以群里面叫一下我们，我们加你微信聊一下

[2022-05-19 04:44] taishan1994 commented on #2234
临时解决：https://github.com/taishan1994/doccano_export

[2022-05-19 06:21] Dinxin opened #2243 "PaddleNLP的Taskflow如何更改模型缓存的路径？"
版本、环境信息：
1）PaddleNLP 2.3.0 PaddlePaddle-gpu 2.2.2.post101
2）CentOS, python 3.8

比如说，我想使用`Taskflow("information_extraction")`来做信息抽取任务，但是默认的缓存路径的存储空间不够，我想另外指定一个缓存路径。

[2022-05-19 06:54] yingyibiao commented on #2236
换一个小一点的学习率尝试一下，比如 1e-4

[2022-05-19 06:55] linjieccc commented on #2243
您好，可以在任务初始化的时候通过`home_path`自定义修改缓存路径，示例如下：

[code]

其他关于Taskflow的使用问题也可以参考这里的FAQ：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#faq

[2022-05-19 07:05] byew opened #2244 "如下错误You should supply an encoding or a list of encodings to this method that includes input_ids, but you provided []"
你好，在信息抽取时候报如下错误：Windows系统，最新版的paddlepaddle，paddlenlp。

Traceback (most recent call last):
  File "D:/fire/extract_summary/information_extract/base.py", line 20, in <module>
    result = ie(doc)
  File "D:\fire\extract_summary\information_extract\paddlenlp\taskflow\taskflow.py", line 314, in __call__
    results = self.task_instance(inputs)
  File "D:\fire\extract_summary\information_extract\paddle

[2022-05-19 07:07] byew commented on #2244
补充：
     中文数据。
代码如下：
       doc=‘我的文本数据，大约几千字’
        ie = Taskflow('information_extraction', schema=schema, task_path='./uie_base/')
        result = ie(doc)

[2022-05-19 07:59] wawltor commented on #2244
想问一下 uie_base这个模型是自己训练的吗？

[2022-05-19 08:08] turkeymz commented on #1864
好的，谢谢老师

[2022-05-19 08:25] linjieccc opened #2246 "UIE支持实体级分类任务的定制标注"

[2022-05-19 08:36] byew commented on #2244
不是的，是官方提供的uie_base_v0.1，这个版本。

[2022-05-19 08:42] you567 commented on #2082
好的，谢谢！

[2022-05-19 08:50] chenxiaozeng opened #2247 "UIE New Features Request"
- [ ] 英文版本
- [ ] 文档/图片端到端版本
- [ ] 长文档信息定位
- [ ] zero-shot分类
- [x] 推理加速
- [ ] label studio支持
- [ ] schema特别多时的推荐用法
- [ ] 非连续实体抽取、嵌套抽取
- [x] Doccano标注支持『实体/评价维度+分类』
- [x] UIE finetune脚本适配多卡训练
- [ ] UIE Server部署方式
- [x] UIE tokenizer加载功能和AutoTokenizer分离
- [ ] UIE metric支持细粒度metric
更多需求持续收集中... ...

[2022-05-19 08:55] chenxiaozeng commented on #2247
UIE支持实体级分类任务的定制标注，开发中：https://github.com/PaddlePaddle/PaddleNLP/issues/2246

[2022-05-19 09:01] clareliu1234 opened #2248 "ValueError: (InvalidArgument) unsqueeze2(): argument 'X' (position 0) must be Tensor, but got Tensor (at /paddle/paddle/fluid/pybind/op_function_common.cc:737)"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
Traceback (most recent call last):
  File "/home/liuhaomin/NER/ernie_3.0/run_training.py", line 291, in <module>
    train(model, train_iter, optimizer, hp)
  Fil

[2022-05-19 09:04] LiuChiachi opened #2249 "ernie-m-base模型因为tokenizer不支持导致阅读理解cmrc2018任务失败"
失败截图：
![image](https://user-images.githubusercontent.com/26483581/169256240-6fe750de-e9a6-4536-9b8c-4dc3cb9183e4.png)

复现步骤：
[code]
TIPS：
HF dataset数据下载过程如果太长可以通过开关代理解决，为了减少数据处理时间，可以用slice方式只使用部分数据集，例如：
[code]

[2022-05-19 09:16] byew commented on #2244
咱们这个uie_base这个模型对句长有限制么？

[2022-05-19 09:32] ymzx opened #2251 "自己的数据，定制训练UIE，模型提取将所有句子的句首部分信息完全丢失"
环境： linux/python3.8+/PaddleNLP-develop/paddlenlp 2.3.0/paddle2.2.1
例如 "脑内多发小缺血灶。双侧筛窦慢性炎症。双侧颈深上间隙淋巴结反应性增生。"
“脑内多发小缺血灶” 所有信息遗漏，其它部分的信息提取正确。
而且信息提取丢失呈现一定的规律，就是所有句子句首信息都提取不到，句子中部和后部的信息完成能提取到，很好奇这个是可能是因为什么原因？
完全按照https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie做的UIE finetune，
谢谢！
采用doccano数据标注
![image](https://user-images.githubusercontent.com/29808550/169265965-c25fa290-f944-42a7-a

[2022-05-19 09:41] ZeyuChen commented on #2082
Issues solved.

[2022-05-19 09:41] #2082 closed, assigned to joey12300

[2022-05-19 09:42] LiuChiachi opened #2252 "ernie-health-chinese 模型因tokenizer do_lower_case相关报错导致cmrc2018任务失败"
失败截图：
![image](https://user-images.githubusercontent.com/26483581/169256721-4b514dbf-af3d-4fa6-9b52-5fed739dab46.png)
复现步骤：
[code]
TIPS：
HF dataset数据下载过程如果太长可以通过开关代理解决，为了减少数据处理时间，可以用slice方式只使用部分数据集，例如：
[code]

[2022-05-19 09:42] wawltor commented on #2251
能看一下您怎么标注数据的吗？

[2022-05-19 09:52] nghuyong commented on #2048
与这个issue一致：https://github.com/PaddlePaddle/ERNIE/issues/795

[2022-05-19 09:55] ymzx commented on #2251
已在问题中更新标注信息

[2022-05-19 09:58] wawltor commented on #2244
您好，我这样是没有问题的  是不是 doc那个标点符号错了啊
<img width="1139" alt="image" src="https://user-images.githubusercontent.com/16698950/169267172-977eacb1-04dd-4f3a-99cd-72d283b32c1c.png">

[2022-05-19 10:06] byew commented on #2244
那个 doc 它是一个几千字的文章，太大。所以我就没放上去。（我的文本数据，大约几千字）这句话我就是修饰下。
要不我留个邮箱，咱们微信联系？
baiyang.top@gmail.com
谢谢大佬

[2022-05-19 10:09] wawltor commented on #2244
可以加一下群
<img width="369" alt="image" src="https://user-images.githubusercontent.com/16698950/169269529-db06eff4-8033-4a2c-ad9f-de24e9c07684.png">

[2022-05-19 10:12] kahitomi commented on #2251
信息太少了~ 可能先排查一下训练数据是不是给对了
第一步：看看训练好的模型在训练数据上是不是也有这个表现？
有->标注平台问题 or 数据转换脚本问题，看转换后的训练数据是不是全的
没有->确认是不是100%句子句首信息都抽取不到，然后是不是给一下最少量可以复现的训练数据和训练参数

[2022-05-19 10:13] byew commented on #2244
好嘞，谢谢。

[2022-05-19 10:23] byew commented on #2244
嗯嗯 好的

哈喽大佬，搞定了。
我数据有点脏，换行符有点多，我把换行符全部去掉就不报错了。

[2022-05-19 10:25] ZeyuChen commented on #2248
请确定下使用paddlenlp和paddle的版本是否是最新的

[2022-05-19 10:26] aixuedegege opened #2253 "OSError: (External) CUBLAS error(7)"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号

paddle-bfloat           0.1.2
paddle2onnx             0.9.6
paddlefsl               1.1.0
paddlenlp               2.3.0
paddlepaddle-gpu        2.3.0.post112

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
使用gpu load模型时报错：
pytorch tf都能正确使用 gpu

[2022-05-19 10:52] LiuChiachi opened #2254 "ERNIE-Doc不支持多选任务"
ERNIE-Doc不支持多选任务，补充`ErnieDocForMultipleChoice`即可

复现步骤：
[code]
TIPS：
HF dataset数据下载过程如果太长可以通过开关代理解决，为了减少数据处理时间，可以用slice方式只使用部分数据集，例如：
[code]

[2022-05-19 10:59] LiuChiachi opened #2255 "gpt-cpm-large-cn CLUE 分类任务失败"
![image](https://user-images.githubusercontent.com/26483581/169278003-85c26323-163b-499d-acdb-e27b7feec1fb.png)

分类任务快速复现方法：

[code]

[2022-05-19 11:04] ymzx commented on #2251
在训练数据上也有一样头部信息抽取丢失的表现，看转换后的训练数据是全的，最少量可以复现的训练数据和训练参数已给。

[2022-05-19 11:04] LiuChiachi opened #2256 "ERNIE-M模型因为缺失多项选择的class而不能跑CHID和C3任务"
应该是补充`ErnieMForMultiplceChoice`即可

复现步骤：
[code]
TIPS：
HF dataset数据下载过程如果太长可以通过开关代理解决，为了减少数据处理时间，可以用slice方式只使用部分数据集，例如：
[code]

[2022-05-19 11:18] LiuChiachi opened #2257 "GPT需要支持阅读理解（cmrc2018)和多项选择（CHID、C3）的任务吗"
疑问：
看这篇[论文](https://arxiv.org/pdf/2103.10385.pdf)是说GPT可以支持NLU任务（提到分类和阅读理解），但是不知道我们开源的`gpt-cpm-large-cn`和`gpt-cpm-small-cn-distill`是否支持阅读理解（cmrc2018)和多项选择（CHID、C3）的任务呢

如果需要的话，可能需要补充缺失的`MultipleChoice`和`QuesionAnswering`类让gpt-cpm-large-cn或者gpt-cpm-small-cn-distill跑起来这2类任务。

复现步骤：
[code]
TIPS：
HF dataset数据下载过程如果太长可以通过开关代理解决，为了减少数据处理时间，可以用slice方式只使用部分数据集，例如：
[code]

[2022-05-19 11:22] zhuangAnjun opened #2258 "Taskflow接口怎么指定线程数"
请问，Luixu下，Taskflow接口推理的时候怎么指定线程数呢

[2022-05-19 11:29] LiuChiachi opened #2259 "CLUE benchmark 不支持ERNIE-Doc模型"
ERNIE-Doc有memories输入，结构和其他transformer-based models不太一样，需要升级 CLUE Benchmark以支持ERNIE-Doc

[2022-05-19 11:49] wawltor commented on #2244
嗯呢 好

[2022-05-19 13:51] kahitomi commented on #2251
相关同学正在看了，有一点要先说一下，schema里面的标签名（prompt）在现在的版本最好用中文~ 咱们现在开源的是中文模型。比如part->身体部位

[2022-05-19 14:04] ymzx commented on #2251
嗯好的，感谢，因为目前还没梳理paddlenlp的源码逻辑，所以相关的优缺点以及需要注意的地方并不清楚，我改成中文再试试。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月19日(星期四) 晚上9:51
*

[2022-05-19 23:35] ZeyuChen commented on #2257
暂时不考虑gpt类模型解决阅读理解 应为非主流应用场景。

[2022-05-19 23:35] #2257 closed, assigned to ZHUI

[2022-05-20 01:06] HaveF commented on #1162
@wawltor 现在有更简单的方法吗? 谢谢!

[2022-05-20 01:41] zhuangAnjun commented on #2258
在单个50左右长度句子用Taskflow接口做uie 预测耗时要5s，cpu环境

[2022-05-20 02:15] FrostML commented on #2210
https://paddlenlp.readthedocs.io/zh/latest/community/contribute_models/convert_pytorch_to_paddle.html  模型转换的方式，这个链接里面内容可以提供些参考。

[2022-05-20 02:18] wawltor commented on #2258
应该不需要5s的，第一次调用相对比较慢，接口启动再多次跑一下速度不至于5s

[2022-05-20 02:20] zhuangAnjun commented on #2258
是不是用了lazy load？

[2022-05-20 02:22] zhuangAnjun commented on #2258
是不是使用了惰性加载？

[2022-05-20 02:23] wawltor commented on #2258
第一次启动的时候，是因为加载了模型构建计算图，这块的框架开销会大点

[2022-05-20 02:39] linjieccc commented on #2253
@aixuedegege 辛苦提供下cuda版本和gpu型号，可能是paddlepaddle gpu版本没装好。

可以参考官网的方式验证下是否安装成功：

[code]

完整安装文档说明：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-05-20 03:04] aixuedegege commented on #2253
果然报错了,
[code]
GPU是P100

运行上上面两条命令报错：
[code]

Running verify PaddlePaddle program ...
W0520 10:55:58.013888 29992 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 6.0, Driver API Version: 11.6, Runtime API Version: 11.2
W0520 10:55:58.137661 29992 gpu_context.cc:306] device: 0, cuDNN Version: 8.2.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/h

[2022-05-20 03:22] clareliu1234 commented on #2248
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本

1)paddlenlp的版本是2.3.1，paddlepaddle版本是paddlepaddle-gpu=2.3.0
2)系统环境是Linux，cuda版本是102，python版本3.6
Traceback (most recent call last):
  File "/home/liuhaomin/NER/ernie_3.0_new/run_training.py", line 313, in <module>
    train(model,train_iter, optimizer

[2022-05-20 04:00] zhuangAnjun commented on #2258
非第一次，后面几次的推理耗时也很长
还有这个怎么指定线程数呢

[2022-05-20 05:09] wawltor commented on #2251
改成中文效果咋样的了？

[2022-05-20 05:18] Duum opened #2268 "get_predicted_relations 当head_id 和tail_id 为空的时候，会默认出来(0,1)的relation"
get_predicted_relations 当head_id 和tail_id 为空的时候，会默认出来(0,1)的relation

[2022-05-20 06:02] wawltor commented on #2258
您好，我们正在针对UIE在预测性能上优化，下周会同步出来，到时候可以进行多线程的预测

[2022-05-20 06:37] zhaoyiyong opened #2271 "RocketQA在CPU上 预测速度慢"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
 paddle版本2.2.2 paddlenlp 2.2.4，Rocketqa 加faiss
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
我使用的环境是在centos 7.8服务器上，python 3.7
A、）问题就是推理速度太慢，无法使用。下面是我做的测试，大概一次推理就要13s，而且是单一请求的。
“”“
(paddle_env) [eyundl@eyun98 faiss_example]$ date
202

[2022-05-20 06:56] Daminan0919 opened #2289 "安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell'"
### bug描述 Describe the Bug

应该是执行：model = ErnieModel.from_pretrained('ernie-1.0')时报如下错，windows中的pycharm里跑的，版本2.3.0

[INFO] 2022-05-20 14:36:48,313 [modeling_ernie.py: 267]: get pretrain dir from https://ernie-github.cdn.bcebos.com/model-ernie1.0.1.tar.gz
[INFO] 2022-05-20 14:36:54,157 [modeling_ernie.py: 285]: loading pretrained model from C:\Users\xwhmajun.paddle-ernie-cache\466eabcffd6d6a83ae9cb

[2022-05-20 07:02] wjddd commented on #2205
了解，感谢~

[2022-05-20 07:02] #2205 closed, assigned to wawltor

[2022-05-20 07:07] tianxin1860 commented on #2271
你好，cpu 版本预测速度慢符合预期，cpu 上的预测加速需求我们已经纳入研发计划了，欢迎关注。

[2022-05-20 07:09] KeoYang commented on #1660
同样的BUG：
版本、环境信息
1）paddle2.2.2  ppnlp2.3.0
2）系统环境： Windows10，Python 3.7.7

but，Linux work fine ..

[2022-05-20 07:35] jiweizhangxu opened #2272 "安装完opencv想可视化一下，突然报错，请问是版本问题吗？怎么是numpy报错"

[2022-05-20 07:51] ymzx commented on #2251
改成中文就OK了，能简单解释下么？😎

[2022-05-20 07:59] clareliu1234 commented on #2248
paddle是paddlepaddle-gpu=2.3.0,paddlenlp是2.3.1

[2022-05-20 07:59] clareliu1234 commented on #2248
paddle是paddlepaddle-gpu=2.3.0,paddlenlp是2.3.1

[2022-05-20 08:15] #2272 closed, assigned to nobody

[2022-05-20 09:18] wawltor commented on #2251
因为UIE是基于中文预训练模型和prompt来做的，prompt偏向于中文

[2022-05-20 09:22] ymzx commented on #2251
好的 学习了。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月20日(星期五) 下午5:18
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;R

[2022-05-20 09:46] yingyibiao commented on #2212
我在ai-studio上进行测试，没有问题的～

[2022-05-20 09:59] wawltor commented on #2253
建议使用conda的方式来安装，不然很容易和环境有冲突 https://www.paddlepaddle.org.cn/
<img width="838" alt="image" src="https://user-images.githubusercontent.com/16698950/169504448-e74dec97-3aef-4ede-a765-116061f421c1.png">

[2022-05-21 01:47] zck573693104 opened #2280 "F.cross_entropy error"
1.paddlenlp-2.3.1  paddlepaddle-gpu-2.3.0
2.python3.8
3.centos8.6
4.error message:
    loss = F.cross_entropy(logits.reshape([-1, len(label2id)]), labels.reshape([-1]), ignore_index=-1)
  File "/usr/local/anaconda3/lib/python3.8/site-packages/paddle/nn/functional/loss.py", line 1731, in cross_entropy
    _, out = _C_ops.softmax_with_cross_entropy(
ValueError: (InvalidArgument) Input(Logits) and In

[2022-05-21 02:24] wawltor commented on #2280
可以尝试 F.cross_entropy(logits.reshape([-1, len(label2id)]), labels.reshape([-1]), ignore_index=-1)  ->  F.cross_entropy(logits.reshape([-1, len(label2id)]), labels.reshape([-1, 1]), ignore_index=-1)

[2022-05-21 06:38] ljcljc opened #2281 "UIE微调预测问题"
我使用paddlenlp==2.3.0 paddlepaddle==2.3.0
按照官方的文档想使用UIE进行微调，但是使用的时候，因为没有负样本报错了，请问应该如何处理呢？

我一共标注了5条样本，用doccano，案例如下
{"id": 2, "text": "新速腾SAGITAR  1.4T 1.6L 1.8T 2.0T 2013-", "relations": [], "entities": [{"id": 1, "start_offset": 0, "end_offset": 3, "label": "品牌"}, {"id": 2, "start_offset": 0, "end_offset": 11, "label": "车型"}, {"id": 3, "start_offset": 12, "end_offset": 16, "label": "发动机排量"}, {"id"

[2022-05-21 07:38] #2281 closed, assigned to nobody

[2022-05-22 05:31] jiuwuxiaohun opened #2290 "动转静态图，不支持to_tensor()"
### bug描述 Describe the Bug

[code]

T5系列的模型均不可以转换，比如 Langboat/mengzi-t5-base  t5-small  t5-large

报错为：
We only support 'to_tensor()' in dynamic graph mode, please call 'paddle.disable_static()' to enter dynamic graph mode.

这是需要模型修改，还是需要paddle修改呢？还是paddleNlp团队修改呢？

### 其他补充信息 Additional Supplementary Information

_No response_

[2022-05-22 05:42] jiuwuxiaohun commented on #2083
[code]
所有的T5模型都无法转换哦，这动态图是不是不好用于部署啊

[2022-05-22 07:15] Mnanazi opened #2282 "duee事件抽取中数据集负例"
您好，我知道在事件抽取的数据集中正例就是一个对句子标注好对应事件类型的论元的标注样本。但是我不知道事件抽取中数据集的一个负例是什么？

[2022-05-23 02:39] chenchun0629 opened #2283 "colab 安装 paddlenlp 失败/无效果"
1）PaddleNLP和PaddlePaddle版本：最新版本
2）系统环境：
[code]

3）复现问题步骤（三个场景）：
特别说明：colab pro + 会员没有这个问题， colab pro 会员存在这个问题（多次更换运行环境后，会出现正常安装的情况）。
[code]

[code]

[code]

[2022-05-23 02:59] LemonNoel commented on #2282
负例即不包含任何事件类型的样本，也就是所有的标签都是O。

[2022-05-23 03:07] yuanjie-ai commented on #2213
关键词的api在哪 我没找到

[2022-05-23 03:18] Mnanazi commented on #2282
那我在duee1.0句子事件抽取数据集中的训练集、验证集，貌似没发现不包含事件的句子样本，即负俐？都是包含事件的样本。请问，在duee的训练集、验证集中是确实没有负俐吗？

另外，为了评价duee1.0事件抽取系统的效果，应该要在测试集中专门放入负俐吧？因为这样有计算精确率P的伪正例TP。请问，在测试集中是否要放入负俐，以使有TP来计算精确率P？

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年05月23日 11:00 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleNLP] duee事件抽取中数据集负例 (Issue #2282) |

负例即不包含任何事件类型的样本，也就是所有的标签都是O。

—

[2022-05-23 04:19] sandyhouse opened #2284 "多卡多进程训练时，_get_sub_home (paddlenlp/utils/env.py)函数存在竞争导致失败"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，PaddleNLP develop，PaddlePaddle develop
2）系统环境：请您描述系统类型，Linux，python版本: 3.7
- 复现信息：如为报错，请给出复现环境、复现步骤

训练模型：gpt-3/static/gpt2-medium-en

报错信息：
<img width="989" alt="image" src="https://user-images.githubusercontent.com/6737864/169742033-863ac93d-0cd3-4c9a-9914-e686302de3c2

[2022-05-23 04:57] ZHUI commented on #2284
可以这样，启动多卡训练脚本之前，先import paddlenlp一次，这个只初始化一次
[code]

[2022-05-23 05:59] jerryxu010 opened #2287 "doccano上传文件后，页面一直转圈圈"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-23 06:04] jerryxu010 commented on #2287
PaddleNLP2.3.1,paddle2.3.0

PaddleNLP2.3.1,paddle2.3.0

[2022-05-23 06:13] aixuedegege commented on #2253
感谢回复，驱动啥的没有换，我直接用的paddle的gpu docker 容器，可以跑了。这个最简单了！

[2022-05-23 06:13] #2253 closed, assigned to linjieccc

[2022-05-23 06:40] wenming2014 commented on #2289
您好，看下paddle.utils.run_check()能不能跑通，看下是否是安装问题

[2022-05-23 07:39] Daminan0919 commented on #2289
这个早试过了，可以跑通

***@***.***

发件人： wangone
发送时间： 2022-05-23 14:40
收件人： PaddlePaddle/Paddle
抄送： Daminan0919; Author
主题： Re: [PaddlePaddle/Paddle] 安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell' (Issue PaddlePaddle/PaddleNLP#2289)
您好，看下paddle.utils.run_check()能不能跑通，看下是否是安装问题
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authore

[2022-05-23 07:40] Daminan0919 commented on #2289
跑出来有报：
PaddlePaddle works well on 2 CPUs.
PaddlePaddle is installed successfully! Let's start deep learning with PaddlePaddle now.

这个早试过了

***@***.***

发件人： wangone
发送时间： 2022-05-23 14:40
收件人： PaddlePaddle/Paddle
抄送： Daminan0919; Author
主题： Re: [PaddlePaddle/Paddle] 安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell' (Issue PaddlePaddle/PaddleNLP#2289)
您好，看下paddle.utils.run_check

[2022-05-23 07:56] LemonNoel commented on #2287
方便看下doccano页面的截图吗？这种情况一般是文件类型选择错误，文件类型请选择TextLine，准备的数据文件格式为.txt，每条文本数据占一行。

[2022-05-23 07:58] yuanjie-ai opened #2288 "所有模型怎么打包下载？"

[2022-05-23 09:27] ttyuuuuuuuuuu commented on #2287
![image](https://user-images.githubusercontent.com/51437324/169788621-688b4657-8171-4b7f-8ac4-4831c51c15ed.png)

[2022-05-23 09:32] LemonNoel commented on #2282
duee 1.0数据集中没有样本级别的负例，这里和上边讨论的“负例”定义其实是来自[DuEE-fin数据集的介绍](https://aistudio.baidu.com/aistudio/competition/detail/65/0/task-definition)，即：
[code]
从事件抽取任务的角度看，它本质上是token级别的多分类任务，而多分类任务本身是没有负例的概念的。或者可以理解为当前类型的标注文本为正例，而其他的非当前类型或者非准确标注文本为负例。

[2022-05-23 09:33] LemonNoel commented on #2288
可以详细描述下需求吗，是指开源模型参数还是什么模型？

[2022-05-23 09:51] #2290 closed

[2022-05-23 09:53] ZeyuChen commented on #2289
@Daminan0919 请问你用的是ERNIE repo还是PaddleNLP？建议使用PaddleNLP来调用。模型会更全一点。
可否尝试下PaddleNLP然后看看是否还会有此类报错？

[2022-05-23 10:03] tianxin1860 commented on #2289
可以贴一下报错的完整代码或者你运行的示例脚本地址。

[2022-05-23 11:50] Mnanazi commented on #2282
多谢答复

在 2022-05-23 17:32:28，"Noel" ***@***.***> 写道：

duee 1.0数据集中没有样本级别的负例，这里和上边讨论的“负例”定义其实是来自DuEE-fin数据集的介绍，即：

DuEE-fin是百度最新发布的金融领域篇章级事件抽取数据集，包含13个事件类型的1.17万个篇章，同时存在部分非目标篇章作为负样例。

从事件抽取任务的角度看，它本质上是token级别的多分类任务，而多分类任务本身是没有负例的概念的。或者可以理解为当前类型的标注文本为正例，而其他的非当前类型或者非准确标注文本为负例。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Mes

[2022-05-23 11:59] linjieccc commented on #2287
你好，出现文件一直在上传的状态可能是在doccano任务初始化的时候少了以下步骤：

![image](https://user-images.githubusercontent.com/40840292/169814396-7d299983-8dbc-43a4-b2a7-115d70a30448.png)

[2022-05-23 12:48] LemonNoel commented on #2283
因为我这边没有Colab Pro的账号，所以在Colab测了下。以下命令是可以正常执行的哈，可以检查下是否是paddlepaddle安装版本和CUDA版本不一致的问题。另外，[飞桨AI Studio](https://aistudio.baidu.com/)上也有免费的GPU资源，可以尝试一下。

[code]

[code]

[2022-05-23 14:00] jerryxu010 commented on #2287
是的，再开一个命令行，命令doccano task 搞定了。

[2022-05-23 18:55] yeahyeahcc opened #2294 "一直报operator < load_combine > error"
paddlenlp 2.3.1
paddlepaddle-gpu 2.3.0
windows python=3.7
![image](https://user-images.githubusercontent.com/87855208/169887048-39f389d5-7b5c-4617-9e8e-7b8bcfe83618.png)
尝试运行实体抽取，一直失败，如果pip install paddlepaddle-core
![image](https://user-images.githubusercontent.com/87855208/169887263-b29b8e6e-ebb9-42f6-8864-9c97e61abe41.png)

[2022-05-24 02:09] nlper-77 opened #2295 "能提供一下UIE同时对文本进行实体抽取和关系抽取的定制示例吗"

[2022-05-24 02:27] wawltor commented on #2294
1. 首先吧 ~/.paddlenlp目录删除
2. check 内存是否足够，一版需要6G内存是否足够

[2022-05-24 02:59] wawltor commented on #2295
是说要微调吗？

[2022-05-24 03:01] wawltor commented on #2294
问题通过删除 ~/.paddlenlp 解决问题

[2022-05-24 03:01] #2294 closed, assigned to nobody

[2022-05-24 03:02] yeahyeahcc commented on #2294
解决了，感谢！

[2022-05-24 03:02] yeahyeahcc commented on #2294
解决了，感谢！

[2022-05-24 06:06] wawltor commented on #2280
已经在线下通过聊天确认，是数据发生了改变，数据label和模型结构不匹配

[2022-05-24 06:06] #2280 closed, assigned to lugimzzz

[2022-05-24 06:32] yuanjie-ai commented on #2288
就比如这些模型

TASKS = {
    'dependency_parsing': {
        "models": {
            "ddparser": {
                "task_class": DDParserTask,
                "task_flag": 'dependency_parsing-biaffine',
            },
            "ddparser-ernie-1.0": {
                "task_class": DDParserTask,
                "task_flag": 'dependency_parsing-ernie-1.0',
            },
            "ddparser-ernie-gram

[2022-05-24 08:39] Davion-Liu opened #2300 "Ernie 3.0 zh可以提供Config和Vocab文件吗？"
您好，我希望使用Ernie 3.0 zh的 config以及Vocab文件做一些初始化工作，请问相关文件和Ernie 1.0一样吗？
如果不是，请问可以提供吗？

[2022-05-24 08:46] ZeyuChen commented on #2300
可否更具体一点说一下是哪些初始化工作呢？格式应该和ERNIE 1.0一样的。

[2022-05-24 08:59] Daminan0919 commented on #2289
代码就是：
import numpy as np
import paddle as P

P.utils.run_check()

# 导入ernie，并进行编码测试
import requests
from ernie.ernie.tokenizing_ernie import ErnieTokenizer
from ernie.ernie.modeling_ernie import ErnieModel

print(P.__version__)

# Try to get pretrained model from server, make sure you have network connection
# response = requests.get('http://xxx.com/', verify=False)
model = ErnieModel.from_pretrai

[2022-05-24 08:59] Daminan0919 commented on #2289
是指包么？我用的代码如下：
import numpy as np
import paddle as P

P.utils.run_check()

# 导入ernie，并进行编码测试
import requests
from ernie.ernie.tokenizing_ernie import ErnieTokenizer
from ernie.ernie.modeling_ernie import ErnieModel

print(P.__version__)

# Try to get pretrained model from server, make sure you have network connection
# response = requests.get('http://xxx.com/', verify=False)
model = ErnieModel.from

[2022-05-24 09:01] tianxin1860 commented on #2289
这部分代码是从哪个具体示例来的？可以把具体示例的地址贴出来。

[2022-05-24 09:04] Daminan0919 commented on #2289
这里看到的：
https://aistudio.baidu.com/aistudio/projectdetail/3168859

***@***.***

发件人： tianxin
发送时间： 2022-05-24 17:01
收件人： PaddlePaddle/PaddleNLP
抄送： Daminan0919; Mention
主题： Re: [PaddlePaddle/PaddleNLP] 安装后第一次跑报AttributeError: 'WindowsPath' object has no attribute 'tell' (Issue #2289)
这部分代码是从哪个具体示例来的？可以把具体示例的地址贴出来。
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving

[2022-05-24 09:20] wawltor commented on #2288
你好，每个任务的下载地址都是在相应的任务文件中，例如在信息抽取的任务中可以看这个文件 https://github.com/PaddlePaddle/PaddleNLP/blob/461fc20d9ce35e51ed80b89aa4ab039c9493a310/paddlenlp/taskflow/information_extraction.py#L87
其他任务的下载地址都是相应的目录中可以参考下面的方式
<img width="1119" alt="image" src="https://user-images.githubusercontent.com/16698950/169997576-53ee887a-084c-4aa1-b5cd-325f673a69eb.png">

[2022-05-24 10:56] ttyuuuuuuuuuu opened #2301 "doccano_ext.json中的entities的id是怎么得来的，会影响doccano.py的运行结果吗"
是这样的，我想用uie的模型对ccks的比赛数据（train.json，图右侧）做一个评估，想看下效果。我的切入点是把train.json的格式转为doccano_ext.json（图左侧）。

（1）看到doccano_ext.json第一条数据，我以为entities的id是针对text从0开始计数：
![微信截图_20220524174008](https://user-images.githubusercontent.com/51437324/170018101-e364fdcf-015e-4f60-80c7-7f2caf5c611b.png)

（2）但是第二、三、四。。条标注数据的entities id不是从0开始的，而且好像在递增：
![image](https://user-images.githubusercontent.com/51437324/170018560-9e

[2022-05-24 11:17] CodeFrontWang opened #2302 "NER任务：doccano.py和utils.py在处理验证集时会导致验证集中无实体的样本被剔除，可能影响真实验证效果"
NER任务中，doccano.py在将数据集添加负样本时，会跳过数据集中无实体的样本，这个步骤会被用到验证集的分割转换中，导致验证集中的无实体样本被跳过，可能无法得到有效的验证。
![8c61b25a70aa236b1b216b856e01019](https://user-images.githubusercontent.com/88528512/170022101-b465e7a6-fdaf-42b3-b14b-e0896f68d207.jpg)

[2022-05-24 13:10] Armorhtk opened #2303 "无法固定复现的few-shot/p-tuning效果，随机种子已固定"
1）版本、环境信息
- PaddleNLP 2.2.6
- PaddlePaddle-gpu 2.2.2
2）系统环境
windows10，CUDA 11.0  Python3.8
3）复现信息
您好，在复现[examples\few_shot\p-tuning](https://github.com/PaddlePaddle/PaddleNLP/tree/61685f0e5013d58e26162c23d11e9c234e859467/examples/few_shot/p-tuning)的代码过程，根据README.md要求在Terminal中成功运行了训练&评估代码，如下：
`python -u -m paddle.distributed.launch --gpus "0" ptuning.py --task_name "tnews" --device gpu --save_dir

[2022-05-24 14:34] Armorhtk commented on #2303
使用AI Studio运行也发现了同样的问题，在固定随机种子和开启model.eval()的情况下，使用原始example运行两次，得到的结果并不一致，如下：
![image](https://user-images.githubusercontent.com/68628239/170061210-0dcf6919-a4df-4d59-a348-a86e5e6d80f9.png)
![image](https://user-images.githubusercontent.com/68628239/170061409-e46fa036-fa74-4526-8f8b-8dfc99e7fcc5.png)

[2022-05-25 01:23] xialei2821212670 opened #2305 "搭建semantic-search，启动RestAPI模型服务，出现问题"
python rest_api/application.py 8891

Exception: Failed loading pipeline component 'Retriever': Failed loading pipeline component 'DocumentStore': Initial connection to Elasticsearch failed. Make sure you run an Elasticsearch instance at `[{'host': 'localhost', 'port': 9200}]` and that it has finished the initial ramp up (can take > 30s).

[2022-05-25 02:19] linjieccc commented on #2301
这个entity id是对不同实体的唯一标识，目的地这个label，例如『上海』和『北京』分别对应一个唯一的entity_id，所以才会有entity id有时候是一样的，有时候又是不一样的这种情况哈

[2022-05-25 03:00] gongel commented on #2256
thx，已添加：https://github.com/PaddlePaddle/PaddleNLP/pull/2293

[2022-05-25 03:00] #2256 closed, assigned to gongel

[2022-05-25 03:01] gongel commented on #2249
thx，后续由 @joey12300 支持

[2022-05-25 03:15] ttyuuuuuuuuuu commented on #2301
新的一天新的问题~

（1）事件抽取的数据一般有以下几种情况：
a. 一条text中只包括一个事件类型
![image](https://user-images.githubusercontent.com/51437324/170171935-93675f33-c7f3-4909-af97-07f7d4d2d27e.png)

b. 一条text包括多个事件类型，事件类型不同
![image](https://user-images.githubusercontent.com/51437324/170172218-111a3892-9441-4e9c-841c-dbf9c5689c71.png)

c. 一条text包括多个事件类型，且部分事件类型相同
![image](https://user-images.githubusercontent.com/51437324/170171664

[2022-05-25 03:42] tianxin1860 commented on #2303
是说多次训练得到的验证集指标不一致么？

[2022-05-25 04:24] Armorhtk commented on #2303
不是多次训练，是指每次从零开始训练得到的验证集指标不一致，无法复现同一个随机种子下的结果。
在运行其他paddle提供的few-shot代码（如EFL）时，每次从零开始训练可以得到一样的验证集复现指标，但是p-tuning的代码不行。

[2022-05-25 04:33] greattang123 opened #2306 "DuEE可用于英文文本事件抽取吗，如果可用，修改源代码中的哪些部分就可以了呢"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-25 06:23] tianxin1860 commented on #2305
你好，看起来是 ElasticSearch 服务没有正常启动，请先检查下 ElasticSearch 是否正常安装并成功启动？

[2022-05-25 06:25] tianxin1860 commented on #2305
<img width="1097" alt="image" src="https://user-images.githubusercontent.com/6829601/170194520-fcd14e7c-097d-4c8c-b525-a9a8b005e635.png">

[2022-05-25 06:27] xialei2821212670 commented on #2305
我用的是7.13.2
![image](https://user-images.githubusercontent.com/57654726/170194734-ce884ed6-9384-4854-b5c2-8fc8b19ac2aa.png)
，我尝试跟换下版本

[2022-05-25 06:28] snoopy1316 commented on #2153
python3 xxxxxxxxxxxx.py  xxxxxxxxxxxxxxxx改为python xxxxxxxx.py xxxxxxxxxxxxxxxx有正常训练日志等的输出。。。

[2022-05-25 06:29] #2153 closed, assigned to luyaojie

[2022-05-25 06:40] tianxin1860 commented on #2305
另外，检查下，这些依赖都安装成功了么？
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/6829601/170196821-fa80c056-ceef-4f58-82eb-0adc406b7808.png">

[2022-05-25 06:58] nlper-77 commented on #2295
嗯嗯 是的

[2022-05-25 07:42] linjieccc commented on #2302
@CodeFrontWang 感谢反馈，修复PR已合入#2304

[2022-05-25 07:45] yaleimeng opened #2308 "faq_finance保险问答未提供处理后的数据集"
页面上只提供了原始数据集的下载链接。代码不能直接跑起来。
将政务问答的数据集挪过来用，又提示缺少train_aug.csv。如果就用train.csv代替，则模型训练感觉不太正常。在checkpoints/下仅生成了model0的模型。而不像政务问答那样会每训练50步保存一次，根据batch_size不同，会训练200~400步左右。
奇怪的是，就使用得到的model0进行build_index和evaluate，成绩也跟政务问答差不多，大概是82、94、96。
总之希望还是提供能直接运行代码的数据集，便于验证代码是否正常运行。

[2022-05-25 07:45] jiweizhangxu opened #2309 "ernie-3.0的readme中举的文本分类的例子法律文本多标签实战缺少数据，无法复现"
能否提供一下？类似下面的数据：
text    labels
所以起诉至法院请求变更两个孩子均由原告抚养，被告承担一个孩子抚养费每月600元。	0,7,3,1
2014年8月原、被告因感情不和分居，2014年10月16日被告文某某向务川自治县人民法院提起离婚诉讼，被法院依法驳回了离婚诉讼请求。	6,5
女儿由原告抚养，被告每月支付小孩抚养费500元；	0,7,3,1

[2022-05-25 07:47] jiweizhangxu commented on #2309
另外还缺少：
![图片](https://user-images.githubusercontent.com/88191580/170209263-5b35d9d5-577f-4107-9ae9-6d2131c39f9f.png)

[2022-05-25 09:11] guoshengCS commented on #2309
看了下这个在 raw_data/train 目录下是有的
<img width="1259" alt="image" src="https://user-images.githubusercontent.com/14105589/170226647-9b8fe2e5-a5ea-45b2-865f-1e45c33c6b9b.png">

[2022-05-25 09:22] wjddd opened #2311 "Ernie Matching中能否做简单缓存提升预测速度"
[code]

请问这一步可以将两个句子的向量进行拆分，分别存入一个dict中吗？这样在二次执行时能提升预测速度。（尝试过使用静态图部署的，但是预测速度无法满足需求）

[code]

[2022-05-25 10:22] w5688414 commented on #2308
您好，数据集由于没有license，不方便开源，这里有aistudio链接有相关的数据，可以参考：

https://aistudio.baidu.com/aistudio/projectdetail/3882519

[2022-05-25 10:49] tianxin1860 commented on #2311
单塔预测阶段是需要发生交互的，所以我理解不能拆开建模；不过加速有别的方案，可以参考这里: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0

[2022-05-25 11:19] wawltor commented on #2295
只要标注数据没有问题(同时标注实体和关系)，我们在UIE的文档中提供微调示例，是可以直接进行微调的https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-05-25 13:08] nlper-77 commented on #2295
嗯嗯 谢谢 我参考着关系抽取的标注示例，做了标注已经跑通，效果确实还可以

[2022-05-25 13:08] #2295 closed, assigned to nobody

[2022-05-25 15:09] ttyuuuuuuuuuu opened #2316 "事件抽取的结果是实体，怎么组合成事件"
你好，我用taskflow对一个text进行事件抽取，但是抽取返回的结果看上去像是实体抽取结果：
<img width="1034" alt="image" src="https://user-images.githubusercontent.com/51437324/170295629-01b59025-914d-46eb-afe4-0ef673c32b82.png">
想请教下这样的返回是如何跟 “事件抽取：是要抽取出事件” 联系起来，如何将这抽取到的实体组合成事件呢？

[2022-05-25 16:41] shan23chen commented on #2184
您好，会pretrain 一个英文 medical domain的 UIE 吗？ 多谢！

[2022-05-25 17:31] guoshengCS commented on #2316
事件抽取的话schema需要类似这种，需要组织成dict结构并将事件类别触发词作为key，事件要素作为作为value，这样抽取出来的结构也会是和这个一样的事件结构
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/14105589/170321901-88a9f6d9-a9b8-48d6-9def-0f24c518ea4b.png">

我这边试了下这样的schema，得到的结果如下

[code]
<img width="798" alt="image" src="https://user-images.githubusercontent.com/14105589/170326473-ce8b7833-0577-485e-a97f-15ca56aec0f5.png">

也请 @waw

[2022-05-25 18:10] guoshengCS commented on #2306
当前的DuEE代码不能直接用于英文，其中使用的预训练模型ernie-1.0-base-zh是中文的。需要将模型换成英文的预训练模型，另外数据处理部分应该也需要调整下按照你那边的数据来。也请 @LemonNoel 帮忙看下

[2022-05-26 01:36] ttyuuuuuuuuuu commented on #2316
但是对于一段”不确认是否包含事件“的text，想对其进行事件抽取，那么如何做到根据抽取出来的词，组织成一句连贯的时间表达？是否有什么类似”拼接规则“的东西？

[2022-05-26 02:11] greattang123 commented on #2306
我这边数据格式调成和DuEE一样了，但不知道如何修改预处理代码，如何更换预训练模型。真诚希望您能指导一下

[2022-05-26 02:11] greattang123 commented on #2306
我这边数据格式调成和DuEE一样了，但不知道如何修改预处理代码，如何更换预训练模型。真诚希望您能指导一下

[2022-05-26 02:13] greattang123 commented on #2306
谢谢您的回复。我这边数据（英文）格式调成和DuEE一样了，但不知道如何修改预处理代码，如何更换预训练模型。真诚希望您能指导一下

[2022-05-26 02:18] geoyee commented on #2071
可以使用了

[2022-05-26 02:18] #2071 closed, assigned to ZHUI

[2022-05-26 02:36] ArtificialZeng opened #2317 "请问怎么抽取文本，并且仅仅根据文本，预估ctr，有带标签的ctr值。ctr是0-1间的连续值"
ctr是点击概率。0-1之间的连续值

欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-26 02:46] ZTurboX opened #2318 "uie预测速度"
uie-tiny通用模型做实体抽取能够符合基本使用，但cpu下单句预测1s左右，有什么提速方法

[2022-05-26 03:19] wawltor commented on #2318
本周我们会开源一个加速版本，例如多核预测，INT8量化，速度会有提升

[2022-05-26 03:23] jiweizhangxu opened #2320 "ernie3.0需要一个metric包，pip install metric一直报错，请问怎么解决？"

[2022-05-26 03:28] #2320 closed, assigned to nobody

[2022-05-26 03:53] aixuedegege opened #2321 "TaskFlow使用batch size提速不明显"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，

使用的 docker安装，：paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8

paddle-bfloat         0.1.2
paddle2onnx           0.9.6
paddlefsl             1.1.0
paddlenlp             2.3.1
paddleocr             2.5.0.3
paddlepaddle-gpu      2.3.0.post112

2）系统环境：请您描述系统类型，例如Linux/Windo

[2022-05-26 04:06] ZTurboX commented on #2318
好的。如果自己微调后，做加速，是参考ernie3.0中的方法吗？

[2022-05-26 04:09] wawltor commented on #2318
是的，参考ENRIE 3.0的方法，同时我们会把相关的加速集成Taskflow里面去

[2022-05-26 04:10] wawltor commented on #2321
想问一下，输入的是一个list还是一行文本了？

[2022-05-26 05:37] aixuedegege commented on #2321
输入是list，其中有100个元素

[2022-05-26 06:20] leon-cas opened #2323 "Finetuing uie时出现模型加载_pickle.UnpicklingError问题"
paddle版本(GPU)： 2.3.0  安装方式： python -m pip install paddlepaddle-gpu==2.3.0.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html
paddlenlp版本： 2.3.1   安装方式： pip
Python版本：3.7.4

具体报错信息如下：

[2022-05-26 14:15:23,761] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-05-26 14:15:23,761] [    INFO] - Already cac

[2022-05-26 06:24] wawltor commented on #2321
这块可能要再等等我们，我们马上发出一个CPU性能优化的版本

[2022-05-26 06:29] thupx opened #2324 "UIE是否支持事件抽取的finetune？若支持，要求的标注数据格式是什么样的？"
已经尝试过UIE对NER的finetune，想请问一下是否支持事件抽取的finetune？
如果支持的话，应该提供什么格式的标注数据？试用了一下doccano，好像不支持标注事件？

[2022-05-26 06:31] aixuedegege commented on #2321
有gpu优化的吗

[2022-05-26 06:31] you567 opened #2325 "ernie_csc纠错"
您好，有2个问题请教下：
1.在尝试运行开源代码复现结果后，在Automatic Corpus Generation生成的中文纠错数据集以及SIGHAN数据集上训练 11epoch的score如下图所示，结果与官方相差比较大，这个正常吗？是不是学习率过低导致导致的啊？收敛曲线如下图
（我训练参数如下，前3个epoch  max_seq_length =128(没注意)，
由于机器显存只有11G，我把参数设置了batch_size =8，learning_rate= 1.25e-5 ）

python train.py --batch_size 8 --logging_steps 100 --epochs 11 --learning_rate  1.25e-5 --model_name_or_path ernie-1.0 --output_dir ./checkpoints/ --extra

[2022-05-26 06:32] wawltor commented on #2321
有的，有半精度预测会提升很多

[2022-05-26 06:37] JaheimLee opened #2326 "UIE评论抽取中情感倾向的标注方式？"
如题，观点词的情感倾向是作为关系类别与评价维度进行连接的，还是作为实体类别单独对观点词进行标注的？

[2022-05-26 07:02] mingwei-liu opened #2328 "ERNIE 3.0 有英文版本吗？"
1. 你好，请问ERNIE 3.0有英文版本的模型吗，或者是跨语言的模型（即同时支持中文英文的预训练模型）？因为目前我的文本很多是英文或者中英混杂的。
2. 或者之前的版本的模型有支持英文或者跨语言的吗？
3. 目前我有一个特定领域的知识图谱，有什么办法让预训练模型ERNIE继续训练将知识图谱中的三元组知识吸收进去？

[2022-05-26 07:05] wawltor commented on #2323
看起来模型没有下载成功，建议把 ~/.paddlenlp整个目录删除，再重新使用

[2022-05-26 07:06] wawltor commented on #2324
可以支持的，具体看文档 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md
<img width="1117" alt="image" src="https://user-images.githubusercontent.com/16698950/170436260-555a8d3f-d728-4eaa-9ba4-27e5611bb985.png">

[2022-05-26 07:07] wawltor commented on #2326
您好，观点词的情感倾向没有还没有开发出来，下周我们会放出一个版本
我们另外一个工具也可以进行情感分析，具体可以看 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/sentiment_analysis

[2022-05-26 07:30] wawltor commented on #2325
1） 可能是学习率低导致的
2）可以换成ERNIE 3.0来切换模型

[2022-05-26 08:39] aixuedegege commented on #2321
taskflow可以设置半精度预测么

[2022-05-26 08:44] yang9112 opened #2330 "ERNIE 3.0未使用 transformer-XL效果是否有影响？"
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1
2）系统环境：Linux，python3.7

3）验证过程
1. 为了快速验证下 ERNIE 在现有生产上的效果，而生产系统使用的是 pytorch。
2. 通过参数映射，将 ernie-3.0参数映射到 BERT 的结构中，进行模型训练。
3. 效果无法复现 2021年 ERNIE 3.0中阐述的效果，比如 Cluener 上只能达到80.86左右，但是论文中可以提高至81.2+
4. 在个别数据集上，比如 CCKS2019-TASK1，ERNIE 3.0效果只有不到0.75，而 RoBERTa 能达到0.8+【暂不确定是否是模型训练的问题，待进一步验证】

4）我的问题
目前提供的导入 ERNIE3.0的方式是通过`AutoModelForTokenClassification`进行导入，那么使用的

[2022-05-26 08:48] LemonNoel commented on #2306
可以将代码中中文相关的逻辑替换掉，例如在duee_1_data_prepare.py第38行中文分隔符可以换为英文","，sequence_labeling.py文件中第144和147行是分词器和模型的加载，"ernie-1.0"是中文模型，可以替换为英文预训练模型，具体模型名可以在[ernie](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/modeling.py#L163-L175)目录下查看，``en``结尾的是英文模型。

[2022-05-26 08:54] bigbrother666sh opened #2331 "bug in paddlenlp/transformers/tokenizer_utils.py"
paddlenlp/transformers/tokenizer_utils.py
中 [954行](https://github.com/PaddlePaddle/PaddleNLP/blob/7c3a7e4e3b01f72b590f862def7b749af6d8fd3b/paddlenlp/transformers/tokenizer_utils.py#:~:text=self.-,build_inputs_with_special_tokens,-(token_ids_0%2C )

和

[1201行](https://github.com/PaddlePaddle/PaddleNLP/blob/7c3a7e4e3b01f72b590f862def7b749af6d8fd3b/paddlenlp/transformers/tokenizer_utils.py#:~:text=%3

[2022-05-26 09:19] wawltor commented on #2321
这个功能还在集成开发中

[2022-05-26 09:28] jiweizhangxu opened #2332 "ernie3.0对于70-80个类别的数据进行分类，能有一个比较好的效果吗？"
我看法研杯数据只有20来个类别，对于ernie3.0模型在分类数据的类别数是什么范围时有个比较好的效果，请问有探索过吗？

[2022-05-26 10:35] thupx commented on #2324
谢谢，已成功标注了。

出现了新的问题，导出JSON(relation)格式数据后，运用
`python doccano.py --doccano_file ./data/admin.json --task_type 'ext' --save_dir ./data --negative_ratio 5`
生成`train.txt`、`dev.txt`、`test.txt`，再进行训练的时候load数据就报错了，
![image](https://user-images.githubusercontent.com/16662071/170471259-97aaff11-4010-45ab-ac02-c520e7ea6564.png)

直接用python检查了`train.txt`的内容，能用`json.loads`正常读取成dict格式。

[2022-05-26 10:55] wawltor commented on #2330
ERNIE 3.0 transformer-XL结构是一个千亿大模型，考虑到大家的使用成本，目前开源的ERNIE 3.0的版本是在千亿大模型蒸馏出来的，效果方向我们做了优化，我们开源的ERNIE 3.0的模型还是比较突出的，具体的对比效果可以见  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0

[2022-05-26 10:59] wawltor commented on #2328
1. 目前ERNIE 3.0没有开源英文模型，但是可以使用我们的ERNIE-M多语言模型的
2. 多语言模型的链接见 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-m
3. 你可以尝试使用KG-BERT  https://arxiv.org/abs/1909.03193 论文来组织样本，预训练的方式可以看 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0

[2022-05-26 11:00] wawltor commented on #2324
这块您使用一下最新的脚本，这个问题解决了

[2022-05-26 11:38] wawltor commented on #2332
ERNIE 3.0是通用的预训练模型，理论上是适配很多分类任务的，分类的类别比较的最大的挑战在数据量，数据量足够多的话就可以了

[2022-05-26 11:39] wawltor commented on #2331
收到，我看看这个问题，谢谢反馈！

[2022-05-26 11:39] linjieccc opened #2334 "使用Pad对一维Tensor进行padding时报错"
复现方法：
[code]

报错信息：
[code]

[2022-05-26 11:52] mingwei-liu commented on #2328
非常感谢！

[2022-05-26 12:20] guoshengCS commented on #2334
这个主要是因为`paddlenlp.data`中的Pad这几个操作不支持传入Tensor，这里可否传入`numpy.ndarray`呢

[2022-05-26 12:42] charlesfufu opened #2335 "cuda一来问题。"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

为什么会缺少以来libcudnn.so和libcublas.so文件？后面优化难道不会把这些依赖包整合到安装文件里面吗？

[2022-05-26 13:22] wawltor commented on #2335
您好，建议您使用conda来装Paddle，具体的方式  https://www.paddlepaddle.org.cn/

<img width="851" alt="image" src="https://user-images.githubusercontent.com/16698950/170496175-853f6618-efce-49d2-8778-462bb334aa73.png">

[2022-05-26 13:29] you567 commented on #2325
好的，谢谢！还想再问下：
1.如果我在batch_size=8的情况下，使用官方原来的learning_rate= 5e-5 可以吗？或者我可以在learning_rate= 1.25e-5的情况下多训练几个epoch?
2.如果切换成ERNIE 3.0对于ernie_csc项目来说的话，是不是只要把模型加载改成ernie3.0，其他的地方不需要修改了？

[2022-05-26 13:42] ZeyuChen commented on #2325
@you567 是的 不过最佳学习率你可能需要试一下，理论上是会比ernie 1.0有所提升

[2022-05-26 14:00] linjieccc commented on #2334
多谢，应该是2.2.6之后对这个写法做了限制，已PR修复 #2333

[2022-05-26 14:00] #2334 closed, assigned to nobody

[2022-05-26 15:08] xialei2821212670 commented on #2305
export CUDA_VISIBLE_DEVICES=0
python examples/semantic-search/semantic_search_example.py --device cpu
![image](https://user-images.githubusercontent.com/57654726/170517099-133a3f47-d9ea-4a22-ac59-8b1ca65bee75.png)

[2022-05-26 15:16] githanyongjin opened #2336 "静态图模型加载报错"
api是：model = paddle.jit.load(model_path)

报错信息如下：
ValueError: (InvalidArgument) Failed to parse program_desc from binary string.
[Hint: Expected desc_.ParseFromString(binary_str) == true, but received desc_.ParseFromString(binary_str):0 != true:1.]

[2022-05-27 01:35] yingyibiao commented on #2331
我们将 build_inputs_with_special_tokens 函数挪到 tokenizer_utils_base.py 文件下了，具体可见：https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.3/paddlenlp/transformers/tokenizer_utils_base.py#L2620

[2022-05-27 02:26] greattang123 commented on #2306
谢谢您，我试试

[2022-05-27 03:49] #2321 closed, assigned to wawltor

[2022-05-27 05:36] heng3366 opened #2337 "关于UIE预训练的问题"
uie里面，微调默认只有两个预训练模型，一个erine-tiny，一个erine-base
我想使用medical那个，只要在MODEL_MAP里面添加url和encoding_model名称就行了吧，默认训练参数训练cblue数据集发现第一个epochf1是0（erine-base有0.47）,是训练参数需要调整还是默认解码方式有问题还是其他
如果我想换别的预训练模型，uie是否也能支持使用？

[2022-05-27 06:17] #2283 closed, assigned to nobody

[2022-05-27 06:30] you567 commented on #2325
好的，谢谢

[2022-05-27 08:55] jiweizhangxu opened #2338 "ERNIE 3.0模型的分类任务模型的压缩和部署中compress_seq_cls文件有不清楚的地方"
1.utils这些参数是什么？
![图片](https://user-images.githubusercontent.com/88191580/170669876-29c42919-2258-4f16-acf9-62d0ed1cbe0e.png)

2.args是什么？加载我训练好的模型参数的吗？
![图片](https://user-images.githubusercontent.com/88191580/170666386-887a7bcd-24be-4891-9cbd-d172e49ba37b.png)
1.快速上手的法律分类案例上能不能增加压缩，部署的部分，当做教程
![图片](https://user-images.githubusercontent.com/88191580/170666679-47d2e0bf-39f0-4e81-b770-9b82c8dcdb68.png

[2022-05-27 09:55] Gavingx opened #2339 "UIE能使用GPU推理吗？"
1）PaddleNLP和PaddlePaddle版本：
     PaddleNLP 2.3.1，PaddlePaddle 2.3.0 paddlepaddle-gpu 2.3.0
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
    系统： linux
    python：3.8

你好，我看taskflow源码里面is_compiled_with_cuda默认是False，是不能使用GPU推理么？

[2022-05-27 10:12] corp0ra1 opened #2340 "[已解决]ModuleNotFoundError: No module named 'jieba' or 'seqeval'"
# 环境信息
paddlenlp:2.3.1，Python 3.8.13
![image](https://user-images.githubusercontent.com/35833862/170676630-24111679-f9d3-4417-9d51-e8c661c8f731.png)
# 问题描述：
如图，明明已经安装，但是报错ModuleNotFoundError: No module named 'jieba'
![image](https://user-images.githubusercontent.com/35833862/170676168-c972d929-ae56-4158-8a2a-23bd46b3174b.png)
# 解决方案：
对jieba版本进行降级到0.40，
![image](https://user-images.githubuserconten

[2022-05-27 10:46] 1649759610 commented on #2338
同学你好：
1. utils中的这些参数是对应的功能代码，可以参考文件：https://github.com/PaddlePaddle/PaddleNLP/blob/d405b2d85a5064bd4a10bdca56fc3a240a340a67/model_zoo/ernie-1.0/finetune/utils.py
2. args是训练时设定的参数，可以自定义设定这些参数。
3. 这个案例后续我们会考虑加上这些功能，敬请期待。

希望能够帮到你，使用过程中，有任何问题，欢迎与我们沟通。

[2022-05-27 11:09] thupx commented on #2324
问题已解决，能够正常finetune了，感谢回复。

[2022-05-27 11:09] #2324 closed, assigned to linjieccc

[2022-05-27 12:07] 1649759610 commented on #2339
是的， 可以将is_compiled_with_cuda设置为True，开启GPU推理。

[2022-05-27 16:16] bigbrother666sh commented on #2331
看到了，原来是继承……

[2022-05-27 16:16] #2331 closed, assigned to yingyibiao

[2022-05-28 08:12] linjieccc commented on #2337
1）推荐直接使用uie-tiny和uie-base进行微调。uie-medical-base是微调后的模型，不建议在上面继续微调
2）目前支持的预训练模型暂时只有uie-tiny和uie-base，它们分别基于ernie-3.0-medium-zh和ernie-3.0-base-zh进行了预训练

[2022-05-28 08:15] linjieccc commented on #2339
您好，支持的。只要正确安装GPU版本的paddlepaddle，Taskflow就会自动选择gpu环境来推理
可以参考这里：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/task.py#L135

[2022-05-28 15:36] LeoMax-Xiong opened #2342 "代码重复"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/tokenizer_utils_base.py#L2180 和
https://github.com/PaddlePaddle/PaddleNLP/blob/devel

[2022-05-29 02:18] godlockin opened #2343 "develop 分支里 education 的内容被迁移了？"
在看paddlenlp的视频教程，里面提到了很多次在paddlenlp，develop 分支，education文件夹里的文档，但是现在这些内容已经不存在了，是否被迁移了？

[2022-05-29 10:57] konghehan opened #2344 "无法训练faq_system train.py脚本，直接中断"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1，PaddlePaddle2.3.0
2）系统环境：centos7，python3.8
- 复现信息：如为报错，请给出复现环境、复现步骤

详细信息如下：
python3 -u -m paddle.distributed.launch --gpus '0' \

/usr/local/python3/lib/python3.8/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
LAUNCH

[2022-05-29 16:03] w5688414 commented on #2344
[code]
看上去是格式问题？0表示使用的显卡是0，请问是运行的bash脚本吗？

[2022-05-29 16:05] w5688414 commented on #2343
https://github.com/PaddlePaddle/PaddleNLP/tree/release/2.2/education

[2022-05-30 01:42] guoshengCS commented on #2342
这里看着是重复了，感谢指出，我们更新完善下

[2022-05-30 02:18] linjieccc opened #2347 "UIE finetune脚本适配多卡训练"

[2022-05-30 03:20] heng3366 commented on #2337
感谢回复，我还有几个疑问：
1、后续UIE会添加其他预训练模型用来微调吗？
2、相同数据集，用相同的预训练（比如ernie-base）训练ner，一个用UIE，一个不用，f1-score会有差别吗？
3、接2，解码部分是否有内置的样例（比如lstm-crf、globalpointer等等），paddle默认的解码方式是否有普适性呢？

Linjie Chen ***@***.***> 于2022年5月28日周六 16:12写道：

[2022-05-30 03:28] githanyongjin opened #2349 "模型压缩裁剪之后的模型导出时，报错ValueError: (InvalidArgument) Invalid enum data type `0`"
使用的案例是https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/pp-minilm/pruning/export_model.py

具体报错为：
    out = _C_ops.cast(x, 'in_dtype', x.dtype, 'out_dtype', dtype)
ValueError: (InvalidArgument) Invalid enum data type `0`. (at /paddle/paddle/phi/kernels/cpu/cast_kernel.cc:29)
  [operator < cast > error]

[2022-05-30 05:57] jiweizhangxu commented on #2338
我还是压缩不了，我模型已经训练好，数据文件如下，现在该怎么进行压缩呢？readme的dataset也不知道里面是什么形式的，还有best_models/TNEWS也不知道里面是什么形式？
数据集：

![b9fed96ad2157331ccb11d9f6f3a4d2](https://user-images.githubusercontent.com/88191580/170926293-70fc1077-d309-4690-9b72-6e574480c863.png)

模型：
![c54ee756e85c8243c3765b73e490e8d](https://user-images.githubusercontent.com/88191580/170926303-533d1335-bdfb-4b8d-873a-9d7a155f740c.png)
尝试用命令行形式，它一直找不到toke

[2022-05-30 06:11] LiuChiachi commented on #2349
您好，能麻烦把整个报错部分截个图吗，上面有些信息需要看一下。同时我也复现一下。

[2022-05-30 06:16] jiweizhangxu commented on #2338
另外我尝试把out_dir写到utils里面，但是报错str类型冲突，但是我看文档里也是一个字符串啊？很奇怪
![图片](https://user-images.githubusercontent.com/88191580/170928855-4bd3521f-d85d-4a54-930e-074e48667877.png)

[2022-05-30 06:21] Gavingx commented on #2339
paddlenlp 2.3.1和paddlepaddle-gpu 2.3.0可以适配吗？ 安装之后依然还是用的cpu，taskflow也没有自动选择，关于这块有文档可以参考吗？

[2022-05-30 06:23] LiuChiachi commented on #2338
是分类任务吗？
使用自定义的数据集，
您可以创建一个tokenizer文件，

1.readme的dataset也不知道里面是什么形式的：
答：readme里的dataset是paddlenlp内置的CLUE分类数据集。您的数据是自定义数据，需要参考自定义数据集的读取方式，并且需要将数据集转换成类似下面的格式，即每条样本转成`input_ids`, 'token_type_ids`, `labels`为key的dict
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/26483581/170929470-dd777563-46b5-449f-bea6-e81ae1be7921.png">

2.还有best_models/TNEWS也不知道里面是什么形式？
这是您已经训好的模型的路径，

[2022-05-30 06:53] jiweizhangxu commented on #2338
您说自己创建一个tokenizer文件，里面是什么样的呢？我该向里面写入什么？
您说参考自定义数据集的读取方式，并且需要将数据集转换成类似下面的格式，这个是模型中有现成可以使用的.py文件，还是要自己想？readme里好像也没有介绍自定义数据集的读取方式的地方呀？

[2022-05-30 07:19] jiweizhangxu commented on #2338
您说自己创建一个tokenizer文件，里面是什么样的呢？我该向里面写入什么？
您说参考自定义数据集的读取方式，并且需要将数据集转换成类似下面的格式，这个是模型中有现成可以使用的.py文件，还是要自己想？readme里好像也没有介绍自定义数据集的读取方式的地方呀？

[2022-05-30 07:25] iwanglei1 opened #2352 "paddlenlp.transformers » chinesebert » tokenizer 其中ChineseBertTokenizer存在问题，其中代码使用了pinyin = try_import("pypinyin.pinyin")，这是错误的"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-30 07:28] iwanglei1 commented on #2352
~/.data/webide/pip/lib/python3.7/site-packages/paddlenlp/transformers/chinesebert/tokenizer.py in pinyin_locs_map(self, text)
    732             dict: the map of pinyin locations and pinyin tensor.
    733         """
--> 734         pinyin = try_import("pypinyin.pinyin")
    735         Style = try_import("pypinyin.Style")
    736         pinyin_list = pinyin(

/opt/conda/envs/python35-paddle120

[2022-05-30 07:30] iwanglei1 commented on #2352
其中pinyin = try_import("pypinyin.pinyin")  代码执行错误

使用from pypinyin import pinyin时不会报错
但是程序中使用import pypinyin.pinyin 报错
导致ChineseBertTokenizer 无法使用

[2022-05-30 07:36] jiweizhangxu opened #2353 "部署报错No module named 'onnx'"
![图片](https://user-images.githubusercontent.com/88191580/170941390-f3725047-9e28-4d05-9571-611260c8c3e8.png)

[2022-05-30 07:38] #2353 closed, assigned to nobody

[2022-05-30 08:03] wawltor commented on #2339
那可能是GPU版本安装的有问题，使用conda来安装  https://www.paddlepaddle.org.cn/
<img width="835" alt="image" src="https://user-images.githubusercontent.com/16698950/170946216-d740ef5e-3976-45df-bff9-6db9f83c086b.png">

[2022-05-30 08:08] jiweizhangxu opened #2354 "ERNIE 3.0分类模型部署的问题"
关于部署，我看示例wget到的模型文件是完整的模型文件，而我微调得到的只有参数，我该怎么部署？
![图片](https://user-images.githubusercontent.com/88191580/170947214-bc75ef0a-0912-45c0-a610-cb33db3a6cb8.png)

[2022-05-30 08:11] wawltor commented on #2337
1. 后续我们添加更小的模型来微调，来增加UIE的预测性能
2. F1-score会有比较大的区别，UIE效果会好很多
3. UIE现在用的抽取的解码方式，目前我们普适效果还挺好；目前正在我们尝试一些其他的解码方式

[2022-05-30 08:22] yingyibiao opened #2355 "Experience enhancement of **paddlenlp.transformers** module"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-05-30 08:27] #2355 closed, assigned to nobody

[2022-05-30 08:48] yingyibiao opened #2356 "Experience enhancement of paddlenlp.transformers module"
- [ ] 完善 attention_mask 模块

- https://github.com/PaddlePaddle/PaddleNLP/issues/1850
- https://github.com/PaddlePaddle/PaddleNLP/pull/2005

- [ ] 完善 model_input_names 字段

- [ ] 模型下游任务支持传入 labels 并输出 loss

- [ ] 返回 hidden_states，attentions 等模型内部信息

- https://github.com/PaddlePaddle/PaddleNLP/pull/2583

- [x] 支持词表扩充

- https://github.com/PaddlePaddle/PaddleNLP/pull/2423

- [ ] 支持输入序列最大长度扩充

- https:/

[2022-05-30 08:56] yingyibiao commented on #1850
#2005

[2022-05-30 08:59] Gavingx commented on #2339
可以考虑支持下docker吧，配环境太麻烦了，各种奇怪问题。= _ = !!

[2022-05-30 10:08] guoshengCS commented on #2354
抱歉这里没有明确给出如何将微调后的模型转换为部署的模型文件，侧重导出压缩的模型把这个漏掉了，可以参考下这里 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/compress_trainer.py#L171
<img width="714" alt="image" src="https://user-images.githubusercontent.com/14105589/170969339-0643be57-4919-41a8-9e64-3c9df8357aa8.png">
或者是BERT这里的模型导出 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/bert/export_model.py#L51
 ER

[2022-05-30 11:32] umbraclet16 opened #2357 "RAT-SQL训练代码与推理问题"
- 版本、环境信息
1）PaddleNLP 2.0.8，PaddlePaddle2.1.0.post101
2）Ubuntu 18.04.5 lts，python 3.7.5
- 复现信息：
1.推理：依照readme，下载官方提供的模型进行推理，三个数据集的结果都很差，执行评估结果准确率基本为0，无法复现基线效果。

2.训练：text2sql/launch/trainer.py中，每个epoch后进行评估的函数_eval_during_train()并未进行真正的评估操作，返回为无意义内容。因此无法在训练过程中评估训练情况。

[2022-05-30 11:52] qustfmy opened #2358 "使用taskflow进行信息抽取时，提示没有这个任务名称"
使用官方例子
`from pprint import pprint
from paddlenlp import Taskflow

schema = ['时间', '选手', '赛事名称']  # Define the schema for entity extraction
ie = Taskflow('information_extraction', schema=schema)
# Better print results using pprint
pprint(ie("2月8日上午北京冬奥会自由式滑雪女子大跳台决赛中中国选手谷爱凌以188.25分获得金牌！"))`
报错信息：information_extraction is not in Taskflow list, please check your task name

[2022-05-30 12:01] wawltor commented on #2358
您好，需要更新一下PaddleNLP的版本 pip install paddlenlp --upgrade

[2022-05-30 14:25] chenqianhe opened #2359 "ernie-3.0-xbase-zh模型文件下载404"
1) 版本：paddlenlp-2.3.1
2) 复现信息：

使用from_pretrained("ernie-3.0-xbase-zh")加载模型时如下报错

[code]

[2022-05-31 00:49] jiweizhangxu commented on #2354
能请您先快完善一下实例吗？就是法研杯的那个多分类实战，加上压缩，剪枝量化和部署模块吗，这样咱们也算是完整的把项目弄好了，我这样的笨蛋也能一步步照猫画虎实际应用一下，如果弄好了，请在微信群通知一下，感谢

[2022-05-31 02:20] jiweizhangxu opened #2360 "ERNIE3.0分类模型部署，保存了完整模型文件，但是部署报IndexError: list index out of range错误"
我是采用以下方式保存：
![图片](https://user-images.githubusercontent.com/88191580/171079697-d02af620-0b12-4d46-80be-d2c825ef0beb.png)
![图片](https://user-images.githubusercontent.com/88191580/171079780-aa7d5047-15bc-4626-9b8c-6fdc68204b20.png)
这是我采用的命令和报错：
(fenlei_bushu_ern) [root@czq-gpu try_bushu]# /root/anaconda3/envs/fenlei_bushu_ern/bin/python3.9 infer_cpu.py --task_name seq_cls --model_path ./Temp/model
[

[2022-05-31 02:21] #2360 closed, assigned to nobody

[2022-05-31 03:10] ZHUI commented on #2359
抱歉，`ernie-3.0-xbase-zh` 还没有随包 2.3.1 发布，您可以 从paddlenlp develop源码安装。
[code]

[2022-05-31 03:49] ArtificialZeng opened #2361 "KeyError: 'label' 运行ernie_matching 下的 官方train_pairwise.py脚本"
我运行ernie_matching 下的 官方train_pairwise.py脚本，出现此问题：
脚本如下：
[code]
报错：
[code]

[2022-05-31 04:20] wawltor commented on #2357
您好，谢谢指出这些问题！
1.  这块我们尽快会修复一下脚本
2. 训练这块因为之前的代码贡献者为了节省evaluate的时间，所以做了这样的很trick的事情，目前这个开发者很难找得到，这块我们尽量来修复一下

[2022-05-31 05:53] tianxin1860 commented on #2361
是对代码做了什么修改吗？默认会加载 Lcqmc 数据集训练的。

[2022-05-31 06:11] ArtificialZeng commented on #2361
没有任何修改， 使用的官方代码。，官方数据

[2022-05-31 06:23] jiweizhangxu opened #2365 "想再问下ERNIE3.0分类模型部署的问题，模型不管什么句子统一都是猜测为类型一并且confidence值基本没有改变"
看你们的建议是写在这里吗？
![图片](https://user-images.githubusercontent.com/88191580/171105499-d85300a1-3fd4-40d4-bae0-b71c16abe45d.png)
我模型保存后采用Python端部署方式部署：
![图片](https://user-images.githubusercontent.com/88191580/171106003-bf9d16c5-e0ee-438e-abb3-596f97fed296.png)
这是结果：
![图片](https://user-images.githubusercontent.com/88191580/171106339-e7235baa-4968-4999-97d5-8021ed67fcae.png)
试了很多句子全是这个概率值，模型判断的类型也没有变化
是该加

[2022-05-31 06:28] ArtificialZeng commented on #2361
请问Lcqmc 是什么意思。  我用的官方 发布的 学术搜索数据

[2022-05-31 06:36] ArtificialZeng commented on #2361
知道Lcqmc的意思了。  现在还是报那个bug。 我的操作系统是win11.  其他的pp  ppnlp照着官网装的

[2022-05-31 06:44] tianxin1860 commented on #2361
建议先不要用 AIStudio 学术搜索的数据来跑，先把 Examples 里的训练代码跑通，然后仿照 LCQMC 的数据格式替换成自己的业务数据，这样跑起来更容易一些。

[2022-05-31 06:58] wawltor commented on #2339
docker也是有的，你可以看这里 https://hub.docker.com/r/paddlepaddle/paddle/tags

[2022-05-31 07:20] LiuChiachi commented on #2365
可能是您的模型没有收敛，导致出来的类别不正确。建议模型训练到evaluation的结果达到要求的时候再拿去部署。
红框内的部分是动态图转静态图（用于部署的模型）的逻辑

[2022-05-31 07:25] LiuChiachi commented on #2338
tokenizer文件，您的模型目录应该已经具备了
<img width="316" alt="image" src="https://user-images.githubusercontent.com/26483581/171115845-5d254dd9-59d1-4ed4-9efa-64a4e4fad39f.png">

自定义数据集的读取，https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_load.html，可以参考这个文档

[2022-05-31 07:33] tianxin1860 commented on #2305
如果基于 CPU 执行的话，不需要执行 `export CUDA_VISIBLE_DEVICES=0`, 这句命令是为 GPU 执行配置 GPU 卡号的。

[2022-05-31 08:04] ArtificialZeng opened #2367 "运行in_batch_negative.py脚本报错：InvalidArgumentError: The DataType of equal Op's duplicable Variable Y must be consistent. The current variable type is (int64_t)"
运行脚本：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative

cmd传参命令：
python -u -m paddle.distributed.launch --gpus "0" train_batch_neg.py --device gpu --save_dir F:\\迅雷下
载\\inbatch_model\\model_40\\ --batch_size 64 --learning_rate 5E-5 --epochs 3 --output_emb_size 256 --save_steps 10 --max_seq_length 64 --margin 0.2 --train_set_file E:\\google_

[2022-05-31 08:06] wawltor opened #2368 "Tokenizer接口对齐需求"
1.没有 convert_ids_to_string
2. bos_id eos_id  相关接口没有

[2022-05-31 08:09] apexg opened #2369 "ERNIE 3.0针对NER任务推理时候逻辑有问题，无法准确识别出连接在一起的两个实体"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1 和PaddlePaddle2.2.2.post11
2）系统环境：请您描述系统类型，ubuntu 18 python3.8
- 复现信息：如为报错，请给出复现环境、复现步骤
- 实体识别任务,假设一句话是:北京涮肉，重庆火锅，成都小吃都是极具特色的美食。实体:北京 loc,刷肉,content,成都 loc,小吃 content...
- 就是两个实体连接在一起出现,那么下面的代码有问题:无法准确识别出连接在一起的两个实体
[code]

[2022-05-31 08:13] apexg opened #2370 "在执行onnx推理代码,PaddleNLP/model_zoo/ernie-3.0/deploy/paddle2onnx/infer.py,对于推理数据的预处理有错误,应该转为list"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1和PaddlePaddle 2.2.2.post111，
2）系统环境：请您描述系统类型，ubuntu18 python3.8
- 复现信息：如下截图1,输入给的是一个整句list,但图2显示,在处理输入的时候没有分字,导致分词返回的结果不正确,是否应该将第二红框内容改为: [list(data[0])]
-
![image](https://user-images.githubusercontent.com/6739219/171125132-6e4dcc22-8988-437c-8321-34ae02845a32.png)
![image](https://use

[2022-05-31 08:16] apexg opened #2371 "在综合使用ernie3.0+crf的时候,loss.backward的时候报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1 PaddlePaddle2.2.2.post111
2）系统环境：请您描述系统类型，ubuntu18 python3.8

![6d15746b39fa605f0d941bf1ff6e9ec](https://user-images.githubusercontent.com/6739219/171126071-c07f4003-48b1-4804-a84e-2c6489073717.png)
模型信息:
![4adcf790b4081d05b8202db3a02ed98](https://user-images.githubusercontent.com/6739

[2022-05-31 08:28] Gavingx commented on #2339
用你们的docker gpu环境推理uie给的案例，平均50ms，但是用自己的容器安装gpu版本的paddle（conda 安装的），推理速度和用CPU差不多，差不多5s左右。好像并没有用到GPU,是我安装的版本不对吗？
![image](https://user-images.githubusercontent.com/43789460/171128703-8624269f-f520-41c5-9240-5f18178b8d4a.png)

[2022-05-31 09:01] Xingyu-Romantic commented on #2368
没有batch_decode

[2022-05-31 09:33] jiweizhangxu commented on #2365
请问这个是什么原因？执行到第40个steps直接停止之后报错了
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/root/anaconda3/envs/paddle_fei/lib/python3.9/site-packages/paddlenlp/transformers/tokenizer_utils_base.py", line 722, in convert_to_tensors
    tensor = as_tensor(value)
  File "/root/anaconda3/envs/paddle_fei/lib/python3.9/site-packages/decorator.py", line 232, in fun
    return caller(func,

[2022-05-31 10:01] LiuChiachi commented on #2365
这个应该不是训练的过程的报错，看起来是动转静失败了，因为组网里面有to_tensor

[2022-05-31 13:47] heliqi commented on #2369
@apexg
非常感谢你反馈这个问题，已查明确实有bug，已提修复PR: https://github.com/PaddlePaddle/PaddleNLP/pull/2376

[2022-05-31 13:51] godlockin commented on #2343
cheers

[2022-05-31 13:51] #2343 closed, assigned to w5688414

[2022-05-31 15:01] linjieccc commented on #2347
issue closed as #2307 is merged

[2022-05-31 15:01] #2347 closed, assigned to linjieccc

[2022-06-01 00:50] jiweizhangxu commented on #2365
有什么解决方案吗？我没什么头绪

[2022-06-01 01:12] ZTurboX commented on #2318
uie更新了在gpu下的加速方案，有么有在cpu加速方案呢

[2022-06-01 02:03] jiweizhangxu commented on #2365
还是报错，第一次40steps不报错，到80steps保存模型直接报错
![微信截图_20220601100111](https://user-images.githubusercontent.com/88191580/171313260-974dba88-f99d-43ca-ba78-d0520eb88599.png)

[2022-06-01 04:09] zouhan6806504 opened #2378 "paddle有实现longformer吗？或者能从已实现的torch版中导出paddle的预训练模型？"
如题

[2022-06-01 04:12] tianxin1860 commented on #1660
你好，windows 系统上数据类型的支持 bug, 辛苦给一下是运行哪个脚本报这个错？我们会尽快修复。

[2022-06-01 04:12] tianxin1860 commented on #1660
你好，windows 系统上数据类型的支持 bug, 辛苦给一下是运行哪个脚本报这个错？我们会尽快修复。

[2022-06-01 04:59] jiweizhangxu commented on #2365
我的代码：
#####################################################
import os
import paddle
import paddlenlp
# 自定义数据集
import re
from paddlenlp.transformers import BertForSequenceClassification, BertTokenizer
from paddlenlp.transformers import ErnieForSequenceClassification, ErnieTokenizer
from paddlenlp.datasets import load_dataset
from paddlenlp.transformers import export_model
import argparse

def parse

[2022-06-01 06:14] wawltor commented on #2352
好的，收到 我们研究一下，谢谢给我们指出问题！

[2022-06-01 06:33] wawltor commented on #2365
看了一下报错主要是静态图图保存时是动态图和静态图的切换过程，多次保存就存在多次切换的过程，随意切换就会有问题；
建议在获取最好的动态图的模型之后，然后再对它进行静态图模型保存，这样就不会存在多次动态图和静态图的切换过程

[2022-06-01 06:37] ZeyuChen commented on #2378
@zouhan6806504 我们有BigBird，综合能力应该不比longformer差，您是看中longformer哪个版本的预训练模型呢？

[2022-06-01 06:44] jiweizhangxu commented on #2365
好，我试试

[2022-06-01 06:59] heng3366 commented on #2337
感谢，我继续用UIE微调测试了几个医疗数据集，确实是有普适性，但是纯模型训练对比下(roberta、roformer），f1score还是低了一些(大概百分之3-4），还有几个问题：
1、可否在UIE中加入对抗学习的trick？如果可以，paddle中是否有样例可供参考；如果不可以，原因是什么？
2、用erine3.0-base的话，比如ner，相同任务、数据集情况下，不使用UIE和使用UIE的f1-score会有差别吗？
wawltor ***@***.***> 于2022年5月30日周一 16:11写道：

[2022-06-01 07:08] wawltor opened #2380 "UIE 在多输入的情况下显存溢出"
![image](https://user-images.githubusercontent.com/16698950/171347489-a9306b8c-44ff-4afe-b509-df8fca0e78a9.png)

[2022-06-01 07:30] w5688414 commented on #2367
https://github.com/PaddlePaddle/PaddleNLP/pull/2381

[2022-06-01 08:29] jiweizhangxu commented on #2365
牛牛牛，感谢，解决了

[2022-06-01 08:34] zouhan6806504 commented on #2378
只是想获得长文本的表示，并不一定要longformer或者他的特定版本，bigbird有简介么？

[2022-06-01 08:41] zouhan6806504 commented on #2378
还有希望是中文版的

[2022-06-01 09:04] ZeyuChen commented on #2378
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-doc
如果中文的话可以试试ERNIE-Doc，是中文的而且支持长文档

[2022-06-01 09:27] Haibarayu opened #2383 "UIE doccano.py 脚本划分数据集报错"
版本、环境信息
1）PaddleNLP 2.3.1，PaddlePaddle-GPU 2.3.0
2）系统环境：Linux，python3.8.12

使用 doccano.py 脚本处理 doccano 平台导出的数据，发生以下错误：
1）未按参数比例划分数据集
![image](https://user-images.githubusercontent.com/50996772/171371909-091d645e-2ca3-41c0-86f3-9a77a65d2c54.png)

2）使用『0.7 0.2 0.1』比例时发生报错：ValueError: Please set correct splits, sum of elements in splits should be equal to 1.
![image](https://user-images.githubusercon

[2022-06-01 12:19] FrankWhh opened #2384 "UIE源码疑惑"
看了下源代码，发现taskflow里的UIE代码跟原始的不太一样，怎么感觉是阅读理解范式呢？
标签名直接与原文拼接，输入模型预测start, end。这个不是prompt吧？

[2022-06-01 12:45] wj-Mcat commented on #1944
All of you need is to upgrade the version of PaddleNLP:

[code]

**it works for me.**

[2022-06-02 01:41] wj-Mcat opened #2387 "unsupported tokenizer-config.json schema"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：

[code]

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- Linux
- python3.9

* tokenizer_config.json

[code]

⚠ ⚠ ⚠When `special_tokens_map_file` field is `null`, it will raise error:

[code]

* to reproduce the error

1.  save the pretrained tokenizer

[code]

2. load the tokenizer from pretrained

[2022-06-02 01:45] zouhan6806504 opened #2388 "有没有比较现成的，能识别一句话是正常有意义的话的预训练模型"
在语音识别时，通常都是基于普通话，如果遇到方言，就会出现一些无意义的话语，比如：“你知你想我转开咪呢，诶，印尼垂头宿舍就是入嚟瞓醒啊，我打佢我诶坐落去嚟瞓啊，佢我哋回到你哋人类啊，佢啊佢手持嚟，”
我想判断这种情况，可否有现成不用自己再训练的模型用？

[2022-06-02 02:13] wj-Mcat commented on #2387
So, suggested code is:

[code]

How do you think about it?

[2022-06-02 02:23] EricHuang7 opened #2389 "ner使用过程出现IndexError: list index out of range"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
版本信息:
  paddlenlp                     2.2.3
  paddlepaddle-gpu              2.3.0.post101
系统环境:
 Linux ; Python 3.7.12
复现:
from paddlenlp import Taskflow
ner = Ta

[2022-06-02 02:27] wawltor commented on #2388
这个功能没有了，这个功能相对来说是比较和场景相关的，从场景角度来说是需要通过你的场景数据来进行微调的，如果任务标注数据过多的话，可以使用UIE的小样本分类来提升标注效率和训练效率，具体功能可以见  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-06-02 02:31] wawltor commented on #2389
建议升级到最新PaddleNLP的版本，看了一下这个bug已经修复了，谢谢您给我们指出问题！
pip install paddlenlp --upgrade

[2022-06-02 02:32] linjieccc commented on #2384
Taskflow里接入的UIE中文版是抽取式的，在零样本和小样本上的效果更好，模型结构可以参考下图
<div align="center">
    <img src=https://user-images.githubusercontent.com/40840292/167236006-66ed845d-21b8-4647-908b-e1c6e7613eb1.png height=400 hspace='10'/>
</div>
和传统prompt有区别的是UIE固定了prompt的构造方式，就是条件+抽取标签，省去了传统prompt选择太多的问题

[2022-06-02 02:42] FrankWhh commented on #2384
多谢回复，UIE确实是解决了传统prompt模板构造问题。ps: 我只是觉得这个与阅读理解范式没啥区别，当然NLP里这种还是很常见的

[2022-06-02 02:42] #2384 closed, assigned to linjieccc

[2022-06-02 02:50] kahitomi commented on #2384
现在广义的prompt指代可能比较大，大家想做的是怎么用适当的prompt引导模型给出正确答案，这里利用的是预训练阶段的无监督知识。很多prompt看起来和阅读理解的构造一致，因为这个符合自然语言理解的表达，可以让模型顺着往下说。问题是怎么构造prompt更好，常常多一个『吗』之类的词也会对结果影响很大。所以taskflow的UIE才有了用大量信息抽取数据让模型适配固定prompt的方法。

[2022-06-02 02:56] FrankWhh commented on #2384
感谢回复 说的很有道理

[2022-06-02 03:40] jiuwuxiaohun opened #2390 "关于ernie-gen的问题，有考虑完美集成到NLP包吗？"
当前版本PaddleNLP 2.3.1

ErnieForGeneration里面没有实现model.generate生成接口，我自己尝试使用继承实现，能力不足失败了。

伪代码如下：
[code]

没有实现model.generate生成接口，无法使用加速文本生成，无法使用采样生成等等功能，希望官方能支持下。

[2022-06-02 05:28] guoshengCS commented on #2387
Thanks a lot. Would you please make a PR to fix it and it will be appreciated.

[2022-06-02 06:41] liveopp commented on #2318
使用uie/deploy/python 中的代码，感觉cpu利用率不太高，好像没有利用多核？

[2022-06-02 07:07] wj-Mcat commented on #1899
Closed by fixed.

All of I need is:

[code]

[2022-06-02 07:07] #1899 closed, assigned to yingyibiao

[2022-06-02 07:36] #2388 closed, assigned to wawltor

[2022-06-02 07:51] chenchun0629 opened #2397 "text_summarization bart 案例运行报错"
1）PaddleNLP和PaddlePaddle版本：paddlenlp==2.3.1，paddlepaddle-gpu==2.3.0
2）系统环境：linux
3)
[code]

![image](https://user-images.githubusercontent.com/3328490/171581254-228e82a7-ca72-4c6f-a95c-e1aa2f9818ea.png)

[2022-06-02 08:49] ArtificialZeng opened #2399 "跑神经搜索里recall in_batch_neg.py evaluate.py时报错。"
我用官方数据集跑通了整个流程，用自建数据集报错。不知道数据集哪里错了

grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
Traceback (most recent call last):
  File "evaluate.py", line 61, in <module>
    text, similar_text = line.rstrip().split("\t")
ValueError: too many values to unpack (expected 2)

欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleN

[2022-06-02 09:17] zouhan6806504 opened #2401 "uie不产出任何结果，这个正常吗？"
我用https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie 训练了一个判断一句话是否正常的模型，在预测的时候，发现有些结果无输出

[code]

得到结果
[code]
这个算正常情况吗？

[2022-06-02 09:18] cdj0311 opened #2402 "如何使用自己训练的BPE分词器训练GPT模型？"
大佬好，请问两个问题：
1. 能否用tokenizers库训练的BPE词表训练GPT模型？
2. 如果1不能，那能否用PaddleNLP训练一个词表使用？

[2022-06-02 09:33] gongel commented on #2402
可以加载自定义的BPE词表，传入vocab_file和merges_file即可。
[code]

[2022-06-02 09:49] gongel commented on #2397
你好， 用develop分支的代码可以的哈，或者等下今明天的PaddleNLP v2.3.2 版本。

[2022-06-02 10:22] #2397 closed, assigned to gongel

[2022-06-02 12:55] ZhangYH321 commented on #2287
您好，我使用doccano时，一直无法上传relation的标签信息
![image](https://user-images.githubusercontent.com/59766081/171633961-d39418e7-62f6-4d34-b72a-d5c494c9e834.png)
actions就一直上传不了

[2022-06-02 12:58] guoshengCS commented on #2390
因为ERNIE-GEN使用了Infilling Beam Search的机制（[主要是解码循环中每一步的输入不再是上一步生成的一个token了，会拼接上一个special token变成长度为2了](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_generation/ernie-gen/decode.py#L306) ），这个和传统的beam search及sampling方法差异较大，不太好适配generate接口和生成加速。也请问下是想用ERNIE-GEN中的哪个模型呢，UnimoText、BART这样的模型可以满足使用需求吗

[2022-06-02 13:37] shaitaiyangmie opened #2408 "您好，taskflow，ddparser问题求助。"
您好，我在调用ddparser的时候遇到了如下问题，
![image](https://user-images.githubusercontent.com/73834112/171641583-289dc585-c57a-4948-9724-ca9a32755aa6.png)
我的代码就是按照usage写的：
![image](https://user-images.githubusercontent.com/73834112/171641679-928f2a53-b74e-41a8-8d18-0e5e278ac2d0.png)
paddlenlp是2.3.2，新更新的，请问为啥会这样呢？
另外想请教一下，如何把ddparser的结果保存起来呢？
感谢。

[2022-06-03 06:33] #2402 closed, assigned to ZHUI

[2022-06-03 12:37] wj-Mcat commented on #2387
Closed by fixed with https://github.com/PaddlePaddle/PaddleNLP/pull/2395

[2022-06-03 12:37] #2387 closed, assigned to joey12300, ZHUI

[2022-06-04 08:53] xiehuanyi opened #2569 "GPTChineseTokenizer 报错 TypeError: __init__() got an unexpected keyword argument 'model_file'"
### bug描述 Describe the Bug

from paddlenlp.transformers import GPTChineseTokenizer

tokenizer = GPTChineseTokenizer.from_pretrained('gpt-cpm-large-cn')
print(tokenizer('欢迎使用百度飞桨！'))
'''
{'input_ids': [2092, 260, 1014, 1596, 17620, 45], 'token_type_ids': [0, 0, 0, 0, 0, 0]}
'''
[2022-06-04 16:50:48,127] [    INFO] - Downloading gpt-cpm-cn-sentencepiece.model from https://paddlenlp.bj.bcebos.com/mod

[2022-06-04 11:17] linjieccc commented on #2408
您好，可能是框架版本比较低，可以升级paddlepaddle到最新版本再试下哈。ddparser结果保存是指将输出结果存入文件么？

[2022-06-04 11:21] linjieccc commented on #2401
相比抽取任务，分类任务需要的训练样本数量会多些，可以适当增加一些标注数据再试试

[2022-06-04 12:15] shaitaiyangmie commented on #2408
感谢您的回复！对的，就是输出结果存入文件，请问该如何操作呢？

[2022-06-04 12:50] cdj0311 opened #2411 "如何从头训练GPT？"
hi，大佬，请教下
model_zoo/gpt下的训练GPT例子是需要从已有的GPT模型继续训练，其代码如下：

[code]

我现在需要用新的数据重新训练一个GPT模型，需要能够自定义模型大小，请问有相关例子吗？或者说该如何修改这个训练脚本？

[2022-06-05 05:43] zouhan6806504 opened #2412 "from paddlenlp.metrics import AccuracyAndF1，当accuracy不为0的时候，f1为0"
评价函数如下
[code]

我打印了中间的一些结果，发现有预测正确的值，accuracy不为0，但是f1为0，这是为什么
[code]

[2022-06-05 05:50] zouhan6806504 commented on #2412
环境aistudio

[2022-06-05 14:24] LemonNoel commented on #2412
可以多打印些中间结果，correct只是accuracy的中间结果，其他中间结果可以看[代码](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/metrics/glue.py#L101)。当true_positive=0时，是会出现accuracy不为0，但f1=0的。

[2022-06-05 14:37] zouhan6806504 commented on #2412
是我搞错了，多类的情况是可能出现这样的

[2022-06-05 14:37] #2412 closed, assigned to nobody

[2022-06-05 17:02] minlik opened #2413 "UIE finetune evaluate.py 报错"
[code]
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.1，PaddlePaddle 2.3.0
2）系统环境：Python 3.7.13

[2022-06-05 17:29] zouhan6806504 commented on #2413
我也是这样，前两天还正常，今天就出错了。估计是版本升级导致的

[2022-06-05 22:59] laoduo commented on #2413
俺也一样，遇到了同样的问题。
Python:3.9.12
paddle:2.3.0
paddlenlp:2.3.2

[[2022-06-06 06:33:19,429] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load './checkpoint/model_best'.
Traceback (most recent call last):
  File "/opt/soft/PaddleNLP-develop/model_zoo/uie/evaluate.py", line 90, in <module>
    do_eval()
  File "/opt/soft/PaddleNLP-develop/model_zoo/uie/evalu

[2022-06-06 01:15] guoshengCS commented on #2390
当前 PaddleNLP 还没有提供 BART 中文模型出来，之前邱锡鹏老师那边的CPT工作产出过 BART 的中文模型 https://www.zhihu.com/pin/1432050280234373120 也有HF的模型 https://huggingface.co/fnlp ，这个应该可以转换权重之后直接使用，可以的话也欢迎贡献~ 也请 @gongel 关注下这个

[2022-06-06 01:16] KeoYang commented on #1660
hi, env：
1）paddle2.2.2 ppnlp2.3.0
2）系统环境： Windows10，Python 3.7.7
当重复代码 [train.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/question_answering/faq_finance/train.py)的时候，出现相同的bug

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/question_answering/faq_finance/train.py

[2022-06-06 01:26] zouhan6806504 opened #2414 "paddle 目前有接受图片特征输入的类似vlbert的模型吗？"
如题

[2022-06-06 02:57] ArtificialZeng opened #2415 "请问是不是在windows环境下很多功能用不了？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-06-06 03:02] jiweizhangxu opened #2416 "想输入一个句子，能通过模型用语义相似度找到库中最相似的20个句子"
ERNIE都是两个句子对比相似度，百度有能实现类似功能的模型吗？需要离线，另外因为语义相似度的数据很难标注，希望能避免重新训练，感谢

[2022-06-06 06:23] wawltor commented on #2415
您好，能具体提供一下具体哪些功能不支持吗？我们的PaddleNLP是需要支持windows的

[2022-06-06 06:36] tianxin1860 commented on #1660
这个问题已经修复了，可以拉取最新的 develop 分支代码再运行。

[2022-06-06 06:44] dldragonking opened #2418 "基于ERNIE垂直领域二次预训练效果为什么不佳呢？"
通过paddlenlp里面的预训练全流程的指引https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0 ，我在AISTUDIO实现了领域垂类数据的二次预训练：先用
[create_pretraining_data.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-1.0/data_tools/create_pretraining_data.py)处理领域数据，然后使用[run_pretrain.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-1.0/run_pretrain.py)在ernie-1.0

[2022-06-06 06:56] ZHUI commented on #2418
1、这样做的二次预训练模型是在ernie-1.0-base-zh通用模型上对领域数据二次预训练，还是直接对领域数据预训练呢？
  2、最后finetune效果没有通用模型好是什么原因呢？数据不够，还是方法不对呢？
  3、二次预训练的正确做法是怎样呢？

您好，主要问题在于目前的预训练流程是，默认随机初始化开始训练。您可以稍微修改一些这段代码，走else分支，加载提供的预训练参数。
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-1.0/run_pretrain.py#L323-L334
1. 是后者。您想要的是前者，可以根据上面建议修改
2. 同上，应为是随机初始化，需要训练很久(100w steps)，才会有好效果
3. 可以根据上面建议修改

我们将修改提供选项给用户，让用户可以加载 已有的

[2022-06-06 07:03] w5688414 commented on #2399
请提供一下您的数据集

[2022-06-06 07:05] w5688414 commented on #2416
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative 可以参考这个

[2022-06-06 11:29] ZHUI commented on #2411
对，可以自己传入修改的 model_config, 然后新建即可
[code]

model_config 这里可以参考 gpt/modeling.py 设置。修改 hidden_size， num_hidden_layers，num_attention_heads 到需要的size即可。

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/gpt/modeling.py#L533-L547
[code]

[2022-06-06 11:37] zhaozhaozhaozzz opened #2421 "information_extraction 情感分析传入数组时返回个别数据返回为空"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

PaddlePaddle版本号:2.3
系统环境：Linux hi-prod-20 3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

场景：情感分析
参考案例：https://github.

[2022-06-06 11:49] wawltor commented on #2421
<img width="1267" alt="image" src="https://user-images.githubusercontent.com/16698950/172154660-5f33882e-2f52-428e-8472-905693161a20.png">

1. 当行文本输入的时候，也是出现了空结果，出现空结果的原因是模型没有判断出具体哪个分类是正确的，如果每行都想输出的结果，可以设置 position_prob 概率来输出结果的置信度

[code]
2. 看schema UIE对三分类的情感分类识别效果不好，这是因为UIE在基础数据微调的时候主要是进行二分类情感分析，如果想提升效果可以标注一些数据进行微调

[2022-06-06 13:35] dldragonking commented on #2418
@ZHUI    下面代码不是加载model_name_or_path预训练参数吗？
[code]

1、请问如何加载ernie-1.0-base-zh的预训练参数，能给一段代码吗？
2、把--model_name_or_path 设为"ernie-gram" 能否在ernie-gram模型上进行二次预训练呢？
谢谢！

[2022-06-07 01:23] guoshengCS commented on #2413
这里有点bug，已经提交PR修复了，也会今天重新发个fix版本。可以先在报错这里去掉`''`这个先行使用，抱歉带来困扰
<img width="786" alt="image" src="https://user-images.githubusercontent.com/14105589/172275702-4bdfc975-c37d-423c-9690-cfa9f7d3a34f.png">

[2022-06-07 02:10] guoshengCS commented on #2413
Resolved by #2424

[2022-06-07 02:21] cdj0311 commented on #2411
感谢大佬！

[2022-06-07 02:21] #2411 closed, assigned to ZHUI

[2022-06-07 02:22] yingyibiao commented on #2414
有layoutlm系列模型，具体可以参见：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/multimodal

[2022-06-07 02:23] jiweizhangxu opened #2425 "neural_search有个地方路径错误examples/language_model/ernie-1.0，但其实里面没有ernie-1.0的模型"
那我从model_zoo/ernie1.0中直接训练模型就行是吗？
![图片](https://user-images.githubusercontent.com/88191580/172282210-fc752b53-c1e6-4ade-8e4d-94bbece2f5df.png)

[2022-06-07 02:41] #2425 closed, assigned to nobody

[2022-06-07 02:43] ZHUI commented on #2418
原始代码
[code]

修改为，即可，不要上面的 if 分支
[code]

设置为 "ernie-gram" 是不可以的，"ernie-gram" 的权重 不在 ernie/modeling.py 问价中。

[2022-06-07 02:51] ZeyuChen commented on #2369
Solve by #2376

[2022-06-07 02:51] #2369 closed, assigned to LiuChiachi, yeliang2258

[2022-06-07 02:52] ZeyuChen commented on #2413
This issues will resolved by #2424 and release paddlenlp 2.3.3

[2022-06-07 02:52] #2413 closed, assigned to guoshengCS

[2022-06-07 08:35] Shiina18 opened #2428 "UIE 用 evaluate.py 和 taskflow 抽取结果不同"
paddlenlp 2.3.1, paddlepaddle-gpu 2.3.0.post111
Linux, python 3.6

train.txt (一条)
[code]

finetune
[code]

输入训练集的那条数据, 结果 evaluate.py 抽取为空, taskflow 抽取为 '增长11.4%'.

[code]

evaluate.py
max_seq_len=512, model='uie-tiny', model_path='./checkpoint/model_best', test_path='./data/train.txt'

finetune.py
dev_path='./data/dev.txt', device='gpu', init_from_ckpt=None, learning_rate=1e-05, logging_steps=10,

[2022-06-07 08:45] jiweizhangxu opened #2430 "跑ERNIE1.0模型报一下错误请问是什么原因？是数据集处理的问题吗？"
[code]

[2022-06-07 09:52] ArtificialZeng opened #2432 "运行ernie_matching训练时报错。"
自建数据集，已经把特殊符号全删了。

0it [00:00, ?it/s]
0it [00:00, ?it/s]
Traceback (most recent call last):
  File "E:\A_IDE\Anaconda3\envs\pp212_gpu\lib\site-packages\pandas\core\indexes\base.py", line 3361, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 76, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 108, in pandas._libs.index.Ind

[2022-06-07 11:06] wawltor commented on #2430
看起来是数据是空的，可以查看一下数据集构造那块是否正常

[2022-06-07 11:48] thomaszheng opened #2433 "ernie-3.0 token转换报错，该训练数据使用haggingface 的AutoTokenizer可以正常转换"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
环境：
paddlenlp                         2.3.2
paddlepaddle-gpu                  2.2.2.post111
datasets                          2.2.2

使用这个脚本加载自己的数据微调ner模型，https://

[2022-06-07 12:07] Han-YLun opened #2434 "paddlenlp 抽取问题"
环境如下：
paddlepaddle-gpu==2.3.0
paddlenlp==2.3.2
VERSION="18.04.5 LTS (Bionic Beaver)
使用的docker

代码如下：
[code]

通过接口对外暴漏,出现如下一些问题
1.
[code]

2.抽取出来的数据由部分是这样的，并不是设置的schema,但是把text拿出来单独再请求，就没这么问题，是请求的太快了吗

<img width="499" alt="image" src="https://user-images.githubusercontent.com/44769070/172521103-321e2e77-20d3-449d-a8cb-2a2a9c819aca.png">

schema设置的是["疾病", "症状", "药品"]

[2022-06-07 13:54] guoshengCS commented on #2434
可否提供下第1个问题的case输入呢

[2022-06-07 14:03] 2627020811 opened #2435 "借楼请教一下Bert输入问题"
Bert论文里面写Bert的输入为：词向量、句向量和位置信息三者之和，可是在代码里我们却是将tokenizer的处理结果：input_ids和token_ids输入Bert，请问二者有何关联？

[2022-06-07 14:35] guoshengCS commented on #2433
请问使用的具体的数据格式是怎样的呢，是和 [run_token_cls.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/run_token_cls.py) 中使用的 msra_ner 这样 `['谢', '谢', '各', '位', '！']` 的吗，可否提供来排查下，目前确实可能有些地方是和HF不完全一致的，另外想问下这个是部分数据有问题是吗，看着进度处理了一部分

[2022-06-07 14:39] guoshengCS commented on #2435
词向量对应input_ids，句向量对应token_ids，位置信息会在模型forward过程中自动生成 ，可以参考这里 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/bert/modeling.py#L55

[2022-06-07 14:43] guoshengCS commented on #2432
看着是`read_test`取数据时样本中没有label字段，这个可否再确认下，另外也可也提供下这个`read_test`的代码看下

[2022-06-07 15:39] guoshengCS commented on #2432
另外这个和 #2361 是一个问题不

[2022-06-08 01:03] jiweizhangxu commented on #2430
关键都不是空的呀，readme里最终说输入数据就是npz和npy两个数据文件，而且我打开看了看，也没有为空呀？
不明白什么原因？
![微信截图_20220608090026](https://user-images.githubusercontent.com/88191580/172509192-a5cd8c47-c871-4871-89e4-310e2bf4fc8a.png)
![微信截图_20220608090038](https://user-images.githubusercontent.com/88191580/172509200-e722df62-2260-410d-8d6e-fb81bae7f4f7.png)
![微信截图_20220608090042](https://user-images.githubusercontent.com/88191580/172509212

[2022-06-08 01:10] 65377692 opened #2436 "在本机一步步操作nlp的faq_system案例时，recall异常，生成向量异常"
版本信息如下:
paddlenlp          2.3.1,2.3.2,2.3.3
paddlepaddle       2.3.0
**设备1**：台式机
os：windows10
cpu：amd 5600g 6核12线程
mem：32g
python：3.8
**设备2**：笔记本
os：windows11
cpu：amd 4750u 8核16线程
mem：40g
python：3.8
**设备3**：云服务器
os：centos8.3
cpu：intel 志强 2核
mem：8g
python：3.8

**问题一**：设备3上进行向量生成，内存满时被Kill退出，无论如何调参都降不了内存使用
参考命令：python3 ../feature_extract.py --device cpu --cpu_threads 2 --model_dir=./output --corpus

[2022-06-08 01:57] thomaszheng commented on #2433
@guoshengCS 数据的格式是这样的`print(dataset['validation'][0:3])`:

[code]

报错主要是转换token时的报错：
[code]

同样的逻辑在训练数据`dataset['train']`上会报错，在验证集上可以`dataset['validation']`，可能是训练数据里面有脏数据。
这部分数据同hf的`AutoTokenizer` 是没有报错的，用法是:
`tokenized_inputs = tokenizer(examples["tokens"], truncation=True, is_split_into_words=True, max_length=seq_max_length)`

[2022-06-08 02:14] guoshengCS commented on #2433
可否把出错的数据提供些许case呢，我们用这些case来排查下问题

[2022-06-08 02:18] thomaszheng commented on #2433
可以，能否给我个邮箱之类的，我单独提供给你？

[2022-06-08 02:25] linjieccc commented on #2408
可以通过json dumps的方式来写入文件：

[code]

[2022-06-08 02:33] linjieccc commented on #2383
您好，

1）可以适当增加原始标注数据，从截图来看原始标注数据应该只有5条
2）感谢反馈，问题已修复，可以用最新代码再试下

[2022-06-08 02:34] ArtificialZeng opened #2438 "请问ernie_matching应用下面，测试集如何构建？官方发布的如下，已经有概率值了。我该怎么构建？？"
中西方语言与文化的差异	中西方文化差异以及语言体现中西方文化,差异,语言体现	0.43203747272491455
中西方语言与文化的差异	论中西方文化差异在非言语交际中的体现中西方文化,差异,非言语交际	0.4644506871700287
中西方语言与文化的差异	中西方体态语文化差异跨文化,体态语,非语言交际,差异	0.4917311668395996
中西方语言与文化的差异	由此便可以发现两种语言以及两种文化的差异。	0.5039259195327759
中西方语言与文化的差异	文化空缺视域下的中西方体态语对比研究体态语;中西方差异;文化空缺;跨文化交际	0.5056567192077637
中西方语言与文化的差异	浅析中西方文化差异在语言中的体现及其对翻译的影响中西方文化,差异,语言,翻译,影响	0.5060906410217285
中西方语言与文化的差异	跨文化交流中文化差异对

[2022-06-08 02:48] Han-YLun commented on #2434
text : 血栓恢复后是否可以用压力机泵压力泵可不可以用，下肢静脉血栓恢复后半年最好不要折腾！有时候会出现意想不到的问题和并发症。起码目前手上的疾病不会导致非常严重的后果！
[2022-06-08 02:48:27,839] ERROR in app: Exception on /nlp [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 2077, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.7/dist-packages/flask/app.py", line 1525, in full_di

[2022-06-08 02:50] Han-YLun commented on #2434
我单独拿这些text去请求一遍，又是可以的

就是我说的这样
<img width="841" alt="image" src="https://user-images.githubusercontent.com/44769070/172521030-6f2abeae-dcd4-446d-bfff-73073634f2bb.png">

[2022-06-08 02:51] Han-YLun commented on #2434
第二个问题也是这样 抽取出来的内容是错误的，但是我再单独去请求一遍，就没问题了

[2022-06-08 02:56] Han-YLun commented on #2434
第二个问题的图片已经补充了

[2022-06-08 02:58] Han-YLun commented on #2434
我是使用go的gopool使用了100个协程池 我怀疑是不是请求的太快了

[2022-06-08 03:08] linjieccc commented on #2428
您好，有没有可能model_best保存的是用其他训练集微调得到的模型参数文件，训练集只有一条负例（抽取结果为空）的情况下不会保存最佳模型文件

[2022-06-08 03:45] Han-YLun commented on #2434
[{Disease:[{Text:感染}] Symptom:[] Drug:[] BodyStructureInfoMap:[{Text:小便时，分泌物里有血丝你好,考虑感染等引起,局部卫生欠佳等引起.饮食清淡,多饮水,口服诺氟沙星,呋喃妥因和三金片.坚持服药一周,}]}]

text:小便时，分泌物里有血丝患者信息：女 22岁 病情描述：小便时，分泌物里有血丝你好,考虑感染等引起,局部卫生欠佳等引起.饮食清淡,多饮水,口服诺氟沙星,呋喃妥因和三金片.坚持服药一周,

在身体部位返回了text出现了问题,我重新用postman请求，就会正常
<img width="991" alt="image" src="https://user-images.githubusercontent.com/44769070/172527227-3bc0c10c-034e-4a53-b06d-704db27

[2022-06-08 04:04] Han-YLun commented on #2434
可以能帮我先把抽取出来有问题的解决一下吗 就是第二个问题

[2022-06-08 04:36] thomaszheng commented on #2433
@guoshengCS 定位到了，数据中有一个没有字符的句子
![image](https://user-images.githubusercontent.com/8412025/172532441-e9912df6-29f7-4391-99b5-c6ee4370e0fe.png)
加了个过滤逻辑就可以了
[code]

[2022-06-08 04:51] guoshengCS commented on #2434
第一个问题 @linjieccc  可以帮忙看下吗 。第二个问题的话不太好确定，因为我们其实也不太了解您那边服务部署的情况

[2022-06-08 05:36] Han-YLun commented on #2434
第二个问题需要我提供更加详细的信息吗 我远程提供也行

sudo nvidia-docker run -p 32780:32780 --runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=1 --name paddle_nlp -it  registry.baidubce.com/paddlepaddle/paddle:latest-dev-cuda11.4.1-cudnn8-gcc82 /bin/bash

我是使用了docker 启动 ，然后就是环境就上面的信息

[2022-06-08 06:11] SongCoder opened #2441 "时间序列分类问题？？？"
![1](https://user-images.githubusercontent.com/86814482/172544220-4f28fdfc-3759-45a0-bdda-eed1cfdec515.png)

这个问题怎么解决啊？ 有没有大佬 能帮忙看看程序 可以有偿   一直弄不出来

[2022-06-08 06:26] SongCoder opened #2442 "时间序列分类问题？？？"
![2](https://user-images.githubusercontent.com/86814482/172546454-e6461299-2997-432c-89cf-a7d996a1157e.png)
![3](https://user-images.githubusercontent.com/86814482/172546513-403bc298-ceee-4737-bb91-cc7ab8d897e3.png)
![4](https://user-images.githubusercontent.com/86814482/172546518-a5c097c9-d929-4923-8c22-6e18487d49fe.png)
![5](https://user-images.githubusercontent.com/86814482/172546519-0d2f7115-4

[2022-06-08 06:26] #2441 closed, assigned to nobody

[2022-06-08 07:01] EvanSong77 opened #2443 "from . import core_avx paddle/fluid/core_avx.so: undefined symbol: _dl_sym, version GLIBC_PRIVATE"
请问这个错误是跟linux版本有关吗？我的服务器版本是ubuntu22.04  我该如何解决？

[2022-06-08 07:09] snoopy1316 opened #2444 "UIE模型预测相关问题"
环境信息：Windows10 paddlepaddle-gpu=2.2 paddlenlp=2.2，python=3.7
参考教程：PaddleNLP/examples/information_extraction/DuUIE at develop · PaddlePaddle/PaddleNLP  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuUIE

模型训练正常完成，在模型预测时传入命令：python inference.py --data data/duuie_test_a --model output/duuie_multi_task_b32_lr5e-4
出现以下错误信息：
PS D:\yanan\paddlenlp\examples\inform

[2022-06-08 07:17] snoopy1316 commented on #2444
此外，我在Ubuntu1604系统上也部署这个项目，在进行模行模型训练时出现问题：
![image](https://user-images.githubusercontent.com/94336500/172555350-ef10ae34-932b-413c-8b33-91b023e5c506.png)

[2022-06-08 07:31] jiweizhangxu opened #2447 "想问一下语义检索系统"
1.ern1.0训练完的模型，叫它模型1号，模型1号先过simcase策略训练得到一个模型2号，模型2号再过In_batch_negative策略等到模型3号，之后只需要部署一个模型，这样吗？但我看In_batch_negative没有参数model_name_or_path啊？

2.还是ern1.0训练完的模型，叫它模型1号，模型1号先过simcase策略训练得到一个模型2号，模型1号再过In_batch_negative策略等到模型3号，这样有两个模型经过不同策略训练出来的模型，之后需要部署两个模型？

3.不太理解双塔和单塔的意思

[2022-06-08 07:35] heliqi commented on #2370
这里是没问题的， 我验证推理的结果也正确。
这里的text =  list[input1, input2 .... inputn] 表示是 batch为n的输入 ， 图二就是对整个batch的句子一起切词。
其中inputX 必须为统一的格式。
如果inputX为句子，比如: "北京的涮肉，重庆的火锅，成都的小吃都是极具特色的美食"，就会先按字分词；
如果 inputX为切好的词 ，则是个list 比如 ["北", "京", "的", "涮", "肉",  ......  ] 。 ( 通过图二中is_split_into_words 参数控制）

[2022-06-08 07:47] CodeFrontWang opened #2449 "UIE在关系抽取时的相关问题"
有点不太理解这个验证集是如何去生成的，这是原始样本：
{
    "id": 38,
    "text": "百科名片你知道我要什么，是歌手高明骏演唱的一首歌曲，1989年发行，收录于个人专辑《丛林男孩》中",
    "relations": [
        {
            "id": 20,
            "from_id": 51,
            "to_id": 53,
            "type": "歌手"
        },
        {
            "id": 21,
            "from_id": 51,
            "to_id": 55,
            "type": "发行时间"
        },
        {
            "id": 22,

[2022-06-08 07:56] wawltor commented on #2442
看起来是RNN输出的parameter参数和输入的数据类型不一致，你可以check一下RNN的parameter是不是double类型，而输入确实float类型

[2022-06-08 07:58] wawltor commented on #2443
建议使用conda来安装PaddlePaddle    https://www.paddlepaddle.org.cn/
<img width="925" alt="image" src="https://user-images.githubusercontent.com/16698950/172563692-5f15f4fa-f541-4502-8e9d-93ec3df46e9e.png">

[2022-06-08 08:01] SongCoder commented on #2442
抱歉，我没太搞清楚怎么去做。

在2022年6月8日 ***@***.***> 写道：

看起来是RNN输出的parameter参数和输入的数据类型不一致，你可以check一下RNN的parameter是不是double类型，而输入确实float类型

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-06-08 08:10] kahitomi commented on #2449
这个验证集生成的确实有问题，麻烦有问题的给一下数据和命令，我们相关同学复现一下看看。
现在评估的大逻辑是单阶段评测，这一段在UIE的readme里面：评估方式说明：采用单阶段评价的方式，即关系抽取、事件抽取等需要分阶段预测的任务对每一阶段的预测结果进行分别评价。验证/测试集默认会利用同一层级的所有标签来构造出全部负例。

[2022-06-08 08:13] wawltor commented on #2442
可以打印一下  代码中 `self.rnn ` 该对象的parameter数据类型` print(self.rnn.parameters())` ， 同时 打印 `print(x_data)` 数据类型，比对一下 两个对象的数据类型是否一致

[2022-06-08 08:15] SongCoder commented on #2442
好的 ，谢谢  我看一下

在2022年6月8日 ***@***.***> 写道：

可以打印一下 代码中 self.rnn 该对象的parameter数据类型 print(self.rnn.parameters()) ， 同时 打印 print(x_data) 数据类型，比对一下 两个对象的数据类型是否一致

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-06-08 08:17] CodeFrontWang commented on #2449
如果是单阶段测评，那应该先生成实体，然后用生成的实体和整个数据集中存在的那些关系，做组合，再去预测。这个逻辑在doccano代码中没有体现出来。doccano_ext.json里面就是issue中的那条样本，就一条。
python doccano.py \
&nbsp; &nbsp; --doccano_file ./data/doccano_ext.json \
&nbsp; &nbsp; --task_type "ext" \
&nbsp; &nbsp; --save_dir ./data \
&nbsp; &nbsp; --splits 0 1 0

---原始邮件---
发件人: "Wei ***@***.***&gt;
发送时间: 2022年6月8日(周三) 下午4:11
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;

[2022-06-08 08:34] wawltor commented on #2449
这个逻辑本身在docanno转化的逻辑是有的，包含了不同的关系组合(负样本构造)，你看看要不要拉取一下最新的doccano.py 试试，或者你提供几条样本给我们试试

[2022-06-08 09:00] luyaojie commented on #2444
请尝试升级到 2.2.6 以上版本测试一下，我这边测试 2.2 确实会有以上问题。

[2022-06-08 09:06] CodeFrontWang commented on #2449
我明白您的意思，也看到了能构造关系的负样本，我想表达的是，我理解的逻辑应该为，先拿验证集去找实体，然后把找到的实体和验证集里的关系组合（这一步似乎没有代码），再去推理计算F1。训练的时候，你们是把找实体和通过实体关系找客体，这两个任务合在一起，让模型学习。但验证的时候，是需要两步的，doccano.py似乎没有体现这个两步的概念。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年6月8日(周三) 下午4:34
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] UIE在关系抽取时的相关问题 (Issue #2449)

如果是单阶段测评，那应该先生成实体，然后用生成的实体和整个数据集中存在的那些关系，做组合，再去预测。这个逻辑在d

[2022-06-08 10:23] Haibarayu commented on #2383
感谢回复，
1）似乎是 int() 造成的，影响不大
2）问题已解决

[2022-06-08 10:24] #2383 closed, assigned to linjieccc

[2022-06-08 11:10] wawltor opened #2454 "PaddleNLP AutoModel加载模型显存异常"
<img width="655" alt="image" src="https://user-images.githubusercontent.com/16698950/172602709-26f99f40-74b2-4118-a1b2-0d5aa8a8cfdc.png">

加载ernie-3.0-medium-zh模型显存超出模型的参数大小

[code]

[2022-06-08 11:10] linjieccc commented on #2434
@Han-YLun 第一个问题改成这个形式再试下呢，实例化一个Taskflow任务，通过set_schema来重置schema

[code]

[2022-06-08 11:13] Han-YLun commented on #2434
好的 我试试

第二个问题可以帮我看下嘛

[2022-06-08 11:35] Han-YLun commented on #2434
@linjieccc 设置了 还是会出现这个问题
[code]

改之后的代码:
[code]

[2022-06-08 11:43] sunshineyg2018 opened #2455 "uie 微调问题"
报错信息如下
Traceback（最近一次调用最后）：
文件“finetune.py”，第159行，在
do_train（）
文件“finetune.py”，第68行，在do_train
train_batch_sampler = paddle.io.BatchSampler（
文件“/Users/ miniconda3/envs/paddle/lib/python3.8/site-packages/paddlenlp/ init .py”，第 176 行，在 _patch_batch_sampler_init
self.sampler = RandomSampler(dataset)
文件“/Users/miniconda3/envs/paddle/lib/python3 .8/site-packages/paddle/fluid/dataloader/sampler.py", line

[2022-06-08 12:17] wawltor commented on #2455
是不是训练集和测试集的样本是不是空的，可以检查一下 train.txt dev.txt是不是正常

[2022-06-08 12:17] konghehan opened #2456 "Taskflow"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp = 2.3.3  paddlepaddle-gpu = 2.2.2.post101
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![ai studio error](https://user-images.githubusercontent.com/35686252/172613866-11f60214-9dba-4d32-b845-03135f68c3b4.png)

[2022-06-08 12:20] sunshineyg2018 commented on #2455
python doccano.py --doccano_file ./data/waybill.jsonl --splits 1 0 0. 只有train.txt 有数据 其他两个 dev.txt 和test.txt 没有数据

[2022-06-08 12:26] sunshineyg2018 commented on #2455
但是用的是=轻量级定制，直接就是验证集  dev.txt 和test.txt 空的也是正常吧

[2022-06-08 12:27] wawltor commented on #2455
在代码设计过程中是需要dev.txt不为空，因为最终要做验证的工作 ，可以简单设置一下 0.9 0.1 0.0这种比例

[2022-06-08 12:29] wawltor commented on #2456
具体是哪个任务了？

[2022-06-08 12:35] linjieccc commented on #2434
client端的代码能否也发下，我尝试复现下

[2022-06-08 12:50] Han-YLun commented on #2434
客户端用的go

[code]

[2022-06-09 01:37] guoshengCS commented on #2430
[code]

这里看上去 test 对应的数据是空的，然后返回的 test dataset 是None，就报了这个错误

[code]

可以试下调整下运行参数中 split 的比值，默认的是 `'949,50,1'` https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/domain_adaptive_pretraining/args.py#L41 使得测试数据是空的

[2022-06-09 02:12] YiTSu opened #2458 "关于UIE耗时问题"
使用UIE通过模型微调进行信息抽取，抽取耗时一直稳定在50ms左右，请问可以做到时间更短和更快吗？

目前用的是paddle的docker环境，机器上是一张T4的8G的显卡。我想了解下是因为模型训练时的参数设置限制了信息抽取耗时还是我的显存不够大导致的。

看其他人的反馈，也都是大多数在50ms左右。不过也有看到更快的，所以想看看下一步如何优化能使得时间比50ms更短。

[2022-06-09 02:13] YiTSu commented on #2458
不过我也有看到更快的，所以想看看下一步如何优化能使得时间比50ms更短。

[2022-06-09 02:34] wawltor commented on #2458
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/16698950/172751884-22998c33-2482-40c8-96cb-d18e785a4698.png">
可以根据文档，设置一下precision=fp16，这个可以加速；不过要注意一下环境设置以及相应的环境安装

[code]

[2022-06-09 02:40] YiTSu commented on #2458
好的，我去尝试一下，刚好paddle的docker环境就是CUDA11.2和cuDNN8.1.1。那也就是说如果不设置加速的话，50ms符合预期吗？应该不是显卡显存不够大导致的预测速度慢是吧。

[2022-06-09 03:11] wawltor commented on #2458
你可以设置一下batch_size, 如果一次多输入几条样本，然后设置一下batch_size,  让利用率打满
例如 ie输入的样本是10条样本，然后设置batch_size=4
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/16698950/172756098-8270023e-a5b5-4e47-8081-3e2ac67279be.png">

[2022-06-09 03:26] immortal-shuan opened #2460 "安装完使用from paddlenlp import Taskflow报错"
linux环境，
paddlenlp   2.3.3
paddlepaddle-gpu  2.2.2.post112

ImportError: cannot import name 'array_cast' from 'datasets.table' (/home/zjlab/.conda/envs/gputorch/lib/python3.7/site-packages/datasets/table.py)

[2022-06-09 03:52] immortal-shuan commented on #2460
已经解决了

[2022-06-09 03:55] wawltor commented on #2460
是说固定了datasets的版本吗？

[2022-06-09 04:00] immortal-shuan commented on #2460
pyarrow 和dataset版本冲突了

[2022-06-09 04:01] immortal-shuan commented on #2460
出现了新的问题Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion.

[2022-06-09 04:02] immortal-shuan commented on #2460
Cannot load cudnn shared library. Cannot invoke method cudnnGetVersion.
[Hint: cudnn_dso_handle should not be null.] (at /paddle/paddle/phi/backends/dynload/cudnn.cc:59)
  [operator < uniform_random > error]

[2022-06-09 04:06] wawltor commented on #2460
<img width="823" alt="image" src="https://user-images.githubusercontent.com/16698950/172761939-81bd0893-f61c-43a9-ae7d-ab94153fc2c7.png">
建议conda的方式来安装飞桨
https://www.paddlepaddle.org.cn/

[2022-06-09 04:15] immortal-shuan commented on #2460
我的cuda版本是11.0，conda无法使用

[2022-06-09 04:21] tianxin1860 commented on #2447
1

1. 这种方案适用于你既有海量无监督数据及少量有监督数据的场景。理解的没问题，部署3号模型。可以通过 `--init_from_ckpt` 参数指定要加载的预训练模型参数。
2. 只有无监督数据的话就部署 2 号模型，有大量监督数据的话就部署3号模型。
3. 双塔表示 query 和 title 在抽取语义表示向量的时候没有发生 attention 交互，单塔模型则是发生了 attention 交互的。

[2022-06-09 04:47] YiTSu commented on #2458
precision和batch_size都设置尝试了一下，看起来时间并没缩短，没有起到作用。CUDA为11.2，cuDNN为8.1.1。

[2022-06-09 04:54] wawltor commented on #2460
可以选择其他的cuda版本，他会自动在相应的conda环境安装特定的cuda版本

[2022-06-09 04:55] wawltor commented on #2458
应该是会work的，因为你的T4卡，我们内部测试的也是T4，能不能给一下跑的日志了，有没有安装onnxruntime-gpu了?

[2022-06-09 04:59] YiTSu commented on #2458
我用的咱们的Linux Docker镜像——paddlepaddle/paddle:2.3.0-gpu-cuda11.2-cudnn8，这个Docker里面不清楚有没有预装onnxruntime-gpu，日志我找一下后面发一下。

[2022-06-09 05:04] wawltor commented on #2458
嗯嗯 可以看一下，应该日志里面是有提示安装onnxruntime-gpu的

[2022-06-09 05:12] YiTSu commented on #2458
看到日志中的输出了，是fp16没有成功开启。通过安装onnxruntime-gpu onnx onnxconverter-common paddle2onnx这几个必备的支持解决了，抽取时间降低到了20ms。辛苦您啦~后续有问题我继续更新。

[2022-06-09 05:13] sunshineyg2018 opened #2462 "训练结果问题"
训练结果生成了 model_10,model_20,model_30 ..model_best 等等.
想请问下 model_10是什么意思？ model_best 是包含 model_10 ,model_20.吗？
一般多少数据生成一个 model_xx ?

[2022-06-09 05:35] #2462 closed, assigned to nobody

[2022-06-09 06:40] linjieccc commented on #2434
多线程情况下，如果只有一个Taskflow实例，一次只能有一个线程调用该实例。可以通过加锁的方式保证多个线程不会同时访问同一个实例

[2022-06-09 08:44] jiweizhangxu commented on #2430
改为了900：50：50
但还是报错，还是没看懂哪里出错了？要改动哪里呢？
[2022-06-09 16:17:50,943] [    INFO] - The training meta optimizer is/are ['GradientMergeOptimizer']
W0609 16:17:51.727456  2656 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 3.7, Driver API Version: 10.2, Runtime API Version: 10.2
W0609 16:17:51.747298  2656 gpu_context.cc:306] device: 0, cuDNN Version: 7.6.
Traceback (most recent call l

[2022-06-09 08:44] jiweizhangxu commented on #2430
改为了900：50：50
但还是报错，还是没看懂哪里出错了？要改动哪里呢？
[2022-06-09 16:17:50,943] [    INFO] - The training meta optimizer is/are ['GradientMergeOptimizer']
W0609 16:17:51.727456  2656 gpu_context.cc:278] Please NOTE: device: 0, GPU Compute Capability: 3.7, Driver API Version: 10.2, Runtime API Version: 10.2
W0609 16:17:51.747298  2656 gpu_context.cc:306] device: 0, cuDNN Version: 7.6.
Traceback (most recent call l

[2022-06-09 08:44] jiweizhangxu commented on #2430
改为了900：50：50
但还是报错，还是没看懂哪里出错了？要改动哪里呢？
[code]

[2022-06-09 09:04] LiuChiachi opened #2465 "辛苦帮忙支持一下RoBERTa和TinyBERT模型使用FasterTokenizer功能"
现在发现ERNIE 模型🉑️，但是RoBERTa和TinyBERT模型跑起来报错了，看起来是缺少类似ernie下面的`faster_tokenizer.py`来支持fastertokenizer功能

[2022-06-09 12:07] #2434 closed, assigned to linjieccc

[2022-06-10 01:48] wj-Mcat commented on #2456
@konghehan  根据你的stack trace 记录可以看出是使用GPT 进行`text_generation`任务，不过你的错误还是在于`sentencepiece`版本不对。

相似问题：[AttributeError: 'SentencePieceProcessor' object has no attribute 'encode'](https://github.com/ThilinaRajapakse/simpletransformers/issues/1212#issuecomment-919776524)。只要你保证本地的sentencepiece版本保持最新版本即可。

你可以尝试用以下命令来解决你的问题：

[code]

[2022-06-10 01:52] wj-Mcat commented on #2456
不过我这边在编写测试代码的时候，发现了另外一个问题：

[code]

执行的过程中报错：

[code]

是我使用的方法不正确吗？ @wawltor

[2022-06-10 02:19] Abefocuson opened #2470 "RocketQA 预训练模型下载问题"
PaddleNLP  2.2.4
PaddlePaddle 2.1.1

Linux,Python版本 3.8

模型下载报错：
https://bj.bcebos.com/paddlenlp/models/transformers/community/rocketqa-zh-dureader-query-encoder\model_state.pdparams

直接访问模型路径下载也报错：
{"code":"NoSuchKey","message":"The specified key does not exist.","requestId":"6b91039a-9a83-4013-8dec-dc95b2e13f64"}

[2022-06-10 02:24] Abefocuson commented on #2470
https://bj.bcebos.com/paddlenlp/models/transformers/rocketqa/rocketqa_zh_dureader_query_encoder.pdparams

[2022-06-10 02:25] Abefocuson commented on #2470
已解决。

[2022-06-10 02:25] #2470 closed, assigned to nobody

[2022-06-10 03:24] sunshineyg2018 opened #2472 "微调 训练时间问题"
微调会生成多个model 文件夹，大概多少数据生成一个？有没有办法查看预估训练完成时间的办法？

[2022-06-10 03:42] jikuibu opened #2473 "一个实体标签如果有多个实体，UIE当前只能识别出其中的一个，发现部分标签存在这个问题"
例子1：”2018年4月4日，财政部和税务总局正式发文，从2018年5月1日起，纳税人发生增值税应税销售行为或者进口货物“
schema=[‘日期’]
识别结果中只有：2018年5月1日

例子2：”2018年4月4日，美国和英国正式发文"
schema=[“国家”]
识别结果就有“美国”和“英国”两个

[2022-06-10 03:57] sunshineyg2018 commented on #2473
可以吧。。。我就能识别出两个

[2022-06-10 04:41] tianjiansmile opened #2474 "在使用UIE工具进行分类任务时碰到一些问题"
1. 利用evaluate.py进行评估时发现评估结果有些异常
 pred_set {(61, 64)} label_set {(61, 64)} num_correct 1
pred_set set() label_set {(61, 64)} num_correct 0
pred_set {(81, 84)} label_set {(76, 79), (81, 84)} num_correct 1
pred_set set() label_set {(76, 79), (81, 84)} num_correct 0
pred_set {(36, 40)} label_set {(66, 69), (36, 40)} num_correct 1
pred_set {(66, 69)} label_set {(66, 69), (36, 40)} num_correct 1
metric

[2022-06-10 04:55] wawltor commented on #2472
1. 生成模型这块是根据valid_steps来确定，例如valid_steps是100，就训练100个step就会生成一个文件夹
2. 时间预估需要根据一个epoch的时间，例如一个epoch是10s，100个epoch就是1000s，日志中会打印一个epoch等相关信息，可以预估一个epoch的时间
<img width="1021" alt="image" src="https://user-images.githubusercontent.com/16698950/172993052-aeda0f7f-28c6-45f5-81f8-8d8e2bfd8a7b.png">

[2022-06-10 04:56] wawltor commented on #2473
这个是因为UIE-base的效果是通用模型，在一些特例的数据会有模型偏差；这个建议自己微调一下模型，具体可以文档 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-06-10 06:13] linjieccc commented on #2474
1）请问训练数据有多少条，分类任务对分类标签的长度和数量有一定限制，方便提供一条训练数据看下吗
2）预测结果在prompt为英文时确实有偏移的问题，感谢指出，我们已经修复了 #2453，您可以拉下最新develop分支的代码再试下

[2022-06-10 06:20] ZHUI commented on #2456
需要直接使用`GPTModel`, 生成式API是直接接入`GPTModel`的
[code]

[2022-06-10 07:04] sunshineyg2018 commented on #2472
感谢

[2022-06-10 07:27] guoshengCS commented on #2430
这个应该是另一个问题了，请问是否有改动代码呢，使用的Paddle和PaddleNLP版本是什么呢，也请 @w5688414 帮忙看下呢

[2022-06-10 07:39] jiweizhangxu commented on #2430
就改了改参数，下面是完整报错和环境
![微信截图_20220610153846](https://user-images.githubusercontent.com/88191580/173015344-59a1d714-34bd-4f39-be05-0837484c79ab.png)

[code]

[2022-06-10 08:05] Chikeke opened #2476 "关系抽取数据集转换相关问题"
您好, 我的数据集是关系抽取数据集, 有2000条, 其中训练集1600条,验证测试集各200条, 用doccano.py进行转换后, 训练集目前没发现问题, 验证集和测试集出现很多重复数据, 具体是这样的, 第一阶段(实体层面)的转换都没有错, 但是第二阶段(关系层面)的转换好像只对其中一条数据生效了, 并且每个关系转换了200次(也就是我原验证集和测试集的数量), 这200条全部都是一样的, 也就是说,所有prompt为某种关系的数据的text都是同一条, 每种关系重复200次, 而剩余的199条数据的关系在完全没有体现出来, 我觉得这是不对的, 您可以解释一下这是为什么吗?或者是我哪里操作错了?
下面是转换后部分数据, 我用了最新的代码, 试过很多次都是这样的
![image](https://user-images.githubusercontent.com/95728480/17

[2022-06-10 08:33] xxllp commented on #2384
如果是固定的prompt的其实跟阅读理解的差别已经不大了

[2022-06-10 09:13] linjieccc commented on #2476
@Chikeke 抱歉，今天合入的代码有点bug，已修复，辛苦拉下最新的develop分支重新试下

[2022-06-10 09:25] Chikeke commented on #2476
@linjieccc 感谢!重新试了一下没问题了.

[2022-06-10 09:32] ArtificialZeng opened #2478 "ernie_matching里面的evaluate的AUC是如何计算的，如果评估精度，或是recall@1得自己写吧。"

[2022-06-10 10:15] flymushroom opened #2481 "有关simcse训练，paddle::experimental::CppTypeToDataType问题"
paddle 2.3,2.2.2都有，paddlenlp2.3.3
情况是这样的，大佬您的语义检索教程里每次input_ids都要自己去改int64，否则就会报类型错，我不太清楚是我操作的问题还是啥问题，如果没问题就打扰了........拜谢

[2022-06-10 10:56] w5688414 commented on #2436
https://github.com/PaddlePaddle/PaddleNLP/pull/2482

您好，我无法复现您的问题，我尝试修复了一下，如果再有问题可以及时反馈

[2022-06-10 13:32] dldragonking commented on #2418
谢谢解答，可以在ernie-1.0-base-zh通用模型上对领域数据二次预训练，达到预期效果。

[2022-06-10 13:58] wawltor commented on #2481
辛苦贴一下整体的报错截图？
以及改成int64之后是修复了问题是吗？

[2022-06-10 14:06] songbaiTalk opened #2484 "仅训练一条数据，训练时F1=1，推断时和标注结果不一致"
{"id": 35020, "text": "章三从一点科技离职，里斯辞去风篷的CEO职位。6月1日，在夏威夷度假的扎克伯格，接到了他14年的工作搭档雪莉·桑德伯格的辞职电话。 虽然扎克伯格社交帝国一半的瓦片是由桑德伯格垒起来的，但这通电话并不让人意外。在过去几年里，关于“桑德伯格离职”的话题早就在员工之间悄悄发酵。", "relations": [{"id": 151, "from_id": 227, "to_id": 226, "type": "原公司"}, {"id": 152, "from_id": 227, "to_id": 225, "type": "离职人物"}, {"id": 153, "from_id": 236, "to_id": 228, "type": "离职人物"}, {"id": 154, "from_id": 236, "to_id": 229, "type"

[2022-06-11 01:25] jiweizhangxu opened #2485 "ERN3.0多分类模型保存问题"
我用你们教的动态图转静态图的方式保存，结果一两个小时都没保存完毕，这是为什么？为什么怎么慢？
现在还是没有只保存参数就能直接部署的方式吗？
数据集大概6，7万，这是保存代码：
![微信截图_20220611092403](https://user-images.githubusercontent.com/88191580/173167336-36318d8d-9ee7-4e81-aec9-c2e586fa6c4e.png)
![微信截图_20220611092416](https://user-images.githubusercontent.com/88191580/173167343-ff6d414a-c649-4a2a-a023-425e8c77abee.png)
![微信截图_20220611092425](https://user-images.githubusercontent

[2022-06-11 02:59] wawltor opened #2486 "ERNIE 3.0 在进行离线量化后，预测代码没有办法进行部署"
<img width="556" alt="image" src="https://user-images.githubusercontent.com/16698950/173170104-43749567-1013-408b-9a3c-9c7d601d7b9a.png">
![image](https://user-images.githubusercontent.com/16698950/173170117-205b5aa1-8dce-498d-8fb5-289849c7e2d3.png)

[2022-06-11 03:06] wawltor commented on #2485
建议不要同时进行模型训练和模型动转静的过程，这个操作会导致动态图和预测静态图不断切换，导致最终模型转化有问题，可以参考代码 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/export_model.py

之前你提个类似的问题  https://github.com/PaddlePaddle/PaddleNLP/issues/2365

[2022-06-11 04:37] githanyongjin commented on #2486
部署的时候cpu预测支持裁剪之后的模型，但是不能直接支持量化后的模型

[2022-06-11 06:17] w5688414 commented on #2481
请问具体是那个py文件需要修改？您是windows是不？

[2022-06-11 06:18] w5688414 commented on #2478
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/metric/Accuracy_cn.html#accuracy

把top1的文本提取出来，可以用这个进行评估

[2022-06-11 14:23] Davion-Liu opened #2487 "Ernie3.0 词表存在问题"
vocab.txt
在base和medium版本的ernie3.0词表中，发现重复字符。
下标从零开始，第12084位置和第18005位置的字符重复，都为$这个符号。
请问这个词表中，哪个是正确的。
与这个issue一致:[issue](https://github.com/PaddlePaddle/ERNIE/issues/795)

[2022-06-11 23:35] jiweizhangxu commented on #2485
还是没有只保存参数就能部署的方式吗？

[2022-06-11 23:35] jiweizhangxu commented on #2485
还是没有只保存参数就能部署的方式吗？

[2022-06-12 01:27] #2414 closed, assigned to yingyibiao

[2022-06-13 01:03] snoopy1316 opened #2488 "跨模态文档问答相关问题"
环境：Windows10、python=3.7、paddle paddle=2.2.0 paddlenlp=2.3.0、paddleocr=2.5.0
参考文档：PaddleNLP/applications/doc_vqa at develop · PaddlePaddle/PaddleNLP  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/doc_vqa
在OCR处理模块对图像进行解析时输入命令python3 ocr_process.py出现以下问题：
[code]

请问该怎样解决，谢谢

[2022-06-13 01:49] jiweizhangxu opened #2489 "ERNIE 3.0模型部署报错KeyError: 'forward'"
[code]

[2022-06-13 01:51] #2485 closed, assigned to wawltor

[2022-06-13 02:35] wawltor commented on #2487
您好，这个是ERNIE-3.0的词表设计的时候的一个BUG，由于是工具生成的词表没有检查词表的重复性；会使用18005位置，因为在PaddleNLP的Vocab类会对词表进行重复检查，最终会使用两个重复token中的后面一个token

[2022-06-13 02:37] wawltor commented on #2489
看起来是因为你的模型中没有forward函数，导致没有办法部署；您最好提供一下整体代码，上面的信息不足够判断出错的问题

[2022-06-13 02:53] jiweizhangxu commented on #2489
模型训练：
[code]

[2022-06-13 02:58] Duum opened #2490 "多模态key value打标模型只能输入512个token"
多模态key value打标模型只能输入512个token，这个显然是不合理的，不知道这个512限制，有没有计划解除

[2022-06-13 02:58] jiweizhangxu commented on #2489
模型部署：infer.py
[code]

[2022-06-13 03:10] shaitaiyangmie commented on #2408
非常感谢您，问题已解决。

[2022-06-13 03:12] wawltor commented on #2489
可以检查一下静态图导出的模型是否成功，看看导出模型的大小

[2022-06-13 03:13] linjieccc commented on #2408
@shaitaiyangmie 不客气，更多Taskflow的使用方法可以参考这个AI Studio项目：https://aistudio.baidu.com/aistudio/projectdetail/3696243

[2022-06-13 03:16] shaitaiyangmie commented on #2408
好的好的，感谢！！

[2022-06-13 03:17] jiweizhangxu commented on #2489
成功了呀
![1](https://user-images.githubusercontent.com/88191580/173273287-c6295cee-b307-4296-847f-03507aaddac0.png)

[2022-06-13 03:23] YYGe01 opened #2491 "UIE通用信息抽取的关系抽取和事件抽取任务有什么不同?"
您好:
问下` https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie` 的两个任务,关系抽取和事件抽取有什么区别?

我只看到关系抽取和事件抽取的schema结构一模一样,  后面的数据处理, 模型训练和预测结果格式也一样,

只是事件抽取的schema只是加了一个xx触发词而已, 如果一样, 我做事件抽取,不加触发词三个字, 把这个任务当作关系抽取来做, 会有什么问题吗.

不知道我理解的是否正确, 谢谢!

[2022-06-13 03:54] wawltor commented on #2491
是的，关系抽取和事件抽取的schema是一样的；事件抽取和关系抽取最大的区别在于是一个事件(动词)来触发的，例如裁员(事件)的人数，关系抽取是头实体来触发一个关系，例如xxx公司(头实体)裁员的人数；
使用关系抽取没有问题，我们也是建议尽量使用关系抽取的方式来做信息抽取

[2022-06-13 03:56] wawltor commented on #2490
具体是使用哪份代码，辛苦提供一下链接

[2022-06-13 03:57] #2491 closed, assigned to linjieccc

[2022-06-13 03:58] linjieccc commented on #2484
您好，F1=1后case中的预测结果如下，麻烦排查下是否正确使用了定制模型：
![image](https://user-images.githubusercontent.com/40840292/173275975-60cf8833-a9f1-4a8e-bdfd-366118032e4b.png)
目前还不能区分字面相同的情况，有两种方法避免：
1）按照句子级别标注，训练和预测，把这种冲突情况降低到最小
2）不用容易字面相同的触发词，比如可以把离职人物作为抽取主体

[2022-06-13 04:24] Jaybore opened #2493 "运行ernie3.0目录下的微调程序run_qa.py时出错"
萌新求助：
在使用该程序：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/run_qa.py
运行ernie模型时可以正常进行微调，
但是当把模型名换为'bert-base-chinese'等其它模型时程序便会报错
求解怎么破？
![image](https://user-images.githubusercontent.com/100829033/173279392-3d807b02-e922-40b4-bbe0-e688baebbaa8.png)

[2022-06-13 05:30] wawltor commented on #2458
您好，该issue问题目前已无回复，关闭该issue，后续有需求可以继续给我们提issue

[2022-06-13 05:30] #2458 closed, assigned to wawltor

[2022-06-13 05:52] Duum commented on #2490
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/layoutlmv2/modeling.py

[2022-06-13 06:18] wjddd opened #2494 "AttributeError: 'AlbertModel' object has no attribute 'pad_token_id'"
- 版本、环境信息

[code]

- 问题

使用Sentence Transformers https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/sentence_transformers
训练albert-chinese-xlarge时出现报错

[code]

[2022-06-13 06:35] ZHUI commented on #2494
您好, albert 模型没有添加`pad_token_id `, 您可以参考下面pr添加
https://github.com/PaddlePaddle/PaddleNLP/pull/2495

[2022-06-13 06:39] YYGe01 opened #2496 "UIE关系抽取不能同时处理多个相同关系?"
如下简单案例:

[code]

输出为:

[code]

这里的问题我的理解是,  因为有两个竞赛名称的主体: `2021语言与智能技术竞赛` 和 `2022语言与智能技术竞赛`

当使用 `竞赛名称的主办方` 作为promt时, 没有指明是哪个竞赛名称,  导致每个主体都预测出来两个主办方.

不知道我理解的是否正确, 请问有比较好的解决办法吗? 谢谢!

[2022-06-13 06:49] wawltor commented on #2490
这个是没有办法限制不定长，这个和整个预训练模型有关，在BERT、ERNIE这样的预训练模型结构中有一个Position id的限制，需要知道这个id在什么位置，才能不同刻画Token的关系，这个是预训练的一个特性。后续我们看看能不能支持更大的模型，来支持更长的字符串输入

[2022-06-13 06:49] ZHUI commented on #2493
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/tokenizer_utils.py#L1337-L1340

看起来这里是预处理的时候，有token没有找到，@yingyibiao 这个是不是触发了上面"##"字符的逻辑，导致问题？
[code]

[2022-06-13 06:52] Jaybore commented on #2493
看起来是这样的，请问如何进行规避？ ：）

[2022-06-13 06:57] ZHUI commented on #2493
辛苦您测试一下，就在报错前后打印看看，确认下是不是这个问题？
[code]

[2022-06-13 06:58] yingyibiao commented on #2490
这个在我们的计划中了，我们计划提供模型最大长度扩充的功能。

[2022-06-13 07:00] YYGe01 commented on #2496
以上理解有误, 应该是指明了哪个竞赛名称, 但不清楚为什么会预测出来两个主办方.

[2022-06-13 07:16] jiweizhangxu commented on #2489
问题已经解决！
前缀没加的问题，不写模型前缀的话他就是按照空的字符串进行加载，就报错forward错误
所以会认为模型有问题
如图：
![1问题](https://user-images.githubusercontent.com/88191580/173299790-2780adbd-6bd2-402f-8f7f-ab7d840e5fd0.png)

![问题2](https://user-images.githubusercontent.com/88191580/173299810-f7dc9014-123c-4ff6-a5d6-4764bb355683.png)

[2022-06-13 07:18] Jaybore commented on #2493
[log.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8888842/log.txt)
这个是运行时的呈现

[2022-06-13 07:44] wawltor commented on #2496
我们放出来的UIE-base，它是一个通用模型，针对场景的能力是不足，在一些场景下它预测的准确率是不足的；因此我们也提供一套小样本微调的方案来提升，上面的case可以通过微调来解决 ，具体使用方式见   https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie

[2022-06-13 08:27] #2496 closed, assigned to wawltor, linjieccc

[2022-06-13 08:39] wjddd commented on #2494
好的，感谢

[2022-06-13 08:39] #2494 closed, assigned to ZHUI

[2022-06-13 09:01] Davion-Liu commented on #2487
好的谢谢！

[2022-06-13 09:17] 1649759610 commented on #2488
@snoopy1316 请按照如下方式进行排查一下：
1. OCR_process/demo_pics目录下只有图片，没有其他文件
2. 请确保上述目录中的图片名字格式为demo_n.png，比如demo_1.png, demo_2.png

可参考《汽车说明书》AiStudio链接：https://aistudio.baidu.com/aistudio/projectdetail/4216171?forkThirdPart=1

如有任何问题，欢迎和我们继续交流。

[2022-06-13 09:25] snoopy1316 commented on #2488
是这个原因，已解决，谢谢

[2022-06-13 09:25] #2488 closed, assigned to 1649759610

[2022-06-13 09:54] ArtificialZeng commented on #2470
升级paddlenlp到3.1

[2022-06-14 02:04] YiTSu commented on #2458
还有个后续问题想咨询下，你们那边用T4卡测试的时候，耗时最短能做到多少呢？目前我这边是20ms，想看看还能不能继续缩短一些。

[2022-06-14 04:35] Jaybore commented on #2493
请问从这个log.txt文件中可以确定是这里出的问题嘛？
已经被卡了好几天了 ：(

[2022-06-14 06:47] Chucy2020 opened #2506 "ERNIE3.0如何本地加载？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
您好，请问ERNIE3.0模型如何本地加载？

[2022-06-14 07:28] yingyibiao commented on #2506
可以参考这个FAQ：https://paddlenlp.readthedocs.io/zh/latest/FAQ.html#q1-3-paddlenlp

[2022-06-14 07:49] joey12300 commented on #2493
您好！感谢您提供错误case，这边已经提了一个PR修复，您可以先在本地按照这个pr的修改进行修复。PR：https://github.com/PaddlePaddle/PaddleNLP/pull/2508

[2022-06-14 07:50] Jaybore commented on #2493
万分感谢！

[2022-06-14 08:27] #2493 closed, assigned to joey12300, ZHUI

[2022-06-14 09:30] AI-Mart opened #2510 "applications/experimental/pipelines/examples/question-answering 官方源码运行报错"
linux和windows系统都报同样的错误，日志见附件，看下是什么原因，谢谢
[log.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8898444/log.txt)

[2022-06-14 09:52] Chucy2020 commented on #2506
您好，我尝试将你们提供的下载网址将ernie-3.0-xbase-zh文件下载保存到文件夹，但是使用
MODEL_NAME = "ernie-3.0-xbase-zh"
ernie_model = paddlenlp.transformers.ErnieModel.from_pretrained(MODEL_NAME)时报错，无法加载，请问这是怎么回事？

[2022-06-14 10:17] sunshineyg2018 opened #2512 "小样本学习添加了词后又要加新的词,必须重新从头训练吗"
如题

[2022-06-14 10:24] sunshineyg2018 commented on #2510
sqlalchemy 的错误？

[2022-06-14 10:39] yingyibiao commented on #2506
可以通过 ernie_model.save_pretrained("./checkpoint/') 保存模型，
之后可以 ernie_model.from_pretrained("./checkpoint/') 加载模型。

[2022-06-14 10:44] Chucy2020 commented on #2506
感谢您的回复和提醒，我是想加载使用你们提供的ernie-3.0-xbase-zh预训练模型，已经通过你们提供的网址下载到本地，但是不知道怎么加载使用，请问你们这个刚公布的ernie-3.0-xbase-zh预训练模型是不可以直接使用ernie_model = paddlenlp.transformers.ErnieModel.from_pretrained(MODEL_NAME)加载吗？

[2022-06-14 11:05] yingyibiao commented on #2506
可以通过 ernie_model = paddlenlp.transformers.ErnieModel.from_pretrained(MODEL_NAME) 加载

[2022-06-14 11:21] yingyibiao commented on #2490
https://github.com/PaddlePaddle/PaddleNLP/pull/2513

[2022-06-14 11:54] yingyibiao commented on #2506
总结一下就是：
1. 先通过 ernie_model = paddlenlp.transformers.ErnieModel.from_pretrained(MODEL_NAME) 联网加载模型
2. 接着通过 ernie_model.save_pretrained("./checkpoint/') 保存模型和配置文件到本地（./checkpoint/目录）
3. 最后可以通过 ernie_model.from_pretrained("./checkpoint/') 进行模型的本地加载（./checkpoint/目录）

[2022-06-14 11:58] AI-Mart commented on #2510
是的，不知道什么原因，官方源码运行的，还没做定制化更改，附件是我用docker在linux制作的镜像，可以运行复现下我的问题
[deploy1.zip](https://github.com/PaddlePaddle/PaddleNLP/files/8899455/deploy1.zip)
下

[2022-06-14 12:15] Chucy2020 commented on #2506
您好，感谢您耐心回答，如果可以直接联网的话应该是可以的，我现在没法联网使用，因为内网没法联网，所以只能根据你们代码中提供的地址下载字典和模型，以及复制你们代码中的config内容当作config.json文件，之后加载，但是我这个加载一直有问题。
        但是您刚说可以加载，所以可能是我自己的问题，不知是不是我的模型下载文件的路径有问题或者其他，我正在排查，很感谢您的回复。

[2022-06-14 12:29] tianxin1860 commented on #2512
是说词典更新加入了新的单词么？

[2022-06-14 12:35] gongel opened #2514 "bart tokenizer对special token的处理和hf有diff"
[code]
[code]
paddlenlp==2.2.6可以对齐，paddlenlp>=2.3.0rc0对不齐

[2022-06-14 12:55] ZHUI commented on #2430
你设置 `micro_batch_size=32` `global_batch_size=32` 运行。
[code]
这里你起得是单卡任务 ，需要梯度累积4次才能 global_batch_size=128。
GradientMerge 看起来有些问题。也可试试最新 paddle develop 版本。
还是建议：
1. 设置 `micro_batch_size=32` `global_batch_size=32`

[2022-06-14 13:08] Jaybore opened #2515 "模型中间层的输出"
希望可以支持输出模型中间层的向量

[2022-06-14 13:21] #2489 closed, assigned to wawltor

[2022-06-14 13:23] #2472 closed, assigned to wawltor

[2022-06-15 02:05] sunshineyg2018 commented on #2512
嗯，就是我已经用一些词训练出了一个best_model,但是我发现自己漏掉了一些,我想在我best_model 基础上再加

[2022-06-15 02:06] fenfaqingnian opened #2517 "定制化uie进行inference"
用uie模型，finetune 之后，进行inference，只有[text: ,prompt: ]，没有具体抽取结果，也没有报错。是finetune的有问题吗

[2022-06-15 02:43] #2517 closed, assigned to wawltor

[2022-06-15 03:38] jiweizhangxu commented on #2430
额，又有错误
[code]

[2022-06-15 03:48] ZHUI commented on #2430
数据都是单行，单句子。一个doc需要至少两行（两个句子）来组合nsp任务
[code]

[2022-06-15 05:06] guoshengCS commented on #2514
这个我先看下哈，roberta这些有AddedToken的好像都有问题，好像是的 `PretrainedTokenizer._wrap_init` 的问题

[2022-06-15 05:23] sunshineyg2018 commented on #2512
@tianxin1860

[2022-06-15 06:31] wj-Mcat opened #2520 "model_config.json not exist after calling from_pretrained"
## Description

If I load the model with `from_pretrained` method and copy the cache_dir(`/root/.paddlenlp/models/<model-name>`) to other dist or dir(eg, /path/to/model). Then, I load it with `from_pretrained` method. In this time, it will failed because of that there is no `model_config.json` file.

You can use the following code to reproduce the problem:
[code]

the error trackstack info:

[code

[2022-06-15 07:51] wawltor commented on #2515
这个功能目前正在开发中，预计在7月初开发完成；
如果想急着使用，可能需要手动改写代码， https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/electra/modeling.py#L66-L154

[2022-06-15 07:51] lbz0920 opened #2526 "windows下训练ernie模型：python run_trainer.py --param_path ./examples/mtch_ernie_pairwise_simnet_ch.json 提示错误：error in read tsv, maybe occur in linenum 0"
### bug描述 Describe the Bug

官方下载ERNIE\applications\tasks\text_matching示例
windows下训练ernie模型：python run_trainer.py --param_path ./examples/mtch_ernie_pairwise_simnet_ch.json
提示错误：error in read tsv, maybe occur in linenum 0，请教什么问题,怎么解决：
ERROR: 06-15 15:29:42: basic_dataset_reader.py:142 * 5544 error in read tsv:./data/train_data_pointwise\train.txt, maybe occur in linenum 0
ERROR: 06-15 15:29:42: bas

[2022-06-15 07:58] GZ1220 opened #2524 "ERNIE3.0模型性能问题"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.3，PaddlePaddle2.3.0
2）系统环境：Linux系统，python版本3.7，cpu为Inter(R) Xeon(R) Silver 4214，线程数为12，batch_size=32
在使用ernie-3.0-medium-zh模型进行训练的参数与官方文档一致的前提下，训练好的模型进行模型推理后，预测的代码也与官方一致，数据集为Tnews，在ernie-3.0-medium-zh+fp32预测时的吞吐量仅为136.95，ernie-3.0-medium-zh+fp32+剪裁的吞吐量仅为172.43。
在运行infer.py调用量化后的模型时，一直出现段错误，请问这是为何呢？仅仅CPU不一样，性能会相差这么多吗？

[2022-06-15 08:25] ChaohuaZhang opened #2525 "AttributeError: '_lzma.LZMADecompressor' object has no attribute 'needs_input'"
uie finetune时报这个错怎么解决啊
![image](https://user-images.githubusercontent.com/65476824/173781531-4fba0ac8-55b9-4a57-93ca-887d53ba1d3c.png)

[2022-06-15 08:44] Fordacre opened #2545 "paddle.io.DataLoader 设置 num_workers!=0 报错"
### 请提出你的问题 Please ask your question

训练PaddleNLP模型，在设置paddle.io.DataLoader中num_workers不为0时程序报错，为0则正常运行。
使用的Dataset为自定义的paddle.io.IterableDataset。
报错信息如下，麻烦帮忙看一下。
worker0:
![image](https://user-images.githubusercontent.com/12699033/173783834-73dc7d17-d3b6-42de-b7c2-a8c00e776124.png)
worker1:
![image](https://user-images.githubusercontent.com/12699033/173784124-46b6258e-a879-45a4-b5d6-36f9c198076e.

[2022-06-15 08:52] wn1652400018 opened #2527 "tokenzier使用列表和字符串作为输入结果不一致"
1）PaddleNLP 2.3.3，PaddlePaddle2.3.0
2）系统环境：Windows10，python3.7
问题描述：在使用tokenzier时发现对text、text_pair加或者不加列表，返回的结果不一样。如果不加列表就不会返回offset_mapping，但是从注释上看说只要stride大于0，自动返回offset_mapping。
代码如下：
`et_auto = AutoTokenizer.from_pretrained('ernie-3.0-medium-zh')
print(list(et_auto(text=['人名'],
        text_pair=['当地时间14日，乌克兰总统泽连斯基与加拿大总理特鲁多进行了通话，讨论了双方防务合作以及协调应对俄罗斯的下一步行动。'],
        stride=2,
        truncation

[2022-06-15 09:14] sunjd6958 opened #2528 "ERNIE-doc dataloader cal_loss 拼写错误"
在 ERNIE-doc dataloader（详见 [data.py](https://github.com/PaddlePaddle/PaddleNLP/blob/v2.3.3/model_zoo/ernie-doc/data.py )）中，line 562、line 845、line_1069 的 ```cal_loss``` 错拼成了 ```cla_loss```。

[2022-06-15 09:44] ZeyuChen commented on #2545
请问使用的是PaddleNLP那段代码出错呢？可否贴一下？@Fordacre

[2022-06-15 09:46] Jaybore opened #2529 "微调Albert模型时 报错 not enough values to unpack (expected 2, got 1)"
![image](https://user-images.githubusercontent.com/100829033/173797367-e94f3649-fd49-4323-953b-8ee9dbaf5565.png)
看起来是在加载模型时遇到的错误？

微调程序使用的是
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/run_qa.py
这个程序可以对ernie bert等模型进行正常微调

[2022-06-15 09:51] AI-Mart commented on #2510
docker镜像安装报错，conda本地安装是可以运行的，官方的文档有些地方建议优化更新下：1、requirments要包配置全，见附件，2、步骤上做下补充说明，先pip install -r requirments，然后执行pip install paddlepaddle-gpu==2.3.0.post101 -f https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html，再执行python setup.py install
[requirements.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8908072/requirements.txt)

[2022-06-15 09:52] AI-Mart commented on #2510
[requirements.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8908126/requirements.txt)

[2022-06-15 09:54] tianxin1860 commented on #2510
非常感谢您的反馈，我们更新下文档。

[2022-06-15 09:56] wawltor commented on #2525
<img width="762" alt="image" src="https://user-images.githubusercontent.com/16698950/173800025-df587824-067a-4de9-967e-3eb9aae4eb34.png">
可以降低一下papandas的版本

[2022-06-15 10:09] tianxin1860 commented on #2512
这样的话建议基于 best_model 做参数初始化，然后继续训练。

[2022-06-15 10:27] sunshineyg2018 commented on #2512
我是准备替换 uie-base 下的文件？可以这样操作吗

基于best_model 是通过 --init_from_ckpt 这个参数吗？
这样操作 会重复训练以前已经训练过的数据吗？

[2022-06-15 11:00] Fordacre commented on #2545
@ZeyuChen 使用的是Ernie-CTM的训练脚本，https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.0/examples/text_to_knowledge/ernie-ctm/train.py 。
但是由于场景需求，训练数据量较大，所以将原来的数据读取部分（数据全量读入内存）使用IterableDataset进行了替换了。

[2022-06-15 12:05] Chucy2020 opened #2531 "如何将模型下载到本地加载？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

请问上述模型能否下载后在本地加载？如何加载已经下载的模型？本地加载时除了.pdparams模型文件还需要什么文件，文件怎么命名呢？

[2022-06-15 12:12] wawltor commented on #2524
1. 不同机器的性能差别是比较大的
2. infer.py这个具体报什么错误了，辛苦可以截图给我们看看

[2022-06-15 12:17] wawltor commented on #2531
https://paddlenlp.readthedocs.io/zh/latest/FAQ.html#4-1

可以看一下这块的文档，可以本地加载模型，除了.pdparams，还在加载相应的模型配置，具体可以参考上面的文档

[2022-06-15 12:42] Chucy2020 commented on #2531
![image](https://user-images.githubusercontent.com/73978694/173828088-3ddb0240-7ee4-470b-baef-3b2e7e1c7391.png)
您好这是的加载时出现的问题，请问这是由于什么原因？左上方是config,.pdparams,vocab文件，下面是我加载时使用的代码
![image](https://user-images.githubusercontent.com/73978694/173828715-e6d95e49-b5d9-4e6e-8975-e63f8e148147.png)
https://paddlenlp.readthedocs.io/zh/latest/FAQ.html#4-1

[2022-06-15 12:51] wawltor commented on #2531
from_pretrained 填写路径，而不是名字

[2022-06-15 12:58] Chucy2020 commented on #2531
我的这个输入的是路径，请问除了上述三个文件还需要其他的吗？以及是我命名有问题吗？

[2022-06-16 00:50] jiweizhangxu commented on #2430
重新下载数据集，还是有相同错误，我申请加您微信了，把我全套代码给您提供一下，能否通过下好友申请？

[2022-06-16 01:37] GZ1220 commented on #2524
![批注 2022-06-16 092726](https://user-images.githubusercontent.com/90749831/173972131-d1f37fe6-f38f-428d-a8a8-9bc1ac1172c7.png)
以上为截图，我的运行日志是不报错的，但是加载完模型就出现了  段错误  。
官方的CPU为cpu为Intel(R) Xeon(R) Gold 6271C ，主频为2.6ghz，我的只比它低了0.2ghz，性能不应该差这么多呀

[2022-06-16 02:19] mingyao743 commented on #2430
遇到同样的问题，想通过global_batch_size 来进行梯度累积报错，并且似乎args里面也没有梯度累积的参数，所以如果想做梯度累积，需要怎么操作呢

[2022-06-16 02:22] #2311 closed, assigned to tianxin1860

[2022-06-16 02:22] #2022 closed, assigned to smallv0221

[2022-06-16 02:24] wawltor commented on #2524
是说复现不了readme中的结果是吗？具体是哪项指标了

[2022-06-16 02:28] wawltor commented on #2531
看起来路径名有问题，因为和之前的模型名字同名了，这样还是走下载的方式

[2022-06-16 02:31] wjddd opened #2533 "无法加载预训练权重"
- 版本、环境信息

[code]

- 问题

该模型权重在[https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers/ELECTRA/contents.html](url)中能找到，但是通过from_pretrained加载出现报错。
[code]

报错信息如下：

[code]

[2022-06-16 02:35] GZ1220 commented on #2524
readme中ernie-3.0-medium-zh+fp32和ernie-3.0-medium-zh+fp32+剪裁在tnews数据集上使用CPU预测的性能。
官方性能为311.95和408.65，而我这里只有136.95和172.43，batch_size为32，cpu线程数为12

[2022-06-16 02:40] GZ1220 commented on #2524
段错误 是我在量化过后进行部署时出现的问题，和性能无关。。

[2022-06-16 02:45] yeliang2258 commented on #2524
请问你的CPU型号是？

[2022-06-16 02:45] GZ1220 commented on #2524
cpu为Inter(R) Xeon(R) Silver 4214

[2022-06-16 02:53] yeliang2258 commented on #2524
CPU的推理速度不只是依据主频来判断，还得看cpu支持的指令集， 比如avx2, avx512, avx512vnni等

[2022-06-16 03:07] GZ1220 commented on #2524
请问咱们官网的CPU支持的指令集有哪些呢，我这边支持SSE4.2，AVX，AVX2，AVX-512，64bit

[2022-06-16 03:09] yeliang2258 commented on #2524
6271C支持avx2, avx512, avx512vnni

[2022-06-16 03:13] GZ1220 commented on #2524
如果是指令集不一样而造成的性能差异，除了换CPU还有办法提升吗？

[2022-06-16 03:18] ZHUI commented on #2430
我自己又那这份代码试了一遍，没有任何问题。看日志`will create mapping for 64030 samples`。你再好好check一下数据制作，先把之前的老数据删除吧。

[code]

[2022-06-16 03:23] yeliang2258 commented on #2524
请问你运行infer.py时的指令是？

[2022-06-16 03:27] ZHUI commented on #2430
报错发生在  test_program，训练时可以的。可以注释掉test_program的所有代码。不跑eval和test。

[2022-06-16 03:33] AI-Mart commented on #2510
docker 已经可以运行，整理在链接https://blog.csdn.net/qq_15821487/article/details/125282152?csdn_share_tail=%7B%22type%22%3A%22blog%22%2C%22rType%22%3A%22article%22%2C%22rId%22%3A%22125282152%22%2C%22source%22%3A%22qq_15821487%22%7D&ctrtid=6KoKf

[2022-06-16 03:49] GZ1220 commented on #2524
就python3 infer.py --model_path '...'

[2022-06-16 05:25] yingyibiao commented on #2533
您好，需要升级paddlenlp到2.3及之后的版本。

[2022-06-16 05:25] yingyibiao commented on #2533
![image](https://user-images.githubusercontent.com/52000032/173997636-1052b16e-6c68-4bd7-ad54-2ff6fdcdaf60.png)
我这边是能够正常加载的。

[2022-06-16 06:10] yeliang2258 commented on #2524
你试试这个：python3 infer.py --model_path '...'  --device cpu  --num_threads 8 --use_onnxruntime True --perf

[2022-06-16 06:14] wjddd commented on #2533
已解决，感谢。

[2022-06-16 06:15] #2533 closed, assigned to yingyibiao

[2022-06-16 06:41] guoshengCS commented on #2514
此外也发现HF的roberta的tokenzier是否使用fast的结果在`<mask>`处不太一致

[code]

非faster
[code]

faster
[code]

[2022-06-16 06:47] ljcljc opened #2535 "doc_vqa 项目问题"
我在进行第6步时 “跨模态阅读理解模块”

运行 bash run_test.sh 后备箱怎么开
提示 FileNotFoundError: [Errno 2] No such file or directory: './data/decode_res.json'

文档中没有提示哪里可以生成decode_res.json这个文件。

另外，在阅读理解训练集中的训练数据格式是否可以说明一下，document_id的图片链接在本地我都没找到，请问是否训练集有错误？谢谢
{"document_id": "data_labeled_10_weilai/doc_ocrs/demo_pics2_00008.png", "ocr_results": [{"id": "data_labeled_20220415/docvqa-crowdsourcing-20220415/cf227a2f9112234d

[2022-06-16 06:50] GZ1220 commented on #2524
用了您发的运行命令，线程数为8的时候吞吐量变小了，medium-zh+fp32+裁剪吞吐量为125，线程数为12时，和之前没有太大变化，吞吐量为170

[2022-06-16 06:57] ljcljc commented on #2535
我看了应该是训练后会生成这个decode_res.json文件的，但是我的训练结束后没有生成，也没有报错，就这样结束了，请问是为什么

06/16/2022 14:50:39 - INFO - __main__ -   [epoch 0/50][iter: 0/7] lr: 0.00000, train loss: 185.56476,
06/16/2022 14:51:05 - INFO - __main__ -   Saving model checkpoint to output/checkpoint-40
06/16/2022 14:51:10 - INFO - __main__ -   [epoch 7/50][iter: 1/7] lr: 0.00003, train loss: 19.58628,
06/16/2022 14:51:31 - INFO - __main__ -

[2022-06-16 07:07] chenxiaozeng commented on #2510
@AI-Mart 点赞，欢迎帮PaddleNLP提个PR，优化下文档体验~

[2022-06-16 08:03] jlnguo opened #2538 "语义搜索demo代码中，缺少代码问题以及预训练模型下载问题。"
python = 3.6
paddlenlp = 2.2.1
paddlepaddle-gpu =2.2
在使用paddlenlp中的语义搜索模型的时候，把训练数据换成了自己的数据，进行[ERNIE 1.0](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/domain_adaptive_pretraining)的无监督训练，已经把自己的训练集更改成了要求的格式.
1---原始数据转换 jsonl 格式成功
2---数据ID化成功
3---由于Ernie预训练开始中没有run_static.sh文件，所以我在没有下载下面的ernie模型的前提下直接运行了脚本代码
[code]

[2022-06-16 08:08] MARKLIN1000 opened #2539 "有没有SWA的相关API，如何实现SWA(随机权重平均)？"
如何实现SWA(随机权重平均）例如有没有AveragedModel之类的方法

[2022-06-16 11:27] ljcljc commented on #2535
我发现aistudio里的文件和github上的不一致，是不是更新过版本了，有一个decode_res.json文件github上没有

[2022-06-16 12:09] thomaszheng opened #2541 "ERNIE 3.0 triton deploy 失败"
nvcr.io/nvidia/tritonserver:21.10-py3

Python 3.8.10
paddlenlp           2.3.3
paddlepaddle-gpu    2.3.0.post111

按照https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/deploy/triton/README.md

文件进行环境准备，部署命令：

[code]
程序会一直卡在这里，也不报错
[code]

[2022-06-16 12:10] ArtificialZeng opened #2542 "run_pretrain_static.py预训练脚本此行报错assert args.dp_degree * args.sharding_degree * args.mp_degree * args.pp_degree == worker_num,"
[code]

[2022-06-16 12:19] ZHUI commented on #2538
您好，可以升级一下您的 paddlenlp 版本`pip install paddlenlp --upgrade`

[2022-06-16 12:21] ZHUI commented on #2542
您好，辛苦给出您的详细运行配置脚本看一下。

[2022-06-16 12:52] heliqi commented on #2541
1. 有把模型放在 ernie_tokencls_model/1/ 目录下吗？
2. 启动容器时有设置shm大小吗？ triton的python后端默认需要64M

[2022-06-16 13:00] shanliqiu commented on #2538
nb

[2022-06-16 13:19] LiuChiachi commented on #2529
您好！感谢反馈问题，
为了快速解决您的问题，
https://github.com/PaddlePaddle/PaddleNLP/blob/4a23b50ade85dae6796591f6c4fdba9b0eae5183/paddlenlp/transformers/albert/modeling.py#L1623
您可以在您的paddlenlp包的这一个文件这一行给num_labels加个默认参数2：
[code]
并将
https://github.com/PaddlePaddle/PaddleNLP/blob/4a23b50ade85dae6796591f6c4fdba9b0eae5183/model_zoo/ernie-3.0/run_qa.py#L317
和
https://github.com/PaddlePaddle/PaddleNLP/blob/4a23b50ade85da

[2022-06-16 13:21] Jaybore commented on #2529
非常感谢！

[2022-06-16 13:31] 1225hao commented on #2487
抛异常   ValueError: Invalid name "cmrc2018". Should be one of ['afqmc', 'tnews', 'iflytek', 'ocnli', 'cmnli', 'cluewsc2020', 'csl'].怎么解决

[2022-06-16 13:34] tianxin1860 commented on #2539
是说多个模型的参数求平均作为模型最终参数么？

[2022-06-16 15:25] ArtificialZeng commented on #2542
[code]

[2022-06-16 15:42] ArtificialZeng commented on #2542
基本和您的一致，除了删除 win不支持的分布式 -u -m paddle.distributed.launch

[2022-06-16 16:34] ArtificialZeng commented on #2542
[code]

跑预训练，一直找一个 baike_sample_train_indexmap_12800000mns_509msl_0.10ssp_1234s.npy  这样一个文件。 不知道哪里有问题

[2022-06-16 17:01] ArtificialZeng commented on #2542
loaded indexed file in 0.000 seconds
    total number of samples: 82561153
[code]
make (e=2): 系统找不到指定的文件。

[2022-06-17 00:07] MARKLIN1000 opened #2546 "想要修改 tensor的数值，但是又不希望被autograd记录，有没有ptorch中 tensor.data 的替代API"
想要操作修改 tensor的数值，但是又不希望被autograd记录，不会影响梯度计算，有没有类似ptorch中 tensor.data 的替代API

[2022-06-17 01:44] ArtificialZeng opened #2547 "领域预训练win报错：domain_adaptive_pretraining\data_tools\dataset_utils.py", line 127, in compile_helper ret = subprocess.run(['make', '-C', path])"
我知道这是个只在win下出现的错误，没有make，但是装了minGW 有了make命令，还是在win下出错。

develop\applications\neural_search\recall\domain_adaptive_pretraining\data_tools\dataset_utils.py", line 127, in compile_helper
ret = subprocess.run(['make', '-C', path])
File "E:\A_IDE\Anaconda3\envs\pp212_gpu\lib\subprocess.py", line 472, in run
with Popen(*popenargs, **kwargs) as process:
File "E:\A_IDE\Anaconda3\envs\pp212_gpu\lib\subproc

[2022-06-17 01:50] AI-Mart commented on #2510
好的

[2022-06-17 01:57] MARKLIN1000 opened #2548 "如何解决detach不能被赋值的问题？"
![AC423I1I46L H6 @CJ${U~A](https://user-images.githubusercontent.com/82072274/174207147-55df13d1-91c4-46ee-920b-67fbcfdbb52b.png)

[2022-06-17 02:48] Zhiyuan-Fan opened #2550 "mbart模型注解有误"
在paddlenlp.transformers.mbart.modeling文件中，MBartForConditionalGeneration的注解与 MBartForQuestionAnswering的注解一样。

[2022-06-17 02:51] thomaszheng commented on #2541
@heliqi 模型路径是没有问题，之前试过也有问题

[code]

又试了试`--backend-config=python,shm-default-byte-size=24485760` 可以执行，不过报新的错误：

[code]

看情况是加载转换的onnx的模型时出现的问题？

[2022-06-17 03:05] ZHUI commented on #2542
您好，这个训练脚本还暂时不支持windows训练。抱歉抱歉

[2022-06-17 03:17] heliqi commented on #2541
@thomaszheng 有报错代表跑起来了， 之前卡住应该是shm不够。当前报错可能是两个问题(很大概率是第一个问题，先检查driver):
1. 你机器的CUDA driver版本太低了， 检查下driver版本。21.10的要求是

Release 21.10 is based on [NVIDIA CUDA 11.4.2](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html) with [cuBLAS 11.6.5.2](https://docs.nvidia.com/cuda/cublas/index.html), which requires [NVIDIA Driver](http://www.nvidia.com/Download/index.aspx?lang=en-us) release

[2022-06-17 03:23] ZHUI commented on #2545
你好，请问原来数据集的情况下，也会出现这个问题吗？

如果是厂内用户的话，可以如流咨询我们。

[2022-06-17 03:36] heliqi commented on #2541
@thomaszheng 升级onnxruntime版本有两个方法解决：
一.下载22.03的Triton镜像，其他都按文档操作
二. 替换21.10镜像中的backend： 分源码编译onnxruntime backend 和 只替换onnxruntime.so两种方式 (2选1)
1. 进入镜像，下载[github官网](https://github.com/microsoft/onnxruntime/releases) 1.10.0 及以上的压缩包并解压,比如:
    wget https://github.com/microsoft/onnxruntime/releases/download/v1.10.0/onnxruntime-linux-x64-gpu-1.10.0.tgz
    tar -zxvf onnxruntime-linux-x64-gpu-1.10.0.tgz

[2022-06-17 03:40] linjieccc opened #2552 "Tokenizer处理特殊字符的问题"
[code]
Traceback info：
[code]
对stride进行特殊设置时会有以上报错，设置为0（默认值）可以正常运行

[2022-06-17 04:06] linjieccc commented on #2548
您好，因为`m = yr.detach.clone()`已经进行了detach操作，直接`x = m`即可

[2022-06-17 05:09] thep0y opened #2553 "名词短语标注出错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP：2.3.3 PaddlePaddle：2.3.0-gpu-post112
2）系统环境：Linux，python：3.9.12(conda)，cuda：11.7

所有词的标签都是“艺艺艺艺艺”：
[code]

[2022-06-17 05:38] ZeyuChen commented on #2541
这个问题看记一下到时提给NV的同学

[2022-06-17 06:20] gongel commented on #2514
Fixed by https://github.com/PaddlePaddle/PaddleNLP/pull/2534

[2022-06-17 06:20] #2514 closed, assigned to joey12300

[2022-06-17 06:33] guoshengCS commented on #2546
可以使用`with paddle.no_grad():`或者`tensor.stop_gradient=True`试下呢

[2022-06-17 06:38] 1649759610 commented on #2535
同学你好：

1. decode_res文件在调用评估evaluate函数的时候会默认生成，即在执行评估脚本run_test.sh，会生成
   a. 如果遇到decode_res文件不存在的情况，请确保是否evaluate函数是否正常执行完成。
   b. 训练过程中，如果没有调用evaluate函数，是不会生成该文件的
2. 目前该数据集中存在一些多余的字段，请重点关注question，document，document_bbox， labels, 其他的字段暂时可以忽略。
3. 目前github上更新过一版，decode_res文件已经设置成了参数，可以在Extraction/run_test.sh文件中通过参数save_path进行指定。备注：如果该文件名成有变化，同时也需要在view.py的文件中进行更新

如果还有问题，欢迎与我们继续沟通。

[2022-06-17 06:39] 1649759610 commented on #2535
@ljcljc 同学你好：

1. decode_res文件在调用评估evaluate函数的时候会默认生成，即在执行评估脚本run_test.sh，会生成
    a. 如果遇到decode_res文件不存在的情况，请确保是否evaluate函数是否正常执行完成。
    b. 训练过程中，如果没有调用evaluate函数，是不会生成该文件的
2. 目前该数据集中存在一些多余的字段，请重点关注question，document，document_bbox， labels, 其他的字段暂时可以忽略。
3. 目前github上更新过一版，decode_res文件已经设置成了参数，可以在Extraction/run_test.sh文件中通过参数save_path进行指定。备注：如果该文件名成有变化，同时也需要在view.py的文件中进行更新

如果还有问题，欢迎与我们继续交流。

[2022-06-17 07:04] ArtificialZeng opened #2555 "构建预训练索引是不是特别慢？卡了十几分钟不动弹 /ernie_matching/PaddleNLP/applications/neural_search/recall/domain_adaptive_pretraining/data_tools”"
sentence indices in [380997, 381378) total of 381 sentences

int32

make: 进入目录“/media/reclab/新加卷1/nlp_projects/ernie_matching/PaddleNLP/applications/neural_search/recall/domain_adaptive_pretraining/data_tools”
g++ -O3 -Wall -shared -std=c++11 -fPIC -fdiagnostics-color -I/home/reclab/anaconda3/envs/pp230_gpu/include/python3.7m -I/home/reclab/anaconda3/envs/pp230_gpu/lib/python3.7/site-packages/pybi

[2022-06-17 07:26] ZHUI commented on #2542
这里面有g++的编译部分，导致win平台无法使用。

[2022-06-17 07:28] ZHUI commented on #2555
你好，请检查一下数据，确保每一个 doc 中，含有至少两行数据。

[2022-06-17 07:43] wawltor commented on #2553
您好，我在py37和py39的机器上，在gpu和cpu上都没有复现您的问题；
我看您的cuda版本和paddle的版本看起来不太一致，paddle的cuda版本最高到11.2，可以进行以下尝试
1）conda安装 paddlepaddle-gpu   https://www.paddlepaddle.org.cn/
2）删除 ~/.paddlenlp目录再进行尝试

[2022-06-17 07:46] ArtificialZeng commented on #2555
晕，昨天在微信群里问您 您都不告诉我。 我用pandas 每行分一个，看来现在要重新数据准备。

[2022-06-17 07:56] ZHUI commented on #2555
不好意思，可能漏消息了，群里人比较多

[2022-06-17 08:11] ArtificialZeng opened #2557 "预训练模型，出TypeError错误：运行applications/neural_search/recall/domain_adaptive_pretraining"
[code]
照着您说的，每个文档至少两行，编辑索引显示成功了。但是TypeError: object of type 'NoneType' has no len()

[2022-06-17 08:11] ArtificialZeng commented on #2557
照着您说的，每个文档至少两行，编辑索引显示成功了。但是TypeError: object of type 'NoneType' has no len()

[2022-06-17 08:56] sunshineyg2018 opened #2559 "同样的best_model 在不同的机器下 抽取效果差别很大。"
同样的best_model 在不同的机器下 抽取效果差别很大,有什么解决办法吗

[2022-06-17 09:18] ArtificialZeng commented on #2557
[code]
这是我的运行命令。 复制的你的，只是把批次 step改小了

[2022-06-17 09:18] ArtificialZeng commented on #2557
官方的数据 baike.txt 也跑不通

[2022-06-17 09:40] linjieccc commented on #2559
您好，是指同一份模型文件，在不同机器上的抽取结果不同吗？

[2022-06-17 10:47] sweetboxwwy opened #2562 "文本分类任务请问如何设置自己数据集的格式呢"
链接：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/README.md

[2022-06-17 11:06] thomaszheng commented on #2541
@heliqi
我这边通过下载`onnxruntime-linux-x64-gpu-1.10.0.tgz`替换so的方式，是不行的。
通过升级22.04的镜像可以了。
还有就是这个目录`model_zoo/ernie-3.0/deploy/triton/models/ernie_tokencls` 下面是不是需要建个模型版本的目录，比如现在的例子里面的`1`,这个目录感觉也可以在git里面维护吧

[2022-06-17 11:12] #2562 closed, assigned to nobody

[2022-06-17 11:20] thep0y commented on #2553
是` ~/.paddlenlp`的问题，删除后重新下载就可以了

[2022-06-17 11:20] #2553 closed, assigned to wawltor

[2022-06-17 16:11] w5688414 commented on #2557
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0. 可以使用最新版

[2022-06-17 16:12] w5688414 commented on #2547
可以使用最新版的ernie1.0预训练。 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0

[2022-06-18 08:29] MARKLIN1000 opened #2565 "自己写了一个BertModle的子类，使用from_pretrained('bert-wwm-chinese')，报错无法解决，怎么讲将预加载的模型参数传递到子类？"
![屏幕截图 2022-06-18 164842](https://user-images.githubusercontent.com/82072274/174431615-fc8ac885-063f-452d-840e-360690ebb719.png)
![屏幕截图 2022-06-18 164924](https://user-images.githubusercontent.com/82072274/174431619-8af91b4f-1524-4a7c-953c-56d076a6bf3a.png)
![屏幕截图 2022-06-18 165012](https://user-images.githubusercontent.com/82072274/174431621-dadd217b-6d4f-4ef4-8377-a0e9f43972e1.png)
![屏幕截图 2022-0

[2022-06-18 10:15] LemonNoel commented on #2565
目前的初始化方式有点问题，可以参考下下边的代码和注释哈

<img width="679" alt="截屏2022-06-18 下午6 10 58" src="https://user-images.githubusercontent.com/25607475/174433313-6b79b034-a73c-4332-878e-85d0d12517c9.png">

[2022-06-18 11:11] MARKLIN1000 commented on #2565
![image](https://user-images.githubusercontent.com/82072274/174434760-51b6dbc5-63b7-416f-9ee8-6fbb093e8270.png)
![image](https://user-images.githubusercontent.com/82072274/174434782-19dc6563-a99f-48ea-8cdd-36fb79579104.png)
![image](https://user-images.githubusercontent.com/82072274/174434803-b523806a-c37b-467d-ad4f-4572d2413b51.png)
S
![image](https://user-images.githubusercontent.com/82072274/17

[2022-06-18 11:27] LemonNoel commented on #2565
![debug](https://user-images.githubusercontent.com/25607475/174435408-1357d26d-c278-4a6f-9e81-aef8926ddbce.png)

这里说明预训练模型参数已经load结束了，执行到你实现的__init__了，可以学习一下python中类的初始化是在做什么以及类的方法怎么用：https://www.liaoxuefeng.com/wiki/1016959663602400/1017496031185408

如果你想用self.encoder替换self.bert.encoder，直接self.encoder=self.bert.encoder就可以了，加了括号就是传参数直接调用方法了。

然后搜相关类的初始化函数，看看都需要哪些参数，不是单纯传bert进去，这里self.bert是个BertMod

[2022-06-18 11:29] MARKLIN1000 commented on #2565
好的，非常感谢您回答

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年6月18日(星期六) 晚上7:27
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 自己写了一个BertModle的子类，使用from_pretrained(&#39;bert-wwm-chinese&#39;)，报错无法解决，怎么讲将预加载的模型参数传递到子类？ (Issue #2565)

这里说明预训练模型参数已经load结束了，执行到你实现的__init__了，可以学习一下python中类的初始化是在做什么以及类的方法怎么用：https://www.li

[2022-06-18 13:08] ZHUI commented on #2547
你可以试一下 makefile 那里自己 mingw 编译成 so 文件

[2022-06-19 02:51] MARKLIN1000 opened #2566 "拼接embedding和mask后传入encoder报错无法解决"
![image](https://user-images.githubusercontent.com/82072274/174463800-1f1b874c-b8f3-4bad-8f5d-8f03860bf20d.png)
![image](https://user-images.githubusercontent.com/82072274/174463819-93596da2-717c-41c1-a498-f98679a2cdbc.png)
![image](https://user-images.githubusercontent.com/82072274/174463841-5e8308cb-411a-4448-a637-8d2110454550.png)
![image](https://user-images.githubusercontent.com/82072274/1744

[2022-06-19 04:09] #2566 closed, assigned to nobody

[2022-06-19 04:09] MARKLIN1000 commented on #2566
已经解决

[2022-06-20 00:30] MARKLIN1000 opened #2570 "vedio编码器如何可以用与文本共享的同空间emb来处理呢？"
![image](https://user-images.githubusercontent.com/82072274/174509499-8a773f80-f36e-49e5-9e30-add9d2f7c43d.png)
![image](https://user-images.githubusercontent.com/82072274/174509515-0cc4e90b-b3f3-4711-8c01-3ac897aa9640.png)

问题一：视频特征抓取后是浮点数的特征tensor，位于[0,1]之间。如何能够映射呈int64型的tensor呢？就像经过tokenizer处理过一样，要符合BERT的输入呢？或者符合别的预训练好的embedding层模型的输入呢？
我的意愿呢是想让视频和文本这两个特征经过一样的embedding层，让 video embedding 可以或者和

[2022-06-20 02:35] ArtificialZeng commented on #2547
domain_adaptive_pretraining 这个还是训练不了吗， 我已经换到linux了

[2022-06-20 02:36] ArtificialZeng commented on #2557
domain_adaptive_pretraining 是用不了吗

[2022-06-20 02:36] ArtificialZeng commented on #2557
那基于domain_adaptive 后续怎么弄， 比如说 他这个任务本来是基于 ernie-gram-zh的