[2022-11-15 02:04] wj-Mcat commented on #3749
此问题的原因在于：
* vocab当中没有`<|endoftext|>`这个special_token，且和其他special_token内容一致（核心原因）
* 可是在tokenizer当中这个依然成为一种special_token，故无法加入到vocab当中，而此类token是默认在vocab文件当中存在的

故判断此vocab文件配置错误。可通过以下方法进行调整：

*  直接在vocab 当中新增`<|endoftext|>`token,则可以解决`bos_token_id`为 None 的问题.可是会增加原始词表大小,不推荐.
* 将 vocab 当中 unused 的 其中一个 token 修改为`<|endoftext|>`,此时可无侵入性的调整完成词表的调整.

[2022-11-15 02:15] wj-Mcat commented on #3757
这个问题是预期范围之内的问题,我通过以下测试代码复现出你的问题:

[code]

原因是在于: 你手动调整了 input_ids, 可是这个ids 并不在词表当中. 建议不要手动调整input_ids.

建议先encode, 在不修改数据的前提下再来 decode.整体推荐代码如下所示:

[code]

[2022-11-15 02:28] linjieccc commented on #3760
Taskflow uie目前还不支持多线程并发，调用的时候需要加锁，可以参考下这段代码

[code]

[2022-11-15 02:30] wj-Mcat commented on #3758
这个问题的输入输出分别是什么呢? 你能通过一小段代码来描述你的问题吗? 就类似于这个[comment](https://github.com/PaddlePaddle/PaddleNLP/issues/3757#issuecomment-1314666246).

[2022-11-15 02:31] zxcd commented on #3758
这部分代码为

[2022-11-15 02:32] Tygors opened #3761 "[Bug]: cpu下运行paddlenlp中examples/few_shot/pet项目出错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

python pet.py --task_name "tnews" --device cpu --pattern_id 4 --save_dir "./tnews" --index 0 --batch_size 4 --epochs 10 --language_model "ernie-3.0-medium-zh"

[2022-11-15 02:36] zxcd commented on #3758
这部分代码为self.tokenizer.decode(token_ids, **kwargs)
token_ids :deocde [tensor(1654), tensor(39450), tensor(32585), tensor(31429), tensor(8661), tensor(24928), tensor(1546), tensor(5620), tensor(17798), tensor(1654), tensor(32379), tensor(25364), tensor(19847), tensor(23987), tensor(44201), tensor(6346), tensor(115)]

[2022-11-15 02:37] stefanqxb commented on #3756
Hi @MissPenguin,
     Thanks for the info, the en_PP-OCRv3_xx is the one we are having some issue at moment, so wondering if there is any other alternative or we need to finetune with our handwriting data? if fine-tune is a must, then could I get some guideline abt how to achieve in terms of data-format etc, thanks a lot for the help

[2022-11-15 02:39] zxcd commented on #3757
但我在做翻译任务的时候有类似需求，会新增语种标签，这种无法放入vocab里面，所以预期是加载成功但输出位空的。有没有办法能不报错？

[2022-11-15 02:50] stefanqxb commented on #3738
Hi @linjieccc ,
     Thanks for showing the sample, I think that is problem here, so could u share an correct url for downloading such data?, as my one downloads from https://bj.bcebos.com/paddlenlp/datasets/docvqa_zh.tar.gz which has the wrong format, thanks for the great help

[2022-11-15 04:34] lugimzzz commented on #2600
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/hierarchical
文本分类应用已支持层次分类

[2022-11-15 04:34] #2600 closed, assigned to lugimzzz

[2022-11-15 04:34] lugimzzz commented on #2731
问题已解决

[2022-11-15 04:34] #2731 closed, assigned to lugimzzz

[2022-11-15 04:35] lugimzzz commented on #3615
问题已解决

[2022-11-15 04:35] #3615 closed, assigned to lugimzzz

[2022-11-15 04:36] lugimzzz commented on #3616
可以选择同一个模型，比如ernie 3.0系列，然后使用不同的数据微调

[2022-11-15 06:05] wawltor commented on #3744
如果是同一个任务，可以拿微调后的模型继续微调；如果不是同一个任务，建议重新拿base模型微调

[2022-11-15 06:34] lugimzzz commented on #3429
paddleserving 的pipeline确实有这个问题，可以考虑使用C++  paddleserving。对于python部署我们推荐使用triton部署 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/deploy/triton_serving

[2022-11-15 06:35] helloHKTK commented on #3429
您好：    很高兴收到您的来信，我会尽快阅读并回复您！祝您工作顺利、生活愉快！

[2022-11-15 07:18] lugimzzz commented on #3509
推荐使用onnxconverter-common版本1.9.0

[2022-11-15 07:41] DamonYangyang commented on #3729
不一定，paddlenlp中的docvqa给的就是linear crf，不是抽start和end才是阅读理解，很多场景抽start和end效果并不好。而且抽start和end也有很多种不同的方式，比如当做一个0到512的多分类任务或者指针网络span，也或者是片段排列。我就是想确认下这里用的是什么。

[2022-11-15 07:42] lugimzzz commented on #3529
可能是cuda环境的问题，你启动docker使用nvidia-docker run的方式吗

[2022-11-15 07:51] lugimzzz commented on #3571
是不是二分类任务，建议直接删掉top_k_accuracy_score 相关代码，这块代码我们也会相应优化
[code]

[2022-11-15 08:03] #3571 closed, assigned to lugimzzz

[2022-11-15 08:04] #3429 closed, assigned to lugimzzz

[2022-11-15 09:30] WatsonWangZh opened #3766 "[Question]: 基于ERNIE3.0微调得到的UIE，需要的数据量大概有多少？"
### 请提出你的问题

请问基于ERNIE3.0微调得到的UIE，需要的数据量大概有多少？

[2022-11-15 09:32] #3514 closed, assigned to wj-Mcat

[2022-11-15 09:44] LemonNoel commented on #3766
不同任务微调需要的数据量不一样，简单点的任务每个标签几条或者十几条就够了，复杂点的就需要多些标注。用UIE做分类的话需要的数据量会更多些。

[2022-11-15 09:46] lugimzzz commented on #3686
是否能提供使用的模型和样例，方便复现问题。

[2022-11-15 10:02] WatsonWangZh commented on #3766
意思是 UIE的参数 跟ERNIE3.0 差不多？直接在ERNIE3.0上预测效果也可以跟UIE相当么？

[2022-11-15 10:23] xianyu211 opened #3767 "在进行serc++推理时，五个输入都定义成了模型输入类型要求的int64，然后传入ser模型输入，在推理时报错"
### 请提出你的问题

在进行serc++推理时，五个输入都定义成了模型输入类型要求的int64，然后传入ser模型输入，在推理时报错
'''
InvalidArgumentError: Variable value (input) of OP(fluid.layers.embedding) expected >= 0 and < 1024, but got 116748592. Please check input value.
[Hint: Expected ids[i] < row_number, but received ids[i]:116748592 >= row_number:1024.] (at /paddle/paddle/phi/kernels/cpu/embedding_kernel.cc:63)
[operator < lookup_table_v2 > erro

[2022-11-15 10:49] godlockin opened #3768 "[Question]: run the ppdiffusers/example/dreambooth issue"
### 请提出你的问题

env: aistudio
issue: command line param can't be load in script, 命令行参数没法被程序加载
question: how to run dreambooth to fine tuning the model
[code]

[invoke code link](https://github.com/PaddlePaddle/PaddleNLP/blob/010fcd87e7510b1f1987ba9c3aff604d88d489c5/ppdiffusers/examples/dreambooth/train_dreambooth.py#L703)
[method code link](https://github.com/PaddlePaddle/PaddleNLP/blob/010fcd87e7510

[2022-11-15 11:02] wj-Mcat commented on #3757
Tokenizer本身是支持自定义添加 token 的，直接使用以下代码即可：

[code]

上面报错还是因为：你添加的是理论上必须存在的`special_token`，可是并不在`vocab.json`当中。只要解决了这个问题，你上面的需求就可以得到解决。

[2022-11-15 11:06] wj-Mcat commented on #3758
我看你 decode 函数的参数是`List[Tensor]`类型，必须将其转化成`List[int]`来使用，详细请看decode函数定义:

https://github.com/PaddlePaddle/PaddleNLP/blob/af9461a785f75499059e905214dd0ac73464422e/paddlenlp/transformers/tokenizer_utils.py#L1396-L1401

至于乱码的问题，这个通常与字符串编码有关。

我本地还是没能够复现出你的问题。

[2022-11-15 11:13] zxcd commented on #3758
如果是数据类型不对，或许应该是会直接报错而不会出现乱码问题？我vocab的编码是utf8，按理说不应该出现乱码问题。同样的资源使用transformers的tokenizer可以work

[2022-11-15 11:15] zxcd commented on #3757
我在资源文件added_tokens.json中添加了special_token，按理说是否应该在from_pretrained的时候进行了tokenizer.add_tokens这一步呢？

[2022-11-15 11:15] JunnYu commented on #3768
@godlockin  感谢指出，我将立刻修复！
你可以先这样使用一下，改一下代码`def parse_args(input_args=None):`
或者这样
[code]

[2022-11-15 11:22] wj-Mcat commented on #3742
相信您最近在阅读`PaddleNLP`的代码，非常感谢您提出此问题，此函数确实存在问题，不过此函数目前属于废弃状态，不会被触发：通过`save_pretrained`和`save_resource`两个函数完成tokenizer 相关资源文件的保存。

所以如果你想保存 tokenizer 中相关资源文件，建议使用`save_pretrained`接口来实现。

[2022-11-15 11:24] wj-Mcat commented on #3757
确实是进行了，可是会在add_tokens函数中判断是否已存在，如果是将不会添加。

[2022-11-15 11:52] zxcd commented on #3758
复现代码为
from paddlenlp.transformers import GPTTokenizer
tokenizer = GPTTokenizer.from_pretrained(path) #path='assets/multilingual'
tokenizer.decode(115)

[2022-11-15 12:01] zxcd commented on #3758
自查问题已解决，词表中两个ids对应一个字，单个输出时会出现问题
应使用：
tokenizer.decode([6346,115])

[2022-11-15 12:01] #3758 closed, assigned to wj-Mcat, ZHUI

[2022-11-15 12:11] zxcd commented on #3757
目前尝试在vocab.json中添加对应的special_token，加载后可以读到对应special_token的id，但这个问题还是没有解决

[2022-11-15 12:31] wawltor commented on #3766
UIE是ERNIE 3.0的基础上使用了超过百万的数据(包括负样本)进行微调得到的

[2022-11-15 13:06] LemonNoel commented on #3767
看起来是数值超过了模型的向量矩阵行数，1024的话可能是 `position id`，可以打印一下输入看看是否符合预期。

[2022-11-15 13:19] SoulOH commented on #3257
python 3.7
paddlenlp 2.4.2
paddlepaddle-gpu 2.1.3.post112，

一样的TypeError: can't apply this __setattr__ to type object

[code]

[2022-11-16 02:11] shawn-AI-Tech opened #3773 "[Question]: ernie-layout 推理部署"
### 请提出你的问题

目前我正在进行文档视觉问答任务，已经用taskflow进行了推理，但速度过慢，想要使用自行部署来推理。

目前的问题是找不到可以用 PaddleNLP/model_zoo/ernie-layout/deploy/python/infer.py  加载的 ernie-layoutx模型。

PaddleNLP/model_zoo/ernie-layout/deploy/python/README_ch.md中没有说应该在哪里下载模型，只有提供了taskflow的使用方式和测试图片的下载地址。

[2022-11-16 02:18] linjieccc commented on #3738
Hi,

I would recommend to use the `load_dataset` api to download and convert the data.

If you download the dataset from  https://bj.bcebos.com/paddlenlp/datasets/docvqa_zh.tar.gz, I think you need to convert the data manually. You can refer to https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/hf_datasets/docvqa_zh.py#L65 for the data format .

[2022-11-16 02:36] linjieccc commented on #3752
Hi,  @hehuang139

1）拒答
可以参考https://github.com/PaddlePaddle/PaddleNLP/blob/v2.4.2/model_zoo/ernie-layout/utils.py#L970 postprocess_mrc滑窗部分的处理，滑窗内取不到的会作为负例
2）多答
多答需要修改下解码方式，可以参考UIE这里的解码逻辑换成sigmoid https://github.com/PaddlePaddle/PaddleNLP/blob/v2.4.2/model_zoo/uie/model.py#L37 损失函数也对应换成BCELoss

[2022-11-16 02:44] linjieccc commented on #3773
Hi, @zhang0227

deploy/python/infer.py加载的模型是通过微调+静态图导出得到的，具体分为以下步骤

1）基于DocVQA-ZH数据集微调模型
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/README_ch.md#42-%E6%96%87%E6%A1%A3%E8%A7%86%E8%A7%89%E9%97%AE%E7%AD%94%E4%BB%BB%E5%8A%A1
2）微调后的模型导出为静态图参数
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/README_ch.md#51-%E9%9D%99%E6%80%81%E5%9B%BE%E5%AF

[2022-11-16 03:42] shawn-AI-Tech commented on #3773
你好 @linjieccc
我想知道这个微调后的模型应该是和taskflow中的模型效果会有较大区别吗？
由于机器性能原因训练需要很长时间，我想问是否有其他方式去使用直接提供的预训练模型进行推理

[2022-11-16 06:04] wj-Mcat commented on #3680
你这个是由于paddlenlp的版本太低了，可使用以下命令来更新其版本：

[code]

[2022-11-16 06:14] LemonNoel opened #3774 "PaddleNLP 2.4.3 Release Note Candidate"
# New Features

## Prompt API
* Template String 新增支持关键字 `prefix`和`options`，新增 `position`, `token_type`, `length`, `encoder`, `hidden_size` 等7个属性 #3724
* 新增支持 PrefixTemplate
* 解除 `InputExample` 和 `InputFeatures` 对输入数据关键字的限制

## 问答
* 新增无监督问答pipelines，pipeline运行示例和说明文档 #3605
* 新增节点QAFilter、AnswerExtractor、QuestionGenerator、AnswerExtractorPreprocessor、QAFilterPostprocessor
* 新增pipeline QAGenerationPip

[2022-11-16 06:18] w0r1dhe110 commented on #3686
@lugimzzz

运行如下trustai文档中提供的demo，即可复现同样的错误

[code]

[code]

[2022-11-16 06:48] lugimzzz commented on #3686
你好，感谢提供复现代码，我这边在paddlenlp 2.4.2环境下运行可以正常使用，是否方便提供你目前使用paddlenlp版本。
可以参考这个AI Studio复现结果：https://aistudio.baidu.com/aistudio/projectdetail/5053011

[2022-11-16 07:27] linjieccc commented on #3773
效果上会有一些区别，DocPrompt训练用到的VQA数据更多些且模型尺寸更大。
请问下你的设备环境是？可以试试把batch_size调大些，DocPrompt是prompt并行推理的

[2022-11-16 07:28] starryzwh opened #3776 "在使用uie slim数据蒸馏时，遇到的一些问题[Question]:"
### 请提出你的问题

您好，在使用uie slim数据蒸馏时，有一些问题：
使用版本如下：
paddlepaddle-gpu=2.4.0rc0
paddle2onnx=1.0.2
paddlenlp=develop

1.按照文档，生成了student_model的model_best文件夹，里面只有model_state.pdparams，没有相关的flask部署加载所需要的model.pdiparams和model.pdmodel文件，请问如果要用flask部署，不使用Taskflow方式一键部署的话，怎么生成该文件？
2.在用taskflow一键部署时，会在目录中生成推理的相关文件，static目录中的inference.pdiparams和inference.pdmodel，所以尝试使用该文件进行flask部署，借鉴uie deploy部署方法，发生paddle2onnx相关算

[2022-11-16 07:39] lucky0604 opened #3777 "[Question]运行applications里的text_classification案例，训练成功但生成的checkpoints文件夹里没有模型:"
### 请提出你的问题

运行此案例 [多标签分类指南](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_label#readme)，按照文档要求配置的数据（包含`train.txt, dev.txt, label.txt`），训练是正常的，按文档描述
![image](https://user-images.githubusercontent.com/8739018/202116940-4c459144-bd38-4d6d-89d3-ce91a473944a.png)
但实际上跑完后`checkpoint`文件夹里只有一个`setting.txt`（内容是训练的一些配置）
![image](https://user-images.githubuser

[2022-11-16 08:00] wawltor commented on #3777
看起来是因为你的模型的F1值都是0，所以没有保存模型，可以看下面的代码逻辑
https://github.com/PaddlePaddle/PaddleNLP/blob/39c4f760b15ff40ba48dfb8803b17c71babb13d3/applications/text_classification/multi_class/train.py#L204

[2022-11-16 08:04] w0r1dhe110 commented on #3686
你好，应该是开发版，AI Studio复现结果: https://aistudio.baidu.com/aistudio/projectdetail/5054406
paddlepaddle 2.4.0下会出现这个错误

[2022-11-16 08:05] FFinchR opened #3779 "[Question]: 文本分类prompt，实际场景的评估值"
### 请提出你的问题

我有一个疑问，关于文本分类的[prompt方法](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_label/few-shot)：
prompt应用场景是【标注成本高的小样本】，那相应的，标注数据生成的测试集规模也很小。
用这个测试集做的评估值，相比用大规模数据做测试集的评估值来说，存在不够准确的问题。
那在实际场景中（没有大规模数据做测试集），应该怎么确定训练出来的模型实际上是否准确？
只能用 【在有大规模数据做测试集的场景评估值高】 做背书？

[2022-11-16 08:07] hehuang139 commented on #3752
@linjieccc 感谢，我试下

[2022-11-16 08:18] linjieccc commented on #3776
Hi，@starryzwh

需要替换掉你的app.py里面加载onnx模型的相关代码

静态图模型文件inference.pdiparams和inference.pdmodel通过paddle inference预测库中的create_predictor来加载以及构建predictor，参考这里的例子：https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/guides/hardware_support/rocm_docs/infer_example_cn.html#python

[2022-11-16 08:21] wawltor commented on #3779
在机器学习和深度学习场景，数据成本我理解是一个非常大的问题，所以在机器学习场景中大家尽快降低这个成本，在常规的微调场景中，大家都是对训练集合、验证集很多都是8:2的比例，但是prompt方法基本可以将训练集的大小降到很低，这里的数据将下降很低；同时在深度学习真实应用场景中，大家是希望快速验证模型效果，而不是大量制作数据来验证效果，prompt方法会大大提升模型验证效率；另外一个角度，Prompt方法不仅是小样本的优势，在模型统一上也具备优势，一套训练流程在建模上是可以搞定多种任务。

[2022-11-16 08:33] hehuang139 commented on #3752
@linjieccc 看了下滑动窗口的逻辑，获取5个候选，然后在排除掉问题数据（比如start > end,长度等）,获取不到会直接continue过滤掉，并没有看到负值的prob，而且我观察到prob不是一个100%，是一个end_logit、start_logit不像是个概率，我得到的值是20~30以下的值。
我目前的做法是对于start_logit+ end_logit < 0则认为无答案，这样是否可以
同时我还有一个疑惑，就是我如果训练模型，拒答，不仅仅是预测，我的训练集是否需要给定无答案这种example？来训练模型，还是不需要无答案的example来训练？
[code]

[2022-11-16 09:08] yonger001 opened #3782 "[Question]: ERNIE-3.0模型压缩"
### 请提出你的问题

1.关于ERNIE-3.0模型的量化过程疑问：
![2022-11-16 16-52-11屏幕截图](https://user-images.githubusercontent.com/23071264/202133949-654fdba6-bda7-46eb-bfa0-9cfcf9d728e3.png)
![2022-11-16 16-53-33屏幕截图](https://user-images.githubusercontent.com/23071264/202134167-c4ff178c-c63f-43c6-8da1-8a6cde5604a1.png)
Q1：针对ERNIE-3.0压缩性能对比的上述两张表格，首张表格中第6行测试了“ERNIE 3.0-Medium+裁剪+量化+INT8”策略，TNEWS对应精度为57.26，第二张表格的第7行测试了“ERN

[2022-11-16 09:15] Gavingx opened #3783 "[Question]: autoprompt官方给的源码跑不通"
### 请提出你的问题

paddlepaddle版本：2.4rc
paddlenlp版本：无，拉的源码

按照[autoprompt文档](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/few-shot)的流程，执行一样的参数：`python train.py --dataset_dir "./data/" --save_dir "./checkpoints" --max_seq_length 128 --model_name "ernie-3.0-base-zh" --batch_size 8 --learning_rate 3e-5 --epochs 100 --logging_steps 5 --early_stop`会抛出异常：

[2022-11-16 09:31] LemonNoel commented on #3783
这里执行的看起来是微调方式的脚本，需要到上级目录下执行，即`/applications/text_classification/multi_class`。few-shot目录下只能跑提示学习的脚本。

[2022-11-16 09:36] pogevip opened #3784 "[Question]: 关于SER任务，value是分开的两行或多行时该怎么处理"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/27748841/202141200-4e1161ff-8c16-43b6-ab6f-6af7b96bc42e.png)

##### 如上图，【货物或应税劳务、服务名称】这一列，下面的【小米红米3时尚金色】和【移动联通电信4G手机双卡双待】这两个是分开的两行，
1. 如果是当做key-value抽取任务（SER+RE）的话，该如何处理？一个key link 到多个value吗？
2. 如果是当做SER任务，直接识别实体的话，又该怎么处理？

[2022-11-16 09:38] LiuChiachi commented on #3782
感谢关注～
Q1：相同；
Q2：此处的量化方法是静态离线量化，经过量化得到的paddle量化模型。GPU下INT8的精度是基于PaddleInference+TensorRT预测库，对这个paddle量化模型测试的。
Q3：+int8只是想强调预测的精度是部分INT8，就是对量化模型进行预测的意思。

[2022-11-16 09:38] pogevip commented on #3784
我测试ernie-layout 现有的MRC的模型，似乎智能识别到一行。

[2022-11-16 09:53] starryzwh commented on #3776
意思是不需要经过onnx部署方式是吗？

[2022-11-16 10:00] yonger001 commented on #3782
感谢及时回复，还是不太明白
Q1：上述Q2中的静态离线量化是Paddle自己的量化算法吗？这个和TensorRT的量化算法不一样？
Q2：+INT8的过程是否可以理解为：在PTQ量化模型的基础上又执行了一遍TRT的INT8量化操作？
已经迷糊了～～～

[2022-11-16 10:16] stefanqxb commented on #3738
hi,
  I see, thanks for the info, however, I have by now fixed the format issue, I took a subset abt 5 samples to try-out, but run into another error, saying
[code]
Do u recognize this error, or what could go wrong ? Thanks

[2022-11-16 10:19] Gavingx commented on #3783
然而提示学习也没跑通。日志如下：
![image](https://user-images.githubusercontent.com/43789460/202154138-08fde5d4-35f0-467c-89e5-4c4c2fd47798.png)
应该是版本的问题吧。

[2022-11-16 10:42] LiuChiachi commented on #3782
Q1:是paddle自己的方法，在很多NLU任务上基本是精度无损的，PaddleNLP进行了封装，你看的这个例子就是使用的demo。
Q2:PTQ之后只是得到了一个量化模型，+INT8表示使用INT8精度进行推理，没有再对模型处理了

[2022-11-16 11:21] LemonNoel commented on #3783
看起来是版本的问题，develop的代码明天会发版。现在可以到 PaddleNLP 的目录下从源码安装。
[code]

[2022-11-16 12:18] #3760 closed, assigned to linjieccc

[2022-11-16 14:03] godlockin commented on #3768
cheers~ but new issue happens, seems like some object (maybe namespace) not be initialized successfully. 新的报错出现了，似乎有些东西没初始化成功，可能是 namespace?

1. do env prepare
[code]

2. modify the code
[code]

3. run the job
[code]

[2022-11-16 14:09] yonger001 commented on #3782
谢谢回复，请问是否有对比过ERNIE-3.0模型在“TRT自带量化+INT8预测”和“Paddle量化+INT8”两种方法下的性能表现？

[2022-11-16 14:53] JunnYu commented on #3768
https://github.com/PaddlePaddle/PaddleNLP/blob/7a4355c467d3c4f5c1c0bd4407619e64feb37b3c/ppdiffusers/examples/dreambooth/train_dreambooth.py#L430-L431
可以先这么改一下！这是另一个问题导致的
[code]

[2022-11-17 01:44] coolinstar commented on #3657
@wawltor   請問對於上述的情境，有無任何建議或看法? 謝謝。

[2022-11-17 02:16] linjieccc commented on #3784
Hi, @pogevip

当前ERNIE-Layout中OCR的返回是从左上到右下排序的，所以可能会导致这种同列分行的情况识别有误，可以考虑增加一个版面分析模块来优化识别文本的排序

版面分析可以参考：
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.6/ppstructure/docs/quickstart.md#223-%E7%89%88%E9%9D%A2%E5%88%86%E6%9E%90

[2022-11-17 02:17] linjieccc commented on #3776
是的，通过paddle的预测库部署

[2022-11-17 02:21] linjieccc commented on #3752
通过卡阈值来判断no answer会好些，阈值的设置需要实际测下；训练集中可以构造no answer的example

[2022-11-17 02:24] linjieccc commented on #3738
You can run the following code to verify the installation of paddlepaddle
[code]

[2022-11-17 02:36] Gavingx commented on #3783
我按顺序执行了以下命令：
`pip install -e .`
`python setup.py build`
`python setup.py install`
'pip list | grep paddlenlp'显示
![image](https://user-images.githubusercontent.com/43789460/202340733-b6f4e4c8-74ae-4140-bc5e-842c724c06de.png)
但是当我执行autopromt的时候，依然报同样的错误：
![image](https://user-images.githubusercontent.com/43789460/202340839-7169981f-9885-44a7-bbd0-a62f2c105f5d.png)

[2022-11-17 02:37] FFinchR opened #3790 "[Bug]: 文本分类的数据预处理脚本存在错误"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

文本分类的数据预处理脚本存在错误：
[doccano.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/text_classification/doccano.py#L112)
[code]
应该修改为：
[code]
args.task_type == 'hierarchical'时, 生成的example拼接了包含文档所有标签的label_list, 此处错误, 应拼接的是包含单行标签的label_dict.

[2022-11-17 03:01] lugimzzz commented on #3686
复现了一下发现和PaddleNLP的版本无关，确实在paddlepaddle 2.4.0环境下会出现这个问题，我们现在正在排查修复。请暂时使用paddlepaddle 2.3的版本

[2022-11-17 03:24] lugimzzz commented on #3790
预处理代码逻辑确实这里写的有问题，感谢指出。你这边可以提一个PR，修复这个错误

PR流程可以参考以下链接：[PaddleNLP如何贡献PR](https://paddlenlp.readthedocs.io/zh/latest/community/contribute_datasets/sharing_dataset.html)

[2022-11-17 03:33] #3768 closed, assigned to JunnYu

[2022-11-17 03:34] JunnYu commented on #3768
你好，现在这里的代码已经修复了！

[2022-11-17 05:11] svjack opened #3791 "[Question]: 使用 document_intelligence 估计出的答案在图片中没有那个字符串"
### 请提出你的问题

您好
[code]
![sample1](https://user-images.githubusercontent.com/27874014/202361394-f9cd3a69-a898-4c79-afa1-03c2928a6ab3.jpg)

用这个图片 输出的结果是
[code]
而且使用paddleocr识别后也没有这个字符串，请问这个结果是如何产生的？

[2022-11-17 06:04] lx1054331851 commented on #1316
@ZeyuChen 您好，我是纺织服装领域的，发现Taskflow在我们这个领域的分词效果也不是很好，如何能选择预训练模型，或者是我用自己的数据做一些微调呢？

[2022-11-17 06:12] linjieccc commented on #1316
@lx1054331851 你好，可以参考这里的增量训练示例定制自己的分词模型

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/ernie-ctm

[2022-11-17 06:18] paulpaul91 commented on #3791
看着右侧是有的呀，郊是ocr识别错误了

[2022-11-17 06:36] jyjy007 opened #3795 "[Question]: ernie-doc run_mrc.py训练阅读理解模型异常退出"
### 请提出你的问题

想做一个抽取式阅读理解任务，目前看到合适的模型是ernie-doc？
用模型提供的训练脚本run_mrc.py训练时，训练过程异常退出：
[code]

初步看应该是现存不足的问题，训练过程查看显卡 状态：
[code]

这个模型训练需要多少显存？我自己电脑的独立显卡8G，全部用于这个模型训练都不够用，把batch_size设置为1，仍然无法正常训练。
请问一下有没有什么解决办法？

[2022-11-17 06:55] yuwochangzai commented on #3703
有没有搭配A10的完整服务器配置推荐？

[2022-11-17 07:14] jyjy007 commented on #3795
刚定位了一下，run_mrc.py运行到这里退出，并且没有报错信息，像是被系统kill的。
[code]

[2022-11-17 07:46] jyjy007 commented on #3795
这个错误是不是类似unix系统下的segment错误？推测是内存越界吗？

[2022-11-17 07:56] starryzwh opened #3797 "使用Taskflow时的参数问题[Question]:"
### 请提出你的问题

您好，在gpu环境下，使用paddlepaddle-gpu，在使用paddlenlp的Taskflow时，能否指定使用推理设备为CPU？我看源码是默认通过paddle.get_device来进行判定的，如何设置使用CPU

[2022-11-17 08:07] yuwochangzai opened #3798 "[Question]: UIE预测报错"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/6983001/202390841-02b1e6e4-ac9e-4a61-ba97-6ef9bd2fcd60.png)

[2022-11-17 08:08] starryzwh commented on #3797
在后续尝试中，将参数device_id设置为-1，运行时没有用到gpu资源，是否认为，-1代表cpu设备？

[2022-11-17 08:53] wn1652400018 opened #3799 "docprompt发布过去已经20多天，希望paddlenlp人员能够抽空把docprompt的动态图模型及参数发布出来。"
### Feature request

document_intelligence任务需要提供动态图的模型参数和模型代码

### Motivation

目前paddlenlp中的docprompt的zero-shot性能非常的不错，但是仍然需要微调。
官方目前只提供了静态图的模型参数，但是对应动态图模型的参数和模型网络代码没有提供，导致不能进行微调。
虽然官方提供了在ErnieLayout模型上微调的脚本，但是该脚本训练的模型不能直接用在docprompt任务中（我通过调试发现，他们的输入明显不一样），而且ernielayout-xlm-base没有在文档问答的数据上预训练过。
docprompt发布过去已经20多天，希望paddlenlp人员能够抽空把docprompt的动态图模型及参数发布出来。

### Your contribution

。

[2022-11-17 09:01] briup1 opened #3800 "[Question]: 调用Trainer时传入lr_scheduler_type cosine 后lr不变化"
### 请提出你的问题

在使用UIE的Finetune.py脚本时，传入lr_scheduler_type cosine 后监控lr 并无变化 ，请问是或正常？

[2022-11-17 09:11] wawltor commented on #3797
是的

[2022-11-17 09:28] LemonNoel commented on #3783
建议重新拉取develop代码，卸载原有 paddlenlp 后再安装。或者等晚上发版后安装 2.4.3 版本再试试。

[code]

[2022-11-17 09:50] sijunhe commented on #3774
我这边merge了一个关于text classification的PR， 可以加上 https://github.com/PaddlePaddle/PaddleNLP/pull/3679

[2022-11-17 11:12] menghonghan opened #3802 "[Question]: UIE模型偶尔出现AttributeError: 'paddle.fluid.core_avx.Tensor' object has no attribute 'numpy'"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/61367724/202430926-07c37003-5e39-4f43-88ca-377a42073c07.png)
paddle==2.3.2
paddlenlp==2.4.1
python ==3.7

![image](https://user-images.githubusercontent.com/61367724/202431300-5bc63d26-e7fb-43d6-9099-b2850f2510f6.png)

这个问题是偶尔出现的，input_id在运行成功的情况下是paddle.Tensor 报错时类型为paddle.fluid.core_avx.Tensor  ，请问如何解决这个问题，以及发生的原因是什么，谢谢。

[2022-11-17 11:42] wawltor commented on #3802
是否出现了Taskflow和其他程序混用的情况了？
或者提供一下代码？

[2022-11-17 12:49] zchengzhong commented on #3672
这个问题能解决一下吗？感觉像是用了flash之后的问题，有没有别的部署方式，可以让uie变成服务？想稍微正式点用都没办法，咱paddlenlp应该是想让大众都能用起来，而不是让人玩玩而已吧

[2022-11-17 12:51] zchengzhong commented on #3672
我在一台gpu服务器上部署同样的代码，只能执行一次，第二次请求就卡住了。不一定要使用我提供的模型可以用paddlenlp自己的模型。。没法用呀，急等。。

我在一台gpu服务器上部署同样的代码，只能执行一次，第二次请求就卡住了。不一定要使用我提供的模型可以用paddlenlp自己的模型。。没法用呀，急等。。

[2022-11-17 14:38] godlockin commented on #3768
响应真快，感谢

[2022-11-17 15:36] godlockin opened #3804 "[Question]: dreambooth keyword may have less weight than the normal ones? 通过dreambooth“塞”进模型里的东西权重不够怎么办"
### 请提出你的问题

process:
1. prepare tens of images include some item/object
2. run `ppdiffusers/example/dreambooth/...`
3. do generation by exported model and prompt, the prompt include not only the object 'sks' pinned, but also some other attributes with adjectives

the results generated by model may not include the object we pinned by 'sks', but have the attributes based on the other prompt

so, my

[2022-11-17 16:27] jerrylsu commented on #3802
UIE的推理是线程不安全的，检查一下是否多线程推理了

[2022-11-18 01:41] svjack commented on #3791
如果以PPstructure 的观点 这个问题答案既出现在text中也出现在类似table的结构中 当两个都有较高置信度时 有没有办法制定一个优先级 或者规则嵌入方法？

[2022-11-18 02:11] wawltor commented on #3795
看起来是显存越界了

[2022-11-18 02:12] wawltor commented on #3782
Paddle量化+INT8 相比于 TRT自带量化+INT8预测 性能基本一致，因为都是使用了TRT作为backend

[2022-11-18 02:15] ZHUI commented on #3800
你好，请升级 paddlenlp 到最新版本试一试看看？`pip install paddlenlp==2.4.3`

[2022-11-18 02:17] #3747 closed, assigned to LiuChiachi

[2022-11-18 02:19] #3722 closed, assigned to w5688414

[2022-11-18 02:24] lugimzzz commented on #3790
已修复https://github.com/PaddlePaddle/PaddleNLP/pull/3806

[2022-11-18 02:24] #3790 closed, assigned to lugimzzz

[2022-11-18 02:25] lugimzzz commented on #3509
已解决

[2022-11-18 02:25] #3509 closed, assigned to lugimzzz

[2022-11-18 02:25] #3616 closed, assigned to lugimzzz

[2022-11-18 02:34] jyjy007 commented on #3795
那是显存不足吗？这个模型训练8G显存都不够用吗。。。

[2022-11-18 02:51] lucky0604 commented on #3777
感谢，已解决

[2022-11-18 02:51] #3777 closed, assigned to wawltor

[2022-11-18 03:29] JunnYu commented on #3804
个人感觉 从代码层面上看 **dreambooth训练**跟**模型微调**一样，因此的确会出现你说的这种情况。
如果想要加强里面部分单词的权重，这其实也没有什么太好的办法。
可能需要模型训练的时间更久，模型才能真正关注到这个 "sks"的意思。

[2022-11-18 03:36] wawltor commented on #3672
[code]
我们使用上述的代码并不会出现卡住的情况，你可以先用上面的代码测试一下，是否有卡住的情况，然后再去排查自己的环境；同时我们这套部署代码也是提供很多开发者，均没有上述的问题

同时我们做部署的机器是Linux机器，看你的机器是Windows环境，不确定是否和windows环境是否有关系

[2022-11-18 03:45] jyjy007 opened #3807 "[Question]: PaddleNLP/examples/machine_reading_comprehension/DuReader-robust这个模型如何预测？"
### 请提出你的问题

听说dureader的相关工作已经合并到paddlenlp了，但是在model_zoo没有看到有相关的模型，在example下看到有简单的dureader-robust的介绍，这里提供了封装好的模型训练脚本。但是模型预测似乎有点麻烦，不知道是否有封装更完善的dureader-robust抽取式阅读理解的模型应用代码？

[2022-11-18 03:58] linjieccc commented on #3802
试试在Taskflow调用时加上``paddle.disable_static()``

[2022-11-18 04:01] linjieccc commented on #3798
@yuwochangzai 方便提供下复现代码以及paddlenlp版本信息么

[2022-11-18 04:32] godlockin commented on #3804
现在代码里在哪里可以把'sks'给改了，看推特上说sks是一种枪的型号，建议换掉…

现在有些困扰，似乎放更多的样本数据，增加更多的训练轮数，降低学习率…效果都不增反降，都没有直接default参数训练一轮的效果好

btw，我有个刷了100轮的模型确实sks丢啥进去都是奇形怪状的枪，可能就是这个原因

[2022-11-18 07:08] yuwochangzai commented on #3798
你好，调用UIE下的[deploy/python/uie_predictor.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py#L458)的[predict](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py#L458)方法报的错，版本信息如下：
![image](https://user-images.githubusercontent.com/6983001/202641988-37ca95d8-da58-4aaf-8741-25bac4130c70.png)

[2022-11-18 08:07] jyjy007 commented on #3752
请问下，纯文本的mrc，用什么模型合适？感觉用dureader合适，可是好像感觉支持的不是很好，用起来有点麻烦，有没有像uie/docpromt之类用taskflow这种封装比较完整的？

[2022-11-18 08:21] yuwochangzai commented on #3798
是不是因为线程不安全的原因，今天跑那一批待预测的数据，又不报错了

[2022-11-18 09:46] lichuantao6626 opened #3814 "[Question]: 我是使用doccano标注数据的时候，按照文档中的指示步骤，生成的json数据中entities项都是空的，例如：{"id":90,"text":"厦门到深圳500块钱4月24号交通费","entities":[],"relations":[]}"
### 请提出你的问题

我是使用doccano标注数据的时候，按照文档中的指示步骤，生成的json数据中entities项都是空的，例如：{"id":90,"text":"厦门到深圳500块钱4月24号交通费","entities":[],"relations":[]}

参考的文档有：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E5%AE%9E%E4%BD%93%E6%8A%BD%E5%8F%96  这个里面的训练定制部分
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md

[2022-11-18 09:47] lichuantao6626 commented on #3814
使用的测试数据：
深大到双龙28块钱4月24号交通费
北大到清华30块钱6月24号交通费
汉威国际到双龙20块钱4月24号交通费
小红门到宋家庄30块钱4月24号交通费
北京到上海600块钱12月30号交通费
广东到沈阳700块钱4月24号交通费
新疆到合肥3000块钱4月24号交通费
宁夏到甘肃300块钱4月24号交通费
福州到合肥400块钱4月24号交通费
厦门到深圳500块钱4月24号交通费

[2022-11-18 09:49] lichuantao6626 commented on #3814
测试的效果：
{"id":81,"text":"深大到双龙28块钱4月24号交通费","entities":[],"relations":[]}
{"id":82,"text":"北大到清华30块钱6月24号交通费","entities":[],"relations":[]}
{"id":83,"text":"汉威国际到双龙20块钱4月24号交通费","entities":[],"relations":[]}
{"id":84,"text":"小红门到宋家庄30块钱4月24号交通费","entities":[],"relations":[]}
{"id":85,"text":"北京到上海600块钱12月30号交通费","entities":[],"relations":[]}
{"id":86,"text":"广东到沈阳700块钱4月24号交通费","entities":[],"relat

[2022-11-18 09:56] ZeyuTeng96 opened #3815 "[Question]: 关于ppdiffuser使用到ema技术的问题"
### 请提出你的问题

之前在下面这个链接看到了ppdiffuser里面用了ema技术：

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/ppdiffusers/ppdiffusers/models/ema.py

在交流群里问到大佬，说是在预训练阶段会使用到。能否请问大佬给个具体使用到ema做训练的脚本文件链接。

还有就是，ema貌似会让模型的训练时间增加，如果在预训练阶段就用ema，这个预训练耗时会不会很长？

使用ema后，对模型的所带来的效果提升又有多少，是否有消融实习什么的？

谢谢大佬

[2022-11-18 10:01] linjieccc commented on #3814
Hi, @lichuantao6626

你的doccano版本是多少？

[2022-11-18 10:08] lichuantao6626 commented on #3814
好像是1.8的版本

| |
lichuantao6626
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | Linjie ***@***.***> |
| 日期 | 2022年11月18日 18:02 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleNLP] [Question]: 我是使用doccano标注数据的时候，按照文档中的指示步骤，生成的json数据中entities项都是空的，例如：{"id":90,"text":"厦门到深圳500块钱4月24号交通费","entities":[],"relations":[]} (Issue #3814) |

Hi, @lichuantao6626

你的doccano版

[2022-11-18 10:14] Gavingx commented on #3783
我重新clone了tag 2.4.3的代码，已经通了。但是又出现新的问题。执行脚本如下：
`python train.py \
--overwrite_output_dir True
--device gpu:1 \
--data_dir ./data \
--output_dir ./checkpoints/ \
--prompt "这条新闻标题的主题是" \
--max_seq_length 128  \
--learning_rate 3e-6 \
--ppt_learning_rate 3e-5 \
--do_train \
--do_eval \
--use_rdrop \
--max_steps 1000 \
--eval_steps 10 \
--logging_steps 5 \
--save_total_limit 1 \
--load_best_model_at_end

[2022-11-18 10:29] linjieccc commented on #3814
用1.6.2或者1.7.0版本试试呢，我们在1.6.2和1.7.0版本上验证过没问题

[2022-11-18 10:33] JunnYu commented on #3815
- 预训练的过程中我们提供了ema的选项
https://github.com/PaddlePaddle/PaddleNLP/blob/6e73ee0019b1b3dae5e48b34a08f131ffda2efb9/ppdiffusers/examples/text_to_image_laion400m/ldm/model.py#L132-L144
- ema的确会增加训练时间，之前也测过数据但没记录下载。
- ema也会增加部分显存，因为又开辟一个空间存储模型的参数。
- ema对于模型效果的提升其实也不是太大的，目前我们这里并未有进行消融实验。

[2022-11-18 13:21] MengZou0905 opened #3818 "neural_search ranking里cross encoder提供的预训练模型似乎有误"
您好，neural_search ranking部分cross encoder提供的预训练模型似乎有误（和ernie match提供的预训练模型混淆了），请问能帮忙核查一下吗？非常感谢！
[https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/cross_encoder](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/ranking/cross_encoder#5-%E6%A8%A1%E5%9E%8B%E8%AE%AD%E7%BB%83)

[2022-11-18 13:41] MengZou0905 opened #3819 "neural_search ranking里的model_name_or_path 和params_path可以只设置一个吗？"
你好，我试着运行了代码。指定了model_name_or_path后，代码会自动下载对应的模型到默认路径里，下载的模型通过from_pretrained方法被加载。为什么随后还要设置params_path呢？并且这个params_path会通过set_dict加载到模型里。

不明白model_name_or_path 和params_path分别是做什么的，对应需要提供什么文件。代码例子见：[https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/ranking/cross_encoder/predict.py](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/ran

[2022-11-18 15:25] canghongjian opened #3820 "[Bug]: 添加自定义tokens后，tokenizer返回offsets mapping未能识别出自定义tokens"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

复现代码及结果如下。
如图，并未识别出我自定义的"d"token
![image](https://user-images.githubusercontent.com/34473193/202739041-d1f0ce5d-d5bd-4bf4-a4ee-c037112acbe3.png)
下面是huggingface的对应结果，正确展示
![image](https://user-images.githubusercontent.com/34473193/202739248-8000eca2-4f49-46ef-99c8-e026746e0aae.png)

[2022-11-18 16:37] w5688414 commented on #3819
是可以的，确保model_name_or_path里面需要包含model_config.json, vocab.txt等文件

[2022-11-18 16:38] w5688414 commented on #3818
感谢提醒，考虑到训练出来的模型不太通用（不过数据集已经开源，您可以训练出来），只是方法通用，所以cross encoder目前没有提供预训练模型。

[2022-11-18 23:32] hehuang139 opened #3822 "[Bug]: uie-x f1只能达到0.55，并且labelstudio.py转换脚本生成的数据集bboxes生成错误"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

1. 下载标记
wget https://paddlenlp.bj.bcebos.com/datasets/tax.tar.gz
tar -zxvf tax.tar.gz
mv tax data
rm tax.tar.gz

2. 通过label_studio.py 转换
python ../label_studio.py \
    --label_studio_file ./data/label_studio.json \
    --save_dir ./data \
    --splits 0.8 0.2 0\
    --task_type ext
发现生成的训练集bb

[2022-11-18 23:33] hehuang139 commented on #3822
@linjieccc 帮忙看下uie-x分支问题，效果并不好

[2022-11-18 23:47] hehuang139 commented on #3822
以下是我验证的过程

1. 调整学习率5e-6,epoch为100，发现最后过拟合了，模型预测f1始终无法超过60%，说明确实50%是当前数据集的f1
2. 怀疑是否为字符未拆分bbox的原因，所以修改bbox，拆分字符bbox，但是f1也是没有变好，还是50%，和未拆分差不多
[code]
[code]

[2022-11-19 01:36] fangjiyuan opened #3823 "[Bug]: semantic-search例子使用streamlit上传文件无法自动建立索引"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

python3 utils/offline_ann.py --index_name dureader_robust_query_encoder --doc_dir data/TEST --search_engine elastic --delete_index
这是ok的。
python3 utils/offline_ann.py --index_name dureader_robust_query_encoder --doc_dir data/test.docx --search_engine elastic --delete_index
无效。

[2022-11-19 02:33] MengZou0905 commented on #3818
谢谢您的回复~
因为看到有性能对比：
![image](https://user-images.githubusercontent.com/20831637/202830223-884f9a34-9373-410d-bff1-978c2081440c.png)
并且pairwise方式的ERNIE-Gram模型提供了，自己训练不确定是否会因为设置误差导致复现不到对应效果，就非常期待平行对比的Cross encoder能放出预训练模型呀~

[2022-11-19 03:24] lichuantao6626 commented on #3814
您好，我重新安装的1.6的版本，然后导出的数据还是：{"id": 2, "text": "张浩6月7日苏州街地铁站到海淀黄庄", "relations": [], "entities": []}
问题疑点：
1、抽取式任务标签的span和Relation两个标签都要配置吗，按照文档我两个配置了
![image](https://user-images.githubusercontent.com/102787771/202832101-ce1d71a9-c7e4-4e04-83e1-8b7c10553807.png)
![image](https://user-images.githubusercontent.com/102787771/202832106-6aaf8e64-58ae-4939-8500-9a3cb3a89343.png)
2、我在上传数据的时候报了一个错：
[2022-11

[2022-11-19 07:15] MengZou0905 commented on #3819
可是，我打印了加载model_name_or_path后的模型参数，以及加载了model_name_or_path和params_path的模型参数，发现参数是不一样的。。。
我可不可以理解成model_name_or_path对应的文件是训练起点模型的参数，params_path对应的文件才真正在特定任务上finetune之后的参数？

[2022-11-19 08:23] lichuantao6626 opened #3825 "[Question]: 'CompressionArguments' object has no attribute 'do_compress'"
### 请提出你的问题

我在使用TaskFlow的定制训练模型中，加入自己的数据进行了模型的微调，但是在执行完下面这个命令后，
python finetune.py  \
    --device gpu \
    --logging_steps 10 \
    --save_steps 100 \
    --eval_steps 100 \
    --seed 42 \
    --model_name_or_path uie-base \
    --output_dir $finetuned_model \
    --train_path data/train.txt \
    --dev_path data/dev.txt  \
    --max_seq_length 512  \
    --per_device_eval_batch_size 16 \

[2022-11-19 08:40] wawltor commented on #3825
升级到最新PaddleNLP的版本，eval_f1 表示验证集的F1值，表示模型效果

[2022-11-19 10:42] w5688414 commented on #3823
--doc_dir 传入的是文件夹，请把您的docx文件放在文件夹里面

[2022-11-19 10:45] w5688414 commented on #3819
可以的，model_name_or_path用来加载模型的配置和tokenizer的配置，params_path是加载训练好的模型的参数

[2022-11-19 10:52] MengZou0905 commented on #3819
如果把model_name_or_path设置成“ernie-3.0-medium-zh”，不设置params_path，这时候模型的参数会被设置成ernie-3.0-medium-zh对应的参数吗？还是说仅仅将模型的层数，大小等配置设置成和ernie-3.0-medium-zh一样，但是参数是随机的？（毕竟没有设置params_path）

[2022-11-19 14:15] w5688414 commented on #3819
会初始化相应的参数，训练的时候参数会被设置成跟ernie-3.0-medium-zh一样的，预测的时候也会初始化一遍参数，不过参数又会被params_path的模型参数覆盖

[2022-11-19 14:18] w5688414 commented on #3818
您可以先跑一下cross encoder，很容易复现，我记得当时都没有调参数，可能有更好的参数优化auc

[2022-11-19 15:52] 1649759610 commented on #3820
感谢提出问题，我们后续会尽快排验证和处理。

[2022-11-20 12:54] lx1054331851 commented on #1316
@linjieccc 好的，谢谢，我试试。

[2022-11-20 14:45] xinaiwunai opened #3826 ""AssertionError: input_ids: 17, label: 18" in sentiment_analysis/extraction -> sh run_train.sh"
aistudio@jupyter-114597-5085407:~/work/PaddleNLP-develop/applications/sentiment_analysis/extraction$ pip list|grep paddle
paddle-bfloat                  0.1.7
paddle2onnx                    1.0.0
paddlefsl                      1.1.0
paddlehub                      2.3.0
paddlenlp                      2.3.0rc0
paddlepaddle-gpu               2.4.0rc0.post112
tb-paddle                      0.3.6

----

[2022-11-21 01:27] ZTurboX opened #3827 "AutoPrompt 生成应用"
### 请提出你的问题

AutoPrompt 可以做生成类应用吗？

[2022-11-21 01:52] guoshengCS commented on #3807
目前有的相关代码在这里 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/machine_reading_comprehension/DuReader-robust ，暂时还没有更多的例子，请问您那边是遇到什么问题了呢

[2022-11-21 01:53] svjack opened #3828 "[Question]: ernie-layout mrc 任务的数据格式问题"
### 请提出你的问题

https://github.com/PaddlePaddle/PaddleNLP/blob/cf478ba6ee3a0e76741bdb901b671ef3ff6d024f/model_zoo/ernie-layout/README.md

enire-layout 中 utils.py 中数据预处理模块好像跟docvqa_zh中的数据格式有些没有对齐。
比如下载后的docvqa_zh没有 pageno 这个域 answers 的解析也有细微差别
如果是这样能修正一下吗？

[2022-11-21 01:53] AI-Mart opened #3829 "PaddleNLP/model_zoo/uie/deploy/python/infer_gpu.py"
### 问题描述

infer_gpu.py 里面能配置能有use_fast的参数实现加速吗？
use_fast: 使用C++实现的高性能分词算子FastTokenizer进行文本预处理加速。需要通过pip install fast_tokenizer安装FastTokenizer库后方可使用。默认为False。更多使用说明可参考[FastTokenizer文档](https://gitee.com/AI-Mart/PaddleNLP/blob/develop/fast_tokenizer)。

self._tokenizer = AutoTokenizer.from_pretrained("ernie-3.0-base-zh"，  use_fast=True)是这样配置吗？

[2022-11-21 02:02] AI-Mart commented on #3829
我看官方infer_gpu.py代码没有这个参数配置？

[2022-11-21 02:02] menghonghan commented on #3802
调用方式：
ie = Taskflow('information_extraction', schema=schema, task_path='/UIE',user_dict=path,device_id=-1)
直接调用没有问题，报错时是用flask多线程调的，有什么改进办法吗谢谢

[2022-11-21 02:09] jyjy007 commented on #3807
我是想对自己的数据进行模型预测，如果根据run_du.py进行预测，感觉代码有点复杂，这里有没有更多的示例代码？
另外就是有没有像paddlenlp其他模块比如uie之类的封装在taskflow里这样比较简洁的用法？

[2022-11-21 02:13] Wong4j opened #3830 "[Question]: faster tokenizer的使用方法"
### 请提出你的问题

Hi，我看到faster tokenizer提供了不同的使用方式，我有一些疑惑：
README提供了一个ErnieFastTokenizer的示例。另外 `fast_tokenizer/perf/perf.py`这里也有一个对比huggingface性能的例子
前者用的是
[code]
后者用的是
[code]
这两个区别是什么呢。
前一种方法output包含了ids, type_ids, tokens, offsets, attention_mask
后一种方法只能输出input_ids, token_type_ids。

我自己测试用这两种方法处理同一个大文本，速度相差几倍。

请问这两种方法的实现有什么区别呢？ 后者能否也输出tokens (wordpieces)

[2022-11-21 02:15] linjieccc commented on #3822
Hi，@hehuang139

感谢反馈问题以及对UIE-X相关工作的关注！目前这个分支的相关功能在持续开发中，可以等我们合入一个稳定版本到develop分支。

UIE中bbox的粒度是片段粒度，没有再做字的切分，doc_reader中的处理逻辑会分别对不同片段进行Tokenizer后合并在一起

[2022-11-21 02:16] 1649759610 commented on #3826
训练配置或代码中有做过修改吗，另外方便提供下你的训练数据吗，或者能够复现该问题的最小数据集合。

[2022-11-21 02:16] menghonghan commented on #3802
你好，我这个实际应用要求效率，转动态图之后会慢很多，有没有什么静态下的解决方案呢谢谢

[2022-11-21 02:17] linjieccc commented on #3814
Hi，@lichuantao6626

请参考标注示例并排查下文本中的实体、关系是否被正确标注

[2022-11-21 02:19] ZeyuTeng96 commented on #3815
我个人使用ema的时候感觉还是有一定提升的，但并没有使用过很多次，大佬是使用过很多次，觉得对模型效果提升不是太大？

还有就是我个人在使用时，发现ema会增加训练时间这一问题后，我一般会先训练一遍不使用ema的模型，根据之前模型不使用ema在各个epoch的收敛、精度等情况，再重新训练一个带有使用ema的模型，让模型在特定的epoch开启使用ema，这个思路大佬觉得是否合理呢？

[2022-11-21 02:20] linjieccc commented on #3802
Hi, @menghonghan Taskflow不是线程安全的，flask调用可以参考 #3760 加锁

[2022-11-21 02:20] Wong4j commented on #3830
补充一点，前者似乎只能输入一个string，后者可以传入包含多个string的tensor。

[2022-11-21 02:43] menghonghan commented on #3802
好的谢谢，请问用加锁这种方式之后，还需要paddle.disable_static() 这一步吗

[2022-11-21 02:56] lichuantao6626 commented on #3814
感谢啊，问题已经解决了 span实体标注上有问题，导致导出没有实体数据，在微信群里已经有人帮我指出来了。

| |
lichuantao6626
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | Linjie ***@***.***> |
| 日期 | 2022年11月21日 10:17 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleNLP] [Question]: 我是使用doccano标注数据的时候，按照文档中的指示步骤，生成的json数据中entities项都是空的，例如：{"id":90,"text":"厦门到深圳500块钱4月24号交通费","entities":[],"relations":[]} (Issu

[2022-11-21 03:34] wangtiehu opened #3832 "paddle serving部署服务启动报错TypeError: can't pickle _thread.lock objects[Question]:"
### 请提出你的问题

您好！我在使用D:\PaddleNLP-develop\applications\text_classification\multi_class\deploy\paddle_serving部署方案时，根据教程启动python service.py 一直报错TypeError: can't pickle _thread.lock objects和EOFError: Ran out of input
操作系统：windows10
python 3.7
paddle-serving-app        0.9.0
paddle-serving-client     0.9.0
paddle-serving-server     0.9.0
paddle-serving-server-gpu 0.9.0.post1028
paddle2onnx

[2022-11-21 03:35] lichuantao6626 opened #3833 "ERROR/ForkPoolWorker-1] Filename: /root/doccano/media/5ceXQ8YpeWUCLzGKQRCa76/AaQ8eEyKTRsjB523VbsNJr/xxtq2.txt, Line: 2, Data: {}, Error: 'label'[Question]:"
### 请提出你的问题

在使用doccano数据标注平台导入数据的时候，每次导入数据都会报个错误提示：
[2022-11-21 02:43:37,801: INFO/MainProcess] Task data_import.celery_tasks.import_dataset[7b2514c0-1c16-4d46-a559-5345ab461fc0] received
[2022-11-21 02:43:37,813: ERROR/ForkPoolWorker-1] Filename: /root/doccano/media/5ceXQ8YpeWUCLzGKQRCa76/AaQ8eEyKTRsjB523VbsNJr/xxtq2.txt, Line: 1, Data: {}, Error: 'label'
[2022-11-21 02:43:37,813: ERROR/ForkPool

[2022-11-21 03:37] myboyliu commented on #3523
我的也是同样问题。看看解决了吗？
-----------------------------------------
  File "D:\Anaconda3\envs\py3.8\lib\site-packages\paddlenlp\taskflow\task.py", line 174, in _prepare_static_mode
    self.predictor = paddle.inference.create_predictor(self._config)
RuntimeError: (Unavailable) An error occurred while loading model parameters. Please check whether the model file is complete or damaged.
  [Hint: Expected sta

[2022-11-21 03:39] MachineSheep commented on #3523
没有解决

[2022-11-21 03:45] xinaiwunai commented on #3826
@1649759610

使用的是[README](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/sentiment_analysis/extraction)中的脚本和[Demo数据](https://bj.bcebos.com/v1/paddlenlp/data/ext_data.tar.gz).

经过几次测试，怀疑是当text中包含空格时，token出的id位数会有缺失。
如，data/ext_data/train.txt 中的第12行
`我自己喜欢的炒饭味道 就是这样的	O O O B-Opinion I-Opinion O O O B-Aspect I-Aspect O O O O O O`
'味道'后面有一个空格' '，判断字符串长度的时候，前后一致。
但当转为token-id的时候，长度

[2022-11-21 03:45] xinaiwunai commented on #3826
使用的是[README](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/sentiment_analysis/extraction)中的脚本和[Demo数据](https://bj.bcebos.com/v1/paddlenlp/data/ext_data.tar.gz).

经过几次测试，怀疑是当text中包含空格时，token出的id位数会有缺失。
如，data/ext_data/train.txt 中的第12行
我自己喜欢的炒饭味道 就是这样的 O O O B-Opinion I-Opinion O O O B-Aspect I-Aspect O O O O O O
'味道后面又一个空格，判断字符串长度的时候，前后一致。
但当转为token-id的时候，长度就缺少了一位。
同时，如果将文本中另外

[2022-11-21 04:40] wawltor commented on #3829
这里主要是相关配置在UIE上还不是特别稳定，也可以直接修改试试
https://github.com/PaddlePaddle/PaddleNLP/blob/4f56bafdbf6848930700b7d4ae8619158d486bc4/model_zoo/uie/deploy/python/uie_predictor.py#L96

[2022-11-21 04:42] wawltor commented on #3827
可以的，目前AutoPrompt template 的设计可以兼容生成模型，不过目前我们还没有开发相关示例出来

[2022-11-21 04:51] linjieccc commented on #3833
Hi，@lichuantao6626

试试新建一个干净的conda环境，重装下doccano。如果还有问题，可以到doccano社群提issue问下：https://github.com/doccano/doccano

[2022-11-21 04:59] linjieccc commented on #3523
Hi，可以check下机器的内存使用情况，看下是否有内存不足的问题

[2022-11-21 05:01] joey12300 commented on #3830
@Wong4j 前者也能输入多个string，并且前者的功能齐全。前者是支持输出`offsets`，阅读理解任务是依赖`offsets`信息的。换句话说，fast_tokenizer库提供的`ErnieFastTokenizer`是几乎覆盖所有任务，而`paddlenlp.experimental. FastTokenizer `只支持文本分类任务、序列标注任务，并且输出只有`input_ids`, `token_type_ids`，无法输出`tokens`。

至于性能这一块，你是怎么测试具体的性能呢？

[2022-11-21 05:07] linjieccc commented on #3828
Hi，@svjack

当前我们统一了ERNIE-Layout不同下游任务数据集的数据结构，因此在数据集加载的时候会针对不同原始数据集处理为统一的结构，这里是docvqa_zh数据集相关字段和对应数据结构定义，https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/hf_datasets/docvqa_zh.py#L65

处理后的数据格式示例：

[code]

[2022-11-21 05:12] godlockin opened #3834 "[Question]: memory leak during model fine-tuning in aistudio"
### 请提出你的问题

env: aistudio
lab: paddlenlp ppdiffusers
processes:
1. prepare some images
[code]
2. modify the training script and do training
[code]

3. the 1st time we do training it works, but if we do the 2nd training or images prompt generation, OOM exception happens (without memory release)
[code]

[2022-11-21 05:19] godlockin commented on #3834
i've tried close the alive tab (include jupyter and terminal), restart kernel .etc but nothing works but stop and start the project again

[2022-11-21 05:22] svjack commented on #3828
从
_URL = "https://bj.bcebos.com/paddlenlp/datasets/docvqa_zh.tar.gz"
下载数据集之后 用dataset load 或者pandas 看列名时
<img width="776" alt="Screenshot 2022-11-21 at 13 19 45" src="https://user-images.githubusercontent.com/27874014/202971607-a08e6762-0e8b-42b8-bd51-36e680381393.png">

没有page_no 这个域

[2022-11-21 05:26] svjack commented on #3828
utils.py 中
[code]
改成
[code]
才能运行

[2022-11-21 06:02] Wong4j commented on #3830
输入多个string是指的encode_batch吗？似乎可以输入一个list of string.

我的测试方法：
将一个wikipedia的文本按行读取，比如有100万行，`input`就是一个含有100万个string的list
[code]

[code]

后者比前者快3倍多。我猜是不是两种方法中`input_ids`和`token_type_ids`是调用的相同的c++实现来计算的，但是前者多了额外的tokens, mask等输出，使用python实现所以开销多了很多？

[2022-11-21 06:25] Drizzlenum opened #3835 "[Question]: 蒸馏后的模型使用问题"
### 请提出你的问题

正常生成的模型，经过TaskFlow实例化后可以进行多次预测，按照模型蒸馏过程，蒸馏后的模型实例化后只有第一次预测样例正确，第二次及以后的预测会出现不断按字数补全样本的效果，结果有误。故在模型使用过程中每次都重新实例化，这样推测时间就加长了，不知道具体是什么原因。麻烦各位解答。

[2022-11-21 06:37] lichuantao6626 commented on #3833
好的，感谢！

[2022-11-21 06:39] joey12300 commented on #3830
你可以尝试使用 `tokenizer.encode_batch(input)` 替代`encode`方法，避免对每个string进行循环。

### 开销分析
前者主要多了offset计算。Tokenizer在切分前，会对原始文本进行一些文本预处理（如大小写转换，NFC转换等），在这个阶段，前者会记录原始offset的位置，每对一个字符做转换，都会记录一次offset位置，这带来了额外开销。所以在处理相同长度、批次的文本时，前者会有一定的额外开销。

### 优化建议
目前fast_tokenizer完成了一些升级，可以`pip install fast-tokenizer-python`安装最新版本的`fast_tokenizer`。针对批量的文本分词，可以通过多线程方式加速分词，可以调用`fast_tokenizer.set_thread_num(xxx)`方式设置线程数完成加速。可以

[2022-11-21 06:45] godlockin opened #3837 "[Question]: api changed in ppdiffusers while readme didn't update"
### 请提出你的问题

env: aistudio
process:
1. install & import labs
[code]
2. do redraw
[code]
3. 1st exception raised
[code]
4. change the code into `image = pipe(prompt=prompt, image=init_image, mask_image=mask_image, strength=0.75).images[0]`
5. 2nd exception raised
[code]

[2022-11-21 06:45] xieyu0214 opened #3838 "API 文档不好用，搜索不到具体类"
### 软件环境

[code]

### 详细描述

[code]

[2022-11-21 06:46] xieyu0214 commented on #3838
原来是很好用的，最近更新后就不行了。。

[2022-11-21 06:55] wawltor commented on #3832
PaddleServing目前在windows的不太好，我们新增了一个PaddleNLP Serving的功能，相对比较简易

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class/deploy/SimpleServing

可以安装一下最新PaddleNLP的develop版本，可以尝试一下这个功能

[2022-11-21 06:55] xinaiwunai commented on #3826
升级 paddlenlp 到 2.4.3 后，问题依旧。
--------------------------------------------
aistudio@jupyter-114597-5085407:~/work/PaddleNLP-develop/applications/sentiment_analysis/extraction$ pip list|grep paddle
paddle-bfloat                  0.1.7
paddle2onnx                    1.0.0
paddlefsl                      1.1.0
paddlehub                      2.3.0
paddlenlp                      2.4.3
paddlepaddle-gpu

[2022-11-21 07:04] xinaiwunai commented on #3826
字符串长度一致。
{'text': ['我', '自', '己', '喜', '欢', '的', '炒', '饭', '味', '道', ' ', '就', '是', '这', '样', '的'], 'label': ['O', 'O', 'O', 'B-Opinion', 'I-Opinion', 'O', 'O', 'O', 'B-Aspect', 'I-Aspect', 'O', 'O', 'O', 'O', 'O', 'O']}
-----------------
encoded_inputs = tokenizer(list(example["text"]),
                               is_split_into_words=True,
                               max_seq_len=max_seq_len

[2022-11-21 07:24] AI-Mart commented on #3829
不稳定指的是？能不能产业上落地使用呢？
我看taskflow是有这个参数的哦
 ie = Taskflow('information_extraction',
                  schema="",
                  schema_lang="zh",
                  batch_size=1,
                  model='uie-base',
                  position_prob=0.5,
                  precision='fp32',
                  use_fast=False)

如果不稳定那就不敢产业化使用了哈，如果是漏掉参数了，官方的可以补上去。

[2022-11-21 07:36] godlockin commented on #3837
the param for this api changes after fine tuning?

the model i loaded is from the "runwayml/stable-diffusion-v1-5" + fine tuned by ppdiffusers/../dreambooth

while if i load the original "runwayml/stable-diffusion-v1-5", the commend works then

[2022-11-21 07:41] wawltor commented on #3829
目前不是特别稳定，两边实现稍微有点区别，但是最终指标结果没有影响（有个别case有影响），你可以测试一下在自己的场景的影响

[2022-11-21 07:58] AI-Mart commented on #3829
那还是你们弄稳定再产业化使用了，毕竟这个参数是一键配置的，调用的底层代码，感谢回复

[2022-11-21 08:15] YYGe01 opened #3840 "[Bug]: question_generation/unimo-text GPU训练报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

dureader_qg数据集有点大，从里面拿了一个样本进行训，并复制10遍，同时作为train.json和test.json，如下；
[code]
[code]

[2022-11-21 08:18] YYGe01 commented on #3840
cuda信息如下：
[code]

[2022-11-21 08:55] wawltor commented on #3829
好的

[2022-11-21 08:57] stefanqxb commented on #3738
Thanks @linjieccc , let me check abt it

[2022-11-21 09:00] canghongjian commented on #3838
transformers库里的基本都打不开了，好像是在更新

[2022-11-21 09:00] stefanqxb opened #3842 "[Question]: Extracting Table from multiple pages in PDFs"
### 请提出你的问题

Hi there,
    As of now, in some of our cases, we need to extract some tables from PDF, and a table might actually be crossed two pages, so in this case, the origin Paddle doesnt support pdf as input as I known, so is there a way to take pdf as input?  thanks a lot for the help.

Brs
Bin

[2022-11-21 09:02] wangtiehu commented on #3832
您好！最新的paddlenlp我只找到2.4.3，依旧有报错！请问2.4.4的在哪里下载呢

[2022-11-21 09:03] lugimzzz commented on #3832
安装一下paddlenlp的develop版本

[2022-11-21 09:06] JunnYu commented on #3834
你可以注释这两行代码，我总感觉这个释放GPU显存的代码不太对劲，在aistudio上有时候可以用，有时候就一直出错
https://github.com/PaddlePaddle/PaddleNLP/blob/19c4ca3110991b814c2d40ce3a5ae79328114e0d/ppdiffusers/examples/dreambooth/train_dreambooth.py#L416-L417

[2022-11-21 09:12] WatsonWangZh commented on #3766
感谢回复，请问相关微调数据集有开放的安排吗？

[2022-11-21 09:17] wangtiehu commented on #3832
确实是下载的PaddleNLP-develop.zip，然后pip install paddlenlp==2.4.4,提示最新版本2.4.3，用了2.4.3报错ModuleNotFoundError: paddlenlp-cli tools is not installed correctly, you can use the following command to install paddlenlp cli tool: >>> pip install paddlenlp[cli]

[2022-11-21 09:17] #3829 closed, assigned to wawltor

[2022-11-21 09:33] linjieccc commented on #3835
Hi，

数据蒸馏部分的代码有做改动吗，另外方便提供下训练数据或者可复现问题的最小数据集合么

[2022-11-21 09:39] w5688414 commented on #3842
Hi, @stefanqxb which PaddleNLP application are you using?

[2022-11-21 09:39] Yam0214 opened #3844 "[Bug]: AttributeError: 'BertConfig' object has no attribute 'get'"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[code]

[2022-11-21 09:41] JunnYu commented on #3837
你应该试一下`StableDiffusionInpaintPipelineLegacy`，因为你现在使用的这个StableDiffusionInpaintPipeline是要废弃的版本。

[code]

[2022-11-21 09:43] JunnYu commented on #3837
https://github.com/PaddlePaddle/PaddleNLP/blob/19c4ca3110991b814c2d40ce3a5ae79328114e0d/ppdiffusers/ppdiffusers/pipeline_utils.py#L265-L287

[2022-11-21 09:45] wj-Mcat commented on #3844
you can get `hidden_size` attribute with the following code:

[code]

[2022-11-21 09:53] yangy996 opened #3845 "[Bug]: centos7 python3.6.8 安装paddlenlp 2.3.5之后所有版本报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

pip3 install paddlenlp==2.3.7  -i https://pypi.tuna.tsinghua.edu.cn/simple

[2022-11-21 10:13] wawltor commented on #3845
需要升级python的版本到3.7+

[2022-11-21 10:16] yangy996 commented on #3845
官方文档，写的是>=3.6
![image](https://user-images.githubusercontent.com/15188456/203024978-4a62d631-e34b-40dd-ae27-8efcfb6083a3.png)

[2022-11-21 10:18] w5688414 commented on #3845
Hi, @yangy996 Please refer to this link. https://blog.csdn.net/Ajdidfj/article/details/122889534

[2022-11-21 10:22] wawltor commented on #3845
抱歉，我们修改一下版本依赖，底层的版本依赖发生了一些变化。

[2022-11-21 10:37] #3845 closed, assigned to w5688414, wawltor

[2022-11-21 10:55] w5688414 opened #3847 "[Feature request] Tokenizer支持多个句子编码成input_ids和token_type_ids"
### Feature request

语义检索或者抽取式文本摘要输入的是多个句子，需要对多个句子进行编码。

例如：

[code]
需要出输出：

[code]

### Motivation

语义检索或者抽取式文本摘要输入的是多个句子，需要对多个句子进行编码，目前支持两句话进行编码。

### Your contribution

Provide the demo code

[2022-11-21 11:15] minlik opened #3848 "[Question]: DocPrompt 中 OCR 结果的格式"
### 请提出你的问题

在 DocPrompt 中，可以传入自定义的 OCR 结果：

其中，四个坐标 List[float, float, float, float] 分别是代表什么含义？是左上右下的顺序(x_1, y_1, x_2, y_2)吗？是否进行了归一化处理？

[2022-11-21 11:26] NaivePawn commented on #3773
您好！能将DocPrompt的模型转成可用deploy/python/infer.py执行推理的模型吗

[2022-11-21 11:28] NaivePawn opened #3849 "[Question]: Docprompt可以返回topk的answers吗"
### 请提出你的问题

Docprompt可以返回topk的answers吗

[2022-11-21 11:32] canghongjian commented on #3820
使用albert-xxlarge-v2的tokenizer加上return_offsets=True参数时，报错如下：
[code]

[2022-11-21 13:06] lugimzzz commented on #3849
可以通过配置topn返回topk answers，docprompt = Taskflow("document_intelligence",topn=3)
![image](https://user-images.githubusercontent.com/63761690/203062848-81508ebf-d2ab-4344-957b-db2fff0400d1.png)

[2022-11-21 13:15] wawltor commented on #3832
是否可以加一些我们的微信群然后@ 泽阳，我们来指导如何来使用，这个还是一个非稳定问题，有些问题在里面

[2022-11-21 13:53] 1649759610 commented on #3826
好的，感谢反馈，我们会尽快修复。

为方便使用，您当前可以在convert_example_to_feature函数中，将编码时的参数is_split_into_words设置为"token"，这样可以正常运行：

[code]

[2022-11-21 14:44] WatsonWangZh commented on #3766
微调得到的UIE模型支持预训练任务的微调吗？也就是在其权重的基础上继续进行预训练？

[2022-11-21 15:34] godlockin opened #3852 "[Question]: how to change the keyword 'sks' as it would pollute data"
### 请提出你的问题

lab: ppdiffusers, dreambooth
The 'sks' is the fixed point in dreambooth, we may use the sentence "a photo of sks {keyword}" for models' fine tuning, but the 'sks' is also know of a kind of semi-automatic rifle ref: https://en.wikipedia.org/wiki/SKS, our results might be polluted by the images of gun, and with the increasing of epochs, the result would be more probable generated as som

[2022-11-21 15:34] godlockin commented on #3804
close this question and raise a new one to trace, thx for answering

[2022-11-21 15:34] #3804 closed, assigned to JunnYu

[2022-11-22 00:44] wangtiehu commented on #3832
好的，非常感谢！

[2022-11-22 01:46] NaivePawn commented on #3849
感谢！看到了，但是我设置topn=5，只返回2个answer，中间是有阈值卡了吗？

[2022-11-22 02:28] linjieccc commented on #3828
Hi，这部分处理以及page_no字段的添加内置到load_dataset中了

如果不使用load_dataset来加载和处理数据的话确实原始数据集和preprocess_mrc会有break，可能需要预先手动处理一下数据集

[2022-11-22 02:31] linjieccc commented on #3848
Hi, @minlik

word_boxes表示的是左下右上的坐标 x1, y1, x2, y2，不需要进行normalize，normalize的过程内置在Taskflow中了

[2022-11-22 03:43] canghongjian opened #3854 "[Question]: backbone模型从ernie2.0换为albert后，训练打印出所有层梯度为0，参数不更新，损失不下降"
### 请提出你的问题

backbone模型从ernie2.0换为albert-xxlarge-v2后，训练打印出所有层梯度为0，参数不更新，损失不下降

[2022-11-22 03:57] w5688414 opened #3855 "[Bug]: 静态图和动态图的tokenizer对特殊字符的tokenize的结果不一样"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

静态图的id化结果：

[code]
动态图的id化的结果：

[code]

可以看到静态图和动态图中有一个id不一样，静态图id是29649，而动态图对应的id变成了1072

### 稳定复现步骤 & 代码

[code]

[2022-11-22 04:08] w5688414 commented on #3855
编码有问题的数据：

[demo.txt](https://github.com/PaddlePaddle/PaddleNLP/files/10063438/demo.txt)

[2022-11-22 05:17] FrostML commented on #3844
出于兼容考虑，可以补充下这个方法

[2022-11-22 05:35] canghongjian commented on #3854
backward后打印出子任务损失的梯度如下，全为1：
<img width="568" alt="image" src="https://user-images.githubusercontent.com/34473193/203231802-f4633215-9250-4eec-b13d-08ec45f4de03.png">
backward后打印出参与损失计算的中间量的梯度如下,看起来较为正常：
<img width="799" alt="image" src="https://user-images.githubusercontent.com/34473193/203232325-4a509e02-ff87-45d6-8257-5b85c7e5fa4c.png">
<img width="800" alt="image" src="https://user-images.githu

[2022-11-22 05:40] Yam0214 opened #3857 "[Bug] question_generation: error: unrecognized arguments: --ignore_pad_token_for_loss=True"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

`train.py`和`predict.py`不支持`--ignore_pad_token_for_loss=True`，但是代码里用到了改参数

[code]

复现如下：
[code]
或者
[code]

[2022-11-22 05:54] wj-Mcat commented on #3820
在返回非 bert 系列 tokenizer 时，确实是有一个 bug，我这边在ernie、bart、albert、gpt等 tokenizer 上面做了测试都是 ok 的，请关注最新版本的 paddlenlp 。

请随时关注以上 PR ，如果比较着急的话，可直接clone 我的分支来运行也是 ok 的。

[2022-11-22 06:28] hehuang139 commented on #3822
@linjieccc applications.information_extraction.document.utils.reader:79/105 这两处拆分max_content_len的时候，boxes没有对应拆分.

[2022-11-22 07:03] wj-Mcat commented on #3820
with the latest version of https://github.com/PaddlePaddle/PaddleNLP/pull/3858, the following code works for me:

[code]

[2022-11-22 07:11] minlik commented on #3848
感谢🙏

[2022-11-22 07:11] #3848 closed, assigned to linjieccc

[2022-11-22 08:07] Gavingx commented on #3726
你好，你下载了吗？有链接吗？

[2022-11-22 08:11] Gavingx commented on #3028
ernie-1.0-large-cw模型有链接吗？

[2022-11-22 09:08] oyb1125 opened #3862 "怎么使用ERNIE-GEN模型进行对话任务"
### 请提出你的问题

https://github.com/PaddlePaddle/ERNIE/tree/repro/ernie-gen 这个仓库里说ernie-gen能够用于多轮对话，但是没找到怎么使用的文档，请问这里有人知道吗

[2022-11-22 09:08] JunnYu commented on #3852
或许我们可以跟`textual_inversion`一样。
- 先创建个独一无二的单词https://github.com/PaddlePaddle/PaddleNLP/blob/eeb5cfeed5a2adc91b41d90063b8b3efbe585b9f/ppdiffusers/examples/textual_inversion/train_textual_inversion.py#L475
- 再使用这个单词一起训练https://github.com/PaddlePaddle/PaddleNLP/blob/eeb5cfeed5a2adc91b41d90063b8b3efbe585b9f/ppdiffusers/examples/textual_inversion/train_textual_inversion.py#L505
当训练的越来越久，我反而感觉图片会忘记`sks`原来

[2022-11-22 09:13] ZHUI commented on #3028
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/modeling.py#L729-L730

直接
[code]
即可

[2022-11-22 09:27] xieyu0214 commented on #3838
API文档更新的太随意了，都没有人把关吗

[2022-11-22 09:50] paulpaul91 opened #3863 "t5-v1-1-xl、t5-v1-1-xxl、mt5 系列模型集成"
### 简要描述

1. t5-v1-1-xl、t5-v1-1-xxl 大模型没有转参数
2. mt5 多语言模型也没有转
希望paddlenlp集成

### 是否已开源

- [X] 已开源
- [ ] 未开源

### 模型详细信息

https://huggingface.co/google/t5-v1_1-xl
https://huggingface.co/google/t5-v1_1-xxl
https://huggingface.co/google/mt5-small
https://huggingface.co/google/mt5-base
https://huggingface.co/google/mt5-large
https://huggingface.co/google/mt5-xl
https://huggingface.co/google/mt5-xxl

[2022-11-22 09:51] paulpaul91 commented on #3863
还有https://huggingface.co/google/mt5-small

[2022-11-22 10:22] canghongjian commented on #3854
换成electra-large也有同样的问题。目前看来只有ernie-2.0能够正常训练，但是效果也比我此前用pytorch和transformers的debert-v3-large低了六七个点。

[2022-11-22 11:07] Drizzlenum commented on #3835
抱歉数据不方便提供，以下是我的蒸馏过程使用的命令
python doccano.py --doccano_file ./data/08161.json --task_type ext --save_dir ./data1 --splits 0.8 0.1 0.1

python finetune.py --device gpu  --logging_steps 10 --save_steps 100 --eval_steps 100  --seed 42 --model_name_or_path uie-base --output_dir $finetuned_model --train_path data/train.txt --dev_path data/dev.txt   --max_seq_length 512   --per_device_eval_batch_size 4 --

[2022-11-22 12:27] wickai commented on #3773
您好~  我同样在使用ernie-layoutx的deploy/python/infer.py脚本推理模型，我想测试一下ner预测自己的图片，我使用了taskflow自动下载的模型，大约2g左右，启动脚本如下
[code]
会报错
[code]
不知道哪里出错了
环境：
[code]

[2022-11-22 12:28] wickai commented on #3773
@linjieccc

[2022-11-22 12:32] gongel commented on #3862
可以参考这里：https://github.com/PaddlePaddle/ERNIE/blob/repro/ernie-gen/run_seq2seq.py#L59
另外也可以直接使用plato哈：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/dialogue/plato-2/

[2022-11-22 12:32] lugimzzz commented on #3849
是，设置的阈值是0.5

[2022-11-22 12:39] wj-Mcat commented on #3863
这些模型后续持续转过来的，请随时关注这个 issue。

[2022-11-22 16:21] barrierye opened #3866 "[Bug]: fast_tokenizer遇到GLIBCXX_3.4.20 not found 问题"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

pip install fast-tokenizer-python==1.0.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
执行README中的代码
[code]

[2022-11-22 16:35] barrierye commented on #3866
本地libstdc++是4.8.5 ...

[2022-11-22 16:48] barrierye commented on #3866
core_tokenizers.so 可以做成静态编译吗：）

[2022-11-23 01:03] oyb1125 commented on #3862
这两个模型那个更好呀

[2022-11-23 01:35] briup1 commented on #3800
升级后依然不生效

[2022-11-23 01:36] briup1 commented on #3800
升级后依然不生效 @ZHUI

[2022-11-23 01:47] godlockin commented on #3852
用 placeholder_token 是可以，但是如果我需要指定多个（上千/上万）这种 token 就会很麻烦，不是个特别好的方案感觉

dreambooth原版里面是存在'sks'替换的能力的，不过不知道被封装到哪去了，是根据他的思路重写了整个逻辑吗？

[2022-11-23 01:49] godlockin commented on #3837
updated the [README.md] and raise a PR on this project

[2022-11-23 01:49] #3837 closed, assigned to JunnYu

[2022-11-23 01:49] godlockin commented on #3834
update the [train_dreambooth.py] and do the same change on the code in my testing env, we will see what happens then

[2022-11-23 02:16] xinaiwunai commented on #3826
thanks

[2022-11-23 02:16] #3826 closed, assigned to 1649759610

[2022-11-23 02:17] stefanqxb commented on #3842
Hi @w5688414 ,
     Im currently using paddleocr and ppstructure for table detection purpose

[2022-11-23 02:23] paulpaul91 commented on #3863
预计多久呢

[2022-11-23 02:33] joey12300 commented on #3866
你好，请问你的linux版本是多少呢？输入`ldd --version`看看glibc版本

[2022-11-23 02:35] barrierye commented on #3866
ldd (GNU libc) 2.17
用patchelf链接到高版本的libstdc++是可以使用的，但建议还是做成静态链接比较好...

[2022-11-23 02:49] joey12300 commented on #3866
感谢建议哈。还想问一下你的Linux是Ubuntu 16吗？这个fast_tokenizer是在Centos 7上编译的，在Centos平台应该不会有问题。Ubuntu的话我们再进一步验证一下兼容性。

[2022-11-23 02:51] barrierye commented on #3866
是Centos 7噢。
[code]

[2022-11-23 02:52] chenchun0629 opened #3867 "[Bug]: 预训练模型内存溢出"
### 软件环境

[code]

### 重复问题

- [x] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

环境：ai_studio

步骤：
[code]

下图分配为：执行0分钟，30分钟，60分钟时候的内存状态。

![image](https://user-images.githubusercontent.com/3328490/203460115-1295c822-b29d-4309-87ff-baac83e5dd63.png)
![image](https://user-images.githubusercontent.com/3328490/203460126-968c643e-6901-454d-9483-bd088d5a28e4.png)
![image](https:

[2022-11-23 02:59] everzhou opened #3868 "UIE模型蒸馏数据量问题"
### 请提出你的问题

关于UIE数据蒸馏， 示例的数据包里doccano_ext.json数据200条， unlabeled_data.txt是 1277 条。这个蒸馏用的数据量还是比较大的，需要很多时间整理数据，而UIE 微调时只需要几条几十条数据就可以了。 请问我们进行蒸馏时，最低的数据量要求是多少 ？

[2022-11-23 03:12] ZHUI commented on #3800
[code]

[2022-11-23 03:13] ZHUI commented on #3800
@briup1 上面是我的运行日志，可以看到可以生效，你贴一下你的日志吧。

[2022-11-23 03:33] briup1 commented on #3800
[code]

[2022-11-23 03:38] wawltor commented on #3854
想问一下 具体用了哪个应用了？

[2022-11-23 03:40] ZHUI commented on #3867
减小 一些 batch_size 试试，看起来显存利用率几乎打满。
运行到后面出现一些显存碎片，导致显存超过最大值是很有可能的。

[2022-11-23 03:50] chenchun0629 commented on #3867
尝试改小batch size，设置`micro_batch_size =2`之后运行了一会，发现还是老样子，随着时间推移，内存会不断增加。

[code]
<img width="339" alt="2a8928221bb8374efe1893044d538a5" src="https://user-images.githubusercontent.com/3328490/203465880-ae85f79a-56c8-42ef-9a47-49a74a1611a1.png">
<img width="339" alt="2a8928221bb8374efe1893044d538a5" src="https://user-images.githubusercontent.com/3328490/203466476-d5ca591b-a5bc-4ebc-9256-daadefd25c91.pn

[2022-11-23 03:51] chenchun0629 commented on #3867
另外当设置 `micro_batch_size = 1`是，ai_studio报错了。信息如下：
![image](https://user-images.githubusercontent.com/3328490/203466031-b7841c25-06c9-4385-89e6-2ec52f417dce.png)

[2022-11-23 04:04] wawltor commented on #3838
主要是文档运行环境发生了变化，目前已修复，谢谢提出问题！

[2022-11-23 04:52] ZHUI commented on #3800
你日志里面的，是constant类型的lr_scheduler_type。请检查一下你的启动命令，参数的传入？
[code]

constant，学习率 不变化是符合预期的行为

[2022-11-23 04:59] linjieccc commented on #3868
Hi，

主要看Teacher Model的效果是否满足要求，标注数据量没有特别要求，几条标注数据UIE微调后的模型只要效果符合预期同样也可以作为Teacher Model

[2022-11-23 05:41] briup1 commented on #3800
[code]
lr_scheduler_type             :SchedulerType.COSINE 当前COSINE 依旧保持了learning_rate不变 T-T @ZHUI

[2022-11-23 06:12] shuiiiiiimu opened #3869 "UIE 微调中断，无明显错误日志 Exit code -6"
Window WSL2
paddlenlp       2.4.3
paddlepaddle-gpu      2.4.0rc0

抽取式任务。 准备了 70 条训练数据，标注了 6 个标签。操作步骤以及参数都是参考 [model_zoo/uie#4-训练定制](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#4-%E8%AE%AD%E7%BB%83%E5%AE%9A%E5%88%B6)

- GPU 多卡

从样本数据中 head 6 条用于训练，正常。

样本 70 条数据用于训练，直接中断，无明显日志。日志如下：
[code]

workerlog.0  workerlog.1 没有 ERROR 日志。

这种情况有什么办法可以定位到问题？或者 debug 思路可以分享一下？

[2022-11-23 06:18] chenchun0629 commented on #3867
更换ai_studio 32G环境，以及google colab 都一样重现了上述问题。

![image](https://user-images.githubusercontent.com/3328490/203483310-4d451c42-25e0-4fa3-8f6f-49b6d823e64a.png)

[2022-11-23 06:29] linjieccc commented on #3835
@Drizzlenum 你的paddle版本是多少？

[2022-11-23 07:40] ZHUI commented on #3800
你这个是模型压缩的api吗？我看用了 `dynabert+ptq`

[2022-11-23 07:41] ZHUI commented on #3800
@LiuChiachi 辛苦看看

[2022-11-23 07:46] ZHUI commented on #3800
可以贴一下您使用的代码链接给我们排查

[2022-11-23 07:47] ZHUI commented on #3800
如果是 UIE finetune的代码的话，可以删除这一行：

https://github.com/PaddlePaddle/PaddleNLP/blob/fc7cdc025f70f5236420a56487dd3a983665b4fd/model_zoo/uie/finetune.py#L198-L200

[2022-11-23 08:16] everzhou opened #3872 "模型蒸馏时， 运行 data_distill.py出错"
### 请提出你的问题

task_type 为 entity_extraction时，会报错，其它类型不会。
我用的命令为
python data_distill.py \
    --data_path ../data \
    --save_dir student_data \
    --task_type **entity_extraction** \
    --synthetic_ratio 10 \
    --model_path ../checkpoint/model_best

出错信息
raceback (most recent call last):
  File "data_distill.py", line 127, in <module>
    do_data_distill()
  File "data_distill.py", line 37, in

[2022-11-23 08:31] briup1 commented on #3800
可以了。感谢！！！
这行代码后续也会删除吗？
之所以能够直接删除是因为Trainer默认了一个优化器的吗？

[2022-11-23 09:08] tianjiahao commented on #2987
请问问题解决了没有，也遇到相似的问题。
paddle训练的模型直接进行量化操作（onnx_format=True, dtype=int64），得到量化模型后，进行推理时报错：
RuntimeError: (NotFound) Operator (quantize_linear) does not have kernel for {data_type[int64_t]; data_layout[Undefined(AnyLayout)]; place[Place(gpu:0)]; library_type[PLAIN]}.
[Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().] (at ..\paddle\fluid\framework\operator.cc:1712

[2022-11-23 09:14] ZHUI commented on #3800
对的，后续会删除的。Trainer 需要自己控制 optimizer，不然很多功能无法生效。

@LiuChiachi 辛苦后续删除一下。

[2022-11-23 09:18] Drizzlenum commented on #3872
data_distill.py文件中需要修改标签schema，改成自己的

[2022-11-23 09:20] Drizzlenum commented on #3835
@linjieccc paddlepaddle-gpu=2.4.0，paddlenlp是2.4.2

[2022-11-23 09:21] JunnYu commented on #3872
https://github.com/PaddlePaddle/PaddleNLP/blob/4cc8578404a6f31f5c1c5b2a98ae1b0404cda4b8/model_zoo/uie/data_distill/data_distill.py#L123 我也发现了，感觉这里应该直接改成list，不是字典。

schema = ["手术治疗", "实验室检查", "影像学检查"]

[2022-11-23 09:23] everzhou commented on #3872
收到，明白了，明天我再试一下

[2022-11-23 10:22] canghongjian commented on #3854
用的AlbertModel，取outputs[0]

[2022-11-23 10:28] canghongjian commented on #3820
运行你的分支[wj-Mcat:fix-offset-mapping](https://github.com/wj-Mcat/PaddleNLP/tree/fix-offset-mapping)在处理特殊字符的case时发生报错。
[code]
应该是transformers/tokenizer_utils.py这里有问题，以text为"Bhārat"为例，token是已经处理过分词后的token "Bha"，已经把原text中的特殊字符ā转化为正常字符a了，但是还把处理后的token放到原生text中去index，也就是"Bhārat".index("Bha")就会报ValueError: substring not found。
<img width="609" alt="a275dddb74bf65f8f715a09532910161" src="https://user-images

[2022-11-23 10:37] hehuang139 commented on #3822
@linjieccc 现在f1还是不行，能到70%，但是用微调的模型预测，完全不对，比直接用未微调的差非常多，请问f1有重新跑过吗，我现在有点怀疑是不是哪里有问题，
和taskflow的代码比较，summary_token_num = 4 有问题，但是也改了，重新跑还是效果不好，只能到71%，感觉基本没有代码差异了

[2022-11-23 11:04] crackso commented on #3593
跑了快一个月了，总结下：
全量cblue数据微调，13w的训练数据，4w的验证数据，100步计算一次，约1天跑一个ep，基本上bestF1出现在4~9个ep之间（后面又跑了10几天基本上无变化）。目前f1，CMeEE，v1版本60分，v2版本75，成绩还是比较理想的。后续还准备对ernie-health模型做个对比。

另外不知道老师是否有可以提高f1的方案，感谢老师。

[2022-11-23 11:11] wawltor commented on #3854
有具体的代码吗？

[2022-11-23 11:59] Tygors commented on #1238
请问你说的这个环境变量QS_RUNTIME_PAD_INT_ZERO怎么设置啊？

[2022-11-23 11:59] Tygors commented on #1238
请问你说的这个环境变量QS_RUNTIME_PAD_INT_ZERO 怎么设置啊？在哪里设置

[2022-11-23 12:01] westfish commented on #3857
已修复，参考PR fix bug in qg-example #3875

[2022-11-23 12:08] MachineSheep opened #3876 "[Question]: 4.8模型部署是做什么工作的？"
### 请提出你的问题

![image](https://user-images.githubusercontent.com/109952192/203542776-1d7291d7-84b6-453f-9c67-1593db49fa0d.png)

你好，咨询一个问题
对4.8模型部署是做什么的不清楚，感谢赐教

[2022-11-23 12:18] linonetwo commented on #1238
就在 shell 里 export

[2022-11-23 12:22] JunnYu commented on #3876
主要是为了生产部署用的。
生产实践过程中用户可能没有gpu，需要使用cpu进行推理预测，这里的教程主要是为了产业落地而添加的。

[2022-11-23 12:32] westfish commented on #3840
win上建议安装paddle2.2.2

[2022-11-23 12:32] #3840 closed, assigned to westfish

[2022-11-23 13:12] canghongjian commented on #3854
有，不过我的代码可能没法在这公开，再加上包括数据处理可能解释起来比较麻烦，能否私聊呢？如流zhangjiahao08或微信canghongjianzjh

[2022-11-23 13:55] MachineSheep commented on #3876
你好，请问这和我自己写api服务使用Taskflow调用模型进行预测有什么区别呢？

[2022-11-23 14:26] johnsongwx opened #3879 "[Docs]: 官网提供的预训练模型权重过期无法下载"
### 软件环境

[code]

### 详细描述

[code]

[2022-11-23 15:00] razor365 opened #3880 "[Question]: UIE如何提取出症状的否定词？"
### 请提出你的问题

请教下：
UIE large提取症状，在给定句子 ”未出现发热”。
使用schema=["症状“]，UIE正确提取出了”发热“症状，
那么如何提取否定词“未”？

[2022-11-23 15:16] gongel commented on #3862
第二个呢

[2022-11-24 00:49] lddcdut opened #3882 "[Question]: 使用uie的doccano生成训练集时，部分实体无内容"
### 请提出你的问题

如下，这些文本里面没有实体标签的内容，是不是应该去掉，不去掉会不会影响训练效率
`{"content": "上海到北京机票1320元", "result_list": [], "prompt": "时间"}

{"content": "昨天晚上十点加班打车回家58元", "result_list": [], "prompt": "出发地"}

{"content": "从合肥到北京高铁两百元", "result_list": [], "prompt": "时间"}`

[2022-11-24 01:06] Chikeke commented on #2476
你可以看一下原始的标注数据

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: douyameiyingyang ***@***.***&gt;
发送时间: 2022年11月7日 13:06
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: Chikeke ***@***.***&gt;, Mention ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 请问，每个实体都有一个head实体，这是怎么关联起来的？

 ---原始邮件---
 发件人: ***@***.***&amp;gt;
 发送时间: 2022年11月7日(周一) 中午11:00
 收件人: ***@*

[2022-11-24 01:56] dymyyc commented on #2476
好的，谢谢

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年11月24日(周四) 上午9:06
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 关系抽取数据集转换相关问题 (Issue #2476)

 你可以看一下原始的标注数据

 发自我的iPhone

 ------------------ 原始邮件 ------------------
 发件人: douyameiyingyang ***@***.***&amp;gt;
 发送时间: 2022年11月7日 13:06
 收件人: PaddlePaddle/PaddleNLP ***@***.***&amp;gt;
 抄送: Chikeke ***@***.***&am

[2022-11-24 02:10] riddle911 opened #3883 "[Question]: Pipeline中语义检索服务启动报错"
### 请提出你的问题

pipeline中语义检索示例运行报错。
运行python rest_api/application.py 8891后，报错：

[code]

环境：
Windows10
CPU版本
paddle：2.3.2
python：3.9.1

[2022-11-24 02:15] linjieccc commented on #3882
Hi，

这些是标注数据到训练数据转换阶段自动构造的负例，UIE中负例的介绍可以参考下这篇文章 https://zhuanlan.zhihu.com/p/564033319

[2022-11-24 02:21] linjieccc commented on #3869
Hi，

请问单卡微调是否有问题？方便的话可以提供下可复现的最小数据集合

[2022-11-24 02:24] linjieccc commented on #3822
@hehuang139 更新下这个分支的代码再试下 https://github.com/linjieccc/PaddleNLP/tree/uie-x

[2022-11-24 02:24] LemonNoel commented on #3880
可以将schema改为[阳性症状，阴性症状]来微调得到结果，阳性对应出现的症状，阴性对应未出现的症状。

[2022-11-24 02:29] hehuang139 commented on #3822
验证通过了

[2022-11-24 02:29] #3822 closed, assigned to linjieccc, lugimzzz

[2022-11-24 02:29] w5688414 commented on #3883
please refer to this pr. https://github.com/PaddlePaddle/PaddleNLP/pull/3864

https://github.com/PaddlePaddle/PaddleNLP/pull/3864/files#diff-94255faa97c19cf211aebf24ee69352dbf3a9c2e85add003baefacaacfa00546

Add try exceptions:

[code]

[2022-11-24 02:33] #3882 closed, assigned to linjieccc

[2022-11-24 03:05] fangjiyuan commented on #3823
我的docx文件是放在文件夹里的，现在的问题是：
streamlit里导入的时侯我只能选择文件，无法选择文件夹导入。

[2022-11-24 03:34] #3838 closed, assigned to wj-Mcat

[2022-11-24 03:40] tingaicompass opened #3886 "[Question]: 关于最新更新UIE有关于化训练及 INT8 精度推理有一些疑问？"
### 请提出你的问题

🏃[通用信息抽取 UIE 能力升级]支持量化训练及 INT8 精度推理，进一步提升 UIE 推理速度；
1.[Trainer API ](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/trainer.md)对模型进行微调，里面所有涉及的超参数调参都适用于uie模型嘛？
2.对int8精度推理： 文档注释：use_fp16: FP32 模型是否使用 FP16 进行加速，使用 FP32、INT8 推理时不需要设置，默认关闭。 看了一下没有一个入参是关于int8设置的，是默认开启吗？
3.对于量化训练，看了一下设置参数入参好像没有涉及到量化训练的样子，有类似[量化训练](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_

[2022-11-24 04:43] audo23 opened #3888 "excuse me but what is the mean of this, why not just let it be one: [1 / len(results)] * len(results)]"
https://github.com/PaddlePaddle/PaddleNLP/blob/46082e300197c3d770bc1eb68f6a2b3fd0e8be0d/pipelines/pipelines/nodes/other/join_docs.py#L113

[2022-11-24 04:49] audo23 commented on #3888
@FrostML @tianxin

[2022-11-24 04:54] #3888 closed, assigned to nobody

[2022-11-24 05:03] JunnYu commented on #3876
部署推理的后端有多种形式，比如可以用onnx模型推理，使用paddle inference推理，使用tensorrt推理，使用openvino推理，使用原生的torch动态图推理，使用paddle动态图推理，使用paddle静态图图推理，不同的推理方式速度是不同的。

自己写api服务：可以用flask，fastapi封装一下Taskflow服务，当然也可以封装其他东西。
Taskflow服务：是一种封装，我们对内部的一些细节都进封装，屏蔽了底层调用的很多逻辑，用户只需要关心输入和输出就可以了。

[2022-11-24 05:20] FrostML commented on #3857
PR 修复疑似引入新的问题

[2022-11-24 06:17] #3828 closed, assigned to wawltor, linjieccc

[2022-11-24 06:35] #3800 closed, assigned to ZHUI

[2022-11-24 06:40] hehuang139 commented on #3752
@linjieccc uies-x no answer似乎效果不是非常好，我现在是有2个entity，一个是"项目编号", 一个是"机构编号"，一般都有项目编号，而没有机构编号，我构建了大约200个example，其中有不少机构编号的负例，但是还是会抽取出抽取机构编号，并且用的是项目编号的值，

以下是我训练的f1，都已经1了，还是抽取的有问题
[2022-11-24 14:21:48,996] [    INFO] - eval_loss: 0.00011530211486387998, eval_precision: 1.0, eval_recall: 1.0, eval_f1: 1.0, eval_runtime: 3.0387, eval_samples_per_second: 13.822, eval_steps_per_second: 1.975, epoch: 10.0
[2

[2022-11-24 06:50] linjieccc commented on #3752
@jyjy007 关于dureader的使用体验问题可以提个feature request的issue

[2022-11-24 06:51] linjieccc commented on #3752
@hehuang139 目前训练和验证集分别有几条数据？

[2022-11-24 06:53] hehuang139 commented on #3752
@linjieccc 目前train160和dev40，其中拒答有大约dev中有8条负例，train中有37条，我甚至用了一种极端方式，将dev都放到train中，并且用已训练过的example在重新eval还是不理想

我怀疑是不是这2个要素的语义太接近了，但是从人的角度，这两个编码其实含义差距很远的，毕竟一个是项目的编号，一个是机构的编号

[2022-11-24 07:22] #3876 closed, assigned to nobody

[2022-11-24 07:59] hehuang139 commented on #3752
@linjieccc 感谢关注，我又加了大约10个负例，效果突然变得非常好，f1大约97，那看来还是需要一定的负例数量，就能提升拒答的效果

[2022-11-24 15:48:55,467] [    INFO] - eval_loss: 0.00038081029197201133, eval_precision: 0.9777777777777777, eval_recall: 0.9777777777777777, eval_f1: 0.9777777777777777, eval_runtime: 3.7899, eval_samples_per_second: 13.721, eval_steps_per_second: 1.847, epoch: 10.0
[2022-11-24 15:48:55,468] [    INFO] - ***** eval metrics **

[2022-11-24 08:01] #3752 closed, assigned to linjieccc

[2022-11-24 08:10] westfish commented on #3857
重新修复了一下 https://github.com/PaddlePaddle/PaddleNLP/pull/3875

[2022-11-24 08:10] #3857 closed, assigned to westfish

[2022-11-24 08:32] Drizzlenum commented on #3835
@linjieccc 已解决，是和版本有关，paddlenlp需要是2.4.3

[2022-11-24 09:43] razor365 commented on #3880
@LemonNoel 感谢感谢

[2022-11-24 09:49] thomaszheng opened #3893 "[Question]: 包含特殊字符时，在tokenize阶段就miss掉了，可不可以扩展一下"
### 请提出你的问题

测试代码如下：
[code]

这个字符串在这个[网站编码：](http://www.mytju.com/classcode/tools/encode_utf8.asp)
![1669283238375](https://user-images.githubusercontent.com/8412025/203751902-a5ca04cd-6c8a-4046-9328-c24cb7b5e0a9.png)

[2022-11-24 09:59] wj-Mcat commented on #3879
上面这个模型确实是已经被移除掉了，文档也没有更新，接下来文档中的内容也会持续更新，推荐你安装最新版本的paddlenlp, 然后可使用 cli 工具搜索相关模型：

[code]

[2022-11-24 10:35] chenqianhe opened #3894 "[Bug]: ERNIE-Doc运行语义匹配任务时adamw报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]
[code]
python run_semantic_matching.py  --batch_size 6 --learning_rate 2e-5
[code]
from paddlenlp.ops.optimizer.adamwdl import layerwise_lr_decay
[code]

[2022-11-24 10:48] yijunL commented on #3329
uie-m-large 可以使用taskflow来加载吗

[2022-11-24 12:19] LiuChiachi commented on #3886
1.我理解learning_rate是UIE推荐的参数，其他的参数是不是要结合任务和数据来看，请教@linjieccc
2.int8和fp32模型不需要设置的，传入的模型是量化后的模型，就会是int8的推理
3.很多训练的参数可以被量化训练使用，比如`num_train_epochs`, `learning_rate`、`per_device_train_batch_size`之类的，文档可以查看https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/compression.md
4.@linjieccc

[2022-11-24 13:40] shishijier commented on #723
class FGM():
    def __init__(self, model):
        self.model = model
        self.backup = {}

    def attack(self, epsilon=1., emb_name='word_embeddings'):
        # emb_name这个参数要换成你模型中embedding的参数名
        for name, param in self.model.named_parameters():
            if not param.stop_gradient and emb_name in name:
                self.backup[name] = param
                norm = paddle.norm(pa

[2022-11-24 13:41] shishijier commented on #723
class FGM():
    def __init__(self, model):
        self.model = model
        self.backup = {}

    def attack(self, epsilon=1., emb_name='word_embeddings'):
        # emb_name这个参数要换成你模型中embedding的参数名
        for name, param in self.model.named_parameters():
            if not param.stop_gradient and emb_name in name:
                self.backup[name] = param
                norm = paddle.norm(pa

[2022-11-24 15:32] #3820 closed, assigned to wj-Mcat

[2022-11-24 16:50] lichuanxiang opened #3895 "[Question]: ernie-health spo抽取任务中，如何使用自定义finetune数据？"
### ernie-health spo抽取任务中，目前看是直接调用函数获取的CMeIE的数据，想问下如何输入自定义的finetune数据呢？

![image](https://user-images.githubusercontent.com/10071850/203834683-e430850f-cfb4-48c4-9cd9-db5b625578e0.png)

[2022-11-25 01:35] zouhan6806504 opened #3896 "[Question]: 如何在2.3.0版本下使用2.4.3版本的功能？"
### 请提出你的问题

最近参加法研杯的犯罪实体识别，我使用ernie3 xbase模型，开发环境paddle2.3.2+paddlenlp2.4.3，主办方只提供了paddle2.2.1+paddlenlp2.3.0环境，导致我提交的模型无法通过正常形式加载
我尝试在预测代码里升级nlp
os.system("pip install paddlenlp==2.4.3")，但是没用
如果主办方不升级版本，有没有什么方法可以绕过去？
我还想拿到package路径，直接用2.4.3的文件覆盖，该方法还未尝试，要是路径没权限读写，估计也是不好办
或者生成infer模型？这个有可能吗？如何操作？

[2022-11-25 02:44] LemonNoel commented on #3895
更换为自定义数据集包括两部分，一个是数据读取，一个是数据预处理

**数据读取**可以参考[自定义数据集文档](https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_self_defined.html)，主要是根据自己的数据文件格式写一个读取函数，然后调用 paddlenlp.datasets.load_dataset得到数据集。

**数据预处理**可以参考下 `utils.py` 文件里[这个函数和注释](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-health/cblue/utils.py#L214-L253)，仿照着用自定义数据生成`input_ids`, `token_type_ids`, `position_

[2022-11-25 03:01] linjieccc commented on #3886
Hi，@dingidng

learning_rate UIE中推荐用1e-5，其他超参配置目前用的是Trainer中的默认值

SimpleServing适用于封闭域蒸馏后的模型，最近我们会给出部署的例子

[2022-11-25 06:14] ZHUI commented on #3896
你好，可以提供更多报错信息吗？

[2022-11-25 06:29] zouhan6806504 commented on #3896
我通过下面代码加载，best_model目录下有
![infolder](https://user-images.githubusercontent.com/94092329/203914663-de7f21cc-7d49-45fa-b8ce-9d6b36fef8c6.jpg)
model_state.pdparams很小是因为我只存了一点数据，不然整个压缩包存不下了
实际的权重在best.params里面，通过load_state_dict加载进模型
在2.4.3的环境里面是能预测出结果的
[code]

报错信息
[code]

[2022-11-25 06:31] zouhan6806504 commented on #3896
可能2.3.0最终选择了ernie_m加载，但是我的模型是ernie-3.0-xbase-zh

[2022-11-25 06:31] ZHUI commented on #3896
`AutoModel` 你先 换成 `ErnieModel` 试试？

[2022-11-25 06:33] zouhan6806504 commented on #3896
这个回头尝试一下

[2022-11-25 06:35] sijunhe opened #3899 "PaddleNLP 2.4.4 Release Note Candidate"
# New Features
## Prompt API
- 新增 MaskedLMVerbalizer，支持 PET 算法实现。#3889
## 问答
## Trainer
## FasterGeneration
## FastTokenizer
- 新增CLIP FastTokenizer #3805
## PPDiffusers
- PPDiffusers版的LDM权重转换为原版LDM权重。 #3809
- 更新Unet中的attention的实现方式。 #3792
## Pipelines

+ PIpelines新增ERNIE-Search的支持 #3906

## UIE

## 基础底座
- 新增文本分类专用的Text Classification Taskflow #3841
- 新增完型填空的Fill-Mask Taskflow, 并且直接从Huggingface Hub

[2022-11-25 06:36] NaivePawn opened #3900 "[Question]: DocPrompt"
### 请提出你的问题

DocPrompt返回的结果中，有start和end，怎么获得原始的输入，来使用这个start和end，并且怎么获取答案对应的bbox

[2022-11-25 06:36] everzhou commented on #3872
@JunnYu
schema 改了后，data_distill.py 不报错了。 evaluate_teacher.py 也没报错， train.py 报错了。具体命令为：
python train.py \
    --task_type entity_extraction \
    --train_path student_data/train_data.json \
    --dev_path student_data/dev_data.json \
    --label_maps_path student_data/label_maps.json \
    --num_epochs 200 \
    --encoder ernie-3.0-mini-zh

报错信息为：
W1125 13:50:53.044281  5109 gpu_resources.cc:91] de

[2022-11-25 06:44] shuiiiiiimu commented on #3869
GPU 单卡直接 Aborted。 没其他 ERROR 了。数据集可能不太适合放出来。

你可以分享一下你的排查经验吗？

[2022-11-25 06:49] wn1652400018 opened #3901 "[Bug]: paddlenlp中关于ErnieLayoutTokenizer的返回offset_mapping的错误"
### 软件环境

[code]

### 重复问题

- [x] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

2

[2022-11-25 07:16] yangbin-Neil opened #3903 "序列生成任务？"
### Feature request

请问一下目前paddlenlp中序列生成任务领域除了可以用LSTM组件seq2seq，还有没有其他更好的选择。

### Motivation

准备利用序列生成任务做一些POI规范化方面的任务。

### Your contribution

.

[2022-11-25 07:25] wn1652400018 commented on #3901
tokenizer(text=[prompt],
         text_pair=[this_text_line],
         max_seq_len=max_seq_len,
         return_dict=False,
         return_offsets_mapping=True)

[2022-11-25 07:37] stefanqxb commented on #3738
Hi @linjieccc ,
     I thnk the problem is solved by now, thanks so much for the help here! However, I have another question here, regrading the VQA dataset, seems now for each question, we only have one answer, for example: {"text": xxx, "answer_start": [2], "answer_end":[5]},  which the answer is a consective span from the text,  so Im wondering if we support questions with answers which is not

[2022-11-25 07:42] wn1652400018 commented on #3901
tokenizer(text=['地址、电话'],
           text_pair=['总函方'],
           max_seq_len=max_seq_len,
           return_dict=False,
           return_offsets_mapping=True)

[2022-11-25 08:00] chenxiaozeng commented on #3799
目前DocPrompt确实不支持微调，可以在开源的ERNIE-Layout基础上微调上游任务。 11月底我们将开放支持微调的UIE-x，用于多模态文档信息抽取，敬请关注repo动态，谢谢！

[2022-11-25 08:18] shuiiiiiimu commented on #3869
为了定位问题，我把 70 条数据集，分了几批，比如 head 6 / head 12 / head 24 ...

都是同样的 Exit。 其中有一次出现 GPU memory 的问题。 然后做了几个事情：
1）!nvidia-smi。 无占用
2）!fuser -v /dev/nvidia*。也没有返回。
3）ps -ef 看到不少 jupyter 的进程。  统统 kill，重启 Jupyter。
4）batch_size 调低 16 -> 8 。
5）max_seq_length 也根据自己的情况 512 -> 256。

直接跑 70 条数据，目前全部正常了。  也不知道哪一步环节是关键的。 一轮操作下来，可以 work 了。

以上，给后来的各位做个参考吧。

[2022-11-25 08:19] tingaicompass commented on #3886
感谢

[2022-11-25 08:20] #3869 closed, assigned to linjieccc

[2022-11-25 09:08] godlockin opened #3905 "[Question]:"
### 请提出你的问题

How to encode a "single word" as a single token after tokenizer's encoding? And even more, I need to inject some words linked by some symbol as a "single token"...

If not, the following issue would raise
[code]
ref: [token_ids = tokenizer.encode(args.initializer_token,](https://github.com/PaddlePaddle/PaddleNLP/blob/14e6813c1e6aa8db170cf6932242230152471363/ppdiffusers/examples/textua

[2022-11-25 10:22] wawltor commented on #3903
可以看看文本摘要的示例，https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_summarization 这个是用生成的模型来做文本生成

[2022-11-25 10:39] yangbin-Neil commented on #3903
但是但是，我的输出可能会比原始的输入要长。相比于输入，输出的结果会补充一些内容在里面。比如输入是“成都市青羊区”，我想让他输出“四川省成都市青羊区”，您说的这个文本生成可以完成类似的任务吗？

[2022-11-25 10:43] wawltor commented on #3903
这个可以使用生成任务来试试，需要一定训练样本支持；不过这种任务更像是地域信息扩展，通过专业知识库扩展看起来更合适点

[2022-11-25 10:48] yangbin-Neil commented on #3903
好的，谢谢，那我先试试看吧。选择序列生成任务的原因就是没有专业的知识库（尴尬），才想试试其他的方法。

[2022-11-25 14:09] littletomatodonkey opened #3907 "[Bug]: UIE文档有误"
[code]

### 稳定复现步骤 & 代码

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/14270174/204002380-dc2701c7-8b62-4ce9-939f-653ddcbd2cca.png">

[2022-11-25 17:16] littletomatodonkey opened #3908 "[Bug]: GPT导出模型后，推理报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]
[code]

推理的时候，报了上面的错误。

[code]

[2022-11-26 07:36] xinsheng44 opened #3909 "[Question]:"
### 请提出你的问题

您好，我在测试docprompt遇到以下问题：

测试代码：
`from paddlenlp import Taskflow
docprompt = Taskflow("document_intelligence", model='docprompt')
t = docprompt({"doc": "data/202111121508044287654.pdf", "prompts": ["甲方是谁"]})
print(1)
`

依赖包版本：
`paddle2onnx               1.0.3                    pypi_0    pypi
paddlefsl                 1.1.0                    pypi_0    pypi
paddlenlp                 2.4

[2022-11-26 07:52] 61liuyi61 opened #3910 "[Question]: 使用uie官方实例代码时报错，无结果返回"
### 请提出你的问题

from pprint import pprint
from paddlenlp import Taskflow

schema = [{"歌曲名称": ["歌手", "所属专辑"]}, "人物"]
ie = Taskflow('information_extraction', schema=schema)
res = ie("告白气球是周杰伦在专辑周杰伦的床边故事里面的歌曲")
pprint(res)

![image](https://user-images.githubusercontent.com/46638017/204078423-826db544-e23d-4eb2-9902-cf0f7800d451.png)

其中：
python 3.7.4
paddlenlp 2.4.3

[2022-11-26 09:08] xinsheng44 commented on #3596
老哥，我是这个问题，我是将下载的静态图作为infer的加载模型，然后就报这个错误了，请问老哥最后咋解决的呀

[2022-11-26 09:09] xinsheng44 commented on #3773
老哥解决了吗，我也是这个问题

[2022-11-26 09:55] gongel commented on #3909
你好，可以使用develop版本哈，我们已经修复该问题：https://github.com/PaddlePaddle/PaddleNLP/pull/3831

[2022-11-26 09:57] gongel commented on #3907
你好，也欢迎你这边提供PR修复哈，一起参与开源共现！

[2022-11-26 10:01] gongel commented on #3905
你好，可以尝试增加special tokens来解决该问题，例如
[code]

[2022-11-26 10:23] wawltor commented on #3910
看起来是windows机器，scipy的版本，需要满足 scipy<=1.3.1 & scipy>=1.7.3
看看是否能解决你的问题

[2022-11-26 10:28] wawltor commented on #3907
已修复文档

[2022-11-26 10:30] wawltor commented on #3849
您好，我们暂时关闭该issue，如有问题可以再次打开。

[2022-11-26 10:30] #3849 closed, assigned to lugimzzz

[2022-11-26 10:31] #3886 closed, assigned to LiuChiachi, linjieccc

[2022-11-26 10:32] wawltor commented on #3880
您好，我们暂时关闭该issue，如有问题可以再次打开issue。

[2022-11-26 10:32] #3880 closed, assigned to LemonNoel

[2022-11-26 15:23] w5688414 opened #3912 "[Bug]: pipelines英文语义检索，首次用web界面导入数据会报错"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

无
![WechatIMG759](https://user-images.githubusercontent.com/12107462/204096263-060efa22-2bfd-4c4f-9602-af4e7d09796c.jpeg)

![WechatIMG763](https://user-images.githubusercontent.com/12107462/204096270-5a4f0985-a421-474b-9a34-34d4f9ccfb76.jpeg)

![WechatIMG762](https://user-images.githubusercont

[2022-11-26 15:30] w5688414 opened #3913 "Pipelines能否提供通用的对用户调查问卷的自动QA对提取"
### Feature request

比如说你会收到从市场上不同调查公司发过来调查问卷，那不同公司，它肯定用他们自己的格式，但是总的来说，它还是会以一种问题答案的形式这样来展示对不对，但是，它很可能它的标号，标识，就是这种问题答案对，并不是完全用统一的方式，因为每个公司格式不一样，那么，怎么能够自动的在这个文档中把这些问题答案给切割出来

### Motivation

调查问卷中的QA对提取的通用方法

### Your contribution

User advice

[2022-11-27 07:21] xinsheng44 opened #3915 "[Question]: InvalidArgumentError: input and filter data type should be consistent, but received input data type is int64_t and filter type is float [Hint: Expected input_data_type == filter_data_type, but received input_data_type:3 != filter_data_type:5.] (at /paddle/paddle/fluid/operators/conv_op.cc:209) [operator < conv2d > error]"
### 请提出你的问题

我主要想测试
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-layout

具体操作如下：

我通过Taskflow下载了相应的docprompt的模型文件：
![image](https://user-images.githubusercontent.com/59272013/204123604-2d1cb8bb-1e02-4185-b10b-c3425b51be4d.png)

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/infer.py
然后我更改了infer.py里面的部分参数，将测试用例改成了自己的数据文件。
具体如下
`

[2022-11-27 08:44] littletomatodonkey commented on #3907
你好，我的意思是，按照文档操作，uie finetune的时候，并没有生成对应的inference模型哈，不知道是不是动转静要设置其他的参数？

[2022-11-27 11:55] ping40 opened #3916 "[Question]: Taskflow('text_similarity') 的顺序问题"
### 请提出你的问题

[code]

结果：

[code]

我的问题是： 为什么 顺序会导致结果不一样呢？

[2022-11-27 12:37] wawltor commented on #3907
<img width="654" alt="image" src="https://user-images.githubusercontent.com/16698950/204135561-22e9f91f-1758-464a-98f0-4b39f0626b51.png">
目前是会自动导出静态图inference模型

[2022-11-27 14:10] wawltor commented on #3916
虽然输入的双文本相同，但是传入模型的时候，两段文本不同的顺序影响了两段文本的position ids不同，可以理解顺序不同最终导致了模型的输入不同，最终模型输出不同。text_similarity 这个任务底层是基于dureader来训练的，在输入的时候分为query passage，任务上有一定的局限性

[2022-11-27 14:38] YLiyu opened #3918 "[Question]: text_similarity"
### 请提出你的问题

我想知道这个文本相似多少是怎么衡量的呢，我在输入了两个两条完全一样的文本之后，输出的结果不是1，甚至没有达到0.5，所以这个相似度是我理解的应该在0-1之间的吗？越接近1就表明越相似，越接近0就表明越不相似
以下是我的输出结果：

[code]
是我调用错了什么吗

[2022-11-27 15:00] wj-Mcat commented on #3918
默认模型有一些局限性，推荐使用simbert 模型来获得相似度：

[code]

具体有哪些模型，可见：[models of text_similarity](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/taskflow/text_similarity.py#L53)。

[2022-11-27 15:13] wj-Mcat commented on #3913
如果是调查问卷的话，最终都会导出为一个 excel表格，此时thead 即为question，tbody即为answer，所以在抽取上而言可通过规则来。

此外，如果能够实现：识别那些是 question 描述，我相信调查问卷导出的表格数据可实现自动 QA 提取。

[2022-11-28 00:21] #3916 closed, assigned to nobody

[2022-11-28 01:26] coolinstar commented on #3657
@wawltor 請問對於上述的情境，有無任何建議或看法? 謝謝。

[2022-11-28 01:49] zouhan6806504 commented on #3896
这个可以了

[2022-11-28 01:49] #3896 closed, assigned to wj-Mcat

[2022-11-28 02:34] linjieccc commented on #3915
@wxs-newboy Hi，

docprompt不支持在如下脚本中替换静态图模型文件的形式进行预测，
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/infer.py

如果需要测试自己的图片建议使用``Taskflow("document_intelligence")``

[2022-11-28 02:37] yysirs opened #3923 "rvl_cdip_sampled数据集没有找到"
### 问题描述

基于ernie-layout进行rvl_cdip_sampled分类任务，下载rvl_cdip_sampled失败
[code]
huggingface上面也没有找到相应的数据集
![image](https://user-images.githubusercontent.com/43271630/204179624-96031365-a937-424e-a6b9-503c685607ae.png)

[2022-11-28 03:04] xinsheng44 commented on #3915
@linjieccc

感谢回答，请问，如果我不使用Taskflow("document_intelligence")，我想使用基于infer.py进行预测的话，只能自己进行微调吗？不能直接使用百度大大训好的模型吗
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/deploy/python/infer.py

[2022-11-28 03:16] godlockin commented on #3905
it works, and also support Chinese terms, cheers

[2022-11-28 03:16] #3905 closed, assigned to wj-Mcat

[2022-11-28 05:21] LemonNoel commented on #3923
这里实现可能有点问题，可以先将文件中 `from datasets import load_dataset` 替换为 `from paddlenlp.datasets import load_dataset` 读取数据，晚点我们修复一下。

[2022-11-28 05:29] yysirs commented on #3923
修改完之后，
[code]

[2022-11-28 06:07] LemonNoel commented on #3923
分类任务的话，文件中[这一行](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/run_cls.py#L26)前边加上一行`import paddlenlp`，`rvl_cdip_sampled`是数据集名，并不是方法。

[2022-11-28 06:21] chenqianhe commented on #3894
@lugimzzz 能帮忙看看问题在哪里嘛

[2022-11-28 06:23] lugimzzz commented on #3894
好的，我稍晚看一下这个问题

[2022-11-28 06:29] zcg-joker opened #3926 "[Bug]:下载预训练模型时报错404"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

from paddlenlp.transformers import AutoTokenizer
from model import UIE

tokenizer = AutoTokenizer.from_pretrained("roformer-chinese-base")
model = UIE.from_pretrained("roformer-chinese-base")

[2022-11-28 06:38] yysirs commented on #3923
已经增加了
![image](https://user-images.githubusercontent.com/43271630/204210072-0653f791-a093-4c49-845f-c0ac826a3c9e.png)
但是报错了，刚才没有贴出来完整的错误信息
[code]

[2022-11-28 06:42] yysirs commented on #3923
好的，刚才那个报错信息没有贴完整，已经解决了

[2022-11-28 06:56] yysirs commented on #3923
代码修改成
![image](https://user-images.githubusercontent.com/43271630/204213113-02aeda87-a872-4b22-b6a1-86c64be27ff7.png)
但是还是报错找不到
[code]

[2022-11-28 07:27] gongel opened #3928 "[Feature request] To add AutoConfig"
### Feature request

我们有 `AutoModel`,`AutoTokenizer`, 但缺少` AutoConfig`
[code]

[2022-11-28 07:32] wawltor commented on #3926
[code]
不是从UIE model 来from_pretrained

[2022-11-28 07:46] everzhou commented on #3872
@linjieccc  能看下 train.py 报错的问题么 ？

[2022-11-28 08:10] ZHUI commented on #3908
你好
1. 对目前发版的paddle，可以尝试 https://github.com/PaddlePaddle/PaddleNLP/pull/3884/files 切换回，原来的expand_as, 对于低版本的paddle
2. 使用最新的 develop ，这个pr修复了问题，https://github.com/PaddlePaddle/Paddle/pull/48336

[2022-11-28 08:37] gongel opened #3930 "[Question]: 模型下载进度条不显示网速"
### 请提出你的问题

最新代码走的是`get_path_from_url_with_filelock`, 缺少了之前显示网速的部分：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/utils/downloader.py#L246-L252

Influenced by #3788

[2022-11-28 08:41] LemonNoel commented on #3923
检查下paddlenlp是不是最新版本，然后再测下之前说的两种方法：
第一种，把[原来导入的这行](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/run_cls.py#L26)改为
[code]
第二种，在[原来导入load_dataset](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-layout/run_cls.py#L26)前加上`import paddlenlp`，也就是
[code]

[2022-11-28 08:47] yysirs commented on #3923
升级了2.4.3版本，可以了

[2022-11-28 08:57] tianjiahao opened #3931 "[Question]: ernie-3.0量化模型推理报错: segmentataion fault"
### 请提出你的问题

环境：
paddlenlp：2.4.3
paddleslim：1.0.0
paddlepaddle-gpu:2.3.0
问题：
进行ernie-3.0分类任务加速时，进行模型裁剪+量化，模型加速转换正常，进行infer推理时候，裁剪模型推理正常，量化模型推理报错：segmentation fault
执行命令： python3 infer.py --model_path ./out/width_mult_0.75/KL16_1/int8
mse模型也是同样的segmentation fault错误

[2022-11-28 09:02] yangbin-Neil opened #3932 "[Question]: 评估指标的优化等三个问题"
### 请提出你的问题

问题一：请问飞桨有没有提供实体级别的评估方法。我目前在做命名实体识别任务，我想将以字级别的评估改为以实体级别的评估，但是没有找到相应的案例，请问可以提供一下吗？

问题二：我对预训练模型进行了微调，但是使用该模型时为什么每次预测的结果不一样，预测一次变一次，之前是不变的，但有一段时间在使用java调用python程序之后，这个问题就出来了，也找不到问题出在哪里，我该从哪着手解决这个问题。

[问题三：请问以下这个报错是什么原因？实在使用模型进行预测的时候产生的。
ValueError: (InvalidArgument) The type of data we are trying to retrieve does not match the type of data currently contained in the container.
  [Hint: E

[2022-11-28 11:12] LemonNoel commented on #3931
辛苦贴下具体的报错日志

[2022-11-28 11:37] LemonNoel commented on #3932
1. 实体级别的评估可以看看 [ChunkEvaluator](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/metrics/chunk.py)是否符合需求，可用于BIOS类型的实体识别效果评估
2. 模型评估阶段可以检查下 `dropout` 等带有随机性的函数是否已经固定，在`python`中的实现是`model.eval()`
3. 从报错信息看，应该是数据类型不匹配，可以先查看下模型需要的输入数据类型，和构造出来的数据类型是否一致。

[2022-11-28 12:01] sijunhe commented on #3899
paddlenlp v2.4.4 released

[2022-11-28 12:01] #3899 closed, assigned to wj-Mcat, joey12300, 2742195759, wawltor, ZHUI, westfish, gongel, LemonNoel, sljlp, JunnYu

[2022-11-28 12:03] #3774 closed, assigned to FrostML, wj-Mcat, w5688414, ZHUI, westfish, gongel, LiuChiachi, linjieccc, JunnYu, lugimzzz

[2022-11-28 12:11] shihanmax opened #3934 "[Question]: UIE：CCKS基线代码：解码细节请教"
### 请提出你的问题

@luyaojie 你好👋，请问[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP)/[examples](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples)/[information_extraction](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction)/[DuUIE](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuUIE)/inference.py 中实现的比赛基线方案中，

[2022-11-28 12:59] w5688414 commented on #3934
<img width="1005" alt="swagger_aip_demo" src="https://user-images.githubusercontent.com/12107462/204282574-4a468ba5-d32f-4ead-970b-87139b613521.png">

[2022-11-28 14:59] LiuChiachi commented on #3931
请问你的机器的cuda版本是？使用的是paddle2onnx+onnx推理还是paddle inference+trt呢

[2022-11-29 01:44] tianjiahao commented on #3931
![Rong_Image_1669686081606](https://user-images.githubusercontent.com/39933745/204417878-4c36f2e6-a5cc-4065-b609-65fff460616d.jpeg)
![Uploading Rong_Image_1669686078878.jpeg…]()

[2022-11-29 01:45] tianjiahao commented on #3931
cuda11.2,cudnn8.1,用的是paddle inference

[2022-11-29 03:31] chenqianhe commented on #3894
您好，请问有定位到是什么问题吗

[2022-11-29 05:44] ZTurboX opened #3939 "ernie-gen使用FasterGeneration"
### 请提出你的问题

ernie-gen样例中数据为什么用\002分割，可以不分割吗？另外ernie-gen可以使用FasterGeneration吗？

[2022-11-29 05:45] BlueSkyBubble opened #3940 "[Question]: pddlenlp中是否有针对中文数据的t5模型？"
### 请提出你的问题

pddlenlp中是否有针对中文数据的t5模型，即mt5？

[2022-11-29 06:12] menghonghan commented on #3802
你好，我参考#3760后还是会时不时报这个错，代码如下：

import paddle
paddle.disable_static()
import paddle.fluid as fluid
paddle.fluid.enable_dygraph()

import traceback
import threading

lock = threading.Lock()
@app.route('/api',methods=['GET','POST'])
def plat_api():
    global ocr
    out = None
    if request.method == 'POST':
        try:
            json_data = request.get_data()
            lock.acquire()

[2022-11-29 06:13] menghonghan commented on #3802
你好，我参考#3760后还是会时不时报这个错，代码如下：

import paddle
paddle.disable_static()
import paddle.fluid as fluid
paddle.fluid.enable_dygraph()

import traceback
import threading

lock = threading.Lock()
@app.route('/api',methods=['GET','POST'])
def plat_api():
    global ocr
    out = None
    if request.method == 'POST':
        try:
            json_data = request.get_data()
            lock.acquire()

[2022-11-29 06:35] wawltor commented on #3939
需要用\002分割，同时ernie-gen还不支持FasterGeneration；个人建议使用unimo-text 或者 T5模型来做生成，参考下面的代码
 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/question_generation

[2022-11-29 06:40] lugimzzz commented on #3894
建议使用最新版本paddlenlp，就没有这个问题。在版本2.2.6确实会出现这个问题，应该是adamw版本之前的不同。

[2022-11-29 06:41] wawltor commented on #3940
PaddleNLP里面集成了中文 mengzi T5模型和相关示例，可以参考以下代码
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/t5/zero_shot_demo.py

[2022-11-29 06:55] stefanqxb opened #3941 "[Question]: Ernie-layout support for multi-answers VQA finetuning"
### 请提出你的问题

Hi there,
I have another question here, regrading the VQA dataset, seems now for each question, we only have one answer, for example: {"text": xxx, "answer_start": [2], "answer_end":[5]}, which the answer is a consective span from the text, so Im wondering if we support questions with answers which is not consective, e.g. multi-span VQA ??

For example, given a OCR result is ["This",

[2022-11-29 07:06] bigcash commented on #3783
也是刚刚遇到同样的问题，新版本要求paddle版本是2.4.0以上，建议你更新安装2.4.0rc0版本。
另外，下载release中的源码吧，比如2.4.3，develop里代码因为更新比较快，可能有不太稳定的问题，更新多难免出点问题，(￣▽￣)"
感谢开源~

[2022-11-29 07:49] JimmyLyods opened #3942 "uie-m-base目前是否支援訓練"
### 问题描述

您好,目前正在研究paddleNLP的訓練
使用官方的資料做訓練是可行的,
但試著將uie-base改成uie-m-base
python finetune.py  --device cpu --logging_steps 10 --save_steps 100 --eval_steps 100 --seed 42 --model_name_or_path uie-m-base --output_dir ./checkpoint/model_best --train_path data/train.txt --dev_path data/dev.txt  --max_seq_length 512  --per_device_eval_batch_size 16 --per_device_train_batch_size  16 --num_train_epochs 10

[2022-11-29 07:52] guanghuixu opened #3943 "[Question]: UIE微调后无法直接用于taskflow推理"
我基于UIE-base微调了模型，并重新指定了task_path，但无论输入什么返回结果都为空
[code]

`checkpoint_path`目录下有pdparams文件
![image](https://user-images.githubusercontent.com/20624157/204469977-b435a631-34f2-4153-ad3d-f31a3d6bea13.png)

我没有真正训练完，训练时设置的epochs过大了。使用中间checkpoint也是可以用于taskflow推理的吧？
我的微调脚本如下：
[code]

[2022-11-29 08:08] miknyko opened #3944 "[Bug]: 使用同样的文本多次运行ernie-3.0系列模型进行文本特征抽取, 获得的特征不一致"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

[code]

[2022-11-29 08:16] miknyko commented on #3944
我猜测是不是通过这种方式调取ernie, 里面都会自带一个权重随机的classifier层?但是为什么同样的`AutoModel`用其他模型就没这个问题..是不是该统一一下?

[2022-11-29 08:19] wawltor commented on #3942
可以支持，需要加上 训练参数需要 --multilingual
<img width="1043" alt="image" src="https://user-images.githubusercontent.com/16698950/204475900-ef271688-d10d-489b-9bc6-eb666b0789d3.png">

[2022-11-29 08:19] wawltor commented on #3943
可以支持，把相关的文件夹路径写上去就行

[2022-11-29 08:25] guanghuixu commented on #3943
但我不指定task_path时可以出结果，一旦指定checkpoint路径就不行，
微调后的模型总会比没微调好一点？在开发集上的效果为 precision 0.81, recall 0.3, f1 0.44
我即使输入训练集的文本也没有结果

[code]

[2022-11-29 08:28] LiuChiachi commented on #3944
model.eval()试试呢？是不是dropout没有关闭导致的

[2022-11-29 08:31] wawltor commented on #3943
你把 checkpoint/model_best/checkpoint-10000 下的static目录删除试试

[2022-11-29 08:32] miknyko commented on #3944
eval()也是不行的

[2022-11-29 08:33] JimmyLyods commented on #3942
您好,已經可以訓練了,感謝

另外,請問一下如果用uie-m-base模組做訓練,
訓練資料是全英文是否可行?

[2022-11-29 08:34] guanghuixu commented on #3943
删除了，paddle会重新自动生成
![image](https://user-images.githubusercontent.com/20624157/204479143-3411669b-d7d3-4ba3-bc62-7f6d5417c169.png)
但还是不能出结果

[2022-11-29 08:38] wawltor commented on #3943
确定这个checkpoints的效果是非常好的吗，有可能这个checkpoints效果不佳导致的

[2022-11-29 08:39] wawltor commented on #3942
可以

[2022-11-29 08:39] linjieccc commented on #3941
@stefanqxb Hi,

Thanks for your attention on ernie-layout.

CrossEntropyLoss and softmax are used on the task of fine-tuning ernie-layout on docvqa_zh dataset.

For multi answers VQA scenario, I think you should replace CrossEntropyLoss by BCELoss in training and replace softmax by sigmoid in the computation of start and end probabilities of spans.

[2022-11-29 08:44] guanghuixu commented on #3943
F1 score确实一直维持在0.4左右
这是正常的吗？

[2022-11-29 08:45] LiuChiachi commented on #3944
你好，看了一下pooler的参数是随机初始化的，预训练模型里面没有带
如果你要固定，可能需要在模型定义之前加上`paddle.seed(42)`

[2022-11-29 08:45] JimmyLyods commented on #3942
好的,感謝回覆

[2022-11-29 09:05] wawltor commented on #3943
不正常，0.4是比较低的score，可以尝试debug一下最佳模型的效果，一般情况下都是数据的问题 1) 标注数据小 2）标注质量不高，例如标注标准不统一

[2022-11-29 09:47] miknyko commented on #3944
好的明白了, 但是我比较疑问的是, 我进行文本embedding的话, 还有其他调用方式吗?我不太想要这个随机的pooling层, 里面的随机参数对文本特征抽取是不是意义不大

[2022-11-29 10:49] JimmyLyods commented on #3942
您好,我在訓練全英文資料遇到錯誤,
doccano_ext.json內容
{"id": 1, "text": "004019000921 Jimmy Chen Singpei road", "relations": [], "entities": [{"id": 0, "start_offset": 0, "end_offset": 12, "label": "Accounts"}, {"id": 1, "start_offset": 13, "end_offset": 23, "label": "Person"}, {"id": 2, "start_offset": 24, "end_offset": 37, "label": "Address"}]}
{"id": 2, "text": "902141913004 Terry Kuo Jings road", "relations":

[2022-11-29 11:02] wawltor commented on #3942
你的paddlenlp版本是什么版本？

[2022-11-29 11:02] LiuChiachi commented on #3944
你可以操作`sequence_output`，没有经过Pool

[2022-11-29 11:05] LiuChiachi commented on #3931
你好，日志里你截图的部分没有报错呀。是不是在下面？

[2022-11-29 11:08] JimmyLyods commented on #3942
您好,我的版本
Name                    Version                   Build  Channel
paddlenlp                 2.4.3                    pypi_0    pypi

Python的版本是 3.9.7

[2022-11-29 11:25] tianjiahao commented on #3931
![2](https://user-images.githubusercontent.com/39933745/204516906-9741a46d-b3f1-43c8-8538-428f64ace53e.jpg)

[2022-11-29 11:26] tianjiahao commented on #3931
更新一下日志，错误见上图

[2022-11-29 11:33] linjieccc commented on #3942
@JimmyLyods 请问有对这里模型的类名做过改动么 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/model.py#L44

或者可以试试在finetune.py脚本中加上

[code]

[2022-11-29 12:22] lichuanxiang opened #3949 "[Question]: ernie-health spo 抽取任务，不会返回实体类型吗？"
### 请提出你的问题

请教下，ernie-health 的 spo 抽取任务，不会返回实体类型吗？看输出，包括实体文本、span位置，spo实体文本+关系，想问下能拿到 subject、object 的实体类型吗？
![image](https://user-images.githubusercontent.com/10071850/204527604-69630b24-7a9c-46f6-b7fa-63ad82d0ddeb.png)

[2022-11-29 12:39] JimmyLyods commented on #3942
您好,我沒有修改model.py這隻程式,
有需要修改什麼做調整嗎?

我在finetune.py的98行新增training_args.label_names = ["start_positions", "end_positions"]
已經可以成功執行並儲存,
想請教一下我在執行訓練的指令
python finetune.py  --device cpu --logging_steps 10 --save_steps 100 --eval_steps 100 --seed 42 --model_name_or_path uie-m-base --output_dir ./checkpoint/model_best --train_path data/train.txt --dev_path data/dev.txt  --max_seq_length 512  --per_device

[2022-11-29 12:58] BlueSkyBubble commented on #3940
请问有在中文数据集上微调训练的代码吗?

[2022-11-29 17:43] zcg-joker opened #3953 "[Question] 使用tokenizer报错"
### 请提出你的问题

    使用：encoded_inputs = tokenizer(text=[example["prompt"]],
                               text_pair=[example["content"]],
                               truncation=True,
                               max_seq_len=max_seq_len,
                               pad_to_max_seq_len=True,
                               return_attention_mask=True,
                               return_positio

[2022-11-29 17:56] zcg-joker commented on #3953
单独拿出来在notebook里使用就不会报错，能正常返回。
[code]

[code]

[2022-11-29 19:31] coolinstar commented on #3657
@wawltor  @linjieccc
此問題跟著之前的討論
調整過的develop版本仍然報錯

另建虛擬環境2.4.3 可運行
請問2.4.3的更新是否除了release note之外
還有其他更動?

[2022-11-30 00:26] ZTurboX commented on #3939
看到unimo-text 使用FasterGeneration时用动态图预测的，是否可以转成静态图再用FasterGeneration部署

[2022-11-30 00:30] ZTurboX commented on #3939
unimo-text模型挺大的，有么有相关模型剪裁蒸馏量化方案

[2022-11-30 00:40] #3738 closed, assigned to linjieccc

[2022-11-30 01:49] miknyko commented on #3944
好的, 明白了, 谢谢

[2022-11-30 01:49] #3944 closed

[2022-11-30 02:13] guanghuixu commented on #3943
[code]
我重新定位了一下，是因为抽不出`评价维度`和`观点词`导致的结果为空
这个模型如果只做情感分类，是可以的
这可能跟我的微调数据有关，我用的是美团的ASAP，它本身只做方面级的情感分类，`评价维度是高度概括的字段(如food#Taste)`，不在原文text中出现
因此我想确认两个问题
1. UIE在训练中使用了多少数据？是否已经包括ASAP，包括的话，可以请教下你们的构造方式吗？我本意是想保留UIE的zero-shot抽实体能力，然后情感分类上用ASAP增强。我的构造方式如下，但微调效果很差
[code]
2. 目前UIE是抽取范式，请问有实现生成范式的计划或打算吗？

[2022-11-30 02:25] LemonNoel commented on #3949
ernie-health 抽取实体的方式是预测实体的起止位置，没有预测实体类型。

[2022-11-30 03:46] wj-Mcat commented on #3953
@zcg-joker  你能给出稳定复现问题的 example 吗？通过上面的描述没办法找到具体问题所在。

[2022-11-30 03:58] menghonghan commented on #3802
完整代码

import paddle
paddle.disable_static()
import paddle.fluid as fluid
paddle.fluid.enable_dygraph()

import traceback
import threading

ocr = hub.Module(name="chinese_ocr_db_crnn_server", enable_mkldnn=True)

def plat_alonglist_in_api():
    global ocr
    out = None
    if request.method == 'POST':
        try:
            json_data = request.get_data()
			lock.acquire()
            myjson = j

[2022-11-30 04:04] datalee commented on #3472
为什么要加锁？

[2022-11-30 04:04] wawltor commented on #3940
可以参考问题生成的微调方式： https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/question_generation/t5

[2022-11-30 04:06] wawltor commented on #3939
加速可以使用FasterTransformer来加速，可以FP16加速
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/16698950/204705121-03c74cc4-6f0c-4258-9b74-d5a54c612b8f.png">

[2022-11-30 04:10] wawltor commented on #3943
1. UIE微调数据包括了ASAP相关数据，具体构建方式看
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md

<img width="913" alt="image" src="https://user-images.githubusercontent.com/16698950/204705467-29de70ed-5259-42f5-ba38-5146e3884291.png">
<img width="964" alt="image" src="https://user-images.githubusercontent.com/16698950/204705487-d657a8dc-01c2-4526-9888-3b49d096749a.png">

如果只加情感分类的数据微

[2022-11-30 04:19] stefanqxb commented on #3941
Hi @linjieccc
    Thanks for the answers, so I have two questions here now :D
    1. do we have some instructions where those codes are so I could replace as u suggested ?
    2. How should  we formulate our training dataset for this mutli-answers cases?  Given that, now the **answer** part in the training data is set is `{"text": ["xxxx"], "answer_start": [1], "answer_end":[4]}` which is for the

[2022-11-30 05:18] wj-Mcat commented on #3513
## 问题复现

我这边用以下代码能够复现出你的问题：

[code]

用以下命令多次运行以上代码就会出现hang 住的问题：
[code]

第一次运行时不会出错，可是第二次就会 hang 住。后续会针对于这个问题来提交 PR Fix。

## 原因分析

原因是在于：lock_file 是根据 url + root计算 md5 值来生成的，可是如果一个模型重复下载的话，就会出现问题。

此时可通过添加进程号信息从而来避免这个问题：lock_file = md5(url, root_dir, ppid) 这样的方式可以有效避免这个问题。

[2022-11-30 06:25] lichuanxiang commented on #3949
@LemonNoel 所以整体模型思路是参考 TPLinker 吗？

[2022-11-30 07:01] guanghuixu commented on #3943
非常感谢回复！谢谢

[2022-11-30 07:01] #3943 closed, assigned to wawltor

[2022-11-30 07:44] liuliuNLP opened #3958 "[Bug]: ModuleNotFoundError: No module named 'paddle.distributed.sharding'"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

from paddlenlp import Taskflow

# 默认模式————实体粒度分词，在精度和速度上的权衡，基于百度LAC
seg = Taskflow("word_segmentation")
seg("近日国家卫健委发布第九版新型冠状病毒肺炎诊疗方案")

[2022-11-30 07:48] ChristmasLatte commented on #3953
我是在执行pipelines的端到端智能问答时遇到了这个报错，
环境是用Anaconda新建的虚拟环境，python=3.7.13, paddlepaddle-gpu的安装参考了官网的基于conda安装的命令，硬件版本：
cuda: 11.4
nvidia-driver: 470.141.03
显卡：RTX-3090

环境中python包的版本：
python=3.7.13
paddlepaddle-gpu=2.4.0.post112
paddlenlp=2.4.4
cudatoolkit=11.2.2 conda-forge
cudnn=8.2.1.32   conda-forge

在执行快速[https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/examples/question-answering](ht

[2022-11-30 07:55] wawltor commented on #3958
PaddlePaddle的版本过低，请升级到2.4rc版本

[2022-11-30 08:33] linjieccc commented on #3802
@menghonghan Hi，

试试把lock.acquire()放到try...的外面，另外可以试试不加ocr，单独抽取文本是否有问题

[2022-11-30 08:34] Deeeerek commented on #3953
同遇到，异常字符都会报错

[2022-11-30 08:40] Deeeerek commented on #3820
@wj-Mcat 没解决咋就close了呢？

[2022-11-30 08:44] ChristmasLatte commented on #3953
怪不得，我把问题里"北京市有多少个行政区？"里的问号删掉就可以了

[2022-11-30 08:52] Deeeerek opened #3959 "[Bug]: tokenizer：substring not found"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

PaddleNLP/examples/machine_reading_comprehension/SQuAD

python  run_squad.py  xxx

[2022-11-30 08:58] #3923 closed, assigned to nobody

[2022-11-30 09:27] #3912 closed, assigned to w5688414

[2022-11-30 09:47] liuliuNLP opened #3966 "[Bug]: TypeError: float() argument must be a string or a number, not 'tuple'"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

  if args.params_path and os.path.isfile(args.params_path):
        state_dict = paddle.load(args.params_path)
        model.set_dict(state_dict)
        print("Loaded parameters from %s" % args.params_path)
    model.eval()

    model = paddle.jit.to_static(
        model,
        input_spec=

[2022-11-30 10:01] ZHUI commented on #3958
也可以将paddlenlp升级到`2.4.4`

[2022-11-30 11:30] wawltor commented on #3966
能提供一下完整的复现的代码吗？

[2022-11-30 13:54] zhouzhongmi commented on #3966
@wawltor

OS版本：Ubuntu 20.04.4 LTS \n \l
Python版本：Python 3.7.12
paddle版本：
[code]

完整复现代码：
[code]