[2022-07-29 02:18] yeliang2258 commented on #2914
另外，生成量化模型的时候，麻烦将这个开关打开：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0/compress_trainer.py#L604
is_full_quantize=True

[2022-07-29 02:40] yeliang2258 commented on #2914
你也可以直接传一个fp32的模型，然后使用如下命令，进行的也是量化推理：
python infer_cpu.py --task_name seq_cls --model_path ./tnews_pruned_infer_model/float32 --precision_mode int8

[2022-07-29 03:00] wawltor commented on #2919
如果是这样的场景就不太建议使用UIE来做多标签分类，你可以尝试使用我们下面的链接来说使用多标签分类  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification

[2022-07-29 05:43] Macxy2018 commented on #2914
模型怎么发给你们呢？

[2022-07-29 05:43] Macxy2018 commented on #2914
这个已经转成功了的

[2022-07-29 05:43] Macxy2018 commented on #2914
这个我来试一下

[2022-07-29 05:45] jiweizhangxu opened #2920 "请问cg policy 多轮对话策略模型开源了吗？没开源的话，想许愿一下"
业务中用到多轮对话，只有plato模型的单轮对话无法满足要求，看b站你们的录播，上下两层的知识图谱的结合，看着效果真的很好，想探索探索，许愿开源一下

[2022-07-29 06:05] charlieliu9999 commented on #2908
uie 模型，定义是用小样本微调，用大数据量是否能有效果？多少数据量是合适的？
我用150多标注数据（一个科室数据），训练 uie-tiny ，有一定效果，实体识别较好，关系抽取差些。
在 uie 模型中，标注数据是否要涵盖所有实体和关系？对于未学习过的实体能否推理出来

[2022-07-29 06:06] yeliang2258 commented on #2914
网盘，发个链接给我吧

[2022-07-29 06:06] yeliang2258 commented on #2914
如果传入FP32的模型，设置--precision_mode int8的话，就会调用动态量化哦，应该也有加速

[2022-07-29 06:55] Macxy2018 commented on #2914
链接：https://pan.baidu.com/s/1yyk1D20obhmE4m0vxbKMtQ
提取码：6s0m
量化后的模型是这个

[2022-07-29 06:58] uncleunclelu opened #2921 "关于用uie模型微调后生成的模型文件中的static文件"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
你好，想问一下用uie模型微调后生成的模型文件中的static文件的作用是什么，里面包含inference.pdiparams，inference.pdiparams.info，inference.pdmodel这三个文件

[2022-07-29 07:01] wawltor commented on #2854
可以安装一下最新的develop版本的paddlenlp，下周一我们会发布官方的版本

[2022-07-29 07:01] wawltor commented on #2856
paddle的版本也是需要更新到最新的版本

[2022-07-29 07:02] #2866 closed, assigned to linjieccc

[2022-07-29 07:02] chenxiaozeng commented on #2915
感谢您的贡献，依赖pr已经合入了~ 我们最近也在做Prompt learning相关工作，期待和您有进一步的技术交流，这是我们的联系方式：邮箱 paddlenlp@baidu.com，方便的话可以留下您的联系方式，期待交流！

[2022-07-29 07:14] wawltor commented on #2921
在UIE训练的过程中使用的是动态图训练，在部署的过程中将动态图生成了静态图模型文件，静态图预测的速度会有很大的提升，静态图模型文件就是在static目录下

[2022-07-29 07:24] zhiyongLiu1114 commented on #2915
发邮件被拒了。。。。
由于此组限定只接收经过身份验证的发件人所发送的邮件，无法传递你的邮件。如果问题仍然存在，请与你的电子邮件管理员联系。
我的邮箱 liuzhiyong1995@163.com

[2022-07-29 07:40] wawltor commented on #2912
线下定位是机器被多人使用的问题，暂时关闭issue，后续有问题，可以再次打开该issue。

[2022-07-29 07:40] #2912 closed, assigned to wawltor

[2022-07-29 07:45] DraymondHIT opened #2922 "UIE英文模型的事件抽取任务"
您好，请问可以加入UIE事件抽取（Event Extraction）的英文预训练模型吗？

[2022-07-29 07:52] weihua04 commented on #2831
最初几次循环统计时间的时候GPU利用率可能还没上来，循环上千次，统计：总时间/总循环次数

[2022-07-29 07:55] yeliang2258 commented on #2914
@yghstill

[2022-07-29 08:39] LemonNoel commented on #2896
您好，因为HuggingFace API的接口和paddlenlp自带的有所区别，所以这里重新列下 `from datasets import load_dataset`这种情况手动加载的方法：

**方法一：在无网的机器上不修改代码，直接加载**

Step 1. 在有网络的机器上调用API下载数据
[code]

Step 2. 找到缓存数据，拷贝到无网络机器上用户目录下的相同位置，默认缓存地址为`~/.cache/huggingface/datasets/dureader_robust/plain_text/1.0.0/778994ce2284ac9c7b4f78ff6ea4e52e7fd61cf9b26d2aa95f8d20e67ca5c6f3`

**方法二：在无网的机器上改用`load_from_disk`加载**

Step 1. 在有网络的机器上调用API下载数据，调用`s

[2022-07-29 08:55] linjieccc commented on #2906
请问目前训练集正负样本的比例是多少，从预测结果来看错误召回比较多，可以适当增加负样本的比例

[2022-07-29 09:24] JoewithAmma commented on #2895
我使用新的conda環境還是沒有辦法，仍然只會執行1 epoch，想請問有可能甚麼文件需要刪除或程式碼有那裡可能會讓他提早結束嗎?因為我測試過train的段落，只保留計算部分，程式仍然只會執行1 epoch。

[2022-07-29 09:37] jiweizhangxu opened #2923 "plato-xl是不是只能适用于英文对话，无法用于中文对话？"
如题

[2022-07-29 09:48] wawltor commented on #2923
目前开源出来的plato-xl是英文版本的，plato-xl中文版本目前还没有开源计划

[2022-07-29 09:48] Chucy2020 commented on #2896
感谢您的回复，您提供的这两个方案前提都是先在有网络的情况下下载数据，之后才能在无网络的情况下调用。

HuggingFace API调用方式感觉可能在数据本地加载这方面没有paddlenlp更加友善哈哈，很感谢您的耐心认真解答。谢谢。

[2022-07-29 09:48] #2854 closed, assigned to nobody

[2022-07-29 09:52] linjieccc commented on #2922
目前英文版本还没有加入事件抽取的数据，预计在下一个版本提供支持，欢迎持续关注

[2022-07-29 09:55] yeliang2258 commented on #2914
升级一下paddle2onnx，这个模型我验证了可以转为ONNX的，如果还是报错可以尝试在PC上编译Paddle2ONNX develop再来转，编译安装教程：https://github.com/PaddlePaddle/Paddle2ONNX/blob/develop/docs/zh/compile.md

[2022-07-29 10:01] wawltor commented on #2892
您好，我这里执行相关命令是没有问题，下面是我环境配置
Paddle  Version: 2.3.1
PaddleNLP Version: 2.3.4

辛苦check一下paddle的版本

[2022-07-29 10:06] wawltor commented on #2915
您好，我们收到您的邮件，根据你的邮件有以下问题可以探讨了

1. issue #2892 执行报错
   我们线下尝试了一下，是没有问题，您可以尝试升级一下Paddle的版本
2. paddle 框架对tensor的切片支持
    目前Paddle对tensor的切片支持还不是很完备，我们在Paddle 2.4版本支持类似操作，您可以手动slice一下tensor，具体的API可以见
   https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/slice_cn.html#slice
3. optimizer 没有生效
    是否提供一下全部代码给我们尝试一下，目前提供的代码不太好定位问题

[2022-07-29 11:59] zhiyongLiu1114 commented on #2915
您好，optimizer 没有生效这个问题我定位应该是template 和 verbalizer 没有加到模型当中，不是模型的参数，导致梯度回传失败，没有梯度值。这个我后续解决下看。

[2022-07-30 14:33] krodio commented on #2886
麻烦帮瞄下，谢谢
[43778301-f58f-47ee-a16f-c9249d3ef8d0.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9226653/43778301-f58f-47ee-a16f-c9249d3ef8d0.zip)
！

[2022-07-31 12:51] BasicCoder commented on #2458
<img width="438" alt="image" src="https://user-images.githubusercontent.com/7875392/182027138-d24213b5-bfa5-43c0-86b0-9e457ea84113.png">

经过优化，在T4后端，uie-base 模型单个prompt在seq_len=512可以优化到11ms左右。

[2022-07-31 12:56] BasicCoder commented on #2458
<img width="459" alt="image" src="https://user-images.githubusercontent.com/7875392/182027397-f0700c4a-61d7-4c63-9e96-e62468819d37.png">

After optimization, on the T4 backend, the uie-base model can reach 11ms for a single prompt at seq_len=512.

[2022-08-01 01:07] jiweizhangxu commented on #2923
英文版本的plato-xl有什么办法能调整的适用于中文吗？

[2022-08-01 01:30] FrostML commented on #2828
可以试试看这个 [PR #2910](https://github.com/PaddlePaddle/PaddleNLP/pull/2910) 能否优化这个问题。

[2022-08-01 02:28] xmadog opened #2927 "UIE模型如何添加新字符到vocab.txt中，并重新训练"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
     paddlepaddle-gpu           2.2.0.post111
     paddlenlp                         2.3.4
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
      linux，python3.6
- 复现信息：
采用uie模型做信息提取时，发现对“HRB400Φ16"这个词的提取结果有误。
预期结果为:
'HRB400Φ16' = {'牌号':'HRB400','公称直径':'Φ16'}
实际训练后的预测结果:
'HRB400Φ16' = {'牌号':'HRB400Φ16

[2022-08-01 02:32] xsqiii opened #2928 "请问有没有遇到flask+gunicorn+UIE 基于docker封装服务的请求响应时间是本地gunicorn直接起的响应时间的1倍？"
1）PaddleNLP 2.3.4，PaddlePaddle2.3.1
2）系统环境：MacOS，python3.8

基于Flask + gunicorn + UIE框架（uie-nano抽取自定义8种实体类型）
本地gunicorn直接起服务，一句的响应时间约500ms；
配置一致，build docker后进行调用，同一句的响应时间约1s。

请问有遇到过这种问题吗？

[2022-08-01 04:09] ZHUI commented on #2927
你好，非常抱歉，这个确实是ernie词表带来的类似问题。这边建议您，可以
1. 对特殊字符之间，添加空格符号，单独表示这个符号`HRB400 Φ 16`
2. 像您提到的，添加 `##Φ` 字符，使用 `Φ`字符的 embedding 初始化，可以不用重新训练。

[2022-08-01 06:49] JoewithAmma commented on #2895
後來使用python3.9版本就可以正常運行，謝謝您的協助。

[2022-08-01 06:53] xmadog commented on #2927
感谢 @ZHUI 的解答，按照您的建议，首先将 ##Φ添加到了vocab.txt中，观察到分词正确了，但是uie预测结果还是不正确。
怀疑应该是分词导致了特征改变，所以对uie进行迁移训练，之后再次对这个bad case进行预测，得到了正确结果。问题解决，再次感谢

[2022-08-01 06:53] #2927 closed, assigned to wawltor

[2022-08-01 07:38] wawltor commented on #2923
这个看起来只能把输入翻译成英文，再把输出结果翻译成中文

[2022-08-01 07:52] wawltor opened #2929 "CNN文本分类出错"
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/16698950/182100088-c6e570f4-0217-48c6-9be9-b1bbc5e07196.png">

[2022-08-01 08:29] zoeChen119 opened #2931 "Batchsize=1显存不足"
- 版本、环境信息
1）PaddleNLP 2.3，PaddlePaddle2.3
2）系统环境：Linux，python3.7
3）batch_size=1,max_seq_lenth=512,train600条，test200条，dev200条

`# 模型训练：
import paddle.nn.functional as F
import time

save_dir = "checkpoint/bert-wwm"
if not os.path.exists(save_dir):
    os.makedirs(save_dir)

save_train_result = "./results/bert-wwm.tsv"
train_r_df = pd.DataFrame(data=None, columns=["global_step","epoch","step","loss"

[2022-08-01 08:48] JiehangXie opened #2932 "UIE支持一对多标注吗？"
doccano做UIE的信息提取标注，如果一句话是“主要分布在广东，在四川、云南、西藏也有分布，偶见湖北、湖南一带”，我想要提取的信息是分布省份，这样我做标注的时候，label可以一对多么，比如{"分布省份":['广东','四川','云南','西藏','湖南','湖北']}，还是只能以这句话为一个整体提取？

[2022-08-01 09:06] zoeChen119 commented on #2931
使用的模型是bert-wwm-chinese,albert-chinese-tiny,skep_ernie_1.0_large_ch

[2022-08-01 09:18] wawltor commented on #2929
{"text": "落户", "label": "1"}
{"text": "征兵政策", "label": "1"}
{"text": "土地政策", "label": "1"}
{"text": "企业合并", "label": "0"}
{"text": "社保卡怎么用", "label": "0"}
{"text": "森林防火命令", "label": "1"}
{"text": "全民健身计划", "label": "1"}
{"text": "疫情防控政策", "label": "1"}

停用词表： https://github.com/goto456/stopwords

[2022-08-01 09:30] wawltor commented on #2932
UIE可以做到一对多标注

[2022-08-01 09:52] lugimzzz commented on #2929
文本长度较短，jieba分词后序列长度短于CNN模型中卷积核大小（目前设为3），可以将CNN模型中卷积核大小设为1或2。具体代码修改[model.py 358行](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/rnn/model.py#L358)

`ngram_filter_sizes=(3, )  -> ngram_filter_sizes=(1, )`

![image](https://user-images.githubusercontent.com/63761690/182122221-4af06856-3be4-404b-84a9-cba85b205e96.png)

[2022-08-01 11:02] wawltor commented on #2928
测试了一下，并没有出现这个问题，不太确定是不是docker的网络的设置是否有问题？

[2022-08-01 11:14] hongdd commented on #2929
问题已解决，谢谢

[2022-08-01 12:32] LiuChiachi commented on #2931
您的显存有多大呢，换一张卡试试？

[2022-08-01 12:34] #2929 closed, assigned to lugimzzz

[2022-08-02 02:45] gongel commented on #2907
Thx to all～😄
Done🎉   https://github.com/PaddlePaddle/PaddleNLP/releases/tag/v2.3.5

[2022-08-02 02:45] #2907 closed, assigned to FrostML, joey12300, w5688414, guoshengCS, gongel, LemonNoel, LiuChiachi, linjieccc, yingyibiao, lugimzzz

[2022-08-02 03:36] wshzd opened #2936 "python ocr_process.py Fatal Python error: Segmentation fault"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

下面是我的paddle环境
padd

[2022-08-02 06:31] 1649759610 commented on #2936
我们在Aistudio上直接运行python ocr_process.py并没有复现出这个错误。

您这边是在aistudio上直接运行的吗？是的话，可以共享下aistudio链接，我们来看看。或者留下联系方式沟通一下。

[2022-08-02 07:23] Macxy2018 commented on #2914
使用源码方式安装了最新的paddle2onnx develop可以转换成功，但是发现了预测时间上的一个问题，经过量化后的int8模型预测时间比仅裁剪后的float32模型花的时间还要长。机器是X86-64的4核机器，同样的文本，量化后int8预测花费0.188s，裁剪0.75的float32花费0.144s。

[2022-08-02 07:27] yeliang2258 commented on #2914
你需要对比的是：裁剪 和 裁剪 + 量化，而不是对比 量化 和 裁剪，另外量化性能如果和你的机器有很大的关系，并不是量化就一定可以有较大的加速效。使用ORT的话，升级到1.11.1

[2022-08-02 07:47] Macxy2018 commented on #2914
对比的就是 裁剪+量化 和 裁剪，目前使用的ORT是1.12.0

[2022-08-02 07:48] #2843 closed, assigned to LiuChiachi

[2022-08-02 07:53] PKQ1688 opened #2940 "使用Doccano标注训练好的数据，然后在训练的过程中被自动kill掉"
log如下:
$ sh DocumentReview/UIETool/run.sh
[2022-08-02 14:28:41,079] [    INFO] - Downloading resource files...
INFO 2022-08-02 14:28:41,079 download.py:117] unique_endpoints {''}
INFO 2022-08-02 14:28:41,079 download.py:154] Found uie-base/vocab.txt
INFO 2022-08-02 14:28:41,080 download.py:117] unique_endpoints {''}
INFO 2022-08-02 14:28:41,081 download.py:154] Found uie-base/special_tokens_map.js

[2022-08-02 07:55] yeliang2258 commented on #2914
可以使用如下脚本看看，运行之后使用netron打开optimize_model.onnx，看看matmul是否优化为了QMatMul或者QMatMulToFloat等OP了，如果已经存在上述的OP，则是已经跑了量化，只是当前机器下量化的性能不佳。

import onnxruntime as ort
sess_options = ort.SessionOptions()
sess_options.optimized_model_filepath = "./optimize_model.onnx"
sess = ort.InferenceSession('quant_model.onnx', sess_options)

[2022-08-02 08:58] BEILOP opened #2942 "关于解语和Lac哪个工具比较强的问题？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：pp2.3
2）系统环境：linux
我想问一下解语和Lac在分词和专名识别方面哪个比较强大

[2022-08-02 09:06] zhaobinchen commented on #2164
我也碰到了同样的问题，最后修改config.yml中模型文件夹的名称为正确名称就可以了。

[2022-08-02 09:06] wawltor commented on #2942
解语和LAC属于不同粒度的分词和NER工具，LAC的粒度更粗，解语是更细粒度的NER工具，包含了91种标签；
目前大家使用的过程中更偏向于更细粒度的NER和分词方式，这个方面解语的效果更好，但是预测的速度相对LAC速度慢点

[2022-08-02 09:37] weichen12345 opened #2943 "模型下载问题"
PaddleNLP 2.3.4，PaddlePaddle2.3.1
macos python 3.8
您好，加载预训练模型卡在- We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'uie-base' 然后程序就自动停掉了。

[2022-08-02 09:59] wshzd commented on #2936
安装环境是：
!pip install yacs
!pip install paddlenlp==2.3.4
!pip install paddleocr==2.5

我在aistudio中跑不通，在执行排序模块Rerank的时候，报错如下错误：
ValueError: Operator "gen_nccl_id" has not been registered.
完整的流程如下：
https://aistudio.baidu.com/aistudio/projectdetail/4373782?contributionType=1

同样的安装配置我在google colab中使用GPU跑通了，aistudio目前是CPU环境，可能是这个原因。

所以我后来打算在公司的GPU服务器上部署运行这套代码，结果运行python ocr_process.py报错了，有可能是服务器环境的问题，我还

[2022-08-02 10:05] linjieccc commented on #2940
您好，使用默认的例子训练的话会有这个问题么 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#%E8%AE%AD%E7%BB%83%E5%AE%9A%E5%88%B6

[2022-08-02 10:12] #2943 closed, assigned to nobody

[2022-08-02 10:17] weichen12345 commented on #2943
hao

[2022-08-02 13:14] 1649759610 commented on #2936
目前在CPU上会遇到如上环境兼容问题， 建议在AiStudio上使用GPU环境运行。

如果在公司GPU服务器上运行：
1.  确认一下paddleocr是否能够在当前环境正常运行
2. 尝试初始化一个新的python环境部署，运行python ocr_process.py
3. 下载使用github上最新的ocr_process.py脚本：https://github.com/1649759610/PaddleNLP/blob/hf_datasets/applications/doc_vqa/OCR_process/ocr_process.py

[2022-08-03 01:16] PKQ1688 commented on #2940
默认例子是指使用默认数据集的意思吗？目前我这边是load_dataset报的错。
train_ds = load_dataset(reader, data_path="data/doccano_data/train.txt", max_seq_len=512, lazy=False)
有没有办法在加载数据集的时候遇到有问题的数据集就跳过，类似于try的功能。

[2022-08-03 01:47] Lavender-SK opened #2947 "UIE预训练流程"
您好，请问下UIE的预训练流程是怎样的？
    1. 是将所有的标注数据混合在一起训练么？如果是的话，如何避免负迁移的情况发生？
    2. 实体关系抽取，或者事件抽取的数据会拆分成多条标注数据？
    3. 有可能开放预训练代码么？

[2022-08-03 02:11] Chucy2020 opened #2948 "阅读理解案例数据集问题，数据格式为arrow，且from datasets import load_dateset中的dataset文档找不到。"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

您好，最近在跑阅读理解的案例，发现r

[2022-08-03 02:40] bruce0210 opened #2949 "关于semantic-search的web服务页面搜索框交互问题"
（1）semantic-search搭建起web服务后，其前端页面搜索框中：总是会在输入下一次搜索内容后，跳回上一次的搜索输入内容。。
请问是什么情况？该如何解决？

（2）btw：再就是有个小小的建议期望：
搜索框能否通过js还是什么办法  实现我点击搜索框，默认的框内文字就不显示了；
![c9ab326339e3b57e1477dc41a2fe4de](https://user-images.githubusercontent.com/100854336/182517296-4046e9f2-4116-4782-b6dc-a78dbaf54374.png)
因为，现在这个在代码中设定的框内默认内容  需要人手动删。

上述（1）、（2）在实际业务场景中交互体验频率会比较高，看老师们有什么好的解决办法，感谢！

[2022-08-03 03:15] naginoa opened #2950 "关于readme中应用场景A：文本挖掘/解析模板生成与匹配 的问题"
对于文本使用wordtag进行信息抽取后，如 生成readme中的
[作品类_实体][肯定词|是][人物类_实体][场景事件|执导][作品类_概念|电影]

对于这样的模板，我们应该如何进行对句子的匹配呢？readme中没有放实际的例子。

对于wordtag_ie中的set_schema，必须要有实体间的关系，但我们并不需要关系，word_tag也不会抽取关系。

我们如何在不涉及关系的前提下，对句子进行模板匹配，如[作品类_实体][肯定词|是][人物类_实体][场景事件|执导][作品类_概念|电影]

谢谢您

[2022-08-03 03:21] wawltor commented on #2947
您好，
1. 可以一起训练，这样说到负迁移具体是什么含义了？
2. 实体抽取、事件抽取可以在一条标注数据里面，但是训练的时候会拆成多条数据来训练
3. UIE本身来说是没有预训练，底座是依赖于ERNIE-3.0系列的模型，ERNIE系列的模型预训练地址: https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0

[2022-08-03 03:22] wawltor commented on #2948
这个datasets是一个python工具包，可以直接pip install 一下

[2022-08-03 03:56] Chucy2020 commented on #2948
请问这个能加载本地json文件吗？还是只能加载arrow格式文件？我用该函数加载本地的robust的json文件报错，因为下载的robust文件是json格式，请问怎么处理？
![image](https://user-images.githubusercontent.com/73978694/182520756-2cd0d870-88f7-43fb-b3ae-d6b7389b134a.png)

![image](https://user-images.githubusercontent.com/73978694/182520664-6697cb5d-c23a-42f0-b98c-f70dd5c3149b.png)

[2022-08-03 06:02] Lavender-SK commented on #2947
我提到的多个数据集混合是指不同领域、不同任务的数据混合，比如A领域的NER任务-数据集AA，B领域的NER任务-数据集BB，C领域的分类任务-数据集CC，如果训练的时候将AA、BB、CC混合在一起，会不会互相有影响，影响模型性能

[2022-08-03 06:08] linjieccc commented on #2940
可以在数据读取这里加上try..except捕获下异常数据
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/utils.py#L182

[2022-08-03 06:12] linjieccc commented on #2947
如果不同NER任务的标签体系不冲突的话基本影响不大，可以混合训练

[2022-08-03 06:19] wawltor commented on #2948
https://huggingface.co/docs/datasets/loading#json  json的加载可以看这里的文档

[2022-08-03 06:32] wawltor commented on #2950
这里说的句子匹配是什么意思了？
如果单纯要单纯NER实体的话，使用下面的抽取即可，下面的NER抽取使用的是wordtag模型
<img width="1074" alt="image" src="https://user-images.githubusercontent.com/16698950/182539892-26f2ed85-0b0c-4d2d-90a0-dd539a3551c3.png">

[2022-08-03 06:35] Lavender-SK commented on #2947
看https://github.com/PaddlePaddle/PaddleNLP/issues/2891 这里的介绍：“在训练的过程中，主要的数据是不同领域的数据，例如互联网、医疗、金融、法律的数据，数据的来源主要是人工标注”
我的理解不同领域的NER标签还是很不一样的，比如医疗和法律肯定会不同，那你们在训练的时候也是混合在一起训练的？还是其他训练策略？

[2022-08-03 06:49] Chucy2020 commented on #2948
感谢你的解答，但是这个json嵌套格式和Dureader_Robust的格式不一样，直接加载还是会报错，请问你们代码这部分是怎么加载的？
![image](https://user-images.githubusercontent.com/73978694/182542487-824f604d-3985-4e35-9b5a-984028d37d7f.png)
robust格式如下：
![image](https://user-images.githubusercontent.com/73978694/182542615-1ff9e7f2-9087-48cc-85db-ab06e486c097.png)

[2022-08-03 06:51] wawltor commented on #2947
没有特殊的策略，直接拿这些样本一起混合训练

[2022-08-03 07:06] fallbernana123456 opened #2951 "question_answering 使用指定的其他model失败"
在Taskflow("question_answering")中会自动使用gpt-cpm-large-cn ，但是 由于太大了Out of memory error on GPU，也不支持多个GPU，　所以我找到还有一个
gpt-cpm-small-cn-distill 模型，但是通过model参数指定，发现配置里没有。我该如果配置才能使用gpt-cpm-small-cn-distill？

[2022-08-03 07:14] purelxj opened #2952 "UIE的Taskflow在使用fp16时指定了GPU，实际进程还会占用其他的GPU"
my_ie = Taskflow("information_extraction", schema=schema, task_path='./uie/checkpoint/model_best', device_id=1)
指定device_id=1运行在GPU1上，实际会在GPU0上拉起一个进程。当进行第一次推理pprint(my_ie("城市内交通费7月5日金额114广州至佛山"))之后，又会在GPU1上拉起一个进程。如图。
![image](https://user-images.githubusercontent.com/52725062/182547020-139452a5-b16e-4136-bb7e-5d1750dfdaf9.png)
如果不使用fp16，就没有这个问题。猜测应该是使用fp16时onnx的原因。是否可以后续统一到指定的GPU上？

[2022-08-03 08:23] guoshengCS commented on #2948
是您那边的数据格式和dureader_robust的一样是吗

[2022-08-03 08:53] Chucy2020 commented on #2948
是的，我就是用的dureader_robust数据集，跑的你们提供的代码，只是我服务器无法联网，没法下载数据，只能手动下载下来，但是加载本地的数据集总是报错。我该采用什么方式能跑通你们提供的案例，并且可以跑其他的本地和dureader_robust数据格式一样的阅读理解数据集？

[2022-08-03 09:14] guoshengCS commented on #2948
这种情况的话也有其他处理办法，比较直接的一种是您那边可以本地用`python -m http.server `启一个http server，然后将 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/hf_datasets/dureader_robust.py#L34 这里的URL换成本地的压缩包URL就可以使用了

[2022-08-03 09:20] Chucy2020 commented on #2948
好的，感谢，请问还有其他的不用开启服务的方式吗？

[2022-08-03 09:23] guoshengCS commented on #2948
或者可以试下将这里 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/datasets/hf_datasets/dureader_robust.py#L90 dl_dir改成本地目录

[2022-08-03 09:25] Chucy2020 commented on #2948
好的，明白，感谢。

[2022-08-03 10:28] w5688414 commented on #2949
这是pr，看能不能满足您的需求。 https://github.com/PaddlePaddle/PaddleNLP/pull/2954

[2022-08-03 11:24] wawltor commented on #2951
目前Taskflow里面还不支持gpt-cpm-small-cn-distill，我们可以把这个放到计划列表上

[2022-08-03 12:35] naginoa commented on #2950
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge
在这里  在readme 应用场景A 中

![1659530059628](https://user-images.githubusercontent.com/28385060/182608860-58b45c7b-d945-4338-99fd-eaadb48d1cbd.jpg)

[2022-08-03 13:18] naginoa commented on #2950
这里说利用该模板，可以匹配除所有该句式的文本。具体的方式没有给，是需要自己写吗

[2022-08-03 14:10] mjx18 opened #2955 "最近在学习nlp客户机器人，在ai studio上有不少案例，但发觉通用性不强，有没有简单点的对话机器人案例"
最近在学习nlp客户机器人，在ai studio上有不少案例，但发觉通用性不强，有没有简单点的对话机器人案例，我只要上传txt或excel问答，经过短信训练，马上就能生成对话了呢？多谢。

[2022-08-03 14:56] wawltor commented on #2950
这个模板匹配需要自己写一下，相对来说比较简单，因为wordtag能抽取出来实体，只要通过简单判断实体是否匹配就行
[code]

[2022-08-04 02:29] 18140663659 opened #2957 "UIE微调速度异常慢"
1）PaddleNLP 2.2，PaddlePaddle2.3.4
2）系统环境：Ubuntu 18.04.1 LTS，python3.6.4

使用官网提供的UIE微调代码，cpu下运行特别慢，一个晚上没跑完10epoch

[2022-08-04 02:42] joey12300 commented on #2955
@mjx18 你好，这里有个基于UnifiedTransformer的人机对话示例，你看看是否可以解决你的问题？如果数据量小、对话简单的话，可以尝试使用参数量较少的`plato-mini`预训练模型 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer

[2022-08-04 02:43] ZHUI commented on #2957
请问有GPU资源吗？CPU跑可能会慢一些。

[2022-08-04 02:45] 18140663659 commented on #2957
打算切gpu试一下，但是cpu跑的速度也过于慢了，怀疑哪里有问题

[2022-08-04 02:57] ZHUI commented on #2957
可能，使用的cpu线程数有点少，可以看一下 cpu 利用率。

[2022-08-04 02:59] mjx18 commented on #2955
好的，多谢。

--
发自我的网易邮箱手机智能版

在 2022-08-04 10:43:05，"Jack Zhou" ***@***.***> 写道：

@mjx18 你好，这里有个基于UnifiedTransformer的人机对话示例，你看看是否可以解决你的问题？如果数据量小、对话简单的话，可以尝试使用参数量较少的plato-mini预训练模型 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: *

[2022-08-04 03:14] yaleimeng commented on #1857
@joey12300   带CRF层的两种模型无法转静态图（总报错），只能暂时用动态图。
但源码中只有对测试集（特殊格式）直接预测的相关代码，怎样对其他的一个或多个语句进行预测呢？折腾了大半天也搞不定。。源码不行，ernie +fc 的部署 predict里面的局部移花接木也不行。。简直要吐血。 @you567  @wawltor
已经几个月了，希望这一块早日更新哦。

[2022-08-04 04:03] hjing100 commented on #2957
是的 很慢，一晚上没盘10个epoch

[2022-08-04 04:59] linjieccc commented on #2957
uie-base模型大一些CPU下会比较慢，建议在GPU环境下进行微调，CPU下推荐用tiny系列模型

<img width="544" alt="image" src="https://user-images.githubusercontent.com/40840292/182766268-c4005bcb-607d-4573-9c6b-4b125eacccb7.png">

[2022-08-04 05:22] kevinuserdd opened #2960 "和model_zero/uie有什么不同"
请问，examples/information_extraction/duuie中的训练测试代码和项目中model_zero/uie下面的训练有什么不同？

[2022-08-04 06:01] mfxss opened #2961 "使用UIE进行事件抽取的训练数据格式的要求是什么，可否给个例子说明一下"
请问手上已经有事件抽取的语料，需要处理成什么样的格式才能进行fine tune。
doccano_ext.json处理后的结果，也只是实体标注的样例。

[2022-08-04 07:05] #2948 closed, assigned to guoshengCS

[2022-08-04 08:32] wawltor commented on #2960
examples/information_extraction/duuie 这个版本是UIE的paper的版本，通过生成模型来进行信息抽取，偏向于学术；
model_zoo/uie是通过大量语料微调出来的模型，使用的是阅读理解式的抽取模型，在工业使用效果相对好

[2022-08-04 08:43] linjieccc commented on #2961
您好，事件抽取的数据格式可以参考这个例子

[code]

[2022-08-04 08:53] wawltor commented on #2921
您好，我们暂时关闭该issue，有疑问的话可以再次打开issue。

[2022-08-04 08:53] #2921 closed, assigned to wawltor

[2022-08-04 09:20] pengaoao opened #2966 "每次导出的onnx测试精度不一样"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！
版本信息：
paddle-bfloat

[2022-08-04 09:30] pengaoao commented on #2966
是否是我导出onnx流程有误？ 如果不是为啥每次导出的onnx，测试acc不同？

[2022-08-04 09:51] wawltor commented on #2966
这个是因为AutoModelForSequenceClassification的模型中存在一个linear层，这个层每次初始化的时候都是随机初始化参数的，所以导致你导出的模型每次都不同；比较合理的方式，你在AutoModelForSequenceClassification加载数据进行微调，然后保存一个固定的参数，才能保证导出的模型是一致的
<img width="690" alt="image" src="https://user-images.githubusercontent.com/16698950/182818787-da4a119f-8200-49c9-8858-6b663f2ed046.png">

[2022-08-04 10:01] pengaoao commented on #2966
好的，感谢

[2022-08-04 10:01] #2966 closed, assigned to nobody

[2022-08-04 10:07] chinesejunzai12 commented on #2653
目前还没有解决, 你解决了没

------------------------------------------------------------------
发件人：syy-love ***@***.***>
发送时间：2022年7月21日(星期四) 11:11
收件人：PaddlePaddle/PaddleNLP ***@***.***>
抄　送：侯晓君 ***@***.***>; Author ***@***.***>
主　题：Re: [PaddlePaddle/PaddleNLP] bvar is busy at sampling for 2 seconds! 模型训练的时候报这个错误 (Issue #2653)

大佬这个问题解决了吗 我也遇到了
—
Reply to this email directly, view it on GitHub, or unsubscrib

[2022-08-04 10:16] estuday opened #2967 "在aistudio上运行样例的时候，提示information_extraction不在Taskflow list中"
`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/tmp/ipykernel_182/1763430471.py in <module>
      3
      4 schema = ['时间', '选手', '赛事名称']
----> 5 ie = Taskflow('information_extraction', schema=schema)
      6 pprint(ie("2月8日上午北京冬奥会自由式滑雪女子大跳台决赛中中国选手谷爱凌以188.25分获得金牌！"))

/opt/conda/envs/python35-

[2022-08-04 10:18] estuday commented on #2967
paddlenlp的版本是2.2.6

[2022-08-04 11:35] wawltor commented on #2967
升级一下paddlenlp的版本到最新的2.3.5版本

[2022-08-04 12:11] 18140663659 commented on #2957
gpu下训练正常

[2022-08-04 12:11] #2957 closed, assigned to linjieccc

[2022-08-04 12:11] 18140663659 commented on #2957
已解决

[2022-08-05 03:03] CatIIIIIIII opened #2969 "函数paddlenlp.data.data_collator.DataCollatorWithPadding 与描述不符"
描述中是pad为batch中最长，实际上最长长度为max_model_length。
[code]
我做的更改是：
[code]

[2022-08-05 07:23] zoeChen119 commented on #2931
![image](https://user-images.githubusercontent.com/35884699/183024319-ed1e874f-6bf0-4613-b57b-91c43140d00f.png)

[2022-08-05 07:30] zoeChen119 opened #2973 "【预训练模型的微调和再训练的区别是什么？】想请教paddle开发前辈们和各位网友"
最近在实习期间，前辈说再训练是拿着自己的数据在开源的预训练模型上继续训练，可是我搜索网上资料微调才是这个意思，貌似。
请教各位用自己的数据在别人训练好的预训练模型上train究竟是”再训练“还是”微调“？

[2022-08-05 07:43] KyleWang-Hunter commented on #2841
请问下你是调用的什么模型结果是20ms啊？

[2022-08-05 07:50] wawltor commented on #2973
再训练和微调最大差别应该是模型训任务类型，
再训练，在一个预训练的基础上继续进行加上一定预训练数据继续训练；
微调，在预训练的模型的基础上加上有监督数据进行训练。

[2022-08-05 08:24] zoeChen119 commented on #2973
请问这个是什么意思？

[2022-08-05 08:25] zoeChen119 commented on #2973
是不是一个区别是用的是有标签数据就是微调，无标签数据就是再训练？

[2022-08-05 08:38] yuansky opened #2974 "docvqa进行到6.1 模型训练时报错"
版本信息为
[code]
项目为 https://aistudio.baidu.com/aistudio/projectdetail/4049663?channelType=0&channel=0  汽车说明书跨模态智能问答

在训练阅读理解模型时

[code]

出现了这个问题
<img width="1360" alt="图片" src="https://user-images.githubusercontent.com/9914666/183038139-361e6e1f-3218-4e5d-bf91-df5c84634bb3.png">

百思不得其解。。。求帮助

[2022-08-05 08:39] yuansky commented on #2974
完整日志如下：
[code]

[2022-08-05 08:44] wawltor commented on #2973
你可以这么理解，预训练的数据是无标签数据自动构造出来的

[2022-08-05 08:48] wawltor commented on #2973
你可以这么理解，预训练的数据是无标签数据自动构造出来的

[2022-08-05 09:08] mfxss commented on #2961
{"content": "泰安今早发生2.9级地震！靠近这个国家森林公园。", "result_list": [{"text": "今早", "start": 2, "end": 4}], "prompt": "时间"}
{"content": "泰安今早发生2.9级地震！靠近这个国家森林公园。", "result_list": [{"text": "2.9级", "start": 6, "end": 10}], "prompt": "等级"}
{"content": "泰安今早发生2.9级地震！靠近这个国家森林公园。", "result_list": [{"text": "地震", "start": 10, "end": 12}], "prompt": "地震触发词"}
{"content": "泰安今早发生2.9级地震！靠近这个国家森林公园。", "result_list": [{"t

[2022-08-07 04:09] krodio commented on #2886
用到aistudio免费环境来做也不行，一样没有报错没有日志就结束了
[dtdata.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9276161/dtdata.zip)

[2022-08-07 08:57] #2932 closed, assigned to linjieccc

[2022-08-07 15:14] www-Ye opened #2978 "paddleNLP 2.3.1 paddlepaddle2.2.2 RuntimeError"
paddleNLP 2.3.1 paddlepaddle2.2.2 cuda11.0
RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with

[2022-08-07 15:19] www-Ye opened #2979 "paddleNLP 2.3.1 paddlepaddle2.2.2 RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)"
paddleNLP 2.3.1 paddlepaddle2.2.2 cuda11.0
RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with

[2022-08-07 15:22] www-Ye opened #2980 "paddleNLP 2.3.1 paddlepaddle2.2.2 RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)"
paddleNLP 2.3.1 paddlepaddle2.2.2 cuda11.0
RuntimeError: (PreconditionNotMet) The third-party dynamic library (libcublas.so) that Paddle depends on is not configured correctly. (error code is libcublas.so: cannot open shared object file: No such file or directory)
  Suggestions:
  1. Check if the third-party dynamic library (e.g. CUDA, CUDNN) is installed correctly and its version is matched with

[2022-08-08 01:03] KyleWang-Hunter commented on #2928
我也有这样的问题，使用docker部署之后的推理速度变慢。

[2022-08-08 01:54] MachineSheep opened #2981 "UIE实体识别评价指标"
**uie实体识别评价指标是实体边界预测正确即为正确，不考虑预测的实体类型是否正确？**

![image](https://user-images.githubusercontent.com/109952192/183323009-449dad45-c8b1-41f4-b2fb-7a8487e8a70d.png)

![image](https://user-images.githubusercontent.com/109952192/183323054-1d2e28d9-3dfc-45f9-b243-df15043e380e.png)

[2022-08-08 02:21] linjieccc commented on #2961
多个同类型事件共用同一个触发词的情况目前UIE还不支持，这种情况可以看下能否用关系抽取的方式来做，修改下第一阶段的抽取目标

[2022-08-08 02:26] tianxin1860 commented on #2978
1. 请 check 下安装的 paddle 对应的 cuda 版本是否为 cuda11.0 ?
2. 可以参考[这里](https://blog.csdn.net/Grit_007/article/details/85000297)配置动态库路径。

[2022-08-08 02:29] #2979 closed, assigned to nobody

[2022-08-08 02:29] #2980 closed, assigned to nobody

[2022-08-08 02:31] wawltor commented on #2978
建议在一个新的conda环境里面，使用conda来安装paddle  https://www.paddlepaddle.org.cn/
<img width="860" alt="image" src="https://user-images.githubusercontent.com/16698950/183326609-eb8d91ca-8a11-4ff7-b18c-3dd224b0eb1e.png">

[2022-08-08 02:32] linjieccc commented on #2981
您好，UIE在实体抽取中实体的标签类别会作为prompt与原文本进行拼接作为模型的输入，所以需要实体标签类别+实体边界完全一致才判定为正确

[2022-08-08 02:42] www-Ye commented on #2978
我用pytorch的时候不会出现问题，用的也是cuda11.0的环境
然后用locate查找后找不到cuda下的libcublas，只有一个man/man7/路径下的。
请问有没有什么解决办法

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 8, 2022 10:26 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynamic library(libcublas.so) that Paddle depends on is no

[2022-08-08 03:10] tingaicompass opened #2982 "更新paddlenlp时，发现卡住，其余包都是whl 但是seqeval-1.2.2.tar.gz (43 kB)"
Collecting paddlefsl
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/fb/4a/25d1959a8f1fe5ee400f32fc9fc8b56d4fd6fc25315e23c0171f6e705e2a/paddlefsl-1.1.0-py3-none-any.whl (101 kB)
Collecting dill<0.3.5
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/b6/c3/973676ceb86b60835bb3978c6db67a5dc06be6cfdbd14ef0f5a13e3fc9fd/dill-0.3.4-py2.py3-none-any.whl (86 kB)
Collecting seqeval
  Usin

[2022-08-08 03:20] wawltor commented on #2978
建议conda安装一下环境

[2022-08-08 03:21] www-Ye commented on #2978
我尝试过用conda装2.0.2的，还是出现了一样的错误

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 8, 2022 10:32 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynamic library(libcublas.so) that Paddle depends on is not configured correctly. (error codeis libcublas.so: cannot open shar

[2022-08-08 03:21] wawltor commented on #2978
是说paddle的版本是2.0.2？

[2022-08-08 03:23] www-Ye commented on #2978
是的，用conda装的2.0.2，因为2.3.1好像没有11.0的conda安装方法

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 8, 2022 11:22 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynamic library(libcublas.so) that Paddle depends on is not configured correctly. (error codeis libcublas.so: ca

[2022-08-08 03:25] wawltor commented on #2978
有新建一个conda环境吗？ 同时2.3.1是可以conda安装的了
<img width="951" alt="image" src="https://user-images.githubusercontent.com/16698950/183332313-57b13055-a031-4a09-971d-f493c8f8bde7.png">

[2022-08-08 04:01] MachineSheep opened #2983 "UIE实体识别输出混淆矩阵"
您好，目前UIE模型训练时只输出precison, recall, f1值，我想要输出混淆矩阵，请问该怎么添加代码呢？

[2022-08-08 04:07] MachineSheep commented on #2981
源码中比较预测的实体类别和标注的实体类别在哪呢？

[2022-08-08 04:19] guoshengCS commented on #2920
感谢支持，后续如果开源的话会在这里进行同步~

另外对于当前已开源模型的话，也可以试下将多轮的内容拼起来作为模型输入，tokenizer是可以接受list输入的 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/unified_transformer/tokenizer.py#L464 ，如PLATO-XL这里的用法 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/plato-xl/infer.py#L144

[2022-08-08 04:36] guoshengCS commented on #2969
抱歉，这里文档描述的确实不太清楚，这里应该是默认行为是pad到batch中最长

[2022-08-08 05:04] kevinuserdd commented on #2960
请问有torch版本的uie预训练模型吗？  目前找的uie-base和uie-tiny预训练模型都是在paddle框架里

[2022-08-08 06:44] WWWindrunner opened #2984 "LIC2021 DuEE 事件抽取基线bug"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.5，PaddlePaddle2.3.1，PaddlePaddle-gpu2.3.1
2）系统环境：Linux，python3.8.10
- 复现信息：复现LIC2021 DuEE 事件抽取基线出现bug
- 详细说明：代码版本为最新版本，默认的dev分支
- `a149af9a5a2000592d50921f853b3654b0fd7194`
-
![企业微信截图_8ecbfba1-af89-4561-8bbb-2e2668d16208](https://user-images.githubusercontent.com/26530928/183354871-98403

[2022-08-08 06:45] WWWindrunner commented on #2984
@LiuChiachi

[2022-08-08 06:53] wawltor commented on #2982
是否可以直接安装一下 seqeval试试了

[2022-08-08 08:30] miaodog opened #2986 "UIE事件抽取数据格式疑问"
按照这个文档
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md#53-%E4%BA%8B%E4%BB%B6%E6%8A%BD%E5%8F%96
的描述，事件抽取需要标注实体类别以及关系，那么一些开源的数据是不是就无法使用了？比如下面这条数据：

{"id": 7285, "text": "约翰逊（图：BBC）星岛环球网消息：【海外网4月6日|战疫全时区】据英国天空新闻网5日报道，英国首相约翰逊住院接受新冠病毒测试，10天前即3月27日他在社交媒体上发文称，自己新冠病毒检测结果呈阳性，正在自我隔离", "labels": [{"trigger": ["接受", 55], "object": ["英国首相约翰逊", 46], "subject": ["新冠病毒测试", 57], "ti

[2022-08-08 08:31] LemonNoel commented on #2984
非常感谢！我们更新修复了这个问题。https://github.com/PaddlePaddle/PaddleNLP/pull/2985

[2022-08-08 08:47] wawltor commented on #2960
您好，目前UIE只有paddle的开源版本。

[2022-08-08 09:20] krodio commented on #2886
是自己低级错误把finetune代码搞错了，关了关了，占用大家时间不好意思

[2022-08-08 09:20] #2886 closed, assigned to wawltor

[2022-08-08 09:25] Fmaj7 opened #2987 "ernie3.0量化过程报错：Hint: Expected dtype() == paddle::experimental::CppTypeToDataType<T>::Type()"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，paddlepaddle-gpu     2.3.1.post116
2）系统环境：Windows10企业版，python38，cuda11.6，cudnn8.4
- 复现信息：ernie3.0模型量化出错，出错处最后调用的应该是c/c++编译的包了，无法继续排查了，错误信息如下图：
[code]

[2022-08-08 09:38] HUSTHY opened #2989 "paddle2.3复现SBert训练结果不可复现，并且性能相比较torch大为下降"
使用paddle2.3.1.post112/cuda11.2/3090显卡/paddlenlp2.3.4/Linux/python3.7环境复现SBert的时候，固定随机种子
paddle.seed(100)
random.seed(100)
np.random.seed(100)
并且使用FLAGS_cudnn_deterministic = True结果仍然不能复现，每次训练的acc指标都不能loss也不同；
同torch版本对比，在同一个数据集上(paws_x)，同一个Bert预训练权重 bert-wwm-ext-chinese下：
torch则可以复现，并且torch的acc为0.75(torch不设置随机种子的时候结果也是瞎飞)，paddle的acc0.55-0.62之间随机出现；
请问是环境版本问题还是paddle框架问题还是我代码问题？怎么解决？

[2022-08-08 10:15] #2984 closed, assigned to LemonNoel

[2022-08-08 11:09] linjieccc commented on #2981
https://github.com/PaddlePaddle/PaddleNLP/blob/03dcbeff745fb18f230c5bc07a2e3c0d23b8617a/model_zoo/uie/evaluate.py#L41-L42

这里的input_ids会把prompt的token_ids和输入文本的token_ids进行拼接，prompt（实体标签类别）不同时，对应的start_prob和end_prob输出不同

[2022-08-08 11:19] kevinuserdd commented on #2947
UIE本身没有预训练？？不对吧，论文里面不是提到用的wiki数据预训练的么

[2022-08-08 11:21] kevinuserdd commented on #2960
请问一下，论文里提到的方法，包括使用了wiki数据做预训练，这个生成的预训练模型是哪个？？ 难道uie-base预训练模型的任务，不是使用论文中的方法？？

[2022-08-08 11:46] LiuChiachi commented on #2987
看 报错信息应该具体是这几行，看起来是数据的dtype不匹配

[code]

可以先检查一下模型的输入需要的dtype，和dataset/data_loader出来的数据的dtype是否匹配，常见的有int32和int64等~

[2022-08-08 11:51] linjieccc commented on #2983
可以修改这里：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/metrics/span.py#L78

[code]

[2022-08-08 11:57] wawltor commented on #2960
uie-base的模型结构和论文版本中的结果是一致的，uie-base的底座预训练模型是ernie-3.0的模型，论文版本的使用在examples/information_extraction/duuie

[2022-08-08 12:05] zhanghaoie commented on #2828
问题解决了，多谢

[2022-08-08 12:05] #2828 closed, assigned to FrostML

[2022-08-08 13:19] hRj1001 opened #2993 "Transformers API文档好像出现了乱码，我记得之前那里是个表格"
![image](https://user-images.githubusercontent.com/60499595/183427483-81476736-2a63-4ad1-a60c-e8ffd1a6dc90.png)

[2022-08-08 13:35] linjieccc commented on #2986
方便提供下这份数据不同字段的说明么，从这条数据来看应该少了论元（argument）和论元角色（role）的信息

[2022-08-08 15:38] www-Ye commented on #2978
你好，我用2.3.1的conda安装会出现图片的错误，但是用对应pip安装方式可以正常安装
然后此时我的环境是cuda10.2，paddle2.3.1，用pip方式安装，还是出现了一样的问题

---Original---
From: ***@***.***&gt;
Date: Mon, Aug 8, 2022 11:26 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynamic library(libcublas.so) that Paddle depends on is not

[2022-08-09 00:20] Fmaj7 commented on #2987
万分感谢，改成int32可以了！

[2022-08-09 01:01] miaodog commented on #2986
case来源于这个比赛：http://challenge.xfyun.cn/topic/info?type=hotspot&option=ssgy
具体的data可以参考这个repo: https://github.com/WuHuRestaurant/xf_event_extraction2020Top1/blob/master/data/preliminary/raw_data/train.json

[2022-08-09 01:42] Fmaj7 opened #2996 "看 报错信息应该具体是这几行，看起来是数据的dtype不匹配"
看 报错信息应该具体是这几行，看起来是数据的dtype不匹配

[code]

可以先检查一下模型的输入需要的dtype，和dataset/data_loader出来的数据的dtype是否匹配，常见的有int32和int64等~

_Originally posted by @LiuChiachi in https://github.com/PaddlePaddle/PaddleNLP/issues/2987#issuecomment-1208022136_

[2022-08-09 01:56] Fmaj7 commented on #2996
1、data_loader出来的type：
{'input_ids': Tensor(shape=[32, 127], dtype=int64, place=Place(gpu:0), stop_gradient=True
2、裁剪的时候dtype配置为int32：
elif quantization:
        input_dir = compress_config.quantization_config.input_dir
        if input_dir is None:
            compress_config.quantization_config.input_filename_prefix = "model"
            input_spec = [
                paddle.static.InputSpec(shap

[2022-08-09 01:59] #2996 closed, assigned to nobody

[2022-08-09 01:59] Fmaj7 commented on #2987
1、data_loader出来的type：
{'input_ids': Tensor(shape=[32, 127], dtype=int64, place=Place(gpu:0), stop_gradient=True
2、裁剪的时候dtype配置为int32：
elif quantization:
input_dir = compress_config.quantization_config.input_dir
if input_dir is None:
compress_config.quantization_config.input_filename_prefix = "model"
input_spec = [
paddle.static.InputSpec(shape=[None, None],
dtype="int32"), # input_ids
paddle.stati

[2022-08-09 02:00] qiudywzh commented on #2978
cudnn装了吗？这是我的配置脚本

[code]

[2022-08-09 02:28] MachineSheep commented on #2981
start_prob，end_prob是预测的实体标签类别的起止位置tensor？如果是这样的话，那在哪里判断类别是否正确呢？

[2022-08-09 02:52] #2983 closed, assigned to linjieccc

[2022-08-09 02:57] zoeChen119 commented on #2973
请问paddle有没有类似”再训练“的方法？

[2022-08-09 03:11] zoeChen119 commented on #2973
是不是只要有evaluate(model, criterion, metric, dev_data_loader)就是微调，如果没有这一步，只有前面的loss&optimizer是再训练？

[2022-08-09 04:10] KgLearner opened #2998 "事件抽取是否支持句子内存在多个事件类型，以及一个论元角色存在多个论元的场景"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

[2022-08-09 04:22] AnitaSherry opened #2999 "skep情感分析模型预测每次结果都不一样"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp                        2.3.4
paddlepaddle-gpu          2.3.0.post112
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
Linux CentOS7
python 3.9.7

有点怀疑模型参数可能哪里没有初始化好
PaddleNLP/examples/sentiment_analysis/skep/predict_sentence.py

[2022-08-09 04:24] AnitaSherry commented on #2999
![image](https://user-images.githubusercontent.com/96946615/183563846-fd100d4d-96ad-4b86-88c8-67e6f3ec9ef7.png)

[2022-08-09 04:25] AnitaSherry commented on #2999
![image](https://user-images.githubusercontent.com/96946615/183563931-518c1b67-6d07-491e-bacc-d65b7826b89b.png)

[2022-08-09 04:26] AnitaSherry commented on #2999
checkpoints/model_4000/model_state.pdparams是用chnsenticorp数据集训练好的模型

[2022-08-09 04:53] Fmaj7 opened #3000 "ernie3.0量化模型部署错误：Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end()"
版本、环境信息
    1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，paddlepaddle-gpu 2.3.1.post116
    2）系统环境：Windows10企业版，python38，cuda11.6，cudnn8.4
    复现信息：
***********
dataloader的数据类型为int64：'input_ids': Tensor(shape=[32, 90], dtype=int64, place=Place(gpu:0), stop_gradient=True
训练评估、裁剪、量化分别执行，其中训练和裁剪顺利执行
单独执行量化的时候有两种情况：paddle.static.InputSpec的dtype设置为int32时可顺利完成量化，其他则不行，配置如下 :
input_spec = [

[2022-08-09 04:58] linjieccc commented on #2981
类别信息已经包含在模型的输入input_ids里面了，不同类别对应的input_ids不同，可以print出来看下

[2022-08-09 05:05] linjieccc commented on #2998
UIE支持对句子中包含多个事件类型（触发词不同）和论元角色有多个论元的事件抽取

[2022-08-09 06:06] LemonNoel commented on #2999
可以提供下运行的脚本吗？我本地测试结果是固定的。

[2022-08-09 06:16] AnitaSherry commented on #2999
# Copyright (c) 2021 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is d

[2022-08-09 06:22] zoeChen119 opened #3001 "2w条训练数据长度为256的文本，4ktest和dev过拟合正常吗？"
![image](https://user-images.githubusercontent.com/35884699/183578691-e036f657-9a9e-45eb-a860-4db257b41b05.png)

![image](https://user-images.githubusercontent.com/35884699/183578750-87d946e8-a746-45ac-93e4-7865ef04926b.png)

[2022-08-09 06:23] AnitaSherry commented on #2999
`# Copyright (c) 2021 PaddlePaddle Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is

[2022-08-09 06:27] AnitaSherry commented on #2999
[predict_sentence.txt](https://github.com/PaddlePaddle/PaddleNLP/files/9287484/predict_sentence.txt)

[2022-08-09 06:31] AnitaSherry commented on #2999
我重新打包下载了PaddleNlp，重新预测，每次的结果依旧不同

[2022-08-09 06:41] AnitaSherry commented on #2999
![image](https://user-images.githubusercontent.com/96946615/183581028-b21e7676-aef4-49fe-9ae0-ebca4d67e3ef.png)

[2022-08-09 06:59] CatIIIIIIII opened #3002 "当TrainingArguments中的report_to参数不指定时，将会报错"
![图片](https://user-images.githubusercontent.com/28768547/183584490-7bb1c5ad-b073-442a-9c0c-ce417e58925e.png)
文档中https://paddlenlp.readthedocs.io/zh/latest/trainer.html?highlight=TrainingArguments#trainingarguments 说明可以不指定，应该是哪里赋值出了问题

[2022-08-09 06:59] MachineSheep commented on #2981
这个我是清楚的，应该是input_ids前4位是表示类别信息，我咨询的是
` start_prob, end_prob = model(input_ids, token_type_ids, att_mask,`
这里输出的start_prob, end_prob中有类别信息吗？

[2022-08-09 07:40] LemonNoel commented on #3002
想问下paddlenlp版本是多少呢，或者TrainingArguments实现有修改吗？默认代码如果为`None`会后处理为`all`，https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/trainer/training_args.py#L586

[2022-08-09 07:44] CatIIIIIIII commented on #3002
版本是2.3.0rc，我按照ernie的py文件配置的：https://github.com/PaddlePaddle/PaddleNLP/blob/70e6a31d134df7c018e57256872e14755bfd90eb/model_zoo/ernie-1.0/run_pretrain_trainer.py#L303 。
奇怪的是PreTrainingArguments.report_to的确是"visualdl"
然而在line303行：
[code]
之后，training_args.report_to就为None了。

[2022-08-09 07:54] MachineSheep commented on #2981
已经弄明白了，谢谢

[2022-08-09 07:54] #2981 closed, assigned to linjieccc

[2022-08-09 07:55] w5688414 commented on #2989
bert里面有dropout，dataloader的shuffle等随机因素，可以把dropout这些随机因素关掉，然后可以看看能不能达到您的目的

[2022-08-09 08:07] skywalk163 commented on #2982
对AIStudio环境，发现问题出在pip -U更新上，若更新了pip，则安装seqeval就会卡住。如果不更新，则不会卡住，会显示：
[code]

[2022-08-09 08:24] LemonNoel commented on #3002
可以更新下paddlenlp的版本，最新版本应该修复了这个问题

[2022-08-09 09:34] tingaicompass commented on #2982
是的，这边没更新后不会出现这个问题

[2022-08-09 09:35] #2982 closed, assigned to nobody

[2022-08-09 09:51] jiaqianjing opened #3005 "Hierarchical Multi-Label Classification"
希望补充一下关于带层级多标签分类实现，这样就可以把文本分类的任务都覆盖了

[2022-08-09 10:56] LemonNoel commented on #3005
当前版本已经支持带层级的多标签分类了，可以看下[hierachical](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/hierarchical)目录。或者可以再详细描述下所述任务和已有实现的区别么？

[2022-08-09 11:10] LemonNoel commented on #2999
训练阶段使用的模型也是 SkepForSequenceClassification 吗？如果模型类一致的话可以把模型参数打印或者保存下来，运行两次看看区别哪里，应该是加载阶段有问题，某些参数没有正确加载。例如，在`print("Loaded parameters from...")` 那行后边加上以下代码
[code]

[2022-08-09 11:35] HUSTHY commented on #2989
全部拍查过了；原因是梯度回传的时候梯度每次不一样；关闭优化器结果就可以复现；
官方人员说是paddle某些op具有随机性，导致梯度回传更新参数不一样

[2022-08-09 13:12] linjieccc commented on #2986
了解，上例中的论元角色是`主体`、`客体`、`时间`和`地点`，论元是`英国首相约翰逊`和`新冠病毒测试`，可以转为如下格式与doccano的标注导出格式对齐：

[code]

[2022-08-09 13:51] LemonNoel commented on #3001
有可能过拟合的，可以使用[VisualDL](https://github.com/PaddlePaddle/VisualDL/blob/develop/README_CN.md)等可视化工具分析下loss曲线变化。

[2022-08-09 15:16] w5688414 commented on #2989
dropout，dataloader，batch_sampler这些少数有随机性，其他的都没啥问题，优化器我做过实验，应该是没多大问题的，可以给出代码示例，我们看一下

[2022-08-10 00:45] jiaqianjing commented on #3005
好的，感谢

[2022-08-10 00:45] #3005 closed, assigned to lugimzzz

[2022-08-10 01:08] HUSTHY commented on #2989
我把完整的代码都上传到附件paddle_first_demo.zip上了
[paddle_first_demo.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9295666/paddle_first_demo.zip)

[2022-08-10 01:10] #2914 closed, assigned to yeliang2258

[2022-08-10 02:12] shawroad opened #3007 "simcse中为什么要对正例的相似度减去一个margin?"
cosine_sim = paddle.matmul(query_cls_embedding, title_cls_embedding, transpose_y=True)
margin_diag = paddle.full(
            shape=[query_cls_embedding.shape[0]],
            fill_value=self.margin,
            dtype=paddle.get_default_dtype())
cosine_sim = cosine_sim - paddle.diag(margin_diag)

在标准的simcse实现中，没有发现margin的存在。但是看paddle的实现时，发现对正例的相似度减去了一个margin。这样做，有什么根据或者好处吗？

[2022-08-10 03:04] MachineSheep opened #3008 "UIE实体识别评价指标的计算公式"
UIE实体识别在验证集上每一种实体类别的Precision, Recall, F1值都偏高，但整体的Precision, Recall, F1比较低，想了解一下UIE实体识别评价指标的计算公式，感谢！！！

[2022-08-10 03:52] linjieccc commented on #3008
@MachineSheep 您好，方便贴下具体的评估结果吗？
UIE实体识别的评估方式和通用评估方法一致，在实体边界和实体类别与ground truth完全一致时判定正确

[2022-08-10 04:03] MachineSheep commented on #3008
你好你好，下面是具体的评估结果
**各类别的评价值：**

Class Name:
Evaluation Precision: 0.98045 | Recall: 0.97941 | F1: 0.97993

Class Name:
Evaluation Precision: 0.98246 | Recall: 0.98000 | F1: 0.98123

Class Name:
Evaluation Precision: 0.99378 | Recall: 0.99290 | F1: 0.99334

Class Name:
Evaluation Precision: 0.94083 | Recall: 0.94083 | F1: 0.94083

Class Name:
Evaluation Precision: 0.99586 | Recall: 0.99312 | F1: 0.99

[2022-08-10 04:05] w5688414 commented on #3007
margin会构造一个对角矩阵，主要会影响对自身到自身向量的相似度计算，比如原来的相似度是1，增加了margin了0.2之后，自身和自身的相似度就变成了0.8，主要是降低本身自己的相似度的影响，给模型增加了难度，margin也是可以调的参数，以往的直播中有讲解。
[code]

[2022-08-10 04:10] shawroad commented on #3007
明白了~    非常感谢。    这个有对应的实验证明吗？ 减margin和不减margin的对比？

[2022-08-10 04:24] jeffzhengye opened #3009 "如何使用PaddleNlp 做些非中、英文语种的任务？比如葡萄牙语，越南等"
比如我想用paddlenlp的 neural_search，但里面只有中英文的预训练模型。
有写好的完整的例子把huggingface embedding 转换成PaddleNlp 支持的吗？
或者你们是否已经有了好的解决方案？

[2022-08-10 04:28] ht896632 opened #3010 "使用PaddleNLP训练文本多标签分类，多核心CPU只使用到了一个核心，怎么使用多核心进行训练？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP，PaddlePaddle
使用的是docker直接部署：docker pull paddlecloud/paddlenlp:develop-cpu-latest

2）系统环境：系统类型：Linux，Python 3.7.13
启动训练脚本命令：python -m paddle.distributed.launch train.py --device cpu --dataset_dir ./data

**问题：启动训练后，只能用CPU其中的一个核心进行训练,怎么使用多核心？**

系统CPU占用情况：
![微信图片_20220810121728](https://user-images.githubuserconte

[2022-08-10 05:10] linjieccc commented on #3008
debug模式是对每个正例类别分别进行评估，该模式仅用于模型调试，和整体的评估方式不一样的地方是少了对负例进行评估

https://github.com/PaddlePaddle/PaddleNLP/blob/03dcbeff745fb18f230c5bc07a2e3c0d23b8617a/model_zoo/uie/evaluate.py#L66-L68

可以排查下是否您的训练集缺少负例数据（result_list为空）导致模型出现错误召回

[2022-08-10 05:10] wawltor commented on #3009
可以试试ERNIE-M模型  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-m

[2022-08-10 05:31] w5688414 commented on #3007
没有做学术上那种严格的对比，您可以做一下实验，margin是可调的参数

[2022-08-10 06:01] shawroad commented on #3007
OK   感谢~

[2022-08-10 06:01] #3007 closed, assigned to w5688414

[2022-08-10 06:16] LiuChiachi commented on #2987
您好，`set_dynamic_shape`函数中用的是int64类型自己构造的数据，https://github.com/PaddlePaddle/PaddleNLP/blob/2a4a2fb69f577d9622bdb51ecb44b98a5b0145da/model_zoo/ernie-3.0/deploy/python/ernie_predictor.py#L379
您可以点开详细看一下
不是您的输入数据，可能需要您组网这里统一下dtype

[2022-08-10 06:22] LiuChiachi commented on #3000
如上个issue #2987 ，`set_dynamic_shape`函数中用的是int64类型自己构造的数据，https://github.com/PaddlePaddle/PaddleNLP/blob/2a4a2fb69f577d9622bdb51ecb44b98a5b0145da/model_zoo/ernie-3.0/deploy/python/ernie_predictor.py#L379
您可以点开详细看一下
不是您的输入数据，可能需要您组网这里统一下dtype

[2022-08-10 06:32] jeffzhengye commented on #3009
这个我看过，很多小语种还是没有啊。

[2022-08-10 06:37] wawltor commented on #2978
如果实在安装GPU有问题的话，可以尝试使用docker来安装paddle的镜像，https://hub.docker.com/r/paddlepaddle/paddle/tags

[2022-08-10 06:45] wawltor commented on #3009
有写好的完整的例子把huggingface embedding 转换成PaddleNlp 支持的吗？  这里是说HF有相关的模型是吗？

[2022-08-10 06:45] wawltor commented on #3009
这里是说Huggingface有这样的模型是吗？

[2022-08-10 06:49] MachineSheep commented on #3008
数据集上确实有很多result_list为空的负例数据，result_list为空的数据对模型训练是有作用吗？

[2022-08-10 06:49] MachineSheep commented on #3008
数据集上确实有很多result_list为空的负例数据，result_list为空的数据对模型训练是有作用吗？

[2022-08-10 06:57] jeffzhengye commented on #3009
有： https://huggingface.co/neuralmind/bert-base-portuguese-cased

paddlenlp 中GPT 有个支持我需要的语言葡萄牙语的。
https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers/GPT/contents.html

[2022-08-10 07:30] wawltor commented on #3009
就是葡萄语是吗？ 我记得ERNIE-M模型是支持葡萄语的， GPT模型是生成模型，不是语义模型

[2022-08-10 07:30] GYuanchengxu commented on #2769
升级paddle解决了这个问题   pip install paddlenlp --upgrade

[2022-08-10 07:47] Fmaj7 commented on #2987
您好，有点疑惑，请问不是我输入的数据指的是哪个地方输入的，组网统一dtype指的是在函数set_dynamic_shape里面统一吗？我之前尝试过修改set_dynamic_shape里面的dtype，但是出现同样的错误了
补充下：量化过程中出现如下告警，不知有没影响：
Wed Aug 10 16:04:28-INFO: Collect quantized variable names ...
Wed Aug 10 16:04:28-WARNING: feed is not supported for quantization.
Wed Aug 10 16:04:28-WARNING: feed is not supported for quantization.
Wed Aug 10 16:04:28-WARNING: scale is not supported for quantiz

[2022-08-10 08:00] jeffzhengye commented on #3009
@wawltor 是支持的葡萄牙语的，刚才看漏了。
其它不支持的语言有提供转化工具吗？

[2022-08-10 08:04] wawltor commented on #3009
语言转化工具是有的，目前还没有开源出来，我问一下进度

[2022-08-10 09:42] linjieccc commented on #3008
负例用于让模型学习抽取结果为空的能力，如果数据集只有正例数据会造成错误召回；如果负例数据太多，可能造成模型不召回。
您可以通过`negative_ratio`控制下正负例的比例，对比下最后得出的模型精度

[2022-08-10 10:01] MachineSheep commented on #3008
样本中没有这类实体类别也是可以加入训练的，明白了

[2022-08-10 13:09] LiuChiachi commented on #2987
- Q1: 请问不是我输入的数据指的是哪个地方输入的:
- A1:是set_dynamic_shape它会构造数据，这个set_dynamic_shape过程用到的数据和你的输入数据无关，通过代码看它是构造的int64的数据：
https://github.com/PaddlePaddle/PaddleNLP/blob/2a4a2fb69f577d9622bdb51ecb44b98a5b0145da/model_zoo/ernie-3.0/deploy/python/ernie_predictor.py#L384-L389

- Q2:组网统一dtype
- A2:还是需要保证网络希望的输入dtype和你实际给的数据的dtype一致，如果还是不成功，可以发来代码一起看一下
- Q3: 量化过程中出现如下告警，不知有没影响：
- A3: Warning应该是不会有影响的

[2022-08-11 01:18] #3008 closed, assigned to linjieccc

[2022-08-11 01:50] Fmaj7 commented on #2987
模型训练：[run_msra_ner.py](https://github.com/PaddlePaddle/PaddleNLP/files/9305485/run_msra_ner.txt.txt)
python run_token_cls.py --task_name msra_ner  --model_name_or_path ernie-3.0-medium-zh --do_train

裁剪：
1、[compress_msra_ner.py](https://github.com/PaddlePaddle/PaddleNLP/files/9305488/compress_msra_ner.txt.txt)
2、[compress_trainer.py](https://github.com/PaddlePaddle/PaddleNLP/files/9305424/compress

[2022-08-11 08:59] MachineSheep opened #3021 "UIE是否支持英文事件抽取"
我看主页README里有这样一段话
![image](https://user-images.githubusercontent.com/109952192/184098929-46d1d4bf-0ecb-4ce9-9591-e75aeb90cbcb.png)

在UIE的README里有这样一段话
![image](https://user-images.githubusercontent.com/109952192/184099123-dc69d3c6-54d2-4af6-ae8d-841f0432075e.png)

是不是UIE其他信息抽取任务支持英文，事件抽取不支持？

[2022-08-11 09:28] MachineSheep opened #3022 "UIE实体识别预测的效率"
用uie做实体识别，Taskflow预测的时间与schema内的实体类别数量成正比，schema里面有多少个实体类别，模型预测就循环多少次吗？还是说多个类别模型跑一边就行了？

[2022-08-11 09:50] linjieccc commented on #3021
因为效果问题目前英文版本还没有加入事件抽取相关的数据，后续会提供支持

[2022-08-11 09:51] MachineSheep commented on #3021
好的好的，非常感谢

[2022-08-11 09:57] CatIIIIIIII opened #3023 "AssertionError: dataset should not be a paddle.io.IterableDataset"
使用load_dataset加载paddlenlp.datasets.dataset.IterDataset并使用trainer训练的时候报错
-----
[code]

[2022-08-11 09:57] linjieccc commented on #3022
是的，实体识别中每次取一个类别作为prompt与原文本拼接作为模型的输入，所以schema中有多个实体类别时会预测多次

[2022-08-11 09:59] MachineSheep commented on #3022
那这个效率也太低了，我实体类别有几十个，效率真的很低

[2022-08-11 10:00] MachineSheep commented on #3022
有什么改进的办法吗

[2022-08-11 10:04] CatIIIIIIII commented on #3023
bug原因应该是DistributedBatchSampler不支持Iterdataset，然而paddlenlp并没有对这一点进行判断

[2022-08-11 10:12] safehumeng commented on #1208
我make之后生成的是helpers.cpython-36m-x86_64-linux-gnu.so，还是找不到，cp helpers.cpython-36m-x86_64-linux-gnu.so helpers.so之后能找到了

[2022-08-11 11:37] linjieccc commented on #3022
1.使用tiny系列模型进行提速
<img width="572" alt="image" src="https://user-images.githubusercontent.com/40840292/184124518-09ffc232-7076-4e00-a2aa-e4c64bc17b7f.png">
2.如果硬件满足要求的话可以尝试用FP16推理
![image](https://user-images.githubusercontent.com/40840292/184125047-3c44028e-710d-4449-9b17-063c394edc77.png)

[2022-08-11 11:38] #3021 closed, assigned to linjieccc

[2022-08-11 12:06] wawltor commented on #3010
您好，我们经过多核训练测试，下面的方式可以进行多核训练，确保paddle的版本是在2.3.1版本
[code]

[2022-08-11 12:08] wawltor commented on #3009
转化工具预计下周会有一个开源版本

[2022-08-11 12:38] MachineSheep opened #3025 "UIE Taskflow中的batch_size参数没有作用"
![image](https://user-images.githubusercontent.com/109952192/184134575-4adab9fc-34c4-4baf-a6e7-2137dfcbdbbc.png)
[code]
预测消耗的时间和batch_size=1的消耗的时间是一致的， batch_size参数没有作用？

[2022-08-11 12:39] MachineSheep commented on #3022
好的，非常感谢

[2022-08-12 02:37] guoshengCS commented on #3025
主要是觉得时间上没差别吗，预测消耗的时间是如何评估的呢，输出的效果是符合batch_size设置的不

[2022-08-12 02:51] MachineSheep commented on #3025
预测消耗的时间是用time.time()相减得到的结果。

batch_size的设置会导致输出效果有什么不同吗？都是一个列表，列表里面是字典

[2022-08-12 03:06] MachineSheep commented on #3025
@linjieccc 实体识别Taskflow的参数batch_size对模型预测的效率没有作用？

[2022-08-12 03:25] ZHUI commented on #1208
出现这个情况，一般原因是 python-config 的版本，与使用的python 版本不一致导致的。您可以check一下版本

[2022-08-12 03:27] linjieccc commented on #3025
可以看下GPU利用率，如果速度没有变化可能是利用率已经打满了

[2022-08-12 03:37] ZeyuTeng96 opened #3026 "请大佬指教下unimo_text的训练和生成过程"
百度大佬好，

如下AI Studio链接中是我使用unimo_text_1.0训练一个'基于相似FAQ，根据用户新的提问，生成答案'的项目。训练集和验证集中的title是相似问题的答案，有的不存在相似问题即为None. Source是用户的提问. Target是应当生成的回答。测试集类似，但不包含Target。麻烦大佬看看我的训练日志，目前是在loss等于3左右就停止训练了，请问大佬还有后续训练的必要？微调过程是否有存在问题呢？

关于生成结果，存在比较大的问题，1是生成结果不停的重复相同的一句话，其次就是貌似不同batch的数据，生成结果是一样的。每个batch生成了结果，我会print一下总共生成的结果数量，但是后面打印生成的结果却是一样的。还麻烦大佬指教指教。

AI studio链接：https://aistudio.baidu.com/studio/project/partia

[2022-08-12 04:59] Fmaj7 opened #3027 "multi_class裁剪时发生错误"
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.4，paddlepaddle-gpu 2.3.1.post116
2）系统环境：Windows10企业版，python39，cuda11.6，cudnn8.4
- 复现信息：参数错误？

origin_model_new = ofa_model.export(best_config,
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\paddleslim\nas\ofa\ofa.py", line 594, in export
    self.forward(*data)
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-package

[2022-08-12 05:54] Fmaj7 commented on #3027
![B0UC{FGG02I E30%F %QI)U](https://user-images.githubusercontent.com/50041220/184293145-491943a1-978f-4650-9311-3680042cfba7.png)
加了这几个参数上去才行

[2022-08-12 06:36] tanklandry opened #3028 "ernie-3.0为什么不开放large模型"
你们既然说比同业其他厂商的模型效果好，结果只开源个打不过roberta large的base，又想要推广paddle，有什么意义呢

[2022-08-12 06:41] ZeyuTeng96 commented on #3026
"其次就是貌似不同batch的数据，生成结果是一样的。每个batch生成了结果，我会print一下总共生成的结果数量，但是后面打印生成的结果却是一样的"

这个地方，pred_ref是在循环内不停的extend生成结果。然后在for loop里面打开文件写入生成结果，造成感觉batch输入不一样，生成的结果却是一样的的错觉的。其他问题还麻烦大佬再看看。

[2022-08-12 06:41] MachineSheep commented on #3025
batch_size设置为1或者其他,gpu的利用率都是80%左右，gpu的现存利用率都是20%左右。多条文本时模型的预测效率不受batch_size的影响。

[2022-08-12 06:56] wawltor commented on #3027
这个问题是2.3.5带来的问题，可以临时降级到2.3.4版本，目前这个问题已经修复了一部分，需要迁移到文本分类任务上，https://github.com/PaddlePaddle/PaddleNLP/pull/2777/files  我们会在下个版本完整修复。

[2022-08-12 07:18] ZHUI commented on #3028
你好，我们这边开源了 `ernie-3.0-xbase-zh` 20层模型，可以超过 roberta large，欢迎使用。
另外，我们开源了 `ernie-1.0-large-cw` 也可以超过robert-large，这个是24层的

[2022-08-12 07:19] ZHUI commented on #3028
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/16911935/184304631-fd961b13-0ae7-4b76-a706-0e6c1a7e88b8.png">

[2022-08-12 07:23] MachineSheep commented on #3025
模型是我定制训练之后的，用的是下面调用方法
Taskflow("information_extraction", schema=schema,batch_size=3, task_path='./checkpoint/model_best')

[2022-08-12 07:37] Tlntin opened #3029 "aistudio环境下paddlenlp报错"
aistudio 选择paddle 2.3.1
具体环境如下：
[code]
报错代码：
[code]
尝试升级paddlenlp
[code]
新的报错
[code]

[2022-08-12 07:44] Tlntin commented on #3029
重启内核后解决。

[2022-08-12 07:44] #3029 closed, assigned to nobody

[2022-08-12 08:26] zoeChen119 opened #3030 "有没有基于中文的可以从头预训练的模型example，model_zoo里没有中文bertbase。"
想要基于已有的例如bert-wwm进一步预训练词向量。

[2022-08-12 08:57] ZHUI commented on #3030
可以使用 model_zoo/ernie-1.0  预训练教程

[2022-08-12 09:37] gongel commented on #3026
你好
1. “生成结果不停的重复相同”这个问题可以继续训练看看
2. “不同batch的数据，生成结果是一样的”是不是后面的测试集数据一致呢

[2022-08-12 09:53] tianxin1860 commented on #3026
可以详细描述一下应用场景需求么？

[2022-08-12 10:01] ZeyuTeng96 commented on #3026
应用场景需求是金融论坛上有用户对一些金融现象进行讨论或者对金融问题进行提问。当用户提出相似问题的时候，模型能够基于已经提出过的或者讨论过的现象或者问答生成一个答案。因此，在模型训练阶段、验证、预测阶段都引入了相似问题的答案。但是，从训练结果来看，生成的效果并不是很理想？训练过程能否也请大佬看看是否存在什么问题？gongel大佬让我继续训练看看，这个步骤我已经做了，问题是模型在loss等于3左右基本就不下降了，难道是我的训练数据量不够嘛？

[2022-08-12 10:02] ZeyuTeng96 commented on #3026
应用场景需求是金融论坛上有用户对一些金融现象进行讨论或者对金融问题进行提问。当用户提出相似问题的时候，模型能够基于已经提出过的或者讨论过的现象或者问答生成一个答案。因此，在模型训练阶段、验证、预测阶段都引入了相似问题的答案。但是，从训练结果来看，生成的效果并不是很理想？训练过程能否也请大佬看看是否存在什么问题？gongel大佬让我继续训练看看，这个步骤我已经做了，问题是模型在loss等于3左右基本就不下降了，难道是我的训练数据量不够嘛？

[2022-08-12 11:37] tianxin1860 commented on #3026
我理解你的需求使用 FAQ 问答系统解决比较合适。

[2022-08-13 04:25] zhaoyiyong opened #3034 "similarity 效率提升问题"
我的环境是：CPU：16核，128G内存。
需求：使用sim=Taskflow('similarity',batch_size=512)进行查找文档中和输入的句子最相似的句子。
使用：result = sim([insentece,docsentece],与文档中的每个句子进行对比，获得相似度值，然后取最大值。
问题：如果文档中的句子多，速度就很慢。对比一个句子耗时约0.2s。
请问，有什么办法提速吗？

[2022-08-13 13:00] 1649759610 commented on #3034
如果文档句子比较多，可以在前边加一个阶段用于检索出部分比较相关的句子（比如基于语义检索），
先初步过滤一遍句子，选择比较相关的句子之后再基于TaskFlow对过滤的句子进行比较精确的相似度计算。或者选择一些参数量比较小的模型，加快模型推理速度。

[2022-08-13 14:52] Fmaj7 opened #3035 "最近几天好像改动很多"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

[2022-08-14 05:55] zhaoyiyong commented on #3034
谢谢。这可能是个好方法，我试试。

[2022-08-14 05:58] zhaoyiyong opened #3036 "句法依存关系"
请问一下，在进行句法依存关系分析时，返回结果如下：
[{'word': ['2月8日', '谷爱凌', '夺得', '北京冬奥会', '第三金'], 'head': [3, 3, 0, 5, 3], 'deprel': ['ADV', 'SBV', 'HED', 'ATT', 'VOB']}]
其中 head：3，0， 5 分别代表什么意思？

[2022-08-14 06:23] www-Ye commented on #2978
你好，我使用paddlenlp的taskflow的信息抽取uie，使用自己训练的模型，放到类里面就会失效，会输出很多奇怪的答案，直接运行还是正常输出，
使用环境是paddlepaddle2.3.1 cpu和paddlenlp2.3.4
两张图分别是在类里面调用时的输出和在类外直接调用时的正常输出

---Original---
From: ***@***.***&gt;
Date: Wed, Aug 10, 2022 14:37 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/PaddleNLP] paddleNLP 2.3.1 paddlepaddle2.2.2RuntimeError: (PreconditionNotMet) The third-party dynam

[2022-08-14 13:01] wawltor commented on #3035
您好，这里说的改动具体是指什么了？

[2022-08-15 00:34] Fmaj7 opened #3037 "doccano有问题"
改前：
![I$X4 F}EV1A6HDYW3J0BI3P](https://user-images.githubusercontent.com/50041220/184560865-3ff4277d-2a32-48dc-82ac-4f798145804f.png)
改后：
![R2 %%RX_W9~$L 1KJ}_75@R](https://user-images.githubusercontent.com/50041220/184560870-1dffb7eb-657b-41bf-9889-e9bbf9e82dad.png)

[2022-08-15 02:24] ZeyuTeng96 commented on #3026
我说句实在话，我的需求就是想用生成式模型来生成回答，您让我用FAQ 问答系统解决该问题。那您真的解决我的问题了？

[2022-08-15 02:27] fuqiang-benz opened #3038 "doccano.py 生成数据中的start,end 的意义是什么，"
doccano.py 分类生成数据中的start,end 的意义是什么，如果是是标签的下边，也对不上啊

{"content": "大元股份传闻王 上演逼空大戏", "result_list": [{"text": "stocks", "start": -3, "end": 3}], "prompt": "新闻分类[finance,sports,science,society,game,education,stocks,realty,politics]"}
{"content": "门将第95分钟头球破门 他改写西甲81年历史(视频)", "result_list": [{"text": "sports", "start": -3, "end": 3}], "prompt": "新闻分类[stocks,society,finance,education,realty,sports,game

[2022-08-15 02:29] linjieccc commented on #3036
输出结果里面的head表示Token间的依存关系，上例中0，3，5分别是『ROOT』、『夺得』、『第三金』的TOKEN ID

可视化图例如下：
<img width="430" alt="image" src="https://user-images.githubusercontent.com/40840292/184567224-fa72d9c8-e83d-4b3c-b3bb-c599c03ee0e9.png">

完整定义可以参考这篇Paper对CONLL-X格式的定义：

![image](https://user-images.githubusercontent.com/40840292/184567430-69a3f568-6802-455d-9241-cee6aa358a84.png)

URL：https://ilk.uvt.nl/~emarsi/download/pubs

[2022-08-15 02:30] linjieccc commented on #3038
麻烦贴下doccano.py的执行方式

[2022-08-15 02:33] fuqiang-benz commented on #3038
[data.txt](https://github.com/PaddlePaddle/PaddleNLP/files/9334748/data.txt)

    data_file = r'D:\megrez\upload\data\20220809_152727_230536\data_20220809_152727_230536.jsonl'
    file_dir = r'D:\megrez\upload\data\20220809_152727_230536'
    basedir='r/megrez/'
    task_type = "cls"
    options =["finance","realty","stocks","education","science","society","politics","sports","game"]
    prompt_pr

[2022-08-15 02:34] gongel commented on #3026
你好，上述我同事提到的 FAQ 问答系统更偏向于检索式问答，如果不要求答案多样性的话，可以考虑采用。如果要使用unimo_text_1.0来做生成，可以适当增加数据和增加epoch来训练，我这边实测loss可以降到2.x的。

[2022-08-15 02:42] ZeyuTeng96 commented on #3026
问题是我肯定是想使用生成式模型来提供答案那，不然我找你们请教的意义是什么呢？

其次问题是您是用我提供的数据实测达到了2点几的loss吗？还是怎么样？这样是否会存在过拟合问题呢？

[2022-08-15 02:45] wawltor commented on #3038
麻烦贴一下怎么执行docanno.py脚本了，如果是分类的任务的话在执行脚本的时候参数稍有不同
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/16698950/184568815-87054703-4437-45e3-802c-61f01db0baf2.png">

[2022-08-15 02:46] ZeyuTeng96 commented on #3026
如果您是使用我的数据集和代码，只是通过调参达到了2点几，能否把相关的超数据告诉我一下呢？

[2022-08-15 02:52] LiuChiachi commented on #2987
您好，可以看下您的导出模型吗，`./best_msra_ner_model/compress/hist16/int8.pdmodel`,因为linear的输入是int64确实有点奇怪

[2022-08-15 02:54] fuqiang-benz commented on #3038
python doccano.py \
    --doccano_file ./data/doccano_ext.json \
    --task_type cls \
    --save_dir ./data \
    --splits 0.8 0.2 0 \
    --negative_ratio 5 \
   --prompt_prefix "新闻分类" \
   --options "finance" "realty" "stocks" "education" "science" "society" "politics" "sports" "game"

[2022-08-15 02:55] fuqiang-benz commented on #3038
![image](https://user-images.githubusercontent.com/64388539/184569621-0ac84b30-8640-4cd1-9730-395206529994.png)

[2022-08-15 03:03] LiuChiachi commented on #2987
您好，抱歉回复不及时，您试试把[compress_trainer.py](https://github.com/PaddlePaddle/PaddleNLP/files/9305424/compress_trainer.txt.txt)中的`onnx_format`参数设为False，为True的情况目前可能还不支持，正在排查中了。

[2022-08-15 03:12] fuqiang-benz commented on #3038
![image](https://user-images.githubusercontent.com/64388539/184570966-99ae270e-cdca-4b6e-9fad-b55fd5635149.png)

![image](https://user-images.githubusercontent.com/64388539/184570996-605362d4-399e-430e-b7dc-c9d055c4e1f9.png)
我用下标输入找的标签，有的是空，有的还输出两个标签

[2022-08-15 03:22] SuperTangW opened #3039 "neural_search语义检索代码BUG"
升级milvus支持2.x后，以下文件未更新，导致各种错误
applications/neural_search/search_system/config.py
applications/neural_search/search_system/milvus_util.py

[2022-08-15 03:26] w5688414 commented on #3039
感谢反馈，我修复一下

[2022-08-15 03:26] w5688414 commented on #3039
感谢反馈，我修复一下

[2022-08-15 03:28] Fmaj7 commented on #2987
onnx_format设为False还是出错了

[2022-08-15 03:28] Fmaj7 commented on #2987
onnx_format设为False还是出错了

[2022-08-15 03:50] uncleunclelu opened #3041 "8.1的发布uie-en是指可以利用uie_base_en进行微调了吗"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

[2022-08-15 03:53] wawltor commented on #3041
uie-en是指UIE的英文版本，uie_base_en是其中一个模型，后续可能会开源其他大小的uie英文版本

[2022-08-15 05:42] yghstill commented on #2987
@Fmaj7 onnx_format设为False，然后重新导出量化模型，预测时的报错信息可以发下吗？

[2022-08-15 05:46] linjieccc commented on #3038
您好，可以先将
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/utils.py#L345
修改为如下形式，
[code]
这里doccano.py对英文标签的处理有个bug我们修复下，多谢反馈。

另外使用中文模型的话建议将分类任务的标签类别改为中文，例如sports->运动

[2022-08-15 06:03] syw2014 opened #3044 "UIE 实体抽取CPU infer 效率问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
PaddleNLP 2.3.2

2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
- 采用aistudio，创建cpu基础环境，采用的是python/deploy下的代码进行预测，batch_size 为4，
总共2860条数据，schema 标签有5个，跑了3个小时，仍然没有结束；有没有什么优化的方法，以提高cpu下的预测效率？

如还有问题可以到 PaddleNLP

[2022-08-15 06:17] Fmaj7 commented on #2987
onnx_format=False，执行量化出错，如下：
![}C8JML4XIDD1)18U70I K3](https://user-images.githubusercontent.com/50041220/184585890-ff3069b2-4618-480d-92be-55fd4aa99dd9.png)

[2022-08-15 06:23] #2922 closed, assigned to linjieccc

[2022-08-15 06:24] wawltor commented on #2922
暂时关闭该issue，如有问题可以重新打开该issue。

[2022-08-15 06:24] wawltor commented on #2915
目前问题已私下沟通解决，暂时关闭该issue，如有问题可以重新打开该issue。

[2022-08-15 06:25] #2915 closed, assigned to guoshengCS

[2022-08-15 06:26] wawltor commented on #2960
暂时关闭该issue，如有问题可以重新该issue。

[2022-08-15 06:27] wawltor commented on #2967
暂时关闭该issue，如有问题可以重新该issue。

[2022-08-15 06:27] #2967 closed, assigned to nobody

[2022-08-15 06:28] #2960 closed, assigned to wawltor

[2022-08-15 06:30] wawltor commented on #2978
issue上没有您说的两张图片，可以贴一下图片和代码吗？

[2022-08-15 06:35] wawltor commented on #2973
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0  可以看看这里，这里是一个预训练过程，加载一下之前预训练的模型参数即可”再训练“

[2022-08-15 06:37] fuqiang-benz commented on #3038
![image](https://user-images.githubusercontent.com/64388539/184587861-66c43cbf-d53c-413a-b62d-f0cc2bb9dc39.png)
你好我把标签改成了中文，代码也按照你给的改了，输入标签还是不完整，麻烦帮忙看看

[2022-08-15 06:40] kennyLSN opened #3045 "from eval import evaluate"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

[2022-08-15 06:41] kennyLSN commented on #3045
from eval import evaluate
这个eval是啥，如何下载

https://aistudio.baidu.com/aistudio/projectdetail/3986803?channelType=0&channel=0

[2022-08-15 06:42] linjieccc commented on #3038
因为prompt与text拼接的时候是[CLS]prompt[SEP]text[SEP]，所以这里的start和end的index要算上[SEP] token
[code]

[2022-08-15 06:48] yghstill commented on #2987
@Fmaj7 看报错和这个一样，按照这样改下呢？

[2022-08-15 06:48] fuqiang-benz commented on #3038
好的 感谢

[2022-08-15 06:55] Fmaj7 commented on #2987
已经试过了，dtype设置为int32量化可以通过，设置为int64就报上面的错误，但是当设置为int32通过完成量化后，再执行：python ./deploy/python/infer_gpu.py --task_name token_cls --model_path ./best_msra_ner_model/compress/hist16/int8 --shape_info_file dynamic_shape_info.txt --set_dynamic_shape，则出现以下错误：
RuntimeError: (NotFound) Operator (quantize_linear) does not have kernel for {data_type[int64_t]; data_layout[Undefined(AnyLayout)]; place[Place(gpu:0)

[2022-08-15 06:55] linjieccc commented on #3037
您好，能否提供下报错信息以及doccano版本

[2022-08-15 07:00] Fmaj7 commented on #3037
![(Z`1LI}}`EM0(DRXHCPQ3UT](https://user-images.githubusercontent.com/50041220/184590550-4bf12a06-b538-4440-bfa9-702a67ef8270.png)
1.6.2

[2022-08-15 07:01] wawltor commented on #3045
需要进入到aistudio环境，才能看到eval.py

[2022-08-15 07:23] #3039 closed, assigned to w5688414

[2022-08-15 07:55] fuqiang-benz commented on #3038
![image](https://user-images.githubusercontent.com/64388539/184597318-b59834a6-48ef-45d9-97a6-b16162e0c688.png)
您好,老师能在帮我看看一下吗，我按照你给我发的代码，转换数据，然后执行 python finetune.py 准确率 f1分值一直是0

[2022-08-15 07:56] fuqiang-benz commented on #3038
![image](https://user-images.githubusercontent.com/64388539/184597657-dff86867-f383-409d-bcf6-35e710de634c.png)
这是 finetune. 代码执行的参数

[2022-08-15 08:07] tanklandry commented on #3028
问题是近2年超过roberta large的模型太多了，不开源sota的模型，大家都用huggingface不就行了

[2022-08-15 08:07] linjieccc commented on #3038
麻烦提供下train.txt和dev.txt，我尝试复现下

[2022-08-15 08:15] w5688414 commented on #3039
https://github.com/PaddlePaddle/PaddleNLP/pull/3047

[2022-08-15 08:19] fuqiang-benz commented on #3038
不好意思我这边参数的问题，麻烦你了，现在已经调好了

[2022-08-15 08:29] kennyLSN opened #3048 "datasets读取自定义的数据，这是啥问题"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

from paddlenlp.dat

[2022-08-15 08:33] ZHUI commented on #3028
您好，这些模型可能英文的多一些，中文这块产出的开源预训模型并不特别多， 像  `Mengzi UER RoFormer` 之类的中文模型我们都有支持。
https://paddlenlp.readthedocs.io/zh/latest/model_zoo/index.html

你有其他的中文模型的使用需求，特别欢迎提需求给我们。我们这边也可以 和 `ernie-3.0-xbase-zh` 模型比较效果。

[2022-08-15 08:49] wawltor commented on #3044
你可以直接使用Taskflow加载模型试试，这里集成了mkldnn加速和多核预测加速，不需要手动设置
<img width="960" alt="image" src="https://user-images.githubusercontent.com/16698950/184605323-04391eb7-dd10-4cc0-ade1-164dce58de59.png">

[2022-08-15 09:20] gongel commented on #3026
每次训练会有做评估，验证集上的BLEU指标没有下降，就不会过拟合。我看了你的数据，量较大，可以加大epoch到10，loss可以降到2.x

[2022-08-15 09:24] ZeyuTeng96 commented on #3026
大佬，能否把训练日志和训练过程发我看看？谢谢大佬

[2022-08-15 09:31] wawltor commented on #3048
label_list是需要手动传入进去的， 可以参考下面的代码
<img width="728" alt="image" src="https://user-images.githubusercontent.com/16698950/184611816-cd130a4e-9a3d-4c8c-9069-232f9b92522c.png">
https://github.com/PaddlePaddle/PaddleNLP/blob/42ec8e31b40e1be77523a224cf66f76b4e1c65b5/applications/text_classification/multi_class/train.py#L156

[2022-08-15 09:32] wawltor commented on #3045
您好，我们将关闭该iSSUE，如有问题可以再Open这个issue。

[2022-08-15 09:32] #3045 closed, assigned to wawltor

[2022-08-15 11:49] bruce0210 opened #3050 "关于前端streamlit的title及<head>标签设置问题"
我基于semantic_search搭建了web服务，上线有2周了但主流搜索引擎都不收录我这个网站，分析有可能是没有一般网站中html的keywords和description标签，所以请问streamlit如何在代码中能添加上html中的keywords和description标签内容呢？（不确定我这样添加是否能对SEO起作用。）
![7f1751e06eed4c971874798c8dcf583](https://user-images.githubusercontent.com/100854336/184629807-1b56e76b-0fd4-4f48-891f-0cc1ae4b91c0.png)
![image](https://user-images.githubusercontent.com/100854336/184630065-d6608262-40ad-4dc3-a6c

[2022-08-15 12:29] scuyjzh opened #3051 "多机多卡运行失败问题请求帮助"
运行脚本：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/bert/run_pretrain.py

首先脚本在各自机器执行单机多卡时都正常运行，训练迭代一切正常，但是使用多机多卡就会报错。

主机执行命令：
python -m paddle.distributed.launch --ips="100.71.36.11,100.73.36.1" --gpus "1" run_pretrain.py ...
从机执行命令：
python -m paddle.distributed.launch --ips="100.71.36.11,100.73.36.1" --gpus "1" run_pretrain.py ...

两台机器都可以互ping通：
![image](https://user-images.

[2022-08-15 12:39] ZHUI commented on #3051
可能的情况比较多：

1. paddle版本不同，建议请检查一下Paddle各自的版本。
2. nccl版本不同，这个的话，cuda 11.2 和 cuda 11.1差异应该较小，建议也检查一下NCCL版本

这些都有可能导致多机 huang 住。可以`export NCCL_DEBUG=INFO`看是否有更多debug信息。

如果是厂内用户的话，可以加 如流群: 5165068 与我们交流，也可以尝试机器接入 paddlecloud。

[2022-08-15 12:44] scuyjzh commented on #3051
非厂内用户
paddle版本都是一样的
唯一可排查的报错信息是从机显示的
socket read failed with ret_val=0
这可能是什么原因造成的呢 明明机器之间互ping都是通的

[2022-08-15 12:49] yghstill commented on #2987
quantize_linear 这个算子是在onnx_format=True下出现的，你需要将dtype设置为int32，同时onnx_format=False

[2022-08-15 12:56] ZHUI commented on #3051
`export NCCL_DEBUG=INFO`  `export GLOG_v=5` 看一下日志，检查一下 两机的 NCCL 版本。

[2022-08-15 12:57] ZHUI commented on #3051
这种情况是 通信 卡住了，一般是 环境 哪里出现了不匹配的情况。

[2022-08-15 13:01] scuyjzh commented on #3051
这是从机的日志
![image](https://user-images.githubusercontent.com/12816241/184639734-5ccb6096-2e77-4bed-8f6f-3ea29f5a129a.png)

这是主机的日志
![image](https://user-images.githubusercontent.com/12816241/184639788-2d015a0b-8362-4238-b8fa-535365ba6700.png)

@ZHUI

[2022-08-15 13:22] scuyjzh commented on #3051
我把防火墙关闭之后，还是卡住
从机：
![image](https://user-images.githubusercontent.com/12816241/184643206-bcd4e499-8a4e-40c4-a377-63fd2bfd64e7.png)

主机：
![image](https://user-images.githubusercontent.com/12816241/184643283-3426184f-4ddf-4d66-8536-23b0d2018956.png)

@ZHUI

[2022-08-15 13:32] Fmaj7 commented on #2987
是的，dtype=int32，onnx_format=False可以通过量化（实际上我测试的时候只设置dtype=int32就通过量化了），但是上面--set_dynamic_shape又出错了，如下：
RuntimeError: (NotFound) Operator (fake_quantize_dequantize_moving_average_abs_max) does not have kernel for {data_type[int64_t]; data_layout[Undefined(AnyLayout)];
place[Place(gpu:0)]; library_type[PLAIN]}.
  [Hint: Expected kernel_iter != kernels.end(), but received kernel_iter == kernels.end().

[2022-08-16 01:50] zouhan6806504 opened #3054 "有中文转图片和图片转中文的比较好的开源模型吗？"
ERNIE-ViLG能做，但貌似没开源

[2022-08-16 01:56] linjieccc commented on #3038
OK，不客气

[2022-08-16 01:56] #3038 closed, assigned to linjieccc

[2022-08-16 02:06] linjieccc commented on #3037
@lugimzzz 麻烦帮忙看下这个问题

[2022-08-16 02:10] LiuChiachi commented on #2987
这个问题可以先将您的ernie_predictor.py中的`set_dynamic_shape`方法中的int64也都改为int32，应该可以绕过

[2022-08-16 02:15] lugimzzz commented on #3037
你好，请问为什么修改读取代码？输入的文件如果是根据[文本doccano指南](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/text_classification/doccano.md)获得的jsonl文件，应该先按行读取，然后加载json得到字典。

[2022-08-16 02:19] Fmaj7 commented on #2987
不行，前几天试过了，刚刚也试过，这个问题真困惑，是平台不兼容还是其他原因呢！
![UI(6O6{IKPZMFAEH36FSC2](https://user-images.githubusercontent.com/50041220/184784332-eccd05d9-5efe-4dd1-872b-45930acef281.png)

[2022-08-16 02:20] Fmaj7 commented on #3037
到处的数据结构如下 ：
![C@5XZ1B@)XU12~ (@~(}HZG](https://user-images.githubusercontent.com/50041220/184784608-c537ce63-c339-433d-a91c-091545a3d02a.png)

[2022-08-16 02:25] lugimzzz commented on #3037
改为下面这个代码：
[code]

[2022-08-16 02:27] Fmaj7 commented on #3037
嗯嗯，效果一样

[2022-08-16 02:27] lugimzzz commented on #3037
你是用什么方式导出doccano标注文本的？理论上导出的格式是这样
![image](https://user-images.githubusercontent.com/63761690/184785271-bb2cfdff-3a1b-44bb-9f22-4883268e0264.png)

[2022-08-16 02:27] lugimzzz commented on #3037
问题是否被解决？

[2022-08-16 02:28] Fmaj7 commented on #3037
解决了

[2022-08-16 02:29] ZHUI commented on #3051
你的详细启动命令我看一眼？你看一下本机下面日志是不是有 workerlog.0 workerlog.1 两个？
<img width="1094" alt="image" src="https://user-images.githubusercontent.com/16911935/184785310-402e3ddf-fab6-4ab1-99dd-412f1de4983e.png">

可以加入我们的交流群沟通，更快一些。
<img width="319" alt="image" src="https://user-images.githubusercontent.com/16911935/184785257-4110b2ab-dd3c-4132-a2ec-843b36edb188.png">

[2022-08-16 02:30] #3037 closed, assigned to linjieccc, lugimzzz

[2022-08-16 02:32] scuyjzh commented on #3051
解决了，需要添加export NCCL_SOCKET_IFNAME的环境变量

@ZHUI 谢谢答疑

[2022-08-16 02:32] #3051 closed, assigned to ZHUI

[2022-08-16 02:51] ZHUI commented on #3051
好的，指定NCCL的通信口就可以了是吧，赞👍🏻

[2022-08-16 03:24] sunshineyg2018 opened #3056 "小样本训练 checkpoint下不产生模型文件"
(venv) PS F:\PaddleNLP\model_zoo\uie> python .\finetune.py
[2022-08-16 11:23:24,364] [    INFO] - Downloading resource files...
[2022-08-16 11:23:24,367] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'uie-nano'.
W0816 11:23:24.383388 10008 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.6, Driver API Version: 11.6, Runtime

[2022-08-16 03:50] linjieccc commented on #3056
您好，请问跑的是UIE文档里面的默认示例，还是用的自己的数据集？

[2022-08-16 03:53] joey12300 commented on #3054
@zouhan6806504 你好，文图生成的模型暂时还没开源，但文图生成的功能体验已经在文心官网上提供了：https://wenxin.baidu.com/moduleApi/ernieVilg

[2022-08-16 04:02] sunshineyg2018 commented on #3056
自己的数据集

[2022-08-16 05:50] zoeChen119 commented on #2973
感谢前辈！是这个，那看来我找对了~

[2022-08-16 07:45] heng3366 opened #3060 "UIE 信息抽取中schema问题"
如果我要做三元组抽取，正常来说schema是有很多个的，taskflow引入自定义的schema可以有多个吗，还是只能弄一个schema，如果可以，有无多个chema定义格式参考

[2022-08-16 08:08] hmwdt opened #3061 "NLP 分词的日志如何关闭"
PaddleNLP 2.3.4，PaddlePaddle2.3.0 Linux & MacOS

使用uwsgi 启动
[uwsgi]
user=root
http=0.0.0.0:8000
chdir=/data/www
callable=_app
wsgi-file=app.py
master=true
processes=2
pidfile=/data/www/uwsgi.pid
logto=/data/www/uwsgi.log
vacuum = true
logfile-chmod = 644
log-format = [uwsgi-log] | %(ltime) | %(host) | %(method) | %(uri) | %(proto) | %(status) | %(size) | "%(referer)" | "%(uagent)" | %(msecs) | %(t

[2022-08-16 11:57] JunnYu commented on #3054
目前的话paddlenlp可以使用这两个文图生成模型。可以clone最新的paddlenlp，然后参考这个PR https://github.com/PaddlePaddle/PaddleNLP/pull/2988 生成图片。

![58b8decf189e815dccfa8d7f372af420](https://user-images.githubusercontent.com/50394665/184873832-492aad69-9b13-4e06-b093-36752f709f86.png)

[2022-08-16 12:19] linjieccc commented on #3061
您好，这个问题目前修复了 https://github.com/PaddlePaddle/Paddle/pull/44316

可以安装nightly build版本再试下：
[code]

[2022-08-16 12:22] linjieccc commented on #3060
参考这个例子：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie#36-%E8%B7%A8%E4%BB%BB%E5%8A%A1%E6%8A%BD%E5%8F%96

该例中定义了两个关系类型的schema：
[code]

[2022-08-16 12:23] linjieccc commented on #3056
方便的话可以贴下数据集，我们尝试复现下

[2022-08-16 15:53] fly2 opened #3067 "ernie3.0模型下载"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.5，PaddlePaddle2.1.1
2）系统环境：Linux，python:3.8

目前https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/ernie-3.0页面下的模型下载只提供了pdparams文件，
model.json和vocab.txt需要在AutoModel，AutoTokenizer模块中找对应模型文件的下载地址，建议可以在下载链接中一并提供。

[2022-08-17 00:24] #3061 closed, assigned to linjieccc

[2022-08-17 01:07] syw2014 commented on #3044
您好，这个在**CPU环境**下能运行吗？我在aistudio 上测试是不行的，
![image](https://user-images.githubusercontent.com/6802806/185012348-c43c2eac-f41c-4432-8f0b-35734667e163.png)

[2022-08-17 01:15] zouhan6806504 commented on #3054
我有数据想继续训练，有没有例子参考一下？

[2022-08-17 02:03] JunnYu commented on #3054
目前还没有关于训练流程的，后续我们会考虑增加的，到时候您可以关注下。

[2022-08-17 02:40] #2649 closed, assigned to ZHUI

[2022-08-17 03:45] linjieccc commented on #3044
被kill了，可以观察下内存情况，看是不是其他程序占用内存过多
![image](https://user-images.githubusercontent.com/40840292/185030262-60a09a8e-f2e6-42a1-b539-489f84fdd804.png)

[2022-08-17 05:24] Fmaj7 commented on #2987
改用wsl测试，量化参数：dtype=int64，onnx_frmat=False可以通过量化，但执行--set_dynamic_shape还是不行，ernie_predictor.py里面setdynamic_shape中无论都是int64或int32都不行，错误信息同上

[2022-08-17 05:32] LiuChiachi commented on #2987
能够再提供下.pdmodel文件吗。因为 `fake_quantize_dequantize_moving_average_abs_max` 这个算子在 ERNIE模型下输入确实不应该是 int32

[2022-08-17 05:45] Fmaj7 commented on #2987
[int8.zip](https://github.com/PaddlePaddle/PaddleNLP/files/9356686/int8.zip)
这个是量化输出的文件，量化compress_train.py参数：dtype=int64，onnx_frmat=False

[2022-08-17 06:12] fly2 opened #3071 "from_pretrained加载本地模型报错"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.5，PaddlePaddle2.3.1
2）系统环境：Linux:Debian GNU/Linux 11，python：3.8.12
- 复现信息：如为报错，请给出复现环境、复现步骤

下载ernie-3.0-medium-zh模型到本地后加载报错，
文件本地存放路径：
[code]

错误信息：
[code]

[2022-08-17 07:19] ht896632 opened #3073 "用paddle_serving部署分类模型，怎么获取label的置信度？"
迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！：

版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP，PaddlePaddle2.3.1
使用的是docker直接部署：docker pull paddlecloud/paddlenlp:develop-cpu-latest
2）系统环境：系统类型：Linux，Python 3.7.13

目前采用如下方式进行部署：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/text_classification/multi_class/deploy/paddle_serving

service.py 里面看到了获取标签的逻辑，尝试获取置信度目前还没解决
def postprocess(self,

[2022-08-17 07:42] myboyliu opened #3074 "CHIP-CDN KeyError: '癌性疼痛'"
- 版本、环境信息
1）PaddleNLP版本: 2.3.3
PaddlePaddle版本：2.3.0
2）系统环境：Windows10，
python版本:3.8.10
- 复现信息：如为报错，请给出复现环境、复现步骤
python model_zoo\ernie-health\cblue\train_classification.py --dataset CHIP-CDN --batch_size 4 --max_seq_length 32 --learning_rate 3e-5 --epochs 16
出现如下错误：
  File "D:\dlnlp\PaddleNLP-develop\paddlenlp\datasets\dataset.py", line 236, in load_dataset
    datasets = reader_instance.read_datas

[2022-08-17 10:07] sysuls1 opened #3076 "UIE部署时报错Could not find a CPU kernel and hence can't constant fold Mul node 'p2o.Mul.4'"
![image](https://user-images.githubusercontent.com/36253898/185093173-51317808-5de5-4d84-802c-438dd19d66eb.png)

[2022-08-17 11:24] linjieccc commented on #3076
您好，这个是onnxruntime的Warning，提示Mul node不支持constant folding，不影响推理

[2022-08-17 11:27] Ramlinbird opened #3077 "About domain adapation of ernie-3.0"
Hello, if I have lots of domain unlabel text data, can I continue training domain-adapated ernie-3.0 with the interface of AutoModelForPretraining? Thanks a lot.

[2022-08-17 13:44] sysuls1 commented on #3076
那这个部署之后，接口在哪里呢？好像没看到任何接口信息呀

[2022-08-18 02:03] guoshengCS commented on #3071
抱歉，这里有些不太完善。您那边是直接使用的下载缓存的目录是吗，可以先`save_pretrained`保存一次然后使用保存的目录来加载，save过程中有些转换适配的处理，之前是考虑`from_pretrained`加载本地目录的话需要是保存适配过的，我们也看看完善下

[2022-08-18 02:07] guoshengCS commented on #3067
好的，感谢建议，也看到 #3071 的issue了

[2022-08-18 02:11] guoshengCS commented on #3073
那个results里存的应该是置信度，可以用`results [labels]`或者 `results.max(axis=-1)`取出来看下呢

[2022-08-18 02:22] MachineSheep opened #3079 "UIE 定制模型一键预测中Taskflow中batch_size参数没有作用"
![image](https://user-images.githubusercontent.com/109952192/185278441-17bea3d2-627e-4af9-be7c-984589896105.png)
这里的Taskflow中加入batch_size参数是没有作用的，抽取三条文本，batch_size=1和batch_size=3的效率是一样的，还测试了其他情况，都证明batch_size参数没有作用，gpu的利用率都是80%左右，gpu的显存利用率都是20%左右，请问这是为什么呢？

[2022-08-18 02:43] ZHUI commented on #3077
Hello,  sure we can！  we support the pre-training of ERNIE in  following folder.

  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0

you can try it！

[2022-08-18 04:06] wanghia commented on #2947
可以理解为uie-base是在ERNIE-3.0基础上基于大量的不同领域的数据训练得到的吗？这个训练的过程是不是和微调一致呢？主要就是start_loss+end_loss?

[2022-08-18 04:08] Ramlinbird commented on #3077
Thanks for your quick reply. I don't want to train the model from scratch, but continue training nsp and mlm tasks from ernie-3.0-base-zh checkpoint. I tried loaded the model using `AutoModelForPretraining.from_pretrained`, and print the model. But I only find the task `seq_relationship` in the network? Where's the MLM task? Will this path work?
[code]

[2022-08-18 06:37] linjieccc commented on #3076
serving的部署方式我们正在开发，还没有集成，可以先参考这个PR：https://github.com/PaddlePaddle/PaddleNLP/pull/2845

[2022-08-18 06:43] linjieccc commented on #3079
利用率比较高，提升batch_size可能没有明显加速。可以试试能否用多进程spawn的方式来进一步提升利用率

[2022-08-18 07:06] sysuls1 commented on #3076
from paddlenlp import SimpleServer
这里好像要求paddlenlp>=2.3.6，现在最高只能安装到2.3.5，好像暂时还不能部署。

[2022-08-18 07:46] MachineSheep commented on #3079
好的好的，这边还有一个问题，UIE实体识别中每次取一个类别作为prompt与原文本拼接作为模型的输入，如果批量预测，batch_size=n, 是不是就同时加载n个模型进入内存进行任务提取呢？

[2022-08-18 08:16] moonlang-vvv opened #3082 "AttributeError: module 'paddle' has no attribute 'io'"
版本：paddlenlp==2.3.5 python==3.6 paddlepaddle==2.3.1
重装也不行，一直在报这个错，该怎么办呀？

[2022-08-18 08:23] linjieccc commented on #3079
批量预测的时候载入的还是单个模型，会根据schema的数量使用单个模型预测多次

[2022-08-18 09:13] MachineSheep commented on #3079
这样的话batch_size肯定不会提高效率，实体识别中每次取一个类别作为prompt与原文本拼接作为模型的输入，所以schema中有多个实体类别时会预测多次，也就是说，预测的时候使用相同的数据集，Taskflow的batch_size参数无论设置多少，因为单个模型一次只能预测一个schema和一条文本，预测的效率都是相同的？

[2022-08-18 09:23] MachineSheep commented on #3079
批量预测的时候，模型一次输入是批量的还是单条的呢？如果是批量的，硬件资源够的情况下，消耗的时间会比单条的多很多吗？还是几乎一样？

[2022-08-18 09:26] MachineSheep commented on #3082
建议python版本升级一下

[2022-08-18 09:48] ZeyuTeng96 opened #3084 "尝试将unimo_text_toknerizer加载数据的方法使用于GPT模型训练上报错"
尝试将unimo_text_toknerizer加载数据的方法使用于GPT模型训练上报错

报错信息如下：
Building prefix dict from the default dictionary ...
Loading model from cache /tmp/jieba.cache
Loading model cost 0.707 seconds.
Prefix dict has been built successfully.
Exception in thread Thread-6:
Traceback (most recent call last):
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    s

[2022-08-18 10:34] Japhlvicy opened #3085 "文图生成api是否还未能使用？"
通过pip安装的paddlenlp，版本是2.3.5，按照git页面上的taskflow文档调用文图生成api，提示text_to_image任务还未加入 taskflow list中，请问目前文图生成功能是否还未更新？

[2022-08-18 13:05] chinochankawai commented on #3045
你好，我使用pip install eval，import eval但仍然显示No module named 'eval'
请问可以提供eval模块，并在本地（比如pycharm）而非aistudio的环境下运行吗？

参照教程https://aistudio.baidu.com/aistudio/projectdetail/3955163
In [7]
# 开始训练
import time
import paddle.nn.functional as F

from eval import evaluate

[2022-08-18 13:24] chinochankawai opened #3088 "可以提供下【快速上手】情感分析项目中的eval这个模块吗？"
你好，请问能提供下eval这个模块，并在本地（比如pycharm）而非aistudio的环境下运行吗？
本地pycharm中运行项目中代码from eval import evaluate 显示No module named 'eval'
pip install eval后，仍然显示No module named 'eval'

参照教程
https://aistudio.baidu.com/aistudio/projectdetail/3955163
In [7]
开始训练
import time
import paddle.nn.functional as F

from eval import evaluate
-----------
ModuleNotFoundError: No module named 'eval'

参照issue
https://github.com/Pad

[2022-08-19 01:21] hmwdt opened #3090 "CPU使用Taskflow进行文本纠错报错"
paddlenlp==2.3.4
paddlepaddle==2.3.0

CPU使用Taskflow进行文本纠错报错

from paddlenlp import Taskflow
        tc = Taskflow("text_correction")

首次运行日志如下：
[2022-08-19 09:08:11,930] [    INFO] - Already cached /root/.paddlenlp/models/ernie-1.0/ernie_v1_chn_base.pdparams
[2022-08-19 09:08:23,190] [    INFO] - Weights from pretrained model not used in ErnieModel: ['cls.predictions.layer_norm.weight', 'cls.predi

[2022-08-19 01:35] JKsang opened #3091 "LinearChainCrfLoss和ChunkEvaluator输入内容不一致，如何用Model.fit训练？"
1）PaddleNLP 2.3.5，PaddlePaddle2.3.1，Linux
在‘’『NLP经典项目集』09 ：基于Bi-GRU+CRF的快递单信息抽取”（https://aistudio.baidu.com/aistudio/projectdetail/1317771?channelType=0&channel=0）中看到模型的输出是 output, lens, pred，如下图：
![image](https://user-images.githubusercontent.com/48127870/185522233-86730e9c-2f1e-4f2e-8666-9d4200f90c2b.png)
![d34acc15bb0371f34546b2a7763ece7](https://user-images.githubusercontent.com/48127870/18552

[2022-08-19 02:47] guoshengCS commented on #3085
目前还没有在最新的2.3.5版本的包里，可以先行通过git clone PaddleNLP的repo并将PYTHONPATH指向下载下了的PaddleNLP目录来使用

[2022-08-19 03:02] linjieccc commented on #3079
批量预测的时候输入是多条文本拼相同的prompt，可以参考下这里单阶段与多阶段预测的实现
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/deploy/python/uie_predictor.py
对应_single_stage_predict和_multi_stage_predict
批量预测时间消耗会多些，单阶段下的时间差异可以参考这里
<img width="1052" alt="image" src="https://user-images.githubusercontent.com/40840292/185533686-9f01c6d7-4916-481e-839d-0fec7e5b88aa.png">

[2022-08-19 03:05] linjieccc commented on #3090
应该是内存不足被kill了，请问运行机器的内存多大

[2022-08-19 03:23] MachineSheep commented on #3079
非常感谢您的解答，我现在的困惑是，UIE实体识别Taskflow中的batch_size参数对相同数量的任务处理能不能提高效率？意思就是硬件资源足够的情况下，n条文本，m个schema，batch_size=1和batch_size=8消耗的时间几乎是一样的吗？还是batch_size=8消耗的时间多或少？

[2022-08-19 03:44] chinochankawai commented on #3088
已解决 到aistudio下载eval.py后放在python根目录

[2022-08-19 03:44] #3088 closed, assigned to nobody

[2022-08-19 08:16] gongel commented on #3084
你好，可以检查下这里面是否有空值：`example['input_ids'] for example in batch_examples]`

[2022-08-19 08:21] gongel commented on #3082
你好，可以确认下你跑代码的Python环境和你安装PaddlePaddle==2.3.1是否为同一个Python环境。

[2022-08-19 09:24] ZeyuTeng96 commented on #3084
大佬，GPT的tokenizer怎么加token呢，没有pad和cls怎么办

[2022-08-19 11:37] cuixiaojun opened #3093 "examples.text_to_sql.RAT-SQL runtime error . please check it."
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
在百度的aistudio上，新建的项目，跑的脚本是按照https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_sql/RAT-SQL 的指南执行的。

paddlepaddle2.3.1
Python3  3.7.4
paddlenlp,使用pip3 install -r requirements.txt获得

最后一步报错：
!cd t2s && python ./evalua

[2022-08-19 11:44] cuixiaojun commented on #3093
aistudio地址是https://aistudio.baidu.com/aistudio/projectdetail/4438049

[2022-08-20 02:29] wj-Mcat opened #3095 "BUG: The task name:text2image_generation is not in Taskflow list, please check your task name"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：

- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：

[code]

2）系统环境：请您描述系统类型:  Linux

- 复现代码

[code]

`text2image_generation`的特性貌似是在paddlenlp==2.3.5版本中才有，可是文档中标注的是2.3.4的版本，详细可见：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#quickstart

[2022-08-20 05:31] lsx0930 opened #3096 "请问uie现在还是没有办法解决实体嵌套的问题对吗？或者这块有啥思路吗？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

如还有问题可以到 PaddleNLP github 主页面的**[社区交流](https://github.com/PaddlePaddle/PaddleNLP#%E7%A4%BE%E5%8C%BA%E4%BA%A4%E6%B5%81)**扫描加入微信群，相关值班同学将会为您解答！

[2022-08-20 08:34] ZeyuChen commented on #3085
@guoshengCS 可以考虑在安装文档这里新增一个源码安装的文档 作为后续这类需求的faq

[2022-08-20 10:48] ht896632 commented on #3073
感谢，已经解决

[2022-08-20 15:53] wj-Mcat commented on #3095
Closed by duplicated issue https://github.com/PaddlePaddle/PaddleNLP/issues/3085

[2022-08-20 15:53] #3095 closed, assigned to nobody

[2022-08-21 06:58] linjieccc commented on #3096
@lsx0930 UIE可以做非同类别的实体嵌套，同类别嵌套目前还不支持

[2022-08-22 01:12] moonlang-vvv opened #3098 "ImportError: cannot import name 'Taskflow' from 'paddlenlp'"
有一个很神奇的bug。
在命令行输入python，一行一行敲，from paddlenlp import Taskflow，偶尔是可以运行的。
但是使用python xx.py，运行一个脚本文件，便会报错ImportError: cannot import name 'Taskflow' from 'paddlenlp' 。
我目前已使用官方提供的docker image，仍旧报这个错。

[2022-08-22 01:18] psychocosine opened #3537 "请问Paddle的TransformerEncoder没有实现Position Encoding的功能吗"
我尝试用TransformerEncoder去代替bi-lstm，发现效果更差，而且训练变慢了。是因为没有做Position Encoding吗？
![image](https://user-images.githubusercontent.com/62004255/185820761-e2f80d51-2e21-42c4-a607-3e49330f3b92.png)

[2022-08-22 02:16] LemonNoel commented on #3098
请问paddlenlp版本是多少呢

[2022-08-22 02:21] LemonNoel commented on #3074
目前开源的代码是基于预处理后的 CHIP-CDN 数据集的，即 CHIP-CDN-2C，将原有的任务转换为了二分类。运行脚本为
[code]

[2022-08-22 02:35] myboyliu commented on #3074
预处理 CHIP-CDN 数据集的代码有么？

[2022-08-22 02:55] moonlang-vvv commented on #3098
2.3.5

[2022-08-22 03:19] alanzhai219 opened #3099 "cant download model and json"
for branch release/2.1

https://github.com/PaddlePaddle/PaddleNLP/blob/0e1f3682f8038b0f93b15565acb4b2edbb5d9a1e/paddlenlp/transformers/ernie_gen/modeling.py#L268

some link has gone.

could anyone fix it?

Thanks.

[2022-08-22 03:25] azhai219 commented on #3099
anyone can help?
checkout to release/2.1.0
[code]
can't reach the network with the code 404!

[2022-08-22 03:36] w5688414 commented on #2989
hi,回复有点晚了。您可以把下面的参数设置成0。

[code]
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_matching/simcse/train.py

做法请参考这个

[2022-08-22 03:42] HUSTHY commented on #2989
谢谢 回复 貌似 这个操作我试过了的  就是把bert config文件中的一些dropout设置参数设置为0相当于把bert结构中的dropout和attention模块中的dropout都关闭了；貌似没有效果

[2022-08-22 03:52] w5688414 commented on #2989
cpu呢？

好的，那看来还是有随机性，试试cpu，看看cpu能否对齐？

[2022-08-22 04:08] HUSTHY commented on #2989
不过我也不确认生效没有 我再去确认一下

[2022-08-22 04:08] HUSTHY commented on #2989
cpu 上是没有随机性的 可以确认

[2022-08-22 04:13] HUSTHY commented on #2989
还有一个问题 请教一下 如果使用paddle去实现  SIMCSE 算法  bert config hidden_dropout_prob 和 attention_probs_dropout_prob 一定不能为0，那有什么方法可以解决呢？

[2022-08-22 06:18] w5688414 commented on #2989
如果dropout不为0，那我理解应该是不能固定住，dropout本来就会引入随机性

[2022-08-22 06:26] HUSTHY commented on #2989
OK 确认了 还是不行 GPU上跑起来效果还是不行
第一次acc=0.5605
第二次acc=0.5655
还是不能复现出一样的结果

总之谢谢你的回复

[2022-08-22 06:32] ZHUI commented on #3077
It should have `ernie` model in the network.
https://github.com/PaddlePaddle/PaddleNLP/blob/ec893dd05399ae4dd666a9628c58045c85d74d0a/paddlenlp/transformers/ernie/modeling.py#L1478-L1499

The MLM task is integrated with the `ernie-1.0` pre-training task. `AutoModelForPretraining` is work, but the mlm task is in  `ernie-1.0`,  so, we suggest you use the   `model_zoo/ernie-1.0`
https://github.com/Pad

[2022-08-22 06:42] safehumeng commented on #1208
好的，谢谢啦

[2022-08-22 06:42] safehumeng commented on #1208
好的，谢谢啦

[2022-08-22 06:47] LemonNoel commented on #3099
The example in `/PaddleNLP/examples/language_model/bert` is a sequence classification task. But `ernie-gen` supports text generation task only. Besides, the model structure of `ernie-gen` is different from that of `ernie`. You can refer to [this table](https://paddlenlp.readthedocs.io/zh/latest/model_zoo/index.html#id2) for more information.

[2022-08-22 06:48] LemonNoel commented on #3099
Can you provide more information about how to reproduce it?

[2022-08-22 06:51] w5688414 commented on #2989
@HUSTHY

第一次运行的结果：

[code]
第二次运行的结果：
[code]
能够复现，我的环境是：

+ paddlenlp             2.3.0.dev0
+ paddlepaddle-gpu      2.3.0

[2022-08-22 06:55] LemonNoel commented on #3074
这部分代码目前没有提供。预处理的主要流程是用Elasticsearch进行粗排，BM25算法选择top100的结果，分别和原文本组成文本对。

[2022-08-22 06:56] azhai219 commented on #3099
You can just wget such link to reproduce it.
For example, `wget https://paddlenlp.bj.bcebos.com/models/transformers/community/ernie-gen-large-en-430g/model_state.pdparams` failed to access.

Thanks.

[2022-08-22 06:59] azhai219 commented on #3099
Actually, I just follow the readme to export the *.pdmodel while can't access the link. Could you help check it. Thanks.

[2022-08-22 07:00] LemonNoel commented on #3098
python、paddlepaddle的版本分别是多少呢？以及运行的系统环境？`python -m pip show paddlenlp` 看下当前环境中 python 安装的 paddlenlp 版本路径指向是否正确？

[2022-08-22 07:06] HUSTHY commented on #2989
这是我用全部的数据，不是1000条
第一次训练结果
2022-08-22 12:10:11,619 train_sentence_bert.py [line:91] INFO args: Namespace(batch_size=64, epochs=5, lr=1e-05, max_len=64, model_out='./output', pretrained='pretrained_models/paddle/bert-wwm-ext-chinese', task_type='classification', train_file='./data/paws_x/translated_train.tsv', val_file='./data/paws_x/dev_2k.tsv')
2022-08-22 12:11:28,773 train_sentence_bert.py [line:

[2022-08-22 07:06] HUSTHY commented on #2989
这是我用1000条数据训练对比
第一次训练结果
2022-08-22 14:59:04,602 train_sentence_bert.py [line:91] INFO args: Namespace(batch_size=64, epochs=5, lr=1e-05, max_len=64, model_out='./output', pretrained='pretrained_models/paddle/bert-wwm-ext-chinese', task_type='classification', train_file='./data/paws_x/translated_train.tsv', val_file='./data/paws_x/dev_2k.tsv')
W0822 14:59:04.653079 74201 gpu_resources.cc:61] Please

[2022-08-22 07:07] HUSTHY commented on #2989
1000条数据的时候 第一个epoch的结果是一样的；全部数据集的时候不一样；
环境和你的环境是一样的

[2022-08-22 07:22] LemonNoel commented on #3099
If you ran the following command and got a `RuntimeError` , it's expected because `ernie-gen-base-en` **CAN NOT BE LOADED** by `ErnieForSequenceClassification`.

The link provided is missing because `ernie-gen-base-en` is not in the default list of ernie and it turns to **community** channel.
`https://paddlenlp.bj.bcebos.com/models/transformers/community/ernie-gen-large-en-430g/model_state.pdparam

[2022-08-22 07:35] azhai219 commented on #3099
Sounds reasonable. But below links still failed. So, @LemonNoel could you help fix it? Thanks
[code]

[2022-08-22 07:50] w5688414 commented on #2989
好的，确实存在这个问题，我复现出来了，感谢您的反馈，我向框架的人反馈一下

[2022-08-22 07:53] HUSTHY commented on #2989
是框架的问题？还是paddlenlp实现的Bert的问题呀？
之前有人说是梯度回传的问题。。。不知道是不是

[2022-08-22 07:58] w5688414 commented on #2989
可能是transormer的问题，这里面第8章在所有种子固定的情况下，能够完全复现。但最后的transformer有一点点diff， https://aistudio.baidu.com/aistudio/course/introduce/25793

[2022-08-22 08:01] HUSTHY commented on #2989
OK 好的 谢谢了
期待后面能解决这个问题

[2022-08-22 08:19] macanv commented on #3077
@ZHUI 请问一下，有没有使用ERNIE-3.0进行领域预训练文档呢，毕竟3.0性能更好。
祝好！

[2022-08-22 08:28] ZHUI commented on #3077
你好，目前的代码已经可以支持 使用  ERNIE-3.0 进行预训练

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0

此教程中，修改 `ernie-1.0-base-zh` -> `ernie-3.0-base-zh` 即可完成 `ernie-3.0` 的领域预训练

[2022-08-22 08:58] LiuChiachi commented on #2987
请确认将 `onnx_format=False`，应该是[compress_trainer.py](https://github.com/PaddlePaddle/PaddleNLP/files/9305424/compress_trainer.txt.txt)这个文件里
`PostTrainingQuantization`的初始化

[2022-08-22 10:53] gongel commented on #3084
已在微信回复，closed

[2022-08-22 10:53] #3084 closed, assigned to gongel

[2022-08-22 11:42] LemonNoel commented on #3099
Can I know which example you ran? And what do you aim to do?

[2022-08-22 11:51] LemonNoel commented on #3099
If the code file is `/PaddleNLP/examples/language_model/bert/export_model.py` without adaption, I don't think it is a bug. Code 404 means that you **should not** load `ernie-gen`, `ernie-doc` or `ernie-gram` by `ErnieForSequenceClassification`.

If you want to export these model as a static graph, you need to modify the `ErnieForSequenceClassification` class at [#L56](https://github.com/PaddlePadd

[2022-08-22 12:21] wj-Mcat opened #3109 "[BUG Report]: init_kwargs is wrong in multi-inherit"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：

[code]

2）系统环境：

* MacOS
* Python 3.8

 3）复现代码

[code]

以上代码会直接抛出错误：

[code]

4）原因分析

背景：在框架层面中，由于给`PretrainedTokenizer`添加了`InitTrackerMeta`元类型，并会自动给track所有派生类的`__init__`方法，并记录所有其构造函数中的参数到`init_kwargs`属性当中。

在以上代码中，在`PretrainedTokenizer`上还有两层的继承，先从最外层开始执行[wrapper](https://github.com/PaddlePaddle/Pad

[2022-08-23 01:46] Fmaj7 opened #3113 "请问以下， ANN 建库、召回，产出召回结果数据很准确，但是用Milvus进行召回的结果却很不准确"
模型一样，抽取的向量一样
![1661219341698](https://user-images.githubusercontent.com/50041220/186051263-f5c00b42-7055-482a-a3c9-d13749bcfdab.png)
![1661219382236](https://user-images.githubusercontent.com/50041220/186051267-6e98cba9-1529-4e56-b92c-268aad53e720.png)

[2022-08-23 01:48] minghaoBD commented on #3537
您好，NLP模型相关的问题建议去 PaddleNLP 提问哈：https://github.com/PaddlePaddle/PaddleNLP/issues

[2022-08-23 03:00] fuqiang-benz commented on #3038
您好，打扰了，想请教个问题，UIE在finetune时，cpu只能使用单核这个问题，有什么好的解决办法吗，只使用一块cpu训练有点慢啊，350条数据已经训练12个小时了

[2022-08-23 03:27] azhai219 commented on #3099
- I just want to export the **static models of bert and ernie** in different branches in order to support inference engine. Actually, it is not easy for your repo changes so quickly.

- It seems that model name shows in the py code instead of the readme.
It is much appreciated if you can provide me such the bert and ernie model list and convert tutorial. If possilble, please teach me how to export

[2022-08-23 06:03] shguan2018 opened #3117 "文本长度不能超过511"
1. 使用 simcse 进行训练
2.  将模型用 paddle serving 进行布置 (CPU 方式)
3. 如果传入的文本长度> 511,则 报错
4. 如果用 GPU 方式布置 paddle serving, 传入的文本长度 > 511,则 不报错.
![Uploading QQ图片20220823140243.png…]()

[2022-08-23 06:04] shguan2018 commented on #3117
![QQ图片20220823140243](https://user-images.githubusercontent.com/45221801/186082128-5650d100-613d-4282-a752-a329379a8737.png)

[2022-08-23 06:37] w5688414 commented on #3113
请问您是用的哪个应用？

[2022-08-23 06:42] Fmaj7 commented on #3113
语义检索系统，in-batch-negative评估召回很准确，然后milvus很不准确

[2022-08-23 08:00] gongshaojie12 opened #3120 "为什么无法在intellij中打印出结果？"
- 版本、环境信息
1）PaddleNLP 2.3.5，PaddlePaddle2.3.1
2）系统环境：Windows，python3.6.13

代码:

[code]

Intellij 控制台打印出的信息如下:

[code]

控制台无法输出print和ppring中的信息，请问下是什么原因？谢谢！

[2022-08-23 08:10] LemonNoel commented on #3120
可以打开控制台检查下内存是否溢出

[2022-08-23 08:36] Fmaj7 opened #3121 "parallel_for failed: cudaErrorMemoryAllocation: out of memory"
请问这种情况如何处理，batch_size调整过，不起作用。我挂了个后端服务调用模型，每调用一次内存上升一点，不会释放，多调用几次就满了，必须要重启后端服务才能释放内存

[2022-08-23 09:35] gongshaojie12 commented on #3120
![image](https://user-images.githubusercontent.com/6407116/186125029-c61ec790-45f6-470c-afcc-f3419852c799.png)
hi， @LemonNoel  是指这里的控制台吗？

[2022-08-23 10:06] wj-Mcat commented on #3121
就这一个描述，我们完全没法找到问题所在。

建议，给出本地paddle相关包版本，最小可复现代码，这样才能帮你快速定位问题。

[2022-08-23 10:42] w5688414 opened #3122 "PaddleNLP 2.3.6 Release Note Candidate"
# New Features

## Pipelines

+ Pipelines融入RocketQA轻量化小模型。https://github.com/PaddlePaddle/PaddleNLP/pull/3078
+ 新增基于ERNIE3.0的RocketQA召回模型。 https://github.com/PaddlePaddle/PaddleNLP/pull/3033
+ 新增基于ERNIE3.0的RocketQA排序模型。 https://github.com/PaddlePaddle/PaddleNLP/pull/3019

## 文本分类Application
+ 新增analysis模块 。https://github.com/PaddlePaddle/PaddleNLP/pull/3011
+ 新增基于检索的文本分类。 https://github.com/Paddle

[2022-08-23 11:24] w5688414 commented on #3113
能贴一下测试代码吗？请确保使用的是同一个模型抽取向量和建库

[2022-08-23 12:10] psychocosine opened #3123 "请问Paddle的TransformerEncoder没有实现Position Encoding的功能吗"
在ESIM模型中我尝试用TransformerEncoder去代替bi-lstm，发现效果更差了，而且训练变慢了。是因为没有做Position Encoding吗？
![ESIM](https://user-images.githubusercontent.com/62004255/186154333-80ff7ccb-b5cc-41a4-af4e-425abf013320.png)

[2022-08-23 13:05] wj-Mcat opened #3124 "[BUG REPORT]: model_max_length of tokenizer is wrong"
## Abstract

在tokenizer的`encode`、`__call__`等函数当中，当max_length为None时，理论上应该获取模型对应的默认数值，可是绝大部分的模型的数值都是错的。

## Problem

以下是最小复现代码

[code]

在[HuggingFace](https://github.com/huggingface/transformers/blob/main/src/transformers/models/roberta/tokenization_roberta.py#L58)当中是通过`PRETRAINED_POSITIONAL_EMBEDDINGS_SIZES`配置项来添加默认配置项，可是在paddlenlp当中并没有这一个配置项，所以建议添加。

## Solution

通过观察代码发现，在paddlenlp当中大部分的配置都是添加在mo

[2022-08-23 14:35] Fmaj7 commented on #3121
gc.collect()，加这个解决了

[2022-08-24 00:46] Fmaj7 commented on #3113
代码没改，只是加了自定义的数据集，还有修改了部分脚本执行参数，脚本依次如下执行：
训练、召回：python -u -m paddle.distributed.launch --gpus "0"
train_batch_neg.py
--device gpu
--save_dir ./checkpoints/recall
--batch_size 64
--learning_rate 5E-5
--epochs 3
--output_emb_size 256
--save_steps 10
--max_seq_length 64
--margin 0.2
--train_set_file data/train.csv
--evaluate
--recall_result_dir "recall_result_dir"
--recall_result_file "recall_result.t

[2022-08-24 01:16] w5688414 commented on #3113
我看您换成了ernie 3.0, 请问feature_extract.py有修改没。

<img width="695" alt="image" src="https://user-images.githubusercontent.com/12107462/186296189-3a3de80b-fe9c-4e74-9f41-fc7349406cc4.png">

这里需要换成ernie 3.0的tokenizer

[2022-08-24 01:19] Fmaj7 commented on #3113
feature_extract.py这个也换成ernie3了，好像全都换成e3了
![1661304020543(1)](https://user-images.githubusercontent.com/50041220/186296665-9adec669-37c2-456a-a352-c8ee874090c7.png)

[2022-08-24 01:23] Fmaj7 commented on #3113
export_model也需要换成e3？这个没换
![1661304161514](https://user-images.githubusercontent.com/50041220/186296959-8abfe9a3-af61-4bf7-9d20-7b5f16014d04.png)

[2022-08-24 01:49] Fmaj7 commented on #3113
可以了，我将export_model的pretrained_model和tokenizer都改为e3，太感谢了！

[2022-08-24 01:55] w5688414 commented on #3113
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/in_batch_negative/export_model.py
好的

[2022-08-24 02:01] Fmaj7 commented on #3113
是这个

[2022-08-24 02:09] Fmaj7 commented on #3113
用milvus检索的速度有点慢，我将初始化的final_index保存在内存检索速度会快得多，前提是向量不能太大
![1661306748812(1)](https://user-images.githubusercontent.com/50041220/186302001-4d9fa93f-dfd0-474e-bcb2-0375ec165c7b.png)

[2022-08-24 02:19] wj-Mcat commented on #3122
## 模型单测

* 新增Ernie-Gram模型单测 https://github.com/PaddlePaddle/PaddleNLP/pull/3059
* 新增TinyBert模型单测 https://github.com/PaddlePaddle/PaddleNLP/pull/2992
* 新增Roformer 模型单测 https://github.com/PaddlePaddle/PaddleNLP/pull/2991
* 新增Ernie-M模型单测 https://github.com/PaddlePaddle/PaddleNLP/pull/2964
* 新增Skep模型单测 https://github.com/PaddlePaddle/PaddleNLP/pull/2941

## Bug Fix

* 修复tokenizer resize-token-embeddin

[2022-08-24 02:28] JunnYu commented on #3122
## 文图生成
- 新增Dalle-mini文图生成模型。https://github.com/PaddlePaddle/PaddleNLP/pull/2917
- 新增阿里EasyNLP中的文图文图生成模型。https://github.com/PaddlePaddle/PaddleNLP/pull/2968
- 新增文图生成的TaskFLow。https://github.com/PaddlePaddle/PaddleNLP/pull/2988
## 其他
- 支持FasterGPT的word_embeddings 和 lm_head.decoder_weight的权重不共享。https://github.com/PaddlePaddle/PaddleNLP/pull/2953
- 重构RoFormer，新增RoFormerForCausalLM类，支持roformer-sim相似句生

[2022-08-24 02:43] bruce0210 opened #3126 "从streamlit前端添加一个二级页面的跳转"
请问如何从streamlit前端添加一个自定义的二级页面跳转？
-----------------------------------------------------------------
![image](https://user-images.githubusercontent.com/100854336/186304233-cb2d8769-3db8-4878-ba1d-002530ddc8a1.png)

![image](https://user-images.githubusercontent.com/100854336/186306723-e29600d0-30a6-42b4-a3d1-0bf725bc91a8.png)

page_docx.py是我自建的一个二级页面，现在只能模拟出跳转，并打开固定的某个docx文件，请问该如何能拿到我搜索过程中真实的文档参数，实现对

[2022-08-24 02:56] hmwdt commented on #3090
运行机器内存8G，确实应该是内存不够，使用了更大内存的服务器后不再报错

[2022-08-24 02:56] #3090 closed, assigned to linjieccc

[2022-08-24 04:04] MachineSheep opened #3128 "UIE事件抽取模型输入的数据格式"
请问UIE事件抽取训练的时候是怎么识别到触发词的？
事件抽取训练数据通过doccano打标后的导出的json数据格式如下：
{"id":1,"text":"雀巢裁员4000人：时代抛弃你时，连招呼都不会打！","label":[[0,2,"裁员方"],[2,4,"裁员触发词"],[4,8,"裁员人数"]]}

经过doccano.py拆分数据集的结果如下：
{"content": "雀巢裁员4000人：时代抛弃你时，连招呼都不会打！", "result_list": [{"text": "雀巢", "start": 0, "end": 2}], "prompt": "裁员方"}
{"content": "雀巢裁员4000人：时代抛弃你时，连招呼都不会打！", "result_list": [{"text": "4000", "start": 4, "end": 8}], "prompt":

[2022-08-24 06:06] MachineSheep commented on #2324
你好你好，UIE事件抽取模型输入的数据格式是什么样的呢？

[2022-08-24 07:34] gongshaojie12 commented on #3120
Intellij 的idea64.exe.vmoptions设置如下：

[code]

但还是无法打印出结果。

[2022-08-24 14:47] #3122 closed, assigned to FrostML, joey12300, guoshengCS, gongel, LemonNoel, LiuChiachi, linjieccc, lugimzzz

[2022-08-24 15:03] w5688414 commented on #3113
这是milvus吗？Mlivus我理解速度不会太慢，这看上去是hnswlib

[2022-08-25 00:30] Fmaj7 commented on #3113
对，这是hnswlib

[2022-08-25 00:32] w5688414 commented on #3113
好的，欢迎提一个pr哈

[2022-08-25 02:16] linjieccc commented on #3128
doccano导出后的数据格式有一点问题，正确格式的例子： #2961

事件抽取的标注方式可以参考这里，触发词和事件论元会由有向实线关联起来：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md#53-%E4%BA%8B%E4%BB%B6%E6%8A%BD%E5%8F%96

[2022-08-25 04:02] MachineSheep opened #3139 "UIE模型输入数据格式校验"
**建议UIE模型代码结构中加入数据格式校验脚本**，因为大多数用UIE模型的数据来源都是已经打标的数据，需要自己手动编写数据格式转换脚本把原有的数据格式转换成模型输入的数据格式（或者转换成doccano.py文件输入的数据格式），然而上万条数据转换后，其中可能会因为自己编写的转换脚本不够全面，而导致少量的数据格式有问题，难以排查，从而导致模型训练报错。

[2022-08-25 04:27] #3128 closed, assigned to linjieccc

[2022-08-25 04:36] MachineSheep opened #3140 "uie-base模型事件抽取预训练有用到DuEE1.0中文事件抽取数据集吗？"
在用UIE模型做事件抽取任务，找到开源数据集DuEE1.0中文事件抽取数据集，想在上面进行微调，看看事件抽取的效果，如果uie-base模型事件抽取预训练用到DuEE1.0中文事件抽取数据集，那还在这个数据集上进行试算，效果肯定会偏好

[2022-08-25 04:41] MachineSheep commented on #3120
pprint("ner result:") 在这里打个断点，调试一下

[2022-08-25 05:58] gongshaojie12 commented on #3120
还没运行到这一行程序就停止了

[2022-08-25 05:58] gongshaojie12 commented on #3120
还没运行到这一行程序就停止了

[2022-08-25 07:41] Fmaj7 opened #3141 "使用 FasterTokenizer 加速"
![}HOFX{PV2~LXCCDQGS(E3HS](https://user-images.githubusercontent.com/50041220/186604993-2ac1b9d7-b2aa-4c77-af76-f3f5e10644dc.png)
------------------
训练阶段加这个参数还是发布的时候加这个参数，发布的时候加好像没用
----------------------------

[2022-08-25 09:08] Fmaj7 commented on #3141
----------------------------
模型抽向量速度太慢了，用neural_search这个应用，抽向量10s，可以参考ernie3裁剪、量化吗？
cpu：Intel(R) Xeon(R) Gold 5218 CPU @ 2.30GHz
----------------------------------------

[2022-08-25 09:14] tingaicompass commented on #3079
这个我测过 batch_size=2和batch_size=32 64基本时间没差距，就是GPU内存使用率的问题。cpu拉过来的数据到GPU都是瞬间算完，影响预测时间主要卡在cpu到GPU这个过程

[2022-08-25 09:27] tingaicompass opened #3142 "UIE 定制模型一键预测中Taskflow模型预测时间很久的问题，有好的解决办法吗？"
在数据文本：1.14MB 样本量为10072下：

batch_size=2
数据模型载入运行时间为1.5587928295135498s
模型计算运行时间为266.18130588531494s
数据导出运行时间为0.07100987434387207s
数据结果已导出

batch_size=32
数据模型载入运行时间为1.546999454498291s
模型计算运行时间为253.65821027755737s
数据导出运行时间为0.07125997543334961s

batch_size=64
数据模型载入运行时间为1.6438007354736328s
 #模型计算运行时间为257.333233833313s
数据导出运行时间为0.07118725776672363s

除了添加多个taskflow方法，还有更优的方法吗？ #3079

[2022-08-25 09:36] tingaicompass opened #3143 "在使"

[2022-08-25 09:38] yinpeisu commented on #2068
删除了 /home/ubuntu/.paddlenlp/extensions/ ，问下应该怎么重新编译呢

[2022-08-25 10:54] LiuChiachi commented on #3143
裁剪后的模型会导出为静态图模型，无法再通过动态图的方式加载再训练。预测的话可以在静态图下或者使用PaddleInference进行预测，这样可以直接加载.pdmodel, .pdiparams进行推理。预测可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-3.0/deploy/python

[2022-08-25 11:03] dingidng commented on #3143
好的，我去试一下，感谢！

[2022-08-25 11:28] w5688414 commented on #3141
您是在cpu上抽取向量的吗？在gpu上有试过吗？

[2022-08-25 11:51] jiangh0 opened #3145 "UIE Taskflow 离线环境无法使用"
你好，我的环境是离线环境，在使用的时候提示Taskflow进行预测的时候，需要下载ernie3的文件，有办法指定ernie模型的本地目录吗？
以及如何修改使用其他类型的Tokenizer？
`
[2022-08-25 19:19:51,872] [    INFO] - We are using <class 'paddlenlp.transformers.ernie.tokenizer.ErnieTokenizer'> to load 'ernie-3.0-base-zh'.
[2022-08-25 19:19:51,872] [    INFO] - Downloading https://bj.bcebos.com/paddlenlp/models/transformers/ernie_3.0/ernie_3.0_base_zh_vocab.txt and saved to /hom

[2022-08-25 12:35] MachineSheep commented on #3120
那就不是无法在intellij中打印出结果的问题，问的方式有问题

[2022-08-25 12:54] TestNLP commented on #2819
有没有 paddle2onnx的 文本匹配例子啊？就是：text1  \t  text2   \t   label 这种

[2022-08-25 12:55] TestNLP commented on #2819
目前所有 paddle2onnx的例子都是 单个句子分类，没有文本对的分类吗？

[2022-08-25 13:45] Fmaj7 commented on #3141
gpu抽取向量5s，cpu10s
gpu主机cpu：AMD Ryzen 9 5900HX with Radeon Graphics

[2022-08-26 01:25] MachineSheep commented on #3145
task_path路径有问题，给个代码和目录截图

[2022-08-26 01:29] MachineSheep commented on #3142
建议看一下[#3022](https://github.com/PaddlePaddle/PaddleNLP/issues/3022)

[2022-08-26 01:40] alderpaw opened #3147 "请问UIE能否进行文档级别的信息抽取？"
您好，请问UIE能否进行文档级别的信息抽取？如果可以的话，是否需要对输入做一些处理，比如句子间用类似[SEP]的特殊字符隔开？
直接将文档拆成单句输入的话效果会不理想，因为会存在一些跨句子的实体和属性。

[2022-08-26 02:40] jiangh0 commented on #3145
已解决

[2022-08-26 03:20] linjieccc commented on #3140
DuIE和DuEE都有加入训练

[2022-08-26 03:27] #3140 closed, assigned to linjieccc

[2022-08-26 03:28] linjieccc commented on #3147
当前是按照最大长度对文档级输入进行切分，实体之间间隔不远的话可以抽取，间隔较长的话目前还不支持

[2022-08-26 03:29] MachineSheep commented on #3021
大佬目前对英文的事件论元抽取有什么论文或者模型建议吗？感谢

[2022-08-26 03:33] linjieccc commented on #3021
当前只是zero-shot的方式不支持英文事件抽取哈，如果手上有英文的事件抽取数据的话同样可以用UIE来训练

封闭域模型的话可以看下GPLinker

[2022-08-26 04:28] w5688414 commented on #3141
哦哦，您那是amd的显卡是吧，推荐使用英伟达的gpu，英伟达的gpu支持加速，安装好cuda，cudnn那些

[2022-08-26 06:05] Fmaj7 commented on #3141
笔记本gpu：NVIDIA GeForce RTX 3060 Laptop GPU，cpu：AMD Ryzen 9 5900HX with Radeon Graphics
服务器cpu：Intel(R) Xeon(R) Gold 5218 CPU @ 2.30GHz
我的模型是用笔记本gpu训练的，我用笔记本的cpu抽向量是5s，服务器的cpu跑是10s
问：1、gpu才支持fastertokenizer加速？训练阶段加use_faster=True这个参数还是发布的时候加？
       2、neural_search这个应用能否参考ernie3裁剪、量化？

[2022-08-26 06:53] MachineSheep opened #3149 "uie-base-en模型安装链接"
直接在Taskflow中使用model='uie-base-en'，是查找不到的，怎么手动安装uie-base-en模型？

[2022-08-26 07:34] FFinchR opened #3150 "能否提供一个UIE使用Triton Inference Server部署的案例？"

[2022-08-26 08:27] FFinchR commented on #3120
我在使用UIE训练到epoch 1时，也遇到过这个报错，我的解决方法是将Scipy版本降低至1.3.1

`pip install Scipy==1.3.1`

你可以试一下能否解决你的问题

[2022-08-26 09:23] gongshaojie12 commented on #3120
@MachineSheep 我把代码改成了下面这样:

[code]
在intellij中还是打印不出结果，但是在anaconda中运行 `python script.py` 可以打印出结果
![image](https://user-images.githubusercontent.com/6407116/186872743-f9a862a3-2f4e-4c9c-aac3-bd15b347cd23.png)

[2022-08-26 09:24] gongshaojie12 commented on #3120
@FFinchR 我把Scipy版本改成了1.3.1，现在intellij可以正常打印出结果了，谢谢！

[2022-08-26 11:09] weileehh opened #3152 "how to deploy a rocketqa model in paddle serving?"
I can't find any instruction on how to deploy rocketqa model in paddle serving. I think this is very basic need for using rocketqa. So could someone give me some advice?

[2022-08-26 14:01] linjieccc commented on #3149
需要确保paddlenlp的版本 >= 2.3.5

[2022-08-26 14:42] w5688414 commented on #3152
Please follow the instructions of question answering. https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/question_answering/faq_finance

it's similar

[2022-08-28 15:49] bruce0210 opened #3153 "piplines在前端上传文件时，报413error"
如下图所示：
![913ae436096b41577a963f9e56f4916](https://user-images.githubusercontent.com/100854336/187082625-61f7c3c8-0ced-4d8d-8b87-077b1ebeb43f.jpg)

上传docx时，抛出该异常；
而且只要文件大于1MB就会报413error；
之前未升级时，上传txt格式文件，只要超过1MB，同样会报该错误。
（如果不能超过1MB，会限制很多文档的上传...）

[2022-08-29 02:44] wentao-uw opened #3154 "The task name:information_extraction is not in Taskflow list, please check your task name."
AssertionError                            Traceback (most recent call last)
/tmp/ipykernel_162/3282645527.py in <module>
      2 from paddlenlp import Taskflow
      3 schema = ['Person', 'Organization']
----> 4 ie_en = Taskflow('information_extraction', schema=schema, model='uie-base-en')
      5 pprint(ie_en('In 1997, Steve was excited to become the CEO of Apple.'))

/opt/conda/envs/python35-pad

[2022-08-29 02:50] wentao-uw commented on #3154
pip install --upgrade paddlenlp>=2.0.0rc -i https://pypi.org/simple and restart the kernel

[2022-08-29 02:50] #3154 closed, assigned to nobody

[2022-08-29 03:39] MachineSheep commented on #3149
好的，感谢

[2022-08-29 03:39] #3149 closed, assigned to linjieccc

[2022-08-29 04:41] wj-Mcat commented on #3121
很高兴你的问题解决了。

不过以后如果把问题描述的更清楚一点非常完美了，这样我们也可以快速定位问题，其他开发者遇到类似问题也可以找到解决方案。

[2022-08-29 04:41] #3121 closed, assigned to nobody

[2022-08-29 09:06] adamlin2000 commented on #2848
paddlenlp 2.3.7
paddleocr 2.6
paddlepaddle 2.3.2
我也碰到

[2022-08-29 11:45] #3142 closed, assigned to linjieccc

[2022-08-29 11:50] #3143 closed, assigned to LiuChiachi

[2022-08-29 14:30] FrostML opened #3157 "Compare paddle.nn.TransformerEncoderLayer with fairseq.modules.transformer_layer.TransformerEncoderLayerBase"
This issue compares the precision of `paddle.nn.TransformerEncoderLayer` with `fairseq.modules.transformer_layer.TransformerEncoderLayerBase`. The conclusion is **pass**.

CUDA: 11.2
PaddlePaddle: 2.3.2
Pytorch: 1.12.1
fairseq: `eda703798dcfde11c1ee517805c27e8698285d71`

[code]

[2022-08-29 15:50] goodnovice commented on #2741
small版本的好像还是不支持
[code]

[code]

[2022-08-30 02:54] #3157 closed, assigned to FrostML

[2022-08-30 04:06] lhr0909 commented on #2685
在Mac下安装也出现同样的报错

[2022-08-30 08:07] w5688414 commented on #3153
![image](https://user-images.githubusercontent.com/12107462/187384363-7ea73cb5-3a6a-411b-a4e8-8c154d605c34.png)
https://docs.bitnami.com/installer/infrastructure/ruby/administration/increase-upload-limit-nginx/#:~:text=The%20maximum%20size%20for%20uploaded,default%20in%20the%20NGINX%20configuration.

看看是不是nginx引起的

[2022-08-31 07:16] Fmaj7 commented on #3141
@w5688414 我用paddle serving方式部署用cpu跑响应时间0.3s，还可以

[2022-08-31 07:27] wshzd commented on #2889
你的这个问题，我在公司开发机（不能访问外网）也遇到过，好像是网络的问题，我应该是在虚拟机里面执行才可以的

[2022-08-31 07:43] wshzd commented on #2889
版本信息：
paddle-bfloat         0.1.7
paddle2onnx           0.9.8
paddlefsl             1.1.0
paddlenlp             2.3.4
paddleocr             2.5
paddlepaddle-gpu      2.3.1

在我doc_vqa目录下面创建了一个python脚本去调用Extraction目录下面的run_docvqa.py的main方法，得到如下结果：
跨模态阅读理解args.init_checkpoint Extraction/checkpoints/layoutxlm/
Traceback (most recent call last):
  File "run_paddle_server.py", line 180, in <module>

[2022-08-31 08:48] dlkht opened #3169 "关于transformer机器翻译的静态模型训练问题"
你好！

机器翻译examples/machine_translator/transformer下有动态和静态static两种训练程序，
静态的train.py没有init_from_checkpoint 相关代码，我先训练出了动态模型，然后想用
静态训练的train.py在动态训练断点基础上训练，然后我在transformer/static/train.py
加入以下代码（按照动态train.py的写法）：
if args.init_from_checkpoint:
        paddle.disable_static()
        model_dict = paddle.load(
            os.path.join(args.init_from_checkpoint, "transformer.pdparams"))
        #opt_dict =

[2022-08-31 08:55] tingaicompass opened #3170 "为什么ERNIE 3.0 轻量级模型获取到的模型和官网文档描述的大小相差很大？"
官网给出的：
ernie-3.0-base-zh | Chinese | 12-layer, 768-hidden, 12-heads, 118M parameters.
-- | -- | --
ernie-3.0-medium-zh | Chinese | 6-layer, 768-hidden, 12-heads, 75M parameters.
ernie-3.0-mini-zh | Chinese | 6-layer, 384-hidden, 12-heads, 27M parameters.
ernie-3.0-micro-zh | Chinese | 4-layer, 384-hidden, 12-heads, 23M parameters.
ernie-3.0-nano-zh | Chinese | 4-layer, 312-hidden, 12-heads, 18M pa

[2022-08-31 09:19] wawltor commented on #3170
上面的base模型118M parameters是指base模型的参数个数，因为同一个模型可以被不同的精度来表示，例如float16，float32，下载下来是450M左右(存储空间大小)，是因为下载的模型是float32，118M * 4 大概是存储空间的量级。

[2022-08-31 09:31] tingaicompass commented on #3170
原来如此，十分感谢解答！

[2022-08-31 09:31] #3170 closed, assigned to nobody

[2022-08-31 17:06] kongdebug commented on #1794
我跑脚本任务时也遇到了相同的错误，请问您解决了吗

[2022-09-01 03:57] zxz2001 opened #3173 "请问，语义检索系统，预测的结果很好，模型转静态部署之后变得很不准，测试过后，发现动态模型生产的向量和静态模型生成的向量有很大区别"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleNLP version: (please specify the branch as well，e.g. PaddleNLP v2.2.1)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/3.7/3.8)
 5. CUDA/cuDNN version: (e.g. CUDA 10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-09-01 04:03] xk503775229 opened #3175 "FasterTransformer is not available due to build errors"
No such file or directory: 'cmake': 'cmake'
问题如下：
[2022-09-01 12:00:58,650] [ WARNING] - FasterTransformer is not available due to build errors.
error: [Errno 2] No such file or directory: 'cmake': 'cmake'
[2022-09-01 12:00:58,861] [ WARNING] - Failed to run command: <built-in function compile>, errors: Command 'cd /home/miniconda3/envs/OCR/lib/python3.7/site-packages/paddlenlp/ops/extenstions &&

[2022-09-01 05:00] w5688414 commented on #3173
请参考一下这个pr的解决方法，tokenizer和预训练模型，需要保持一致，请参考检查一下。https://github.com/PaddlePaddle/PaddleNLP/issues/3113

[2022-09-01 05:14] wj-Mcat opened #3176 "Dropout in OPT embedding layer"
## Description

The [OPT paper](https://arxiv.org/pdf/2205.01068.pdf) (sec 2.2) mentioned

This is also supported by loading [the official checkpoints](https://github.com/facebookresearch/metaseq/tree/main/projects/OPT) and running the following check.

https://github.com/PaddlePaddle/PaddleNLP/blob/d56c71470e8fc7e1eacbb500639d12b09e81a772/paddlenlp/transformers/opt/modeling.py#L198-L213

The [dum

[2022-09-01 05:38] zxz2001 commented on #3173
已经检查过了，tokenizer都是一致的

[2022-09-01 05:42] FrostML commented on #3169
静态图不能直接 load 动态图的参数，如果一定需要这样，可以先参考这里的写法试试 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/faster_transformer/transformer/faster_transformer.py#L436

另外想问下，先用动态图训，为什么需要再切换到静态图训呢？

[2022-09-01 05:51] FrostML commented on #3175
看到你的报错：
`error: [Errno 2] No such file or directory: 'cmake': 'cmake'`

因使用加速，需要根据当前环境重新编译，所以需要用到 `cmake` 可以确认下，当前环境下是否有 `cmake`。

[2022-09-01 05:54] xk503775229 commented on #3175
aokang/miniconda3/envs/OCR/bin/python FasterTransformer_setup.py build
running build
running build_ext
CMake Error at /home/xiaokang/miniconda3/envs/OCR/share/cmake-3.22/Modules/CMakeDetermineCUDACompiler.cmake:226 (message):
  Couldn't find CUDA library root.
Call Stack (most recent call first):
  CMakeLists.txt:15 (project)

[2022-09-01 05:54] dlkht commented on #3169
好的，谢谢！
后改用静态图训练，是因为想用paddleslim压缩下模型，但paddleslim似乎不怎么支持动态模型

[2022-09-01 05:55] xk503775229 commented on #3175
2022-09-01 13:01:20,231 - INFO - execute command: cd /home/xiaokang/miniconda3/envs/OCR/lib/python3.7/site-packages/paddlenlp/ops/extenstions && /home/xi               aokang/miniconda3/envs/OCR/bin/python FasterTransformer_setup.py build
running build
running build_ext
CMake Error at /home/xiaokang/miniconda3/envs/OCR/share/cmake-3.22/Modules/CMakeDetermineCUDACompiler.cmake:226 (message):
  Coul

[2022-09-01 05:59] FrostML commented on #3175
`Couldn't find CUDA library root.`
当前环境下有装 CUDA 么？

[2022-09-01 06:02] xk503775229 commented on #3175
已经安装，默认在/usr/local下面， 是需要在环境里面指明路径嘛？

[2022-09-01 06:02] gjj123 commented on #976
paddle paddle layoutxlm 推理 cpu利用率只有100% 以内，怎么设置多核？支持多核吗？

[2022-09-01 06:53] Amy234543 opened #3178 "能不能添加huggingface 的m2m100模型的支持"

[2022-09-01 07:01] joey12300 commented on #3141
添加use_faster=True，需要先安装faster_tokenizer。试试使用`pip install faster_tokenizer`

[2022-09-01 07:05] w5688414 commented on #3173
您是用的哪个预训练模型，请问您的导出export_model.py有做修改没？

[2022-09-01 07:40] zxz2001 commented on #3173
使用的是rocketqa-zh-dureader-query-encoder，export_model.py文件中两个ernie-3.0-medium-zh都改成了rocketqa-zh-dureader-query-encoder

[2022-09-01 08:00] zxz2001 commented on #3173
谢谢大佬，全部换成ernie-3.0-medium-zh之后解决了

[2022-09-01 08:21] Scott-tao commented on #1460
已用最新代码
环境：
paddlepaddle 2.3.2
PaddleNLP 2.3.7
操作系统 win10
python 3.8.8

还是同样的报错，请问怎么解决

[2022-09-01 09:11] xk503775229 commented on #3175
配置完环境变量后该问题仍然出现。
环境变量：\
![image](https://user-images.githubusercontent.com/18070856/187877836-c285f551-060a-4374-8dc1-2ffcf8be1a1c.png)

出现：
![image](https://user-images.githubusercontent.com/18070856/187877615-639e52a2-7538-4a47-b12e-406eb1832682.png)

[2022-09-01 09:53] w5688414 commented on #3173
ernie-3.0有很多个版本，rocketqa-zh也有很多版本，注意动态图转静态图的时候，用的预训练语言模型要一致哈

[2022-09-02 00:51] Fmaj7 opened #3181 "训练集、验证集疑问"
语义检索应用neural_search，用的训练集和验证集一样可以吗？

[2022-09-02 03:00] #2303 closed, assigned to tianxin1860

[2022-09-02 03:01] w5688414 commented on #3181
可以的，但不太推荐这种方式，验证集应该是训练集未出现的样本，这样才能更好的评估模型的泛化能力。

最近升级了Neural Search, 可以使用最新的模型。https://github.com/PaddlePaddle/PaddleNLP/pull/3172

想快速体验语义检索，可以使用最新的应用。 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines

[2022-09-02 03:03] Fmaj7 commented on #3181
ok，还有doccano推荐的训练集、验证集比例为8:1，然而neural_search的in-batch-negative的 验证集却大很多

[2022-09-02 06:13] w5688414 commented on #3181
Neural Search  设计的时候考虑了在大数据上的搜索能力，验证集并没有规定是多少。如果您没有那么多数据，可以进行缩减，不过建议召回集合大一点，才能更好的体现评估的性能。

[2022-09-02 06:15] Fmaj7 commented on #3181
好

[2022-09-03 01:53] bruce0210 opened #3185 "前端上传docx，换行拆分的问题"
![1fe4847776f508fdc1ed57dee839b3a](https://user-images.githubusercontent.com/100854336/188251265-c60e7178-b179-4af8-95f2-3349feea32ef.png)
docx文件中，该部分是一个完整的内容块

![2dbf11f05528c9003a615833b383c7d](https://user-images.githubusercontent.com/100854336/188251287-4123fe41-1d3b-4b04-abe6-43208079d1c3.jpg)
但是在上传建立索引后，并没有按照docx中回车键的换行来区分，而是按照docx普通的每一行来拆分，影响搜索时内容返回完整性。

![f0cf83c48865bb6e1c20df158ed9b2c](h

[2022-09-03 09:23] xk503775229 commented on #3175
最终只能使用官方的镜像了

[2022-09-03 09:32] w5688414 commented on #3185
https://github.com/PaddlePaddle/PaddleNLP/pull/3172

[2022-09-04 03:05] zhaoyiyong opened #3187 "RocketQA"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleNLP version: (please specify the branch as well，e.g. PaddleNLP v2.2.1)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/3.7/3.8)
 5. CUDA/cuDNN version: (e.g. CUDA 10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-09-04 03:10] zhaoyiyong commented on #3187
Add ERNIE 3.0 based rocketqa DualEncoder models #3033 中的模型，能够被rocketqa.load_model调用使用吗？
我使用
de_conf = {
            "model":’rocketqa-zh-medium-query-encoder‘,
            "use_cuda": False,
            "device_id": 0,
            "batch_size": 32
    }
rocketqa.load_model（**de_conf) 报错：Config file [rocketqa-zh-medium-query-encoder] not found

[2022-09-04 09:21] xk503775229 opened #3189 "FasterGeneration加速的问题--未生效"
脚本run_perf_codegen.sh 关于代码生成的加速，我这边跑出来的结果发现（长输入，长输出），加速前与加速后其实差不了多少。不知道是我哪里操作师傅，代码也没有报错。有哪位能帮忙解决下疑问吗？

加速版结果：CodeGenPerfResult: cost_time: 22946.152179688215 ms, load_mem: 2433 MB, generate_mem:5163 MB, args:Namespace(batch_size=1, generate_len=256, input_len=1792, model_name_or_path='Salesforce/codegen-350M-mono', perf_type='pd_faster_fp32', top_k=16, top_p=1.0, use_faster=True, use_fp16_decoding

[2022-09-04 12:57] w5688414 commented on #3187
您好，暂时不支持rocketqa.load_model 进行加载。使用方法请参考：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/semantic_search/modeling.py

[2022-09-04 16:05] #3124 closed, assigned to nobody

[2022-09-05 02:06] wawltor opened #3190 "PaddleNLP 2.4.0 Release Note Candidate"
# New Features

## Pipelines

-  新增 Pipelines支持的RocketQA模型的Benchmarks。 https://github.com/PaddlePaddle/PaddleNLP/pull/3160
- Pipelines支持Docker和Docker-compose两种方式一键部署。 https://github.com/PaddlePaddle/PaddleNLP/pull/3135
- 新增智能问答，语义索引，FAQ智能问答的教程。 https://github.com/PaddlePaddle/PaddleNLP/pull/3092 https://github.com/PaddlePaddle/PaddleNLP/pull/3151
- RocketQA的CrossEncoder支持Taskflow一键调用。 https://gith

[2022-09-05 02:28] gongel commented on #3189
你好，上述原因主要是FG没有生效，可以提供完整日志看下。加速没有生效的情况，我们会自动转为不加速。

[2022-09-05 02:29] gongel commented on #3189
加速没有生效的原因主要有：
1. cmake没有配置好
2. cuda环境没有配置好
3. 网络原因无法访问GitHub

[2022-09-05 02:33] xk503775229 commented on #3189
以下是一轮完整的包含加速与未加速的日志文件，麻烦了，我用的是官方的镜像，编译日志，我待会发下
model_name: Salesforce/codegen-350M-mono, perf_type: pd_faster_fp16, top_k: 8, top_p: 1.0, input_len: 1792, generate_len: 256
grep: warning: GREP_OPTIONS is deprecated; please use an alias or script
[2022-09-03 15:32:16,755] [    INFO] - Already cached /root/.paddlenlp/models/Salesforce/codegen-350M-mono/vocab.json
[2022-09-03 15:32:16,755] [    INFO]

[2022-09-05 02:36] xk503775229 commented on #3189
以下是运行 gpt_sample出来的编译日志，显示100%
/usr/local/lib/python3.7/dist-packages/paddlenlp/ops/faster_transformer/src/fusion_mbart_decoding_op.cu:127:74: note: ‘decoding_params.fastertransformer::DecodingInitParam<__half>::d_attn_mask’ was declared here
   DecodingInitParam<DataType_> decoding_params;
                                                                          ^
[100%] Linking CXX shared librar

[2022-09-05 02:36] gongel commented on #3189
PaddleNLP==2.3.5暂时没有这个功能，你需要安装下develop分支的代码，或者设置PYTHONPATH，或者等等今晚的2.4.0

[2022-09-05 02:39] xk503775229 commented on #3189
好的，如何设置PYTHONPATH，为最新的呢？辛苦

[2022-09-05 02:40] xk503775229 commented on #3189
那我等下今晚的2.4.0

[2022-09-05 02:41] gongel commented on #3189
[code]

[2022-09-05 03:24] #3145 closed, assigned to linjieccc

[2022-09-05 07:10] ZHUI opened #3195 "[BUG] Tokenizer is_split_into_words 参数选项不符合预期。"
欢迎您反馈PaddleNLP使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleNLP版本：develop

Tokenizer `is_split_into_words` 参数选项不符合预期。

[code]

虽然加了`is_split_into_words`选项， 这里的 `##5` 没有转化成一个单独token，而是切分为 `# # 5`

[2022-09-05 07:16] ZHUI commented on #3195
该问题导致了`examples/benchmark/clue/mrc/run_c3.py` tokenizer之后数据超过`max_seq_len`。

[2022-09-05 07:31] xk503775229 commented on #3189
好的非常感谢以及解决

[2022-09-05 07:31] #3189 closed, assigned to gongel

[2022-09-05 07:31] xk503775229 commented on #3175
使用镜像解决

[2022-09-05 07:31] #3175 closed, assigned to FrostML

[2022-09-05 07:47] gongel opened #3197 "BPE tokenizer会删除自定义special token前后的换行符和空格"
PaddleNLP==develop
复现case
[code]
Output

[code]
定位到这里会做strip：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/tokenizer_utils.py#L765

[2022-09-05 08:36] ZTurboX opened #3199 "UIE文本分类"
UIE可以做文本分类吗

[2022-09-05 09:38] wj-Mcat commented on #3195
## 描述

目前paddlenlp的tokenizer是和transformers对齐，我用paddlenlp确实复现了这个**问题**，并且结果和hf一致，测试代码如下：

[code]

不过这个问题也是比较好解决：
* 先转化为string： 因为tokens中包含subword，转化为string的过程中会将subword给合并
* 再直接调用`tokenizer.__call__`

示例代码如下所示：
[code]

## 总结

新版本tokenizer fix了一些问题，也添加了一些新特性，所以老版本可能会有些不兼容的地方。

其实examples中的一些写法可以精简代码，减少一些与huggingface transformers概念上的不一致，比如Pad、Stack等。

[2022-09-05 09:45] wawltor commented on #3199
可以做文本分类，不过是建议直接使用applications来使用文本分类，分类方案相对比较齐全   https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification

[2022-09-05 11:33] ZHUI commented on #3195
1. `is_split_into_words`参数的目前行为，不符合参数预期？如果是的话，还是框架尽快修复。
2.  @LiuChiachi  此处 c3 数据集，由于此问题，导致 input_ids 超过 max_seq_len，辛苦尽快修复。

https://github.com/PaddlePaddle/PaddleNLP/blob/c195224a8fe8fffec84450c7bb9422755e909715/examples/benchmark/clue/mrc/run_c3.py#L250-L261

[2022-09-05 15:18] yungongzi commented on #2436
### 同样问题，复现步骤如下
**项目**：AiStudio上的教程项目**_动手搭建一套端到端文本语义检索系统_**
![image](https://user-images.githubusercontent.com/19431702/188480804-94b42c46-2257-4d48-88f5-b2e7fc34088e.png)

**设备**：台式机、win10和win11都试过
**环境**：CUDA10.1、cudnn7.6、python3.8、paddlenlp2.3.7、paddle-gpu2.3.2.post101
![image](https://user-images.githubusercontent.com/19431702/188479052-ea186d14-6bee-4294-b526-6d194673b36c.png)
**操作步骤**：
自顶向下

[2022-09-05 16:13] yungongzi commented on #2436
### 已解决，数据类型不一致造成的
**修复**：
SimCSE模型构建时，input_ids、token_type_id、labels对应的数据类型为 int64
![image](https://user-images.githubusercontent.com/19431702/188486886-7a3034b3-b2d7-4eed-96e0-326bda5813c3.png)
![image](https://user-images.githubusercontent.com/19431702/188487064-8fafa610-974d-4362-8047-9e836862a4ad.png)
但在构建Dataloader时，返回的数据类型为int32
![image](https://user-images.githubusercontent.com/19431702/18

[2022-09-06 00:58] Fmaj7 opened #3203 "如何通过调整数据集改变模型的预测方向"
下图为neural_search模型测试集输出结果，三列：检索语句、目标理想结果、当前模型输出结果，可否通过调整数据集引导模型预测输出倾向目标理想结果。
![1662425782246](https://user-images.githubusercontent.com/50041220/188525464-ca479084-6794-4f56-916a-e3756274192d.png)

[2022-09-06 06:01] wj-Mcat commented on #3195
此[PR](https://github.com/PaddlePaddle/PaddleNLP/pull/3204)的offline测试代码如下所示：

[code]

[2022-09-06 07:00] yifeizhou980429 opened #3206 "uie-medical-base目前是否无法微调"
uie-medical-base目前是否无法微调？

[2022-09-06 10:10] wawltor commented on #3206
uie-medical-base在uie-base的模型上进行微调后的模型，我们也发现继续uie-medical-base在微调会存在模型没有办法收敛的问题

[2022-09-06 10:50] w5688414 commented on #3203
可以的，我感觉可以把您的检索语句和目标理想结果构成句子对，放入模型进行训练

[2022-09-06 11:13] #3195 closed, assigned to wj-Mcat

[2022-09-06 11:33] FrostML commented on #3123
`paddle.nn.TransformerEncoder` 仅包含 encoder 部分，不包含 embedding

[2022-09-06 13:02] Fmaj7 commented on #3203
了解，我也这么认为！

[2022-09-07 00:34] ZTurboX commented on #3199
分类标签只有id信息，用applications中的prompt方法可以做吗

[2022-09-07 02:16] KyleWang-Hunter opened #3213 "UIE Slim 数据蒸馏"
文档中的示例数据为：
![image](https://user-images.githubusercontent.com/44918749/188773807-c094aeb3-a1df-4524-bd50-36ab1beaca67.png)

[2022-09-07 04:49] wawltor commented on #3199
prompt没有办法直接使用id信息，可以有以下两个方法
1）使用预训练微调方式，可以直接使用标签id方法
2）将id转成id对应的标签文本信息，就可以使用prompt方式

[2022-09-07 05:50] wawltor commented on #3213
想问一下，具体的问题是什么了？

[2022-09-07 07:28] BBB-power commented on #2889
我也不清楚。。。最近一直没动这个，是网络问题吗？我当时换过网络一样报错

[2022-09-07 07:30] BBB-power commented on #2889
是网络问题吗，我当时换了网络也是一样报错，后面就一直没动这个代码

[2022-09-07 07:58] ZTurboX opened #3214 "ernie3预训练"
在自己语料上，对ernie3提供的模型上做二次预训练，是怎么做的

[2022-09-07 08:07] ZHUI commented on #3214
使用 ernie-1.0 的预训练教程。 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0#%E4%B8%AD%E6%96%87%E9%A2%84%E8%AE%AD%E7%BB%83

运行示例中 `ernie-1.0-base-zh` 全部替换 `ernie-3.0-base-zh`即可

[2022-09-07 09:26] paopjian opened #3216 "pipelines的requirements.txt建议添加htbuilder github源码安装"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.4
2）系统环境：windows

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/requirements.txt st-annotated-text依赖htbuilder,但是pypi中的版本不是最新版,windows安装会出现gkb错误,建议添加
[code]
到requirements.txt,以减少出错概率

[2022-09-07 09:37] w5688414 commented on #3216
Thank you for your valuable advice

[2022-09-07 12:08] ZTurboX commented on #3214
跑run_pretrain.py报错
![image](https://user-images.githubusercontent.com/5669444/188874605-6373933d-ab4a-4415-a4ea-122a5ba19119.png)

[2022-09-07 16:05] ZHUI commented on #3214
mac的机器吗?

[2022-09-07 16:44] ghost commented on #3216
请问添加了吗？我也遇到了该问题。

[2022-09-08 00:37] ZTurboX commented on #3214
是的。今天换了linux服务器，报了这个错
![image](https://user-images.githubusercontent.com/5669444/189008336-f6ee4ec9-1bfe-41c2-ab59-e759028d0be2.png)

[2022-09-08 01:55] code-wd commented on #2617
您好，请问下Ernie3.0 有支持文本生成任务的计划吗？我看官网上显示是支持文本生成任务的：https://wenxin.baidu.com/moduleApi/ernie3

[2022-09-08 01:57] ZTurboX commented on #3214
昨天用了mac调试。今天换了linux可以。但一直卡在这不动
![image](https://user-images.githubusercontent.com/5669444/189016597-3c33a64d-b305-4b62-b025-f58b1121fc4a.png)

[2022-09-08 02:34] w5688414 commented on #3216
暂时可以参考：
[code]
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/examples/semantic-search/Install_windows.md

[2022-09-08 03:18] balancejia commented on #2982
看这个
https://blog.csdn.net/qq_34451909/article/details/123629121

[2022-09-08 03:42] ZHUI commented on #3214
是不是语句中没有分句子？sop任务需要分句子，如果加 sop loss，可以设置 `binary_head=False` 选项。

[2022-09-08 03:46] linjieccc commented on #3213
@KyleWang-Hunter 您好，示例数据的下载链接已修复，可以用最新的代码试下

[2022-09-08 03:47] ZTurboX commented on #3214
text是一段语句。是要分句，然后\n拼接吗

[2022-09-08 03:50] ZHUI commented on #3214
对，换行表示分句子，空行表示分 doc。你可以设置 `binary_head=False` 先不加 sop loss跑一下

[2022-09-08 03:52] ZTurboX commented on #3214
跑通了，谢谢

[2022-09-08 04:48] ZTurboX commented on #3214
inary_head=False可以跑通。设为True,分句后，'\n'拼接，还是卡住，
例子：{"text":"上海坚决贯彻落实中央决策部署，积极探索5G在制造生产、交通运输、教育医疗等众多领域的应用。\n已累计建设5G基站近500个，首个5G手机对话在沪拨通，上海成为全国首个5G试用城市。\n"}

[2022-09-08 05:38] #3216 closed, assigned to w5688414

[2022-09-08 06:19] tingaicompass commented on #3199
可以参考Paddlenlp之UIE分类模型【以情感倾向分析新闻分类为例】含智能标注方案）
https://aistudio.baidu.com/aistudio/projectdetail/4337189?contributionType=1

[2022-09-08 06:30] shiwl0329 opened #3223 "[General Issue]该说不说，文本匹配模型效果不咋地"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleNLP version: (please specify the branch as well，e.g. PaddleNLP v2.2.1)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/3.7/3.8)
 5. CUDA/cuDNN version: (e.g. CUDA 10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-09-08 06:41] tingaicompass opened #3224 "[UIE Issue]UIE关系抽取后执行evaluate.py文件发现，对性能评估的问题：关系的类居然是一条一条class 输出的，不应该是都属于一类输出吗"
记得很早之前看过一个关于UIE关系抽取后执行evaluate.py文件发现，对性能评估的问题。

以这篇项目为例：
Paddlenlp之UIE关系抽取模型【高管关系抽取为例】
https://aistudio.baidu.com/aistudio/projectdetail/4371345?contributionType=1
项目中结果验证时：
                                                           Class Name: 人名
[2022-07-25 00:17:26,608] [    INFO] - Evaluation Precision: 1.00000 | Recall: 1.00000 | F1: 1.00000
[2022-07-25 00:17:26,641] [    INFO] - -----------

[2022-09-08 06:53] MachineSheep commented on #3224
evaluate.py debug输出的各类别集合和数据集内"prompt"字段内容集合是一样的

[2022-09-08 06:58] tingaicompass commented on #3224
那样不是很不友好呀，关系抽取得prompt好像是 “” xxx的xxx“”
做关系抽取关系数据，希望看到所有“”高管“”关系抽取的ACC等指标，这样一条一条看有点麻烦呀：

[2022-09-08 07:08] linjieccc commented on #3224
感谢反馈~我们优化下这部分体验 @dingidng

[2022-09-08 07:11] panmyuan commented on #3173
您好，请问一下，语义检索系统搭建的过程中，有点问题请教一下，我遇到这个问题？
Downloading from https://bj.bcebos.com/paddlenlp/models/community/rocketqa-zh-nano-query-encoder/model_state.pdparams failed with code 404!
不知道啥原因，自己去下载权重也下不到

[2022-09-08 07:21] panmyuan opened #3225 "语义检索系统问题"
Linux系统：
python 3.8.8
paddlepaddle-gpu 2.3.0
paddlenlp 2.3.3
无GPU
运行python examples/semantic-search/semantic_search_example.py --device cpu 报错，信息如下：
![image](https://user-images.githubusercontent.com/48192787/189060060-dd5b50d5-cb4f-4c89-b58f-2b9a436cccbd.png)
自己去点权重也下不了
![image](https://user-images.githubusercontent.com/48192787/189060188-e72ee972-709e-41ef-8604-803370a49aee.png)

[2022-09-08 07:26] FFinchR opened #3226 "[General Issue] 请问UIE模型微调支持事件抽取的模型微调吗？"
请问UIE模型微调支持事件抽取的模型微调吗？如果支持的话，那么输入的标注数据格式应该是什么样的？

[2022-09-08 07:28] w5688414 commented on #3225
请升级paddlenlp：

[code]

[2022-09-08 08:24] tingaicompass opened #3229 "[UIE Issue] 用UIE做二分类问题，遇到预测结果除了0,1之外还有01以及为空的情况？吃惊！"
[UIE Issue] 用UIE做二分类问题，遇到预测结果除了0,1之外还有01以及为空的情况？吃惊！
 result: {'fk[1,0]': [{'text': '1,0', 'probability': 0.2707405044412532}]}
result: {'fk[1,0]': [{'text': '1,0', 'probability': 0.28205075657191614}]}

而且还有结果会是空：{}

查看文档发现是有一个超参数：
position_prob=0.52
position_prob：模型对于span的起始位置/终止位置的结果概率在0~1之间，返回结果去掉小于这个阈值的结果，默认为0.5，span的最终概率输出为起始位置概率和终止位置概率的乘积。
但是这个值设置过高的话会导致输出为空。

感觉在二分类问题是，应该不是0 就是1 呀。而且那个'prob

[2022-09-08 08:56] wawltor commented on #3226
可以的，可以看看这个链接 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/16698950/189080404-26cc9436-a0cb-4fbf-9fcf-2055c91eb1e8.png">

[2022-09-08 08:57] wawltor commented on #3223
您好，是否可以把整个代码贴图一下？

[2022-09-08 08:58] FFinchR commented on #3226
好的！感谢。

[2022-09-08 08:58] #3226 closed, assigned to nobody

[2022-09-08 09:20] w5688414 commented on #3173
rocketqa模型2.3.7之后才添加，paddlenlp版本需要升级：
[code]

[2022-09-08 09:20] w5688414 commented on #3173
rocketqa模型2.3.7之后才添加，paddlenlp版本需要升级：
[code]

[2022-09-08 09:23] panmyuan commented on #3225
好的，谢谢，已经解决了

[2022-09-08 09:27] wawltor commented on #3229
UIE采用的分类方式并不是传统的分类方式，例如下面的分类的schema如下
[code]
在分类的时候是对对正向、负向这两个词进行位置抽取，所以模型的准确性有问题的时候，可能两个位置都抽取不出来，就存在上面的问题

[2022-09-08 09:58] #3109 closed, assigned to wj-Mcat

[2022-09-08 10:18] aixuedegege commented on #3229
@wawltor 请问情感分类具体推理的逻辑是什么样的？我看finetune里面就是训练start end的预测，“正向”“负向”这些分类的词在原文中没有出现过的是怎么预测的？

[2022-09-08 11:30] wawltor commented on #3229
情感分类设置分类是咱们自己自定义的， 例如在schema中我们就需要设置情感分类的类别，然后在预测的过程中会将这个schema，例如 `schema = ['情感分类[正向，负向]']` 和待预测的文本拼接在一起，因此不需要预测的文本中出现这些词，使用的方法是一种prompt提示词的方式

[2022-09-08 11:46] tingaicompass opened #3230 "[UIE蒸馏 Issue] UIE蒸馏依赖文件有错误utils.py：TypeError: string indices must be integers，以及缺少SchemaTree 库导入"
1.缺少依赖库导入
代码中有
def build_tree(schema, name='root'):
    """
    Build the schema tree.
    """
    schema_tree = SchemaTree(name)
    for s in schema:
        if isinstance(s, str):
            schema_tree.add_child(SchemaTree(s))
        elif isinstance(s, dict):
            for k, v in s.items():
                if isinstance(v, str):
                    child = [v]
                elif isinstan

[2022-09-08 12:32] linjieccc commented on #3230
@dingidng 感谢反馈，您可以先参考这个PR修改下 PR: #3231

[2022-09-08 14:07] LiuChiachi commented on #3223
您好，感谢关注
从您的代码我们看不出您遇到的具体问题，麻烦把你跑的代码或者是问题详细叙述一下：）

[2022-09-09 00:45] aixuedegege commented on #3229
哦 我知道了，预测的是prompt里面的起始位置，是吧，哈哈。会有中文的t5模型版的uie么

[2022-09-09 01:51] ZTurboX commented on #3214
使用jieba分词和lac分词处理数据训练模型，哪种会更好

[2022-09-09 02:14] yuanjie-ai opened #3232 "Taskflow("text_summarization")"
不支持了？

[2022-09-09 02:44] ZHUI commented on #3214
lac 分词更准确点，jieba更快。推荐lac
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/16911935/189261375-949fafd6-6e3e-492d-adae-1abab74681b3.png">

[2022-09-09 06:19] wawltor commented on #3232
更新到最新的paddlenlp版本，最新的paddlenlp才有这个功能

[2022-09-09 06:49] wawltor commented on #3229
t5中文的UIE模型目前还没有计划，基于ERNIE 3.0的UIE的模型目前从我们收集的反馈而言效果还是不错的

[2022-09-09 06:59] YYGe01 opened #3233 "UIE训练学生模型报错"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.4.0，PaddlePaddle2.3.1
2）系统环境：Windows，python3.8
- 复现信息：
[code]
报错：
[code]

经排查发现是labels的第三个维度是零的问题，但某个样本里没有有效信息，是允许的，希望特别处理下这种情况，谢谢。
![image](https://user-images.githubusercontent.com/45594167/189289789-93ccf490-75e0-490c-b5fb-79adcc496986.png)
![image](https://user-images.githubusercontent.com/45594167/189289827-a39b7fe4-4775-4289-a2e4-d5fad8cec477.

[2022-09-09 07:29] #3230 closed, assigned to linjieccc

[2022-09-09 07:34] KenyonY opened #3235 "CodeGen 服务无法被vscode copilot 插件调用"
在vscode copilot 没有被激活时，更改插件的[用户配置](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/code_generation/codegen#%E9%85%8D%E7%BD%AE%E6%8F%92%E4%BB%B6)，似乎也无法使用本地运行的codeGen服务：
[code]
这是否意味着必须激活copilot才能使配置更改生效？ 那么关于在未激活状态下使用有任何建议吗

[2022-09-09 09:05] gongel commented on #3235
你好，`127.0.0.1`有改为服务器对外IP地址吗？服务器对外IP地址本地可访问吗？

[2022-09-09 09:15] wawltor commented on #3235
想问一下vscode copilot 配合 codegen，是在哪里看到相关信息的了？

[2022-09-09 09:48] aircov opened #3239 "text_summarization怎么进行商品短语抽取？"
梵西驻颜六胜肽精华霜-金装版
梵西红石榴焕颜睡眠面膜
梵西六胜肽电动按摩眼霜 20g
梵西六胜肽御纹亮眼精华 15ml
梵西贵妇黑茶眼膜贴 去眼袋细纹补水紧致抗皱眼纹消黑眼圈学生女

例如这些商品标题数据，想要抽取短语，怎么抽取
期望结果：
梵西精华霜
梵西面膜
梵西眼霜
梵西眼膜贴
。。。等
主要是在搜索联想时可以使用这些短语进行联想

[2022-09-09 11:02] gongel commented on #3239
你好，可以参考这里在自己的数据上做微调。
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/text_summarization/README.md

[2022-09-09 15:47] KenyonY commented on #3235
你好，
@gongel  服务器地址是正确设置的，服务也是可以被访问的。
@wawltor  codegen目录的README中： [GithubCopilot插件配置](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/code_generation/codegen#githubcopilot%E6%8F%92%E4%BB%B6%E9%85%8D%E7%BD%AE) 和 [配置插件](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/code_generation/codegen#%E9%85%8D%E7%BD%AE%E6%8F%92%E4%BB%B6)

[2022-09-11 01:33] ghost opened #3241 "WINDOWS环境下因为没有Linux命令而无法搭建端到端语义检索系统"
我在学习[WINDOWS环境下搭建端到端语义检索系统](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/examples/semantic-search/Install_windows.md)，但是Win下没有`export`和`unset`命令，所以该例程可能需要修改。

[2022-09-11 02:05] ghost opened #3242 "python rest_api/application.py 8891运行失败"
在Win11安装PaddlePaddle 2.3.2。在运行[WINDOWS环境下搭建端到端语义检索系统](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/examples/semantic-search/Install_windows.md)的过程中，`python rest_api/application.py 8891`运行失败了，报错如下：
[code]

[2022-09-11 02:44] ghost opened #3243 "运行dense_faq_example.py是发生AssertionError"
在Win11安装PaddlePaddle 2.3.2，并运行`python examples/question-answering/dense_qa_example.py --device cpu`和`python examples/frequently-asked-question/dense_faq_example.py --device cpu`，出现了AssertionError。而该问题在运行`python examples/semantic-search/semantic_search_example.py --device cpu`时没出现。具体报错如下：
[code]

[2022-09-11 02:49] ZTurboX commented on #3214
跑了一段时间后，会报这个错
![image](https://user-images.githubusercontent.com/5669444/189510184-b9da2698-71cb-4eac-8a3e-c6182e12f6bb.png)

[2022-09-11 08:03] w5688414 commented on #3243
运行其他应用，请删除原来的db文件：

[code]
然后再试试

[2022-09-11 08:06] w5688414 commented on #3242
[code]
看上去是paddleocr的问题，请确保paddleocr是最新版，并且运行paddleocr的代码没问题

[2022-09-11 08:10] w5688414 commented on #3241
我尝试写了一下设置命令，需要powershell
cpu:
[code]
gpu:
[code]
如果安装cpu版本的paddlepaddle，直接运行cpu的命令是没问题的，不需要这些环境变量设置。
如果安装gpu版本的paddlepaddle，直接安装gpu的命令是没问题的，不需要设置环境变量。

[2022-09-11 08:10] w5688414 commented on #3241
cpu:
[code]
gpu:
[code]
如果安装cpu版本的paddlepaddle，直接运行cpu的命令是没问题的，不需要这些环境变量设置。
如果安装gpu版本的paddlepaddle，直接安装gpu的命令是没问题的，不需要设置环境变量。

[2022-09-11 08:12] w5688414 commented on #3241
请参考安装教学视频。 https://www.bilibili.com/video/BV1DY4y1M7HE?zw

[2022-09-11 08:16] ghost commented on #3242
请问应该怎么检查paddleocr的代码有没有问题？我安装的paddleocr版本是2.6，应该是最新的。

[2022-09-11 08:23] w5688414 commented on #3242
解决方法请参考paddleocr的issue： https://github.com/PaddlePaddle/PaddleOCR/issues/1964

[code]

[2022-09-11 08:25] ghost commented on #3242
看起来真有问题。
[code]

[2022-09-11 08:26] #3243 closed, assigned to w5688414

[2022-09-11 08:33] w5688414 commented on #3242
请确保安装路径不要有中文哈，建议安装在D盘或者E盘，并且路径不要有中文

[2022-09-11 08:43] ghost commented on #3242
我其实用miniconda安装的python，还放在D盘（没有中文名）。不知道为什么会去C盘找inference.pdmodel。
有没有什么办法让paddlepaddle支持中文路径？

[2022-09-11 08:57] w5688414 commented on #3242
https://gitee.com/paddlepaddle/PaddleOCR/issues/I4N5S8

试试，或者把您的中文人名换成英文

[2022-09-11 09:06] ghost commented on #3242
这中文路径没法改吧？已经装了这么多程序，如果改了怕出乱子。
您分享的这段代码怎么用没看懂。这应该是个python脚本吧，是要我运行一遍吗？
[code]

[2022-09-11 09:13] w5688414 commented on #3242
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.6/paddleocr.py

修改源代码，修改一下下载路径，然后

[code]

第二种：https://wenku.baidu.com/view/0dacc517ba0d6c85ec3a87c24028915f804d84b5.html
https://blog.csdn.net/wtwcsdn123/article/details/81916368

[2022-09-11 09:23] ghost commented on #3241
设置`$env:CUDA_VISIBLE_DEVICES="0"`后运行`python examples/semantic-search/semantic_search_example.py --device gpu`，出现了如下报错：
[code]
已经安装了cudatoolkit 10.2。

[2022-09-11 09:27] w5688414 commented on #3241
cuda版本不太匹配，您的cuda驱动是11.4，请升级，比如试试11.2是否ok

[code]
请确保下面的命令能够执行成功。

安装完成后您可以使用 python 或 python3 进入python解释器，输入import paddle ，再输入 paddle.utils.run_check()

如果出现PaddlePaddle is installed successfully!，说明您已成功安装。

https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/windows-conda.html

[2022-09-11 09:56] ghost opened #3244 "报错“IndexError: index 4616429690595525704 is out of bounds for axis 0 with size 1”"
运行`python examples/question-answering/dense_qa_example.py --device gpu`，结果报错
[code]
。

[2022-09-11 09:58] #3241 closed, assigned to w5688414

[2022-09-11 10:04] Ywandung-Lyou commented on #3242
<img width="1091" alt="1662890618201" src="https://user-images.githubusercontent.com/57492327/189521879-7c150aaf-a338-4b96-9ef7-fd61c4926d16.png">
请问是运行这个`setup.py`文件吗？这个文件已经下载到`miniconda3\envs\ml\Lib\site-packages\paddleocr`之下了。

[2022-09-11 10:44] ghost commented on #3242
您好！
依照教程，重新安装了改过源码的paddleocr.py，但是依旧出现上述报错。
![image](https://user-images.githubusercontent.com/57492327/189523246-3576f52d-38d1-414d-ad10-6c426fa953a4.png)

[2022-09-11 11:28] w5688414 commented on #3244
我不太确定是什么原因引起的，有详细的流程吗？另外，请问有删除原来的faiss_db文件吗？这样运行看看
[code]

[2022-09-11 11:31] w5688414 commented on #3242
把hub_home换成其他路径，写成D盘或者E盘的某个路径即可。您这样修改hub_home是环境变量，需要您自己指定hub_home。

[2022-09-11 14:28] w5688414 commented on #1460
int64的问题，升级到2.4.0，问题已经修复了

[2022-09-11 15:21] tingaicompass commented on #3233
参考下面项目，在AIstudio已经跑通
UIE Slim满足工业应用场景，解决推理部署耗时问题，提升效能！
https://aistudio.baidu.com/aistudio/projectdetail/4516470?contributionType=1

[2022-09-11 16:38] ghost commented on #3242
做了如下修改后重新安装，还是有一样的报错。
![image](https://user-images.githubusercontent.com/57492327/189539013-5f1d8702-3e79-4659-8894-9a9cefbab6d1.png)

[2022-09-11 16:49] w5688414 commented on #3242
我尝试写了一下，您看看：

[code]

请确保`D:/ProgramData/Model_hub`存在

[2022-09-11 16:50] ghost commented on #3244
[code]

[2022-09-11 17:01] ghost commented on #3242
解决，谢谢。

[2022-09-11 17:01] #3242 closed, assigned to w5688414

[2022-09-11 17:10] jeffzhengye opened #3245 "examples/text_matching/simcse 中结果无法复现"
examples/text_matching/simcse 中结果无法复现。readme 中数据集，参数都是已经设定好的，按理说直接运行就可以复现，但是无法复现readme中结果。差不多每个数据都差10个百分点，可能是什么原因啊？ 以下是我的训练命令：
···
python -u -m paddle.distributed.launch --gpus '0' \
    train.py \
    --device gpu \
    --save_dir ./checkpoints/ \
    --batch_size 64 \
    --learning_rate 5E-5 \
    --epochs 1 \
    --save_steps 100 \
    --eval_steps 100 \
    --max_seq_length 64 \
    --dropout

[2022-09-12 01:39] w5688414 commented on #3244
有运行过其他应用吗？如果有，请删除 `faiss_document_store.db`，并重新构建db文件。

[code]

[2022-09-12 02:26] JunnYu commented on #3245
你好，我发现了 https://github.com/PaddlePaddle/PaddleNLP/pull/2728 这个PR将预训模型从`ernie-1.0`转化为`ernie-3.0-medium-zh`了。因此如果你想要复现结果的话，可以修改一下代码，`train.py`里面的预训练模型改成`ernie-1.0`
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/50394665/189561437-c1133ac5-54da-4487-97d3-7a8985bb2779.png">
下面的这个我没跑完，改完模型后，效果不会差10个点了。
<img width="886" alt="image" src="https://user-images.githubusercontent

[2022-09-12 03:05] jeffzhengye commented on #3245
我试试，不过按理，不会差这么多。而且3.0应该更好才对啊

[2022-09-12 03:10] JunnYu commented on #3245
ernie3.0 meduim是 "num_hidden_layers": 6 层的模型。
ernie1.0 base是 "num_hidden_layers": 12 层的模型。
层数不同效果有所差距。

[2022-09-12 03:46] jeffzhengye commented on #3245
层数好像不是关键因素，换"ernie-3.0-base-zh"，也是12层，结果还是差10点左右。可能还有什么其它原因啊？

下面是ernie-1.0 和 ernie-3.0-base-zh 的参数对比。

"ernie-1.0": {
            "attention_probs_dropout_prob": 0.1,
            "hidden_act": "relu",
            "hidden_dropout_prob": 0.1,
            "hidden_size": 768,
            "initializer_range": 0.02,
            "max_position_embeddings": 513,
            "num_attention_heads": 12,

[2022-09-12 09:52] JunnYu commented on #3245
这可能有多种原因造成：
- 这两个模型训练的方法（是否融入了知识，ernie1.0在训练的时候融入了知识信息，是否使用NSP任务之类的）。
- 这两个模型训练使用的数据集和训练时间。
- **还有那个下游微调的参数对于ernie1.0可能非常好，但是对于3.0可能不太友好**。(最可能是这个原因！)

[2022-09-12 09:58] JunnYu commented on #3245
当我将`dropout=0.3`替换成`dropout=0.1`的时候，使用`enrie3.0 base`结果不会差10个点了，我这里测试达到了`0.5895`。
[code]
<img width="887" alt="image" src="https://user-images.githubusercontent.com/50394665/189626737-ef341455-f364-4389-9545-7be6fe68aee3.png">

[2022-09-12 12:13] jeffzhengye commented on #3245
@JunnYu 我也发现调节参数对实验结果影响非常大。而且有意思的是，正如你实验，global step 700基本就快达到最好结果了，但一个epoch 大概有10000多个step （batch_size=32 LCQMC）,也就是说只用sample非常小的比例的数据模型就调好了，这个有点不好解释，而且随机性也很大。通常深度学习模型训练更多数据效果更好些

PS: 如果1个epoch训练完，最终结果spearman_corr我这里为负数。

[2022-09-12 13:28] ghost commented on #3244
都删了还是报错。
[code]

[2022-09-13 04:01] tingaicompass opened #3247 "[UIE Issue] 关于UIE Slim 数据蒸馏中：预测无监督数据的标签以及学生模型训练的疑问"
Thanks for your issue. To help us solve the issue better, please provide following information：
 1. PaddleNLP version: (please specify the branch as well，e.g. PaddleNLP v2.2.1)
 2. PaddlePaddle version: (e.g. PaddlePaddle 2.1.0)
 3. Operation system: (e.g. Linux/Windows/MacOS)
 4. Python version: (e.g. Python3.6/3.7/3.8)
 5. CUDA/cuDNN version: (e.g. CUDA 10.2/cuDNN 7.6.5)
 6. Additional context:

[2022-09-13 04:11] tingaicompass opened #3249 "[UIE Slim Issue]UIE Slim 数据蒸馏中：预测无监督数据的标签以及学生模型训练中样本处理方式选择是否可以多样化？"
[UIE Slim Issue]UIE Slim 数据蒸馏中：预测无监督数据的标签以及学生模型训练中样本处理方式选择是否可以多样化？

因为是：基于数据蒸馏技术构建了UIE Slim数据蒸馏系统的技术

首先
Step 2: 用户提供大规模无标注数据，需与标注数据同源。使用Taskflow UIE对无监督数据进行预测。

step2中：数据同源是指同类型数据嘛，只是未标注即可？

Step 3: 使用标注数据以及步骤2得到的合成数据训练出封闭域Student Model。

Step 3中：通过训练好的UIE定制模型预测无监督数据的标签得到标签数据’；再学生模型训练。
这能能否提供多场景，
1.当标注样本少的时候，维持原样
2.当标注样本比较多的时候，能否提供脚本把数据doccano处理过的数据直接转化为student model需要的数据类型，我发现doccano脚本处理的和studen

[2022-09-13 04:15] #3247 closed, assigned to nobody

[2022-09-13 06:41] ghost opened #3250 "如何解决requests.exceptions.MissingSchema"
参考[WINDOWS环境下搭建端到端语义检索系统](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/examples/semantic-search/Install_windows.md)，走到最后一步出现错误了。
[code]

[2022-09-13 07:03] JunnYu commented on #3245
我感觉可能由于这个任务较为简单，只需要采样少量数据就可以达到不错的效果。当训练的轮数过多后，模型出现了过拟合的现象，导致模型的效果急剧下降（我也发现一个epoch训练完，效果非常差了）。

[2022-09-13 08:05] wjddd opened #3253 "PaddlePaddle v1.5生成的simnet模型在PaddleNLP v2.3中加载"
欢迎您反馈PaddleNLP使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleNLP版本：调用模型的代码版本PaddleNLP v.2.3.3
 2. PaddlePaddle版本：训练模型的版本为v1.5.1，调用模型的代码版本为v.2.3.0
 3. 操作系统信息：Linux
 4. Python版本号：Python3.9

使用PaddlePaddlev1.5.1版本训练SimNet-BOW模型，模型路径中有五个文件：

[code]

现在希望使用这个代码加载这个模型进行预测[https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_matching/simnet/predict.py]()。

目前已参考[https://www.paddlepaddle.org.cn/d

[2022-09-13 08:53] gongel opened #3254 "增加special tokens后，save_pretrained保存的model_config，vocab size没有改变"
问题：增加special tokens后，进行resize_token_embeddings，save_pretrained保存的model_config，vocab size没有改变，导致from_pretrained的时候，embedding层加载有误，而且没有warning。

版本：PaddleNLP develop

复现代码：
[code]
HF没有此问题

[2022-09-13 10:27] w5688414 commented on #3244
I have reproduced the error, and it's a bug of paddle framework, please use cpu on windows to run qa applications, I am working on the bugs

https://github.com/PaddlePaddle/Paddle/issues/44031

[2022-09-13 11:04] linjieccc commented on #3249
1. 学生模型支持同时进行实体、关系和事件抽取任务，观点抽取前后处理和其他类型任务稍微有些区别
2. 同源指的是和已有标注数据来源相同的无监督数据，在具体的业务场景中就是业务相关的无标注文本
3. 示例主要展示的是小样本定制模型从开放域到封闭域迁移的流程，当然如果标注数据足够多的话是可以直接用封闭域模型训练的

[2022-09-13 11:23] wj-Mcat commented on #3254
## 问题分析

此问题源于`resize_token_embeddings`中对于`vocab_size`信息的修改是基于[`config`](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/model_utils.py#L130)，可是系统当中还存储的有：[`init_config`](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/utils.py#L163).

在模型`save_pretrained`的时候是针对于`init_config`进行保存，所以就导致了保存结果不一致的问题。

其实init_config此信息是需要进行删除的，且在整个项目中的引用只有21处，

[2022-09-13 11:37] cingtiye opened #3255 "[General Issue]如何从指定位置加载qa模型"
感谢百度的开源！

从指定位置加载gpt-cpm-large-cn模型，运行下面代码还是会默认下载到C盘的.paddlenlp下面
[code]

欢迎您反馈PaddleNLP使用问题，辛苦您提供以下信息，方便我们快速定位和解决问题：
 1. PaddleNLP版本：（PaddleNLP v2.2.0）
 2. PaddlePaddle版本：（2.2.1.post111）
 3. 操作系统信息：（Windows）
 4. Python版本号：（3.6.8）
 5. CUDA版本：（ CUDA11.1）

[2022-09-13 11:41] w5688414 commented on #3244
Hi, @Ywandung-Lyou, paddlepaddle 2.2.2 works fine, please downgrade paddle versions to 2.2.2

<img width="432" alt="image" src="https://user-images.githubusercontent.com/12107462/189891931-cc025395-e786-41e1-ab66-1ddaa164eb01.png">

[code]

[2022-09-13 11:44] w5688414 commented on #3250
Hi, @Ywandung-Lyou
Please make sure environment variables work out.

for windows powershell:
[code]

[2022-09-13 11:49] cingtiye commented on #3255
已解决：
改成如下就行

[code]

定位到task.py
[code]
模型路径需要修改`home_path`参数，而不是`task_path`!

[2022-09-13 11:49] #3255 closed, assigned to nobody

[2022-09-13 13:02] cingtiye opened #3256 "浮点数例外（核心已转储）"
感谢百度开源！

在用Taskflow的question_answering时，执行以下代码：
[code]
1. 如果在cpu上，设置`device_id=-1`，代码可以执行
2. 如果在gpu上，设置`device_id=0`，代码出现以下错误

然后程序直接退出！

版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.3.3，PaddlePaddle-gpu 2.3.0
2）系统环境：Linux
3）python版本 3.85

[2022-09-13 14:00] linjieccc commented on #3256
@cingtiye 您好，可以参考这里检查下paddlepaddle gpu版本是否正确安装：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/utils/run_check_cn.html#run-check

[2022-09-13 21:43] cheeryoung79 opened #3257 "TypeError: can't apply this __setattr__ to type object"
在导入load_dataset时报错
[code]

[2022-09-14 00:08] ZTurboX opened #3258 "ernie3预训练一段时间后报错"
ernie3预训练一段时间后报错
（1）paddle:2.2.2
(2)PaddleNLP:2.3

![image](https://user-images.githubusercontent.com/5669444/190030557-c3c80d8c-62ad-4005-9467-bd24af5cbaa1.png)

[2022-09-14 01:42] cingtiye commented on #3256
您好，我测试了一下，上面说是在一个GPU是被正确安装了，目前我的机器上有两个GPU。
[code]

[2022-09-14 01:46] guoshengCS commented on #3257
可否提供下使用的代码链接或者复现的代码呢

[2022-09-14 02:22] linjieccc commented on #3256
您的CUDA版本是多少？

[2022-09-14 02:29] wawltor commented on #3253
您好，确认了一下 PaddlePaddle v1.5属于静态图的模式，而PaddleNLP从发版以来只支持PaddlePaddle v2.0的动态图模型加载，同时PaddlePaddle v1.5和PaddlePaddle v2.0在静态图的参数保存格式有些区别，因此没有办法加载模型。

[2022-09-14 03:46] tingaicompass commented on #3249
好的十分感谢！ 在这个蒸馏版本基础上，想请问一下后续UIE也会支持量化、剪枝、NAS等方案嘛，以及cpu多核多进程处理，多卡推理部署等

[2022-09-14 03:54] FFinchR opened #3262 "[doc_vqa Issue] 运行ocr_process.py报错：Segmentation fault (核心已转储)"
1. PaddleNLP版本：2.3.5
 2. PaddlePaddle版本：paddlepaddle-gpu 2.3.1
 3. 操作系统信息：Linux
 4. Python版本号：Python 3.8.13
 5. CUDA/cuDNN版本：Driver API Version: 11.6, Runtime API Version: 10.2, cuDNN Version: 8.2

 6. 其他内容:
 运行[applications/doc_vqa](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/doc_vqa) 的OCR处理模块OCR_process/ocr_process.py时报段错误
![image](https://user-images.githubusercontent.co

[2022-09-14 03:58] cingtiye commented on #3256
11.3

[2022-09-14 04:54] wawltor commented on #3256
是不是有个显卡是集显？

[2022-09-14 05:15] cingtiye commented on #3256
两张都是A100
![image](https://user-images.githubusercontent.com/32251546/190065289-dd52e7f5-f5bc-4f30-b815-d85f5853925e.png)

[2022-09-14 05:16] cingtiye commented on #3256
两张都是A100

![image](https://user-images.githubusercontent.com/32251546/190065417-cdb57140-8a19-4da0-b8a1-662a5f7fe58e.png)

[2022-09-14 05:52] wjddd commented on #3253
了解，感谢。

[2022-09-14 05:52] #3253 closed, assigned to w5688414

[2022-09-14 06:09] ZHUI commented on #3214
大概多久，跑到什么时候出现了这个问题？

看起来是数据DataLoader有点问题。

[2022-09-14 06:23] ZTurboX commented on #3214
跑到step869000

[2022-09-14 06:23] #3258 closed, assigned to nobody

[2022-09-14 06:27] linjieccc commented on #3256
试试安装指定CUDA11.2版本的paddlepaddle

[code]

[2022-09-14 06:45] cingtiye commented on #3256
不行 放弃了 我换了个环境（版本都一样）和卡 （A100换成V100）现在可以了

谢谢~

[2022-09-14 06:49] ZHUI commented on #3214
先直接重启训练试试？或者有更多报错截图吗？

[2022-09-14 07:06] ZTurboX commented on #3214
这是完整的报错截图。能够重启训练。后面再看看会不会报错。

[2022-09-14 07:21] ghost commented on #3244
Yeah, it works.

[2022-09-14 07:21] #3244 closed, assigned to w5688414

[2022-09-14 07:25] linonetwo opened #3265 "[Bug]: Mac CPU 环境下 codegeneration 示例报错 (NotFound) There are no kernels which are registered in the unsqueeze2 operator."
@gongel

### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

测试 example https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/code_generation/codegen#%E6%B5%8B%E8%AF%95%E6%9C%8D%E5%8A%A1 时报错

[code]

### 稳定复现步骤 & 代码

按 https://github.com/PaddlePaddle/PaddleNLP/discussions/3264 启动示例，然后按 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/code_gener

[2022-09-14 07:32] linonetwo commented on #3265
考虑到 Mac 没有 GPU 功能，将脚本里和 GPU 加速相关的配置关闭即可（不过关了的确比较慢）

[code]

而其它可以保持原状：

[code]

@oncall助手 /solve

[2022-09-14 07:41] #3254 closed, assigned to wj-Mcat

[2022-09-14 07:55] gongel commented on #3265
感谢反馈哈，这个服务最好还是要配合GPU+FasterGeneration来使用，否则速度较慢，因为模型较大，推理速度会慢些，另外在该场景下对推理速度要求较严格。GPU+FasterGeneration会加速10几倍，这个我们有Perf：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/faster_generation/README.md

[2022-09-14 08:00] linonetwo commented on #3265
那还是需要等 paddlepaddle 为 Mac 版提供 GPU 支持了，祝越来越好！

[2022-09-14 08:00] #3265 closed, assigned to gongel

[2022-09-14 08:19] linonetwo commented on #2595
是的，onnx 只能在 python3.9 里运行，不然就没法安装

[2022-09-14 09:18] lugangmail opened #3268 "pipelines可以直接导入非txt的文件"
### Feature request

对于pipelines，目前导入的数据似乎只能是目录下的txt文件。
而目前手头的资料，有一些是word和pdf文件。
因此希望能直接导入word和pdf文件。

### Motivation

避免用户将精力放到处理非AI核心业务以外。

### Your contribution

我觉得以我目前的水平，只能对产品提出改进意见作为我的贡献。
例如增加可视化部分。类似easydl，全程向导。

[2022-09-14 09:20] jshower commented on #3257
遇到类似问题（直接import paddlenlp报错），能否帮忙看下

[2022-09-14 09:21] guoshengCS commented on #3257
麻烦提供下使用的paddlenlp的版本看下呢

[2022-09-14 12:22] jeffzhengye commented on #3245
感觉这个实现哪里还是有问题的，换了其它的ernie="rocketqa-zh-dureader-query-encoder"模型，不用训练corr=0.6774420635192209，训练1000个step： best checkpoint has been updated: from last best_score 0.6571129036944603 --> new score 0.6774420635192209.  比现在的最好结果好很多，但试了两个下游任务都会降低。

所以 1. 实现有问题？ 2. spearson 这个指标对下游任务并没有指导意义。

[2022-09-14 12:28] linjieccc commented on #3249
会的，UIE后续会提供更多模型压缩的解决方案来进一步提升预测性能，欢迎持续关注~CPU端目前Taskflow在paddlenlp 2.3.2版本之后会默认使用多核推理，多卡推理目前可以通过Taskflow传入device_id来实现

[2022-09-14 12:54] w5688414 commented on #3245
rocketqa是一个开放问答领域的检索模型，本身经过有监督数据训练过，请问您是测试的啥任务呢？下游任务与现在的任务相关吗？我们采用的spearson系数是论文使用的指标。

[2022-09-14 23:58] ZTurboX commented on #3214
重启训练后，同样会报错。之前没开启全词遮蔽不会报错。

[2022-09-15 02:32] wawltor commented on #3232
您好，我们将关闭issue，如有疑问可以再次issue。

[2022-09-15 02:32] #3232 closed, assigned to wawltor

[2022-09-15 03:15] #3256 closed, assigned to linjieccc

[2022-09-15 03:45] #3239 closed, assigned to gongel

[2022-09-15 03:51] aircov opened #3273 "pipeline semantic-search怎样进行增量数据更新"
### 请提出你的问题

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/examples/semantic-search

参照这个例子https://aistudio.baidu.com/aistudio/projectdetail/4534674 使用faiss进行向量检索，当文件有更新时怎样增量更新索引，实时检索？

[2022-09-15 03:59] FFinchR commented on #3262
已解决，是CUDA版本与cuDNN版本不匹配导致的问题

[2022-09-15 03:59] #3262 closed, assigned to nobody

[2022-09-15 05:16] ghost opened #3274 "部署nvidia-docker后报错Connection Error"
按照[快速体验](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines#beginner-%E5%BF%AB%E9%80%9F%E4%BD%93%E9%AA%8C)在Linux部署nvidia-docker出现错误“Connection Error: Is pipelines running? An error occurred during the request”。之前在Win11上部署Docker没有。

[2022-09-15 05:27] w5688414 commented on #3273
您好，更新索引的方法已经在aistudio项目中有描述，请参考。https://aistudio.baidu.com/aistudio/projectdetail/4442670

如果想使用API实时更新，请参考下面的api：

[code]

[2022-09-15 05:32] w5688414 commented on #3274
确保cuda是10.2，如果需要高版本cuda的docker，请提issue。启动后一般要等待几分钟左右，请查看日志：

[code]

[2022-09-15 05:53] aircov commented on #3273
你好
pipe = SemanticSearchPipeline(retriever, ranker) pipeline在实例化之后已经加载了一次retriever，再更新数据，retriever不会变的吧，会将最新的文档召回吗？

[2022-09-15 06:01] aircov commented on #3273
@w5688414
还有个问题
![image](https://user-images.githubusercontent.com/43372380/190325908-1860a987-e69f-438e-b0f3-327b9d585597.png)

在aistudio上可以运行，在windows上报错，查询sql变量太多了？查了一下sqlite在查询时有limit个数限制？需要修改SQLITE_MAX_VARIABLE_NUMBER，不知道怎么改

[2022-09-15 06:09] ZHUI commented on #3214
数据方便给一份吗？我这边看能不能复现一下

[2022-09-15 06:14] w5688414 commented on #3273
您使用的是3.7版本吗？这似乎是一个已知的问题。请参考FAQ文档。

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/FAQ.md

[2022-09-15 06:18] ZTurboX commented on #3214
要怎么给您

[2022-09-15 06:21] aircov commented on #3273
好的，谢谢。已解决

[2022-09-15 06:23] ZHUI commented on #3214
比较大的话，可以传云盘， 比如 https://drive.google.com/ 。比较小的话，也可以直接加用户群，发给我们。

[2022-09-15 06:26] ghost commented on #3274
`test.txt`的内容如下：
[code]

[2022-09-15 07:14] w5688414 commented on #3274
请问您的环境能够连接外网吗？

docker 环境里面这个能下载下来吗？
[code]

https://blog.csdn.net/Oraclesand/article/details/76269280
另外， localhost是否畅通

[2022-09-15 07:16] ghost commented on #3274
我现在把这2个镜像部署在内网的服务器上，内网服务器应该无法连接外网。
在内网环境下应该无法下载这个数据文件，但是我可以提前下载好并放到内网的服务器上。

[2022-09-15 08:17] ydnnh2008 opened #3276 "[Question]: pipeline semantic-search如何使用自己经过预训练和无监督训练 SimCSE后的模型？"
### 请提出你的问题

pipeline semantic-search如何使用自己经过预训练和无监督训练 SimCSE后的模型？

[2022-09-15 09:06] #3233 closed, assigned to linjieccc

[2022-09-15 10:00] w5688414 commented on #3274
容器里面的源代码在：

[code]

源代码修改，请参考：
https://github.com/PaddlePaddle/PaddleNLP/blob/b1ad85171e6258cc8d4facc2d73a7f110c9126bc/pipelines/utils/offline_ann.py#L26

然后手动执行即可，请参考dockerfile

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/pipelines/docker/Dockerfile

[2022-09-15 10:04] w5688414 commented on #3276
请参考Neural Search模型的加载方式。
https://github.com/PaddlePaddle/PaddleNLP/blob/b1ad85171e6258cc8d4facc2d73a7f110c9126bc/pipelines/rest_api/pipeline/semantic_search_custom.yaml#L17

[2022-09-15 11:40] ZTurboX commented on #3214
数据地址，训练时不开启sop任务
链接：https://pan.baidu.com/s/19bVoWPElvPfLRjtduLJsSw
提取码：29qs

[2022-09-16 00:27] ZTurboX commented on #3214
最新的报错，是不是因为多进程分布式的原因，我只有一张卡训练
![image](https://user-images.githubusercontent.com/5669444/190531156-0eab89b9-a14e-45d3-8309-01a8828c32d2.png)

[2022-09-16 03:24] wxzwxz131 opened #3281 "The models name: uie-m-base is not in task:[information_extraction]"
### 请提出你的问题

使用uie-m-base时候出现这个错误The models name: uie-m-base is not in task:[information_extraction]，麻烦帮忙看一下

[2022-09-16 03:29] wawltor commented on #3281
uie-m-base 的使用需要更新到最新的PaddleNLP的版本

[2022-09-16 07:45] mingo-doer commented on #2757
想问一下  您这种打通的方式有教程或者资料可以参考吗

[2022-09-16 07:46] mingo-doer commented on #2757
@leon-cas  想问一下 您这种打通的方式 有资料可以参考吗

[2022-09-16 16:57] #2852 closed, assigned to nobody

[2022-09-17 01:08] Fmaj7 commented on #3203
@w5688414 目前我有大概1千句子对，训练集、验证集比例多少为宜

[2022-09-17 01:24] w5688414 commented on #3203
8:2， 9:1都可以，请问有碰见什么问题吗？

[2022-09-17 01:26] Fmaj7 commented on #3203
我的召回库大概4w多条，训练集1k不知道会不会太少

[2022-09-17 01:51] w5688414 commented on #3203
召回库为什么这么大？请问您是在做什么应用吗？另外您可以把一些召回的bad case放到训练集里面，这样能够提升召回的准确率

[2022-09-17 01:59] Fmaj7 commented on #3203
了解，类似检索系统，语音转文本，通过文本从召回库检索目标，按此召回库的大小，训练集多大为宜啊

[2022-09-17 02:55] jiaohuix opened #3287 "[Question]: 在aistudio运行run_moe_pretrain.py失败"
### 请提出你的问题

您好！ 我在运行run_moe_pretrain的时候报错：ImportError: cannot import name '_legacy_C_ops' from 'paddle'，这该怎么解决呢？
除此之外，使用moe进行模型并行只要用group_sharded_parallel替换DataParallel吗？？
![~ZXG%TEVAQ71IKSNMFZ)~XL](https://user-images.githubusercontent.com/68314259/190837878-74070157-a9f2-471b-b89e-c3218f18ae19.png)

[2022-09-17 04:38] ghost opened #3288 "请问如何在CUDA版本是11.0的Linux环境中部署镜像registry.baidubce.com/paddlepaddle/paddlenlp？"
官方提供的镜像支持的版本是10.2。

[2022-09-17 08:18] #3288 closed, assigned to nobody

[2022-09-17 09:02] linonetwo opened #3289 "[Bug]: There are no kernels which are registered in the strided_slice operator."
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

https://github.com/PaddlePaddle/Paddle/issues?q=There+are+no+kernels+which+are+registered+in

### 错误描述

[code]

### 稳定复现步骤 & 代码

同 https://github.com/PaddlePaddle/PaddleNLP/issues/3265 ，但这次在公司开发机上运行 https://bytedance.feishu.cn/docx/doxcnG8QhkQpAmjggvk0RpGv1Rh

[2022-09-17 09:20] LemonNoel commented on #3287
报错可以试下把paddlepaddle-gpu升级到最新版本

[2022-09-17 09:21] jiaohuix commented on #3287
好的我试试

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年9月17日(星期六) 下午5:21
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] [Question]:  在aistudio运行run_moe_pretrain.py失败 (Issue #3287)

报错可以试下把paddlepaddle-gpu升级到最新版本

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you a

[2022-09-17 09:50] ghost opened #3290 "如何在CPU上运行paddlenlp_pipelines_gpu？"
有可能是CUDA版本不对，无法按照[paddlenlp/pipelines](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines)正常运行镜像registry.baidubce.com/paddlepaddle/paddlenlp:2.4.0-gpu-cuda10.2-cudnn7，所以将镜像中`～/PaddleNLP/pipelines/utils/offline_ann.py`中`use_gpu`设成`False`然后运行命令`python ～/PaddleNLP/pipelines/utils/offline_ann.py`以只在CPU上运行模型，可是出现如下报错：
[code]
请教如何解决？

[2022-09-17 09:56] ghost opened #3291 "如何制作在不同CUDA版本的镜像？"
需要部署的设备使用CUDA 11.0，可是提供的镜像registry.baidubce.com/paddlepaddle/paddlenlp:2.4.0-gpu-cuda10.2-cudnn7要求的版本是10.2。请问有提供不同CUDA版本的镜像吗？

[2022-09-17 10:34] w5688414 commented on #3290
请在运行之前加上cuda环境变量为空：
[code]

[2022-09-17 10:38] w5688414 commented on #3291
cuda 11.2版本的pipelines计划会提供，但时间没那么快，需要提交给qa测试：

如果想自己编译一个镜像，请拉取官方的cuda 11.2的镜像

[code]
将paddle的源码放进去，然后参考：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/pipelines/docker

[2022-09-17 11:49] linonetwo commented on #3289
看来是和 #3175 一样的问题，fastertransformer 需要 cmake 才行。

`sudo apt-get install cmake` 可解。

[2022-09-17 11:49] #3289 closed, assigned to gongel

[2022-09-17 20:36] ghost commented on #3290
请问加在哪里，是运行前的docker所在的Linux环境吗？在所在的Linux环境和docker内都添加了，可还是报错。
[code]

[2022-09-18 00:53] w5688414 commented on #3290
create_index.sh需要变一下

https://github.com/PaddlePaddle/PaddleNLP/blob/a4749e1f5028c75bd9c285a3133a901729bfefa3/pipelines/docker/create_index.sh#L2

[2022-09-18 01:15] ghost commented on #3290
之前没改过该文件，现在打开发现里面已有`export CUDA_VISIBLE_DEVICES=0`。

[2022-09-18 01:50] w5688414 commented on #3290
把您的pipelines目录下的create_index.sh的配置，改成如下配置：
[code]

[2022-09-18 09:06] Q-amazing opened #3294 "[Bug]: model_zoo/utils.py, #744, all_relation_examples在is_train=True下均为空。"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

python doccano.py \
    --doccano_file ./data/doccano_ext.json \
    --task_type ext \
    --save_dir ./data \
    --splits 0.8 0.2 0

[2022-09-18 16:56] w5688414 commented on #3203
没有明确的多少，感觉几千条就ok，当然训练集合也希望是越多越好，一般搜索线上的召回库会上千万上亿的规模

[2022-09-19 02:27] #3273 closed, assigned to w5688414

[2022-09-19 03:40] HuichuanLiu commented on #3289
cmake过程中还需要git pull，如果没有git依然会编译失败报这个error
另外python的requirements.txt缺regex
这些包开发环境下虽然常见，但是容器内很容易缺，建议补全依赖说明

另[#3228](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/code_generation/codegen/codegen_server.py)默认model为Salesforce/codegen-350M-mono，与README描述不符

[2022-09-19 05:05] #3250 closed, assigned to w5688414

[2022-09-19 05:05] #3274 closed, assigned to w5688414

[2022-09-19 05:06] #3290 closed, assigned to w5688414

[2022-09-19 05:17] ghost opened #3296 "在CPU上运行项目，出现Connection Error"
参考[如何在CPU上运行paddlenlp_pipelines_gpu？](https://github.com/PaddlePaddle/PaddleNLP/issues/3290)，在CPU上跑起来了模型。但是系统运行时出现了问题，浏览器上显示“Connection Error. Is pipelines running? An error occurred during the request”。请问这该如何解决？

[2022-09-19 05:18] ghost commented on #3296
[code]

[2022-09-19 05:19] ghost commented on #3296
[code]

[2022-09-19 05:34] LiemLin opened #3297 "Where is function squad_json_to_jsonl defined"
https://github.com/PaddlePaddle/PaddleNLP/blob/f6e0068a45eaeb67aced52c5d76a62e5012c296e/pipelines/pipelines/document_stores/base.py#L397

[2022-09-19 06:00] w5688414 commented on #3296
是linux系统吗？请在容器里检查一下，elastic search是否能畅通，启动容器需要添加`--net host`，用于访问宿主机器的localhost：

[code]

[2022-09-19 06:04] w5688414 commented on #3296
在启动es的时候，可以把download geoip关掉。

[code]

by:
[code]

[2022-09-19 06:14] ghost commented on #3296
不能连外网的物理机的操作系统是Linux。在输入`docker run -d --name es02 --net elastic -p 9200:9200 -e discovery.type=single-node -e ES_JAVA_OPTS="-Xms256m -Xmx256m" -e xpack.security.enabled=false -e cluster.routing.allocation.disk.threshold_enabled=false -e ingest.geoip.downloader.enabled=false -it docker.elastic.co/elasticsearch/elasticsearch:8.3.3`以启动ES镜像后，再输入`curl http://localhost:9200/_aliases?pretty=true`以测试是否能畅

[2022-09-19 06:22] ghost commented on #3296
依您所说，我试了，似乎没什么用，浏览器上还是报一样的错。
[code]

[2022-09-19 06:27] w5688414 commented on #3296
请进入paddlenlp_pipelines_gpu容器，看看elastic search是否畅通，看上去是容器里面访问不了es。

另外，可以检查一下es里面是否有数据：

[code]

如果还访问不了，可以换成ip:9200

[2022-09-19 06:36] ghost commented on #3296
在paddlenlp_pipelines_gpu容器中运行`curl http://localhost:9200/_aliases?pretty=true`的返回结果是：
[code]
打印的几条输入如下：
[code]

[2022-09-19 06:46] w5688414 commented on #3296
看上去没什么问题，如果在容器里面执行没啥问题的话，那就已经连上了，您再手动执行一下构建索引，启动后台和前端的步骤

[2022-09-19 06:50] w5688414 commented on #3297
Thank you, please refer to this pr: https://github.com/PaddlePaddle/PaddleNLP/pull/3298

[2022-09-19 07:00] LiemLin commented on #3297
already fixed, thanks

[2022-09-19 07:00] #3297 closed, assigned to w5688414

[2022-09-19 07:12] ghost commented on #3296
如何操作？我重新运行了`start_index.sh`，然后刷新浏览器，可是没用。

[2022-09-19 07:17] w5688414 commented on #3296
https://github.com/PaddlePaddle/PaddleNLP/blob/f6e0068a45eaeb67aced52c5d76a62e5012c296e/pipelines/docker/start.sh#L2

运行之前需要把原来的后台和前端断掉：

[code]
像这样按照顺序执行，请确保没有加任何代理：
[code]

[2022-09-19 07:21] gongel commented on #3289
@HuichuanLiu 感谢反馈，已提PR修复：https://github.com/PaddlePaddle/PaddleNLP/pull/3299

也欢迎提PR一起来完善～

[2022-09-19 07:28] ghost commented on #3296
运行`create_index.sh`没问题，但是运行`run_*.sh`有问题：
[code]

[2022-09-19 07:31] ghost commented on #3296
在进入镜像`paddlenlp_pipelines_gpu`后，没有目录`~/Paddlenlp/pipelines/docker`。
请问
[code]
应该在什么物理机还是镜像中运行，`your_pid`是多少？

[2022-09-19 07:33] w5688414 commented on #3296
在容器里运行，看上去您的server挂了，您可以切换成cpu的模式，修改`run_server.sh`：

添加一句：

[code]

[2022-09-19 07:48] ghost commented on #3296
问题解决，🙇‍。

[2022-09-19 07:48] #3296 closed, assigned to w5688414

[2022-09-19 08:22] wawltor commented on #3294
您好，你提的问题我们已经修复了，谢谢给我们提出问题！

[2022-09-19 08:36] ydnnh2008 opened #3304 "[Question]: 手把手搭建一个语义检索系统的问题"
### 请提出你的问题

我正实验 手把手搭建一个语义检索系统：
实验的是 Domain-adaptive Pretraining + SimCSE + In-batch Negatives

如下图所示：
我用第一、二步训练好的模型，加载到第三步的In-batch Negatives训练会报错。如果不是这样做的话，那第三步怎么和前两步结合？
![image](https://user-images.githubusercontent.com/47730754/190980148-cf3e325d-3ea2-4720-925d-9d873719973f.png)

[2022-09-19 09:39] w5688414 commented on #3304
请参考：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative

使用下面的方式加载：
[code]

[2022-09-19 10:09] hnlslyp opened #3308 "使用UIE时不稳定coredump,且没有任何提示"
### 问题描述

/ssd1/liuyaping/env/lib/python3.7/site-packages/pandas/util/testing.py:20: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://num

[2022-09-19 14:51] wawltor commented on #3308
可以尝试看看显存是否爆了，上面的信息不是特别多，不太好排查问题，或者你把数据发给我们测试一下

[2022-09-20 02:38] HongLouyemeng opened #3312 "[Question]: EPRSTMT数据集不存在"
### 请提出你的问题

Couldn't find 'eprstmt' on the Hugging Face Hub either: FileNotFoundError: Couldn't find file at https://raw.githubusercontent.com/huggingface/datasets/main/datasets/eprstmt/eprstmt.py

[2022-09-20 02:44] wawltor commented on #3281
您好，我们先暂且关闭该issue，有疑问您可以继续打开该issue，谢谢！！

[2022-09-20 02:44] #3281 closed, assigned to nobody

[2022-09-20 02:47] HongLouyemeng commented on #3312
No module named 'paddlenlp.datasets.EPRSTMT'

[2022-09-20 03:21] LiemLin opened #3313 "where function convert_from_path defined"
https://github.com/PaddlePaddle/PaddleNLP/blob/77b65d3999046a501ca1383a8cdc329fe51e4dea/pipelines/pipelines/nodes/file_converter/pdf.py#L216

[2022-09-20 03:22] LiZeng001 opened #3314 "UIE多域/跨域事件抽取，schema如何构造，以及多个域都会得到抽取结果"
### 请提出你的问题

请问使用UIE框架进行事件抽取推理时，输入必须包含 句子+schema 这两部分吗？
如果必须包含schema，那么对于本身就不确定事件类型的语料(实际中语料都只有文本，不包含事件类型)，是无法给出对应的schema的，这个时候如何构造schema进行事件抽取呢？

查看了issue: https://github.com/PaddlePaddle/PaddleNLP/issues/3060
将多个领域的schema放入列表，进行了实验：

exp1:
schema = [{"财经/交易-涨价触发词": ["涨价幅度", "涨价物", "涨价方"]},
                  {"灾害/意外-地震触发词": ["时间", "死亡人数", "震级", "震源深度", "震中", "受伤人数"]},
                  {"竞赛行为-胜负触

[2022-09-20 03:42] w5688414 commented on #3291
Please refer to this pr for compiling you own cuda version's Docker. https://github.com/PaddlePaddle/PaddleNLP/pull/3315

[2022-09-20 05:13] wxzwxz131 opened #3317 "在finetune的时候，模型训练不进行"
### 请提出你的问题

您好，finetune的时候，一直只出现下面的字样，不进行训练，过一段时间就自动关闭了

W0920 12:04:15.214025 399505 gpu_resources.cc:61] Please NOTE: device: 0, GPU Compute Capability: 8.0, Driver API Version: 11.4, Runtime API Version: 11.1
W0920 12:04:15.216866 399505 gpu_resources.cc:91] device: 0, cuDNN Version: 8.0.

[2022-09-20 06:04] Gavingx opened #3318 "[Question]: HTTPSConnectionPool"
### 请提出你的问题

paddlenlp==2.4
paddlepaddle-gpu==2.3
python==3.8

运行https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_class
下的案例时，下载ernie3词表错误。
![image](https://user-images.githubusercontent.com/43789460/191179619-d156fa1d-d81e-4660-80a9-baf349d03048.png)

[2022-09-20 06:25] moshizhiyin opened #3319 "使用多标签分类中的提示学习训练新模型之后，运行预测代码infer.py出现问题"
具体报错：
 [E:onnxruntime:, sequential_executor.cc:364 Execute] Non-zero status code returned while running Mul node. Name:'p2o.Mul.118' Status Message: /onnxruntime_src/onnxruntime/core/providers/cpu/math/element_wise_ops.h:523 void onnxruntime::BroadcastIterator::Append(ptrdiff_t, ptrdiff_t) axis == 1 || axis == largest was false. Attempting to broadcast an axis by a dimension other than 1. 255 by 2

[2022-09-20 06:35] lugimzzz commented on #3318
看上去是你运行环境SSL认证有问题，建议百度SSL: CERTIFICATE_VERIFY_FAILED报错对应的解决方式。

[2022-09-20 06:42] natureLanguageQing commented on #3308
爆内存了，数据预处理的时候有内存泄露。

[2022-09-20 06:54] linjieccc commented on #3317
@wxzwxz131 可以先参考官网的方式验证下paddlepaddle gpu版本是否安装成功：

[code]

完整文档：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-09-20 06:58] ghost opened #3351 "SemanticSearchPipeline生成的pipeline支持并行吗？"
在[简单！PaddleNLP带你十分钟搭建检索系统 - 飞桨AI Studio](https://aistudio.baidu.com/aistudio/projectdetail/4442670?channelType=0&channel=0)使用 `pipelines.pipelines.SemanticSearchPipeline`生成管道，然后每次输入1个query。
现有一个数据集，有办法一次输入多个query然后并行查询吗？如果有，请问如何实现？

[2022-09-20 07:03] yt605155624 commented on #3351
你好，已经 assign 给 PaddleNLP 相关的同学跟进了，之后相关问题可以直接到 PaddleNLP 提问

[2022-09-20 07:13] natureLanguageQing commented on #3308
`    train_ds = load_dataset(reader,
                            data_path=args.train_path,
                            max_seq_len=args.max_seq_len,
                            lazy=False)
    dev_ds = load_dataset(reader,
                          data_path=args.dev_path,
                          max_seq_len=args.max_seq_len,
                          lazy=False)`
这段代码中的lazy建议开启为true。可能会一定程度上环节

[2022-09-20 07:15] linjieccc commented on #3314
@LiZeng001 你好，

1. 因为是开放域抽取，所以输入必须包含schema以引导模型抽取相应结果。对于事件域未知的语料，一阶段的抽取目标可以用『触发词』代替，例如：
[code]
相比零样本直接调用，更推荐在场景相关的语料上标注少量数据进行微调定制

2. 我们提供了UIE数据蒸馏的解决方案，可以将开放域抽取转为封闭域抽取，这样就不会有schema遍历的问题，具体可以参考这里的例子：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/uie/data_distill

[2022-09-20 07:15] natureLanguageQing commented on #3308
试了一下不能解决，目前看来只能将数据量降低来解决这个问题了。

[2022-09-20 07:19] Zengpr commented on #2318
请问加速版本的有了吗，用多进程好像失败了，或者有其他加速方法吗

[2022-09-20 07:27] w5688414 commented on #3313
请问您有碰到什么问题吗？这是pdf2image的一个函数，目前这个函数没有用上

https://pypi.org/project/pdf2image/

[2022-09-20 08:33] LiZeng001 commented on #3314
您好，谢谢回答。仍存在一些问题：
对于#1，如果语料事件域未知，则整个schema都未知，那对应的role列表也是未知的，所以示例中的["时间", "赛事名称"]也是无法给出的啊。

对于#2，建议的思路是转化为封闭域，对于数据的要求是同域同分布。而实际的情况是，所有语料可能涉及N个不同的事件域，但是每条语料具体属于哪个域未知，因此无法转为封闭域抽取。除了[LIC2021事件抽取任务基线](https://aistudio.baidu.com/aistudio/projectdetail/1639964 )中给出的枚举分类的思路(需要增加一级pipiline)，有没有什么方法可以获得语料的事件域呢？这样就可以映射到预定义好的schema了。

[2022-09-20 08:59] LemonNoel commented on #3319
这个应该是模型转换成 onnx 格式引起的问题，安装 paddlepaddle 的 develop 版本再导出模型应该可以解决。 https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-09-20 09:26] Gavingx commented on #3318
好的已经解决了，我把paddlenlp的源码拉下来直接在源码上改了

[2022-09-20 09:26] #3318 closed, assigned to lugimzzz

[2022-09-20 09:40] LiemLin commented on #3313
您好,在pdf.py里216行提示这个函数找不到定义, 现在在头部加了from pdf2image import convert_from_path 可以了，谢谢

[2022-09-20 09:42] #3313 closed, assigned to w5688414

[2022-09-20 11:05] w5688414 commented on #3351
目前暂时可以使用FastAPI后端进行异步并发访问并行，请问您是什么场景的搜索？为啥有并行的需求？

[2022-09-20 11:58] ghost commented on #3351
如何用FastAPI实现有样例脚本吗？
目前有个私有的数据集，每条数据集是用户输入的问题和相匹配的标准问题，我想测试PaddleNLP内置的模型能否将输入的问题匹配到相应的问题上。因为有数万条数据，如果一次只输入1条好慢。

[2022-09-21 01:07] LiemLin opened #3326 "where RayPipeline define?"
https://github.com/PaddlePaddle/PaddleNLP/blob/31a8dc5c247dc73641ffab52effc784ebf610b9b/pipelines/pipelines/pipelines/base.py#L207

[2022-09-21 01:08] LiemLin opened #3327 "where MultiLabel define?"
https://github.com/PaddlePaddle/PaddleNLP/blob/31a8dc5c247dc73641ffab52effc784ebf610b9b/pipelines/pipelines/pipelines/base.py#L382

[2022-09-21 01:08] LiemLin opened #3328 "where calculate_em_str_multi define?"
https://github.com/PaddlePaddle/PaddleNLP/blob/31a8dc5c247dc73641ffab52effc784ebf610b9b/pipelines/pipelines/pipelines/base.py#L589

[2022-09-21 01:55] w5688414 commented on #3327
[code]
https://github.com/PaddlePaddle/PaddleNLP/blob/31a8dc5c247dc73641ffab52effc784ebf610b9b/pipelines/pipelines/schema.py#L514

请问您是在什么环境下碰见这部分有问题的

[2022-09-21 02:09] w5688414 commented on #3326
you can remove the following code, because the `RayPipeline ` is not used in this release, this function may be added in a future relsease:

[code]

[2022-09-21 02:15] w5688414 commented on #3328
I am not sure why you meet many problems for the missing code, could you tell me more details why you met such problems.

[code]

[2022-09-21 02:20] FFinchR opened #3329 "[Question]: uie-m-large目前不支持finetune"
### 请提出你的问题

  File "/opt/home/development/xxxx/.conda/envs/ve/lib/python3.8/site-packages/paddlenlp/transformers/model_utils.py", line 313, in from_pretrained
    assert arg.pop(
AssertionError: pretrained base model should be ErnieModel

uie-m-large预训练模型未来会支持finetune吗？

[2022-09-21 02:50] moshizhiyin commented on #3319
多谢解答！我试了一下，确实，重装develop版可以解决。

[2022-09-21 02:57] LiemLin commented on #3328
git clone https://github.com/PaddlePaddle/PaddleNLP.git

When I opened the project, I found that many methods were missing definitions

[2022-09-21 03:02] w5688414 commented on #3328
Which IDE did you use?

[2022-09-21 03:04] LiemLin commented on #3327
git clone https://github.com/PaddlePaddle/PaddleNLP.git
在Mac上用pycharm打开项目，发现代码里提示红色，找不到方法或类型

[2022-09-21 03:05] LiemLin commented on #3326
ok thanks

[2022-09-21 03:05] #3326 closed, assigned to w5688414

[2022-09-21 03:06] LiemLin commented on #3327
from pipelines.pipelines.schema import Document,MultiLabel
在import后面补上了MultiLabel可以了，谢谢

[2022-09-21 03:11] LiemLin commented on #3328
Pycharm at Mac OS

def calculate_em_str_multi(gold_labels, prediction):
    for gold_label in gold_labels:
        result = int(normalize_answer(gold_label) == normalize_answer(prediction))
        if result == 1.0:
            return 1.0
    return 0.0

 Do I put this function define in pipelines/base.py ?

[2022-09-21 03:15] LiemLin commented on #3328
and this function calculate_f1_str_multi no define yet

[2022-09-21 03:31] #3327 closed, assigned to w5688414

[2022-09-21 03:33] w5688414 commented on #3328
or you can remove this function like this pr https://github.com/PaddlePaddle/PaddleNLP/pull/3330
[code]

[2022-09-21 03:56] ghost opened #3331 "内置的检索模型是基于第几代ERINE？"
<center><img width="606" alt="288d93785cdec56f5cae2e74b8169e0" src="https://user-images.githubusercontent.com/57492327/191410903-ac43431c-df16-4f8d-99f0-d9bfce60d541.png"><img width="607" alt="724e96597a4a4849d84cd93f0dec41d" src="https://user-images.githubusercontent.com/57492327/191410923-df4e546a-efac-41e5-96c2-26ebcaaf6ba3.png"></center>

[2022-09-21 04:04] w5688414 commented on #3331
ERNIE 3.0

[2022-09-21 04:11] #3331 closed, assigned to w5688414

[2022-09-21 05:16] Amy234543 opened #3334 "[Question]: mbart多对多模型下载后有5G，我在A40 显存44G上面跑不了吗？运行报内存溢出"
### 请提出你的问题

place = "gpu"
paddle.set_device(place)
model_name = "mbart-large-50-many-to-many-mmt"
tokenizer = MBartTokenizer.from_pretrained(model_name)
model = MBartForConditionalGeneration.from_pretrained(model_name,
                                                      src_lang="en_XX")
model.eval()
def postprocess_response(seq, bos_idx, eos_idx):
    """Post-process the decoded sequence."""

[2022-09-21 05:31] LiemLin commented on #3328
ok  thanks

[2022-09-21 05:31] #3328 closed, assigned to w5688414

[2022-09-21 05:44] hnlslyp commented on #3308
train_ds = load_dataset(reader, data_path=args.train_path, max_seq_len=args.max_seq_len, lazy=False) dev_ds = load_dataset(reader, data_path=args.dev_path, max_seq_len=args.max_seq_len, lazy=True)
出现以下错误：
  File "/ssd1/lyp/python38/lib/python3.8/site-packages/paddle/fluid/dataloader/batch_sampler.py", line 116, in __init__
    assert not isinstance(dataset, IterableDataset), \
AssertionError: data

[2022-09-21 07:04] liuzhipengchd commented on #3319
现在的版本不会解决这个问题吗？？每次训练完还需要专门去构建一个新环境转换onnx吗

[2022-09-21 07:17] liuzhipengchd commented on #3319
我也遇到了同样的问题
 return self._sess.run(output_names, input_feed, run_options)
onnxruntime.capi.onnxruntime_pybind11_state.RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Mul node. Name:'p2o.Mul.120' Status Message: /Users/runner/work/1/s/onnxruntime/core/providers/cpu/math/element_wise_ops.h:505 void onnxruntime::BroadcastIterator::Append(ptrdi

[2022-09-21 07:18] liuzhipengchd commented on #3319
我也遇到了同样的问题
 return self._sess.run(output_names, input_feed, run_options)
onnxruntime.capi.onnxruntime_pybind11_state.RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Mul node. Name:'p2o.Mul.120' Status Message: /Users/runner/work/1/s/onnxruntime/core/providers/cpu/math/element_wise_ops.h:505 void onnxruntime::BroadcastIterator::Append(ptrdi

[2022-09-21 08:42] LemonNoel commented on #3319
不需要重新训练，重装完develop版本，加载已保存的模型使用[模型导出命令](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/text_classification/multi_label/few-shot#%E6%A8%A1%E5%9E%8B%E5%AF%BC%E5%87%BA)重新导出即可。
我再看看当前paddlepaddle版本这个能不能绕过去。

[2022-09-21 08:52] LemonNoel commented on #3312
FewCLUE 中的 EPRSTMT 加载方式为
[code]

[2022-09-21 08:57] HongLouyemeng commented on #3312
thankyou

[2022-09-21 09:06] liuzhipengchd commented on #3319
我重装完develop版本了，然后对gpu训练的模型进行export，还是遇到了 ONNXRuntimeError  dimension other than 1. 127 by 128 这个错误

[2022-09-21 09:37] LemonNoel commented on #3319
也是在推理时报错么，方便提供下系统环境以及paddlepaddle、paddlenlp、paddle2onnx、onnxruntime的版本么？我这边尝试复现一下。另外如果之前安装的就是 `paddlepaddle` 的develop版本，需要先 `pip uninstall` 才能安装最新版本。

[2022-09-21 09:46] liuzhipengchd commented on #3319
对的，是在执行CPU端推理样例时候报错

1、paddlepaddle 安装使用的
python -m pip install paddlepaddle==0.0.0 -f https://www.paddlepaddle.org.cn/whl/mac/cpu/develop.html

paddle2onnx                      1.0.0
paddlepaddle                     0.0.0
onnxruntime                      1.9.0

paddlenlp  使用的是git的develop分支

2、export_checkpoint中的文件包括
model.pdiparams		model.pdiparams.info	model.pdmodel		template.json		verbalizer.js

[2022-09-21 11:19] tingaicompass opened #3340 "PaddleNLP有关于：实体对齐、知识推理的相关算法嘛，或者推荐。看OpenKG有提供一些算法和知识图谱？"
### Feature request

觉得目前UIE中提供实体命名、关系抽取以及其他预训练模型在一些数据集表现都挺好的，想自己构建一个demo图谱，问问有什么好的建议，在paddlenlp侧。

### Motivation

相关链接：

http://openkg.cn/home

https://kg.alibaba.com/tools/index.html

### Your contribution

PaddleNLP有关于：实体对齐、知识推理的相关算法嘛，或者推荐。看OpenKG有提供一些算法和知识图谱？

[2022-09-21 11:33] wawltor commented on #3329
如线下所说，需要加一个标志 multilingual    python evaluate.py --multilingual

[2022-09-21 11:36] wawltor commented on #3340
在PaddleNLP没有构建知识图谱、知识推理的相关工作，在Paddle的套件有个PGL的工作可以做知识图谱的构建
https://github.com/PaddlePaddle/PGL/tree/main/apps/Graph4KG

[2022-09-21 11:51] #3340 closed, assigned to wawltor

[2022-09-21 15:17] tianlu-1996 opened #3341 "[Question]: UIE关系抽取时实体关系对应有误的问题"
### 请提出你的问题

UIE模型微调后，进行关系抽取，实体的关系抽取有误
比如：文本中A的电话号存在，B、C的电话号不存在，但是抽取结果会把A的电话号也都匹配给B、C 且probability都0.99多
请问该如何调优呢？

[2022-09-21 15:51] hurun opened #3342 "[Question]: 关系抽取任务中，如何转换数据为UIE模型输入数据格式"
### 请提出你的问题

提问之前，已完成以下行动：
1、百度谷歌未找到相关参考资料或脚本
2、官网文档提供的uie输入格式为doccano标注平台导出，业务数据未使用doccanno平台进行标注
3、已在历史issue通过doccanno、uie数据等关键词搜索，未找到解决方法。比较相似的提问为以下issue，但不是同一个类型且未提供相应脚本。https://github.com/PaddlePaddle/PaddleNLP/issues/2301

想使用自己的数据对uie进行微调，官方文档给的数据微调样例是docano标注导出的格式，尝试自行写脚本，但受限于doccano文档及多个id无法理解问题，未成功。想请教下普通标注的格式，如何进行转换为uie模型的输入格式，以下是真实业务场景数据及标注结果，还请指点一下。
每一行是json格式：
第一行
{"ID": "001", "sent

[2022-09-22 01:31] natureLanguageQing opened #3343 "uie在读取数据阶段内存溢出[Question]:"
在自己的数据集上进行uie训练
数据集本身2000条不到 实体类别40+
目前调整过负样本比例 构建出来超过5万条训练语聊
因为uie的数据加载关闭了lazy loader在aistudio的A100 96GB内存的服务器上训练发生了数据预加载过程内存溢出问题
公开数据集测试未发现相关问题 因为公开数据集的类别更少

[2022-09-22 01:32] natureLanguageQing commented on #3308
是啊是啊 连环报错 我现在也在改 可真是艰难 我看起来是因为负样本构造比例问题 但是调节了之后依旧报错

[2022-09-22 01:44] CCWUCMCTS commented on #3257
**已解决，解决方案：编辑项目，项目框架设置为最新PaddlePaddle==2.3.2。**

在AI Studio基础环境中，使用!pip install --upgrade paddlenlp，升级至2.4.0。
[code]
运行至最后一行报错。
[code]
项目设置中的项目框架PaddlePaddle==2.1.2。

（upgrade中会报需求pyzmq-18.1.1，但pyzmq-18.1.1又不符合jupyter-client 7.3.5的需求。）
[code]

[2022-09-22 01:51] xuhongtian opened #3344 "[Question]: 使用paddlenlp的文本纠错项目想增加训练数据新训练一个预训练模型，但是发现加载nlp的load_dataset, MapDataset出现问题"
### 请提出你的问题

使用paddlenlp的文本纠错项目想增加训练数据新训练一个预训练模型，但是发现加载nlp的load_dataset, MapDataset出现问题，我确定我增加的新训练数据格式是没问题的，请问下这个我可以怎么解决啊？
Traceback (most recent call last):
  File "/home/xtjc/ecard/test_nlp_word/train.py", line 230, in <module>
    do_train(args)
  File "/home/xtjc/ecard/test_nlp_word/train.py", line 117, in do_train
    ds = load_dataset(read_train_ds,
  File "/home/xtjc/anaconda3/envs/paddle_e

[2022-09-22 02:26] linjieccc commented on #3341
推荐少量标注微调下，在评估阶段可以开debug模式看下每个类别的准确和召回率

[2022-09-22 02:36] LiuChiachi commented on #3344
你可以尝试这样debug：
`source, target = line.strip('\n').split('\t')[0:2]`
改成
[code]

[2022-09-22 02:39] linjieccc commented on #3342
你好，

除了`start_offset`，`end_offset`和`label`可以直接从已有数据格式转换，这里需要给每个实体新增一个对应的id。
关系抽取数据格式相关的字段说明可以参考这里：

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/model_zoo/uie/doccano.md#61-%E5%AF%BC%E5%87%BA%E6%8A%BD%E5%8F%96%E5%BC%8F%E5%92%8C%E5%AE%9E%E4%BD%93%E8%AF%84%E4%BB%B7%E7%BB%B4%E5%BA%A6%E7%BA%A7%E5%88%86%E7%B1%BB%E4%BB%BB%E5%8A%A1%E6%95%B0%E6%8D%AE

可以尝试把业务场景数据在doccano上标几条看下输出格式。

[2022-09-22 02:41] linjieccc commented on #3343
你好，可以排查下是否prompt或者result_list里面的结果太长了

[2022-09-22 02:51] wawltor commented on #3342
[code]

[2022-09-22 03:04] natureLanguageQing commented on #3343
如果2000条数据都会占用巨大的内存。那怎么能避免占用巨大的内存呢？我改不明白了。拜托了。

[2022-09-22 03:08] #2330 closed, assigned to wawltor

[2022-09-22 03:12] TSAIJK opened #3345 "关于4.3节模型微调使用英文数据进行训练的问题"
### 问题描述

在4.3 模型微调部分
model: 选择模型，程序会基于选择的模型进行模型微调，可选有uie-base, uie-medium, uie-mini, uie-micro和uie-nano，默认为uie-base。
请问如果此时需要对英文数据进行训练，可否仍使用uie-base进行训练？（因为参照3.7节的讲解，base和base-en是有区别的，但是finetune.py处的代码尚未更新，不支持uie-base-en）
谢谢回答！

[2022-09-22 03:28] liuzhipengchd commented on #3319
转换失败会生成一个onnx模型文件，可以加载，也可以打印出输入层 ['input_ids', 'mask_ids', 'soft_token_ids']，输出层['tmp_53']
但是执行推理的时候就会报错
onnxruntime.capi.onnxruntime_pybind11_state.RuntimeException: [ONNXRuntimeError] : 6 : RUNTIME_EXCEPTION : Non-zero status code returned while running Mul node. Name:'p2o.Mul.120'

这个nodename ，和export模型时候的错误是一样的 Name:'p2o.Mul.120'

[2022-09-22 05:48] linjieccc commented on #3345
你好，这部分功能目前还未合入develop分支，可以先参考PR #3227  修改下

[2022-09-22 05:57] natureLanguageQing commented on #3308
这是一个bug 我还没改明白

[2022-09-22 06:11] linjieccc commented on #3343
@natureLanguageQing 按理说2000条数据不应该占用这么大的内存，可以排查下是不是训练数据的问题，导致reader出现死循环而出现内存溢出的情况

[2022-09-22 06:15] westfish commented on #3343
请问你的训练或测试数据里面存不存在目标抽取片段，即result_list中的text，过长的情况，比如说下面这种情况：

'{"content": "俗话说“冬吃萝卜夏吃姜，不劳医生开药方”，自古以来中医也有“生姜治百病”的说法，称其有明显的解热、抗菌及消炎作用。但中国中医科学院研究生院教授杨力告诉《生命时报》记者，姜虽有非常高的食疗和药用价值，但也不是人人都适合吃，下面几类人尤其要注意。手脚心发热的人。这类人属于阴虚体质，是体内津液不足所导致。而生姜性温，会容易耗损津液，加重阴虚的程度，使津液亏损得更厉害，还会出现口干、眼干、心烦易怒、失眠等症状。眩晕耳鸣的人。有此症状的人多是由于肝火过旺导致的一些并发症所致，这类人本来就阳热亢盛，如果再吃过多的姜，相当于“火上浇油”。肝炎病人。一般情况下，肝炎病人都是忌吃姜的，因为常吃姜会加重其症状，生姜引起的燥热对炎症的消除不利。口臭的人。中医认为口

[2022-09-22 06:38] wawltor commented on #3308
这个是因为多卡的Sampler是不支持IterableDataset，这个是DataLoader导致的，你可以改成单卡训练 ，同时把Sampler改成普通的BatchSampler

https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/BatchSampler_cn.html#batchsampler

<img width="675" alt="image" src="https://user-images.githubusercontent.com/16698950/191675666-b362c0a0-6897-4df1-95bf-13370dc8ac58.png">

[2022-09-22 06:44] natureLanguageQing commented on #3343
超长的话不会自动截断吗，ernie的max len也就 512呀。

[2022-09-22 06:50] westfish commented on #3343
实际上UIE的处理是将过长的输入分割为多个实例。但是目前这里可能有一个bug，就是UIE的reader在面对过长输入分割实例时,如果待抽取result超过最大输入上限会导致无限分割，最后内存溢出。

所以，就目前来说，你可以先对输入数据进行一下过滤或预处理控制一下待抽取内容的长度，后面我们会解决这个bug的。

[2022-09-22 06:57] wawltor commented on #3229
您好！我们暂时关闭该issue，如有疑问可以再次打开该issue，谢谢！

[2022-09-22 06:57] #3229 closed, assigned to linjieccc

[2022-09-22 07:18] natureLanguageQing commented on #3343
唉 关了关了 限制了数据集后  没异常了 解决了好多天

[2022-09-22 07:18] #3343 closed, assigned to linjieccc

[2022-09-22 08:59] LemonNoel commented on #3319
export模型时也会报错吗？有的话可以贴下图么

[2022-09-22 10:29] liuzhipengchd commented on #3319
@LemonNoel
export的不会报错，可以正常导出。
就是infer的时候会报错

[2022-09-22 10:56] gongel commented on #3334
你好，我这边在V100-32G上可以运行，显存占用为12G。你的GPU上是不是有别的程序占着显存呢？PaddlePaddle版本是 2.3.1.post101

[2022-09-22 11:25] gongel commented on #3235
@beidongjiedeguang 你好，确实是的，Copilot确实是需要先激活。如果不激活的话，可以使用另外一个插件，我们也是支持的，可以看下这个[fauxpilot（注意事项的最后一点）](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/code_generation/codegen/README.md#%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9)

[2022-09-22 11:39] hurun commented on #3342
entity id和relation id 是递增么，我在docanno标了一些数据，发现是递增的，即使是相同的实体和同一种关系
比如羡慕两条数据，head:故障灯，tail:亮，relation: 部件故障

{"id":1496,"text":"故障现象：发动;机怠速不规则抖动，故障灯亮","entities":[{"id":12,"label":"head","start_offset":17,"end_offset":20},{"id":13,"label":"tail","start_offset":20,"end_offset":21}],"relations":[{"id":2,"from_id":12,"to_id":13,"type":"部件故障"}]}

{"id":1500,"text":"故障现象：发动机和EPC故障灯亮","entities":[{"id":29,

[2022-09-23 02:16] wawltor commented on #3342
是的，是一种递增关系

[2022-09-23 02:22] Alone749-i commented on #3249
您好，请问事件抽取时蒸馏策略是将知识蒸馏到 paddlenlp.layers.GPLinkerForEventExtraction模型上去吗？

[2022-09-23 02:35] Alone749-i opened #3354 "paddlenlp.layers.GPLinkerForEventExtraction 参数label_maps["label2id"]询问，及UIE蒸馏询问。"
### 软件环境

[code]

### 详细描述

[code]

[2022-09-23 02:38] TSAIJK commented on #3345
请教下，在uie-base-en 的基础上定制训练，参考了PR #3227 修改，出现下面这样的报错应该如何处理呢？
++：初步判断是doccano.py出了问题（因使用已发布版本doccano.py划分的数据集进行finetune并未报错，说明数据格式正确且与后续代码能匹配）

(paddleuie_py38) [cjk@server02 02TryDevelopEnglish]$ python doccano.py     --doccano_file ./data/doccano_ext.json     --save_dir ./data     --splits 0.8 0.2 0     --task_type ext     --schema_lang en
/home/cjk/anaconda3/envs/paddleuie_py38/lib/python3.8/site-

[2022-09-23 04:40] GoneWithTheCloud opened #3355 "[Question]: 模型导出静态图时，IndexError: In transformed code: tuple index out of range"
### 请提出你的问题

环境：linux mint20.3(Ubuntu) + python3.7+paddlepaddle-gpu2.3.2+paddlenlp-2.3.0.dev0
本问题可以在paddlenlp-2.4.0环境中复现，这里主要是为了利用ernie-1.0-base-zh-cw预训练模型
问题：
![image](https://user-images.githubusercontent.com/104343854/191890079-c3d40297-afc1-4576-b1ec-30d72630a67b.png)

这里：self.mlm(input_ids=input_ids, token_type_ids=token_type_ids, return_dict=True)
如果设置 return_dict=True，就会出现上述问题，

代码：
[code]

[2022-09-23 04:42] GoneWithTheCloud commented on #3355
[code]
上述代码也可以复现这个问题，求解

[2022-09-23 08:06] tingaicompass opened #3359 "[Bug]: UIE蒸馏后预测推理是有bug，会卡死在Taskflow预测步骤，具体问题见详细描述？"
### 软件环境

[code]

### 重复问题

- [X] I have searched the existing issues

### 错误描述

[code]

### 稳定复现步骤 & 代码

from pprint import pprint
import json
from paddlenlp.taskflow import Taskflow
import pandas as pd
#运行时间
import time

def openreadtxt(file_name):
    data = []
    file = open(file_name,'r',encoding='UTF-8')  #打开文件
    file_data = file.readlines() #读取所有行
    for row in file_data:
        data.a

[2022-09-23 08:15] hurun commented on #3342
感谢回答，已完成转换脚本

[2022-09-23 08:15] #3342 closed, assigned to linjieccc

[2022-09-23 08:19] turkeymz opened #3360 "[NewFeature]: 离线下载模型"
### 请提出你的问题

希望paddlenlp搭建建议的预训练模型HUB，在实际使用中遇到两个问题：

1. 在线加载模型（from_pretrained）时经常出现http异常，特别在词典这里，导致需要手动下载
2. 离线加载模型时，由于不知道模型地址，必须重复运行，通过错误信息获取下载地址

基于上面两个问题，希望paddlenlp搭建简单的HUB。不需要和huggingface一样完善，但起码可以通过页面找模型，再通过模型下载需要的文件。这个相对迫切，实在人手不够，也可以搭建框架，让外围开发者加入共同构建。

[2022-09-23 09:17] linjieccc commented on #3345
@TSAIJK 这里需要加一个对实体和关系类别是否为空的判断，可以参考这个commit 更新一下代码
https://github.com/linjieccc/PaddleNLP/commit/6b83bd72f5a62d25298995e148b6c95688e1885c

[2022-09-23 09:32] xxllp commented on #3354
这种跨模型的也能蒸馏吗

[2022-09-23 09:37] linjieccc commented on #3354
你好，UIE事件抽取的蒸馏方法和关系抽取类似，用的是``GPLinkerForRelationExtraction``这个组网实现。``GPLinkerForEventExtraction``需要训练数据能够[析出独立事件](https://spaces.ac.cn/archives/8926#%E5%AE%8C%E5%85%A8%E5%AD%90%E5%9B%BE)，这个在UIE蒸馏中没有用到

[2022-09-23 09:38] Alone749-i commented on #3354
目前阅读UIE蒸馏压缩代码后，实现方式就是将UIE微调学习到的知识蒸馏到一个更快的模型上。这里的实现就是蒸馏到GPLinkerForRelationExtraction这个模型上，参考地址是科学空间中有一篇博客介绍到。

[2022-09-23 09:40] Alone749-i commented on #3354
(https://spaces.ac.cn/archives/8926#%E5%AE%8C%E5%85%A8%E5%AD%90%E5%9B%BE)，这个在UIE蒸馏中没有用到

大佬请问UIE蒸馏可以用GPLinkerForEventExtraction这个做吗。

[2022-09-23 09:41] Alone749-i commented on #3354
谢谢大佬解答，顺便向提另外一个疑问不知道是否方便解答。
schema = ["省份", {"地震触发词": ["范围", "损失"]}]如果是这样的，生成label_maps时对于实体 "省份" 会出现问题。

[2022-09-23 09:45] Alone749-i commented on #3354
[Add data distillation for UIE](https://github.com/PaddlePaddle/PaddleNLP/pull/3136/commits/7ee1828b8b3b09ff55907a2489928779d7b9b39c#top)
#3136

大佬我看到在这个里面utils已经添加了对事件抽取的判断了，是打算针对事件抽取添加独立的蒸馏策略吗？

[2022-09-23 09:50] Alone749-i commented on #3354
paddlenlp 2.4
paddlenlp/taskflow/information_extraction.py中函数 _run_model中的代码
        all_preds = ([], []) if self._task_type in [
            "opinion_extraction", "relation_extraction"
        ] else []
如果想事件抽取的话只能改task_type = "relation" 吗？

[2022-09-24 16:27] lxw0109 commented on #970
遇到同样的问题，请问有人能解答下吗？

[2022-09-25 02:19] jiaohuix commented on #3287
您好，paddle需要哪个版本呢？ 升级到最新版本报错了。

[2022-09-25 09:33] GerogeLiu commented on #3257
[code]
上述版本会报这个错，将paddlenlp 降级为2.0.8 就不会报错啦

[2022-09-26 02:18] yuwojiusi opened #3366 "[Question]: 运行ernie-health，获取不到结果"
### 请提出你的问题

通过paddle提供的AI studio 执行ernie-health 中的医疗关系抽取任务spo一直得不到结果，请问是什么问题啊？结果一直都是：

[2022-09-26 10:09:08,698] [    INFO] - input data: 慢性胰腺炎@从概念上讲，外照射可以起到抗炎和止痛作用，并且已经开始被用于非肿瘤性疼痛的治疗。
[2022-09-26 10:09:08,698] [    INFO] - detected entities and relations:

运行中提示一个警告：The tokenizer <class 'paddlenlp.transformers.electra.tokenizer.ElectraTokenizer'> doesn't have the faster version. Please check the

[2022-09-26 02:27] JunnYu commented on #3366
你好，aistudio上的paddlenlp版本可能有点老，你可以更新一下paddlenlp试一下。
`pip install -U paddlenlp`。

[2022-09-26 02:30] yuwojiusi commented on #3366
没有用呢，更新到最新的还是不行呢

[2022-09-26 02:31] JunnYu commented on #3366
那麻烦能不能提供一下你训练的代码以及参数或者aistudio项目链接？

[2022-09-26 02:40] JunnYu commented on #3366
你是用的默认参数运行的吧，默认参数是每隔100步的时候就会评估模型，而仅仅训练100步就开始评估，模型效果通常来说是不好的。可以发现loss是非常大的。
![image](https://user-images.githubusercontent.com/50394665/192183088-91198c30-97ea-40f7-a401-8777144067cf.png)
![image](https://user-images.githubusercontent.com/50394665/192183362-ccb37711-afba-49c0-aea0-0aaaeaaa7f00.png)

[2022-09-26 02:41] yuwojiusi commented on #3366
b

我用的是就是git上提供的demo代码，paddlenlp——model_zoo——ernie-health——cblue 下的train_spo 先训练拿到checkpoint模型，然后通过export_model导出静态模型图，在进入到paddlenlp——model_zoo——ernie-health——cblue-deploy-predictor执行infer_spo.py代码，全部用的demo代码，只在训练的时候改成对应的CMeIE库

[2022-09-26 10:29:35,902] [    INFO] - input data: 骶髂关节炎是明确诊断JAS的关键条件。若有肋椎关节病变会使胸部扩张度减小。
[2022-09-26 10:29:35,902] [    INFO] - detected entities and relations:
[2022-09-2

[2022-09-26 02:43] yuwojiusi commented on #3366
对，但是checkpoint 我用的model-2000的。请教下这里你一般是怎么弄的？

[2022-09-26 02:50] JunnYu commented on #3366
我现在正在跑这个模型，等出结果了再给您反馈。
建议可以让模型多跑一会儿。因为默认参数使用了100个epoch了。
此外还可以关注一下loss，loss在非常大的情况下评估是没有意义的。

[2022-09-26 02:53] JunnYu commented on #3366
我咨询了一下做这个的同事。
她说SPO这个任务模型参数比较多，前期eval都是0的，loss大和model-2000推理不出结果都符合预期。
至少9000steps之后SPO F1才不为0，大概0.46左右，如果要达到README中的结果需要按给定的脚本训练完

[2022-09-26 02:59] yuwojiusi commented on #3366
好的十分感谢！

[2022-09-26 03:00] yuwojiusi commented on #3366
好的，谢谢，我试一下呢

[2022-09-26 03:41] wawltor commented on #3360
你好，目前类似于huggingface hub的工作目前在产品的设计上已经有初步计划，后续我们可能将这部分工作放在paddlehub的产品来承接这个工作，后续可以在hub上手动下载模型

[2022-09-26 04:07] JunnYu commented on #3366
你好，我训练了这么多后，结果终于不为0了，你也可以试一下。
[code]

[2022-09-26 05:41] yuwojiusi commented on #3366
15000，那我还要几个小时。感谢反馈，我已经follow你了，希望能和你保持联系

[2022-09-26 06:00] JunnYu commented on #3366
你可以这么改，修改`valid_steps`每多少step评估一次和`save_steps`每多少步保存一次。
（原先的100步保存和评估太密集了，速度太慢了。）
[code]

[2022-09-26 06:03] yuwojiusi commented on #3366
好的，我试一下呢

[2022-09-26 08:29] wj-Mcat commented on #3355
## 分析

核心错误来源于：

https://github.com/PaddlePaddle/PaddleNLP/blob/0e159ad0c543269cfdb759716b19d5384063af83/paddlenlp/transformers/model_outputs.py#L356-L360

在动转静的过程中，`self.keys()`没有办法办法获取到对应的非空keys，可是通过`self.__dict__`可获取到其值。并且其key也是有一定的顺序，故能够临时解决此问题。

具体解决方案可查看：https://github.com/PaddlePaddle/PaddleNLP/pull/3364

[2022-09-26 08:58] umbrellabeach opened #3368 "[Question]: UIE的词表以及预训练模型是怎么构建的"
### 请提出你的问题

你好，uie-base模型的vocab词表包含了39980个词，比bert_zh版本多了快一倍，请问这个词表是怎么构建的？还想问一下，uie-base的预训练任务和使用的数据是什么样的，谢谢！

[2022-09-26 09:30] turkeymz commented on #3360
请问大约什么时候开展paddlehub的产品？因为我们的服务器都是离线的，这导致我们不得不放弃paddlenlp而使用更容易获取模型的pytorch。

[2022-09-26 10:21] we-enjoy-today opened #3369 "[Question]: mac进行词性标注时会报MKLDNN的错，这个加速库不支持Mac，请问怎么解决？"
### 请提出你的问题

mac进行词性标注时会报MKLDNN的错，这个加速库不支持Mac，请问怎么解决？
![WechatIMG349](https://user-images.githubusercontent.com/96770068/192253329-f0afb839-c878-43b4-bfca-36c16523fe12.png)

[2022-09-26 10:57] JunnYu commented on #3369
你好，这个问题已经在微信群里解答。
MKLDNN不支持M1，上面的报错应该是warning，实际使用不影响效果。
[code]

[2022-09-26 11:03] we-enjoy-today commented on #3369
好的，谢谢~~

[2022-09-26 11:05] #3369 closed, assigned to nobody

[2022-09-26 11:06] #3366 closed, assigned to JunnYu

[2022-09-26 11:32] linjieccc commented on #3368
1.词表的构造可以参考这里，方法是类似的：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/model_zoo/ernie-1.0/vocab#2-%E5%85%A8%E5%AD%97%E7%AC%A6%E4%B8%AD%E6%96%87%E8%AF%8D%E8%A1%A8%E5%88%B6%E4%BD%9C
2.UIE预训练会用到大量信息抽取数据让模型适配固定prompt，数据格式和微调阶段一致

[2022-09-26 11:34] linjieccc commented on #3354
是说实体省份会丢失还是？可以再详细描述下问题

[2022-09-26 11:36] linjieccc commented on #3354
可以先在源码加上"event_extraction"，我们修复下，多谢提醒~

[2022-09-26 14:07] jiaohuix commented on #3287
您好，我已经安装了nightly版本paddle，基本上可以运行了，只不过加载数据时候格式似乎不对，这是什么原因呢？

复现流程：

1.安装moe_pretrain需要的依赖

pip install regex LAC
2.安装paddle nightly

cuda11.2
python -m pip install paddlepaddle-gpu==0.0.0.post112 -f https://www.paddlepaddle.org.cn/whl/linux/gpu/develop.html

3.设置环境变量
若不设置会在安装paddlenlp后报错：   importError: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory
参考：https://githu

[2022-09-26 14:15] tobias861222 opened #3372 "[Question]: 請問如何在run_c3.py 使用自己的dataset?"
目前使用ERNIE3.0-medium-zh, 已完成fine-tuning可以用run_c3.py - do predict去預測c3的test dataset.

我的需求是 想使用自己的資料來做預測
作法的部分
因為c3的公開資料集格式是採用.json
因此自己也想用.json來做預測，所以直接先用讀取c3的.json做預測
做法如下
在run_c3.py內修改test_ds讀取的方式
![image](https://user-images.githubusercontent.com/96098258/192296707-be5a7a5f-ae74-4ff2-85b7-85ea954f5f1e.png)

但會出現以下error
![image](https://user-images.githubusercontent.com/96098258/192296819-e0f59d8

[2022-09-27 02:19] wawltor commented on #3360
您好，我们预计在Q4会开展这项工作，PaddleNLP在代码中提供具体的下载方式，如果在下载模型的时候有疑问可以将问题抛给开发的同学。

[2022-09-27 02:57] Alone749-i commented on #3354
在  uie/data_distill/utils.py 程序文件中函数schema2label_maps内

https://github.com/PaddlePaddle/PaddleNLP/blob/adf6fcad61fb843fba3b1836424e59a319e9bed9/model_zoo/uie/data_distill/utils.py#L338

当 task_type = relation时，若schema并非完全标准的只含有关系的结构例如：
               schema = ["省份", {"地震触发词": ["范围", "损失"]}]
此时省份会出现问题
node.children = [] 直接跳过。

entity2id = {}
    relation2id = {}
    schema_tree = build_tree(schema)

[2022-09-27 03:00] hnlslyp commented on #3308
我是单卡训练

[2022-09-27 06:51] LiuChiachi commented on #3372
如果您的测试数据和原始examples的测试数据格式相同，网络能接受输入、进行前向计算，并且最终有输出，那么应该不是格式的问题。
关于预测结果不一样，您可以尝试下在预测之前设置以下代码：
[code]
应该能关闭随机性进行正常预测。
如果有问题我们继续交流

[2022-09-27 07:06] THCNF opened #3374 "Electra代码问题疑惑"
### 问题描述

![cc0323effdb6bdba4b5af5677d3dcd0](https://user-images.githubusercontent.com/47071679/192453780-de0d725e-8f1a-47d9-8311-e4b18ced4a75.jpg)
请问一下在paddleNLP包里面class ElectraPretrainedModel这个类包含的
tie_word_embeddings = True   （1）
untied_generator_embeddings = False   （2）
这两个分别是控制什么的呢？我看代码和实验发现第一个是会控制到electra的生成器的word-embeding是否参与训练，第二个是控制生成器和判别器的word-embeding是否绑定为一起。
然后我的目的是想要修改代码让这个模型的生成器和判别器分

[2022-09-27 08:08] LemonNoel commented on #3374
- `tie_word_embeddings`是generator的参数，若为 `True`，则生成器最后一层隐藏层到词表的转换直接使用 `word_embedding`，否则额外定义一层网络。
- `untied_generator_embeddings`决定了生成器和判别器的`word_embedding`是否共享。这个是 [Electra 原论文](https://arxiv.org/pdf/2003.10555.pdf) 中的一个策略，不想共享的话设为`True`即可。

生成器 `word_embedding` 不会梯度回传的问题可以再详细描述一下么，如果计算了生成器的loss，理论上是有梯度的。

[2022-09-27 09:28] THCNF commented on #3374
好的谢谢，梯度回传的问题好像有回传了，不知道可能是我前面那里搞错了

[2022-09-27 17:32] tobias861222 commented on #3372
非常感謝 預測結果正常了!

[2022-09-27 17:32] #3372 closed, assigned to ZHUI, LiuChiachi

[2022-09-28 03:33] THCNF opened #3379 "Electra 代码问题"
### 问题描述

你好，在electra的论文中说到有生成器和判别器组成，而且判别器的模型结构和bert-base的一样，请问在paddle github上发布的electra代码中初始化好一个从0开始的框架后，我想要把官方发布的bert-base-uncase的模型参数加载到他的判别器中请问要怎么修改代码呢？
![图片](https://user-images.githubusercontent.com/47071679/192680694-b6fa687d-cbf1-4b45-9650-30455f044a81.png)
![图片](https://user-images.githubusercontent.com/47071679/192680816-031c56f3-94eb-444e-90e8-93e055956031.png)

源码中有这个判别器的加载参数的代码，我直接把b