[2021-12-02 08:13] springsprite opened #1385 "example中所提供的机器翻译任务，训练结束后，模型评估blue为0"
- 版本、环境信息
1）PaddleNLP v2.1.1，PaddlePaddle2.1.3
2）Linux，python3.7

采用examples/machine_translation/transformer/configs/transformer.base.yaml的默认配置

**valid log**
[2021-12-02 05:15:40,762] [    INFO]^[[0m - validation, step_idx: 140000, avg loss: 2.787584, normalized loss: 1.406631, ppl: 16.241730

**training log:**
2096 ^[[32m[2021-12-02 05:43:26,992] [    INFO]^[[0m - step_idx: 148100, epoch: 29, ba

[2021-12-02 08:15] springsprite commented on #1385
模型推断所生成的predict.txt中好多空白行

[2021-12-02 08:29] springsprite commented on #1385
PaddleNLP 版本是v2.1.1

[2021-12-02 11:52] FrostML commented on #1385
已解决。确认是 输出格式是否是 time major 的原因。

[2021-12-02 11:52] #1385 closed, assigned to nobody

[2021-12-03 03:08] linjieccc commented on #1350
@nghuyong 自定义词典功能已更新哈
分词的性能方面我们优化了viterbi解码，可以升级paddlepaddle到最新版本并使用develop分支的代码再尝试下

[2021-12-03 03:26] nghuyong commented on #1350
👍👍👍

[2021-12-03 07:33] tianxin1860 commented on #1377
你好，可以 share 一下多次预测的结果对比图？

[2021-12-03 07:52] bultiful opened #1388 "P-tuning用自己准备的二分类数据做测试时，预测的概率很小，正负概率和远小于1"
你好，

在做p-tuning模型，采用的是自己的二分类数据集，训练后进行predict的预测，预测后的概率总是很小，正负概率和远小于1。想请教一下这是什么问题导致的。以及自测数据在p-tuning中有没有参考代码。需要做什么另外的处理吗。谢谢

[2021-12-05 14:13] tianxin1860 commented on #1388
您好，P-Tuning 预测空间是在整个词表规模进行，具体到某个 Lable 上绝对概率数值很小符合预期，概率值的相对大小更具有参考意义。`自测数据在 p-tuning 中有没有参考代码` 这个具体需求或者问题可以再明确下吗？没太理解您的需求。

[2021-12-06 06:30] fly2008begin opened #1394 "导出模型后结果异常"
您好
环境：PaddleNLP 2.0.0  PaddlePaddle2.2.0  ubuntu18.04 rtx2080Ti  cuDNN Version: 7.6
在复现PaddleNLP/examples/information_extraction/waybill_ie “快递单信息抽取 (Waybill Information Extraction)”时遇到了导出模型不可用的情况，具体操作步骤如下：
[code]
结果输出正常
[code]
尝试将模型导出
[code]
结果输出变成了
[code]
我是哪里做错了吗？
另外我用自己关注的信息标注了训练了同样的模型，导出后同样有问题。
我看deploy/python/predict.py 里面读的也是test.txt ,我想尝试用没有标注的句子改怎么办？工程使用时应该怎么嵌入我的项目中？有例子吗。

[2021-12-06 16:11] #1342 closed, assigned to joey12300

[2021-12-07 01:57] sunhaha123 commented on #1377
sentence_transformers也是如此，醉了

[2021-12-07 02:26] joey12300 commented on #1394
@fly2008begin 您好，感谢关注PaddleNLP。这里主要是导出模型时模型参数路径有误，没有成功导入参数，导致参数随机初始化，应该输入完整的pdparams文件路径，如下图所示：
![image](https://user-images.githubusercontent.com/10826371/144954591-9d26e382-c6ec-4e77-989b-ed3bb7b58d9e.png)

导出的脚本确实没有足够的提示纠正错误输入，后面会添加warning提示用户正确输入参数文件路径问题。

[2021-12-07 02:37] fly2008begin commented on #1394
我尝试了使用
[code]
但感觉结果依旧不正确
[code]
[code]

[2021-12-07 04:00] joey12300 commented on #1394
目前示例代码中deploy/python/predict.py只支持ernie作为backbone，里面使用的是Ernie的词表。如果想使用GRU做预测，需要修改词处理逻辑。可以参考run_bigru_crf.py的词处理逻辑。

[2021-12-07 05:34] tianxin1860 commented on #1377
您好，我本地验分别验证了 ERNIE-Gram Point-wise、Pair-wise 2种训练范式的下推理结果，多次推理结果完全一致，具体数值如下:

`基于 ERNIE-Gram 的 Point-wise 范式 2 次推理结果`
![image](https://user-images.githubusercontent.com/6829601/144972005-7f287bca-8d7d-4e08-95be-313de2c8b4c7.png)

`基于 ERNIE-Gram 的 Pair-wise 范式 2 次推理结果`
![image](https://user-images.githubusercontent.com/6829601/144971916-d587edf3-cb76-4748-b8cd-c0ac49f99d0d.png)

本地测试环境如下:
[code]

可

[2021-12-07 05:35] tianxin1860 commented on #1377
@BlueSkyBubble @hermitgreen @sunhaha123

[2021-12-07 06:29] fly2008begin commented on #1394
上面的结果现象均为官方实例，并没有自己修改词表或训练集，在run_bigru_crf.py时结果观察正常，但deploy/python/predict.py就分的没法用。

[2021-12-07 09:02] shayuewt opened #1401 "Linear Chain CRF的实现细节"
最近在学习`Linear Chain CRF`，个人也进行了相应的实现。但是自实现的线性链CRF中没有加入[START]以及[END]两个token。后续训练的时候，随着迭代的进行，我发现NLLoss会变为负数。

在网络上搜索相关问题时，发现了你们的版本。注意到在paddleNLP的实现中，将是否引入[START]和[END]这两个token作为一个参数。

开这个issue主要是想请教一下，NLLoss变为负数同`是否加[START]、[END]`相关嘛？麻烦能够指点一二。

[2021-12-07 09:33] joey12300 commented on #1401
你好，感谢关注PaddleNLP~ 一般来说使用条件随机场可以直接使用CRF Loss，不会使用NLLoss。而且这个NLLoss的正负值跟[START]和[END]关系不大。

[2021-12-07 09:42] shayuewt commented on #1401
感谢您的回复。我在训练LinearChainCRF时选择的优化对象是：minimize -log(p(Y|X)) = log Z(X) - score(X, Y)。和你们的实现是同一个目标函数，可能是我没有表述对哈。 那据您所知的话，是什么可能导致最后的loss变为负值呢。前向后向算出的partition score我也有测试过，前-后向得到的结果是一致的。

[2021-12-07 13:26] shayuewt commented on #1401
晚上的时候，我特地针对不加`[START]`和`[END]`的场景，对`PaddleNlp`中计算`Partition Score`以及`Sequence Score`的模块同我自己实现的版本进行了对比，发现在多个场景下，打印的结果几乎是一致的。这是不是证明了PaddleNlp实现的版本在不加`[START]`和`[END]`的情况下可能也会出现crf loss为负数的情况呢？不知你们在测试的时候有没有实验过。下面是比较的代码。

这个问题我在网络上找了很久的答案，发现大多数开源版本的LinearChainCRF都是增加了起始与终止标识。搜到最后loss迭代为负数的案例很少，所以我真的很希望哪位同学能帮我解答一下疑惑，和我探讨一下这个起始终止符的意义。

# 计算sequence score

## PaddleNLP

[code]

## 个人实现

[code]

# 计算Parti

[2021-12-08 02:28] fly2008begin commented on #1394
好的 谢谢您 我去读一遍deploy/python/predict.py

[2021-12-08 02:36] joey12300 commented on #1401
@shayue111 可以看看PaddleNLP LinearChainCrfLoss的实现。一般来说接近收敛时有可能出现较小负数，因为logsumexp这个函数在处理很小值的时候可能向下溢出了。PaddleNLP会在LinearChainCrfLoss实现中会加入relu保证loss为正数。

[2021-12-08 04:16] shayuewt commented on #1401
感谢您的回复，加了Relu确实能够避免负loss的出现。但是我个人理解问题可能不是出现在`logsumexp`这个方法上。CRF loss的本质是：`所有可能路径的score之和`与`目标路径的score`之间的差值。如果CRF loss为负数，那是不是意味着后者的score比所有路径之和还要大？因此我感觉是某一块的实现上导致的。

[2021-12-08 07:34] sunhaha123 commented on #1377
@tianxin1860 是 nlp_example\text_matching\sentence_transformers ,
![2](https://user-images.githubusercontent.com/27773261/145167261-134d3ad2-9fe6-40f2-a679-6668645dbef5.png)
![3](https://user-images.githubusercontent.com/27773261/145167275-568d5670-1fc5-4b9e-b11b-45bc685621a1.png)
![4](https://user-images.githubusercontent.com/27773261/145167285-8e084cdb-0efb-48bd-a985-c76ca4609778.png)

，其次想问下nlp_

[2021-12-08 08:42] shguan2018 commented on #1325
curl -d '{"text": [["谁 有 狂三 这张 高清 的", "这张 高清图， 谁有"], ["英雄 联盟 什么 英雄 最好", "英雄 联盟 最好 英雄 是什么"]]}' 'http://127.0.0.1:8801/wenxin/inference'
{"content": [[0.9843046069145203, 0.01569538377225399], [0.005985298193991184, 0.9940146803855896]], "ret": 200}
按照你说的, 第一组文本相似度要是 取 0.015 不太合适
第二组文本相似度取  0.994 算合适吧,

[2021-12-08 12:28] JiaqiYao opened #1412 "knowledge_mining中切割长句函数_split_long_text_input有误？"
WordTagTask中的函数 _split_long_text_input中的  temp_text_list = text.split("？。！")
这一行代码应该是想按照"？。！"或分割句子，但是python字符串的split函数不支持这种操作。

In [5]: test_str = "'拉普兰特曾在奥巴。？马！政府期间担任美国空军采办负责人"
In [6]: test_str.split("？。！")
Out[6]: ["'拉普兰特曾在奥巴。？马！政府期间担任美国空军采办负责人"]
In [7]: import re
In [8]: re.split("([？。！])", test_str)
Out[8]: ["'拉普兰特曾在奥巴", '。', '', '？', '马', '！', '政府期间担任美国空军采办负责人']

[2021-12-09 08:30] wawltor commented on #1412
上面的split的方式是不是中英文混用导致的没有办法split的了？我本地环境是可以的，看了一下 上面的示例代码是英文的符号，所以导致没有办法分割。不过确实需要考虑一下中英文符号的问题
<img width="619" alt="图片" src="https://user-images.githubusercontent.com/16698950/145361090-de20a32a-1443-4cc8-9196-d7b3070a0e73.png">

[2021-12-09 09:28] #1167 closed, assigned to linjieccc

[2021-12-09 10:34] JiaqiYao commented on #1412
字符串的split函数是支持单个字符的，也就是你给的示例。但是我理解代码中的temp_text_list = text.split("？。！")，是想以"？。！"任何一个字符分割句子，也就是或的关系，字符串的split函数是不支持的，可能需要re库里面的split

[2021-12-09 11:16] tianxin1860 commented on #1377
SimBERT 模型目前提供基于开源模型的预测能力，训练策略暂未集成。@sunhaha123

[2021-12-09 13:16] Andrewlesson opened #1421 "launch.py: error: unrecognized arguments: --gpus"
when i followed the README to train [machine_translation ](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/machine_translation/transformer)model, but error occurs  below

![image](https://user-images.githubusercontent.com/10346684/145403329-8acfa418-4a49-4def-bd14-769a1223f3ec.png)

![image](https://user-images.githubusercontent.com/10346684/145403064-80c28e80-8867-40ed-845f-bbb423

[2021-12-09 17:12] han508 opened #1428 "csc 比赛"
你好，感谢开源，我在参加一个文本纠错比赛的时候，用的ernie-csc的模型，数据集4000条，测试集3000条，但是我的模型实际效果一直不是很理想，尽管训练集检查错误f1=55，改错f1=39，但是测试集我的得分只有0.07（评分标准为maxmatch），我想请问一下，这是为什么，我在使用的时候直接把dataset装进去就训练了，大概训练了2个小时。

[2021-12-10 03:11] tianxin1860 commented on #1325
是的

[2021-12-10 03:58] Steffy-zxf commented on #1377
@sunhaha123 是否能够提供最小复现代码？

[2021-12-10 04:01] Steffy-zxf commented on #1339
@Clearloveplus7你好！是否能够提供更详细的背景说明呢，方便定位目前我们提供demo不足之处。

[2021-12-10 07:13] wawltor commented on #1412
OK  了解 我们提个PR来支持一下

[2021-12-10 07:20] wawltor commented on #1421
您好，能提供一下PaddlePaddle的版本吗？

[2021-12-10 08:18] Andrewlesson commented on #1421
done，thx

[2021-12-10 08:19] #1421 closed, assigned to wawltor

[2021-12-10 08:33] AI-Mart opened #1435 "PaddleNLP/examples/information_extraction/是否有关于实体属性抽取的案例，类似个人基本信息，姓名、年龄、身高"
PaddleNLP/examples/information_extraction/是否有关于实体属性抽取的案例，类似个人基本属性信息，姓名、年龄、身高，这些应该都是围绕某个人的一些属性实体，不是类似loc,per,time这种通用的实体抽取，有没有属性抽取的相关的案例代码？
另外有围绕实体抽取、属性抽取、关系抽取的联合抽取模型的案例吗？

[2021-12-10 11:49] bultiful commented on #1388
您好，感谢你的回答。

我还想问个关于代码的原理问题。
![image](https://user-images.githubusercontent.com/38233022/145569740-06a8ac3f-78f7-48f8-bb7b-6efb4e1db139.png)

[2021-12-11 04:43] joey12300 commented on #1428
你好，请问你参加的纠错比赛是只需改错字吗？有要求删除多字、添加少字的需求吗？

[2021-12-11 10:27] han508 commented on #1428
你好，感谢回复，是这样的 多字、少字、乱序、标点等；拼写错误，包括同音字、近音字、形近字等。

[2021-12-13 02:02] safehumeng commented on #1360
了解了，谢谢🙏

[2021-12-13 09:49] yangy996 commented on #994
改这两个位置就可以了
![image](https://user-images.githubusercontent.com/15188456/145789499-14f0dd15-24c9-4669-91bd-a56b0d85896f.png)
![image](https://user-images.githubusercontent.com/15188456/145789535-a859256b-3763-4b1b-9352-81ba6c27823e.png)

[2021-12-14 02:09] cooljsz opened #1456 "SKEP使用预训练模型的疑惑"
您好:
SKEP真的是一个很好的开源项目,向你们致敬.在阅读README文档时,对于我这种AI渣渣来说,有一点小小的疑惑.
里面提到了可以加载更多的预训练模型,也给出了两个model和tokenizer的变量定义,但是--model_name "skep_ernie_1.0_large_ch" 这个参数应该是传入一个预训练模型工具的字符串名称,和下面两句之间是什么关系?没搞清楚,看了transformers的说明之后还更迷惑了.
请帮忙写一下更细致的使用方式,多谢!
model = paddlenlp.transformers.SkepForSequenceClassification.from_pretrained(
    "skep_ernie_1.0_large_ch")
tokenizer = paddlenlp.transformers.SkepTokenizer.from_p

[2021-12-14 02:17] Steffy-zxf commented on #1456
@cooljsz 你好！感谢关注！`SkepForSequenceClassification()`和`SkepTokenizer() `是根据指定的model_name加载对应的SKEP模型和Tokenizer的。

是指 什么样使用困惑呢？还有什么不明白的吗？

[2021-12-14 05:48] JingWang-RU opened #1526 "target is out of class_dimension's upper bound in pretrain"
python3 pretrain.py

/models/projects/q4/tool/v1/ERNIE/ernie/modeling_ernie.py:296: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead
  log.warn('param:%s not set in pretrained model, skip' % k)
************* 8
Traceback (most recent call last):
  File "./demo/pretrain/pretrain.py", line 385, in <module>
    nsp_labels=nsp_label)
  File "/home/ubuntu/anaconda3/lib/python3.

[2021-12-14 05:52] JingWang-RU commented on #1526
Traceback (most recent call last):
  File "./demo/pretrain/pretrain.py", line 400, in <module>
    _l = loss.numpy()
OSError: (External) CUDA error(700), an illegal memory access was encountered.
  [Hint: 'cudaErrorIllegalAddress'. The device encountered a load or store instruction on an invalid memory address. This leaves the process in an inconsistentstate and any further CUDA work will return t

[2021-12-14 05:57] JingWang-RU commented on #1526
Traceback (most recent call last):
  File "./demo/pretrain/pretrain.py", line 400, in <module>
    _l = (loss.numpy())
OSError: (External) CUDA error(700), an illegal memory access was encountered.
  [Hint: 'cudaErrorIllegalAddress'. The device encountered a load or store instruction on an invalid memory address. This leaves the process in an inconsistentstate and any further CUDA work will return

[2021-12-14 06:50] aishangmaxiaoming opened #1458 "PaddleNLP/examples/text_classification/pretrained_models/train.py如何构建自己的数据集兵训练，这个地方没有文档？"

[2021-12-14 07:13] yangchanglin324 opened #1460 "文本相似度，InvalidArgumentError"
问题：
文本相似度，样例报错，无法运行

环境：
paddle 2.2.0
PaddleNLP 2.2.0
操作系统 win10
python 3.7.3

复现代码：
from paddlenlp import Taskflow
similarity = Taskflow("text_similarity")
similarity([["世界上什么东西最小", "世界上什么东西最小？"]])

错误：
InvalidArgumentError: The DataType of equal Op's duplicable Variable Y must be consistent. The current variable type is (int64_t), but the previous variable type is (int). (at C:\home\workspace\Pa

[2021-12-14 18:26] ZeyuChen commented on #1435
我们根据你的需求，未来会考虑针对信息抽取这个领域提供针对信息抽取领域更专业的开发套件，Stay tuned

[2021-12-15 02:39] sunhaha123 commented on #1377
@Steffy-zxf  ![70595f2f77aef0799fe0cf40774af1b9_145167285-8e084cdb-0efb-48bd-a985-c76ca4609778](https://user-images.githubusercontent.com/27773261/146112692-17ed74f9-4644-43ce-ad94-11caf780313e.png) 这个图片我在aistudio里直接运行的，什么都没改。就是sentences_transform这个文件内下的模型，我看是可能因为导入了from model import SentenceTransformer。

[2021-12-15 03:17] Desperado-Jia opened #1464 "PaddleNLP使用ERNIE后接CRF模型with_start_stop_tag设置为True时报错，尺寸问题"
为使您的问题得到快速解决，在建立Issue前，请您先通过如下方式搜索是否有相似问题:【搜索issue关键字】【使用labels筛选】【官方文档】

建立issue时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型前置lstm报错  ”
- 版本、环境信息：
    1）PaddlePaddle版本：请提供PaddlePaddle版本号，例如1.1或CommitID
    2）CPU：请提供CPU型号，MKL/OpenBlas/MKLDNN/等数学库的使用情况
    3）GPU：请提供GPU型号，CUDA和CUDNN版本号
    4）系统环境：请说明系统类型、版本（例如Mac OS 10.14），Python版本
 注：您可以通过执行[summary_env.py](https://github.com/PaddlePaddle/P

[2021-12-15 04:04] ZHUI commented on #1464
辛苦提供一下具体报错信息。

[2021-12-15 04:08] joey12300 commented on #1464
@Desperado-Jia 你好，可以提供详细的报错信息吗？

[2021-12-15 04:17] tianxin1860 commented on #1388
假设做新闻分类任务，给定分类文本: `姚明狂砍 38 分，这是一条[MASK][MASK]新闻`，Label 是 `体育`, 预测出 Label 为 `体育` 的概率 = P(体) * P(育)

[2021-12-15 04:18] bultiful commented on #1388
您发给我的信件已经收到！Best Regards！

[2021-12-15 06:08] wawltor commented on #1460
应该是是一个windows兼容的问题，咱们提个PR修复一下吧 @linjieccc

[2021-12-15 07:01] linjieccc commented on #1460
感谢指出问题~已提PR修复https://github.com/PaddlePaddle/PaddleNLP/pull/1465

[2021-12-15 07:05] yangchanglin324 commented on #1460
好的，谢谢，我在本地修改你刚修改的那几行代码就可以了是吧。

[2021-12-15 07:07] linjieccc commented on #1460
@yangchanglin324 是的，不客气

[2021-12-15 07:11] syc22 opened #1466 "关于distill中ofa项目paddleslim，run_glue_ofa.py导出的超网络.pdiparams 和 export_model.py导出的模型.pdiparams，加载输出的.pdiparams模型并预测dev验证集，发现输出的logits存在很大问题，预测几乎不正确，输出的logits也几乎被锁死。"
ofa文档说明里只是到了模型导出就没后文了。 实际在run_glue_ofa.py中评估超网络时的准确率还是很高的符合预期的，但是当模型保存后，甚至通过export_model.py导出后的小模型，其准确率没有得到保证，请问该如何使用导出的小模型.pdparams。我经过在dev验证集上验证小模型均存在问题，输出的logits几乎被锁死，准确率直接锁死在0.2333。

附问：ofa模型剪裁后的.pdparams可以像 预训练模型微调后的模型一样使用（如蒸馏到bilstm / 再次进行ofa剪裁）嘛？ 文档只到了导出的模型.pdparams，后续该如何使用？我在使用的过程中发现如上预测logits ,精度问题

[2021-12-15 07:13] syc22 commented on #1466
![微信图片_20211215151240](https://user-images.githubusercontent.com/57344752/146140399-e42e9b99-d282-40d4-9c6a-cf14e9936254.png)
加载剪裁宽度后的模型 预测的输出

[2021-12-15 07:16] syc22 commented on #1466
![111图片_20211215151458](https://user-images.githubusercontent.com/57344752/146140636-1e189c1f-0156-4c6d-9fda-39f9e8f36922.png)
加载输入run_glue_ofa.py之前微调的模型，预测是标准的正常的

[2021-12-15 07:29] syc22 commented on #1466
![2222片_20211215152905](https://user-images.githubusercontent.com/57344752/146142399-dbab14de-547f-4a42-a1d4-e70b92c13bbe.png)
这是预测的数据

[2021-12-15 07:40] syc22 commented on #1466
![3333片_20211215153937](https://user-images.githubusercontent.com/57344752/146143801-987dad97-0473-4f92-b293-c723ee2a35c5.png)
![444420211215153944](https://user-images.githubusercontent.com/57344752/146143815-eb032041-24d1-4bd9-a8d6-843272ba7c11.png)
加载模型 预测代码

[2021-12-15 08:12] wawltor opened #1467 "PaddleNLP 2.2.1 Release Note Candidate"
# New features

## 中文特色小模型 PP-MiniLM发布  #1403 #1487
- 推理速度快，推理速度是BERT-base(12L768H) 4.2倍
- 模型参数少，模型参数量相对BERT-base(12L768H) 减少52%
- 模型精度高，在中文语言理解评测基准 [CLUE](https://github.com/CLUEbenchmark/CLUE)  7 个分类数据集上精度比 BERT-base(12L768H) 高 0.62
## 产业级语义检索框架发布 #1463
- 提供丰富详细的PaddleNLP语义检索教程文档
- 一站式提供高可用的训练&预测语义检索框架，同时集成高性能 ANN 引擎 Milvus
- 召回模型方案覆盖有监督、无监督多种数据场景，支持只基于无监督数训练语义索引模型

## Taskflow
- Taskflow 新增中文对话

[2021-12-15 08:14] #1460 closed, assigned to w5688414, linjieccc

[2021-12-15 08:57] cooljsz opened #1468 "高并发预测时出现越界异常"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlepaddle-gpu 2.2.0 paddlenlp用的是2021年12月6日github-develop分支
2）系统环境：windows环境,python 3.7.9.显卡2080Ti 11g显存,32g内存,8cpu
- 复现信息:低并发时无问题,高并发时出现越界异常.异常栈信息如下.
NFO:werkzeug:172.31.3.15 - - [15/Dec/2021 16:13:47] "POST /paddlenlp/ner/ HTTP/1.1" 500 -
Traceback (most recent call last):
  File "D:\dsprojects\lib\site-packages\flask\app.py", line 2091, in __call__
    ret

[2021-12-15 08:59] cooljsz commented on #1456
就是不在明白其他的预训练模型该怎么使用,最好能给出代码示例,谢谢

[2021-12-15 09:05] ZHUI commented on #1458
你好！
可以参照新增数据集文档 https://paddlenlp.readthedocs.io/zh/latest/data_prepare/dataset_self_defined.html
也可以参考这个新增xnli数据集的PR， https://github.com/PaddlePaddle/PaddleNLP/pull/1336/files

[2021-12-15 09:14] Fujiaoji opened #1524 "ernie与ernie-tiny"
您好，请问paddlenlp对于 paddle.transformer 里面的Ernietokenizer.from_pretrain("ernie-tiny")与ErnieTinyTokenizer.from_pretrain("ernie-tiny")有什么区别吗，不太知道选择哪一个

[2021-12-16 07:48] aishangmaxiaoming opened #1473 "PaddleNLP/examples/information_extraction/waybill_ie 测试推理时test.txt的问题"
PaddleNLP/examples/information_extraction/waybill_ie 测试推理时test.txt的必须是带label的吗
<img width="1362" alt="image" src="https://user-images.githubusercontent.com/67897601/146329585-e99bc8a3-c70a-443d-a068-5e3c72dbbe14.png">
，都自己打好lable啦，模型推理还有什么用呢？

[2021-12-16 07:51] aishangmaxiaoming commented on #1473
怎么推理单条数据

[2021-12-16 07:52] aishangmaxiaoming commented on #1473
怎么推理无标注的单条数据

[2021-12-16 07:58] aishangmaxiaoming commented on #1473
比如我就是想从：’八马路与东平行路交叉口北40米韦业涛18600009172‘ 信息抽取出电话和地址？应该怎么改呢

[2021-12-16 10:12] ZHUI opened #1475 "【预训练】体验优化计划"
此issue记录一些目前反馈的，预训练使用中存在的一些问题。并进一步展开优化：

### 反馈问题汇总

- [ ] 横向对比HF的预训练体验，同步更新文档。 https://github.com/PaddlePaddle/PaddleNLP/pull/1344
- [ ] DataCollatorForLanguageModeling 动态masking。 https://github.com/PaddlePaddle/PaddleNLP/issues/1340
- [ ] 训练平台详细说明。 https://github.com/PaddlePaddle/PaddleNLP/issues/1358
- [ ] ernie-1.0 分布式训练策略，文档增强。https://github.com/PaddlePaddle/PaddleNLP/issues/1261
- [x] 优化动静态图

[2021-12-16 11:16] joey12300 commented on #1473
@aishangmaxiaoming 你好，目前暂时提供的预测脚本数据处理部分还是基于评估集的数据格式。可以先试试修改python/predict.py的read函数，修改数据读取方式。
![image](https://user-images.githubusercontent.com/10826371/146361814-7a0a2d73-5bf9-47c0-9ebf-53a6f7403dd1.png)

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/information_extraction/waybill_ie/deploy/python/predict.py#L125

[2021-12-16 11:43] aishangmaxiaoming commented on #1473
输入：
<img width="535" alt="image" src="https://user-images.githubusercontent.com/67897601/146365647-3a80c122-d454-4803-a515-a897b071228b.png">

输出：
<img width="807" alt="image" src="https://user-images.githubusercontent.com/67897601/146365577-c977d5fe-b34c-4d7f-9b49-c83ea48bf557.png">
代码：
<img width="494" alt="image" src="https://user-images.githubusercontent.com/67897601/146365709-740271a6-ed43-49

[2021-12-16 12:47] AI-Mart opened #1476 "PaddleNLP/examples/information_extraction/DuIE/data_loader.py 官方源代码训练的时候一次性加载17万数据导致内存导致溢出"
PaddleNLP/examples/information_extraction/DuIE 这个官方给的处理方式是一次性加载17万数据到内存，训练过程经常报溢出错误，这种处理方式不太合适，这个能否改成类似yield的方式按需加载数据到内存，能否更改下，或者告知应该如何更改，谢谢

[2021-12-16 13:36] joey12300 commented on #1473
words那一行，改成如下试试：
[code]

[2021-12-17 03:10] syc22 opened #1479 "请问如何使用paddle框架在distill学生模型Bilstm 后加Attention?"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2021-12-17 04:42] syc22 commented on #1250
老师您好，export导出的模型 分为两种一种是动态.pdparams  一种是静态模型，请问导出的动态模型为什么再按照加载模型的方法XXXForSequenceClassification.from_pretrained("export_path")，结果出了预测问题，已经严重的不如裁剪前的原始模型，但是在裁剪过程中看log精度还是很高的，请问是什么原因？ 虽然官方api说明通过export导出的模型可以进一步训练，但实际上在上一步ofa_glue.py导出的超网络就已经严重不如剪裁前的原始模型了，export导出子模型后依旧严重不如。
![aaa片_20211217123956](https://user-images.githubusercontent.com/57344752/146489961-17d4ef84-a36a-494a-90ae-de9f7f65cf1d.png)

[2021-12-17 07:13] LiuChiachi commented on #1466
通过OFA对宽度压缩后的模型，模型中的q, k, v的weight不再是[hidden_size, hidden_size]，而是[hidden_size, hidden_size * width_mul]，后者已经不符合transformer的组网，不能用原始的方法load了，动态图导入模型不太方便，OFA对模型裁剪的目的应该是后续直接接入预测部署，一般不会再继续训练。@ceci3

[2021-12-17 07:16] syc22 commented on #1466
谢谢老师回复，我的想法是通过剪裁的模型再继续做训练 蒸馏，从结果看来是行不通了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jiaqi ***@***.***&gt;;
发送时间: 2021年12月17日(星期五) 下午3:14
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 关于distill中ofa项目paddleslim，run_glue_ofa.py导出的超网络.pdiparams 和 export_model.py导出的模型.pdiparams，加载输出的.pdiparams模型并预测dev验证集，发现输出的logits存在很大问题，预测几乎不正确，输出的logits也

[2021-12-17 08:16] tom-tangqs opened #1482 "关于LAC模型识别实体的效率"
目前我使用LAC模型。使用自己的数据集训练了一个实体识别模型，使用python在自己的Windows电脑上的预测识别速度大约是一万条数据用时2.5秒，请问有什么办法能提升这个识别的速度吗？

paddlenlp 2.0.3
paddlepaddle 2.1.0
LAC 2.1.2
python 3.7.10

[2021-12-17 09:21] wawltor commented on #1482
可以升级一下PaddlePaddle和PaddleNLP的到最新的版本，最新的PaddleNLP的版本有对LAC依赖的CRF算子进行优化

[2021-12-17 10:31] ZeyuChen commented on #1476
你可以试试在AIStudio上跑，内存会比较大。

[2021-12-17 10:56] AI-Mart commented on #1476
就是在aistudio用的最高阶的CPU，GPU，都是32G的，要不然就会在评估过程溢出，因为评估也是一次性加载到内存

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Zeyu Chen ***@***.***&gt;
发送时间: 2021年12月17日 18:31
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: AI-Mart ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] PaddleNLP/examples/information_extraction/DuIE/data_loader.py  官方源代码训练的时候一次性加载17万数据导致内存导致溢出 (Issue #

[2021-12-18 02:29] #1467 closed, assigned to tianxin1860, wawltor, ZHUI, LiuChiachi, smallv0221, linjieccc, Steffy-zxf, yingyibiao

[2021-12-18 13:35] WenmuZhou opened #1484 "Layoutxlm 多卡训练ser任务，保存模型时显示找不到save_pretrained方法"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp 2.2 paddlepaddle 2.2
2）系统环境：linux
- 复现信息：使用PaddleOCR ocr代码多卡训练ser任务即可
https://github.com/PaddlePaddle/PaddleOCR/tree/dygraph/ppstructure/vqa

训练脚本
[code]

[2021-12-18 14:42] ZeyuChen commented on #1476
@Steffy-zxf 请检查下这里的IO加载是否有问题，是否需要改成Iteration模式加载。
@AI-Mart 数据集加载可以修改成lazy=True模式，避免全亮加载内存

[2021-12-19 05:12] AI-Mart commented on #1476
[code]

[code]

读取数据的核心代码是这段，这里面全部一次性把17万数据加载到内存列表里面了，这里没看到lazy=True模式这个选型，应该怎么更改呢？

[2021-12-19 10:33] cocoa0409 opened #1485 "taskflow是否支持tqdm显示进度？"
taskflow预测时不显示进度，挺不方便的。

两种方式，求问官方推荐哪一种？
1、按batch_size预先切分，然后每一次都喂一个batch
2、喂全量（有tqdm设置吗？）

[2021-12-20 02:44] wawltor commented on #1485
第二种方案目前不太好设置tqdm，目前Taskflow的预测使用了静态图图预测，预测的时候就是一次输入，一次预测，所以很难用tqdm。

[2021-12-20 04:02] VolcanoBin opened #1486 "关于plato2_en_base模型的使用"
按照官方的教程一步步来，但是就是没法使用官方的模型，出现广播的错误，请问这是什么问题呢
![2021122001](https://user-images.githubusercontent.com/49603008/146710086-4d7cea8c-c316-4ef5-8fae-663f5bfdc3ed.PNG)
![2021122002](https://user-images.githubusercontent.com/49603008/146710092-f8efe319-3792-4136-afa6-8ee15cc63e7b.PNG)

[2021-12-20 04:03] VolcanoBin commented on #1486
模型也删掉重新安装还是不行，用cmd也不行，换台笔记本也不行，显存没有爆

[2021-12-20 04:04] VolcanoBin commented on #1486
https://www.paddlepaddle.org.cn/hubdetail?name=plato2_en_base&en_category=TextGeneration
这是教程链接

[2021-12-20 05:07] yingyibiao commented on #1484
多卡环境训练，可以通过model._layers.save_pretrained(output_dir)进行模型的保存

[2021-12-20 09:39] KPatr1ck commented on #1486
你好，plato2_en_base的使用环境必须满足以下要求：
1.8.2 <= paddlepaddle < 2.0.0
1.7.0 <= paddlehub < 2.0.0

另外paddlehub接入的plato-mini模型也是可以用于对话场景的：
https://www.paddlepaddle.org.cn/hubdetail?name=plato-mini&en_category=TextGeneration

[2021-12-20 11:06] WenmuZhou commented on #1484
好的，已解决

[2021-12-20 11:28] VolcanoBin commented on #1486
好的我看看，谢谢

[2021-12-20 11:34] VolcanoBin commented on #1486
请问有没有基于plato-mini模型的预训练的教程呢

[2021-12-20 11:34] VolcanoBin commented on #1486
就是想用自己的数据微调plato-mini模型

[2021-12-20 23:54] #1484 closed, assigned to yingyibiao

[2021-12-21 01:40] lhl520025 opened #1491 "需求问题：TaskFlow下lexical_analysis任务，需要支持指定模型参数路径"
lac = Taskflow("lexical_analysis",model="lac") 这个模型能否支持选定模型参数路径，来指定使用自己的模型参数

[2021-12-21 02:59] hebo1982 opened #1492 "升级paddlenlp-2.2.1后的问题"
paddlenlp-2.0.7 ->paddlenlp-2.2.1
paddlepaddle-gpu 2.1.0.post112 -> paddlepaddle-gpu 2.2.0.post112

因为运行环境是docker镜像，镜像在运行的环境有可能没有gpu。
以前的cpu环境上安装paddlepaddle-gpu，执行时是警告。

升级后因为找不到GPU直接终止程序，希望还是保持继续使用cpu执行。

[code]

[2021-12-21 03:36] AI-Mart opened #1493 "PaddleNLP/examples/information_extraction/DuIE官方信息抽取方案疑问"
![image](https://user-images.githubusercontent.com/63343847/146866385-07798788-4fcd-481f-9b43-8097785576fe.png)

这里面假如输入文本存在多个配音的对应关系，除了图片里面的一条关系，比如 杜子涛是红楼梦里面贾宝玉的配音，按照官方的解码逻辑，解析结果会输出组合结果，比如王雪纯 配音 晴雯，王雪纯 配音 贾宝玉， 杜子涛 配音 晴雯，杜子涛 配音 贾宝玉。如何解决这种问题？谢谢

[2021-12-21 04:07] AI-Mart commented on #1339
![image](https://user-images.githubusercontent.com/63343847/146869408-a415f668-2564-4dad-977a-a37aa7b7eeba.png)
这里面假如输入文本存在多个配音的对应关系，除了图片里面的一条关系，比如 杜子涛是红楼梦里面贾宝玉的配音，按照官方的解码逻辑，解析结果会输出组合结果，比如王雪纯 配音 晴雯，王雪纯 配音 贾宝玉， 杜子涛 配音 晴雯，杜子涛 配音 贾宝玉。如何解决这种问题？谢谢

[2021-12-21 04:52] #1360 closed, assigned to smallv0221

[2021-12-21 06:07] hebo1982 commented on #1492
add device_id paramter,  the error is gone

[code]

[2021-12-21 06:07] #1492 closed, assigned to nobody

[2021-12-21 07:11] ericshijian opened #1525 "ERNIE/ernie-m/reader/task_reader.py issue with Jupyter Notebook"
Hi there,

for ERNIE/ernie-m/reader/task_reader.py , line 36-40

[code]
may have "OutStream object has no attribute buffer" problem when using in Jupyter notebook.

One possible modification ?
[code]

Best

[2021-12-22 02:13] linjieccc commented on #1491
你好，这个功能我们已经在开发中，预计下周完成~

[2021-12-22 09:09] ZeyuTeng96 opened #1497 "基于预训练模型的机器阅读理解例子里进行分词时出现的问题"
在运行NLP打卡营第6天的例子时，在使用服务器和AIStudio运行第3块代码块 （- “3. 调用map()方法批量处理数据”）生成input_ids, token_type_ids, start_positions, end_positions时

AIStudio里的paddlepaddle版本为2.1.2. paddlenlp更新至最新版本2.2.1. 用的CPU模式跑的代码块3，出现如下错误。
--------------------------------------
C++ Traceback (most recent call last):

0   paddle::framework::SignalHandle(char const*, int)
1   paddle::platform::GetCurrentTraceBackString[abi:cxx11]()

E

[2021-12-22 14:23] LuckyyySTA opened #1501 "关于ChineseBERT预训练"
（1）请问将来是否会有ChineseBERT的预训练代码放出
（2）README中说参考ELECTRA的预训练部分，但是二者的预训练任务却不一样呀，如何参考呢？

[2021-12-23 02:15] jiaohuix opened #1502 "【cudaErrorIllegalAddress】在做古文词性标注时候报错"
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.0.8，PaddlePaddle2.2.0
2）系统环境：请您描述系统类型，本地win10，cuda11；aistudio上也报错
OSError: (External) CUDA error(700)， an illegal memory access was encountered.
[Hint: ' cudaErrorIlLegaLAddress'. The device encountered a Load or store instruction on an invalid memory address. This Leaves the process in an
inconsistentstate and any further CUDA work will return the sa

[2021-12-23 03:13] AI-Mart commented on #1435
好的，期待！

[2021-12-23 03:34] tom-tangqs opened #1504 "Python训练LAC模型，Java调用，两边预测结果不一致"
我使用LAC模型框架，用自己的数据训练了一个LAC模型识别实体，并且在原来四种实体是基础上新增了一些实体，用python进行训练，用java调用训练好的模型，出现了在Python中预测的结果和在java中预测的结果不一致的情况。

![image](https://user-images.githubusercontent.com/51399899/147183461-a9a3c162-f232-4175-9294-3c1db025e844.png)
![image](https://user-images.githubusercontent.com/51399899/147183504-016ac76e-cb5a-4371-a68a-f757b7b40c5f.png)
预测同一个时间，在python中可以预测出来，但java调用后就预测不出来。
但是预测其他的实体，识别结果都是一致的，这

[2021-12-23 13:10] gongel opened #1509 "PaddleNLP 2.2.3 Release Note Candidate"
# New Features

## ERNIE-M #1510

* 新增跨语言预训练模型ERNIE-M，包含基于ERNIE-M的自然语言推理任务示例。

## XNLI Dataset  #1474

* 新增XNLI文本蕴含数据集。

## Tokenizer upgrade #1496

* Tokenizer新增支持传入自定义special token的功能和正确分词文本中special token的功能。

# Bugfix

* 修复 `import paddlenlp` 报 `No module named 'packaging'` 的错误。#1536
* 修复 FasterTransformer 导出 float16 预测模型失败的错误。#1539
* 修复BERT模型在SQUAD任务运行失败的错误。  #1522
* 修复首次使用nltk包运行失败的错误。 #1515

[2021-12-24 03:26] BenfengXu commented on #1493
感谢关注我们的数据集与Baseline~
该Baseline实现，对于这种情况，会直接输出所有可能的组合，即以上四种s-o都会输出出来。理论上来说，只对S/O做一次线性复杂度的Tagging是无法完全解决平方复杂度的结构化输出空间的。基线只是为了提供给大家一个可参考的基础实现，所以在细节处理上是尽可能简化的。
如果想要进一步解决这种情况，对基线进行优化，可以尝试1）添加简单的规则，如根据s-o间的距离来决定匹配关系；2）尝试其他的Tagging方法，比如ACL21的PRGC[1]，在s/o Tagging的基础上，额外增加了一个alignment模块来计算匹配关系~
[1]PRGC: Potential Relation and Global Correspondence Based Joint Relational Triple Extraction

[2021-12-24 04:44] joey12300 commented on #1504
@tom-tangqs 你好，可能java一些jdk等环境问题，也可以尝试使用PaddleNLP的LAC模型进行预测部署：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/lexical_analysis

[2021-12-24 04:48] joey12300 commented on #1502
看报错信息像显存访问越界了，可以检查一下是否输入的input_ids超过了词表大小，导致Embedding查表越界了。

[2021-12-24 05:03] jiaohuix commented on #1502
额，一般不认识的词不是会替换成unk么？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2021年12月24日(星期五) 中午12:49
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 【cudaErrorIllegalAddress】在做古文词性标注时候报错 (Issue #1502)

看报错信息像显存访问越界了，可以检查一下是否输入的input_ids超过了词表大小，导致Embedding查表越界了。

—
Reply to this email directly, view it on GitHub, or unsub

[2021-12-24 06:15] AI-Mart commented on #1493
感谢回复，我参考下，paddlenlp能否及时持续更新并且增加每个子领域目前最新的sota方案,我认为只有这样，才能相比其他的框架有绝对的优势，另外这个issu能否也关注下https://github.com/PaddlePaddle/PaddleNLP/issues/1476，谢谢

[2021-12-27 02:42] ZTurboX opened #1513 "faster_generation微调示例"
可否有faster_generation微调示例

[2021-12-27 03:15] safehumeng commented on #1372
请问一下，PaddleNLP已经升级到2.2.1了，词典ID还是不变呢，cls显示101，pad显示100

[2021-12-27 03:27] safehumeng commented on #1372
麻烦问一下有没有什么临时解决方案么

[2021-12-27 03:35] safehumeng commented on #1372
albert-chinese-tiny

[2021-12-27 03:38] safehumeng commented on #1372
使用ppnlp.transformers.BertTokenizer(vocab_file='/root/.paddlenlp/models/albert-chinese-tiny/albert-chinese-tiny.vocab.txt')代替可以么

[2021-12-27 06:08] hebo1982 opened #1514 "termtree添加新词，仍然无法识别"
文档 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/termtree
增加关键词 "静磁场"

查看生成的termtree_data也包含了“静磁场”
![7EC54354-FF83-4C9D-B78D-0843FF989A35](https://user-images.githubusercontent.com/5362672/147440045-8031708f-ae1f-44ed-ae28-c716529fe186.png)

但是测试时并不是预期的静磁场为一个term。

复现代码如下：

[code]

运行环境
paddlenlp                                         2.2.1
paddlepaddle

[2021-12-27 06:17] qhpeklh5959 commented on #1514
TermTree中收录的词语和WordTag的预测结果之间没有必然联系，出现这种情况一般是缺少样本，模型训不对
临时解决方案可以使用自主添加词表后处理的方式
后期我们也会保留case，定期优化
如果希望泛化可以自己定制训练WordTag模型，或者等待官方定制化接口发布

[2021-12-27 06:22] ZeyuChen commented on #1513
FasterGeneration适用于生成场景加速的，您想要文本生成任务那个场景的微调呢？

[2021-12-27 06:28] hebo1982 commented on #1514
@qhpeklh5959
感谢回复！

“临时解决方案可以使用自主添加词表后处理的方式”
这个没看到相应的接口参数或例子，希望指明一下。

[2021-12-27 06:30] ZTurboX commented on #1513
文本续写

[2021-12-27 06:32] qhpeklh5959 commented on #1514
这个只需自行写规则处理即可，没有官方的接口

[2021-12-27 06:35] hebo1982 commented on #1514
了解

[2021-12-27 06:35] #1514 closed, assigned to qhpeklh5959

[2021-12-27 07:40] linjieccc commented on #1514
近期我们会在Taskflow开放一个接口来支持解语WordTag任务的自定义词典装载并适配与TermTree的linking

[2021-12-27 08:00] safehumeng commented on #1372
好像只是PAD识别成了UNK，我以为词表全对应混了，使用albert-chinese-tiny训练相似度模型的时候，训练loss下降非常缓慢，最后验证集表现非常差，看起来就像是没有初始化参数，用自己的数据重新训了一个模型一样。楼主有遇到这样的问题么

[2021-12-27 10:58] 27182812 commented on #1501
关于ChineseBERT的预训练部分，建议咨询原作者，我看见有相关回复，“We followed Hugginface‘s pre-training scripts, you can replace the origin BertModel with our GlyceBertModel easily:
here is the link:
https://github.com/huggingface/transformers/tree/master/examples/pytorch/language-modeling ”

[2021-12-27 11:01] LuckyyySTA commented on #1501
好的，感谢回复！

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: 27182812 ***@***.***&gt;
发送时间: 2021年12月27日 18:58
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: init ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] 关于ChineseBERT预训练 (Issue #1501)

关于ChineseBERT的预训练部分，建议咨询原作者，我看见有相关回复，“We followed Hugginface‘s pre-training scripts, you can replace the origin BertModel w

[2021-12-27 12:46] wangqianyi2017 opened #1516 "PaddleServing怎么部署自己训练的预训练模型？"
使用PaddleNLP-MIniLMv2 的训练脚本，进行模型压缩，但模型无法直接部署到paddleServing。怎么才能将model_state.pdparams的模型转化成paddleServing部署所需要的格式？

[2021-12-27 15:58] ZeyuChen commented on #1513
FasterGeneration主要是对预训练加速的生成，如果需要Finetune的话需要重新训练。
可以参考下 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_generation/ernie-gen

[2021-12-28 05:18] LiuChiachi commented on #1479
您好，
带有Attention的Bi-LSTM可以参考这里的实现，https://github.com/PaddlePaddle/PaddleNLP/blob/806ff6f9984afa56012270b666a7954ea31be952/examples/text_classification/rnn/model.py#L189
把这个模型作为学生模型即可～

[2021-12-28 07:42] LiuChiachi commented on #1516
您好，

https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/pp-minilm/finetuning/export_model.py

您可以参考这里的代码导出部署模型～

[2021-12-28 08:49] LuckyyySTA opened #1521 "ChineseBERT Chn任务finetune报错，缺少pypinyin"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.1，PaddlePaddle-gpu 2.2.1
2）系统环境：Linux  python3.8
-问题报错：缺少pypinyin.pinyin
运行run_chn脚本报错如下：
Traceback (most recent call last):
  File "/users/miniconda3/envs/paddle/lib/python3.8/site-packages/paddle/utils/lazy_import.py", line 32, in try_import
    mod = importlib.import_module(module_name)
  File "/users/miniconda3/envs/paddle/lib/python3.8/import

[2021-12-28 09:50] wangqianyi2017 commented on #1516
报错：
![image](https://user-images.githubusercontent.com/30695606/147553517-193f98ca-bedd-475d-8443-110e0752774d.png)

[2021-12-28 09:52] wangqianyi2017 commented on #1516
报错[AssertionError: pretrained base model should be BertModel]：![image](https://user-images.githubusercontent.com/30695606/147553652-021f4f59-fb6a-4c28-8c6f-52c70b531848.png)

[2021-12-28 09:54] wangqianyi2017 commented on #1516
怎么样才能绕过modelType呢？

[2021-12-28 13:50] LiuChiachi commented on #1516
您好，因为example一般都是基于某个模型去展示的，目前还不能做到所有模型完全通用，所以需要您手动改一下代码，
https://github.com/PaddlePaddle/PaddleNLP/blob/4070783a5b61c7c6dc6fc603fc8c53fd99889dfe/examples/model_compression/pp-minilm/data.py#L20
这里加入"tinybert": (TinyBertForSequenceClassification, TinyBertTokenizer)，就可以支持 tinybert ，记得先在上面import一下

[2021-12-28 16:42] ZeyuChen commented on #1528
@liucongg PaddleNLP会在下一个大版本整体完整支持模型的ONNX导出，Stay Tune。

[2021-12-28 16:44] ZeyuChen commented on #1516
PaddleNLP v2.3会对模型提供完整的Paddle Serving支持哈 @wangqianyi2017 可以一起开源共建

[2021-12-29 06:15] Steffy-zxf commented on #1476
@AI-Mart 你好！我们提供的基线是一个简单的示例。解决数据集过大，爆内存的问题，有两种方法可以解决：

1. 在`from_file()`读取数据时，不对数据进行数据处理，仅仅只是读取。当需要使用数据时，在`__getitem__()`完成数据处理。
这样可以避免读取数据集，占用内存过大的问题。

2. 可以尝试使用`paddle.io.IterableDataset()`多进程读取数据，通过` __iter__ `方法划分各进程的数据。参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/io/IterableDataset_cn.html#iterabledataset

[2021-12-29 06:59] AI-Mart commented on #1476
感谢回复，方法一 “from_file()读取数据时，不对数据进行数据处理，仅仅只是读取。” 这里的读取还是一次性读到内存吗？
能否直接在官方代码上做下更改呢？

[2021-12-29 07:53] Zengpr opened #1532 "ernie-1.0本地数据训练后，预测效果变差，每次结果预测都不一样问题"
完型填空问题：
print(predict_mask('有关 [MASK] [MASK] 和单位的同事', topk=2))
print(predict_mask('原则上 [MASK] 构成暂时适用的障碍。', topk=2))

原ernie-1.0结果：
![image](https://user-images.githubusercontent.com/22451062/147639376-25ca2116-8226-4d8b-bcf3-2b70080d8053.png)
结果稳定

本地数据训练后结果：
![image](https://user-images.githubusercontent.com/22451062/147639432-72b35b4d-6b3f-49d8-87cb-f9e8b3ed3f97.png)
![image](https://user-images

[2021-12-29 12:22] wawltor commented on #1532
可以看一下，微调之后的参数是否已经加载进去了

[2021-12-30 02:39] ArtificialZeng opened #1537 "sentiment_analysis下sh run_predict.sh报错：AssertionError: text len: 392, tag_seq len: 254"
Traceback (most recent call last):
  File "predict.py", line 193, in <module>
    ext_results = predict_ext(args.ext_model_path, args.ext_label_path, args.test_path)
  File "predict.py", line 86, in predict_ext
    aps = decoding(text, tag_seq)
  File "/home/reclab/ai_projects/PaddleNLP-develop/applications/sentiment_analysis/utils.py", line 45, in decoding
    tag_seq), f"text len: {len(text)}, t

[2021-12-30 02:56] LuckyyySTA opened #1538 "关于ERNIE-CSC的复现结果"
首先感谢开源ernie-csc的代码！
在尝试运行开源代码复现结果后，在sighan2013、sighan2014、sighan2015数据集上的f1结果和readme中报出的f1结果的确在一个level上，但是sighan2013数据集上的纠错和检错precision均为1，对比了当前其他的baseline在sighan2013数据集上的precision，在同样利用额外的271k数据和sighan数据集训练的情况下，在sentence级别上的最好结果应该在0.8左右。这个precision结果也比原论文的高出许多，但是在sighan2014和2015数据集上表现又正常不知是什么原因？

[2021-12-30 03:02] joey12300 commented on #1538
@LuckyyySTA 实际上论文里的提到的模型是经过MLM-phonetics预训练的， 而咱们PaddleNLP的版本是直接基于ernie-1.0做finetune的，其泛化性能是不如论文中的模型，所以是可能出现在某个数据集上表现比较强，而其他数据集上效果比较一般的情况。

[2021-12-30 03:14] LuckyyySTA commented on #1538
感谢回复！我也注意到了，那请问readme中给出的sighan2013的结果也是precision近乎为1的结果对吗？

[2021-12-30 03:20] LuckyyySTA commented on #1521
debug之后发现，transformers库中chinesebert的tokenizer部分的以下两行代码（724、735行）在我电脑环境下没有起作用：
pinyin = try_import("pypinyin.pinyin")
Style = try_import("pypinyin.Style")
我加上from pypinyin import pinyin，Style之后好使了

[2021-12-30 04:05] Steffy-zxf commented on #1476
@AI-Mart 参考以下代码：

[code]

[2021-12-30 04:21] gongel commented on #1537
你好，请问这个代码在哪呢 ？

[2021-12-30 04:24] gongel commented on #1521
你好，看你已经解决问题，那这边先关闭issue了哈，后续有问题可重开issue

[2021-12-30 04:24] #1521 closed, assigned to nobody

[2021-12-30 04:25] LuckyyySTA commented on #1521
好的

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: gongenlei ***@***.***&gt;
发送时间: 2021年12月30日 12:24
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: init ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP] ChineseBERT Chn任务finetune报错，缺少pypinyin (Issue #1521)

你好，看你已经解决问题，那这边先关闭issue了哈，后续有问题可重开issue

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2021-12-30 06:50] ArtificialZeng commented on #1537
什么在哪，就是官方示例，sentiment_analysis应用里面的sh run_predict.sh 。仅仅是我用了我自己的数据。

[2021-12-30 06:53] gongel commented on #1537
好的，已经assign给负责人，麻烦 @1649759610 看看哈

[2021-12-30 07:23] ArtificialZeng commented on #1537
我再那个paddleNLP微信群里面。我同时安装有pp 和pp-gpu结果还是再cpu上运行的 ？？ 显存不涨，内存暴增

pip list

paddlenlp                     2.2.2
paddlepaddle                  2.2.1
paddlepaddle-gpu              2.2.1.post110

[2021-12-30 08:48] #1504 closed, assigned to joey12300

[2021-12-30 08:57] Zengpr commented on #1532
加载进去了吧，没加载都跑不了了，这个确定有跑过可以用吗

[2021-12-30 09:17] wangqianyi2017 commented on #1516
好的，收到，谢谢，已解决我当前遇到的问题了

[2021-12-30 09:33] wawltor commented on #1532
能提供一下具体是哪个示例吗？

[2021-12-30 09:33] AI-Mart commented on #1476
谢谢，这样处理后，训练过程内存只消耗了3.3G，好很多了，原来是撑到30几G，这样处理后训练时间可能长些，原来是一次性读进来并处理好数据，训练过程直接读，现在是训练过程每取一批次数据都处理下，以时间换空间了吧。

[2021-12-30 09:38] Zengpr commented on #1532
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0
就这个跑完的模型用static_vars.pdparams的文件做完型填空效果很差，结果也不稳定，原ernie-1.0为save_weights.pdparams文件就挺好

[2021-12-30 10:11] wangqianyi2017 commented on #1516
还有一个问题，pdparams格式的文件转成pdiparams、pdmodel、pdiparams.info无法直接在Serving中部署,仍旧需要在进行下一步的转化。
也就是说，训练好一个pdparams格式的文件，需先转化成pdiparams、pdmodel，再转换成serving_server的配置文件和模型文件？这个过程可以一步到位吗？

[2021-12-30 11:18] wawltor commented on #1532
这个示例是提供预训练能力的，需要通过自己构建数据来完成预训练，想问一下具体用的是什么数据了？原ernie-1.0是已经通过大量中文语料预训练之后的结果，只需要在特定的任务进行finetune即可。

[2021-12-30 11:27] Zengpr commented on #1532
我就用里面给的样例数据根据data_tools文件夹构建数据，ernie-1.0文件夹训练了2000step，然后用样例数据的源数据来做预测，也是完全预测不出来的

[2021-12-31 03:00] 1649759610 commented on #1537
问题已解决，并已和 @ArtificialZeng 线下同步。

[2021-12-31 03:37] sdwangqingru commented on #835
@geekChinaMaster 您好，以cityscapes数据集为例，label为0-18，要ignore的label是255。此时根据您的建议是ignore_index=19？
weight =19+1=20？
但是会出现以下问题：
(Pdb) n
Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[8193] expected >= 0 and < 19, or == 19,but got 255. Please check input value

[2021-12-31 05:44] #1501 closed, assigned to yingyibiao

[2021-12-31 05:54] yingyibiao commented on #463
#1086

[2021-12-31 05:55] #463 closed, assigned to yingyibiao

[2021-12-31 05:57] yingyibiao commented on #560
参见：https://paddlenlp.readthedocs.io/zh/latest/FAQ.html#q1-2-paddlenlp

[2021-12-31 05:57] #560 closed, assigned to chenxiaozeng, yingyibiao

[2021-12-31 06:22] wawltor commented on #1532
抱歉，data_tools里面是一份样例数据，不是ERNIE的预训练数据；如果想用ERNIE的话，直接使用原生的ERNIE就行

[2021-12-31 06:25] Zengpr commented on #1532
这只是个例子啊，如果连测试样例都用不了，那我的数据根本就用不了，所以你们就是没试过效果了？好无语

[2021-12-31 07:05] sdwangqingru commented on #835
@geekChinaMaster 您好，以cityscapes数据集为例，label为0-18，要ignore的label是255。此时根据您的建议是ignore_index=19？
weight =19+1=20？
但是会出现以下问题：
(Pdb) n
Error: /paddle/paddle/fluid/operators/softmax_with_cross_entropy_op.cu:536 Assertion `labels_[idx_lbl] >= 0 && labels_[idx_lbl] < d_ || labels_[idx_lbl] == ignore_idx_` failed. The value of label[8193] expected >= 0 and < 19, or == 19,but got 255. Please check input value

[2021-12-31 08:18] wawltor commented on #1532
嗯嗯 实在比较抱歉，我们在文档中没有写明白这块。因为ERNIE的原生的预训练数据集是不开源的，所以没有办法全部开源数据。但是我们在ERNIE预训练的数据集上做过测试，目前开源出来预训练框架效果是可以达到收敛的。后续我们将修改文档，同时提供目前可以开源的较大数据集。

[2021-12-31 08:23] ZHUI commented on #1532
元旦后我们将提供 clue corpus small数据集的训练示例，更新后将第一时间通知你

[2021-12-31 09:02] sdwangqingru commented on #835
已解决。
解决方法：将paddle由2.1.2升级到2.2.1版本即可，推测是官方在新版本中修复了该bug。

[2021-12-31 11:43] #1372 closed, assigned to yingyibiao

[2021-12-31 12:32] luozhouyang commented on #1537
这处代码其实很明显，当序列的长度大于设置的`max_seq_len`的时候，tokenizer会对序列进行截断，导致后面`decoding`的时候assert失败。解决方案要考虑：
1. 考虑设置`max_seq_len`不小于最大文本长度
2. 在文本长度超出`max_seq_len`，或者超过512的时候，对`text`也做截断处理

不知道现在代码修复了没有，如果没有我可以提供一个PR。

[2021-12-31 12:42] luozhouyang commented on #1537
哦没事了，我看到代码已经修复了。

[2021-12-31 13:56] MING8276 opened #1544 "预处理的时候，第三步生成index时候发生了错误"
执行了sh run_static.sh  发生错误launch python: error:  unrecognized arguments :  --gpus

[2022-01-01 00:49] ZeyuChen commented on #1537
Issue Resolved.

[2022-01-01 00:49] #1537 closed, assigned to 1649759610

[2022-01-01 02:17] dongandi opened #1545 "想实践一下语义检索，有些问题不明白想咨询一下。"
在neural_search项目下，的milvus里面的feature_extract.py这个路径在哪里修改呢？
![image](https://user-images.githubusercontent.com/59283713/147842714-bc65ff2d-a276-4af1-8282-9ef90bbad24c.png)
运行后，报缺少三个参数，我该怎么填写呢？感谢回复！

[2022-01-01 06:49] #1544 closed, assigned to ZHUI

[2022-01-01 06:52] MING8276 opened #1546 "使用ernie-1.0进行预处理的最后一步生成index文件，运行时时报错"
![ZW_`Y{QU 1UT3SYNH{)}{{E](https://user-images.githubusercontent.com/71618058/147845464-7011e853-dab5-4d2a-ae95-ee215ad40e7f.png)

报这个output文件找不到的错误

[2022-01-01 14:55] bbbxixixixi opened #1547 "aistudio paddle2.2.1 pip最新paddlenlp，加载roberttokenizer的vocab异常"
notebook经典版，paddlepaddle2.2.1
!pip install --upgrade pip
!pip install --upgrade paddlenlp

执行以下语句
from functools import partial
import argparse
import os
import random
import time
import distutils.util
import collections

import numpy as np
import paddle
import paddle.nn.functional as F
import paddlenlp as ppnlp
from paddlenlp.data import Stack, Tuple, Pad
from paddlenlp.datasets import load_datas

[2022-01-01 15:51] yanqiangmiffy opened #1548 "Pretrain Issuse"
https://github.com/PaddlePaddle/PaddleNLP/blob/809bb57eeed8712cb02b0df5df8e93fcd319510f/examples/language_model/ernie-1.0/run_pretrain_static.py#L465

生成数据集之后，报错
[code]

[2022-01-02 07:38] ZHUI commented on #1548
您好，请问您使用的paddle版本是？
可以尝试使用paddle develop版本试试 https://www.paddlepaddle.org.cn/

[2022-01-02 14:41] Wxs18337266838 opened #1549 "neural_search/recall/simcse/train文件177行，前向传播计算loss的时候，报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-01-03 03:00] Wxs18337266838 commented on #1110
我加载ernie1.0 预训练模型也出现了这种情况，请问你最后怎么解决的？

[2022-01-03 05:12] HarderThenHarder commented on #1377
同样遇到这个问题。
使用自己的数据在 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_classification/multi_label/train.py 任务下训练，在训练的时候看到dev_f1能够正常收敛（到96.6%），但是使用 predict.py 文件做推理发现正确很低（29.7%），推理数据集就是训练时候用的dev.csv，同一份数据在训练/推理阶段结果不一致，应该不会是模型overfitting问题。
进一步排查，发现是每一次用predict.py得到的样本的output都不一样（对output做了sigmoid并根据0.5的阈值对每一个标签做二分类的结果）:
![image](https://user-images.githubusercontent.com/36854507/147

[2022-01-03 06:22] ZeyuChen commented on #1377
@HarderThenHarder 明天我们的工程师会回复您这个问题。@Steffy-zxf 明天重点关注下哈

[2022-01-03 06:25] ZeyuChen commented on #1476
@Steffy-zxf AI Studio上的代码和examples是否需要同步更新呢？

[2022-01-03 07:37] Wxs18337266838 commented on #1460
请问这个问题在windows系统上如何解决？

[2022-01-03 07:38] ZeyuChen commented on #1460
@Wxs18337266838 https://github.com/PaddlePaddle/PaddleNLP/pull/1465/files
请参考下这个PR，需要在数据类型上加上int64即可。或者你clone最新代码，这个issues的问题应该已经解决了。

[2022-01-03 07:39] Wxs18337266838 commented on #1549
出错的原因可能是操作系统的问题吗？我用的是win10系统，

[2022-01-03 07:40] ZeyuChen commented on #1549
@Wxs18337266838 请补充详细错误的截图，好让我们更好的评估分析。

[2022-01-03 07:49] Wxs18337266838 commented on #1549
您好：
&nbsp; &nbsp; &nbsp; 这是我的错误截图。我的系统是win10、paddlepaddle-gpu 2.2.1、 cuda11.2、&nbsp; cudnn8.2.1、&nbsp; paddlenlp2.2.0。
&nbsp; &nbsp; &nbsp; 另外我发现你们在飞浆官网上说cuda11.2配合cudnn v8.1.1使用，但是这样的会有警告，配合cudnn v8.2.1就不会有警告，希望你们更新一下。
感谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-01-03 07:57] Wxs18337266838 commented on #1549
问题已解决，请大家参考 [#1464](https://github.com/PaddlePaddle/PaddleNLP/pull/1465)

[2022-01-03 07:59] Wxs18337266838 commented on #1549
您好，问题已解决。再次感谢您的回复。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月3日(星期一) 下午3:40
***@***.***&gt;;
***@***.******@***.***&gt;;

[2022-01-03 09:05] syc22 commented on #1479
老师，感谢您在百忙中阅读这封邮件，在这里麻烦帮忙答疑解惑：
1.为什么蒸馏出的bilstm学生模型 .pdparams参数是2.3个G，使用paddle.summary打印出的Total params有三个多亿，比老师模型还要大。附图如下：图1为打通过paddle.summary印蒸馏后的模型参数。&nbsp; 图2位蒸馏出的模型.pdparams为2.3个G
2.请问paddle如何查看ernie / bert等预训练模型微调后的模型的参数大小，flops等类似paddle.summary的功能？因为需要和蒸馏后的模型做模型参数大小 ， flops运算速度上的比较。请问老师应该怎么获取ernie / bert等预训练模型以及Bilstm学生模型 模型大小和flops参数?&nbsp;&nbsp;
3.对于上面问题2的另一种问法：如何官方定量的比较蒸馏后的模型与老师模型的预测速度，模型大小

[2022-01-04 02:12] ZHUI commented on #1546
你试试，新建一下 output 文件夹？

[2022-01-04 03:18] Steffy-zxf commented on #1377
@HarderThenHarder @sunhaha123 你好！请确认下训练后保存的模型参数是否被正确加载，如以下代码
[code]

[2022-01-04 03:52] Steffy-zxf commented on #1476
[AI Studio 项目](https://aistudio.baidu.com/aistudio/projectdetail/1639963?contributionType=1) 已更新

exmaple 代码更新pr：#1550

[2022-01-04 04:00] Steffy-zxf commented on #1547
@bbbxixixixi 你好！`RoBERTaTokenizer`和 `ErnieTokenizer` 构造方式不同。

对于中文RoBERTa模型，通过以下方式获取词表:

[code]

[2022-01-04 05:59] HarderThenHarder commented on #1377
Fine-Tuning模型应该是被正确加载了的：
![image](https://user-images.githubusercontent.com/36854507/148015785-715bb4e1-d065-4e5c-a066-c1af095329fb.png)
您方便给个如流号吗，我通过如流联系您。

[2022-01-04 06:05] Steffy-zxf commented on #1377
@HarderThenHarder 你好， 我的如流号叫做 张雪菲。

[2022-01-04 06:38] syc22 opened #1551 "为什么distill_lstm文件夹下蒸馏出来的bilstm模型比教师模型ernie/bert还大啊？"
老师，感谢您在百忙中阅读这封邮件，在这里麻烦帮忙答疑解惑：
蒸馏时学生模型bilstm 设置的是example/model_compression/distill_lstm/args文件中默认的参数。
![IUUCXD`8AVS{%94WU{}8F}N](https://user-images.githubusercontent.com/57344752/148019179-f909177e-7186-44a1-907f-b61e5f9b3065.png)

1.为什么蒸馏出的bilstm学生模型 .pdparams参数是2.3个G，使用paddle.summary打印出的Total params有三个多亿，比老师模型还要大。附图如下：图1为打通过paddle.summary印蒸馏后的模型参数。  图2位蒸馏出的模型.pdparams为2.3个G
2.请问paddle如何查看ernie /

[2022-01-04 06:48] ZeyuChen opened #1552 "Migrate all paddlenlp.ops.einsum to paddle.einsum"
迁移所有einsum op至框架的原生einsum API

[2022-01-04 06:50] ZeyuChen commented on #1551
这个主要问题是因为词表比较大，导致的参数量较大，但实际的推理计算量时间会比ernie少很多。
实际上词表可以控制小一点，这样参数就会比较小了，因为150w词表中，大量是长尾词表。

[2022-01-04 06:52] syc22 commented on #1551
可以提供一个小一点的词表嘛？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月4日(星期二) 下午2:51
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2022-01-04 07:37] felixhao28 opened #1553 "error: no instance of constructor "paddle::Tensor::Tensor" matches the argument list"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

CentOS7 CUDA11.2 Python3.6.8 PaddleNLP (809bb57eeed8712cb02b0df5df8e93fcd319510f)

Download [paddle_inference.tgz](https://paddle-inference-lib.bj.bcebos.com/2.0

[2022-01-04 07:43] applepieiris commented on #1230
您好，我在使用命名实体识别模型的时候也遇到了相同的问题，请问开展命名实体识别的任务需要多大的显存呢？

[2022-01-04 08:05] ZeyuChen opened #1554 "RNN类模型的文本分类词表处理流程优化"
需要将PaddleNLP中文本分类的流程，从预先词表加载，改成类似TF Text借助API扫描数据，统计词频词表，过滤停词等标准化NLP实践流程。便于更好的进行基础功能的教育。

[2022-01-04 08:28] felixhao28 commented on #1553
I downloaded the wrong version of `paddle_infernce` lib. The correct link is https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html#linux.

[2022-01-04 08:28] #1553 closed, assigned to nobody

[2022-01-04 08:54] ZHUI commented on #1532
https://github.com/PaddlePaddle/PaddleNLP/pull/1555 @Zengpr 已提供clue corpus small 数据集制作教程，欢迎使用。

训练过程、效果评估等教程，稍晚提供。

[2022-01-04 09:39] joey12300 commented on #1538
@LuckyyySTA 合理吧，不过一般只看F1结果就行。

[2022-01-04 11:17] #1509 closed, assigned to smallv0221

[2022-01-04 13:45] ZHUI commented on #1532
训练详细日志，100w steps预训练权重已经提供。https://github.com/PaddlePaddle/PaddleNLP/pull/1555/files#diff-318be3751cecb9049866fb59aa5aec28a4f07ca0261ae39bee205e7476b8420bR86-R108

使用示例
[code]

[2022-01-04 13:49] #1552 closed, assigned to joey12300

[2022-01-04 13:54] ZeyuChen commented on #1551
@syc22 你只需要在蒸馏的过程中
https://bj.bcebos.com/paddlenlp/data/senta_word_dict.txt
这个senta word dict的文件，砍掉尾部的词表，保留30w头部词表就习惯了。

[2022-01-04 13:55] ZeyuChen commented on #1525
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-m
@ericshijian  Please try this dynamic graph version of ERNIE-M

[2022-01-04 13:56] ZeyuChen commented on #1524
ErnieTinyTokenizer.from_pretrain("ernie-tiny")
选择这个吧。@Fujiaoji

[2022-01-04 14:05] syc22 commented on #1551
请问老师，是前词典中的30W还是需要自己筛选30W出来？
如果是前30W的话，会不会存在有的词索引不到id？如果是自己筛选的话如何判断是不是尾部词呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jiaqi ***@***.***&gt;;
发送时间: 2022年1月4日(星期二) 晚上9:54
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] 为什么distill_lstm文件夹下蒸馏出来的bilstm模型比教师模型ernie/bert还大啊？ (Issue #1551)

@syc22 你只需要在蒸馏的过程中
 https://bj.bcebos.com/paddlenlp/d

[2022-01-05 06:48] smallv0221 commented on #1497
Thanks for your patience! We have fixed this bug in PaddleNLP 2.2.3. You can try again now.

[2022-01-05 09:26] tianxin1860 commented on #1545
你好，可以贴一下完整的运行命令？

[2022-01-05 09:35] w5688414 commented on #1545
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/milvus/scripts/feature_extract.sh

请参考这里面的参数设置

[2022-01-06 08:00] Zengpr commented on #1532
ok，感谢感谢，晚点去试一下！

[2022-01-06 14:08] syc22 opened #1564 "问个匪夷所思的问题"
既然ernie是基于mask中文词组而非单个汉字训练出来的，那如何使用ernie1.0/ernie2.0来预测一个句子中被mask的中文词组？  因为一句话会被Ernietokernize分为一个一个的汉字，是字粒度的分词，选中一个字mask，继而id化，tensor化后送入ernie预测，仅仅能预测出对应mask位置的字。    如何来mask一个词语，继而预测一个词出来呢？   困扰了

[2022-01-06 14:40] githanyongjin opened #1565 "module 'paddle' has no attribute 'inference'"
各位大佬，我安装的paddlepaddle-gpu版本是2.0.2.post100，在使用静态图进行推理时报了上面的错误，有知道是为啥的吗？

[2022-01-07 01:02] githanyongjin commented on #1565
已经解决，需要在导入包的时候不能按照案例直接导入import paddle，需要直接导入到Config：
from paddle.inference import Config，不太理解

[2022-01-07 04:16] zouhan6806504 opened #1566 "如何设置差分学习率？还有如果想取bert某几层的encoder的cls信息融合后做文本分类，如何取得这些信息？"
比如ErnieForSequenceClassification中，我想ernie和classifier各自有不同的lr，要如何设置？
另外就是如何提取bert 各层encoder的cls输出？
谢谢

[2022-01-07 09:35] wawltor commented on #1566
第一个问题可以这么解决
![image](https://user-images.githubusercontent.com/16698950/148523778-0d90606c-144b-461f-9821-e1996c3c765f.png)

[2022-01-07 09:43] wawltor commented on #1566
第二个问题，这里需要改动PaddlePaddle的代码，这里的改动相对比较复杂，可以看看这块的代码，返回的时候返回中间结果https://github.com/PaddlePaddle/Paddle/blob/0883cf37bef9ca7db37ece787f3ccab3f817a9ae/python/paddle/nn/layer/transformer.py#L694

[2022-01-07 10:01] ZHUI commented on #1564
ernie1.0 是字粒度的模型。

这里的mask词组，可以看做同时mask掉多个字。

可以选中连续的多个token一起mask。

[2022-01-07 11:56] ZeyuChen commented on #1565
首先推荐使用2.2以上更新版本哈。
应该是可以的paddle.infererence的，具体参照的是哪个案例？

[2022-01-07 14:27] #1547 closed, assigned to smallv0221, Steffy-zxf

[2022-01-07 23:07] bbbxixixixi commented on #1566
我试了一下
lr_scheduler = LinearDecayWithWarmup(args.learning_rate, num_training_steps,
                                         args.warmup_proportion)
parameters = [
        {
            'params': model.classifier.parameters()
        },
        {
            'params': model.ernie.parameters(),
            'learning_rate': args.learning_rate * args.diff_lr_factor,
            'weight_decay': args.we

[2022-01-08 15:30] #1476 closed, assigned to Steffy-zxf

[2022-01-09 03:54] dongandi commented on #1545
你好，在feature_extract.py里面需要补充的这三个参数在eature_extract.sh并没有，我就想进行第一步生成embedding向量，是需要运行feature_extract.py还是运行eature_extract.sh，
![image](https://user-images.githubusercontent.com/59283713/148668508-6f33f48b-fa36-4670-93a7-88c1da24d5ed.png)

我运行eature_extract.sh在虚拟机，报另外一个错误数据是从您们团队提供的lian链接下载的
![{AMH59N(04Y1HWQUBO@S~$2](https://user-images.githubusercontent.com/59283713/148668714-661babb6-dd11-4ebb-b6f

[2022-01-09 09:51] githanyongjin commented on #1565
examples下面的rnn

[2022-01-09 11:12] ZeyuChen commented on #1565
@Steffy-zxf 看看text_classification/rnn 下的deploy脚本是否随着paddle的版本升级失效了。

[2022-01-09 11:17] githanyongjin opened #1572 "AssertionError: downloading from ./models/ernie-1.0/model_state.pdparams not a url"
使用ppnlp.transformers.ErnieForSequenceClassification.from_pretrained('./models/ernie-1.0/')参数为已经下载好的预训练模型的地址，报错AssertionError: downloading from ./models/ernie-1.0/model_state.pdparams not a url；这是为什么？
用 “ernie-1.0” 作为参数传入，然后让模型自己下载并加载预训练模型，这个没有报错。但是当我用下载路径指定的时候就报错了。

[2022-01-09 11:21] ZeyuChen commented on #1572
请确认下paddlenlp是否用的是最新版本，以及本地执行路径下./models/ernie-1.0/这个目录是否确实存在。@githanyongjin

[2022-01-10 03:03] wawltor commented on #1566
看起来上面的使用方式是在 LinearDecayWithWarmup, 而不是在Optimizer，辛苦在Optimizer上使用该方式？

[2022-01-10 03:32] zouhan6806504 commented on #1566
parameters不是放在LinearDecayWithWarmup的，是放在optimizer中
 lr_scheduler = LinearDecayWithWarmup(args.learning_rate, num_training_steps, args.warmup_proportion)
这里已经结束定义了
optimizer里面使用了这种lr调整方法

[2022-01-10 05:21] wawltor commented on #1566
具体使用的是哪个示例了，麻烦提供一下复现环境，我们来debug一下

[2022-01-10 06:41] zouhan6806504 commented on #1566
项目“网络事件分类”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/3401420/5421626e34284fc88f3af17af496b55f
逐行执行代码
更改启动参数diff_lr_factor即可，运行的类是train_netcase

[2022-01-10 07:39] zouhan6806504 commented on #1566
我觉得找到问题了，似乎param里面的lr是乘到原始lr上，而不是替换，我是按照替换写的

[2022-01-10 11:22] wawltor commented on #1566
OK 解决问题就好

[2022-01-10 12:48] tianxin1860 opened #1576 "在做向量检索的时候如何处理超长文本？"
请问在做向量检索的时候，如果文档包含的文本很长，有几千字甚至上万字，而bert类模型输入token一般最多为512个，此时如何对文档向量化？

[2022-01-10 12:52] tianxin1860 commented on #1576
1. 建议从超长文本中抽取出核心句子进行语义向量编码即可，核心句子长度一般不会超过 512，而且可以覆盖文档的核心语义。
2. 如果必须针对全文进行语义向量编码，建议将文档切分成多个 512 的片段即可，然后对多个片段分别进行向量编码，最后采用 mean_pooling 进行融合。

[2022-01-11 03:18] yingyibiao commented on #1572
你好，使用from_pretrained接口加载本地的模型的时候需要传入模型所在文件夹地址（包含model_state.pdparams和model_config.json）。
上述方法一般是需要配合save_pretrained接口使用，先将模型通过save_pretrained接口保存在本地文件夹（会保存model_state.pdparams和model_config.json两个文件），再通过from_pretrained接口加载。

[2022-01-11 06:50] #1491 closed, assigned to linjieccc

[2022-01-11 07:23] zpp13 opened #1578 "ernie-doc imdb数据集 复现问题"
python3.7，paddlepaddle2.1.1，运行命令是python3.7 examples/language_model/ernie-doc/run_classifier.py --batch_size 8 --model_name_or_path ernie-doc-base-en
里面的参数没改，我看默认是imdb数据集，训练过程中，acc先上升到了0.7+，但是后来一直下降，请问有人碰到这种问题吗？
![1641885610(1)](https://user-images.githubusercontent.com/33889654/148898657-64a09c86-df71-42b7-b3f5-04a5d0a3b54d.png)
![1641885621(1)](https://user-images.githubusercontent.com/33889654/1

[2022-01-11 10:28] zouhan6806504 commented on #1576
如何确定核心句？如果也是智能抽取，那抽取过程的准确程度也会影响后面的向量编码吧

[2022-01-11 10:53] LiuChiachi commented on #1551
https://github.com/PaddlePaddle/PaddleNLP/issues/1479

[2022-01-11 10:55] LiuChiachi commented on #1551
词表变成30w的话，砍掉的部分就是unk了吧

[2022-01-11 12:54] ScottishFold007 opened #1579 "ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [5, 12, 12, 12] and the shape of Y = [5, 12]. Received [12] in X is not equal to [5] in Y at i:2."
你好！我在使用ErnieGramMode处理批量的语句的输入的时候，出现了如下报错，麻烦大牛给与指导：

![image](https://user-images.githubusercontent.com/36957508/148946063-4ee2a999-b4d4-4e6d-8c32-aff0a618dd5a.png)
代码如下：
[code]
报错如下：
`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-25-64433bbcb6f2> in <module>()
     21
     22
-

[2022-01-12 02:32] zpp13 commented on #1578
最终训练结果是
![image](https://user-images.githubusercontent.com/33889654/149053380-db28633c-7b68-4ef9-bfd7-4638c731bfd1.png)
请问有人跑过ernie-doc的训练吗？会碰到这样的问题吗？

[2022-01-12 03:17] tianxin1860 commented on #1576
一般通过人工先验规则抽取即可，例如: 全文每个自然段第一句话，默认是这个自然段的概括。智能抽取或者人工规则都没法做到 100% 准确，在业务系统上需要不断优化迭代。

[2022-01-12 09:23] shguan2018 opened #1582 "想利用 paddleslim 来蒸馏 text_matching 中的 simcse 生成的模型,请问怎么操作?"
现在 simcse 生成的模型很大, 有几百兆,  还有 simbert 中的 simbert-base-chinese 模型也很大,
怎样利用 paddleslim 来蒸馏，压缩这些模型使其变小?  有没有具体的例子可供参考?

[2022-01-12 11:38] w5688414 commented on #1545
[code]
params_path是模型的参数，corpus_file是你的文本文件，similar_text_pair是召回的测试文件，这个参数是多余的，我后面把它去除。

模型可以使用inbatchnegatives里面训练的模型：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative

https://bj.bcebos.com/v1/paddlenlp/models/inbatch_model.zip

这是目录结构：

[code]

[2022-01-12 12:32] LiuChiachi commented on #1582
您好，您可以参考
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression/ofa
进行实践，有问题欢迎再联系我们:)

感谢关注

[2022-01-13 02:47] shguan2018 commented on #1582
谢谢，我试试

[2022-01-13 09:42] NatLee opened #1589 "使用pretrained model預測值每個session都不同"
你好，我想請教關於模型預測的問題。

我用照著PaddlePaddle官方教程 [『NLP经典项目集』02：使用预训练模型ERNIE优化情感分析](https://aistudio.baidu.com/aistudio/projectdetail/1294333)去試著使用預訓練模型進行預測發生了不同session預測的值都不一樣的狀況。

以下是我用來load model的code，裏面也是節錄自教程。
[code]

下面兩個session是我測出來的兩次結果。

- Session 1

[code]

- Session 2

[code]

針對教程裏面提供的預測資料第三筆`作为老的四星酒店，房间依然很整洁，相当不错。机场接机服务很好，可以在车上办理入住手续，节省时间。`來說，第一個session預測的時候，logits是`[ 0.33032602, -0.19545904]`，

[2022-01-13 10:03] pyh13258102131 opened #1590 "RNN文本分类模型训练命令有误"
PaddleNLP/examples/text_classification/rnn/模块下，模型训练训练命令python train.py --vocab_path='./senta_word_dict.txt' --device=cpu --network=bilstm --lr=5e-4 --batch_size=64 --epochs=10 --save_dir='./checkpoints'中vocab_path参数多了空格，应改为python train.py --vocab_path=./senta_word_dict.txt --device=cpu --network=bilstm --lr=5e-4 --batch_size=64 --epochs=10 --save_dir='./checkpoints'，方可正常运行

[2022-01-13 13:37] Colourful10 opened #1591 "小白求问：原始的数据集存在一个谓词对应两种客体的情况，所以设计的@value，但如果我要实现的关系抽取任务中，谓词与客体都是一对一的关系，不知道是否还需要设置@value呢？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-01-14 01:11] JunnYu commented on #1589
发现你调用的时候使用的是`MODEL_NAME = "ernie-tiny"`这个模型，而这个模型并未在下游的情感分析任务上进行finetuning，因此模型的classifier权重是不固定的，从而导致了模型预测结果是随机的。
解决方法：先参照教程在下游任务上进行微调，然后再使用微调好的模型进行预测。

[2022-01-14 01:27] JunnYu commented on #1579
**首先分析报错信息：**
`Operands could not be broadcast together with the shape of X = [5, 12, 12, 12] and the shape of Y = [5, 12]` 表明在进行元素级别相加的op时候，由于两个输入的shape形状不一样，因此无法通过广播机制进行相加。
- 其中`X=[5,12,12,12]`表示的是`[batch_size, num_heads, sequence_length, sequence_length]`，这个是多头自注意力机制中`Q,K`通过矩阵乘法得到的结果。
- 而`Y=[5, 12]`表示的是模型输入`attention_mask`的维度，表示的是`[batch_size, sequence_length]`。
通过查看如下源码，发现模型当前不支持2D的`attention_

[2022-01-14 02:22] NatLee commented on #1589
@JunnYu 感謝你迅速的回覆，我直接使用`ernie-1.0`也是隨機的結果，這兩個都是隨機的classifier權重嗎？
想順道請問，是哪邊有導致權重變成隨機的，或是在代碼裏面有哪部分是有關於這個資訊的嗎？

謝謝！

[2022-01-14 04:23] JunnYu commented on #1589
@NatLee `ernie-1.0`和`ernie-tiny`作为预训练模型的权重，他们是在大规模无监督语料上使用MLM任务训练出来的，由于只学习到了通用知识，因此该训练好的权重无法直接完成下游具体的任务，比如说：情感分析，文本分类，序列标注，问答等任务。但是这些权重却可以作为一种很强力的特征提取器来获得含有上下文语义信息的文本表示。
- 下面是`ErnieForSequenceClassification`的代码，其中这个模型只加载了`ernie`部分的权重。
https://github.com/PaddlePaddle/PaddleNLP/blob/60608d3906862a71c96045bbbeac09b487f00e53/paddlenlp/transformers/ernie/modeling.py#L384-L452

- 而下面一行就是我所说的随机初始化的classi

[2022-01-14 06:27] joey12300 commented on #1578
@zpp13 由于不同任务、不同数据集所设的超参数差别较大，可查看[ERNIE-Doc](https://arxiv.org/abs/2012.15688)论文附录中具体超参设定。一般经验，batch size的值与学习率的值成正比。如下图所示，batch size为32时，学习率设为7e-5，那么当我们使用batch size为8时，那么学习率就可以往下调至1.75e-5。
![image](https://user-images.githubusercontent.com/10826371/149447206-5f6aa4a2-3583-4826-b386-a8e0b1347d2a.png)

[2022-01-14 06:33] Steffy-zxf commented on #1590
@pyh13258102131 感谢反馈！我们非常欢迎开发者对PaddleNLP repo贡献？不知您是否方便提PR修改其中的错误呢？

[2022-01-14 06:41] Steffy-zxf commented on #1591
@Colourful10 你好！如果使用https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuIE
需要添加@value

[2022-01-14 06:48] ZTurboX opened #1592 "Word Tag部署"
如果想在服务端部署，并且提高推理性能，是不是可以用paddle serving对taskflow中的knowledge mining改造？

[2022-01-14 06:53] zpp13 commented on #1578
感谢回复，是我大意了，以为默认参数就是适合的参数了，我去改下参数，稍后会更新结果。

[2022-01-14 07:19] pyh13258102131 commented on #1590
可以

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleNLP"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月14日(星期五) 下午2:33
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [P

[2022-01-14 07:52] NatLee commented on #1589
@JunnYu 感謝回覆！我直接使用AIStudio的高級版，在線上去微調了pre-trained model後，預測結果都沒變了 :)

可是又遇到一個問題，就是我使用公開資料集[online shopping](https://github.com/SophonPlus/ChineseNlpCorpus/blob/master/datasets/online_shopping_10_cats/intro.ipynb)想進行準確性驗證的時候，預測到`第174筆`資料出現了out of memory的狀況。

[code]

重啓多次試驗都還是一樣的結果，想請問這邊要如何解決顯存一直爆滿的狀況？
或是說paddle在predict結束後要進行release的話，paddle中有api可以呼叫嗎？

再麻煩您了！謝謝！

- Online notebook screenshot
![imag

[2022-01-14 08:16] wawltor commented on #1592
嗯嗯，后续Taskflow会增加相关的服务部署的功能。不过目前来说不太建议直接用paddle serving对Taskflow任务进行部署，更加倾向于Taskflow进行建议部署，我们后续会考虑在https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge相关目录增加部署相关代码

[2022-01-14 08:38] NatLee commented on #1589
補充：經過一到兩次predict後會增加`8Mib`左右的memory使用量，看起來是paddle一直把結果keep在memory中...

- GPU Memory 增長量

![image](https://user-images.githubusercontent.com/10178964/149477944-58ee0f22-a53f-4f18-a301-487fc9ea21cd.png)

- 使用CPU也會記憶體資源耗竭

![image](https://user-images.githubusercontent.com/10178964/149489280-1ec5ffd3-c65f-44b0-b20d-2d0763f08cfd.png)

[2022-01-14 08:38] shguan2018 commented on #1582
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/simcse
此处训练以后，获得的模型比较大，400M 左右，我仅仅想获得 句子的 embedding, 但是速度慢 (CPU 环境下),
请问，怎样能压缩，蒸馏 使模型变小，获得句向量更快?
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression  中没有类似的例子，搞不定.
谢谢

[2022-01-14 09:33] JunnYu commented on #1589
@NatLee

- 我发现这个`utils中的predict`代码没有加`paddle.no_grad`装饰器，可能是这个原因导致模型每次预测的时候都缓存了梯度信息，从而导致GPU使用量不断增加，你可以考虑添加一下这个装饰器试一试。
[code]
![image](https://user-images.githubusercontent.com/50394665/149492825-98e89143-c607-4743-b06d-73f710ad4bbd.png)

[2022-01-14 17:26] NatLee commented on #1589
@JunnYu 非常感謝！的確是少了那個裝飾器導致顯存爆炸！
目前測試一切都正常，謝謝！

[2022-01-14 17:26] #1589 closed, assigned to Steffy-zxf

[2022-01-15 09:47] hongdd opened #1594 "文本匹配当中的simbert 模型找不到，不支持"
Traceback (most recent call last):
  File "predict.py", line 89, in <module>
    'simbert-base-chinese', pool_act='linear')
  File "/data/miniconda3/envs/paddle2.1/lib/python3.6/site-packages/paddlenlp/transformers/model_utils.py", line 204, in from_pretrained
    ), pretrained_model_name_or_path))
ValueError: Calling BertModel.from_pretrained() with a model identifier or the path to a directory i

[2022-01-16 16:04] Wu-Jiayang opened #1595 "自定义模型想使用generate函数有哪些需要注意的地方？"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.3，PaddlePaddle2.2.1

刚接触paddle的本科生小白，想修改模型结构，请教一下，自己搭建的模型想使用generate函数，除了需要继承GenerationMixin类、实现forward函数以外，还需要实现或重写哪些函数？或者说有哪些需要注意的地方？比如多输出模型？

[2022-01-17 02:40] chenpe32cp commented on #1331
老师好，请问如果名词短语的类别数目扩展到两万+，请问该方法是否适用呢

[2022-01-17 02:47] zpp13 commented on #1578
记录一下：batch size=8,lr=1.75e-5,三个epoch，final Accuracy = 0.95572

[2022-01-17 02:47] #1578 closed, assigned to joey12300

[2022-01-17 03:22] LiuChiachi commented on #1582
我理解是你需要把这里用到的ERNIE模型进行压缩，https://github.com/PaddlePaddle/PaddleNLP/blob/a5f8a3ec9d4a5363d4d3644ad06773db76a8a503/applications/neural_search/recall/simcse/model.py#L65
你可以参考https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression
下面的tinybert或者ofa，在下游任务上对模型进行蒸馏压缩，使模型规模减小，从而加快推理速度

[2022-01-17 03:23] linjieccc commented on #1331
你好，请问具体希望应用到什么场景中呢？
如果名词短语类别都有对应标注好的样本的话，可以参考这个示例在自己的样本集上进行增量训练，定制自己版本的NPTag：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_to_knowledge/nptag

[2022-01-17 03:31] shguan2018 commented on #1582
多谢回复，是的，是这个意思，想对模型进行压缩蒸馏，使模型变小,可以加快推理速度（CPU 环境下）,奈何是初学者，看了好几天的 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/model_compression  文档，也没有搞定.

[2022-01-17 03:32] LiuChiachi commented on #1582
可以尝试下tinybert和ofa，先跑下例子～然后把模型和数据集换成自己的就可以实现了～

[2022-01-17 03:38] shguan2018 commented on #1582
好的，谢谢， 我再试试吧

[2022-01-17 03:53] wawltor commented on #1594
simbert和BERTModel这块的是有区别的，所以功能没有通过from_pretrained来展示；可以直接使用Taskflow来使用相关功能 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E6%96%87%E6%9C%AC%E7%9B%B8%E4%BC%BC%E5%BA%A6

[2022-01-17 07:48] Parker0000 commented on #1257
@rela0426 如果可以的话，请分享一下解决思路，谢谢。

[2022-01-18 02:15] chenxiaozeng commented on #1595
你好，如果是常见的预训练模型，PaddleNLP都是内置好了的。可以描述下具体需求，比如是想复现哪篇paper吗？

[2022-01-18 02:23] chenxiaozeng commented on #1592
@zhentaoCoding 您好，我们想了解下您使用knowledge mining的具体场景和推理性能要求，以便更好得支持您的需求。这是我们的联系方式：邮箱 paddlenlp@baidu.com，方便的话可以留下您的联系方式，我们 1 对 1 沟通下

[2022-01-18 02:45] wennyHou commented on #665
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/pytorch_project_convertor/API_docs/utils/torch.nn.parameter.Parameter.md

[2022-01-18 03:55] ZTurboX opened #1600 "DNN语言模型"
百度AI开放平台中DNN语言模型计算词在句子中的概率和ppl是怎么做的？是用transformer类的预训练语言模型吗？有么有学习案例？

[2022-01-18 06:49] smallv0221 commented on #1600
Could you please provide the link of the DNN lm project?

[2022-01-18 06:56] smallv0221 commented on #1595
Usually it is better to Inherit `PretrainedModel` class instead of `GenerationMixin`. And you may need to write something like `GPTLMHeadModel` which contains your own `prepare_inputs_for_generation()` method.

[2022-01-18 08:55] Wu-Jiayang commented on #1595
自己写paper

[2022-01-18 09:10] Wu-Jiayang commented on #1595
I plan to inherit the `UnifiedTransformerPretrainedModel` class and write something like `UnifiedTransformerModel` and `UnifiedTransformerLMHeadModel`. Is `prepare_inputs_for_generation()` method the only thing I need to concern if I write a multiple-input and multiple-output model?
![image](https://user-images.githubusercontent.com/62842862/149903866-47a237df-0c23-4dad-a7a5-bcac6d0807d1.png)

[2022-01-18 09:27] Wu-Jiayang commented on #1595
想在传统UnifiedTransformerLMHeadModel模型的基础上增加输入参数和输出参数，并使用generate函数进行生成

[2022-01-18 09:38] smallv0221 commented on #1595
As you can see in `generation_utils.py`.
![image](https://user-images.githubusercontent.com/33639025/149910047-dd4488f9-f479-4194-badf-b41138ab6102.png)
There are only two main concern.
1. Make sure the output of your `prepare_inputs_for_generation` and the input of your Model matches.
2. If you Model have multiple-output, It must return `Tuple` and `logits` must be the first element of that tuple

[2022-01-18 09:48] Wu-Jiayang commented on #1595
Thanks a lot ! I will have a try.

[2022-01-18 14:13] hl123-123 opened #1601 "cannot import name 'ErnieGramTokenizer' from 'paddlenlp.transformers'"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![12](https://user-images.githubusercontent.com/75974455/149953270-8978e908-0b6d-4db2-9bc0-f29258acaa99.jpg)
我不懂为啥会出现这个导包的错误问题，https://paddlenlp.readthedocs.io/zh

[2022-01-19 07:27] hermitgreen opened #1604 "Albert推理稳定性问题"
PaddleNLP 2.2.3，PaddlePaddle-gpu 2.2.1
Python 3.8.11 Linux

发现在使用过程中，不同的batch_size得到的结果截然不同的，
我尝试输出了一下pooled_output，发现batch_size分别为32和64的，总共长度为128的数据集，在L33出现了diff，

[code]

[2022-01-19 07:29] hermitgreen commented on #1604
运行命令 python xxx.py > res
在上述的输出中，从L33开始出现diff

[2022-01-19 07:31] hermitgreen commented on #1377
https://github.com/PaddlePaddle/PaddleNLP/issues/1604

[2022-01-19 07:46] ForFishes opened #1605 "【内存问题】GPT/Bert模型初始化后无法释放CPU内存"
环境最新的PaddleNLP 代码。

[code]

在cpu上声明了bert模型后，在调用del，无法释放内存。这里初步调查原因是由于``BertModel``继承了``BertPretrainedModel``导致的，如果继承``nn.Layer``那么就可以释放。怀疑存在引用计数无法释放的问题。

[2022-01-19 08:42] yingyibiao commented on #1604
感谢您的问题～
对于Albert模型，模型推理时候需要传入 attention_mask 来mask掉不需要的token。
可以通过 tokenizer(text=raw_input, max_seq_len=128, return_attention_mask=True) 输出相应的attention_mask。

[2022-01-19 09:28] ZHUI commented on #1605
[code]

详见：https://stackoverflow.com/questions/15455048/releasing-memory-in-python

可以试试 del 模型后，显式调用`gc.collect`。

[2022-01-19 09:32] wawltor commented on #1601
辛苦提供一下PaddleNLP的版本

[2022-01-19 10:38] shguan2018 opened #1607 "PaddleNLP/blob/develop/applications/neural_search/recall/in_batch_negative/ 中的模型访问速度很慢"
环境:
paddlenlp 2.2.3
paddlepaddle-gpu 2.21.post110
paddle-serving  0.7.0

使用的模型
https://bj.bcebos.com/v1/paddlenlp/models/inbatch_model.zip

in_batch_negative 项目中,使用 export_to_serving.py 导出将来在 paddle serving 所使用的模型，成功
然后,使用 deploy/python/web_service.py 来启动加载模型.
用 rpc_client.py 能访问,能获得句子向量, 但速度很慢.

但  deploy/python/predict.py 直接访问 inference.get_pooled_embedding.pdiparams,能获得句子向量,速度就非常快. (用 export_mo

[2022-01-19 11:37] hermitgreen commented on #1604
加上这段以后，在L33仍然发现了diff

[2022-01-19 13:51] hl123-123 commented on #1601
Successfully installed paddlenlp-2.2.3

[2022-01-20 02:48] kg-nlp opened #1608 "text_to_knowledge：ernie-ctm训练"
您好：

在使用ERNIE-CTM微调wordtag中生成的模型文件为model_state.pdparams；
使用自定义模型 wordtag = Taskflow("knowledge_mining", task_path="./custom_task_path/")
程序加载过程中还是会去下载model_state.pdparms

请问model_state.pdparms和model_state.pdparams的区别是什么

使用环境
paddlenlp 2.2.3
paddlepaddle 2.2.1

[2022-01-20 02:53] ZHUI commented on #1608
应该都是，`pdparams` , 命名有误。

[2022-01-20 02:56] w5688414 commented on #1607
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/requirements.txt
安装一下requirements：

[code]

[2022-01-20 03:20] kg-nlp commented on #1608
手动修改ok

[2022-01-20 03:25] linjieccc commented on #1608
@kg-nlp  感谢反馈~已提PR修改

[2022-01-20 03:29] Prsaro commented on #932
我遇到的也是这个问题，把源码中的
`for i, logit in enumerate(inputs_t[:max_seq_len]):`
改为
`         for i, logit in enumerate(inputs_t[:int(max_seq_len)]):`
就可以跑通了，但是部署的时候可改不了源码呀

[2022-01-20 03:45] dengmingD opened #1610 "纠正错别字问题"
纠正错别字：
输入：叁任伍佰万元整
输出：叁年伍佰万元整
目标输出：叁仟伍佰万元整
有什么好思路，谢谢

[2022-01-20 03:52] yingyibiao commented on #1604
同如流沟通，需要在模型输入处传入attention_mask参数～

[2022-01-20 03:56] #1243 closed, assigned to yingyibiao

[2022-01-20 03:58] #1089 closed, assigned to joey12300, Steffy-zxf

[2022-01-20 03:58] #799 closed, assigned to tianxin1860, yingyibiao

[2022-01-20 05:09] dengmingD commented on #1610
from paddlenlp import Taskflow
text_correction = Taskflow("text_correction")
res = text_correction('今天签了份大合同，金额有叁任伍佰万元整。')
print(res)

[{'source': '今天签了份大合同，金额有叁任伍佰万元整。', 'target': '今天签了份大合同，金额有叁年伍佰万元整。', 'errors': [{'position': 13, 'correction': {'任': '年'}}]}]

[2022-01-20 05:13] joey12300 commented on #1610
@dengmingD  请问你有一套完整的纠错数据集吗？目前TaskFlow的纠错模型是基于Automatic Corpus Generation生成的中文纠错数据集以及SIGHAN数据集上训练的，如果你有一套详尽的纠错数据集，可以参考以下链接训练你的纠错模型：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_correction/ernie-csc

[2022-01-20 05:32] shguan2018 commented on #1607
都装了.

[2022-01-20 07:39] yt605155624 opened #1611 "seqeval 依赖问题"
PaddleSpeech 目前的依赖有 paddlenlp, paddlenlp 有个依赖是 seqeval, 由于未知问题，PaddleSpeech 在 CI 流水线上安装 seqeval 的时候总会 hang 住，严重影响 CI ， seqeval 是否是 paddlenlp 的强依赖，是否可以删掉呢？
（当然 seqeval 可能是很多库的依赖，因为 ocr  CI 的时候不会下载 paddlenlp， 但是也下载 seqeval 了，也 hang 了）

[2022-01-20 07:41] #1608 closed, assigned to linjieccc

[2022-01-20 07:44] w5688414 commented on #1607
paddle-server装gpu版本试试，paddle-serving-server-gpu

[2022-01-20 10:05] kg-nlp opened #1613 "Taskflow 无法指定显卡"
您好：

wordtag = Taskflow("knowledge_mining", model="wordtag", device_id=3,task_path="./custom_task_path/",linking=False)
指定显卡序列3
但在程序运行时仍然要判断0号显卡
Please check whether there is any other process using GPU 0.
1. If yes, please stop them, or start PaddlePaddle on another GPU.
2. If no, please decrease the batch size of your model.

使用环境
paddlenlp 2.2.3
paddlepaddle 2.2.1

[2022-01-20 11:22] LiuChiachi opened #1614 "PaddleNLP 2.2.4 Release Note Candidate"
我们很高兴的发布 PaddleNLP 2.2.4 版本，主要是对 2.2.3 中一些功能的修复，并对部分功能点和文档做了增强，重点如下：

# 新功能

*  新增西班牙语和荷兰语实体识别数据集 CoNLL-2012。 #1561

# 功能优化

* 小模型 PP-MiniLM 接入 FasterTokenizer，量化、裁剪后的模型推理速度达到 BERT<sub>base</sub> 的 8.8 倍。#1542
* Transformer 动态图支持 O2 级别 AMP 训练。#1574
* 语义索引应用增加Paddle Serving支持。 #1558

# 问题修复

* 修复 ERNIE-Doc 模型 NLTK 包模型下载的错误。#1515
* 修复多个 Transformer 模型在 FP16 精度下 `attention_mask` 计算溢出的错误。#1585
* 修复 LA

[2022-01-20 11:49] Wu-Jiayang commented on #1595
@smallv0221 I found that my second output is used as cache somewhere and that leads to some mistakes, how can I fix this?

[2022-01-20 12:19] kg-nlp opened #1617 "wordTag是否支持自定义词典"
您好：
      在使用taskflow 的 wordtag模式，有些词错误切分，是否支持自定义词典强制校正

使用环境
paddlenlp 2.2.3
paddlepaddle 2.2.1

[2022-01-20 12:25] linjieccc commented on #1613
您好，`unset CUDA_VISIBLE_DEVICES`后再试下呢
![image](https://user-images.githubusercontent.com/40840292/150338308-1665a87d-7755-4734-a9aa-0a81a09af619.png)

[2022-01-20 12:28] linjieccc commented on #1617
您好，WordTag支持用户装载自定义词典对输出结果进行干预，可以参考这里的使用示例：
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md#%E8%87%AA%E5%AE%9A%E4%B9%89%E8%AF%8D%E5%85%B8-3

[2022-01-20 13:52] hebo1982 commented on #1617
paddlenlp 2.2.3 不行的

需要用develop版本

[2022-01-20 16:25] wozhendexihua1 opened #1619 "你好，我在复现语义检索但是出现一些问题"
环境是虚拟机，日志上出现了PaddleNLP-develop/applications/neural_search/venv/bin/python: can't open file 'feature_extract.py': [Errno 2] No such file or directory
我在使用milvus运行feature_extract.sh想生成向量
![image](https://user-images.githubusercontent.com/98111275/150379569-f9dcb5b2-d1f1-4aa8-9744-f1fddc39b488.png)
报的错如图所示

[2022-01-21 00:04] ZTurboX commented on #1592
用于合同抽取，对文章标注label。在cpu下单篇文章标注最好控制在3s内。目前我再考虑是不是可以对模型压缩蒸馏。联系方式zt950607@foxmail.com

[2022-01-21 00:08] ZTurboX commented on #1600
https://ai.baidu.com/ai-doc/NLP/0k6z52fb4

[2022-01-21 01:12] kg-nlp commented on #1613
您好，仍然存在问题

`[2022-01-21 09:09:58,123] [    INFO] - Already cached /home/zhangyj-n/.paddlenlp/models/wordtag/vocab.txt
[2022-01-21 09:09:58,158] [    INFO] - Already cached /home/zhangyj-n/.paddlenlp/models/wordtag/wordtag_pos.pdparams
W0121 09:09:58.161566 184825 device_context.cc:447] Please NOTE: device: 2, GPU Compute Capability: 7.5, Driver API Version: 10.1, Runtime API Version: 10.1
W0121 09

[2022-01-21 01:15] kg-nlp commented on #1613
设置为device_id = 0 程序正常运行

[2022-01-21 01:35] kg-nlp commented on #1617
@linjieccc 谢谢，已经测试通过了
@ananas-hebo
谢谢，我目前在paddlenlp 2.2.3这个环境测试是没有问题的

[2022-01-21 07:39] w5688414 commented on #1619
确保你运行的目录有：

[code]
文件
教程里的运行是：

[code]
在scripts外面运行的

[2022-01-21 08:27] smallv0221 commented on #1595
![image](https://user-images.githubusercontent.com/33639025/150492711-73d3ae4d-e12f-4ed3-9744-b2d03e3acd0a.png)
If the second output is not cache, you may need to rewrite `update_model_kwargs_for_generation` as well.

[2022-01-21 08:42] ZeyuChen commented on #1611
@yt605155624 seqeval应该是个很常见下载量很大的依赖，本身不大，是否可以让QA检查下这块的CI流水线网络有问题？如果OCR也有同样问题的话，应该着重解决这个网络问题。

[2022-01-21 11:00] gaojing8500 commented on #1619
路径不对

[2022-01-22 07:38] pyh13258102131 opened #1623 "NLP数据标注"
examples\information_extraction\msra_ner实体命名识别，目前想用自己的文本数据来进行训练模型，请问有没有什么办法或者工具可以将我自己的文本数据标注为符合训练格式的数据呢

[2022-01-22 09:15] Maydaytyh opened #1624 "ERNIE-doc分类问题 预训练模型ernie-doc-base-zh加载错误"
paddlepaddle和paddlenlp版本信息如下图所示
![image](https://user-images.githubusercontent.com/13815598/150632430-d8ef35ea-19f9-4264-8127-a256adcfa190.png)
报错信息如下所示
![image](https://user-images.githubusercontent.com/13815598/150632454-91204c7c-2ac5-40c9-921e-57de969f02a3.png)
模型选择部分为
![image](https://user-images.githubusercontent.com/13815598/150632476-603ec006-664f-41ab-ba0f-38ad4f5d68d5.png)
请问这是什么情况呢？

[2022-01-22 11:40] wozhendexihua1 commented on #1619
很感谢，我报的另外一个问题ABORT!!! Out of all 1 trainers, the trainer process with rank=[0] was aborted. Please check its log.查看日志后是模型没读进来吗？
![image](https://user-images.githubusercontent.com/98111275/150637044-9661bd17-18a0-4790-8708-75fde1065590.png)

[2022-01-22 14:16] zy41796745 opened #1625 "You are going to using gloo on windows, but currently is not supported"
1）PaddlePaddle版本：PaddlePaddle2.2.2
2）系统环境：Windows
一运行就报：You are going to using gloo on windows, but currently is not supported

[2022-01-23 05:17] tianxin1860 commented on #1623
为了保证标注效果，建议人工将自己的数据按照标注格式处理好。

[2022-01-23 05:20] tianxin1860 commented on #1625
请问运行什么代码报这个错？

[2022-01-23 05:33] zy41796745 commented on #1625
您好老师，给我感觉像是model_state.pdparams这个文件格式不对导致的，我https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/question_matching下载的model_state.pdparams文件的文件夹是model_20000命名的，我看网页中示例代码中是model_10000文件夹命名的，所以我想是不是我下载的版本不对，详细的错误堆栈，我贴在下面了，老师帮忙指导一下哈，谢谢老师。
&nbsp;&nbsp;python -u \
    predict.py \     --device gpu \     --params_path "./checkpoints/model_10000/model_state.pdparams" \     --batch

[2022-01-23 09:37] QianMuluo opened #1626 "基于特定领域的多轮对话系统"
如何使用pddlenlp提供的预训练模型基础上，采用少量的对话样本（几百条），实现在特定领域的多轮对话呢？
目前现实场景是在心理咨询领域，针对用户提出的心理咨询问题进行回答或推荐有关资料，进行多轮对话，达到一定的心理咨询效果

[2022-01-23 13:06] Maydaytyh commented on #1624
问题应该出在 我使用ernie-doc-base-zh的时候应该使用ErnieDocTokenizer，而不是ErnieDocBPETokenzier，已解决

[2022-01-23 13:06] #1624 closed, assigned to joey12300

[2022-01-23 13:22] w5688414 commented on #1619
这看上去是你的gpu没配置正确，然后你现在使用的是cpu，有点慢

[2022-01-23 15:31] Maydaytyh opened #1627 "ERNIE-doc分类问题 出现CUDA"
paddlepaddle和paddlenlp版本信息如下图所示
![image](https://user-images.githubusercontent.com/13815598/150632430-d8ef35ea-19f9-4264-8127-a256adcfa190.png)

当我设置max_seq_length为1024时，会出现如下报错，但是设置为512，便可以正常运行。
![image](https://user-images.githubusercontent.com/13815598/150686048-1d3fe629-47b4-4b6d-b78c-8ebc24bb5b08.png)

如果使用cpu运行会出现下图的错误看之前的issue出现这样的情况是词表和输入文本大小不匹配？这里不太理解，词表指的是什么呢，是vocab.txt吗？如果是vocab.txt的话，这

[2022-01-24 02:14] joey12300 commented on #1627
@Maydaytyh 你好，ernie-doc是将长文本切成若干个等长的短文本，再分别输入到以ernie为核心的模型里。而ernie只能接受长度小于等于512的文本，输入1024长度的会出现错误。

[2022-01-24 02:51] Maydaytyh commented on #1627
soga，了解了，其实ernie-doc是将长文本分割成若干个短文本后，在训练的时候也会同时考虑多个短文本，而不是把每个短文本当做一个独立的样本来进行训练对吧？

[2022-01-24 02:52] Maydaytyh commented on #1627
@joey12300  soga，了解了，其实ernie-doc是将长文本分割成若干个短文本后，在训练的时候也会同时考虑多个短文本，而不是把每个短文本当做一个独立的样本来进行训练对吧？

[2022-01-24 02:53] joey12300 commented on #1627
是的，以往的预训练模型都是采取截断的方式，将过长的部分舍弃掉。而ernie-doc是把长文本中所有部分都考虑到了，不存在舍弃。

[2022-01-24 02:53] Maydaytyh commented on #1627
明白了，感谢！

[2022-01-24 02:53] #1627 closed, assigned to nobody

[2022-01-24 03:23] smallv0221 commented on #1626
您好，目前PaddleNLP的UnifiedTransformer系列模型可以实现多轮对话，您可以参考[unifiedtransformer](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer)下的示例进行finetune，但是只有几百条数据可能得不到太好的效果。

[2022-01-24 07:57] turkeymz opened #1631 "ernie-gram运行添加attention_mask报错"
- 版本、环境信息
1）PaddleNLP 2.2.3，PaddlePaddle-gpu 2.2.1.post101
2）系统环境：aistudio python3.7
- 复现信息：
使用ernie-gram直接跑千言文本相似度时，如果输入加上attention_mask会报错。差不多的代码假设在pytorch里面能运行成功。
具体错误如下：
ValueError: (InvalidArgument) Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [256, 12, 64, 64] and the shape of Y = [256, 64]. Received [64] in X is not equal to [256] in Y at i:2.

[2022-01-24 11:44] shayuewt commented on #1401
我仔细对比了paddle版本与tf版本的实现，发现可能是方向搞错了。我参照tf版本的方向后，loss下降后再也不会变为负数。

具体方向出错的代码为（上述个人实现）：

[code]

我更改到了：

[code]

[2022-01-24 11:44] #1401 closed, assigned to joey12300

[2022-01-25 01:39] JunnYu commented on #1631
问题与https://github.com/PaddlePaddle/PaddleNLP/issues/1579 一致

[2022-01-25 01:44] ZeyuChen commented on #1579
@JunnYu 这问题是否需要解决呢？需要的话提交一下pr解决下这个问题？

[2022-01-25 01:44] turkeymz commented on #1631
感谢回答。那能不能将这种转换添加到模型里面？因为现在感觉就像是tokenizer出来的数据不能直接用于模型

[2022-01-25 01:58] gaoyuan211 opened #1646 "ernie 多卡运行报错，求助！"
W0124 17:39:37.448936  6056 dynamic_loader.cc:238] You may need to install 'nccl2' from NVIDIA official website: https://developer.nvidia.com/nccl/nccl-downloadbefore install PaddlePaddle.
Traceback (most recent call last):
  File "./train.py", line 278, in <module>
    train()
  File "./train.py", line 142, in train
    paddle.distributed.init_parallel_env()
  File "/usr/local/lib/python3.7/dist-

[2022-01-25 02:30] JunnYu commented on #1579
@ZeyuChen 现已提交PR https://github.com/PaddlePaddle/PaddleNLP/pull/1634 修复该问题。

[2022-01-25 02:33] JunnYu commented on #1631
现在已经提交了 PR #1634  修复该问题

[2022-01-25 03:03] linjieccc commented on #1646
You may need to install 'nccl2' from NVIDIA official website: https://developer.nvidia.com/nccl/nccl-downloadbefore install PaddlePaddle.

libnccl.so没有找到，需要安装nccl，安装好后把libnccl.so设置到LD_LIBRARY_PATH中

或者可以直接使用paddle官方镜像，参考
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/docker/linux-docker.html

[code]

[2022-01-25 03:15] #1631 closed, assigned to Steffy-zxf

[2022-01-25 05:10] w5688414 commented on #1614
语义索引应用增加Paddle Serving支持。 https://github.com/PaddlePaddle/PaddleNLP/pull/1558

[2022-01-26 00:42] ZTurboX opened #1639 "knowledge mining"
![image](https://user-images.githubusercontent.com/5669444/151083155-e175cfc9-3a84-49d9-86bb-5e3a760a38c5.png)
knowledge mining中batch_size是在_preprocess_text函数中通过 self.kwargs中拿到的，为什么在初始化中还要设置batch_size参数，而如果把初始化中batch_size参数去掉，在用TaskFlow中设置batch_size,输入多个文本，在_decode中会报IndexError: list index out of range

_decode中tags是否应该改成这样的
`tags = [
                self._index_to_tags[index]
                for

[2022-01-26 02:57] LiuChiachi commented on #1614
Done.

[2022-01-26 03:46] MosBest opened #1645 "ERNIE 1.0 预训练阶段, 三种mask的顺序"
你好! 想问一下,在ERNIE 1.0  预训练阶段  , 字-level,  短语-level, 实体-level   是
方式一:
        如源码一样,

             `       for index, file_ in enumerate(files):

                             file_, mask_word_prob = file_.strip().split("\t")

                           mask_word = (np.random.random() < float(mask_word_prob))

                        if mask_word:

                             self.mask_type = "mask_

[2022-01-26 03:49] gaojing8500 commented on #1626
如果对话数据较少可以采用传统方式处理，比如词槽方式，随着冷启动方案数据增加后，在采用DNN系列算法

[2022-01-26 08:27] linjieccc commented on #1639
@zhentaoCoding 这里batch_size确实重复了，已提PR修复#1642，感谢指出！

[2022-01-26 11:58] zhanghaoie opened #1644 "plato2支持model.generate方法吗？"

[2022-01-27 01:44] ZTurboX commented on #1592
如果想对ErnieCtmWordtagModel模型做压缩，有示例吗

[2022-01-27 03:34] Wxs18337266838 opened #1647 "找不到README中介绍的程序文件"
请问“neural_search/recall.data_tools”的README文件中的这句话:“ernie预训练的代码在examples/language_model/ernie-1.0”中的”examples/language_model/ernie-1.0”文件在哪里？

[2022-01-27 03:48] Wxs18337266838 commented on #1647
在该README中还有一句话“建议修改 run_static.sh 中的配置，将max_steps设置小一些。”，这里的 run_static.sh也找不到。

[2022-01-27 06:24] baidu-chenwenyu opened #1649 "t"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-01-27 06:24] #1649 closed, assigned to nobody

[2022-01-27 06:28] baidu-chenwenyu opened #1650 "t5模型运行示例代码出错"
测试代码
import paddle
from paddlenlp.transformers import T5Model, T5Tokenizer
tokenizer = T5Tokenizer.from_pretrained('t5-base')
model = T5Model.from_pretrained('t5-base')
inputs = tokenizer("Welcome to use PaddlePaddle and PaddleNLP!")
inputs = {k:paddle.to_tensor([v]) for (k, v) in inputs.items()}
outputs = model(**inputs)

报错信息
Traceback (most recent call last):
  File "test.py", line 10, in <modu

[2022-01-27 09:56] guoshengCS commented on #1650
文档中的示例代码有些问题，抱歉造成困扰，T5的话还需要输入个`decoder_input_ids`，示例代码中只提供了`input_ids`，如果只说跑通的话将最后一句`outputs = model(**inputs)`改为`outputs = model(**inputs, decoder_input_ids= inputs["input_ids"])`就可以了，实际的T5使用示例还请参考这里 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/t5

[2022-01-27 10:16] JunnYu commented on #1647
如果我没看错的话，应该是这里https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0

[2022-01-27 12:45] yingyibiao commented on #1650
#1652  已修复～

[2022-01-28 00:18] ZTurboX opened #1655 "预训练语言模型的工程落地实例"
希望paddleNLP多推出一些预训练语言模型的工程落地实例，比如预训练语言模型通用的模型压缩方法，目前的模型压缩实例，如果换了其他的模型，上手有点困难。

[2022-01-28 02:38] LiuChiachi commented on #1655
您好，感谢关注！
请问您是在使用哪个模型压缩实例的时候遇到了问题，可以举个例子吗～

[2022-01-28 04:18] ZTurboX commented on #1655
想使用ernie系列的模型做序列标注，感觉文档写的不是很明确

[2022-01-28 05:36] shguan2018 commented on #1655
同感, 前段时间试试 simcse 的模型压缩,搞了好几天，也搞不定,放弃了

[2022-01-28 07:50] baidu-chenwenyu commented on #1650
decoder_input_ids在注释里面依然写的是optional，且有默认值None，如果下游必须有这个值，那么decoder_input_ids要么就应该能自动生成（而且注释中的确说了可以），要么的确需要用户提供这个参数，decoder_input_ids就不应该是optional的。

[2022-01-28 07:54] ghost opened #1657 "训练保存模型后，多次预测结果不一致"
训练保存模型后，多次预测结果不一致
-  paddlepaddle==2.2.2 cpu
- win10 python3.8
PaddleNLP/tree/develop/examples/text_classification/pretrained_models
预设数据集 是一个情感分析，更换数据集 14个分类，训练保存模型后，更改predict.py
[code]
两次执行python predict.py --device cpu --params_path checkpoints/model_1100_bak/model_state.pdparams
[code]

[2022-01-28 08:21] LiuChiachi commented on #1655
感谢反馈，模型压缩这快我们之后会优化，包括文档，提升用户体验。感谢关注:)

[2022-01-28 08:55] wawltor commented on #1657
是不是参数没有Load成功，看起来下面的日志没有打印
![image](https://user-images.githubusercontent.com/16698950/151516698-ee1711d5-85db-460f-b0a0-207a6ec2e34a.png)

[2022-01-28 09:26] smallv0221 commented on #1644
PLATO2 do not support model.generate(). Sorry for the inconvenience.

[2022-01-28 09:42] ghost commented on #1657
不是 虽然确实没有打印

[2022-01-28 10:06] zhanghaoie commented on #1644
Is there a tutorial that describes how to enable fast generation for unsupported models.

[2022-01-28 10:27] smallv0221 commented on #1644
Do you mean FasterGeneration? FasterGeneration is only available for some of the models that support `model.generate()`. You can see [here](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/faster/faster_generation/README.md) for more information.

[2022-01-28 11:45] zhanghaoie commented on #1644
yeah, thank you for you reply. The difference between plato2 generation part and unified language model is that plato2 has a latent embedding layer. If I add this layer in the code of unified language model, can the fast generation work?

[2022-01-28 12:20] smallv0221 commented on #1644
I'm afraid not. PLATO2 doesn't  support `generate` because it is not in `PreTrainedModel` format like other models in `paddlenlp/transformers/`.

[2022-01-29 02:41] zhanghaoie commented on #1644
ok, thank u. Do you have a plan to support it later?

[2022-01-29 09:02] smallv0221 commented on #1644
Sorry We don't have that plan for now. You can use `unified_transformer-12L-cn` or `plato-mini` for dialogue generation.

[2022-01-30 13:01] liuyang77886 opened #1660 "The current variable type is (int64_t), but the previous variable type is (int)"
- 版本、环境信息
1）paddle2.2.2          ppnlp2.2.4
2）系统环境： Windows10，Python 3.8.10
运行 aistudio《动手搭建一套语义检索系统-学术文献检索 》
在代码  模型训练  处报错

save_dir='checkpoint'
save_steps=100
time_start=time.time()
global_step = 0
tic_train = time.time()
for epoch in range(1, epochs + 1):
    for step, batch in enumerate(train_data_loader, start=1):
        query_input_ids, query_token_type_ids, title_input_ids, title_token_t

[2022-01-30 13:29] liuyang77886 commented on #1660
第一次paddle2.1.2也报这个错，后来升级到2.2.2 还是一样的错
python -m pip install paddlepaddle-gpu==2.2.2.post101 -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html

[2022-01-30 16:42] Wu-Jiayang commented on #1595
Thanks a lot!

[2022-01-30 16:42] #1595 closed, assigned to smallv0221

[2022-02-02 01:34] Wu-Jiayang opened #1661 "请问@register_base_model修饰符的用途是什么？"
我看到UnifiedTransformerModel类带有修饰符@register_base_model，请问该修饰符的用途是什么？
我想重写UnifiedTransformerModel类，请问是继承UnifiedTransformerPretrainedModel类写一个新类好一点，还是继承UnifiedTransformerModel类重写forward方法？
我自己写的类需要加该修饰符吗？
![未命名文件](https://user-images.githubusercontent.com/62842862/152079556-969f0550-375d-4c71-b084-4b53ed764b22.png)

[2022-02-02 06:09] Wu-Jiayang commented on #1661
我发现一旦使用此修饰符修饰新类则无法正常使用旧类，
而不使用此修饰符则无法正常使用新类，
请问该怎么办？

[2022-02-07 09:48] xu-peng-7 opened #1663 "input_token_type是用来干什么的"
from paddlenlp.transformers import BertTokenizer
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-chinese')
token_, input_token_type = bert_tokenizer.encode(data).values()

编码时，input_token_type 在我的数据上永远是0，不知道该参数的意义。麻烦知道的解释一下~

[2022-02-07 12:17] wawltor commented on #1663
这里的就是BERT的segment信息，判断句子上下句关系，因为您可能输入的是单个句子，所以都是0。

[2022-02-07 16:29] QianMuluo commented on #1626
好的，谢谢；目前这种策略估计不可行了，因为很难限定回答的领域或者方向，当前所需要的对话是需要结合一定的背景知识引导到某个特定方向

[2022-02-07 16:32] QianMuluo commented on #1626
谢谢。现在确实计划采用词槽+特定对话流程的方式，不过效果很差，需要构建一种相对丰富的对话逻辑，一旦跳转出来就会无法进行下去。

[2022-02-08 02:58] smallv0221 commented on #1626
UnifiedTransformer是可以做知识型对话的，可以将领域信息构造成知识引入训练。有可能成功引导对话方向。

[2022-02-08 03:05] ZHUI commented on #1645
@Meiyim  可以帮忙具体解答一下。

看代码的话，多个epoch训练的话，文件是复用的。每次的  mask_word和mask_char 是随机的。

然后 所有数据都分词成短语, 全部进行mask word;
最后 所有数据都切成 实体, 全部进行mask word;
也就是每个数据集都会用3次, 然后 mask_word和mask_char 不是交替进行, 而是 mask_char 都预训练完后, 再继续mask_word ?

短语和实体应该是可以一起切分。应该是像上面说的，每次遇到的文件  mask_word和mask_char 是随机的。

我这边不是原始 ernie-1.0 的作者，一些细节上的问题。可以详细咨询 @Meiyim 同学。

PaddleNLP 这边提供的 ernie-1.0 复现版本，是基于的 wwm 方式，没有用mask_char混合：https://g

[2022-02-08 03:18] ZTurboX opened #1664 "RNN-LM训练咨询"
网上爬取的新闻语料来训练rnnlm时，语料会包含英文字符和数字，是否要对英文字符和数字进行剔除或转化？

[2022-02-08 03:35] smallv0221 commented on #1664
If your `vocab` is built from your corpus, you can keep English characters and numbers. Otherwise you can simply ignore them.

[2022-02-08 05:55] guoshengCS commented on #1661
引入该修饰符主要是为了能够正确的加载模型：

考虑BERT模型，对于`BERTModel`表示的骨干网络或者是`BertForSequenceClassification`等下游任务网络都要能够从同一份参数配置和权重中创建和加载，我们既需要`BertForSequenceClassification.from_pretrained('bert-base-uncased')`，也需要`BERTModel.from_pretrained('bert-base-uncased')`。

注意参数权重作为key-value对提供，而骨干网络和下游任务网络要求参数权重的key是不一样的，下游任务网络中参数权重的key会多一个`bert.`的前缀；除参数权重外，`BERTModel`还是`BertForSequenceClassification`的init方法需要的参数也是不同的；要根据当前创建的对

[2022-02-08 05:58] guoshengCS commented on #1661
而不使用此修饰符则无法正常使用新类，
请问该怎么办？

建议写一个新类，一方面可以减少对上面说的那些底层实现的考量；另一方面预训练模型作为一个生态系统，其实也会假设不同的模型是由不同的开发者贡献的，相对松散，不同模型之间不做过多依赖。

感谢支持，也欢迎贡献~

[2022-02-08 07:42] tao-hpu opened #1665 "bash typo"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/embeddings.md

执行完毕后会在当前路径下生成一个visualize目录，并将日志存放在其中，我们在命令行启动VisualDL即可进行查看，启动命令为：

visuald

[2022-02-08 09:39] ZeyuChen commented on #1665
@tonyanhq 感谢反馈！是否可以给我们提交的PR修复下文档的typo，十分期待你的开源贡献 :)

[2022-02-08 13:33] QianMuluo commented on #1626
多谢，几个小一些的模型试过了，问了几句之后陷入了死循环……最大的那个模型没有足够资源尝试；现在需求又发生了变化，这种对话机器人已经用不到了。

[2022-02-10 08:33] AI-Mart opened #1668 "PaddleNLP/applications/neural_search/recall/milvus/直接用动态图模型做向量转换，不用静态图转换的原因是什么"
正常工业落地的部署，是要转换成静态图然后做向量转换吧？看案例是直接用的动态图模型做向量转换，是出于什么考虑呢？

[2022-02-10 15:02] wj-Mcat commented on #1663
`input_token_type` is to identify the sentence type of input. And it's the same as the `token_type_ids`  in [transformers](https://github.com/huggingface/transformers), and you can refer to: [token-type-ids](https://huggingface.co/docs/transformers/glossary#token-type-ids). Here is the simple code:

[code]

`HuggingFace is based in NYC` is the first sentence so the value of `token_type_ids`(`input

[2022-02-11 02:30] w5688414 commented on #1668
感谢您对语义索引的关注，静态图抽取向量代码已经ready了，近期准备提交。

[2022-02-11 02:44] AI-Mart opened #1670 "PaddleNLP/blob/develop/applications/neural_search/recall/in_batch_negative 开源模型咨询"
https://bj.bcebos.com/v1/paddlenlp/models/inbatch_model.zip
以上官方开源的有监督模型，是以下圈起来的哪种方案组合的训练结果？官方是否开源了最后那个效果最优的方案（预训练+无监督+有监督）训练出的模型，可以直接拿来验证效果，不用我们从预训练，到无监督，到有效监督这样从头到尾训练一遍。
![image](https://user-images.githubusercontent.com/63343847/153529400-8ca1eafa-e4dd-405e-a1bd-937028f0a832.png)

[2022-02-11 02:57] AI-Mart commented on #1668
好的，感谢回复，我以为用动态度是出于什么考虑，如果最终是需要转换成静态图，我后面做了也可以贡献PR

[2022-02-13 06:43] lun-lun-byte opened #1671 "predict 每一次结果都不一样"
Hello PaddlePaddle2.0.1，百度自己的 aistudio

在实现文本多标签分类时（https://aistudio.baidu.com/aistudio/projectdetail/2540472?channelType=0&channel=0），训练过程还挺好的，也可以正常的 loss 下降，并保存模型，但是 predict 就很奇怪，每一次结果都不一样。具体代码如下：

![image](https://user-images.githubusercontent.com/78267675/153741999-177d8f44-3788-46aa-a8e6-ccd97ddb2561.png)

from paddlenlp.transformers import ErnieTokenizer, ErnieModel
# 本实验使用的是ERNIE模型
model_na

[2022-02-13 15:21] ZeyuChen commented on #1671
是否可以尝试下升级到最新的paddle版本2.1以上和最新的paddlenlp 2.2版本后再对比试试？ @lun-lun-byte

[2022-02-14 01:48] AI-Mart opened #1673 "PaddleNLP/applications/neural_search/recall/milvus/ 运行报错"
系统：linux centos7.9
安装包：
astor                     0.8.1
Babel                     2.9.1
bce-python-sdk            0.8.64
cached-property           1.5.2
certifi                   2021.10.8
cfgv                      3.3.1
charset-normalizer        2.0.11
click                     7.1.2
colorama                  0.4.4
colorlog                  6.6.0
cycler                    0.11.0
decorator

[2022-02-14 03:59] Steffy-zxf commented on #1673
@AI-Mart 你好！根据报错信息，
[code]

应该是环境导致的问题。请参考paddle安装指南，https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/compile/linux-compile.html
检查是否正确安装paddle。

[2022-02-14 04:11] Steffy-zxf commented on #1657
@ygduan 如果没有打印出参数加载成功的日志，很可能参数没有加载成功，导致每次预测时模型参数随机初始化，导致预测结果不一致。

请在此之前确认下是否参数加载成功。

[2022-02-14 14:25] Wu-Jiayang commented on #1661
@guoshengCS
所以假如我想沿用预训练权重的话就应该以继承`UnifiedTransformerPretrainedModel`类的方式实现新类，并使用`register_base_model`修饰，但是就不能同时使用`UnifiedTransformerPretrainedModel`下的其他带有该修饰的子类了是吗？

[2022-02-15 02:17] tao-hpu commented on #1665
https://github.com/PaddlePaddle/PaddleNLP/pull/1675

[2022-02-15 02:41] AI-Mart commented on #1673
感谢回复，底层包升级就好了，参考链接https://blog.csdn.net/qq_15821487/article/details/122886625?spm=1001.2014.3001.5502

[2022-02-15 06:55] w5688414 commented on #1670
https://paddlenlp.bj.bcebos.com/models/inbatch_model_best.zip
试试这个

[2022-02-15 07:04] AI-Mart commented on #1670
感谢回复，这个就是以下截图方案的模型吗
![image](https://user-images.githubusercontent.com/63343847/154009938-d861efe5-eb5a-45c1-8fa4-ead89077d096.png)

[2022-02-15 07:28] w5688414 commented on #1670
对的

[2022-02-15 07:35] AI-Mart commented on #1670
好的，我试下

[2022-02-15 07:49] chenglong-do opened #1679 "快递单信息抽取示例预测真实数据"
刚开始接触 NLP，按照示例已经完成训练和模型导出，预测时发现预测文件还是  test.txt，标注过的文件，请问下怎么预测"张三18625584663广东省深圳市南山区学府路东百度国际大厦"这样的内容啊？

[2022-02-15 08:18] ydnnh2008 opened #1680 "nlp产业化案例的neural_search，SimCSE+ In-batch Negatives 具体如何结合的？"
说明中没看出来SimCSE+ In-batch Negatives是怎么结合的，

个人理解是：
SimCSE 的top k结果 和 In-batch Negatives 的top k结果 做平均加权，然后在排序后的top k结果作为召回？

不知道理解对不对

[2022-02-15 08:58] w5688414 commented on #1680
SimCSE只是一个训练策略，使用的是无监督数据，SimCSE在大量的无监督数据集上训练以后，保存checkpoint。然后利用有监督的In-batch Negative加载该checkpoint，继续进行训练，最终得到的checkpoint来计算topK

[2022-02-15 12:55] ZTurboX opened #1682 "百度中文纠错"
看到一篇百度中文纠错的技术博客，使用错误检测、候选召回、纠错排序的方法，其中在排序用wide&deep模型，wide部分基于原词与候选词的多维度距离表示，想问一下这些距离特征需要做归一化吗？不知道在这里能不能得到解答？

[2022-02-16 00:52] chenglong-do commented on #1679
已修改 predict.py 代码实现，原来 predict.py 里面最终也只取的 text_a 的内容

[2022-02-16 00:52] #1679 closed, assigned to nobody

[2022-02-16 02:19] AI-Mart opened #1683 "PaddleNLP/applications/neural_search/recall/in_batch_negative/deploy/python/config_nlp.yml 启动tensorrt加速，发现没有效果"
![image](https://user-images.githubusercontent.com/63343847/154183622-f1485ca2-47d8-4efd-aec9-9ca307f75524.png)
如题，配置加速后，实际运行没有提速效果，是否还需要安装其他包？
centos7 python3.7

astor                     0.8.1
Babel                     2.9.1
bce-python-sdk            0.8.64
cached-property           1.5.2
certifi                   2021.10.8
cfgv                      3.3.1
charset-normalizer        2.0.12
click

[2022-02-16 06:50] AI-Mart commented on #1683
cuda10.1,cudnn 7.6.5
开启gpu预测，启动服务端python web_service.py, 启动客户端python  rpc_client.py 预测返回时间25ms左右
开启tensorrt,启动服务端python web_service.py, 启动客户端python  rpc_client.py 预测返回时间也是25ms左右
说明tensorrt没有启动对gpu的加速，请教是什么原因？
tensorrt底层安装，参考链接https://blog.csdn.net/qq_15821487/article/details/122952282，已经安装成功

[2022-02-16 08:11] xialei2821212670 commented on #1679
有示例？

[2022-02-16 08:22] chenglong-do commented on #1679
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/waybill_ie

[2022-02-16 08:23] xialei2821212670 commented on #1679
修改后的predict.py

[2022-02-16 08:25] AI-Mart commented on #1683
python 3.7,4
gcc version 8.5.0 (GCC)
TensorRT-6.0.1.5
已经安装，
![image](https://user-images.githubusercontent.com/63343847/154224553-cbecaee6-ff78-4ea2-9b15-b3e845e25754.png)
tensor rt还是没有加速，是否是gcc 8.5版本必须降级成8.2才行呢

[2022-02-16 08:41] TeslaZhao commented on #1683
开启ir_optim: True

参考：
https://github.com/PaddlePaddle/Serving/blob/v0.7.0/examples/Pipeline/PaddleOCR/ocr/config.yml

[2022-02-16 09:00] AI-Mart commented on #1683
感谢回复，有两个问题：
第一个：这个config_nlp.yml配置文件，有没有最完整的官方配置参数说明，需要什么参数自己可以参照官方说明往上面添加参数，因为这个案例的config_nlp.yml配置文件是没有ir_optim这个参数的，后续可能还需要其他参数，能否提供个完整参数说明链接。
第二个：我刚才添加了参数ir_optim: True，运行python web_service.py发现程序卡主了，应该是报错了，是什么原因呢
![image](https://user-images.githubusercontent.com/63343847/154230502-afa2e0a7-1023-4b30-a02e-8e7facdd090e.png)

[2022-02-16 09:27] AI-Mart commented on #1683
现在已经把gcc降级为8.2了和官方paddle安装包完全匹配了，不添加了参数ir_optim: True，运行正常，但tensorrt没有加速效果。添加参数ir_optim: True运行报错
`E0216 17:04:09.163729 30082 helper.h:111] Parameter check failed at: ../builder/Network.cpp::addInput::671, condition: isValidDims(dims, hasImplicitBatchDimension())`

[2022-02-16 11:15] TeslaZhao commented on #1683
https://github.com/PaddlePaddle/Serving/blob/v0.7.0/doc/Serving_Configure_CN.md#python-pipeline
完整参数信息看此文档

另外，看下PipelineServingLogs/pipeline.log.wf，所有错误信息都在这里

[2022-02-16 11:42] AI-Mart commented on #1683
感谢提供的完整文档
报错信息
[code]

[2022-02-16 11:53] TeslaZhao commented on #1683
请加一下Paddle Serving微信群，我们在群里高效沟通
![image](https://user-images.githubusercontent.com/6309021/154259343-95a801ff-c236-4030-92a0-4fa36b1760ab.png)

[2022-02-16 11:59] AI-Mart commented on #1683
已添加

[2022-02-17 01:47] ZTurboX opened #1686 "albert二次预训练"
用自己的垂直领域数据二次预训练albert，可以对examples/language_model/bert/run_pretrain.py修改MODEL_CLASSES后直接用吗

[2022-02-17 02:20] AI-Mart commented on #1683
你好，麻烦有空的时候回复下微信群信息哈，我已经做了单边测试是正常的，部署pipeline服务就不正常，我怀疑是不是配置文件缺少feed_list的参数，但是我看官方参数配置没有这个

报错也是提示，feed是空的

[2022-02-17 03:11] AI-Mart opened #1688 "https://github.com/PaddlePaddle/PaddleNLP/tree/develop/applications/neural_search/recall/in_batch_negative 静态模型咨询"
大佬们，请教几个问题。
一、
运行官方代码
python export_model.py --params_path=./inbatch_model_best/model_state.pdparams --output_path=./output
发现，生产了两个静态模型，一般正常情况是一个吧，这个原因是什么，有什么区别
![image](https://user-images.githubusercontent.com/63343847/154397312-aa4a4c81-c3d8-4f49-8dda-bc699ecc3c6e.png)
二、
predict预测，取得是这个静态模型
![image](https://user-images.githubusercontent.com/63343847/154397443-e09d5b51-3531-4c3d-a9dd-07e3a752a

[2022-02-17 03:21] xu-peng-7 commented on #1663
非常感谢

[2022-02-17 03:21] #1663 closed, assigned to wawltor

[2022-02-17 07:25] yingyibiao commented on #1686
代码逻辑应该差不多，可以参考修改一下～

[2022-02-17 12:57] ZTurboX commented on #1686
直接用提供的albert转静态图报错

代码:
`model = AlbertForMaskedLM.from_pretrained('./checkpoints/albert-chinese-tiny')

model.eval()
model = paddle.jit.to_static(
    model,
    input_spec=[
        paddle.static.InputSpec(
            shape=[None, None, None], dtype="int64"),
        paddle.static.InputSpec(
            shape=[None, None, None], dtype="int64"),
        paddle.static.InputSpec(
            shape

[2022-02-18 00:57] ZTurboX commented on #1604
albert转静态图报错
![image](https://user-images.githubusercontent.com/5669444/154596982-ad4effd1-5d2b-4164-9cb5-4bf588a8f957.png)
代码：
`model = AlbertForMaskedLM.from_pretrained('../checkpoints/albert-chinese-tiny')
    model.eval()
    model = paddle.jit.to_static(
        model,
        input_spec=[
            paddle.static.InputSpec(
                shape=[None, None], dtype="int64"),
            pad

[2022-02-18 02:42] ZTurboX opened #1690 "albert转静态图报错"
- 版本、环境信息
1）PaddleNLP 2.2.0
2）Windows
- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/5669444/154607497-1252f6d9-258d-40f3-ad09-4f0a307a15c0.png)

`
input_ids = paddle.static.InputSpec(
        name="input_ids", shape=[-1, -1], dtype="int64")
    token_type_ids = paddle.static.InputSpec(
        name="token_type_ids", shape=[-1, -1], dtype="int64")
    attention_mask =

[2022-02-18 03:02] ghtwht opened #1691 "serve model error"
When I serve the default en_de machine_translation/transformer model, I get the error:
" /lib/x86_64-linux-gnu/libcrypto.so.1.1: version `OPENSSL_1.0.1_EC' not found (required by /data/venv/py3.8/lib/python3.8/site-packages/paddle_serving_client/serving_client.so)"
How can I solve it?
when I run "openssl version", I can get "OpenSSL 1.1.1f  31 Mar 2020"

[2022-02-18 06:55] w5688414 commented on #1683
检查一下TensorRT是否安装正确：
https://paddleinference.paddlepaddle.org.cn/master/user_guides/download_lib.html#python
https://github.com/PaddlePaddle/Serving/blob/v0.7.0/tools/dockerfiles/build_scripts/install_trt.sh

![image](https://user-images.githubusercontent.com/12107462/154633046-27a7ebd3-1519-49ec-b57a-1c68295b0b23.png)

[2022-02-18 07:10] AI-Mart commented on #1683
因为实际部署都是docker部署，我用docker安装了下服务，dockerfile内容如下：
[code]
配置文件如下：
[code]

通过docker是可以启动程序的，也没有报错，能访问服务，只是返回的时间，跟没开启trt，差不多
![image](https://user-images.githubusercontent.com/63343847/154634946-4fa3ce3c-127c-4252-b2a2-d55b90a268c7.png)
![image](https://user-images.githubusercontent.com/63343847/154634969-de2b7ec0-aa64-4d33-b4e1-0f2f4d827b1a.png)

[2022-02-18 07:13] AI-Mart commented on #1683
docker容器，trt是的版本的可以看到的
![image](https://user-images.githubusercontent.com/63343847/154635248-c56fce12-f520-4b7e-909c-e032513e4ae4.png)

[2022-02-19 05:56] ZTurboX commented on #1668
paddleNLP有些预训练语言模型不支持静态图导出，需要怎么做可以转成静态图呢？

[2022-02-19 10:18] baiwan-chenhao opened #1694 "推理时占用显存显著大于训练时占用显存"
我在使用BML CodeLab训练BERT模型,在验证时发现占用显存是训练时的几乎两倍.多次运行仍如此,不得已将验证集batch减半.
我公开了自己的代码:
https://aistudio.baidu.com/aistudio/projectdetail/3482154?shared=1

[2022-02-21 02:08] AI-Mart commented on #1668
具体那个不支持，可以提个issue看下的

[2022-02-21 03:05] ZTurboX commented on #1668
albert

[2022-02-21 04:18] ZTurboX opened #1695 "albert转静态图"
albert如何转静态图？修改了代码，可以成功转静态图，但使用时总是报错 InvalidArgumentError: The 'shape' in ReshapeOp is invalid. The input tensor X'size must be equal to the capacity of 'shape'. But received X's shape = [17, 312], X's size = 5304, 'shape' is [17, 312, 12, 26], the capacity of 'shape' is 1654848.

[2022-02-22 07:37] JunnYu commented on #1694
在evaluate的时候没有使用`@paddle.no_grad()`装饰器
[code]

[2022-02-23 11:28] lan11 opened #1703 "Layoutxlm推理部署转成静态图模型报错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
版本、环境信息
1）PaddleNLP和PaddlePaddle版本：paddlenlp 2.2.4 paddlepaddle 2.2.0
2）系统环境：linux

训练保存后模型转换成静态图模型代码：

        self.model = paddle.jit.to_static(
            self.model,
            input_spec=[
                paddle.static.InputSpec(
                    shape=[None, 512], dtype="int64"),
                paddle.static.InputSpec(

[2022-02-23 13:51] Bais-art opened #1706 "paddlenlp中的erniegram中的tokenizer调用出错"
tokenizer = paddlenlp.transformers.ErnieGramTokenizer.from_pretrained('ernie-gram-zh')

AttributeError: module 'paddlenlp.transformers' has no attribute 'ErnieGramTokenizer'

[2022-02-24 01:47] wj-Mcat commented on #1706
Please update your version  of `paddlenlp` to get latest features.  I test your code in my env, it works for me. Here are my related packages.

[code]

I hope it can help you fix your issue. Please feel free to comment more details.

[2022-02-24 03:43] Bais-art commented on #1706
thank you

[2022-02-24 03:43] #1706 closed, assigned to nobody

[2022-02-24 05:28] wj-Mcat commented on #1695
You should post your simple code which can reproduce this issue. So we can find the key problem with least time. Waiting for your next comment.

[2022-02-24 05:47] ZTurboX commented on #1695
error caused in AlbertAttention

![image](https://user-images.githubusercontent.com/5669444/155465453-99cf01ed-9fd2-4693-9171-63e343859fd4.png)

[2022-02-25 02:23] hohdiy opened #1709 "文档给的wget方法有误，不能加最后的./"
![image](https://user-images.githubusercontent.com/20314800/155641608-4c92630c-c147-458e-a9bc-041a9fcf7cf8.png)

链接：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/gpt

AI studio下载不了，是否可以提供一下国内的源，或者内置到AI studio上。

[2022-02-25 09:01] ZHUI commented on #1709
这个数据集比较大，有37G。你试试去官方网页 https://openwebtext2.readthedocs.io/en/latest/index.html#download-plug-and-play-version 这边能下载吗？

[2022-02-25 09:09] ZHUI commented on #1709
https://github.com/PaddlePaddle/PaddleNLP/pull/1710 已经提PR修复

[2022-02-25 09:38] Ruri-94 opened #1711 "BERT 输出问题"
相同的输入 每次输出的结果都是不一样的是什么问题？

import paddle
from paddlenlp.transformers import *

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')
inputs = tokenizer("Welcome to use PaddlePaddle and PaddleNLP!")
inputs = {k:paddle.to_tensor([v]) for (k, v) in inputs.items()}

output, _ = model(**inputs,output_hidden_states=True)
print(output[-1])

[2022-02-25 10:01] FrostML commented on #1691
You can follow this issue.
https://github.com/PaddlePaddle/Serving/issues/1040

[2022-02-25 10:21] wj-Mcat commented on #1711
There are a little bit of premise:
* If the model is in training mode, the dropout will be disabled. you can refer to: [dropout](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/common.py#L743)

[code]

*

[2022-02-25 10:27] ZHUI commented on #1711
可以设置 `model.eval()` 模型中的 dropout 会有一定随机性。

[2022-02-25 10:29] wj-Mcat commented on #1711
There are a little bit of premises:

If the model is in training mode, the dropout will be disabled. you can refer to: [dropout](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/functional/common.py#L743) which the default mode is training.

the unit test code will pass:
[code]

So you can set model eval mode to disable dropout layer.

[code]

so you will get the same output wh

[2022-03-01 02:27] yingyibiao commented on #1703
您好，目前LayoutXLM模型动转静还没有打通～

[2022-03-01 02:28] yingyibiao commented on #1695
您好，目前albert模型动转静还没有打通～

[2022-03-01 02:29] yingyibiao commented on #1690
您好，目前albert模型动转静还没有打通～

[2022-03-01 02:30] yingyibiao commented on #1686
您好，目前albert模型动转静还没有打通～

[2022-03-01 02:48] #1691 closed, assigned to FrostML

[2022-03-01 03:01] ghtwht opened #1714 "transformer demo serve error"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
PaddleNLP版本:2.2.4
PaddlePaddle版本：2.2.2
系统环境：Linux 18.04
python版本：3.6.9
按照example/machine_translation/transformer中给定的demo训练export之后使用给定的serving demo进行serve，在server端出现如下报错：
[2022-02-28 18:02:39,622] ERROR in app: Exception on /transformer/prediction [POST]
Traceback (most recent call last):
  File "/data/venv/paddle/lib/python3.6

[2022-03-01 04:20] hohdiy commented on #1709
按照文档，安装了文档中提供的python依赖，还是不够。
需要单独安装pip install lac 和 pip install zstandard 才能使用，不然直接报告缺少模块。后者会导致coredump
。
请更新到文档上。

[2022-03-01 07:13] lan11 commented on #1703
好的，谢谢。请问后面有安排吗？我看你们PaddleNLP2.3版本规划是支持现有所以模型支持Paddle Serving部署，请问包含该模型吗？

[2022-03-01 15:13] 22140505 opened #1716 "AttributeError: 'NoneType' object has no attribute 'group'"
python 3.9
windows10

复现步骤：
直接在
`/PaddleNLP/tree/develop/examples/information_extraction/DuIE`
路径下运行：
`python -m paddle.distributed.launch --gpus "0" run_duie.py --device gpu --seed 42 --do_train --data_path ./data --max_seq_length 128 --batch_size 8 --num_train_epochs 12 --learning_rate 2e-5 --warmup_ratio 0.06 --output_dir ./checkpoints`

出错日志：
[code]

[2022-03-02 02:05] Eric-Zhang1990 commented on #1394
@joey12300  我用的run_ernie_crf.py训练的，训练完预测结果是对的
<img width="374" alt="121" src="https://user-images.githubusercontent.com/24602893/156280365-d6e7532d-209e-4f88-bd8c-04fad927c835.png">
但是本地用export_model.py导出静态模型后，用deploy/python/predict.py预测，结果错的
<img width="561" alt="122" src="https://user-images.githubusercontent.com/24602893/156280624-8f65b7ca-e4a1-4ac8-8b8b-e1cd7e5b85b4.png">
<img width="594" alt=

[2022-03-02 02:26] ZHUI commented on #1709
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/data_tools#%E7%8E%AF%E5%A2%83%E4%BE%9D%E8%B5%96  这里有依赖说明，我在GPT的页面也加上一下。

import zstandard 出错后，不会立刻停止，而是直接 coredump？

[2022-03-02 02:31] ZHUI commented on #1709
https://github.com/PaddlePaddle/PaddleNLP/pull/1718 文档更新

[2022-03-02 03:24] Eric-Zhang1990 commented on #1394
@joey12300  我用训练代码中的预测方式，直接加载model_state.pdparams（不用export_model导出），预测结果是对的，能帮忙排查一些export_model后用deploy/python/predict.py预测，结果是错的原因呢？谢谢
<img width="410" alt="125" src="https://user-images.githubusercontent.com/24602893/156289054-bd7221cb-788a-4555-8665-0fb231f81ad4.png">
<img width="459" alt="124" src="https://user-images.githubusercontent.com/24602893/156289063-6defc1c6-592f-464f-a8b3-da0f637ea26

[2022-03-02 04:05] hermitgreen opened #1719 "RuntimeError: Can't load tokenizer for 'gpt-cpm-large-cn'"
paddlepaddle-gpu 2.2.2.post112
paddlenlp 2.2.4
python 3.8.12

[code]

then I got
[code]

[2022-03-02 04:13] hermitgreen commented on #1719
same problem while
[code]

then I got
[code]

[2022-03-02 06:50] joey12300 commented on #1394
@Eric-Zhang1990 您好，waybill目录下提供的export_model.py是一个示例，只支持`ErnieForTokenClassification`，即run_ernie.py所训练的模型；而您使用的run_ernie_crf.py，训练的是`ErnieCrfForTokenClassification`模型。如果想导出该模型，需要修改export_model.py，将`ErnieForTokenClassification`改为`ErnieCrfForTokenClassification`。

[2022-03-02 07:10] Eric-Zhang1990 commented on #1394
@joey12300  您好，我把ErnieForTokenClassification改为ErnieCrfForTokenClassification：
model = ppnlp.transformers.ErnieForTokenClassification.from_pretrained(
        "ernie-1.0", num_classes=len(label_vocab))
    model = ErnieCrfForTokenClassification(model)
但是出现issue[https://github.com/PaddlePaddle/PaddleNLP/issues/911](url) 一样的问题，我按照这个issue修改：
    # model = paddle.jit.to_static(
    #     model,
    #

[2022-03-02 07:46] joey12300 commented on #1394
@Eric-Zhang1990 这里其实需要改两个地方，一个是export_model.py，一个是predict.py。

## 模型导出修改方法
![image](https://user-images.githubusercontent.com/10826371/156317385-f6ccde42-6822-44e7-8e99-956c1325cac9.png)

## 模型预测方法
![image](https://user-images.githubusercontent.com/10826371/156317320-f00d0197-d1d0-4314-a1de-74ca4f5c17eb.png)

[2022-03-02 08:24] Eric-Zhang1990 commented on #1394
@joey12300  问题解决了，谢谢

[2022-03-02 09:35] Godlikemandyy opened #1720 "想咨询一下ERNIE版本升级计划"
目前测试了一下paddlenlp的几个API，比如“text_correction”，“knowledge_mining”等等，发现基本上都用的ernie1.0，想请问一下有没有升级ernie版本的计划

[2022-03-02 12:22] LiuChiachi opened #1721 "Add model compression demo about NER"
TODO: review/merge:
https://github.com/PaddlePaddle/PaddleNLP/pull/1598

[2022-03-02 16:30] ZeyuChen commented on #1720
有的，后面会升级到最新的ERNIE 3.0版本，效果提升会很显著。

[2022-03-03 02:11] joey12300 commented on #1394
@Eric-Zhang1990 可以升级最新版本的Paddle，CRF解码部分在Paddle2.2之后得到比较大的性能提升

[2022-03-03 05:32] Godlikemandyy commented on #1720
@ZeyuChen 大概什么时间升级

[2022-03-03 08:54] hohdiy commented on #1709
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/gpt 这个页面我看没有更新依赖说明，按照文档，直接执行就会缺少那两个库。

[2022-03-04 01:07] ZeyuChen commented on #1720
Q2内完成发布升级。

[2022-03-04 03:17] ZTurboX opened #1728 "解语知识图谱应用场景"
解语后期会不会推出知识图谱构建的案例？

[2022-03-05 08:54] wawltor commented on #1728
目前我们正在做一些开放域的信息抽取的工作，这个有助于进行知识图谱的构建

[2022-03-06 10:03] ChrisMengxl opened #1729 "MultiLabelsMetric import语句导入问题，望修复。"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
PaddleNLP 2.2
——————————————————————————
[PaddleNLP/blob/release/2.2/paddlenlp/metrics/__init__.py文件](https://github.com/PaddlePaddle/PaddleNLP/blob/release/2.2/p

[2022-03-07 02:26] Godlikemandyy commented on #1720
有没有升级所涵盖的大致范围，比如说那些api会升级，期待一下！

[2022-03-07 02:40] smallv0221 commented on #1729
感谢您提出这个问题，您愿意提个pr帮我们修复这个地方么

[2022-03-07 03:16] tanhanzhuo opened #1730 "roberta-en-base roberta-en-large模型缺失"
[code]
其中tokenizer正常载入，导入模型显示：
[code]
模型列表中显示提供roberta-en-base和roberta-en-large
(https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers.html)
在源代码中
https://github.com/PaddlePaddle/PaddleNLP/blob/487162262196bead8d9b4c2306f313b8f64edf9b/paddlenlp/transformers/roberta/modeling.py#L96
遗漏robert-en-base等模型 （另一个issue中也有开发者遇到类似问题https://github.com/PaddlePaddle/PaddleNLP/issues/1719）

另：
Paddle

[2022-03-07 04:33] Wu-Jiayang opened #1731 "纯英语对话任务能使用plato-mini分词器吗"
请问对于纯英语对话任务，用plato-mini分词器分词和英语分词器有区别吗

plato-mini词表只有30000，会不会导致词根比较少，分词比较细，从而导致效果下降？

[2022-03-07 09:05] smallv0221 commented on #1731
plato-mini是中文模型，不建议拿来做英文任务的

[2022-03-07 12:19] #1731 closed, assigned to smallv0221

[2022-03-07 13:37] Wu-Jiayang commented on #1731
哦好的，谢谢

[2022-03-08 06:30] qiningli commented on #642
我觉得如果你的目的不是解决数据集本身可能有的问题，而是跟我纠结原始两个字的含义，那这个讨论没有必要，也不是应该在git上issue的关注点。我说不是原始数据集的意思是，它可能有一些后来引入的错误，比如后引号跑到下一行开头，而网络上流传的其他MSRA数据集不是这样的，这个比较一下很明显，就是很简单的事情，如果不改就不改，我有什么ok不ok的？又不是我的数据集，有问题又跟我没关系。

我提出这个问题就是因为我自己用这个数据集去复现论文，发现结果不一致，才回去找其中的问题。因为这是benchmark数据集，如果数据集之间不一样，去跑evaluation可能丧失公正性。至于我原始两个字用的对不对，如果你觉得不对我道歉吧，我不说了就是了。

[2022-03-08 06:30] #642 closed, assigned to wawltor, Steffy-zxf

[2022-03-08 11:53] TCChenlong opened #1734 "【PaddlePaddle Hackathon 2】80、基于 XLNet 的阅读理解"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：基于 XLNet 的阅读理解

- 技术标签：python、预训练模型、阅读理解

- 任务难度：中等

- 详细描述：XLNet是较为常用的一种预训练模型，当前已在PaddleNLP中集成，希望能够提供在CRMC阅读理解任务上的使用示例，为sentencepiece类tokenizer提供阅读理解任务支持。

【提交内容】

- 任务 PR 到 PaddleNLP

- 相关技术文档（模型效果验证符合预期）

【技术要求】

- 熟练掌握 python

- 理解深度学习模型

[2022-03-08 11:54] TCChenlong opened #1735 "【PaddlePaddle Hackathon 2】79、PLATO-2 接入预训练模型和生成API"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：PLATO-2 接入预训练模型和生成API

- 技术标签：python、开放域对话

- 任务难度：中等

- 详细描述：PLATO-2 是百度自研的开放域对话模型，当前在PaddleNLP中已提供使用示例，希望能够提供和其他预训练模型一样的使用方式和体验。

【提交内容】

- 任务 PR 到 PaddleNLP

- 相关技术文档（模型效果验证符合预期）

【技术要求】

- 熟练掌握 python

- 理解深度学习模型原理

- 了解开放域对话基础算法

【参考资料】

[2022-03-08 11:55] TCChenlong opened #1736 "【PaddlePaddle Hackathon 2】78、基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：基于 PaddleNLP 语义索引实现 Gradient Cache 策略，实现超大 batch 语义索引模型训练

- 技术标签：python、语义索引

- 任务难度：困难

- 详细描述：语义索引模型的效果受 batch_size 影响很大，一般 batch_size 越大模型效果越好，但是受限于 GPU 显存大小，batch_size 在普通硬件上往往无法开到很大；这篇 paper(Paper: https://arxiv.org/pdf/2101.06983.pdf)

[2022-03-08 11:55] TCChenlong opened #1737 "【PaddlePaddle Hackathon 2】77、基于ERNIE_DOC完成长文本分类任务"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：基于ERNIE_DOC完成长文本分类任务

- 技术标签：Python, PaddleNLP，文本分类

- 任务难度：简单

详细描述：参考[论文](https://arxiv.org/abs/2012.15688)以及[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/paddlenlp/transformers/ernie_doc)，完成在IFK数据集上的长文本分类任务。

【提交流程】

[2022-03-08 11:56] TCChenlong opened #1738 "【PaddlePaddle Hackathon 2】76、基于pointer_summarizer完成中文文本摘要任务"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：基于pointer_summarizer完成中文文本摘要任务

- 技术标签：Python, PaddleNLP，文本摘要

- 任务难度：简单

- 详细描述：参考[论文](https://arxiv.org/abs/1704.04368)以及[PaddleNLP](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_summarization/pointer_summarizer)，完成在

[2022-03-08 11:57] TCChenlong opened #1739 "【PaddlePaddle Hackathon 2】75、PaddleNLP 英文文档完善"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：PaddleNLP 英文文档完善

- 技术标签：英文文档，NLP

- 任务难度：困难

- 详细描述：完善 [PaddleNLP 英文文档](https://paddlenlp.readthedocs.io/en/latest/)，视完成情况分别给予简单、中等、困难难度奖金。

【提交流程】

请将英文文档相关内容提交到 PaddleNLP repo 的 [docs/locale/en/LC_MESSAGES](https://github.com/PaddlePaddle

[2022-03-08 12:13] #1644 closed, assigned to smallv0221

[2022-03-08 12:46] TCChenlong opened #1741 "【PaddlePaddle Hackathon 2】PaddleNLP 任务合集"
大家好，非常高兴地告诉大家，第二期 [PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon-2022-3?fr=PaddleNLP) 开始了。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle 开源社区。本次共有四大专区：PaddlePaddle、Paddle Family、Paddle Friends、Paddle Eval，共计100+个任务供大家认领。详细信息可以参考 [PaddlePaddle Hackathon 说明](https://www.paddlepaddle.org.cn/contributionguide?docPath=hackathon_cn)。大家是否已经迫不及待了呢~

本 IS

[2022-03-09 02:51] nonstopfor opened #1743 "Plato2推理比参数量接近的DialoGPT慢10倍"
我使用https://github.com/PaddlePaddle/PaddleNLP/tree/f079f91c48f17a1b9382076e89ce7050de83ea1d/examples/dialogue/plato-2  这里的plato2例子，用的是24层的模型（参数量310M），在同样的gpu和同样的输入情况下，推理速度比medium 版本的dialogpt（参数量345M）慢10倍左右，想问下这是正常的现象吗，或者有什么办法对plato2的推理做加速吗？我尝试了设置with paddle.no_grad()和设置latent_type_size=1，但好像速度都没有明显加快。谢谢！

环境：
Linux python 3.8
paddlepaddle-gpu=2.2.2

[2022-03-09 03:36] smallv0221 commented on #1743
请问您的dialogpt模型是paddlenlp中的么。plato2在生成回复后会再过一个模型用于回复筛选，可能是会慢一些。由于plato2系统特殊性目前也没有将它接入paddlenlp.transformers中。暂时没有更多加速手段，十分抱歉

[2022-03-09 03:54] nonstopfor commented on #1743
dialogpt用的是transformers库里面的。了解了

[2022-03-09 11:53] ZHUI opened #1745 "RobertaTokenizer不能载入本地模型"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

请问有人遇到过RobertaTokenizer不能载入本地模型的问题吗
![4bbc4c4cc24ce1cf5380ddf6743e5de8](https://user-images.githubusercontent.com/16911935/157436759-f104a058-4d3a-441b-9642-d700

[2022-03-09 11:53] ZHUI commented on #1745
RobertaBPETokenizer 里面是设置了 special token的。但是 RobertaTokenizer  在外面又套了一层，导致get 不到属性。待修复

[2022-03-09 12:43] wawltor opened #1746 "Transformers可以输出中间状态和中间attention值"
### 需求描述

对于高阶开发者，有获取Transformers中间层的attention和hidden_states来进行模型设计和分析实验的需求。考虑到普通开发者对这部分功能需求较弱，可作为optional提供。

### 具体场景

- EHealth中SPO任务需要获取Electra中间层结果来计算loss
- 使用Transformer-based模型时需要中间层attention和结果来进行分析和蒸馏

### HuggingFace实现

在forward函数中增加参数控制，逐层传递。
- ElectraEncoder: https://github.com/huggingface/transformers/blob/master/src/transformers/models/electra/modeling_electra.py#L528-L548
- ElectraL

[2022-03-09 13:21] ZHUI commented on #1745
https://github.com/PaddlePaddle/PaddleNLP/issues/1730

Paddle的roberta-en-base的tokenizer，pad_token, mask_token等和原roberta模型不同（e.g. [PAD] vs ），虽然pad_token_id相同，但可能会导致误解

[2022-03-10 07:51] Desperado-Jia opened #1751 "为何使用Taskflow和使用WordtagTask跑wordtag模型的答案不一样？"
如题，
task_path = '../../../conf/wordtag'
    task_instance = WordTagTask(model=task_path, task=task_path, task_path=task_path)

    r = task_instance(
        [
            '26岁女儿崩溃大哭,现场控诉母亲罪行是哪一期'
        ]
    )
跑的结果是错误的，
但是
app = Taskflow(task='knowledge_mining', model='wordtag')

    text = '26岁女儿崩溃大哭,现场控诉母亲罪行是哪一期'
    r = app.__call__(text)
跑的结果是对的，Taskflow里使用的就是WordTagTask啊，很奇怪

[2022-03-10 10:27] linjieccc commented on #1751
你好，方便提供下复现代码吗？另外直接用WordTagTask而不用Taskflow来载入是不是有什么定制需求，我们看下能不能满足

[2022-03-11 05:48] guoshengCS commented on #1743
@nonstopfor  你好，目前PLATO2由于需要生成候选和候选排序两个阶段，暂时未接入预训练模型库中，我们也在考虑将生成阶段模型接入其中，参见 https://github.com/PaddlePaddle/PaddleNLP/issues/1735 。

对于对话预训练模型模型，paddlenlp.transformers中已经集成了[PLATO-mini](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/faster/faster_generation/samples/plato_sample.py)（100M，中文）和[PLATO-xl](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/plato-x

[2022-03-11 08:16] renmada commented on #1737
ernie-doc的实现好像不支持动转静，原因是paddle.ones的shape要为非负
`
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/transformers/ernie_doc/modeling.py", line 765, in forward
        input_ids, memories, token_type_ids, position_ids, attn_mask)
    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/transformers/ernie_doc/modeling.py", line 664, in

[2022-03-11 09:10] yingyibiao commented on #1719
Thanks for your question abour AutoTokenizer, you can use GPTChineseTokenizer.from_pretrained('gpt-cpm-large-cn') instead. We'll upgrade AutoTokenizer to support more cases!

[2022-03-11 09:13] yingyibiao commented on #1719
We have updated our documents about weight names, see https://paddlenlp.readthedocs.io/zh/latest/model_zoo/transformers.html
You can use AutoModel.from_pretrained('nosaydomore/uer-roberta-base-ft-chinanews-chn') to load it.

[2022-03-11 09:18] yingyibiao commented on #1730
模型列表文档已更新。
分别使用 RobertaModel.from_pretrained('nosaydomore/roberta-en-base') & RobertaModel.from_pretrained('nosaydomore/roberta-en-large') 进行加载。

[2022-03-11 09:19] yingyibiao commented on #1737
必要时可以修改模型代码

[2022-03-11 10:56] renmada commented on #1737
改了一些，往下调试还会出现其他因为shape导致的问题
[code]

[2022-03-11 10:58] renmada commented on #1737
双下划线卡头的类方法在静态图是，提示找到不方法。改成单下划线后正常
`    File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp-2.2.0-py3.7.egg/paddlenlp/transformers/ernie_doc/modeling.py", line 177, in forward
        q, k, v, r, t = self._compute_qkv(queries, keys, values, rel_pos,
                                           rel_task)
        q_w, q_r, q_t = list(
[code]

[2022-03-11 12:37] githanyongjin opened #1760 "动态图导出为静态图报错：AttributeError: 'builtin_function_or_method' object has no attribute 'transpose'"
文本分类 rnn中使用bilstm_attn训练好模型后，导出静态图报错AttributeError: 'builtin_function_or_method' object has no attribute 'transpose'

[2022-03-11 14:37] tianxin1860 commented on #1760
请问具体使用的那个示例代码？

[2022-03-12 03:34] liaoxuewei opened #1762 "模型问题吗？"
之前的代码，正常运行，今天运行的时候会自动更新模型，然后执行会出错，截图所示，是不是哪里问题？

# 中文分词
xprint("中文分词：")
seg = Taskflow("word_segmentation")
xprint(seg("第十四届全运会在西安举办"))

# 词性标注
xprint("词性标注：")
tag = Taskflow("pos_tagging")
xprint(tag("第十四届全运会在西安举办"))

![image](https://user-images.githubusercontent.com/970765/158002118-fd3d6147-36b3-4271-a144-0913212bf4ae.png)

[2022-03-12 03:37] liaoxuewei commented on #1762
运行的时候会在控制台打印下面文字：
e[37m---    Fused 0 subgraphs into layer_norm op.e[0m

[2022-03-12 09:26] linjieccc commented on #1762
@liaoxuewei 你好，请问是执行`xprint(tag("第十四届全运会在西安举办"))`的时候程序异常退出吗？另外能否提供下PaddleNLP和PaddlePaddle的版本号和系统环境信息，谢谢。

[2022-03-12 13:03] wj-Mcat opened #1763 "can't tokenize [MASK] token"
## Environment
[code]

## Reproduction

[code]

the output of above code is:
[code]

so, it's abvious that it can't tokenize the special token in sentence. Why ？ How to handle it ??

***

btw, I check the [code](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/few_shot/pet/data.py#L76) from example dir, it replace the `<unk>` special token by hard way.  Is that the only way I can ha

[2022-03-12 13:59] wj-Mcat commented on #1763
After review the code of BertTokenizer, there are multi special tokens not used. please refer to:

* [BertTokenizer](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/bert/tokenizer.py#L373)
* [ErnieTokenzier](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/ernie/tokenizer.py#L128)
* [ReformerTokenizer](https://github.com/PaddlePaddle/Paddl

[2022-03-12 15:12] gongel commented on #1763
升级paddlenlp即可
[code]

[2022-03-14 02:38] Fengwills opened #1766 "Emotion_detection 任务还有吗"
Emotion detection 任务还有吗？在哪个目录下？

[2022-03-14 02:40] Steffy-zxf commented on #1760
@githanyongjin 你好。请问具体环境，paddle/paddlenlp/python版本是多少？具体代码是什么样的？

[2022-03-14 02:44] linjieccc commented on #1766
你好，可以看下这个目录下的这两个示例：
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/sentiment_analysis

[2022-03-14 10:14] ZeyuChen commented on #1766
@Fengwills 是指对话情绪识别的模型场景吗？

[2022-03-14 12:11] lxsyz commented on #1738
【队名】：无言以对

【序号】：76

【状态】：提交

【链接】：https://github.com/PaddlePaddle/PaddleNLP/issues/1738

[2022-03-15 03:24] holazzer commented on #1739
.po文件是2021年4月生成的，会不会有点老了

[2022-03-15 03:37] yingyibiao commented on #1739
我稍后来更新一下～

[2022-03-16 03:43] #1614 closed, assigned to tianxin1860, FrostML, joey12300, chenxiaozeng, w5688414, guoshengCS, wawltor, ZHUI, gongel, LiuChiachi

[2022-03-16 04:00] linjieccc opened #1772 "PaddleNLP 2.2.5 Release Note Candidate"
# 新功能

## Taskflow
* 分词和NER多级模式 #1666
* AutoSplitter/AutoJoiner功能支持无限长文本自动切分 #1666

# 问题修复
* 修复ERNIE-Doc文本分类任务数据集读取错误 #1687
* 修复原生生成式 API 传入 tensor 为 None 时不能正确执行的问题 #1656
* 修复 Roberta 模型不支持2维 attention mask #1676
* 修复 ConvBert 模型不支持动转静 #1643
* 修复 ERNIE-M 训练hang住的问题 #1681

# 文档更新
* FasterTransformer 文档新增编译报错 FAQ #1750
* 修复 T5 模型 example 文档 #1652
* 更新生态贡献权重文档 #1749

[2022-03-16 06:14] holazzer commented on #1739
更新了记得戳我一下哦 ~

[2022-03-16 06:17] ZeyuChen commented on #1604
这一问题会在月底paddle 2.3rc版本发版后PaddleNLP同步解决 @zhentaoCoding

[2022-03-16 06:22] ZeyuChen opened #1773 "XLNet/ALBERT等包含einsum op的模型动转静问题"
目前PaddleNLP针对包含paddle.einsum OP存在动转静部署问题，需要整体升级模型并验证einsum op动转静后的可用性。

[2022-03-16 06:56] barrierye opened #1774 "变更batch_size，预测值发生变化"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP == 2.2.4， PaddlePaddle == 2.2.2
2）系统环境：CentOS 7.5.1804，python 3.8
- 复现信息：
1）batch_size=1与batch_size=8时预测结果有diff
2）batch_size=8时，mask掉padding值，预测结果还是有diff

相关issue #1604

[2022-03-16 07:53] baidu-chenwenyu opened #1775 "tokenizer batch和非batch对非法字符的处理不一致"
错误代码
from paddlenlp.transformers import ErnieTokenizer
tokenizer = ErnieTokenizer.from_pretrained("ernie-tiny")
a =  '\ue816'
res = tokenizer(a)
print(res)
a =  ['\ue816']
res = tokenizer(a)

第一个可以执行
第二个会报错

错误信息
{'input_ids': [3, 5], 'token_type_ids': [0, 0]}
Traceback (most recent call last):
  File "test.py", line 31, in <module>
    res = tokenizer(a)
  File "/home/chenwenyu/miniconda3/envs/de

[2022-03-16 08:07] wj-Mcat commented on #1763
Thanks for your reply, it fixs this issue.

[2022-03-16 09:48] Zhiyuan-Fan commented on #1736
请问Gradient Cache 策略是在baseline上实现还是将其加入到HardestNeg，In-batch negatives策略的训练过程中？

[2022-03-16 11:46] tianxin1860 commented on #1736
Baseline 上实现，验证效果符合预期。

[2022-03-17 05:59] wawltor commented on #1774
可以尝试安装一下develop版本的PaddleNLP，看看是否已经解决？

[2022-03-17 09:17] smallv0221 commented on #1775
感谢您的反馈，很抱歉给您带来不便，我们会尽快修复这个bug

[2022-03-17 12:58] renmada opened #1794 "ErnieForGeneration 多卡训练 paddle.load模型报错：“EOFError: Ran out of input”"
模型是paddlenlp的ErnieForGeneration，用model.save_pretrianed保存的

[2022-03-17 17:53] guoshengCS commented on #1774
可否提供下复现代码呢，按照 https://github.com/PaddlePaddle/PaddleNLP/issues/1604 中测试预测值是没有变化的

[2022-03-18 07:17] chenxiaozeng commented on #1794
麻烦提供一下具体的报错信息，以及最小可复现代码哦

[2022-03-18 09:26] renmada commented on #1794
我提供pdparams文件可以吗

[2022-03-18 10:29] #1238 closed, assigned to wawltor

[2022-03-18 10:29] #1215 closed, assigned to nobody

[2022-03-18 10:48] FrostML commented on #1794
最好也能有可复现的代码哈
另外，文件大小是多少以及用对应的 `from_pretrained` 能正常 load 吗？这种报错也有可能是误操作清空了文件，或是损坏、错误地修改了文件导致的。
也可重新 save check 下。

[2022-03-18 11:45] Zhiyuan-Fan commented on #1736
已提交pr

[2022-03-18 13:54] renmada commented on #1794
不是每次都会出错。主要这个模型训练了好久，保存下来发现不能load很伤。
有没有办法修复这个权重？权重大小是正常的

[2022-03-18 14:57] yingyibiao commented on #1739
已更新～

[2022-03-18 14:58] FrostML commented on #1794
如果是文件损坏那可能不太好恢复，可能还是得重新训。
之前遇到一种用法导致类似的情况，是因为有位用户用多卡训练，然后每张卡对应的进程都在执行保存模型的操作，相当于是同一个文件反复被多个进程“可能是同时”读写导致的偶发性文件损坏。可以在代码里面先自查下有无这种情况。

可以用以下代码段试试读取这个文件，如果确定是 `pickle` 这里报错那可能没有太好恢复的方法。
[code]

[2022-03-19 00:16] renmada commented on #1794
是多卡训练，但是只有在rank=0的时候才会保存

[code]

[2022-03-20 07:58] smallv0221 commented on #1775
您好，这个bug现已修复，可以拉最新版本的develop试一下

[2022-03-21 01:22] ZTurboX opened #1803 "ERNIE-CTM模型落地"
ERNIE-CTM模型太大，达不到落地需求，如何优化？

[2022-03-21 04:01] sunan0519 opened #1804 "ernie-doc-large-en预训练权重"
请问ernie-doc-large-en的动态图预训练权重什么时候可以放出来呢？我看静态图放出了权重，这个有什么方法可以转成动态图权重吗？

[2022-03-21 04:15] shguan2018 opened #1805 "flask部署 多标签分类模型，单GPU单进程正常，多进程报错"
flask部署 多标签分类模型，单GPU单进程正常，多进程报错

python3.8.12
paddlepaddle 2.2
paddlenlp 2.2.4

self.input_handles[0].copy_from_cpu(input_ids)
  File "/usr/local/python3/lib/python3.8/site-packages/paddle/fluid/inference/wrapper.py", line 35, in tensor_copy_from_cpu
    self.copy_from_cpu_bind(data)
OSError: (External) CUDA error(3), initialization error.
  [Hint: 'cudaErrorInitializationError'. The API call fail

[2022-03-21 04:16] shguan2018 commented on #1805
如果使用 CPU 模式，多进程也正常, 使用 GPU 模式,多进程就不正常

[2022-03-21 06:47] wawltor commented on #1805
您好，能不能提供一下具体的部署代码？我们可以线下复现一下问题

[2022-03-21 06:53] shguan2018 commented on #1805
'''
Created on 2022 年 03 月 20 日
部署在 Linux,直接来访问 paddlenlp 训练出来的推理模型.
多标签.
'''

from get_ip import get_host_ip

from sanic import Sanic,response

import os

import time

#import paddle.inference as paddle_infer

class Predictor(object):

    def __init__(self, model_dir, device='cpu', max_seq_length=128):
        import paddle
        import paddlenlp as ppnlp
        #from paddlenlp.transformers i

[2022-03-21 06:57] shguan2018 commented on #1805
[mulitlabelweb.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8313588/mulitlabelweb.txt)

[2022-03-21 12:46] Zhiyuan-Fan commented on #1735
请问具体要实现哪些功能？任务描述中的“希望能够提供和其他预训练模型一样的使用方式和体验。”其他预训练模型是指哪些？谢谢！

[2022-03-21 13:41] joey12300 commented on #1803
您好，请问您期望的模型大小大致是多大呢？是速度问题还是模型体积问题？你需要在什么环境下落地呢？

[2022-03-21 15:13] zhanghaoie commented on #789
嗨，请问下你这边用plato-mini微调后效果怎么样啊？数据集大概是什么量级的啊

[2022-03-22 00:08] ZTurboX commented on #1803
速度问题。想在cpu环境下部署。是否有tiny版的模型

[2022-03-22 00:41] 1chang37 opened #1813 "[kunlun]运行paddlenlp中的bert程序时，报shape错误，具体如下："
[code]

[2022-03-22 02:34] ZHUI commented on #1813
[code]
看起来是这里参数加载出现的问题:

1. 这个 finetune 的代码你修改过吗？尤其是这里`paddle.static.set_program_state(main_program, reset_state_dict)`
2. 直接跑 gpu 也会出现类似情况吗？
3. paddle的版本是不是比较老？换新一点的develop试一试？

[2022-03-22 02:52] #1775 closed, assigned to smallv0221

[2022-03-22 03:03] barrierye commented on #1774
可以在如流上交流代码吗？不方便放在github。如流账号：yebaiwei

已在如流上提供复现代码

[2022-03-22 03:14] 1chang37 commented on #1813
谢谢！
1、没有修改过
2、只跑了xpu
3、paddle版本使用的2.2.0
还有啥其他的建议么？

[2022-03-22 03:23] ZHUI commented on #1813
1. 使用最新的 paddlenlp代码 和 最新paddle版本 试一下
2. 在GPU环境尝试，看是否也有这个问题。

就这两个吧

[2022-03-22 05:53] yejiahaoye commented on #1745
这个问题怎么修复，我也遇到了

[2022-03-22 06:17] ZHUI opened #1817 "[Bug] 'paddle.distributed' should not import by import paddlenlp init."
<img width="536" alt="image" src="https://user-images.githubusercontent.com/16911935/159419241-43c8efe3-5edc-43e6-95ff-b7b408051e95.png">

初始化`import paddlenlp`时候，如果安装的paddle没有分布式环境，会报错。

[2022-03-22 06:46] smallv0221 commented on #1745
可以拉最新的develop版本试一下，这个pr中应该已经修复了 #1798

[2022-03-22 08:08] linjieccc commented on #1803
您好，目前ernie-ctm-small/tiny已经在开发计划中了，有进展同步反馈给您

[2022-03-22 12:13] llllearner opened #1819 "ERNIE-DOC预训练模型用于paddlenlp做文本分类的Demo"
有大佬成功使用ERNIE-DOC的预训练模型进行文本分类的吗？我按照ERNIE-1.0的代码报错了，提示缺少att_mask。。。

[2022-03-22 14:02] Zhiyuan-Fan commented on #1735
@yingyibiao 请问具体要实现哪些功能？任务描述中的“希望能够提供和其他预训练模型一样的使用方式和体验。”其他预训练模型是指哪些？谢谢！

[2022-03-23 06:30] guoshengCS commented on #1735
@Elvisambition  当前已经接入paddlenlp.transformers组件中的对话预训练模型包括 [UnifiedTransformer](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/unified_transformer) 、[PLATO-mini](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/faster/faster_generation/samples/plato_sample.py)和[PLATO-XL](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/dialogue/plato-xl)，可以参考这

[2022-03-23 15:05] wke22 opened #1823 "动态图转静态图，同一个句子的预测结果不一致"
环境：python 3.9、PaddlePaddle 2.2.2、PaddleNLP 2.2.4、windows、device：cpu
1.运行examples/sentiment_analysis/skep/train_sentence.py，加载自定义数据集，训练模型
2.运行examples/sentiment_analysis/skep/export_model.py，导出静态图
      参数：--params_path "./checkpoint/model_900/model_state.pdparams"
3.运行examples/sentiment_analysis/skep/deploy/python/predict.py，预测句子情感（静态图方式）
      参数：--model_file "../../static_graph_params.pdmodel" -

[2022-03-23 17:51] wke22 opened #1826 "textcnn/deploy/python下的predict.py要引入的data文件是哪一个"
环境：python 3.9、PaddlePaddle 2.2.2、PaddleNLP 2.2.4、windows、device：cpu

1.前提已经根据https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/textcnn/README.md中的步骤进行到用finetune好的模型进行预测的那步了。
2.运行textcnn/predict.py可以正常预测
3.运行textcnn/deploy/python/predict.py，首先from data import preprocess_prediction_data报错
![image](https://user-images.githubusercontent.com/67145269/159763455-d9de601f-

[2022-03-24 02:37] tianxin1860 commented on #1826
predict.py 用的 data 是 textcnn 下的 data.py。

[2022-03-24 02:39] tianxin1860 commented on #1823
你好，可以提供一份你改完之后的完整可运行的脚本。

[2022-03-24 03:09] #1772 closed, assigned to FrostML, joey12300, w5688414, guoshengCS, ZHUI, gongel, LiuChiachi, smallv0221, linjieccc, Steffy-zxf

[2022-03-24 11:27] renmada opened #1829 "预训练模型的whole word mask数据处理问题"
whole word mask 把中文拆成了 ##开头的token，但是在使用阶段ErnieTokenizer处理中文时都是按单字拆的，导致##开头的中文token完全不会用到
https://github.com/PaddlePaddle/PaddleNLP/blob/c11a1465e167e494934e61d86c04d69167997fe2/applications/neural_search/recall/domain_adaptive_pretraining/data_tools/create_pretraining_data.py#L168-L181)

[2022-03-24 13:12] jaykay233 opened #1833 "ImportError: cannot import name 'einsum' from 'paddle'"
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
paddlenlp 2.2.5
paddlepaddle-gpu       2.1.2.post101
2）系统环境：
https://aistudio.baidu.com/aistudio/projectdetail/2017202, 就ai studio自己的环境
- 复现信息：运行这个notebook就能发现出错
<img width="1667" alt="image" src="https://user-images.githubusercontent.com/58713995/159923527-bc6de0c8-2ec7-41b1-98bf-f73df9d7a9e8.png">

[2022-03-24 13:28] wawltor commented on #1833
您好，Paddle的版本低了导致这个问题，可以升级Paddle的版本到最新的版本。

[2022-03-24 13:40] wawltor commented on #1829
这里用##表示的含义是这个词不是一个中文或者英文单词开始的token，在ERNIE预训练的过程中可以通过##来将同一组单词识别处理，并且进行whole word mask

[2022-03-24 14:20] jaykay233 commented on #1833
感谢

[2022-03-24 14:20] #1833 closed, assigned to wawltor

[2022-03-24 14:20] jaykay233 commented on #1833
感谢

[2022-03-25 02:22] zche4846 commented on #1737
请问测试结果62.4是要在CLUEbenchmark上提交才有效是吗

[2022-03-25 03:06] Liyulingyue opened #1834 "stacl.utils.tokenizer导入STACLTokenizer报错"
- 版本、环境信息
1）PaddlePaddle2.2.2
2）Aistudio 至尊版
- 复现信息：如为报错，请给出复现环境、复现步骤

1. ~/PaddleNLP/examples/simultaneous_translation/stacl目录下执行以下代码报错

from utils.tokenizer import STACLTokenizer

报错信息为

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_192/326717331.py in <module>
----> 1 from ut

[2022-03-25 07:10] renmada commented on #1829
比如"样本"，预训练处理时“本”-> '##本'->token id，也就是在预训练中“本”的token id是 '##本'的token_id；但是在下游任务中“本”的token id是 '本'的token_id。
以上是我的理解，请问对吗？
https://github.com/PaddlePaddle/PaddleNLP/blob/c11a1465e167e494934e61d86c04d69167997fe2/applications/neural_search/recall/domain_adaptive_pretraining/data_tools/create_pretraining_data.py#L268-L273

[2022-03-25 08:33] wawltor commented on #1829
嗯嗯 是这样的，预训练和下游任务finetune的tokenizer处理方式不太一样

[2022-03-25 10:34] renmada commented on #1829
所以目前预训练whole word mask数据处理是不是不合理，应该优化

[2022-03-25 17:54] guoshengCS commented on #1834
这个报错是发生在了subword_nmt包中，查了下按照 https://github.com/ipython/ipykernel/issues/786 中的回复`sys.stdout.buffer`这种用法是不建议的（` it should be considered a bug anywhere sys.stdout.buffer is accessed unconditionally`），可否试下换下subword_nmt的版本。另外按照那个issue中的描述也可以看下在非Jupyter的python环境是否可以。

2、3 还请 @gongel 看下

[2022-03-25 23:14] ZeyuChen commented on #1819
@EEeEhh https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-doc 可以看看这个example示例

[2022-03-26 02:43] ShaneTian opened #1836 "关于 T5 的对齐问题"
在[Transformers API](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/transformers.rst)看到 PaddleNLP 现在支持了 T5，有两个问题请教一下：
- 文档中没有写 T5-3B，请问是否现在还不支持？
- T5 的所有参数是和 transformers 对齐的吗？

[2022-03-26 09:45] #1829 closed, assigned to nobody

[2022-03-26 13:23] gongel commented on #1834
你好
2. 对的，和[配置文件](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/simultaneous_translation/stacl/config/transformer.yaml#L20)中一致即可
3. 数据格式见[README.md](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/simultaneous_translation/stacl/README.md#%E6%95%B0%E6%8D%AE%E6%A0%BC%E5%BC%8F)，源文件和转化bpe后的格式可以参考[分词的输入和输出](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples

[2022-03-26 14:10] Liyulingyue commented on #1834
感谢回复~ 试了一下，不能再ipynb环境中调用，但是可以通过脚本调用

[2022-03-26 14:10] Liyulingyue commented on #1834
好的~ 感谢~

[2022-03-26 14:25] FrostML commented on #1836
麻烦 @yingyibiao 关注下

[2022-03-28 01:32] wke22 commented on #1826
引入textcnn 下的 data.py报错 In copy_from_cpu, we only support numpy ndarray and list[str] data type.

[2022-03-28 01:45] wke22 commented on #1823
[更改后的脚本代码及数据.zip](https://github.com/PaddlePaddle/PaddleNLP/files/8359064/default.zip)

[2022-03-28 02:25] wke22 opened #1837 "TextCNN模型运行textcnn/deploy/python/predict.py时报错：In copy_from_cpu, we only support numpy ndarray and list[str] data type."
环境：python 3.9、PaddlePaddle 2.2.2、PaddleNLP 2.2.4、windows、device：cpu

1。根据https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/textcnn/README.md中的步骤进行到用finetune好的模型进行预测的那步了。
2。运行textcnn/deploy/python/predict.py报错信息如下
![image](https://user-images.githubusercontent.com/67145269/160316553-7b9cb436-2947-46f0-a254-c4272b83a534.png)

[2022-03-28 03:16] yingyibiao commented on #1836
非常感谢你的关注。
1. 目前还没支持 T5-3B，预计本周会完成支持。
2. 参数是对齐的。

[2022-03-28 03:21] ShaneTian commented on #1836
感谢回复！

1. 好的。
2. 请问 forward 和 backward 有验证过可以完全对齐是吗？
3. 是否有推荐的参数迁移工具？（pytroch -> paddle）

[2022-03-28 03:25] yingyibiao commented on #1836
1. forward 和 backward 均验证过可以完全对齐。
2. 目前没有通用的迁移工具，需要针对不同的结构进行适配。

[2022-03-28 03:28] ShaneTian commented on #1836
1. 好的。
2. 针对 `transformers.T5ForConditionalGeneration` 有迁移的脚本/工具吗？

[2022-03-28 03:34] yingyibiao commented on #1836
参考：https://github.com/JunnYu/paddle_t5/blob/main/convert.py

[2022-03-28 03:38] ShaneTian commented on #1836
收到，非常感谢！我试试看~

[2022-03-28 07:02] wawltor commented on #1837
您好，修复PR已经合入，https://github.com/PaddlePaddle/PaddleNLP/pull/1839  辛苦再试一下

[2022-03-28 07:11] wawltor opened #1840 "Tokenizer的输出在单条输入和batch输入的结果不一致，例如没有返回offset_map等信息"
下面是具体的复现代码

[code]

[2022-03-28 12:31] yingyibiao opened #1848 "PaddleNLP 对 fp16 以及混合精度权重的支持方案。"
目前 PaddleNLP 模型的 from_pretrained 接口还不能直接加载 fp16 以及混合精度权重。

[2022-03-28 12:36] yingyibiao opened #1849 "同一模型结构对应多种不同 tokenizer 实现，如何封装并提供统一的 Tokenizer 接口。"
针对一种模型结构对应多种 tokenizer 实现时，如何更好的封装提供统一的接口。

[2022-03-28 12:38] yingyibiao opened #1850 "transformers 模型支持 2D、3D、4D 的 attention_mask 输入"
transformers 模型支持 2D、3D、4D 的 attention_mask 输入

[2022-03-28 12:55] tianxin1860 opened #1851 "Tokenizer batch_encode 接口在 stride=0 条件下不支持返回 offset_mapping"

[2022-03-28 13:27] tianxin1860 opened #1852 "Tokenizer encoder_batch 接口 tokenize 之后不支持返回每个 token 对应的 word_id"
如图所示: 0, 9 前 10 个 token ID 都表示 1 个 word, 第 11~13 个 token 则表示第 10 个 Word.
![image](https://user-images.githubusercontent.com/6829601/160407703-4f21b1fb-4527-46bc-9989-30255b793bbf.png)

[2022-03-29 01:57] Taoboan1999 opened #1853 "Embedding的输入为什么使[batch_size,1],而不是[batch_size,vocabulary_size]"
Embedding的输入应该是one-hot向量，也就是[batch_size,vocabulary_size]
为什么是[batch_size,1],而不是[batch_size,vocabulary_size]
具体代码如下：测试Skipgram的网络部分，我想观察经过embedding的shape变化
        print(center_words.shape)
        print(type(center_words))
        print(target_words.shape)
        print(type(target_words))
        center_words_emb = self.embedding(center_words)
        target_words_emb = self.embedding_out(target_

[2022-03-29 02:12] smallv0221 opened #1854 "FewClue中的cluewsc子数据集为空"
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/33639025/160518734-d033a125-0d38-4422-9d9d-73998753e5c3.png">

[2022-03-29 07:21] you567 opened #1857 "ner快递单抽取 predict.py 加载viterbi和crf后，预测报错"
环境：python 3.7、PaddlePaddle 2.1.1、paddlepaddle-gpu   2.2.0.post101、windows、设备：gpu  NVIDIA GeForce RTX 2080 Ti
1.运行PaddleNLP\examples\information_extraction\waybill_ie\run_ernie_crf.py，加载自定义数据集，训练模型
2.运行PaddleNLP\examples\information_extraction\waybill_ie\export_model.py，导出静态图
参数：--params_path "./checkpoint/model_2352.pdparams"
3.运行PaddleNLP\examples\information_extraction\waybill_ie\deploy\python\p

[2022-03-29 09:28] joey12300 commented on #1857
你好，我看你是使用ErnieForTokenClassification,并没有使用CRF的。试试替换成ErnieCrfForTokenClassification

[2022-03-29 09:29] joey12300 commented on #1853
你好，embedding的输入是id，所以是[batch_size,1]

[2022-03-29 09:32] Taoboan1999 commented on #1853
您好，您的意思是说embedding内部就先把那个id转成one-hot向量，再用onehot向量做矩阵乘法吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2022年3月29日(星期二) 下午5:30
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] Embedding的输入为什么使[batch_size,1],而不是[batch_size,vocabulary_size] (Issue #1853)

你好，embedding的输入是id，所以是[batch_size,1]

—
Reply to this email di

[2022-03-29 09:33] joey12300 commented on #1853
embedding内部直接根据id返回id对应行的向量，这个向量是稠密的，不是onehot向量

[2022-03-29 09:36] Taoboan1999 commented on #1853
啊，那零基础学习深度学习 自然语言处理开源的那个skipgram代码的注释有问题啊

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jack ***@***.***&gt;;
发送时间: 2022年3月29日(星期二) 下午5:34
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/PaddleNLP] Embedding的输入为什么使[batch_size,1],而不是[batch_size,vocabulary_size] (Issue #1853)

embedding内部直接根据id返回id对应行的向量，这个向量是稠密的，不是onehot向量

—
Reply to this email direc

[2022-03-29 09:53] hermitgreen commented on #1719
work properly

[2022-03-29 09:53] #1719 closed, assigned to yingyibiao

[2022-03-30 01:40] you567 commented on #1857
是用export_model.py导出的时候吗？我是用 :
一.ErnieForTokenClassification加载的ernie :  ernie = ppnlp.transformers.ErnieForTokenClassification.from_pretrained(
            "ernie-1.0", num_classes=len(label_vocab))
二. 用ErnieCrfForTokenClassification  加载的model :   model = model.ErnieCrfForTokenClassification(ernie)
    if args.params_path and os.path.isfile(args.params_path):
        state_dict = paddle.load(args.p

[2022-03-30 02:28] joey12300 commented on #1857
deploy的代码目前只支持ernie，如果直接预测有crf的模型会有问题的，这里已经计划增加crf模型的预测部署。

[2022-03-30 02:34] you567 commented on #1857
奥奥，近期会更新吗？我试了下直接用动图预测的话没问题，静图和动图效率差别大吗？

[2022-03-30 03:26] joey12300 commented on #1857
延时的话差别不大，但在吞吐量方面还是会有所区别。静态图预测部署有以下几个优点：
1. 依赖比较少，更轻量级，适合线上部署。动态图预测的话依赖模型实现，所以使用动图预测还得依赖PaddleNLP。但是使用静态图预测的话，预测部署的代码与模型实现是解耦合的，仅需依赖paddle的inference库即可。
2. 静态图预测是可以开启显存优化的（使用config.enable_memory_optim()开启），占用显存更少，可以支持更大batch的预测，吞吐量方面会更好。

你可以先使用动态图预测满足你的业务需求，我们这边会后续新增ErnieCrf，BiGRUCrf的模型预测部署模块。

[2022-03-30 03:30] you567 commented on #1857
奥奥，好的，非常感谢！

[2022-03-30 05:48] turkeymz opened #1864 "自定义模型保存后，无法重新加载"
# 环境
Python 3.7
paddlefsl 1.0.0
paddlehub 2.0.4
paddlenlp 2.2.5
paddlepaddle-gpu 2.2.2.post101

# 系统环境
AIStudio的notebook

# 问题描述
使用erinie-gram+crf自定义模型。训练完毕后保存的模型无法重新加载，出现如下错误：
[code]

# 错误样例代码
## 保存模型
[code]
## 加载模型
[code]
## AIStudio notebook项目地址(使用Bert_CRF 的代码文件)
https://aistudio.baidu.com/aistudio/projectdetail/3681748?contributionType=1

[2022-03-30 09:06] ZHUI commented on #1864
建议load pdparams的完整路径：
 `config.checkpoint` -> `config.checkpoint+'/model.pdparams'`

如下：
[code]

[2022-03-30 09:10] lastrei opened #1865 "efl静态图和动态图预测结果不一致"
paddlenlp版本：2.2.4
paddle版本2.2.2.post112
操作系统windows 11

动态图代码与efl分支下代码没有太大差别，除了数据集改用本地数据集，预测结果正常，在本地业务数据下有85+%的准确率
转换为静态图后发现预测结果完全不同，转换代码与efl/export_model.py 一致，预训练模型都使用ernie 1.0
转换后静态图后的预测代码如下:
具体标签名称已经替换为0-42的数字，表示一共43个类别
[issue.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8378992/issue.txt)
劳烦看一下可能是哪里发生的问题?.

[2022-03-30 09:17] lastrei commented on #1865
动态图转换静态图代码如下.
[code]

[2022-03-30 09:51] ZHUI commented on #1865
看起来是模型的 state_dict 没有 set_state_dict到模型。

这样试试：
[code]

[2022-03-30 09:55] Liane-Wang commented on #1485
期待taskflow可以支持tqdm

[2022-03-30 10:11] lastrei commented on #1865
赞美太阳！看了半天都没发现 导出的时候只写了load没有set_state_dict
感谢您的帮助！

[2022-03-30 10:12] #1865 closed, assigned to ZHUI

[2022-03-30 10:52] htlszlh opened #1870 "2222"
1111

[2022-03-30 12:45] #1870 closed, assigned to nobody

[2022-03-30 12:53] liutongyang opened #1872 "sentence-BERT训练预测结果不一致"
环境：ubuntu20.04
显卡：3090
框架：paddle2.2 + python3.6 + paddlenlp 最新版
项目：Sentence-BERT
地址：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_matching/sentence_transformers

问题详情描述：

1 按照 README 的步骤，执行训练脚本 python train.py

2 训练完成后，执行预测脚本 python predict.py

3 加载相同 checkpoint 得到的预测结果存在 diff，多次运行预测脚本 python predict.py 得到了截然不同的输出。

[code]

[2022-03-30 14:34] ZHUI opened #1873 "Ernie-Gram权重加载存在问题"
paddlenlp版本2.2.5

![image](https://user-images.githubusercontent.com/16911935/160860299-ead7a547-653c-4e66-82bc-5d4c36ba0d5c.png)

[2022-03-30 14:35] ZHUI commented on #1873
已修复 https://github.com/PaddlePaddle/PaddleNLP/pull/1814

[2022-03-30 14:37] ZHUI commented on #1872
是微信群用户吗？

[2022-03-31 02:02] quicksandznzn opened #1875 "ASR Text Correction"
想咨询下有没有比较好的ASR的文本纠错模型

[2022-03-31 02:45] tianxin1860 opened #1876 "Tokenizer 的 batch_encode 和 encode 接口暂未支持 add_special_tokens 开关，默认会直接加上 special tokens"
HF Tokenzier 提供了这个开关选项
![image](https://user-images.githubusercontent.com/6829601/160965853-96bd2302-4a19-4462-b0ae-66ddba11a7d8.png)

[2022-03-31 08:13] htlszlh opened #1882 "2222"
2222

[2022-03-31 10:14] #1854 closed, assigned to tianxin1860

[2022-03-31 10:17] #1882 closed, assigned to nobody

[2022-03-31 11:26] franva commented on #1739
@yingyibiao  已经翻译完了, 结果上来已更新, 发现好多文件发送改变了.......... 咱们这个任何我用的branch是develop.

[2022-03-31 12:12] zh794390558 commented on #1875
目前只有 ernie-csc模型，参看： https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_correction/ernie-csc/README.md

[2022-04-01 01:47] #1873 closed, assigned to nobody

[2022-04-01 02:55] quicksandznzn commented on #1875
谢谢回复，已经看过这篇文章了~

[2022-04-01 10:21] xiangfeidecao opened #1887 "英文等小语种的地址如何标注BIO方式"
场景是地址信息抽取。中文按照way_bill_ie例子data，我看了。但是英文这种怎么标注？street aa,district bb,state cc。是把一个单词一个单词的标注吗？空格是怎么处理？不处理空格，只把标点写成O吗？S-B S-I O D-B D-I O E-B E-I.

[2022-04-01 10:26] gongel commented on #1887
英文一般是按单词标注，空格可以预处理掉，也可以标O

[2022-04-01 10:51] xiangfeidecao commented on #1887
谢谢回复，如果训练样本中空格都删除，那预测的时候也要把所有的空格删除吗？还有我在其他issue中看到说把空格变成\002来标注。

[2022-04-01 11:05] gongel commented on #1887
预测阶段和训练阶段保持一致，如果删除空格的话都删除

[2022-04-01 12:45] HuStanding opened #1889 "使用Taskflow会在Python多进程中卡死"
环境：
paddlenlp==2.1.0

使用taskflow的配合Python的进程池使用的时候，会出现卡死的情况，请问这个该怎么解决？部分代码如下：
[code]

无报错信息，有的数据会卡死，有的数据又是正常执行，很奇怪

[2022-04-01 15:03] linjieccc commented on #1889
你好，可以升级PaddlePaddle和PaddleNLP到最新的版本再试下

[2022-04-02 07:07] 471417367 opened #1890 "paddlenlp.transformers系列模型转ONNX报错"
下的模型有5个文件：
model_config.json
model_state.pdparams
sentencepiece.bpe.model
tokenizer_config.json
training_args.bin

环境：
paddle2onnx==0.9.1
paddlenlp==2.2.4

运行命令：
paddle2onnx --model_dir PP-Layout_v1.0_ser_pretrained --model_filename sentencepiece.bpe.model --params_filename model_state.pdparams --save_file ser_pretrained.onnx --opset_version 12

报错：
Traceback (most recent call last):
File "/usr/lo

[2022-04-02 08:29] ShaneTian opened #1893 "是否有 Trainer 使用教程"
看到现在 Transformers API 包含了 [Trainer](https://github.com/PaddlePaddle/PaddleNLP/tree/develop/paddlenlp/trainer)，想问下是否有对应的使用教程，还是说完全和 Hugging Face 的 Trainer 对齐？

[2022-04-02 08:35] ZHUI commented on #1893
你好，具体使用的例子可以参考这里
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0/finetune

目前提供的是初步版本，需要改进迭代，功能上基本对齐 Hugging Face 的 Trainer，部分功能可能支持不全，欢迎使用反馈！

这里有个最新代码适配的PR，也可以参考这个 https://github.com/PaddlePaddle/PaddleNLP/pull/1892

[2022-04-02 09:28] ShaneTian commented on #1893
好的。
- 是否有正式版本的排期计划？
- 是否后续会出使用教程？

[2022-04-02 10:03] HuStanding commented on #1889
尝试升级到最新的release版本，还是同样的问题

[2022-04-02 10:16] HuStanding opened #1895 "Taskflow的NER任务在识别部分文本的时候会报错"
环境：
paddlenlp==2.1.0

使用taskflow的ner模型识别部分文本会出现报错的问题，函数套的太深了，大佬们帮忙看看
[code]

错误信息显示如下：
[code]

升级了最新的稳定版本，还是会出现一样的问题

[2022-04-02 10:37] linjieccc commented on #1895
你好，可以升级到最新2.2.5版本再试下
![image](https://user-images.githubusercontent.com/40840292/161379396-7062723e-53b5-4de4-ac6b-c99c5632a37a.png)

[2022-04-02 10:44] linjieccc commented on #1889
能否提供下复现代码，我们尝试复现下问题

[2022-04-02 11:31] #1895 closed, assigned to linjieccc

[2022-04-02 11:32] HuStanding commented on #1889
多进程的代码如上，但是数据不方便外传，碰见过几次了，一直没找到原因

[2022-04-02 12:16] yingyibiao commented on #1890
您好，LayoutLM 系列模型我们还没有支持转 ONNX。

[2022-04-02 14:56] #1837 closed, assigned to linjieccc, Steffy-zxf

[2022-04-03 00:49] #1763 closed, assigned to smallv0221

[2022-04-05 04:21] ShaneTian opened #1897 "`Tokenizer` 未提供完整的 `padding` 策略"
现在的 Tokenizer 提供的 padding 方式只有：
- `True`：pad 到 `max_seq_len`
- `False`：不 pad
https://github.com/PaddlePaddle/PaddleNLP/blob/2000ea2ea88f5ef7804d1ee31f6b57f9feb6f006/paddlenlp/transformers/tokenizer_utils.py#L622-L625

而 Hugging Face 的 Tokenizer 提供了多一种：
- `longest`：pad 到当前 batch 的最大长度
https://github.com/huggingface/transformers/blob/3dc82427166239e2764196c07fa4c5dcc25b1590/src/transformers/tokeniza

[2022-04-05 06:45] wj-Mcat commented on #1897
Agree with @ShaneTian . Although most of time we can only use max-mode to handle the inputs, but if user want to use more dynamic sequence length to full use info and gpu, longest-mod is vital for developers. How so you think about it?

[2022-04-05 07:06] wj-Mcat commented on #1695
Have this issue been fixed? If not, I want to have a try.

What’s more, If there are some suggested docs or codes to help us to complete it?

[2022-04-05 07:57] Yoshiko-Arsenault commented on #1836
Also, is there a plan to adapt `t5-11b`?

[2022-04-05 08:54] lichade-son opened #1898 "运行模型可解释性评估脚本时发现没有golden目录，缺少golden证据文件"
运行模型可解释性评估脚本时发现没有golden目录，缺少golden证据文件
![image](https://user-images.githubusercontent.com/65451118/161717905-abf3a8ed-57b8-4dee-ad86-5bfe559466ba.png)
![image](https://user-images.githubusercontent.com/65451118/161717383-b8fed790-7df6-4c7f-b726-11cfd251d1df.png)

[2022-04-05 11:08] wj-Mcat commented on #1876
This feature is vital for tokenizer, but not required. Even so I hope this feature should be supported at later version.

[2022-04-05 12:45] ShaneTian commented on #1836
@yingyibiao 请问 3b 有进展吗？

[2022-04-05 13:49] yingyibiao commented on #1836
已经支持 t5-11b

[2022-04-05 13:49] yingyibiao commented on #1836
已经支持 t5-3b

[2022-04-05 13:52] wj-Mcat opened #1899 "AutoConfig is required"
## Environment

[code]

## Description

If I want to fetch the hidden_size of PLMs which I don't know the specific the type of PretrainedModel.  So how do I get the hidden size of the output.

[code]

It's easy to achieve this in pytorch with transformers:
[code]

So, how can I achieve this in paddlenlp ?

[2022-04-05 15:49] ShaneTian commented on #1836
谢谢。
看到 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/transformers.rst 还未更新，请问在 `paddlenlp=2.2.5` 还是 `develop` 代码？传入 `t5-3b` 即可吗？ @yingyibiao

[2022-04-06 03:33] ShaneTian opened #1901 "[Bug] T5Model 精度差异较大"
在 A100 上比较了一下 Hugging Face T5Model 和 PaddleNLP T5Model 的各个尺寸精度差异，发现均有一定程度的 diff，**在 `t5-large` 上差异非常大**，麻烦看看是什么原因。

`t5-small`
[code]

`t5-base`
[code]

`t5-large`
[code]

---

对比脚本：
[code]

[2022-04-06 03:39] smallv0221 commented on #1897
您好，现在dynamic pad功能是通过paddlenlp.data中的collate function支持的，您可以参考https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_classification/pretrained_models/train.py#L132

[2022-04-06 03:48] ShaneTian commented on #1901
在 `T5ForConditionalGeneration` 上也得到了相同的结论。

`t5-small`
[code]

`t5-base`
[code]

`t5-large`
[code]

---

对比脚本：
[code]

[2022-04-06 04:09] guoshengCS commented on #1898
@binlinquge  还请帮忙看下这个问题

[2022-04-06 04:13] binlinquge commented on #1898
你好，可解释性这块正在赛事中，golden数据集暂时还没有开源，可以移步https://aistudio.baidu.com/aistudio/competition/detail/159/0/submit-result进行结果提交和评估，谢谢~

[2022-04-06 04:29] smallv0221 commented on #1876
This is now supported in develop branch. You are welcome to try.

[2022-04-06 05:24] HuStanding commented on #1895
多谢，升级之后已经解决了~

[2022-04-06 06:33] smallv0221 commented on #1897
我们有计划在后续版本中支持tokenizer的相应功能了

[2022-04-06 07:53] HoratioJSY opened #1903 "paddlenlp.ops.ColumnParallelLiner 中合并output的API有有typo？"
paddlenlp：2.2.5， paddlepaddle-gpu：2.2.0.post112，操作系统：Linux

在调用paddlenlp.ops.ColumnParallelLiner时发现，如果gather_out=True会报错，paddle不存在paddle.distributed.collective._concat。

在[https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/distributed/parallel.py#L233](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/distributed/parallel.py#L233)，是不是需要改成 paddle.distributed.col

[2022-04-06 07:54] ColaFei opened #1904 "Paddlenlp加载模型出错"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
paddlePaddle-gpu: 2.2.2
PaddleNLP: 2.2.5
Python: 3.7.10
CUDA: 11.0
CUDNN: 8.0
![image](https://user-images.githubusercontent.com/37499167/161924304-90ed3ead-3a1f-

[2022-04-06 07:58] guoshengCS commented on #1899
Currently,  code like `getattr(model, model.base_model_prefix).config['hidden_size']` can be used to get the value of `hidden_size` or any other configuration. However it is not no so plain. Thanks for the suggestion. We also plan to provide easier way to get the configurations, though maybe not use `AutoConfig`.

[2022-04-06 08:34] w5688414 commented on #1904
进入python解释器，输入import paddle ，再输入 paddle.utils.run_check()

[2022-04-06 08:36] ZHUI commented on #1903
这份代码比较早，应该是api发生了变动:

目前代码在这里，确实为`paddle.distributed.collective._c_concat`
https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py#L97

[code]

另 GPT 大模型可以参考，gpt-3  https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/gpt-3/dygraph/modeling.py#L109-L114
模型并行的这几个 api 是动、静态图通用的。

[2022-04-06 08:38] w5688414 commented on #1904
安装正确版本的paddle： https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

[2022-04-06 08:39] guoshengCS commented on #1904
这个可能是因为安装的Paddle包和CUDA环境不匹配，还请再确认下是否安装了和CUDA环境对应的Paddle包
<img width="829" alt="image" src="https://user-images.githubusercontent.com/14105589/161933173-b2087290-7099-48bb-b036-2f6a25b2dcca.png">

[2022-04-06 08:59] #1903 closed, assigned to nobody

[2022-04-06 09:18] ZHUI commented on #1893
你好，4月底paddlenlp预计会发布 2.3 版本。届时会退出trainer的 aplha 初步版本，并配套教程。

基本功能是对齐 Hugging Face 的，也可先尝试 使用

[2022-04-06 09:19] ShaneTian commented on #1893
赞 👍

[2022-04-06 09:19] #1893 closed, assigned to ZHUI

[2022-04-06 09:26] xiangfeidecao commented on #1887
再请教下，环境是 paddlepaddle 2.0.2,paddlenlp2.0.0-我自己标注了越南文的地址信息，在way_bill_ie下面直接更新了data,conf.但是训练时提示
/home/hk/.conda/envs/Paddle/lib/python3.7/site-packages/paddle/fluid/layers/utils.py:26: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to us

[2022-04-06 09:58] a101269 commented on #1613
我也遇到同样问题

[2022-04-06 10:29] linjieccc commented on #1613
@joey12300 辛苦帮忙看下这个问题

[2022-04-06 12:08] janelu9 opened #1906 "[important bug] InferTransformerDecoding doesn't surpport cross_attn's qdim!=kdim"
[code]
paddlenlp                          2.2.5
paddlepaddle-gpu                   2.2.2.post112

this is my decoder
[code]

[2022-04-06 12:13] janelu9 commented on #1906
In addition , it also does not support the decoder's last linear layer's bias is False

[2022-04-06 16:17] ShaneTian commented on #1901
`T5Model` 在 P40 上精度损耗很小，怀疑是否为 GPU 型号导致？

`t5-small`
[code]

`t5-base`
[code]

`t5-large`
[code]

[2022-04-06 17:16] guoshengCS commented on #1901
在基础API层面Paddle和HF一个明显的差异是`nn.Linear`，Linear在使用矩阵乘GEMM是使用的权重格式不同，是转置关系，矩阵乘GEMM在不同的GPU架构上确实可能会调用不同的实现。之前我们这边在对齐的时候做过替换torch HF的Linear为和Paddle一致的转置形式，能够保证更严格的精度，这个  @LiuChiachi  提供下吧

[2022-04-06 17:18] guoshengCS commented on #1901
另外 @yingyibiao  也看下是否将这个加入模型对齐的文档中

[2022-04-06 17:41] guoshengCS commented on #1906
Thanks for the issue report, we will put the support into plan of near future.  @FrostML

[2022-04-07 02:37] LiuChiachi commented on #1901
[code]

因为torch 和 Paddle 的`linear`底层调用 不一致，所以可以用上面的代码替换torch的`linear`和Paddle保持一致，这里同时替换了`nn.functional.linear`和`Linear`

[2022-04-07 03:39] ZHUI opened #1908 "【BUG】clue tnews 在不指定 split 参数的情况下，load_datasets 会报错"
clue tnews 在不指定 split 参数的情况下，load_datasets 会报错， 如图
<img width="1037" alt="05d0aeb5abfdcda9138422002998d26f" src="https://user-images.githubusercontent.com/16911935/162115458-a164d824-7fe3-4ac3-9973-319a71d07775.png">

[2022-04-07 11:23] yingyibiao opened #1911 "tokenizer 的 from_pretrained 接口加载报错（tokenizer_config.json 文件含有 special_tokens 信息）"
1. 示例代码：AutoTokenizer.from_pretrained("saibo/legal-roberta-base")。
2. 分析：在 `saibo/legal-roberta-base` 的 tokenizer_config.json 文件中，special_tokens 的信息通过以 dict 格式保存的。通过 from_pretrained 进行加载时，会出现 TypeError: unhashable type: 'dict'。

[2022-04-08 01:01] Paul0M opened #1912 "ernie-health-chinese预训练权重404"
paddlenlp 2.2.5
使用cblue, NER训练出现

[2022-04-08 01:56] zouhan6806504 opened #1913 "roberta-wwm-ext的tokenizer会把文本中的空格忽略掉"
tokenizer = paddlenlp.transformers.RobertaTokenizer.from_pretrained('roberta-wwm-ext').tokenizer
text = '京侠 加热鼠标垫超大号桌垫发热保暖手桌垫电脑办公室电热学生写字桌面来图定制 36*60神器女神'
text = '一 二 三'
a = tokenizer.basic_tokenizer.tokenize(text)
print(a)

结果
['一', '二', '三']

不想让它忽略要怎么办？

[2022-04-08 02:11] 471417367 commented on #1890
谢谢

yingyibiao ***@***.***> 于2022年4月2日周六 20:16写道：

[2022-04-08 06:44] luyaojie opened #1914 "[Feature Request] T5 的FastTransformer支持"
尝试使用BART[Transformer高性能加速](https://paddlenlp.readthedocs.io/zh/latest/advanced_guide/fastergeneration/fastertransformer.html#transformer)，提速非常明显（3090测试约10倍）。

请问同样采用encoder-decoder架构的T5上是否也可以支持该特性？

[2022-04-08 06:50] Nirvana-2021 opened #1915 "Neural_Search 模块在自构建数据集上，无监督训练 Simcse 时，loss 值始终维持在某个值附近"
版本\环境：
paddlenlp 2.1.1
paddlepaddle-gpu 2.2.0
Linux
python 3.6

问题：
(1) 在 Paddle 提供的样例数据中，经过训练、测试，Neural_Search 模块功能都是正常的;
_**(2) 但是，将样例数据换成自己构建的数据后，Simcse 的无监督训练过程中，Loss 值始终维持在某个值（约 4.2）附近，自构建数据样例，见附件（train_unsupervised_demo.csv, dev_demo.csv）
[dev_demo.csv](https://github.com/PaddlePaddle/PaddleNLP/files/8449365/dev_demo.csv)
[train_unsupervied_demo.csv](https://github.com/PaddlePaddle/PaddleNLP

[2022-04-08 06:52] LiuChiachi commented on #1912
HI，我刚看了下代码，可能下载链接更新了，现在是这个下载链接：
"https://paddlenlp.bj.bcebos.com/models/transformers/ernie-health-chinese/ernie-health-chinese.pdparams"
最新的代码在这里，https://github.com/PaddlePaddle/PaddleNLP/blob/00af227211e904521cc627aaf81d20b2383a8841/paddlenlp/transformers/electra/modeling.py#L352
这部分可能没有进入paddlenlp 2.2.5版本中

[2022-04-08 07:24] ArtificialZeng opened #1916 "KeyError: 1 When I run simcse predict.py"
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/simcse/deploy/python/predict.py

Traceback (most recent call last):
  File "deploy/python/predict.py", line 278, in <module>
    res = predictor.predict(corpus_list, tokenizer)
  File "deploy/python/predict.py", line 227, in predict
    idx: text[1]
KeyError: 1

Env:
Name: paddlepaddle
Version: 2.2.1
Name: pad

[2022-04-08 07:33] w5688414 commented on #1915
我没看出具体原因是啥，但是您的训练文本过长，我们的预设的最大长度是64，你可以考虑一下分句，使用短句进行训练。

[2022-04-08 08:01] janelu9 opened #1917 "Why is Faster Transformer's result so far from the InferTransformerMode's"
paddlenlp                          2.2.5
paddlepaddle-gpu                   2.2.2.post112

[code]

My decoder is:

[code]

[2022-04-08 08:07] janelu9 commented on #1917
[code]
out,out1
[code]

[2022-04-08 08:11] w5688414 commented on #1916
问题修复了，感谢反馈。https://github.com/PaddlePaddle/PaddleNLP/pull/1918

[2022-04-08 08:55] FrostML commented on #1917
It seems that there is no `load` method in your implementation. How do you load trained parameters?

Firstly, in your repo, I found
[code]
when `d_model = 384` and `n_head = 6` will trigger `fuse_qkv` optimization and it's necessary to reload parameters. You can follow [this code](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/ops/faster_transformer/transformer/faster_transformer

[2022-04-08 09:05] LiuChiachi commented on #1908
这个定位到tnews的splits有个test1.0的问题，这个问题@smallv0221 已经在看了

[2022-04-08 09:10] ArtificialZeng opened #1920 "The process of ranking/ernie_matching is confusing. how to generate .csv file that with the "prob" field."
https://github.com/ArtificialZeng/PaddleNLP/tree/develop/applications/neural_search/ranking/ernie_matching

You can look at step 7 in ranking/ernie_matching. The prob is already given.
But it seems like your Doc hasn't documented how to generate that kind of .csv file with prob.

7.
准备预测数据
待预测数据为 tab 分隔的 tsv 文件，每一行为 1 个文本 Pair，和文本pair的语义索引相似度，部分示例如下:

中西方语言与文化的差异  第二语言习得的一大障碍就是文化差异。    0.516034245

[2022-04-08 09:15] ArtificialZeng commented on #1920
I've tried deleting the last 'prob' field.  The ranking file predict.py won't work.
PaddleNLP engineer has told me that file is merely a ranking file.
But it seems like this project doesn't have a program to generate its own .csv with prob field.

[2022-04-08 13:23] janelu9 commented on #1917
All the parameters were passed into the FasterTransformer by it's  '\_\_init\_\__'  function's pramameter 'model'

`self.encoder=model.encoder`
for InferTransformerDecoding:
[code]

[2022-04-08 15:03] Paul0M commented on #1912
跑训练命令，出现的下载路径是：https://bj.bcebos.com/paddlenlp/models/transformers/community/ernie-health-chinese/model_state.pdparams

但在对应的site-packages里搜，没有上述路径，
[code]

将key改为ehealth-chinese就可以跑了，只是不知这样改是否对应ernie-health-chinese？

[2022-04-09 02:48] AI-Mart opened #1921 "PaddleNLP/applications/neural_search/recall/domain_adaptive_pretraining/ 运行预训练，报错"
报错如下

`aistudio@jupyter-271421-3579112:~/23_12345_96166/model/train/domain_adaptive_pretraining$ python -u  -m paddle.distributed.launch \

-----------  Configuration Arguments -----------
backend: auto
elastic_server: None
force: False
gpus: 0
heter_devices:
heter_worker_num: None
heter_workers:
host: None
http_port: None
ips: 127.0.0.1
job_id: None
log_dir: output/ernie-1.0-dp8-gb1024/log
np: No

[2022-04-09 06:37] w5688414 commented on #1920
Actually, the prob column is not used in the ranking model,and the prob is extracted from the milvus engine, in the ranking model, the query and title are required, you can set the prob column to zero like this:
中西方语言与文化的差异 第二语言习得的一大障碍就是文化差异。 0

[2022-04-09 08:00] bbbxixixixi opened #1923 "roberta预训练处理数据用到了hf 的transformer，没法在aistudio上运行"
aistudio禁了torch，导致create_data.py没法运行
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/roberta

如果要继续预训练roberta，自己准备数据，格式是怎么样的？

[2022-04-09 08:19] janelu9 commented on #1917
Sorry, I forget to modify this parameter `dim_feedforward`  to `d_model * 4`, for the parameter `d_model` was `256` before, but [errors](https://github.com/PaddlePaddle/PaddleNLP/issues/1906) occurred.
I have added a method `_init_fuse_params` into my `FasterTransformer`, it seems to be working properly now. Thanks.

[2022-04-09 10:08] #1917 closed, assigned to FrostML

[2022-04-09 13:02] w5688414 commented on #1921
看上去是数据集的问题，具体要看具体是怎样操作的，请问是在aistudio上运行的吗？如果是，能否提供一下项目地址。

[2022-04-10 03:00] AI-Mart commented on #1921
项目地址：https://aistudio.baidu.com/aistudio/projectdetail/3774711?shared=1

安装文档提示，按以下步骤操作的

1、
pip install tqdm numpy pybind11 lac zstandard

2、
mkdir data && cd data
wget https://paddlenlp.bj.bcebos.com/models/transformers/data_tools/baike.txt
cd ..

3、
python trans_to_json.py  --input_path ./data --output_path baike_sample

4、
python -u  create_pretraining_data.py \
    --model_name ernie-1.0 \

[2022-04-10 06:12] ZTurboX opened #1924 "tinybert蒸馏"
tinybert蒸馏的方法适用于macbert蒸馏吗

[2022-04-10 08:30] ShaneTian commented on #1901
感谢回复。
修改 PyTorch 的实现方式不能解决根本问题。大部分的场景是需要将 PyTorch 的参数转换到 Paddle 下，使用 Paddle API 进行再训练或推断。如果 Paddle 和原版 PyTorch 的每次 forward 不能对齐，那么训练产出和推断结果和 PyTorch 差距将会非常大。

---

按照 @LiuChiachi 提供的代码，我尝试了一下逆过程，即修改 Paddle 的代码来对齐 PyTorch：
- 参数转换时不转置 weight
- 覆盖 `paddle.nn.functional.linear`
- 覆盖 `paddle.nn.Linear`

但结果是，**修改 Paddle 代码和不修改的产出完全一致，无法和 PyTorch 对齐**

相关代码：
[code]

[2022-04-10 13:53] BaiIIzt opened #1925 "语义检索模型，请问下面两个文件在哪里呢？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤
![image](https://user-images.githubusercontent.com/75989862/162621627-1d9f5d1a-bdee-4f67-99aa-5bd242636221.png)

[2022-04-10 14:13] bbbxixixixi opened #1926 "examples/language_model/pretraining_data_prepare/main.py准备数据很慢"
版本最新develop，环境aistudio
我的数据200w，每行150字符以内，已经安装标准准备好

[code]

使用命令
[code]

在处理train那一部分时很快，但是处理test的时候，就是一个一个来，约0.8s到1s处理一条。那个shards为1的时候影响这么大吗？我看了下最后生成的数据，每个shards也就是生成一个txt文件，约520kb左右，test文件14mb

[2022-04-10 14:24] bbbxixixixi opened #1927 "examples/language_model/bert/create_pretraining_data.py处理数据内存溢出"
版本最新develop，环境aistudio
数据由examples/language_model/pretraining_data_prepare/main.py准备完成，共256个train.txt,每个520kb，一个test.txt，14mb
执行命令
[code]
内存不断升高，最后超过16g环境崩溃
我看了下代码，是将所有文本都通过编码转成features，最后再一次性存成h5py文件，这个是不是正常现象，数据稍微多点就没法继续预训练了

[2022-04-10 14:35] BaiIIzt commented on #1925
请问，inference.get_pooled_embedding.pdiparams和inference.get_pooled_embedding.pdmodel这个模型在哪里呢，是什么呢？我替换成用自己训练出了的simcse模型的话会出现报错
![image](https://user-images.githubusercontent.com/75989862/162624510-9568e138-1b3b-4a48-83db-a8428b5da608.png)
我的配置是
![image](https://user-images.githubusercontent.com/75989862/162624542-ebc8d5a3-f4bc-47e1-9a08-6fb72c58e635.png)

[2022-04-10 14:58] renmada opened #1928 "load xnli数据集报错"
[code]

[2022-04-10 15:05] #1928 closed, assigned to nobody

[2022-04-10 16:54] bbbxixixixi opened #1929 "bert run_pretrain不会一边训练一边eval，但是生成数据集的时候有test，这是为什么?"

[2022-04-11 02:30] ZHUI commented on #1923
收到，我这边尝试下，是否可以切换为 Paddlenlp 的 AutoTokenizer，感谢反馈

[2022-04-11 02:36] zouhan6806504 opened #1934 "param.grad经过loss计算以后为none"
### 请提出你的问题 Please ask your question

1月份左右写了一个nlp功能里的pgd，当时运行正常，近期使用最新的paddlenlp，环境aistudio，想把功能移植过来，结果运行异常
训练代码
[code]
模型代码
[code]
后面运行异常，发现是self.bert.named_parameters()获取param.grad时全部为None
经过bert的时候，只使用了最后一层hidden status进行运算
[code]
这样也应该用到了word_embeddings这一层吧？还是说后面代码有更新，param.grad获取方法变了？

[2022-04-11 03:03] ZHUI commented on #1923
这里我们跟 HF 采用的是一样的数据格式，也可以本地create 之后，在上传处理之后的数据集

[2022-04-11 03:08] w5688414 commented on #1925
是使用下面的脚本导出的静态图参数：

https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/simcse/scripts/export_model.sh

[2022-04-11 03:14] LemonNoel commented on #1912
这是因为在develop版本中更新了模型名称，ehealth-chinese和ernie-health-chinese对应的参数是相同的，后续版本发布后会统一使用ernie-health-chinese。

[2022-04-11 03:17] ZHUI commented on #1926
我简单算一下，train的话，一个shard是0.5M， 总共是128M多，test是 14M，跟` --fraction_test_set 0.1`比较一致。
这边建议的话，可以将 ` --fraction_test_set 0.1` 设置小一点，比如 0.01
[code]

另外想问一下，您这边主要的需求是什么？想训练哪一个模型，如果是 ernie的话，可以参考  https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0

[2022-04-11 03:25] ZHUI commented on #1927
内存只有16G吗？建议采用大一点的机器试试。我这边也看看能否改进。

同之前issue，如果是训练 ernie-1.0 的话，可以参考 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0

虽然数据制造还是放在内存，如果有需要，我这边可以支持一下 mmap 到硬盘
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/language_model/data_tools/create_pretraining_data.py#L314

[2022-04-11 03:26] sandyhouse commented on #1934
是否方便提供个最小可复现代码？

[2022-04-11 03:27] ZHUI commented on #1929
确实存在这个问题，十分抱歉

同之前 issue，ernie-1.0 这块的 train valid test是完善的。 https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/ernie-1.0

[2022-04-11 03:43] LiuChiachi commented on #1924
适用。只要模型结构和BERT/ERNIE相似是这种基于TransformerEncoder结构组成的应该都可以尝试tinybert策略。

[2022-04-11 03:55] zouhan6806504 commented on #1934
https://aistudio.baidu.com/studio/project/partial/verify/3781426/8805d6e126744d2b852c7feb3e3aff10
依次执行到训练的那一步即可

[2022-04-11 05:37] zouhan6806504 commented on #1926
数据的切分是没什么问题的，就是当参数设置为1的时候生成很慢。比如保持fraction_test_set=0.1，设置n_test_shards=1 ，n_test_shards=100，这两者处理耗费的时间能差约100倍

[2022-04-11 05:42] zouhan6806504 commented on #1927
aistudio的配置就只有这么大，我写了个循环，每个文件都单独生成一次，算是绕过去了
因为后续的训练支持读取多个hdf5文件，其实可以每个txt单独生成hdf5，而不是全部txt合起来生成一个

[2022-04-11 06:29] AhriZ08 opened #1931 "切换paddle版本后paddlenlp运行出错"
paddlepaddle-gpu:2.1.3
paddlenlp:2.2.5
之前安装paddlepaddle-gpu:2.2版本提示cudnn需要8.2，但是已经安装了cuda11.2+cudnn8.2.0，然后尝试降低paddlepaddle-gpu版本，安装2.1.3版本的paddle后，没有改变原来paddlenlp版本，运行报错cannot import name 'einsum' from 'paddle'

[2022-04-11 06:44] jiweizhangxu opened #1932 "module 'paddlenlp' has no attribute 'ops' 请问这个问题怎么解决？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-04-11 07:52] ZHUI commented on #1934
我不了解具体算法，但是 第三行是不是少了 backward，导致没有梯度啊？
[code]

[2022-04-11 07:54] ZHUI commented on #1932
能否贴一下你的调用报错代码？

[2022-04-11 07:58] ZHUI commented on #1931
建议使用 paddle 2.2，paddlenlp这边使用了一些最新的 paddle api，比如 这里的 `einsum `
出现一些版本提示，是正常现象
可以参考官网教程安装
https://www.paddlepaddle.org.cn/
[code]

[2022-04-11 08:08] yangnianen opened #1935 "PaddleNLP搭建命名实体识别模型，到第七轮，GPU就运行不动？"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
paddlenlp                          2.2.5
paddlepaddle-gpu                   0.0.0.post102

2）系统环境：Windows10，python 3.8
- 复现信息：如为报错，请给出复现环境、复现步骤

![image](https://user-images.githubusercontent.com/17618881/162692348-d768950f-0e7a-4316-bf76-983ea3a057ce.png)

[2022-04-11 08:10] ZHUI commented on #1935
可否贴一下使用的代码地址？

[2022-04-11 08:11] yangnianen commented on #1935
[code]

[2022-04-11 08:11] yangnianen commented on #1935
`import paddle
import paddle.nn as nn
# paddle.set_device('cpu')
import paddlenlp
from functools import partial
from paddlenlp.datasets import MapDataset
from paddlenlp.data import Stack, Tuple, Pad
from paddlenlp.layers import LinearChainCrf, ViterbiDecoder, LinearChainCrfLoss
from paddlenlp.metrics import ChunkEvaluator
from utils import load_dict, evaluate, predict, parse_decodes1, parse_decode

[2022-04-11 08:18] yangnianen commented on #1935
不知道为什么，贴上去，会变成如上那样挺乱的。
[code.txt](https://github.com/PaddlePaddle/PaddleNLP/files/8462293/code.txt)

[2022-04-11 08:19] yangnianen commented on #1935
paddleNlP 挺多BUG，这框架，有点让人苦恼。

[2022-04-11 08:20] BaiIIzt commented on #1925
已解决 谢谢

[2022-04-11 08:20] ZHUI commented on #1935
这样，我建议，你卡住的地方，直接 crtl-c中断，看看卡住在哪里？

[2022-04-11 08:21] ZHUI commented on #1935
Windows 平台，使用测试得比较少，如有问题，敬请谅解，我们一发现会快速修复的。

[2022-04-11 08:27] yangnianen commented on #1935
嗯，谢谢了，工具很强大，但在教学和生产开发过程中遇到太多问题了，还是换回pytorch。

[2022-04-11 08:31] zouhan6806504 commented on #1934
似乎是这样，我再看看

[2022-04-11 08:37] skywangch commented on #1921
这个问题是因为在进行数据划分的时候，原始数据集太小，按照比例得到的验证集大小为0
解决方法：
编辑 args.py 文件，找到
parser.add_argument("--split", type=str, default='949,50,1', help="Train/valid/test data split.")
这一行，这个就是数据集划分比例，其中test只占了 1/1000，如果数据集太小，就会约等于0

可以改成 '8,1,1'，这样test、val分别占到 1/10
或者，使原始数据集足够大

[2022-04-11 08:39] ZHUI commented on #1935
可不能是，evaluate 的耗时比较长，没有日志输出，让人误以为卡住？

[2022-04-11 08:46] jiweizhangxu commented on #1932
[code]

[2022-04-11 08:59] yangnianen commented on #1935
到第7轮时候，就定住了，没有打印任何内容，程序就挂掉了。可能命名实体识别训练比较消耗GPU，GPU不够导致的，把batch_size搞成32就可以运行完。为了教学方便用了spyder作为开发工具，这应该是我们的问题。
然后paddlehub，运行 model = hub.Module(name='ernie', task='token-cls', label_map=label_map) 会报错，提示没有 ernie这个模块。显然有问题

[2022-04-11 09:06] yangnianen commented on #1935
ModuleNotFoundError: No module named 'ernie.module' ， 有没有教学文档可以通过离线下载，解决这个问题？

[2022-04-11 09:22] #1911 closed, assigned to smallv0221

[2022-04-11 09:29] w5688414 commented on #1921
parser.add_argument("--split", type=str, default='50,50,50', help="Train/valid/test data split.")

[2022-04-11 09:35] ZHUI commented on #1935
好的，辛苦 @linjieccc 看一下PaddleHub的问题

[2022-04-11 09:37] w5688414 commented on #1921
parser.add_argument("--split", type=str, default='8,1,1', help="Train/valid/test data split.")

看看

[code]

建议使用大量数据集进行训练

[2022-04-11 09:41] ZHUI commented on #1932
你好，刚刚修复了这个问题 https://github.com/PaddlePaddle/PaddleNLP/pull/1896

可以clone一下最新的代码。

[2022-04-11 09:46] linjieccc commented on #1935
你好，方便提供下PaddleHub的版本号么

[2022-04-11 09:51] yangnianen commented on #1935
paddlehub      2.2.0

[2022-04-11 10:04] linjieccc commented on #1935
可以参考下这个issue看能不能解决问题哈 https://github.com/PaddlePaddle/PaddleHub/issues/1394

[2022-04-11 11:41] #1729 closed, assigned to smallv0221

[2022-04-12 01:21] #1934 closed, assigned to sandyhouse, ZHUI

[2022-04-12 01:50] AI-Mart commented on #1921
谢谢，这么更改后可以了，建议把这个更新到官方源代码和readme,毕竟我是按照官方文档一路操作过来的，想验证试试能否运行跑通。其他的小伙伴安装文档操作估计也会遇到。

[2022-04-12 03:53] WangJieWJ opened #1939 "针对同样的文本多次使用NeuralSearch中的feature_extract.py 向量化，生成的向量不一致"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

直接使用的docker环境 registry.baidubce.com/paddlepaddle/paddle:2.2.2
PaddlePaddle  : 2.2.2
PaddleNLP : 2.2.5   手动做过升级

1、将 PaddleNLP/applications/neural_search 应用代码拷贝到容

[2022-04-12 06:22] smallv0221 commented on #1913
您好，roberta中文预训练模型分词的时候会忽略中文字符，词表中也没有空格字符。请问您需要保留空格的原因是什么呢

[2022-04-12 06:54] #1897 closed, assigned to smallv0221

[2022-04-12 07:06] tianxin1860 commented on #1939
确认一下，这里的 feature_extract.py 脚本是否为这个脚本 https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/milvus/feature_extract.py ？

[2022-04-12 07:45] #1908 closed, assigned to LiuChiachi, smallv0221

[2022-04-12 08:32] WangJieWJ commented on #1939
本地代码好久没更新，已经更新最新代码，谢谢
最新版本的feature_extract.py 可能会有下面问题吧：
![image](https://user-images.githubusercontent.com/16323371/162917251-80ee0c3b-670c-4774-a679-f4cb7f3e3a0a.png)

[2022-04-12 09:18] tianxin1860 commented on #1939
感谢反馈，这个问题已经修复了，可以拉取我们最新的 develop 分支代码。

[2022-04-12 10:11] WangJieWJ opened #1943 "使用 feature_extract.py 进行向量抽取结果不正确"
``欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

直接使用的docker环境 registry.baidubce.com/paddlepaddle/paddle:2.2.2
PaddlePaddle : 2.2.2
PaddleNLP : 2.2.5 手动做过升级

**向量抽取的结果如下：**
![image](https://user-images.github

[2022-04-12 12:53] yingyibiao opened #1944 "GPTModel.from_pretrained 加载报错"
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.5，PaddlePaddle 2.2.1
2）系统环境：MacOS，3.8.2
在一段代码中加载多个 gpt 模型（并不一定需要同一个权重）：
m = GPTModel.from_pretrained("gpt2-medium-en")
m = GPTModel.from_pretrained("gpt2-medium-en")
会出现报错： ValueError: parameter name [word_embeddings] have be been used. In dygraph mode, the name of parameter can't be same.Please check the parameter attr value passed to self.create_parameter

[2022-04-12 14:17] tianxin1860 commented on #1943
基于我们开源的数据抽取向量有问题吗？

[2022-04-12 16:36] TBBTfans commented on #1421
请问如何解决的

[2022-04-12 23:54] wj-Mcat commented on #1899
So glad to hear that, if you have any progress, you can link this issue so that I can get the it quickly.  Thanks.

[2022-04-13 01:07] WangJieWJ commented on #1943
嗯嗯，我使用的数据只是从开源的数据中截取了一部分

[2022-04-13 01:21] WangJieWJ commented on #1939
develop分支代码还没有更新😯
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/applications/neural_search/recall/milvus/feature_extract.py

[2022-04-13 01:54] #1944 closed, assigned to nobody

[2022-04-13 03:04] wjddd opened #1946 "skep_ernie_1.0_large_ch动转静预测报错"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.5，PaddlePaddle 2.2.0
2）系统环境：Linux，Python 3.7.13

- 问题
skep_ernie_1.0_large_ch使用原始参数实现动转静
动转静代码使用
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/skep/export_model.py
预测代码使用
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/sentiment_analysis/skep/deploy/python/predict.py

报错信息：
--- Running analysis

[2022-04-13 05:49] zouhan6806504 commented on #1913
ner，空格会出现在一些非O的标记中，目前是用“|”替换了空格

[2022-04-13 10:10] #1939 closed, assigned to tianxin1860, w5688414

[2022-04-13 11:21] wawltor opened #1948 "『NLP打卡营』实践课4 基于预训练模型完成实体关系抽取结果出错"
<img width="647" alt="image" src="https://user-images.githubusercontent.com/16698950/163169512-d3d57c6b-00d3-487b-a637-bd53f11993da.png">

[2022-04-13 11:23] w5688414 commented on #1943
只抽取了3维的向量？能否提供一下aistudio项目地址呢？

[2022-04-13 14:53] Cppowboy opened #1949 "使用paddlenlp时，自建的python logger无法打印日志"
如题

[2022-04-14 01:11] 1chang37 opened #1950 "bert模型导出ImportError: cannot import name 'default_data_collator'"
1）PaddleNLP  github最新版本
     PaddlePaddle版本  2.2.2：
2）系统环境  ubuntu 18.04，python版本3.6.9

目录：PaddleNLP/examples/language_model/bert#
指令：python3 -u ./export_model.py \
    --model_type bert \
    --model_path bert-base-uncased \
    --output_path ./infer_model/mode
报错信息：
Traceback (most recent call last):
  File "./export_model.py", line 20, in <module>
    from run_glue import MODEL_CLASSES
  File "

[2022-04-14 01:16] janelu9 opened #1951 "在FasterTransformer的decoding中，word_embeding的forward是emb_dim**0.5*word_embeding还是直接word_embeding？"
paddlenlp                          2.2.5
paddlepaddle-gpu                   2.2.2.post112

[2022-04-14 02:01] WangJieWJ commented on #1943
@w5688414 你好，aistudio地址：https://aistudio.baidu.com/aistudio/projectdetail/3496450

[2022-04-14 05:18] guoshengCS commented on #1932
已经修复，此issue先行关闭

[2022-04-14 05:18] #1932 closed, assigned to guoshengCS, ZHUI

[2022-04-14 06:54] FrostML commented on #1951
是 `emb_dim**0.5 * word_embeding`，FasterTransformer 的实现细节可以参考 PaddleNLP 中 [Transformer 代码](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/transformer/modeling.py#L95) .

[2022-04-14 07:48] janelu9 commented on #1951
是一样的就好

[2022-04-14 07:51] snoopy1316 opened #1957 "paddlenlp-篇章级事件抽取相关"
参考文档：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuEE
在aistudio中运行，硬件信息：GPU   环境配置python 3.7，PaddlePaddle 2.2.2
# 触发词识别模型训练
[code]
该怎样解决，谢谢

[2022-04-14 07:54] snoopy1316 commented on #1957
问题2：在进行模型构建过程中：PaddleNLP提供了ERNIE预训练模型常用序列标注模型，可以通过指定模型名字完成一键加载：from paddlenlp.transformers import ErnieForTokenClassification

model = ErnieForTokenClassification.from_pretrained("ernie-1.0", num_classes=len(label_map))
输出结果为：
Traceback (most recent call last):
  File "一键加载.py", line 1, in <module>
    from paddlenlp.transformers import ErnieForTokenClassification, ErnieForSequenceClassification

[2022-04-14 13:30] gongel commented on #1949
你好，能给个case吗？

[2022-04-15 01:44] wjddd opened #1959 "文本纠错预测代码报错"
**- 版本信息**

1）PaddleNLP和PaddlePaddle版本：PaddleNLP 2.2.5，PaddlePaddle 2.2.0
2）系统环境：Linux，Python 3.7.13

**- 问题**

运行文本纠错预测代码出现问题，地址：https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/text_correction/ernie-csc/predict.py

Traceback (most recent call last):
  File "/text_correction/predict.py", line 136, in <module>
    results = predictor.predict(samples, batch_size=args.batch_size)
  Fi

[2022-04-15 03:26] smallv0221 commented on #1957
您好，看起来可能是您没有安装datasets库，目前PaddleNLP依赖datasets库，可以安装datasets之后再试一下

[2022-04-15 04:57] yingyibiao opened #1962 "PaddleNLP 2.2.6 Release Note Candidate"

[2022-04-15 05:08] yingyibiao commented on #1962
# 问题修复
* 优化了AutoModel & AutoTokenizer模块的报错信息 #1902
* 修复了ErnieDoc模型分类任务默认类别缺失的问题 #1867
* 修复了Roberta tokenizer加载本地资源报错的问题 #1821
* 修复了bstc数据集文件缺失的问题
* 优化了xnli数据集的报错信息 #1838
* 修复了FewCLUE数据集中unlabeled.json文件为空的问题 #1881
* 修复了load_dataset读取CLUE tnews数据集所有splits时报错的问题 #1941
* 修复中文阅读理解指标计算偏低的问题 #1874
* 修复textcnn静态图预测报错的问题 #1839
* 修复了文本分类使用预训练模型进行分布式训练时报错的问题 #1839

[2022-04-15 06:13] gongel commented on #1946
你好，保存的模型文件有问题吗？

[2022-04-15 06:15] tianxin1860 commented on #1943
请问是直接运行 AIStudio 项目用我们开源的数据吗？还是做了一些什么修改？

[2022-04-15 07:09] WangJieWJ commented on #1943
没做任何修改
1、代码直接下载的https://github.com/PaddlePaddle/PaddleNLP/archive/refs/heads/develop.zip
2、预训练模型用的是https://bj.bcebos.com/v1/paddlenlp/models/simcse_model.zip
3、数据用的是https://bj.bcebos.com/v1/paddlenlp/data/literature_search_data.zip 中的 milvus/milvus_data.csv

[2022-04-15 07:56] w5688414 commented on #1943
模型调错了，simcse应该调用inference.get_pooled_embedding，feature_extract.py改一下这两行就行。
[code]

[2022-04-15 08:07] skywangch commented on #1548
在不同机器 配置不同版本paddle（2.0 2.1 2.2）依然出现这个问题，不知道是底层框架问题，还是预训练代码的问题

[2022-04-15 08:49] ZHUI commented on #1548
嗯嗯，可以试一下 develop 版本，因为有些训练逻辑用到了最新版本的一些特性。

[2022-04-15 09:50] AI-Mart commented on #1921
1、运行/domain_adaptive_pretraining/data_tools/trans_to_json.py，生产的样本，相比原数据增加了一倍，不知道是否正常
2、用自己的数据集，大概一千条左右，每条都当做单独的doc,即每个doc只有一条数据一个\n，doc之间用空格隔开，启动run_pretrain_static.py 预训练后代码卡主了，没往下运行

`aistudio@jupyter-271421-3579112:~/23_12345_96166/model/train/domain_adaptive_pretraining$     python -u  -m paddle.distributed.launch \

-----------  Configuration Arguments -----------
backend: auto
elastic_serve

[2022-04-15 11:35] tianxin1860 opened #1963 "情感分析 Application 新增观点聚合功能"

[2022-04-15 12:40] AI-Mart commented on #1921
代码地址：https://aistudio.baidu.com/aistudio/projectdetail/3774711?contributionType=1&shared=1

`
# 1
 python trans_to_json.py \
        --input_path ../data/data_origin \
        --output_path ../data/baike_sample \

# 2
    python -u  create_pretraining_data.py \
        --model_name ernie-1.0 \
        --tokenizer_name ErnieTokenizer \
        --input_path ../data/baike_sample.jsonl \
        --spl

[2022-04-15 13:47] linjieccc commented on #1948
对应AIStudio项目已更新，模型评估结果示例：
![image](https://user-images.githubusercontent.com/40840292/163578281-f9d56958-a0b4-4532-af02-f9ebc78fbd1b.png)

[2022-04-16 01:53] kol66 commented on #1948
我也遇到这个问题，请问是如何解决的呀？

[2022-04-16 07:34] Paul0M commented on #1912
还有一个小问题，如果想在医疗健康领域做NER，数据集比较小，类别可能和CMeEE有很大差别，下面哪种方案你们比较推荐：
1. 在ernie-health-chinese上直接fine-tune自己的小数据集
2. 在ernie-health-chinese上fine-tune CMeEE，再基于得到的结果fine-tune自己的小数据集

[2022-04-16 07:45] Mnanazi opened #1964 "paddlenlp-篇章级事件抽取相关-paddlenlp-篇章级事件抽取相关"
在windows10下执行sh run_duee_fin.sh trigger_train后，在pycharm的terminal窗口出现“KeyError: 'B-亏损'”错误。
具体为：
[2022-04-16 15:39:19,559] [    INFO] - Already cached C:\Users\Administrator\.paddlenlp\models\ernie-1.0\vocab.txt
[2022-04-16 15:39:19,570] [    INFO] - Already cached C:\Users\Administrator\.paddlenlp\models\ernie-1.0\ernie_v1_chn_base.pdparams
W0416 15:39:19.571270 10532 device_context.cc:447] Please

[2022-04-16 12:19] #1962 closed, assigned to nobody

[2022-04-16 12:27] LemonNoel commented on #1964
可以提供下前边数据处理的步骤么，我这边尝试复现一下

[2022-04-16 13:09] Mnanazi commented on #1964
就只是按照read.me中的教程，先顺利执行了`sh run_duee_fin.sh data_prepare`，生成了一些标注数据。然后在执行`sh run_duee_fin.sh trigger_train`  时就出现了  KeyError: 'B-亏损'

[2022-04-16 13:11] Mnanazi commented on #1964
我实在pycharm中的terminal中执行的shell命令，项目结构是这样的的
![image](https://user-images.githubusercontent.com/75676487/163676254-3a5af923-4d27-4060-9743-4712d27d6fcb.png)

[2022-04-16 16:10] LemonNoel commented on #1964
我在windows10的python3.7测试了一下，在utils.py的32行中的open函数参数里添加encoding="utf8"就没有这个问题了，你可以试一下。

[2022-04-17 07:37] Mnanazi opened #1965 "paddle-DuEE1.0-句子事件抽取-role_train问题"
我一开始在自己windows下的pycharm中成功执行了`sh run_duee_1.sh data_prepare`,`sh run_duee_1.sh trigger_train`,但是触发词训练完成后在 ./ckpt/DuEE1.0/trigger/下只有final.pdparams模型参数文件，没有best.pdparams参数文件。这就导致了执行`sh run_duee_1.sh trigger_predict`时出现了 **Exception: init checkpoints ./ckpt/DuEE1.0/trigger/best.pdparams not exist**。
**之后**我尝试在colab中运行duee句子事件提取，在执行`sh run_duee_1.sh trigger_train`是很顺利的在./ckpt/DuEE1.0/trigger/下生成了fina

[2022-04-17 10:47] linjieccc commented on #1948
你好，我们对该AIStudio项目进行了升级，可以用最新版本再试下

[2022-04-17 12:27] #1965 closed, assigned to LemonNoel

[2022-04-17 12:28] Mnanazi commented on #1965
知道原因了，调试看了代码发现是一个简单的问题。浪费时间了

[2022-04-17 16:23] kol66 opened #1967 "Duie项目更换自定义数据集遇到的问题"
版本信息：paddlenlp-2.2.6
Python版本: python 3.7
框架版本：PaddlePaddle 2.2.2
系统环境：AIstudio
CPU：2
RAM：16GB
GPU：v100
显存：16GB
磁盘：100GB

我的数据集是按照千言数据集的格式构造的，但没有in_work这个标签，定义如下
定义了8种实体：
头实体：部件、方法、材料、数值。
尾实体：位置、零件、效果、属性。

定义了5种关系：
空间关系、部分关系、方案优点、材料优点、参数关系。

Spo三元组表示：
1、部件-----------（空间关系）---------->位置
2、部件-----------（部分关系）---------->零件
3、方法-----------（方案优点）---------->效果
4、材料-----------（材料优点）---------->效果
5、数值----

[2022-04-18 01:11] #1943 closed, assigned to tianxin1860, w5688414

[2022-04-18 01:26] snoopy1316 opened #1968 "篇章级事件抽取问题"
参考文档：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuEE
环境:Linux paddle-gpu=2.2.2 paddlenlp=2.2.5
在进行触发词识别模型训练时出现一下错误：
![17A6F502-786A-4dac-B2B0-A097701BDA1D](https://user-images.githubusercontent.com/94336500/163740330-48a7d52d-5707-41a1-bcba-1f122df2d1ed.png)

该怎样解决?

[2022-04-18 02:48] seancoding1 opened #1969 "如何把embedding直接输入到预训练模型中？"
模型中的forward(input_ids, token_type_ids=None, position_ids=None, attention_mask=None, output_hidden_states=False)

paddle的RobertaModel中，输入的参数好像只允许input_ids,能否把input_embeds直接输入进模型中呢？

欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息

[2022-04-18 02:56] tianxin1860 opened #1970 "新增语义表示模型支持语义向量抽取、相似度计算功能"
针对以下重点场景建设企业范例应用:

- [ ] 1.基于语义检索方式解决层次化多分类问题，场景特点: a.类别数巨大 b.标注数据难 c.类别数据不均衡
- [ ] 2.针对开放域文本分类问题，场景特点:a.文本类别体系不固定，不断扩展 b.标注成本高
- [ ] 3.基于相似度计算进行新闻标签推荐、挖掘
- [ ] 4.相似文章推荐

[2022-04-18 06:01] wjddd commented on #1946
已解决，感谢。

[2022-04-18 06:01] #1946 closed, assigned to gongel

[2022-04-18 06:15] geekhch opened #1971 "建议增加ErnieModel对文本长度限制的检测"
当输入文本长度max_len_len的长度过大时，会导致tokenizer的编码输出序列超出512，在模型embedding阶段会出现` (External) CUDA error(700), an illegal memory access was encountered. `错误，直接退出程序，并没有其他进一步的异常debug提示，导致开发者debug困难。

[2022-04-18 07:26] Nirvana-2021 commented on #1915
仅仅将每篇新闻的标题（字数大约 30 字）作为 train_unsupervised.csv， 问题还是存在的

[2022-04-18 07:26] Nirvana-2021 commented on #1915
仅仅将每篇新闻的标题（字数大约 30 字）作为 train_unsupervised.csv， 还是同样的问题。

[2022-04-18 13:03] wawltor commented on #1968
安装的是非GPU版本，可以尝试更新安装成GPU版本

[2022-04-18 16:56] guoshengCS commented on #1969
这个暂时还不支持，不过已经在评估中了，请 @yingyibiao 关注

[2022-04-18 17:27] guoshengCS commented on #1971
抱歉带来困扰，感谢建议，我们评估看下，这个加到`Paddle.nn.Embedding` api中支持更多情况可能会更好一些

[2022-04-19 02:53] #1968 closed, assigned to nobody

[2022-04-19 02:54] #1957 closed, assigned to smallv0221

[2022-04-19 03:03] w5688414 commented on #1921
预训练数据的格式变一下：

一个句子占一行
两个doc之间有一个空行

[2022-04-19 03:24] tianxin1860 commented on #1915
可以把你用的数据发我们，我们具体看下什么原因。

[2022-04-19 03:33] AI-Mart commented on #1921
嗯，一个句号结束代表一个句子，已解决，谢谢

[2022-04-19 03:33] #1921 closed, assigned to w5688414

[2022-04-19 05:56] snoopy1316 opened #1975 "paddlenlp DuEE篇章级事件抽取相关问题"
参考文档：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/information_extraction/DuEE
环境 paddlepaddle-gpu=2.2.2, ubuntu1604,paddlenlp=2.2.5
触发词识别模型训练完成，在进行触发词识别的预测时，出现以下问题：
![800457cb6326c6a111901ebbf665fec](https://user-images.githubusercontent.com/94336500/163933827-c6128f67-a757-4459-8bde-ba72b51632f4.png)
应该如何解决

[2022-04-19 07:54] wjddd opened #1976 "如何关闭日志？"
--- Running analysis [ir_graph_build_pass]
--- Running analysis [ir_graph_clean_pass]
--- Running analysis [ir_analysis_pass]
--- Running IR pass [simplify_with_basic_ops_pass]
--- Running IR pass [layer_norm_fuse_pass]
---    Fused 0 subgraphs into layer_norm op.
--- Running IR pass [attention_lstm_fuse_pass]
--- Running IR pass [seqconv_eltadd_relu_fuse_pass]
--- Running IR pass [seqpool_cvm_con

[2022-04-19 09:17] FrostML commented on #1976
`config.disable_glog_info()`

[2022-04-19 10:30] yanqiangmiffy commented on #1548
好的，谢谢

[2022-04-19 10:30] #1548 closed, assigned to ZHUI

[2022-04-20 02:58] LemonNoel commented on #1975
有运行 sh run_duee_fin.sh data_prepare 这个脚本吗

[2022-04-20 06:26] Nirvana-2021 commented on #1915
链接：https://pan.baidu.com/s/1ly_p-xWANryRK8GoRjEFUQ
提取码：0420

[2022-04-20 06:26] wjddd commented on #1959
已解决。

[2022-04-20 06:27] #1959 closed, assigned to joey12300

[2022-04-20 06:30] wjddd commented on #1976
![image](https://user-images.githubusercontent.com/65559675/164164501-40ff80da-7c97-42ac-ac6c-783a57e31cce.png)

添加`config.disable_glog_info()`后日志继续打印。

[2022-04-20 06:48] LemonNoel commented on #1975
这种情况看起来是dict_path的设置不对。可以提供下其他信息吗，比如是否有什么代码上的修改？可以在utils.py 第60行打印出来dict_path路径，检查下该路径下是否有对应的文件。

[2022-04-20 07:38] wjddd commented on #1976
已解决，感谢。

[2022-04-20 07:38] #1976 closed, assigned to nobody

[2022-04-20 08:45] yinsuso opened #1980 "DuReader-robust"
[code]

[2022-04-20 09:31] smallv0221 commented on #1980
您好，建议您使用最新版本的paddlepaddle，这个问题在新版本中已经修复了

[2022-04-20 09:47] Nirvana-2021 commented on #1915
链接：https://pan.baidu.com/s/1ILvjiMi3hnDUj0zqaxSMJw
提取码：0420

[2022-04-20 11:50] LemonNoel commented on #1912
这个可能要看类别差异具体有多大，数据质量也会有影响。之前我在单张V100上fine-tune CMeEE耗时都在五分钟以内，可以两种方案都尝试一下，直接对比一下结果哈。

[2022-04-21 01:45] yinsuso commented on #1980
[code]
2.3.0rc0版本的paddle出现的问题

[2022-04-21 02:06] tianxin1860 commented on #1915
好的，我们看下什么问题

[2022-04-21 02:45] ZHUI commented on #1980
您好，看起来是 paddle 安装有些问题。可以使用 `paddle.untils.run_check()` 检查一下环境问题。

[2022-04-21 02:55] yinsuso commented on #1980
用ai studio的notebook直接包管理切换的paddle版本，提示module 'paddle' has no attribute 'untils'，包管理显示的是2.3.0rc0版本

[2022-04-21 03:09] yinsuso commented on #1980
[code]
用的ai studio，抛出来这个提示

[2022-04-21 05:01] yinsuso commented on #1980
@smallv0221 这个最新版本的paddlepaddle是指的2.2.2版本还是2.3.0rc0版本，2.3.0rc0版本ai studio带不起来,能不能更新个可以跑通的版本，现在DuReader-robust和SQuAD都跑不通

[2022-04-21 06:13] AI-Mart opened #1982 "PaddleNLP/ applications / sentiment_analysis这个案例没有服务化部署的示例吗？"
PaddleNLP/ applications / sentiment_analysis这个案例没有服务化部署的示例吗？

[2022-04-21 06:13] janelu9 opened #1983 "InferTransformerModel 的 beam_search_v2 是否是beam_size空间下的最优"

[2022-04-21 06:22] AI-Mart opened #1984 "PaddleNLP/ applications / sentiment_analysis里面的观点和属性抽取咨询"
addleNLP/ applications / sentiment_analysis里面的观点和属性抽取是通过规则组合，会不会有一定的错误率，是不是转换成关系抽取的任务直接把实体和实体的关系抽取出来会更准确？

[2022-04-21 06:33] ZHUI commented on #1980
可以试试develop的paddle https://www.paddlepaddle.org.cn/
[code]

[2022-04-21 06:56] Paul0M commented on #1912
谢谢，请问fine-tune NER，每个类别至少出现多少次，才会达到不错的泛化效果，有没有经验值参考？毕竟真正转化成标签时类别会是3-4倍的量

[2022-04-21 07:09] yinsuso commented on #1980
这个版本动态库不行
[code]

[2022-04-21 08:56] ZHUI commented on #1980
你检查一下 cuda 版本，下对应develop的版本。

[2022-04-21 08:59] yinsuso commented on #1980
不折腾了，我发现用自带版本的paddle和paddlenlp可以跑通，只要有一个更新了就跑不通了

[2022-04-22 02:33] 1649759610 commented on #1984
会有一定的错误率，不过匹配规则是按照人们表达习惯来定的，实验效果表现还不错。
关系抽取任务可能不太适合，因为观点词本身并不是一个实体。

[2022-04-22 02:33] 1649759610 commented on #1984
会有一定的错误率，不过匹配规则是按照人们表达习惯来定的，实验效果表现还不错。
关系抽取任务可能不太适合，因为观点词本身并不是一个实体。

[2022-04-22 02:46] codecat0 opened #1990 "导入Taskflow报错"
ImportError: cannot import name 'Taskflow' from 'paddlenlp' (/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlenlp/__init__.py)

[2022-04-22 04:14] barrierye commented on #1774
求问这个解决了吗

[2022-04-22 05:42] wawltor commented on #1990
您好，看起来是PaddleNLP的版本太老了，可以升级一下PaddleNLP的版本。

[2022-04-22 07:38] guoshengCS commented on #1774
请问具体是哪个模型呢，我们找下相关模型负责人

[2022-04-22 07:58] zouhan6806504 opened #1994 "bert继续预训练，当预训练材料都是100字符左右的文本时，要怎样准备nsp任务?"
每个句子之间没什么关联关系，组合不成逻辑上的文章

[2022-04-22 08:44] HonestDeng commented on #1990
我也遇到了这个问题。上午的时候可以用，现在突然就不行了。

[2022-04-22 09:18] HonestDeng commented on #1990
!pip install --upgrade paddlenlp 就可以了

[2022-04-22 10:27] joey12300 commented on #1994
@zouhan6806504 你好。BERT的NSP任务是判断两个句子是不是同一篇文章的。预训练预处理的时候是把若干文章拆分成若干个句子，把来自同一篇文章的句子对标记为1，不同则标记为0，是自动化标记label的。

[2022-04-22 16:15] ZeyuChen commented on #1982
@AI-Mart 欢迎给我们贡献一个 :)

[2022-04-23 16:49] ZeyuChen commented on #1990
Issues solved by upgrade paddlenlp.

[2022-04-23 16:49] #1990 closed, assigned to nobody

[2022-04-23 16:50] ZeyuChen commented on #222
https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/language_model/bert

[2022-04-23 16:50] #222 closed

[2022-04-24 02:24] w5688414 commented on #1915
@[Nirvana-2021](https://github.com/Nirvana-2021)

下面是我的命令：

[code]
日志输出：
[code]

数据集只用了title：

[code]

[2022-04-24 06:38] AI-Mart commented on #1982
😊尝试下，哈哈

------------------ 原始邮件 ------------------
发件人: Zeyu Chen ***@***.***&gt;
发送时间: 2022年4月23日 00:15
收件人: PaddlePaddle/PaddleNLP ***@***.***&gt;
抄送: AI-Mart ***@***.***&gt;, Mention ***@***.***&gt;
主题: Re: [PaddlePaddle/PaddleNLP]  PaddleNLP/ applications / sentiment_analysis这个案例没有服务化部署的示例吗？ (Issue #1982)

@AI-Mart 欢迎给我们贡献一个 :)

—
Reply to this email directly, view it on GitHub, or unsubscrib

[2022-04-24 10:59] Mnanazi opened #2000 "句子级事件抽取-触发器预测结果"
我自己参照duee1.0中event_schema.json事件模板构建自己的事件模版，例如
{"event_type": "移动-出行", "role_list": [{"role": "主体"}, {"role": "活动名称"}, {"role": "开始时间"}, {"role": "结束时间"}, {"role": "地点"}], "class": "移动"}
{"event_type": "交流-访问", "role_list": [{"role": "访问者"}, {"role": "被访问者"}, {"role": "活动名称"}, {"role": "时间"}, {"role": "地点"}], "class": "交流"}
使用的句子文本是都是长度小于300的短文本，大部分的长度都小于200。**但是**我在构建数据集的时候不是完全按照duee1.0中把事件类型"eve

[2022-04-24 12:45] Mnanazi commented on #2000
又测试一下，当使用原始的duee1.0的evet_schema.json，但是只是要120条数据来训练时，在完成触发器模型的训练后，直接使用一样的数据集来做触发器预测，发现得到的输出预测标签全部为”O“标签，无触发词标签。
**请问，这是不是说明导致触发器预测全为”O“是由于训练数据集太小导致的？**
如果该问题是仅有训练集太小导致的，**那么使用deuu1.0模型至少多少条数据？**
 **另外，按照我上面说的构建数据集的方式是否可行？** 即当有事件"交流-表态",我使用了 "表示" 作为触发词，而不单单使用”表态“一词作为该事件的触发词？Ernie模型能通过训练数据学习到”表示“和”表态“的语义相近吗？从而将”表示“也作为事件”交流-表态“的触发词。
**如能答复，万分感谢**

[2022-04-25 02:40] tianxin1860 commented on #2000
请问训练、预测分别使用的哪个脚本？

[2022-04-25 02:46] loahi opened #2002 "knowledge_mining of nptag has a "list index out of range" error"
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：
PaddlePaddle 2.2.2, compiled with
    with_avx: ON
    with_gpu: OFF
    with_mkl: ON
    with_mkldnn: ON
    with_python: ON
PaddleNLP 2.2.6

2）系统环境：
Linux jupyter-306844-3858354 4.4.0-166-generic #195-Ubuntu SMP Tue Oct 1 09:35:25 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Python 3.7.4

- 复现信息：如为报错，请给出复现环境、复现步骤
- 执行内容

[code]
- 错误信息

[code]

- 报错原因
 第766行 label

[2022-04-25 03:22] Mnanazi commented on #2000
我是把sequence_label.py中的parse参数按照sh脚本的参数设置，直接分为了trigger_train.py 和 trigger_predict.py，然后执行的。
因为我一开始在colab上按照sequence_label.sh分别执行trigger训练和预测时出错了。但是没解决这个问题。之后就直接把parse参数写到对应的py文件中了。
我今天上午安装这个方法，将duee1.0完整的数据集执行了trigger的训练和预测，查看预测文件，发现预测的很正确。
我认为我提问的问题应该是训练集太小导致的，只有120条样本。

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年04月25日 10:40 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题

[2022-04-25 03:45] tianxin1860 commented on #2000
可以给一下项目链接地址。

[2022-04-25 06:50] you567 opened #2004 "ernie-csc训练"
您好，

-  #在尝试运行开源代码复现结果后，在仅用sighan2013、sighan2014、sighan2015数据集上训练20epoch的score如下图所示，f1结果最高的是sighan2015,和官方复现的结果不一致，且结果相差比较大，这个正常吗？官方的训练结果是连同Automatic Corpus Generation生成的中文纠错数据集一起训练的吗？需要训练多少epoch才能达到官方的结果啊？
![2OD(T}CZ6D}L}%Q 6VB`$@D](https://user-images.githubusercontent.com/35205404/165035179-440ad06f-6159-403e-9991-0a3db14c77de.png)

[2022-04-25 07:39] joey12300 commented on #2004
@you567 您好。示例中的结果是与基于Automatic Corpus Generation生成的中文纠错数据集和Sighan数据集一起训练的。因为Automatic Corpus Generation的数据集比较大，模型训练会更充分，效果会更好。至于训练的超参，可参考该示例：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/text_correction/ernie-csc#%E5%A4%9A%E5%8D%A1%E8%AE%AD%E7%BB%83

[2022-04-25 07:49] Mnanazi commented on #2000
链接：https://pan.baidu.com/s/1KC-d2ARcNQqq3ZVqBKIPsg?pwd=xiao
提取码：xiao
--来自百度网盘超级会员V3的分享

[2022-04-25 07:49] Mnanazi commented on #2000
只会这种低级操作

[2022-04-25 07:50] Mnanazi commented on #2000
我把模型参数删除了，它占了1个多g。我本地使用的paddle2.2

[2022-04-25 07:50] Mnanazi commented on #2000
我本地使用的paddle2.2

[2022-04-25 07:56] Mnanazi commented on #2000
要不要我在colab上的项目，里面是一样的内容？不过要链接到我自己的谷歌云，分享后可能不能正常使用了

[2022-04-25 08:06] tianxin1860 commented on #2000
运行的原始项目地址是什么？比如说 AISudio 的哪个项目吗？

[2022-04-25 08:10] Mnanazi commented on #2000
duee1.0。我就只是把用shell脚本运行传参从而执行sequence_labeling.py改了下，因为本地执行时shell传参出错了，我就把对应的过程分成了四个py文件

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年04月25日 16:06 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/PaddleNLP] 句子级事件抽取-触发器预测结果 (Issue #2000) |

运行的原始项目地址是什么？比如说 AISudio 的哪个项目吗？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receivin

[2022-04-25 08:11] Mnanazi commented on #2000
![image](https://user-images.githubusercontent.com/75676487/165047476-7245058d-6e52-4b2a-83e6-749c030a0d1c.png)

[2022-04-25 09:28] MingQuanXu123 commented on #1920
但是背景介绍中说道：Pair-wise 匹配模型适合将文本对相似度作为特征之一输入到上层排序模块进行排序的应用场景。第三列应该是文本相似度，如果设置为0，可以理解为并没有利用到文本相似度这一特征吗？

[2022-04-25 09:31] Mnanazi commented on #2000
我像重点问下，当有事件"交流-表态",我使用了 "表示" 作为触发词，而不单单使用”表态“一词作为该事件的触发词，按照这样的方式来构建事件数据集可行吗？即使用语义相近的词语作为触发词。

[2022-04-26 01:16] ZTurboX opened #2009 "lac分词器"
paddlepaddle==2.2.2, lac==2.1.2
把lac分词器封装成web服务，启动6个worker,内存一直增长，占用很高，是不是存在内存泄漏？

[2022-04-26 03:38] zouhan6806504 commented on #1994
所以问题就在这里，我的预训练语料不是来源于文章，就只是一句一句100字左右的文本。或者bert能自动将这些语句拆分成几十个字一句话的组合，但这样会不会影响bert预训练的效果？我将一句话当作一篇文章，按照这样的格式使用paddlenlp提供的examples/language_model/pretraining_data_prepare/main.py，examples/language_model/bert/create_pretraining_data.py生成训练数据，但是最后的效果没有使用原来的bert在下游任务表现好，我觉得是NSP任务没充分训练的结果。所以我想了解如果是这种不成文章的预训练材料，有没有更好的基于bert的训练方法

[2022-04-26 05:22] you567 commented on #2004
奥奥，好的，多谢！

[2022-04-26 08:04] FrostML commented on #1983
`beam_search_v2` 在产业界翻译中用的挺多的。在 beam size 还是设置一样的情况下，搜索的空间也确实变大了。
不过我理解没有在任意场景下都最优的算法，合适的算法是最好的。

[2022-04-26 08:05] #1951 closed, assigned to FrostML

[2022-04-26 08:10] you567 commented on #2004
您好，我现在加入数据集之后，经常报显存不足，我已经把batchsize调小到8，显卡是RTX2080Ti ，11GB的专用GPU内存，训练时间有点长，担心爆显存。我在飞浆的APi种看到 如下的显存优化策略，这个有没有使用的实例啊？

#一旦不再使用即释放内存垃圾，=1.0 垃圾占用内存大小达到10G时，释放内存垃圾
export FLAGS_eager_delete_tensor_gb=0.0
#启用快速垃圾回收策略，不等待cuda kernel 结束，直接释放显存
export FLAGS_fast_eager_deletion_mode=1
#该环境变量设置只占用0%的显存
export FLAGS_fraction_of_gpu_memory_to_use=0

[2022-04-27 02:35] tianxin1860 commented on #1970
候选开源数据:
1. 金融领域: https://github.com/smoothnlp/FinancialDatasets
2. 房地产行业对话主题分析: https://aistudio.baidu.com/aistudio/competition/detail/162/0/leaderboard

[2022-04-27 02:49] wjddd opened #2022 "ErnieGramTokenizer可以添加自定义词典吗？"
欢迎您反馈PaddleNLP使用问题，非常感谢您对PaddleNLP的贡献！
在留下您的问题时，辛苦您同步提供如下信息：
- 版本、环境信息
1）PaddleNLP和PaddlePaddle版本：请提供您的PaddleNLP和PaddlePaddle版本号，例如PaddleNLP 2.0.4，PaddlePaddle2.1.1
2）系统环境：请您描述系统类型，例如Linux/Windows/MacOS/，python版本
- 复现信息：如为报错，请给出复现环境、复现步骤

[2022-04-27 03:37] linjieccc commented on #2002
感谢反馈！已PR修复：https://github.com/PaddlePaddle/PaddleNLP/pull/2023

[2022-04-27 11:56] ralgond opened #2028 "PaddleNLP/applications/neural_search/recall/simcse 是否支持有监督训练？"
谢谢

[2022-04-27 14:51] #2028 closed, assigned to nobody

[2022-04-28 02:34] LemonNoel commented on #2009
LAC的问题建议到相应的repo下提issue哈。

另外，PaddleNLP的[Taskflow](https://github.com/PaddlePaddle/PaddleNLP/blob/develop/docs/model_zoo/taskflow.md)也有分词的功能，可以尝试一下～
![截屏2022-04-28 上午10 31 51](https://user-images.githubusercontent.com/25607475/165664901-887dcecc-6ca7-4c1b-bfa8-2a9992e67a2d.png)

[2022-04-29 03:19] jackychancjcjcj opened #2029 "import error"
运行问答系统代码出现问题，macos系统 python3.7
运行代码
python -u -m paddle.distributed.launch \
	train.py \
	--device cpu \
	--save_dir ./checkpoints/ \
	--batch_size 64 \
	--learning_rate 5E-5 \
	--epochs 3 \
	--save_steps 50 \
	--eval_steps 50 \
	--max_seq_length 64 \
	--dropout 0.2 \
	--dup_rate 0.1 \
	--rdrop_coef 0.1 \
	--output_emb_size 256 \
	--train_set_file "./data/train.csv"

问题：
from six.moves import coll

[2022-04-29 03:25] JizxGit opened #2030 "AutoModel预测阶段必须使用model.eval才能保证同一输入有同一结果，与huggingface不一致，体验不好"
AutoModel预测阶段必须使用model.eval才能保证同一输入有同一结果，与huggingface不一致，体验不好

1）Paddle  2.2.1；PaddleNLP 2.2.3；
2）系统环境：Linux，python3.6.2
3）问题代码：
[code]

[2022-04-29 06:46] wawltor commented on #2029
建议升级一下six   `pip install six --upgrade`

[2022-04-29 06:50] wawltor commented on #2022
您好，目前ErnieGramTokenizer是不能自定义词典的，因为在预训练时词典已经固定的，同时在词典中没有留无用占位给新增的Token，随便改变词典会影响效果；想问一下，自定义词典目的是什么了？

[2022-04-29 06:59] guoshengCS opened #2031 "PaddleNLP v2.3rc Release Note Candidate"
# New Features

## ERNIE 3.0

- 新增百度自研预训练模型 ERNIE 3.0
- CLUE benchmark

## UIE

- 新增百度自研基于统一结构生成的通用信息抽取模型 UIE

## PLATO-XL

- 新增百度自研百亿参数对话模型 PLATO-XL
- 高性能预测

## 领域预训练模型

新增医疗领域预训练模型 ERNIE-Health

## 更多预训练模型

- 新增 300+ 模型权重
- 新增 FNet 模型 [#1499](https://github.com/PaddlePaddle/PaddleNLP/pull/1499)，感谢 [@HJHGJGHHG](https://github.com/HJHGJGHHG) 的贡献
- 新增 ProphetNet 模型 [#1698](https://github.com/Paddle